[2019-02-02 18:09] yaronha opened #849 "[BUG] fail to concat categorical columns"
**Describe the bug**
When trying to to concat (`cudf.concat()`) two dataframes with a categorical column which dont overlap cudf fails. the same scenario works with pandas.

**Steps/Code to reproduce bug**
see example code:
[code]
[code]

**Expected behavior**
the two dataframes should be merged and the categorical column should be extended to include the new values for the 2nd dataframe.

**Envir

[2019-02-03 11:41] miguelangel opened #852 "[BUG] cuDF version shown as 0+unknown"
**Describe the bug**
Hi,

Once downloaded the RAPIDS container from NGC and executing a _conda list_ command, the cuDF version is displayed as:

0+unknown

Same result if you execute the following line in Python:

Hope it helps

**Steps/Code to reproduce bug**
docker pull nvcr.io/nvidia/rapidsai/rapidsai:cuda9.2-runtime-ubuntu18.04

docker run --runtime=nvidia --rm -it -v ~/rapids/data:/rapids/dat

[2019-02-04 02:32] RAMitchell opened #853 "[BUG] Nondeterministic output labels"
**Describe the bug**
After running the mortgage ETL demo, I took a slice of the results and checked the ratio of positive to negative examples and noticed that this was changing from run to run.

**Steps/Code to reproduce bug**
I have tried to minimise the mortgage etl example here:
[code]
**Expected behavior**
I would expect the same output for each run.

**Environment details (please complete th

[2019-02-04 02:52] RAMitchell commented on #853
Have verified this behaviour still occurs using the newer docker image "cuda10.0-runtime-ubuntu16.04".

[2019-02-04 13:49] beckernick commented on #845
This could be a good first issue. `tail` methods could be defined analogously to the `head` methods as `Series` and `DataFrames` are iterable:

[code]

[2019-02-04 16:05] cmgreen210 opened #854 "[FEA] Add cudf version of `numpy.digitize`"
**Is your feature request related to a problem? Please describe.**
A common preprocessing step for deep learning algorithms is to discretize continuous-valued
features by first finding the feature's distribution quantile bins and then assigning a bin id for each of
the feature values. We already have [quantile](https://github.com/rapidsai/cudf/blob/4c5044bc199eb4881479fb84bffddff11deac90a/python/c

[2019-02-04 16:58] thomcom commented on #832
Done

[2019-02-04 17:36] #568 closed

[2019-02-04 17:38] beckernick opened #856 "[BUG] Negative slicing of empty dataframe with columns creates non-empty index"
**Describe the bug**
Negative-index based slicing of a dataframe with columns results in an empty dataframe, but a non-empty dataframe index.

If there are no columns, negative-index slicing does not create a non-empty index.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The expected behavior is that negative index slicing of empty dataframes results in an empty index, regardless

[2019-02-04 17:51] #653 closed

[2019-02-04 21:01] mrocklin opened #859 "[FEA] SciPy 2019 tutorial"
Do we want to submit a proposal to give a tutorial at the SciPy 2019?

This would provide a recorded tutorial that would be useful to onboard new users in the future.

https://www.scipy2019.scipy.org/tutorials

Proposal deadline is 2019-02-15, a little over a week from now

[2019-02-04 21:06] yidong-nvidia opened #860 "[BUG]prefixsum floating array is not correct"
To reproduce it
[code]
It works for the integer array but not the floating array.

[2019-02-04 22:17] #748 closed

[2019-02-04 23:01] mrocklin commented on #832
Thanks @thomcom !

[2019-02-04 23:01] #832 closed

[2019-02-04 23:46] #695 closed

[2019-02-05 01:06] #701 closed

[2019-02-05 03:45] #774 closed

[2019-02-05 05:05] kkraus14 commented on #392
Resolved by #782.

[2019-02-05 05:05] #392 closed

[2019-02-05 05:06] kkraus14 commented on #118
Resolved by #668

[2019-02-05 05:06] #118 closed

[2019-02-05 05:06] kkraus14 commented on #97
@randerzander what is the status on this?

[2019-02-05 05:12] kkraus14 commented on #184
Fixed by #539

[2019-02-05 05:12] #184 closed

[2019-02-05 05:24] #220 closed, assigned to nobody

[2019-02-05 05:31] #368 closed

[2019-02-05 05:37] kkraus14 commented on #485
@Iroy30 is this resolved?

[2019-02-05 05:38] kkraus14 commented on #488
Fixed by #478

[2019-02-05 05:38] #488 closed

[2019-02-05 05:41] kkraus14 commented on #519
This is an issue with screen, it wipes `LD_LIBRARY_PATH` but can be worked around using `.screenrc` or something similar. Given this and the movement to https://github.com/rapidsai/dask-cuda I'm going to close this issue.

[2019-02-05 05:41] #519 closed

[2019-02-05 05:43] kkraus14 commented on #529
Being tackled in #822

[2019-02-05 05:57] kkraus14 commented on #738
In general we print a blank spot for nulls, since it's a different thing than a NaN. We could update the blankspace to something else but that's another discussion as opposed to this issue.

[2019-02-05 05:57] #738 closed

[2019-02-05 06:00] kkraus14 commented on #687
@randerzander is this still an issue or is this resolved?

[2019-02-05 06:01] kkraus14 commented on #661
0.5 is released (with a 0.5.1 hotfix following shortly) with Python 3.7 support.

[2019-02-05 06:01] #661 closed

[2019-02-05 06:01] kkraus14 commented on #660
Resolved by #684

[2019-02-05 06:01] #660 closed

[2019-02-05 06:02] kkraus14 commented on #631
Resolved by #547

[2019-02-05 06:02] #631 closed

[2019-02-05 06:03] kkraus14 commented on #588
This is not an issue and is set properly in CMake

[2019-02-05 06:03] #588 closed

[2019-02-05 06:04] kkraus14 commented on #586
Resolved by #612

[2019-02-05 06:04] #586 closed

[2019-02-05 06:05] kkraus14 commented on #541
Resolved by #539

[2019-02-05 06:05] #541 closed

[2019-02-05 07:09] miguelangel commented on #852
Hi @mike-wendt,

Thank you for your answer.

I understand.  Just trying to highlight a potential bug. I can definitely wait a few weeks/months for a fix.

I just noticed it when trying to double check that I had installed the correct version, which IMHO is very reasonable.

Thanks again for your support.

Regards,
Miguel

[2019-02-05 07:14] miguelangel commented on #852
Btw, the following issue is similar:

https://github.com/rapidsai/cuml/issues/180

In case you would like to link to this one.

Regards,
Miguel

[2019-02-05 15:04] jrhemstad commented on #860
@yidong-nvidia can you include the results from your reproducer?

[2019-02-05 15:37] jrhemstad commented on #591
This was related to very old code in the join implementation and no longer relevant.

[2019-02-05 15:37] #591 closed

[2019-02-05 15:45] jrhemstad commented on #533
Now that https://github.com/rapidsai/cudf/pull/753 is merged, could @thomcom  or @mrocklin verify that this is no longer an issue?

[2019-02-05 15:47] yidong-nvidia commented on #860
I am running in under python3.6 and cudf5.0. This is what I have in a Ubuntu VDI machine at NVIDIA.
[code]

[2019-02-05 16:06] jrhemstad opened #862 "[FEA] Update Cython bindings to catch C++ exceptions"
**Is your feature request related to a problem? Please describe.**

The Cython bindings for libcudf should be updated to catch C++ exceptions and convert them to relevant Python exceptions where appropriate.

**Describe the solution you'd like**
Looking at the [Cython documentation](http://docs.cython.org/en/latest/src/userguide/wrapping_CPlusPlus.html#exceptions), it is straightforward to modify

[2019-02-05 16:35] mjsamoht commented on #725
Fixed by #815

[2019-02-05 16:35] #725 closed

[2019-02-05 16:37] mjsamoht commented on #614
Fixed by #760

[2019-02-05 16:37] #614 closed

[2019-02-05 18:19] thomcom commented on #533
Yup! Verified that this is fixed in `branch-0.6`. cudf is still slower than pandas for the small dataframe groupbys, because of the setup and teardown cost of kernels etc I expect.

In the previously most difficult case, when cudf took 34s to group 10m rows into 2 groups and Pandas took 233ms, cudf under branch-0.6 now takes 41ms. 👍

[2019-02-05 18:19] #533 closed

[2019-02-05 19:11] randerzander opened #863 "[BUG] cudf.DataFrame.from_arrow doesn't handle PyArrow tables with an index"
Thanks @trstovall for the issue report.

In cuDF 0.5 release (and tip of branch-0.6), creating a DataFrame with a PyArrow table with an index throws a TypeError.

Repro:
[code]

Result:
[code]

[2019-02-05 19:20] mt-jones commented on #863
This bug is known. Note that in the E2E notebook, we've specified that the index should not be preserved in `last_mile_cleaning`. Is there a reason we need to preserve the index?

[code]

[2019-02-05 20:45] miguelangel opened #864 "[BUG] Errors when loading CSV file"
**Describe the bug**
Hi,

I try to import a csv file of 80 GBs (using cudf.read_csv) and I am getting the following memory error message (on DGX1).
---------------------------------------------------------------------------
GDFError                                  Traceback (most recent call last)
<ipython-input-7-50489d67c1fb> in <module>
      1 #df = pd.read_csv('/raid/data/FraudTC/train/joinI

[2019-02-05 20:55] miguelangel opened #865 "[BUG] Error when creating a cudf.DataFrame by using from_pandas() method"
**Describe the bug**
Hi,

I am trying to read a csv file usign cudf.read_csv() method, but a few errors have raised.

See https://github.com/rapidsai/cudf/issues/864

As a workaround, I have tried to load the csv with pandas, and creating a DF by invoking from_pandas(), but the following error arises:

Going from Pandas to Cudf I get the following error.

ERROR:Call to cuMemcpyHtoD results in CUDA

[2019-02-05 21:52] raydouglass commented on #839
Since you are using CUDA 10, please only use `pip install cudf-cuda100`. Please make sure your pip is referring to a python 3.6 or 3.7 dist-package (check with `pip -V`).

If you're verified that and still having an issue, can you please provide the full output from a clean install attempt using the following: `pip install -vvv cudf-cuda100`

[2019-02-05 22:31] miguelangel commented on #864
OOM. Will try with dask_cudf.

[2019-02-05 22:31] #864 closed

[2019-02-05 22:32] felipeblazing opened #868 "[BUG] GROUPBY_TEST has invalid global reads when run using cuda-memcheck"
**Describe the bug**
If you run the unit test GROUPBY_TEST in cpp/gtest while using cuda-memcheck you get errors when that I believe occur when probing the map. Not sure exactly yet I see this:
[code]

**Steps/Code to reproduce bug**
simply run
cuda-memcheck gtests/GROUPBY_TEST from cudf/cpp

**Expected behavior**
I expect it not to through invalid read errors when running even though it seems to

[2019-02-05 22:32] miguelangel commented on #865
OOM. Will try with dask_cudf.

[2019-02-05 22:32] #865 closed

[2019-02-05 22:38] jrhemstad commented on #868
Yeah, this is a problem that results from `gdf_valid_type` being a 1 byte type. I'm guessing it's happening in the `gdf_table::gather` call when gathering the bitmasks.

If you do a debug build `cmake -DCMAKE_BUILD_TYPE=Debug ..` and run through cuda-memcheck it should preserve symbols and say exactly where the problem is happening.

[2019-02-05 23:06] randerzander commented on #687
Yes, still an issue, although the thrown error has changed. I updated the description to match.

[2019-02-05 23:58] jrhemstad commented on #868
Hm, can't reproduce with a Debug build. Even adding `-G` makes it such that I can reproduce.

However, I can confirm that a release build does throw several warnings/errors when `GROUPBY_TEST` is run via `cuda-memcheck`.

[2019-02-06 00:06] jrhemstad commented on #868
I also seem to be getting a different memory error:

[code]

[2019-02-06 01:04] henningpeters commented on #839
It worked with the latest package and a fresh install:

[code]

I also verified with latest pip, running it in a virtualenv and tested it with a mean calc sample.

[2019-02-06 01:08] kkraus14 commented on #839
This was likely a numpy ABI related issue which the 0.5.1 hotfix resolved, thanks for the followup @henningpeters!

[2019-02-06 01:08] #839 closed

[2019-02-06 01:10] kkraus14 commented on #863
This bug was not known and is because of my recent work related to handling arrow tables. This is likely a quick and easy fix and we're just missing a typecheck somewhere.

[2019-02-06 01:14] henningpeters opened #869 "[BUG] cudf package not compatible with cuda 10 setup"
**Describe the bug**
Installing and importing the `cudf` package on a CUDA 10 system results in following error:

[code]

It's not clear to the user that the cudf package is tied to a specific CUDA version. The docs btw don't list the cudf package, but only cudf-cuda** packages.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Just an import

**Environment details (please complete th

[2019-02-06 01:17] kkraus14 commented on #869
You need to use `pip install cudf-cuda100`

[2019-02-06 01:22] kkraus14 commented on #869
Due to the nature of the compiled code underneath it's both difficult and troublesome to create a single install for multiple CUDA versions.

[2019-02-06 01:30] kkraus14 opened #870 "[FEA] Gracefully detect and except when using incorrect CUDA version"
If a user does a `pip install cudf` it currently isn't compatible with CUDA 10. We should more gracefully detect and throw a friendlier exception when this happens to guide a user in the correct direction.

[2019-02-06 01:31] kkraus14 commented on #869
Agreed. I've created a feature request issue for this: https://github.com/rapidsai/cudf/issues/870. Did using `pip install cudf-cuda100` work for you?

[2019-02-06 02:06] henningpeters commented on #869
Yep, see #839

[2019-02-06 03:44] kenhester opened #873 "cudf read_csv is replace rows of data with None or nulls"
**Describe the bug**
cudf read_csv is replace rows of data with None or nulls.  Furthermore, there are other rows that are missing.  Pandas reading the file that has 28M rows but cudf reads 14M.

**Steps/Code to reproduce bug**
import pandas as pd
import nvstrings, cudf

file = 'test1.csv'
dfp = pd.read_csv(file, encoding="ISO-8859-1", error_bad_lines=False)

names = ["ID","Str1","Str2","Str3","St

[2019-02-06 04:18] felipeblazing opened #3097 "Coupling of Dictionary with Data causes issues for usage"
In many cases users are going to things like sort, filter group on indices from NVCategory  without wanting to modify the dictionary itself. Because NVCategory contains both then it makes it difficult to do something like reordering a column without having to reconstitute a new NVCategory. Is there a way that we can separate the two? This way you could filter a column and you only have to generate

[2019-02-06 04:31] beckernick opened #874 "[BUG] iloc slicing errors with columns of type bool"
**Describe the bug**
`DataFrame.iloc` and `Series.iloc` slicing errors when the column is of type `bool`.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect iloc slicing to return the rows in the range `0:2`.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: Docker dev setup

[2019-02-06 04:33] kkraus14 commented on #869
Awesome, going to close this issue as I've created https://github.com/rapidsai/cudf/issues/870 to track better raising an error for this situation.

[2019-02-06 04:33] #869 closed

[2019-02-06 07:36] kkraus14 commented on #529
Resolved by #822.

[2019-02-06 07:36] #529 closed

[2019-02-06 16:55] #863 closed

[2019-02-06 17:28] thomcom commented on #824
Agree! We'll work on it.

[2019-02-06 17:40] mrocklin opened #879 "[FEA] Add Series.groupby"
Ideally series objects would support the groupby syntax, like with Pandas

[code]

One simple implementation for this might be to convert these to dataframes, do the groupby there, and then convert back.

To be honest though, my main driving need for this is just to fool Dask dataframe, which checks for a groupby attribute to see if an object is series like

[code]

So for my immediate need even t

[2019-02-06 17:41] mrocklin commented on #879
cc @thomcom

[2019-02-06 17:41] kenhester commented on #873
[env.txt](https://github.com/rapidsai/cudf/files/2837559/env.txt)

[2019-02-06 17:48] mrocklin opened #880 "[FEA] Support Dataframe/Series groupby level=0"
It would be useful for dask dataframe integration in dataframe groupbys supported the `level=` keyword, at least with `level=0`, which signifies that we should be grouping on the index, as in the following Pandas example.

[code]

cc @thomcom @kkraus14

[2019-02-06 19:29] karthikeyann opened #881 "Dockerfile has no cleaning commands [BUG]"
**Describe the bug**
The Dockerfile contains build commands but no corresponding clean commands.

**Steps/Code to reproduce bug**
Each layer size is bigger than its intended size due to storage space taken by temporary files.

**Expected behavior**
dockerfile best practices suggest to clean the temporary files after build/install in same RUN command. https://docs.docker.com/develop/develop-images/

[2019-02-06 19:31] raydouglass commented on #840
Done

[2019-02-06 19:31] #840 closed

[2019-02-06 19:39] randerzander opened #882 "[FEA] Improve cudf.Index to enable dask_cudf to perform repartition operations"
As a data engineer, I work with files of disparate and inconvenient sizes. Dask and cuDF need partitions of varying sizes depending on workflow. Today I can use Dask.Distributed to repartition host-side, but ideally I could do it on GPU, especially after performing filtering, resampling, etc.

@mrocklin listed 3 necessary improvements to cuDF's indexing [here](https://github.com/rapidsai/dask-cudf

[2019-02-06 19:44] randerzander opened #883 "[FEA] Add DataFrame.from_gpu_matrix support"
As a numba user, I write kernels that produce ndarrays on GPU. I'd like to use a DataFrame.from_gpu_matrix function to easily take these kernel results into a DataFrame.

To get device ndarrays into DataFrames today, I need to split the ndarray up into 1D arrays, wrap them in cudf.Series and then add to a DataFrame. The process of allocating those device arrays and then wrapping is error prone and

[2019-02-06 20:01] mrocklin commented on #882
Note that at least for the CSV case we can probably also improve the situation by implementing a blocked `dask_cudf.read_csv` as proposed in https://github.com/rapidsai/dask-cudf/issues/71

[2019-02-06 20:12] lxkarthi opened #884 "delim_whitespace=True argument is not ignoring continuous whitespaces. [BUG]"
**Describe the bug**
- delim_whitespace=True argument is accepted but not implemented. It should ignore continuous whitespaces. cudf.read_csv() is treating each space as separate delimiter.
- Also, read_csv() should not accept both delimiter and delim_whitespace parameter at same time.
`ValueError: Specified a delimiter with both sep and delim_whitespace=True; you can only specify one.`
is an erro

[2019-02-06 21:15] sidgan opened #886 "[DOC] Installation command is incorrect."
## Report incorrect documentation

**Location of incorrect documentation**
Provide links and line numbers if applicable.
The website: https://rapids.ai/start.html states the install command as `python3.6 -m pip install cudf-cuda100=0.5 cuml-cuda100=0.5`.

**Describe the problems or issues found in the documentation**
A clear and concise description of what you found to be incorrect.
Pip installing

[2019-02-06 23:54] #716 closed

[2019-02-07 01:57] seunghwak opened #2249 "README.md outdated"
**I.**
**Following the instruction**

1. Install dependencies into a new conda environment

conda create -n dask-cudf \
   -c rapidsai -c numba -c conda-forge -c defaults \
   cudf dask cudatoolkit

**produces the following error.**

Collecting package metadata: done
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - cudf -> lib

[2019-02-07 14:22] eyalroz opened #891 "[BUG] CHANGELOG.md should not be based on yet-to-exist PR's"
If you fix some issue or add some feature to cudf, and you create a PR for your changes - the **PR is guaranteed to be auto-rejected**. Why? Well, you need to add a `CHANGELOG.md` entry describing your changes; and these entries need to mention the PR's which introduces the change.

This is a Catch-22 situation - almost; we get around it by updating the committed code with a change to the `CHANGLO

[2019-02-07 14:26] jrhemstad commented on #891
I see this as a feature, not a bug. It forces you to make sure you've updated the CHANGELOG.md before your PR can be accepted.

But it seems that your concern is about you can't update the CHANGELOG correctly until you've already submitted the PR (because you don't know what the PR# is).

Personally, I never remember to update the CHANGELOG until I see that CI has failed on my PR anyways, so I don

[2019-02-07 16:32] eyalroz commented on #891
If it is impossible to submit a valid PR until an invalid PR has been rejected - that's a bug... I realize it might not bother some people that much, or at all, but this shouldn't be the case. Changelogs should avoid reference to development support system artifacts anyway, unless absolutely necessary. IMHO.

[2019-02-07 19:38] #828 closed

[2019-02-07 19:44] thomcom opened #894 "[BUG] Groupby does not automatically promote type"
**Describe the bug**
When using groupby numerical aggregation functions such as `mean`, the column type is not automatically promoted.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The column type should promote to retain precision.

**Environment details (please complete the following information):**
<details>

[code]

</details>

[2019-02-07 19:48] kkraus14 commented on #894
So the interesting thing here is the type is promoted based on the results. If the result is an integer it's returned as an int64, if it's not it's returned as a float64:

[code]

[2019-02-07 20:16] #708 closed

[2019-02-07 20:16] #712 closed

[2019-02-07 20:33] thomcom commented on #894
I am looking into this (surprise), and it looks to be a multi-person effort. We allocate our return buffer before the groupby has been calculated, and so have no way of knowing whether or not it should be `int` or `float`. It looks like `libgdf.gdf_group_by_avg` also does not promote. If I allocate a `float` column to store results, I get back integer truncated values from libgdf.

[2019-02-07 20:38] thomcom commented on #894
I can produce a partial fix with my next commit - if `mean` is the agg type, I'll promote the column to float even if it doesn't match. It won't match Pandas API exactly, but it will be numerically accurate.

[2019-02-07 21:14] kkraus14 opened #896 "[BUG] columnops.as_column can create incorrectly sized columns from arrow arrays"
Unsure of exactly what situations cause it, but PyArrow arrays can have buffers that extend before / after the array so we need to use the `offset` and `length` attributes of the PyArrow arrays to ensure we're getting the correct data from the data buffer.

Being fixed as part of #893.

[2019-02-07 21:20] kkraus14 opened #897 "[BUG] test_csv_reader_nrows takes a LONG time to run and causes CI timeouts"
Seems to only be happening in PR #877 which had a minimal code change that shouldn't affect anything related to the CSV reader.

[2019-02-07 21:26] #798 closed

[2019-02-07 21:45] jrhemstad commented on #894
The groupby implementation uses whatever type is specified in the output column as the type used for accumulations.

[2019-02-07 21:55] harrism commented on #891
I don't see it as a bug. The feature is working as designed -- 30-60 seconds of developer time for each PR prevents our incredibly busy devops team from having to comb through PRs on release day to update the CHANGELOG. I don't think it hurts anyone to have a briefly invalid PR.

[2019-02-07 22:06] harrism commented on #891
I'm going to close this. I think it's useful to have references to the actual changes in the changelog.

[2019-02-07 22:06] #891 closed

[2019-02-07 22:31] #879 closed

[2019-02-07 23:32] kkraus14 commented on #897
This was actually caused by np.ndim against a Column / Series object which isn't supported.

[2019-02-07 23:32] #897 closed

[2019-02-08 00:11] kkraus14 commented on #628
This is a tough situation, because Arrow has explicitly stated they're going to error on mixed dtype situations like these, but we'd ideally want to support it. I'll look into falling back to a numpy array when it excepts on creating an Arrow array for situations like these.

[2019-02-08 01:55] #687 closed

[2019-02-08 05:07] randerzander opened #899 "[BUG] cudf.DataFrame.to_arrow consuming a large amount of host memory"
Converting a relatively small dataframe (80MB) consumes so much host memory that it causes Python to generate repeated GC warnings.

[code]
Result:
[code]

[2019-02-08 15:24] jrhemstad opened #3098 "[BUG] NVCategory and NVStrings needs a validity bitmask"
Based on https://github.com/rapidsai/nvstrings/issues/22 it seems that `NVCategory` uses a sentinel value of `-1` to represent null values. This is incompatible with `libcudf`.

All of the logic in `libcudf` is built such that null values in a column are represented via an associated `valid` bitmask where bit `i` indicates the validity of element `i` in the column.

If bit `i` is 0, the value is n

[2019-02-08 15:43] #709 closed

[2019-02-08 15:49] kkraus14 commented on #880
Fixed by #898

[2019-02-08 15:51] kkraus14 commented on #899
@randerzander does this happen outside of Dask? I'd guess this is more likely due to serialization related code in Dask than anything cuDF related as the `to_arrow` code is all just straight memory copies from device to host.

[2019-02-08 17:26] mrocklin opened #900 "[FEA] Implement division on DataFrame objects"
[code]

[code]

I believe that there is already another issue for this, but I thought I'd repost this particular operation in case it's easier to implement quickly.   This is useful for groupby aggregations with dask dataframe.

[2019-02-08 17:26] mrocklin commented on #900
cc @thomcom @kkraus14

[2019-02-08 17:30] thomcom commented on #900
I'll work on this this morning.

[2019-02-08 17:47] mrocklin opened #901 "[FEA] Support callables in groupby.agg"
Do we intend to support user-defined callables in groupby aggregations?

[code]

[code]

For dask dataframe groupby aggregations I'm particularly interested in the following callable

[code]

It doesn't need to be fast, the dataframe on which this is run is often quite small.

[2019-02-08 17:48] mrocklin commented on #901
cc @kkraus14 @thomcom

[2019-02-08 18:36] mrocklin commented on #880
It would also be useful to have this for `Series` objects.  Reopening (or I'm happy to create a new issue)

[2019-02-08 19:30] felipeblazing opened #903 "[BUG] COLUMN_TEST make target fails 6 out of 7 tests"
**Describe the bug**
These are concatenation tests and 6 of the 7 of the ones that are run are failinig.

**Steps/Code to reproduce bug**
cd /your/build/folder
make COLUMN_TEST
gtests/COLUMN_TEST

**Expected behavior**
I expect the tests to pass.

**Environment details (please complete the following information):**
 - Environment location: GCP, multiple local enviromnets
 - Method of cuDF install:

[2019-02-08 19:42] felipeblazing commented on #903
I am looking into this its probably something on my system

[2019-02-08 19:42] #903 closed

[2019-02-08 19:46] jrhemstad opened #904 "[FEA] gpuCI should run tests under cuda-memcheck"
**Is your feature request related to a problem? Please describe.**
Memory errors can occur in unit tests that aren't reported as failed tests.

**Describe the solution you'd like**
In addition to running our tests as they are now, we should also run our Python and C++ unit tests under `cuda-memcheck` and `valgrind` in order to catch any uncaught memory errors.

[2019-02-08 19:52] skmatti opened #905 "[BUG]value_counts return int type on empty columns"
Invoking value_counts on empty column returns int value(0) whereas pandas returns empty Series object.

[code]
Result:
`0`

With pandas:
[code]
Result:
`Series([], Name: x, dtype: int64)`

Environment details:
Python 3.6
cudf 0.5

[2019-02-08 20:04] thomcom commented on #900
Next you're going series division into dataframe, and vice/versa. :D

[2019-02-08 20:08] mrocklin commented on #900
Yes, that's probably true :)

On Fri, Feb 8, 2019 at 12:04 PM H. Thomson Comer <notifications@github.com>
wrote:

[2019-02-08 20:56] thomcom commented on #900
Doing that now. Better get some more coffee.

[2019-02-08 21:11] #383 closed

[2019-02-08 21:19] thomcom opened #907 "[BUG] Divide by zero produces unexpected results"
**Describe the bug**
When a pandas number is divided by zero, its Series is promoted to `float`, and it is set to `NaN`. When we divide by integer 0 by integer 0, we get -9223372036854775808. This is likely to produce extremely spurious results for researchers.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
This is another reason for us to follow suit and promote column dtypes and

[2019-02-08 22:10] randerzander commented on #899
@kkraus14 no, it doesn't. Using cudf.DataFrame.to_arrow directly takes ms, for multi-GB dataframes.

This looks like a Dask serialization problem, as you say. @mrocklin should I move this issue to dask_cudf or dask proper?

[2019-02-08 22:24] mrocklin commented on #899
For context, Dask special cases arrow Tables and RecordBatches here: https://github.com/dask/distributed/blob/master/distributed/protocol/arrow.py

If there are improvements that could be made there then yes, an issue would be welcome.

You might also want to ensure that you're using the most recent arrow release (0.12?).  They may have improved this recently.

[2019-02-09 00:02] mrocklin commented on #882
Concretely we need operations like the following for the various inequalities

    df[df.index >= 5]

[2019-02-09 02:49] j-ieong commented on #873
Update on this issue:

This was discussed and found that issue to be the presence of dangling quotation characters in the file. The CSV reader assumes these are start/end quotation pairs and ignores all the terminations between the them.

The determination of number of rows occurs before the row parsing step, and the detection is done in parallel on the GPU, on data chunks. With the limited visibi

[2019-02-09 04:45] kkraus14 opened #910 "[BUG] gdf_column_concat returns inconsistent results when given a single input column"
Still working to create a minimal reproducer, but seeing this behavior before and after the libcudf call specifically where the input is a single object.

[code]

[2019-02-09 13:49] ericmjl opened #911 "[FEA] Implement `dropna` method."
**Is your feature request related to a problem? Please describe.**
A common use case for pandas users is to drop null rows. In writing pyjanitor, I also wrote helper method that dropped all empty rows and columns, building on top of the `dropna` API.

**Describe the solution you'd like**
I hope to see `dropna()` implemented for cuDF.

**Describe alternatives you've considered**
As this is a reques

[2019-02-10 23:09] harrism opened #912 "[FEA] DLPack Support"
**Is your feature request related to a problem? Please describe.**
Add support for converting cuDF to and from DLPack DLTensors. See https://github.com/dmlc/dlpack

**Describe the solution you'd like**
1. C++ API that takes a `DLTensor` and produces one or more `gdf_column`s.
2. C++ API that creates and returns a `DLTensor` from one or more `gdf_column`s.
3. Python API that takes a `DLTensor` and

[2019-02-11 11:05] miguelangel opened #914 "[BUG] DataFrame.from_records - TypeError: 'NoneType' object is not iterable"
**Describe the bug**
Hi,

I am trying to convert a **<class 'numpy.recarray'>** object to **cuDF.DataFrame,** but the following error is displayed:

[code]
Any idea why?

**Steps/Code to reproduce bug**
Please, have a look at the screenshot attached.
![2019-02-11 10_56_08-jupyterlab](https://user-images.githubusercontent.com/26169771/52559309-48047580-2df5-11e9-8f9a-1cf45afc3e2a.png)

**Expected b

[2019-02-11 16:30] randerzander opened #915 "[BUG] Creating DataFrames or Series with only None/null entries results in 0-length"
Creating a cudf.Series or cudf.DataFrame with a Series of only `None` values results in incorrect row-length

Repro #1:
[code]
Result:
[code]
The above should be a Series of length 3

Repro #2:
[code]
Result:
[code]
The above should be a df with 3 rows.

[2019-02-11 17:16] mike-wendt commented on #841
This is merged

[2019-02-11 17:16] #841 closed

[2019-02-11 17:24] kkraus14 commented on #910
Issue is that underlying array in `category` dtypes on Python side use int32 arrays, while we're passing a `GDF_INT8` dtype to libcudf. Fix coming up.

[2019-02-11 20:56] #896 closed

[2019-02-11 20:56] #910 closed

[2019-02-11 23:45] mjsamoht opened #919 "[BUG] 32-bit hash for GDF_CATEGORY is computed incorrectly"
The bug is in function `convertStrtoHash()` in
https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/io/csv/type_conversion.cuh

The function ignores the input parameter `start_idx` when determining the starting point in the data for computing the hash.  The hash should be computed starting from `key+start_idx` instead of `key`.

[2019-02-12 02:21] #900 closed

[2019-02-12 08:40] miguelangel opened #922 "[FEA] Add 'index_col' parameter to 'read_csv' method."
**Is your feature request related to a problem? Please describe.**
When loading a csv file, the index is created automatically, not allowing me to select the index I would like to use.

As a workaround, I read the file, and the use the DataFrame.set_index() method to create a new DF with the correct index, but it is inefficient in terms of memory consumption.

**Describe the solution you'd like**

[2019-02-12 15:56] Katsdog opened #924 "[DOC] Installation on AWS EC2 instance"
## Report incorrect documentation
The instructions for installing cuDF via pip, conda, docker and from source posted on the RAPIDS AI website/ Github are very good. But the process must be slightly different for installing on an AWS EC2 instance.
Many users will want to take advantage of Amazon EC2 instances in part because of multiple available GPUs.
Its very likely that cuDF's GPU powered datafr

[2019-02-12 19:08] #880 closed

[2019-02-12 19:23] jrhemstad opened #925 "[FEA] External libcudf APIs should expose CUDA streams"
**Is your feature request related to a problem? Please describe.**
In order to maximize efficiency and utilization of the GPU, you need to be able to execute kernels and memory copies on independent streams. However, no libcudf API currently exposes streams to the end user.

**Describe the solution you'd like**
Any API that executes a GPU kernel or allocates/copies memory should provide the end us

[2019-02-12 20:13] thomcom commented on #901
The groupby functions are fixed in CUDA: max, min, sum, count, and mean. The shortest answer here is: square x into another column and `.sum` by that column. I am looking into providing a programmatic solution to do just that.

[2019-02-12 20:33] mrocklin commented on #901
The relevant code in dask/dask is here

https://github.com/dask/dask/blob/5cd3843a71f716731527758fab7a47b5294b66ad/dask/dataframe/groupby.py#L240-L247

If there is an equally clean way to do this in a cudf-friendly way then it
is possibly feasible to push that change upstream to dask and fix it there.

On Tue, Feb 12, 2019 at 12:13 PM H. Thomson Comer <notifications@github.com>
wrote:

[2019-02-12 20:49] #899 closed

[2019-02-12 20:53] harrism commented on #699
Duplicate of #697

[2019-02-12 20:53] #699 closed

[2019-02-12 20:59] harrism commented on #697
To clarify #698 is the issue covering Doxygen configuration. This issue covers completing documentation coverage of libcudf (all APIs documented).

[2019-02-12 21:12] kkraus14 commented on #557
Assigning myself to track and update issue as progress is made.

[2019-02-12 22:32] harrism opened #926 "[FEA] Rolling window support"
This is a FEA issue as a placeholder for rolling window support in libcudf. @nsakharnykh has already started the API design for this feature. #732

[2019-02-12 22:45] #854 closed

[2019-02-12 22:50] Katsdog commented on #924
The issue was identical to #496.

Did this and everything worked:
export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export PATH=/usr/local/cuda-10.0/bin${PATH:+:${PATH}}

[2019-02-12 22:50] #924 closed

[2019-02-12 23:04] quasiben opened #928 "[BUG] Odd behavior with byte_ranges kw in read_csv"
## setup

- cudf.__version__:  '0.6.0.dev0+356.g3079090.dirty'
- bare metal

## data

[code]

cudf, without `byte_range` correctly reads the csv:

[code]

When using `byte_range`, with a size larger than the file, the last row is missing:

[code]

Am I doing something incorrect here? Perhaps, I need to define another kwarg along with `byte_range` ?

In playing around further, I found that adding t

[2019-02-12 23:05] quasiben commented on #928
cc @kkraus14

[2019-02-12 23:23] taureandyernv commented on #924
Ha...i was literally going to send you an update, but you figured it out.  Were you able to get the notebooks working?  That was where i was stuck and why it took me so long to get back to you.

[2019-02-12 23:57] thomcom commented on #901
Is there a reason we can't do

[code]
to achieve the same result @mrocklin ?

[2019-02-13 00:17] Katsdog commented on #924
At first I had a problem with the notebook because everything appeared as if the notebook was running on the EC2 instance but it was running locally. This is even after I set up a tunnel via PUTTY to go to a specific port. The trick was right clicking the top left corner of the linux terminal, going to settings and setting up the tunnel with the local port there. Really appreciate your help!

[2019-02-13 00:39] thomcom commented on #257
Unfortunately we need to have `nvstrings` support to implement this properly @mrocklin. In particular, right now we don't support strings in indexes. Pandas returns a `Series` object with the index set to the column names of the DF, which of course will usually be strings.

[2019-02-13 00:40] mjsamoht commented on #873
We did some more experiments to understand how pandas behaves:

[code]

### Summary of pandas behavior
1. Quotation marks are considered as quotes only if the quotation mark is the first character of a column.
2. If the first character of a column is not a quotation mark, any following quotation marks will be treated like regular characters.
3. Because of item 2) pandas is unable to handle delimit

[2019-02-13 00:59] felipeblazing commented on #925
I woudl argue that we should take it one step further and say that every exposed api should provide the capacity at some point to allow stream to be defined with the most priority ones you mention which do allocation which can block execution , super gross. What other options would you want to pass it? An allocator? (besides stream)

Creating / Destroying
A pattern libraries like thrust follow is

[2019-02-13 01:11] mrocklin commented on #928
cc also @mjsamoht

[2019-02-13 01:28] mrocklin commented on #901
I'm not sure.  Maybe?  If you make that change do tests pass?  If so, great!  :)

[2019-02-13 01:30] jrhemstad commented on #925
Sure, what I really meant is that every API that it makes to have execute on a stream should accept a stream argument. Some functions obviously never need a stream, e.g., https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/include/cudf/functions.h#L72

Maybe a device ID? Device properties? I was thinking of the ModernGPU `context_t` when I suggested the `options` struct. https://github.com/modern

[2019-02-13 02:30] randerzander commented on #873
@kenhester as a sanity check, can you confirm via other means the number of rows in the file? Perhaps use `wc` on the command line to confirm pandas.read_csv is actually returning the correct row-count.

If it is, then I think we'd like to take you up on the offer to privately test with a sample of your data.

[2019-02-13 02:46] #919 closed

[2019-02-13 02:47] AK-ayush commented on #924
Great!! @Katsdog
 I can see that you have resolved your issue.

[2019-02-13 03:09] mjsamoht commented on #873
Create a file with the following content:
[code]
pandas will return two rows, while cudf will return one row.  If you specify `quotechar='\0'` for cudf it will also return two rows (same as pandas).

[2019-02-13 03:41] #884 closed

[2019-02-13 15:26] datametrician opened #930 "[DOC] Update pip "ease" of use"
Pip
It is easy to install cuDF using pip...

Maybe we should change this to "There's an experimental way to install cuDF using pip, but the preferred method is conda...

[2019-02-13 15:46] kkraus14 commented on #922
@mjsamoht this is purely on the Python side and involves calling `.set_index` on the dataframe object we create from from the `gdf_column` objects returned from the C++ API. If your team isn't clear on how to implement this, just let me know and I can help guide in the right direction.

[2019-02-13 15:52] quasiben opened #931 "[FEA] Integrated Env/Version output for bug reports"
Currently, cudf suggests that users execute [print_env.sh](https://github.com/rapidsai/cudf/blob/branch-0.6/print_env.sh) to generate valuable info when submitting bug reports.  No doubt, this information is critical.  This style is also similar to how PyTorch and Tensorflow collect debug info.  While this is good, I think we could do better (for python cudf users) by integrating this functionalit

[2019-02-13 15:58] kkraus14 commented on #931
I'd absolutely be in support of this, but it would be great to maintain a way of supporting non-Python users simultaneously.

[2019-02-13 15:59] kkraus14 commented on #905
Resolved by #917

[2019-02-13 15:59] #905 closed

[2019-02-13 16:00] jrhemstad commented on #931
Can the script be distributed as part of the conda package?

[2019-02-13 16:06] quasiben commented on #931
Yes, we could also do that.  Are libcudf users installing via conda ?

[2019-02-13 16:09] kkraus14 commented on #860
Note our prefixsum also always puts a 0 as the first element while Pandas does not, should be an easy fix from the python side.

[2019-02-13 16:14] kkraus14 commented on #853
This may make more sense to be an issue in the https://github.com/rapidsai/notebooks repo and once an issue is realized with cuDF the issue is created here.

[2019-02-13 16:16] kkraus14 commented on #849
Resolved by #893

[2019-02-13 16:16] #849 closed

[2019-02-13 16:20] kkraus14 commented on #848
I'd guess that this is a CSV reader issue, have you checked the pandas dataframe matches the cudf dataframe after the `read_csv` call?

[2019-02-13 16:28] kkraus14 commented on #847
So Pandas will actually return an integer from the `mean()` call if the result can be safely typecast from the float to an integer. We're exploring this in #894 so closing this as a duplicate.

[2019-02-13 16:28] #847 closed

[2019-02-13 16:30] kkraus14 commented on #835
Related to #882

[2019-02-13 16:33] kkraus14 commented on #830
This would be dependent on #862

[2019-02-13 16:38] kkraus14 commented on #829
This is purely in the numba code but we should work with their community to try to improve this, thanks.

[2019-02-13 16:43] jrhemstad commented on #931
If someone is using libcudf directly, then they're cloning the repo, in which case they automatically get the `print_env.sh` script.

[2019-02-13 16:44] kkraus14 commented on #931
That's not necessarily true, libcudf is distributed as a conda package as well and would allow users who don't want to build from source to utilize it.

[2019-02-13 16:45] #803 closed

[2019-02-13 16:48] kkraus14 commented on #743
Given the discussion has gone stale on this I'm going to close this issue.

[2019-02-13 16:48] #743 closed

[2019-02-13 16:50] kkraus14 commented on #742
@senseb Are you still having this issue? This looks to be an issue with nvidia-docker or docker as opposed to our library as it's erroring in just detecting a usable nvcc.

[2019-02-13 16:50] kkraus14 commented on #740
Resolved by #878

[2019-02-13 16:50] #740 closed

[2019-02-13 16:51] kkraus14 commented on #739
Resolved by #878

[2019-02-13 16:51] #739 closed

[2019-02-13 16:56] kkraus14 commented on #662
This looks like: #919 in that you should be using `category` instead of `object` for your dtype and we will compute a 32 bit integer hash for it. We're working to resolve that bug which should resolve this.

[2019-02-13 16:57] trstovall opened #932 "[BUG] read_csv parses datetime64[ms] incorrectly"
**Describe the bug**
Datetimes with "YYYY-MM-DD HH:MM:SS.xxx" formats are incorrectly parsed, and parsed different depending on column index.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Correct parsing of datetime regardless of column number

**Environment details (please complete the following information):**
 docker container "rapidsai/rapidsai:0.5-cuda10.0-base-ubuntu16.04-gc

[2019-02-13 16:58] kkraus14 commented on #932
cc @mjsamoht

[2019-02-13 17:00] kkraus14 commented on #662
This was recently resolved by #927 so it would be great if you could try this with 0.6 at some point.

[2019-02-13 17:04] kkraus14 commented on #596
Closing this as cuIO team is taking this over.

[2019-02-13 17:04] #596 closed

[2019-02-13 17:06] kkraus14 commented on #592
Going to close this as it was resolved.

[2019-02-13 17:06] #592 closed

[2019-02-13 17:06] kkraus14 commented on #587
@jrhemstad is this resolved?

[2019-02-13 17:09] kkraus14 commented on #573
Resolved by #893

[2019-02-13 17:09] #573 closed

[2019-02-13 17:09] kkraus14 commented on #572
Resolved by #893

[2019-02-13 17:09] #572 closed

[2019-02-13 17:11] kkraus14 commented on #535
Fixed by #895

[2019-02-13 17:11] #535 closed

[2019-02-13 17:12] kkraus14 commented on #534
@mrocklin is this critical path for Dask?

[2019-02-13 17:23] mrocklin commented on #534
Not that I'm aware of.  I raised this as a cudf user, not a dask-cudf user.

[2019-02-13 17:43] jrhemstad commented on #527
Thanks to @eyalroz who found what is being called by an `assert` in device code:

[code]

We could simply call this directly instead of `assert`, which would ensure that we fail loudly in Release builds.

[2019-02-13 17:59] eyalroz commented on #527
We would only use this part:
[code]
which can be defined to be another macro (.e.g `fail_like_in_assert()`...)

[2019-02-13 18:16] jrhemstad commented on #587
Not yet, no. The transition to using exceptions will help resolve this though.

[2019-02-13 19:09] mrocklin opened #934 "[BUG] Groupby objects aren't indexable by column names"
[code]

[code]

This is because we always iterate over the indexer, even if it is a string

[code]

A small type check there would probably resolve the problem.

cc @thomcom

[2019-02-13 19:10] mrocklin commented on #934
This is important for dask-cudf groupby aggregations

[2019-02-13 19:33] mjsamoht commented on #873
Let me summarize.  **The file in question here doesn't properly use quotation marks in pairs**.

The reason why `pandas` behaves differently from `cudf` is because:
- `pandas` only enters `quotation mode` if the first character of a column is a quotation mark.  Otherwise, it will ignore all quotation marks (i.e. treat them like regular characters) until the next delimiter or line terminator is fou

[2019-02-13 19:39] kkraus14 commented on #873
@mjsamoht @kenhester what's the behavior if the CSV readers have the `quoting` parameter set to 3 (QUOTE_NONE)?

If that resolves the issue is that sufficient @randerzander?

[2019-02-13 20:17] cmgreen210 opened #935 "[FEA] Replace numpy mod op in `Series.hash_encode`"
The current implementation of `hash_encode` is bottlenecked at the numpy call https://github.com/rapidsai/cudf/blob/branch-0.6/python/cudf/dataframe/series.py#L1078. This computation should be moved to the gpu.

[2019-02-13 20:17] cmgreen210 commented on #935
I will work on a fix for this.

[2019-02-13 20:26] cmgreen210 commented on #935
This will be easier than expected. We'll change the line to `hashed_values = np.mod(hashed_values.data.to_array(), stop)`
[code]

[2019-02-13 20:27] kkraus14 commented on #935
That will still run it on the CPU and trigger a device to host copy on the `.to_array()` call.

[2019-02-13 20:27] kkraus14 commented on #935
I don't recall if we have a modulo binary op in libcudf that you'd probably want here, @jrhemstad?

[2019-02-13 20:28] cmgreen210 commented on #935
Good point. But the speed up is probably good enough for now. wdyt?

[2019-02-13 20:31] kkraus14 commented on #935
Implementing a binary modulo op on the GPU should be trivial. If the arrays are larger or we call this on a bunch of columns the allocations / memory copies would become expensive.

[2019-02-13 20:33] kkraus14 commented on #601
CPU only version added in #893. I think this should suffice for the dask needs and we can improve performance with a GPU-accelerated reader in the future.

[2019-02-13 20:33] #601 closed

[2019-02-13 20:36] jrhemstad commented on #935
So you want a binary op of doing a modulo of a column by a scalar? This will be added in https://github.com/rapidsai/cudf/pull/892

[2019-02-13 20:44] jrhemstad commented on #931
But that would be solved via my previous suggestion to just distribute `print_env.sh` via the conda package, yes?

[2019-02-13 20:50] kkraus14 commented on #931
I don't think the `print_env.sh` would be on their path and be callable by default similarly to `numba -s` for example unless we make some changes. I'd propose we put this into the `libcudf` conda package instead of the `cudf` conda package though.

[2019-02-13 20:50] jrhemstad commented on #860
This shouldn't be the case. That should only happen if it's an _exclusive_ sum scan. This can be controlled via the `inclusive` flag in our libcudf API https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/reductions/scan.cu#L66

[2019-02-13 20:52] kkraus14 commented on #860
On the python side we put a 0 as the first element and then feed libcudf a pointer to the second element and the size - 1 😅

[2019-02-13 21:06] jrhemstad commented on #860
Good lord, reading that gave me an aneurysm.

I assume now that we're clear on the API it will be corrected to work normally?

[2019-02-13 21:08] mrocklin opened #2250 "Use mainline Dask DataFrame Join implementation"
We should replace the join/merge implementation in dask-cudf with the upstream implementation in dask.dataframe.

The Dask dataframe join implementation is a bit more fully featured than the implementation here in dask-cudf.  In particular it includes solutions for things like joins-on-sorted-indexes (see #76), joins other than "left", joins against single-partition dataframes, and other common ca

[2019-02-13 21:11] cmgreen210 commented on #935
@jrhemstead yes. Will this be added by the 0.6 release? If not might want to do an intermediate fix.

[2019-02-13 21:33] kkraus14 commented on #860
Yea, I'll make a github issue as well since I'm sure there will need to be conversations surrounding null behaviors 😄

[2019-02-13 21:37] miguelangel commented on #932
I have found a similar behaviour. In my case, the date format is 'DD/MM/YYYY HH:MM:SS', and is always parsed to '1969-12-31T23:59:59.000'.

Please find attached an example of the dataset (only that column):

<img width="155" alt="screenshot 2019-02-13 at 22 25 22" src="https://user-images.githubusercontent.com/26169771/52745579-aee58280-2fdf-11e9-9e5a-990d08fd2097.png">

Below, you can observe the

[2019-02-13 21:45] j-ieong commented on #932
This is because it's not correctly handling the second-millisecond portion. I should have a quick fix

[2019-02-13 21:45] kkraus14 opened #936 "[FEA] Update prefixsum to handle nulls and float types"
Currently we hand libcudf gdf_column objects to calculate the prefix sum, but we ensure there's no nulls beforehand by calling `to_gpu_array()`. This works for where we need to use a prefixsum internally for some functions, but doesn't work for a cumulative sum unaryop against a column.

Expected null behavior would be an additional flag and have behavior from here: https://pandas.pydata.org/panda

[2019-02-13 21:45] kkraus14 commented on #860
Issue created here: https://github.com/rapidsai/cudf/issues/936

[2019-02-13 22:09] mrocklin opened #937 "[FEA] Support comparisons on index operations"
It would be nice if the following worked

    df[df.index > 5]

There is a WIP PR with tests for this here: https://github.com/rapidsai/cudf/pull/555

[2019-02-13 22:10] #534 closed

[2019-02-13 22:15] miguelangel commented on #932
Hi @j-ieong, please notice that in my example there is no milisecond portion.

[2019-02-13 22:15] kkraus14 commented on #937
Is this a duplicate of #556?

[2019-02-13 22:17] mrocklin commented on #937
Ah, indeed it is.

[2019-02-13 22:18] j-ieong commented on #932
@miguelangel Can you give a sample row from your file so I can see the format? Thanks!

[2019-02-13 22:18] #937 closed

[2019-02-13 22:21] miguelusque opened #938 "[FEA] Support datetime dtype columns in `Series.apply`"
**Describe the bug**
When invoking _applymap_ on a Datetime column, I get the following error. Am I doing something wrong? Is there any workaround?

I have tried the _applymap_ on the same DF but different column type (*int*), and it seems to work.

**Steps/Code to reproduce bug**
<img width="897" alt="screenshot 2019-02-13 at 23 10 19" src="https://user-images.githubusercontent.com/26169771/52748

[2019-02-13 22:38] kkraus14 commented on #935
@cmgreen210 as a stop gap it should be pretty straightforward to write a numba kernel that does a modulo operator until we move it into libcudf.

[2019-02-13 22:44] mjsamoht commented on #873
I'm not 100% sure what `quoting` does in pandas. In cudf it's a boolean that indicates whether quotation marks should be removed or not but does not affect the actual parsing process.  So specifying `quoting=False` won't work with cudf.  You need `quotechar='\0'`.

[2019-02-13 22:52] kkraus14 commented on #873
This sounds like a bug in behavior then, rules I would expect as follows based on Pandas CSV rules:
[code]

[2019-02-13 22:52] cmgreen210 commented on #935
@kkraus14 Sounds good. I'll have that up asap.

[2019-02-13 23:40] vuule commented on #928
The PR in progress addresses the original issue, where the last row is missing.

The issue with the names parameter set is not related to byte_range: header is implicitly set to None. This means that the first row in the file is treated as a data row. In this case, cudf infers that the data types are int32 and the parsing fails because the data does not conform to the format. You can avoid this is

[2019-02-14 00:09] vuule commented on #928
It appears that type deduction infers GDF_CATEGORY for the type when some of the data is string-like (and we have a,b,c,d,e in a data row now). In category columns, data is converted into hash values, and this is the output you see.

This is expected behavior, at least until read_csv gets full string support.

[2019-02-14 00:28] mrocklin opened #944 "[FEA] Add DataFrame.rename"
It would be nice if we could rename columns on a dataframe

[code]

There are many possible inputs to rename, I mostly care about passing in a callable, but dicts and things are good too.

This is useful for some of the more complex dask dataframe groupby aggregations.

[2019-02-14 00:37] mrocklin commented on #901
FWIW I no longer care about this.  I've handled it in Dask here: https://github.com/dask/dask/pull/4482

[2019-02-14 00:55] #928 closed

[2019-02-14 01:24] #860 closed

[2019-02-14 01:39] kkraus14 commented on #534
Resolved by #878.

[2019-02-14 02:17] randerzander commented on #702
This was fixed by #539

[2019-02-14 02:17] #702 closed

[2019-02-14 02:26] quasiben opened #946 "[BUG] Missing Boundaries"
In fully exploring the resolution for #928 @mrocklin and I noticed a potential bug around how boundaries are parsed when using `read_csv` .  Below is example code which demonstrates a missing row when using `byte_range`.   Additionally, we show a segfault when seeking past the size of the file
## Setup
- cudf version: '0.6.0.dev0+403.g00be629.dirty'
- bare metal

## Working Example Code
[code]

##

[2019-02-14 06:16] jangorecki commented on #848
@kkraus14 possible, but from what I was able to check it looks fine. The most important check to see number of groups in `id6` raised error.

- head of data
[code]

- columns to aggregate
[code]

- columns to group by
[code]

[2019-02-14 13:40] miguelangel opened #948 "[FEA] Add binary operations to 'DatetimeColumn' object"
**Is your feature request related to a problem? Please describe.**
I am trying to calculate the timestep by substracting end_date and start_date.

Please, find below the code and the error raised:

<img width="1350" alt="screenshot 2019-02-14 at 14 35 39" src="https://user-images.githubusercontent.com/26169771/52790212-4beafe80-3066-11e9-96b2-8304aa2b9ae3.png">

**Describe the solution you'd like*

[2019-02-14 16:08] jrhemstad opened #949 "[FEA] CI should ignore changes to the CHANGELOG"
**Is your feature request related to a problem? Please describe.**
If I have a PR that has passed all of the CI tests, but there's a conflict only on the `CHANGELOG.md`, then as soon as I resolve the conflict, I have to wait for all of the CI process to pass _again_. This is redundant and unnecessary and slows development velocity.

**Describe the solution you'd like**
CI should not be re-run if t

[2019-02-14 16:53] kkraus14 commented on #946
cc @mjsamoht

[2019-02-14 18:07] thomcom commented on #894
I think that's the right implementation, thanks for the detailed response @jrhemstad.

Right now Groupby _does_ automatically promote type, any time `mean` is the aggregation then the type is set to `float64`. This differs from pandas, which will leave the type unpromoted if there's no decimals that need it.

As far as I know, the only way to perform this is to do what we're doing now - compute th

[2019-02-14 18:08] thomcom commented on #847
Also, `mean` does coerce to float as of `branch-0.6` now and going forward. #894 discusses if we should cast back to int ala pandas.

[2019-02-14 18:10] kkraus14 opened #951 "[FEA] Better test-wide fixtures and standardize around said fixtures"
Currently a lot of the tests have dataframe creation fixtures that are test specific or module specific which reduces code reuse and test coverage. We should create test-wide fixtures for things like dataframe creation that hit a wide range of dtypes / number of columns / number of rows to ensure we properly test all of our functions.

[2019-02-14 18:11] #856 closed

[2019-02-14 18:12] thomcom commented on #948
Your shortest path solution is to convert the datetime columns into integer columns, do your arithmetic, and convert them back. I'm pretty sure that the base type for datetime is a UNIX time. Either that or a datetime string ('m not sure), but either way if you get the datetime to become a UNIX timestamp then you can arithmetic it.

[2019-02-14 18:14] kkraus14 commented on #948
Converting to an `int64` should be a zero-op essentially. We don't have a concept of timedeltas yet, so doing subtraction of dates isn't going to be coming in the very near term, but at least doing comparisons like greater than, less than, equals, etc. should be doable.

[2019-02-14 18:16] #915 closed

[2019-02-14 18:18] jrhemstad commented on #894
Yeah, that's bonkers. I strongly favor deviating from Pandas behavior on this one. @kkraus14  @mrocklin  ?

[2019-02-14 18:24] kkraus14 commented on #894
I'm in favor unless it borks dask dataframe, so kicking over to @mrocklin @quasiben

[2019-02-14 18:43] mrocklin commented on #894
No objection from me

[2019-02-14 19:06] kkraus14 commented on #894
Marked as wontfix and closing.

[2019-02-14 19:06] #894 closed

[2019-02-14 20:12] #935 closed

[2019-02-14 20:14] miguelangel opened #953 "[FEA] Implement .min() and .max() of a column"
**Is your feature request related to a problem? Please describe.**
I need to calculate the min and max of a column with datatype numpy.datetime64.

I have tried _df['date'].min()_ and _df['date'].max()_, but they seem to do not be implemented yet.

If I do _min(df['date'])_ or _max(df['date'])_, it takes about 6 seconds each, compared to miliseconds within Pandas.

**Describe the solution you'd li

[2019-02-14 20:17] jrhemstad commented on #953
We've got a `gdf_min` and `gdf_max` function, but it looks to only support arithmetic types.

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/reductions/reductions.cu#L252

This will need to be corrected. Furthermore, the reductions API should be redesigned to just be a simple `gdf_reduction` function with the reduction operation specified by an `enum`.

I'll create an issue.

[2019-02-14 20:18] kkraus14 commented on #953
`df['date'].min()` and `df['date'].max()` are implemented for non datetime columns.

[2019-02-14 20:22] jrhemstad opened #954 "[BUG] libcudf reductions should support non-arithmetic types for some operations"
**Describe the bug**
`gdf_min` and `gdf_max` do not support non-arithmetic types, e.g., `GDF_CATEGORY`, `GDF_DATE32`, `GDF_DATE64`, `GDF_CATEGORY`, `GDF_TIMESTAMP`.

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/reductions/reductions.cu#L207

**Expected behavior**
While it makes sense to not support `sum`, `product` and `sum_of_squares` for these types, we should support `min` and `max`

[2019-02-14 20:23] jrhemstad commented on #953
See https://github.com/rapidsai/cudf/issues/954

[2019-02-14 20:43] thomcom commented on #934
It was more complicated than expected, side-effect of many recent changes to Groupby. Coming up shortly.

[2019-02-14 21:15] miguelangel opened #955 "[DOC] .value_counts() documentation is missing"
## Report incorrect documentation

**Location of incorrect documentation**
.value_counts() documentation is missing.
The unique reference to that method can be found here:
https://rapidsai.github.io/projects/cudf/en/latest/10min.html?highlight=value_counts

**Describe the problems or issues found in the documentation**
Documentation missing.

**Steps taken to verify documentation is incorrect**
Tr

[2019-02-14 21:16] miguelangel opened #956 "[DOC] .unique_count() documentation is missing"
## Report incorrect documentation

**Location of incorrect documentation**
.unique_count() documentation is missing.

**Describe the problems or issues found in the documentation**
Documentation missing.

**Steps taken to verify documentation is incorrect**
Tried to find the documentation, but not found.

**Suggested fix for documentation**
Add documentation.
---

## Report needed documentation

*

[2019-02-14 21:19] miguelangel commented on #953
Thank you both!

[2019-02-14 21:21] mjsamoht commented on #946
cc @vuule to comment since he is most familiar

My understanding is that:
- If the byte range **starts** in the middle of a record this record will **not** be returned (`a` in your example)
- If the byte range **ends** in the middle of a record this record will **not** be returned (`b` in your example)
We have to discuss how we want to handle this since `dask` won't be able to split at record boun

[2019-02-14 21:24] mrocklin commented on #946
I think that we should probably include these.  That way we can select ranges like

-  (0, 100)
-  (100, 100)
-  (200, 100)
-  (300, 100)
- ...

And know that every record is counted exactly once.

[2019-02-14 21:26] #932 closed

[2019-02-14 21:26] mrocklin commented on #946
My apologies about the segfault comment, you're right.  Mostly I think that the ask here is a nicer error message, though this is much lower priority than the dropped record.

[2019-02-14 21:37] miguelangel opened #957 "[FEA] Support nulls in `query`"
**Describe the bug**
I am porting the following code from pandas to cudf:

_Pandas:_

_cuDF:_

(Not sure if there is a better alternative to port that code from Pandas to cuDF)

**Steps/Code to reproduce bug**
Run this code:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment details (please complete the following information):**
DGX-1, 0.6 branch

[2019-02-14 21:43] mjsamoht commented on #946
Had a quick chat with @mrocklin

- If the input is a **file** and the byte range **ends** in the middle of a record, `read_csv()` should return that record.  This means we have to read past the end of the byte range to get the complete record.
- If the input is a **file** and the byte range **begins** in the middle of a record, `read_csv()` should skip that first, partial record.
- If the input is

[2019-02-14 21:44] miguelangel commented on #948
Hi @kkraus14,

I did as you suggested, and it worked!

In fact, the operation I needed to do was a bit more complex.

I will copy the code here, in case it might be useful for someone:

Regards,
Miguel

[2019-02-14 21:48] mrocklin commented on #946
+1

On Thu, Feb 14, 2019 at 1:44 PM Thomas Meier <notifications@github.com>
wrote:

[2019-02-14 22:49] mjsamoht commented on #873
Yes, cudf behaves differently from pandas.  There are redundant quoting arguments in pandas so it gets a bit messy.  Let me try to summarize:
- If `quoting=3` all quotation marks are ignored and treated like other characters.  This is the same as `quotechar='\0'`.  Thus, the combination of `quoting=3` and `quotechar!='\0'` is not allowed.
- If `quoting!=3` and `quotechar='\0'` we have same behavio

[2019-02-15 01:15] #934 closed

[2019-02-15 04:37] vuule commented on #946
The POR described above is what I had in mind when implementing the feature. You can see the intended behavior in the documentation for the new parameters.  You are using the API as expected. Any missing rows are due to a bug and I'll look into this tomorrow.
The interesting part is that we have a test for this use case, and it's passing. I'm starting to suspect that the test is not valid.

[2019-02-15 04:40] mrocklin commented on #946
Thanks for clarifying @vuule .

I should also point out that, except for these occasional missing rows, using the API and implementation that you've provided everything seems to work great.  It has been a pleasure to work with so far :)

[2019-02-15 14:51] mike-wendt commented on #492
@taureandyernv can you update this and set a standard that we can use for other repos? Maybe start an internal doc to circulate what this looks like with the PMs and go from there?

cc @randerzander @datametrician

[2019-02-15 16:44] #209 closed

[2019-02-15 16:48] kkraus14 commented on #187
Fixed by #950

[2019-02-15 16:48] #187 closed

[2019-02-15 17:46] eyalroz opened #961 "[BUG] Too many places in the code say "bits come in units of 32""
As bits are not native types in C++, nor are they really "first-class citizens" on CPUs and GPUs, we always have bits in some sort of containers - whether packed (each bit in a larger integral value is of distinct interest) or upcast (integers with 0 meaning false, anything else meaning true). Now, for contiguous sequences packed bitsm it's convenient to assume that the packing is consistent, that

[2019-02-15 17:52] jrhemstad commented on #961
100% agreed.

The purpose of `bit_mask_t` and associated functions: https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/bitmask/bit_mask.h is to do exactly that---centralize all of the the valid bit manipulation code such that everyone is using the same thing.

Someone just has to go through and do the work of updating all of the existing code to use the new centralized type/functions.

It's

[2019-02-15 17:55] jrhemstad commented on #961
This issue can be used to track the work of doing the update to use the centralized `bit_mask_t`.

[2019-02-15 18:12] eyalroz opened #962 "[BUG] CUDA_HOST_DEVICE_CALLABLE is 1: Misleading 2. unwieldy"
At the moment, we have:
[code]
which is patently misleading, since we're just suggesting callability, not forcing inlining. So - IMO, these _have_ to be changed to something else.

Now, these macros are already pretty long; annoyingly so even. And if they're lengthened to also reflect the inlining, it'll be too much. I therefore suggest using the following shorthands:
[code]
The initials are a bit

[2019-02-15 20:20] vuule commented on #946
@mrocklin Regarding the error message when the offset is too large:
I can see the debug message "The offset is too high" when running the tests with such offset. Maybe you don't have the std output enabled when you are running the tests? I'll change the message to clarify that the issue is about the byte_range offset.
The only other improvement that I can think of is to change the error code to be

[2019-02-15 21:19] thomcom commented on #957
We see the same error if there are no nulls in the list.

[2019-02-15 21:23] mjsamoht commented on #873
@kkraus14 I think we should change the cudf behavior of `quoting` to match pandas.  Then it will be possible to ignore quotes with `quoting=QUOTE_NONE` like pandas, and reading the file in this issue will work.

Beyond that I believe there is no action item for this issue.  While we always want to follow pandas' behavior with correctly formatted input, it's just not possible to always produce the

[2019-02-15 21:37] dillon-cullinan opened #965 "[BUG] Series() constructor doesn't properly support nan_as_null for Python lists"
**Describe the bug**
The constructor for a Series() is not working properly when it is passed a `Python list`. It seems that the `nan_as_null` flag is not passed.

**Steps/Code to reproduce bug**
[code]

**Output**
[code]

**Expected behavior**
It is expected that the constructor for passing a list will properly parse `np.nan` to `null`.

**Environment details (please complete the following inform

[2019-02-15 21:41] miguelangel commented on #957
Hi @Thomson, if you run the sample code above without the _None_ element, it seems to work.

I hope it helps.

Regards,
Miguel

[2019-02-15 23:48] #845 closed

[2019-02-15 23:48] kkraus14 commented on #628
Fixed by #857

[2019-02-15 23:48] #628 closed

[2019-02-16 00:17] #944 closed

[2019-02-16 00:43] #946 closed

[2019-02-16 12:46] miguelangel commented on #957
Hi @thomcom ,

You are right. I have replaced the nulls with the sentinel value 1, and the error persists.

Regards,
Miguel

[2019-02-17 03:49] mrocklin opened #967 "[FEA] Set the index of a dataframe/series"
It would be useful to be able to assign an index to a dataframe or index object

    df.index = df2.index

This might be achieved either by ...

1.  Removing the property and just using an attribute
2.  Creating a property setter

cc @thomcom @kkraus14

[2019-02-17 03:51] mrocklin opened #968 "[FEA] Support concat(..., axis=1)"
It would be convenient to use the `axis=` keyword to the concat function

    cudf.concat([df1, d2, s1, s2], axis=1)

[2019-02-17 04:08] mrocklin opened #969 "[FEA] Support indexing with a pandas index from columns"
It would be nice to be able to index a dataframe with df.columns

[code]

cc @kkraus14 @thomcom

[2019-02-17 04:10] mrocklin opened #970 "[FEA] Support indexing a dataframe with another boolean dataframe"
[code]

[code]

[2019-02-17 04:10] mrocklin commented on #970
cc @thomcom @kkraus14

[2019-02-17 08:39] miguelangel opened #971 "[BUG] cudaErrorIllegalAddress when reading a CSV file"
**Describe the bug**
Hi,

I have a csv file of 5135558 rows.

When I try to read it, the following error happens.

<img width="1070" alt="screenshot 2019-02-16 at 23 40 53" src="https://user-images.githubusercontent.com/26169771/52910431-a28b4f00-3297-11e9-80f5-c7c5c05b95e3.png">

But, if I split the file in two parts, load them into two different DataFrames, and then concat both DataFrames, it wo

[2019-02-17 17:43] tebeka opened #972 "[BUG] Error when creating a DataFrame from series of length 1"
**Describe the bug**

When initializing a cudf.DataFrame with series of size 1, we get a `TypeError`

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

[code]

**Expected behavior**
A clear and concise description of

[2019-02-17 19:57] mjsamoht opened #973 "[FEA] Convert hexadecimal strings ("0x...") to int data type in read_csv"
Function `read_csv()` should detect hexadecimal numbers, starting with "0x", and convert them to integer data types.  Currently such numbers are treated as strings.

[2019-02-17 20:07] mjsamoht opened #974 "[BUG] Option `quoting` in `read_csv` behaves different from pandas"
In cudf read_csv() the option `quoting` is a Boolean that specifies whether quotation marks should be removed or kept in strings.  It has no impact on parsing itself.

In pandas the option `quoting` can take on one of four values as shown below.  Only `QUOTE_NONE` is relevant to read_csv().  If `quoting=QUOTE_NONE` quotation marks should be treated like regular characters.  This is the same behavi

[2019-02-17 20:09] mjsamoht commented on #873
I filed issue #974 to change the cudf behavior of `quoting` to match pandas.  After that you can specify `quoting=QUOTE_NONE` to read the problematic file in this issue.  I believe there is no other action required for this issue.

[2019-02-17 20:39] quasiben commented on #972
@tebeka thanks for the detailed bug report.  I just tried against the `branch-0.6` branch and all seems to work.  If possible can you build from source and try again ?

[code]

[2019-02-17 21:23] miguelangel commented on #957
Hi @kkraus14,

I think this issue should be labeled as ’bug’ instead of ’feature request’.

It is also failing with columns without nulls.

Thanks!
Miguel

[2019-02-18 08:05] PeterHuang2015 opened #975 "[BUG] May the legacy pygdf documentation on readthedocs be deleted?"
**Describe the bug**
May the legacy pygdf documentation on readthedocs be deleted? It might be misleading for newbie for searching official docs.

**Steps/Code to reproduce bug**
As [legacy pygdf doc link](https://pygdf.readthedocs.io/en/latest/) appear on top of google search results: https://www.google.com.hk/search?q=cudf+documentation&rlz=1C1GGRV_enCN803CN803&oq=cudf+documentation&aqs=chrome..

[2019-02-18 15:03] devavret commented on #935
The modulo implementation is now here. It's not merged, but it's tested to work.

[2019-02-18 15:49] quasiben opened #976 "[FEA] Expose isnull/isnan"
Data is often missing and messy.  It would be nice to expose `isna` and `isnull` methods on series objects.  These methods are often used for during filter operations like those below:

[code]

[2019-02-18 17:39] quasiben opened #977 "[BUG] dtype definitions in read_csv fail and without definition are inferred incorrectly"
## Data

[code]

**Without** defining a dtype the above data has an incorrect inferred dtype when parsing with `read_csv`

[code]

**With** a dtype defined the above crashes
[code]

cc @kkraus14

[2019-02-18 17:40] jrhemstad opened #978 "[FEA] libcudf should provide a generic `scan` function"
**Is your feature request related to a problem? Please describe.**
Currently `libcudf` only supports an inclusive/exclusive prefix sum operation. A prefix sum is a specialization of the more generic `scan` operation that supports other operations such as `min`, `max`, and `product`. If I want to compute one of these other scan operations, there is no way for me to do so with the current `libcudf`.

[2019-02-18 17:40] mrocklin opened #979 "[FEA] Support index keywords in merge"
It would be nice to implement the `left_index=` and `right_index=` keywords for `cudf.DataFrame.merge`.  This would be in support of indexed joins in dask-cudf, see https://github.com/rapidsai/dask-cudf/issues/76 by @randerzander

[code]

[code]

[code]

[code]

I suspect that near-term one solution here would be to elevate the index to a series and then call a normal merge using the `left_on=` an

[2019-02-18 17:41] mrocklin commented on #979
cc @thomcom @kkraus14

[2019-02-18 17:42] mrocklin opened #980 "[FEA] Implement top-level cudf.merge function"
It would be mildly convenient to implement a top-level `cudf.merge` function that operated similarly to the `DataFrame.merge` method, but had both a left and right argument.  It might be as simple as

[code]

[2019-02-18 18:28] vuule commented on #971
@miguelangel how big is the input file, and how big is the resulting dataframe (after concatination)? At one point during reading we store both the input file and the dataframe columns on the GPU, so it might drive the memory usage over the GPU memory capacity in this case.

[2019-02-18 19:21] quasiben commented on #973
As a python user this might be a bit strange.  That is, I would not expect `read_csv` to both detect and convert data.  As reference implementation, I would consult [pandas.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html).

With that said, Pandas does, however, make an exception wrt detection and conversion for datetimes.  These can be converted on the fly

[2019-02-18 19:32] miguelangel commented on #971
Hi @vuule, the file is 2917M. Also, please have a look at my comment on GPU memory consumption reported by nvidia-smi.

[2019-02-18 20:42] mrocklin opened #981 "[BUG] dtypes not preserved with zero rows"
In the following example I would expect the dtypes to not change as I call `head`

[code]

[2019-02-18 20:51] mrocklin commented on #981
This is important for Dask because we often carry around empty dataframes as metadata.  If the dtypes are not preserved then we get caught up on that frequently.

[2019-02-18 23:10] mrocklin opened #983 "[FEA] Support groupby with external series objects"
It would be nice to be able to groupby series that were not present within the dataframe

[code]

I can get around this with just cudf by doing things like the following:

[code]

But it'd be nice if cudf could handle this for me

[2019-02-18 23:10] mrocklin commented on #983
Reported originally by @quasiben

[2019-02-18 23:37] mrocklin opened #984 "[BUG] Sorting an empty dataframe results in an error"
[code]

### Traceback

<details>

[code]

</details>

Originally reported downstream at https://github.com/rapidsai/dask-cudf/issues/84

[2019-02-19 00:45] mrocklin opened #986 "[BUG] Assigning RangeIndex into Dataframe fails"
Assigning an index into an empty dataframe fails.  Also, it looks like we possibly construct a very large python `range` object, which should move at least to a numpy array, but possibly also to something device side.

[code]

[code]

[2019-02-19 10:43] MurrayData opened #987 "[BUG] read CSV corrupting data when floating point number in exponent format"
I read a CSV file of 6 million records including latitude/Longitude points captured by food hygiene inspectors using handheld mobile devices. As UK & Ireland, this data was in the range 48 to 60 latitude, -8 to 3 longitude.

My Spatia software threw an error while performing a coordinate conversion process on the points due to out of range values. As the data had been pre-filtered to remove outlie

[2019-02-19 16:48] #556 closed

[2019-02-19 17:32] kkraus14 commented on #835
This was resolved by #720

[2019-02-19 17:32] #835 closed

[2019-02-19 17:54] kkraus14 commented on #967
duplicate of #824

[2019-02-19 17:54] #967 closed

[2019-02-19 17:56] kkraus14 commented on #882
Closing this with #958

[2019-02-19 17:56] #882 closed

[2019-02-19 18:13] kkraus14 commented on #972
Fixed by #877

[2019-02-19 18:13] #972 closed

[2019-02-19 18:15] taureandyernv opened #989 "[BUG] Read CSV is corrupting String Data"
Code

[code]

This was my output.  Note the ```vendor_id```, ```store_and_fwd_flag```, and ```payment_type```

The vendor id and the payment type are the same.   Store and fwd flag seems to work although I'm not sure why it gives negative numbers.   These are the dtypes

vendor_id                          int32
rate_code                          int64
store_and_fwd_flag                 int32
passe

[2019-02-19 18:15] kkraus14 commented on #977
We don't support `object` or `string` dtypes yet so this is expected.

[2019-02-19 18:15] kkraus14 commented on #977
We should fail much more gracefully than this though.

[2019-02-19 18:28] kkraus14 commented on #989
You need to use `read_csv_strings`

[2019-02-19 18:51] quasiben opened #991 "[BUG] Selection with Null and NA data"
When filtering a dataframe which contains `NaN` values cuDF fails

The above fails if cdf contains Null values

[code]

I briefly chatted with @kkraus14 about this and Null/NA values are special cased.  Note: Pandas does not have a concept of Null values an instead uses np.nan.

@kkraus14 also suggested I look at what DBs do when filtering Nulls below is an example.
TLDR when filtering a column wh

[2019-02-19 18:53] kkraus14 commented on #991
@quasiben I'm also curious what the behavior would be on a `float` column in the database with both a NaN and a NULL with the query as something like:
[code]

[2019-02-19 18:54] kkraus14 commented on #991
cc @jrhemstad for libcudf visibility

[2019-02-19 18:55] jrhemstad commented on #991
@kkraus14 does this relate to the bitmask functions you want libcudf to implement?

[2019-02-19 19:27] kkraus14 commented on #991
@jrhemstad this would be specifically related to binary / unary ops with regards to the bitmask.

[2019-02-19 19:39] quasiben commented on #991
[code]

[2019-02-19 19:40] quasiben commented on #991
https://www.postgresql.org/docs/9.3/datatype-numeric.html

[2019-02-19 20:24] mike-wendt commented on #886
I already fixed this on the website

[2019-02-19 20:24] #886 closed

[2019-02-19 20:33] trstovall opened #2251 "[feature request] Specification of "pandas-like dataframe" needed"
As implied by issue #79, dataframe objects managed by dask.dataframe need to be "pandas-like".  Would it be possible to provide a specification that dataframe libraries like pandas, cudf, and others can implement to ensure compatibility with dask.dataframe?  (This is a request for such a specification.)

[2019-02-19 20:41] mrocklin commented on #652
@kkraus14 is there someone we know that can do this work?  I wonder if @taureandyernv is around and has time?

[2019-02-19 20:50] mrocklin commented on #652
I've also changed the example above to prefer global namespaced imports like

[code]

rather than highly specific imports

[code]

This is because:

1.  Namespaces are good so that users can tell if a DataFrame call is from pandas or cudf or other
2.  This allows us to move around modules in the future without breaking user code

[2019-02-19 20:55] mike-wendt commented on #499
Possible duplicate with another about detecting CUDA version

[2019-02-19 20:58] mrocklin commented on #652
Also cc @randerzander

[2019-02-19 21:00] jrhemstad commented on #870
Duplicate with https://github.com/rapidsai/cudf/issues/499 ?

[2019-02-19 21:00] #593 closed

[2019-02-19 21:03] jrhemstad commented on #954
Related issue that can be tackled at the same time: https://github.com/rapidsai/cudf/issues/446

[2019-02-19 21:05] jrhemstad commented on #372
Depends on https://github.com/rapidsai/cudf/issues/599

[2019-02-19 21:07] jrhemstad commented on #140
@kkraus14 what functionality is needed from libcudf here?

[2019-02-19 21:10] jrhemstad commented on #49
@kkraus14 are these still missing?

[2019-02-19 21:32] kkraus14 commented on #49
Yes, as far as I'm aware.

[2019-02-19 21:33] #553 closed

[2019-02-19 21:33] #948 closed

[2019-02-19 22:03] kkraus14 commented on #986
@mrocklin I believe this was fixed in a recent PR, could you try again with the latest 0.6?

[2019-02-19 22:12] #980 closed

[2019-02-19 22:30] #804 closed

[2019-02-19 22:30] #793 closed

[2019-02-19 22:35] j-ieong commented on #987
Hi @MurrayData, could you try the branch-0.6 code if possible?
Scientific notation handling was added in PR #780 and will be in the v0.6 release.

[2019-02-19 22:43] j-ieong commented on #973
I think this feature request is in response to some benchmark.

AFAIK, PANDAS's read_csv() doesn't inherently support interpreting/conversion to hexadecimal and requires either passing in a lambda through converters argument or manually through apply() on the dataframe.

We talked about it internally, and ideally this should be a function supported by NvStrings, rather than the CSV reader, and any

[2019-02-19 23:05] #986 closed

[2019-02-20 00:01] vuule commented on #971
I have local repro on a GTX 1080 (8 GB).
It does not look like it runs out of memory. Perhaps the issue is related to use of 32bit ingeters with a file larger than 2^31 bytes. I'm looking into the root cause. So far isolated the issue to convertCsvToGdf().

[2019-02-20 00:17] #983 closed

[2019-02-20 00:17] #922 closed

[2019-02-20 03:12] randerzander commented on #975
Thanks for reporting this, @PeterHuang2015.

I've updated pygdf.readthedocs.io to point to a page that links to cuDF API docs instead.

[2019-02-20 03:12] #975 closed

[2019-02-20 04:32] wbadart opened #1003 "[FEA] Implement `DataFrame.select_dtypes`"
The [`select_dtypes`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.select_dtypes.html) method on pandas DataFrames lets you directly examine the subset of a DataFrame with the types you're interested in. Adding this feature doesn't directly solve any major game-changing problems with the library, but it does bring us one step closer to feature parity with pandas.

He

[2019-02-20 05:28] MurrayData commented on #987
Yes, I'll try it in branch-0.6 and report back.

[2019-02-20 09:11] miguelangel commented on #922
I have just tested PR https://github.com/rapidsai/cudf/pull/995 and it seems to work. Thank you @kkraus14 !

[2019-02-20 10:16] miguelangel commented on #971
Solved with https://github.com/rapidsai/cudf/pull/1001. Thank you all!

[2019-02-20 10:16] #971 closed

[2019-02-20 15:45] daxiongshu opened #1006 "[BUG] to_pandas is 10x slower than cudf0.4"
**Describe the bug**
The `to_pandas` method is much slower on cudf 0.5 than 0.4.

**Steps/Code to reproduce bug**
[code]
Result
[code]

**Expected behavior**
Not slower than cudf 0.4.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Method of cuDF install: conda.
cudf version: 0.5.0+18.gcdebbed
cuda 9.2 and ubuntu 16.04
*Edit: cudf 0.5.1

[2019-02-20 16:23] jrhemstad commented on #883
If we can have an efficient and high performance way to convert an ndarray into a DF, then this would be a great solution to the transpose performance problem.

[2019-02-20 16:44] #965 closed

[2019-02-20 17:54] asispatra opened #1011 "[QST] Does rapidsai's cudf helps in loading only DataFrame kind data or any kind of data?"
Does rapidsai's cudf helps in loading only DataFrame kind data or any kind of data?

[2019-02-20 18:01] kkraus14 commented on #1011
@asispatra currently the IO capabilities are for loading tabular data into a columnar data structure, but we have plans to separate this out into a separate cuIO library that will have more flexibility. Is there a specific data format or use case you have in mind?

[2019-02-20 18:57] #984 closed

[2019-02-20 19:09] asispatra commented on #1011
@kkraus14, Alexnet on Tensorflow usages TensorRecords for training and inference. In this kind of scenario I have seen that the data loading and pre-processing takes longer time than the GPU computation.

Can I use CuDF to optimize the data loading and pre-processing time here?

Thanks.

[2019-02-20 19:18] kkraus14 commented on #1011
We don't currently support TFRecords as an input format, but we'll add it to our list to explore, thanks!

[2019-02-20 19:20] asispatra commented on #1011
Thanks @kkraus14 for the quick reply.

[2019-02-20 19:20] #1011 closed

[2019-02-20 20:01] #824 closed

[2019-02-20 21:01] vuule opened #1015 "[BUG] CSV Reader: some integer values get falsely identified as boolen values"
Values [3977, 4329, 24015, 27567] are false identified as [1, 1, 0, 0].
This is because integer conversion of strings  ["True", "TRUE", "False", "FALSE"] yields these values.
Since these values are well within a range of expected valid integers, this should not happen and can cause errors when processing some data sets.

[2019-02-20 21:13] #969 closed

[2019-02-20 21:35] kkraus14 commented on #629
Closed by #920, will be GPU accelerated in the future.

[2019-02-20 21:35] #629 closed

[2019-02-20 22:29] #968 closed

[2019-02-20 22:36] #831 closed

[2019-02-20 22:40] kkraus14 commented on #883
Resolved by #1004.

[2019-02-20 22:40] #883 closed

[2019-02-20 22:44] #1006 closed

[2019-02-20 22:47] kkraus14 commented on #874
This is resolved with #857

[2019-02-20 22:47] #874 closed

[2019-02-20 22:49] kkraus14 commented on #901
Closing this as it's resolved upstream in dask and out of scope for cuDF.

[2019-02-20 22:49] #901 closed

[2019-02-20 23:02] devavret commented on #696
Coincidentally, I just found this bug on my own an hour ago but when I went to report it, found it here.

[2019-02-20 23:17] #970 closed

[2019-02-21 00:01] mrocklin opened #2252 "Solutions for creating random datasets"
For examples and testing it would be useful to have functions to generate random dataframes.

### Use dask.datasets.timeseries

For Pandas-backed Dask Dataframe we have the `dask.datasets.timeseries` function

[code]

In theory we could do something like ...

[code]

except ...

1.   We'll have to use the `dtypes=` keyword to avoid string types (until string support arrives)
2.  We might have to u

[2019-02-21 16:51] quasiben opened #2253 "group.agg fails when using multindex"
when performing groupby operations in the style of:
[code]

dask-cudf fails.  I believe this is currently due to cudf not having support for multiindexes ?  though I'm not quite sure at the moment.  cudf can operate on the above:

[code]

dask-cudf, i think, builds a Multiindex -- in the middle of a debug session:

[code]

So we have columns (y, 'max') and (y, 'sum') and tuples are not supported a

[2019-02-21 17:02] taureandyernv commented on #989
Hey, after chatting with Randy, I re-titled the issue to be more clear.  `read_csv_strings`, while informative, was sadly a red herring.  I feel that we need to reopen and investigate this issue.

`read_csv` is not hashing the strings properly, as it creates duplicate values for dissimilar strings.  I created a smaller file to showcase the behavior.  You can see in the payment method is varied in

[2019-02-21 17:23] jrhemstad opened #3099 "Too many member functions in NVStrings"
Currently much (all?) of the functionality of NVStrings is implemented via member functions.

Similar to https://github.com/rapidsai/nvstrings/issues/64, this makes it very difficult to understand and use the class. It also makes it difficult to add new functionality because it requires modifying the class.

Instead, the NVStrings class should only have as few member functions as absolutely necess

[2019-02-21 17:28] quasiben commented on #483
@kkraus14 @thomcom do you have an estimate on supporting MultiIndexes ?  Is this something for after conferences  ?

[2019-02-21 17:36] mrocklin commented on #483
For context, it looks like we need multi-indexes specifically for dask groupby aggregations using the `agg` method and a column accessor like ...

    df.groupby(...).x.agg(['mean', 'sum'])

The following two seem to work today

    df.groupby(...).agg({'x': ['mean', 'sum']})
    df.gropuby(...).x.mean()

This might be sufficiently rare that we don't want to prioritize it if it's expensive to do o

[2019-02-21 18:28] randerzander commented on #989
A simpler repro..

I'm not sure if dtype inference is supposed to work for hashing strings.. @mjsamoht can you comment?

Test 1: Using dtype inference
[code]

Result:
[code]
In the above, if you don't specify dtypes, strings get hashed, but all to the same value.

Test 2: When specifying dtypes, hashing is working as expected:
[code]

Result 2:
[code]

[2019-02-21 18:50] thomcom commented on #483
I'm working on it today. I either expect to have it done within a week or to identify that our existing architecture makes it too hard.

[2019-02-21 18:51] mrocklin commented on #483
If it takes a week then we should punt and work on other things.

On Thu, Feb 21, 2019 at 10:50 AM H. Thomson Comer <notifications@github.com>
wrote:

[2019-02-21 19:09] quasiben opened #1020 "[FEA] support filtered selection with assignment"
With #970 finished i would like to be able to use a boolean dataframe in selecting values to assign :

[code]

cc @mrocklin

[2019-02-21 19:11] mrocklin commented on #1020
Is this something that is easy for you to do @quasiben , or perhaps @thomcom or @kkraus14 can provide some pointers?

[2019-02-21 19:15] quasiben commented on #1020
I think I can get this done...

[2019-02-21 19:18] j-ieong commented on #989
Hi @randerzander, to clarify you wish to have the strings hashed rather than be maintained as strings correct?

What cudf version are you using?
We fixed a bug with string hashing with PR #927, to be in the 0.6.0 release. It should fix the issue of same hash, due to not taking into account start offset of the field.

[2019-02-21 19:30] randerzander commented on #989
@taureandyernv were you building from source in branch-0.6, or using the 0.5 container or..?

[2019-02-21 20:01] taureandyernv commented on #989
Used 0.5.1 after pulling latest docker.  confirming source `branch 0.6` hashes correctly.  Will update notebook text to advise others to use 0.6 for this notebook.  Will add notebook to be release schedule for 0.6 docker container

[2019-02-21 20:01] #989 closed

[2019-02-21 20:56] kkraus14 commented on #696
Fixed by #1019

[2019-02-21 20:56] #696 closed

[2019-02-21 21:00] mrocklin commented on #256
It looks like we could use this for `np.sqrt` at least for groupby std.  cc @quasiben

[2019-02-21 21:18] kkraus14 opened #1023 "[FEA] Update Python implementation of fillna to use libcudf function"
With #643 merged we should update our `fillna` function to use the libcudf function.

[2019-02-21 21:20] jrhemstad commented on #1023
@shwina I believe you said you'd take this on?

[2019-02-21 21:22] shwina commented on #1023
Yup. PR incoming

[2019-02-21 22:22] randerzander commented on #652
@mrocklin we previously used numpy example formatting, including the ">>>" ipython style prompts, but actually moved away from it to the `.. code-block:: python` delineation for two reasons:

1. Users complained about difficultly copy/pasting example snippets into their own code.

This is entirely subjective and based on individual preference. I searched for an extension for the front-end that mak

[2019-02-21 22:30] mrocklin commented on #652
I feel somewhat strongly about this.  Almost all PyData projects use numpydoc standard today.

OK, maybe I just go ahead and do it?  I think that this is a couple hours of work.

I'm surprised to hear this.  Were we using the `numpydoc` sphinx extension?

I think that we generally do the convention above today.  Here is one example:

https://github.com/rapidsai/cudf/blob/866bded65af7d24095031e7216

[2019-02-21 23:20] randerzander commented on #652
Ah. Tail is new in branch-0.6.

I did a search for "cudf.dataframe" in the [API docs page](https://rapidsai.github.io/projects/cudf/en/latest/api.html#dataframe) and didn't find any.

Yes, we're using the [numpydoc extension](https://github.com/rapidsai/cudf/blob/branch-0.6/conda/environments/cudf_dev.yml#L25)

For example, if you build docs from branch-0.6 right now, there are quite a few warning

[2019-02-22 00:29] jrhemstad opened #1025 "`convert_string_to_dtype` in csv_reader is problematic"
This bit of code in the `csv_reader` is problematic https://github.com/rapidsai/cudf/blob/0c7411ce1c75d87d842593e7f92402a67b879c7f/cpp/src/io/csv/csv_reader.cu#L854

It is difficult to maintain because it requires manual updating anytime a new `gdf_dtype` is added. Avoiding things like this is why the `type_dispatcher` was created: https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/utilities

[2019-02-22 03:31] #1015 closed

[2019-02-22 09:39] kovaltan commented on #954
[jrhemstad](/jrhemstad)
I think the custom kernel is required to handle nulls. https://github.com/rapidsai/cudf/blob/c5b9d3e84eaf932ff87f336df72092aa7e9ba13a/cpp/src/reductions/reductions.cu#L47-L49
`thrust::reduction` cannot directly handle nulls unless we have null bitmap iterator for thrust.

Can we drop 2: `thrust::reduction` request  from this bug?

[2019-02-22 15:42] jrhemstad opened #1027 "[FEA] Transition libcudf to a native C++ API w/ C wrapper API"
**Is your feature request related to a problem? Please describe.**

Despite libcudf being a C++14 library, our native external API and types are all pure C. This is problematic because the "C"-ness of the API and types are viral and infect libcudf internals because the C constructs are not properly isolated from the internals of the library.

For example, `gdf_column` is a C-struct lacking any con

[2019-02-22 15:55] jrhemstad commented on #954
So there's two orthogonal issues that I didn't do a good job of enumerating:
1. Single stage reduction
2. Use `thrust::reduction`

2. Is just a means for accomplishing 1., but I agree that accomplishing 2. may require some extra work.

In the meantime, a single-stage reduction can be accomplished by simply using an atomic to update the global reduction with each block's reduction result.

[2019-02-22 19:09] trstovall commented on #957
@thomcom @miguelangel The problem exists when any column in the dataframe has nulls.  The workaround of `fillna` on all columns before `query` works for me.

[2019-02-22 20:01] miguelangel commented on #852
Hi,

A solution has been found for cuml, which presents the same issue.

https://github.com/rapidsai/cuml/issues/180#issuecomment-466523299

Hope it helps.

Regards,
Miguel

[2019-02-22 20:12] eyalroz opened #1030 "[BUG] Use a typedef for representing a number-of-columns"
We currently have some API functions which take a variable number of columns using `gdf_column **`, and an extra parameter indicating the number of columns. Right now, such parameters are "hard-typed" as `int`. Instead, such values should have a more meaningful type: `gdf_column_index_type` (or another name if you like; it could be `gdf_record_size_type` as opposed to `gdf_column_size_type`, for c

[2019-02-22 20:14] jrhemstad commented on #1030
It definitely should be `gdf_size_type`, and all new features and updates to existing APIs I have reviewed I've requested the change be from hardcoded types to `gdf_size_type`.

However, a cleanup pass is required to update existing APIs to make the same change.

[2019-02-22 20:16] eyalroz commented on #1030
1. Are you sure we intend to support 2^32-1 columns rather than, say, 2^16-1?
2. Why not gdf_index_type then?
3. Even if it's the same type, I would prefer a gdf_column_index_type, but would not feel very strongly about it.

[2019-02-22 20:20] mrocklin opened #1031 "[FEA] Support additional merge keywords left/right_on, indicator, suffixes"
If cudf can support the following keywords to merge then we can start to reuse some of the corner case implementations in dask.dataframe.merge.  In particular I'm looking at the large dataframe to single-partition dataframe case.

-  `suffixes`: This seems to have replaced `lsuffix` and `rsuffix` currently in cudf.DataFrame.merge.  Those keywords no longer seem to be present in the Pandas signatur

[2019-02-22 21:10] mrocklin commented on #627
Increasing

[code]

[2019-02-22 21:11] mrocklin commented on #627
Looking at the profile it looks like we're doing a lot of odd things at import time

[code]

[2019-02-22 23:33] mjsamoht commented on #987
Using the attached csv file from @MurrayData I was able to reproduce two problems with our handling of scientific data:
1. We incorrectly handle **negative exponents that start with a zero**.  E.g. 3.1e-01 will be interpreted as 3.1e-1 because we multiply the sign with the first digit of the exponent.  To fix this we probably want to remember the sign of the exponent and multiply at the end.
2.  A

[2019-02-22 23:33] mjsamoht commented on #987
@j-ieong Can we fix this for release v0.6?

[2019-02-23 10:49] taureandyernv opened #1035 "[BUG]read_csv is hashing long float64 values and redacting last row in 0.6"
**Describe the bug**
read_csv hashes long floats and redacts the last row

**Steps/Code to reproduce bug**
[code]

test.csv
[code]

gives
[code]
**Expected behavior**
df should return something like this
[code]

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: docker build of branch 0.6

[2019-02-23 10:58] taureandyernv commented on #1035
Same code as above, different csv values, where lat increases in floating point precision
test.csv
[code]

Result:
[code]

[2019-02-24 00:51] j-ieong commented on #1035
The bug shouldn't be about sudden switch to hashing, but rather that the floating point parsing isn't using enough digits for the fractional part.

[2019-02-24 10:29] eyalroz commented on #1027
I generally agree with Jacob.

That is, I believe cudf should have two APIs - in C++ and in C, either on "equal footing" or have the C++ API as the primary one and the C API considered "bindings". At a later (?) stage, the Python bindings could possibly be based on the C++ API (Cython supports this).

Now for some more detailed comments...:

The "viral infection" is, IMHO, due to (at least) 6 fact

[2019-02-24 17:37] mrocklin commented on #981
I believe that this is still live.  Reopening.

[code]

[2019-02-25 03:23] quasiben opened #1037 "[FEA] dtype as argument parameter for Series/Dataframes"
I should be able to define the dtype of Series/Dataframe during construction:

[code]

[2019-02-25 09:42] kovaltan commented on #954
Okay, I will implement by using atomic operations.

[2019-02-25 09:58] kovaltan commented on #978
Do we also need `sum_of_squares` ?
`reduction` also support it.

[2019-02-25 10:40] miguelusque opened #1038 "[FEA] Implement DataFrame.info"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to know which is the current memory usage of a DataFrame.

That info can be retrieved in Pandas with _pandas.DataFrame.info_ method.

**Describe the solution you'd like**
To be implemented something similar to https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html

**Descri

[2019-02-25 14:55] jrhemstad commented on #978
I don't believe we need a `scan` equivalent of `sum_of_squares`.

Yes, that would be ideal. That's what I described in  https://github.com/rapidsai/cudf/issues/954 as additional work to be done.

[2019-02-25 16:18] eyalroz opened #1039 "[BUG] Use standard (lowercase) doxygen tags"
In Doxygen, the keyword used for parameters is `@param`. Note: Lower case. However, all of our Doxygen comments are laced with `@Param` . While doxygen itself may (or may not) overlook this, some IDEs do not, messing up syntax highlighting and pop-up explanations. The same goes for `@Returns`, etc.

So we should just lowecase the lot.

Also - we should use `@brief` instead of `@Synposis` (or `@syn

[2019-02-25 17:39] paulhendricks opened #1041 "[FEA] Add date attribute to cudf.dataframe.series.Series.dt"
**Is your feature request related to a problem? Please describe.**

Add date attribute to cudf.dataframe.series.Series.dt so one can access the date component of a `datetime64[ms]` column.

[code]

The whole reproducible code is below:

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**
Could use the `year`, `month`, `day` and concatenate a string. Im

[2019-02-25 18:52] #1020 closed

[2019-02-25 20:01] TomAugspurger opened #1042 "[BUG] DataFrame.loc[scalar] not implemented"
**Is your feature request related to a problem? Please describe.**

Selecting rows by label.

**Describe the solution you'd like**

DataFrame.loc should accept an integer to select a row by label.

[code]

Compare with pandas

[code]

---

Note that pandas allows for duplicate row labels, so in principle, the type of `DataFrame.loc[scalar]` is `Union[Series, DataFrame]`

[code]

I think ignoring d

[2019-02-25 20:58] #987 closed

[2019-02-25 20:58] #1035 closed

[2019-02-25 21:13] TomAugspurger opened #1043 "[FEA] Zero-copy creation of DataFrame from a list of DeviceNDArrays"
**Is your feature request related to a problem? Please describe.**

I'd like to (de)serialize a DataFrame while minimizing the number of intermediate copies. It looks like `cudf.DataFrame()` may perform a copy when the input is a dict-like of `{name: DeviceNDarray}`.

[code]

**Describe the solution you'd like**

That assertion would ideally pass: `df2.A` and `df1.A` would refer to the same array

[2019-02-25 21:28] TomAugspurger commented on #1043
User error on my part, `Series.to_gpu_array()` will incur a copy.

So  the following is zero-copy, but doesn't handle nulls correctly

[code]

To handle nulls, you'd need to serialize the `nullmask`, and use something like

[code]

[2019-02-25 21:38] jrhemstad commented on #1027
Indeed, this is what I am suggesting.

Agreed, this is a chief motivation for providing the split between the primary C++ API and the wrapper C API, to enforce isolation.

Agreed.

Possibly, but I'd prefer to just wait to move to C++17 until `nvcc` supports it.

Very much agree here. I'm hoping that a coding style guide can include some suggestions on "Modern C++ sensibilities" most relevant to li

[2019-02-25 22:14] dillon-cullinan commented on #956
There was a bug where the Series() class was referencing itself in our docs causing none of the functions to show. This has been resolved.

[2019-02-25 22:14] #956 closed

[2019-02-25 22:24] eyalroz commented on #1027
About your suggested steps: Writing `cudf::column` properly is closer to the last thing we would be doing. It is not a simple class at all. So I'm not sure I would start that way.

About using `arrow::Array` or `arrow::Table`... [expletives remove here]. I wouldn't touch that with a 10-foot-pole if I didn't have to. To the extent that we need memory layout compatibility with it, or to take `arrow:

[2019-02-25 22:27] kkraus14 commented on #1027
@eyalroz I'm squashing this right now. We are not moving to C++17 because packaging and deploying it then becomes a support nightmare that we are not going to undertake at this time.

[2019-02-25 22:28] eyalroz commented on #1039
@kkraus14 : How about also doing @Synopsis -> @brief at the same time? `@Synopsis` (or `@synposis`) is also [non-standard](http://www.doxygen.nl/manual/commands.html).

[2019-02-25 22:31] miguelangel commented on #956
Hi @dillon-cullinan,

Thank you for fixing it. Nevertheless, there is a typo in the method description. It says ‘valies’ instead of ‘values’:

Returns the number of unique valies of the Series: approximate version, and exact version to be moved to libgdf

[2019-02-25 22:42] jrhemstad commented on #1027
What I'm suggesting is providing the bare minimum C++ analog for a `gdf_column` such that we can start transitioning APIs to accept `cudf::column` parameters with minimal refactoring of libcudf internals and algorithms. Once the APIs are updated to accept `cudf::column`, we can always totally rewrite the internals without having to update the APIs.

[2019-02-25 22:45] jrhemstad commented on #1027
Aside from packaging issues, imagine you've got a class fully defined in a header. Some host member functions you may want to use C++17, but the class also has `__device__` member functions, meaning it has to be compiled with `nvcc`. Even though the host functions are compiled with the host compiler, `nvcc` will still refuse to compile the class. While there may be ways to cleverly separate these

[2019-02-25 23:43] felipeblazing commented on #1027
For the modern stuff I agree guidelines are necessary particularly for fools like me. Though luckily our team is much more up to date on that stuff :).

Ahhhh. We all knew this would happen someday but there are a few things that are going to make this tricky. So this will cause some problems for the stuff we have been doing for NVCategory and NVStrings becuase we are not following the same data l

[2019-02-25 23:50] eyalroz commented on #1027
@kkraus14 :

Ok. However - we can definitely make use of some C++17 and C++20 _library_ goodies without switching to C++17 or C++20. All the examples I mentioned have widely-used and well-regarded C++14 (or earlier) implementations.

[2019-02-25 23:52] jrhemstad commented on #1027
This is a really great point. I hadn't considered this how we're very non-standard wrt to Arrow and NVStrings/NVCategories.

To me this is just another nail in the coffin of using the Arrow types natively.

[2019-02-26 00:16] datametrician commented on #1027
We could work to align NVStrings/NVCategories to Apache Arrow String types

[2019-02-26 00:27] jrhemstad commented on #1027
If that's an option, then I suppose it's not a problem.

(reposting this here)

One other issue is that we'd need some of the members of `arrow::Array` and `arrow::Table` to be `__device__` functions. Assuming we can make that happen, we've still got a problem: _relocatable device code_.  Since Arrow is an external shared library, in order to use `__device__` functions from the library, it would n

[2019-02-26 00:44] felipeblazing commented on #1027
I dont think paying that cost is feasible. I am not sure if we can get header only implementations from this out of arrow. Might we not just have our own implementations that use the header file to know what to implement?

[2019-02-26 00:49] jrhemstad commented on #1027
Do you mean maintaining our own header-only version of Arrow?

[2019-02-26 01:18] jrhemstad opened #1045 "Should libcudf use Arrow data structures natively?"
This issue is to focus the conversation that started in https://github.com/rapidsai/cudf/issues/1027

The question is, should libcudf natively use Arrow structures such as `arrow::Array` and `arrow::Table`?

This can take at least two forms:

1. libcudf accepts `arrow::*` structures in its external C++ API, but immediately converts it to our own internal structure

   - This would mainly be for co

[2019-02-26 01:18] jrhemstad commented on #1027
Moving conversation related specifically to using the Arrow structures here: https://github.com/rapidsai/cudf/issues/1045

[2019-02-26 03:14] randerzander opened #1046 "[FEA] cudf/python bindings for DLPack"
When #913 lands, we'll need Python bindings for rank 1 and 2 tensors:
`cudf.Series.to_dlpack`
`cudf.Series.from_dlpack`
`cudf.DataFrame.to_dlpack`
`cudf.DataFrame.from_dlpack`.

[2019-02-26 09:14] eyalroz commented on #1039
@kkraus14 Actually, I just noticed I missed one or two functions which were added to branch-0.6 before I had forked it last... `gdf_replace_nulls` and `gdf_digitize`.

[2019-02-26 15:50] kkraus14 commented on #1039
Feel free to open up a followup PR, no worries!

[2019-02-26 16:15] randerzander opened #1048 "[BUG] cudf.Series.to_gpu_array fails when supplying fillna param"
From tip of cudf branch-0.6:

1. the [API doc for Series.to_gpu_array](https://rapidsai.github.io/projects/cudf/en/latest/api.html#cudf.dataframe.Series.to_gpu_array) indicates a `str` value should be supplied for fillna.

I expected this to be a numeric type, the value which nulls would be replaced with in the resulting device array.

2. When passing a str _or_ numeric values, I get an error.

Re

[2019-02-26 16:25] kenhester opened #1049 "nrows support in cudf.io.csv.read_csv_strings() is causing an exception"
**Describe the bug**
When calling cudf.io.csv.read_csv_strings() using nrows to read a file in chunks, I get a thrust exception.

Exception:
[code]

**Steps/Code to reproduce bug**
Full python code in file attached

Snippet:
[code]

**Expected behavior**
Read the file in chunk windows.  For last chunk, return remaining rows without exception.

**Environment details (please complete the following i

[2019-02-26 16:26] kkraus14 commented on #1048
@randerzander does it work if you pass just `s.to_gpu_array(fillana=-1)`?

[2019-02-26 16:36] robocopnixon opened #1050 "[BUG] read_csv is adding extra blank rows to data frame."
**Describe the bug**
When reading a csv file,` cudf.read_csv()` adds extra blank rows to the data frame. On a csv of ~ 18K rows, about 280 extra were added. In this reproduction of the issue, you will see

**Steps/Code to reproduce bug**
This code, when used on the CSV file, reproduces the issue.

[code]

A 299 row subset of the original data is shared here: https://drive.google.com/open?id=12prsl

[2019-02-26 16:45] robocopnixon opened #1051 "[BUG] read_csv includes return character in column name."
**Describe the bug**
`read_csv()` writes the final variable name here as "cnt\r" rather than "cnt" like it does in pandas.

**Steps/Code to reproduce bug**
[code]
The data file to reproduce the issue is available here: https://drive.google.com/open?id=12prslVeAlGqERB7DR5q_AVx4N5v9We50

**Expected behavior**
The return character should not be included in the column name. Pandas is able to do this.

[2019-02-26 17:26] randerzander commented on #1048
no, it doesn't. Edited the repro to make it clearer that -1 also doesn't work

[2019-02-26 17:32] vuule commented on #1050
I've made some changes recently that should also fix this issue.
@robocopnixon, can you please merge https://github.com/rapidsai/cudf/pull/1044 and check if the issue still reproes?

[2019-02-26 17:41] vuule commented on #1051
I should be able to look into this today. @mjsamoht, please assign to me.

[2019-02-26 20:14] vuule commented on #1050
I cannot repro the issue with branch-0.6.
@robocopnixon, which cuDF version are you using?

[2019-02-26 20:25] mrocklin opened #1055 "[FEA] Square Root via __array_ufunc__ protocol"
As a special case of https://github.com/rapidsai/cudf/issues/256 it would be useful to have a `sqrt` computation accessible from cudf on the Python side.  This would enable the computation of groupby-std (among other things).

Looking at instances of sqrt in the codebase today

[code]

We see references to it in C++ side, a few references to bindings in the Cython side, but no use of it on the Pyt

[2019-02-26 20:57] randerzander opened #2254 "[FEA] Support Parquet, ORC, JSON readers & writers"
cuDF recently merged support for more file formats, including Parquet, ORC, JSON, Feather, and HDF5.

Today we can work with those file formats by using dask.read_parquet, etc, but that'll convert them to Pandas DataFrames, and requires the user to then do a .map_partitions to turn pd.DataFrames into cudf.DataFrames. That is slow and a painful user experience.

dask-cudf should be extended to hand

[2019-02-26 21:44] j-ieong commented on #1050
The env.txt shows `cudf 0.5.1`. @robocopnixon, can you try 0.6 if possible? Thanks!

[2019-02-26 23:05] j-ieong commented on #1049
@kenhester, can you try 0.6?
I think some parameters were not handled the same way between `read_csv()` and `read_csv_strings()` that was fixed in 0.6.

[2019-02-26 23:11] jlowe opened #1056 "[BUG] gdf_table gather_valid_mask and scatter_valid_mask assume destination is zeroed memory"
**Describe the bug**
The gather_valid_mask and scatter_valid_mask kernels only copy the valid bit from the source if the bit is set.  This is only correct behavior if the destination memory is zeroed.  If the memory is not zeroed then the result of a valid mask scatter/gather could be a row entry being represented as valid when the original source row was not.

**Steps/Code to reproduce bug**
Gath

[2019-02-26 23:14] jrhemstad commented on #1056
I believe this is fixed in https://github.com/rapidsai/cudf/pull/577

[2019-02-26 23:21] kenhester commented on #1049
If I provide a data file, would you be able to test the fix applied in 0.6?

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailto:khester@nvidia.com>

GTC 2019<https://www.nvidia.com/en-us/gtc/> |San Jose Convention Center|Workshops- March 17, 2019  |Conference- March 18-21,2019

From: Jaime Ieong <notifications@github.com>
Sent: Tuesday, February 26, 2019 5:06 PM
To:

[2019-02-26 23:26] vuule commented on #1049
Yes. If you provide the code to repro the issue and the data file, we can check it against 0.6.

[2019-02-26 23:29] kenhester commented on #1049
Code is attached to the issue in the zip file.

I can provide access to a data file through a private channel as the data not public.

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailto:khester@nvidia.com>

GTC 2019<https://www.nvidia.com/en-us/gtc/> |San Jose Convention Center|Workshops- March 17, 2019  |Conference- March 18-21,2019

From: Vukasin Milovanovic <notif

[2019-02-27 00:47] jrhemstad opened #1057 "[FEA] Refactor `apply_bitmask_to_mask` and provide cleaner API for `AND`ing two bitmasks together"
The current function `apply_bitmask_to_bitmask` has a couple of problems and just generally needs to be simplified.

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/bitmask/bitmask_ops.cu#L62

1. Should use `gdf_get_num_chars_bitmask` directly instead of recomputing it itself

2. Lots of unnecessary Thrust iterator stuff going on

3. Uses inscrutable magic vector of numbers https://github

[2019-02-27 03:21] #973 closed

[2019-02-27 11:39] shwina opened #1059 "[BUG] Series with all valid nan not correctly handled"
**Describe the bug**
Series with all nan values and `nan_as_null=False` is treated as having all null values.

**Steps/Code to reproduce bug**

[code]

Compare with:

[code]

**Expected behavior**

The `null_count` attribute for a Series with all valid nan should be 0.

**Additional context**

If this is considered a bug, fix in #1060

[2019-02-27 14:52] quasiben opened #1061 "[FEA] Binning/Histograms"
In exploration of data, histogramming with a fixed bin size can be useful when trying to understand distribution and especially skew.  I would like to be able to generate a histogram on a column/series of a dataframe.  While `value_counts` exists, it doesn't expose an option to set the number of bins.  Providing both an option to value_counts and a new method, `hist` would be valuable.

cc @thomco

[2019-02-27 15:02] quasiben opened #1062 "[BUG] Quantiles naively do not work"
I'm naively trying to use a quantile and found it to not work.  Below is a small example with error:

## Sample
[code]

## Error
[code]

cc @kkraus14

[2019-02-27 15:34] jrhemstad commented on #1061
We could probably provide this at the libcudf level.

[2019-02-27 15:39] beckernick opened #2255 "[FEA] Ascending parameter in DataFrame.sort_values"
## Request

Like cudf, it would be nice if the `sort_values` method were parameterized to allow ascending or descending sorts.

## Example

The following cuDF code sorts in descending order:

[code]

But the equivalent dask_cudf example fails:

[code]

[2019-02-27 15:46] beckernick opened #2256 "[FEA] dask_cudf.from_pandas equivalent functionality"
## Request

As a user, I want to go directly from a pandas dataframe to a `dask_cudf` dataframe, rather than a `dask` DataFrame. Loose thoughts include directly via a from_pandas method or pandas -> cudf conversion within from_cudf.

## Example

[code]

[2019-02-27 16:15] eyalroz commented on #1045
We should not use the Arrow data structures (i.e. the software _code_; I don't mean the physical memory layout which we are adhering to).

1. They are written in outdated and inopportune C++. I suppose I should elaborate on this point - will do so later.
2. Adopting the Arrow code is not necessary for maintaining our physical compatibility with the Arrow layout.
3. Once we're physical-layout-compa

[2019-02-27 16:58] paulhendricks opened #1063 "[FEA] Implement `cudf.get_dummies` utility function"
**Is your feature request related to a problem? Please describe.**

Implement the `pd.get_dummies` utility function. Today, we have `cudf.dataframe.DataFrame.one_hot_encoding` which while similar provides lower level functionality.

The key difference between `cudf.dataframe.DataFrame.one_hot_encoding` and the proposed `cudf.get_dummies` is that the former is a method for `cudf.dataframe.DataFrame

[2019-02-27 17:04] jrhemstad commented on #1045
@eyalroz to be clear, you're suggesting we pursue neither 1. nor 2. from what I wrote, and instead if someone wants to use `arrow::Array` or similar in `libcudf`, then we need to provide a converter from arrow -> cudf?

This is largely a minor implementation detail vs. option 1 I provided. It's just a matter of if we take care of the conversion automatically, or require the conversion be done befo

[2019-02-27 17:45] #1059 closed

[2019-02-27 19:24] quasiben opened #1064 "[BUG] mean() fails on groupby"
nycsmall.csv:

[code]

[code]

The call on groupby().mean() fails with the following:

[code]

cc @jrhemstad any ideas what's going on here ?  I can try and reduce the columns to figure out what's  going on if that's helpful

[2019-02-27 19:38] jrhemstad commented on #1064
What's the type on the `passenger_count` column?

[2019-02-27 19:39] quasiben commented on #1064
`passenger_count` is int64

[code]

[2019-02-27 19:44] jrhemstad commented on #1064
Hmmmm, `int64` is definitely supported. Not sure where the `GDF_UNSUPPORTED_DTYPE` is being thrown from.

I'll try to repro locally.

[2019-02-27 19:57] mrocklin opened #2257 "Add API docs"
It would be useful to have a whitelist of operations that do work under Dask-cuDF.

We'll be in a tough spot expectation-wise because both cudf and dask.dataframe will have more functionality than this project, and so people will probably expect more from us than we can deliver.  Having a page that we can point them to to reset expectations will probably be handy.

[2019-02-27 20:47] rlratzel commented on #1027
I like this proposal and would like to add something else to consider.

We could possibly generate the C API from the public C++ interfaces as part of the build process. This would prevent C constructs from leaking into the C++ core simply by not having them be part of the sources at all, and could eliminate the burden of having to maintain two APIs in parallel. Code generation also eliminates the

[2019-02-27 20:54] beckernick opened #2258 "[BUG] Series Apply fails (seemingly) due to lack of apply method in cudf.Series"
## Request

As a user, I want to apply elementwise functions to transform my columns. I can do this with standard dask dataframes (with a slightly different API), but not with dask_cudf dataframes.

The existing `apply` method in dask_cudf appears to be attempting to leverage the `apply` method of a `cudf.Series`, which doesn't exist. There is an `applymap` method, though, that generally appears t

[2019-02-27 20:58] #936 closed

[2019-02-27 21:15] devavret commented on #1057
There's a small design issue: `apply_bitmask_to_bitmask` is called from `gdf_hash_columns` which receives a pointer to a stream in the API. This same stream is passed on to `update_null_count`. If we want to replace it with `gdf_count_nonzero_mask` then we probably should have a way to pass the stream to it. This won't be possible until the API is converted to C++ because I cannot add a default pa

[2019-02-27 21:56] jrhemstad commented on #1064
I was able to reproduce locally, however I discovered that even when I distill your repro down to:

[code]

That the `libcudf` `gdf_group_by` function is getting called _twice_ when it should be only getting called once.

The first call succeeds, but the second call's arguments are garbage and happens to fail on the `GDF_UNSUPPORTED_DTYPE` check.

[2019-02-27 22:06] thomcom commented on #1064
Thanks @jrhemstad. This might be caused by `__getattr__` making a call to `__getitem__` which creates a copy of the original groupby object. I'm mostly responsible for this and am looking into it.

[2019-02-27 23:06] thomcom commented on #1064
I don't know what the problem is - normally `agg_func` is called for each column that we're grouping by.

[2019-02-28 15:34] williamBlazing opened #1067 "[DOC] gdf_filter requires better documentation"
PR 541 is adding more Doxygen like documentation in the file functions.h
But more documentation is required for the function gdf_filter().
It should contain more detailed explanation of the functions semantics, expected use, etc.

Furthermore the comments above the function definition of gdf_filter in sqls_ops.cu is confusing.

[2019-02-28 18:58] randerzander opened #1069 "[DOC] Conda package page for cudf has incorrect instructions"
The rapidsai [anaconda page for cudf](https://anaconda.org/rapidsai/cudf) instructs users to ```conda install -c rapidsai cudf ```

This will fail with errors due to missing extra required channels.

The install command should be: ```conda install -c rapidsai -c conda-forge -c nvidia -c numba -c defaults cudf```

[2019-02-28 20:58] robocopnixon commented on #1050
Okay, I did try this on 0.6 and it is no longer present. Thank you.

[2019-02-28 20:58] #1050 closed

[2019-03-01 00:54] eyalroz commented on #1045
@jrhemstad : I am suggesting we pursue neither 1 nor 2. If we adhere to the Arrow memory layout with gdf_column or whatever may replace it, and someone wants to use `arrow::Array`, well - fine, they can just do: `reinterprect_cast<arrow::Array*>(my_gdf_column_ptr)`. And that's that.

To put it more bluntly, I'm suggesting we don't "get into bed" with the `arrow::Array` code at all.

About NVString

[2019-03-01 02:22] beckernick opened #2259 "[BUG] left join style merge reorders resultant dataframe"
## Description
As a user, I expect the resultant dataframe from a left join to preserve the row ordering from my `left` dataframe. This reordering occurs when the `left` and `right` dataframes have all keys in common and when the `right` dataframe only has a subset of the `left`'s keys.

## Example
[code]

[2019-03-01 02:54] harrism commented on #1039
I don't see the difference in the two versions of `@param` you wrote above. Can you clarify?

[2019-03-01 03:12] beckernick opened #2260 "[QST] to_csv and other methods fail due to lack of upstream implementation"
## Description
As a user, I want to write my dask_cudf dataframes to CSV files for storage. Currently, a `to_csv` API is exposed but causes an error due to a lack of upstream `to_csv` implementation in cuDF. This is a known feature request for cuDF, but is relevant here as the exposed `to_csv` API may confuse users of dask_cudf.

The broader question is, how do we want to handle broken dask_cudf A

[2019-03-01 07:54] eyalroz commented on #1039
GitHub is doing something weird to the capitalization. Let me try to force it to do what I want...

[2019-03-01 14:53] beckernick opened #2261 "[BUG] Cannot set indexes of type datetime64"
## Description
As a user, I may want to set a datetime column to be the index of my dask_cudf DataFrame. Currently, this causes an error in dask_cudf, but succeeds in both standard cuDF dataframes and standard dask dataframes.

Will add standard examples shortly.

## Standard Cudf Example

## Standard Dask Example

## Dask Cudf Example
[code]

[2019-03-01 16:30] jrhemstad opened #1070 "[FEA] Explore additional opportunities for GitHub PR automation"
**Is your feature request related to a problem? Please describe.**

Much of the management of PR titles and tagging is very manual, and often leads to PRs that are mis-labeled which ultimately leads to delays in getting PRs reviewed and merged, which slows down our development velocity.

**Describe the solution you'd like**

I'm wondering if some things in managing Labels could be automated to red

[2019-03-01 17:19] paulhendricks opened #1071 "[FEA] Support logical operators such as `&` and `|` for cudf.dataframe.series.Series"
**Is your feature request related to a problem? Please describe.**

The ability to use logical operators `&` and `|` with `cudf.dataframe.series.Series` data structures.

For example:

[code]

The whole reproducible code is below:

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

The following uses NumPy and ought to work:

[code]

**Additional con

[2019-03-01 18:20] jrhemstad opened #1072 "[FEA] Provide a generic "dictionary" column type"
**Is your feature request related to a problem? Please describe.**

Currently in libcudf we have the `GDF_CATEGORY` type, which is a column of `int32_t` elements that hold the mapping of some other column of elements into a 32-bit hash value representation. See Pandas Categorical type: https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

However, a 32-bit representation may be

[2019-03-01 18:23] felipeblazing commented on #1072
A way of knowing if the indices are sorted or not. E.G, can they be used for inequality comparisions in addition to equality comparisons would be interesting.

[2019-03-01 18:24] jrhemstad commented on #1072
I was thinking we'd make it a requirement that the dictionary/indices are _always_ order-preserving, but that may be too limiting.

[2019-03-01 18:25] felipeblazing commented on #1072
There are many situations where you moight not care. For example if you juse this for a hash based join you would not care since after you materialize you throw that crap away.

[2019-03-01 18:26] kkraus14 commented on #1072
On the Python side in our current categorical implementation we have a struct option to indicate whether the dictionary is ordered or not for this very reason.

[2019-03-01 18:28] jrhemstad commented on #1072
Yeah, after a little more thought, it makes a lot more sense to allow it to be ordered/un-ordered depending on the need.

[2019-03-01 18:32] vuule commented on #1049
Getting repro even with a small byte_range. It's starting to look like the issue is not related to OOM.
I'll isolate further today and update.

[2019-03-01 18:34] felipeblazing commented on #1072
In general Dictionaries would provide us with many optimization avenues when they exist. From filtering to allowing things like null substitution by just modifying the dictionary. The real magic starts happening when we leverage these dictionaries to make things more efficient.

[2019-03-01 18:55] mrocklin opened #1074 "[FEA] Support axis= and errors= keywords of drop"
It would be nice to support the axis= and errors= keywords of the drop method.  This would allow things like the following to work from dask.dataframe

    del df['x']

Also, it looks like the Pandas and cuDF defaults differ on the axis= keyword argument, which may cause issues.

[2019-03-01 19:26] eyalroz commented on #1070
This sounds like a partial dupe of an issue I filed a while ago.

[2019-03-01 19:35] eyalroz opened #1075 "[FEA] libcudf is missing a fill / constant-column function."
libcudf's API should have a function which lets you fill a column with a single, uniform value. This is more useful than it sounds; and on the Python side, RapidsAI has such a function (thus says @kkraus14 ).

Possible interface:
[code]
as the interface suggests, this variant would allow for a "nullable single value".

[2019-03-01 20:02] jrhemstad commented on #1075
I definitely support moving more functionality from the Python side to the C++ side.

My only suggestion would be to use the `gdf_scalar` struct for `value` instead of just a `void*`. (Note that this `gdf_scalar` is as of yet unmerged, but will be very soon).

https://github.com/rapidsai/cudf/blob/11b67dc96b9a119df4e43f2ccba1e5653df7995d/cpp/include/cudf/types.h#L96

[2019-03-01 20:18] eyalroz commented on #1075
@jrhemstad :
1. `gdf_scalar` should obviously be a union (or a variant if this were C++). Why not make it one? You wouldn't need the ugly pointer then.
2. Why is `gdf_scalar` not nullable? Or - do you want a nullptr to mean a null value?

[2019-03-01 21:11] #1051 closed

[2019-03-01 21:32] jrhemstad commented on #1075
For consistency with `gdf_column`.

We couldn't really think of a reason why you'd want a single null value. But representing it as a `nullptr` is one option if necessary.

https://github.com/rapidsai/cudf/pull/892

[2019-03-01 22:05] williamBlazing commented on #1075
I think that gdf_scalar should definitely be nullable. There are many situations where something like that is useful. If using nullptr is the easiest way to do it, so be it, having it be more explicit than that seems cleaner to me, but dont care that much.

[2019-03-01 22:09] mrocklin opened #4758 "Use Dask-cuDF for E2E notebook"
Eventually it would be a nice to use dask-cudf in the E2E notebook.  This would be useful both to make the notebook more readable, and also to drive development in cudf/dask-cudf.

[2019-03-01 22:29] mrocklin commented on #991
I also ran into this and came up with this reproducer before I found that the issue had already been raised.  Pasting it here anyway in case it's useful for reproduction or a test.

[code]

[2019-03-01 22:34] kkraus14 commented on #991
@mrocklin what would your expected output here be? Would `None > 2` return false? Would `None < 2` return false?

[2019-03-01 22:38] mrocklin commented on #991
I don't know.  I would defer to whatever databases do.  It looks like @quasiben may have some ideas above.

[2019-03-01 22:50] mrocklin commented on #544
For motivation, the lack of null support here makes some of our notebooks, notably the E2E mortgage demo somewhat less pleasant.

[2019-03-01 22:57] jrhemstad commented on #1075
@devavret sounds like the people have spoken. They want `gdf_scalar` to be nullable.

Can you add a `bool is_null` field either in your current PR or as a follow-on PR?

[2019-03-01 22:58] kkraus14 commented on #991
This is related to #902 which will allow us to move the boolean masking functionality to the libcudf side.

[2019-03-01 23:00] mrocklin commented on #991
It's starting to look like "better null support" might be a theme for 0.7

On Fri, Mar 1, 2019 at 2:58 PM Keith Kraus <notifications@github.com> wrote:

[2019-03-01 23:03] quasiben commented on #991
if cudf-py is trying to be a drop-in replacement for pandas then I would say it should do the pandas things

- selections ignore None/Nulls
- aggregations ignore None/ulls

[code]

[2019-03-01 23:04] devavret commented on #1075
😞 follow on PR it is.

[2019-03-01 23:17] mrocklin commented on #991
I think that we can deviate from Pandas from time to time.  Null handling is something that Pandas perhaps sees as a wart and they seem to be moving towards nullable columns in 0.24.  I suggest that we defer to SQL semantics here if possible.

[2019-03-01 23:51] vuule commented on #1049
Amazingly, I think I managed to reduce the repro to the following:
    repro_buffer =       'abcdefghijkl\n'+'abcdefghijk\n'
    no_repro_buffer = 'abcdefghijkl\n'+'abcdefghij\n'
    frame = read_csv(StringIO(*_buffer), header=None)
In the repro case, there are 25 characters in total. With 24 or fewer characters, there is no repro. The crash is not 100% consistent, but it is still very frequent (>

[2019-03-01 23:59] jrhemstad commented on #991
Note that you can _already_ do this, #902 simply is an optimization (though likely will rename the API...)

[2019-03-02 00:09] jrhemstad opened #1077 "[FEA] Add Thrust as sub-module"
**Is your feature request related to a problem? Please describe.**

Currently we rely on Thrust being installed in a user's CUDA tool-kit. Given our minimum supported version is CUDA 9.2, we cannot use the many new features from Thrust 10.1.

**Describe the solution you'd like**
Now that Thrust on GitHub is in-sync with what is released in the toolkit, we should add Thrust as a sub-module of cuDF

[2019-03-02 18:12] eyalroz commented on #1075
Disagree, but I'll go comment there since it doesn't matter for this purpose.

Same reason why you would want a non-NULL value. I can't think of (almost) any reason I'd take a gdf_scalar if it's non-nullable.

Expect some comments there!

[2019-03-04 01:46] quasiben opened #1078 "[QST] cudf styling"
I am currently working on a PR which adds some functionality and I want to have nice docstrings/documentation along with the features.  What should the *ideal* import and variable name be for cudf.  Essentially, I would like a style guide and try to adhere to that guide as best as possible. Variations I have seen thus for imports/names

## Imports:
- import cudf
- import cudf as gd
- from cudf imp

[2019-03-04 02:20] mrocklin commented on #1078
### Imports

I like

    import cudf

Because it's fully explicit, there is only one name, and it's short.

Secondarily I understand the motivation for

    import cudf as gd

Because it looks like `import pandas as pd` and `import dask.dataframe as dd` (I think that this is @kkraus14 's preference and am happy to defer to him) .

Personally I don't think that it's necessary to establish a `*d` co

[2019-03-04 15:34] kkraus14 commented on #981
This looks to be isolated to boolean dtypes, likely because we use an int8 numba device array underneath. Exploring.

[2019-03-04 17:02] kkraus14 commented on #1042
Fixed by #1058.

[2019-03-04 17:02] #1042 closed

[2019-03-04 17:02] quasiben opened #1079 "[BUG] int/category bug"
When copying a column of type `category` to a new dataframe the dtype changes to `int8`

[code]

Here's a reproducible example:

[code]

cc @kkraus14

[2019-03-04 17:06] quasiben commented on #1079
So the above fails because gdf.a.data is backed by the "category" type which underneath is really an int8 or int32.

[2019-03-04 17:14] kkraus14 commented on #1079
This is a similar problem to #981 so I'll fix both in one go.

[2019-03-04 18:48] kkraus14 commented on #1079
@quasiben I don't believe this is an issue if you change 6 to `df.add_column(gdf.a.name, gdf.a)`. Can you confirm?

[2019-03-04 19:28] quasiben commented on #1079
Yes!  That totally works.  I'll close this.  Sorry for the noise

[2019-03-04 19:28] #1079 closed

[2019-03-04 20:34] #974 closed

[2019-03-04 20:51] mjsamoht commented on #873
Issue #974 is implemented and merged.  By specifying `quoting=3` it is now possible to ignore quotes, which allows reading files with missing quotation characters.  This will give the same result as pandas.

Note that we can't always produce the same output as pandas when the input file is malformed.  So there may be other cases in the future where cudf and pandas produce different results for mal

[2019-03-04 20:51] #873 closed

[2019-03-04 20:58] jrhemstad opened #1081 "[FEA] Host Doxygen HTML"
**Is your feature request related to a problem? Please describe.**
The libcudf Doxygen documentation HTML page should be accessible without requiring someone to clone the repo and build with `make doc`.

**Describe the solution you'd like**
Doxygen HTML should be hosted and accessible via github or dev docs page.

Depends on https://github.com/rapidsai/cudf/pull/823

[2019-03-04 20:58] svelts opened #1082 "[QST] pip build for cuda 10.1"
Just two questions:
1) is cuDF compatible with CUDA 10.1 already?
2) what are the plans to build and publish corresponding pip packages?
Just installed CUDA 10.1 and tried to use cudf-cuda100 and it does not work because of libcudart100.so is missing.
It will be nice to know if it's better to build from source or  wait for a pip package. Thanks.

[2019-03-04 21:00] kkraus14 commented on #1082
Hi @svelts, we are planning on testing and bug squashing CUDA 10.1 related issues over the next few days before releasing 0.6. If you could try to build from source and report any issues you run into that would be extremely helpful!

[2019-03-04 21:08] kkraus14 commented on #741
@senseb are you still facing this error?

[2019-03-04 21:28] mrocklin opened #1083 "[BUG] Read_csv ignores last line if it does not include an endline"
**Describe the bug**

cudf.read_csv can ignore the last line if it does not include an endline.  My guess is that this comes from the byte range work.  My guess is that it should also consume the line if it encounters the end-of-file.

**Steps/Code to reproduce bug**

[code]

cc @vuule

[2019-03-04 21:40] ChuckHastings opened #1084 "[DOC] New parameter added to gdf_column_view_augmented (extra_info) is not documented."
## Report incorrect documentation

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/dataframe/column.cpp#L191
**Describe the problems or issues found in the documentation**

Parameter was added last week but there is no description of what the parameter is

**Steps taken to verify documentation is incorrect**

**Suggested fix for documentation**

---

## Report needed documentation

**Repo

[2019-03-04 21:41] kkraus14 commented on #1084
cc @felipeblazing since you touched this recently 😄

[2019-03-04 22:20] thomcom commented on #1031
It looks like you need `indicator` and `suffixes` for 0.6, correct? Those are the last currently known items for this feature tree?

[2019-03-04 22:25] paulhendricks opened #2262 "[FEA] Implement `one_hot_encoding` method"
**Is your feature request related to a problem? Please describe.**

Implement the `one_hot_encoding` method for `dask.dataframe.core.DataFrame`.

[code]
Error message below:

[code]

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Have not found a workaround but will continue to explore.

**Additional context**

cuDF documentation: https://rapidsai.github

[2019-03-04 22:26] vuule commented on #1049
I have locally resolved the issue in the previous comment. Unfortunately, it is not related to the issue reported here.

I'm getting a thrust error when using nrows to parse ~1GB of data. The error only happens when the data types are explicitly set. With data type inference, everything works fine. This isolates the issue to nvstring fields. Looking into the root cause now.

[2019-03-04 22:31] mrocklin commented on #1031
I think so, and I don't really need them, I just need them to be keyword arguments that won't err in the common case that ..

- indicator is the default value

[code]

-   suffixes just expands to `lsuffix`/`rsuffix`

[code]

    (though this might have backwards compatibility concerns with cudf, not sure)

[2019-03-04 22:34] kkraus14 commented on #1031
Given the immaturity of our project, we aren't guaranteeing backwards compatibility between releases yet, so we should strive for current Pandas behavior.

[2019-03-04 22:50] kkraus14 commented on #557
Given everything is in motion I'm going to close this to track the individual issues.

[2019-03-04 22:50] #557 closed

[2019-03-04 22:50] kkraus14 commented on #979
Resolved by #1052

[2019-03-04 22:50] #979 closed

[2019-03-04 22:59] em-watkins opened #1085 "[FEA] Series.median()"
I see that `Series.median()`, `Series.std()`, and other summary methods are supported today. It would be useful to have support for `Series.median()` like pandas does.

current error: 'Series' object has no attribute 'median'
docker image: rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
current-commit.hash:
[code]

[2019-03-04 22:59] mrocklin commented on #1031
@randerzander if you apply the following diff then the indexed_joins in https://github.com/rapidsai/dask-cudf/pull/91 work

[code]

If there are other configurations that you care about I encourage you to raise them on that PR

[2019-03-04 23:10] em-watkins opened #1086 "[FEA] df.iterrows()"
For parity, it would be useful to have support for `df.iterrows()` like pandas does.
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.iterrows.html

current error: 'DataFrame' object has no attribute 'iterrows'
docker image: rapidsai/rapidsai:cuda10.0-runtime-ubuntu16.04
current-commit.hash:
[code]

[2019-03-04 23:34] kkraus14 opened #1087 "[FEA] Building and probing hash table libcudf APIs"
Had an offline discussion with @jrhemstad, but something that is needed to properly and performant support the `.loc` accessor (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html) is the ability to build and keep around a hash table for a set of gdf_column(s) and be able to probe that hash table via an API.

For the `.loc` example, we'd want a hash table of values

[2019-03-04 23:37] kkraus14 commented on #1087
Additionally, unless we want to constantly build hash tables on the fly, we should have the ability to reference the hash table from the Python side and pass that into the libcudf API calls via Cython.

[2019-03-04 23:40] jrhemstad commented on #1087
For more context, what this would look like is effectively exposing the functionality used in the hash-based join for building a hash table and then probing the hash table.

The build API could look something like this:

[code]

Where `keys` and `payloads` have the same number of rows. It will build a hash table mapping `keys[i]` to `payloads[i]` and return the hash table.

[code]

Given a hash ta

[2019-03-05 00:08] em-watkins opened #2263 "[QST] py.test dask_cudf applicable inside pre-built rapidsai containers?"
Question -
The main page for dask-cudf mentions running a test suite `py.test dask_cudf` after setting up from source.
https://github.com/rapidsai/dask-cudf/blob/master/README.md
Are those tests applicable when using a prebuilt rapidsai container? They don't seem to do well :)

I only got the idea to run the test from the README.md text, so I was just a little surprised that the tests weren't pass

[2019-03-05 01:23] vuule commented on #1049
@kenhester can you please try using byte_range with a ~1GB range, and quotechar='\0' (or whatever option to turn off quotation)?
On my system it's hard to tell if it runs out of memory or not, but it should work for you.
I'll check tomorrow if there is any error checking missing.

[2019-03-05 01:55] #527 closed

[2019-03-05 02:44] randerzander opened #1088 "[FEA] Update read_csv to support using nvstrings"
When #1032 closes, `cudf.read_csv_strings` can be deprecated, and `cudf.read_csv` should start actually returning an nvstring for string columns instead of hashed numeric columns.

[2019-03-05 10:18] miguelangel opened #1089 "[BUG] DataFrame.head method has slowed down"
**Describe the bug**
Hi,

I am just wondering if there has been any change to the DataFrame.head method. I am mentioning that because it used to run really fast before, and now it looks like it does not finish when performing the following command:

h_df2['attachments'].count() is 1466704

With that code, what I am trying to do is to create a new dataframe (h_df3b) where the column 'attachments' c

[2019-03-05 10:18] miguelangel commented on #1089
Thank you @kkraus14 for a valid workaround:

[2019-03-05 12:50] felipeblazing commented on #1084
https://github.com/rapidsai/cudf/pull/1090 look at these guys all over it!

[2019-03-05 17:25] #981 closed

[2019-03-05 17:35] kkraus14 commented on #652
With #1036 merged I'm closing this as it's resolved 😄

[2019-03-05 17:35] #652 closed

[2019-03-05 18:02] mrocklin opened #1096 "[FEA] Support groupby aggregations on list of series"
[code]

### Traceback

<details>

[code]

</details>

[2019-03-05 18:04] mrocklin commented on #1096
(sorry for the misfire, now added the traceback)

This is useful for dask-cudf groupby aggregations of the same form.  Failing dask-cudf test in https://github.com/rapidsai/dask-cudf/pull/132

[2019-03-05 18:04] mrocklin commented on #1096
cc @thomcom

[2019-03-05 18:08] vuule commented on #1083
This is not really a bug. The implementation has always assumed that the file ends with a newline.
@mjsamoht can you please help prioritize this issue?

[2019-03-05 18:57] mrocklin commented on #49
I ran into this today.  Here is a minimal example.

[code]

[2019-03-05 18:57] mrocklin commented on #1071
Looks like a copy of https://github.com/rapidsai/cudf/issues/49 .  Closing this in order to consolidate things there.

[2019-03-05 18:57] #1071 closed

[2019-03-05 19:04] kkraus14 commented on #1031
Fixed by #1091

[2019-03-05 19:04] #1031 closed

[2019-03-05 19:08] quasiben commented on #1096
should we close https://github.com/rapidsai/cudf/issues/1064 in favor of this ?

[2019-03-05 19:17] eyalroz opened #1098 "[BUG] type dispatcher doesn't accept device-only functors"
Sometimes you want to use the `type_dispatcher` to call some device code - just device code. Say, from within a function that is itself `__device__`. However, if you pass it a functor whose `operator()` instantiations are `__device__` rather than `__host__ __device__` - I get an error:
[code]
I'm not quite sure why this happens, since I can't reproduce the error  in [this simpler case](https://god

[2019-03-05 19:18] jrhemstad opened #1099 "[FEA] `orderby.cu` takes twice as long to build as any other file"
I was experimenting with the `ninja` build system, and it has a nice way to demonstrate how long each object file takes to compile.

I found that https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/orderby/orderby.cu takes 2-3x longer than any other file.

If we could reduce the compile time of that file, our overall build time could be improved by 2-3x.

I'm guessing that the `LesserRTTI` fu

[2019-03-05 19:29] jrhemstad commented on #1099
To reproduce the above graph:

Install `ninja-build`:
[code]

Configure and build libcudf with ninja:
[code]
Where `N` is the number of threads to use for the parallel build.

Get `ninjatracing`:
[code]

Generate trace file:
[code]

Open trace file:
- Open Google Chrome
- Enter `chrome://tracing` in the URL bar
- Hit the "Load" button and load the `trace.json` file you created in the above step

[2019-03-05 19:40] thomcom commented on #1096
Definitely leave #1064 open :)

[2019-03-05 19:46] jrhemstad commented on #1098
That's strange, avoiding this error is explicitly why I added the `#pragma hd_warning_disable` to the type_dispatcher:

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/utilities/type_dispatcher.hpp#L111

[2019-03-05 19:53] randerzander opened #2264 "[FEA] dask-cudf should expose cudf functions that don't have dask equivalents"
cudf has functions which don't have dask analogues.

For example:
[code]

Result:
[code]

For a cudf user, this error is confusing. I went to look at cudf's API to see if cudf dropped this function before realizing it just doesn't exist in dask-cudf.

Other similar functions include `to_gpu_matrix`, `as_gpu_matrix`, `from_gpu_matrix`.

Instead of adding such methods to dask-cudf, would it make sen

[2019-03-05 20:14] jrhemstad opened #1101 "[FEA] How should error reporting be handled in libcudf?"
This is a sub-issue of https://github.com/rapidsai/cudf/issues/1027

**The question is, how would we like error reporting to be done in an ideally designed libcudf library?**

Currently, we use `gdf_error` error codes. This has several downsides:
- It requires all `libcudf` functions to return a `gdf_error` code, i.e., cannot have output return parameters from functions
- It requires developers to

[2019-03-05 20:48] jrhemstad opened #1103 "[FEA] LesserRTTI should be refactored and moved into `gdf_table`"
Given that the likely culprit in https://github.com/rapidsai/cudf/issues/1099 is the[ `LesserRTTI`](https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/sqls/sqls_rtti_comp.h#L31) functor, we should refactor the LesserRTTI functor as it is unnecessarily complex and templated, which is leading to a significant and unnecessary increase in compile time.

Furthermore, as part of its refactor, the

[2019-03-05 20:59] mrocklin commented on #1096
@kkraus14 I noticed that you prioritized this as P1.  FWIW this is decently important for dask dataframe groupbys, in particular it's important for using a series as a grouper as in the following:

    df.groupby(df.x + 1).y.sum()

This ends up coming up decently frequently.

[2019-03-05 21:12] eyalroz opened #1104 "[FEA] Expand OS and OS distribution support/testing"
At the moment, the RAPIDS page [says](https://rapids.ai/start.html):

And this repository's README.md says:

I don't think this is reasonable for a FOSS library. There should be testing (whether part of the Travis CI here or something occurring before a release etc.) on non-Ubuntu systems. At the very least Debian, Fedora and possibly Mint, Manjaro [etc.](https://distrowatch.com/dwres.php?resource

[2019-03-05 21:33] mrocklin opened #1105 "[BUG] Dividing dataframes of different dtypes fails"
[code]

I suspect that this is just waiting on the jitify changes from @devavret , but thought I'd report it anyway

[2019-03-05 21:43] kkraus14 commented on #482
@shwina think you can add this into your `fillna` rework in #1033? Doesn't need to actually run in place, just update self for now.

[2019-03-05 21:48] mrocklin opened #1106 "[FEA] DataFrame.fillna"
It would be nice to have a `DataFrame.fillna` method

[code]

Presumably this could just create a new dataframe after having called `.fillna` on all of the series.

cc @beckernick

Reported downstream in https://github.com/rapidsai/dask-cudf/issues/117

[2019-03-05 22:05] mrocklin commented on #1106
Also, dask-cudf will probably want the same keywords (and lack of support) as in #1033

[2019-03-05 22:16] beckernick opened #1109 "[BUG] read_csv incorrectly parsing high precision floats"
**Describe the bug**
`read_csv` appears to be incorrectly parsing high precision floats.

**Steps/Code to reproduce bug**

The following example results in incorrect data.
[code]

If I round the data first to 9 digits of precision, the issue goes away:

[code]

But when I hit 10 digits of precision, it occurs:

[code]

**Expected behavior**
I expect our `read_csv`'s behavior to match pandas's `rea

[2019-03-05 22:32] revans2 opened #1110 "[BUG] Lots of ops don't set output validity correctly"
**Describe the bug**
All the gpu binary ops support validity for the input, but never set validity for the output and don't set the null_count.

All the date/time ops assume that if validity is set for the input then validity must be there for the output and don't set the null_count

**Steps/Code to reproduce bug**
Do any binary or date time ops with nulls in the columns.

**Expected behavior**
Th

[2019-03-05 22:45] jrhemstad commented on #1110
Yes, the unary ops definitely need to be refactored. (This is some of that embarrassing code I've been talking about when I've said there's a lot that needs to be refactored... :smile: )

Luckily, @devavret has already taken care of updating the binary ops and takes care of the null values for you: https://github.com/rapidsai/cudf/pull/892

[2019-03-05 22:59] vuule commented on #1109
I don't repro this issue on current branch 0.6.
@beckernick what is the cuDF version you are using?

[2019-03-05 23:26] revans2 commented on #1110
@jrhemstad great to hear it, and I am excited to see some jitting coming in too.

[2019-03-05 23:41] devavret commented on #1110
I was also trying to refactor unary ops today so expect that soon.

[2019-03-06 00:11] #698 closed

[2019-03-06 00:31] mjsamoht commented on #1109
I just tried with 0.6 branch top of tree, and I'm unable to repro either.

[code]

[2019-03-06 01:05] jrhemstad commented on #697
@dorisnvidia with https://github.com/rapidsai/cudf/pull/823 merged, you can now do `make doc` to build the Doxygen HTML.

Note that our documentation is still quite sparse (but improving!).

Would love if you could take a look and perhaps let us know of things that you would like, but are missing.

[2019-03-06 01:53] harrism commented on #697
Since #823 is merged but the docs are still improving, I'm moving this issue to v0.7 to continue tracking.

[2019-03-06 02:11] kkraus14 commented on #1101
@harrism @jrhemstad is this for 0.6?

[2019-03-06 03:47] jrhemstad commented on #1101
No. Just part of a larger design discussion.

[2019-03-06 04:37] mjsamoht opened #1117 "[BUG] read_csv doesn't handle scientific numbers in dataTypeDetection()"
While read_csv generally supports reading numbers in scientific support, it does not handle them in `dataTypeDetection()`.  This means any scientific numbers in the first row will lead to incorrectly inferred data types.

[2019-03-06 10:03] harrism commented on #1046
#913 C++ implementation is finished and ready for review.

[2019-03-06 11:23] AK-ayush commented on #1046
@kkraus14  I would like to work on these python bindings if it's okay...

[2019-03-06 12:07] devavret opened #1119 "Use traits to set `gdf_data` elements and other typedefs"
Once #892 is merged and after we move away from cffi in #599 , update the union `gdf_data` to use traits defined members.

The code to be changed:
[code]
 to
[code]

[2019-03-06 12:36] miguelangel opened #1121 "[QST] How to port this piece of code"
**What is your question?**
Hi,

I am porting a few notebooks to RAPIDS, and I have not been able to find a workaround for the following code templates.

Example 1:
[code]
Example 2:
[code]

Thanks!
Miguel

[2019-03-06 15:08] kkraus14 commented on #1105
Correct, thanks for reporting though!

[2019-03-06 15:09] mrocklin commented on #1105
Are those changes planned for 0.6?

[2019-03-06 15:10] kkraus14 commented on #1086
@em-watkins What would your usecase be for `iterrows()` here? We expose getting the data as a row-major gpu-matrix via `.as_gpu_matrix()` but `df.iterrows()` will trigger a device to host copy which we'd want people to avoid.

[2019-03-06 15:15] kkraus14 commented on #1106
@shwina This could possibly be tackled in #1033 as well?

[2019-03-06 15:19] kkraus14 commented on #1121
@miguelangel Unfortunately it looks like this is using nested types which aren't supported yet. In particular these three aggregations are expecting to work on some form of iterable:
[code]

[2019-03-06 15:43] kkraus14 commented on #1088
Being tackled in #1032

[2019-03-06 15:44] kkraus14 commented on #1046
@AK-ayush I believe @harrism is planning on tackling these himself, but if he's looking for support feel free to jump in.

[2019-03-06 18:09] drbh opened #1123 "[FEA] Support compilation on Mac OSX"
**Describe the bug**
Cannot install on Mac OSX 10.14.3

[code]

<img width="802" alt="screen shot 2019-03-06 at 1 05 49 pm" src="https://user-images.githubusercontent.com/9896130/53903118-da70f100-4010-11e9-8e1c-68601fa61270.png">

Why do I error out at 22% every-time I run `make -j`?

**Steps/Code to reproduce bug**
Following the install instructions on the README

[2019-03-06 18:18] kkraus14 commented on #1123
@drbh We do not yet support Mac OSX or CUDA 10.1.

[2019-03-06 18:21] beckernick commented on #1109
Confirmed. I'm also unable to reproduce on the most recent commit of 0.6. Was in an older commit as discussed. Thanks @vuule , @mjsamoht

Closing.

[2019-03-06 18:21] #1109 closed

[2019-03-06 19:00] drbh commented on #1123
I was hoping to build it locally despite it not being supported yet. What are the blockers before it is ready for OSX distribution? I would love to help in any way possible - this is a great project!

[2019-03-06 19:14] mjsamoht commented on #1088
@kkraus14 a couple of questions:

1. I believe you meant to say "..., and **`cudf.read_csv`** should start actually returning an nvstring..." in the description.  Correct?
2. Other than deprecating `cudf.read_csv_strings` is there any other known work that will be required from cuIO team?  Just asking since we don't have much time left for 0.6.

[2019-03-06 19:16] kkraus14 commented on #1088
Yes this is correct.

I don't believe so. All of the work is on the Python side that I'll handle as part of my String integration work.

[2019-03-06 19:41] nsakharnykh commented on #1087
Another reason why we need this is to support more optimized distributed join algorithms for multi-GPU. Currently, cuDF provides a monolithic hash-join primitive that works great for single-GPU as well as certain multi-GPU join implementations such as shuffle (repartition) joins in Dask (https://blog.dask.org/2019/01/29/cudf-joins). However, there are other more efficient distributed join approach

[2019-03-06 19:41] kkraus14 commented on #1123
I don't think anyone has a strong idea as no one has really investigated as of yet. If you could try with CUDA 10.0 and report back your issues that would be great.

[2019-03-06 20:17] nsakharnykh opened #1124 "[FEA] Sort-merge join should support partitioned tables"
**Is your feature request related to a problem? Please describe.**
For very large joins when it's impossible to keep the complete hash table in GPU memory, other join algorithms such as the sort-merge join (SMJ) may be interesting. In this scenario, usually both left and right tables are sorted and then streamed in large partitions, so cuDF needs to perform a join of two sorted partitions.

**Desc

[2019-03-06 20:21] jrhemstad commented on #1124
I think it would be sensible for this to be a separate API from the existing sort-join, because I do not think it makes sense for the algorithm you're proposing to materialize the result tables and instead just return the pairs of matching row indices between the left and right tables.

Furthermore, if the output is just the matching pairs of indices, I think we can represent an "invalid" result a

[2019-03-06 21:07] jrhemstad commented on #1087
@nsakharnykh

[2019-03-06 21:29] beckernick opened #3100 "[FEA] Support regex lookarounds"
## Description
As a user, I would like to be able to include positive and negative lookaheads / lookbehinds in my regular expressions.

## Example Behavior
As an example of a negative lookahead, see: https://regex101.com/r/0275Hq/1

Given
[code]
The regex pattern `q(?!u)` should match the q in `qate` and in  `qatar`, but not in `quit`. In words, "Find the q, but only if it's not followed by a u."

[2019-03-06 22:15] mrocklin opened #1127 "[BUG] Very slow join performance"
So I'm looking at the performance of indexed joins (cc @randerzander ) and I'm finding that these lines

https://github.com/rapidsai/cudf/blob/214fba57307e9f4422556d1cb897bf3cf6454bad/python/cudf/dataframe/dataframe.py#L1438-L1439

Are calling this

https://github.com/rapidsai/cudf/blob/214fba57307e9f4422556d1cb897bf3cf6454bad/python/cudf/dataframe/index.py#L78-L80

Which if I'm not mistaken is it

[2019-03-06 22:17] kkraus14 commented on #1127
I'll fast track a fix for this.

[2019-03-06 23:20] harrism commented on #911
@kkraus14 what is needed from libcudf for this? I think this can be implemented using the `apply_stencil` function (which I hope we can rename to something more accurate like `copy_if` in the near future).

If this FEA depends on new libcudf functionality, it needs to move to 0.7.

[2019-03-06 23:24] kkraus14 commented on #911
@harrism The tough one is the dataframe level `dropna` because it wants to drop every row that contains a null. What this comes down to is generating a gather map to feed into a gather call efficiently based on if there's nulls in any/all (parameter) of the columns in a row.

[2019-03-06 23:31] harrism commented on #911
Definitely one for 0.7, I think.

[2019-03-06 23:43] mrocklin opened #2265 "Profile indexed joins"
Here is a notebook which does indexed joins.  The data prep is a bit messy (I'll look at cleaning this up soonish) but the actual dask-cudf joins are pretty slick.  Here is the resulting profile output:

https://gist.github.com/mrocklin/ab10c61a17391e8dbc7577f83fc4d25d

[2019-03-06 23:51] eyalroz commented on #1101
Jacob, since you've asked about an "ideally-designed" libcudf, I'll suggest everyone have a look at this talk at CppCon 2018:

[Simon Brand & Phil Nash
**"What Could Possibly Go Wrong?": A Tale of Expectations and Exceptions**](https://www.youtube.com/watch?v=GC4cp4U2f2E)

which surveys and evaluates several approaches to error handling in C++. They finally argue in favor of a monad-like approach,

[2019-03-07 00:08] vuule commented on #1049
While looking for a minimal repro, I found that this file has unmatched quotes, probably because of the use of unicode character for the open quote. Because of this, we cannot expect read_csv to work correctly with this input, when quoting is enabled.

With quoting disabled, and with the use of byte_range to limit the memory usage, I'm not getting any errors with this file.
@mjsamoht I think this

[2019-03-07 00:14] vuule commented on #1088
@kkraus14
I think we also need to change the data type inference to detect string type instead of category. Is this correct?

Is it currently possible to use nvstring as a dataframe column?

[2019-03-07 00:24] thomcom commented on #1064
Hmm it is failing on the datetime columns! :) I don't think it is unreasonable to `mean` a datetime but the most straighforward solution is to convert the datetimes to ints, mean them, and convert them back.
I solved the problem by dropping 'tpep_pickup_datetime' and 'tpep_dropoff_datetime'

[2019-03-07 00:29] jrhemstad commented on #1064
I've still got a bunch of lingering questions.

We are grouping on the `passenger_count` column, whose type was `int64`, not `datetime`. The other column's shouldn't matter for the groupby.

Furthermore, this doesn't explain why the `gdf_groupby` function being called twice?

[2019-03-07 01:00] mjsamoht commented on #1049
I moved this issue to P2 for time being.  It doesn't look like a blocker for v0.6, and perhaps not a bug at all since it uses unicode and unmatched quotations.

[2019-03-07 01:51] kkraus14 commented on #976
@dillon-cullinan You should be able to tackle this as part of #1126 since I think you already generate the boolean mask.

[2019-03-07 02:21] #1127 closed

[2019-03-07 03:04] randerzander commented on #1088
@vuule, yes type inference needs to be updated to default to string type instead of category.

When #1032 merges then it'll be possible for nvstrings to be cudf columns.

[2019-03-07 06:07] AK-ayush opened #2266 "`dask_cudf` cluster on kubernetes?"
I am trying to create a multi-node `dask_cudf` cluster on kubernetes… Is there any resource available for the same??

[2019-03-07 06:36] kovaltan commented on #610
PL #1005 will be performed by single step reduction and `gdf_reduce_optimal_output_size()` will be removed in the PL.

[2019-03-07 07:58] eyalroz commented on #610
@kovaltan : And does that happen in branch-0.6?

[2019-03-07 08:07] kovaltan commented on #610
It will be at branch-0.7.

[2019-03-07 08:37] eyalroz commented on #610
So - do you guys want to merge this PR for 0.6 or close it?

[2019-03-07 09:55] kovaltan commented on #610
I've looked through this issue again.
It seems that PL #611 got merged and closes this issue and PL #1005 is just a related PL with this issue.
@jrhemstad  @harrism could you confirm? then close this issue? This is still marked as `open`.

[2019-03-07 11:25] muellren commented on #1087
One possibility is to templatize on the size of the keys and bit-compare keys.

[2019-03-07 13:12] daadaada opened #1133 "[QST]Can anybody explain how Python functions call compiled CUDA libraries?"
Hi all,

I'm a PhD student planning to do research related to cuDF. Can someone give a very short explanation of how Python functions call compiled CUDA libraries? That will save me lots of time. Thanks!

[2019-03-07 13:24] daadaada commented on #1133
Perhaps using cffi?

[2019-03-07 13:46] felipeblazing commented on #1104
This decision was made about a year ago. The reasons are both the practical concerns of not having do devote more time to devops  with resource constraints and debugging/testing when things go nuts in a different environment.

[2019-03-07 15:18] jrhemstad commented on #1087
That is a possibility, but could lead to a lot of template instantiations, and we'd have to hard-limit the size of the keys because we cannot generate an infinite number of template instantiations.

This also runs the risk of creating _very_ large hash-tables (as in memory consumption) if the size of the keys is large. This is why I went with a row-offset, indirection approach in join/groupby.

To

[2019-03-07 15:26] jrhemstad commented on #610
Ah yes, this issue should have been closed with PR https://github.com/rapidsai/cudf/pull/611

https://github.com/rapidsai/cudf/pull/1005 will supersede https://github.com/rapidsai/cudf/pull/611, but that's not important for this issue.

Closing now.

[2019-03-07 15:26] #610 closed

[2019-03-07 16:04] jrhemstad commented on #1133
@daadaada we use a technology called [Cython](https://cython.org/) that allows calling C/C++ symbols from Python.

[2019-03-07 16:08] daadaada commented on #1133
Thanks

[2019-03-07 16:22] jrhemstad opened #1134 "[FEA] Computing optimal partition bounds"
It is a common pattern to partition a dataset into a set of `N` buckets/partitions.

For example, [`gdf_hash_partition`](https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/include/cudf/functions.h#L720 ) re-partitions the rows of a set of columns based on the hash value of each row. However, it assumes that each partition size is the same. This can lead to load imbalance where the number of keys

[2019-03-07 16:29] jrhemstad commented on #925
I like the approach that was taken in cuML here using a `cuml::handle` object that is passed into every API.

https://github.com/rapidsai/cuml/pull/247

You can bundle lots of library specific resources in there such as:
- stream
- device ID
- memory allocator (this would allow us to better abstract the memory allocator instead of using RMM_ALLOC directly).

[2019-03-07 16:29] muellren commented on #1087
`keyType=int32_t` because we currently store the `hash(key)` as the key in the map and, thus, pay the indirection on every probe? One typically stores at least a prefix (or better the most distinguishing part of the key) of the key in the HT.

[2019-03-07 16:33] jrhemstad commented on #1087
That's a good point, the hash table `keyType` could be `pair<uint32_t, int32_t>` where `pair.first` is the hash value of the row and `pair.second` is the row index. This would reduce the amount of indirection required.

[2019-03-07 17:07] jrhemstad commented on #1134
Here's a good paper on doing the bucket-histogram operation: http://www.vldb.org/pvldb/vol8/p1518-cho.pdf

[2019-03-07 17:19] mrocklin opened #1135 "[BUG] Can not assign a datetime index into a dataframe"
Things seem to be unhappy when we assign a datetime index into a dataframe.

This comes up when I try to do indexed joins

[code]

<details>

[code]

</details>

[2019-03-07 17:25] kkraus14 commented on #1135
I believe this should be isolated to DatetimeIndex types and I'm hesitant to try to get this working for 0.6. This may be fixed by #892, but if not we should push to 0.7.

[2019-03-07 18:05] shwina commented on #1106
@kkraus14 Yes - I'll include this in #1033

[2019-03-07 18:07] shwina commented on #1106
@mrocklin To be clear, which keywords specifically are required?

[2019-03-07 18:42] mrocklin commented on #1106
Ah, I meant to refer to https://github.com/rapidsai/cudf/pull/1107/files
before.  The method, limit, and axis keywords in particular, though I
really only care that the default values work.

On Thu, Mar 7, 2019 at 12:07 PM Ashwin Srinath <notifications@github.com>
wrote:

[2019-03-07 19:22] eyalroz opened #1138 "[BUG] Build configuration should check what _C_ compiler is being used"
I was just trying (by mistake) to build branch `branch-0.6` with `CC=/opt/gcc-8.2.0/bin/gcc` in my environment.

I actually got very far in the build - as far as the last few test binaries - then got an obscure linking error about an invalid relocation. Obviously, this doesn't happen with my distro's default compiler (GCC 6.3.0). I don't know exactly what the C compiler is used for - but it must b

[2019-03-07 19:28] shwina commented on #1106
Thanks, @mrocklin - I'll work on getting those implemented

[2019-03-07 20:25] trstovall opened #1140 "[BUG] cudf.Series.fillna fails for numpy.datetime64 columns"
**Describe the bug**
cudf.Series.fillna fails for numpy.datetime64 columns

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
no stack trace

**Environment details (please complete the following information):**
[code]

[2019-03-07 21:21] eyalroz commented on #1104
@felipeblazing : A few more Travis CI VM's for Mac and other Linux distros don't sound like such a significant investment. Windows is a bit more of hassle, granted, but it shouldn't be _that_ bad... should it?

[2019-03-07 21:45] #526 closed

[2019-03-07 23:34] harrism commented on #1055
This appears to be true of all unary ops. All the unary ops are implemented in C++ and have Cython bindings.  They are just not exposed via the Series interface in python.

[2019-03-08 00:25] #1056 closed

[2019-03-08 04:01] kkraus14 commented on #1140
cc @shwina another one to tackle in the fillna rework?

[2019-03-08 04:15] kkraus14 commented on #1104
I don't think it's reasonable or helpful for you to make statements like this without trying to help improve the situation.

TravisCI unfortunately has no GPU support, outdated versions of OSes, and limited core counts and timeouts, which make it near impossible to use for this project. We originally used TravisCI, but we moved away from it to our own platform to provide a better developer experie

[2019-03-08 04:23] datametrician commented on #1104
Given MacOS has awful NVIDIA GPU support, I think we will skip that one

[2019-03-08 10:53] eyalroz commented on #1104
@kkraus14 : I think we have different views of what is appropriate for repository's issues page. Any Joe/Jane User can file an issue saying "I can't believe you're not doing XYZ, you're all lame!" because they thinks XYZ is critical. They may be wrong, or mis-assessing things; or they may be (partially) right, and its resource constraints that prevent XYZ from being realized. But usually this at l

[2019-03-08 11:17] AK-ayush opened #2267 "TypeError: can't pickle CompiledFFI objects"
I am trying to run [this notebook](https://gist.github.com/AK-ayush/c004868c6cdee15698d2582b13a671e7) using dask.

When I run each cell as in sequential manner, it is running perfectly
but when I create a dask dag and then it is giving this error: `TypeError: can't pickle CompiledFFI objects`

[2019-03-08 14:10] shwina commented on #1106
@kkraus14 @mrocklin

#1033 is ready for review

[2019-03-08 15:10] thomcom commented on #1064
I have a fix for this coming right up, and an explanation. Sorry about the delay - I've been moving all week.

[2019-03-08 16:19] shwina commented on #482
OK

[2019-03-08 17:49] thomcom commented on #1064
I'm going to take a stab at your questions:
1. In our implementation, each column is grouped by `passenger_count`, one at a time. `gdf_groupby` should be called the number of times as there are columns.
2. `gdf_groupby` is called twice because it is called once for `VendorID`, successfully, then once for `tpep_pickup_datetime`, which fails.

[2019-03-08 17:49] williamBlazing commented on #1030
I think that there should be a different gdf_size_type for number of columns, like gdf_column_index_type. The scales of those numbers and what we should support are very different. I agree that it would take a large effort to refactor the whole code base so that it would all consistently use the new type, but we dont have to do it all at once. Which is the mantra we have been having for almost all

[2019-03-08 17:50] thomcom commented on #1064
[code]
[code]

[2019-03-08 18:03] thomcom opened #1144 "[BUG] `.agg` function fails with dataframes with > 2 columns when `as_index=True`"
**Describe the bug**
If you use the `.agg` form of a groupby aggregation on a multi column dataframe and `as_index=True` set, there is a bug.

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
[code]

[2019-03-08 18:12] #1083 closed

[2019-03-08 18:20] thomcom commented on #1064
Reopening to discuss how we should handle unsupported columns.

[2019-03-08 18:21] thomcom commented on #1064
[code]
[code]
Pandas drops columns that are unsupported dtypes during the groupby call, as you can see from the output above. Should we do the same, or is the error originally reported by @quasiben a valid way to behave?

[2019-03-08 18:23] thomcom commented on #1064
I can drop the columns if they are unsupported dtypes if that is an important use case.

[2019-03-08 18:29] jrhemstad commented on #1030
I don't see the advantage of having a distinct `typedef` for the number of columns vs. the size of the column.

`gdf_size_type` is currently an `int`, and it is used for both the number of elements in a column _and_ the number of columns.

Sure, we don't _need_ to use an `int32_t` for the number of columns, because `MAX_INT` columns would be ludicrous. What are we going to use instead `int16_t`? W

[2019-03-08 18:39] quasiben commented on #1064
I think dropping unsupported dtypes makes sense.  This would also apply to `median()` as well

[2019-03-08 18:42] jrhemstad commented on #1064
Less work for me! Ship it!

[2019-03-08 18:46] #1144 closed

[2019-03-08 19:06] williamBlazing commented on #681
Are there static analysis tools that we can employ that help us keep track of these sort of things? I imagine that if there are, the first time we would employ them it would be a nightmare to address all the issues it would find, but that should not discourage us.

[2019-03-08 19:21] eyalroz commented on #1030
Mostly - clarity of the source code; better adherence to the [principle of least astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment); intuitivity of the API.

But this is not necessarily the case; it's a choice that we could have made differently. Let's not "bake it in" more than we have to. Also, we've separated an index_type from a size_type; why did we do that? We could

[2019-03-08 19:32] eyalroz commented on #681
@williamBlazing : Here are [three possible tools](https://www.slant.co/topics/263/~best-open-source-c-static-analysis-tools) which may or may not offer this.  I think that some IDEs take care of include orders and even redundant-include-removal. But - if we're just talking include order, it's quite simple to see when this is the case and just fix it, like I did for testing code in PR #908 .

[2019-03-08 19:38] jrhemstad commented on #1030
The independence of `index` type vs `size` type is to one day allow supporting chunked-arrays. The maximum length of any one "chunk" may be `MAX_INT`, but we may updated `gdf_index_type` to `int64_t` because it's convenient to have an `int64_t` type for indexing into the entire chunked array. (Instead of having to use `int32_t` and potentially add offsets to the indices in order to index into a ch

[2019-03-08 19:41] jrhemstad commented on #681
There are indeed tools that do this, including IDEs.

Annoyingly, I noticed VSCode would _alphabetize_ includes when I ran the auto-formatter. I had to disable that.

[2019-03-08 21:06] eyalroz commented on #1030
Oh, but then you'll really not want this pair of type names. Because when `X_index_type` and `X_size_type` are used in proximity to each other, you always assume the former is indices into sequences whose size is of the latter. It would then need to be `gdf_chunk_size_type` and `gdf_column_size_type` or something of that sort.

Also, I doubt whether everybody using `gdf_index_type` today are reall

[2019-03-08 21:19] mjsamoht commented on #1088
I had a quick look at csv_reader.cu.  Unless I missed something this is just a one-line change:
`d_detectedTypes.push_back(GDF_CATEGORY); // For auto-detection, we are currently not supporting strings.`
needs to be changed to:
`d_detectedTypes.push_back(GDF_STRING);`

[2019-03-08 21:54] thomcom commented on #1055
Is the syntax you require for this
[code]
?

[2019-03-08 21:57] mrocklin commented on #1055
Currently we use `np.sqrt(gdf)` or `np.sqrt(gdf.x)`

We could drop that down to `gdf ** 0.5` in dask-dataframe if desired.

Or, at some point, we should implement the `__array_ufunc__` protocol so that `np.sqrt(gdf)` calls `cudf.sqrt(gdf)` appropriately.  See https://github.com/rapidsai/cudf/issues/256

[2019-03-08 23:33] thomcom commented on #1055
For today, I can give you `gd.sqrt`

[2019-03-09 00:00] thomcom commented on #1078
I approve of
[code]
for now. :)

[2019-03-09 02:52] #1057 closed

[2019-03-09 02:52] #1039 closed

[2019-03-09 05:31] kkraus14 commented on #1140
@trstovall could you try with `nat = s.dtype.type(None).astype(s.dtype)` I've seen numpy behavior really weirdly when it comes to typing scalars like this.

[2019-03-09 05:54] kkraus14 commented on #1106
Resolved by #1033

[2019-03-09 05:54] #1106 closed

[2019-03-09 05:54] kkraus14 commented on #1023
Fixed by #1033

[2019-03-09 05:54] #1023 closed

[2019-03-09 05:55] kkraus14 commented on #482
Fixed by #1033

[2019-03-09 05:55] #482 closed

[2019-03-09 12:56] shwina commented on #1140
@trstovall Could you please confirm if this works with the latest cudf (branch-0.6)?

You should also just be able to do:

[code]

[2019-03-09 15:41] felipeblazing commented on #904
Yes please for the love of everything that is universe

[2019-03-09 15:59] jrhemstad opened #1152 "[FEA] Create `make` target for building/installing libcudf into Python environment"
**Is your feature request related to a problem? Please describe.**

I wish that installing libcudf from source into the Python environment was easier.

Building and installing `libcudf` from source currently has a large number of manual steps that significantly slows down the process debugging C++ bugs in Python reproducers.

The currently required process:

[code]

**Describe the solution you'd l

[2019-03-09 17:03] mrocklin commented on #1055
If it's ok, I'd like to leave this open until one of `np.sqrt(s)` or `s ** 0.5` work.  Those are what are necessary to get operations like groupby-std to work.

[2019-03-09 19:20] thomcom commented on #1055
Oh sorry, I thought `cudf.sqrt` would be adequate. I'll look at __array_ufunc__ now.

[2019-03-10 03:58] VibhuJawa opened #2268 "Inner Join Memory Usage Shoots Up leading to Exception: CUDA ERROR"
# Inner Join Memory Usage Shoots Up Leading to Exception: CUDA ERROR. CUDA_ERROR_INVALID_VALUE

I was attempting to inner join 2 tables with 10mil+(3.6 G) rows and 500mil+ (18G) rows and am facing cuda memory errors.

I tried changing chunk_size to see if  smaller partitions  will help but could not get it work. Any pointers will be super helpful.

## Code to recreate the error

[code]
## Error Tr

[2019-03-10 20:23] miguelangel opened #1156 "[BUG] read_csv method does not allow integer column names"
**Describe the bug**
In pandas, I can do the following when reading a csv file:

[code]

but, if I try to do the same with cudf, the following error is displayed:

[code]

[code]

**Steps/Code to reproduce bug**
Try the code above with any csv file.

**Expected behavior**
No error displayed.

**Environment details (please complete the following information):**
DGX-1, RAPIDS nightly build from 2019

[2019-03-10 21:41] harrism commented on #1046
@AK-ayush definitely happy to have help. If you have experience with Cython then you will be much faster than me, as I'm just learning it.

[2019-03-11 02:58] #912 closed

[2019-03-11 03:09] harrism commented on #1152
How relevant is this if we eliminate CFFI?

[2019-03-11 03:47] AK-ayush commented on #1046
Thanks @harrism  I ,too, have minor experience in Cython but I'll be happy if I can be of any help.

[2019-03-11 04:12] harrism commented on #1046
#913 is now merged into branch-0.6 (without any bindings).

[2019-03-11 12:46] kovaltan commented on #954
@jrhemstad

For C++ API,  item 1 is almost done.
But how about python bindings?
Do we also replace  `gdf_min`, `gdf_max`... into `gdf_reduction` + enums ?

[2019-03-11 15:01] trstovall commented on #1140
`nat = s.dtype.type(None).astype(s.dtype); s.fillna(nat)` works, `s.fillna('nat')` does not.

[2019-03-11 15:07] jrhemstad commented on #1152
What will the install process look like after removing CFFI?

Won't that just removed `make python_cffi`? In which case, I think it's still valuable to make a more streamlined target.

[2019-03-11 15:14] jrhemstad commented on #954
Yes, I believe those should change as well, @kkraus14 can say for sure.

Keith, for context, Kova has updated all of the operation specific reduction APIs, e.g., `gdf_max`, `gdf_min`, into a generic `gdf_reduction` API where the op is selected with an enum. I assume the Python bindings will need to be updated accordingly.

[2019-03-11 15:31] shwina commented on #1140
Thanks, @trstovall. I'm having trouble reproducing this with current branch-0.6. Both `s.dtype.type(None)` and `'nat'` seem to be working:

[code]

Note that `fillna()` was updated recently, so this will work only with a relatively recent build of cudf. Could you please post the results of `./print_env.sh ` after updating cudf?

[2019-03-11 15:54] kenhester commented on #1049
Confirming: disable quoting allows the file to read to the end without exception.

[2019-03-11 16:45] eyalroz opened #1160 "[BUG] types.h refers to stdint.h types, doesn't include that file"
On branch-0.6, in [`cpp/include/cudf/types.h`](https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/include/cudf/types.h), we have the `gdf_data` union. Some of its members use types defined in `stdint.h`: `int8_t` and such. Yet - the file doesn't include any headers (which IIRC has to be the case due to Python CFFI restrictions?) - and thus fails to compile when included before rather than after

[2019-03-11 16:47] jrhemstad commented on #1160
Yes, this is due to CFFI restrictions.

See https://github.com/rapidsai/cudf/issues/599. CFFI will be removed in 0.7.

[2019-03-11 18:17] trstovall commented on #1140
@kkraus14 Interestingly, `s.dtype.type(None) == s.dtype.type(None).astype(s.dtype)`.

[2019-03-11 18:25] trstovall commented on #1140
@shwina I tried again with last night's build of 0.6 and both `s.dtype.type(None)` and `nat` solutions work.

[2019-03-11 18:25] #1140 closed

[2019-03-11 19:00] TomAugspurger opened #1161 "[FEA]: Implement Series.to_frame()"
[code]

For now, the following works

[code]

[2019-03-11 19:08] beckernick opened #1162 "[FEA] Allow concatenation of dataframes with different columns"
**Is your feature request related to a problem? Please describe.**
As a user, I want to concatenate dataframes with some columns in common and some columns not in common. In pandas, I am able to do this. By default, cells in dataframes that correspond to previously missing columns are set as NaN.

**Describe the solution you'd like**
I would `cudf.multi.concat` to behave like `pd.concat` in the fo

[2019-03-11 23:20] mike-wendt commented on #838
@henningpeters the website has been updated with the chooser https://rapids.ai/start.html#get-rapids that updates based off of the desired install method/CUDA version

I believe this resolves this issue, please confirm

[2019-03-11 23:46] henningpeters commented on #838
Something's wrong:
[code]

[2019-03-11 23:46] henningpeters commented on #838
Nevermind, now it works, will check it out...

[2019-03-12 00:00] henningpeters commented on #838
The GitHub readme's installation instructions and the website chooser are still not yet fully in sync, in particular the GitHub instructions don't enforce version numbers for Python and cudf. See below for a summary:

[code]

[2019-03-12 00:43] randerzander commented on #1121
@miguelangel were you able to come up with a suitable workaround using the upcoming string support, or other?

We don't plan to support nested types for awhile.

[2019-03-12 01:42] #1055 closed

[2019-03-12 02:52] quasiben commented on #1161
I think this is already in the [cudf branch-0.6](https://github.com/rapidsai/cudf/blob/branch-0.6/python/cudf/dataframe/series.py#L179-L182) -- done in PR https://github.com/rapidsai/cudf/pull/985

[2019-03-12 02:55] TomAugspurger commented on #1161
Indeed, thanks.

Looks like https://github.com/rapidsai/cudf/pull/985/files#diff-573959c9fbfbe8e637119d34065be555R181 has a small bug for falsey names (if those are allowed in cudf):

[code]

Looks like that would return a DataFrame  with the columns `[0]` (haven't checked on master).

[2019-03-12 06:56] ritchieng opened #1165 "[BUG] Import cuDF ValueError"
I'm using CUDA 10.0 Python 3.6 via `pip install cudf-cuda100==0.5 cuml-cuda100==0.5` on Google Colab and I'm facing this error on import via `import cudf`

[code]

[2019-03-12 07:12] ritchieng commented on #1165
Solved it quickly via `pip install numpy==1.16.0`.

[2019-03-12 07:20] VibhuJawa opened #1166 "[BUG] GROUPBY.as_df() not giving correct results"
**Bug Description**
The behavior for cudf GROUPBY.as_df() does not appear to be giving correct beginning offsets for each group.

**Code to reproduce bug**

[code]

**Current Output**
[code]

**Expected behavior**

The correct number of groups is the one given by pandas

**Additional context**
This was working in earlier versions. I was using the group by to get distinct values from a cudf frame b

[2019-03-12 14:00] quasiben commented on #1161
@TomAugspurger https://github.com/rapidsai/cudf/pull/1168

[2019-03-12 15:39] beckernick opened #1169 "[FEA] Allow direct creation of an empty dataframe with columns via columns= keyword argument"
**Is your feature request related to a problem? Please describe.**
As a user, I want to create empty dataframes with named columns to allow me to iteratively add data to specific columns by name. I can do this by explicitly enumerating and passing to the `name_series` keyword argument, but it would be nice to be able to pass a list of columns.

**Describe the solution you'd like**
I'd like the equ

[2019-03-12 16:22] miguelangel commented on #1121
Hi @randerzander,

I managed to create a container based on 0.6 branch, and merged @kkraus14 `fea-ext-string-support` work.

It let me continue on those areas of the code where string support was needed. Unfortunately, I still need to find a workaround for that part of code.

I will keep you posted my the progress.

Regards,
Miguel

[2019-03-12 17:18] mrocklin opened #1170 "[FEA] Support lists in skiprows"
It would be nice to be able to read files that have a missing line between header and data like the following:

[code]

In Pandas the solution here is to provide a list or tuple to the skiprows keyword like the following `skiprows=[1]`

[code]

[2019-03-12 17:19] mrocklin commented on #1170
I care about this particularly because recent years of the NYCTaxi dataset have an empty line

[2019-03-12 17:22] beckernick opened #1172 "[BUG] Adding a string column to an empty dataframe changes all column dtypes to float64"
**Describe the bug**
Adding a column to an empty dataframe changes all column dtypes to float64.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect empty dataframe columns with specific types to remain the same when the first column is added of a different type.

**Environment details (please complete the following information):**
[code]

[2019-03-12 17:28] vuule commented on #1170
Is the line completely empty? If so, you should be able to get rid of it by setting skip_blank_lines to True.

[2019-03-12 17:30] mrocklin commented on #1170
Oh, that's useful, and probably solves my immediate problem.  Thanks!

On Tue, Mar 12, 2019 at 10:29 AM Vukasin Milovanovic <
notifications@github.com> wrote:

[2019-03-12 17:36] randerzander commented on #1166
@VibhuJawa can you create a simpler repro? Is it cudf's native groupby that is giving incorrect results, or dask-cudf groupbys?

If dask-cudf, I suggest moving this issue over to the dask-cudf repo.

[2019-03-12 17:52] VibhuJawa commented on #1166
Cleaned up the code to make it simpler repro without any dask parts.

[2019-03-12 17:57] mrocklin commented on #1170
cc @quasiben

[2019-03-12 19:31] quasiben commented on #1170
You probably already know this, but `skiprows` does exist but it only takes an `int`.  We could change things to take a list of rows instead.  But as we do down the road you should also know about his conditional:

[code]

[2019-03-13 03:08] mjsamoht commented on #1049
We may still want to ensure there is no exception and have read_csv return more gracefully.  But this won't make 0.6.

[2019-03-13 04:26] AK-ayush commented on #1003
PR #1066 added the this feature in branch-0.6. I believe this issue can be marked as done.

[2019-03-13 04:37] harrism opened #1175 "[FEA] Support row-major DLpack"
**Is your feature request related to a problem? Please describe.**
#913 and #1046 added support for DLPack in cuDF, but currently they assume column-major input data and create column-major output tensors. We should add an option to control whether row- (C) or column- (Fortran) major data is the input/output of to/from DLpack functions.

**Describe the solution you'd like**
Add an `order` paramete

[2019-03-13 13:30] wbadart commented on #1003
Agreed! Would like to see the `exclude` keyword added at some point, but that can be a separate issue.

[2019-03-13 13:30] #1003 closed

[2019-03-13 16:19] mrocklin opened #1176 "[BUG] iloc is very slow"
[code]

[2019-03-13 16:20] kkraus14 commented on #1176
This will not get fixed until 0.7.

[2019-03-13 16:21] kkraus14 commented on #1089
Closing in favor of #1176

[2019-03-13 16:21] #1089 closed

[2019-03-13 16:26] kkraus14 commented on #1166
The `cudf` method will be going away in the near future to fix this and streamline groupbys in general.

[2019-03-13 16:26] kkraus14 commented on #1166
Dependent on #982

[2019-03-13 16:28] kkraus14 commented on #1165
This was fixed in cudf and cuml 0.5.1 as well. Please update your pip install accordingly.

[2019-03-13 16:28] #1165 closed

[2019-03-13 16:31] kkraus14 commented on #1161
Fixed by #1168

[2019-03-13 16:31] #1161 closed

[2019-03-13 16:42] eyalroz opened #1178 "[FEA] Improve/refactor the column wrapper (for testing)"
The column wrapper has several shortcomings in terms of its existing functionality, and some missing functionality.

Examples:

* Can't iterate through its elements, i.e. `for (auto x& : my_column_wrapper) { do_stuff(); }` (even not via a proxy.
* Can't use it with standard library algorithms: fill, copy, iota etc.
* Fixation with `std::vector`s (in its method's parameters; on the inside this is n

[2019-03-13 17:37] jrhemstad opened #1179 "[FEA] Implement overloads for CUDA atomic operations"
**Is your feature request related to a problem? Please describe.**
CUDA atomic functions are not natively supported for some types, like `int64_t` but we need this functionality for our algorithms.

**Describe the solution you'd like**

Where possible, there should be overloads for all of the `atomic*` operations for all of the underlying types of the `gdf_dtype` enums, e.g., int8_t, int16_t, int6

[2019-03-13 17:41] jrhemstad opened #1180 "[BUG] Existing `int8_t` and `int16_t` overloads for atomicCAS are broken"
**Describe the bug**

There are overloads defined for `atomicCAS` on `int8_t` and `int16_t` types. However, they do not do what they should.

https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/hash/helper_functions.cuh#L34

For example:

If we have 4 `int8_t` as `int8_t[4] arr = {0xaa, 0xbb, 0xcc, 0xdd}` assume `&arr[0] == 0x0000`

We want to update `arr[0]` to `0xff`, then `int_val = 0x00 0

[2019-03-13 18:11] mjsamoht commented on #1170
The reason we don't support `skiprows` or `nrows` with `byte_range` is because it would be very efficient.  It would force us to parse the entire file in order to figure out which rows to skip, which would significantly impact perf for large files and go against the idea behind splitting up large files with dask.

Of course, if `skiprows` or `nrows` are defined relative to the beginning of the byt

[2019-03-13 18:11] kovaltan commented on #1179
The true generic atomicCAS for int8_t and int16_t like `int8_t atomicCAS(int8_t * address, int8_t compare, int8_t val)` is very hard without CUDA's official support for int8_t, int16_t `atomicCAS` while cuda `atomicCAS` supports uint32_t and uint64_t.

For example of problem at `int8_t atomicCAS(int8_t * address, int8_t compare, int8_t val)`:

do {
	assumed  = old;
	const int8_t val = op(update_va

[2019-03-13 18:22] beckernick opened #2269 "[FEA] Support including filename column for read_csv"
### Description

As a user, when I call `read_csv` on a directory, I often want to keep track of which file in the directory my data came from. Consistent with https://github.com/dask/dask/pull/3908, I would want a keyword argument similar to `include_path_col`.

Currently, this fails as the argument is passed through with the other keyword arguments to `cudf.read_csv`.

### Example
Will add a pub

[2019-03-13 18:29] kkraus14 commented on #1046
fixed by #1159

[2019-03-13 18:29] #1046 closed

[2019-03-13 18:40] mrocklin opened #1181 "[BUG] CUDA_ERROR_INVALID_PTX when dividing empty dataframes"
I think that this has to do with dividing empty dataframes of some sort of different dtypes.  I haven't yet been able to isolate what that situation is in cudf yet.

[code]

<details>

[code]

[code]

</details>

[2019-03-13 18:46] mjsamoht commented on #1088
Issue should be fixed with https://github.com/kkraus14/cudf/pull/3.

[2019-03-13 18:46] kkraus14 commented on #1181
I believe this is fixed in #1032 as I'm unable to reproduce using that branch.

[2019-03-13 18:47] kkraus14 commented on #1181
cc @jrhemstad @felipeblazing

[2019-03-13 19:01] jeaton32 commented on #1134
This also comes up in graph analytics, but with a twist that makes it a lot harder. We have two sets to partition, edges and vertices, and each vertex is directly associated with a subset of edges. Usually we want to balance load AND minimize communications at the same time, since it's assumed some edges will have to be 'cut' to achieve a balanced partition.  This leads to the 'min-cut' partitione

[2019-03-13 19:09] mrocklin commented on #1176
This hurts us in joins as well.  I'm inclined to add a special case to `iloc` that passes things through if the slice is just the entire thing.  Would this go in 0.6?

[2019-03-13 19:11] kkraus14 commented on #1176
Let me see if I can just rip out the entire iloc implementation currently and pass it through to __getitem__ for now.

[2019-03-13 19:24] mrocklin commented on #1176
This was my local hack

[code]

[2019-03-13 19:25] kkraus14 commented on #1176
I'm going to fix it generally, I don't think it's super high effort.

[2019-03-13 21:02] devavret commented on #1181
couldn't reproduce.

[2019-03-13 21:13] randerzander opened #1187 "[FEA] Support left_on and right_on for DataFrame merge operator"
We often want to join two dataframes on columns with different names.

cudf's `merge` operator should support `left_on` and `right_on` arguments as Pandas does.

[2019-03-13 21:22] harrism commented on #838
@randerzander Are you working on this issue?

[2019-03-13 22:12] mrocklin commented on #1181
[code]

[2019-03-13 22:17] kkraus14 commented on #1181
What machine are you on? That doesn't repro for me.

[2019-03-13 22:20] mrocklin commented on #1181
dgx-16

[2019-03-13 22:20] mrocklin commented on #1181
Perhaps I've built things incorrectly?

[2019-03-13 22:21] kkraus14 commented on #1181
Perhaps, I'm rebuilding from the latest branch-0.6 just to confirm before we look at machine issues.

[2019-03-13 22:22] devavret commented on #1181
@mrocklin can you run the gtest `BINARY_TEST`?

[2019-03-13 22:23] mrocklin commented on #1181
You'll have to excuse my ignorance, but how does one do that?

[2019-03-13 22:24] kkraus14 commented on #1181
I can't reproduce on this machine either, still rebuilding though and will report back.

[2019-03-13 22:27] devavret commented on #1181
@mrocklin if you're installing from source, it's in the `<builddir>/gtests`. It's an executable so just `./BINARY_TEST`

[2019-03-13 22:27] kkraus14 commented on #1181
Also unable to reproduce on a fresh build of branch-0.6 so I believe this is your environment @mrocklin . Can you share your build procedure? I'm guessing you're either forgetting to regenerate/install the CFFI bindings or regenerate the Cython bindings.