[2020-08-31 03:28] kkraus14 commented on #6111
Is the idea for a user to then call something like `cudf::setDefaultStream(cudaStreamPerThread)` to get PTDS semantics?

[2020-08-31 06:32] PerkzZheng opened #6126 "[QST] OOM of cuDF (much smaller than GPU memory)"
**What is your question?**
```df = cudf.read_csv('/mypath/train-noIndex.csv')```
I am just reading 11.5 GB files into GPU memory. (V100 32GB). No other operations.
However, it leads to OOM (11.5 GB is much smaller than 32 GB). Are there some settings with RMM that may help to solve it ?
And why it happened?
**Error:**
```MemoryError: std::bad_alloc: CUDA error at: ../include/rmm/mr/device/cuda_mem

[2020-08-31 10:31] JulianWgs opened #6127 "[BUG] dask_cudf sample not working (TypeError)"
**Describe the bug**
Using dask_cudf.sample raises a TypeError, but dask.dataframe.sample works just fine.

**Steps/Code to reproduce bug**
[code]

Output:
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: AWS EC2 G4.2xlarge
 - Method of cuDF install: conda

**Environment details**
<details><summary>Click here to see

[2020-08-31 10:34] JulianWgs commented on #6127
@rgsl888prabhu

[2020-08-31 14:24] rjzamora commented on #6074
How are you creating your distributed cluster?  You seem to have reasonably balanced memory usage accross the first four devices, and zero across the others.  It doesn't look unusual for a LocalCUDACluster instance with four workers.

Note that using dask is different from an MPI-like code with explicit data decomposition between workers. The exact scheduling of data/tasks onto workers depends a l

[2020-08-31 14:31] jlowe commented on #6126
Does the CSV file contain a lot of fields that are encoded much more efficiently in the text file than they would be once loaded into GPU memory?  For example, take the following CSV file snippet containing long and double values:
[code]

Each field in this input only takes 2 bytes to encode in the CSV file, but each will be loaded into the GPU as a 64-bit value (INT64 or FLOAT64).  That's a memor

[2020-08-31 14:44] PerkzZheng commented on #6126
@jlowe Thanks for the reply! it really helped a lot, and I will try to read as text files.

[2020-08-31 14:49] #6126 closed

[2020-08-31 15:43] jrhemstad commented on #6111
I tentatively like the idea of having a `set_default_stream` API that allows controlling the default value of the stream argument in libcudf APIs.

My feeling is that this should be something that's only allowed to be set exactly once. Changing the default stream multiple times throughout runtime could have unforeseen, nasty side effects.

[2020-08-31 16:07] jrhemstad commented on #5626
Closing since we don't have a reproducer of this behavior, and code inspection doesn't show any obvious source of the memcpy.

[2020-08-31 16:07] #5626 closed

[2020-08-31 16:25] cdeotte commented on #6123
This is not a bug. This is the current expected behavior in cuDF. All `NaN` and missing data gets read in as `NA`.

The "bug", or a suggested feature is to convert `NA` to string when a cuDF Series is called as `df.col.astype('str')`. I will post a new bug/ feature suggestion.

[2020-08-31 16:25] #6123 closed

[2020-08-31 16:31] galipremsagar commented on #5552
This bug has been fixed by : https://github.com/rapidsai/cudf/pull/5568 in `0.15`

[code]

[2020-08-31 16:31] #5552 closed

[2020-08-31 16:32] rnyak commented on #4908
@harrism, the week number 1-52. Pandas generates the `week`  column as `int64`. Thanks.

[2020-08-31 17:03] beckernick commented on #4908
For Python bindings, note that pandas is deprecating the `series.dt.week` API in favor of `series.dt.isocalendar().week` as per https://pandas.pydata.org/pandas-docs/stable/whatsnew/v1.1.0.html#deprecations

[2020-08-31 18:24] chinmaychandak opened #6129 "[FEA] Row-wise operations support for DateTime columns."
The following code fails with `ValueError: All values must be of equal length`. I also see the warning: `"Row-wise operations currently only support int, float, "`.

[code]

It would be great if we could have row-wise operations like this on DateTime columns as well.

[2020-08-31 18:33] kkraus14 commented on #6115
Could you please give a code example of what is not working?

[2020-08-31 18:39] miguelusque opened #6130 "[FEA] No error message when concating an empty Series with a non-empty Series"
**Is your feature request related to a problem? Please describe.**
I would like to be able to run the following code without having to explicitly set the change of the empty Series.

[code]

**Describe the solution you'd like**
The following error should not be displayed, and the operation should be successfully performed.

**Describe alternatives you've considered**

The following code works:

or

[2020-08-31 19:22] chinmaychandak opened #6131 "[FEA] Add Kafka cluster metadata API to custreamz.kafka."
Confluent Kafka has an API for the consumer to get the metadata for a Kafka cluster. Here’s how I use it to get the number of partitions for a topic:

[code]

In custreamz, we currently need to specify the number of partitions to start a stream, which is not ideal in case of production workloads where we need to add partitions to a topic, etc. No other streaming stacks need the end-user to specify

[2020-08-31 19:58] #5838 closed

[2020-08-31 21:15] chinmaychandak opened #6132 "[BUG] Datetime Index comparison throws an error when index is empty."
The following code fails with cuDF showing the error: `TypeError: invalid type promotion`, but passes with Pandas giving the output of `mx` as `NaT`.

[code]

[2020-08-31 22:14] #6109 closed

[2020-09-01 00:59] thiago2034 opened #6133 "[FEA] pct_change"
Is there anything in the cudf similar to the pandas pct_change?

[2020-09-01 03:24] #6127 closed

[2020-09-01 11:10] JulianWgs commented on #6127
Thank you for fixing the bug this fast! Why was this not tested in the original PR?

[2020-09-01 12:15] harrism commented on #6111
Yes.

Can you give an example? I would think if `set_default_stream` could just call `cudaDeviceSynchronize()` and that would alleviate any ill side effects, wouldn't it?

[2020-09-01 12:50] rgsl888prabhu commented on #6127
Earlier the API was designed just for int and string  type of seeds.

[2020-09-01 13:45] rnyak commented on #1361
@harrism any plan to include ffill() and bfill() methods in 0.16 nightlies? Thanks.

[2020-09-01 14:42] jrhemstad commented on #6111
I'm not sure how this would ever happen in practice, but the kind of thing I'm worried about is something like this:
[code]

Adding a device sync would probably alleviate any of my concerns.

Something else to consider is if we should really allow `set_default_stream` to be set to any arbitrary `cudaStream_t` or restrict to a choice between `cudaStreamLegacy` and `cudaStreamPerThread`. Otherwise,

[2020-09-01 16:00] shwina opened #6135 "[PROPOSAL] Enforce and automate compatibility with Pandas methods"
One of the goals of cuDF is to provide a Pandas-like API. This means that our classes and functions (including methods) should have the same names as those of Pandas. It also means that our functions should accept the same positional and keyword arguments as their Pandas counterparts.

Currently, we have functions with varying degrees of consistency with Pandas:

1. Functions with the same argumen

[2020-09-01 17:31] #5620 closed

[2020-09-01 18:28] #3677 closed

[2020-09-01 19:55] rgsl888prabhu commented on #6135
How can we overwrite docstrings in a case where we need to mention some shortcomings or unsupported types.

[2020-09-01 19:57] jsmaupin commented on #6131
I've thought we needed this for some time.  I'm not sure why the user had to specify the partition.  Will we need to reset the job if the number of partitions change?  Is there any way to refresh this value without shutting down the stream?

[2020-09-01 19:59] chinmaychandak opened #6136 "[BUG] astype('datetime64[ms]') throws an error with '.msZ' string format"
Reproducer:
[code]

The second example fails showing the error: `ValueError: Unable to infer the timestamp format from the data` with cuDF.

[2020-09-01 20:02] shwina commented on #6135
The docstring is not copied -- only the signature line. We can add a footnote to docstrings that all undocumented members are provided for Pandas compatibility, or something similar.

[2020-09-01 20:02] galipremsagar commented on #6136
Looks like it appears to be fixed in `0.16`:

[code]

@chinmaychandak Which version is this error in?

[2020-09-01 20:55] chinmaychandak commented on #6136
I am using `cudf v0.16.0a200901` which seems to be the latest.

I think you ran the Pandas example for the test instead of cuDF ^. :)

[2020-09-01 20:57] galipremsagar commented on #6136
I see, apologies for the confusion. Yes this is an issue in cudf. Thanks @chinmaychandak !

[2020-09-01 21:16] chinmaychandak commented on #6131
Currently, yes.

I was trying to implement this [here](https://github.com/python-streamz/streamz/compare/master...chinmaychandak:master). Can you take a look?

[2020-09-01 23:39] vuule commented on #5999
The data generator API has changed so much that I have to update all cuIO benchmarks. So I might as well add these cases.

[2020-09-02 07:55] karthikeyann commented on #6135
is it possible to add extra arguments (apart from pandas API arguments) with `@mimic_signature` decorator?

[2020-09-02 08:42] marlenezw commented on #5737
Hi! Should datetime_is_numeric be set to True as the default since the datetime columns are numeric now? In the pandas API it looks like it's still set to False as the default.

[2020-09-02 10:58] harrism commented on #6111
I think you are right, we should limit it to cudaStreamLegacy and cudaStreamPerThread (and possibly cudaStreamDefault).  In other words, you can have any stream you want as the default as long as it is one of the default streams. :) (Incidentally I hadn't even thought of it as a way to set an arbitrary stream as the default -- really we should only keep references to streams that can't be deleted

[2020-09-02 13:53] shwina commented on #5737
Hmm - here's my understanding of the situation:

* Currently, we don't handle datetimes _at all_ in describe. We also don't appear to handle categoricals.
* Pandas treats datetimes as categoricals by default and historically this was the only supported behaviour.
* Pandas 1.1, introduced the ability to treat them as numeric -- however this is not the default behaviour. However, it sounds like it i

[2020-09-02 14:02] marlenezw commented on #5737
Thank you, @shwina, that's super helpful! This all sounds good to me. I've made some changes that I think should support datetime_is_numeric=True. I'll look at how to support categoricals too and then run my code by you once I'm done, or if I run into any issues.

[2020-09-02 14:10] shwina commented on #6135
Yes, any extra arguments that our own APIs have are automatically added to the resulting API's signature. In my example, `bar` has an extra argument `d` to represent this:

[code]

[2020-09-02 17:14] jdye64 opened #6140 "[DOC] Typo error in custreamz README causes code example to not work"
Typo error in custreamz README causes code example to not work

[2020-09-02 17:33] #5734 closed

[2020-09-02 17:33] #6140 closed

[2020-09-02 21:22] chinmaychandak commented on #6117
I am also seeing this:

[code]

What I'm more concerned about is that once this appears, I see a weird network connection error in the Dask worker logs. I am trying to send some payload periodically to an endpoint, and it works just fine until I see the Jitify warning. Not even sure if this is related, but thought I'll put this out here.

[code]

[2020-09-03 00:18] cwharris opened #6144 "[FEA] Add null_order parameter to cudf::detail::drop_duplicates"
`cudf::detail::drop_duplicates` orders nulls first, but `cudf::encode` needs them ordered last (per #5779). To account for this, two additional kernels are invoked. It would beneficial to give `drop_duplicates` a `null_order` parameter so these two calls could be avoided.

[2020-09-03 14:32] brookdpg opened #6145 "import cudf not working"
ops@ops-XPS-15-9500:~$ conda activate  yourenvname
(yourenvname) ops@ops-XPS-15-9500:~$ python
Python 3.6.11 | packaged by conda-forge | (default, Aug  5 2020, 20:09:42)
[GCC 7.5.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ops/anaconda3/envs/yourenvname/lib/python3.6/site-

[2020-09-03 15:19] shwina commented on #6145
It looks like this is a relatively old version of cuDF (0.13) -- could you try installing a newer version? Scroll down to the "Release Selector" section of this page: https://rapids.ai/start.html

[2020-09-03 15:52] shwina opened #6147 "[FEA] Add PEP 484 type annotations to cuDF"
The cuDF codebase has grown to the point where we should:

* Add type hints to public APIs as well as internal code
* Run a type checker such as mypy or pyright as part of CI

Opening the issue for any initial thoughts and will be growing it out into a detailed plan for adding type hints to cuDF.

[2020-09-03 16:24] efajardo-nv opened #6148 "[BUG] CUDA error with subword tokenizer after cuml train_test_split"
**Describe the bug**
Getting `cudaErrorIllegalAddress` error when using subword tokenizer on test dataframe after cuml `train_test_split`. Currently working around this by making copy of test dataframe before tokenizing.

Notes:
- Subword tokenizer works correctly on original dataframe before `train_test_split`.
- Tried on four different training datasets with same result.
- Tried with multiple co

[2020-09-03 18:31] brookdpg commented on #6145
that fixes the issue thanks.

[2020-09-03 18:31] #6145 closed

[2020-09-03 19:18] revans2 opened #6151 "[FEA] memory efficient explode and pos_explode implementations"
**Is your feature request related to a problem? Please describe.**

#2975 asks for pandas explode.  We need something similar for Spark. We have already implemented a version of this when the explode is operating on scalar lists (don't need actual list support to implement that), but quickly ran into memory issues with it.  This is because when you explode a data frame on a single column all of th

[2020-09-03 21:19] davidwendt commented on #6148
I was not able to reproduce the error using the following:
[code]
Perhaps something is getting corrupted in the `train_test_split`.

[2020-09-03 21:31] isVoid commented on #6018
This seems like a quick fix. `_prepare_for_rowwise_op` should pop the warning when it detects the `common_dtype` is neither `np.number` or `np.bool`, and keep silence otherwise.

[2020-09-03 22:18] miguelusque opened #6153 "[BUG] DataFrame structure not created when appending a zero rows DataFrame to an empty DataFrame"
**Describe the bug**
While porting some Pandas code to cuDF, I noticed a different behaviour between both libraries.

If you try to append a Pandas DataFrame with zero rows dataframe (but with some columns defined) to an empty dataframe (without any columns defined), the output from Pandas is a new dataframe with zero rows, but with the original columns.

In cuDF, the output is a zero rows DataFra

[2020-09-03 23:25] #5091 closed

[2020-09-04 03:14] #6105 closed

[2020-09-04 07:15] mythrocks opened #6156 "[BUG] WindowAggregate::count() assumes COUNT_ALL instead of COUNT_VALID"
In the CUDF Java API, one sees that `WindowAggregate::count()` translates to `COUNT_ALL`, with no option to use `COUNT_VALID`.
While `COUNT_ALL` has its place, it produces incorrect results when counting a specific column/expression that might contain nulls. This appears to be the cause of https://github.com/NVIDIA/spark-rapids/issues/218.

One option would be to revert f73c6007c53b3133187559722d3

[2020-09-04 11:44] #6136 closed

[2020-09-04 16:09] galipremsagar commented on #5737
Sorry that this wasn't earlier linked to the `describe` refactor PR: https://github.com/rapidsai/cudf/pull/6060

All dtypes(including datetime and duration) support have been added in #6060

[2020-09-04 16:12] marlenezw commented on #5737
No worries @galipremsagar! I'll take a look at your code just to compare it to what I was thinking :D

[2020-09-04 19:15] calebwin opened #6158 "[FEA] Filtering/reading statistics of ORC data with legacy TimestampStatistics"
The ORC statistics reading introduced in #6142 and stats-based ORC filtering in #6116 do not support the legacy version of `TimestampStatistics` in the ORC format. This legacy version uses time that is adjusted to the local timezone that the ORC data was written in. Fortunately, the local timezone is contained in ORC metadata so it is possible for us to support this version.

I'm creating this iss

[2020-09-05 01:33] #6018 closed

[2020-09-05 10:05] omiderfanmaneshit commented on #6087
thank you
it's worked

[2020-09-05 10:05] #6087 closed

[2020-09-06 08:25] JustPlay commented on #6107
![image](https://user-images.githubusercontent.com/5866501/92321547-7f80e580-f05d-11ea-9ed0-8ce677db3961.png)

[2020-09-06 15:22] cwharris commented on #5943
Some thoughts I had while looking at `io/csv/reader_impl.cu`:

[code]

[2020-09-06 16:14] TakuNishiumi opened #6164 "[BUG] Can't pass index object to `df.drop`"
I executed `df = df.drop(df1.index)` and I got the below message.
df1.index concludes some of the number of df.index.
This error suggests to use `.to_arrow()` or `.to_pandas()`, so I tried them, it failed.
The error was `NameError("column {!r} does not exist".format(name))`.
Do you have any ideas to solve this?

Thank you.

Error:
[code]

[2020-09-06 16:23] kkraus14 commented on #6164
@TakuNishiumi looks like a bug in cudf not handling passing an Index / Series object to the `drop` method currently. As a workaround I would suggest using `df = df.reset_index(drop=True)` for now.

[2020-09-06 16:25] TakuNishiumi commented on #6164
Hi @kkraus14 ,

Thank you for your quick response!
I will try it.

Thank you.

[2020-09-07 04:56] TakuNishiumi opened #6166 "[DOC] How about to make a comparison table? (suggestion)"
When I uses cuDF, I got this error.
`AttributeError: 'DataFrameGroupBy' object has no attribute 'get_group'`
I understood that it is not supported yet.

If you have the comparison table between cuDF and pandas, it is very useful for users.
(This is example of cupy https://docs.cupy.dev/en/stable/reference/comparison.html)

[2020-09-07 22:11] cwharris commented on #5943
I was talking to @trxcllnt and realized we can use `mutable_column_device_view` in `DecodeRowColumnData` rather than `data_type *`,` `void **`, `bitmask_type **`. I didn't realize this at first, because strings are represented as `std::pair<const char *, size_t>`, which are later used to copy strings in to a strings columns. However, if we use _offsets_ from the beginning of the csv, rather than a

[2020-09-08 00:40] galipremsagar opened #6167 "[BUG] KeyError in `cudf.read_parquet` for empty dataframe"
**Describe the bug**
Reading an empty dataframe(`pd.DataFrame`) written to a `parquet` file from a pandas dataframe is resulting in `KeyError`, but writing and reading an empty `cudf.DataFrame` works.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
We should be able to perform `read_parquet` without `KeyError`

**Environment overview (please complete the following information)**
 -

[2020-09-08 03:06] harrism commented on #6084
T4 does not emulate fp64, it just has a lot fewer FP64 ALUs than (e.g.) V100 so its throughput is lower.

[2020-09-08 04:04] galipremsagar opened #6168 "[BUG] Incorrect dtype inferred when a column with all nulls is stored in parquet file"
**Describe the bug**
When there is a column in dataframe with all nulls with dtype "object", `cudf.read_parquet` is inferring the dtype as `int32` instead of `"object"` dtype.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Expected behavior is to infer the dtype correctly in this scenario.

**Environment overview (please complete the following information)**
 - Environment location

[2020-09-08 18:19] Salonijain27 opened #6170 "[FEA] Nth element support in dask cudf"
Requesting `nth` support in dask cudf after groupby.
ex.
[code]
Currently it fails with :
[code]
Once this functionality is implemented it should return a dask cudf dataframe that would contain the first row of each groupby

[2020-09-08 19:51] #5912 closed

[2020-09-08 22:16] galipremsagar opened #6175 "[BUG] `cudf.read_parquet` errors when non-cudf engine is used"
**Describe the bug**
When we save a dataframe containing a series with duration type using `fastparquet` engine and trying to load the same parquet file works in pandas but not in cudf.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
To not error and load the dataframe, like in `pd.read_parquet`

**Environment overview (please complete the following information)**
 - Environment loca

[2020-09-09 02:32] harrism commented on #6085
@hyperbolic2346 @rongou is this fixed by (already merged) #6124 ?

[2020-09-09 02:35] harrism commented on #5887
Does this mean a scalar that contains a single list? Or a column of lists of scalars? (The latter doesn't make sense to me -- it would just be a column of lists)

[2020-09-09 03:03] #5835 closed

[2020-09-09 03:08] cwharris opened #6178 "[FEA] cuio: Reduce mutable state in readers/writers"
Readers/writers are currently implemented as classes which contain member variables that add cognitive overhead. The readers could instead be implemented as pure functions which perform read/write.

Readers also "switch" in various places based on option arguments which are not necessarily shared among all code paths. Breaking a reader's `read` function in to multiple distinct read functions with

[2020-09-09 03:15] harrism commented on #6178
The public cuIO API is made up of pure functions. Only the detail API is OO.

[2020-09-09 05:42] rongou commented on #6085
Yes.

[2020-09-09 06:18] drabastomek opened #6180 "[BUG] Not all data types are included in `describe()` even if `include='all'`"
**Describe the bug**
The `describe()` method should return the the count, number of unique values, the most common value, and the number of occurrences of the most common value for object data. However, it completely ignores `str` type columns.

**Steps/Code to reproduce bug**
Minimal reproducible example:

[code]

**Expected behavior**
A table with counts.

**Environment overview (please complete

[2020-09-09 09:37] harrism commented on #5506
I started on this.

[2020-09-09 09:38] harrism commented on #6085
Fixed by #6124

[2020-09-09 09:38] #6085 closed

[2020-09-09 15:14] andygrove commented on #5391
@karthikeyann Sorry, I missed the mention somehow.

The Spark first/last aggregate functions have an `ignoreNulls` parameter, so I don't think `get_element` alone will suffice unless there is another method that I can use to efficiently filter out the nulls first?

Also, since `get_element` doesn't support negative indices, I'm not sure how I would be able to use it for the `last` aggregate.

[2020-09-09 16:01] vuule commented on #6178
@cwharris Can you add an example?

[2020-09-09 16:27] #6153 closed

[2020-09-09 16:36] cwharris commented on #6178
@vuule

I consider "if (option) do {this} else {do this}` to be "switching" based on arguments, but I'm sure there's better nomenclature for this.

Here's an example related to decompression:

https://github.com/rapidsai/cudf/blob/f4735c7f658da4a157dc09391da899b072878305/cpp/src/io/csv/reader_impl.cu#L186-L189

https://github.com/rapidsai/cudf/blob/f4735c7f658da4a157dc09391da899b072878305/cpp/src/

[2020-09-09 16:44] cwharris commented on #6178
hypothetical reader api:
[code]

[2020-09-09 17:20] vuule commented on #6178
The proposed separation of ingest and parsing makes sense. I'm just not sure if we need templates for the `read()`, wouldn't we have a buffer in memory after the ingest in any case?

This is specific to JSON and CSV readers, right? Input selection works very differently in ORC/Parquet. Probably Avro too, not sure of the top of my head.
Can you either rename the issue to focus to SCV+JSON or add an

[2020-09-09 17:34] cwharris commented on #6178
@vuule You're right. I'm taking a look at the datasource class now, and in light of that abstraction, templates don't make sense.

Yes, what I've mentioned so far is specific to JSON/CSV, but I suspect the case is similar for the other readers, barring "paged" or "chunked" reads (though these could also be abstracted as pure functions if it's beneficial). Still investigating though. If the approac

[2020-09-09 17:48] cwharris opened #6185 "[FEA] cuio: use datasource as the exclusive reader input argument"
Internally, readers are instantiating datasources (from filepaths or otherwise), presumably out of convenience. This complicates the reader interfaces and implementation. Let's factor the readers filepath arguments in to explicit datasource initialization _outside_ of the reader and accept `std::unique_ptr<datasource>` or `std::vector<std::unique_ptr<datasource>>` (in the case of parquet, for exam

[2020-09-09 18:28] cwharris opened #6187 "[FEA] cuio: allow datasource and data_sink to decide how device/host read/write/copies are handled."
Reader and writer implementations have multiple paths for reading and writing, depending whether data is read-from/written-to the host or the device. This logic could be delegated to `datasource` and `data_sink`, potentially sharing the functionality between all `datasource`s and `data_sink`s.

This would eliminate the need for `supports_device_write` and `supports_device_read`, which could also r

[2020-09-09 19:03] cwharris opened #6188 "[FEA] cuio: consolidate host decompression"
Host decompression is used by json/csv readers immediately after datasource read. Rather than being a part of each reader/writer, we could consolidate them in to the datasource, or a decorator of some kind. This would simplify the readers, and also enable decouple decompression from `range_offset` and `range_size`.

This might become more straightforward after #6185

Aside from keeping things [DRY

[2020-09-09 20:24] vuule commented on #6187
I had the same suggestion in the PR that added the `supports_device_write` logic. It was rejected because readers/writers have the context to better optimize the IO operations compared to having the host/device logic in the source/sink.

Yeah, it's a missing feature. In all components but Parquet. We'll be adding this logic to every format soon, including readers. So, `supports_device_read` will a

[2020-09-09 20:29] vuule commented on #6185
The reason why we have a separate path for file names is because JSON and CSV derive compression type from the file extension. If we pass this information in a different way, we can remove the filepath overloads.

[2020-09-09 21:12] #5636 closed

[2020-09-09 22:44] cwharris commented on #6187
:(

Any chance you have the PR number? I'd like to see the reasoning. I imagining the control could still be inverted...

[2020-09-09 22:52] vuule commented on #6187
@cwharris here you go: https://github.com/rapidsai/cudf/pull/4231#discussion_r384104534

[2020-09-09 23:26] cwharris commented on #6187
Is this device or host memory we're concerned with? @nvdbaranec

[2020-09-10 00:55] #6148 closed

[2020-09-10 01:27] #1821 closed

[2020-09-10 11:59] webzest opened #6191 "[QST] Getting ImportError: libcuda.so.1:"
**What is your question?**
Hello,

I am trying to run my ML code on my GeForce GTX 1050 Ti GPU without success.  I am getting the following error:
[code]
I started by installing WSL2 on my Windows System, Installed Miniconda3 and created a new environment to then install the rapidsai libraries.  Everything installed correctly, but I am unable to import the librariew without errors.
Here is what ha

[2020-09-10 12:49] galipremsagar opened #6192 "[FEA] Add binary operator implementation at `Column` level to avoid calling `binary_operator`"
**Is your feature request related to a problem? Please describe.**
In our cudf code-base, we call `Column.binary_operator("op", Column/Scalar)` at multiple places..This can be avoided by adding `__add__`, `__sub__`, `__mul__`, etc.. implementations for each operator.

**Describe the solution you'd like**
Add `__add__`, `__sub__`, `__mul__`, etc.. methods for all `Columns`.

**Additional context**

[2020-09-10 12:49] #6132 closed

[2020-09-10 14:53] nvdbaranec commented on #6187
Are you asking about my comment re: having to alloc/free on the spot for a default implementation?  The thinking there was that it would have to allocate host memory, do a memcpy, then do it's write, then immediately free that memory even though it would probably be doing that multiple times.  If you look at how the code is structured here:  https://github.com/rapidsai/cudf/blob/ac39e372d771b604b6

[2020-09-10 15:41] davidwendt opened #6193 "[FEA] Unnecessary memory-resource parameter in cudf::contains API"
The `cudf::contains()`[API](https://docs.rapids.ai/api/libcudf/stable/group__column__search.html#gaab8afed35a8a3289bcab4c1e683deb96) that accepts a `cudf::scalar` just returns a `bool` type so the `rmm::mr::device_memory_resource*` parameter is not necessary since only temporary working memory is used.

I found this while investigating adding `dictionary` support to the `cudf::contains` API per is

[2020-09-10 18:33] #6010 closed

[2020-09-10 19:36] revans2 opened #6196 "[BUG] regular expressions see the nul character as the end of the string"
**Describe the bug**
This is an odd corner case, but Spark supports it so we would like to be able to match it if possible. We have seen users try all kinds of odd deliminators to avoid having to try and deal with escape characters.

We found that a regular expression sees a '\0' character in a string like the end of the string.

So a regex of '(.|\n)' will match (`matches_re`) "A\0FOO BAR" but no

[2020-09-10 19:48] rjzamora commented on #5012
I'm going to close this for now since `npartitions` is not a supported `read_parquet` option (and so this is not really a "bug").
 With that said, it probably makes sense to throw an error or warning if the user tries to pass this option.  The upstream-dask routine passes kwargs through to the backend, so this is probably a case where a bad argument is silently ignored.

In addition to the workaro

[2020-09-10 19:48] #5012 closed

[2020-09-10 22:47] rjzamora opened #6198 "[FEA] Support "inplace" argument for set_index"
**Is your feature request related to a problem? Please describe.**
The `inplace` argument (available in pandas) is not currently supported for `cudf.DataFrame`.

[code]
[code]

**Describe alternatives you've considered**
`df = df.set_index("a")` works fine, but is less efficient than an in-place operation. A more-efficient (but uglier) alternative may be (?):

[code]

**Additional context**
The `r

[2020-09-10 22:58] #6193 closed

[2020-09-11 00:07] kkraus14 commented on #6198
@isVoid can you tackle this when you get a chance?

[2020-09-11 00:34] williamBlazing opened #6200 "[BUG] cudf::io::read_parquet with set_num_rows causes ilegal memory access"
**Describe the bug**
Having issues with cudf::io::read_parquet when only trying to read 1 row (tried with 100 rows and had same issue).  This issue is recent, so i am guessing it may have been introduced by https://github.com/rapidsai/cudf/pull/6051/files

The error i am getting is:
[code]

It does not crash all the time, more like 1 in 10.

**Steps/Code to reproduce bug**
[code]

**Expected behav

[2020-09-11 01:38] rgsl888prabhu commented on #6200
@williamBlazing  Is it possible to provide me a sample dataset on which this is reproducible.

[2020-09-11 02:00] rgsl888prabhu commented on #6200
And I was just curious about couple of stuff
- is this PR available in the nightly that you are using https://github.com/rapidsai/cudf/pull/6195
- And how did you ping point it to parquet ?

I have tried creating multiple column with huge number of rows and read just 1 row, but I couldn't reproduce the issue.

I will be trying couple of more options, and if possible please provide me your reproduc

[2020-09-11 02:16] harrism commented on #5506
Note updated cuspatial based on this in rapidsai/cuspatial#292

[2020-09-11 02:32] calebwin commented on #6200
I ran into this on the latest branch-0.16 with-
[code]
I reproduced for some values of `num_rows` where it would work some times and then fail eventually. Relevant file is attached; it has 1 row group. Also this issue didn't come up when I was setting `num_rows` when using your not-yet-merged args filtering work for ORC and it doesn't seem to be an issue with `skip_rows`

.

[2020-09-11 03:26] harrism commented on #5507
@jrhemstad I started looking at `scalar.hpp` and I don't think this can be solved by adding an implementation .cpp file, as it includes template class definitions. However, I believe since those are in the `detail` namespace, the use of those headers can be moved to a detail header that is only included from internal files.

[2020-09-11 03:27] rgsl888prabhu commented on #6200
@calebwin Thank you, I was able to reproduce it.

[2020-09-11 04:20] rwlee opened #6203 "[BUG] column_view data() uses same _offset regardless of data type"
**Describe the bug**
In https://github.com/rapidsai/cudf/blob/branch-0.16/cpp/include/cudf/column/column_view.hpp#L74
The `_offset` pointer math changes based off the templated type, which is problematic if the templated type does not match the column's type. For example, a `uint32_t` column with `offset = 2` that has `cv.data<uint64_t>()` will return an address 16 bytes rather than 8 bytes past t

[2020-09-11 04:22] jrhemstad commented on #6203
This is illegal and results in undefined behavior.

[2020-09-11 04:42] jrhemstad commented on #6203
If you want to view the elements of a column as bytes, this would be the way to do it:

[code]

First you get the data as it's real type, then you cast it.

[2020-09-11 13:02] #5576 closed

[2020-09-11 13:32] davidwendt commented on #6203
Left a comment in the PR on this
https://github.com/rapidsai/cudf/pull/6139/files#r487044483

[2020-09-11 14:29] rjzamora commented on #5062
I can no longer reproduce this error with the latest dask (and after #6199 ). @randerzander - Feel free to reopen if you are still running into issues

[2020-09-11 14:29] #5062 closed

[2020-09-11 14:38] #5343 closed

[2020-09-11 16:29] galipremsagar opened #6208 "[BUG] `take` on a dataframe with MultiIndex returns incorrect names"
**Describe the bug**
We seem to return default/incorrect names when we apply a gather operation on dataframe with multiIndex.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Names should be similar to that of pandas.

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: conda

**Additional context**
Add a

[2020-09-11 17:21] cwharris opened #6210 "[FEA] cuio: reduce subscript member access in parse utilities"
There's a lot of clutter cause by subscript member access in the parsing utilities which inhibits refactoring. Instead of subscript member access, we can use pointers as iterators. Updating return values to use pointers rather than offsets will also simplify the functions. Invocations will need to be adjusted to account for the removal of a sentinel value (`-1`) in place of `end` in some locations

[2020-09-11 17:22] cwharris commented on #6210
I'm going to take this one, as it's interfering with higher level changes.

[2020-09-11 18:08] rwlee commented on #6203
Thanks, switched to the reinterpret_cast approach last night. Thanks for the help Jake and David! Closing this issue.

[2020-09-11 18:08] #6203 closed

[2020-09-11 18:33] nvdbaranec commented on #6200
Do you know how recently your repro case was working? Also is there some easy way to get access to the file you're using to repro?

[2020-09-11 22:48] ericmjl opened #6216 "[FEA] Register Dataframe Accessors"
**Is your feature request related to a problem? Please describe.**
I wish cuDF could allow for custom dataframe accessors. That would allow us to port over `pyjanitor` code to work with cuDFs as well.

**What are dataframe accessors?**

They are available here: https://pandas.pydata.org/docs/development/extending.html

The gist is that custom dataframe accessors allows us to do things like:

[code

[2020-09-11 23:20] nvdbaranec commented on #6200
Hey @williamBlazing , I think I have a fix for this.  If you have a chance, could you give this PR a try?

https://github.com/rapidsai/cudf/pull/6217

Don't even need to grab the PR itself, it's a true one-liner you can just paste locally.

[2020-09-12 04:20] germasch commented on #5569
To leave my $.02 here: If one wants to support adding an existing library to downstream cmake projects via `find_package(CUDF)`, a find module (`FindCUDF.cmake`) is the only option.

But it has lots of drawbacks, most clearly that such a find module needs to be integrated into downstream projects (or into cmake itself) and will almost inevitably become out-of-sync with the latest upstream CUDF ove

[2020-09-12 15:34] cwharris commented on #6187
If the invocation sites are bifurcated due to the need for multiple passes using the same buffer, we could use a two-step API instead. The first step uses RAII to obtain a worst-case-size buffer, and the second step writes using that buffer. The second step could be called any number of times. Since the buffer type can differ (or simply be unnecessary), we could wrap it in a context to hide the de

[2020-09-13 16:02] cwharris commented on #6185
Sounds like that makes this issue dependent on #6188

[2020-09-13 16:41] cwharris commented on #1025
The utility behind `convert_string_to_dtype` seems to be an artifact of these functions, where we parse column/dtype pairs from strings.

in the csv example `get_dtype_info` calls `convert_string_to_dtype`
https://github.com/rapidsai/cudf/blob/2bc8eb0edfdc2974a17b396f572d9f16f23caf3c/cpp/src/io/csv/reader_impl.cu#L624-L647

https://github.com/rapidsai/cudf/blob/2bc8eb0edfdc2974a17b396f572d9f16f23c

[2020-09-13 17:08] cwharris commented on #5565
The design of `type_dispatcher` encompasses a few things, some of which are not accounted for in the example code. For one, the `type_dispatcher` pattern encourages a pure-function approach, so setting instance-specific state is discouraged, or it at least encourages a single assignment of a custom type. In that way, `type_dispatcher`'s design has a cascade effect. Using it incorrectly or in a clu

[2020-09-13 17:12] cwharris commented on #5565
That being said, this code works as is and should probably just remain the way it is until we factor out the member variables. There's not much to be gained now that it's implemented and tested, but the `type_dispatcher` pattern should still be used for new code, avoiding type-based switches. It's verbose, but encourages better code upstream.

[2020-09-13 17:48] cwharris commented on #5565
One more thought on the subject...

This is actually an argument in favor of `type_dispatcher`, as it imposes a compile-time restraint on handling all cases, even if one of those cases is a catch all al a `default` that calls `CUDF_FAIL`. If there truly is a mapping per type, there won't `CUDF_FAIL` case, and any time a new type is added, it will need to be accounted for explicitly, reducing the l

[2020-09-13 17:57] galipremsagar opened #6219 "[BUG] to_timestamps not handling format correctly when there is a truncated string"
**Describe the bug**
We use `to_timestamps` to convert a string into a datetime column. This is primarily done incase of type-casting a string column to datetime column. In this case we try to infer format from first row and pass the format to `to_timestamps` api. It appears to be that when `%.9f` exists the corresponding value is not being inferred correctly.

**Steps/Code to reproduce bug**
[cod

[2020-09-14 13:38] revans2 opened #6221 "[BUG] estimate_join_output_size returns size_type which on overflow can cause a hang"
**Describe the bug**
estimate_join_output_size can overflow and result in what appears to be a hang instead of an error.

**Steps/Code to reproduce bug**
I don't have C++ code to reproduce the error just yet.  I'll try to work on it if it is needed.  The case we have is trying to run TPC-DS query 72 on scale factor 200 with anything smaller than about 1,000 shuffle partitions.  I know that does no

[2020-09-14 14:39] cwharris opened #6222 "[BUG] cuio: reader/writer tests do not verify file contents, only isomorphism."
**Describe the bug**
Reader and writer tests have the potential to pass erroneously if the readers/writers change in a way that maintains isomorphism, regardless of whether the written contents contain the correct contents. Unlikely, but possible.

**Expected behavior**
- Reader tests should explicitly test reading file contents and verifying the parsed data is as expected.
- Writer tests should e

[2020-09-14 15:03] galipremsagar opened #6224 "[BUG] A column with `inf` values is being treated as "object" dtype instead of "float" in cudf.read_csv"
**Describe the bug**
When there are `inf` values in a column(float dtype), `cudf.read_csv` is inferring the dtype as "object" instead of `float`. Attached is the csv file generated in fuzz test: [temp_csv.zip](https://github.com/rapidsai/cudf/files/5219277/temp_csv.zip)

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
Expected behavior is column 14 should be inferred as `float64` dtyp

[2020-09-14 15:43] galipremsagar opened #6225 "[BUG] `cudf.to_csv` fails when dataframe has a `timedelta` dtypes"
**Describe the bug**
Looks like we don't have the support for timedelta types in csv writer. ~~and reader.~~

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
`to_csv` should be able to write to the file.
~~`from_csv` should be able to correctly infer the dtype.~~

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF

[2020-09-14 15:45] karthikeyann commented on #6225
This PR https://github.com/rapidsai/cudf/pull/6076 adds this feature.

[2020-09-14 15:46] galipremsagar commented on #6225
Thanks @karthikeyann :+1:

[2020-09-14 16:20] vuule commented on #6187
There is a plan to improve performance by processing files in batches (when possible) so that IO can be overlapped with kernels. We don't currently have the infrastructure to make this change.
Since this would significantly change how the sources/sinks are used, I would postpone addressing this issue for now. In addition, I don't think this part of the code is what we need to focus on in the refac

[2020-09-14 18:15] galipremsagar opened #6227 "[BUG] csv writer truncating timestamp data while writing to csv file"
**Describe the bug**
cudf csv writer seems to be truncating the sub-second level data incase of `datetim64` dtypes. The datetime values in the csv files are being written only upto seconds level precision, thus ignoring any sub-second data.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Csv writer should be writing out the entire sub-second data incase of `datetime64` dtypes.

**En

[2020-09-14 18:15] karthikeyann commented on #6225
@galipremsagar `pd.read_csv` doesn't infer the timedelta type. It is read as string.

[2020-09-14 18:19] galipremsagar commented on #6225
I see, updated the description accordingly @karthikeyann

[2020-09-14 18:31] vuule commented on #6187
IMO this is not a 'tech debt' issue, removed the tag.
Depending on future changes to how IO is pipelined, this issue might not get implemented. Keeping open for now.

[2020-09-14 20:24] quasiben opened #6228 "[BUG] Groupby Mean Performance Regression"
There may be a performance regression when running groupby mean in cudf when executing with many columns.  When cuDF performs multiple aggregations, it _should_ be more performant to do this with the `agg` operator rather than each aggregation expressed individually.  This is not the case the reproducible below (note this is built with 260 columns and 2592001 row)

[code]

cc @pentschev @zronaghi

[2020-09-14 21:05] jlowe opened #6229 "[FEA] Ability to query cudf Java jar build details"
**Is your feature request related to a problem? Please describe.**
Some users of the RAPIDS Accelerator plugin for Apache Spark are not matching the correct versions of cudf with the plugin resulting in `NoSuchMethodError` exceptions and other errors.  It would be nice if the plugin could query cudf, either via a properties resource file in the jar or via a formal Java API, to get details about th

[2020-09-14 22:15] jrhemstad commented on #6228
![image](https://user-images.githubusercontent.com/15221289/93143423-8935c900-f6ad-11ea-9342-28fdf32d765f.png)

From the profile @quasiben shared, it shows how the `MEAN` aggregation is taking much longer than the others. Based on the kernel activity in the `MEAN` aggregation it is taking the sort-based path, which explains why it is much slower.

@devavret confirmed that currently calling `cudf::

[2020-09-15 00:30] cwharris opened #6233 "[REVIEW] Add cudf::detail::span in anticipation of std::span / thrust::span"
**Is your feature request related to a problem? Please describe.**
cudf contains many pairs of pointers + size, or begin/end pointers with no abstraction around them. `std::span` was created to handle this case, but is not available until C++ 20. cudf won't be using C++ 20 any time soon, but we can implement our own and clean up various pointer/size begin/end arguments around the code base.

**Des

[2020-09-15 02:17] jrhemstad commented on #6233
For the `Extent` template parameter I think we can just worry about the dynamic extent option. So we can do something like this for now:
[code]

We can add support for the static Extent if/when we care about that.

[2020-09-15 09:24] karthikeyann commented on #6224
Quite surprising. csv reader parsing didn't have infinity support until now. (even with datatypes passed).

[2020-09-15 12:14] karthikeyann opened #6235 "[BUG] float min, max values are truncated, causing to read again as -inf, +inf"
**Describe the bug**
floating point min=-1.7976931348623157e+308 and  max=1.7976931348623157e+308 is written as
-1.797693135e+308
1.797693135e+308
and so, it is read as -inf and +inf respectively.

**Steps/Code to reproduce bug**
[code]

Pandas parsing also doesn't work. But pandas.astype(np.float) works.
cudf parsing and astype(np.float) both doesn't work because writing truncates and rounds up l

[2020-09-15 12:24] karthikeyann commented on #6224
With PR #6234 ,
[code]

[2020-09-15 15:24] devavret opened #6236 "[FEA] Replace cooperative loading of structs with a function or a simple single thread loading"
Many kernels in cuIO start with loading a struct to shared memory. This is currently done by using all threads to read in a part of the struct in a not reader friendly way.
Examples:
https://github.com/rapidsai/cudf/blob/9fc167ce118f576d7bb62d611e6cfc6234cdc4fc/cpp/src/io/orc/stripe_data.cu#L1122-L1124
https://github.com/rapidsai/cudf/blob/83d1ad7415afeac4acc00c7697a3736abab1ed9f/cpp/src/io/orc/st

[2020-09-15 15:40] c-jamie opened #6237 "[QST] cudaErrorMemoryAllocation when running tests"
**Background**

I've successfullly built cuda + tests on my local machine, however for a large number of tests, I'm getting `cudaErrorMemoryAllocation` errors

**What is your question**

1) is this expected behaviour for my system; if it because my graphics hardware is insufficient (env is below), is there a recommended graphics card memory size?
2) is there any way of getting these tests to run o

[2020-09-15 15:57] kkraus14 commented on #6237
@c-jamie it looks like GPU 0 in your machine is a Quadro K2200 which is Maxwell generation and is unsupported. I assume you meant to target GPU 1 which is your GTX 1650? Could you try doing `CUDA_VISIBLE_DEVICES=1 ./JOIN_TEST`?

[2020-09-15 15:57] jrhemstad commented on #6236
I believe this is something [`trove`](https://github.com/bryancatanzaro/trove) can help with. It will do better than that hacked code too because it will use vectorized load/stores.

[2020-09-15 16:03] kkraus14 commented on #6191
@webzest Did you install the WSL2 beta CUDA support? See here: https://docs.nvidia.com/cuda/wsl-user-guide/index.html

It looks like it's not finding the CUDA driver which I'd guess is from something related to the install instructions above.

[2020-09-15 16:08] kkraus14 commented on #6170
Is the expectation here that the order of rows within a group matches the order of rows from the input DataFrame? I'm not sure if we're able to make that guarantee currently.

[2020-09-15 16:13] kkraus14 commented on #6084
Closing as this is answered.

[2020-09-15 16:13] #6084 closed

[2020-09-15 16:14] kkraus14 commented on #5988
This has been answered and the Numba issues are resolved so I'm closing this. Feel free to open a new issue if there's further issues.

[2020-09-15 16:14] #5988 closed

[2020-09-15 16:16] kkraus14 commented on #28
Just to update folks following this issue, the latest CUDA WSL beta now supports PTX JIT compilation so everything in cuDF (single GPU) should work in it. You can find the updated install instructions here: https://docs.nvidia.com/cuda/wsl-user-guide/index.html

I'm going to leave this issue open for the community to continue discuss native Windows support.

[2020-09-15 16:33] devavret opened #6238 "[FEA] Abstract away block reduce and block scan from cuIO kernels"
ORC and parquet writer kernels use a block reduction or a block scan but write out the entire logic inside the kernel.
#### Here's a block reduction:
https://github.com/rapidsai/cudf/blob/57ef76927373d7260b6a0eda781e59a4c563d36e/cpp/src/io/orc/dict_enc.cu#L431-L434

#### Here's a block scan:
https://github.com/rapidsai/cudf/blob/57ef76927373d7260b6a0eda781e59a4c563d36e/cpp/src/io/orc/dict_enc.cu#L

[2020-09-15 16:37] afender opened #6239 "[BUG] Unexpected OOM in dask_cudf repartition"
**Describe the bug**
I'm hitting an OOM error in `ddf.repartition(npartitions=n_gpu)`
This happens after successfully reading a dataset broken into `X` flies/chunks/partitions when I am trying to "consolidate" these partitions to `Y` GPUs with one partition per GPU (`Y<X`).

**Steps/Code to reproduce bug**
In this example, I generate 20 files with 2 columns and 100M rows in each one, all integers.

[2020-09-15 16:38] jrhemstad commented on #6238
This is almost certainly the way to go. It's like that the CUB implementations will be faster as well.

[2020-09-15 16:45] devavret commented on #6238
I'd like this too but I get tempted by the idea of calling a block reduce by active threads.

[2020-09-15 16:48] jrhemstad commented on #6238
Don't all threads contribute to the final reduction result?

[2020-09-15 16:51] c-jamie commented on #6237
@kkraus14 thanks for the response. Strange when I target device 1, I get `cudaErrorNoKernelImageForDevice`. I'm building with  `compute_75` which is what I though the correct arch was for my GTX. Have I made a mistake?

[2020-09-15 17:01] kkraus14 commented on #6237
Hmm it's very strange you're getting a `cudaErrorInvalidDevice` error. Are you running in a container or somewhere else that isolates the GPU you're targetting already? The `nvidia-smi` report is showing a K2200 and GTX 1650.

It's possible our join test uses more than 4GB of memory. cc @jrhemstad who I think would know

[2020-09-15 17:15] devavret commented on #6238
They do but the last iteration might not. For that purpose, instead of
[code]
It currently uses
[code]
e.g. here https://github.com/rapidsai/cudf/blob/57ef76927373d7260b6a0eda781e59a4c563d36e/cpp/src/io/orc/dict_enc.cu#L399-L400

[2020-09-15 17:29] #1892 closed

[2020-09-15 17:29] #5737 closed

[2020-09-15 17:29] #6180 closed

[2020-09-15 17:33] c-jamie commented on #6237
@kkraus14 I've just removed the K2200 from my box to remove ambiguity. Now `./HASH_MAP_TEST` runs fine, but still `cudaErrorMemoryAllocation` on `./COLUMN_TEST` and `./JOIN_TEST`.

[2020-09-15 17:36] jrhemstad commented on #6238
Is there useful work for the remaining threads to do after the last iteration where it is actually detrimental to synchronize them?

[2020-09-15 17:42] #6130 closed

[2020-09-15 18:11] devavret commented on #6238
Not for reducing work, this is just for readability of the loop and things inside it. Otherwise most operations would need to have a `if (i + t < end)` before them.

But there are other reasons to allow a `__syncthreads()` inside a loop, like calling another block function like RleEncode  which itself uses `__syncthreads()`. So it's not too important.

Replacing the current code with `cub::BlockRe

[2020-09-15 18:12] devavret opened #6241 "[FEA] Improve readability of thread id based branching"
Improve readability of thread id based branches by giving them more descriptive names.

#### e.g.
[code]
#### and
https://github.com/rapidsai/cudf/blob/57ef76927373d7260b6a0eda781e59a4c563d36e/cpp/src/io/statistics/column_stats.cu#L285
Is actually a `lane_id == 0`
#### and
https://github.com/rapidsai/cudf/blob/85cd56dfb3449140f18c7cef3a3be01ac976fd14/cpp/src/io/parquet/page_enc.cu#L1256
is actuall

[2020-09-15 18:33] OlivierNV commented on #6241
Nope: last one is `if (lane_id == 31)`, for those that prefer the "lane id" terminology.

[2020-09-15 19:49] devavret commented on #6241
Thanks. Thus demonstrated that it wasn't so readable for me 😆

[2020-09-15 22:12] #6000 closed

[2020-09-15 23:14] davidwendt commented on #6237
@c-jamie Just out of curiosity, could you try running these with `--rmm_mode=cuda`?
Example:
[code]

[2020-09-16 00:08] vuule commented on #6241
Also, isn't `!(t & 0x1f)` actually `t % 32 == 0`, not `t == 0` ?

[2020-09-16 01:17] ayushdg commented on #6239
From what I've noticed: `repartition` doesn't necessarily concat partitions on the workers as is, but also shuffles the data around so that partitions are in order. For example if I have 2GPU's and a total of 6 partitions, after the read parquet step it's likely that the partition distribution may look something like this:
[code]
When repartitioning dask shuffles the data so that the output is lik

[2020-09-16 01:55] cwharris commented on #6210
Introducing device_span in #6233 could be beneficial here.

[2020-09-16 01:57] cwharris commented on #5710
Introducing `device_span` in #6233 which could prove useful here.

[2020-09-16 02:06] jrhemstad commented on #6241
https://godbolt.org/z/a9ercr

Note that using CG also generates the same code, but it actually gives you access to the special `laneid` register.

[2020-09-16 06:56] c-jamie commented on #6237
@davidwendt that change works, thank you very much. Is there anywhere I can go to read documentation on these modes and their meaning?

[2020-09-16 10:31] devavret commented on #6241
That's what I wrote. `lane_id == 0`

[2020-09-16 12:32] quasiben commented on #6239
Hmm, I ran this example with a small modification but on two v100 (32GBs) as was not able to reproduce.  The small modification was adding `rmm`:

[code]

[2020-09-16 13:46] davidwendt commented on #6237
The modes are set in the gtests through the command line. The available modes for gtests:
https://github.com/rapidsai/cudf/blob/b35882895513143bb05e7906c525f9f83788fea9/cpp/tests/utilities/base_fixture.hpp#L268-L275
There is some documentation here: https://github.com/rapidsai/rmm#available-resources

The default is `pool` mode which pre-allocates half the GPU memory and then grows from there as n

[2020-09-16 13:47] kaatish commented on #6238
@devavret could using the `valid_items` parameter with cub::BlockReduce ([link](https://nvlabs.github.io/cub/classcub_1_1_block_reduce.html#a33ddffdde07275ab0c4e1bf61b0d9409)) help in handling the last iteration?

[2020-09-16 13:54] c-jamie commented on #6237
Got it thanks. This can be closed.

[2020-09-16 14:01] kaatish opened #6244 "[BUG] Race condition reported in PARQUET_TEST"
**Describe the bug**
Running `cuda-memcheck --tool racecheck` on `PARQUET_TEST` shows race conditions. Offending functions are
`unsnap_kernel`, `gpuDecodePageData`, `gpuDecodePageHeaders` and `snap_kernel`.

A gist with the output can be accessed [here](https://gist.github.com/kaatish/c237b0cc4509456695270ffbb523723c).

**Steps/Code to reproduce bug**
On branch-0.16, run `cuda-memcheck --tool race

[2020-09-16 14:13] #6237 closed

[2020-09-16 15:00] afender commented on #6239
I still repro after testing this change :( I didn't realize that pool allocation was enabled in this code, is it ON by default?
I was experimenting with this I found that reinitializing RMM : `rmm.reinitialize(pool_allocator=True, initial_pool_size=16000000000, maximum_pool_size=32000000000`)  also has no effect for me.

[2020-09-16 16:56] vuule commented on #6222
Is this issue about the use of `CUDF_TEST_EXPECT_TABLES_EQUIVALENT` ?

[2020-09-16 17:18] cwharris commented on #6222
No, this issue is about:
[code]

[2020-09-16 17:26] EvenOldridge commented on #925
Hey @jrhemstad checking in about the status of this.  This is an issue for the PyTorch and TF dataloaders that we're building.  I know there are potentially other workarounds being explored.

[2020-09-16 17:32] vuule commented on #6222
I don't think we have a way to test this in C++ tests.
We do have Python tests that leverage readers/writers from other libraries to validate the file content.
That said, how do resolve this issue? Migrate such tests to Python?

[2020-09-16 17:38] devavret commented on #6238
If you mean that it might obviate the need to set out of bounds elements to 0 then it appears so from the docs. If you mean it might allow us to write our loops in `for (size_t i = start; i < end; i += stride) {` style then perhaps not. cub::BlockReduce is [not syncthreads free](https://github.com/NVlabs/cub/blob/c3cceac115c072fb63df1836ff46d8c60d9eb304/cub/block/specializations/block_reduce_rakin

[2020-09-16 18:18] jrhemstad commented on #925
It's still an active point of conversation, but we don't have any plans to add streams to public APIs in the near future.

[2020-09-16 21:10] kuhushukla opened #6246 "[FEA] Support filter() operator for struct_view"
**Is your feature request related to a problem? Please describe.**
Currently, if one passes a struct column as part of a table through the filter operation, the following error is encountered:

[code]
This issue is a request for filter() feature for struct columns.
**Describe the solution you'd like**
Provide support for struct_view for filter operator.

**Describe alternatives you've considered**

[2020-09-16 21:18] davidwendt commented on #6219
The data must always match the format.
The format tells the code how many characters are required for each specifier. The `%9f` requires 9 characters for the fractional-second field. It is not expected that the data from each row have a different format. For example, if the format was the following "%H%M%S%9f%j" this would require the data to be like "121100123456001" (Jan 1 12:11:00.123456). Ther

[2020-09-17 00:28] harrism commented on #6237
I think this needs a bit of investigation. It is strange that it would OOM with the pool but not with the cuda allocator.  I wonder if the test only OOMs after running many other tests (causing fragmentation). I would be surprised, though, because that would imply a memory leak somewhere (otherwise all fragments should be coalesced between tests).

[2020-09-17 00:57] #6164 closed

[2020-09-17 00:57] #6208 closed

[2020-09-17 02:07] williamBlazing commented on #6200
@nvdbaranec We finally got a chance to verify this fix today. Thanks @romeluko for doing that

[2020-09-17 02:07] #6200 closed

[2020-09-17 07:25] ayushdg commented on #6239
Update: I was playing around with this example a bit more and noticed a few things that might help:

The columns created here are `int64` (8 Byte) columns so the memory usage of the dataset is actually 32GB across both GPUs or 16GB per GPU giving a 3x room for memory overhead.

One of the operations during repartition would be concatenating the dataframes which would materialize an int64 index eff

[2020-09-17 07:47] ayushdg opened #6249 "[BUG] Memory discrepancy with concat( ignore_index=True )"
**Describe the bug**
When concatenating two dataframes with `ignore_index=True` the memory usage of the resulting dataframe should be the sum of memory usage of the individual dataframes, however this doesn't seem to be the case in practice despite `df.memory_usage` reporting identical values.

**Steps/Code to reproduce bug**
[code]
[code]

After concat
[code]
[code]

The `nvidia-smi` memory usage

[2020-09-17 08:27] harrism opened #6250 "[BUG] Still multiple calls to deprecated `rmm::mr::get_default_resource()`"
**Describe the bug**
In #6121 @hyperbolic2346 removed most calls to `get_default_resource()` and replaced them with `get_current_device_resource()`, but there are still quite a few calls.

These need to be removed before we merge rapidsai/rmm#560

[2020-09-17 13:08] cwharris opened #6252 "[FEATURE] cuio: eliminate off-by-one adjustments in parse utilities"
Cuio has a few places where we unnecessarily add/subtract `1` from a "field length" or "size" or "end pointer". This is caused by some parse implementations using `<=` rather than `<`. If we update parse utilities such that the accept `begin`/`end` pointers, offsets,  or `span`s, we can avoid these "adjust-by-one" fixes.

With the the current code, size of input to parse utilities must be calculat

[2020-09-17 13:59] cwharris commented on #6250
Didn't realize you assigned this to yourself @harrism .

[2020-09-17 14:54] galipremsagar commented on #6219
Okay, understood. I guess this is the limitation due to guessing date-format based on first string only.

@kkraus14 Should we have a warning when this kind of type-cast occurs? or should we infer the # value for `%#f` based on all values in the string column?

an example case where this could be a problem:

[code]

[2020-09-17 15:00] davidwendt commented on #6219
@galipremsagar I just tried modifying the libcudf code to account for the end-of-string case for the fractional specifier. So looks like this can be fixed for this case. But supporting variable length decimals for fractions would still not work if the `%f` specifier is not at the end.

[2020-09-17 15:01] nvdbaranec commented on #6200
Fantastic.  Glad to help.

[2020-09-17 15:09] davidwendt commented on #6219
Ok. I will create a PR with the change today.

[2020-09-17 15:49] quasiben commented on #6239
I ran in an ipython session but I started a new session when doing the reading.  Should we expect the write and read to be in a single pass ?

[2020-09-17 17:03] ayushdg commented on #6239
Most of my tests had the read in a separate session (without the write)

[2020-09-17 17:05] afender commented on #6239
Ah yes, it passes in 32 bits for me as well! Thanks, @ayushdg.

I am still surprised that repartition needs so much memory, even in `64bits` we are barely occupying half of the GPU before concatenating. In general, I wouldn't expect a concatenation operation to allocate.

Also, did you notice that `repartition` is 4x slower than reading? Is this expected?
*** Read Time:  3.1s
*** repartition Time:

[2020-09-17 17:25] ayushdg commented on #6239
Perhaps @galipremsagar or @kkraus14 can explain better but IIUC concat is not inplace and I usually see a 2x memory overhead.

Yes I saw something similar. Some of the reasoning is in this [comment](https://github.com/rapidsai/cudf/issues/6239#issuecomment-693112687. If you check the dashboard most of the time goes in transferring data between GPUs. With UCX enabled the transfer speed should be si

[2020-09-17 18:46] kkraus14 commented on #6239
Concatenating each column turns multiple buffers into a single contiguous buffer so it absolutely needs to allocate. Add in string columns which have to track offsets as well and you need to do more than just memory copying too.

[2020-09-17 18:49] kkraus14 commented on #6219
The reason we're only inferring from the first format is to avoid the cost of doing CPU inference. If we had a GPU function that returned the format that should be used it would be ideal to handle situations where we get mixed strings like: `[ "1970-01-01 00:00:00.000001", "1970-01-01 00:00:00.000001000"]`

[2020-09-17 19:03] #6250 closed

[2020-09-17 19:46] bryevdv opened #6255 "[FEA] Support time-frequency grouping for Grouper"
**Is your feature request related to a problem? Please describe.**

The `Grouper` in cuDF does not support most of the feature of `pd.Grouper`, including the `freq` parameter for grouping by a time frequency (e.g. daily, hourly).

ref: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Grouper.html

**Describe the solution you'd like**

Support `freq` and other features of `pd.Group

[2020-09-17 19:53] bryevdv opened #6256 "[FEA] Support multiple joins at once"
**Is your feature request related to a problem? Please describe.**

Pandas supports passing multiple dataframes to `join` at once, cudf does not.

ref: https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html#joining-multiple-dataframes

**Describe the solution you'd like**

To be able to join multiple dataframes efficiently in one call:
[code]

**Describe alternatives you've considere

[2020-09-17 20:19] afender commented on #6239
Thanks, @ayushdg yea I think we'll concat all partitions within a worker instead of calling repartition. We can catch up with some relabeling later on in graph pipelines.

What's preventing dask spilling here btw? I was thinking that, in theory, the concatenated buffer could be allocated while parts are temporarily expelled and copied back one by one. Would that make sense?

[2020-09-17 21:58] davidwendt commented on #5965
I think I've figured out how to make this work.
The `@file` does work if placed correctly.
Also, looks like we should set `SOURCE_BROWSER = YES` to make `.cuh` files render like `.hpp` files.
I will try to put up a PR tomorrow.

[2020-09-17 22:02] rgsl888prabhu commented on #5965
I had a stack overflow question regarding this, doesn't have any solution, but might help with something

https://stackoverflow.com/questions/63491094/doxygen-is-unable-to-add-includefile-cuh-in-case-of-files-with-extension

[2020-09-18 01:07] harrism commented on #4414
Squash merges are now enabled and the default. Thanks @mike-wendt !

[2020-09-18 01:07] #4414 closed

[2020-09-18 01:47] kkraus14 commented on #6239
You'd need to set the `device_memory_limit` parameter when starting the `LocalCUDACluster` in order to indicate when Dask should start spilling the GPU memory.

[2020-09-18 02:01] harrism commented on #6250
Yeah, because I needed it merged for rapidsai/rmm#560

[2020-09-18 02:14] #6224 closed

[2020-09-18 02:51] galipremsagar opened #6260 "[FEA] Add fuzz tests with varying parameters for cuIO"
**Is your feature request related to a problem? Please describe.**
As part of #6114 csv, parquet & json reader & writer fuzz tests are added with default arguments. Fuzz tests with varying parameter combinations have to be added for these IO readers & writers.

- [x] Parquet
- [x] CSV
- [x] Json
- [x] Orc
- [x] Avro

[2020-09-18 12:35] galipremsagar opened #6263 "[FEA] Create list column support in random data-generator"
**Is your feature request related to a problem? Please describe.**
As part of #6114 random data generator for all dtypes except `list` dtype have been added. This is a feature request to add the list dtype support into random data generator.

[2020-09-18 13:48] #6225 closed

[2020-09-18 19:26] kuhushukla opened #6266 "[BUG] native_jpointerArray has no bound checking"
**Describe the bug**
native_jpointerArray there are no bounds checking. This does not cover us from passing empty arrays.

**Steps/Code to reproduce bug**
Found during code review

**Expected behavior**
We should do some sort of bound checks for the `operator[]` based on Bobby's comment here :https://github.com/rapidsai/cudf/pull/6171#discussion_r490385446

[2020-09-18 20:42] Salonijain27 opened #6267 "[BUG] Rolling window's apply function throws `TypingError`"
On running the apply function for `rolling` and trying to analyze array or any other variable type other than a single value I get the following error:
`TypingError: Failed in nopython mode pipeline (step: nopython frontend)`

Code to reproduce the error:
[code]
Note: I also tried using `t = np.median(x.values)` in the function
On running the above code i get the following error:
[code]

The same

[2020-09-18 21:07] avinashvem opened #6269 "[BUG]skipna argument not functioning in cuDF.DataFrame.mean()"
**Describe the bug**
The skipna argument for cuDF.DataFrame(mean) method does not seem to work.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
This should not throw an error rather the NA values should be skipped while computing the error.

**Environment overview (please complete the following information)**
 - Environment location: NGC container[Bare-metal, Docker, Cloud(specify c

[2020-09-18 22:48] rgsl888prabhu opened #6270 "[BUG] `cudf.read_json` hangs on a str data-set"
**Describe the bug**
A `str` data-set with 64 columns in json format when read with `cudf.read_json` just hangs. As per the observation, issue seems to lurk in libcudf.

attached file with the issue
[jsonstrinfer_v2.zip](https://github.com/rapidsai/cudf/files/5248538/jsonstrinfer_v2.zip)

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete

[2020-09-19 09:44] galipremsagar opened #6274 "[BUG] unsigned type not being inferred correctly from csv column leading to incorrect data"
**Describe the bug**
When there are unsigned types(say `uint64`) in a csv, pandas reads the series correctly but in cudf the dtype of the series being inferred to `int64` thus leading to data corruption after loading a csv file. A smaller version of csv file is attached here generated in fuzz test:  [short-data.csv.zip](https://github.com/rapidsai/cudf/files/5249476/short-data.csv.zip)

**Steps/Co

[2020-09-19 16:49] #5391 closed

[2020-09-20 04:50] ShashaankV opened #6276 "rolling median()[FEA]"
Use case: Run a sliding window robust z-score as part of standard EEG preprocessing step. Point is to denoise a non-stationary signal. This is a general outlier detection procedure that could have value outside EEG.

(There was a previous request last year but seems to have stalled: https://github.com/rapidsai/cudf/issues/2135)

The robust z-score uses the **median** for the first (expectation) an

[2020-09-20 21:36] OlivierNV commented on #6238
Keep in mind that a lot of what cub does is abstract away differences between pre-sm_50 and maxwell+ (existence shfl).
Perhaps I missed something, but my early experiments with cub reductions invariably showed extremely high shared mem usage (like 4K smem storage for a block reduction) and much higher register usage that the explicit equivalent butterfly shuffle reduction (this is largely why I di

[2020-09-20 21:43] OlivierNV commented on #6244
Would be good to double and triple check, but these are almost certainly false-positive (I suspect cuda-racecheck fails to consider shfl_sync as a synchronization point in shared mem accesses). For the unsnap kernel, there is a producer-consumer queue used to synchronize the various warps. It's possible to use named barriers (I checked, iirc needed inline ptx asm though) as an alternative to the v

[2020-09-20 23:11] galipremsagar opened #6279 "[BUG] to_csv raises error when there is no filename specified"
**Describe the bug**
`to_csv` api should now allow returning a string form of entire csv. We are currently throwing an error when there is no filename provided, this was introduced as a stop-gap for #2410 issue. Now that #2408 is resolved we should be supporting returning a string when there is no filename provided.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
A clear and concise

[2020-09-20 23:13] harrism commented on #6238
If that's the case we can file a CUB issue and get it fixed (or fix it ourselves and contribute it). Sharpen our tools.

[2020-09-21 00:07] harrism commented on #6237
I just tried running with the initial pool size set to 2GiB and the max pool size set to 4 GiB to try to simulate what must be happening on this GTX 1650. In the RMM debug log, I never see the available pool memory dropping below 2147400000 bytes.

So JOIN_TEST is not using a lot of memory. Not sure why it would fail on GTX 1650, but I don't have one to test on.

[2020-09-21 08:18] pseudotensor opened #6280 "[BUG] TypeError: No dispatch for <class 'cudf.core.series.Series'>"
**Describe the bug**

conda cuda 10.0 rapids 0.14 install as per selector matrix at nvidia

[code]

But then I also download the cudf github repo:
[code]

So that I have the test files.

All tests pass except one other assertion error *and* 90 failures for the mentioned error.

[code]
these 3 tests have all the errors, but not all tests in those files error.

The error always looks like:
[code]

E

[2020-09-21 08:23] pseudotensor commented on #6280
I presume it is possible that 0.15 0.16 etc. solved this problem, but I'd also presume 0.14 should have been working.

[2020-09-21 13:53] jrhemstad commented on #6238
I doubt there is anything to fix.

CUB has 3 different algorithms you can select for the block reduction: https://nvlabs.github.io/cub/namespacecub.html#add0251c713859b8974806079e498d10a

The pros/cons of each are described in the documentation. Shmem/register usage only matter if they negatively impact occupancy.

[2020-09-21 14:32] cwharris commented on #6167
fwiw, we don't explicitly test this at the cpp level.

https://github.com/rapidsai/cudf/issues/6222

[2020-09-21 14:48] karthikeyann commented on #5272
All features are complete.

[2020-09-21 15:22] rgsl888prabhu commented on #6270
A smaller data-set [sample.zip](https://github.com/rapidsai/cudf/files/5256353/sample.zip) to reproduce with Just 2 rows and 9 columns

, issue seems to be a single `"` which is leading to this.

[2020-09-21 15:27] galipremsagar commented on #6280
From your conda environment logs, I can see that you have latest `dask`(`2.27.0`) installed. This version of dask requires `branch-0.15`(`0.15`) or above. If you would like to only run on `branch-0.14` I suggest you to downgrade dask to `2.15.0` to get past the above issue.

[2020-09-21 16:17] lamarrr commented on #6029
For the second one, since it was stated that it represents the `int` type and we are converting between integral types and the converted-to type (`int32`) has the appropriate alignment, it's safe and not type-aliasing.

This is the case where:

[code]

converting from `T*` -> `void*` -> `U*` -> `T*` is not type aliasing, since it wasn't dereferenced in the `U*` state, only when it was converted ba

[2020-09-21 16:22] jrhemstad commented on #6029
Agreed. If it was left as `void*` then `static_cast` could be used and it would look less circumspect.

[2020-09-21 18:02] OlivierNV commented on #6238
Just trying to help. All I'm saying is make sure to check such assumptions against reality.

[2020-09-21 18:08] rjzamora opened #6284 "[BUG] Int32 overflow in read_csv with large byte_range offset"
**Describe the bug**
After #6138  was merged (the previous commit works fine for me), the offset used for a `byte_range` argument to `read_csv` is now limited to `2_147_483_647` (to avoid int32 overflow).  This is problematic for csv files larger than 2GB, where the user (or `dask_cudf`) will typically need to read in byte-ranges with larger offsets.

**Steps/Code to reproduce bug**
[code]
**Trace

[2020-09-21 18:11] rjzamora commented on #6284
cc @rgsl888prabhu (Since I believe the cause is in #6138 )

[2020-09-21 18:48] lamarrr commented on #6029
@jrhemstad @vuule
I've made the changes in #6285. I also noticed and fixed the use of implicit pointer-to-bool conversions which is undefined behaviour.

[2020-09-21 20:58] #5272 closed

[2020-09-21 23:42] devavret commented on #6238
How should one check these? What's your tool of choice? NSight compute￼/ cuobjdump? I'm asking because I haven't checked shared mem usage or register usage of a￼ kernel before.

[2020-09-21 23:57] #6219 closed

[2020-09-22 00:26] jrhemstad commented on #6238
`cubobjdump --dump-resource-usage` is the easiest way to see the raw resource usage of a kernel. Nsight Compute can then be used to see if any change in resource usage affected occupancy.

[2020-09-22 03:48] JustPlay opened #6290 "[QST] Why use 512 as the alignment size while the underlaying RMM use 256 by default"
https://github.com/rapidsai/cudf/blob/1fa807259174e297d9a3cefaeec58d54eb429987/java/src/main/native/src/RmmJni.cpp#L39

Why use 512 as the alignment size while the underlaying RMM use 256 by default @jrhemstad

[2020-09-22 04:59] OlivierNV commented on #6238
Personally, I always use the ptxas -v option at build time during development (can't imagine doing any serious cuda work without it). I also consider any non-zero lmem usage a bug with very rare exceptions.

[2020-09-22 13:59] jlowe commented on #6290
This is a remnant from when RMM was using CNMEM.  See https://github.com/NVIDIA/cnmem/blob/master/src/cnmem.cpp#L48.  This can probably be lowered to 256 now.

[2020-09-22 14:02] JustPlay commented on #6290
Thanks

and another question why rmm use 256？

[2020-09-22 14:23] jrhemstad commented on #6290
This is the minimum alignment of `cudaMalloc` and so RMM follows it.

[2020-09-22 14:23] jlowe commented on #6290
The CUDA runtime always returns allocations that are 256-byte aligned, probably for performance reasons on the device.  See https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#device-memory-accesses.

[2020-09-22 14:23] #6290 closed

[2020-09-22 15:37] cwharris commented on #5211
#6206 was unfortunately reverted after being accused of breaking the build. Attempts were made to fix in place, but did not prove fruitful. :(

[2020-09-22 16:10] ShashaankV commented on #6276
If someone solves this, I'd like to understand the solution because the denominator in the robust z-score is more complicated than a rolling median (https://medium.com/james-blogs/outliers-make-us-go-mad-univariate-outlier-detection-b3a72f1ea8c7). I'll need to write a UDF for the MAD that hopefully can use similar machinery needed to solve the rolling median.

[2020-09-22 17:42] #6233 closed

[2020-09-22 17:48] jperez999 opened #6295 "[BUG] cuda 11.0 to_dlpack cudaErrorIllegalAddress"
**Describe the bug**
Illegal memory access when converting to dlpack from cudf dataframe. Only happens with cuda 11.0.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Get a valid dlpack representation as it works in cuda 10.2

**Environment overview (please complete the following information)**
 - Environment location: Docker
 - Method of cuDF install: Docker

[2020-09-22 18:35] #5905 closed

[2020-09-22 18:39] jakirkham commented on #6276
FWIW this is something I [solved before in C++]( https://github.com/nanshe-org/rank_filter/blob/49cd0a35998aaccebab680d14f0f3fb8ac85e5ea/include/rank_filter.hxx#L24 ). May be useful here too.

[2020-09-22 20:46] #6284 closed

[2020-09-22 21:40] #5722 closed

[2020-09-23 00:44] pretzelpy commented on #4522
Is this effort dead?

[2020-09-23 00:47] pretzelpy commented on #4522
This describes my use case exactly.

Is there a action pending on this feature request?

[2020-09-23 01:28] kkraus14 commented on #4522
Development hasn't started on this feature. One thing to note: Pandas is order maintaining when using `groupby.transform` to make things more complicated:

[code]

[code]

[2020-09-23 02:15] #5506 closed

[2020-09-23 13:54] #5965 closed

[2020-09-23 14:14] kkraus14 commented on #6168
I don't think we want to infer the type to string in this situation (our equivalent of `object` for now). We could really use an `empty` or `null` type in this case.

[2020-09-23 14:16] kkraus14 commented on #6115
No example or code was given so closing this issue.

[2020-09-23 14:16] #6115 closed

[2020-09-23 14:24] kkraus14 commented on #6295
@rgsl888prabhu can you look into this?

[2020-09-23 14:33] kkraus14 commented on #5275
Closing as we're just going to continue following Pandas in this respect and once they had pretty printing to pandas Series we'll immediately get it as well.

[2020-09-23 14:33] #5275 closed

[2020-09-23 14:38] kkraus14 commented on #5160
ping @revans2 for response to above

[2020-09-23 14:39] miguelusque commented on #5275
Hi @kkraus14 ,

Pandas allows to style dataframes and series, via https://pandas.pydata.org/pandas-docs/stable/user_guide/style.html .

I assume it might be more expensive to implement those styling capabilities than just pretty printing series.

Could you please reconsider this issue?

Thanks!

[2020-09-23 14:41] rgsl888prabhu opened #6305 "[FEA] Improve escape character and quotation character parsing in cuio reader and writer"
**Is your feature request related to a problem? Please describe.**
As of now, cuio is post processing occurrences of escape character and quotation character once it parses complete string.
https://github.com/rapidsai/cudf/blob/76e2e155ce6fe2194a2bb41aeca93b48a39a55c2/cpp/src/io/csv/reader_impl.cu#L375

**Describe the solution you'd like**
We might be able to handle skipping/leaving those characte

[2020-09-23 14:41] kkraus14 commented on #4961
The `cudf._cuda` module has been moved to rmm so transferring issue.

[2020-09-23 14:44] kkraus14 commented on #4969
No response so closing.

[2020-09-23 14:44] #4969 closed

[2020-09-23 14:45] kkraus14 commented on #4939
Notebooks were removed as part of refactoring so closing this issue.

[2020-09-23 14:45] #4939 closed

[2020-09-23 14:48] kkraus14 commented on #5388
Defer to https://github.com/rapidsai/cudf/issues/5754 instead

[2020-09-23 14:48] #5388 closed

[2020-09-23 14:50] kkraus14 commented on #5275
@miguelusque we will follow Pandas in this regard. If/When they implement pretty printing we'll support it as well.

Someone could have code (they shouldnt...) that parses the output of `__repr__` (what the print formatting is) and diverging from Pandas could break that parsing code.

[2020-09-23 17:29] #6198 closed

[2020-09-23 17:52] rgsl888prabhu commented on #6295
@jperez999 I was able to convert and get  `dltensor` using `to_dlpack` without throwing any cuda error
[code]

This is with latest 0.16.

Can you please provide more information about your container and cudf version being used?

[2020-09-23 18:16] jperez999 commented on #6295
container is based from: `rapidsai/rapidsai-dev:0.15-cuda11.0-devel-ubuntu18.04-py3.7`

[code]

Will attempt 0.16 nightly to see if no longer an issue.

[2020-09-23 18:30] gaohao95 opened #6307 "[FEA] Support selecting different hash functions in hash_partition"
**Is your feature request related to a problem? Please describe.**

Right now, cuDF hard-codes `MurmurHash3_32` inside `hash_partition`. Here is one example.
https://github.com/rapidsai/cudf/blob/5976d74567f248b67a06f7c84180c3c909b3c0e3/cpp/src/hash/hashing.cu#L481

I wish cuDF can allow the user of the cpp API to choose which hash function to use for `hash_partition`.

**Describe the solution you

[2020-09-23 19:07] benfred commented on #6295
Thanks for looking at this @rgsl888prabhu ! What docker image did you use?

Did you also try the code snippet that Julio posted? The snippet you posted wasn't doing the same thing as the reproduction he posted  (like we can also convert from cudf to dlpack successfully - the error was after converting that dlpack to a pytorch tensor). The error we get is an illegal memory access when trying to pri

[2020-09-23 19:42] rgsl888prabhu commented on #6295
I was using local conda built cuda-11 env in ubuntu-18.04. Are you using some specific pytorch from Nvidia, was just curious looking at `PYTORCH_BUILD_VERSION=1.1.0a0+nvidia` in your env.

For me,  `from_dlpack` is failing with segfault with normal pytorch, so was curious if I have to use something specific.

[2020-09-23 19:45] jperez999 commented on #6295
we build pytorch from source using the following:
[code]
currently no conda/pip install support for cuda 11.0 https://pytorch.org/get-started/locally/#start-locally

[2020-09-23 19:48] benfred commented on #6295
Interesting! Does this segfault also occur with the cupy snippet I pasted, or just when using from_dlpack from cudf?

[2020-09-23 19:51] rgsl888prabhu commented on #6295
It didn't occur when used with cupy.

[2020-09-23 19:51] ShashaankV commented on #6276
Thank you. Hoping for a higher level solution using the cuDF or other RAPIDS objects. However, I'll take a closer look at your C++ solution later.

FYI - This is my latest version using pandas for calculating a rolling robust z-score (which calls for a rolling median and UDF). It takes 50 minutes per dataframe. Love to speed this up.

[code]

[2020-09-23 20:04] revans2 commented on #5160
Sorry @harrism I guess I missed this. We have started to do a bunch of nasty things with regular expressions to try and work around this which I would love to get rid of, or replace as much of it as possible.

So yes if we could get a function that would take a column of strings along with a format, and would return a column of boolean values saying if it matches that format or not it would be gre

[2020-09-23 20:56] andygrove commented on #5160
@revans2 I just ran `CastOpSuite` after modifying all the test dates and timestamps to be pre-1970 and it worked in general but did highlight a bug where the number of seconds is rounded up incorrectly for timestamps that also have a millisecond component. Is this the issue you had seen before or should I file a new issue for this?

[2020-09-23 21:20] rgsl888prabhu commented on #6295
I tried with cuda11 and  source built pytorch
[code]

and it works.

[2020-09-23 22:54] pretzelpy commented on #4522
Thanks for the reply. I am working on a cudf concept for replacing a clunky SQL electric load forecasting model. My working dateset is 600M rows x 10 columns and I am stuck at needing the transform functionality. I'm not clear if the workaround links at the top of this thread are applicable to my use case. Can a function be written to accomplish the example from your Jul 13 post using a gpu? Any o

[2020-09-23 23:00] kkraus14 commented on #4522
@pretzelpy the workaround is to use a groupby + merge:
[code]

[2020-09-24 01:30] harrism commented on #5320
The reason we used to only support Pascal and higher is for Unified Memory. We no longer depend on it, which is why it works on Nano/TX1. However, as @jrhemstad wrote, we don't officially support it and therefore we don't CI it, and therefore it may cease to work at any time.

(shared memory atomics are supported on Maxwell and newer, so I don't think it's due to atomics.)

[2020-09-24 02:23] kkraus14 commented on #6249
@ayushdg could you try a few things to help triage?

Does `df_res.reset_index(drop=True)` reduce the memory usage?

Does deleting columns `a` and `b` free all of the memory usage?

[2020-09-24 04:02] kkraus14 commented on #6239
Closing as this has been answered.

[2020-09-24 04:02] #6239 closed

[2020-09-24 04:04] kkraus14 commented on #6267
The issue is we try to JIT compile the UDF via Numba and the UDF provided can't be properly lowered by Numba into a GPU kernel. It can't be lowered because the function being passed isn't a kernel, but is instead an array / column level function of `median`.

We could make the typical Pandas way of `apply` work via iteration, but it would be painfully slow in the case of a large number of windows

[2020-09-24 05:12] ayushdg commented on #6249
Yup it looks like `df_res.reset_index(drop=True) ` does reduce the memory usage.
[code]

[code]

Deleting both columns `a` and `b` without the `reset_index` does not free all of the memory usage:
[code]

[2020-09-24 05:25] kkraus14 commented on #6249
Okay, I'm guessing that we materialized a memoized column underneath the `RangeIndex` for some reason. Will let @isVoid dig in from here 😄

[2020-09-24 13:08] williamBlazing commented on #5892
When will this issue be addressed? The reason this is of interest to us (BlazingSQL) is that we have some queries in our End to end tests that run in gpuCI that when they use ORC, they fail sporadically and we are hoping that fixing this issue will resolve that for us. Right now we are checking manually the results of all gpuCI test runs because we do have these random ORC failures.

[2020-09-24 14:18] karthikeyann commented on #5831
@williamBlazing when all-null column is stored as parquet, it is stored a INT32 column with all nulls.
The details about _All-nulls_ and _UTF8 string_ is stored in `LogicalType`.

[code]
pandas converts this all-null column to object type column. (object type column can hold any datatypes mixed. It's not string column).

Properly reading this will need **LogicalType support** fully. It will be new

[2020-09-24 17:34] vuule commented on #5962
All API changes have been merged, closing :)

[2020-09-24 17:34] #5962 closed

[2020-09-24 18:02] kkraus14 commented on #5892
@williamBlazing it's being investigated now.

[2020-09-24 20:27] galipremsagar opened #6313 "[BUG] `cudf.read_csv` should not cast to floating types if there are null entries in csv"
**Describe the bug**
We seem to be reading in an integer column with nulls as a floating column. This is similar to pandas behavior but since we have support for nullable dtypes in all dtypes, should we even type-cast to float?

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Expected behavior is to not type-cast to float and only cast to the inferred dtype.

**Environment overview (

[2020-09-24 20:34] galipremsagar opened #6314 "[BUG] `cudf.read_csv` is leading to data corruption for integer in unsigned type range"
**Describe the bug**
When we read a `uint64` value from csv, cudf is reading it incorrectly as -1.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
cudf should read the data without data corruption.

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: from source

**Environment details**
Please run and pas

[2020-09-24 20:38] karthikeyann commented on #6313
This is an issue in pandas as well. Our code is conformant with pandas behavior.
https://github.com/rapidsai/cudf/blob/60d25ea04bf018905836310a18133806f780cb22/cpp/src/io/csv/reader_impl.cu#L583-L587

[code]

[2020-09-24 20:42] galipremsagar commented on #6313
I guess the question is with nullable dtypes support introduced in pandas aswell do we still want to mimic pandas behavior?

[2020-09-24 20:59] c-jamie opened #6317 "[QST] cuda-gdb - viewing rmm::device_vector data"
**Question:**
Is there any way to view the data in the array slots of ```rmm::device_vector``` via cuda-gdb?

**Background**
Running the ```./JOIN_TEST``` for example in cuda-gdb.

If I set a breakpoint at ```hash_join.cu:299```, I'd like to inspect the contents in ```left_indices``` or ```right_indices```.

Is that possible via cuda-gdb?

I can see the size of the vector is 5, and I've tried the

[2020-09-24 22:08] aroraakshit opened #6319 "[BUG] read_avro method fails to handle avro.schema.UnionSchema"
**Describe the bug**

`read_avro` method fails to read avro file with columns that have multiple possible types.

- When `type` of a column is an array, it does not work. Example: schema ( [sample.avsc.txt](https://github.com/rapidsai/cudf/files/5279434/sample.avsc.txt) ), corresponding avro file ( [peters.avro.txt](https://github.com/rapidsai/cudf/files/5279433/peters.avro.txt) )
[code]
    - The

[2020-09-24 22:28] harrism opened #6320 "[BUG] Remaining testing and cleanup tasks for Abstract Syntax Tree"
PR #5494 left a few loose ends. This issue tracks them.

 - [x] [AST / n-ary transform need tests with larger data sizes.](https://github.com/rapidsai/cudf/pull/5494#issuecomment-678839857) Often issues arise in logic with custom kernels pertaining to differences between running a kernel with a single block and with multiple blocks.  Testing with enough data to cause multiple blocks to run is nece

[2020-09-24 22:34] aroraakshit opened #6322 "[BUG] read_avro method incorrectly reads avro.schema.ArraySchema"
**Describe the bug**

`read_avro` method incorrectly reads avro file with columns that have array data type.

- When `type` of a column is an array, it does not read correctly. Example: schema ( [sample.avsc.txt](https://github.com/rapidsai/cudf/files/5279551/sample.avsc.txt) ), corresponding avro file (
[peters.avro.txt](https://github.com/rapidsai/cudf/files/5279548/peters.avro.txt) )
[code]

[2020-09-24 22:54] jperez999 commented on #6295
The nightly no longer exhibits this behavior.

[2020-09-24 22:56] rgsl888prabhu commented on #6295
Hey, that's good news, thank you for the update. If the issue is resolved, please close the issue.

[2020-09-24 23:00] #6295 closed

[2020-09-24 23:05] aroraakshit opened #6323 "[BUG] read_avro method fails to handle avro.schema.MapSchema"
**Describe the bug**

`read_avro` method fails to read avro file with columns that have multiple possible types.

- When `type` of a column is an array, it does not work. Example: schema ( [sample.avsc.txt](https://github.com/rapidsai/cudf/files/5279666/sample.avsc.txt) ), corresponding avro file ( [peters.avro.txt](https://github.com/rapidsai/cudf/files/5279668/peters.avro.txt) )
[code]
    - The

[2020-09-25 00:16] OlivierNV commented on #6322
cudf avro reader currently does not support nesting (structs, unions or lists, except for trivial unions with a null type).
Really #6319, #6322 , #6323 could be combined in a single "[FEA] nesting support for avro reader" (not sure if cudf has union types yet, but could be converted to a nullable struct form).

[2020-09-25 01:03] #6269 closed

[2020-09-25 01:40] jrhemstad commented on #6307
Adding a template to `detail::hash_partition` for the hash function sounds good to me.

[code]

[2020-09-25 02:21] williamBlazing opened #6325 "[BUG] cudf::io::read_orc returning all columns when only requesting some"
**Describe the bug**
Using `cudf::io::read_orc` only requesting to read some columns, it returns all the columns in the file.

**Steps/Code to reproduce bug**
This issue happens only sporadically, about 1 in 300 reads. It typically happens when reading more than one file in a row, and not on the first file read.

This is inside the BlazingSQL code. The code looks a little like this:
[code]
The col

[2020-09-25 09:25] karthikeyann commented on #2052
Datetime difference yields timedelta.
[code]

[2020-09-25 09:27] #2052 closed

[2020-09-25 09:27] karthikeyann commented on #2052
completed with all PRs in #5272

[2020-09-25 14:57] #6167 closed

[2020-09-25 15:58] rongou commented on #6111
#6324 is probably more than what we need now. Are you guys open to add the simpler version originally requested?

[2020-09-25 18:27] devavret commented on #5831
This should be possible by reading converted type. LogicalType is basically a better version of that. But converted type should still allow us to populate a pointer for the encoded data. The definition levels will ensure that none of the data is actually read as INT32 since the def level would be 0 for each.

[2020-09-25 19:55] nvdbaranec commented on #5831
This may be the same as this somewhat newer bug:

https://github.com/rapidsai/cudf/issues/6168

[2020-09-25 20:34] lamarrr commented on #6274
I've done a little digging into the reader's type inference functions and it seems int64 is the only supported integer type ATM.
I suppose it attempts to use an int64 for it and an overflow occurred.

https://github.com/rapidsai/cudf/blob/67c203435ec64762265061b0c63dca33153aee82/cpp/src/io/csv/csv_gpu.cu#L283

https://github.com/rapidsai/cudf/blob/67c203435ec64762265061b0c63dca33153aee82/cpp/src/i

[2020-09-25 20:44] lamarrr commented on #6029
@vuule the changes have been merged, do let me know if you need any additional changes to be made

[2020-09-25 20:57] #6270 closed

[2020-09-25 21:55] lamarrr commented on #6320
I attempted a fix for the fourth one, here: https://github.com/rapidsai/cudf/pull/5494#discussion_r495262075

[2020-09-25 22:00] karthikeyann commented on #5831
In this example, it's not possible to infer STRING column without reading LogicalType. ConvertedType is UNKNOWN.

Since now it's inferred from physical type alone, STR all-null column is treated as INT32 all-null column.
Also, it doesn't seem right to assume INT32 physical, with UNKNOWN convertedType as STRING.

in the given `PREDWNULLS-TEST_07.parquet` file,
- STRING all-null column schema:

sche

[2020-09-25 22:25] karthikeyann commented on #6168
is it allowed now to create all-null column with `empty` type in cudf?

[2020-09-25 22:32] williamBlazing commented on #6325
I realize I was inadvertently misusing the API. In particular I was reusing the `orc_reader_options` object. I was creating a blank `orc_reader_options` and setting some options in it and then overwriting the contents with ` cudf_io::orc_reader_options::builder(cudf::io::source_info{&arrow_source})`

I changed the above code so that it would look more like this and it fixed my issue.

[code]

[2020-09-25 22:32] #6325 closed

[2020-09-26 00:09] #6246 closed

[2020-09-26 00:26] vuule commented on #6029
Hi @lamarrr , there are actually many other places in `cudf::io` where `reinterpret_cast` use is problematic. I only listed a couple of examples.
If you want to further help with this (and you are more than welcome), you can look for `reinterpret_cast` calls in `cudf::io` that cast between pointer types.

[2020-09-26 01:43] kkraus14 commented on #6168
No, we currently don't have a concept of a `Null` or `Empty` column in cudf Python currently, but this is something we could plumb in if libcudf supported it.

[2020-09-26 02:38] vuule commented on #6029
Added the list of components so we can track progress more easily (since not all `reinterpret_cast` calls are a part of this issue).
JSON code does not seem to have any UB uses, so I did not include it in the list.

[2020-09-26 03:13] pretzelpy commented on #4522
Do you guys intend RAPIDS will reach feature parody with packages like pandas? Or are there fundamental limits in architecture that limit where a GPU can accelerate?
I am astonished by the performance of cuDF, it's unreal. Thank you.

[2020-09-26 03:24] kkraus14 commented on #4522
We will continue to increase the feature parity of cuDF and Pandas, but generally our approach is to listen to user feedback and provide functionality that users need to effectively solve their problems. A prime example of this is we recently added support for `List` dtype columns and are working on `Struct`, `Map`, and `Decimal` types as well based on user feedback.

Certain things like iterating

[2020-09-26 17:13] #6216 closed

[2020-09-26 21:38] rongou opened #6333 "[BUG] array out of bound in orc writer"
I was trying to build libcudf with gcc-10 and it complained about this error. This looks like it might be a legitimate bug.
[code]

@j-ieong @harrism @jrhemstad

[2020-09-27 10:56] JustPlay opened #6334 "[BUG] build error for `cpp/tests/io/parquet_test.cpp`"
**Describe the bug**
[code]

**Environment details**
commit 7e7b329857d5f849393982919ebfd1bc55601b4f
devtoolset-7
java/ci/build-in-docker.sh

[2020-09-27 12:20] #5597 closed

[2020-09-27 16:50] OlivierNV commented on #6333
Definitely a serious bug (looks like this will result in a bad index).
Looking at the original, non-cplusplussified code, it looks like the statements `record[3]` and `record[4]` in `scan_records` should be `record[2]` and `record[3]` respectively.

[2020-09-28 17:22] galipremsagar opened #6337 "[BUG] Empty DataFrame with valid Index is not being writtern by `to_parquet`"
**Describe the bug**
There seems to be an issue in parquet writer where an empty dataframe with an Index is not being written to the parquet file. However when the same is written from pandas writer, it is being read correctly by cudf parquet reader. Hence, the cudf parquet writer seems to not write the index correctly.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
`to_parquet` sh

[2020-09-28 17:32] revans2 commented on #5160
@andygrove please file a new issue for that.

[2020-09-28 17:33] kkraus14 commented on #6313
Agreed. This sounds like a bug in Pandas at this point and we shouldn't replicate the behavior. @galipremsagar can you open an issue on Pandas for this?

[2020-09-28 18:21] galipremsagar commented on #6313
Linking for reference: https://github.com/pandas-dev/pandas/issues/36712

[2020-09-28 18:35] kkraus14 commented on #6280
@pseudotensor we haven't traditionally pinned Dask to an upper version since it only introduces breaking changes infrequently and cudf being version 0.x. Unfortunately this means that older versions are susceptible to break as upstream dependencies move forward.

I would suggest upgrading to 0.15 if possible, as this issue is resolved.

[2020-09-28 18:35] #6280 closed

[2020-09-28 18:51] davidwendt commented on #5963
I'm starting to see some interesting patterns here that were not covered in the requirements discussion #3535.

When a cudf API accepts two columns like in `copy_range`, `merge`, `contains`, `replace`, etc both columns are required to have the same type. This makes sense since the values are combined to make a new column. For dictionaries, this strictly means both columns must have the same key ty

[2020-09-28 21:26] kuhushukla opened #6339 "[FEA] Use ColumnViewAccess on Host side"
**Is your feature request related to a problem? Please describe.**
Just like the device side, the host side can use the `ColumnViewAccess` interface and remove some of its current methods to be overrides of this interface.
**Describe the solution you'd like**
Nice to have for coherency and readability, implement `ColumnViewAccess` for `HostColumnVectorCore`

[2020-09-28 21:52] harrism commented on #6317
You need to indicate to `cuda-gdb` that this is global device memory with the `@global` specifier. Like this:

[code]
Note I also needed to add the `[0]` to access the starting index of the array. Otherwise I got errors.

Here's an example I just tried locally. This is on a `device_buffer` and `char` data initialized to an incrementing sequence, but should work the same for `device_vector`.

[code

[2020-09-28 21:57] harrism commented on #6317
Here's the cuda-gdb docs for this feature: https://docs.nvidia.com/cuda/cuda-gdb/index.html#memory-and-variables

Closing. Please reopen if you still have trouble.

[2020-09-28 21:57] #6317 closed

[2020-09-28 22:09] shwina opened #6340 "[FEA] Support `expand=False` in `Series.str.split()`"
Now that https://github.com/rapidsai/cudf/pull/5687 is merged, we should be able to support the `expand=False` option in `cudf.Series.str.split()`. We should return a Series of dtype "list", similar to Pandas:

[code]

We should also make `expand=False` the default.

[2020-09-28 22:27] beckernick opened #6341 "[FEA] Plumb edit_distance_matrix to Python"
We should plumb edit_distance_matrix to the Cython layer. This could potentially live in the `cudf._lib.nvtext.edit_distance` namespace alongside the canonical `edit_distance`.

For now, I'm not sure we if need to plumb this all the way up to the Python layer. See https://github.com/rapidsai/cudf/issues/4569#issuecomment-600807535 in which we decided similarly for `find_multiple` based on efficien

[2020-09-28 22:30] #6249 closed

[2020-09-28 22:44] kkraus14 commented on #5963
Does a dictionary column allow using a shared pointer or something similar to the keys? Could we do a pointer equivalence check instead of having to do a full equality check?

That sounds like a huge footgun from my perspective. Users will end up calling APIs with mismatched dictionaries and getting incorrect results back as opposed to erroring isn't acceptable in my mind.

Yes, the natural user e

[2020-09-28 23:56] #6131 closed

[2020-09-29 02:30] #6111 closed

[2020-09-29 05:45] mythrocks opened #6343 "[BUG] Incorrect result for COUNT_VALID/COUNT_ALL in rolling_window"
In `rolling_window()` operations, `COUNT_VALID`/`COUNT_ALL` should only return `null` rows if the `min_periods` requirement is not satisfied. For all other cases, the count produced must be valid, *even if the input row is null*.

As it currently stands, the `COUNT*` `rolling_window()` operation returns `null` if even one of its input rows is null. That behaviour, while correct for aggregations li

[2020-09-29 10:52] #6333 closed

[2020-09-29 11:15] harrism commented on #6305
Can you clarify the title of this issue to indicate *which* cuIO reader and writer?

[2020-09-29 11:28] harrism commented on #6210
Why not just use `thrust::find`?

[code]

You will need to work out the needed return type though...

[2020-09-29 11:58] harrism commented on #6236
CUB also has various loaders that are intended for this purpose.

[2020-09-29 12:00] harrism commented on #6221
I think we need a repro or at least a pointer to the relevant code you think is wrong.

[2020-09-29 12:04] harrism commented on #6196
@davidwendt would you consider this a bug or a feature request?

[2020-09-29 13:06] davidwendt commented on #6196
The regex code in libcudf strings is a port from [plan9](https://9fans.github.io/plan9port/unix/). I checked the libcudf ported code against the original source and the null character is definitely treated as the end of the string as described above. Considering it is part of the original code, I would conclude the behavior was intended and not a logic error.

[2020-09-29 14:17] revans2 commented on #6196
Switched this over to a feature request instead.  I don't see this as a super high priority, but I'll update it if we get a customer complaining about it.

@davidwendt Thanks for looking into this.

[2020-09-29 14:40] revans2 commented on #6221
@harrism  The following patch should reproduce the error I described. If you set the number of entries on the left/right smaller the test passes.  I have a set of entries commented out that make the 16GB GPU run out of memory and return an error, but the default values should hang.

[code]

[2020-09-29 17:01] raybellwaves opened #6348 "[FEA] Support reading files from blob using adlfs"
https://github.com/dask/adlfs provides synonymous support for reading files from Azure Blob akin to `s3fs` and `gcsfs`.

It would be good to read in files from blob storage using

`df = cudf.read_parquet(filepath_or_buffer="abfs://folder/file.parquet", storage_options=storage_options)`

cc. https://github.com/BlazingDB/blazingsql/issues/937

[2020-09-29 17:12] raybellwaves commented on #6348
Note: it works using `dask_cudf`

`gdf = dask_cudf.read_parquet(
        path="abfs://folder/file.parquet",
        storage_options=storage_options,
    )`

[2020-09-29 17:21] ayushdg commented on #6348
@raybellwaves Would it be possible to share the stacktrace when reading from blob storage with `cudf`? I tried reading a couple of parquet files from blob storage with `cudf.read_parquet` (0.15) and they worked. Any additional information that can help reproduce the issue would be really helpful.

[2020-09-29 17:29] raybellwaves commented on #6348
@ayushdg of course. Convo started on slack https://rapids-goai.slack.com/archives/C5E06F4DC/p1601395604024000

[code]

Of you aware of any public blobs which don't have credentials to openly test?

We recently added an options to access public containers in adlfs but it's still on master
https://github.com/dask/adlfs/pull/106

Otherwise you have to go down the azurite route for testing properly ht

[2020-09-29 17:31] cwharris commented on #6210
@harrism I'm attempting to change as little as possible because the code is volatile and CI take a while to build/report test failures, and centos likes to fail. Keeping the focus on subscript access.

[2020-09-29 17:33] cwharris commented on #6210
Just realized this is the issue and not the PR. Yes, thrust::find is the appropriate replacement when we get back to updating this code again.

[2020-09-29 18:09] raybellwaves commented on #6348
FYI https://github.com/dask/adlfs/issues/117

[2020-09-29 18:34] ayushdg commented on #6348
Thanks @raybellwaves I tried with an open dataset on abfs and things worked fine 😄 . Here is the example:
[code]

I was also able to reproduce the `IndexError: Out of bounds on buffer access (axis 0)` by passing the `filepath_or_buffer` argument to be `abfs://nyctlc/green/puYear=2008/puMonth=12` without the `*.parquet` bit. Looks like it errors out in an unexpected way if a folder name instead of

[2020-09-29 20:41] jdye64 opened #6351 "[FEA] Add ability to specify specific Kafka topics in "list_topics()""
Add the ability to specifiy a specific Kafka topic in which a metadata request to "list_topics()" should retrieve.

[2020-09-29 23:37] galipremsagar opened #6356 "[BUG] `from_arrow` fails when using pyarrow engine and table has a schema with `boolean` dtype"
**Describe the bug**
When there is a boolean nullable dtype written to parquet file from pandas and read into cudf using pyarrow engine the `numpy_type` in `pandas_meta` lists it as `boolean`(Note this is only incase of nullable dtype)

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
We should be able to read it as a boolean column.

**Environment overview (please complete the follow

[2020-09-30 00:06] #6069 closed

[2020-09-30 00:24] isVoid opened #6359 "[FEA] Remove `move.pxd`, port usage to `libcpp.utility.move`"
**Is your feature request related to a problem? Please describe.**
Currently passing `unique_ptr` to Cython functions uses wrapper functions in `move.pxd`. Since `libcpp.utility.move` is [backported](https://github.com/cython/cython/pull/3358) to Cython 0.29, we could replace all usage to the standard library.

**Describe the solution you'd like**
An example of this usage can be found [sort.pyx:L1

[2020-09-30 00:41] lmeyerov opened #6360 "[FEA] digitize on gpu bins"
**Is your feature request related to a problem? Please describe.**

In < 0.15, `gdf[col].digitize(cudf.Series(...))` would work, but now throws an exception (no `.view()`). Looking at the code, this may because a coercion is gone (`series.view()`?) or maybe digitize changed.

Not filing it as a bug as b/c the digitize signature suggests we were using undocumented behavior.

**Describe the solution

[2020-09-30 01:10] harrism commented on #5134
This appears to be fixed even though #5135 is still in progress. I can't find `extract_component()` in the code anymore.

[2020-09-30 01:10] #5134 closed

[2020-09-30 01:43] lmeyerov commented on #6117
Seeing this in 0.15.1 (conda)

Not sure what to do with this one nor root cause wrt user code. We have python set to not store .pyc, maybe related?

[2020-09-30 02:31] harrism opened #6362 "[BUG] Insufficient test coverage of ORC and Parquet statistics"
Please see comment:
https://github.com/rapidsai/cudf/pull/6293#issuecomment-701109873

* Parquet statistics are never enabled in tests;
* ORC has statistics enabled by default, but the tests look like they only test the resulting data frame content;

- [ ] ORC coverage (Vukasin)
- [ ] Parquet coverage (Devavret)

[2020-09-30 02:34] vuule commented on #6362
From what I've seen so far:
- Parquet statistics are never enabled in tests;
- ORC has statistics enabled by default, but the tests look like they only test the resulting data frame content;

I'll post here if there's any additional info from the rest of the team.

[2020-09-30 03:19] kkraus14 commented on #6360
Looks like we're just missing an `as_column` call on `bins` within the Column `digitize` function.

[2020-09-30 03:36] harrism commented on #2770
Is this still an issue?

[2020-09-30 03:51] firestarman opened #6363 "[FEA] Support querying GPU mode via Java APIs"
**Is your feature request related to a problem? Please describe.**
My case here must allow multipe processes access a GPU in parallel, which reqiures the GPU exclusive mode being disabled.
I wish I could use cuDF Java to query the mode of the current GPU, then i could throw exception with the correct message when the GPU mode is not matched, instead of the ambiguous exception `EOFException`.

**De

[2020-09-30 04:05] rwlee opened #6364 "[BUG] List comparison testing creating thrust failures"
**Describe the bug**
When comparing list columns using `CUDF_TEST_EXPECT_COLUMNS_EQUAL` with `print_all_differences` set to `true`, any difference in the columns will cause a thrust error and crash with the following error:

[code]

**Steps/Code to reproduce bug**
In `cpp/tests/reshape/byte_cast_tests.cpp` change any byte in `int16_expected`'s definition. Then add `true` as the third argument to t

[2020-09-30 04:10] kaatish opened #6365 "[BUG] Incorrect float sum statistics calculation in ORC and Parquet"
Prior to PR #6293 calculating float statistics used a [custom shuffle based warp reduce](https://github.com/kaatish/cudf/blob/57ef76927373d7260b6a0eda781e59a4c563d36e/cpp/src/io/statistics/column_stats.cu#L119) which avoided NaNs which is the expected behavior for stats calculation.

In the process of replacing those calls with `cub::WarpReduce` functions, checks for NaNs were overlooked for eg [h

[2020-09-30 06:03] kkraus14 commented on #2770
The NVStrings parts are no longer an issue, but the RMM handling is still an issue but is being handled in #6350

[2020-09-30 10:42] #6279 closed

[2020-09-30 11:21] ccoulombe commented on #2770
Last time I checked, yes. I tried to manipulate the cmake cache in between to help find the correct python, without success. I'll find some time to test again with 0.16...

[2020-09-30 11:41] c-jamie commented on #6317
Really appreciate the reply.

For anybody else viewing the issue in the future, I managed to get cudf to build in debug locally with 64GB of ram + ninja (cmake failed for all sorts of reasons). ninja will consistently fail on the first build but succeed on the second try.

[2020-09-30 14:51] galipremsagar commented on #5556
Moving this out of 0.16 as the primary use-case of `axis` is tied to `method` param which is not yet supported: https://github.com/rapidsai/cudf/issues/1361

and there seems to be no defined behavior from pandas yet: https://github.com/pandas-dev/pandas/blob/master/pandas/core/generic.py#L6296-L6301

[2020-09-30 15:38] kkraus14 opened #6370 "[FEA] Explore using pytest-xdist in CI"
**Is your feature request related to a problem? Please describe.**
The runtime for Python unit tests in CI is continuing to grow. We should explore using [pytest-xdist](https://github.com/pytest-dev/pytest-xdist) as a way to speed up the tests.

**Describe the solution you'd like**
Use pytest-xdist to run Python unit tests in CI. Ideally we could enable CUDA MPS on the CI servers as well to reduce

[2020-09-30 15:46] raybellwaves commented on #6348
Thanks @ayushdg

Welcome to close.

Looks as though in the partition parquet file (parquet folder) which it is struggling to read (#5683).

[code]

Works fine in dask_cudf

[code]

[2020-09-30 18:16] ccoulombe commented on #2770
Arrow is a dependency that is not automatically pulled now (it was previously), which version should be used? It does not build with the latest Arrow (v1.0.0). But it does with 0.17.0.

Referencing https://github.com/rapidsai/rmm/issues/584 which does not help building cudf from source. The steps I used to build rmm v0.15.0 from source are documented.

After a lot of love, I finally succeeded in b

[2020-09-30 19:12] #6339 closed

[2020-09-30 19:19] galipremsagar opened #6374 "[BUG] fillna should match index/reindex while performing a fillna against a Series in a dict"
**Describe the bug**
We are currently not matching the index of dataframe against the fill value.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
We should be reindexing and performing a `fillna` operation..

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: from source

**Environment details**
Please

[2020-09-30 19:39] kkraus14 commented on #2770
For cudf 0.15 Arrow 0.17 is required. For cudf 0.16 Arrow 1.0.1 is required. We're actively working on cleaning up the CMake to make this handled much smoother and we'll make sure to update the docs in this process. cc @millerhooks

[2020-09-30 19:49] chirayuG-nvidia opened #6376 "[FEA] cuDF Parquet reader should use pinned memory to copy data from sysmem to GPU"
**Is your feature request related to a problem? Please describe.**
NvTabular is building asynchronous dataloader for accelerating tabular dataloading for DL framework like PyTorch and TensorFlow. The primary function of this async dataloader is prepare training data by reading from Parquet input files and preparing input tensors for training. Currently Parquet reader in cuDF uses pageable memory t

[2020-09-30 20:35] #6334 closed

[2020-09-30 21:42] #5267 closed

[2020-09-30 22:49] rgsl888prabhu opened #6382 "[BUG] `cudf.read_json` is incorrectly parsing TimeStamp typed columns"
**Describe the bug**
`cudf.read_json` is failing to parse DateTime64 typed columns correctly when expected dtype is provided.

**Steps/Code to reproduce bug**
[code]
If `dtype` isn't specified, and if we cast the resulting int64 column, we get expected result
[code]

**Expected behavior**
`cudf.read_json` should handle dtype arguement.
[code]

**Environment overview (please complete the following

[2020-09-30 23:57] lamarrr commented on #6029
Yeah, sure! I'll try to help with some cleanups and push them within a day or two.
I also noted some c-style pointer casts which are essentially a combination of `const_cast`s, `reinterpret_cast`, `static_cast`, and `volatile` casts. Essentially being a `reinterpret_cast` means it's just as dangerous as `reinterpret_cast`.

[2020-10-01 02:44] harrism commented on #6112
I think @rongou has been working on this. Assigning.

[2020-10-01 02:45] harrism commented on #6112
Hmmm, I can't assign to @rongou...

[2020-10-01 06:40] #6359 closed

[2020-10-01 07:00] vuule opened #6390 "[FEA] cuIO benchmarks do not use file IO"
The C++ cuIO benchmarks do not perform file IO, and so the performance of this part of the implementation is not measured.

Proposed solution: by default, read/write files using a temp directory, and include an option to use other source/sink types (e.g. when SOL performance is measured).

[2020-10-01 07:14] vuule opened #6391 "[FEA] cuIO benchmarks only use default parameters"
Currently the cuIO benchmarks only vary the input data profiles, and use default parameters for every benchmark. Benchmarks should be expanded to also vary the parameters and ensure all code paths that affect performance are covered.

Readers/writers for different formats have very different parameters, and relevant parameters need to be determined on a case-by-case basis.

- [x] Avro reader (Pyth

[2020-10-01 10:34] ccoulombe commented on #2770
Great, it is nice though that I could use the locally installed Arrow instead of fetching and rebuilding it.

[2020-10-01 13:36] #6112 closed

[2020-10-01 15:26] beckernick opened #6394 "[BUG] groupby aggregations fail with split_out > 1 if there are empty partitions"
Groupby aggregations are now failing with `split_out > 1` if there are any empty partitions in the dataset. One way empty partitions can be present is after doing inner joins.

This succeeds with dask.dataframe and pandas.

Reproducer (Dask installed from the primary "master" dask branch):

[code]

[code]

[2020-10-01 15:28] beckernick commented on #6394
I haven't bisected this, but it did not happen in an environment from 2020-09-03.

[code]

[2020-10-01 17:36] shwina opened #6395 "[FEA] Use `nvtx` conda package"
Currently, cuDF code is annotated using internal NVTX bindings (`cudf._lib.nvtx`). For example: https://github.com/rapidsai/cudf/blob/branch-0.16/python/cudf/cudf/core/series.py#L17

There is now an `nvtx` package on [conda-forge](https://anaconda.org/conda-forge/nvtx). We should switch to just using that.

Note: docs for nvtx are not yet published, but can be found at https://github.com/NVIDIA/NV

[2020-10-01 17:57] kkraus14 commented on #2770
That will be handled. In general we're going to be using `CPMFindPackage` which first calls into `find_package` and if it can't find the package then it goes and fetches it itself. If Arrow or another dependency isn't installed in a standard location, you can set a variable like `Arrow_ROOT` to hint cmake at the path to look for the dependency.

[2020-10-01 18:00] Lion-Mod opened #6396 "[QST] is_month_end"
I'm working on datetimes and have a simple is_month_start up and running but obviously is_month_end requires a bit more tinkering given different month lengths.

Approach I had was take a dataframe column and using .dt.day on it. Works fine but as soon as I try isin or a mask it doesn't like it. Series boolean compute issue.

Any help would be greatly appreciated.

[2020-10-01 18:39] kkraus14 commented on #6396
@Lion-Mod any chance you could give a quick code sample of what your data looks like? I.E. do you have a `datetime64` column of some sort or do you have it broken down further than that already?

Is the desired output a Series of booleans indicating if the `datetime64` column is the last day of whatever month it's in?

[2020-10-01 18:43] kkraus14 commented on #6396
Changing to feature request since we should support this: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.is_month_end.html

[2020-10-01 20:45] #6374 closed

[2020-10-01 21:21] #6365 closed

[2020-10-01 21:32] shwina commented on #6395
cc: @isVoid as you mentioned you were looking into this :)

[2020-10-01 21:54] isVoid commented on #6395
Just waiting for the new branches get created.

[2020-10-02 04:35] vuule opened #6401 "[BUG] write_index_stream in ORC writer indexing error"
According to the comment https://github.com/rapidsai/cudf/pull/6342#issuecomment-700835023, there is an error in line
https://github.com/rapidsai/cudf/blob/86804ef3e0959af80d1d747fa00399164003342a/cpp/src/io/orc/writer_impl.cu#L868

In addition, there is a lack of test coverage for both this issue and https://github.com/rapidsai/cudf/issues/6333.
The test(s) should be added as part of this fix.

N

[2020-10-02 06:32] #6221 closed

[2020-10-02 18:10] vuule commented on #6314
From the included info it looks like the issue is in the data type inference, not parsing.
Namely, we always infer `int64` column type for integers. In this case this leads to incorrect output, as we're unable to represent the `uint64_t::max` as `int64_t`.
The issue should also repro in the JSON reader.

I think we can modify the data type inference to include integer sign and set the type to uint

[2020-10-02 19:45] nvdbaranec opened #6411 "[FEA] Resolve what to do with semi-redundant fields in cuIO table_metadata"
This PR adds a new field to the `table_metadata` struct, `schema_info`, which contains the column names for the entire hierarchy of returned columns, not just the root columns.

This is semi-redundant with the existing `column_names` but we decided to avoid breaking any existing external dependencies that use `column_names` for 0.16.

We should decide if they should be folded together (likely, `co

[2020-10-02 20:06] kaatish commented on #6314
It does look like the issue is with inference and not parsing.

With the following function :
[code]
We get the following output :
[code]

[2020-10-02 20:53] #5035 closed

[2020-10-03 12:44] Lion-Mod commented on #6396
@kkraus it was using a datetime64 ns Series using cudf.

Something along the lines of <cudf.Series>.dt.day

Apologies I don't have the code to had as I end up removing it for now.

[2020-10-03 15:14] #6394 closed

[2020-10-03 21:11] kkraus14 commented on #6396
Going to leave this open as a feature request to support `Series.dt.is_month_end`, thanks!

[2020-10-04 17:06] galipremsagar opened #6418 "[BUG] Incorrect precision of floating values are being written to csv"
**Describe the bug**
While writing a `float64` or `float32` column to csv cudf is truncating or just writing upto precision `9` for both `float64` and `float32`. This is leading to data truncation incase of `float64` and incorrect data representation incase of `float32`.

**Steps/Code to reproduce bug**
For `float64`:
[code]

For `float32`:
[code]

**Expected behavior**
Ideally we should be matchi

[2020-10-04 20:15] galipremsagar opened #6419 "[BUG] RuntimeError when `header` is of type `np.bool_` in `to_csv`"
**Describe the bug**
There is a `RuntimeError` when we pass a numpy bool(`np.bool_`) instead of a native bool(`bool`) object.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
We should accept numpy bool as valid boolean values and return same results as when native boolean objects are passed.

**Environment overview (please complete the following information)**
 - Environment locati

[2020-10-04 20:20] galipremsagar commented on #6419
Upon investigation, it seems to be a trivial fix. The issue is that while handing off python objects to cython layer we haven't defined the function arguments types tightly.

For example:
https://github.com/rapidsai/cudf/blob/78370a852cac17f472c790f304ef3def53ea4436/python/cudf/cudf/_lib/csv.pyx#L403

Defining a type here by specifying `bool header=True` will fix this issue. Similar fix should be

[2020-10-05 01:12] galipremsagar opened #6420 "[BUG] Empty dataframe missing double-quote in result of `to_csv`"
**Describe the bug**
When there is an empty dataframe and we write the dataframe to csv, we should be adding an empty double quote(`""`) in the result.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
`cudf` should ideally be returning same result as pandas does in this case, else if we try to read in the same result in pandas we get an error:
[code]

**Environment overview (please co

[2020-10-05 12:47] davidwendt commented on #6418
This 9 digits of precision (actually 10 significant digits) is hardcoded in the float-to-string conversion `cudf::strings::from_floats()` used by cuio's CSV writer.

[2020-10-05 14:43] Lion-Mod opened #6422 "[QST] cuDF way to do group by e.g. sum TD"
Looking to do some speedy time series crunching. Is there a way to do a lagged summing to date on a time series in cuDF concisely? I have some stuff up and running in R but wanting to move it over to Python, specifically cuDF!

e.g.
person A scores 1, 2, 3 on Mon, Tues, Wed
then
person B scores 4, 5, 6 on Mon, Tues, Wed

Then using whatever function gives `TD_col` 0, 1, 2 for person A and 0, 4, 9

[2020-10-05 14:53] kkraus14 commented on #6419
@galipremsagar yes, thanks!

[2020-10-05 15:58] Lion-Mod commented on #6422
Sorry @kkraus14, I realised I was way too unspecific/unclear.

My current idea.

1. `Sort the cuDF dataframe by group then by datetime`
(`a` is the column to sum to date)

2. `s['cumsum'] = s.groupby("a").cumsum()`

3. `s["cumsum_TD"] = s.groupby("a")["cumsum"].shift(1, fill_value = 0)`

This seems to work but was curious if there is something out there to make it work quicker/more concise code.

[2020-10-05 17:17] ayushdg commented on #5683
Happy to take this on for 0.17 unless someone is working on it already 😄 .

cc: @kkraus14 @vuule

[2020-10-05 17:22] vuule commented on #5683
AFAIK no one is working on this. It's all yours :)

[2020-10-05 17:35] #6356 closed

[2020-10-05 19:12] galipremsagar opened #6429 "[BUG] Performing `to_pandas` in `to_json` results in conversion to float columns when there is a null value present"
**Describe the bug**
Since we currently use pandas json writer, we perform `.to_pandas` in the code:

https://github.com/rapidsai/cudf/blob/185fe96bfabd62dfcbe9f039e9b7068fad01af77/python/cudf/cudf/io/json.py#L70-L78

This results in conversion of columns having nulls into `float64` dtype. This will result in different contents of json file though both cudf and pandas utilize the same underlying p

[2020-10-05 21:49] #5751 closed

[2020-10-06 02:42] jakirkham opened #6435 "[FEA] Figure out alternative to `pandas._testing`"
**Is your feature request related to a problem? Please describe.**

Currently we make use of `pandas._testing` in a few places. This was done in the short-term to migrate off of the deprecated `pandas.util.testing`. However as `pandas._testing` is an internal module of Pandas, we should not be using it either. Would be good to find and implement an alternative solution for this use case.

**Descri

[2020-10-06 04:48] harrism commented on #6001
Is this still targeted for 0.16 or should we push it along to 0.17?

[2020-10-06 05:25] vuule commented on #6001
This will definitely not be closed in 0.16. There is a lot more pending work, e.g. ORC fuzz testing.

[2020-10-06 14:18] #5493 closed

[2020-10-06 20:30] kaatish opened #6449 "[BUG] 'data_type_detection' for JSON does not handle '+' sign"
**Describe the bug**
If an integer/float is encountered in a json file with a minus sign before it, it is handled [here](https://github.com/rapidsai/cudf/blob/721d0c10e91fb8a782ba8e3fb0f6dda61a072e3d/cpp/src/io/json/json_gpu.cu#L663) and [here](https://github.com/rapidsai/cudf/blob/721d0c10e91fb8a782ba8e3fb0f6dda61a072e3d/cpp/src/io/json/json_gpu.cu#L671). The minus sign is ignored and the remaini

[2020-10-06 20:35] vuule commented on #6449
Don't think the repro code is right here. The file should be something like
`{"col0":10,"col1":+234}`
, and read_json should set `lines` parameter to `True`.
Also, can you please run the same code with pandas.read_json to confirm that behavior is indeed unexpected.

[2020-10-06 22:03] galipremsagar commented on #6001
Things pending from the python side are ORC & avro fuzz testing.

@vuule do we want to loop in someone on the java side to cover the java fuzz testing? or track java fuzz testing as a separate issue?

[2020-10-07 03:38] dmitra79 opened #6455 "[BUG]"
**Describe the bug**
I get an error trying to import cudf:

**Steps/Code to reproduce bug**
[code]

**Environment overview (please complete the following information)**
cudf installed with conda: conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=0.13 python=3.7 cudatoolkit=10.1
Environment: Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-45-generic x86_64)

**Environment details**
<details><su

[2020-10-07 04:01] isVoid opened #6456 "[FEA] Support constructing `datetime64[ms]` series with `pd.NaT`"
**Is your feature request related to a problem? Please describe.**
Currently when I construct a datetime series with `pandas.NaT`:

[code]

It throws:
[code]

**Describe the solution you'd like**
`cudf.Series` constructor works with null values, which match with pandas behavior.

**Describe alternatives you've considered**
[code]

**Additional context**
<details><summary>Click here to see environm

[2020-10-07 12:45] davidwendt commented on #6456
The following works in case it helps:
[code]

[2020-10-07 13:05] dmitra79 commented on #6455
Apparently cudf=0.13 is not compatible with latest Numba. Upgraded to cudf=0.15 which fixed the problem

[2020-10-07 13:05] #6455 closed

[2020-10-07 16:44] wesm commented on #4414
Thank you. It's much easier to understand your changelog now

[2020-10-07 18:49] datametrician commented on #5589
@kkraus14 given this is a recsys/customer ask could we get this on the roadmap for 0.17?

[2020-10-07 19:41] kkraus14 commented on #5589
Depends on https://github.com/rapidsai/cudf/issues/5376

[2020-10-07 23:21] jlowe opened #6465 "[BUG] concatenate on many string columns causes storm of synchronized HtoD copies"
**Describe the bug**
While investigating nsys profile traces I noticed table concatenation occasionally taking far longer than expected.  It appears to be localized to tables containing string columns.  When concatenating string columns, the traces show a flurry of many tiny host-to-device transfers (96 bytes each) with a stream synchronization after each transfer.  Often more time is spent doing

[2020-10-07 23:32] jlowe commented on #6465
I believe these tiny transfers are triggered by `create_strings_device_views`.  It builds a vector of `column_device_view` from the vector of columns to concatenate in preparation for concatenating them all into a contiguous block of host memory to transfer to the device.  However creating each device view causes a tiny HtoD transfer and synchronization for the child column view.  With many input

[2020-10-08 00:04] drabastomek opened #6467 "[BUG] LocalCUDACluster -- NoneType has no attribute 'process'"
**Describe the bug**
When starting a `LocalCUDACluster` it throws `tornado.application` error.

Full stack:

[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
`LocalCUDACluster()` should return the object without error.

**Environment overview (please complete the following information)**
 - Environment location: Docker
 - Method of cuDF install: Docker
   - If method of instal

[2020-10-08 00:10] drabastomek commented on #6467
Just checked and the issues is still present even if I use CUDA 10.2.

[2020-10-08 00:18] kkraus14 commented on #6467
Moving this to the dask_cuda repo.

[2020-10-08 03:08] harrism commented on #4414
This doesn't yet affect our changelog (changelog.MD). :)

[2020-10-08 17:30] davidwendt opened #6469 "[FEA] Move nullable index iterator creation logic to indexalator_factory"
Reference discussion here https://github.com/rapidsai/cudf/pull/6457#discussion_r501888757

The existing logic for https://github.com/rapidsai/cudf/blob/48e9d1bb15c73f241a173bb6de02dbf496aa87bf/cpp/src/dictionary/replace.cu#L41
and
https://github.com/rapidsai/cudf/blob/48e9d1bb15c73f241a173bb6de02dbf496aa87bf/cpp/src/dictionary/replace.cu#L72-L77
should be moved to be an indexalatory utility for u

[2020-10-08 19:27] jrhemstad opened #6470 "[FEA] Replace `pair_iterator` with `thrust::optional`"
**Is your feature request related to a problem? Please describe.**

libcudf currently provides a `pair_iterator` that returns a `pair<T, bool>` for each element in a column:
https://github.com/rapidsai/cudf/blob/48e9d1bb15c73f241a173bb6de02dbf496aa87bf/cpp/include/cudf/detail/iterator.cuh#L132-L157

This is useful for nullable inputs to generic code paths that operate on iterators.

However, the `

[2020-10-08 19:34] vuule commented on #6274
Looks like this shares the root cause with https://github.com/rapidsai/cudf/issues/6314
@kaatish , should merging https://github.com/rapidsai/cudf/pull/6446 close this issue too?

[2020-10-08 22:11] mythrocks opened #6472 "[FEA] rolling.cu takes too long to compile. Consider refactoring"
It looks like `rolling.cu` is taking about 5 minutes to compile. This might possibly have to do with the addition of new rolling-window operations (`grouped_rolling_window()`, `time_based_*rolling_window()`, `rolling_window_udf()`) and the new aggregations that it supports.

It might be wise to split this into multiple translation units, to better parallelize the compile.

[2020-10-08 23:21] jrhemstad commented on #6472
I'm going to say this is more of a feature request than a bug, but it would be very nice.

[2020-10-09 02:05] micdonato opened #6473 "[QST] cudf not found (solved - downgraded numba)"
How can I delete this? I am kind of ashamed...I downgraded Numba to 0.48.0 and now it loads cudf.

Sorry.

I am trying to install cudf on a SageMaker environment. I am following the guide here:

[https://towardsdatascience.com/quick-install-guide-nvidia-rapids-blazingsql-on-aws-sagemaker-cb4ddd809bf5](https://towardsdatascience.com/quick-install-guide-nvidia-rapids-blazingsql-on-aws-sagemaker-cb4d

[2020-10-09 02:19] #6473 closed

[2020-10-09 03:13] kaatish commented on #6274
Yes. It does look like the same problem. Getting PR 6446 merged should fix this issue.

[2020-10-09 05:24] hopeful-coder commented on #2188
What was your workaround for this?

[2020-10-09 10:04] sperlingxx opened #6474 "[FEA] support read/write parquet/orc with fixed-point decimal data"
Considering both parquet and orc support fixed-point decimal type, I think we should support reading decimal columns from parquet/orc as fixed_point columns and writing fixed_point columns to parquet/orc as decimal type.
This feature is quite helpful in terms of spark-rapids.

Currently,
* parquet/orc reader convert decimal type to float64 (int64) while decoding data.
* parquet/orc writer can not

[2020-10-09 16:16] codereport opened #6475 "[FEA] Remove `#include <thrust/optional.h>` from types.hpp"
Currently, libcudf build fails if you remove the unused:
[code]
from the file. The build needs to be fixed so that this doesn't happen.

[2020-10-09 17:01] vuule commented on #6313
From the Pandas issue: Pandas will not change this behavior until they start using nullable types by default.
We can still go ahead with the change.

[2020-10-09 17:19] mythrocks commented on #6472
I'll try have a patch out for this today.

[2020-10-09 17:26] jrhemstad opened #6476 "[FEA] Use official NVTX from GitHub"
**Is your feature request related to a problem? Please describe.**

libcudf currently [vendors a prototype version](https://github.com/rapidsai/cudf/blob/branch-0.16/cpp/include/cudf/detail/nvtx/nvtx3.hpp) of the NVTX C++ wrappers that are now hosted [officially on GitHub](https://github.com/NVIDIA/NVTX/tree/dev/cpp).

**Describe the solution you'd like**

Remove the vendored header and instead us

[2020-10-09 17:48] kkraus14 commented on #2188
I don't believe we have a current workaround for this. Looks like `ARGMIN` / `ARGMAX` landed on the libcudf side where we should explore plumbing this into the Python layer.

[2020-10-09 18:23] asmeurer commented on #2188
I did something like

[code]

I think a similar thing should work for non-groupby idxmax with apply_rows. I haven't tested this in a while though so it may not work (or I may have a bug in the above snippet), and there may be better ways.

[2020-10-09 19:24] jakirkham commented on #4309
That PR has just now been merged. So should be fixed in the next Dask release.

[2020-10-09 19:41] benfred opened #6477 "[BUG] Corrupt data when converting list columns to/from parquet"
**Describe the bug**

Writing a dataframe with a list column to parquet results in different data when that parquet file is read back in.

This seems to only occur when the parquet file contains more than 1 row group: small datasets won't trigger this bug.

**Steps/Code to reproduce bug**
Minimal repro is here:

[code]

**Expected behavior**
The original and restored dataframe should have the same

[2020-10-09 19:56] devavret commented on #6477
Triaging this with Ben offline, it seems like a reader issue

[2020-10-09 19:58] Rogerh91 commented on #4957
Hey all, I saw a similar issue come up as I was playing around with cuDF's read_csv function with [RAPIDS on Kaggle](https://www.kaggle.com/cdeotte/rapids/notebooks). My code runs fine, but it kept on propagating the following error:

RuntimeError: cuDF failure at: /opt/conda/envs/rapids/conda-bld/libcudf_1598487636199/work/cpp/src/io/csv/reader_impl.cu:651: Unsupported data type

After looking at

[2020-10-09 19:59] benfred commented on #6477
This seems likely an issue with ```cudf.read_parquet```. When writing out the dataframe with pandas - and then reading back with cudf we still have the same problem.

[code]

[2020-10-09 20:10] nvdbaranec commented on #6477
Do we know if this is a recent behavioral change?  That is - was it working, say a week ago?   Wondering if the parquet struct PR might be the cause.

[2020-10-09 21:07] VibhuJawa commented on #5799
Happy to take this on for `0.17`  release. Would love to clean this up.

Related to this issue, I will need support on how to add the [hashingfile](https://github.com/rapidsai/clx/blob/267c6d30805c9dcbf80840f222bf31c5c4b7068a/python/clx/analytics/perfect_hash.py) to the `cudf` package to close part of this.

Related  See open question at: https://github.com/rapidsai/cudf/issues/5868#issuecomment-6

[2020-10-09 21:13] shwina opened #6478 "[FEA] Remove bounds checking from `cudf::gather`"
This is the first of a series of issues as part of a larger `join` refactor.

Currently, `cudf::gather` accepts a `check_bounds` parameter. We should remove that and move the bounds checking logic to Cython, as detailed in https://github.com/rapidsai/cudf/issues/5505.

[2020-10-09 21:14] shwina commented on #6478
cc: @jrhemstad @isVoid

[2020-10-09 21:26] shwina opened #6479 "[FEA] Add new parameter to cudf::gather to enable behavior of negative indices beget null elements"
This is the second of a series of issues as part of a larger join refactor.

It would be great if `cudf::gather` exposed a way to get `null` when negative indices are specified in the gather map.

[code]

The `join` API is going to be refactored to return gather map(s) instead of the actual result of a join. This is so callers have the freedom to construct the output table in whatever way they lik

[2020-10-09 21:32] jrhemstad commented on #6479
While the original intention is for negative indices, I think we can expand it just to say that any out of bounds index yields a null.

[2020-10-09 21:34] shwina opened #6480 "[FEA] Add a join API that returns gather maps rather than a table"
This would depend on #6479 and #6478

It would be great if libcudf had a `join` API that returned gather map(s) (one in case of an `inner` join and two in case of outer joins). For example:

[code]

As explained in #6479 , this could result in simpler join code, both in the C++ as well as in Python.

As follow up tasks to this feature, we should:

- Update Python bindings to use the new gather map

[2020-10-09 21:35] shwina commented on #6480
cc: @jrhemstad

[2020-10-09 21:36] shwina commented on #6479
cc: @brandon-b-miller as well

[2020-10-09 21:46] mythrocks commented on #6479
I didn't realize that the following code wasn't the prescribed way to achieve that effect:
[code]
This is from [rolling.cu](https://github.com/rapidsai/cudf/blob/f2935881a433a97418191edf3643b20c8eaa0334/cpp/src/rolling/rolling.cu#L662).

[2020-10-09 21:55] kkraus14 commented on #4957
@Rogerh91 I believe if you use `timestamp` or something like `timestamp[s]` for example it should work.

We're actively working on refactoring this code and cleaning this up is definitely one of the things we're planning to tackle.

[2020-10-09 22:04] shwina commented on #6479
I think that code does do that, but this is not exposed in the public API

[2020-10-09 22:12] shwina opened #6481 "[DISCUSS] cuDF internal/developer documentation"
Because cuDF is designed and written differently from many other Python libraries, it's important that we document our internals and design choices carefully. Currently, it can be a significant effort for someone to start contributing to the cuDF source code due to the lack of developer documentation.

We're developing an outline for our dev docs here:

https://docs.google.com/document/d/1gJOw2-Du

[2020-10-09 22:19] mythrocks commented on #6479
Ah, so. Gotcha.

[2020-10-09 23:09] galipremsagar opened #6482 "[BUG] datetime dtype not being inferred by cudf avro reader"
**Describe the bug**
Looks like the `timestamp` values written into avro files are not being inferred by cudf while reading an avro file.

**Steps/Code to reproduce bug**

AVRO FILE(compressed with unzip for github attachment reasons):  [test_avro.avro.zip](https://github.com/rapidsai/cudf/files/5357985/test_avro.avro.zip)

Reading an avro file in pyspark.
[code]

Observe the `time` column values,

[2020-10-09 23:22] pseudotensor opened #6484 "License issues when switching to conda"
https://github.com/conda-forge/conda-forge.github.io/issues/209#issuecomment-706439782

Conda bundles GPL in several packages that would be normally used.  This makes the switch to conda a problem for any company wishing to adopt rapids.

[2020-10-09 23:23] benfred commented on #6477
@nvdbaranec It looks like this bug exists in cudf 0.15, so I don't think this is because of the recent changes.

I just installed the stable cudf 0.15 to test this out - and I'm seeing this same behaviour in cudf 0.15. Reading the input file generated in the script with cudf 0.15 returns incorrect results, while reading with pandas works .

[2020-10-10 01:42] kkraus14 commented on #6484
This seems like a conda issue as opposed to a cuDF or RAPIDS issue. I'm not sure what we can do to help with conda GPL licensing issues from the RAPIDS side of things.

If the ask is to provide easier ways of installing RAPIDS libraries outside of conda:
- Our stance on pip packaging: https://medium.com/rapids-ai/rapids-0-7-release-drops-pip-packages-47fc966e9472
- For building from source: https:

[2020-10-10 01:42] #6484 closed

[2020-10-10 02:15] OlivierNV commented on #6482
Interesting. There is no low-level timestamp type in avro, but there is apparently a "logicalType" json attribute (not sure if this is spark-specific, as it doesn't seem to appear in the official avro spec, but it shouldn't be too difficult to add):
`{"type":"record","name":"topLevelRecord","fields":[
{"name":"str","type":["string","null"]},
{"name":"float","type":["double","null"]},
{"name":"int"

[2020-10-10 03:36] pseudotensor commented on #6484
There is no "rapids" github to post broader issues.   Yes, I'm aware of the lack of pip support and why.

Building from all packages, beyond cudf, related to rapids by source is not easy.  The build.sh scripts do not work for half of the rapids repos.  One can make Ubuntu work after several changes, but centos has issues building rmm making it a non-starter approach.  This is not the rmm repo, and

[2020-10-10 07:29] sperlingxx opened #6486 "[FEA] type casting between fixed-point decimal and other numeric types"
**What is your question?**
According to the checklist of [issue 3556](https://github.com/rapidsai/cudf/issues/3556), we are able to _cast to/from floats, ints and decimal with other precision/accuracy_ in cuDF. How can we achieve that?
`cudf::logical_cast` alone doesn't seem to be the right solution. For integer types, we can perform cudf::logicial_cast after rescaling fix_point data to zero. But

[2020-10-10 15:14] galipremsagar commented on #6482
From the Avro spec, looks like there is additional support for a few more derived types by using `logicalTypes`: https://avro.apache.org/docs/current/spec.html#Logical+Types

I think spark is utilizing the same as you pointed out @OlivierNV

[2020-10-10 17:22] OlivierNV commented on #6482
It helps to read the spec all the way to the end :)

[2020-10-10 18:51] #5892 closed

[2020-10-10 20:39] Rogerh91 commented on #4957
Hey @kkraus14, thanks for the tip -- just wanted to report that it worked the first time I tried it. It doesn't seem to be anywhere [in the documentation](https://docs.rapids.ai/api/cudf/stable/basics.html#supported-dtypes) which most people will consult when they're stuck on this.

[2020-10-10 23:46] kkraus14 commented on #6484
Opening github issue(s) on the repos that you're interested in with the current problems you're running into when using `build.sh` would be greatly appreciated. We want to make installing a smooth process and right now `build.sh` assumes that dependencies are already installed in certain ways, and many of these assumptions are likely incorrect.

[2020-10-11 17:50] nvdbaranec commented on #6477
Ok, thanks.  I believe I've identified the issue.  Should have a PR up for you to try Monday morning.

[2020-10-12 04:30] harrism commented on #6486
@codereport I unchecked the box next to

because I looked at cast_ops.cu and I see multiple `CUDF_FAIL("Fixed point unary ops currently not supported");`.

Casting between types is a unary operation. Apparently this is not implemented yet. Converting this issue into a feature request.

[2020-10-12 04:31] harrism commented on #6486
Assigning to @codereport for 0.17.

[2020-10-12 04:43] harrism commented on #6476
The official version appears to still be in the `dev` branch. Any idea when it will be released?

[2020-10-12 11:53] NvTimLiu opened #6490 "[BUG] Remove offensive word"
**Describe the bug
There is an offensive word in the cuDF java binaries.

**Steps/Code to reproduce bug**
Our cuDF java binaries are built from the source code of `nvspark/cudf` Gitlab repo, which is the down-stream of this GitHub rapidsai/cudf.

When building cuDF java binaries, the `build-info` is collected via the script `java/buildscripts/build-info`.

In this `build-info` (an example showing

[2020-10-12 13:08] kuhushukla opened #6492 "[FEA] Java host string columns should match list columns"
**Is your feature request related to a problem? Please describe.**
The way we construct and layout strings and lists diet today, adding complexity around host side construction/deconstruction. This should be commonised.

**Describe the solution you'd like**
Strings can be represented as lists maybe.

[2020-10-12 16:43] mythrocks commented on #6472
So much for the naive approach. The issue is with the time-range overloads. Still investigating.

[2020-10-12 17:14] jrhemstad opened #6495 "[Discussion] Provide public, templated APIs for libcudf features"
## Description

Today, libcudf does not provide function templates in it's public interface. This is because for most users, the input data type is runtime information. Therefore, libcudf APIs operate on type-erased `column_view` objects where the runtime type information is stored in the `data_type` member and internally we dispatch to the appropriately typed code path, e.g., via the `type_dispat

[2020-10-12 17:47] albert17 opened #6496 "[FEA] Dask_cudf support Avro files"
**Is your feature request related to a problem? Please describe.**
I want to use dask_cudf to read Avro files in NVTabular.

**Describe the solution you'd like**
dask_cudf implementation for Avro files. Similar to existing support for CSV, Parquet, Json, and ORC.

**Describe alternatives you've considered**
I have thought about implementing the Dask version within NVTabular using cudf. It would wo

[2020-10-12 18:38] devavret commented on #6422
What you're asking for then is groupby scan operations. This would be a duplicate of #1298

[2020-10-12 18:38] #6422 closed

[2020-10-12 18:56] galipremsagar opened #6499 "[BUG] Series equality checks not checking for index equality"
**Describe the bug**
When there is an equality check (`==` or `!=`) against two series objects, we are not checking the index equality before performing the actual check.

We perform this check incase of `DataFrame` though:

https://github.com/rapidsai/cudf/blob/421fddb8b52dff8c8152158ca5f379f0f7255b98/python/cudf/cudf/core/dataframe.py#L1311-L1317

We'll have to add a similar check in `_binaryop`

[2020-10-12 19:08] VibhuJawa opened #6501 "[BUG] Subword tokenizer on rows divisible by 64 gives incorrect results"
**Describe the bug**
 Subword tokenizer on ~`1_000_000`~ any rows divisibly by 64 gives incorrect results .

**Steps/Code to reproduce bug**
#### Set up Vocab
[code]
#### Actual Reprouducer:
[code]

[code]

**Expected behavior**

I would expect similar results as I get with `999_999` rows.
[code]
[code]

**Environment overview (please complete the following information)**

 - Method of cuDF instal

[2020-10-12 19:26] paulhendricks opened #6503 "[FEA] Jaro-Winkler algorithm for cudf.core.column.string.StringMethods.edit_distance"
**Is your feature request related to a problem? Please describe.**

Add Jaro-Winkler algorithm for `cudf.core.column.string.StringMethods.edit_distance`.

Documentation: https://docs.rapids.ai/api/cudf/stable/api.html?highlight=tokenizer#cudf.core.column.string.StringMethods.edit_distance

**Describe the solution you'd like**

[code]

Usage:

[code]

[2020-10-12 22:07] drabastomek opened #6505 "[BUG] Reading JSON file saved from Series fails"
**Describe the bug**
Reading a JSON file created from a Series `.to_json(path, orient='records', lines=True)` call leads to a `Input data is not a valid JSON file` when trying to read with `.read_json(path, orient='records', lines=True)` (with or without `engine='cudf'` parameter).

**NOTE**: this is only a problem when saving Series in this format -- DataFrame objects are saved properly.

**Steps

[2020-10-13 00:16] VibhuJawa commented on #6501
#### 64 rows divsibilty incorrect results :
(Correct result is [1045])
[code]

[code]
Another Bigger Test
[code]

[code]
#### Results are correct is n_rows is not divisible by 64:

[code]
[code]

[2020-10-13 00:18] galipremsagar opened #6507 "[BUG] RuntimeError and SegFault while reading valid avro file with empty data"
**Describe the bug**
An avro file can be created out of data with records that are empty or out of both `fields`(in schema) and record that are empty. We currently segfault and error in both scenarios respectively.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
We should be able to read and retrieve the empty dataframe without error or segfault.

**Environment overview (please compl

[2020-10-13 00:18] harrism commented on #6465
Since you already have it, why not attach the code and trace to this issue to make it easier to work on?

[2020-10-13 00:29] #6351 closed

[2020-10-13 00:38] harrism commented on #6117
This appears to come from Jitify.

https://github.com/NVIDIA/jitify/blob/3e96bcceb9e42105f6a32315abb2af04585a55b0/jitify.hpp#L2817-L2821

I will file a Jitify issue.

[2020-10-13 01:12] galipremsagar commented on #6505
We currently use pandas JSON writer and this output isn't a valid JSON file, but pandas can read back this output because of a dedicated parameter(`typ`) it has in `read_json` which will determine what the file contents could be. For example:

[code]

@kkraus14 I think we should start support similar param in `cudf` aswell.

But it also raises the question if `'1\n2\n3\n4'` should be considered a

[2020-10-13 01:46] #6343 closed

[2020-10-13 02:16] kkraus14 commented on #6505
If there was reasonable formats of JSON that could be supported then sure, but generally JSONLines is the most scalable / common one, so I'm not sure how much sense it makes to support other formats.

This is definitely not valid JSON. Could you raise an issue on Pandas if one doesn't already exist?

[2020-10-13 02:26] NvTimLiu commented on #6490
PR merged, set this issue as closed

[2020-10-13 02:26] #6490 closed

[2020-10-13 06:45] vuule commented on #6029
Missed the "closes" tag in #6386. Reopening.

[2020-10-13 06:50] vuule commented on #6029
Please note that most code that cooperatively loads structs uses `reinterpret_cast` to cast between pointer types. These instances will be addressed as part of https://github.com/rapidsai/cudf/issues/6236, please skip such cases when working on this issue.

[2020-10-13 10:08] sperlingxx opened #6515 "[FEA] Java bindings for fixed-point Decimal type"
**Is your feature request related to a problem? Please describe.**
cuDF Java API should be able to leverage new cuDF feature, [fixed-point decimal type](https://github.com/rapidsai/cudf/issues/3556), in order to support decimal type in spark-rapids plugin ([issue link](https://github.com/NVIDIA/spark-rapids/issues/42)).

**Describe the solution you'd like**
Initial Tasks
- [x] Add class DataType,

[2020-10-13 13:25] jrhemstad commented on #6236
cub::BlockLoad is more for loading an array of items. In this case, we're loading a single large struct cooperatively. This is more what trove is intended for.

[2020-10-13 13:53] jlowe commented on #6117
I think there's two issues here, Jitify logging to stdout and the issue triggering Jitify to log in the first place.  Logging to stderr is an improvement, but we're still going to be fielding questions from users as to what this message means.  I think it's worthwhile to fix the cause of it in libcudf as well.

From the error messages, it looks like the issue centers around cassert use in bit.hpp

[2020-10-13 14:31] rjzamora commented on #6496
NVTabular likes to have a mechanism to control the output partition sizes.  This is supported in csv and parquet (and can be supported in orc).  It will be easy to support a file <-> partition mapping for avro, but it may take a bit of work on the cudf side to handle (decompose) large avro files.

@albert17 - Do you suspect that the avro files are typically larger than the desired output partition

[2020-10-13 14:34] galipremsagar commented on #6505
Cross-linking pandas issue: https://github.com/pandas-dev/pandas/issues/37100

[2020-10-13 16:49] jlowe commented on #6465
I didn't attach the trace because it's a full trace of a Spark query and quite large, containing much more activity than just column concatenation.  That's also why I didn't post code, as I didn't have a nice, focused repro case to post at the time.

But since you asked, I created a repro case and the corresponding nsys trace for it.  This repro shows using 200 columns which matches the default pa

[2020-10-13 16:52] albert17 commented on #6496
I don't know about the expected file size. Probably @benfred can answer this question better.

Do you @rjzamora think it is a better idea to implemented directly in NVTabular?

[2020-10-13 16:59] rjzamora commented on #6496
No - It definitely makes sense to implement something in dask-cudf.  However, I wanted to clarify that the short-term dask-cudf solution would most likely map each file to a separate partition.

[2020-10-13 17:11] Str-Gen opened #6516 "[QST] Tracking dataframe casts & CPU / GPU boundary crossing"
I'm starting to work with Cudf and Cupy, but I'm having issues keeping track of the operations that happen to cudf DataFrames.
More to the point I have trouble keeping track whether the objects really are on the GPU and where computation takes place. Furthermore, when using basic operations casts are happening behind the scenes and I don't know if I could write the code in such a way that they are

[2020-10-13 17:30] davidwendt commented on #6465
I think the single allocate-copy step could be performed by using a `table_view` inside `create_strings_device_views`
Build a `table_view` from the input vector of columns and then call `table_device_view::create()` on it.
This `create()` function creates a single memory buffer to hold instance pointers for all of its columns (and their children). This should be about the same size as the original

[2020-10-13 17:55] jlowe commented on #6465
Doesn't a `table_view` require all columns to be the same number of rows?

[2020-10-13 17:59] davidwendt commented on #6465
Ah yes, you are right.

[2020-10-13 19:43] galipremsagar commented on #6516
Currently, our scalar representation is backed by CPU memory i.e.,

[code]
`sr` is stored on GPU memory, but when you access/retrieve a specific element from index of series, it copies the data onto CPU memory:

[code]

But, this is going to change in future release of `cudf`. @brandon-b-miller can comment more on this.

The data frame column dtypes all will show `np.int..` , `np.float..`, `np.obj

[2020-10-13 20:06] brandon-b-miller commented on #6516
RE: Scalars, and the result of `cudf.Series([1,2,3]).iloc[1]` for instance: right now, this translates into a call to libcudf that obtains the value of the underlying GPU-side column at that particular index location, transfers that device to the host, and then creates the corresponding numpy scalar from the result to serve back to the caller. This might give the impression that the data is stored

[2020-10-13 20:57] pretzelpy commented on #3958
I am trying to read a 170M row parquet file into cudf, but get the error below. My data is mostly numeric, but there I do have 2 columns, addresses and names which contain long strings. I don't have an issue with a smaller parquet file of same dimensions.

Is there any workaround for getting this data loaded into cudf? Or will I have to reduce the total number of characters to fewer than 2B?

**Ru

[2020-10-13 22:14] jrhemstad commented on #6476
Our goal is to have a tagged release done by end of October.

[2020-10-13 22:18] mtjrider opened #6521 "[BUG] Broken tests in debug build"
## Summary
When compiling `libcudf.so` with debug symbols, not all tests pass / execute without error.
The following is a list of tests that either fail or error:

* `COPYING_TEST`: does not compile
* `DICTIONARY_TEST`: illegal memory access
* `ERROR_TEST`: failure
* `FIXED_POINT_TEST`: illegal memory access
* `GROUPBY_TEST`: failure
* `INTEROP_TEST`: illegal memory access
* `JOIN_TEST`: unknown,

[2020-10-14 00:25] harrism commented on #6117
For now #6509 disabled printing altogether. I'm guessing jitify must provide some replacement for `assert()` that allows this to compile with NDEBUG even though cassert is not found?

[2020-10-14 00:55] harrism commented on #3958
Hi @pretzelpy would you be able to file a new issue with repro instructions? Thanks!

[2020-10-14 01:07] harrism commented on #6521
I'm hoping that cudaIllegalMemoryAccess failures are all the same problem. May be related to rapidsai/rmm#563.

[2020-10-14 01:16] #6477 closed

[2020-10-14 10:00] Str-Gen commented on #6516
Alright, thank you both for the quick responses & detailed answers. I now have a much better view of what's actually happening.
I went through the documentation, but the closest I got was information at [https://docs.rapids.ai/api/cudf/stable/basics.html](https://docs.rapids.ai/api/cudf/stable/basics.html) & [https://docs.rapids.ai/api/cudf/stable/internals.html](https://docs.rapids.ai/api/cudf/st

[2020-10-14 11:36] brandon-b-miller commented on #6516
Correct- you only get numpy structures back because that's the closest thing we can give you to the 'reality' of how the data is stored. The numpy dtypes are another example of this. Really `pyarrow` dtypes are an even better representation of the underlying data conceptually, especially when it comes to some of the types that we support and numpy does not (`list` for example). But the actual pyar

[2020-10-14 12:10] davidwendt commented on #6501
Fixed in #6519

[2020-10-14 12:10] #6501 closed

[2020-10-14 13:45] revans2 opened #6524 "[BUG] grouped_time_range_rolling_window does not look at validity when determining bounds useing the timestamp"
**Describe the bug**
We have been seeing some odd intermittent errors when doing window operations in Spark. @mythrocks and I were able to trace it down to `grouped_time_range_rolling_window` not looking at the validity in `timestamp_column` when determining the bounds for a window.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
This test would pass no matter what value is stored a

[2020-10-14 13:51] pentschev opened #6525 "[BUG] `std::bad_alloc` in `libcudf.copying.table_slice`"
I'm getting the following error in latest nightly:

[code]

This can be easily reproduced just by simply running https://github.com/rapidsai/dask-cuda/blob/branch-0.16/dask_cuda/benchmarks/local_cudf_merge.py with default arguments (see above). The same works on a conda environment I have from October 2nd.

Any ideas what could be the cause for this? Let me know if you need additional information.

[2020-10-14 14:51] pentschev commented on #6525
Yesterday's build also works, the following update is causing the issue, which points to a change from yesterday or today:

[code]

[2020-10-14 15:20] beckernick opened #6526 "[BUG] Writing 1.5GB dataframe to csv OOMs a 32GB V100"
Writing a 1.44GB dataframe to csv appears to cause an out of memory error on a 32GB V100. Tested this in today's nightlies and the nightlies from 2020-10-05 and it happened in both.

[code]

[code]

[2020-10-14 16:46] pretzelpy commented on #1361
bump

[2020-10-14 17:09] galipremsagar opened #6529 "[BUG] `num_rows` parameter is not functional in `cudf.read_avro`"
**Describe the bug**
We have the `num_rows` parameter which allows us to define how many rows to be read-in from the avro file. This parameter seems to be non-functional.

**Steps/Code to reproduce bug**
[weather.avro.zip](https://github.com/rapidsai/cudf/files/5379778/weather.avro.zip) (Avro file zipped for Github attachment limitation)

[code]

**Expected behavior**
`num_rows` in `read_avro` sho

[2020-10-14 18:02] kuhushukla opened #6530 "[FEA] Support chunked Parquet writes for lists"
**Is your feature request related to a problem? Please describe.**
Currently chunked writes are not supported for Parquet in cudf

**Describe the solution you'd like**
Since the chunked write API is used by the spark plugin and we are continuing to add list support, having this API work with lists would be key to functionality and performance with nested types.

**Describe alternatives you've cons

[2020-10-14 18:02] kuhushukla commented on #6530
CC: @devavret , @nvdbaranec

[2020-10-14 18:19] davidwendt commented on #6526
You may need to set the `chunksize` parameter.
The following worked for me without error:
[code]

[2020-10-14 18:25] beckernick commented on #6526
Thanks David.

Is there perhaps an opportunity for us to figure a sane default? I wouldn't have expected to need to explicitly chunk a 1.5GB dataframe on a 32gb card. Curious to get your thoughts on whether that might make sense

[2020-10-14 19:07] davidwendt commented on #6526
Computing the amount of required temporary memory would be expensive. Also, this is only half the problem. Knowing how much memory is available from the memory manager is not currently supported by all device resource types.

[2020-10-14 19:10] rjzamora commented on #6526
Since this is a row count, a good default also depends on the specific dataframe.

[2020-10-14 19:16] beckernick commented on #6526
Yep, I see how those could pose problems. I'll close this issue and think a bit more on this topic.

[2020-10-14 19:16] #6526 closed

[2020-10-14 20:13] harrism commented on #6526
Why does this use so much memory?

[2020-10-14 21:22] pruddle opened #6532 "[BUG] DataFrame.sample() produces unexpected results"
**Describe the bug**
DataFrame.sample() returns values not present in the original dataframe

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect "2" to be returned rather than "3".  Running the same code against a pandas dataframe returns "2"

**Environment overview (please complete the following information)**
 - Environment location:  Domino Data Lab on AWS
 - Method of cuDF

[2020-10-14 21:54] MikeChenfu opened #6533 "[BUG] isna() doesn't recognize np.nan"
**Describe the bug**
Hi Guys, `cudf.Series.isna()` does not recognize np.nan as `null` value .

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
[code]
**Environment overview (please complete the following information)**
 - Environment location: Docker
 - Method of cuDF install: conda
[code]

**Environment details**
Please run and paste the output of the `cudf/print_env.sh` script here

[2020-10-14 22:02] kkraus14 commented on #6533
@MikeChenfu Thanks for reporting. In general we've been using `null` instead of `NaN` for indicating `NA` values and correspondingly handling in operations like `fillna`, `dropna`, etc.

As a workaround if you do `s['a'][1] = None` does that solve your issues?

cc @galipremsagar do we have a function to convert `NaN` --> `null` for a Series?

[2020-10-14 22:09] MikeChenfu commented on #6533
Thanks @kkraus14 for the quick reply. In my case, I use `apply_grouped` to implement a rolling window. `None` seems to not be supported in the kernel function.

[2020-10-14 22:13] galipremsagar commented on #6533
Yes, we have `nans_to_nulls`:

[code]

@MikeChenfu Can you try this as a work-around?

[2020-10-14 22:17] MikeChenfu commented on #6533
Thanks @galipremsagar @kkraus14 . It works. Appreciate it !

[2020-10-14 22:19] kkraus14 commented on #6533
Going to leave this open as something we should probably just transparently handle underneath `isna()`.

[2020-10-14 22:24] shwina commented on #6525
@pentschev I'm unable to reproduce this on either branch 0.16 or branch 0.17. Any chance it could be a broken environment or something?

[2020-10-14 22:26] kkraus14 commented on #6525
It looks like you'd be going from build `1975` --> `1977` of only cudf but not libcudf in the above which is a likely source of a broken environment.

[2020-10-14 22:41] pentschev commented on #6525
Any chance there's something wrong with our conda repo? If I try to build a new environment right now, conda is picking `1977` for `cudf` but `1975` for `libcudf`:

<details>

[code]

</details>

[2020-10-14 23:10] miroenev opened #6535 "[FEA] Add support for KFold CrossValidation Iterator in dask_cudf"
Sklearn and dask_ml have cross-validation iterators that enable the mapping of the train and test data subsets onto non-overlapping groups/folds of equal sizes. The performance measure reported by k-fold cross-validation is then the average of the values computed in the loop.

https://scikit-learn.org/stable/modules/cross_validation.html#k-fold
https://ml.dask.org/modules/generated/dask_ml.model_s

[2020-10-14 23:23] rjzamora opened #6536 "[BUG] Erroneous `to_pandas` type casting when nulls are present"
**Describe the bug**
When converting a cudf DataFrame to a pandas DataFrame (using the `to_pandas` method), integer columns are converted to float when there is a null value.

**Steps/Code to reproduce bug**
[code]
**Output**
[code]

**Expected behavior**
I would expect the integer column dtype to be preserved.

**Environment overview (please complete the following information)**
 - Environment lo

[2020-10-14 23:41] kkraus14 commented on #6525
We ran out of space in our conda channel and the cuda 11 build of libcudf didn't get uploaded: https://anaconda.org/rapidsai-nightly/libcudf/files?version=0.16.0a201014

@rapidsai/ops is working on resolving the problem

[2020-10-14 23:59] rjzamora commented on #6535
Perhaps it makes the most sense to raise an issue in [dask-ml](https://github.com/dask/dask-ml/issues)?

We can certainly track the feature here, but I suspect the necessary changes (to handle a DataFrame collection in `KFold.split`) will be mostly in dask/dask-ml (and maybe dask/dask).

[2020-10-15 00:52] galipremsagar commented on #6536
@rjzamora Will adding `nullable` parameter support to `to_pandas` help?

[code]

[2020-10-15 02:29] rjzamora commented on #6536
That seems reasonable to me - Could `nullable=True` be the default? Or is there a motivation to avoid this?

[2020-10-15 04:52] harrism commented on #2188
argmin and argmax were implemented in libcudf groupby way back in #3616. Just needs Cython. CC @karthikeyann

[2020-10-15 07:27] pentschev commented on #6525
I can confirm the issue was the missing updated libcudf package, building a new conda environment now has fixed it. Thanks @kkraus14 and @shwina .

[2020-10-15 07:27] #6525 closed

[2020-10-15 08:46] devavret opened #6538 "[FEA] Replace all `cudaMemcpyAsync(hostdevice_vector)`"
Replace all `cudaMemcpyAsync(hostdevice_vector)` with `hostdevice_vector.device_to_host()` or `hostdevice_vector.host_to_device()` as appropriate.

Example:
https://github.com/rapidsai/cudf/blob/bfd83f3388d47d816342d5a7ed29a0ed28a62bd9/cpp/src/io/parquet/writer_impl.cu#L442-L443

[2020-10-15 13:49] brandon-b-miller commented on #6536
@rjzamora last release we played around with returning nullable pandas dtypes by default. We actually merged that change and let it propagate to the nightlies for a few days IIRC. Where it fell apart was when users tried to use cuDF along with other external python libraries (sklearn, xgboost etc) where those libraries expected numpy dtypes and didn't have the machinery in place to handle nullable

[2020-10-15 13:55] brandon-b-miller commented on #6536
As an aisde, not knowing much about NVTabular - is it set up to handle nullable pandas dtypes? They unfortunately don't work with the NumPy API, so if you did want to use them you might find yourself in a situation where your type-handling code needs separate branches for `pd.Int64Dtype()`, etc. This is actually the main issue with them everywhere right now. I might suggest hacking in an upcast to

[2020-10-15 13:56] brandon-b-miller commented on #6536
Oops - sorry didn't mean to close - reopened

[2020-10-15 14:12] rjzamora commented on #6536
Thanks for the context @galipremsagar and @brandon-b-miller - That is very useful information.  Overall, it seems reasonable to avoid making `nullable=True` the default.

**Some background**: NVTabular is only using `to_pandas`/`from_pandas` to perform "preemptive" device-host spilling between certain groupby-aggregation tasks (related to categorical encoding).  By doing this, we can (1) control s

[2020-10-15 14:15] #6227 closed

[2020-10-15 14:17] brandon-b-miller commented on #6536
cuDF should support construction from nullable pandas dtype objects cleanly so if all you need to do is roundtrip then it shouldn't affect anything. Only code like this is dangerous:

[code]

[2020-10-15 16:00] kkraus14 commented on #6536
Even with nullable type support this is very expensive as the nullmap data representation is different between Pandas and cuDF. cuDF uses a bitmask (bit per value indicating validity) whereas Pandas uses a boolmask (byte per value indicating validity).

I would suggest using pyarrow and [`pyarrow.concat_tables`](http://arrow.apache.org/docs/python/generated/pyarrow.concat_tables.html) for this ins

[2020-10-15 16:01] rjzamora commented on #6536
Right - I was thinking the same thing.  We were using pandas to leverage a dask dispatch for concat, but we can certainly be a bit more explicit and use arrow.

[2020-10-15 16:16] pruddle commented on #6532
Additional information I discovered on further exploration, this only reproduces when replace = True.  Replace = False has the expected behavior.

[2020-10-15 16:39] revans2 opened #6539 "[BUG] 3.1.0 pos_explode tests are failing"
**Describe the bug**
A lot of pos_explode and explode integration tests are failing in the 3.1.0 CI.

From looking at the exception it appears to be that spark is inserting a filter into the plan somewhere now that checks the length of the array, and this results in the data not being on the GPU any longer.

[code]

This appears to be a needless step because we are creating the array right then. T

[2020-10-15 16:48] revans2 commented on #6539
It looks like https://issues.apache.org/jira/browse/SPARK-32295 caused this to happen

[2020-10-15 16:50] revans2 commented on #6539
Oops filed this in the wrong project

[2020-10-15 16:50] #6539 closed

[2020-10-15 18:27] kkraus14 opened #6541 "[FEA] Segmented sort / sorted_order (argsort)"
**Is your feature request related to a problem? Please describe.**
Given we now support list columns, we could use functions for segmented sorts and sorted_order (argsort) to sort the list elements within a column. Only handling 1 depth of lists should be fine for now and if we need arbitrary nesting we could revisit in the future.

**Describe the solution you'd like**
For example say we had a tab

[2020-10-15 18:33] kkraus14 opened #6542 "[FEA] Segmented gather"
**Is your feature request related to a problem? Please describe.**
Given we now support list columns, we could use a function for a segmented gather to gather the elements within a list element within a column. One handling 1 depth of lists should be fine for now and if we need arbitrary nesting we could revisit in the future.

**Describe the solution you'd like**
For example say we had a table th

[2020-10-15 18:33] kkraus14 commented on #6541
Likely depends on #6542

[2020-10-15 18:34] jrhemstad commented on #6541
`argsort` means the same thing as `sorted_order` here?

[2020-10-15 18:35] kkraus14 commented on #6541
Yes, apologies!

[2020-10-15 19:03] benfred commented on #6536
I might be missing something super obvious here - but it doesn't look to me that DataFrame.to_pandas/Series.to_pandas methods take a 'nullable' argument .

I don't see any reference to a nullable argument in DataFrame.to_pandas anyways:
https://github.com/rapidsai/cudf/blob/c6dfa6e3ed8cf898faed244146c4da7ffd5d7cc7/python/cudf/cudf/core/dataframe.py#L4834-L4873
(also, I don't think the ```kwargs```

[2020-10-15 19:09] brandon-b-miller commented on #6536
We had it in and removed it, but have discussed putting it back in as False by default. At the time it was tough to get it to work cleanly and I think we were holding out for a more comprehensive ecosystem wide solution to come into focus, in lieu of anyone really needing it. But if there's a use case we can theoretically support it again.

[2020-10-15 19:13] benfred commented on #6536
Ahh cool - glad to know I wasn't missing something obvious =).

For NVTabular, it sounds like we should move to spilling to pyarrow instead of using pandas, so I don't think we count as a use case here. I wouldn't re-add this param just for us.

[2020-10-15 19:31] beckernick commented on #6526
I'm also curious about how the memory use shoots up

[2020-10-15 19:41] galipremsagar commented on #6499
Fixed by #6517

[2020-10-15 19:41] #6499 closed

[2020-10-15 20:07] shwina commented on #5532
See https://github.com/rapidsai/cudf/issues/6536#issuecomment-709531544 for an example of why `**kwargs` is problematic.

[2020-10-15 20:51] rjzamora commented on #6536
I think I agree with you @benfred - I'll close this issue for now.

[2020-10-15 21:02] pseudotensor commented on #3428
This is a poor way to resolve.  Need to be able to specify in environment where accessing multiple GPUs one GPU at a time.  E.g. for xgboost one can set gpu_id in multi-GPU case, but cudf always would be on 0, so there is inconsistency.

[2020-10-15 21:06] kkraus14 commented on #3428
There's nothing stopping you from using the CUDA APIs in Numba or CuPy to set the device and cuDF will happily use it, but we've historically ran into issues with this approach because of libraries using `cudaSetDevice(0)` to initialize, so we've guided users to use `CUDA_VISIBLE_DEVICES`.

I.E.
[code]

[2020-10-15 21:10] pseudotensor commented on #3428
@kkraus14 Thanks for the quick response and resolution!

[2020-10-15 22:26] rjzamora commented on #6496
**Update**:  I submitted [a draft PR](https://github.com/dask/dask/pull/6740) to dask with an experimental `read_avro` design.  [This script](https://gist.github.com/rjzamora/bfc76bb95babc7bbb70842ec7ea3c106) demonstrates how cudf can be used (with that branch) to produce a Dask-CuDF DataFrame.

[2020-10-16 19:26] vuule commented on #5999
All items have been completed as of https://github.com/rapidsai/cudf/pull/6485. Closing.

[2020-10-16 19:26] #5999 closed

[2020-10-16 19:35] vuule commented on #6390
For some reason merging #6485 did not close the issue even with the correct tag. Closing.

[2020-10-16 19:35] #6390 closed

[2020-10-16 19:41] vuule commented on #6449
Moved to P1 because Pandas does not support this case either.

[2020-10-17 15:25] aniruddhakal commented on #5830
worked like a charm for me,
Thanks @kkraus14

[2020-10-18 02:10] galipremsagar opened #6550 "[FEA] Use `cudf.tests.utils.assert_exceptions_equal` for asserting exceptions"
**Is your feature request related to a problem? Please describe.**
There is a common pattern across cudf pytests where we call pandas function and assert the exception caught against calling a cudf function. The pattern looks like..
[code]

**Describe the solution you'd like**
With `assert_exceptions_equal` introduced here https://github.com/rapidsai/cudf/pull/6517/, we can simply replace above pa

[2020-10-18 10:24] scirocc opened #6551 "Found conflicts using “conda install”"
**Describe the bug**
Found conflicts using “conda install”
My command is "conda install -c rapidsai -c nvidia -c conda-forge -c defaults cudf=0.15 python=3.8 cudatoolkit=10.2"
and return "found conflicts,looking for incompatible packages"
My env is ubuntu18.04 ,python3.8,cuda10.2
Is there any way to fix this?

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/20

[2020-10-18 11:31] scirocc commented on #6551
or please tell me the exact version of conda/miniconda,python,cuda toolkit,cudf that won't  have conflicts

[2020-10-19 14:18] ethem-kinginthenorth opened #6553 "[BUG] or [ QUESTION ] dask_cudf.read_csv hangs on singularity image"
**Describe the bug**
I am using nvtabular:0.2 singularity image and dask_cudf.read_csv hangs.

**Steps/Code to reproduce bug**

[code]

run a Python file with at least the following lines:
[code]

**Expected behavior**
Completion of the execution.

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider)]
 - Me

[2020-10-19 15:35] benfred commented on #6553
Can you get the stack trace of the process thats hung?

One way of doing this is with [py-spy](https://github.com/benfred/py-spy) - Running ```py-spy dump -p PID```  will dump out the stack trace for the your program (replacing PID with the process id of your program).  py-spy is already installed on the NVT image you are using.

[2020-10-19 15:37] brandon-b-miller opened #6554 "[FEA] Accept a vector of scalar* into scatter instead of a vector of unique pointers to scalars"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to pass scalars themselves instead of unique pointers to scalars to this version of `scatter`:
https://github.com/rapidsai/cudf/blob/branch-0.17/cpp/include/cudf/copying.hpp#L148

Currently, the requirement to pass unique pointers makes it so that we have to `move` those pointers away from the cython scalar obj

[2020-10-19 16:25] #6533 closed

[2020-10-19 21:34] cwharris commented on #6554
We're using `std::vector<std::reference_wrapper<scalar>>` in a couple of other places.

I'm wondering if it's appropriate and/or feasible to have a `scalar_view` type. We have a handful of types deriving from `scalar` and it's not clear if all of those would need their own views...

[2020-10-19 22:54] brandon-b-miller opened #6558 "[FEA] Scalar views/Non-owning scalar type"
**Is your feature request related to a problem? Please describe.**
Column objects support `view`s which make it so that we can own those column objects with python objects, and when we want to, safely convert the data to a view and pass it libcudf functions without giving up that ownership. But we currently can't do the same thing for scalars. Up until recently it didn't really matter because we o

[2020-10-19 23:11] jrhemstad commented on #6558
What's wrong with `scalar const&`?

[2020-10-19 23:13] jrhemstad commented on #6554
It's a mistake that `scatter` takes a `vector<unique_ptr<scalar>>`. As @cwharris said, it should be `std::vector<std::reference_wrapper<scalar>>`.

[2020-10-19 23:26] brandon-b-miller commented on #6558
We did try using a const reference. The issue ended up being with cython. If I understand correctly the way it parses the code it ends up trying to declare the reference and then assign it later which I believe is illegal. To fix it they'd have to change the way they handle a bunch of scoping rules and they've opted to throw in this case instead.

[2020-10-19 23:40] jrhemstad commented on #6558
We pass `column_view const&` all over the place in libcudf public apis. If that works than surely `scalar const&` works.

[2020-10-20 00:22] brandon-b-miller commented on #6558
We can't write this in cython at all:
[code]
It will actually throw `C++ references cannot be declared; use a pointer instead`. I believe the reason this isn't a problem for column objects is we just create `column_view` objects and pass those.

[2020-10-20 00:24] VibhuJawa opened #6560 "[FEA] Switch default `chunksize` for `dask_cudf.read_csv` to `2gb` from `256 MiB`"
**Is your feature request related to a problem? Please describe.**
I think we should switch `chunksize` for `dask_cudf.read_csv` increase our `chunksize` from `256 MiB` to something bigger like `1 gb` to `2gb` .

The code change will go at line :

https://github.com/rapidsai/cudf/blob/c382989330f97715e4aec3f2c677b0a6d2e99647/python/dask_cudf/dask_cudf/io/csv.py#L14

## Why:

From experience on `tp

[2020-10-20 00:59] jrhemstad commented on #6558
Why do you need to create a reference variable on the stack? Why not just pass the object to the function directly?

Making an explicit `scalar_view` object would be a lot of extra machinery that I'd really like to avoid.

[2020-10-20 01:06] kkraus14 commented on #6560
One note here is that per thread default stream / explicit CUDA streams could likely change this where we can run multiple threads on a GPU and saturate it more effectively via concurrent work instead of relying on only a single task to saturate it.

This is of course at the cost of a larger number of tasks and more work for the scheduler to handle the larger number of tasks.

[2020-10-20 01:32] VibhuJawa commented on #6560
Agreed that we will have to revisit this default when we have explicit CUDA streams but for now, I feel we should be safe to increase the default chunk size.

If we all end up agreeing on changing this default, happy to do a quick pr to fix this.

[2020-10-20 01:49] #5160 closed

[2020-10-20 02:13] cwharris commented on #6554
@jrhemstad the fact that we don't have views of scalars is making some things difficult non-obvious on the python side. One solution is to use `shared_ptr` instead of `unique_ptr`.

[2020-10-20 02:28] harrism commented on #6554
There is a separate issue open for that: #6558

[2020-10-20 02:41] brandon-b-miller commented on #6558
Passing the scalar objects directly is the current approach and it works. However now we want to persist those scalars and maintain ownership of them through a python object. If we just pass the object directly we don't know what happens to it after that point, so if we need it in python again something might go wrong.

[2020-10-20 02:45] harrism commented on #6558
It would be a shame to have to build and maintain in scalar_view in C++ if it is only needed because Cython can't handle reference variables correctly. Surely there must be a Cython / Python workaround.

[2020-10-20 03:14] jrhemstad commented on #6558
It's a constant reference. Nothing should happen to it. Cython would be fundamentally broken if it couldn't truly pass objects by reference into C++ APIs.

I presume that the Python `scalar` object would hold a `unique_ptr<scalar>` and to pass it into a `libcudf` API you'd just de-reference the `scalar` object:
[code]

[2020-10-20 07:59] harrism commented on #6558
Or in Cython:

[code]

Or something like that. Cython is weird.

[2020-10-20 11:15] brandon-b-miller commented on #6558
Apologies if this is incorrect. But if that is the case why have column views instead of just passing columns by const reference? I had assumed it was to clearly communicate that the object in question was owned by something else and to make it impossible to modify or release the data. Even if all the libcudf functions accept const references, and thus nothing can harm the scalar from within that

[2020-10-20 13:26] kuhushukla opened #6561 "[FEA] Add java/JNI support for substring() with non-literals parameters"
**Is your feature request related to a problem? Please describe.**
We currently support only literals as params to substring method, using the newly added `slice_strings` we should be able to support non-literals.

**Describe the solution you'd like**
Requires jni and java side bindings

[2020-10-20 13:51] jrhemstad commented on #6558
I don't understand what you mean by this.

Why return the `unique_ptr` from a function?

[2020-10-20 13:58] shwina commented on #6558
To clear up some of the confusion re: Cython

What doesn't work right now is writing a `cdef` function in Cython that returns a reference. Say we have a class `Scalar` that encapsulates a `unique_ptr[scalar`:

[code]

The above doesn't compile because there _is_ something broken in Cython which results in the generated C++ code declaring a reference without initializing it.

Suppose we had a libcu

[2020-10-20 14:02] jrhemstad commented on #6558
Couldn't you also just return the object by a `scalar const*`?

Then you could do:
[code]

[2020-10-20 14:02] shwina commented on #6558
Yes, we could totally do that.

[2020-10-20 14:03] brandon-b-miller commented on #6558
The reason I want to return the unique pointer from a function, is because I want to potentially do things with the object before returning. In the current scheme when we construct the python scalar, we don't immediately set the device pointer with the value, because there might be other reasons the python code needs to use/work with that value before it goes to libcudf. We don't want to keep havi

[2020-10-20 14:03] shwina commented on #6558
Additionally, after giving it some thought, I realized that a `scalar_view` would only be useful if we are interested in constructing non-owning scalars whose underlying memory is owned by some external library. (cc: @cwharris )

[2020-10-20 16:25] galipremsagar opened #6563 "[BUG] `skiprows` parameter in `read_orc` is not slicing the dataframe correctly"
**Describe the bug**
When a value is specified to `skiprows` in `cudf.read_orc`, the values seem to be shifted by the provided number of rows but the actual dataframe seems to be having corrupted/empty data trailing to the end of it, it should ideally be sliced out.

**Steps/Code to reproduce bug**

Orc file(compressed to zip for github attachment restrictions): [temp.zip](https://github.com/rapid

[2020-10-20 16:49] davidwendt commented on #5244
This has been addressed in #6134

[2020-10-20 16:49] #5244 closed

[2020-10-20 16:53] davidwendt commented on #1262
Can this be closed?
The `CMakeLists.txt` file have been reworked in #6134

[2020-10-20 16:55] davidwendt commented on #4485
Looks like #4486 should've closed this issue.

[2020-10-20 16:55] #4485 closed

[2020-10-20 16:59] kkraus14 commented on #1262
Yes, this is stale.

[2020-10-20 16:59] #1262 closed

[2020-10-20 19:52] kkraus14 commented on #6560
The problem with straight up changing it to 2GB is if someone is using say a 4GB GPU they're going to run into problems. Can we somehow make it something like: `min(2GB, (1/8)*gpu_mem)`?

[2020-10-20 20:14] galipremsagar opened #6565 "[BUG] Data Corruption while reading a boolean column from orc file"
**Describe the bug**
When there is a boolean column in an orc file the cudf orc reader is reading wrong values into the dataframe.

**Steps/Code to reproduce bug**
Orc file(compressed to zip for github attachment reasons): [temp_bool_orc.zip](https://github.com/rapidsai/cudf/files/5424844/temp_bool_orc.zip)
Here is the same pandas dataframe in parquet file for reference: [pandas.zip](https://githu

[2020-10-20 20:23] VibhuJawa commented on #6560
As this happens in the client process, I am unsure of a clean way to query `gpu_mem`,  as the worker processes might have different memory than the client.  Maybe @quasiben  will know.

If we can make the simplifying assumption here that `gpu_mem` is the memory of the client process this should be doable.

[2020-10-20 20:31] mturk24 opened #6567 "[FEA] Adding implementation of 'step' argument to cudf RangeIndex"
**Is your feature request related to a problem? Please describe.**
I wish cudf RangeIndex to support the 'step' argument. There is a NotImplementedError (step is not yet supported) which contrasts from the Pandas implementation of RangeIndex

**Describe the solution you'd like**
An implementation of 'step' that works like Pandas RangeIndex.

**Describe alternatives you've considered**
A clear and

[2020-10-20 21:01] mturk24 commented on #6567
This would be useful, for example, in a situation where I want to call df.index.map (currently map only can be called in the Pandas version of a RangeIndex instantiation).

[2020-10-20 22:01] jlowe commented on #6480
We would love to see this for the RAPIDS plugin for Spark as well.  There are many cases where a join occurs in the query and one or more keys involved in the join do not appear in the output table.  The current cudf join APIs always manifest the key columns in the join result.  Having the gather maps join API allows us to gather only the output columns that are needed.

[2020-10-20 22:23] harrism commented on #6560
Also, it's available / free GPU mem, not total memory, right? That also depends on what RMM memory resource you are using, and not all are queryable...

[2020-10-20 22:28] harrism commented on #6558
@brandon-b-miller why does the generated Cython-C++ code from your example never assign the literal `1` as in the Cython code? Makes me think this isn't the *actual* generated code.

[2020-10-20 23:01] ntaherkhani opened #6569 "[BUG]cudf.read_csv doesn't extract all records from file"
**Describe the bug**
I am trying to read csv file using cudf.read_csv . when I am getting length of datfarme it is less than the number of records in file.
when I am reading csv file using dask.dataframe , it returns all records.

I did this test using cudf 0.14.0.

did I miss some setting in cudf.read_csv? or my cudf version is old and cudf should be updated?

**Steps/Code to reproduce bug**
Foll

[2020-10-20 23:10] brandon-b-miller commented on #6558
Apologies. It is the code cython generates, minus a bunch of reference counting machinery, and with the variable names demangled. I cut out a bunch of stuff including the assignment. I think the below example might be better.

[code]

[code]

[code]

running `python setup.py build_ext --inplace` this compiles to a 4687 line `.cpp` file. The relevant part is:

[code]

Which when you trim down, as f

[2020-10-20 23:12] harrism commented on #6569
Hi @ntaherkhani can you provide an example CSV file and a minimal reproducer (Python code)? Also, can you try a more recent version of cuDF? (0.15 has been released for a while, 0.16 is about to be released tomorrow).

[2020-10-20 23:14] harrism commented on #6558
Has anyone filed a bug against Cython for this?

[2020-10-20 23:23] brandon-b-miller commented on #6558
There's https://github.com/cython/cython/issues/1695 where the case is basically made that supporting this would basically require them to change how the scoping rules between c++ and python are woven together, so my impression is that it's a wont-fix.

[2020-10-21 00:26] harrism commented on #6558
Interesting. OK, well I think on the C++ side we feel you should go with the `scalar const*` approach. Closing.

[2020-10-21 00:26] #6558 closed

[2020-10-21 00:50] kkraus14 commented on #6560
It would be based on available, not free. Dask manages spilling as needed so you don't want to change configuration based on the amount of GPU memory available generally.

[2020-10-21 00:54] harrism commented on #6560
In my book, "available" and "free" memory are the same thing.

[2020-10-21 00:55] kkraus14 commented on #6560
Sorry, by "available" I interpreted as the configured maximum pool size (if applicable) or the total amount of GPU memory.

[2020-10-21 01:09] ShashaankV commented on #6276
Working on a selection sorter UDF for the rolling median.

[2020-10-21 01:13] galipremsagar opened #6570 "[BUG] Data Corruption while reading a orc file with int column"
**Describe the bug**
There seems to be a data corruption while reading an int column from `cudf.read_orc`.

**Steps/Code to reproduce bug**
parquet file(compressed to zip for github attachment reasons) : [temp-int32.zip](https://github.com/rapidsai/cudf/files/5412560/temp-int32.zip)

[code]

**Expected behavior**
The values should be preserved correctly.

**Environment overview (please complete th

[2020-10-21 01:46] jakirkham commented on #6276
cc @gmarkall (in case you have ideas on the Numba side of things 🙂)

[2020-10-21 03:49] ShashaankV commented on #6276
Maybe crude but this UDF seems to work for rolling median with cuDF.

[code]

[code]

[2020-10-21 04:47] ShashaankV commented on #6276
Turns out this is two times slower than running the equivalent pandas rolling median.

[2020-10-21 11:56] ntaherkhani commented on #6569
Hi @harrism  I tried through cudf 0.15 as well . I am still missing some rows.
I cannot share the data that I am using. I have 49 columns that all of them are considered as string type. I am reading csv file through hdfs path.
these are the lines of code that I am using for reading csv data:

import dask.dataframe as ddf
import dask_cudf as dcdf
import cudf

data_type={}
for col in list_of_columns

[2020-10-21 12:44] revans2 opened #6572 "[FEA] support '\n', '\r' and '\r\n' atthe same time as line delimiters for CSV parsing"
**Is your feature request related to a problem? Please describe.**
The default setting for Spark when reading CSV for line delimiters is '\r' (Carriage Return), '\n' (Line Feed), and/or '\r\n' (Carriage Return followed by Line Feed)

Currently in the Spark plugin we pre-process the CSV input data before sending it to CUDF for parsing.  The pre-processing handles splits  to match what Spark current

[2020-10-21 14:12] rjzamora commented on #6569
Ideally, a minimal reproducer is not your real data anyway - Are you able to reproduce the problem by generating a small synthetic dataset? For example...

[code]

Regarding the path issue: You should be able to pass a list of file paths to `dask_cudf.read_csv` is the glob-string approach is not working for your use case.

[2020-10-21 14:18] revans2 opened #6574 "[BUG] the java DType class has incorrect mappings for CSV parsing"
**Describe the bug**
The java code has incorrect mappings for CSV parsing. For several types.

All of the time deltas are wrong and  we indicate that we support "list" and "struct" which we do not.

At a minimum the time delta types need to be updated, but ideally we modify the code so the strings are not stored in the enum any more, but are instead stored as a mapping in the CSV reader.

[2020-10-21 15:02] rjzamora commented on #6560
NVTabular uses pynvml to get the total memory, and uses that to set `chunksize`.  We used to use rmm (understandably) dropped reliable support for this.

[2020-10-21 17:33] galipremsagar opened #6577 "[FEA] Ability to set multiple columns with a scalar value in cudf.DataFrame"
**Is your feature request related to a problem? Please describe.**
In Pandas dataframe we can set multiple columns at once by specifying them as a list. `cudf.DataFrame` currently supports doing it via a scalar, but errors when a list is given. I'd like to request a similar ability in `cudf.DataFrame` too.

[code]

**Describe alternatives you've considered**
The alternative is to loop through the

[2020-10-21 20:39] beckernick commented on #6577
I believe this may just be the scalar case, as I think we implemented this for setitem with arrays in https://github.com/rapidsai/cudf/issues/2758

[code]

[2020-10-21 20:47] pretzelpy commented on #28
Does cuDF WSL support require a special developer preview version of Windows? Or does it work with any WSL2 instance in Windows?

[2020-10-21 20:51] kkraus14 commented on #28
See here for requirements: https://docs.nvidia.com/cuda/wsl-user-guide/index.html#getting-started

[2020-10-21 22:02] magnatelee opened #6580 "[BUG] Missing stream arguments to `device_scalar` methods"
**Describe the bug**
I found several `device_scalar` method calls that don't pass the stream argument available in the scope. They will not be synchronized correctly if the passed explicit stream is non-blocking. Here is the list of mistakes I found:

https://github.com/rapidsai/cudf/blob/branch-0.17/cpp/src/bitmask/null_mask.cu#L450
https://github.com/rapidsai/cudf/blob/branch-0.17/cpp/src/copyin

[2020-10-21 22:13] dlasusa commented on #28
The relevant part from the link kkraus14 posted is:

Note:
Ensure that you install **Build version 20145 or higher.**
You can check your build version number by running `winver` via the Windows Run command.

I'd rather not run a version from Microsoft's "insider program" so based on previous Windows 10 releases:

https://docs.microsoft.com/en-us/windows/release-information/

I'm HOPING this coming