[2019-03-13 23:48] eyalroz opened #1189 "[BUG] branch-0.6 fails its HASH_TEST in Debug build type"
If you check out branch-0.6 right now, configure the build with a `CMAKE_BUILD_TYPE` of `Debug`, build and run the HASH_TEST (or `make -C $build_directory test`) - it fails.

Log excerpt:
[code]
etc. etc.

[2019-03-13 23:53] jrhemstad commented on #1189
Hmmm, well that doesn't look right. I'll check it out.

[2019-03-13 23:54] eyalroz commented on #1189
@jrhemstad : BTW, the REPLACE_TEST takes 127 sec on my system.

[2019-03-14 00:14] #1160 closed

[2019-03-14 00:29] mrocklin commented on #1181
Build process: https://gist.github.com/mrocklin/5944b605b2914b7199df745f82fff172

[2019-03-14 00:47] mrocklin commented on #1181
I've done this as cleanly as I'm able (though I haven't yet rebuilt the conda environment, perhaps something changed there?).  The log above shows all steps in case I've missed anything.  I'm running with the following environment variables

[code]

[2019-03-14 00:54] harrism commented on #1189
On my system it passes 51 of 51 tests. I do see the repetitive printing of rows and null count though.

[2019-03-14 01:34] harrism commented on #1181
@mrocklin when I run your script I get

[code]

I think it's because you are passing a GPU DataFrame to `dd.from_pandas` when it's expecting a Pandas DataFrame?

[2019-03-14 01:34] harrism commented on #1181
I agree with Devavret it would help us if you can run `<cudf-dir>/cpp/build/gtests/BINARY_TEST` since that uses Jitify which is where you are getting the error.

[2019-03-14 01:42] mrocklin commented on #1181
You probably have an old version of dask

[code]

[2019-03-14 01:51] jrhemstad commented on #1189
I can't reproduce either off commit 4ace6b78cc65af7921b6b91a467cca28eb4ba14d

[2019-03-14 01:54] harrism commented on #1189
@eyalroz please include details of your system as described in the bug template using the `print_env.sh` script.

[2019-03-14 03:07] kkraus14 commented on #1181
@mrocklin can you run the shell script and dump the output of it? This looks to be an environment issue.

[2019-03-14 03:10] kkraus14 commented on #1181
It could also be an ABI mismatch error, could you try building with:
[code]

[2019-03-14 03:29] harrism commented on #1105
The JIT binops PR is merged #892 . What is needed to fix this issue on top of that @kkraus14 ?

[2019-03-14 03:31] harrism commented on #1123
I investigated a while back when I had a mac with a CUDA GPU. But now the fact that Apple doesn't make Macs with GPUs makes me hesitant to try again, unless I can get access to an eGPU.

[2019-03-14 03:51] kkraus14 commented on #1176
Fixed in #1184

[2019-03-14 03:51] #1176 closed

[2019-03-14 05:13] felipeblazing opened #1193 "[FEA] Add persistent caching to jit compiled kernels"
**Is your feature request related to a problem? Please describe.**
I wish that we could persist the jit cache and load the jit cache to avoid the overhead of compiling kernels over and over again between application launches. We might even be able to have some compiled by defualt. For example when gathering strings we make a call to the jit to add a scalar to a column that would benefit from this.

[2019-03-14 08:21] eyalroz commented on #1189
My environment:
[code]

[2019-03-14 13:14] randerzander commented on #1049
The title of this issue is about `read_csv_strings` which will be removed in 0.6.

However, the comments suggest there may be similar parsing problem with `read_csv`.

@mjsamoht @kenhester can we either close this bug or update the title/description to reflect the issue with `read_csv`?

[2019-03-14 13:18] randerzander commented on #1187
closed by https://github.com/rapidsai/cudf/pull/1185

[2019-03-14 16:17] miguelusque opened #1195 "[FEA] UDF support on string columns"
**Is your feature request related to a problem? Please describe.**
Hi,

When trying to execute `applymap()` on a string column, it seems that it is not implemented yet.

**Describe the solution you'd like**
I think it would be very useful to be able to invoke `applymap()` on string columns.

**Describe alternatives you've considered**
None yet.

**Additional context**
Thanks!

[2019-03-14 17:21] quasiben opened #1196 "[BUG] Disable verbose output on merge"
On `merge` there is rather verobse output:

[code]

Can this be removed or disabled ?

[2019-03-14 17:35] kkraus14 commented on #1196
This is removed in the latest string branch. Apologies.

[2019-03-14 17:35] #1196 closed

[2019-03-14 18:03] quasiben commented on #1196
👍

[2019-03-14 20:38] trstovall commented on #873
@kenhester Sorry for the necromancy, but I have read from multiple sources that string values in CSVs that need to be escaped must begin and end with double quotes.  Quotations within that string are then escaped using double quotes.  So, `Some Name "San Jose, CA"` is escaped as `"Some Name ""San Jose, CA"""`.

[2019-03-14 21:22] kenhester commented on #873
Is it possible to support quoting=NONE , and just look for the delimiter when parsing?

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailto:khester@nvidia.com>

GTC 2019<https://www.nvidia.com/en-us/gtc/> |San Jose Convention Center|Workshops- March 17, 2019  |Conference- March 18-21,2019

From: trstovall <notifications@github.com>
Sent: Thursday, March 14, 2019 3:39

[2019-03-14 21:31] trstovall commented on #873
Here's a sample of the default behavior of Python's `csv` library:
[code]

[2019-03-14 21:36] mrocklin opened #1197 "[BUG] Groupby operation in groupby.__getattr__?"
I'm confused by the following code in `SeriesGroupby.__getattr__`

https://github.com/rapidsai/cudf/blob/39e2dcd0124acd7b9938409346efe2ad0d4d6b42/python/cudf/groupby/groupby.py#L29-L46

Why do we call a groupby aggregation here?

cc @kkraus14 @thomcom

[2019-03-14 21:36] trstovall commented on #873
@kenhester Sure, that's possible, but since it isn't considered default behavior, it requires an out-of-band agreement between the writer and reader.

[2019-03-14 21:37] kkraus14 commented on #1197
@thomcom I think you're better equipped to answer this than me.

[2019-03-14 21:38] kkraus14 commented on #1197
@mrocklin one thing to note, we don't actually apply a groupby on calling groupby. The groupby is actually performed at the same time as the aggregation when you call the aggregation function so this operation is inexpensive.

[2019-03-14 21:43] randerzander opened #1198 "[BUG] Passing a dict of dtypes to cudf.read_csv causes core dump"
[Pandas's read_csv method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) accepts a dict of column names and dtypes:
[code]
cudf.read_csv accepts a list of strings that must be in the same order as column names.

Description of Request:
cudf.read_csv should detect and support dtypes as either a list or a dict.

If dtype was supplied as a list, throw a warning noti

[2019-03-14 21:58] mrocklin opened #1199 "[FEA] Support level= keyword in groupby aggregations"
I would like to support multi-column groupbys in dask dataframe with cudf.

Dask dataframe currently does a workflow something like the following:

[code]

However as we know cudf doesn't keep both grouped columns in the index

[code]

So `groupby(level=[0, 1])` fails

However, maybe we extend the meaning of `level=` for cudf to include the leftmost columns?  Perhaps a diff like the following?

[c

[2019-03-14 22:01] kkraus14 commented on #1199
Instead of building more workarounds and given we need MultiIndexes elsewhere anyway I'd much rather just build a proper MultiIndex and support this properly in 0.7+.

[2019-03-14 23:25] kenhester commented on #873
The file is exported without quoted strings, but has some free text entry fields in several languages and some have single and double quotes in the field.  To facilitate data cleanup, we will use the quoting=NONE to import the data.

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailto:khester@nvidia.com>

GTC 2019<https://www.nvidia.com/en-us/gtc/> |San Jose Conventio

[2019-03-15 00:17] mrocklin commented on #1199
Also cc @quasiben , who may have been looking at this

[2019-03-15 04:51] zronaghi opened #2270 "dask_cudf.from_dask_dataframe hangs"
The snippet below hangs for nrows >= 5000000

[code]

[2019-03-15 13:53] thomcom commented on #1197
Yeah, the Series groupby in this case is an intermediate object. It stores the dataframe that will be used in the groupby, but the aggregation doesn't happen until either .agg is called or one of the aggregation shorthand functions like `min`.

Is it having unexpected behavior?

[2019-03-15 13:57] kenhester opened #1203 "Nightly build only using one gpu for E2E workflow"
**Describe the bug**
In the nightly container build, Using the E2E scripted (no notebook) with 8 GPUs and 8 parts only uses one GPU for all 8 parts.  Works as expected in the NGC Rapids container for 0.5.1 cuda 9.2 with all 8 GPUs each reading a single part.

The CUDA_VISIBLE_DEVICES in each Dask Worker is shuffled correctly with each worker having a unique first gpu assignment.  All read_csv happ

[2019-03-15 15:11] seunghwak opened #1204 "[BUG] cudf.read_csv() fails with much smaller data than pandas.read_csv() followed by cudf.from_pandas()"
**Describe the bug**
It seems like cudf.read_csv() requires much more memory than pandas.read_csv() followed by cudf.from_pandas(). The latter combination can read nearly 2.5x larger data than cudf.read_csv().

**Steps/Code to reproduce bug**
The test graph data is located in /datasets/pagerank_demo/1/Input-gigantic/edges on DGX servers (e.g. dgx07 & dgx202). part-00000 file in this directory is a

[2019-03-15 15:28] quasiben opened #1205 "[BUG] CUDA_ERROR_INVALID_VALUE"
I'm having trouble producing a small example however, in working with the mortgage data from fannie mae after filter, merging, and doing a groupby I occasionally get an error like the following:

after getting the error the cudf dataframe is corrupted and I have to restart the notebook.  I'll work on getting a script together to reproduce the error -- for now I wanted to log the error I was seeing

[2019-03-15 22:17] kkraus14 commented on #825
Fixed by #1032

[2019-03-15 22:17] #825 closed

[2019-03-15 22:18] kkraus14 commented on #1088
Fixed by #1032

[2019-03-15 22:18] #1088 closed

[2019-03-15 22:18] kkraus14 commented on #1181
Going to close this, but feel free to reopen if it resurfaces.

[2019-03-15 22:18] #1181 closed

[2019-03-15 22:23] #838 closed

[2019-03-15 22:24] jakirkham opened #1210 "[BUG] Conda recipe improvements"
Am documenting some observations and suggestions after working a little bit with the recipes in RAPIDS. There are some things that could be improved and simplified by leveraging features from conda-build 3. Also there are some build practices from `defaults` and `conda-forge` that would be good to adopt to avoid some common issues. My hope is this makes things easier to maintain in the long run. M

[2019-03-15 22:38] tgravescs opened #1212 "[BUG] csv reader requesting subset of columns uses wrong datatype"
**Describe the bug**
If you are using the csv reader and using the option to select a subset of columns (use_cols_char) and the column you select are not the first ones in the table then the reader uses the wrong data types.
For instance lets say I have 3 columns with type: int, double, int.  If I specify only the first and third column returned, it should return 2 columns int, int, but  the csv r

[2019-03-15 22:38] tgravescs commented on #1212
I will put up a pull request with a fix and unit test shortly

[2019-03-16 05:11] niviksha opened #1214 "[FEA] Add support for equivalent of Pandas `pivot_table`"
**Is your feature request related to a problem? Please describe.**
I wish cudf would support the pandas pivot_table. A typical workflow i have is where i have a time series by entity (e.g. counts of connections by cell tower binned by a time interval) like so

[code]
 I wish to turn this time series into a single row per cell_tower

[code]
..etc

**Describe the solution you'd like**
support a pivo

[2019-03-18 00:35] mrocklin commented on #49
Checking in here.  Should this be doable now that Jitify is in?

[2019-03-18 00:36] mrocklin commented on #49
At first glance it doesn't appear to be available yet.

[2019-03-18 15:16] AK-ayush commented on #1172
@beckernick I was looking at this issue and realised that pandas also does the same as cudf. here is minimal repro:
[code]
I just want to know that Are we gonna differ from pandas behaviour in this scenario?

[2019-03-18 17:12] VickiFu opened #1221 "GDFError: CUDA ERROR. cudaSuccess: no error"
When I run the demo from the official site with NVIDIA GPU Cloud Image for Deep Learning and HPC@Azure with Feb 2019 update. https://rapidsai.github.io/demos/

On the code notebooks/cuml/dbscan_demo.ipynb
X = cudf.DataFrame.from_pandas(X)

---------------------------------------------------------------------------
GDFError                                  Traceback (most recent call last)
<timed e

[2019-03-18 17:16] beckernick commented on #1172
This is interesting @AK-ayush. cc @kkraus14 for visibility.

We appear to be consistent with pandas 0.24 for numeric types, but not string type columns (examples below). From a quick glance it seems like this is due to the handling of `NaN`s. It looks like pandas does not coerce types to float64 when introducing NaNs to `object` typed columns, but does when introducing NaNs to int/float typed colu

[2019-03-18 17:43] mjsamoht opened #1222 "[FEA] GPU accelerated Parquet reader"
Add GPU accelerated Parquet reader in cuIO.

[2019-03-18 17:55] mjsamoht commented on #662
@samshipengs can you confirm whether this is still an open issue with 0.6?

[2019-03-18 19:57] mrocklin opened #1224 "[BUG] Calling sum on a boolean column returns a boolean"
[code]

[code]

I believe that this should return something lik 999999, and that we should have a method `all` and `any` which is closer to the current behavior.

[2019-03-18 23:20] datametrician opened #1226 "Driver/CUDA blocker[FEA]"
Add a feature that prevents container/conda users from running the wrong version of cuDF on the wrong/unsupported driver/CTK

[2019-03-19 00:53] j-ieong opened #1227 "[FEA] Improve CSV reader to reduce overhead of many small HtoD copies"
**Is your feature request related to a problem? Please describe.**
Compared to previous versions, the CSV reader splits the input into smaller chunks to better handle very large data files. Unfortunately, the chunks are a fixed size of 64MB and the copies may not be pipelined well, introducing some overhead compared to a single large copy + large kernel.

**Describe the solution you'd like**
- Use

[2019-03-19 01:07] j-ieong opened #1228 "[FEA] Improve CSV reader to reduce DtoH copies"
**Is your feature request related to a problem? Please describe.**
Many of the filtering features in the CSV reader currently rely on CPU logic/algorithms (ex. filtering out comment and blank lines, skipping nrows). This step runs after the row count kernel, so there is at least one DtoH and HtoD transfer.
These transfers, plus the use of the CPU, limit the potential GPU speed-up.

**Describe the

[2019-03-19 01:14] j-ieong opened #1229 "[FEA] Improve CSV reader to speed-up ignoring line terminations within quotes"
**Is your feature request related to a problem? Please describe.**
Currently, the algorithm to exclude line terminations within quotes during row/record count is done on the CPU and serialized. For a large number of rows, it is a massive bottleneck.

**Describe the solution you'd like**
Use the GPU to implement the feature:
1. During the row count phase, store the row start character alongside the

[2019-03-19 03:51] teju85 opened #1230 "[DOC] update build-from-source section of our docs for cudf"
## Report incorrect documentation

**Location of incorrect documentation**
https://github.com/rapidsai/cudf/blob/branch-0.7/CONTRIBUTING.md#script-to-build-cudf-from-source.

**Describe the problems or issues found in the documentation**
The above link still says to use `-DCMAKE_CXX11_ABI=OFF`. However, I had to turn on the ABI in order to fix the following linker error:
[code]

**Steps taken to v

[2019-03-19 07:14] alexqdh opened #1231 "cannot load library libcudf.so due to libNVStrings.so: undefined symbol"
**Describe the bug**
Install cudf from pip, and it failed when I import cudf
Following is the detail：
cudf-cuda100-0.5.1
nvstrings         0.3.0.post1
nvstrings-cuda100 0.3.0.post1
pyarrow-0.12.0
python36
cuda10

**Steps/Code to reproduce bug**
[code]

[2019-03-19 09:56] AK-ayush opened #1232 "[FEA] implement series.shift series.rank and series.transfrom"
It is very useful to have following operations in series:
* [`Series.shift()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shift.html#pandas-series-shift)
* [`Series.rank()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rank.html#pandas-series-rank)
* [`Series.transform()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Se

[2019-03-19 11:18] AK-ayush commented on #1172
I have created PR for stating the issue of adding column to str dataframe but I was trying to solve the `from_pandas()` as well. So, I made some changes to columnsops.py and it worked but when I add any column to resulting gdf, it is giving `SegmentationFault`.

[2019-03-19 12:43] miguelangel opened #1234 "[FEA] Create a single RAPIDS library"
**Is your feature request related to a problem? Please describe.**
Hi all,

I would like to share with you the following idea:

So just as we have the following imports:

why do not create a rapids library that could be imported as follows?

or

I am aware that there are pros about having each library separate, but I think there are also pros about having a single library, such us

- easier for th

[2019-03-19 14:42] samshipengs commented on #662
@mjsamoht I settled with something else last time when I run into this error (e.g. spark or multiprocessing), I will try to confirm if this is resolved soon.

[2019-03-19 15:00] AK-ayush commented on #1048
@randerzander `fillna` in `s.to_gpu_array()` accept only `None` or `'pandas'`. here is doc for the same: https://rapidsai.github.io/projects/cudf/en/latest/api.html#cudf.dataframe.Series.to_gpu_array

And in the code also, fillna is checked against only these two values `{None, 'pandas'}` https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/column.py#L492

[2019-03-19 15:10] AK-ayush commented on #1048
I guess, it would be good if this `fillna` accepts scalar value too.
It won't require much effort as I can see.

[2019-03-19 16:19] AK-ayush commented on #914
@miguelangel can you try again with cudf 0.6 or latest build? This is fixed now.
If it works, then please close the issue.

[2019-03-19 21:08] mjsamoht opened #1236 "[FEA] read_csv performance improvements"
Current code behavior:
1. Record counting is broken up into chunks by default, so we can parse large files that exceed device memory.
2. Record filtering for blank lines, skip lines, and comment char, etc. is done on the host, as the raw data isn't transferred to device yet. The idea was to avoid transferring when record filtering drastically reduced the amount needed.
3. Ignoring line termination

[2019-03-19 21:19] vuule commented on #1049
Tried wrapping the code that throws the error in a catch-all block. The terminate() call still happens.

Looking at the implementation of NVStrings::replace(), I see that on CUDA error, the function continues execution after printing the error and proceeds to deallocate CUDA buffers. The terminate() call originates in one of these calls. Because of this, I cannot change the behavior from the read_

[2019-03-19 21:35] mjsamoht commented on #1049
@kkraus14 how do we track NVStrings related issues?  Is there a special label?

[2019-03-19 21:39] miguelangel opened #1237 "[BUG] Wrong number of columns detected using cudf.read_csv on sparse csv"
**Describe the bug**
Hi,

I am reading a text file produced from a sparse matrix with blanks as column separator, where not all the rows contain the same number of columns.

When reading that file using cudf.read_csv method, it automatically detects 34 of the 38 columns the dataset has (it is very likely that the first rows do not contain 38 columns).

**Steps/Code to reproduce bug**
Please, have

[2019-03-19 21:53] mjsamoht commented on #1236
@j-ieong already filed #1227 #1228 #1229

[2019-03-19 21:53] #1236 closed

[2019-03-19 22:57] diefimov opened #1239 "Converting cuDF dataframe to DMatrix on GPU directly"
In order to train XGBoost model we should create DMatrix on CPU. This is a bottleneck of using cuDF together with XGBoost package. The current pipeline of preprocessing and training looks as follows:

**load data to GPU -> preprocess data using cuDF on GPU -> transfer data to CPU -> create DMatrix on CPU -> train XGBoost model on GPU**

Is it possible to skip transferring data to CPU for training

[2019-03-19 23:37] harrism opened #1241 "[BUG] Segfault in NVCATEGORY_TEST on CentOS / GCC 7.2"
**Describe the bug**
Discovered in nightly CentOS builds by @rlratzel : NVCATEGORY_TEST segfaults. Triaged and root caused to Thrust trying to copy device data using a cpu memcpy.

Whether this is an underlying Thrust bug or not, the fix is to add an explicit execution policy to this line: https://github.com/rapidsai/cudf/blame/branch-0.7/cpp/src/copying/gather.cu#L324

Fix is coming right away.

[2019-03-20 02:55] huangsongjue opened #1243 "[BUG] cuDF build error"
**cuDF (branch-0.7) build failed while `make -j`**

**Error Message:**

/root/cudf/cpp/src/string/nvcategory_util.cpp: In function 'NVCategory* {anonymous}::combine_column_categories(gdf_column**, int)':
/root/cudf/cpp/src/string/nvcategory_util.cpp:19:50: error: 'class NVCategory' has no member named 'merge_and_remap'
           combined_category = combined_category->merge_and_remap(

[2019-03-20 02:59] harrism commented on #1243
The problem is probably that you don't have the latest nvstrings installed. Can you please activate your conda environment and run `conda install -c nvidia/label/cuda10.0 -c rapidsai/label/cuda10.0 -c numba -c conda-forge -c defaults nvstrings=0.3 python=3.7`?

After that, remove your build directory and rebuild.

We are working on updating the documentation and conda environment configuration to

[2019-03-20 05:09] harrism commented on #1189
You have a very old nvstrings, so you must not have the latest cudf. Can you update to the latest 0.6, and nvstrings 0.3 and try again?  (not that this would be the cause, but I want to make sure we are on the same page). No repro here, but I don't have the same platform.

[2019-03-20 07:41] pradghos opened #1244 "[QST] cudF/moderngpu build issue for cuda 10.1"
**What is your question?**
`cuDF` is having submodule dependecy on `moderngpu`.
https://github.com/rapidsai/thirdparty-moderngpu/tree/c1fd31df008d79f727483e795b1ee1ce45b782ca.

However, `moderngpu` is having below deprecated symbols/PTX instruction which will eventually lead to build
failure for `cuda 10.1`.

Location : `https://github.com/rapidsai/thirdparty-moderngpu/blob/c1fd31df008d79f727483e7

[2019-03-20 08:50] eyalroz commented on #1243
Also encountered this bug just now.

@harrism : I'm manually downloaded and installed the latest nvstrings available on anaconda.org - but it's not 0.3; there is no version 0.3 there. 0.2 is the latest.

[2019-03-20 08:51] eyalroz commented on #1189
@harrism : After updating, I'm encountering bug #1243 . But I see no nvstrings 0.3 anywhere.

[2019-03-20 17:20] j-ieong commented on #1243
@eyalroz It seems that nvstrings-0.3 is under the rapidsai channel, rather than nvidia channel. I don't know why.
Additionally, the default uses CUDA9.2 so I had to manually install the CUDA10 version. https://anaconda.org/rapidsai/nvstrings

[2019-03-20 17:42] mjsamoht commented on #1204
When parsing a file we store the beginning of every row or record with an 8-byte offset.  This file has 1.2B rows so that will require 9.6GB just to store all the record offsets.  If you add the 19GB file size we're already getting close to the 32GB of memory available.

The preferred way to handle such large files is to break them up using the `byte_range` option.  Then merge the results.

[2019-03-20 17:47] mjsamoht commented on #1049
This issue needs to be moved to https://github.com/rapidsai/custrings.  I'm not sure how to do that though.

[2019-03-20 17:57] mjsamoht commented on #977
With v0.7 TOT I get the following result.  Since we now support `NVStrings` I believe everything works as expected:

[code]

@quasiben let me know if there is still an open issue to look into.  Otherwise, we can close this issue.

[2019-03-20 18:22] randerzander commented on #1239
There's a [WIP PR](https://github.com/dmlc/xgboost/pull/3997) for supporting this directly in dmlc/xgboost.

In the meantime, you can do what you described by building the [cudf-interop branch of rapidsai/xgboost]https://github.com/rapidsai/xgboost).

[2019-03-20 18:48] eyalroz commented on #1243
@j-ieong : Thanks, will check. However, CMakeLists.txt must check for the appropriate minimum version, and the conda environment should take care of actually getting the appropriate version.

[2019-03-20 19:17] eyalroz commented on #1243
@j-ieong : The nvstrings package binaries are broken - at least for CUDA 9.2 and Python 3.6:
[code]

[2019-03-20 19:18] eyalroz commented on #1243
@huangsongjue : Would you mind editing your opening comment so as to properly format the quoted text? Put it within \``` \``` marks please.

[2019-03-20 19:24] eyalroz opened #1248 "[BUG] gdf_column comparison functions may produce false negatives"
Have a look at `gdf_equal_columns()` in `cpp/tests/utilities/cudf_test_utils.cuh` and `columns_are_equal()` in `cpp/tests/table/table_tests.cu` (in branch-0.6 as of right now.)

1. Both of these compare pairs of `gdf_column`s. However, they all expect the `data` pseudo-columns to be byte-for-byte identical. However, for null elements, the `data` pseudo-column can hold any value and still be equal

[2019-03-20 20:08] harrism commented on #1189
First: I see you are still on Python 3.5. cuDF requires 3.6 or later now.

To update nvstrings:
`conda install -c nvidia/label/cuda10.0 -c rapidsai/label/cuda10.0 -c numba     -c conda-forge -c defaults nvstrings=0.3 python=3.7`

Specify either Python 3.6 or 3.7 depending no your version.

[2019-03-20 20:11] harrism commented on #1244
We aim to eliminate `moderngpu` ASAP. Thanks for the report.

[2019-03-20 20:14] VibhuJawa opened #2271 "[Bug] Sort_values failing on 500 mil rows"
## [Bug] Sort_values failing on 500 mil rows

Sort_values is failing on 500 mill rows.
This is causing errors downstream for set_index too.

## Repro Code
[code]

### Error Trace
[code]

## Nvidia - Smi dump
The code is being run on dgx-01. 7 Gpus.

[code]

[2019-03-20 20:16] harrism commented on #1243
@eyalroz cuDF requires Python 3.6 or later: https://github.com/rapidsai/cudf/tree/branch-0.6#customizing-the-build

[2019-03-20 20:23] eyalroz commented on #1243
Then why isn't CMake not failing the build configuration when we only have Python 3.5.x?

[2019-03-20 20:43] j-ieong commented on #1243
@eyalroz Did you update conda recently? I had that message when I updated conda prior to installing. I rebooted my system, tried again and that went away.

If that doesn't work, @vuule had to modify conda itself to get past it.

[2019-03-20 20:44] eyalroz commented on #1243
@j-ieong : I don't reboot my system unless it hangs or I need to update the kernel. But I'm trying a further update which @harrism suggested to me in bug #1248 , and that might work.

[2019-03-20 20:47] j-ieong commented on #1243
@eyalroz Yeah, understandable. For me, that was the fastest way to get past it after trying several things.

[2019-03-20 20:53] eyalroz commented on #1189
This solved things for me. Thanks @harrism .

[2019-03-20 20:54] eyalroz commented on #1189
... and now all the tests pass.

[2019-03-20 20:55] eyalroz commented on #1243
Ok, this solved things for me:
[code]
or replace 10.0 with 9.2 depending on your version of CUDA.

I still feel CMake should do more version checking.

[2019-03-20 21:18] eyalroz commented on #1189
Whoops. Closed too soon. The HASH_TEST still fails.

[2019-03-20 21:27] thomcom commented on #399
You can install nvstrings via https://github.com/rapidsai/custrings, now.

[2019-03-20 21:28] thomcom opened #1251 "[BUG] NVStrings doesn't install correctly in branch-0.6"
The NVStrings dependency installation currently in branch-0.6 is insufficient. Either it installs version 0.2.0 by default, or it installs NVStrings for CUDA 9.2 by default (which is fine for people running CUDA 9.2, but bad for those on CUDA 10).

This is related to #1231

[2019-03-20 21:38] harrism commented on #1243
Possibly. Maybe file an issue for that.

[2019-03-20 22:00] mrocklin opened #2272 "Make a plan for sort_values/set_index"
It would be nice to be able to use the `set_index` method to sort the dataframe by a particular column.

There are currently two implementations for this, one in dask.dataframe and one in dask-cudf which uses a batcher sorting net.  While most dask-cudf code has been removed in favor of the dask.dataframe implementations this sorting code has remained, mostly because I don't understand it fully, a

[2019-03-20 22:02] mrocklin opened #1253 "[FEA] Support dask.dataframe.utils.is_dataframe_like"
For dask-cudf we need cudf DataFrame/Series/Index objects to pass on Dask's `is_dataframe_like/is_series_like/is_index_like` functions to properly identify as partitions.

It would be useful to add tests for these in the cudf codebase.

Today, there is a slight issue in that `cudf.DataFrame.mean` doesn't exist.  It would be helpful on the dask side if this could exist.  Would a NotImplemented vers

[2019-03-20 22:03] mrocklin commented on #1253
Pointer to dask functions for convenience

https://github.com/dask/dask/blob/24bbcdbbc10931e8accad749a57658e6bb593c40/dask/dataframe/utils.py#L513-L535

[2019-03-20 22:05] mrocklin opened #2273 "Development process"
In this repository we've been using master and squashed commits somewhat uniformly over the past few months.  During the release process it looks like some automated processes have moved to branch-0.6 and branch-0.7 and merge commits.  What is our plan going forward?

cc @kkraus14 @mike-wendt @raydouglass @quasiben

[2019-03-21 00:04] flx42 opened #1256 "[BUG] cudf does not recover properly after out-of-memory in read_csv"
**Steps/Code to reproduce bug**
[code]
`Performance.txt` is the concatenation of all `Performance` files from the full Mortgage dataset. I'm not expecting the 191GB file to be parsed successfully, but on error I expect all resources to be released:
[code]
Whereas if I just load the smaller file, it works fine:
[code]

**Environment details (please complete the following information):**
Docker cont

[2019-03-21 00:06] harrism commented on #1256
I'm going to hazard a guess that the leak is somewhere in `read_csv`. Assign to @mjsamoht to triage.

[2019-03-21 02:29] beckernick opened #1257 "[FEA] Absolute value of a series"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to calculate the absolute value of a series. Currently, I can only do this with a workaround using a Boolean comparison to 0, multiplying separately, concatenating the result back into the dataframe (since we don't have setitem for conditionals). I could also do this with a UDF.

**Describe the solution you'd li

[2019-03-21 03:28] harrism commented on #1241
Fixed by #1242

[2019-03-21 03:28] #1241 closed

[2019-03-21 03:51] harrism commented on #1189
@eyalroz we haven't repro'd this and don't have a machine with the same GCC/libc set up... Would you be able to dig in a bit and see what exactly is misbehaving?

[2019-03-21 04:56] larryzhang95 opened #1258 "cudf raises Error regarding skiprows/headers when no skiprow or header specified"
The bug I'm encountering is when I'm trying to read a csv into a cuda dataframe.

My Environment is : Ubuntu 18.04, Cuda 10.0, Python 3.6 -- I downloaded the respective libraries via the pip installation on the RAPIDS.ai website, on my own desktop machine

The code i execute:

import cudf
import cuml

insurance_sample = cudf.read_csv('FL_insurance_sample.csv',delimiter=',')

Error Trace:
**ERROR:

[2019-03-21 05:30] larryzhang95 commented on #1258
I installed via conda and ran into the same issue.

I was able to create a workaround via first creating the dataframe in pandas, preprocessing the data so that the data only had numeric datatypes, and then loaded the dataframe into cudf (cudf does not support string types yet apparently).

I also exported the post processed csv (one-hot encoded categorical variables), and read it back in via cudf

[2019-03-21 06:09] huangsongjue commented on #1243
@harrism thanks, it works, and I agreed with @eyalroz cmake should do the vesion check.

[2019-03-21 07:45] pradghos commented on #1244
@harrism : Sure. Thanks for your response ! Once the PR is ready, we would like to give it a try building with `cuda 10.1`

[2019-03-21 08:09] kkraus14 commented on #1251
Fixed by #1252

[2019-03-21 08:09] #1251 closed

[2019-03-21 16:24] AK-ayush commented on #1257
@beckernick  I can take up the implementation of this feature.

[2019-03-21 21:52] cmgreen210 opened #1261 "[BUG] Series.fillna changes dtype in 0.6"
After building `branch-0.6` (3a8dc23) locally I'm seeing the following behavior when using `Series.fillna`:
[code]
When running same code in latest rapids container (`cudf==0.5`) `Out[5]` above is `dtype('int16')` as expected.

[2019-03-22 00:12] harrism commented on #1243
Note that PR #1252 should fix this, if you use the conda/envs/cudf_dev*.yml files to configure your environment.

[2019-03-22 00:12] #1243 closed

[2019-03-22 10:44] eyalroz opened #1262 "[BUG] CMake build config should check for versions of dependency libs (nvstrings etc.)"
At the moment, branch-0.6 requires NVStrings >= 0.3.0, and possibly other non-Python-related requirements; this is spelled out in the two `conda/environments/cudf_dev_cudaXX.X.yml` .

However, the build configuration (with CMake) does not fail due to these requirements not being met. It really should have a check for the required versions of Python and NVStrings, at least (possibly also additional

[2019-03-22 10:56] harrism commented on #1262
CMake is for building libcudf, which does not require Python 3.6... cuDF Python API requires it.  I'm told the main reason we moved to Python 3.6 and higher is because most of the ecosystem (e.g. Conda) is dropping Python 3.5.  In any case, I wonder if there's a better place to check the Python version than CMake. @kkraus14 any thoughts?

[2019-03-22 11:52] devavret commented on #49
@mrocklin It can be added. Bitwise operators weren't included in the first set of Jitified functions.

[2019-03-22 11:56] devavret commented on #1257
@AK-ayush It's a part of #1163. Implementation is [here](https://github.com/rapidsai/cudf/pull/1163/commits/9a22ba752424c8e48d8c8e3be62c4574494a0248)

[2019-03-22 12:20] devavret commented on #1257
@AK-ayush I added the `Series.abs` member function and its pytest from your PR.

[2019-03-22 13:56] cmgreen210 commented on #1261
Also all tests pass locally. This one fails when I added it to `test_dataframe.py`:

[code]

[2019-03-22 14:13] eyalroz commented on #1262
@harrism : Well, that's not 100% true, since _our_ `CMakeLists.txt` does use python for the installation. Now, I guess that part doesn't need Python >= 3.6, but we would still need to check for Python. If there's another opportunity to do so, great, but otherwise we could, say, prevent `install_python` from running if Python is under 3.6.

[2019-03-22 16:20] kkraus14 commented on #1262
We are working on ripping out CFFI which will move all Python dependency out of CMake.

[2019-03-22 16:21] kkraus14 commented on #1205
@quasiben Were you able to reproduce this?

[2019-03-22 16:23] kkraus14 commented on #1221
@VickiFu What CUDA version and GPU did you try this on?

[2019-03-22 16:37] kkraus14 commented on #1230
Fixed with #1252

[2019-03-22 16:37] #1230 closed

[2019-03-22 16:38] kkraus14 commented on #1261
@cmgreen210 We'll be resolving this, but if you do `.fillna(np.dtype(np.int16).type(YOUR_SCALAR))` it should work.

[2019-03-22 16:48] kkraus14 commented on #1231
This will be resolved in the 0.6 release, it's grabbing too new of a version of NVStrings currently.

[2019-03-22 16:52] #1239 closed

[2019-03-22 16:55] kkraus14 commented on #1237
@miguelangel if you could provide a small reproducer or data sample that would be helpful for triaging.

[2019-03-22 17:06] miguelangel commented on #1237
Sure! I have just sent you an email.

[2019-03-22 18:17] mjsamoht commented on #1258
@larryzhang95 would you be able to share your input file `FL_insurance_sample.csv`, or any other file that reproduces the problem?

Also note that string support was added to cuDF in the latest 0.6 release.

[2019-03-22 19:05] yidong72 opened #1263 "[FEA] need official EWM function"
**Is your feature request related to a problem? Please describe.**
EWM is a very popular method used in time series analysis, especially in the domain of FSI. cuIndicator is using EWM a lot to compute the technical indicators. It is good to have official support in the cuDF.

**Describe the solution you'd like**
DataFrame.ewm(com=None, span=None, halflife=None, alpha=None, min_periods=0, adjust=Tr

[2019-03-22 19:11] mjsamoht commented on #1256
@flx42 just curious how did you determine that there is a memory leak?

Just by code inspection I can definitely tell that in some error cases we don't free all the memory.  So we will address this.

[2019-03-22 19:36] larryzhang95 commented on #1258
The file is an open source dataset, I found a raw version of it at the following link: https://raw.githubusercontent.com/datacamp/learn-python-fundamentals/master/datasets/FL_insurance_sample.csv

I think the main issue is that there's a minimum number of columns required to import into a cudf DataFrame , at least in cudf 0.5, that are required. I'm not sure if there's an inherent reason for that.

[2019-03-22 19:39] kkraus14 commented on #1258
@larryzhang95 we are working on releasing 0.6 now so hopefully in the next few days we'll have a conda 0.6 package that you can update to with `conda update cudf=0.6*`

[2019-03-22 20:36] eyalroz commented on #1262
@kkraus14 : Ok, so I'm back to making this issue about the C++ dependencies.

[2019-03-22 20:43] atlasgurus commented on #1262
Is it why the current build fails with the errors below?  Is there a workaround?

[2019-03-22 20:54] eyalroz commented on #1262
@atlasgurus : Yes, but what you're is seeing bug #1243 . If you follow the link you'll find how to overcome it.

If this bug were resolved, you would fail at the build configuration stage, and CMake would tell you that your version of NVStrings is too low.

[2019-03-22 21:45] flx42 commented on #1256
Because it fails in this sequence:
* large file -> OOM error
* small file -> abort

Whereas this works fine:
* small file -> success

[2019-03-22 21:53] atlasgurus commented on #1243
Thank you @harrism .  I see that #1252 is already fixed in branch-0.6, so I tried it as follows and still got similar build errors.  Is there a stable branch that I can use to build it?
git checkout branch-0.6
conda env create --name cudf_dev3 --file conda/environments/cudf_dev_cuda9.2.yml
source activate cudf_dev3
cd cpp/build
cmake .. -DCMAKE_INSTALL_PREFIX=/install/path -DCMAKE_BUILD_TYPE=Debug

[2019-03-22 21:57] atlasgurus commented on #1243
I have run the command below too for goo measure

conda install -c nvidia/label/cuda9.2 -c rapidsai/label/cuda9.2 -c numba -c conda-forge -c defaults nvstrings=0.3 python=3.7

but still got the same errors as listed in this issue:
`/home/ubuntu/projects/cudf/cpp/src/string/nvcategory_util.cpp: In function ‘NVCategory* {anonymous}::combine_column_categories(gdf_column**, int)’:
/home/ubuntu/project

[2019-03-22 21:59] eyalroz commented on #1243
@atlasgurus : Did you delete your build directory, recreate it and rebuilt?

[2019-03-22 22:03] beckernick opened #1265 "[FEA] Series and DataFrame.describe"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to quickly get a sense of the distribution of my data like I would do in pandas with the `describe` method. Currently, I need to separately calculate these statistics.

We should match the pandas [describe](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.describe.html#pandas.Series.de

[2019-03-22 22:13] beckernick opened #1267 "[FEA] Series level correlation"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to calculate the correlation of one series with another. Pearson correlation is likely the most commonly used as it is the default in Pandas ([API docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.corr.html#pandas.Series.corr)).

**Describe the solution you'd like**
I'd like to be

[2019-03-22 22:22] beckernick opened #1268 "[FEA] libcuDF covariance for Series and Groupby"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to calculate the covariance matrix of my dataset. While I am interested in the covariance between two series, for many downstream uses I often actually need the entire covariance matrix rather than just the covariance of two columns. Implementing covariance in libcudf at the gdf_column level will let us creat

[2019-03-22 22:41] beckernick opened #1269 "[FEA] Series level cumulative sum"
**Is your feature request related to a problem? Please describe.**
As a user, I want to calculate the cumulative sum of a series. I'd like it to behave like the pandas `cumsum` method, which can be found [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cumsum.html#pandas.Series.cumsum).

**Describe the solution you'd like**
I'd like to be able to call `series.cumsum(

[2019-03-22 22:58] beckernick opened #1270 "[FEA] Expose libcudf column round in Python"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to be able to round a Series to a specified number of decimal places, like in [Pandas](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.round.html#pandas.Series.round).

**Describe the solution you'd like**
I'd like to call `series.round(n)` and round the values in the series to `n` decim

[2019-03-22 23:16] beckernick opened #1271 "[FEA][BACKLOG] Difference functionality"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to calculate the difference between rows in a column (most commonly with the previous row). The equivalent in the pandas API docs is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.diff.html#pandas.Series.diff) for Series and [here](https://pandas.pydata.org/pandas-docs/stable/

[2019-03-22 23:23] atlasgurus commented on #1243
@eyalroz , thank you very much for the suggestion.  It did help.  I think I am almost there.  It now fails during link step:

`/usr/bin/x86_64-linux-gnu-ld: warning: libcudart.so.9.2, needed by /home/ubuntu/projects/cudf/cpp/build/lib/libNVCategory.so, not found (try using -rpath or -rpath-link)
/home/ubuntu/projects/cudf/cpp/build/lib/libNVCategory.so: undefined reference to `cudaLaunchKernel@lib

[2019-03-22 23:26] seunghwak opened #1272 "[BUG] Inaccurate error message in join.pyx"
**Describe the bug**
In python/cudf/bindings/join.pyx
[code]
msg should be "new join api only supports left, inner, or outer" (outer is missing here).

[2019-03-22 23:37] eyalroz commented on #1243
@atlasgurus : Something is messed up with the directories in which the linker is trying to find libraries. I suggest you open a separate issue, and that you provide a full command-line of a failing link command with the `-L` flags.

[2019-03-22 23:40] beckernick opened #1273 "[FEA] Series level cumulative max"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to calculate the cumulative max over a column. The equivalent in the pandas API docs is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cummax.html#pandas.Series.cummax).

**Describe the solution you'd like**
I'd like to call `series.cummax()` and return a series of the same si

[2019-03-22 23:45] beckernick opened #1274 "[FEA] Series level cumulative min"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to calculate the cumulative minimum over a column. The equivalent in the pandas API docs is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.cummin.html#pandas.Series.cummin).

**Describe the solution you'd like**
I'd like to call series.cummin() and return a series of the same

[2019-03-23 00:14] #1117 closed

[2019-03-23 04:04] JinHai-CN opened #1277 "[FEA] Support group by data type larger than int64"
Currently, I found cudf group by data type only support which width is not larger than 64bit. Can cudf add support to float128/int128 group by feature?

[2019-03-23 07:12] manojkumardas7 commented on #441
I have cuda toolkit 10.

here are my environment entries
export PATH=/usr/local/cuda-10.0/bin${PATH:+:$PATH}}
export PATH=/usr/local/MATLAB/bin${PATH:+:$PATH}}
export CUDADIR=/usr/local/cuda-10.0
export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export LD_LIBRARY_PATH=/usr/local/lib${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export NUMBAPRO_NVVM=/usr/local/cuda-1

[2019-03-24 22:08] harrism commented on #1243
@atlasgurus Are you sure you have CUDA 9.2 installed and not CUDA 10?  It's possibly you have a version mismatch here.

[2019-03-25 05:52] harrism commented on #1224
@kkraus14 Please don't add the libcudf label without more information on triage. Seems this still needs the "needs triage" label, at least on the libcudf side...

[2019-03-25 05:57] harrism commented on #1084
@ChuckHastings the line you linked doesn't seem to match what you are talking about. Helps if you link to a specific commit hash. In any case, I believe the doxygen documentation is in types.h.

Can you check to see if it is fixed by the PR @felipeblazing linked (#1090) and let us know? Thanks!

[2019-03-25 15:00] beckernick commented on #1265
Can't assign but picking this up.

[2019-03-25 15:59] beckernick opened #1279 "[FEA] select_dtype should include an exclude keyword argument"
**Is your feature request related to a problem? Please describe.**
As a user, I expect select_dtypes to operate in the same way as pandas. Like in pandas, `DataFrame.select_dtype` should accept an `exclude=` keyword argument that is complementary to the `include=` argument. Dtypes passed to the exclude argument should be filtered out of the dataframe.

**Describe the solution you'd like**
`df.sele

[2019-03-25 17:18] beckernick opened #1280 "[BUG] Quantile results not consistent with pandas"
**Describe the bug**
As a user, I expect quantile values returned via linear interpolation to be consistent between cudf and pandas. This does not currently appear to be the case.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect quantiles from the same interpolation method to be consistent between cudf and pandas.

**Environment details (please complete the following informa

[2019-03-25 17:53] beckernick opened #1281 "[BUG] select_dtypes only selects float64s when passed the np.number dtype"
**Describe the bug**
Selecting based on the `np.number` dtype only returns float64 columns.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect selecting based on the `np.number` dtype to select all numeric data, based on the scalar hierarchy.

This is happening because of this [section](https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/dataframe.py#L2378)

[2019-03-25 18:30] seunghwak commented on #672
[code]

There are more places for memory leaks. I think we should establish a coding convention to use std:unique_ptr (or std::shared_ptr for shared ownership) for owned memory allocations and use raw pointers for observing memory locations. And we may use heap allocations only when memory allocation size can be large.

[2019-03-25 19:07] starlett3 opened #4757 "[BUG] Call to cuMemcpyHtoD results in CUDA_ERROR_INVALID_VALUE"
I'm running the notebooks/cuml/linear_regression_demo notebook.
On the line:
`X_cudf = cudf.DataFrame.from_pandas(X_train)`

I get error:

I'm running this on:
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
on a machine with four V100s
Driver Version: 410.104
CUDA Version: 10.0

I ran the Jupyter notebook inside a docker container on the machine:
`docker run --runtime=nvidia --rm -it -p 9991:8

[2019-03-25 19:13] manojkumardas7 opened #1283 "[BUG] cannot load library 'librmm.so'"
**Describe the bug**
unable to use cudf

**Steps/Code to reproduce bug**

here are my environment entries
export PATH=/usr/local/cuda-10.0/bin${PATH:+:$PATH}}
export PATH=/usr/local/MATLAB/bin${PATH:+:$PATH}}
export CUDADIR=/usr/local/cuda-10.0
export LD_LIBRARY_PATH=/usr/local/cuda-10.0/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export LD_LIBRARY_PATH=/usr/local/lib${LD_LIBRARY_PATH:+:${LD_LIBR

[2019-03-25 19:36] miguelangel opened #2274 "Rename CHANGELOG.rst to CHANGELOG.md"
Hi,

It looks like the CHANGELOG file extension is not consistent with the other RAPIDS packages.

For dask-cudf, we have CHANGELOG.**rst**. For cuDF, cuML, and cuGraph, we have CHANGELOG.**md**.

Hope it helps.

Regards,
Miguel

[2019-03-25 20:10] beckernick commented on #1265
Closing this issue in favor of the existing #623 .

[2019-03-25 20:10] #1265 closed

[2019-03-25 22:33] beckernick commented on #1232
@AK-ayush I'm going to separate these out into separate feature requests, as:

1) These can be worked on in parallel
2) Some of these capabilities are likely more important than others

When I do that, I'll close this ticket in favor of the new ones.

[2019-03-25 22:34] kkraus14 commented on #1224
@harrism The way we've been using the "? - Needs Triage" label is more of a "Needs Classification" to indicate that the team hasn't looked at and classified the issue yet.

[2019-03-25 23:36] beckernick opened #1285 "[FEA] Series level shift"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to shift my data `n` periods forward or backward. This is commonly used to create lagged variables during feature engineering. The equivalent in the pandas API doc is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.shift.html#pandas-series-shift).

Support for axis='columns' is

[2019-03-26 01:20] trxcllnt opened #1288 "[BUG] Slow creating Categorical columns from Arrow DictionaryArrays"
Validated local fix with @kkraus14:
https://github.com/rapidsai/cudf/blob/33681704b1d8034bdbff0220ccd7e2669376106c/python/cudf/dataframe/column.py#L69
should be: `new_cats = tuple(set([val for o in objs for val in o.cat()._categories]))`

**Describe the bug**
Creating Categorical columns from Arrow DictionaryArrays takes a long time:
[code]

**Steps/Code to reproduce bug**
1. Create an Arrow Dicti

[2019-03-26 01:49] #1179 closed

[2019-03-26 03:09] #1288 closed

[2019-03-26 03:34] harrism commented on #1224
That's fine, but if you have done enough to know that it's a bug in libcudf, please explain how you know that, so I know where to look. :)

[2019-03-26 03:43] kkraus14 commented on #1224
Fair point, we set the output dtype in Cython here and we incorrectly set it to the dtype of the input column 😅

[2019-03-26 07:24] AK-ayush commented on #1224
Even if we set the output dtype to any integer type(np.int8, np.int16, np.int32, np.int64) in Cython, maximum series size, is handled correctly in 127(range of int8). This is because of `type_dispachter.hpp`, this is returning the dtype is int8_t.

One solution to this is, to change the dtype of intput col in cython to int64 before calling `sum` and `sum_of_squares` reductions. Not sure this is op

[2019-03-26 07:33] AK-ayush commented on #1232
Sounds good :)

[2019-03-26 08:35] Shakeebbk opened #1290 "[DOC] correction in clone steps"
## Change directory step incorrect

https://github.com/rapidsai/cudf/blame/branch-0.7/CONTRIBUTING.md#L96

In the cloning steps, it should be `cd $CUDF_HOME` instead of `cd CUDF_HOME`

[2019-03-26 10:54] Shakeebbk commented on #1272
I will be working on it.

[2019-03-26 14:32] ChuckHastings commented on #1084
Yes, the PR #1090 corrects my documentation issue.

[2019-03-26 14:52] beckernick opened #1294 "[FEA] Series.rank"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to compute the rank of values in a column (i.e., I want to know that the value in cell X is the 5th largest/smallest and the value in cell Y is the Nth largest/smallest). The equivalent in the pandas API doc is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.rank.html#pandas-se

[2019-03-26 15:02] beckernick commented on #1232
@AK-ayush is the specific `transform` API desirable or the functionality itself.

For example, is the combination of `applymap` for Series and `apply_rows`/`apply_chunks` for DataFrames clean enough for UDFs? At the Series level, you can do the examples from `pd.Series.transform` fairly well.

[code]

[2019-03-26 15:06] XiaomingY opened #1295 "[QST]Package not available when installing with Conda"
I am trying to install cupy in a new python 3.6 conda environment. Running
_conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults cudf=0.6 python=3.6_
and there is packages NotFoundError.

With
_conda install --channel "rapidsai" cudf_
The same packages NotFoundError and the current channel are listed:
 - https://conda.anaconda.org/rapidsai/win-64
 - https://conda.anaconda.org/ra

[2019-03-26 15:15] beckernick opened #1296 "[FEA] Groupby cumulative count"
**Is your feature request related to a problem? Please describe.**
As a cuDF user, I want to assign numbers to each observation of a group reflecting its order of occurrence in the group.

The equivalent in the pandas API doc is [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.cumcount.html#pandas-core-groupby-groupby-cumcount).

**Describe the solution

[2019-03-26 15:16] revans2 opened #1297 "[BUG] csv_reader setts the col_name member of gdf_column, but never frees it"
**Describe the bug**
I noticed that the csv reader will set the `col_name` of a `gdf_column`, but there is no code anywhere in cudf that either reads that field, or more importantly frees that field.  This is a minor memory leak, but more importantly `col_name` is really unnecessary and should probably just be removed.

**Steps/Code to reproduce bug**
Just run anything with the CSV reader and you

[2019-03-26 15:16] AK-ayush commented on #1232
@beckernick I guess `applymap` on series will be enough for my use case.
Also, I'll be happy to help in any of the above features, only thing is that, I know CPU implementation but not sure how to use reduction for GPU implementation.

[2019-03-26 15:20] beckernick opened #1298 "[FEA] Groupby cumulative sum"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to get the cumulative sum of values within each group of a grouped dataframe.

**Describe the solution you'd like**
I'd like to call `df.groupby(col).cumsum()` and return a column of the same size containing the cumulative sum within each group.

**Describe alternatives you've considered**
The alternative to thi

[2019-03-26 15:37] revans2 commented on #1297
FYI, if it is ok to just remove it, I am happy to put up a pull request for it.

[2019-03-26 15:58] felipeblazing opened #1299 "[FEA] Ensure that we can get a columns libgdf dtype from python"
**Is your feature request related to a problem? Please describe.**
I wish the python side of CUDF had a representation of libcudf dtype before it gets sent over to  libcudf. If you are someone like us where you provide users interaction from the python side but may send over a message to cudf not through cython but rather over the network. So we generate ipc handles for gpu data, put the handles a

[2019-03-26 16:05] XiaomingY commented on #1295
Just realised there is no build for windows :(

[2019-03-26 21:48] beckernick commented on #1232
Sounds good. I've split these up into separate tickets (except for transform, given your comment above), and will close this issue now.

[2019-03-26 21:48] #1232 closed

[2019-03-26 22:11] miguelangel commented on #955
Fixed on 0.6 release.

[2019-03-26 22:11] #955 closed

[2019-03-26 22:19] miguelangel commented on #852
Fixed on 0.6 release. Thank you!

[2019-03-26 22:19] #852 closed

[2019-03-27 00:26] kkraus14 commented on #1295
@XiaomingY I would suggest you +1 #28 but Windows support is not on the short-term roadmap. Closing this as duplicate.

[2019-03-27 00:26] #1295 closed

[2019-03-27 00:28] kkraus14 commented on #1299
@felipeblazing there's a dictionary in `cudf.bindings.cudf_cpp.dtypes` that you can use to convert from the Pandas dtype to a libcudf dtype. If we exposed a convenience function to handle that dictionary lookup for you and return the proper enum would that suffice for your needs?

[2019-03-27 00:30] kkraus14 commented on #1297
@revans2 We actually use the names from the Python side to get the column names in the dataframe, but agreed we don't have any mechanism to free the names currently.

[2019-03-27 02:22] #1084 closed

[2019-03-27 02:24] harrism commented on #1224
@devavret is in the process of revamping how reductions work in #1005... @devavret can you look at this issue and see if it can be easily fixed as part of that PR?

[2019-03-27 02:33] harrism commented on #1224
@AK-ayush you certainly DO want to change the output column type if you want to sum a column of more than 128 True boolean values, otherwise you will just get overflow...  What does Pandas do? Unclear from docs. Numpy `sum` says:

[code]

Seems like sum reduction on a gdf_column of Booleans should choose a 32-bit integer output type by default (since the maximum column size is 32-bit and we are on

[2019-03-27 04:35] #1281 closed

[2019-03-27 04:35] kkraus14 commented on #1279
Closed by #1287

[2019-03-27 04:35] #1279 closed

[2019-03-27 05:18] #1272 closed

[2019-03-27 06:15] harrism commented on #647
@thomcom What is the dependency on libcudf here?

[2019-03-27 06:39] JinHai-CN opened #1302 "[BUG] estimated result size is not correct."
When I checked the join function code, I found following facts. I don't if it is a fault.
Code logic is as following:
Assume probe_to_build_ratio == 4, which is not large than MAX_RATIO(5)

probe_table_num_rows will be used as the sample_probe_num_rows.

But after calling compute_join_output_size function, d_size_estimate is calculated. h_size_estimate still equals *d_size_estimate * probe_to_buil

[2019-03-27 12:39] devavret opened #1303 "[BUG] Dataframe true division causes GDF_UNSUPPORTED_TYPE"
**Describe the bug**
This follows the bug reports #217 and #586 but the fix in #612 did not extend to dataframes when dataframe binary op support was added in #906. This is because dataframe binary ops skip over the per op specializations and directly call `series._binaryop`.

**Steps/Code to reproduce bug**
[code]
<details>
  <summary>Traceback:</summary>

[code]
</details>

**Expected behavior**

[2019-03-27 15:31] thomcom commented on #647
`gdf.quantile(exact=False)` calls `libgdf.gdf_quantile_exact`, which appears to be broken. `libgdf.gdf_quantile_approx` returns the expected results. Does that answer your question?

[2019-03-27 16:15] revans2 commented on #1297
@kkraus14 thanks I missed the python code

[2019-03-27 17:24] kkraus14 opened #1304 "[DISCUSSION] Better column abstraction in libcudf"
Creating an issue to make sure there's visibility, @jrhemstad has created a gist capturing some of his initial thoughts: https://gist.github.com/jrhemstad/581eb1a7b56673bad7da64dab7b5a724

[2019-03-27 18:59] eyalroz commented on #1304
An initial rejoinder to the linked-to gist: [here](https://gist.github.com/eyalroz/5bec0f4de53781c7599ad61e0c0e0d60).

It is half-finished. That is, the rejoinder-y part of it is done, but I intend to complete it with a sketch of proposal of my own regarding what `cudf::column` should be.

[2019-03-27 19:29] beckernick commented on #1085
@kkraus14, this currently has the libcudf tag. Broadly speaking, the median is the 50th quantile estimated with linear interpolation. I would vote we implement  `median` in the Python bindings as just a wrapper around `quantile` at the series (as shown below) and dataframe level (iterating through the columns).

[code]

[2019-03-27 20:35] eyalroz opened #1305 "[DOC] gdf_column doxygen should specify alignment constraints"
The doxygen comments on the fields: `size`, `data`, `valid` of `gdf_column` should specify their alignment behavior (not guaranteed to be aligned, 2-byte aligned, 4-byte aligned, whatever). The functions `gdf_column_view()`, `gdf_column_view_augmented()` should similarly specify alignment constraints on the arguments they combine into a column, in the doxygen comment.

[2019-03-27 21:11] harrism commented on #647
Yes, thanks for the pointer.

[2019-03-27 22:03] JasonAtNvidia opened #1306 "[BUG] Jetson Build"
**Describe the bug**
cuDF fails to build all on Jetson AGX

**Steps/Code to reproduce bug**
I have put the contents of the make command into bugfile.txt
error occured just by running make after successful cmake
[bugfile.txt](https://github.com/rapidsai/cudf/files/3015420/bugfile.txt)

**Expected behavior**

**Environment details (please complete the following information):**
 - Environment locatio

[2019-03-27 23:45] eyalroz commented on #1045
This discussion is also relevant to that in issue #1304 .

[2019-03-28 00:41] harrism commented on #1180
@kovaltan was this issue fixed by #1179?

[2019-03-28 02:22] nasica88 opened #1307 "[BUG] nvcc fatal : A single input file is required for a non-link phase when an outputfile is specified"
**Describe the bug**
When building from source, 'make' produces "nvcc fatal   : A single input file is required for a non-link phase when an outputfile is specified" error.

**Steps/Code to reproduce bug**

After completing cmake successfully in build directory, running 'make' produces "nvcc fatal   : A single input file is required..." error as below.

[code]

**Expected behavior**
'make' should

[2019-03-28 02:28] harrism commented on #1307
The warning about _BSD_SOURCE is fixed in RMM branch-0.7.

What cuDF branch are you building?

[2019-03-28 02:31] harrism commented on #1307
FWIW, you are using CUDA 10.1, Ubuntu 18.10, and Power8 CPU -- none of which RAPIDS tests or officially supports at this time.

[2019-03-28 02:39] harrism commented on #1307
Please pull the latest branch-0.7 of cudf, then run `git submodule update -remote` to get the latest RMM. Then please run `make VERBOSE=1` and paste the output here.

[2019-03-28 03:18] nasica88 commented on #1307
@harrism  I pulled the latest branch and did the submodule update thing.  The following is the message after I added VERBOSE=1 as you recommended.

~/files/cudf/cpp/build$ make VERBOSE=1
/home/u0017649/anaconda3/bin/cmake -H/home/u0017649/files/cudf/cpp -B/home/u0017649/files/cudf/cpp/build --check-build-system CMakeFiles/Makefile.cmake 0
/home/u0017649/anaconda3/bin/cmake -E cmake_progress_start

[2019-03-28 03:27] kovaltan commented on #1180
No, atomicCAS for int8 and int16 is not supported at #1179
As I mentioned at #1179
int8 atomicCAS(int8*, int8, int8) is theoretically not possible.
It's detailed at: https://github.com/rapidsai/cudf/issues/1179#issuecomment-472542570

Please use `atomicCAS(int32)` or `cudf::genericAtomicOperation` instead.

[2019-03-28 03:49] kovaltan commented on #1224
#1005 has output_dtype, it is possible for int8 to compute and calculate higher precision like int32 or int64 at C++ level.
Btw, I wonder what is the internal `gdf_dtype` for `(s > 1).sum()`?
`Boolean` is not defined in  `gdf_dtype`  yet.
Is it int8 internally?

[2019-03-28 04:12] harrism commented on #1180
I don't see why `int16` is not supported since CUDA has atomicCAS for `unsigned short`: https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#atomiccas

[2019-03-28 04:20] harrism commented on #1180
Also, Bob Crovella has a worked example of atomicCAS for 8-bit types here: https://stackoverflow.com/a/53380080/749748

[2019-03-28 04:25] nasica88 commented on #1307
Now that I removed all lines behind "-Werror" in CmakeLists.txt, now the make phase passes without nvcc fatal error.

~/files/cudf/cpp$ vi CMakeLists.txt
...
#set(CMAKE_CUDA_FLAGS "${CMAKE_CUDA_FLAGS} -Werror cross-execution-space-call -Wno-deprecated-declarations -Xptxas --disable-warnings")
set(CMAKE_CUDA_FLAGS "${CMAKE_CUDA_FLAGS}")
...

Still, I encountered another error concerning to somethin

[2019-03-28 04:31] kovaltan commented on #1180
I guess it's documentation fault.
Indeed, there is no API declaration for `atomicCAS(int16)` at cuda's atomic header.
And I also verified `ATOM.CAS` only supports `.U32 .S32 .U64 `

If it is ensured that other thread never writes other byte in the 32bits,  Bob Crovella's suggestion will work. Otherwise, it will fail.

For example, this can be failed.
'''
int8 *arr;
atomicCAS(&arr[0], assume, new);

[2019-03-28 05:09] harrism commented on #1180
The internal CAS loop ensures that only one thread updates the whole word (32 bits) at a time.  If thread A calls atomicCAS and gets out a value for "old" that is different than the value it thinks is there ("assumed"), then it tries again.

The key is to look at the *whole* 32-bit value at the address, not just the byte the thread is interested in. The flaw in your counterexample on #1179 is that

[2019-03-28 05:13] AK-ayush commented on #1224
Yes @kovaltan `np.bool_` is being mapped to `GDF_INT8` in cudf_cpp.pyx . And then at C++ level it is handled as `int_8t`.

@harrism  I am wondering why  this [test_sum(dtype, nelem) ](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/python/libgdf_cffi/tests/test_reductions.py#L29) from `cpp/python/libgdf_cffi/tests/test_reductions.py` is not failing with `dtype=np.int8` and `nelem>=129`.

[2019-03-28 18:32] mjsamoht commented on #977
@quasiben let me know if you still see this problem.  Otherwise, we'll go ahead and close this issue.

[2019-03-28 18:34] IceTDrinker opened #1309 "[DOC] C++ build problem missing custrings submodule/outdated includes"
**Describe the bug**
Following current C++ compile instructions
C++ build fails because of missing custrings dependency/submodule.
C++ build with custrings dependency will fail because of outdated includes.

**Describe the problems or issues found in the documentation**
Custrings is missing from requirements of cudf.

Cudf is missing the custrings submodule to compile.

Cudf includes <nvstrings/NV

[2019-03-28 19:26] mjsamoht commented on #1258
Synced to 0.7 top of tree as of 3/28/19.

[code]
The file `FL_insurance_sample.csv` is only 4MB but it takes ~10 minutes on my system before `read_csv` terminates with:

[code]

[2019-03-28 19:43] mjsamoht commented on #1258
The problem is with the file` FL_insurance_sample.csv`.  Lines are terminated with `'\r'`, whereas the default terminator is `'\n'`.

You need to specify:
`insurance_sample = cudf.read_csv('FL_insurance_sample.csv',delimiter=',',lineterminator='\r')`

[2019-03-28 19:44] mjsamoht commented on #1258
This also explains the error message seen by @larryzhang95 that the number of records is too small.  Because lines are terminated with `'\r'` the entire file is essentially one very long row.

[2019-03-28 19:47] larryzhang95 commented on #1258
That makes sense. It also makes sense when I used pandas to one-hot encode . I outputted the file using .to_csv() , and then read it via cudf. the to_csv() function in pandas defaults seperator=','; which is well handled in cudf

[2019-03-28 19:50] larryzhang95 commented on #1258
I wonder if this will be handled down the line (of course lower priority).

This is what I see being done in pandas:

sep : str, default ‘,’
Delimiter to use. If sep is None, the C engine cannot automatically detect the separator, but the Python parsing engine can, meaning the latter will be used and automatically detect the separator by Python’s builtin sniffer tool, csv.Sniffer. In addition, sep

[2019-03-28 19:50] #1258 closed

[2019-03-28 22:07] mjsamoht commented on #1258
Note that `sep` is the delimiter for separating columns, not the line terminator.  If we were to support auto detect it wouldn't help with the problem in this issue.

[2019-03-28 22:52] harrism commented on #1307
I saw two things different in your build system. One: in those two `set(CMAKE_CUDA_FLAGS` lines it should be outputting `Werror ...` but your system is dropping the -Werror!  Also, it is changing some `-DVARIABLE` to `--define-macro VARIABLE`, which `nvcc` doesn't like.

I suspect an issue with cmake on your platform.

And the basic_string thing may have something to do with the version of C++ sta

[2019-03-29 00:07] harrism commented on #49
Reopening this issue because I realized that this issue requests more than just bitwise ops. @devavret what about pow() and the unary ops that are requested? Are these already done?

[2019-03-29 00:09] harrism commented on #1307
Looking a little more closely, the `--define-macro` is fine, and supported by `nvcc`. The problem is that cmake is definitely removing `-Werror` and `-Werror,-Wall` from `CMAKE_CUDA_FLAGS`.

[2019-03-29 00:43] harrism commented on #1224
@AK-ayush not sure!

[2019-03-29 04:56] #1222 closed

[2019-03-29 06:19] pradghos opened #1312 "[QST] Unable to checkout rmm during cudf(v0.6.0) git clone"
**What is your question?**
[code]

Issue :
[code]

[2019-03-29 06:33] kovaltan commented on #1224
I think the implementation of `gen_rand` is limits the range in [-32, 32] for int8.
https://github.com/rapidsai/cudf/blob/c654c41e0d63e96c249a20c31ca32ef98a2ba93f/cpp/python/libgdf_cffi/tests/utils.py#L44-L47

[2019-03-29 06:53] kovaltan commented on #1180
After the long discussion with Mark, it seems feasible to implement `atomicCAS` for int8/16_t.
Opened a PR for this.

[2019-03-29 13:14] shwina commented on #1261
I'll look into this

[2019-03-29 14:24] cmgreen210 commented on #1261
cc @EvenOldridge

[2019-03-29 15:01] devavret commented on #1303
This is fixed by #1292 . Please close

[2019-03-29 15:51] beckernick commented on #1198
From a quick debugging on the Python side, this appears to be coming from the line
`libgdf.read_csv(csv_reader)` inside the `read_csv` in the Python bindings, which makes this a bug instead of a feature request. The `read_csv` call causes a core dump when a dictionary is passed to the dtype keyword argument:

[code]
I'm going to update the label from cuDF (Python) to libcuDF (C++/CUDA), and switch

[2019-03-29 21:00] mrocklin commented on #1253
@kkraus14 I'm about to release Dask.  Just checking but will this break things, or did versions get pinned in conda recipes?

[2019-03-29 21:01] kkraus14 commented on #1253
I don't believe so but given the current rate of change in `cudf` and `dask-cudf` I think breaking things is okay and we can guide users to proper versions if/when they run into issues or hotfix release if it becomes an issue.

[2019-03-29 21:44] mrocklin commented on #1253
OK.  I've just pushed out a release of Dask which breaks Dask-cudf.  This is now a decently high priority issue.

[2019-03-29 21:44] mrocklin commented on #1253
(at least for me)

[2019-03-29 22:10] mrocklin opened #2275 "What does the DataFrame.join method do?"
I'm confused about the `DataFrame.join` method.  It appears to be different from the join implementation in the `join_impl` module but looking briefly at the code I'm not sure what it's supposed to actually do.  Unfortunately it has a lot of non-trivial logic and not a ton of documentation.

cc @sklam , do you recall what the intent was behind this method, and how it related to the code in join_im

[2019-03-29 22:17] harrism commented on #1307
Hi @nasica88 can you put the Werror lines back in and then rerun cmake and paste the contents of ` <build_dir>/CMakeFiles/cudf.dir/flags.make` here?

[2019-03-30 05:16] Shakeebbk commented on #371
Will work on this.

[2019-03-30 06:24] Shakeebbk opened #1313 "[BUG] Issues in gdf_apply_stencil"
Found following issues in gdf_apply_stencil, stream_compaction_ops.cu while trying to address https://github.com/rapidsai/cudf/issues/371
1. remove_if not working as expected - predicate should be invert of stencil
[code]
2. bit_mask_pack_op is not implemented correct in the context of the following snippet
[code]
[code]
Reproduce:
Add the following testcase:
[code]

Possible fixes:
1. Implement *

[2019-03-30 19:29] joehoeller opened #1315 "[FEA] GPU enabled Folds (Fold-L and Fold-R)"
Fold-L/Fold-R (high order function): GPU enabled .map(), .reduce(), and .filter() functions avail to the Python API; must be composable [ f(g(x)) ] so it's underlying C++ code needs to be a functor.

FoldR Wiki:
https://en.wikipedia.org/wiki/Fold_(higher-order_function)

[2019-03-31 01:20] andrewssobral commented on #1306
I tried to compile cuDF (before compiling cuML) on my NVIDIA Jetson TX2, but it crashes.
I followed https://github.com/rapidsai/cudf/tree/master#development-setup
and tested with CXX11_ABI=ON and CXX11_ABI=OFF, but the errors are still the same.

[code]

[2019-03-31 10:16] marcojulioarg opened #1316 "[FEA] Windows 10 support"
Is there any ETA on Windows support? Love this tool and want to use it at work.

[2019-04-01 01:55] nasica88 commented on #1307
@harrism Yes, I put the Werror lines back and reran cmake.  Here's the flags.make.

u0017649@sys-97701:~/files/cudf/cpp/build/CMakeFiles/cudf.dir$ cat flags.make
# CMAKE generated file: DO NOT EDIT!
# Generated by "Unix Makefiles" Generator, CMake Version 3.12

# compile CUDA with /usr/local/cuda/bin/nvcc
# compile CXX with /usr/bin/c++
CUDA_FLAGS =  -Xcompiler -D_GLIBCXX_USE_CXX11_ABI=0 -gencode=

[2019-04-01 05:13] nasica88 commented on #1307
@harrism  Reading more closely, I see that the error message from 'make VERBOSE=1' is now a bit different.   Pls see below.

u0017649@sys-97701:~/files/cudf/cpp/build$ make VERBOSE=1
...
make[2]: Entering directory '/home/u0017649/files/cudf/cpp/build'
[  5%] Building CUDA object CMakeFiles/cudf.dir/src/comms/ipc/ipc.cu.o
/usr/local/cuda/bin/nvcc  -DARROW_METADATA_V4 -DARROW_VERSION=1210 -Dcudf_EX

[2019-04-01 06:10] nasica88 commented on #1307
@harrism  I did some googling and applied some modification from [this](https://github.com/ARM-software/armnn/commit/0c702a1c3eec34535f7ac3b5af3692b47998b18e)  as below for the error of 'catching polymorphic type' thing.

u0017649@sys-97701:~/files/cudf/cpp/build$ vi /home/u0017649/files/cudf/cpp/src/comms/ipc/ipc.cu
--        } catch ( ParseError e ) {
++     } catch (const ParseError &e ) {

Wit

[2019-04-01 08:52] harrism commented on #1307
It seems the `catch` issue is a bug in libcudf that isn't caught with other compilers. We'll get that fixed.

The other issue may be because of you set `-D_GLIBCXX_USE_CXX11_ABI=OFF` in your cmake command line: `~/files/cudf/cpp/build$ cmake .. -DCMAKE_INSTALL_PREFIX=~/anaconda3 -DCMAKE_CXX11_ABI=OFF`

Why did you set it off? Can you try leaving the default (`ON`, or unspecified)?

[2019-04-01 09:28] harrism commented on #1307
Here's a fix for the `catch` issue: https://github.com/rapidsai/cudf/pull/1317

[2019-04-01 10:14] devavret commented on #49
@harrism pow was added in #892 . Negation and inversion are part of #1163

[2019-04-01 12:16] nasica88 commented on #1307
@harrism  Thanks.  I used -DCMAKE_CXX11_ABI=OFF because the instruction guide [here](https://github.com/rapidsai/cudf/blob/branch-0.7/CONTRIBUTING.md#setting-up-your-build-environment) suggests that.

Anyway, with -DCMAKE_CXX11_ABI=OFF removed, I see that specific error disappeared.   However, now I see another error as below.

u0017649@sys-97701:~/files/cudf/cpp/build$ make VERBOSE=1
...
[  8%] B

[2019-04-01 14:33] JasonAtNvidia commented on #1306
Your issue is not with cudf itself, your issue is you need to apt-get install libcurl4-openssl-dev before building CMake, then use the command ```./bootstrap --system-curl``` to allow CMake to use the system curl.

[2019-04-01 19:14] j-ieong commented on #1307
@nasica88 Ah, looks like you're hitting Issue #1244 . If possible, could you use CUDA 10.0 instead?

FYI, moderngpu hasn't been updated for a while and in CUDA 10.1, some of the older, deprecated `__shfl_` intrinsics were removed.

[2019-04-01 19:32] j-ieong opened #1318 "[FEA] Move column/device memory wrapper utilities out of Parquet reader"
**Is your feature request related to a problem? Please describe.**
The cuDF Parquet reader uses some helper wrapper utilities for alloc/dealloc. These classes provide RAII to the current C-like structs and interact better with using exceptions. We have the CSV Reader take advantage of them.

**Describe the solution you'd like**
Move the wrapper classes out of Parquet reader and into a utils header

[2019-04-01 19:42] j-ieong opened #1320 "[BUG] Out of bounds access in IO Uncomp"
**Describe the bug**
There is a out-of-bounds array access warning when compiling `io/comp/uncomp.cpp`:

[code]

**Steps/Code to reproduce bug**
1. Enable stricter warning checks in GCC or Clang
2. Build cuDF using the build instructions

**Expected behavior**
Fix the out-of-bounds array warning.

**Environment details (please complete the following information):**
 - Environment location: Bare-me

[2019-04-01 19:44] harrism commented on #1307
#1317 is now merged. Yes, #1244 is planned for 0.7 release. But as I said at the beginning of the thread, we don't support CUDA 10.1 yet and will not in the 0.7 release.

[2019-04-01 20:40] andrewssobral commented on #1306
Hi @JasonAtNvidia ,
Thanks a lot for your remark, now I am getting the following error:
[code]
you know how to fix it?
you can find here (https://pastebin.com/raw/w542FNFy) the output of my Cmake.

[2019-04-01 20:50] JasonAtNvidia commented on #1306
You didn't build and install custrings (https://github.com/rapidsai/custrings) before building cudf.  You will also need to build Arrow from source, I'm still in the middle of trying to get that done correctly.

[2019-04-01 20:59] beckernick opened #1322 "[FEA] Support local_dict keyword in query"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to use the `query` API with dask for scaling out queries containing local
variables. Because cuDF searches up the stack to grab the variable, it's currently not passed through to dask. In order to effectively use the `query` API with dask's existing implementation, we'd want to allow local variables to be used v

[2019-04-01 21:51] miguelangel opened #1323 "[DOC] missing dropdown element with 0.6 version"
## Report incorrect documentation
Hi,

I have reached to this page: https://docs.rapids.ai/api/cudf/stable/

Then, I use the dropdown on the top right side of the page to read the 0.5 API. After that,  I cannot return to the current version (0.6) without leaving that page.

I think it is missing an element in the dropdown, which links to the latest version.

![image](https://user-images.githubuser

[2019-04-01 22:54] trxcllnt opened #1324 "[BUG] reading null bitmaps from Arrow columns throws TypeError"
**Describe the bug**
Reading null bitmaps from Arrow columns fails with:
[code]

The `mask_dtype` is `np.uint8` here:
https://github.com/rapidsai/cudf/blob/07337e151c25aa2052fc3d24829dd60b22f78a63/python/cudf/utils/utils.py#L12

But later, the null bitmap is viewed as an `int8`:

https://github.com/rapidsai/cudf/blob/07337e151c25aa2052fc3d24829dd60b22f78a63/python/cudf/utils/utils.py#L154

[2019-04-01 23:24] trxcllnt opened #1327 "[BUG] CategoricalColumn to_arrow throws writing null bitmap"
**Describe the bug**
`to_arrow()` on a CategoricalColumn with a null bitmap causes Arrow to throw an error like "creating null bitmaps from Arrow Arrays not supported yet"

These lines should be a numpy bool array, not a pa.array:
https://github.com/rapidsai/cudf/blob/07337e151c25aa2052fc3d24829dd60b22f78a63/python/cudf/dataframe/categorical.py#L175-L186

[2019-04-02 00:03] harrism commented on #1307
#1326 fixes the documentation to specify setting ABI to ON is the default (and recommended) setting.

[2019-04-02 00:23] harrism commented on #1081
Doxygen HTML is here: https://docs.rapids.ai/api/libcudf/stable/

[2019-04-02 00:23] #1081 closed

[2019-04-02 00:27] harrism commented on #1205
Ping @quasiben this is not a useful bug report. Please provide information on how to repro, or close the issue.

[2019-04-02 01:18] harrism commented on #1221
@VickiFu Could you answer @kkraus14 's question?

[2019-04-02 01:20] harrism commented on #1231
@kkraus14 is this fixed?

[2019-04-02 01:29] harrism commented on #1277
Since these are not built-in types in C++ and not natively supported on GPUs, this would be a major undertaking. Moreover, even though GCC provides an `__int128` type, it is not supported on machines with `long long` size less than 128 bits wide. AFAIK all platforms we support have 64-bit `long long` size...

[2019-04-02 01:30] harrism commented on #1305
Feel free to jump in and fix, @eyalroz

[2019-04-02 01:32] #1303 closed

[2019-04-02 01:34] trxcllnt opened #1329 "[BUG] Groupby on NaNs takes a long time to complete"
**Describe the bug**
Groupby on a column of all NaNs takes a long time to complete.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Groupby completes in a reasonable amount of time.

**Environment details (please complete the following information):**
 - Environment location: Jupyter in docker
 - Method of cuDF install: from source

[2019-04-02 01:34] harrism commented on #1283
Please run the print_env.sh from the cudf root directory and include the results here.

[2019-04-02 01:37] harrism commented on #1302
@nsakharnykh can you take a look? @JinHai-CN it would help to include links to the code you are referring to.

Thanks!

[2019-04-02 01:41] harrism commented on #1309
Please follow the bug report instructions and provide full details on your environment. What version of cudf are you using? Are you building from source? Please run the cudf/print_env.sh script and include the results.

If you have used a version of cudf before 0.6, then your environment is likely not up to date with the latest nvstrings package from anaconda. Please update your conda environment

[2019-04-02 01:43] harrism commented on #1312
I can confirm a local repro.

[2019-04-02 01:45] harrism commented on #1312
@pradghos Since the master branch is now cudf 0.6.1, you can change your clone command to this:

`git clone --recursive https://github.com/rapidsai/cudf` and it works.  Will look into the issue with specifying the branch...

[2019-04-02 04:24] harrism commented on #1315
This is a very unclear feature request. What specifically are you asking for? Fold is a very broad concept. Please provide specific details and examples of what you would like to accomplish with cuDF that you can't today.

[2019-04-02 04:32] harrism commented on #1316
Duplicate of #28 . Please add details of your use case/requirements there.

[2019-04-02 04:32] #1316 closed

[2019-04-02 04:40] harrism commented on #1323
This issue belongs on a different repo: https://github.com/rapidsai/docs

[2019-04-02 04:49] trxcllnt opened #1330 "[BUG] Series.label_encoding() treats negative values as N/A"
**Describe the bug**
`Series#label_encoding` treats negative categories as null.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Negative values should be ok.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: from source

[2019-04-02 05:36] harrism commented on #1178
Please submit a PR for things like this if you feel strongly about them. I don't think we are running into actual usability issues with column_wrapper at this point. I consider all of the above "nice to have", although in practice if they aren't used, they are just adding complexity. I'm going to close this issue for now. Please reopen it if you run into actual problems in testing or if you contri

[2019-04-02 05:36] #1178 closed

[2019-04-02 05:53] harrism opened #1332 "[DOC] cuDF doxygen HTML output is messed up"
**Location of incorrect documentation**
The documentation here: https://docs.rapids.ai/api/libcudf/stable/ is pretty useless.

**Describe the problems or issues found in the documentation**
 - The first page that comes up is the `cudf` namespace reference, which is not a useful starting point. It should start with the Public API (functions)
 - This page is a jumble of classes, functions, and mixed

[2019-04-02 07:23] IceTDrinker commented on #1309
Hello @harrism,

Thanks for your answer.
I am not alllowed to use Anaconda in my dev environment, I was able to build cudf by building custrings from source and then creating the symlink as indicated in my original issue. This allows cudf to find the proper headers, from what I understand nvstrings is now legacy and custrings is the way to go.

- Environment location: [Bare-metal]
- Linux Distro/A

[2019-04-02 08:04] trxcllnt opened #1333 "[BUG] CategoricalColumn sort_by_values has no positional argument "na_position""
**Describe the bug**
CategoricalColumn is missing the positional `na_position` argument, throws an error when called.

**Steps/Code to reproduce bug**
Sort a Categorical series.

**Expected behavior**
Doesn't throw.

[2019-04-02 09:00] miguelangel commented on #1323
Hi @harrism,

My bad. Closing now.

For reference, I have just opened this same issue in the repository you mention above.

https://github.com/rapidsai/docs/issues/6

[2019-04-02 09:00] #1323 closed

[2019-04-02 09:54] harrism commented on #1309
I see what you are saying.

We are trying to reduce submodules because we have multiple repos in the RAPIDS platform and they often depend on the same submodules. When those submodules get out of sync (due to libraries pointing at different versions, or more often due to users not knowing how to update submodules) we get even more issues filed. Anaconda may not be required, but even for C++ devs i

[2019-04-02 09:54] #1309 closed

[2019-04-02 12:37] StevenJoker opened #1336 "[BUG]filter test perfroms wrong when GDF_LESS_THAN"
**filter_ops.cu**
The comparison operations have bugs in the LESS_THAN condition, which makes it perform as same as the GREATER_THAN condition.

**Code to reproduce bug**
rapidsai/cudf/cpp/src/filter/filter_ops.cu: Line 62 &Line 72.
Both ">" should be "<".

**Expected behavior**
No mix between greater than and less than

[2019-04-02 12:52] pradghos commented on #1312
@harrism : Thanks for looking . yes. `git clone --recursive https://github.com/rapidsai/cudf` works.  Fixing the `specifying branch clone` issue would really help in case user wants to stick to specific `release tag`.

[2019-04-02 13:39] raydouglass commented on #1312
Here is a workaround:

[code]

[2019-04-02 15:38] thomcom opened #1337 "[FEA] Support equality comparison on Strings"
**Is your feature request related to a problem? Please describe.**
String binary/unary ops don't appear to be supported yet. Basic ones like `__eq__` are important for implementing string indexes, among other things.

In order to define a string index, I need a working equality operator. After implementing an equality operator for a basic unit test, I get GDF_UNSUPPORTED_DTYPE back from libgdf:

[

[2019-04-02 15:50] felipeblazing commented on #1337
https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/binary/binary_ops.cu#L256

This is the issue I am pretty certain. We need to add it to this macro. I don't know if other changes have to be made as well. It is just an int32 as far as logical ops are concerned.

[2019-04-02 15:51] felipeblazing commented on #1337
so
`#define DEF_LOGICAL_OP_NUM(F)                                                 \
gdf_error F##_generic(gdf_column *lhs, gdf_column *rhs, gdf_column *output) { \
    switch ( lhs->dtype ) {                                                   \
    case GDF_INT8:      return F##_i8(lhs, rhs, output);                      \
    case GDF_INT32:     return F##_i32(lhs, rhs, output);

[2019-04-02 15:54] lmeyerov commented on #1329
Guessing this is pretty pervasive -- real data has `nan`s, either b/c small amount (say 5%) or sparse (95%) -- so unusually high hit here hurts.

[2019-04-02 15:57] kkraus14 commented on #1329
@lmeyerov this is specifically with floats in using `NaN` as a discrete value as opposed to `null`

[2019-04-02 15:58] kkraus14 commented on #1329
@jrhemstad I imagine this has to do with hash table building and/or probing with regards to `NaN` values. What are your thoughts?

[2019-04-02 16:06] thomcom commented on #1337
I will try to implement what you're proposing here into `binary_ops.cu` and `unary_ops.cu`

[2019-04-02 16:30] thomcom commented on #1337
No luck - I made the appropriate changes in `binary_ops.cu` and still get back `GDF_UNSUPPORTED_DTYPE`. In order to verify that the error was coming from a different place, I also modified each of those clauses (there were three, one for logical, one for bitwise, and one for arithmetic) to return `GDF_C_ERROR` instead of the original error, but that didn't work either. I'll leave it to the experts

[2019-04-02 17:05] #1324 closed

[2019-04-02 17:06] #1333 closed

[2019-04-02 17:22] beckernick commented on #1322
Thanks for picking this up @AK-ayush . In a branch, I tested your PR combined with the suggested dask-cudf changes in the dask-cudf issue referenced above. This will allow us to use the query API in dask with cudf dataframes. @mrocklin , I'll make a PR for this on dask-cudf this afternoon.

[2019-04-02 17:48] eyalroz commented on #1305
@harrism : This seems like a policy decision rather than just checking the state of the code at a given time. In fact, perhaps we have some code which makes assumptions it's not allowed to. I don't mind helping to check the code for compliance with the minimum acceptable allocation.

[2019-04-02 18:22] kkraus14 commented on #1322
Fixed by #1335

[2019-04-02 18:22] #1322 closed

[2019-04-02 18:47] kkraus14 commented on #1197
Closing this as there hasn't been discussion since the initial question. Feel free to reopen if there's issues.

[2019-04-02 18:47] #1197 closed

[2019-04-02 18:59] #977 closed

[2019-04-02 19:45] thomcom commented on #1337
@felipeblazing your first impression was the right one - I'm calling the `F##_generic` function now with GDF_STRING_CATEGORY. My above issue had to do with allocating an output buffer that wasn't `bool` dtype. Will update when that's resolved anyway. We need to have a conversation about how much to put into this for strings. I may create another issue for "support all ops on Strings" and mark this

[2019-04-02 20:14] #1320 closed

[2019-04-02 20:50] randerzander commented on #1204
Also please take a look at [dask-cudf](https://github.com/rapidsai/dask-cudf/), for handling larger than GPU memory datasets.

[2019-04-02 20:57] harrism opened #1339 "[FEA] Depend on RMM via conda by default"
**Is your feature request related to a problem? Please describe.**
Today RMM is a submodule of cuDF but since it is a dependency of multiple RAPIDS libraries submodules often get out of sync leading to conflicts between libraries.

**Describe the solution you'd like**
Like nvstrings, we should depend on RMM via a conda package (added in rapidsai/rmm#70). There should be a variable to override RMM_

[2019-04-02 21:37] #1204 closed

[2019-04-02 22:08] mjsamoht commented on #848
This doesn't look like a CSV reader issue.  I'm removing the cuIO label but let me know if someone from cuIO team needs to take a look.

[2019-04-02 22:21] harrism commented on #1337
I would like @devavret involved in this issue and fix. He implemented the new binary ops functionality which I *thought* eliminated all that `F##_generic` stuff. (And if not, why not?)

I want to make sure the fix is correct.

[2019-04-03 00:01] daxiongshu opened #1340 "[BUG] csv reader of float32 shows extra digits"
**Describe the bug**
For example, csv reader of float32 sometimes shows 6 digits when the column in csv file only has 4 digits. The extra digits are mostly `00`, `01` or `99` in the end.

**Steps/Code to reproduce bug**
When reading a sample csv file as follows:
[code]
The code is as follows:
[code]

The output is as follows and the mismatch is in the last row of `var_0`.
[code]

**Expected behavi

[2019-04-03 00:13] harrism commented on #1340
"For sensitive data like finance data, the dataframe has to be exactly the same as the csv file."

It is not actually possible to store exact decimal values in floating point. Binary numbers (like float32) cannot exactly represent all decimal numbers. For example, try entering 8.6093 into the Decimal Representation box on this site: https://www.h-schmidt.net/FloatConverter/IEEE754.html

You will s

[2019-04-03 00:46] daxiongshu commented on #1340
I see. Thank you. Yeah, I tried different csv file and confirmed it is just a format thing and it is also consistent. In my opinion, maybe no action is needed.

[2019-04-03 03:38] #1330 closed

[2019-04-03 03:44] nasica88 commented on #1307
@j-ieong  I'd love to try cuda 10.0 and tried, but I cannot get it installed on my Ubuntu 18.04 ppc64le.   It refuses to be installed with the following error message.

 cuda : Depends: cuda-10-0 (>= 10.0.130) but it is not going to be installed

I'm thinking about trying Redhat 7.6 ppc64le.

[2019-04-03 04:58] harrism commented on #1307
I'm not familiar with ppc support in CUDA, but are you using conda to install CUDA? I think you need to install the CUDA toolkit (and driver) from developer.nvidia.com

[2019-04-03 05:19] #1180 closed

[2019-04-03 05:28] nasica88 commented on #1307
@harrism  Yes I did use the CUDA repo from nvidia, not conda.

[2019-04-03 05:35] harrism commented on #1307
Did you try installing the toolkit using the .run file? It's highly recommended you use that rather than trying a package manager.

[2019-04-03 08:47] AK-ayush commented on #1198
This error is coming because the case, when `names` is None and `dtypes` is a dict is not handled in `csv.py`. If you provides the columns names in `names` and provide `dtypes` as dict, it works.

I am working on it and will submit a PR asap.

[2019-04-03 11:55] pradghos opened #1341 "[QST] regarding usage of libgdf_cffi, libgdf"
**What is your question?**

Latest `cuDF` version is having dependent packages which are renamed to `libcudf` and `libcudf_cffi`. However, `import  libgdf_cffi` , `from libgdf_cffi import libgdf` are still being used.
is there any plan to change `import  libgdf_cffi` to `import  libcudf_cffi` and same for `from libgdf_cffi import libgdf` to `from libcudf_cffi import libcudf` ? Thank you !

`Locati

[2019-04-03 13:48] williamBlazing opened #1342 "[FEA] Sort-based group by with NULL support"
NOTE: the solution to this issue is already being implemented. The PR will be submitted soon

**Is your feature request related to a problem? Please describe.**
I wish cudf would have a sort based group by. Sort based group by would allow for easier implementation of specific types of aggregations (such as count distinct) and should perform faster on data that is already sorted and produce groups

[2019-04-03 14:09] nasica88 commented on #1307
@harrism  No.  For ppc64le architecture, NVIDIA does not provide run files.  However, your advice gave me an inspiration and I tried a network repo, not a local repo of CUDA 10.0, and it worked !  Now I have CUDA 10.0 on my ubuntu.

However, even with CUDA 10.0, I do encounter the error of 'identifier "__shfl_down" is undefined' as below.

[  8%] Building CUDA object CMakeFiles/cudf.dir/src/join/j

[2019-04-03 14:19] jrhemstad commented on #1341
I think this will be irrelevant after https://github.com/rapidsai/cudf/issues/599 is completed for 0.7 as CFFI will be completely removed.

[2019-04-03 14:33] pradghos commented on #1341
@jrhemstad Okay ! Thanks for the information !

[2019-04-03 14:44] jrhemstad commented on #1329
@trxcllnt does your above example produce a correct result according to Pandas semantics? i.e., does the count equal the size of the column?

Off the top of my head, I wouldn't be surprised if this didn't work at all, since `NaN != NaN`.

What I believe is happening here is the worst possible case for collisions and chaining w/ an open addressing hash table.

When we attempt to insert `NaN`s into

[2019-04-03 14:48] williamBlazing opened #1344 "[FEA] Sorted merge"
NOTE: the solution to this issue is already being implemented. The API below is the current implemented API

**Is your feature request related to a problem? Please describe.**
I need a way to take two data frames that have been already sorted and put them into a single data frame and maintain its sorted order.

**Describe the solution you'd like**

[code]
**Describe alternatives you've considered*

[2019-04-03 15:20] williamBlazing opened #1346 "[FEA] Search for multiple values within a sorted table/sequence of columns"
NOTE: the solution to this issue is already being implemented. The API below is the current implemented API

**Is your feature request related to a problem? Please describe.**
I need a way to search for indices of where in a sorted table a set of rows is or would be (upper bound or lower bound)

**Describe the solution you'd like**

[code]
**Describe alternatives you've considered**

**Additional

[2019-04-03 15:22] beckernick commented on #1172
This is resolved by #1233 . Closing.

[2019-04-03 15:22] #1172 closed

[2019-04-03 16:43] pradghos commented on #1341
@jrhemstad There are useful changes coming in `v0.7.0` . is there any tentative release date for `cudF v0.7.0` ? not sure if this is the correct forum to ask.

[2019-04-03 17:27] beckernick commented on #1048
This was resolved by #1291. Closing.

[2019-04-03 17:27] #1048 closed

[2019-04-03 18:34] randerzander commented on #484
This should be resolved in the 0.6 release container, which includes a build of [our xgboost fork with cudf-interop](https://github.com/rapidsai/xgboost) for single GPU work, and also our fork of [dask-xgboost](https://github.com/rapidsai/dask-xgboost) built to work with dask-cudf for multi-gpu support.

Closing for now. @kenhester please re-open if you try the above and it's not working for your

[2019-04-03 18:34] #484 closed

[2019-04-03 18:47] ayushdg opened #1348 "[BUG] Add column to Dataframe is slow"
**Description**
Add column to a Dataframe is slow. Works faster if the data is wrapped as a series before adding to Dataframe

**Steps/Code to reproduce bug**
[code]
[code]
vs
[code]

**Environment details:**
Environment location: Jupyter from docker (nightly image)
Cudf version: '0.6.1+1.g9ca9325'

**Additional context**

I have a feeling that creating a Cudf series thrice, one in each function c

[2019-04-03 21:39] j-ieong opened #1350 "[FEA] GPU-accelerated ORC reader"
**Is your feature request related to a problem? Please describe.**
Current `read_orc` in libcudf uses the CPU-based Pyarrow backend. There should be a GPU-optimized backend like for `read_parquet` that can accelerate data loads.

**Describe the solution you'd like**
Implement a GPU-accelerated ORC reader and expose under `read_orc` in the same fashion as in `read_parquet`. Re-use as much as libcud

[2019-04-03 22:59] #49 closed

[2019-04-03 22:59] #1110 closed

[2019-04-03 22:59] #1257 closed

[2019-04-04 00:25] trxcllnt commented on #1329
@jrhemstad not sure what pandas behavior is here, but I'd imagine this is common enough it does the right thing. I just tried running our [Malware Hypergraph notebook](https://github.com/graphistry/pygraphistry/blob/1f3e8539b6ec51412ec4f7ee7b1cd40cf1cc1308/demos/infosec_and_netops/malware-hypergraph/Malware%20Hypergraph.ipynb), and it seems NaNs with some valid values interspersed has actually loc

[2019-04-04 00:30] harrism commented on #1336
@StevenJoker can you please use a GitHub link to the exact lines? Or provide a commit hash. Without a link or hash, we might not get the right version of the file. This code is undergoing change.

[2019-04-04 00:32] harrism commented on #1341
Mid-may.

[2019-04-04 00:45] felipeblazing opened #1352 "[FEA] To and from Arrow in CPP"
**Is your feature request related to a problem? Please describe.**
Right now you can only go to and from arrow to cudf using python. We should be able to do this in cpp as well.

**Describe the solution you'd like**
To have to and from arrow methods in cpp.

**Describe alternatives you've considered**
None

**Additional context**
Users will often have arrow and those users might be consuming cudf

[2019-04-04 01:57] ironbit opened #1353 "[FEA] Slice and Split (Copying)"
**Is your feature request related to a problem? Please describe.**
For distribution requirements, it is needed to divide a whole column into multiple parts (split) and also it is needed to copy some ranges from a column (slice) into multiple output columns.

The problem arises in the copy process for the 'valid' field in the gdf_column structure. As an example, copy from the 5 index means that it

[2019-04-04 02:35] StevenJoker commented on #1336
https://github.com/rapidsai/cudf/blob/a369752366f0fd8bf73e5518bb00ec7bec2bc8bb/cpp/src/filter/filter_ops.cu#L62
and
https://github.com/rapidsai/cudf/blob/a369752366f0fd8bf73e5518bb00ec7bec2bc8bb/cpp/src/filter/filter_ops.cu#L72

[2019-04-04 03:27] harrism commented on #1336
Thanks @StevenJoker . filter_ops.cu is deleted by PR #1076 which is about to be merged. The functionality is replaced by binary operations. #892 has already been merged which implements that change. CC @devavret

[2019-04-04 03:27] #1336 closed

[2019-04-04 06:55] nasica88 commented on #1307
I retried cmake with a clean installation of CUDA 10.0.   It fails with the following message.

    /usr/local/cuda/bin/nvcc     -x cu -c /home/u0017649/files/cudf/cpp/build/CMakeFiles/CMakeTmp/main.cu -o CMakeFiles/cmTC_12e2b.dir/main.cu.o
    In file included from /usr/local/cuda/bin/../targets/ppc64le-linux/include/cuda_runtime.h:83,
                     from <command-line>:
    /usr/local/cuda

[2019-04-04 10:03] harrism commented on #1205
No answer, closing.

[2019-04-04 10:03] #1205 closed

[2019-04-04 13:10] quasiben commented on #1205
apologies for not being responsive.  If I see the issue again i'll open with a reproducible example

[2019-04-04 17:26] randerzander commented on #1078
It sounds like we've settled on:

1. `import cudf`
2. It's fine to use `df` as DataFrame variable names.
3. When using both pandas and cudf DataFrames in related examples, distinguishing type with `pdf` and `gdf` is a good idea.

I'd like to eventually add these suggestions to dev docs/wiki pages.

Any other comments or suggestions?

[2019-04-04 17:38] kkraus14 commented on #1078
@randerzander I 110% agree with @mrocklin that we should avoid:
[code]
Because it becomes completely ambiguous.

[2019-04-04 18:21] #1212 closed

[2019-04-04 18:35] pradghos commented on #1341
@harrism Thanks for the information !

[2019-04-04 19:16] thomcom commented on #1078
Is it really that ambiguous? How often do you think we should expect to be using pandas objects and cudf objects intermixed in our own library code?

How do you feel about using `from cudf import DataFrame` as a local import to avoid circular dependencies?

[2019-04-04 20:22] harrism commented on #1307
Tip: put long output results in markdown triple-backquote blocks. Suspect you don't have the latest nvstrings.

[2019-04-04 21:24] mrocklin opened #1355 "[FEA] Add DataFrame._get_numeric_data method"
Many operations work on only numeric columns.  Consider for example `std` on DataFrame objects with both numeric and string columns.  This is handled in Pandas with the `_get_numeric_data` method.  This would help improve functionality within dask-cudf when we have mixed types.

[2019-04-05 04:29] harrism opened #1357 "[BUG] Device atomics missing atomicOr and atomicAnd"
**Describe the bug**
Recently merged PR #1194 added overloads for most CUDA device atomics for cuDF data types. But atomicOr and atomicAnd were missed -- these are important for valid bit mask manipulation in kernels.

We should add these.

Also, I believe most of the atomics added missed unsigned data types. E.g. `uint8_t` (the underlying type of `gdf_valid_type`), `uint16_t`, etc.

Note that I d

[2019-04-05 04:44] kovaltan commented on #1357
Shall I also add `atomicXor` ?

[2019-04-05 05:08] trxcllnt opened #1358 "[BUG] Dockerfile in branch-0.7 doesn't build"
I was attempting to build the Dockerfile in the project root so I could run the test suites, but encountered some issues.

I started by building this way:
[code]

Then hit the first problem: `apt install tzdata` blocks install on configuring tzdata:
[code]

Solution:
Define `ENV DEBIAN_FRONTEND=noninteractive` before the apt install process.

Then I hit this error, because `cudf_dev.yml` has been

[2019-04-05 08:10] kovaltan commented on #1224
@AK-ayush
PL #1005 (reduction, scan) is ready for review.
In the PL, I've add `test_sum_boolean` test case and verified it worked.
Is this enough for this issue?

def test_sum_boolean():
    s = Series(np.arange(100000))
    got = (s > 1).sum(dtype=np.int32)
    expect = 99998
    print('expect:', expect)
    print('got:', got)
    assert expect == got

https://github.com/rapidsai/cudf/blob/568cb9

[2019-04-05 14:25] JasonAtNvidia opened #1360 "Invalid Device Ordinal on Jetson"
**Describe the bug**
specific error returned from specific function that is blocking the success of `make test` after building on AGX.

Error output from ./HASH_MAP_TEST
'''
ERROR: CUDA RT call "cudaMemPrefetchAsync(m_hashtbl_values, m_hashtbl_size*sizeof(value_type), dev_id, 0)" in line 88 of file /home/nvidia/Documents/cudf/cpp/src/hash/concurrent_unordered_map.cuh failed with invalid device ord

[2019-04-05 17:55] pboynton opened #1361 "[FEA] Add forward and backward fill options to DataFrame.fillna"
It would be nice to have forward fill and backward fill options within the DataFrame.fillna method to use in time series applications. The "method" argument is already implemented in the API currently.

[code]

This issue is somewhat of a continuation of #1106 .

[2019-04-05 18:51] j-ieong opened #1362 "[FEA] Improve Parquet reader performance on small datasets"
**Is your feature request related to a problem? Please describe.**
The current GPU-based Parquet reader is more optimized for "big data"; the reader extracts parallelism from many columns and/or column chunk pages. This is not always be possible with smaller datasets resulting in only a fraction of the GPU is utilized.

**Describe the solution you'd like**
The reader should implement some strategi

[2019-04-05 19:25] randerzander commented on #1078
I think @kkraus14 meant in example and notebook code, where it is certainly common to mix cudf and Pandas code.

[2019-04-08 08:39] nasica88 commented on #1307
After all, I ended up with the following error, which is quite similar to issue #1252 .   However, I find my branch already has the fix.  I guess somebody has to update the conda channel for ppc64le, too.

I also find IBM has implemented RAPIDS in its own PowerAI toolkit, which is provided in its own conda channel.

u0017649@sys-97701:~/files/cudf/cpp/build$ make -j2
...
[ 41%] Linking CUDA execut

[2019-04-08 14:55] #1261 closed

[2019-04-08 15:27] kkraus14 commented on #1361
@harrism added the libcudf label because I'll imagine we want to implement this functionality / have an API for accomplishing this from libcudf as well.

[2019-04-08 15:32] kkraus14 commented on #1358
cc @randerzander can you tackle this?

[2019-04-08 15:42] kkraus14 commented on #1307
@nasica88 this looks like you need to pull a nightly version of NVStrings instead of the current release if you're building 0.7 from source. Could you try that and post back with any issues?

[2019-04-08 15:43] kkraus14 commented on #1298
@harrism @jrhemstad Since this is specifically for the groupby I imagine this would require a special implementation for the hash based groupby.

[2019-04-08 15:52] kkraus14 commented on #1285
@harrism Added a libcudf label since ideally this functionality would be implemented at the libcudf level, but this would be easy enough to create a numba kernel to handle if you'd rather us go that route.

[2019-04-08 16:17] kkraus14 commented on #1280
Need to check if `_gdf.quantile` is returning results consistent with the above or if there's some bad typecasting happening within cuDF. If the former, this is a libcudf issue.

[2019-04-08 16:17] kkraus14 commented on #1280
@harrism leaving both labels until it's further triaged.

[2019-04-08 16:23] kkraus14 commented on #1283
@manojkumardas7 is there any update from your side on this issue? Dumping the environment would greatly help us to solve this issue.

[2019-04-08 16:35] beckernick commented on #1280
I'm not sure if it's just typecasting. Currently triaging a dask-cudf querying failure and the linear interpolation results don’t seem to exclusively show incorrect typecasting behavior, but still differ:

[code]

[2019-04-08 16:46] bsuryadevara opened #1364 "[FEA] Improve read_csv exception handling"
**Is your feature request related to a problem? Please describe.**
Getting below error while reading data from csv file, when header column count is greater than value position count of csv.

`nvs-idx: computing sizes: cudaErrorIllegalAddress(77):an illegal memory access was encountered
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  rmm_allocator::dealloca

[2019-04-08 16:47] kkraus14 commented on #1364
@bsuryadevara do you happen to have a minimal reproducer of the issue?

[2019-04-08 17:30] bsuryadevara commented on #1364
@kkraus14 thank you for the quick response. Here is the reproduced issue.
[code]
[output_cols_superset.txt](https://github.com/rapidsai/cudf/files/3055553/output_cols_superset.txt)

[2019-04-08 19:09] jrhemstad opened #1365 "[FEA] Add segmented scan feature"
**Is your feature request related to a problem? Please describe.**
I wish libcudf would provide a _segmented_ scan feature in addition to the normal scan operation.

**Describe the solution you'd like**
libcudf should add a `cudf::segmented_scan` API that performs a segmented scan operation.

**Additional context**
This would be a pretty straightforward application of `thrust::scan_by_key` https:/

[2019-04-08 19:09] jrhemstad commented on #1298
This isn't possible with a hash-based groupby.

To implement this feature at the Python level, I'd do two things:
1. [Groupby w/o agg ](https://github.com/rapidsai/cudf/pull/982) to group equal keys together and find each unique groups offset
2. [Segmented scan](https://thrust.github.io/doc/group__segmentedprefixsums.html) with contiguous unique keys for each group. A segmented scan feature doesn'

[2019-04-08 19:51] #1253 closed

[2019-04-08 20:03] eyalroz opened #1367 "[FEA] Need a general, testing-framework-aware column comparison for testing"
Most libcudf tests need to compare columns: Expected vs Actual. Some do this using the `gdf_equal_columns` template in `cpp/tests/utilities/cudf_test_utils.cuh`. Some tests have idiosyncratic functions which copy data from the device and make it accessible for comparison in std::vector's; and some, especially more recently, use the `cudf::test::column_wrapper` abstraction, with its `operator==`. W

[2019-04-08 20:14] eyalroz opened #1368 "[BUG] set_null_count() doesn't check for nullptr's enough"
In `utilities/cudf_utilities.h` we have the `set_null_count()`. It:

1. Doesn't make sure the `col` pointer is non-null before dereferencing it.
2. Calls `gdf_count_nonzero_mask()` even if `col->valid` is `nullptr`

As for (1.) - we should at least add an `assert()` there.
As for (2.) - **edit:** this is fine, but as @jrhemstad suggests, the Doxygen for gdf_count_nonzero_mask() should be fixed to

[2019-04-08 20:23] jrhemstad commented on #1368
This isn't correct. However, I do see that the Doxygen between what is in `functions.h` and `valid_ops.cu` is out of sync. What is is `valid_ops.cu` is more up to date and notes that if the input mask is `nullptr`, that it just returns a count equal `num_rows`.

https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/bitmask/valid_ops.cu#L119

[2019-04-08 20:32] eyalroz commented on #1368
Ok, and will change my PR accordingly.

[2019-04-08 20:56] jrhemstad commented on #1368
That's separate from the original point you made, but it is a very good point. It definitely should initialize `*count` to 0.

[2019-04-08 20:59] eyalroz opened #1369 "[FEA] Missing error-handling/execution-control macros for gdf_error values"
In our `cpp/src/utilities/error_utils.hpp` we have two kinds of macros:

* `GDF_REQUIRE()` - which expects a boolean `true` value
* `RMM_TRY` and `CUDA_TRY` - which expect success values returned by various calls

both return some error if the condition was not met. But - what about libcudf functions? Why can't we `_TRY` them? We should have a `GDF_TRY()` macro which does that. * **edit**: Followi

[2019-04-08 21:00] harrism commented on #1361
@kkraus14 Perhaps this should be in 0.8 along with dropna #911 ?

[2019-04-08 21:04] eyalroz opened #1370 "[BUG] gdf_count_nonzero_mask() fails when num_rows is 0"
Have a look at the implementation of [`gdf_count_nonzero_mask()` on branch-0.7](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/bitmask/valid_ops.cu#L129). If there are "no rows", it immediately returns, even though it's supposed to set `*count` to 0 (see its Doxygen).

[2019-04-08 21:05] eyalroz commented on #1370
@jrhemstad : Created a separate issue for this, well, issue.

[2019-04-08 21:06] harrism commented on #1365
Is this needed externally to libcudf? If not, it can be done internally with thrust / cub.

[2019-04-08 21:19] eyalroz opened #1371 "[BUG] allocation size calculations etc. may overflow"
In several places in our code, and perhaps most importantly in the functions we use to calculate sizes for allocations, we do something like the following:
[code]
or
[code]
the former is supposed to a division of x by y, rounding up, and the latter - just rounding up to a multiple of y. These calculations run the risk of **overflow** - and this is especially a problem considering the small type we

[2019-04-08 21:26] jrhemstad commented on #1365
Yeah, it's needed as a public-facing API like `cudf::segmented_scan` such that you could do something like I described here: https://github.com/rapidsai/cudf/issues/1298#issuecomment-480966255

[2019-04-08 21:32] eyalroz opened #1372 "[FEA] Use a RAII wrapper for streams in outer API function implementations"
Quite a few implementations of our cuDF API functions have the following pattern in their code:
[code]
... and that's assuming errors are actually checked and the stream properly destroyed...

instead, we should have a RAII gadget that will simplify this to merely:
[code]
3 less lines - but absolutely no stream handle leaks!

[2019-04-08 23:04] harrism commented on #1365
I don't understand why you can't just call `thrust::scan_by_key` inside of the groupby `cumsum`.  Or do you need to segmented scan multiple columns and want to abstract it for that reason?  It's still not clear to me why this needs to add to our public API.

[2019-04-08 23:51] manojkumardas7 commented on #1283
@harrism and @kkraus14, sorry guys, been really caught up with my daily job. I have installed cudf using the pypi repository, if that is something that also helps. Below is the run of the print_env.sh, I shall try to be prompt from now, possible delay due to difference in time zone.

**git***
commit c7ad586cc2ccbb219e0e0c1672c698f43d691325 (HEAD -> branch-0.7, origin/branch-0.7, origin/HEAD)
Merge

[2019-04-09 00:27] harrism commented on #1283
What was your `git clone` command? Did you use the `-recurse-submodules` option? I'm wondering if you have the RMM submodule and if it is building properly.

Can you do a clean clone and build and paste the entire output?

[2019-04-09 00:40] manojkumardas7 commented on #1283
@harrism, I have used the pypi repository for the cudf installation. Which means I have not done the build from the repository. I have tried doing the build in the past and it has not gone so well, but I am happy to try again. Can you also let me know which branch would you want me  to try out.

[2019-04-09 01:25] nasica88 commented on #1307
@kkraus14  Are you referring to [this](https://anaconda.org/rapidsai-nightly) when you say NVStrings nightly version ?   I tried that but it doesn't seem to be working for ppc64le architecture.  Yes, I am building 0.7 from source.

u0017649@sys-97701:~/files/custrings$ conda install -c rapidsai-nightly/label/cuda10.0 nvstrings
Solving environment: failed

PackagesNotFoundError: The following packa

[2019-04-09 01:26] kkraus14 commented on #1307
We don't currently publish ppc64le packages unfortunately. You'll have to build nvstrings from source as well.

[2019-04-09 01:30] kkraus14 commented on #1283
@manojkumardas7 It looks like you're trying to run this on a `Kepler` architecture card as well as Python 2.7. We dropped support for Python 2.7 a few months back, so I'd recommend upgrading to Python 3, and as far as I'm aware we don't support the Kepler architecture.

@harrism anything to add about the architecture?

[2019-04-09 02:36] AK-ayush commented on #1224
@kovaltan Yes, this will definitely fix this issue. I just want to add one thing, isn't it good if we fix the return type to `int32` when calling the `sum` and `sum_of_squares()` on `boolean series`? and similarly `float32` when calling the `mean()` on `boolean series`? It will be similar to pandas behaviour.

[2019-04-09 03:43] kovaltan commented on #1224
@AK-ayush

It is feasible, but it seems that the behaviors of `sum` are different at pandas and numpy.
pandas does not mention the precision. I assume that int64_t is used for integers, and float664 is used for floats.

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html

numpy mentions in the doc that same presicion is used for output and option dtype can change i

[2019-04-09 04:08] harrism commented on #1244
ModernGPU is now removed from libcudf.

[2019-04-09 04:08] #1244 closed

[2019-04-09 04:18] #1318 closed

[2019-04-09 05:23] harrism commented on #1283
Ah, sorry I thought this was a build-from-source issue. @kkraus14 you are correct, we can't support Kepler: no unified memory and insufficient atomics.

[2019-04-09 05:27] harrism commented on #1224
I think that the numpy approach of scaling up to platform integer size will lead to the least amount of surprise (and overflow) among users. Do you agree @kkraus14 ?

[2019-04-09 05:29] #1357 closed

[2019-04-09 05:39] #1198 closed

[2019-04-09 08:56] eyalroz opened #1373 "[BUG] Tidy up bit_util.cuh, `bit_mask.h` and `bit_mask.cuh`"
`cpp/src/utilities/bit_util.cuh` is kind of messy right now:

* It has types and constants we don't use (`ValidType`, `ValidSize`) - and they don't even correspond to what we're actually doing
* It has code we don't use, like `gdf_valid_to_str()`. Not that that's unusable - but that's test-related code (which, in fact, exists under `cpp/tests`)
* It uses a lot of magic numbers with inherent assump

[2019-04-09 09:02] kovaltan commented on #647
Reproduced the issue at c++ test case, will try to fix.

[2019-04-09 12:13] kovaltan commented on #647
The implementation of `gdf_quantile_exact` looks wrong, the result is different from Pandas, I will also fix it.
[code]

Below is the exact value given in test case at exact=True.
https://github.com/rapidsai/cudf/blob/3015d8ee77b7fc5b7e1085883e07d2fe33c9ee2c/python/cudf/tests/test_stats.py#L14-L21

https://github.com/rapidsai/cudf/blob/3015d8ee77b7fc5b7e1085883e07d2fe33c9ee2c/python/cudf/tests/tes

[2019-04-09 14:08] beckernick commented on #647
@kovaltan if you fix that for this, it will resolve #1280 also.

[2019-04-09 14:13] jrhemstad commented on #1365
It _could_ be internal, but I don't see any reason to _not_ make it external.

I can't predict what future need there may be for it to be external, but it's a useful function to have and easy to make into an external API. So why not do so?

Furthermore, I don't like the idea of adding `cumsum` as an option for the `libcudf` groupby. As we continue to add more complex groupby aggregations, maintain

[2019-04-09 14:29] beckernick opened #1375 "[BUG] StringMethods __getattr__ returns nvstrings method return type objects rather than Series"
**Describe the bug**
Calling `str.slice` or `str.upper`, 'str.endswith' or one of the various non-explicitly implemented nvstrings methods returns an object with return type dictated by the nvstrings method rather than a Series.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect this to return the nvstrings object wrapped in the Series.

**Environment details (please complete

[2019-04-09 15:18] jrhemstad opened #1377 "[FEA] genericAtomicOperation should be specialized when possible"
**Is your feature request related to a problem? Please describe.**
Currently, [`cudf::genericAtomicOperation`](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/utilities/device_atomics.cuh#L306) will always map to an `atomicCAS` device atomic operation.

However, for many operators, it would be more performant to use a more specialized atomic. For example, with the `DeviceMax` operator, I

[2019-04-09 15:26] #1377 closed, assigned to kovaltan

[2019-04-09 15:42] pradghos opened #1378 "Build failure - error: 'col_dtype' may be used uninitialized"
Observed build failure while building latest `branch-0.7` -

[code]
Solution :
[code]

[2019-04-09 15:50] mike-wendt commented on #806
@MasoodK we have CentOS containers released and @rlratzel was able to get this to work in his build scripts that are posted here github.com/rapidsai/build

Are you still having issues or can we close this issue?

[2019-04-09 15:58] jrhemstad commented on #1372
Makes sense to me. Ultimately we'll want to move away from functions creating/destroying their own streams and instead providing a pool of available streams. But this is a good intermediary.

[2019-04-09 16:01] jrhemstad commented on #1371
Makes sense to me. I'd support helper functions for doing these computations in a safer way.

[2019-04-09 16:05] jrhemstad commented on #1369
With the introduction of `CUDF_EXPECTS`, the `gdf_error` codes are effectively deprecated and will be removed from functions as they are updated to a C++ API.

In time, I believe the `gdf_error` codes and `GDF_REQUIRE` macro will be removed entirely.

[2019-04-09 16:07] jrhemstad commented on #1368
Makes sense to me. I'd welcome a PR that updates the documentation and provides additional error checking.

[2019-04-09 16:11] jrhemstad commented on #1367
Seeing as though `column_wrapper` is only for use in GTest code anyways, I'd support adding `EXPECT_*` GTest macros inside of the `operator==` function.

[2019-04-09 16:17] jrhemstad commented on #1373
Agreed. `bit_util.cuh` is problematic and any needed functionality should be move elsewhere.

[2019-04-09 16:25] jrhemstad commented on #1101
With the introduction of https://github.com/rapidsai/cudf/pull/1100, the consensus is that we are going to move to using exceptions via macros like `CUDF_EXPECTS` and `CUDA_TRY`.

We can refine our approach and usage of exceptions over time, but I'm going to close this issue as we're already down the path of using exceptions due to the convenience of Cython automatically converting C++ exceptions

[2019-04-09 16:25] #1101 closed

[2019-04-09 16:30] jrhemstad commented on #343
Fixed by https://github.com/rapidsai/cudf/pull/1153

[2019-04-09 16:30] #343 closed

[2019-04-09 16:30] jrhemstad commented on #386
Duplicate with https://github.com/rapidsai/cudf/issues/544. Closing this as 544 is more detailed.

[2019-04-09 16:30] #386 closed

[2019-04-09 16:36] jrhemstad commented on #1027
Plenty of internal discussion has concluded that the focus for the foreseeable future will be on developing a pure C++ API and updating the internals accordingly.

If or when we need a C API, we can create a new issue.

[2019-04-09 16:36] #1027 closed

[2019-04-09 16:37] jrhemstad commented on #1064
@thomcom @quasiben is this issue resolved?

[2019-04-09 16:42] jrhemstad commented on #1273
Note that on the C++ side, this will be possible with https://github.com/rapidsai/cudf/pull/1005

[2019-04-09 16:43] jrhemstad commented on #1274
Necessary C++ functionality is added in https://github.com/rapidsai/cudf/pull/1005

[2019-04-09 16:43] jrhemstad commented on #1269
Necessary C++ functionality added in https://github.com/rapidsai/cudf/pull/1005

[2019-04-09 16:45] jrhemstad commented on #1277
This isn't currently even possible on a GPU as it would require atomic support larger than 8B.

[2019-04-09 16:54] jrhemstad commented on #1302
Aha, good find @JinHai-CN!

You are correct, the current `estimate_join_output_size` function will return an output size much larger than necessary for some cases.

The offending line is here: https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/join/join_compute_api.h#L149

If the `probe_to_build_ratio <= MAX_RATIO`, then we should not be multiplying `*d_size_estimate`  by `probe_to_build_rat

[2019-04-09 18:09] beckernick commented on #1375
With the following printing additions to the __getattr__ in StringMethods, we see the following output:

[code]

[code]

So, when the instance checking occurs, the wrapper is not yet an instance of nvstrings. This is causing the observed behavior.

[2019-04-09 18:48] j-ieong commented on #1378
@mjsamoht to close this issue, as PR #1379 was merged.

[2019-04-09 18:56] eyalroz commented on #1367
@jrhemstad : I would be against that, for the following reasons:

1. Inconsistent with the behavior of things which aren't columns (including, say, gdf_scalar)
2. Inconsistent with the behavior of `gdf_column` (for which, in some cases, comparison is also relevant)
3. Breaks the element of least surprise. It's surprising for `cola == colb` to print things.
4. Inconsistent with the pattern of using

[2019-04-09 19:05] #1378 closed

[2019-04-09 19:10] eyalroz commented on #1101
@jrhemstad : But having these macros doesn't mean much, except that we _can_ throw exceptions. It doesn't mean that we _do_ throw them instead of returning error codes. So, before you close the issue - is it a consensus that we replace all/most functions of the form:
[code]
with
[code]
?

[2019-04-09 19:23] eyalroz commented on #1369
Well, there's still code that gets written that uses `GDF_REQUIRE` and deals with other code that returns gdf_error. So, the first convenience macro still makes sense for now - and will go away along with `GDF_REQUIRE`. I only suggested this since I found myself using it...

But the second part makes sense both now and later on, since it has nothing to do with the transition to exceptions.

[2019-04-09 19:37] jrhemstad commented on #1101
gdf_error some_function(type1_t in1, type2_t* out_param)
with

type2_t some_function(type1_t in1) noexcept(false)
?

This is style question orthogonal to the discussion of error/exception reporting and is better suited for this issue: https://github.com/rapidsai/cudf/issues/479

Personally, I do prefer the style you suggested of returning outputs rather than using output parameters and would advoc

[2019-04-09 19:50] randyzwitch opened #1380 "[BUG] Int8 not supported in GPUArrowReader"
**Describe the bug**
For the OmniSci `select_ipc_gpu` method in pymapd, we use Arrow to return a buffer and use `GpuArrowReader` from cudf to build a GPU dataframe. Currently, having an `int8` column returns a `NotImplemented` error when trying to convert the Arrow buffer to a cudf.

I'm fairly certain the issue is here, and that adding `'INT8'` to the tuple on line 46 will fix the problem:
https:

[2019-04-09 19:54] randyzwitch commented on #1380
I have confirmed that adding `INT8` to the tuple on line 46 fixes the issue. I'm willing to submit a PR, but need some guidance how to test this, since setting up OmniSci to do the test doesn't make sense.

[2019-04-09 20:28] eyalroz commented on #1101
It's not orthogonal - it's exactly what this issue asks: "How shall we report errors?" - with one option being through exceptions, and another being through the return value. This is not a question of style, it's a question of substance. Also, as long a a gdf_error is returned, it must also _always_ be checked. If we keep returning `gdf_error`'s _and_ throw exceptions, we'll have to check errors i

[2019-04-09 20:36] kkraus14 commented on #1380
@randyzwitch The curent tests are in `python/cudf/tests/test_gpu_arrow_parser.py` which should serve as a guide as to how to extend to test for `int8`.

[2019-04-09 21:32] jrhemstad commented on #1101
It is a style question because your example could also have been changed to:

[code]

The `gdf_error` is removed, but still uses an output parameter.

[2019-04-09 21:36] eyalroz commented on #1101
@jrhemstad : Even this is not just a matter of stype. In that example, you always need to define variables to serve as output; and you can't chain invocations of functions: `another_function(some_function(my_in))`. But, ok, suppose that's just style. The non-style question is: Do we need to continue returning `gdf_error`'s or not...

[2019-04-09 21:48] beckernick commented on #1358
I'll update the Dockerfile

[2019-04-09 21:56] jrhemstad commented on #1101
No. As I've said elsewhere. `gdf_error` is deprecated and will be removed from functions in a ever continuing process.

[2019-04-09 22:14] manojkumardas7 commented on #1283
@kkraus14 - Using Python 3.7, although the print_env script my display python2.7, I have used python 3.7, using pip3.7

@harrism
Also my GPU is not the Kepler architecture. I am just using CUDA 10, as I have moved to CUDA 10 for my developments.

[2019-04-09 22:57] #1355 closed

[2019-04-09 23:11] kkraus14 opened #1383 "[FEA] Python gather/scatter functions should use libcudf implementations"
Currently there's `utils.cudautils.gather` which has a numba based implementation which doesn't properly handle nulls. We should use the new libcudf `gather` function as well as write bindings for a `scatter` function to the new libcudf `scatter` function as well.

This will give us null support as well as much better performance.

[2019-04-10 00:47] harrism commented on #1365
Reasons not to make `segmented_scan` an external API.

1. libcudf is a dataframe library, not a data parallel algorithms library. There are plenty of existing data parallel algorithms library.
2. It increases our API and therefore our testing and maintenance burden
3. We can't build and support features for unpredicted future needs, even when they are useful functions.  No matter how easy, there i

[2019-04-10 02:04] harrism commented on #1277
Technically wouldn't it be possible to do sort-based groupby without atomics larger than 8B?

[2019-04-10 03:06] JinHai-CN commented on #1277
Is it possible to use CAS op to construct a mutex to synchronize the agg op between threads?

[2019-04-10 03:12] harrism commented on #1277
Yes, I think that is possible as well. I believe that is exactly what is happening when one uses CAS to implement, for example, atomicAdd for a datatype that isn't natively supported -- shouldn't matter if the data type is smaller or larger.

Priority is a different question.

[2019-04-10 03:17] JinHai-CN commented on #1302
@jrhemstad I would like to work on this issue. Is this OK for you?

[2019-04-10 04:24] joehoeller commented on #1315
Something like this, but GPU enabled, with added folding types like map and filter:
https://pytorch.org/docs/stable/nn.html#torch.nn.Fold

[2019-04-10 06:50] nasica88 commented on #1307
I finally figured out what went wrong.  In short, I recompiled custrings from the beginning all over again and that specific error went away.   Changing gcc/g++ compiler version in the middle seems to be the cause of the undefined symbol error.   I ran into another error, though, for which I'm going to open a separate issue.   Thanks.

[2019-04-10 06:56] nasica88 opened #1384 "[BUG] undefined reference to `TestParameters<std::tuple<std::vector<int, std::allocator<int>"
**Describe the bug**
When building from source, 'make' produces "undefined reference to `TestParameters<std::tuple..." error after completing 92% as below.

[ 92%] Linking CUDA executable ../gtests/HASHING_TEST

**Steps/Code to reproduce bug**

After completing cmake successfully in build directory, running 'make' produces "nvcc fatal : A single input file is required..." error as below.

u0017649

[2019-04-10 13:49] jrhemstad commented on #1302
Absolutely! I'll never turn down an offer for help.

[2019-04-10 14:00] jrhemstad commented on #1277
Yes, that's true.

Not quite. @JinHai-CN is suggesting creating an additional mutex object for each entry in the hash table. You'd lock the mutex when updating the >8B value in the payload.

That is very different from how we emulate `atomicAdd` for types like `int8_t`. We perform the operation as an `int8_t` on the old value, and then update the entire 4B word that contains the 1B `int8_t` with a

[2019-04-10 14:34] jlowe commented on #1365
Speaking of segmented operations and aggregations, what is the plan for supporting aggregations on a sorted grouping approach like that in #982?  Will libcudf provide segmented APIs for all the potential agg functions (sum/max/min/avg/quantiles/etc), or is it up to the app to leverage other algorithm libs like thrust/cub/etc to implement these aggregations on the segments?

[2019-04-10 15:10] eyalroz opened #1387 "[FEA] Some (trivial) utility functions for gdf_column's"
There are some routine, mostly-trivial tasks we occasionally, or often, need to perform on `gdf_column`'s, the code for which is currently at best repeated and at worst partially-repeated in different places in libcudf. Also, when we use this code, we don't quite say what it is that we're doing:

* Ensuring a column is valid (e.g. not having more nulls than elements and a bunch of other checks)
*

[2019-04-10 15:13] jrhemstad commented on #1365
This is the approach I would like to take, which is why I'm suggesting adding a segmented scan function. The follow on would be to add segmented reductions as well.

No, we definitely won't force users to do this.

[2019-04-10 15:18] jrhemstad commented on #1365
@harrism if we don't provide segmented scan/reduction operations, then the `groupby_without_aggregations` function in https://github.com/rapidsai/cudf/pull/982 is useless to C++ users.

It organizes the unique groups together and tells you the offset into each group, but there's nothing you can actually do in libcudf with the offset information if you don't have segmented scan/reduction operations

[2019-04-10 16:13] felipeblazing commented on #1365
This sort of scares me because we use c++. I would really love for the python side to be as thin as possible to ensure that we can do the same things in c++.

When you talk about cummulative sum this way are you assuming that order matters when going into execution? So for example in thrust

[code]

First for this to work we need to order the data according to the keys. This ordering doesn't have

[2019-04-10 16:15] kkraus14 commented on #1365
I 100% agree. As we look at other possible language bindings in the future they'd also need to recreate all of the functionality that's implemented in Python. The only things that should be implemented in Python should be Python specific integrations, and Python UDFs.

[2019-04-10 16:15] felipeblazing commented on #1365
@jrhemstad wouldnt it make more sense to deal with this using the windowed functions

[2019-04-10 16:19] jrhemstad commented on #1298
@beckernick what do you expect the ordering of the values in the group to be? Currently this is non-deterministic, so from one run to the next, a groupby cumsum can easily give different results within each group.

[2019-04-10 16:22] jrhemstad commented on #1365
Great point about the ordering. I've asked what the expectation would be in https://github.com/rapidsai/cudf/issues/1298

I don't really understand windowed functions enough to know how you could emulate the ask for a groupby quantile/cumsum with a windowed function.

[2019-04-10 16:30] kkraus14 commented on #1298
@jrhemstad I would imagine this would only work on a sort based groupby where the order of keys is deterministic.

[2019-04-10 16:31] jrhemstad commented on #1298
But it's not. The order of the keys within a group is definitely not deterministic.

[2019-04-10 16:31] beckernick commented on #1298
In my experience, one of the core use cases for groupby cumulative sums (and cumulative sums in general) is to executed on data grouped temporally. If I'm trying to get the cumulative sum of `sales` over the course of a sorted `day_of_week` column (my grouping column) for downstream use, I would need the cumulative sum ordering to respect the grouping column's ordering. If the ordering of the valu

[2019-04-10 16:34] kkraus14 commented on #1298
In a **sort** based groupby they would be... no?

[2019-04-10 16:38] beckernick commented on #1298
@AK-ayush do you have any thoughts, given your feature request?

[2019-04-10 16:40] jrhemstad commented on #1298
Keys:    `[1, 2, 1, 2, 1, 2]`
Values: `[0, 1, 2, 3, 4, 5]`

Sorting by keys gives several possible orders...
Keys:    `[1, 1, 1, 2, 2, 2]`
Values: `[0, 2, 4, 1, 3, 5]`

or

Keys:    `[1, 1, 1, 2, 2, 2]`
Values: `[2, 0, 4, 1, 5, 3]`

or

Keys:    `[1, 1, 1, 2, 2, 2]`
Values: `[4, 0, 2, 3, 5, 1]`

etc.

Therefore, the ordering of the values within a group are not deterministic. As such, the `cumsum`

[2019-04-10 16:53] kkraus14 commented on #1298
@jrhemstad cumsum wouldn't be run in the same aggregation as the original groupby, it would look something like this:

Input:
[code]

`df.groupby(['color', 'date'])['count'].sum()`:
[code]

`df.groupby(['color', 'date'])['count'].sum().groupby(['Name'])['count'].cumsum()`:
[code]

[2019-04-10 17:04] jrhemstad commented on #1298
@kkraus14 yes that makes sense, but it's dependent on you "doing the right thing".

To be clear, at the C++ level, we have no way of preventing you from doing something like I outlined in this example: https://github.com/rapidsai/cudf/issues/1298#issuecomment-481768147

If that's fine, then it works for me.

[2019-04-10 17:08] kkraus14 commented on #1298
@jrhemstad I'd defer to @felipeblazing if that works for him, but we can easily only allow a `cumsum` call if the user uses a `sort` based groupby.

[2019-04-10 17:13] jrhemstad commented on #1365
For the purposes of further discussion, I wrote up the definitions of the terminology I'm going to use to talk about the different kinds of groupby aggregations. These may not matter to data science end-users, but it matters a lot when implementing these things.

https://gist.github.com/jrhemstad/f6bb5d4c4598a6813493e1c37f01ea02

[2019-04-10 17:22] eyalroz opened #1394 "[FEA] Overflow-safe facility for obtaining simple 1-D grid configurations"
Related to #1371.

Many of the kernels we launch directory have simple 1-dimensional grids, whose number of blocks should be the division-rounding-up of the number of elements by a block size (determined one way or another). Now, the calculation of this division may overflow, and the cases in which it overflows - input lengths very close to 2^31 - are not esoteric.

It would be nice if we had a fa

[2019-04-10 17:26] jrhemstad commented on #1365
Okay, so my primary anxiety is about trying to mix support for all 3 types of aggregations in a single `cudf::groupby` C++ API.

So what I propose is providing 3 separate APIs:
`cudf::distributive_groupby`
`cudf::algebraic_groupby`
`cudf::holistic_groupby`

(The names aren't set in stone, but you get the idea: different APIs for different classes of groupby.)

In this way, it's clear to the libcud

[2019-04-10 17:26] beckernick commented on #1298
I'm not sure I fully agree with @kkraus14. The cumsum API makes the most sense being called on one of the non-grouped columns, but I could imagine wanting to use it in the same aggregation. Expanding on your example:

[code]

It depends logically what I'm after. If I just want the cumulative sum within the group [color, date], then what Keith has above makes sense. But, if I want to the cumulative

[2019-04-10 17:28] jrhemstad commented on #1298
Simply requiring a sort-based groupby isn't sufficient, as my example showed.

[2019-04-10 17:30] jrhemstad commented on #1298
@beckernick you have two instances of the key `red	2019-01-02`. We can't guarantee the order of those two keys corresponding values from one run to the next.

[2019-04-10 17:30] beckernick commented on #1298
Yep, I understand. That's what you were describing initially, I believe.

[2019-04-10 17:31] jrhemstad commented on #1298
Yeah, exactly. What order is Pandas using? The original order of the column?

I guess this could work if we used a stable sort for the sort-based groupby. @williamBlazing @felipeblazing , thoughts?

[2019-04-10 17:36] beckernick commented on #1298
As far as I know, pandas uses the original order. That's actually the other reason I added the flag to show that the ordering was consistent.

[2019-04-10 17:46] jrhemstad commented on #1394
Agreed, this would be a useful utility.

[2019-04-10 18:45] beckernick commented on #1290
Thanks for pointing this out @Shakeebbk !

[2019-04-10 18:48] jrhemstad opened #1398 "[BUG] Issues with device atomic overloads for wrapper types"
**Describe the bug**
The device atomic overloads for the wrapper types hardcode the underlying type of the wrappers. This is brittle as it will break if the underlying types ever change. Furthermore, it's using machine dependent types, e.g., `long long int` instead of `int64_t`.

See:
https://github.com/rapidsai/cudf/blob/b63e971f9c2348db6c12882c882139b2e0988d1e/cpp/src/utilities/device_atomics.cu

[2019-04-10 19:20] eyalroz opened #1400 "[FEA] Get rid of gdf_column_sizeof()"
The cuDF API currently has the function
[code]
which returns `sizeof(gdf_column)`. I believe this is completely redundant, both within libcudf itself and outside of it, as - if we expose gdf_columns, other parties also surely know what its size in bytes is.

[2019-04-10 19:22] jrhemstad commented on #1400
I agree, it's only usage is here https://github.com/rapidsai/cudf/blob/7d5e909bc8697919f4a21060feea266967ea4cef/cpp/src/io/utilities/wrapper_utils.hpp#L38 which was written by @j-ieong.

I believe this would be better replaced by making `col` a `gdf_column` member of the class instead of a `gdf_column*`, which avoids the need for heap allocation.

[2019-04-10 19:57] eyalroz opened #1401 "[BUG] Conda environment has pip-installed dependencies, but doesn't depend on pip"
I'm using:

* branch-0.7 of cudf
* Devaun 2.0 ASCII
* conda 4.6.11
* CUDA 9.2
* `conda/environments/cudf_dev_cuda9.2.yml`

When I
[code]

My conda tells me:
[code]

[2019-04-10 19:58] jrhemstad commented on #1401
That's the same command I use to update my conda environments and I've never seen this error.

Perhaps you have something in your environment that was previously pip installed?

[2019-04-10 19:59] eyalroz commented on #1401
@jrhemstad : Not that I know of, but the YAML file has:
[code]
in it.

[2019-04-10 20:49] j-ieong commented on #1400
I was originally using `sizeof(gdf_column)` until I saw that there was an API for it and switched to that... :slightly_smiling_face:

The IO readers need to eventually return the malloc'ed columns to the Python layer. This wrapper is simply for RAII lifetime management so stuff gets released in case of exceptions...

When we change to Cython and C++, then we can change how the columns are returned

[2019-04-10 21:10] eyalroz commented on #1400
@j-ieong : So, I assume we can switch back to `sizeof(gdf_column)`, right? ... if so, let's do that.

When we change to Cython and C++ all sorts of things will happen; let's not pile on yet another thing that needs to be handled then.

[2019-04-10 21:13] j-ieong commented on #1400
@eyalroz Yup, there's no problem changing it and removing this API.

Yeah, I was just explaining why we have that wrapper as it is. Part of the reason is _because_ I didn't want to pile lots of changes for unrelated IO stuff... it's a rabbit hole of future improvements.

[2019-04-10 21:26] eyalroz opened #1402 "[BUG] Need to protect against NVstrings.h lack of include guards"
[NVstrings.h](https://github.com/NVIDIA/nvstrings/blob/master/NVStrings.h) version 0.3 does [not have include guards](https://github.com/NVIDIA/nvstrings/issues/9).

While we might be requiring a later version of it at some point in the future, that point is not now, and - we are including `NVStrings.h` in a bunch of places; which means we need to guard against double-including it.

[2019-04-10 22:12] vuule commented on #479
Here is the draft guide I wrote for cuIO. It's meant to be easily digestible and to highlight the most common issues. For more detailed rules and justifications, the Google style guide is available.
### General structure
* Use #pragma once or a #define guard in each header.
* Use structs when the contained data can take any value (POD). Use classes when the data has an invariant, and enforce it us

[2019-04-10 22:21] MasoodK commented on #806
Thanks for the update @mike-wendt ! You may close this issue if someone has confirmed that this works now on CentOS. I personally had to move on; I got lucky as I could install/run the v.0.5 version binary from PyPI on CentOS and it's working fine for now. At some point, I may to need to compile/build again; I'll check out the pointers then. Thanks!

[2019-04-10 22:37] VibhuJawa commented on #1348
Facing a similar slowdown with string list and nvstrings.

#### Reproduction Code
[code]

Output
[code]

Also, I am seeing memory spikes  when creating a column from cudf string where temporary the memory being used is more than the total memory.

The y  axis is memory in mib and x axis is seconds

![Memory Graph](https://user-images.githubusercontent.com/4837571/55917996-56c59980-5ba6-11e9-9215-1

[2019-04-10 22:39] harrism commented on #1298
With a *stable* sort the order should always be the same given the same order of inputs. What kind of sort are we using? We should definitely be using a stable sort!

[2019-04-10 22:43] jrhemstad commented on #1298
We're just using `thrust::sort`.

There was never any reason to use a stable sort previously.

[2019-04-10 22:46] eyalroz commented on #479
A lot/most of these items are fine by me, but:

1. I'm not sure we should just import a list of rules from another project without them having specific motivation in issues that have come up in libcudf. For example: "avoid using goto". Definitely a principle to live by, but - has anyone ever tried to use goto in libcudf? On the other hand, the coding-style issues most glaring to my eyes are not co

[2019-04-10 22:49] harrism commented on #1298
I'm surprised. I would have assumed repeatability is a requirement.

[2019-04-10 22:52] harrism commented on #1277
Of course there's also the important fact that we don't actually support any data types larger than 64 bits today. Even strings are dictionary encoded before we act on them.

[2019-04-10 22:57] harrism commented on #1365
Back to my original argument. What I'm suggesting is that if the problem we're solving is supporting aggregations on groupby groups, then we provide aggregations on groupby groups, not a segmented scan in the *public* libcudf API. Underneath, the aggregations may be implemented using a segmented scan (probably Thrust or CUB), but the public API that users access should use familiar terminology (e.

[2019-04-10 23:05] kovaltan commented on #1398
@jrhemstad

Agree. That's a issue.

Actually there is an issue between long long int and int64_t.
For example,
When I changed T_int from `unsigned long long int` into `uint64_t` at https://github.com/rapidsai/cudf/blob/b63e971f9c2348db6c12882c882139b2e0988d1e/cpp/src/utilities/device_atomics.cuh#L187-L197

nvcc causes errors with below message while `atomicCAS` are defined for `unsigned long long

[2019-04-10 23:06] vuule commented on #479
Yes. Luckily, it looks like we are now goto-free. If the consensus is that some of these rules are irrelevant, we can remove them. These are based on the code I've seen, and that is still a small part of cuDF.

As you pint out, the list is incomplete (e.g. doing work in constructors). We can always add more exception to the list. The current list is what I came up with in a short period, and a rou

[2019-04-10 23:40] #1283 closed

[2019-04-10 23:44] kkraus14 commented on #1231
This is resolved.

[2019-04-10 23:44] #1231 closed

[2019-04-10 23:45] kkraus14 commented on #1401
I think this was a recent change in conda to push towards explicitly adding `pip` as a dependency.

[2019-04-10 23:59] jrhemstad commented on #1298
For all aggregations we currently support, order doesn't matter. e.g., sum, min, max, count, etc.

[2019-04-11 00:02] #393 closed

[2019-04-11 00:12] felipeblazing commented on #1298
What is being requested here is normally handled by windowed functions. Cummalative sums are not done on group bys specifically because the values are not determenistic. Windowed functions specify order columns that you can use to do exactly what is described here but its easier to implement this in windows than it is in group bys which are able to ignore the order requirements allowing for faster

[2019-04-11 00:33] harrism commented on #1298
@felipeblazing Pandas has `groupby.cumsum`: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.DataFrameGroupBy.cumsum.html#pandas.core.groupby.DataFrameGroupBy.cumsum

[2019-04-11 02:19] j-ieong commented on #1384
Hi @nasica88, could you paste the verbose command of nvcc when it's compiling the cuda .cu files?

[2019-04-11 02:37] randerzander commented on #97
docs have been published for [groupby.apply](
https://rapidsai.github.io/projects/cudf/en/0.6.0/api.html#cudf.groupby.legacy_groupby.Groupby.apply) and [groupby.apply_grouped](https://rapidsai.github.io/projects/cudf/en/0.6.0/api.html#cudf.groupby.legacy_groupby.Groupby.apply_grouped)

ok to close?

[2019-04-11 02:52] felipeblazing commented on #1298
@harrism I see. In SQL it is different. I am not sure how to make this work well with the hash version of group by

[2019-04-11 08:41] eyalroz commented on #393
@harrism : I still see switches over the dtype in  `quantiles.cu`, `sorting.cu`, `segmented_sorting.cu` (there's also `binary_ops.cu` but there it's understandable, perhaps). Consider reopening?

[2019-04-11 08:59] eyalroz commented on #479
@vuule : I wasn't suggesting we use the C++ Core Guidelines as a style guide, just as an inspiration.

I don't accept the premise. You're assuming we've accepted the GSG, possibly with exceptions. But - we haven't. If you believe we need to accept the GSG, you need to argue for it as a whole and convince us we should accept it as a default. and I would be against that for three reasons:

1. I don'

[2019-04-11 10:09] devavret commented on #393
@eyalroz where? Are you sure you’re looking at branch 0.7? E.g. I don’t see it in [`quantiles.cu`](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/quantiles/quantiles.cu)

[2019-04-11 10:14] eyalroz commented on #393
`quantiles.cu`: You're right, I was looking at the wrong commit.
`sorting.cu`: `gdf_radixsort_generic()`. Note that I'm planning to add support for type-dispatching with implementations for only some of the gdf_dtype values; but you can still pull it off by defaulting to returning `GDF_UNSUPPORTED_TYPE` in the non-specialized templated code.
`segmented_sorting.cu`: `gdf_segmented_radixsort_generic

[2019-04-11 10:43] devavret commented on #393
@eyalroz can you please provide the GitHub link to those files, for some reason I cannot find it.

[2019-04-11 10:56] eyalroz commented on #393
@devavret : Oh, no, I got my branch origins mixed up. I take it back... this was correctly closed. Sorry for wasting your time.

[2019-04-11 12:24] nasica88 commented on #1384
@j-ieong  Here it is.

cd /home/u0017649/files/cudf/cpp/build/tests && /usr/local/cuda/bin/nvcc  -DARROW_METADATA_V4 -DARROW_VERSION=1210 -I/home/u0017649/files/cudf/cpp/build/googletest/install/include -I/home/u0017649/files/cudf/cpp/build/arrow/install/include -I/home/u0017649/files/cudf/cpp/build/arrow/build/flatbuffers_ep-prefix/src/flatbuffers_ep-install/include -I/usr/local/cuda/targets/ppc6

[2019-04-11 12:46] pradghos opened #1406 "[QST] Regarding the usage of CMAKE_CXX11_ABI flag in cudf/cpp/CMakeLists.txt"
**What is your question?**
1. I can see that  `CMAKE_CXX11_ABI` flag  set by default without explicitly setting it up for `GNU compiler`.
[ without setting `-DCMAKE_CXX11_ABI` in `CMAKE_COMMON_VARIABLES` ]

[code]
Build log snippet:
[code]
Does that mean for a default case of `GNU compiler` cuDF supports `CXX11_ABI`  and `CMAKE_CXX_STANDARD` and `CMAKE_CUDA_STANDARD` are set to `14` ?

2.  `set(CM

[2019-04-11 13:24] jrhemstad commented on #1298
@felipeblazing there was no intention of trying to make this work with hash-based groupby, because it is impossible.

The conversation is entirely about doing it via a sort-based groupby.

[2019-04-11 13:52] jrhemstad commented on #1398
Is there any way to fix it?

Hm, that is very annoying. I guess you'd need to provide `atomic*` functions for the fixed width types, e.g., `int64_t`, that cast to the type that CUDA supports. Just to be extra safe, I'd add a `static_cast(sizeof(int64_t) == sizeof(long long int))`.

I think this is a good solution.

[2019-04-11 15:17] #1074 closed

[2019-04-11 16:51] jrhemstad commented on #1365
Agreed, so long as we're fine with having independent C++ APIs for the different classes of groupby (as I suggested above).

@harrism and @kkraus14 have agreed to this elsewhere, so I'm going to close the issue for now.

[2019-04-11 16:51] jrhemstad commented on #1365
Agreed, so long as we're fine with having independent C++ APIs for the different classes of groupby (as I suggested above).

@harrism and @kkraus14 have agreed to this elsewhere, so I'm going to close the issue for now.

[2019-04-11 17:34] kkraus14 commented on #1162
duplicate of #188

[2019-04-11 17:34] #1162 closed

[2019-04-11 17:36] kkraus14 opened #1408 "[FEA] Support `axis` parameter in `concat` function"
See `axis` parameter here: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html

[2019-04-11 17:46] kkraus14 commented on #1406
@pradghos Yes, the default case for `GNU compiler` is to use the new ABI, denoted by `CXX11_ABI`. The library uses a bunch of C++14 features, so `STANDARD 14` is required and is not an option.

[2019-04-11 18:07] pradghos commented on #1406
@kkraus14 Thanks for your response !

[2019-04-11 18:10] #1406 closed

[2019-04-11 18:11] #1290 closed

[2019-04-11 18:36] vuule commented on #479
I have written this guide primarily for cuIO, and we have a clear consensus that GSG is a good base style for us. If stakeholders of the libcudf as a whole are against using GSG, my proposal is not relevant in this discussion.

[2019-04-11 18:43] eyalroz commented on #479
@vuule, you're suggesting that a consensus would be needed to reject GSG as a basis for a style guide. It is actually the opposite - a style guide would require a consensus, or overwhelming majority support, to adopt.

I'm sorry for being somewhat argumentative here, but I'm quite upset with what's happening here, process-wise.

[2019-04-11 19:08] beckernick opened #1409 "[FEA] Include melt as a DataFrame level method"
**Is your feature request related to a problem? Please describe.**
Currently, `melt` is a top-level function with an API of `cudf.melt(df, ...)`. For pandas consistency and future dask consistency, we should implement `melt` at both the top level and as a DataFrame method.

Pandas melt can be used at both the [top level](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.melt.html)

[2019-04-11 19:19] beckernick opened #1410 "[FEA] DataFrame.pop()"
**Is your feature request related to a problem? Please describe.**
As a user, I would like to [pop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pop.html) a column from a dataframe (return the column and also delete it from the dataframe).

**Describe the solution you'd like**
I'd like the following pandas code to work with cudf:

[code]
**Describe alternatives you'v

[2019-04-11 19:24] eyalroz opened #1411 "[BUG] cuDF API implementations should not be located in the cpp/src/utilities directory"
As I see it, the directory `cpp/src/utilities` is supposed to only include "utility code" used by various functions and classes in the library, not direct implementations of cuDF library API functions. ` cpp/src/utilities/cuda_utils.cu` is an exception to this rule, containing the implementation of the API functions:
* `int gdf_cuda_last_error()`
* `const char * gdf_cuda_error_string(int cuda_erro

[2019-04-11 20:35] sklam commented on #97
Docs for `groupby.apply` is not right.  It doesn't compile.

[2019-04-11 20:53] kkraus14 commented on #97
@sklam Are you saying the docstring is incorrect in claiming it compiles a Python function or that the docs do not compile and generate properly for you?

[2019-04-11 20:57] #1410 closed

[2019-04-11 20:59] #1370 closed

[2019-04-11 21:00] #623 closed

[2019-04-11 21:02] kkraus14 opened #1414 "[BUG] NVStrings dependency should be increased to 0.7.*"
Conda recipes and environments should be updated to use the nightly releases of NVStrings to keep in line with the current development branches.

[2019-04-11 21:38] #1409 closed

[2019-04-11 22:33] mrocklin opened #1415 "[FEA] Parquet Statistics"
For Dask (or probably any distributed computing framework) we will want to read parquet datasets in two stages.  First we will want to gather statistical metadata on a central node, and then we will want to read individual row groups of the data on other nodes, based on that metadata.

1.  **Gather statistical metadata:** Locally, we will want to query the .metadata file (if it exists) or the file

[2019-04-11 22:47] #1380 closed

[2019-04-12 00:54] harrism commented on #479
@eyalroz I don't think that's what @vuule is suggesting at all. cuIO is a team that is a major contributor to cuDF. @vuule simply said that his *team* has consensus.

Since the cuIO team was discussing style guides, I asked if they would propose something for cuDF.  Nothing has been adopted yet.

[2019-04-12 12:14] kovaltan opened #1417 "[BUG] quantile() underflow if input integer value is more than 2^52"
Though PR #1416  correct the return values from quntiles, there are still potential issues.
The goal of this issue is to fix below issues.

1.  if column size is more than 2^52, the index computation will point incorrect index due to underflow
2. At interpolation = linear or midpoint, the computation may also overflow|underflow if input dtype is int64_t

Those 2 issues is caused by  overflow|under

[2019-04-12 12:22] harrism commented on #1417
Since `gdf_size_type` is `int`, the column_size can't be more than `2^31 - 1`.

[2019-04-12 12:32] kovaltan commented on #1417
That's great!
Then, the rest issue is overflow|underflow at nterpolation = linear or midpoint.

[2019-04-12 13:56] jrhemstad commented on #1417
Yeah 1. won't be an issue with `gdf_size_type` being `int`.

Can you give an example of what you mean in 2.?

[2019-04-12 14:18] kovaltan commented on #1417
For example of 2.

At this part: https://github.com/rapidsai/cudf/blob/07c20fadb12675d4b138ef7b827093b21c81ae96/cpp/src/quantiles/quantiles.cu#L93-L94
When RetT = double and T = int64_t for hv, any of hv[0] and hv[1] are greater than 2^52
or
When RetT = double and T = int64_t, (hv[1] - hv[0] ) is greater than 2^52

[2019-04-12 14:55] kkraus14 opened #1418 "[BUG] More gracefully handle overflows in reductions"
By default reductions will use the same dtype as the input and will silently overflow. We should have a way to more gracefully handle overflows and magically upcast so that end users of cuDF aren't surprised. This could live at the Python layer as I'm not sure libcudf would want / expect the same behavior.

[2019-04-12 14:58] jrhemstad commented on #1417
I believe the maximum possible integer thtat can be represented _exactl_y by a double is `2^53`.

However, integers larger than `2^53` can still be represented as a `double`, just not exactly. So you lose some precision, but I don't believe that you'll overflow.

See: https://wandbox.org/permlink/oxrIQ4EGUaetqAFP

[2019-04-12 15:04] jrhemstad commented on #1418
Also see: https://github.com/rapidsai/cudf/issues/609

I'm not a big fan of trying to detect overflows at the C++ layer.

I'd think at the Python level you'd want to just always request the highest precision type for the reduction result.

[2019-04-12 15:16] kkraus14 commented on #1418
For many reductions we can also do some basic envelope math with `np.iinfo(dtype).{min, max}` and the column size to determine what size we can fit it into.

[2019-04-12 15:18] kkraus14 commented on #1418
Also it looks like Pandas / Numpy just return `int64`for all integer precision reductions, but for floating point reductions keep the precision the same as the input.

[2019-04-12 15:41] #443 closed

[2019-04-12 15:41] #446 closed

[2019-04-12 15:41] #954 closed

[2019-04-12 15:41] #978 closed

[2019-04-12 17:26] randyzwitch commented on #140
@jrhemstad I've been playing with this a little today, it might not need any libcudf functionality.

@kkraus14 This might be almost exactly like my fix for #1385, I just need to play around a bit more. I can get a timestamp out of OmniSci by modifying `_schema_to_dtype`, but it looks like cudf wants either ms or ns for the input to datetime. `_schema_to_dtype` only accounts for the bitwidth, but t

[2019-04-12 18:56] VibhuJawa commented on #848
This seems to be resolved in 0.6.1 and 0.7 . Reproduction Gist:
https://gist.github.com/VibhuJawa/d3354dca525e0699d33aa0e286d2a717

[2019-04-12 18:58] randerzander commented on #848
Closing per @VibhuJawa's tests. @jangorecki please re-open if there's still a problem for you.

[2019-04-12 18:58] #848 closed

[2019-04-12 19:34] shwina commented on #1361
I'm looking into this - PR incoming!

[2019-04-12 19:57] randyzwitch commented on #140
Ok, I take it back, there are several issues here.

1. Adding types to `_schema_to_dtype`:

I was hoping to just add this to the `_schema_to_dtype` function:

[code]
This will get you past the `NotImplementedError: unsupported type TIMESTAMP 64-bits` error message, so that's good.

2. When writing the test, I get the wrong result:

[code]

So for the first part, getting all the dtypes into `_schem

[2019-04-12 20:02] kkraus14 commented on #140
For bools, Arrow uses a single bit per value whereas we use a byte per value. You can use Arrow builtins to cast for now, though we have the functionality to handle this on the GPU just not in a nicely exposed API.

For timestamps, the plumbing from Python to libcudf is severely lacking and only really supports millisecond granularity as of now. We should improve this.

[2019-04-12 20:15] randyzwitch commented on #140
Ok. I tried `ret = getattr(np, 'bool_')`, and saw fewer results than expected. So that might have been the issue (I didn't calculate if I got 1/8th of the expected results)

[2019-04-12 21:09] trxcllnt commented on #1358
@kkraus14 tried building this again, now erroring with:
[code]

[2019-04-12 21:10] kkraus14 commented on #1358
@jrhemstad @harrism any ideas on this?

[2019-04-12 21:34] kkraus14 commented on #1358
Looks like an out of date submodule as I'm unable to reproduce this in a fresh pull.

[2019-04-12 21:35] beckernick commented on #1358
I'm also unable to reproduce on a fresh pull.

[2019-04-12 21:45] trxcllnt commented on #1358
yep false alarm, works after updating submodules. thanks!

[2019-04-12 21:45] #1358 closed

[2019-04-12 21:55] kkraus14 commented on #1415
@mjsamoht do you have an idea of what level of effort this would be?

[2019-04-12 22:01] mrocklin commented on #1415
To be clear, there are two possible things that we might do here:

1.  Important and hopefully easy: read a single row group rather than a whole file/dataset
2.  Not so important if we're ok also using `pyarrow.parquet`: gather statistics information

[2019-04-12 22:55] j-ieong commented on #1415
The option to reading individual row groups is easy to add. We could also add filtering values on min/max as well during reading if required and that shouldn't be difficult either.

For returning metadata, the GPU Parquet reader uses the CPU to perform that parsing and schema build-up, so there isn't any advantage with us versus PyArrow, especially since the `read_parquet` is just a C-like interfa

[2019-04-12 23:02] mrocklin commented on #1415
I don't need the filtering (Dask is already having that) though I can imagine that cudf might want it when it uses this functionality raw.

I'll also need a listing of all row groups.  So something like the following should work (though probably better names exist)

[code]

[2019-04-12 23:10] j-ieong commented on #1415
Okay, that looks like something we can work on and have something for you next week.

[2019-04-13 01:32] sklam commented on #97
Sorry for being unclear.  The docstring is incorrect in saying that `.apply` compiles the incoming python function.  It's applying the incoming function as is to every group.  The implemented behavior is similar to the pandas equivalent [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.apply.html).

[2019-04-13 01:51] #1256 closed

[2019-04-13 02:34] OlivierNV commented on #1415
Note that we should also be able to have skip_rows/num_rows functionality (supported by low-level parquet/orc kernels) if that matters (though row group granularity is better since row-based splitting still requires reading entire row groups)

[2019-04-13 03:47] mrocklin commented on #1415
Thanks all.  FWIW, I don't think that we will need to have skip_rows/num_rows for read_parquet.  Being able to read individual row groups should be enough.

[2019-04-13 08:10] miguelangel opened #1423 "[FEA] Implement Pandas Dataframe.pop()"
**Is your feature request related to a problem? Please describe.**
I am porting existing Pandas code to cuDF, and I have noticed that the pandas Dataframe.pop() method is not available in cuDF.

**Describe the solution you'd like**
To have it available in cuDF.

**Describe alternatives you've considered**
Making a copy of the column content, and then use cudf.Dataframe.drop_column()

**Additional

[2019-04-13 08:34] miguelangel opened #1424 "[FEA] Implement Pandas Dataframe.isna() method"
**Is your feature request related to a problem? Please describe.**
I am porting some existing pandas code to cuDF.

It is very frequent that I perform the following action in pandas:

`display(dataset.isna().sum())`

**Describe the solution you'd like**
To have pandas Dataframe.isna() method implemented.

**Describe alternatives you've considered**
None yet.

[2019-04-13 09:10] harrism commented on #953
Looks like #1005 fixed min/max reductions for everything but the datatype requested in this bug, since #954 doesn't mention the same datatype. Reopening this and assigning @kovaltan .

[2019-04-13 09:19] miguelangel opened #1425 "[FEA] Implement .min() and .max() of a DateType column"
**Is your feature request related to a problem? Please describe.**
Hi,

I have noticed that feature request #953 has been closed.

I have tried the nightly build, and it looks it works with other datatypes, but not with DateType columns.

Could you please review it? Thank you!

![image](https://user-images.githubusercontent.com/26169771/56077562-00db3680-5dde-11e9-9564-8773ef02bf21.png)

**Describ

[2019-04-13 09:20] miguelangel commented on #1425
Original PR has been reopened. Closing this now...

[2019-04-13 09:20] #1425 closed

[2019-04-13 09:41] miguelusque opened #1426 "[FEA] Implement Pandas Dataframe.sample() method"
**Is your feature request related to a problem? Please describe.**
I am porting some existing pandas code to cuDF, and I have noticed that the pandas _Dataframe.sample()_ method is not available yet in cuDF.

It is useful for this kind of code:

[code]
**Describe the solution you'd like**
I would like that method to be available in cuDF.

**Describe alternatives you've considered**
None yet.

**Ad

[2019-04-13 09:44] miguelusque opened #1427 "[FEA] Add index support to cuDF Dataframe.drop() method"
**Is your feature request related to a problem? Please describe.**
While porting some pandas to cudf code, it looks like indexes are not supported in cuDF Dataframe.drop() method.

It is useful when performing some actions as follows:

[code]

**Describe the solution you'd like**
To have that functionality available in cuDF.

**Describe alternatives you've considered**
A clear and concise descript

[2019-04-13 14:08] jrhemstad commented on #953
Sure looks like it's supported on the C++ side: https://github.com/rapidsai/cudf/pull/1005/files?file-filters%5B%5D=.cu&file-filters%5B%5D=.cuh&file-filters%5B%5D=.hpp&file-filters%5B%5D=.md&file-filters%5B%5D=.pxd&file-filters%5B%5D=.py&file-filters%5B%5D=.pyx&file-filters%5B%5D=.txt#diff-a83afc2ab36a155de543f41bb89f7ad3R127

[2019-04-13 14:13] #1369 closed

[2019-04-13 15:56] beckernick commented on #1423
Hey @miguelangel. This feature recently merged into branch 0.7 with PR #1412. If you have any issues with it after updating your branch, let us know! Closing this issue.

[2019-04-13 16:08] miguelangel commented on #1423
Hi,

Today, I docker pulled the latest nightly container. It failed.

Is it not there?

Regards,
Miguel

[2019-04-13 16:19] miguelangel commented on #1423
Hi @beckernick,

I tested with the latest RAPIDS nightly-built available when I opened this issue.

https://hub.docker.com/r/rapidsai/rapidsai-nightly/tags

I have noticed that 6 hours ago, the nightly builds have been updated.

I have just tested again, with the latest container from the nightly builds (I just docker pulled it). It is still failing:

![image](https://user-images.githubusercontent

[2019-04-13 16:31] beckernick commented on #1423
@miguelangel , it looks like the latest nightly container is installing cudf 0.6. I'm going to close this issue and open a new one to reflect that. Thanks for asking me to double check!

If you run into any issues with `pop` in cudf version 0.7, please update this issue.

[2019-04-13 16:31] #1423 closed

[2019-04-13 16:37] datametrician commented on #1423
Nick also please notify the ops team

[2019-04-13 16:38] beckernick commented on #1423
Will do. Opened an ops issue and will ping Slack

[2019-04-13 21:44] #1327 closed

[2019-04-13 22:43] #1368 closed

[2019-04-14 06:45] OlivierNV commented on #961
Alternatively, we could just eliminate all these cosmetic appearances of portability and use uint32_t directly, since it's always very much tied to the underlying implementation... Since all supported arch are little endian, some parts of the code could use 8-bit, and other 32 or 64-bit containers all pointing to the same memory (the allocation alignment is probably what matters the most).

[2019-04-14 06:48] eyalroz commented on #961
@OlivierNV : Using "magic types" is not much better than using "magic numbers". We shouldn't use `uint32_t`, we should use a typedef to give it more meaning. But - we shouldn't do it in a zillion places.

[2019-04-14 21:19] harrism commented on #953
Maybe, but the PR has Python code also. The pytests only test integer and floating point types: https://github.com/rapidsai/cudf/pull/1005/files?file-filters%5B%5D=.pxd&file-filters%5B%5D=.py&file-filters%5B%5D=.pyx&hide-deleted-files=true#diff-eda0c73352e7354b37c748e677b10ffbR14

[2019-04-15 09:25] yoyitowang opened #1429 "[QST]How to display more rows by setting?"
**What is your question?**
I tried set_options as pandas to show more rows?
But it's not working. Then searching some setting function to do it.
`from cudf import settings
settings.set_options(nrows=50)`
How should set it?

[2019-04-15 14:07] beckernick opened #1431 "[FEA] Melt missing col_level keyword"
**Is your feature request related to a problem? Please describe.**
For pandas API consistency, we should add the `col_level` keyword to the melt function. This will help us with dask related cudf pass-throughs.

We can add this innocuously even without having multi-level index support yet from #1301.

[2019-04-15 14:46] mike-wendt commented on #806
Ok @MasoodK if you have future issues feel free to file a new issue and ask for @rlratzel who has done builds on CentOS for our team.

[2019-04-15 17:03] randerzander opened #1434 "[FEA] Python bindings for GPU accelerated cudf.DataFrame.to_csv"
Pandas DataFrames has [DataFrame.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html).

Now that cuStrings supports creating strings from several numeric types, cuDF can create a GPU accelerated cudf.DataFrame.to_csv method.

Pandas's `to_csv` has many parameters which cuDF can implement over time in different PRs.

For an initial implementation, I sugge

[2019-04-15 17:19] kkraus14 commented on #1210
@jakirkham can a subpackage depend on another subpackage? I.E. can the `cudf` subpackage depend on the `libcudf` subpackage? From what I'm seeing it doesn't look possible yet.

[2019-04-15 17:55] j-ieong commented on #1429
cuDF accesses the print options under a `formatting` dict.

In the call to `set_options`, pass a `formatting` dict with the desired key-value pairs. Additionally, that call returns the settings object in the local context so your print should be within its scope. Ex:

[code]

[2019-04-15 18:02] #1414 closed

[2019-04-15 19:07] mike-wendt commented on #492
Done

[2019-04-15 19:07] #492 closed

[2019-04-15 19:22] ayushdg commented on #1348
Should be resolved with #1421

[2019-04-15 19:22] #1348 closed

[2019-04-15 20:00] MikeChenfu opened #3101 "nvstrings.rsplit_record() super slow"
The function rsplit_record() is super slow.  The input file file_15m.txt is about 15MB. The time output is attached.

[code]

Custrings time output:
[code]
python output:
[code]

[2019-04-15 20:56] beckernick commented on #1187
@randerzander, #1185 included support for `left_on` and `right_on` only when the keys match. This may be enough for some downstream uses, but since we can't use them for the primary purpose of doing joins on keys with different names across dataframes, I'm going to re-open this issue.

As an example, this works:
[code]

But this is still not implemented:

[code]

[2019-04-15 21:12] VibhuJawa commented on #196
To reproduce in 0.6 + cudf:
change the below line to
[code]
The cause of the issue seems to be shallow copy of the [series].data being done here.
Currently when we add a column, we create a shallow copy of the data, for which  we call the _copy_construct:
https://github.com/rapidsai/cudf/blob/5b90ecd45c9302375a19bd1113f41c6b336274fd/python/cudf/dataframe/series.py#L140-L146

Which i am guessing ca

[2019-04-15 22:03] jakirkham commented on #1210
Yes, this should be possible. Here's [an example]( https://github.com/conda-forge/apr-feedstock/tree/master/recipe ).

Were there specific issues that you encountered? Is there a recipe I can look at?

[2019-04-15 23:09] #1362 closed

[2019-04-15 23:10] harrism commented on #1373
Reopening.. Apparently this was close-referenced by the wrong PR...

[2019-04-15 23:12] harrism commented on #1394
Fixed by #1397

[2019-04-15 23:12] #1394 closed

[2019-04-16 00:46] harrism commented on #1384
@nasica88 Can you try this? In the file cpp/tests/hashing/hash_partition_test.cu, comment out the lines I have commented out here:
[code]

[2019-04-16 11:57] harrism commented on #1285
@kkraus14 we can do it in libcudf, but not in 0.7.  Is this really P0 for 0.7? If not, let's consider moving to "next release" in feature planning.

[2019-04-16 11:59] harrism commented on #1294
We can't do the libcudf implementation of this in 0.7. Suggest moving it to "next release" in feature planning.

[2019-04-16 12:02] harrism commented on #1298
I'm going to move this to 0.8.

[2019-04-16 12:03] harrism commented on #1296
Implementation is basically the same as groupby.cumsum. Will move to 0.8 along with #1298

[2019-04-16 14:15] randerzander commented on #196
I couldn't find a reference to `add_column` in Pandas's docs at all. I might have missed it?

I propose two things:

1. Deprecate `add_column`. We already have the `copy` method which seems most like cuDF's add_column.
2. Add a `deep_copy` (or similarly named) kwarg to `to_gpu_array`

I can see users sometimes wanting to modify the column in place, and sometimes wanting to create a copy that numba

[2019-04-16 17:06] VibhuJawa commented on #196
Regarding point 2, i believe that :

If call ```to_gpu_array()``` directly on the series/column object the default behavior is creating a deep copy.

Currently, If we do :
[code]
This is because when we call ```series.to_gpu_array()``` , it calls ```to_dense_buffer(fillna=fillna).to_gpu_array()``` and in  ```to_dense_buffer()``` we create a copy of the ```cudf.dataframe.buffer.Buffer``` object whi

[2019-04-16 19:22] jrhemstad opened #1436 "[FEA] Explore passing Numba JITed device functions into libcudf"
**Is your feature request related to a problem? Please describe.**

Users of cuDF would like to be able to pass custom user-defined functions (UDFs) into operations such as `groupby` or windowed operations.

It would be nice if a cuDF user's UDF could be passed and used libcudf C++ features.

**Describe the solution you'd like**

Currently, cuDF users can JIT compile GPU kernels and device functio

[2019-04-16 19:26] jrhemstad opened #1437 "[FEA] Explore performance impact of enabling relocatable device code in libcudf"
**Is your feature request related to a problem? Please describe.**

It would be nice to quantify the impact is of enabling [reloctable device code](https://devblogs.nvidia.com/separate-compilation-linking-cuda-device-code/) in libcudf.

**Describe the solution you'd like**

A thorough study of micro-benchmark performance should be conducted comparing performance of key libcudf/cuDF operations with

[2019-04-16 20:40] #1341 closed

[2019-04-16 20:49] harrism commented on #1437
We probably need to create a set of microbenchmarks in order to do this... :)

[2019-04-16 20:51] jrhemstad commented on #1437
Probably. I was hoping to at least start with the ASV benchmarks that Kevin has created.

[2019-04-16 20:58] eyalroz opened #1438 "[BUG] cudf::util::round_up_safe is incorrectly marked constexpr"
This was a gaffe on my part which unfortunately slipped past review:

In `integer_utils.hpp`, I've written the function:
[code]
but it's not actually `constexpr`, since it can throw. It is not really possible to safely round up, because the rounding up can fail; and either we throw an exception or report an error some other way. We've been going down the exception road.

Solution: Just need to rem

[2019-04-16 23:46] VibhuJawa commented on #196
## Pandas behavior
Pandas default behavior seems to be creating a copy while adding a column .

## Code to check pandas behavior
[code]
### Output
[code]

[2019-04-17 04:54] j-ieong commented on #1384
@nasica88 Sorry for the late reply. Hrmm, the nvcc output doesn't have anything that seems out of place to me; similar to mine.

You can try @harrism's suggestion to comment out those lines.
Only other thing from the link error I can speculate is that you need to define `cols_to_hash` outside the class as well. You can try adding these `+` lines into `hash_partition_test.cu`:

[code]

[2019-04-17 08:08] kovaltan commented on #1398
Also PR #1142 adds cudf::bool8 type.
In the PR, we discussed we should move `atomicCASImpl(int8 or int16)` into `typesAtomicCASImpl`.

[2019-04-17 10:48] harrism commented on #1360
Apparently this is because Jetson (even Xavier) doesn't support Unified Memory. From the docs:

I guess JetPack Linux qualified as an embedded operating system.

In order to support this, we would need to modify the concurrent_map and multi map to not use Unified Memory by default. There are also other locations in cuDF that use Unified Memory...

[2019-04-17 11:00] harrism commented on #1360
Rather than just closing this issue, I'm going to convert it into a feature request for Jetson / UVM-less support in libcudf.

[2019-04-17 11:12] kovaltan commented on #1224
PL #1005 (reduction, scan) is merged.
Can I close this bug?
It also has `test_sum_boolean` test case and verified it worked.
https://github.com/rapidsai/cudf/blob/568cb94a299d39b60c3706e5e9316d9e625fa0c2/python/cudf/tests/test_reductions.py#L141-L149

[2019-04-17 11:14] harrism commented on #1436
Can RDC be enabled only for compilation units that need device linking? Or must it be applied to the entire library?

[2019-04-17 11:18] harrism commented on #1417
Since the gdf_scalar return value is type erased, can't you just adapt the return type to suit the input type?

[2019-04-17 11:37] kovaltan commented on #1417
Sorry, what do you mean?

For cudf::interpolate::midpoint(), I've already cared of underflow and overflow.
https://github.com/rapidsai/cudf/blob/c8e08560d9f475753b6607025d24907e51df779e/cpp/src/quantiles/quantiles.hpp#L45-L80

But the specialization cases of cudf::interpolate::linear() is not implemented yet since it is more difficult than midpoint().

[2019-04-17 12:13] JasonAtNvidia commented on #1360
Unified memory works on Tegra, it is just the Prefetch we need a workaround for.

See this documentation. https://docs.nvidia.com/cuda/cuda-for-tegra-appnote/index.html#effective-usage-unified-memory

[2019-04-17 14:48] #953 closed

[2019-04-17 14:56] nsakharnykh commented on #1360
@JasonAtNvidia can you just comment out all `cudaMemPrefetchAsync` calls and test it? (there shouldn't be many, just in the hash map class I believe)

[2019-04-17 16:54] JasonAtNvidia commented on #1360
Commenting out cudaMemPrefetchAsync works great. Builds and tests run great.  Do you think there is any performance to be gained by swapping in cudaStreamAttachMemAsync()?

[2019-04-17 17:04] kkraus14 opened #1442 "[DOC] `cudf.Series` is labeled as `cudf.reshape.general.Series`"
https://rapidsai.github.io/projects/cudf/en/0.7.0/api.html#series

[2019-04-17 17:07] jrhemstad opened #1443 "[DISCUSSION] libcudf column abstraction redesign"
Creating and interfacing with the `gdf_column` C struct is rife with problems. We need better abstraction(s) to make libcudf a safer and more pleasant library to use and develop.

In lieu of adding support for any new column types, the initial goal of a `cudf::column` design is to ease the current pain points in creating and interfacing with the column data structure in libcudf.

Goals:

- Identif

[2019-04-17 17:10] jrhemstad commented on #1443
My paint points:
1. Users are burdened with explicitly allocating/freeing device memory for columns. Ownership of the memory is ill-defined and inconsistent.
2. Basic interfacing with a column requires touching raw pointers. I.e., required to do things like `static_cast<T>(col->data)`, `if(nullptr == col->valid)`, `gdf_is_valid(col->valid, i)`, etc.
3. Allocating and interacting with the null bitm

[2019-04-17 17:12] kkraus14 commented on #1443
### Pain Points

1. Numba is currently used all over for memory allocation / deallocation and would MUCH rather that owned by libcudf but maintain interoperability with Numba Device Arrays.
2. Python column classes are completely disjointed from libcudf. Should ideally reference a `cudf::column` object to be used via Cython for better cudf<->libcudf interop.
3. Type specific implementations curren

[2019-04-17 17:17] jrhemstad commented on #1304
Closing in favor of https://github.com/rapidsai/cudf/issues/1443

[2019-04-17 17:17] #1304 closed

[2019-04-17 18:15] beckernick opened #1444 "[BUG] iloc should support column number indexing with a row slice is passed"
**Describe the bug**
Passing an integer slice to the row indexing position of `iloc` cause the column indexing to attempt to use the second argument passed as a key (causing a KeyError). [This line](https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/dataframe.py#L2828) causes the issue if two are passed. If the row indexer is a slice, this enforces a key-based column access wit

[2019-04-17 18:50] #1269 closed

[2019-04-17 18:52] beckernick commented on #1273
Closed by #1441

[2019-04-17 18:52] #1273 closed

[2019-04-17 18:52] beckernick commented on #1274
Closed by #1441

[2019-04-17 18:52] #1274 closed

[2019-04-17 18:58] VibhuJawa commented on #196
The default behavior currently for creating column seems to be creating shallow copies.
[code]

Me and @ayushdg are thinking that we should stick to shallow copy as default behavior .

We can mention this behavior in docs and may be throw a warning if a user tries to access the ```series.data``` object directly . Always creating deep copies may increase the gpu  memory usage too much.

[2019-04-17 19:10] eyalroz commented on #1443
I'll participate, but before listing pain points - I disagree about the deadline. "New development" for 0.7 end in 8 days. Burndown ends in 18 days. That's not a reasonable schedule IMO. And I don't think one-or-two-month throw-away changes would be reasonable/worth the effort.

## Pain points

(No offense intended. We are describing our pain here...)

1. Baked-in meta-data/statistics: A null coun

[2019-04-17 21:35] harrism commented on #1443
## Pain Points

Mostly reiterating what I think are the most important things to fix first. Basically, the problem is that gdf_column lacks encapsulation.

1. Explicit, manual, and low-level allocation and deallocation of column memory. Numba ~is~was used for this on the Python side, which required RMM to provide a monkey-patched numba workalike API for Python-side `numba.cuda.device_array` alloca

[2019-04-17 21:36] revans2 commented on #1443
1. It is not clear who owns a block of memory and who does not.
   * It is nice to have the ability to ignore the functions provided and take ownership of the memory to do things like coalescing allocations and host to the device transfers.
2. Documentation. I am okay with having the guts of the column on display.  The issue is that I have to reach into the guts to move data back and forth between

[2019-04-17 21:55] harrism commented on #1443
I have an idea regarding step 5. Revise to:

## 5. Initial Refactor

 1. Two candidate libcudf features shall be chosen for refactoring to use the new cudf::column abstraction
 2. Two developers (TBD) will take responsibility for refactoring the features (one each) to use the newly designed abstraction(s) and submitting a cuDF PR for review. At least one of the developers shall be different from t

[2019-04-17 21:57] harrism commented on #1443
I also would like to tighten up the schedule a bit. I would like to get the basic abstraction designed and implemented by 0.8 release.  If we can't do that, then I think the scope is too broad and should be narrowed.  Since most of our pain points agree, I don't think the scope is too large at this point.

[2019-04-17 22:01] jrhemstad commented on #1443
Updated with @harrism's feedback about schedule and the initial refactor process.

[2019-04-17 22:27] jlowe commented on #1443
## Pain Points
1. Device memory management is explicit and error-prone, and I would like to see automated output allocation.  However there are some use-cases with pre-allocated output targets, and it would be nice to not preclude those.
1. Related to the previous, the management of CPU-side objects associated with gdf_column can be messy.  Who is responsible for freeing the column name?  Should i

[2019-04-17 23:09] VibhuJawa opened #1448 "[BUG] fillna fails for cudf string series"
**Describe the bug**
 fillna fails for for cudf string series.

**Code to reproduce bug**

[code]
Error Trace

[code]

**Expected behavior**
The expected behaviour would have been to do the implementation or to  raise ```NotImplementedError```.

Currently ```cudf.dataframe.string.StringColumn```  inherits ```fillna```  from  ```TypedColumnBase.fillna```  and the abstract function has no inplace pa

[2019-04-17 23:58] kovaltan opened #1449 "[FEA] Add `gdf_dtype_extra_info` into `gdf_scalar`"
In discussion at PR #1440, `gdf_dtype_extra_info` is required in `gdf_scalar` to treat the resolution of `GDF_TIMESTAMP`
This includes C++ work and cython work.

[2019-04-18 00:40] kovaltan opened #1450 "[FEA] redesign quantile"
Merge quanatile_approx and quanatile_exact into a single API, and apply cudf c++ design like cudf::quantile() + throws exceptions.
And also discuss how to handle array of quantilies.

Why redesign is needed?

1. Pandas quantile does not have exact option

2. Instead, Pandas has numeric_only option
Pandas quantile supports Timestamp if numeric_only=False
It can compute quantiles as same input type,

[2019-04-18 01:03] #1224 closed

[2019-04-18 01:20] #1339 closed

[2019-04-18 08:22] eyalroz commented on #1443
@jlowe  and everyone else: About column names - do we actually use column names at all in libcudf? I'm not asking about Python code, just the C/C++.

[2019-04-18 08:52] kovaltan commented on #1443
My pain points:

1. bitmap iterator and/or class (validity bitmask handling nulls)
  The rack of bitmap iterator makes the implementation messy when the API handles the nulls.
  It would be easy to handle nulls if we use const bitmap iterator with transform iterator.
  Also validity bitmask class will be useful to manage nulls including allocating/deallocating helper

2. input colum check at each

[2019-04-18 09:55] eyalroz commented on #1443
@kovaltan :

* You suggest that the allocation of columns should occur outside of "the algorithms" (by which I take it you mean the implementation of cudf API functions). But is that a pain point about the column abstraction we use? And - do you think this should be resolved through the design of a column class?
* About the input checks: Note that, for now, we have PR #1390, and specifically `vali

[2019-04-18 11:48] JinHai-CN commented on #1302
#1451

[2019-04-18 11:54] kovaltan commented on #1443
@eyalroz ,

I mean "the algorithms" like cudf::scan(), does not mean cudf::column class.
For now, we passes pre-allocate output column to cudf::scan().
I think it should be pre-allocated, should not be allocated in cudf::scan().
cudf::column class can allocate device memory, and may have device_memory_owner flag.
cudf::column should free the device memory if device_memory_owner = true.

It's reall

[2019-04-18 13:11] jlowe commented on #1443
@eyalroz

The column names are filled in by the csv and parquet parsers.  There needs to be some way to convey the names discovered during parsing back to the caller.  However I could see some debate whether it really needs to be stored directly in the column structure.

[2019-04-18 14:18] revans2 commented on #1443
@eyalroz and @kovaltan
I do agree that a column should have some knowledge about ownership of the memory it references.
I also realize that

is not a part of the design goals here.  But I think it will become an important feature likely combined with JITing so we should at least think ahead to how this might work and not paint ourselves into a corner.  One of the key pieces of doing the lazy evalu

[2019-04-18 14:34] jrhemstad commented on #1443
Same as @harrism
The allocation of the columns should be out side of the algorithms.

@kovaltan I think you may have misunderstood Mark's comment here:

I believe he was referring to how _presently_ returning a `gdf_column` from a function is risky because we don't have any `gdf_column` destructor, so the burden falls on the caller to free the column's underlying memory.

However, we have identifi

[2019-04-18 15:19] dillon-cullinan opened #1452 "[BUG] Local build script incorrectly changes permissions on build directories"
**Describe the bug**
Build directories after running the local build script are changed to require root permissions instead of the user's permissions.

This will cause errors in CMake building.

[2019-04-18 15:31] #1452 closed

[2019-04-18 16:33] #1302 closed

[2019-04-18 18:04] felipeblazing opened #1458 "[FEA] Use arrow::io::randomaccessfile for file i/o"
**Is your feature request related to a problem? Please describe.**
I would like to use arrow::io::randomaccessfile as a method for reading from files with our io in cudf. Passing just a file path seems a bit limiting so I propose we use the arrow::io::randomaccessfile abstraction for doing so.

**Describe the solution you'd like**
Allow the parquet_reader api to receive an arrow::io::randomaccessf

[2019-04-18 20:06] beckernick opened #1459 "[BUG] iloc is not performing exclusively integer based indexing"
**Describe the bug**
As a user, I expect iloc to exclusively perform integer based indexing. Currently, passing a column name to the second argument lets me return that column. The equivalent pandas code fails with a ValueError. This is due to the enforcement of a key-based column access with the second argument if two are passed and row indexer is a slice because this takes us to the DataFrame __

[2019-04-18 21:06] eyalroz commented on #1443
@revans2 :

You are preaching to the choir - I definitely agree (in fact I would love to work on faster JITing using PTX, regardless of cudf). This part of why I've proposed removing some of the features of columns for the basic/fundamental abstraction - flexibility for later use.

But why are we certain that the allocating code will be part of what gets JITed together? Clearly, to construct opera

[2019-04-18 21:16] eyalroz commented on #1443
@jlowe :

Certainly, but the parsers are not part of libcudf; so why should this extra information be passed to libcudf if it doesn't get used there at all?

[2019-04-18 21:18] beckernick opened #1460 "[BUG] melt keyword argument var_name cannot be None"
**Describe the bug**
As a user, I want to be able to use melt with dask-cudf. Currently, the fact that cudf melt's `var_name` keyword argument cannot equal `None` is one of two reasons causing dask cudf's melt to fail. This is due to [this line](https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/reshape/general.py#L135) in our melt implementation. The OrderedDict can take `None` as a key

[2019-04-19 00:53] harrism commented on #1443
Since when? The CSV, parquet, and soon ORC and Jason-lines parsers are all part of libcudf.

[2019-04-19 07:29] eyalroz commented on #1443
@harrism : Yes, right, I misspoke. That is part of the libcudf codebase. But the library itself, or rather the API functions which process columns don't take CSVs and parse them, nor do they make calls to CSV-parsing code. And the names aren't used. So, what if the names were to simply be parsed into a separate array in the `csv_read_args` structure?

[2019-04-19 08:40] nasica88 commented on #1384
@harrism  Sorry for my late response.  I lost my environment, and had to build a new one... and YES !  Your suggestion worked !  Thanks a lot !

...
[ 84%] Built target HASH_MAP_TEST
[ 86%] Built target UNARY_TEST
[ 89%] Built target ORDERBY_TEST
[ 91%] Built target BIT_MASK_TEST
[ 92%] Building CUDA object tests/CMakeFiles/HASHING_TEST.dir/hashing/hash_partition_test.cu.o
[ 94%] Built target REPL

[2019-04-19 10:27] kovaltan commented on #1443
@jrhemstad

Ah, I've misunderstood Mark's comment.
I have only one concern about allocating device memory inside of cudf::algorithm().
If allocating is in cudf::algorithm(), it's hard for users to manage device memory allocation by themselves,
though I'm not sure if the users want, and there would be some way to pass user defined allocator to cudf::algorithm().

'''
// This is safe because lifetim

[2019-04-19 10:34] pradghos opened #1464 "pytests failure for cuDF - test_orc.py and test_sparse_df.py failed"
Test failures observed while running `cuDF` pytests.
- Failed log -

[code]
reason for failure :
[code]

[2019-04-19 13:45] jrhemstad commented on #1443
You've alluded to the solution. It's orthogonal to the column design, but ultimately we would like it such that you can pass a custom allocator into any cudf algorithm, similar to how you can with Thrust.

[2019-04-20 00:20] brhodes10 opened #1467 "[FEA] Drop Duplicates"
**Is your feature request related to a problem? Please describe.**
I wish I could use cudf to drop duplicate rows.

**Describe the solution you'd like**
A function that drops the duplicate rows from a dataframe

**Describe alternatives you've considered**
groupby

**Additional context**
Add any other context, code examples, or references to existing implementations about the feature request here.

[2019-04-20 05:27] OlivierNV commented on #1443
Regarding column names: I think it should eventually not be part of the column itself but part of a parent array of column that would include the schema, containing column names and their relationship (will also allow preserving schema information when reading/writing columnar formats).

[2019-04-20 07:23] pyotr777 opened #1468 "[FEA] Assignment by index"
[code]
cuDF version `0.6.1+1.g9ca9325`

How do I assign values to series and dataframes by index (and column)?

Edit (Mark Harris, May 27 2019):

Setting ranges of values is also needed, e.g.: `series[x:y] = value`

So, on the C++ side, I propose a new API

```gdf_column cudf::set_range(gdf_column const &input,  gdf_scalar const& value, gdf_index_type start, gdf_index_type end);```

[2019-04-20 22:34] kkraus14 commented on #1468
@pyotr777 currently this isn't supported via the cuDF API. You could hack around the lack of support today by writing a Numba kernel against the underlying device array data of the Series `series.data.mem`, but we will support this in the future.

[2019-04-21 15:27] eyalroz opened #1469 "[BUG] CMake warns of conlficts/hiding of libz.so.1"
I've pulled branch-0.7 and recreated my conda environment. I deleted and recreated my build directory, and ran `cmake ../cpp`. Generation did complete, but I get the following warning repeated several times:
[code]
plus another copy of this warning (with different line numbers and `CMakeLists.txt` file)for each `ConfigureTest()`.

I didn't use to get this warning. My guess is that this has somethi

[2019-04-21 15:47] eyalroz opened #1470 "[BUG] Tests fail to build - undefined references to NVcategory functions"
I've pulled branch-0.7 and recreated my conda environment. I deleted and recreated my build directory, ran `cmake ../cpp` and built. The compilation went fine, but when linking the test binaries, I get link errors regarding NVCategory symbols:
[code]
and so on.

My guess is that this has something to do with PR #1435, but I'm not sure.

PS:
1. I use Devuan ASCII (~= Debian Stretch) with CUDA 9.2 i