[2022-10-18 23:15] vyasr commented on #9854
Could you elaborate on the profiling needs that @jrhemstad sees here? Do we want to be able to call the detail APIs from other places without adding NVTX ranges? It seems a little odd that we would need to make this distinction unless we have an issue with `cudf::foo` calling `cudf::bar` and inserting a second NVTX range, but perhaps I'm missing some context here. Is that kind of thing worth the o

[2022-10-18 23:22] vyasr commented on #11605
@galipremsagar what data types are missing? It seems like all of our main extension types are there (list, struct) but perhaps I missed something?

[2022-10-18 23:25] bdice commented on #9854
@vyasr I think the decision to move away from organizing our APIs as public/detail is out of the scope for the project of exposing streams. I am in favor of keeping the current approach while we add streams to the public API. The nvtx ranges are one consideration, but there are others. The public APIs are currently fairly short, and do a good job of separating the (lengthy) implementations from th

[2022-10-18 23:26] vyasr commented on #11572
Would love to see this make it in, `quantile` vs `quantiles` gives me a headache every time I see it in cudf.

[2022-10-18 23:30] vyasr commented on #11532
@shwina @JasonAtNvidia is this still an issue that needs addressing? If nvtx is now available on Jetson, perhaps the main action item at this point is to remove the `--disable-nvtx` flags and enforce that both C++ and Python always use NVTX?

[2022-10-18 23:40] vyasr commented on #10350
I'm going to close this issue. The items that have already been completed in the checklist were clearly scoped as replacing one way of doing things with another. The remaining tasks are more nebulous and are more indicative of best practices that we can work towards on a case-by-case basis when we encounter reasons to employ them (e.g. using `[[nodiscard]]`).

[2022-10-18 23:40] #10350 closed

[2022-10-19 06:53] Ullar-Kask opened #11944 "[BUG] Assignment of string list to column doesn't work"
**Describe the bug**

This does not work:

df.loc[df['column'] =='value', 'column2'] = ['0','1']

TypeError: Implicit conversion to a host NumPy array via __array__ is not allowed, To explicitly construct a GPU matrix, consider using .to_cupy()
To explicitly construct a host matrix, consider using .to_numpy().

Integers do work:
df.loc[df['column']=='value', 'column2'] = [0,1]

Both work in pandas

[2022-10-19 13:43] JasonAtNvidia commented on #11532
@vyasr I think we can close this issue as it is no longer relevant.  You are correct that nvtx libraries are universally available libraries now.

[2022-10-19 13:43] #11532 closed

[2022-10-19 14:21] davidwendt commented on #11916
Nightlys are failing for this.
https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cudf/job/branches/job/cudf-gpu-build-branch-22.12/1/CUDA=11.5/testReport/junit/cudamemcheck/PARQUET_TEST/ParquetDictionaryTest_ParquetSizedTest_DictionaryTest_22/

[2022-10-19 15:34] vyasr commented on #9854
That's fine, we can have the organization discussion separately. This discussion gives me enough information for how to proceed on the streams front for now.

[2022-10-19 15:41] jrhemstad commented on #9854
The general structure of all libcudf APIs is:

[code]

Having this consistent pattern of a public function just calling a detail function is convenient for all sorts of things. The most immediate is having a place to put the `CUDF_FUNC_RANGE` without having to put it in the actual implementation where it would be easier to forget.

In general, it's just convenient to have a level of indirection be

[2022-10-19 15:44] GregoryKimball commented on #11916
@vuule would you please take a look at this memcheck failure?

[2022-10-19 18:39] GregoryKimball opened #11947 "[FEA] Provide option to read fields with mixed types"
**Is your feature request related to a problem? Please describe.**
The `cudf_experimental` JSON reader does not faithfully read fields with mixed nesting.

If the field contains `scalar` and `list` then the `scalar` values are set to null:
[code]

If the field contains `scalar` and `struct` then the `scalar` values are set to null:
[code]

If the field contains different levels of nested lists, th

[2022-10-19 18:56] mythrocks commented on #7093
At the risk of repeating what @codereport covered in the description, I can try provide a summary:

Window bounds are defined in CUDF via a "preceding" and "following" row-count. For reasons that predate my work on window functions, the "preceding" count *includes* the current row. This is not intuitive:
1. A window defined as `[1,1]` should intuitively cover *3* rows (1 preceding, 1 current, 1 fo

[2022-10-19 20:14] harrism commented on #7093
I definitely won't stand in your way. :)

[2022-10-19 20:45] revans2 opened #11948 "[BUG] CSV reader cannot handle unquoted quote characer appearing in a field"
**Describe the bug**
This is directly from https://github.com/NVIDIA/spark-rapids/issues/6435 If you have a field like `abc""` in a CSV file the cudf CSV parser stops processing more data.

**Steps/Code to reproduce bug**
Create a file `test.csv` with the following data in it.

[code]

Now try to read it using CUDF.  The last two rows are skipped, and the `acb""` is read back missing the last `"`

[2022-10-19 22:35] vyasr commented on #11573
I'm going to close this as resolved for now, but feel free to reopen if the issue still exists.

[2022-10-19 22:35] #11573 closed

[2022-10-19 22:38] vyasr commented on #11411
@infzo was the proposed UCX solution sufficient for your needs?

[2022-10-20 00:02] bdice commented on #11673
Let's break it down by function. Overall this feels like it should be named `jit/util.cpp` instead of `jit/type.cpp` if we keep it. It's not defining any types (only a type-stringify function in `get_type_name`) and _barely_ deals with types in the context of `get_data_ptr`.

### `jit::get_data_ptr`

I don't see any similar functionality to this elsewhere in libcudf. I think this is necessary but

[2022-10-20 02:52] ttnghia commented on #9854
I agree with the logic above :+1:. Thanks all for working on this (and the related PRs :smiley: ).

[2022-10-20 06:41] Ankitkurani1997 commented on #11713
Closing issue, resolved

[2022-10-20 06:41] #11713 closed

[2022-10-20 13:26] revans2 commented on #11948
I was able to make the test case a lot simpler and still see the same error.

[code]

shows the same problems, only the first three lines come out, and the third entry is only `abc"`, it is missing the final `"`

[2022-10-20 13:45] revans2 commented on #11948
Wow, even if I escape the quotes I still get the problem with the lines, but it "fixes" the issue with the quote at the end being removed, but it does not remove the escapes from the quotes.

[code]

But the output is

[code]

when it should be

[code]

Oddly if I remove the escapes and just keep the entire thing quoted.

[code]

It fixes the problem with dropping lines, but it does not fix the si

[2022-10-20 14:44] abellina opened #11949 "[FEA][JNI] Track GPU memory usage at process and at local level"
This issue tracks the cuDF side of https://github.com/NVIDIA/spark-rapids/issues/6745.

Essentially, we'd like to be able to track the maximum amount of memory used when calling a set of cuDF functions from Spark. This would be something we enable during debug, as new code is getting implemented at least, but I could also see the Spark code having a mode where it will run slower, but it will help

[2022-10-20 16:04] #5505 closed

[2022-10-20 16:09] vyasr commented on #11944
@Ullar-Kask could you include a MWE, specifically how you constructed your `df`? Here is what I observe on the latest version of cudf, which looks like the same issue as #11298:
[code]

[2022-10-20 16:13] vyasr commented on #11386
@shwina is this something we need to follow up with the cuda-python team on?

[2022-10-20 16:28] hyperbolic2346 opened #11951 "[FEA] Pipeline IO, decompression and decoding in Parquet reader for performance improvements"
**Is your feature request related to a problem? Please describe.**
Parquet reading has three distinct steps: reading data from disk, decompressing, and processing the data. These are accomplished in series, the entire file is read from disk before decompression or processing begins. This feature request is to overlap these parts of the work for a performance increase.

**Describe the solution you'

[2022-10-20 16:32] vyasr commented on #11301
I'm going to close this issue for now since the underlying issue is a duplicate of #11008 (running `apply` on list columns). Feel free to continue the conversation if there is still a misunderstanding with this specific example.

[2022-10-20 16:32] #11301 closed

[2022-10-20 16:36] quasiben commented on #11944
@wence- is also working on some potentially related fixes in #11904

[2022-10-20 16:47] vyasr commented on #11169
@robertmaynard do you have any other ideas what could cause this? I didn't have any further ideas here, but it seemed to me to be very likely due to some issue with the local build toolchain.

[2022-10-20 16:55] vyasr commented on #11290
@esnvidia did @shwina's last comment help address your confusion? Is there anything additional that needs to happen here?

[2022-10-20 16:56] robertmaynard commented on #11169
CMake invokes the compiler ( `nvcc` or `g++` ) for the link step and not `ld` directly. I agree that explicitly requesting a non-gold linker should fix the issue.

In this case we would be looking at something like ( after fully deleting the build directory at cpp/build )

[code]

[2022-10-20 16:58] bdice commented on #11329
I caught another place where `nan_equality::UNEQUAL` is being used in `make_merge_sets_aggregation`. https://github.com/rapidsai/cudf/blob/536ddd08fd2e86940c55dab178f4a1a1e9361539/cpp/include/cudf/aggregation.hpp#L592

I will make a follow-up PR that can be merged after #11621.

[2022-10-20 17:02] #6979 closed

[2022-10-20 17:09] vyasr commented on #10382
[Experimental pip wheels are now available](https://rapids.ai/pip.html).

[2022-10-20 17:10] shwina commented on #11944
As a note, I believe this will work:

[code]

(this is still a bug -- we shouldn't require the user to construct a `Scalar` manually)

[2022-10-20 17:47] Ullar-Kask commented on #11944
@vyasr  I've tried various ways to circumvent the error, e.g.

`df.loc[df['column'] =='value', 'column2'] = ['0','1']`
or,
[code]
or,
`df.loc[df['column'] =='value', 'column2'] = cudf.Series(neg_lst)`

but all fail with slightly different error msgs:
`ValueError: Unsupported dtype <U1`
or
`ValueError: Unsupported dtype <U6`
or

[code]

[2022-10-20 19:24] ttnghia commented on #11329
How about renaming `nan_equality::ALL_EQUAL` to just `EQUAL` to match with `null_equality`?

[2022-10-20 20:20] vyasr commented on #10393
@jrhemstad I agree with this in principle, but I wonder if this might make a worse user experience in practice. Does anyone actually create aggregations in any way aside from using the `make_*_aggregation` factories? Those all return `std::unique_ptr<aggregation>`. Yes, the current API for reductions makes ownership assumptions about the inputs that make it less flexible than it should be and enfo

[2022-10-20 20:28] jrhemstad commented on #10393
It shouldn't be possible to construct via anything other than a factory. But that's not the point.

I remember there was some specific problem we ran into that inspired me to file this issue, but I can't remember exactly.

You'll never be able to convince me that a function that takes `unique_ptr<T> const&` is anything other than bad and should be changed. Rules like this exist for good reason and

[2022-10-20 20:46] vyasr commented on #10393
At the risk of diverting this conversation, is that a general stance or are you specifically referring to how aggregations work? If the former... why?

My understanding of the rule is that it serves two purposes:
1. Communication of intent. If the function does not need to know about the ownership characteristics, it shouldn't act like it needs to.
2. Flexibility. Accepting a reference or a raw po

[2022-10-20 23:08] davidwendt commented on #11382
Closing this as resolved. Feel free to reopen if there is new information.

[2022-10-20 23:08] #11382 closed

[2022-10-20 23:30] vyasr commented on #11329
Not quite done yet. @bdice be careful with the wording on your PRs :) GH sees "partially resolves X" as ".... resolves X" and still closes the issue AFAICT

[2022-10-20 23:34] vyasr commented on #9639
@brandon-b-miller do you want to keep using this issue to track the remaining work as well (the methods that output strings)?

[2022-10-21 05:29] GregoryKimball commented on #11091
@ttnghia would you please elaborate on this use case? What code changes would you propose?

[2022-10-21 05:38] GregoryKimball commented on #11141
Was #11603 an attempt to address this issue?

[2022-10-21 06:16] GregoryKimball commented on #11162
Thank you @revans2 for starting this discussion of Spark's `array_sort` API and it's `func` argument. The documentation you shared includes two examples. Are these typical of the user-provided `func` arguments - are there other patterns you could share?

`case when left < right then -1 when left > right then 1 else 0 end`: is this just a verbose write-out of the default behavior?
`case when left i

[2022-10-21 06:17] GregoryKimball commented on #11163
Thanks @revans2 for sharing this issue. Do you think there is enough value in expanding our AST implementation to warrant a repo milestone?

[2022-10-21 06:23] GregoryKimball commented on #11165
Thank you @dagardner-nv for sharing this request. Currently our main JSON focus is on reading arbitrarily-nested data types ([Nested JSON reader](https://github.com/rapidsai/cudf/milestone/13)).

Writing JSON is complex because there are several common ways to represent tabular data in JSON. Would you please review the `orient` argument in `pandas.read_json` and share which convention would match

[2022-10-21 06:29] GregoryKimball commented on #11169
Hello @MoamenMetwali, thank you for raising this issue. Please feel free to reopen if you are having trouble with our latest release. Also I recommend checking out our [devel docker](https://hub.docker.com/r/rapidsai/rapidsai-dev/tags) images, so that you can reference a working build environment.

[2022-10-21 06:29] #11169 closed

[2022-10-21 06:37] GregoryKimball commented on #11223
Would it be correct to say that you would like `cudf::slice` to accept a vector of (start, end) tuples?

[2022-10-21 06:40] GregoryKimball commented on #11270
Thank you @isVoid for sharing this request. We plan to deprecate the cudf engine soon, but since we are working on `dtype` support I will add this to [Nested JSON reader](https://github.com/rapidsai/cudf/milestone/13). Probably affects the same files as #11817

[2022-10-21 06:44] GregoryKimball commented on #11317
Thank you for raising this issue. `cudf.DataFrame.to_json` currently uses a host-fallback to pandas, and it seem that the `index` argument is not correctly passed.

Seems like this could be related to other changes in #11780

[2022-10-21 06:47] GregoryKimball commented on #11324
Please feel free to re-open if the issue is not solved. Thank you @rjzamora for your contribution.

[2022-10-21 06:47] #11324 closed

[2022-10-21 06:56] GregoryKimball commented on #11351
Since pandas throws on an attempt to cast invalid values to datetime, I'll mark this as related to pandas API compliance.

[2022-10-21 07:08] GregoryKimball commented on #11411
Please feel free to re-open if you ran into any trouble with UCX!

[2022-10-21 07:08] #11411 closed

[2022-10-21 07:19] GregoryKimball commented on #11515
Would this be possible with `apply` instead of `agg`? Is there an extension of #11452 that could accept some custom aggregations?

[2022-10-21 07:27] GregoryKimball commented on #11765
@wence- was this solved by [11687](https://github.com/rapidsai/cudf/pull/11687), [11671](https://github.com/rapidsai/cudf/pull/11671)?

[2022-10-21 07:35] GregoryKimball commented on #11729
Nice work @davidwendt! Are there any outstanding tasks associated with this issue?

[2022-10-21 07:38] #11624 closed

[2022-10-21 07:41] GregoryKimball commented on #11605
Please feel free to re-open if #11604 did not solve this.

[2022-10-21 07:48] GregoryKimball commented on #11748
I will convert this into a documentation issue. The update will be needed in https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md#list-columns

[2022-10-21 07:53] wence- commented on #11765
I don't think so, the struct name dtype issue needs to be solved sui generis for every case right now :(

[2022-10-21 11:59] davidwendt commented on #11729
Nothing outstanding currently. But I'll be working on fixing this. I just don't have any PRs open at the time.

[2022-10-21 12:38] bdice commented on #11748
I think this is solved by #11853.

https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md#libcudf-expects-nested-types-to-have-sanitized-null-masks

[2022-10-21 13:35] wence- commented on #11944
Here's a complete example:
[code]

This goes through `_DataFrameLocIndexer._setitem_tuple_arg` for which `is_scalar` returns `False`, `isinstance(value, DataFrame)` also returns `False`, so we try and turn the value `["0", "1"]` into a cupy array which fails because cupy can't handle `str` dtypes.

Now it gets messy, because there's some logic error in list column setitem that precludes many of th

[2022-10-21 13:37] wence- commented on #11944
This works the first time because it's adding a new column. The second time you execute things, the column already exists so you go down the bad code path.

[2022-10-21 13:46] mattf commented on #8973
this is a segfault in 22.10 (cc @beckernick)

[code]

[2022-10-21 13:48] shwina commented on #8973
@galipremsagar any chance you could look into this?

[2022-10-21 13:55] mattf opened #11965 "[FEA] cudf.DataFrame.filter"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, trying to use `import cudf as pd`

**Describe the solution you'd like**
`cudf.DataFrame.filter` matching https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.filter.html

[2022-10-21 13:59] mattf commented on #11934
@quasiben the cudf.DataFrame constructor works for the specific case i have, but the most important thing is the API matches what pandas.DataFrame.from_dict provides

[2022-10-21 14:32] galipremsagar commented on #8973
Yup

[2022-10-21 14:42] galipremsagar commented on #11605
We list all our extension types(as text) but their docstrings are not discoverable by any means(dtypes page/search). I intend to add that aspect.

[2022-10-21 14:45] #11929 closed

[2022-10-21 14:45] #11942 closed

[2022-10-21 15:05] vyasr commented on #11748
Agreed. Closing.

[2022-10-21 15:05] #11748 closed

[2022-10-21 15:21] dagardner-nv commented on #11223
Yes a vector of either tuples or pairs

[2022-10-21 15:23] #10393 closed

[2022-10-21 15:24] vyasr commented on #10393
@jrhemstad I've pushed the fixes, but for my edification I am still interested to hear your answer 🙂

[2022-10-21 15:39] vyasr commented on #7093
@mythrocks would you be up for taking this on at some point? I'm happy to help make the Python changes if you'd like help there!

[2022-10-21 15:40] revans2 commented on #11163
I don't know what you mean by a repo milestone? Is this just for tracking purposes?  If so @sameerz what is the high priority on this?

[2022-10-21 15:41] vyasr commented on #11673
Assigning to @bdice after offline discussion. I agree on the steps to take. The only places where we need to remove the usage of `get_type_name` for error messages that I am aware of are in `cpp/src/table/row_operators.cu` as introduced by the list lexicographic comparator.

[2022-10-21 15:41] revans2 commented on #11162
Yes this is very typical of what a user would provide.

[2022-10-21 15:43] vyasr commented on #9828
@shwina are you aware of any issues with proceeding here? @bdice's [last comment](https://github.com/rapidsai/cudf/issues/9828#issuecomment-999121929) shows what APIs still need to be updated.

[2022-10-21 15:45] vyasr commented on #11089
@ttnghia did you have any specific ideas of places where we could leverage this new feature, or do we just need to do a search for usage of `cudf::unique` calls to see where we are sorting first?

[2022-10-21 15:52] dagardner-nv commented on #11165
@GregoryKimball thanks, and yes for the purposes of Morpheus most of the time by the time we get around to writing it the data would be flat.

I wonder if it could be possible to do something like:
[code]

[2022-10-21 15:52] vyasr commented on #11040
One additional consideration that came up here during the implementation of the list lexicographic comparator is the need for separate code paths for when the compared tables contain nested data to avoid slowdowns of the non-nested data case due to the compiler's inability to sufficiently inline and optimize the complex code paths involving nested types. Whatever approach we take here will need to

[2022-10-21 15:59] vyasr commented on #11016
The other part of what needs to happen here (in addition to resolving performance regressions caused by differences between `cuco::static_map` and `concurrent_unordered_map`) is to introduce the same sort of `has_nested` templating to the equality comparators as I did for the lexicographic comparator. Then, rather than maintaining a completely separate code path in contains where one uses the old

[2022-10-21 16:01] sameerz commented on #11163
I think what @GregoryKimball is referring to as a milestone is effectively an epic of work for AST.

In terms of priority, AST helps the the RAPIDS Spark plugin and is necessary for some queries.  It is worth tracking as a milestone.

[2022-10-21 16:31] GregoryKimball commented on #11965
Thanks @mattf for raising this suggestion. It seems like `filter` is something we could implement in the python based on our existing libcudf string APIs. Would you please share more about your application? Are you most interested in the `items`, `like` or `regex` parameter?

[2022-10-21 16:44] GregoryKimball commented on #11742
Thanks @sononix for reaching out. I'd like to update that we just added another [example for manipulating strings](https://github.com/rapidsai/cudf/tree/HEAD/cpp/examples) columns. We agree that more examples would be helpful!

Speaking of higher-level languages, I'd like to encourage you to try using libcudf through the cuDF-python layer. There is python environment overhead, but the compute time

[2022-10-21 16:44] #11742 closed

[2022-10-21 16:52] vyasr commented on #9854
@nvdbaranec @harrism @jrhemstad @ttnghia @bdice I've opened #11967 to address this. I'd appreciate some feedback regarding how we want to handle the cases where there are other default parameters. Let's continue that discussion on the PR.

[2022-10-21 17:20] vyasr commented on #11085
@shwina @wence- this seems tangentially related to the `__setitem__` issues that @wence- is currently investigating. Is fixing this within the scope of the current work?

[2022-10-21 17:36] vyasr opened #11968 "[FEA] Require null counts on column construction"
**Is your feature request related to a problem? Please describe.**
Currently the null count may be provided when constructing a column, or it may be left unknown to be computed lazily when it is needed. This approach has performance benefits in some cases, but it is problematic for exposing a stream-ordered API because null counts may be used in contexts where a stream is not available and request

[2022-10-21 17:38] vyasr commented on #3579
I am going to close this in favor of the discussion on #11968 since that is more in line with the current goals of libcudf..

[2022-10-21 17:38] #3579 closed

[2022-10-21 17:48] vyasr commented on #11395
@mythrocks @hyperbolic2346 I looked through the code in `writer_impl.cu` and I'm not sure what the best approach is here. Aggregate initialization is totally fine with (public) parent classes and members, but the issue with either aggregate initialization or the use of a constructor is that I see at least three variants of these objects in terms of what members are set. It's not clear to me if tho

[2022-10-21 18:00] #11916 closed

[2022-10-21 18:10] vyasr commented on #11548
I see an [extraneous `sort_values` call in `Column._obtain_isin_result`](https://github.com/rapidsai/cudf/blob/branch-22.12/python/cudf/cudf/core/column/column.py#L760) that can be removed, but I don't see any impact on performance locally when I make that change. Perhaps you can try that locally and see if it improves things. However, I suspect part of the problem is that [we are explicitly sorti

[2022-10-21 18:27] GregoryKimball commented on #11948
Thanks @revans2 for investigating this. I'm posting a python reproducer:
[code]

[2022-10-21 18:41] vyasr commented on #5922
@shwina Is this intended to be unconditional, or only when requested by the user? We will also need to start passing streams down to libcudf everywhere in order to support this.

[2022-10-21 18:54] vyasr commented on #11012
I believe that addressing this is blocked on #11844, or at least should be conditioned on addressing that issue. Once the newer comparators are used everywhere, we can remove the old comparators and move the new ones into the places that we want them.

[2022-10-21 19:00] pentschev commented on #5922
My take on this is that we could begin with an opt-in solution, like we've done for CuPy with [`CUPY_CUDA_PER_THREAD_DEFAULT_STREAM`](https://docs.cupy.dev/en/stable/reference/environment.html#envvar-CUPY_CUDA_PER_THREAD_DEFAULT_STREAM). This could allow us to test things without being too intrusive, and if this proves to be useful then we could enable it by default.

[2022-10-21 19:10] brandon-b-miller commented on #9639
Just wanted to provide an update on this feature since we now have partial support for this and I think we have a clear picture of what's left to be done and a tentative timeline. Here is a summary.

**22.10 introduced string udfs via the `strings_udf` library**
With the merge of https://github.com/rapidsai/cudf/pull/11319 (as well as a flurry of follow up fixes), a new separately installable pack

[2022-10-21 19:19] GregoryKimball commented on #11754
@revans2 Does `byte_cast` create unsanitized lists? If I understand this function correctly, it can convert an `int64` column into a `List<int8>` column.

[2022-10-21 19:25] jakirkham commented on #5922
Yeah agreed. We probably want to support both the current mode and PTDS for some time. There are likely different issues we will run into. So having an escape hatch to old behavior is quite useful.

[2022-10-21 19:34] jrhemstad commented on #10393
Yes. This is just unique how we designed cudf's aggregations. The base `aggregation` type [should be opaque ](https://github.com/rapidsai/cudf/issues/6895) and the only way to construct them should be through the factories.

That isn't to say the derived aggregation types couldn't be directly constructible. We just chose to make the factories the canonical method since our primary users are runtim

[2022-10-21 19:38] vuule commented on #11812
Dug into this further. The output from nvcomp 2.4 differs from the output we get from the internal deflate decompression, in some cases. Decompressed output buffer is much smaller than the correct output and the content differs (not just cropped).
Both the input and output are smaller then 64KB, so the size limit should not be the issue here.

Provided repro steps to nvcomp team.

[2022-10-21 19:39] #11686 closed

[2022-10-21 19:43] bdice commented on #11754
Correct, this function is creating unsanitized lists, which is a bug. [This logic](https://github.com/rapidsai/cudf/blob/9c06330363db4da99803a3728b8bf44f9829f0b9/cpp/src/reshape/byte_cast.cu#L66-L81) copies nonzero bytes even if the input element is null. The input's null mask is copied onto the output parent list column, but the null children are nonempty.

[2022-10-21 19:47] GregoryKimball commented on #11794
Is this issue still open? The repro doesn't appear to overflow on 22.12.
[code]

[2022-10-21 19:50] galipremsagar commented on #11794
IDK what change fixed this issue in `22.12`, @davidwendt shall we close this issue or keep it open if you think this isn't actually fixed?

[2022-10-21 19:52] jrhemstad commented on #11968
For completeness, one other idea for what we could do here is still allow the null count to be unknown, but change the behavior of the `null_count()` member function to throw an exception if invoked when the underlying null count is unknown.

This would make its behavior more akin to a `std::optional` than a lazily computed and memoized member.

I'm not exactly advocating for this idea, but I want

[2022-10-21 20:01] GregoryKimball commented on #11896
Thanks @miguelusque for raising this issue. I know that we've had trouble supporting the pandas MultiIndex behavior. I believe there was a proposal to drop MultiIndex support - how big of an impact would that be for the users you've worked with?

[2022-10-21 20:09] GregoryKimball commented on #11913
Thank you @ochan1 for sharing this issue. Are you interested in doing testing with a more recent version of libcudf - or is there some reason you must target 22.02?

[2022-10-21 20:10] #11329 closed

[2022-10-21 20:12] davidwendt commented on #11794
My assertion was that there is nothing for us to fix per our developer guidelines https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/doxygen/developer_guide/DEVELOPER_GUIDE.md#libcudf-does-not-introspect-data
So I'm ok to close this.

[2022-10-21 20:13] #11794 closed

[2022-10-21 20:16] GregoryKimball commented on #6496
I'll close this for now, and we will reopen when Avro support receives a strong pull from the user base.

[2022-10-21 20:16] #6496 closed

[2022-10-21 20:17] GregoryKimball commented on #11923
I'd like to cross-reference this issue with #11968. It's likely that the `null_count` appearances in profiles will change as we refactor `null_count` for compatibility with user-provided streams.

[2022-10-21 20:25] GregoryKimball commented on #11934
@mattf Would you please provide a specific case where `pandas` and cudf` diverge in `from_dict` behavior?

[2022-10-21 20:29] rjzamora commented on #11934
I think the problem is that there is no `cudf.DataFrame.from_dict` method at all.

[2022-10-21 20:36] abellina opened #11970 "[FEA][JNI] Throw a specific java exception for OOM"
Currently we catch `rmm::out_of_memory` here: https://github.com/rapidsai/cudf/blob/branch-22.12/java/src/main/native/include/jni_utils.hpp#L853, and then we throw `java.lang.OutOfMemoryError`.

The problem is that this exception type is normally used for the Java heap (but we are using for GPU memory as well), as pointed out by @gerashegalov here: https://github.com/NVIDIA/spark-rapids/pull/6810#

[2022-10-21 21:06] ochan1 commented on #11913
I am okay with doing testing with later versions of libcudf, unless there are major changes in the API

[2022-10-21 21:59] vyasr commented on #11290
I'm going to close this as solved - the confusion was around the fact that we need a group per row, not just the set of unique values that exist - but please feel free to reopen if needed.

[2022-10-21 21:59] #11290 closed

[2022-10-22 03:07] vuule commented on #11727
Closing as the issue is in line with the expected behavior and there is no recent activity.

[2022-10-22 03:07] #11727 closed

[2022-10-22 06:20] miguelusque commented on #11896
Hi @GregoryKimball , thank you!.

Please find below the original code that I was porting from Pandas to cuDF. Unfortunately, `.add_prefix()` and `.and_suffix()` methods do not work with `MultiIndex`.

Original code:

[code]

Workaround:

[code]

Hope it helps!

[2022-10-22 11:47] mattf commented on #11934
@GregoryKimball `pandas.DataFrame.from_dict` exists and `cudf.DataFrame.from_dict` does not

[2022-10-22 11:52] mattf commented on #11965
@GregoryKimball i expect cudf's filter to behave like pandas', order of importance is `like` -> `regex` -> `items`

[2022-10-24 10:58] mattf opened #11975 "[FEA] cudf.Series.hasnans"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas to cudf, trying to use `import cudf as pd`

**Describe the solution you'd like**
`cudf.Series.hasnans` matching https://pandas.pydata.org/docs/reference/api/pandas.Series.hasnans.html (`bool(cudf.Series.isna().any())`)

[2022-10-24 11:25] mattf opened #11976 "[BUG] semantic mismatch for Int64 and int64"
**Describe the bug**
rewriting code from pandas to cudf, using `import cudf as pd`

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
matching behavior for `Int64` and `int64`

ref https://pandas.pydata.org/pandas-docs/stable/user_guide/integer_na.html and https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes

[2022-10-24 12:06] mattf opened #11977 "[FEA] CategoricalDtype as dtype in CSV reader"
**Is your feature request related to a problem? Please describe.**
rewriting pandas code with cudf, using `import cudf as pd`

**Describe the solution you'd like**
`cudf.read_csv(dtype=...)` to support category types.

[code]

[2022-10-24 15:01] wence- commented on #11085
No, this needs deep-seated changes in the way `iloc` indexing and `__setitem__` work. Basically this is all unsafe because there's a significant portion of the code that assumes that, given a `Column`, there is only ever one higher-level holder of the `Column`, and hence that replacing the column associated with a `Series` object with a copy is safe.

This is, unfortunately, demonstrably not true

[2022-10-24 15:39] GregoryKimball commented on #8827
The core feature was released in 22.10, please consult the [milestone](https://github.com/rapidsai/cudf/milestone/13) for follow-up items!

[2022-10-24 15:39] #8827 closed

[2022-10-24 17:34] vyasr commented on #10719
@thehemen apologies for missing this earlier. Were you able to resolve the problem here?

[2022-10-24 17:36] vyasr commented on #4309
@jakirkham the upstream PR here has stalled. Do you know how we should follow up/whether we should still expect any progress there? Should we loop in other dask cudf devs?

[2022-10-24 17:38] vyasr commented on #8196
@beckernick do you think there's anything to do here, or should we close this issue as expected behavior?

[2022-10-24 17:39] vyasr commented on #5823
@vuule is this issue something that we can/should address now?

[2022-10-24 17:49] vyasr commented on #11931
Also #4946.

[2022-10-24 17:57] bdice commented on #10719
@thehemen It is possible that this crashed because your system did not have enough RAM to compile libcudf -- I am guessing that from the GPU and CPU specs, you probably have less than 16 GB installed. Building libcudf from source is memory intensive. The minimum RAM requirements for compiling were substantially lessened after PR #10756, which might have fixed the underlying issue here. However, yo

[2022-10-24 17:58] thehemen commented on #10719
@vyasr As I remember, no.
Doing the same task now, I've replaced some pandas functions with its numpy alternatives to accelerate it a bit.

[2022-10-24 18:00] vyasr commented on #10719
I agree with @bdice, memory requirements are the most likely culprit. Is building from source a requirement for your use case, though, or could you use the pre-built packages instead? That would be the far simpler approach if nothing stops you.

[2022-10-24 18:06] davidwendt commented on #10719
What do mean when you say you build with _Thrust version 1.16.0_ ? Curious because you mentioned the build stopping in the middle of compiling `stable_sort_column.cu`. The libcudf build includes a patched thrust version specifically for sort. (Perhaps another reason not try to build libcudf from source).

[2022-10-24 18:14] thehemen commented on #10719
@bdice That's explains a lot. My system has just 8 GB RAM.
@vyasr Yes, most likely, using pre-built packages is the best option. Thanks!
davidwendt May be. There was another error with the original Thrust

[2022-10-24 18:18] vyasr commented on #9863
With some of the recent refactors of Index internals we now get a much clearer error here:
[code]

What is missing is a string representation of IntervalColumn:
[code]

or more clearly:
[code]

There are two options for solving this issue:
- Overload the `_clean_nulls_from_index` method of `IntervalIndex` so that it does not rely on converting the underlying Column to a `StringColumn`, or
- Implem

[2022-10-24 18:31] vyasr commented on #10719
@thehemen did you intentionally close and reopen? I think we can probably leave this closed for now and reopen if and when you try to rebuild, unless you intend to try that soon in which case I'm interested to see what you find!

[2022-10-24 18:40] vyasr opened #11978 "[BUG] Stop using detail APIs in tests and Java code"
**Describe the bug**
There are a large number of libcudf tests that rely on detail APIs. There are parts of the JNI that use detail APIs. detail APIs are internal functionality that should not be called internally.

**Expected behavior**
We should rewrite the offending code to not use detail APIs. If this proves too difficult, that probably indicates that we have functionality hidden in detail nam

[2022-10-24 18:41] #10719 closed

[2022-10-24 18:51] vyasr commented on #11978
I should clarify. It may be acceptable to write tests of detail APIs. Some detail APIs are important enough and used by multiple public APIs, so they may benefit from dedicated testing. However, I suspect that in many cases we are using detail APIs to construct tests for public APIs. One specific instance that I know occurs is the use of vector factories in the detail namespace. Those uses are sus

[2022-10-24 19:29] beckernick commented on #11847
With the merge of https://github.com/rapidsai/cudf/pull/11920 , this now also applies when users want to toggle between CPU and GPU:

[code]

[2022-10-24 20:26] NVnavkumar opened #11979 "[FEA] Make line terminator sequences in regular expression using `$` a configurable option when `MULTILINE` flag is enabled"
**Is your feature request related to a problem? Please describe.**
In regular expression multiline mode, currently the `$` matches at the position right before a newline character `\n` (a line terminator) in cuDF. In Python, this behavior makes sense and is consistent with the Python implementation. However, Apache Spark uses the JDK (Java) implementation, and line terminator sequences are a bit m

[2022-10-24 20:40] ttnghia commented on #11089
I have done the necessary work for the Java side. For Python, I've started https://github.com/rapidsai/cudf/pull/11230 but then @brandon-b-miller took over it by https://github.com/rapidsai/cudf/pull/11656 which should close this issue.

@brandon-b-miller do you have any update?

[2022-10-24 22:09] #11605 closed

[2022-10-24 23:11] anamariaUIC opened #11981 "[BUG]"
After executing:

`print(df.query('b == 3'))  `

`---------------------------------------------------------------------------
NvvmError                                 Traceback (most recent call last)
/tmp/ipykernel_237357/3669789841.py in <module>
----> 1 print(df.query('b == 3'))

/software/linux-el7-x86_64/apps/anaconda3/anaconda3/envs/rapids/lib/python3.7/site-packages/cudf/core/dataframe.py

[2022-10-24 23:20] anamariaUIC commented on #11981
Additionally this doesn't work anymore either:

`def add_ten(num):
    return num + 10

print(s.applymap(add_ten))`

NvvmError: Failed to compile

<unnamed> (20, 18): parse expected comma after load's type
NVVM_ERROR_COMPILATION

What is new syntax for this?

[2022-10-24 23:38] vyasr commented on #11981
Hi @anamariaUIC it looks like you pasted your traceback above the issue form but didn't fill out the fields themselves. Could you go back through and add the information requested in the form ("Describe the bug", "Steps to Reproduce", "Environment Overview", etc)? That will help us to diagnose the problem.

You say "this doesn't work anymore", did it used to work? If so, what changed? Did you upda

[2022-10-24 23:42] anamariaUIC commented on #11981
this did work in April 2022. I didn't update any libraries.

Steps to reproduce:

`df = cudf.DataFrame({'a': list(range(20)),
'b': list(reversed(range(20))),
'c': list(range(20))})`

`print(df.query('b == 3')) `

Please let me know if you need more info.

[2022-10-24 23:59] anamariaUIC commented on #11981
I am also seeing error when I run this cell:

`df = df.apply_rows(haversine_distance_kernel,
                   incols=['lat1', 'lon1', 'lat2', 'lon2'],
                   outcols=dict(out=np.float64),
                   kwargs=dict())`

From [this notebook](https://github.com/Quansight/scipy-2019-rapids-tutorial/blob/master/cudf/Intro%20to%20cuDF%20UDFs.ipynb)

error is:

`NvvmError: Failed to co

[2022-10-25 00:00] vuule commented on #5823
We can, but I don't have a clear sense of importance. Do we have customers that rely on custom memory resources?

[2022-10-25 01:02] beckernick commented on #11981
The cuDF 21.12 packages haven't changed since patch release 21.12.02 [10 months and 8 days ago](https://anaconda.org/rapidsai/cudf/files). This release pins `numba >=0.54`, so it's conceptually possible that there is an unexpected interaction (but this feels less likely).

Has your system perhaps changed between April and now? Could you clone this repository and run the `print_env.sh` script provi

[2022-10-25 01:06] anamariaUIC commented on #11981
yes I will do that. In the meantime can you please confirm that you're able to run [this notebook](https://github.com/Quansight/scipy-2019-rapids-tutorial/blob/master/cudf/Intro%20to%20cuDF%20UDFs.ipynb) without errors and if yes which version of libraries you had?

[2022-10-25 03:41] GregoryKimball opened #11982 "[FEA] Make `experimental/read_json.hpp` the default JSON reading engine"
**Is your feature request related to a problem? Please describe.**
Let's make `engine='cudf_experimental'` the default JSON reader.

**Describe the solution you'd like**

1. refactor cuDF's `read_json` to use the nested JSON reader by default
2. refactor libcudf to promote the experimental JSON reader
3. refactor libcudf to begin deprecating the legacy JSON reader

**Describe alternatives you've c

[2022-10-25 03:42] GregoryKimball commented on #11270
Hello @isVoid, it seems that the new JSON reader (`engine='cudf_experimental'`) supports partially-specified dtypes.
[code]
I'll close this in favor of #11982 for now

[2022-10-25 03:42] #11270 closed

[2022-10-25 03:53] ttnghia commented on #11978
Note that some/most of the detail APIs used in Java are due to not having their public version to call. In order to fulfill the guideline, we also need to implement the public interface for them.

[2022-10-25 08:33] jakirkham commented on #4309
AFAIU the folks involved in that PR are simply busy with other things atm. My guess is if folks here want to pick up the upstream PR that would be welcome 🙂

[2022-10-25 09:33] arpan-das-astrophysics opened #11983 "Imaginary number with cudf dataframe"
Hello, I am trying to store some imaginary numbers as a cudf dataframe column. Each column cell is a list of imaginary numbers. I am wondering what would be the most efficient way to do it as cudf dataframe doesn't support imaginary numbers? Seperating the real and imaginary part is what I am doing now but this is a huge dataset and it is taking a lot of time.

[2022-10-25 13:42] shwina commented on #11983
As we don't support a `complex` type in cuDF, unfortunately that's the best approach I can think of as well. I understand that things are further complicated because what you want is a `List[complex]` data type.

Can you share an example of the kind of operations you wish to perform? Perhaps we can suggest adequate workarounds.

[2022-10-25 13:46] shwina commented on #11983
I imagine this is yet another use-case for something like [Awkward Arrays on the GPU](https://github.com/scikit-hep/awkward/issues/1658). FYI @gmarkall, and also I hope you don't mind the cc @jpivarski :)

[2022-10-25 14:13] revans2 opened #11984 "[FEA] Add support for escape characters in CSV"
**Is your feature request related to a problem? Please describe.**
By default Spark uses an escape character `\` to escape things like double quotes within other double quotes i.e. `"\""`. Pandas by default uses two double quotes right next to each other.  Spark does not support this method of escaping.

**Describe the solution you'd like**
We would like an option in the csv reader setting to allo

[2022-10-25 14:30] arpan-das-astrophysics commented on #11983
I have this dataformat where the "DATA" column values are list of imaginary numbers. I was trying to store them in similar way in cudf dataframe. I think I found another workaround, which is to convert the complex128 to strings so that cudf reads them as a list of strings and not complex numbers and when I read them back for some operation I convert them back to complex numbers.

![Screen Shot 202

[2022-10-25 14:31] #11870 closed

[2022-10-25 14:52] jrhemstad commented on #11923
I'm not following. `explode` returns a `table`: https://github.com/rapidsai/cudf/blob/7d173c9d144a64c5e1a0467d2a5eb4181854f25e/cpp/include/cudf/lists/explode.hpp#L72

Are you then constructing a `column_view` for each of the lists that were exploded?

If so, then yeah, you're going to have a problem with computing the null count of each of those `column_view`s individually.

To make that efficient

[2022-10-25 17:17] wence- opened #11990 "[ENH/QST] actually inplace updates in `__setitem__` and friends"
## Context

As noted in #11085, in many cases (though inconsistently right now), obtaining a view on `Series` (probably a `DataFrame` as well) using `iloc[:]` _inadvertently_ behaves with pseudo-copy-on-write semantics

[code]

Note: pandas is moving towards _all_ indexing [behaving with copy semantics](https://docs.google.com/document/d/1ZCQ9mx3LBMy-nhwRl33_jgcvWo9IWdEfxDNQ2thyTb0), so for some o

[2022-10-25 18:05] brandon-b-miller commented on #11089
got a little sidetracked but hoping to come back to this this week 👍

[2022-10-25 18:35] thomcom opened #11992 "[QST] Looking for a many-to-many scatter option."
**What is your question?**

I have two Series that are the index and offsets of a `ListColumn`. I'd like to expand the index and offsets into a full-length map of the points in the `ListColumn` so that the new `Series` contains for each child value of the `ListColumn` the index of that value.

[code]
I'd like to place the index values into another Series using the offsets as the boundary. I can co

[2022-10-25 18:39] thomcom commented on #11992
I realized that I can use cupy.repeat for this operation.

[2022-10-25 18:39] #11992 closed

[2022-10-25 18:47] revans2 opened #11993 "[FEA] CUDF cannot read binary encoded decimal values in parquet"
**Describe the bug**
The parquet spec says that you should be able to encode any decimal type as a binary (like a string). When I try to do this CUDF throws an exception saying it is not supported.

[tmp.zip](https://github.com/rapidsai/cudf/files/9862988/tmp.zip)

[code]

**Steps/Code to reproduce bug**
The attached zip file above has two parquet files in it. One has a single column and the other

[2022-10-25 18:50] revans2 commented on #11993
If you need another file https://github.com/daveoshinsky/drill/blob/d2372a892216269a71425175c2b2ad9b02941261/exec/java-exec/src/test/resources/parquet/varlenDecimal.parquet is a file created for the same kind of issue on a different project.

If you need me to include the data in these files I am happy to do it.

[2022-10-25 19:28] shwina commented on #11990
Regardless of what solution (if any) we choose longer term:

is an acceptable solution that we should be able to implement with very little code change, and should fix our behaviour for many of the buggy cases described.

[2022-10-25 19:50] quasiben commented on #11304
I'm not able to reproduce either.  I'm going to close but feel free to reopen if you are still seeing the error @mlahir1 with latest cuDF/dask-cudf

[2022-10-25 19:50] #11304 closed

[2022-10-25 20:03] quasiben commented on #10867
If this is still and issue can you @miguelusque post and example file here ?

[2022-10-25 20:24] davidwendt commented on #11979
Could you provide some example use cases?
Only `\n` is supported for new-line but it _may_ be possible to optionally support `\r` instead or to optionally support either `\r` or `\n`. But I do not think it will be possible to support `\r\n` as a single new-line entity(?).

Would it be possible to convert `\r\n` to `\n` before calling the regex APIs? This should work for matching but maybe there is

[2022-10-25 20:52] shwina commented on #11990
Well, I guess I lied. Copying into the buffers works only for fixed width types, not variable width types (like strings)

[2022-10-25 21:07] vyasr commented on #11978
Yup I agree, I think there will be cases where we need new public APIs. That indicates a hole in libcudf's API though, not a reason to use the detail APIs externally.

[2022-10-25 21:16] vyasr commented on #5823
That I don't know, it just looked like a fairly straightforward fix to knock out and it's been sitting for a long enough time that I figured it would be worth addressing.

[2022-10-25 23:44] vyasr commented on #11176
Another piece of code that belongs here is the [`default_allocator`](https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/src/hash/hash_allocator.cuh#L66). The allocator can also be (and is) used with the `concurrent_unordered_map`, but when the latter is removed the only usage of the allocator will be for the cuco hash maps.

[2022-10-26 03:00] GregoryKimball commented on #11993
Thanks @revans2 for raising this issue. It looks like we added the `parquet::FIXED_LEN_BYTE_ARRAY` physical type for decimal during the `DECIMAL128` push.

For context, here is the description of [binary physical types for decimal](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal) in the parquet spec. Where can we find out more about how this representation works? How m

[2022-10-26 05:30] ttnghia commented on #11091
The use cases already existed, and implementation of this FEA was added here:
 * https://github.com/rapidsai/cudf/blob/7d173c9d144a64c5e1a0467d2a5eb4181854f25e/cpp/src/search/contains_table.cu#L65
 * https://github.com/rapidsai/cudf/blob/7d173c9d144a64c5e1a0467d2a5eb4181854f25e/cpp/src/search/contains_table.cu#L83

I proposed this issue and already made a draft PR but that was not approved so I ha

[2022-10-26 14:23] jlowe commented on #11978
Related to the comment about needing public APIs, note there is a growing amount of Spark-specific JNI code leveraging libcudf at https://github.com/NVIDIA/spark-rapids-jni/tree/branch-22.12/src/main/cpp.  There's a number of detail references in that code, including:
[code]

I haven't looked at these in detail (no pun intended).  Some of these may be using the detail interface solely to specify a

[2022-10-26 14:54] wence- commented on #11990
Can we leverage the current work introducing copy-on-write semantics (cc @galipremsagar) to square this circle in a nice way?

If we want views to behave like copies what does that mean?

[code]

[2022-10-26 14:56] galipremsagar commented on #11990
I think we can make the view mechanism work in cudf with weak-references, let me think a bit about this and get back.

[2022-10-26 18:33] #11559 closed

[2022-10-26 23:18] PeterGottesman opened #12008 "[BUG] `cudf::io::read_json` does not initialize `column_names` field in 22.10"
**Describe the bug**
With the release of libcudf 22.10.00, `read_json` no longer sets the `column_names` field of it's return value. Instead, it sets the names in the `schema_info` field. This seems to have been introduced in #11364: https://github.com/rapidsai/cudf/pull/11364/files?diff=unified&w=0#diff-6e1002a16556df11f73b654cffbe18812bed655f377f52a6888c53ba6e1f04a6L566-R566.

Tests were updated

[2022-10-27 00:46] kkraus14 commented on #12008
cc @vuule

[2022-10-27 14:27] #10657 closed

[2022-10-27 14:49] galipremsagar opened #12011 "[FEA] Copy on write as opt-in feature"
**Is your feature request related to a problem? Please describe.**
Pandas [added](https://github.com/pandas-dev/pandas/pull/46958) initial support for `copy-on-write`. There is a proposal document for the same: https://docs.google.com/document/d/1ZCQ9mx3LBMy-nhwRl33_jgcvWo9IWdEfxDNQ2thyTb0/edit#

**Describe the solution you'd like**
Implement copy on write as an opt-in in cudf.

**Additional conte

[2022-10-27 15:36] shwina opened #12012 "[DOC] crosstab and pivot_table missing from API docs"
We implemented these in #11314, but seem to have missed adding them to the API docs.

[2022-10-27 16:52] amahussein opened #12013 "[FEA] Support a strings_column_view as the target parameter in cudf::string::find"
**Is your feature request related to a problem? Please describe.**
Currently there is a limitation in RAPIDS plugin to support some string functions such as instr and locate `instr(column, column)`.
The plugin can do partial support (column, scalar)
To fully support the string operations, ColumnView.stringLocate needs to support two columns as arguments.

**Additional context**

- https://github.c

[2022-10-27 17:45] bdice commented on #12012
Done in #12014. I also noticed we were missing `DataFrame.pivot_table`, so I opened #12015. Thanks @shwina for catching this!

[2022-10-27 18:26] #11625 closed

[2022-10-27 20:03] #12012 closed

[2022-10-27 21:13] vyasr commented on #11978
@jlowe thanks! That definitely looks like a mixed bag: `bitmask_and` is something that we should expose publicly (I know that Python could use it too), `detail::gather` is most likely just being used to pass a stream, `make_counting_transform_iterator` and `warp_size` are conveniences that the JNI probably shouldn't be relying on, etc. Once stream APIs exist we can probably trim out some of these

[2022-10-27 22:53] #11930 closed

[2022-10-28 04:25] ttnghia commented on #12013
Related cudf API: `cudf::strings::find`, which currently only supports `(column, scalar)` parameter pair. We need `(column, column)` parameter pair to close this issue..

[2022-10-28 06:06] vuule commented on #12008
Thank you for opening the issue.
This is intended behavior, see https://github.com/rapidsai/cudf/issues/6411.

The plan is to stop using `column_names` in tests and Cython bindings, and to remove `column_names` from `table_metadata` once this is complete.

You can use the `schema_info` member to get column names when reading JSON files. It quickly replaced `column_names` because it supports nested

[2022-10-28 06:15] vuule commented on #5823
I'll add it to 22.12 dashboard, but it's looking pretty full already.

[2022-10-28 06:16] vuule commented on #10688
depends on https://github.com/rapidsai/cudf/issues/11077

[2022-10-28 14:54] dawilliams-nvidia commented on #11924
Also adding a comment to clarify that ideally this functionality will also extend to dask+cudf as well! Happy to open a separate issue for dask discussion if needed

[2022-10-28 15:04] rjzamora opened #12023 "[FEA] Support how="cross" in merge/join"
**Is your feature request related to a problem? Please describe.**
Pandas has supported the `how="cross"` option in `join`/`merge` [since `pandas-1.2`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html). Using this option creates the cartesian product from both frames, preserving the order of the left-hannd keys. I propose that we support this option in `cudf`.

**Describe t

[2022-10-28 15:05] rjzamora commented on #6755
I am going to close this issue because it has not been active for a long time, and it is technically possible to get the desired behavior with a temporary `"mutual_key"` column.

With that said, the desired merge type is now called a `"cross"` merge in pandas ([added in 1.2](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)). Therefore, I raised a separate issue to add this

[2022-10-28 15:05] #6755 closed

[2022-10-28 15:45] #11097 closed

[2022-10-28 17:47] beckernick commented on #11925
Per offline discussion with @dawilliams-nvidia , limited support for only numeric types would be sufficient

[2022-10-28 18:59] #11572 closed

[2022-10-28 19:16] bdice commented on #11925
If numeric-only types are sufficient here, I would suggest the same thing as I mentioned here: https://github.com/rapidsai/cudf/issues/11570#issuecomment-1221119749

We can implement something like `axis=1` by returning `df.T.mode(axis=0).T`. The explicit transposes will only work for dataframes with similar dtypes (I am not exactly sure what qualifies for like-casting on tranpose) but it would pe

[2022-10-28 20:01] beckernick commented on #11925
We changed transpose to return a contiguous buffer, right? I think that allocating thousands of columns will be a non-starter.

[2022-10-28 21:04] galipremsagar opened #12026 "[BUG] Orc reader not returning index columns always(if they exist)"
**Describe the bug**
When an orc file consists of index columns, the reader seems to ignore reading the index columns if their name isn't in `columns`.

Required to reproduce: Changes in https://github.com/rapidsai/cudf/pull/12025/

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Orc reader needs to behave like parquet reader where the index columns are read always irrespective of if

[2022-10-28 21:04] galipremsagar commented on #12026
cc: @vuule

[2022-10-28 22:47] ttnghia opened #12027 "[BUG] `cudf::structs::detail::superimpose_parent_nulls` does not purge nulls for the children"
As the title said, the current implementation of `cudf::structs::detail::superimpose_parent_nulls` only set null mask for the children columns. If a child column is a lists/structs/strings/dictionary column, it also needs to be sanitized by `purge_nonempty_nulls`.

Reference:
 * https://github.com/rapidsai/cudf/blob/07eb7235338699662cddf242ca8877abdf5ca383/cpp/src/structs/utilities.cpp#L214-L218

[2022-10-28 23:26] shwina commented on #11925
Indeed we did.

[2022-10-28 23:51] bdice commented on #11925
I see. An alternative would be to allocate a single column that is matrix-like (has `columns*rows` entries), copy all the entries there (no need to transpose), and add an auxiliary column of row labels. Then do a groupby count over both columns `(row_label, value)` to get the counts of each value in each row. Take the result and do a groupby argmax over `row_label` to get the index of the mode of

[2022-10-29 06:22] mai1x9 opened #12028 "[QST] Does cudf support cuda 10.1 ?"
**Does cudf by any chance support cuda `10.1`, If so can anyone mention what is the version of cudf to be install to support cuda `10.1`. ?**

If it does not support cuda `10.1` any other alternatives. ?

[2022-10-29 07:07] bdice commented on #12028
Hi @mai1x9, the current 22.10 releases of RAPIDS packages (including cuDF) require CUDA 11.2 or newer. However, old versions of RAPIDS may support CUDA 10.1. Release v0.19 was the last version with support for CUDA 10.1: https://docs.rapids.ai/notices/rsn0006/

I'll close this for now. Feel free to re-open if you have any additional questions! 👍

[2022-10-29 07:07] #12028 closed

[2022-10-29 08:01] mai1x9 commented on #12028
How can I install `0.19` version. tried running
[code]
and resulted in below error.
[code]
@bdice any suggestions for right way of installing.

[2022-10-29 13:04] bdice commented on #12028
Try installing with conda or use a Docker image. We did not support pip installation prior to the current 22.10 release. See https://rapids.ai for installation instructions. You will need to try to replace the current version number with 0.19.

[2022-10-31 03:17] olopez15401 opened #12029 "[BUG] Page to install rapidsai returns 400 error on google colab. Checked Manually on github returned 404 error as if it didnt exist."
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Envi

[2022-10-31 03:49] #12029 closed

[2022-10-31 03:50] olopez15401 commented on #12029
My mistake! ran it incorrectly!

[2022-10-31 08:42] wence- commented on #12011
Related: #11990

[2022-10-31 16:06] ttnghia opened #12031 "[FEA] Unused variable in JNI/Java binding for `readParquet`"
This is not a complete FEA but is closed to it. Currently, from Java we pass in a boolean variable `binaryToString` to JNI but it is unused after merging https://github.com/rapidsai/cudf/pull/11524. This variable may be used in the future thus we didn't remove it.

This issue is to track that unused variable.

[2022-10-31 16:07] ttnghia commented on #12031
CC @sameerz @revans2.

[2022-10-31 16:56] vyasr commented on #5823
No worries I don't think it's crucial, I just wanted to get it on the radar.

[2022-10-31 19:48] shwina commented on #9914
This looks to be resolved; I'm using the nightly build of cuDF, so at the very least this will be resolved in v22.12:

[code]

[2022-10-31 19:48] #9914 closed

[2022-10-31 22:24] NVnavkumar commented on #11979
In this case, the use case is using extract, so substituting `\r\n` for `\n` will probably not work.

[2022-10-31 22:30] davidwendt commented on #11979
Could you provide such an example where this would not work?
[My examples above](Please look at the examples here: https://github.com/rapidsai/cudf/issues/11979#issuecomment-1291095119
) the extracted string never contain the `\r` or the `\n` in the result so there would be no need to fix up the result.

[2022-11-01 13:54] abellina commented on #11949
The watermark API added in #11950 is useful but we want to be able to factor in our spillable cache in the spark-rapids plugin, which means so far that we need finer grained optional callbacks on every allocate and free. This isn't high performance, but it doesn't seem to be the end of the world. As such, I am working on patch that should ultimately close this particular issue.

[2022-11-01 14:51] shwina opened #12037 "Refactor groupby to rely less on storing keys as `Index` objects"
https://github.com/rapidsai/cudf/pull/11792 introduces the ability to group on list columns. In the future, we can expect grouping by, e.g., structs and other types that are not supported by Pandas.

In https://github.com/rapidsai/cudf/issues/6932, we made the decision not to support creating an `Index` with elements of type `list`.

Unfortunately, our groupby internals rely heavily on being able

[2022-11-01 14:51] shwina commented on #8039
@randerzander, is this request still a high priority for you? @PointKernel and I have been experimenting with [exposing list-groupby in Python](https://github.com/rapidsai/cudf/issues/8039) and have run into a few different issues.

Notably, even Pandas does not support the example snippet first posted:

[code]

Supporting grouping by lists in Python will need us to define and document semantics d

[2022-11-01 15:55] shwina commented on #12023
Just for completeness: libcudf does support cross joins, so we would just need to plumb it through to Python:

https://github.com/rapidsai/cudf/blob/7af461cd0a4b616932e2766050a87d4cc82cd963/cpp/include/cudf/join.hpp#L254

[2022-11-01 16:22] #6916 closed

[2022-11-01 16:22] #11780 closed

[2022-11-01 17:10] randerzander commented on #8039
It's not high priority, no

[2022-11-01 18:01] wence- opened #12039 "[ENH/QST]: Behaviour of type promotion in `__setitem__`"
# Summary

CUDF is not consistent with Pandas (under a bunch of circumstances) in
its behaviour when upcasting during `__setitem__`. In some cases, we
might want to mimic pandas behaviour (though they are very keen to use
value-based type promotion). In others, where we have more structured
dtypes than pandas, we need to decide what to do (current behaviour is
internally inconsistent and buggy in

[2022-11-01 18:41] wence- commented on #11990
To summarise a discussion with @galipremsagar, @vyasr, and @mroeschke.

Although there are at present inconsistencies in CUDF behaviour, they likely do not bite in too many cases (since people on the whole don't work with views).

The copy-on-write work in #11718 will (in an opt-in manner) remove the inconsistencies by removing the concept of a view (sharing data) and making everything a copy (alb

[2022-11-01 19:45] vuule commented on #11948
I can't repro the issue in the comment. Trying using Python:
`s = '1\n2\n\"abc\"\""\n4\n'`
But I'm getting the same output as with Pandas (and it looks correct):
[code]

[2022-11-01 20:01] PointKernel commented on #8039
#11792 partially solves the issue and now users can do simple groupby aggregations by setting `as_index=False` e.g.:
[code]

[2022-11-01 21:11] revans2 opened #12043 "[BUG] Special case LIST names appear to be ignored"
**Describe the bug**
The parquet specification at https://github.com/apache/parquet-format/blob/master/LogicalTypes.md when talking about backwards compatibility in lists says that

The examples given for these are.

[code]

I implemented some tests based off of this and saw the CUDF is able to parse the data, but it is not returning the same types as Spark does, nor does it return what I would ex

[2022-11-01 21:46] revans2 opened #12044 "[BUG] Backwards compatible parquet MAP_KEY_VALUE is not treated properly"
**Describe the bug**
The parquet specification at https://github.com/apache/parquet-format/blob/master/LogicalTypes.md when talking about backwards compatibility in maps says that

The example schema given for this is.
[code]

I created a parquet file and put it in [file.zip](https://github.com/rapidsai/cudf/files/9914136/file.zip) that is very similar, but it uses `int32` for both the key and the

[2022-11-01 22:05] galipremsagar commented on #11317
@dagardner-nv

This is expected behavior in pandas `to_json`, which is documented here: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_json.html

![Screen Shot 2022-11-01 at 5 03 28 PM](https://user-images.githubusercontent.com/11664259/199350534-f35e4bb7-3036-4825-a50a-e67cdc2082db.png)

However if you really need index data in json, you will need to pass `orient='index'` instea

[2022-11-01 22:05] #11317 closed

[2022-11-01 22:32] #11833 closed

[2022-11-02 16:53] mattf opened #12047 "[BUG] cudf astype('int32') behavior does not match pandas"
**Steps/Code to reproduce bug**
[code]

**Expected behavior**
`cudf` to produce the same result as `pandas`

**Environment overview**
[code]

[2022-11-02 17:06] shwina commented on #12047
As a workaround, you could remove `_` from your strings:

[code]

[2022-11-02 17:20] shwina commented on #12039
What a fantastic analysis.

[2022-11-02 18:30] wence- commented on #12039
I should note that these tables are for single index `__setitem__` (`s.iloc[i] = value`). I should check if the same behaviour also occurs for:
- [ ] slice-based `__setitem__` with single value `s.iloc[1] = value`
- [ ] slice-based `__setitem__` with list of values `s.iloc[:2] = [value for _ in range(2)]`
- [ ] mask-based `__setitem__` with singleton value `s.iloc[[True, False]] = [value]`
- [ ] m

[2022-11-02 21:37] davidwendt commented on #12047
This seems to be python-specific. C++ does not support `_` for string-to-integer conversion.
https://godbolt.org/z/ocGfob1EG
libcudf aligns with C++ as much as possible so I think you will have to sanitize the strings beforehand.

[2022-11-02 21:40] galipremsagar commented on #12047
makes sense, thanks @davidwendt

[2022-11-03 00:34] #6481 closed

[2022-11-03 06:55] #11817 closed

[2022-11-03 07:17] karthikeyann opened #12051 "[FEA] Tokenized JSON for Spark"
**Is your feature request related to a problem? Please describe.**
Provide public APIs to expose the tokenized JSON String for Spark and other users.

_Originally posted by @revans2 in https://github.com/rapidsai/cudf/issues/12022#issuecomment-1297304793_

**Describe the solution you'd like**
Confirm the  existing data structure and what output Spark expects these tokenized strings. Create a publi

[2022-11-03 12:49] mattf opened #12052 "[FEA] cudf.Timestamp"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, using `import cudf as pd`

**Describe the solution you'd like**
`cudf.Timestamp` matching https://pandas.pydata.org/docs/reference/api/pandas.Timestamp.html

[2022-11-03 13:42] arpan-das-astrophysics opened #12053 "Best way to know the original shape of a column whose cell values are list[QST]"
I have a data frame where one columns is an a multidimensional array. Since cudf doesn't support storing array, I used tolist() method to store it as a list . Now I want to read the dataframe and reconstruct the original array with it's original shape to do some operation. What is the best way to infer the original shape?? Here is how the dataframe looks like:

![Screen Shot 2022-11-03 at 2 40 40

[2022-11-03 14:08] charlesbluca opened #12055 "[BUG] Cumulative aggregation functions fail on dataframe/series groupbys with nulls"
**Describe the bug**
When attempting to use the cumulative aggregation functions on a groupby of a frame or series with nulls (i.e. `df.groupby("x").cumsum()`), we get a `ValueError`.

**Steps/Code to reproduce bug**
Note we would see the same traceback if we used `cumcount`, `cummax`, or `cummin`:

[code]

[code]

**Expected behavior**
I would expect these operations to succeed and give me someth

[2022-11-03 14:13] caryr35 opened #12057 "[DOC] RAPIDS 22.12 Release Blog Outline"
Please provide bullet point list of major user facing changes to Sophie Watson by the end of **burn down**

[2022-11-03 14:58] #11893 closed

[2022-11-03 15:43] abellina opened #12058 "[BUG] size_type overflow in `cudf::groupby::detail::hash::extract_populated_keys`"
We look to be overflowing `size_type` while in `extract_populated_keys`. The iterator on `rmm::device_uvector` is signed so I think we need to go to unsigned in order to be able to group by up to the 2B row limit.

I believe the issue is actually when calling `populated_keys.resize` where the `std::distance` may be negative, but the stack trace I got (on a non-debug build) points at `copy_if`. Eit

[2022-11-03 16:13] abellina commented on #12058
@jrhemstad FYI

[2022-11-03 16:18] davidwendt commented on #12058
Can you provide a C++ example? I'm not following the syntax of the example in the description too well.
There are 1.2B elements with 1000 unique values? Are the elements int32 or int64 ?

[2022-11-03 16:23] abellina commented on #12058
Elements are int32 and they are monotonously increasing from 0 to 1.2B, such that when we do the groupby there is no reduction. I can try a C++ repro, but let me know if the above info is enough.

[2022-11-03 16:41] abellina commented on #12058
I am working on a C++ repro with @nvdbaranec's help as well.

[2022-11-03 17:26] wence- commented on #12053
The dtype of the column is `ListDtype(ListDtype(bool))`, which doesn't constrain the shape of the entries (for example, one row could have `[[False, True], [False]]`, another could have `[[False, True, True, False]]`). But if you're happy that the input data are homogeneous, then you can deduce the shape of a row (and hence the original shape of the column) with:

[code]

[2022-11-03 18:44] abellina commented on #12058
Added a C++ repro @davidwendt in the description. I also added some logging in rmm `cuda_memory_resource` to print the requested sizes, and I got the following in a 40GB GPU (note that a smaller GPU will fail earlier with an OOM):

[code]

[2022-11-03 19:23] sarahyurick opened #12062 "[BUG] `dd.to_datetime` errors with cuDF-backed Series"
**Describe the bug**
After some discussions in https://github.com/dask-contrib/dask-sql/pull/838, we found that `dd.to_datetime` doesn't work completely with cuDF-backed Series. More specifically, it looks like errors arise when `compute()` is called.

The fix may lie in Dask itself, but since it's cuDF raising the error, I'm opening it here for now.

**Steps/Code to reproduce bug**
@ayushdg provi

[2022-11-03 19:59] GregoryKimball commented on #10792
@etseidl FYI, our friends in Spark-RAPIDS are also interested in the HyperLogLog algorithm. 😄

[2022-11-03 20:28] vyasr opened #12065 "Remove force download of fmt"
The current version of nvbench is incompatible with fmt 9.1.0, the latest version. fmt is also a requirement of mamba, so it is automatically pulled into all of our build environments. Since it is not a direct dependency of ours we have not included it in our own conda environments to supersede this, leading to environments where libcudf benchmarks do not build. To get around this issue we are cur

[2022-11-03 21:05] vuule commented on #6029
Closing this one. Will open an issue to start using `std::byte` once we have a clear plan.

[2022-11-03 21:05] #6029 closed

[2022-11-03 21:21] revans2 opened #12066 "[BUG] ORC file sizes can be much larger than CPU version"
**Describe the bug**
Depending on the outcome of the analysis of this I could also see this being a new feature. I am filing this as a bug for now in hopes that we can treat it that way.  We have a customer that noticed that writing their data with ORC produces files that are about 4x larger using the RAPIDS accelerator for Apache Spark compared to using vanilla Apache Spark. Because we do not hav

[2022-11-03 23:17] vyasr commented on #938
@beckernick JFYI there's also #6756 which I just realized was a superset of this issue. We may want to split that one up into separate pieces and close it (with this issue being one of those pieces).

[2022-11-03 23:22] vyasr commented on #6756
This issue has a number of different components, some of which have been addressed now while others have not:
- Support for string UDFs is in progress and should be largely available in 22.12/23.02
- Discussion of datetime UDFs is also occurring in #938.
- Null support in UDFs has come a long with. @brandon-b-miller are there still gaps that are relevant to the original request in this issue, or h

[2022-11-03 23:26] vyasr commented on #12052
I suspect that the main reason we haven't bothered with this in the past is that it is a scalar and we tend to support `pd.Timestamp` directly in most places that would allow it. Aside from strict API compatibility concerns, the one other benefit that I could see here is if `cudf.Timestamp` existed more like `cudf.Scalar` as a way to avoid needing constant H2D copies each time.

@brandon-b-miller

[2022-11-03 23:39] vyasr commented on #12039
This is easily one of the most detailed issues I have ever seen!

[2022-11-04 09:13] miguelusque commented on #938
Hi @beckernick , being 100% honest, I do not recall which operation I needed to perform at that moment. I was porting some customer code to cuDF at that moment, but I do not remember the details. Sorry.

But I do remember that I did find a workaround. :-)

Thank you for considering this FR

Hi @vyasr , I am happy with closing this FR and keeping track of it in #6756. Please, do not hesitate to do

[2022-11-04 10:15] wence- commented on #12039
Depends what you mean by lossy. float64 only has enough precision to exactly represent int53 (because the mantissa has 53 bits). Hence, mapping between int64 and float64 is neither surjective (you can't reach nan and inf) nor injective (multiple int64s can map to the same float64), so you can't roundtrip successfully.

[code]

These are all true because the right operand of equality is promoted to

[2022-11-04 10:22] calcatoggio opened #12068 "[BUG] Performance regression for read_csv on V100"
Dear Team,

I noticed a performance degradation running the PLAsTiCC challenge (https://www.kaggle.com/c/PLAsTiCC-2018/overview) with the latest Rapids library on Nvidia V100. It seems that the read_csv is taking much longer time.

Do I need to change some parameters ?

Times in seconds:
[code]

Running the profiler, I noticed a Cuda memCpy Device to Device using a single device with Rapids 22.08

[2022-11-04 15:04] mattf opened #12071 "[BUG] instructions on pypi.org direct users to the incorrect package"
**Steps/Code to reproduce bug**
[code]
    $ pip install nvidia-pyindex
    $ pip install nvidia-cudf-cu11
[code]
    $ pip install nvidia-pyindex
    $ pip install nvidia-cudf-cu11
[code]

**Expected behavior**
instructions to indicate `cudf-cu11`, instead of `nvidia-cudf-cu11`
[code]

[2022-11-04 15:13] wence- opened #12072 "[BUG] Incorrect broadcasted equality for scalar comparison to int64 columns"
**Describe the bug**

Equality of a `NumericalColumn` with large int64 values against another large int64 value can wrongly advertise false positives.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

Equality for int types should be correct.

***Why does this happen?***

Before heading into `libcudf` we need to turn the scalar host value into a device scalar, for which a dtype must

[2022-11-04 15:55] bdice commented on #8510
It looks like this issue has had a few conversations but the core problems appear to be solved. Please feel free to re-open or file a new issue if needed!

[2022-11-04 15:55] #8510 closed

[2022-11-04 17:29] #11337 closed

[2022-11-04 17:43] wence- opened #12073 "[BUG] Missing data with length-one sliced-based `__setitem__` and singleton array"
**Describe the bug**

Trying to set a length-one slice of a series with a length-one array (rather than a scalar) loses the value.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

Setting a length-one range with a length-one array should work.

***Why does this happen?***

There's an off-by-one in copying.copy_range:

[code]

[2022-11-04 17:43] wence- commented on #12039
Updated the code to generate tables for a bunch of different scenarios. You can now run and it produces a separate file for each scenario, which you can diff against each other to see the points of difference.

Mostly things work (with #11904), except #12072 means that equality is busted.

And, slice-based setitem is broken for length-one ranges if setting with an array rather than a scalar (that'

[2022-11-04 18:06] vuule commented on #12068
Hi @calcatoggio , thank you for submitting the issue.
Could you please share the code that shows the parameters you are passing to `read_csv`?

[2022-11-04 18:47] calcatoggio commented on #12068
Sure, I have the following read_csv, using `import cudf as gd`
[code]

[2022-11-04 19:27] seberg commented on #12039
Sorry for the long post, I hope it doesn't derail or is off topic.  I will mainly try to explain the state of NumPy and what [NEP 50](https://numpy.org/neps/nep-0050-scalar-promotion.html) does.  Happy to re-read again without that in mind!
(I will always make time to talk about these things, because just talking about it, even tangentially, helps me clear up things and move forward.)

N.B. please

[2022-11-04 19:32] seberg commented on #12039
NEP 50 itself does not touch the annoying fact that `np.array([2**63, 2**61])` returns a float array.  But, since NEP 50 is likely a NumPy 2.0, I think it does make sense to stop doing it and only ever go to the default integer and otherwise raise an error.

[2022-11-04 20:59] davidwendt commented on #12058
It looks like the error is actually in the `thrust::copy_if` call in `extract_populated_keys`
https://github.com/rapidsai/cudf/blob/a3e9c1c0cc8da4fcabbfc0f173cba92a69769a60/cpp/src/groupby/hash/groupby.cu#L519

In the example from the description,  the `map.capacity()` value is 2.4B and so the `get_key_it` iterator will span over an `int32` size. The `copy_if` hardcodes the iterator distance type

[2022-11-04 21:09] ttnghia commented on #12058
I'm not very familiar with the code in that file so I'm unclear why the `copy_if` is iterating to `map.capacity()` instead of `map.size()`?

[2022-11-04 21:35] davidwendt commented on #12058
Adding up the numbers in https://github.com/rapidsai/cudf/issues/12058#issuecomment-1302528082 we are at 38.4GB.
I traced the gather call that would occur if the `copy_if` did not fail and it requests another allocate of 9.6GB which would push this right past the 48GB. It appears the `copy_if` call would only need 16MB for itself (again, if it did not fail).

So just pointing out that this would'v

[2022-11-04 21:37] davidwendt commented on #12058
Regardless, I can create a PR to workaround the overflow error in the `thrust::copy_if` call.

[2022-11-04 21:43] mroeschke commented on #12039
I think generally from the pandas point of view (with respect to `__setitem__`), I would say the general philosophy is "the resulting dtype should be able to store the existing values & new value(s) without losing numeric precision".

Here are some examples (related to your original table) where we differ from numpy due to the above:

1 . "Don't truncate so upcast dtype" example

[code]

2. "Bend

[2022-11-04 21:53] #11949 closed

[2022-11-04 22:12] abellina commented on #12058
Thanks for taking a look @davidwendt, @ttnghia. It doesn't make a lot of sense to run out of memory with 48GB for ~5GB input for a simple sum. Looking with @jlowe and @nvdbaranec the second overflow in `gather` is likely due to the `size_type` usage in `cudf::distance`, would that make sense?

The main thing is not having the overflow, if there is another overflow via the `gather` we should fix it

[2022-11-04 22:13] davidwendt commented on #12058
There is no overflow in gather.

[2022-11-04 22:18] ttnghia commented on #12058
@davidwendt From the `gather` code, overflow may occur if the result of `extract_populated_keys` is large:
[code]

[2022-11-04 22:19] ttnghia commented on #12058
@abellina I found that there is a check for overflow in `gather`:
[code]

[2022-11-04 22:20] davidwendt commented on #12058
This check does not occur so there is no overflow in gather.

[2022-11-04 22:20] abellina commented on #12058
And I can run this with a 80GB GPU once there's a patch somewhere, to see if that succeeds.

[2022-11-04 23:01] #9629 closed

[2022-11-04 23:57] #11901 closed

[2022-11-06 02:44] ccoulombe opened #12081 "[BUG] Building from source fails as deps are not fetched"
First, :clap:  great work into making cudf and other RAPIDSAI libraries more easy to build from source!!! A lot of work has been put into it.
This is the continuity of #2770.

**Describe the bug**

Building v22.12 from source fails as some dependencies are missing or not included properly.

1. Linking fails from internal linker error.
[code]
2. `dlpack` is fetched and used for `libcudf` but fails

[2022-11-06 17:47] GregoryKimball commented on #12068
Hello @calcatoggio, thank you for sharing your observations. I took a careful look at the `0.15` and `22.10` versions of `cudf.read_csv` on an `A100` + AMD Epyc + SSD system. I realize this is a bit different from the `V100` and `22,08` condition you tested, but I expect the trends to be consistent. I used a 500 MB file with a mix of string, float and int column types.

With local SSDs, one import

[2022-11-07 11:29] wence- commented on #12039
Unless we want to implement bignums in libcudf, I think this is not something we can really contemplate.

[2022-11-07 11:32] wence- commented on #12039
This is a reasonable philosophy, though it does rather depend on what you mean by "losing numeric precision".

This seems like a nice thing to do, except that it changes behaviour of the series:

[code]

I would argue that this choice _did_ lose numeric precision, and particularly in _existing_ values that weren't touched by the indexing.

[2022-11-07 13:21] davidwendt commented on #9520
Is this still needed?
@VibhuJawa Would you be able to specify what changes are needed in libcudf for this?

[2022-11-07 13:25] seberg commented on #12039
So pandas (and cudf) use common DType to promote a column when necessary.  That leads to two things:
* The special rule for going to float64 does lose precision for int64/uint64.
* Pandas will even allow going to `object` dtype.

The first issue is independent of NEP 50 and I am not sure there is much to do about it.  You could consider disallowing it.  It probably means making a clearer distincti

[2022-11-07 13:50] calcatoggio commented on #12068
Thanks a lot for your insight.
I tried to run it with `sudo sysctl vm.drop_caches=3` and I observed a longer runtime:
![image](https://user-images.githubusercontent.com/117444024/200303720-4c19a7f0-3b23-4dee-b65f-3f5fbf9517ff.png)

Should I try with other parameter to change the IO performance?

We are reading csv of several GBs and it seems to take quite some time!

[2022-11-07 14:10] oliverholworthy opened #12083 "[BUG] Concat of List column with scalar column results in issubclass TypeError"
**Describe the bug**

Calling `cudf.concat` with a Series with a list dtype `cudf.ListDtype("int64")`  and scalar dtype `np.dtype("int64")` raises TypeError.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

[code]

[2022-11-07 16:55] bdice opened #12086 "[FEA] Migrate to Thrust `nosync` stream policy for performance."
### Motivation & Description

Thrust 1.16 added an execution policy `thrust::cuda::par_nosync` that removes unnecessary internal stream synchronizations, except when required for correctness (e.g. if the algorithm returns a value to the host like `thrust::reduce`, a sync is required).

In PR #11577, I experimented with a bulk find-replace of `rmm::exec_policy` with `rmm::exec_policy_nosync`. This

[2022-11-07 17:24] revans2 opened #12087 "[BUG] strings::concatenate can overflow and cause data corruption"
**Describe the bug**
This is actually a generic issue with a lot of string operations. If I try to call strings::concatenate on string columns that would produce more data than can fit in a string column (2 GiB) I can get an overflow where CUDF tries to allocate a negative amount of memory. If I go even larger and would go over 4 GiB of data in the final output the result overflows twice and we en

[2022-11-07 18:15] bdice commented on #12087
The first bug I would fix is that we should raise an error if the concatenated size will exceed the limit. This is what cudf::concatenate does here: https://github.com/rapidsai/cudf/blob/52dbb63dcf3bf4072705df78915c658491e01b51/cpp/src/copying/concatenate.cu#L232-L233

I wonder if this can be detected in advance without requiring a kernel call? Would a sum over the `chars_size()` of each column be

[2022-11-07 18:22] ttnghia commented on #12087
There would be some hurdles along the way, not just simply summing up `chars_size()`. For example, concatenating strings with nulls will result in a null thus summing up `chars_size()` may say "overflow INT_MAX" but the actual result may be just zero.

[2022-11-07 18:26] davidwendt commented on #12087
This is not the same concatenate. This is a _horizontal_ concatenate of row-wise elements. There is no computation of `output_size` and would require an extra kernel call.

The `char_size()` would be a good estimate but may not be accurate for sliced columns. Though it is a good maximum.

[2022-11-07 18:27] ttnghia commented on #12087
I just realized that the check @bdice pointed out above actually doesn't consider nulls thus it is very conservative and also not accurate. But that's fine.

[2022-11-07 18:37] revans2 commented on #12087
To be clear this shows up in a number of places almost all of which, in theory, could overflow. strings::concatenate is one of this in-particular that is especially problematic.  But it happens when casting to a string from a number. It happens when calculating lowercase or upper case for a string, as that can change the number of bytes without changing the number of characters. There are many dif

[2022-11-07 18:45] mroeschke commented on #12039
That's fair. Not 100% sure of the origin of promoting to `float64` in pandas for this case, but I would venture to guess the numpy behavior of keeping int64 and truncating the 10.5 to 10 was a more suprising & more significant loss in precision behavior to pandas users.

This is also fair. Maybe this is a case of pandas being too accomodating, but we can always nudge users to `astype(object)` in t

[2022-11-07 18:49] ttnghia commented on #12087
I think the main reason why people are reluctant for adding such safe bound check is the performance impact. So we may alleviate that impact by adding an optional bool parameter like `bound_check` so the bound check will only execute if the user explicitly wants it. Otherwise just the old fast code path will be executed.

[2022-11-07 18:59] VibhuJawa commented on #9520
I dont know of any customer use cases right now for it. @beckernick, do you know about any

[2022-11-07 19:05] jrhemstad commented on #12087
Definitely not this. We've gone down this path before and we learned the hard way that this was a mistake. Not something we want to repeat.

[2022-11-07 19:13] jrhemstad commented on #12087
@revans2 correct me if I'm wrong, but this problem isn't fundamentally different than the problem we had with `join` APIs that led us to having the join APIs return the gather map in addition to adding the `row_bit_count` API, right?

In other words, you don't know the size of the join ahead of time and it could overflow. So we return the gather map and you can `gather` from the `row_bit_count` re

[2022-11-07 19:20] ttnghia commented on #12087
Please remember that we have a lot of string APIs :smirk:

[2022-11-07 19:56] revans2 commented on #12087
We would have to expose the calculation of the length of each output string in bytes, not the offsets because the overflow happens when calculating the offsets.That would work, but it would also preclude what happens today where the offsets get reused as an intermediate storage location. So at a minimum we would need to allocate a buffer for the sizes and another buffer for the offsets in a differ

[2022-11-07 20:49] ttnghia commented on #12087
That's also what I did for `strings::repeat_strings` (https://github.com/rapidsai/cudf/pull/8561) because overflow is too likely for that API and checking overflow was unavoidable. In addition, the "phase-1" output of that API was also made public exactly as the approach @jrhemstad mentioned.

[2022-11-07 22:31] davidwendt commented on #12087
I'm going to try Bobby's idea and run some benchmarks.

[2022-11-08 09:37] wence- commented on #12039
If you're going to do integral to floating type promotion and want to maintain accuracy in the largest number of cases (and don't care too much about memory footprint) the promoting to float64 is a reasonable choice.

[2022-11-08 11:03] NVnavkumar commented on #11979
So I did some initial testing. This substitution approach *might* work; however, I think there is a small unresolved issue. It looks like if we use `re.MULTILINE`, the `\\Z` cannot easily be used in combination with `$` (because `$` at the point can also match end of string). What's also interesting here is that in Python natively, when NOT using `re.MULTILINE`, `$` actually matches before the `\n

[2022-11-08 17:20] wence- opened #12092 "[BUG] Inconsistent handling of integer division by zero"
**Describe the bug**

Type promotion to handle division by zero in `__floordiv__` or `__mod__` is inconsistently applied if the `0` is already a `cudf.Scalar`, depending on whether the dtypes of the `Scalar` and the divided `Column` match.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

I should always get promotion to `float64` (does it _need_ to be `float64`?) and then `inf` in

[2022-11-08 17:39] nvdbaranec opened #12093 "[FEA] cudf::column needs a set_stream() function."
`cudf::column` uses `rmm::device_buffer` for internal storage. `rmm::device_buffer` internally stores the stream it was created on.  This can create issues when creating columns on temporary worker-style streams and then returning them to a primary stream.  When the column gets destroyed, rmm throws exceptions about invalid device contexts.

A `set_stream(rmm::cuda_stream_view)` function that recu

[2022-11-08 18:59] wence- commented on #7389
At least as of #12074, cudf will match pandas 1.5 AFAICT in these cases.

[2022-11-08 19:48] vuule commented on #12068
What is the value of `SKIP_ROWS` in your code? The `skiprows` parameter tends to impact performance, so I'm trying to understand why it's used here.

[2022-11-08 19:50] davidwendt commented on #12087
I was not able to get `thrust::exclusive_scan` to accept a custom iterator.
Here is the simplest one I tried: https://godbolt.org/z/jM51nWqf7
Here is a more complex one which fails from cub: https://godbolt.org/z/dz16T6bbE

[2022-11-08 19:54] davidwendt commented on #12087
I tried an alternate approach which does an `atomicAdd` on the sizes as they are computed in the first pass kernel.
Here are the benchmark results:

[code]

[2022-11-08 21:10] bdice commented on #12093
The `rmm::device_buffer` has a [set_stream](https://docs.rapids.ai/api/librmm/nightly/classrmm_1_1device__buffer.html#ab271ced85f304e3061a3ff72526dbc37) method. This proposed API would call that method of the underlying buffer.

This seems reasonable from what I can tell, but its utility (transferring ownership between streams) will be limited until we expose streams publicly, aside from the inter

[2022-11-08 21:10] revans2 commented on #12051
I need to spend some more time to make sure I get the requirements properly. But really at a high level what we have today with [tokenization for nested JSON](https://github.com/rapidsai/cudf/blob/aaf251daa1fca7ce34b49d32a8e489ba19b621b7/cpp/src/io/json/nested_json.hpp) should give us what we need.  The main problem is that these are detail APIs in the source, instead of regular APIs we can includ

[2022-11-08 21:12] nvdbaranec commented on #12093
I think that's totally fine.  The stuff Mike is working on is just experimental stuff as is, and doesn't actually require this from `column` itself.

[2022-11-08 23:22] calcatoggio commented on #12068
I'm using the following parameters:

GPU_MEMORY = args.gpu_memory
TEST_ROWS = 453653104
OVERHEAD = 1.2
SKIP_ROWS = int((1 - GPU_MEMORY / (32.0 * OVERHEAD)) * TEST_ROWS)

[2022-11-08 23:38] vuule commented on #12068
Do you need to read the exact same number of rows in each call?
If not, using `byte_range` should be much faster because the reader does not need to scan skipped rows to find the first row to read.

[2022-11-09 01:21] quasiben commented on #11877
resolved by https://github.com/dask/dask/pull/9634

[2022-11-09 01:21] #11877 closed

[2022-11-09 03:22] hyperbolic2346 commented on #12093
I added a PR showing what we are talking about here. I don't know if this is the best way to expose this, but it hopefully clears it up enough to have a solid conversation about it.

[2022-11-09 12:12] galipremsagar commented on #11941
@weiji14 We've released `22.10.01` which removes the segfaults.
[code]

Let us know if you still have any issues.

[2022-11-09 14:22] arpan-das-astrophysics opened #12104 "Complex number support[FEA]"
Hello, I am using cudf to reduce huge astronomical datasets. However one of the big drawback (compared to pandas) is not having the complex number support. For now, I am storing the real part and imaginary part separately, however it is not really feasible as we are reading that multiple times and every time we have to reconstruct the array of complex number from real and imag parts and it is very

[2022-11-09 14:38] arpan-das-astrophysics opened #12105 "dataframe.drop not working for multindex[QST]"
I have a cudf dataframe which looks like this
![Screen Shot 2022-11-09 at 3 24 26 PM](https://user-images.githubusercontent.com/23120837/200855560-cdf38efd-c095-42c2-9c8d-269dcac2515d.png)

I want to drop all the rows corresponding to some multiindex. For example I want to drop

`index_to_drop= cudf.MultiIndex.from_tuples(zip([0,0], [1,2]), names=("B_0", "B_1"))`

`df.drop(index=index_to_drop)`

I

[2022-11-09 15:08] arpan-das-astrophysics commented on #12104
Yes same as the other issue. Currently we are doing lot of operations with complex numbers and it will be amazing to have that support otherwise it is a bit overwhelming to cast it to float all the time to store into the dataframe

[2022-11-09 16:44] quasiben commented on #12105
@arpan-das-astrophysics thanks for reporting the bug.  I was able to reproduce with the following:

[code]

[2022-11-09 19:15] abellina opened #12108 "[BUG] strided loop overflow observed while joining against build table with 1.2B rows"
We are seeing a illegal memory access while joining with a large build table (1.2B keys). We see this overflow in two scenarios, inner and left semi. There may be other cases, but these were the two I ran into.

Because we are using `size_type` in our [`counting_transform_iterator`](https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/include/cudf/detail/iterator.cuh#L70), the loops in [`cuco::s

[2022-11-09 19:17] abellina commented on #12108
@jrhemstad fyi

[2022-11-09 19:29] #10590 closed

[2022-11-09 19:43] davidwendt commented on #12108
@PointKernel

[2022-11-09 20:18] PointKernel commented on #12108
@abellina In your repro example, `num_rows` is `std::size_t` but the index iterator used to loop over rows is `int` (or `cudf::size_type`). Changing the iterator index type to `std::size_t` can get rid of the issue:
[code]
It's the user's responsibility to make sure the iterator won't overflow when passing it to cuco. I think your solution (https://github.com/abellina/cudf/commit/ea59ed13f2fe2ba8e

[2022-11-09 20:39] nvdbaranec commented on #12108
The issue here is this:

`pair_idx += (gridDim.x * block_size) / tile_size;`

The user can't (or at least shouldn't have to) know that this logic is happening.  More specifically:  the user can't possibly know that the internals of a function are using their input and potentially doubling it (when (gridDim.x * block_size) / tile_size is also the size of the input).

By changing the incoming iterat

[2022-11-09 20:46] nvdbaranec commented on #12108
For reference, this is just a slightly different flavor of:
https://github.com/rapidsai/cudf/issues/10368

[2022-11-09 22:05] ttnghia opened #12112 "[FEA] Public headers and detail headers file should have the same names"
As the title said, the public and detail headers should have the same names. Currently there are some inconsistencies between them. For example:
 * Public header: `cudf/copying.hpp`,
 * Detail header: `cudf/detail/copy.hpp`.

We should change the file names to make them consistent.

[2022-11-09 22:15] nvdbaranec commented on #12108
Since this is a counting transform iterator, the type being compared here `while (first + pair_idx < last)` is the type of the counting iterator itself and not what the transform is returning.  But the cudf::detail wrapper forces this to be a `size_type`:

`CUDF_HOST_DEVICE inline auto make_counting_transform_iterator(cudf::size_type start, UnaryFunction f)`

We can get around that by constructing

[2022-11-09 22:18] davidwendt commented on #12112
I'm not sure I agree with this global rule. I noticed that some detail functions are in separate files as needed. What makes sense to group together for the public API may not apply to internal detail functions used by multiple internal components.

[2022-11-09 22:44] PointKernel commented on #12108
The issue is persistent when using `thrust::counting_iterator<int>` directly. I noticed the size of `thrust::counting_iterator<int>::difference_type` is 8 bytes thus if we set `pair_idx` type as `int64_t`, comparison like `first + pair_idx < last` should work fine regardless of the iterator value type (or `cudf::size_type` in this case). I suspect something went wrong inside [distance_from](https:

[2022-11-09 22:58] jrhemstad commented on #12108
After giving it some more thought and conferring with my lawyers, I think this is a legit bug in cuco.

When you have an iterator, `it`, that satisfies `random_access_iterator` and you do `it + N`, then there is a requirement that `[it, it + N)` is a valid range (i.e., doesn't go past the `end`).

The safer way to write this would be:
[code]

[2022-11-09 23:06] PointKernel commented on #12108
Today I learned.

[2022-11-09 23:29] abellina commented on #12108
Yes @jrhemstad's suggestion doesn't overflow. I believe it's because `pair_idx` (or in his example `idx`) is `uint32_t` given that `threadIdx`, `blockIdx` and `blockDim` are using `unsigned int` for the components.

That said, wouldn't this overflow once we go above 4B elements? I know we currently can't address these many elements in cuDF but I am curious on how one might change the kernel to be

[2022-11-10 10:28] oliverholworthy commented on #12083
Found a more minimal example that also results in this error:

[code]

[2022-11-10 10:38] #12058 closed

[2022-11-10 11:32] oliverholworthy opened #12115 "[BUG] `find_common_type` rasies TypeError with `ListDtype`"
**Describe the bug**

Related to #12083 , which has issues with this `find_common_type` function.

I'm creating this new issue, since the issue with the function is not limited to concatenation (frame.values also results in errors with list columns). Fixing this issue seems like part of it, but might not necessarily fix the concat issue.

The function `cudf.utils.dtypes.find_common_type` raises a

[2022-11-10 11:36] mattf commented on #12071
cc @jarmak-nv

[2022-11-10 11:47] davidwendt commented on #11979
The edge case of `'$'` matching `"...\n"` when `\n` is at the end of the string in non-MULTILINE mode is not [Python specific](https://docs.python.org/3/library/re.html#regular-expression-syntax): https://www.regular-expressions.info/refanchors.html
I can look at supporting this edge case in libcudf.

[2022-11-10 11:54] calcatoggio commented on #12068
Ok, in the meantime I measured the following time:

RAPIDS 22.10 timer details:
Data Loading Part 1 training: 1.1986182959517464
Data Loading Part 1 test: 41.293686766061

RAPIDS 0.15 timer details:
Data Loading Part 1 training: 1.1835743939736858
Data Loading Part 1 test: 11.474725326057523

using

[code]

[code]

`SKIPROWS=264630977`

[code]

I'm not sure how to explain the difference?

[2022-11-10 12:07] wence- commented on #10614
This works when one has cloned the repository because in that case the file does exist (which is probably why we haven't noticed). I'll update the notebook to do the same as the other read/write options by writing first and then reading.

[2022-11-10 14:52] revans2 opened #12116 "[BUG] Allocating columns with small negative lengths succeeds"
**Describe the bug**
This is directly related to https://github.com/rapidsai/rmm/issues/1156. I recently tried to add in some extra error checking on top of `cudf::strings::concatenate` because I wanted to be ready in case https://github.com/rapidsai/cudf/issues/12087 didn't work out. As a part of this I tested overflowing by just a very small amount 4 characters more than the maximum amount.  To

[2022-11-10 16:20] revans2 commented on #12087
For me the 10 ms hit for 17 million strings is worth it. But I can see how others might not agree.

[2022-11-10 16:41] #6583 closed

[2022-11-10 17:11] wence- opened #12120 "[BUG] incorrect floor division in libcudf binarop (coming from CUDF cython)"
**Describe the bug**

Floor division of large integers loses precision because it looks like it goes through floating point division somewhere.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

Floor division should work with integers and not pass through a floating point representation.

[2022-11-10 18:28] galipremsagar commented on #11941
Closing this issue as the segfaults are fixed. Please free to re-open if this re-surfaces.

[2022-11-10 18:28] #11941 closed

[2022-11-10 18:48] wence- commented on #12120
`FLOOR_DIV` is noted as being implemented by conversion to float and truncation:

https://github.com/rapidsai/cudf/blob/b3429fb2322debf6306acbbbf3bf14b0692e932a/cpp/include/cudf/binaryop.hpp#L44-L45

This appeared in c8b897ccd1, do we recall why @devavret?

Plausible patch:

[code]

[2022-11-10 19:10] wence- commented on #12120
This is insufficient because it doesn't give floored division of floating types, so we need SFINAE overloads for:

1. std::is_integral_v T0 and T1 (numpy promotion rules match C++ rules here: TODO CHECK!)
2. float, float (`floorf(lhs / rhs)`)
3. double, double (`floor(lhs / rhs)`)

And then it is cuDF's responsibility to do appropriate type promotion on the outside before calling into libcudf.

[2022-11-10 19:33] bdice commented on #12120
I did some research with @wence- and it seems that the conventions for floor division in libcudf can be improved.

The current implementation casts both inputs to `double` before flooring. https://github.com/rapidsai/cudf/blob/b3429fb2322debf6306acbbbf3bf14b0692e932a/cpp/include/cudf/binaryop.hpp#L44-L45

However, none of C++, Python, Java match this behavior of casting to `double` first. All of t

[2022-11-11 06:40] #11812 closed

[2022-11-11 15:00] jarmak-nv commented on #12071
Hey @mattf - yeah this is a known issue and is on our radar. The pip wheels are still in experimental stages and we haven't finalized the message in the placeholders (those messages are pretty out of date).

We're also not going to push users to install `nvidia-pyindex` any more, so the correct command will be `pip install cudf-cu11 --extra-index-url=https://pypi.ngc.nvidia.com`

[rapids.ai/pip](h

[2022-11-11 15:13] wence- opened #12132 "[BUG] `cudf.concat` with `sort=True` does not match pandas behaviour when concatenating a single object"
**Describe the bug**

The pandas documentation for [`pandas.concat`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) says, of `sort`:

So if we pass `axis=0` then we expect axis-1 to be sorted (and vice versa).

Aside: `sort=True` applies in all cases (irrespective of whether `join="inner"` or `"outer"`) in pandas as far as I can tell (filed https://github.com/pandas

[2022-11-11 18:47] wence- opened #12133 "[BUG] off-by-one errors in `cudf.date_range`"
**Describe the bug**

[As part of attempting to get to XPASS-zero in the test suite]

If the date range is long enough, and for some frequencies, `cudf.date_range` has a fencepost error in the number of dates it produces.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**

No fencepost error.

[2022-11-14 04:25] GregoryKimball commented on #12044
Thank you @revans2 for documenting this deviation. If this came from your testing of corner-cases in the parquet spec, that is a great outcome.

[2022-11-14 04:31] GregoryKimball commented on #12051
Thank you @karthikeyann for opening this issue to track the discussion.

Speaking of requirements, I understand that there is are "string to map" and "string to tuple" transformations of interest. Here is the example we've been working from as the desired "string to map" transformation:
[code]

[2022-11-14 04:51] GregoryKimball commented on #12066
Thank you @revans2 for documenting these observations. It's unfortunate we have to use TPC-DS as a proxy for the customer issue. I'm sure we will find opportunities to address.. but I'm not at all sure it will help the customer!

The second idea you mentioned about stripe size would be a tricky root cause. I expect that we choose a row count per stripe because that is easier to parallelize, rather

[2022-11-14 04:58] GregoryKimball commented on #12068
Thank you @calcatoggio for sharing some additional details. It seems that the performance issue could be related to very large numbers of SKIPROWS.. 264 million in this case! I'll take a closer look at this type of case. Thank you also for sharing the snippet of the test file.

[2022-11-14 05:02] GregoryKimball commented on #12081
Thank you @ccoulombe for raising a new issue here. It looks like you have a workaround for now, but there may be an improvement we can make. @robertmaynard when you get a few spare cycles, would you please share your thoughts?

[2022-11-14 05:08] GregoryKimball commented on #12104
Thank you @arpan-das-astrophysics for raising this topic. For now I'll close this in favor of #11983 and I would like to continue the discussion there.

[2022-11-14 05:08] #12104 closed

[2022-11-14 05:09] GregoryKimball commented on #11983
Hello @arpan-das-astrophysics you mentioned storing imaginary numbers as floats in #12104 and as strings here in #11983. Would you please share a bit more about the processing steps you would like to apply to the `List[complex]` data?

[2022-11-14 08:29] arpan-das-astrophysics commented on #11983
Hi Gregory, thank you for looking into this. Initially I was using List[complex] however that is still memory efficient conversion. The best way I found is to cast the complex array into floats of adjacent (real,imag) which in principle shouldn't take any additional memory. I used `np.view(float32)` to cast the array into adjacent floats and then `tolist()` to store it in the dataframe. However, w

[2022-11-14 10:44] #12073 closed

[2022-11-14 11:02] arpan-das-astrophysics opened #12134 "Loading bigger than memory dataframe using dask_cudf [QST]"
[](url)Hello, I am trying to load a file which is bigger than the available GPU memory using `daks_cudf(filename, chunksize = '100 MiB')` (just to test).

The main dataframe is 780 Mib and I have defined chunksize to be 100 MiB. However, reading the chunk data is giving the full dataframe whereas I would expect a list of smaller chunk dataframes?

[
![Screen Shot 2022-11-14 at 11 56 37 AM](https:/

[2022-11-14 11:17] wence- opened #12135 "Behaviour of inplace for `copy_range` when range is empty."
In `copying.copy_range` we have an `inplace=False/True` argument.

If `inplace` is `True`, then the column is modified in place, if `inplace` is False, a new (copied) column is created and then modified. If the case that the range we are copying is empty, at present `inplace=False` _still_ returns a new copy (even though `copy_range` is a no-op in this situation).

Should it be allowed that

[code

[2022-11-14 14:35] beckernick commented on #12134
Dask DataFrames organize the smaller partitions into a distributed dataframe for you. You can manipulate it like a single dataframe, but under the hood it's composed of multiple smaller dataframes. `for x in dataframe: ...` will loop over the column names like in pandas. When you read the file and call `len`, you're processing the distributed dataframe in chunks as you'd expect. You can access the

[2022-11-14 14:35] #12134 closed

[2022-11-14 14:43] wence- commented on #12092
Further inconsistency, is that pandas special-cases `bool` dtypes and raises `NotImplementedError` or `ZeroDivisionError` (depending on ???) for division of a bool series by a bool.

[2022-11-14 15:31] abellina commented on #12108
This change looks great so far: https://github.com/NVIDIA/cuCollections/pull/243, with my testing not turning up any issues. Will we be able to include it in 22.12?

[2022-11-14 16:30] revans2 commented on #12051
Yes, Spark has the option of parsing a JSON dictionary as a MAP type. CUDF does not officially supports MAP as a type so we emulate it using a `LIST<STRUCT<key, value>>`. This appears to be very similar to how pandas handles nested JSON data by default converting it to a `dict` with a `dtype` of `object`. Spark also lets us parse it as a `STRUCT` with various children like happens with the nested

[2022-11-14 18:16] robertmaynard commented on #12081
I have opened #12139 to fix the dlpack issue, it would be great if you could verify that this fix works for you.

[2022-11-14 19:24] #12108 closed

[2022-11-14 20:32] galipremsagar opened #12140 "[FEA] Refactor `Frame.astype`"
**Is your feature request related to a problem? Please describe.**
Improve `Frame.astype` in a way such that we either return correct `Frame` type or rename it internal utility such that it is inline with: https://github.com/rapidsai/cudf/pull/12048#discussion_r1021964390

[2022-11-14 21:20] #11934 closed

[2022-11-14 21:23] galipremsagar commented on #11540
https://github.com/rapidsai/cudf/pull/12103 solves part of the problem. However we will need to wait until pyarrow can write complex nested data-types to an orc file.

[2022-11-14 22:48] davidwendt commented on #12087
I was able to get a custom output iterator to work with exclusive-scan so it could hold the final sum in `std::size_t` precision while still supporting `size_type` for the offsets output. Here are the benchmark results for `cudf::strings::concatenate` with this implementation:

[code]
This is much better and looks promising to support overall.
I will work on a PR to add this to the `make_strings_c

[2022-11-15 02:44] nvdbaranec opened #12143 "[FEA] Follow up on refactoring possibility from parquet chunked reader PR"
There is a small refactoring that can be done to de-duplicate some code in the parquet decoder which needs to be done as a followup.

https://github.com/rapidsai/cudf/pull/11867#discussion_r1022137500

[2022-11-15 07:41] mythrocks opened #12144 "[FEA] JNI `CSVOptions` for skipping blank lines"
[`cudf::io::csv_reader_options::enable_skip_blank_lines()`](https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/include/cudf/io/csv.hpp#L665) provides a configuration option to choose whether to skip blank lines in an input file. This decides whether a blank line constitutes another input row.

`enable_skip_blank_lines()` does not have a corresponding setter in Java via `ai.rapids.cudf.CSVOptio

[2022-11-15 08:43] mythrocks opened #12145 "[FEA] `csv_reader_options` to read empty strings as blank (i.e. `""`), not `null`."
When `cudf::io::read_csv()` encounters two consecutive field delimiters within a row, it deems the corresponding string column value as null. E.g.:
[code]
Reading the input above via `read_csv()` produces rows `{a,null,c}` and `{d,null,f}`. This is conformant with Spark's CSV reader (and presumably Pandas).

It would be useful if the column value could be optionally interpreted as an empty string

[2022-11-15 12:12] davidwendt commented on #12145
I believe you can post process this with `cudf::replace_nulls` with an empty string https://docs.rapids.ai/api/libcudf/stable/group__transformation__replace.html#gad359a898c2b11e70c3e33720259c5596

Technically you could also just remove the null mask. This assumes that null entries are created as empty strings with a corresponding validity bit set to 0.

[2022-11-15 14:06] revans2 commented on #12087
That is really great to hear. Thanks so much for working on this.

[2022-11-15 17:06] quasiben opened #12149 "[BUG] Pandas Rolling Var Differences Between 1.4.0 and 1.5.1"
I'm seeing a small failure with cuDF when using Pandas 1.4.0 and it seems like it's because rolling variance changed between Pandas 1.4.0 and 1.5.1:

[code]

[code]

cuDF meanwhile returns back the 1.5.1 result:

[code]

@galipremsagar should we formally push users to Pandas 1.5.1 ?

[2022-11-15 17:08] galipremsagar commented on #12149
We can `xfail` the test conditionally for 1.4.0

[2022-11-15 17:12] quasiben commented on #12149
Good idea!  That's a lot better than pushing everyone to 1.5+

[2022-11-15 18:04] mythrocks commented on #12145
The snag there is that we can't then differentiate between a legitimately null string and an empty one.
Consider that we have `csv_reader_options.set_na_values({"\N"})` as is common in Spark/Hive. The second and third fields of the following input row cannot be represented via CUDF columns:
[code]

[2022-11-15 19:26] #12116 closed

[2022-11-15 21:38] galipremsagar opened #12154 "[FEA] Document how decimal columns work"
**Is your feature request related to a problem? Please describe.**
We need to add some user-facing documentation on how our decimal columns work and various binops with a few walk-through examples.

Some high-level pointers:

- [x] Explain what `scale` & `precision` are.
- [ ] Explain how binops calculate the results.
- [ ] Explain how dtypes are deduced for binops.

[2022-11-15 22:11] quasiben commented on #12149
Upgrading env to 1.5.1

[2022-11-15 22:11] #12149 closed

[2022-11-15 22:37] revans2 opened #12155 "[BUG] CUDF crashes trying to read a valid ORC file with a single null entry in it"
**Describe the bug**
The file that causes this error is attached below

**Steps/Code to reproduce bug**
Try to read this particular file using CUDF.  It will throw an exception like

[code]

I am not an expert in ORC, but I tried to debug this a little bit at the point in which the error is being thrown we are trying to read two STRING columns (I assume the key and value for the map).

**Expected

[2022-11-15 22:57] revans2 commented on #12155
[error.zip](https://github.com/rapidsai/cudf/files/10016724/error.zip) has the offending ORC file in it.  Jut FYI I also found another error when trying to write a separate repro case that I will file a separate issue for. It might be related.

[2022-11-15 23:07] revans2 opened #12156 "[BUG] CUDF crashes when trying to read a valid ORC file with 100 null entries in it."
**Describe the bug**
This is related to https://github.com/rapidsai/cudf/issues/12155.  I was trying to produce a synthetic file with the same error just so I could share it without getting permission.  Well I was able to make a crash happen, but it was not the same crash. I am not sure if this is a bug that will show up as a part of #12155 or not, but I wanted to document it.  Just so you know I

[2022-11-15 23:42] beckernick opened #12157 "[FEA] Expose groupby rank via agg interface"
In pandas, I can compute groupby rank via the agg interface. In cuDF, I cannot.

This came up while looking into SQL window function coverage.

[code]

[code]

[2022-11-16 03:28] bdice commented on #11673
I think #12158 will solve this. I deleted `get_type_name`, refactored the type-to-name dispatch, and renamed `src/jit/type.{cpp,hpp}` to `src/jit/type.{cpp,hpp}`.

[2022-11-16 11:10] wence- commented on #12092
Opened pandas-dev/pandas#49699 to ask.

[2022-11-16 11:31] wence- opened #12162 "[BUG/pandas-compat]: Handling of type promotion and division/mod by zero for boolean columns"
After #12074, most type promotions between columns of mixed types (and non-mixed types) match pandas. The exception is columns with boolean dtypes.

Pandas have taken the decision to disallow division and exponentiation on boolean types when both operands are booleans (https://github.com/pandas-dev/pandas/blob/d13c9e034ce8a1d738766c4b1cec80c76f5523be/pandas/core/ops/array_ops.py#L503).

Aside: I k

[2022-11-16 11:31] #5938 closed

[2022-11-16 11:32] #7389 closed

[2022-11-16 11:32] #12072 closed

[2022-11-16 11:32] #12092 closed

[2022-11-16 13:14] karthikeyann commented on #11843
Naive byte range support is added in #12017

For missing fields, there are 2 problems.
1. empty columns (list children) or all null columns should be created in chunks missing fields.
2. different type deducted in different chunks

problem 1) could be addressed at last stage by sharing column type, size, order information.
problem 2) can be addressed via different approaches,
- Similar to dask CSV

[2022-11-16 15:53] revans2 commented on #12155
[combined_error.zip](https://github.com/rapidsai/cudf/files/10023410/combined_error.zip) Adding a second file that is like the first file, but also has a few more rows. This is closer to what our customer is seeing in production.

[2022-11-16 16:41] davidwendt opened #12167 "Rework specific cudf::strings and nvtext APIs to use make_strings_children utility"
The fix for https://github.com/rapidsai/cudf/issues/12087 is expected to go into the `cudf::strings::detail::make_strings_children` utility which will throw an error if it detects the output column will be too large.

There are currently 86 `cudf::strings` APIs with 55 of those creating new strings though only 30 of those can possibly create larger strings than its input. 18 of those 30 use the `m

[2022-11-16 18:17] mlahir1 opened #12170 "[BUG] to_orc with snappy compression fails to compress the files"
to_orc with snappy compression fails to compress the files

### Steps to repro.
1. Loading an orc file 124 MB into cudf df
2. writing back with snappy and without compressions.

Both the file sizes are inflated and about the same (223MB and 224MB)

[code]

### Expected behavior,
The same above experiment performed with rapids 22.06 gives a compressed file size. However it is still inflated and > 1

[2022-11-16 18:39] bdice opened #12172 "[PROPOSAL] Define fixed-point types in `cudf::` namespace"
Decimal types are defined in a top-level namespace `numeric` and not in the namespace `cudf`.

This shows up in the stringified type name, and violates the expectation that packages should probably keep all their definitions in a namespace owned by the package, i.e. `cudf::`.

See additional discussion: https://github.com/rapidsai/cudf/pull/12158#discussion_r1023411485

[2022-11-16 19:57] PointKernel opened #12174 "[FEA] Improve `test_single_agg` utility in groupby tests"
**Is your feature request related to a problem? Please describe.**
`test_single_agg` takes `expected_keys` and `expected_value` columns and uses those to compare against the resulting output of different groupby implementations. We shouldn't write tests that assume any ordering. Those gold references should be sorted before use.

_Originally posted by @vyasr in https://github.com/rapidsai/cudf/pul

[2022-11-16 20:00] #10181 closed

[2022-11-16 20:02] robertmaynard opened #12175 "[FEA] Improve re-use of dlpack from libcudf build dir for python builds"
**Is your feature request related to a problem? Please describe.**
When using `FIND_CUDF_CPP` for python cudf builds don't reclone dlpack.

**Describe the solution you'd like**
When using `FIND_CUDF_CPP` for python cudf builds re-use the dlpack in the libcudf build directory instead of cloning a second copy.

[2022-11-17 05:58] #8973 closed

[2022-11-17 16:45] revans2 opened #12186 "[FEA] improve performance of chunked parquet write by not using pinned memory"
**Is your feature request related to a problem? Please describe.**
I am not sure if this is a bug or a feature request but I am leaning towards a feature request. In Spark we typically have multiple streams processing data at the same time. Some of these may be copying data to or from the GPU. We have noticed that when doing a chunked parquet write that we can get some really large sections, when

[2022-11-18 16:47] jlowe opened #12201 "[BUG] Illegal memory access while sorting lists"
**Describe the bug**
We have recently seen memory corruption and GPU illegal address crashes in the RAPIDS Accelerator for Apache Spark 22.12 nightly test runs since Nov 16.  It appears to be related to sorting lists.  See https://github.com/NVIDIA/spark-rapids/issues/7092#issuecomment-1320230073 for an illegal access captured by compute-sanitizer.

**Steps/Code to reproduce bug**
So far we can on

[2022-11-18 19:02] ccoulombe commented on #12081
@robertmaynard Will do and report back!

[2022-11-18 20:24] ttnghia commented on #12201
If the bug shows up randomly then it looks similar to what we have experienced the out-of-bound error in the past: temporary `rmm::device_uvector` variable is allocated almost always with extra padding memory thus no error showed up until the input has some "magic" size passed in. In such situations, `rmm::device_uvector` variable is allocated without padding and, boom.....

[2022-11-18 20:41] jlowe commented on #12201
I'm able to reliably reproduce it if I run a large suite of hash aggregation pyspark tests, but it's not reliable if I try to cut the number of tests down to just the ones that were failing.  I also was able to save off the input data of the list sort operation as a Parquet file, but loading that Parquet data and executing the list sort does _not_ reproduce the problem, even with compute-sanitizer

[2022-11-18 20:50] ttnghia commented on #12201
Can you try disabling rmm memory pool when testing your saved parquet file with cudf list sort?

[2022-11-18 20:52] jlowe commented on #12201
Yes, that's what I already tried without success.

[2022-11-18 21:14] jlowe commented on #12201
This appears to be triggered by 90f0a77df4974c2d768e99cc7cd983ab90c2ce0b (#11969).  Spark plugin tests pass on the commit just before this and reliably fail after pulling in just this commit.

I still cannot explain why I cannot reproduce it in isolation.  There must be some state (e.g.: values of unallocated memory, state of GPU cache, etc.) that is key to getting it to reliably fail.

[2022-11-18 21:51] ttnghia commented on #12201
@jlowe Do you know the data type of the sorted lists? Knowing it can help identify the source of issue better.

[2022-11-18 21:58] jlowe commented on #12201
In the case where I can reliably get it to fail as part of a larger suite, the list is of booleans (so BOOL8 in cudf).  Here's the value from the debug dump into Parquet of the data just before the list sort call:
[code]

[2022-11-18 22:08] ttnghia commented on #12201
So it is bool type with nulls. Previously this would be sorted by cub radix sort. Now it is sorted by `detail::sorted_order`, not the new `fast_sort` algorithm. So probably there was bug in `detail::sorted_order` with bool type that didn't show up before (I'm not sure)?

[2022-11-18 22:28] jlowe commented on #12201
There are no nulls in the sample data.  Spark thinks the type is nullable, but in practice the data contains no nulls.  I believe this is a bug in the fast sort algorithm.  @davidwendt asked me to hack the code to disable the fast algorithm, and test pass with that hack.

[2022-11-18 23:49] ttnghia commented on #12201
@davidwendt From the old code:
[code]
So there are 13 params. In the new code:
[code]
And the number of params is just 11. Should this be the issue?

[2022-11-19 00:20] jlowe commented on #12201
Looks like there's a bug in cub::DeviceSegmentedSort::SortPairs, at least for boolean values.  I added printing of the indices before and after the cub calls, and here's the debug output.  The output shows the incoming column's offsets and data, along with the indices before and after.  Note that one of the indices towards the end becomes _negative_ which explains the bad behavior of the gather ca

[2022-11-19 00:42] davidwendt commented on #12201
Error appears to occur with `bool` but not with `int8_t` with CUB's segmented sort
[code]
Output
[code]
Garbage value 32724 at position 33
I will open an issue with CUB

[2022-11-19 04:58] ttnghia commented on #12201
I'm so glad that we can identify and catch the bug so quickly :+1:. Thanks :)

[2022-11-19 17:54] GregoryKimball commented on #12170
Thank you @mlahir1 for raising this issue. It looks like we have a logic error blocking the compressor from running. We expect that #12194 will resolve this issue.

[2022-11-19 18:15] GregoryKimball commented on #9466
Thank you @chenrui17 for your question about parquet performance. We frequently find that the time to copy data from host to device is longer than the time needed to decompress and decode the data. Please feel free to open a follow-up issue if you would like to continue studying read_parquet performance with us.

[2022-11-19 18:15] #9466 closed

[2022-11-19 21:45] GregoryKimball commented on #12008
@PeterGottesman Please feel free to re-open the issue if you have trouble with `schema_info`

[2022-11-19 21:45] #12008 closed

[2022-11-19 22:06] GregoryKimball commented on #10184
I believe this was solved by 11129

[2022-11-19 22:06] #10184 closed

[2022-11-19 22:13] GregoryKimball commented on #10158
Closing in favor of #11675

[2022-11-19 22:22] GregoryKimball commented on #9497
@ttnghia is this still needed?

[2022-11-19 22:23] GregoryKimball commented on #9419
Thank you @Atharex for raising this issue. Please feel free to open a new issue if you are having trouble building our latest branch.

[2022-11-19 22:23] #9419 closed

[2022-11-19 22:40] ttnghia commented on #9497
Yes this is still needed. Not a bug but having this can improve stability/reduce hidden bugs. Working on this should be very simple, just adding 1 LOC. I will take care of this.

[2022-11-19 22:44] GregoryKimball commented on #1790
Thank you @rlu-aa and @thanasions for your continued interest. Based on the earlier discussion, the sparse matrix representation can be stored in a cuDF dataframe, but it is not interoperable in that format with cuML. Has this issue received discussion in the cuML repo yet?

[2022-11-19 22:48] GregoryKimball commented on #8721
Please feel free to open a new issue if you have trouble with cuDF/cupy interoperability on the latest branch.

[2022-11-19 22:48] #8721 closed

[2022-11-20 04:32] GregoryKimball commented on #8873
Thanks @Nyrio you are right that this hasn't been solved yet. In cuDF 22.12 the errors have changed somewhat
[code]

[2022-11-20 04:42] GregoryKimball commented on #480
I'd like to omit discussion of implementation details such as hash versus one-hot encoding from the docs for now. Please feel free to raise an issue if you find cases where pandas and cudf category types do show the same behavior.

[2022-11-20 04:42] #480 closed

[2022-11-20 04:49] GregoryKimball commented on #3155
I believe this is resolved, including `CUDF_VERSION`, `CUDF_VERSION_MAJOR` and `CUDF_VERSION_MINOR`

[2022-11-20 04:52] GregoryKimball commented on #5714
@brandon-b-miller I like your proposal. Seeing "object" in my string dtypes confuses me every time I see it.

[2022-11-20 04:56] GregoryKimball commented on #7218
`skiprows` is now deprecated at the cuDF python layer

[2022-11-20 04:56] #7218 closed

[2022-11-20 05:08] GregoryKimball commented on #10318
Closed by #11272

[2022-11-20 05:08] #10318 closed

[2022-11-20 21:28] GregoryKimball commented on #12068
@calcatoggio I did some follow-up investigation here with synthetic data and could not reproduce a performance regresssion in `read_csv`. My experiment read 200 MB chunks of a 2 GB csv file either by using `skiprows/nrows` or `byte_range`. We find that `skiprows/nrows` takes longer when you are reading the end of a file due to extra row processing, and both `0.15` and `22.12` show similar performa

[2022-11-21 01:06] abnokubi commented on #11333
Just FYI.
I had a similr issue, then finally I passed the building process.
The key is cmake version, fisrt I had used cmake 3.20.1 and got the error, then I upgraded cmake to 3.24.3, it work fine.

[2022-11-21 04:00] GregoryKimball commented on #12068
I downloaded the 19 GB `test_set.csv` file for "PLAsTiCC" from Kaggle and benchmarked some reading times with large values of `skiprows`.

The file has 453M rows. Reading it with `skiprows` of 260M showed loading times of:
* cuDF version `0.15`: 5.8, 5.5, 6.1s
* cuDF version `22.12`: 7.1, 7.2, 7.1s

So far I have not been able to reproduce the 4x performance regression that was reported. Please le

[2022-11-21 04:19] GregoryKimball commented on #9461
@vyasr should we close this?

[2022-11-21 05:03] GregoryKimball commented on #10743
I'll close this for now. If we see performance issues when using the new row hasher, we will start a new investigation.

[2022-11-21 05:03] #10743 closed

[2022-11-21 10:54] harrism commented on #12172
Seconded.

[2022-11-21 14:43] jlowe commented on #9461
I don't think this has been solved for any case other than inner joins (which allows swapping the tables).

[2022-11-21 15:45] ccoulombe commented on #12081
It works, but instead of reusing the already pulled dependency when the c++ part was built, it pulls it again
[code]

[2022-11-21 16:17] calcatoggio commented on #12068
Thanks a lot for your help and the performance numbers, I will try again with the OS cache.

I will let you know if I still see the 4x performance regression.

[2022-11-21 16:56] ttnghia opened #12212 "[FEA] Support `duplicate_find_option::FIND_ALL` for `lists::index_of`"
Currently, the API `lists::index_of` can only search for the first or last index of the given key in the lists. In some cases, we need to search for all the positions where the key appears in the search space (lists). For example, we want to remove an element from the lists:
[code]

In order to implement such API (`remove`), we need to support `duplicate_find_option::FIND_ALL` for `lists::index_of

[2022-11-21 17:07] ttnghia opened #12213 "[FEA] Support `lists::remove`"
We should have an API to remove an element from the given list, like this:
[code]

[2022-11-21 17:48] robertmaynard commented on #12081
Good to hear that it works.

As for re-use of the existing dlpack, I am planning on correcting this for 23.02 but since it requires more CMake work it wasn't eligible for 22.02 given where we are in the release cycle.

[2022-11-21 18:42] davidwendt commented on #12201
Created CUB issue here: https://github.com/NVIDIA/cub/issues/594
Still working on possible solutions.

[2022-11-21 19:10] galipremsagar opened #12216 "[FEA] Allow creation of nullable Index objects via `to_pandas`"
**Is your feature request related to a problem? Please describe.**
We currently support converting a `cudf.Series` to a pandas nullable Series by doing `series.to_pandas(nullable=True)`. But pandas recently added support for nullable types in `pd.Index`, so we should add support for `index.to_pandas(nullable=True)` to be possible.

[2022-11-21 19:15] bdice commented on #12216
The test function `test_index_hasnans` should be updated from #12214 when this feature is added.

[2022-11-21 19:16] galipremsagar commented on #12216
Sounds good

[2022-11-21 20:16] davidwendt commented on #12201
Verified that adding a `cudf::bit_cast` to the [test code above](https://github.com/rapidsai/cudf/issues/12201#issuecomment-1320706719) will workaround the error
[code]
The CUB issue is specifically due to an error in handling the `bool` type for the keys.
The `cudf::bit_cast` is a zero-copy function.

[2022-11-21 22:42] revans2 commented on #10797
To be clear for the escape character we don't need a column of escape characters. We only need a scalar.

[2022-11-21 22:43] davidwendt commented on #10797
There is a pattern per row. So the size of the patterns column will be the size of the input column.

[2022-11-22 00:33] #11975 closed

[2022-11-22 05:20] sameerz opened #12219 "[BUG] Add test cases to check compression is enabled"
**Describe the bug**
There have been cases where compression has been enabled but files fail to compress properly.  Please add test cases to validate compression algorithms are in use.  Failing to compress a file in production can result in very slow reading or writing.

**Steps/Code to reproduce bug**
Related issues https://github.com/rapidsai/cudf/issues/12066, https://github.com/rapidsai/cudf/i

[2022-11-22 07:23] vuule commented on #12066
@revans2 have you verified that #12194 fixes the size difference?
Please let me know if anything is needed on cuDF end before this can be closed.

[2022-11-22 09:55] wence- commented on #11386
This is fixed by the changes in cuda-python that fixed nvidia/cuda-python#24, which are in v11.8. So should be resolved once we move there.

[2022-11-22 15:16] brandon-b-miller commented on #12052
I see no reason why the scalar machinery couldn't be used to back `cudf.Timestamp` from a technical perspective.

One question I would have is what would we do with the `cudf.Scalar` constructor when a timestamp is passed? Would we return a `cudf.Timestamp` at that point or would we still allow construction of a `cudf.Scalar` object of `datetime` dtype, that _isn't_ a `cudf.Timestamp`?

[2022-11-22 15:20] arpan-das-astrophysics opened #12222 "Import cudf is changing the time taken for cupy array operation[BUG]"
Hello, just importing the cudf array is making creation and operation of cupy arrays a lot slower. For example, I used the following code

[code]

And the output I am getting:
[code]

I am converting a whole cpu based code to gpu code using cudf but it was making the code even slower and while debugging it we found this is the issue.

[2022-11-22 15:21] shwina commented on #12052
Assuming we all like the inheritance relationship, I would strongly be in favor of the latter than the former. Returning a subclass from a superclass ctor _a la_ `cudf.Index` is frustrating to support.

It doesn't feel too icky to do the latter to me. For instance, `pd.Timestamp` inherits from `datetime.datetime`, which is a fully constructible and usable type in and of itself.

[2022-11-22 15:23] bdice commented on #12222
@arpan-das-astrophysics Can you offer information on your GPU and its memory size? Importing cudf will load some code onto the GPU that takes some space. I wonder if that is related. Do you see the same behavior for smaller inputs than `1000x1000x1000`? Finally, can you add `del A; gc.collect()` at the end of the benchmark loop?

[2022-11-22 15:31] arpan-das-astrophysics commented on #12222
Yes sure. It is an A100 GPU with 40GB of memory. For smaller size array e.g. ```200x200x200``` the times are still different
[code]
I used ```del A; gc.collect()``` and it didn't change anything

[2022-11-22 15:37] bdice commented on #12222
I suspect the difference comes from setting the RMM allocator: https://github.com/rapidsai/cudf/blob/d49e4123dd329d65f067deb4ffd8b100d84cf46a/python/cudf/cudf/__init__.py#L95

Can you compare a case where you don't import cudf, but only set the RMM allocator? https://docs.rapids.ai/api/rmm/stable/basics.html#using-rmm-with-cupy
[code]

[2022-11-22 15:39] bdice commented on #12222
If that shows a difference, you might try enabling the pool allocator:
[code]
https://docs.rapids.ai/api/rmm/stable/basics.html#memoryresource-objects

[2022-11-22 15:44] beckernick commented on #12222
CuPy uses a memory pool by default. Using the RMM pool should resolve this issue.

[2022-11-22 16:08] arpan-das-astrophysics commented on #12222
Indeed, that was the issue. Enabling the pool allocator resolves the problem. Thank you so much. Is there a way to determine the ```initial_pool_size``` and ```maximum_pool_size``` based on the GPU memory? How do I know which value to use?

[2022-11-22 16:18] revans2 commented on #12066
From what I have seen it fixed over half of the size difference with the CPU.  The size for the example that I have went down from about 22 GiB to 19 GiB, but the CPU version is at 17 GiB.

@viadea do can you also try this out on the original proprietary data set and see if it is good enough now?

[2022-11-22 16:37] shwina commented on #9575
Since `Series.dropna()` drops `NaN`, I think it's fair to expect `groupby().dropna()` to follow suit. In other words, this is a bug in cuDF.

[2022-11-22 16:43] shwina commented on #8693
This is because of an "optimization" for scalar inputs to `loc` (https://github.com/rapidsai/cudf/blob/branch-23.02/python/cudf/cudf/core/series.py#L292), that we should probably get rid of.

A workaround is to pass the index in a list:

[code]

[2022-11-22 17:12] taureandyernv opened #12224 "[BUG] Importing dask_cuda results in import error with 'get_device_index_and_uuid`"
**Describe the bug**
When you import dask_cuda, it results in an ImportError saying that it cannot import name 'get_device_index_and_uuid' from 'distributed.diagnostics.nvml'

**Steps/Code to reproduce bug**
When you run this:

[code]
Output:
[code]

**Expected behavior**
The import will work and dask_cuda will start

**Environment overview (please complete the following information)**
Affects all

[2022-11-22 17:18] taureandyernv commented on #12224
Added `distributed` as per @pentschev's request

[2022-11-22 17:28] GregoryKimball commented on #6689
@vyasr We've been moving away from JIT in libcudf - is this issue still relevant? Does this tagging proposal have any application to Python-Numba UDF jitted kernels?

[2022-11-22 17:42] wence- commented on #12224
This is old. Why is it being picked up?

[2022-11-22 18:51] davidwendt commented on #12222
I don't think there are any standard rules. These 2 variables are optional. I would just start with the defaults and go from there.
https://docs.rapids.ai/api/rmm/stable/api.html#rmm.mr.PoolMemoryResource

[2022-11-22 18:57] GregoryKimball commented on #2891
Closing in favor of #7108

[2022-11-22 18:57] #2891 closed

[2022-11-22 18:58] GregoryKimball commented on #584
I would like to pick up the work in #10064 after we've completed #12002

[2022-11-22 19:08] vuule commented on #12066
What about the files that were 10x larger? Are they within a reasonable range now?

[2022-11-22 20:34] ttnghia commented on #10688
Now #11077 is no longer a dependency. We're going to tokenize the strings column.

[2022-11-22 21:25] revans2 opened #12228 "[FEA] Supported chunked reading of ORC files"
**Is your feature request related to a problem? Please describe.**
This is essentially the same thing as was done for parquet in https://github.com/rapidsai/cudf/pull/11867, except we would like to be able to parse ORC files.

**Describe the solution you'd like**
A new ORC parsing APIs that would let us read files that have really large stripes, and ideally have a best effort target size.

**Descr

[2022-11-22 21:53] GregoryKimball commented on #12201
Closed by #12217

[2022-11-22 21:53] #12201 closed

[2022-11-22 23:14] vyasr commented on #12224
I am suspecting that https://github.com/rapidsai/cudf/pull/12231 is the culprit.

[2022-11-23 02:50] mroeschke commented on #12216
If possible, allowing the user to chose the nullable type e.g. `pd.ArrowDtype(pa.int64)` vs `pd.Int64Dtype` would be great to include

[2022-11-23 16:49] shwina opened #12235 "[FEA] Use RMM memory pool by default"
We should move to using an RMM managed memory pool by default.

This was brought up before in https://github.com/rapidsai/cudf/issues/2676. In response to that issue, we implemented `set_allocator`, https://github.com/rapidsai/cudf/pull/2682, but we chose not to enable the RMM pool by default (likely because we didn't want to monopolize GPU memory away from other libraries).

Since then, CuPy, Num

[2022-11-23 17:59] vyasr commented on #9461
@jlowe is correct, this has only been solved for inner joins. Solving it for other types of joins will be substantially more complicated and will likely require an entirely new algorithm, and the new algorithm will most likely have measurably larger overhead. Perhaps there is a generic solution that does not introduce any more work, but I was not able to come up with one at the time that this issu

[2022-11-23 18:01] vyasr commented on #9461
One possibly reasonable naive solution for might be to do a two pass approach that is an inner join followed by a left join with a suitable predicate to determine which rows had no matches in the inner join. That may still be sufficient to overcome the current performance bottlenecks in some cases without doubling the number of kernels or requiring the development of entirely new ones.

[2022-11-23 18:02] vyasr commented on #584
As a first step I would prioritize finding a way to run clang-tidy in CI. PRs that fix clang-tidy errors are nice, but we inevitably accumulate more without CI checking for us.

[2022-11-23 18:10] vyasr commented on #12052
Yeah, I'm a hard no on having `cudf.Scalar(...)` return a `cudf.Timestamp`. I'm fine with the inheritance relationship though.

While we're at it we should also look at #5882.

[2022-11-23 18:41] vyasr opened #12236 "[FEA] Add a new cuDF option stable_sort that provides ordering guarantees for otherwise nondeterministic APIs"
**Is your feature request related to a problem? Please describe.**
Currently various cuDF APIs (examples include `merge`, `groupby`, and `drop_duplicates`) rely on libcudf APIs that do not promise stable ordering. libcudf will not (and should not) ever be forced to make such guarantees since requiring ordering hamstrings potential optimizations and can always be achieved by calling code with the a

[2022-11-23 18:42] GregoryKimball commented on #11165
Hello @chinmaychandak, would this `to_json` feature be useful for your work in Kratos?

[2022-11-23 19:18] #11993 closed

[2022-11-23 20:09] revans2 commented on #12066
I heard back from the original customer and this has fixed their initial problem enough that we can close this.

[2022-11-23 23:09] vuule commented on #11890
Seems to be related to row group index; reading nonsensical offsets for the second row group (larger than the streams):
[code]
Even if we switch the offsets around 272 does not make any sense. Trying to find whether the stream lengths are wrong or the offsets.

[2022-11-24 05:35] tiketdatayash opened #12240 "[BUG] Dask-Cudf Matrix Multiplication (Axis dimension mismatch)"
Description
Generally the cudf consist's a in build function for matrix multiplication (ref:-https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.DataFrame.dot.html). When using the same function with dask-cudf it results in axis-dimension mismatch.

**Steps/Code to reproduce bug**
Just create two dask_cudf data frame of appropriate dimensions and multiply them with df1.dot(df2,meta).
Please f

[2022-11-24 18:33] wence- commented on #12240
Can you please provide a test case we can run to reproduce the bug? Manually copying from a screenshot is both difficult and error prone.

[2022-11-24 18:40] wence- opened #12241 "[BUG] libcudf tests of binary operations (in `binop-compiled-test.cpp`) mostly do not test against a ground truth"
**Describe the bug**

Binary operations between columns are implemented by runtime typed dispatch to device functors in [`cpp/src/binaryop/compiled/operation.cuh`](https://github.com/rapidsai/cudf/blob/7426a06a4510280650df4cf54b76504d690c80b2/cpp/src/binaryop/compiled/operation.cuh).

Tests of this functionality compare to host-based compute, with an implementation of the functors in [`cpp/tests/b

[2022-11-25 14:43] wence- commented on #9913
Fixed by #12074

[2022-11-25 14:43] #9913 closed

[2022-11-25 16:34] wence- opened #12243 "[BUG] read_parquet/to_parquet don't handle empty dataframes correctly"
**Describe the bug**

[This is (possibly) related to https://github.com/pandas-dev/pandas/issues/37897]

An empty dataframe cannot be round-tripped through `to_parquet/read_parquet`:

[code]

If I try and read the buffer in pandas I also get an issue

[code]

If I create the buffer from pandas,  Iget a bad allocation in libcudf
[code]

**Expected behavior**

~cuDF should not segfault on invalid in

[2022-11-26 09:49] KazukiOnodera opened #12245 "[FEA] groupby.head and tail"
I wish I could use cuDF to do groupby.head and tail

I'm expecting this behavior like pandas

[code]

[2022-11-28 00:56] jlobo commented on #8510
Hi all, I tried different configurations from this thread to run PyTorch and RAPIDS with CUDA but it was useless for me.

I did it with docker and here is the configuration:

[code]

Any suggestions how I should do it?

[2022-11-28 03:25] GregoryKimball commented on #9111
We made a good effort to try and remove the `strings_column_view::parent` API as a solution to this issue but we could not make that work. For now I'll close this issue.

[2022-11-28 03:25] #9111 closed

[2022-11-28 03:51] jhkonan commented on #8510
What issue did you get when trying this?

[2022-11-28 04:34] ttnghia commented on #9111
This is not to remove anything. Instead, it's asking for renaming.

[2022-11-28 05:32] bdice commented on #8510
@jlobo If you're interested in using a container, you may like to try the NVIDIA Deep Learning Frameworks (DLFW) containers. These images are pre-configured with libraries like PyTorch or TensorFlow as well as all RAPIDS libraries. See here for more information:
- Overview / docs: https://docs.nvidia.com/deeplearning/frameworks/
- PyTorch + RAPIDS container: https://catalog.ngc.nvidia.com/orgs/nvi

[2022-11-28 13:16] #11979 closed

[2022-11-28 18:03] wence- commented on #11990
Since this can bite in various circumstances here are some proposals:

### Keep track of views and warn on read-after-write/write-after-write

When we create a view `child` keep a weakref to it on the `parent` `Series`/`DataFrame` (and vice versa). When we do a write into `parent` (`child`) if there are any weakrefs that are live, walk through them and mark the `child` (`parent`) as invalid: any s

[2022-11-28 19:08] #4665 closed

[2022-11-28 19:08] #4946 closed

[2022-11-28 19:08] #10614 closed

[2022-11-28 19:10] wence- commented on #10799
I think anything we do here will need to be in tandem with proposed serialisation changes in dask/distributed that are being contemplated. So I'll revisit this then.

[2022-11-28 20:47] GregoryKimball opened #12248 "[BUG] Transfer correct dtype to columns returned by `list.get`"
**Describe the bug**
For `list<struct>` columns in cuDF, the struct keys are lost after using the `list.get` accessor. Please see #11687 for a similar issue with the `explode()` function.

**Steps/Code to reproduce bug**
Here is a short repro. Please note how `explode` preserves the key `'k'`, but `list.get` overwrites the key as `'0'`.
[code]

**Expected behavior**
Transfer correct dtype to colum

[2022-11-28 21:12] bdice commented on #8399
@mythrocks @karthikeyann This came up in our meeting today. If you have any additional context on what needs to be done or whether this issue can be closed, feel free to share. The code has moved to a different filename since this issue was filed: https://github.com/rapidsai/cudf/blob/3bf6d1dbe485f479164c13df9d6007ffdefaf613/cpp/src/rolling/detail/rolling.cuh#L83

[2022-11-28 21:28] andygrove commented on #11742
I just noticed this question by chance. I did work on a proof-of-concept of wrapping cuDF in Rust, and it is possible. I used [cxx](https://cxx.rs/) to generate the bindings. This approach does involve writing a Rust-friendly C++ wrapper around cuDF first though (similar to how the Java bindings require custom C code).

[2022-11-28 22:17] vyasr commented on #12224
Updating: I was wrong #12231 was an unrelated bug.

[2022-11-28 23:01] mythrocks commented on #8399
There is some cleanup that can be done here, but I don't know if there's enough to warrant a pair-up.
At the time, `is_valid_aggregation()` returned incorrect results for `STRUCT`/`LIST`. E.g. `SUM` on `STRUCT` columns. I haven't checked if that's been sorted out. If it has, then `is_valid_aggregation()` can be used in place of `DeviceRolling::is_supported()`.

[2022-11-28 23:27] jbrennan333 opened #12249 "[BUG] Compressing a table with large strings using ZSTD can result in little or no compression"
**Describe the bug**
A spark internal customer tried using zstd compression on the gpu in a 22.12 snapshot release and reported that they were getting no compression, while with cpu they were getting very good compression.
Using the first 100,000 rows of one of their tables, I got:
[code]
I was also able to repro with 100 rows, and with parquet-tools, I could see that most of the columns were unco

[2022-11-28 23:31] jbrennan333 commented on #12249
[repro-data.tgz](https://github.com/rapidsai/cudf/files/10108347/repro-data.tgz)

Uploaded a tar file with the uncompressed data, the cpu zstd compressed data, and the gpu zstd compressed data.
This is the example data that I generated that shows the problem.

[2022-11-28 23:31] jbrennan333 commented on #12249
@vuule can you please take a look at this?

[2022-11-29 00:37] vuule commented on #12249
@etseidl opened a PR that's potentially a fix for this issue: https://github.com/rapidsai/cudf/pull/12182

[2022-11-29 01:12] GregoryKimball commented on #10368
Thanks @harrism for creating the [ranger](https://github.com/harrism/ranger) repo! Do you think we are ready to kick off an integration with libcudf, or does ranger need more development first?

[2022-11-29 02:06] etseidl commented on #12249
Looking at the files, the issue is the fragment size.  There are only 32 rows, but the data exceeds the 64k zstd buffer size by a few bytes.  The fragment size would need to be set to 30 or less, and the fix from #12182 applied for compression to happen.

FWIW, I'm currently testing a prerelease of nvcomp that has a much larger buffer size, and do get slightly better compression when using that wi

[2022-11-29 05:43] jonathanlionoattiket commented on #12240
[daskcudf_simulated_jono.ipynb.zip](https://github.com/rapidsai/cudf/files/10110082/daskcudf_simulated_jono.ipynb.zip)

@wence- thanks just copying again from our previous query in https://forums.developer.nvidia.com/t/dask-cudf-matrix-multiplication-valueerror-axis-dimension-mismatch/234541?u=yash.kushwaha.

For more context here as @tiketdatayash also part of my team, I have also tried this on s

[2022-11-29 08:40] jlobo commented on #8510
Simple never finished to resolve conflicts @jhkonan.

[2022-11-29 09:56] wence- commented on #12240
Thanks, this appears to be a bug in dask dataframe, I will take a look. Here is a reduced example:

[code]

[2022-11-29 11:46] wence- commented on #12240
I think that the issue is that dask does not actually implement `DataFrame.dot` (the implementation only works if the left operand is a `Series`), opened https://github.com/dask/dask/issues/9700.

Having said all that, can you explain why you are trying why you are trying to perform this matrix multiplication with dataframe objects? As I understand it from your example notebook, the actual matrice

[2022-11-29 15:16] wence- commented on #11477
This is not possible because `Series` objects contain data of a single homogenous dtype. In this case (mixed string and numeric columns), the series that we want to get would contain heterogeneous dtypes, which is not supported. Pandas can happily store `object` arrays that really support heterogeneous dtypes so it is not a problem there.

[2022-11-29 15:38] jbrennan333 commented on #12249
I have tested this with #12211, and it did not resolve it.  In the customer case, the files are much larger, and the resulting  row groups are much bigger as well.

[2022-11-29 15:40] jbrennan333 commented on #12249
Oh, and I did verify that setting the rows to 31 does allow compression to happen:
[code]

[2022-11-29 16:36] etseidl commented on #12249
I guess we'll have to wait on nvcomp 2.5 then (although there's the risk of out-of-memory errors...I've been having to do a lot of parameter tuning to get optimal compression and batch size).  I also think the page boundary calculation needs be reworked for nested schemas; lists just cause so much grief.

[2022-11-29 17:34] randerzander opened #12255 "[FEA] Support device-side de/compression of CSV files"
I have a lot of gzip compressed CSV files. When I use cudf to read them, the host handles decompression before copying decompressed data to device.

For cudf, that's not a problem, since it'll at worst be no slower than CPU.

But when I read w/ dask_cudf, compared to CPU dask.dataframe, I will usually have <=8 workers in a LocalCUDACluster. If I'm reading a large number of compressed files, those

[2022-11-29 18:18] wence- commented on #11550
This is a bug in cudf's treatment of merge when both `left_on` and `right_on` are provided:
[code]

I think this is because the `Merge` object incorrectly determines that there are no key columns with matching names if any of the key columns are indices.

This patch might be right:

[code]

[2022-11-29 18:19] ttnghia opened #12256 "[FEA] Add `null_count_if_available` or `lazy_null_count` to `column` and `column_view`"
The classes `column` and `column_view` have `null_count` functions that return the number of nulls in the given column. The column holds an internal null count value which is defaulted to `UNKNOW_NULL_COUNT`.

During various transformations, we need to copy that null count value around but may not really care about what that value is. However, if the function `null_count()` is called but the colum

[2022-11-29 18:24] vyasr commented on #12066
Closing based on the previous comment.

[2022-11-29 18:24] #12066 closed

[2022-11-29 18:27] #6689 closed

[2022-11-29 18:36] davidwendt commented on #12256
The `UNKNOWN_NULL_COUNT` feature will be removed with https://github.com/rapidsai/cudf/issues/11968
So we will not be needing these extra functions.

[2022-11-29 19:12] vuule commented on #12156
Closed via #12160

[2022-11-29 19:12] #12156 closed

[2022-11-29 19:26] vyasr commented on #12235
Some thoughts:
- cuda-python/pynvml have APIs for checking total device memory usage (e.g. `cudaMemGetInfo`). Should we inject some checks at import time to ensure that the entire GPU is available, or maybe print some initial stats on the max pool size based on available GPU memory?
- Can we wrap the allocator in an adapter that checks (on OOM) whether memory has been allocated outside of the pool

[2022-11-29 19:27] etseidl commented on #12249
@jbrennan333 I've modifed #12211 to add a `max_page_fragment_size` parameter to the writer.  Setting this to 20 yielded a compressed file comparable in size to the cpu-zstd file.  I'm curious to see if this will work with your larger data sets (and also wondering what effect there will be on performance).

[2022-11-29 21:15] jbrennan333 commented on #12249
I built with that patch and hard-coded `max_page_fragment_size=20`.   This did result in more comparable compression results:
[code]

I don't have good performance numbers on this, since I'm just reading/writing these files on my desktop from spark shell.  That said, I did time these writes and it was `cpu: 1381 ms` and `gpu: 831 ms`.

Are we considering using a very small fragment size like this,

[2022-11-29 21:22] vuule commented on #12249
The idea is to derive fragment size per column, based on the column data size. But it will take a bit to implement :)

[2022-11-29 21:39] GregoryKimball commented on #12212
Thanks @ttnghia for raising this issue. Would the "find_all" behavior in [parsing_utils.cu](https://github.com/rapidsai/cudf/blob/e67b94b19056282325bd5bad823fd66aeafd92c5/cpp/src/io/utilities/parsing_utils.cu#L117) be useful for this new option?

[2022-11-29 21:58] bdice commented on #8510
@jlobo I strongly recommend using [mamba](https://mamba.readthedocs.io/en/latest/installation.html) for solving environments. I see conda fail quite often with complicated environments that mamba handles just fine.

[2022-11-29 22:09] ttnghia commented on #12212
No, it is similar but totally different here. That `parsing_utils.cu#find_all_from_set()` is dealing only with `char` type. For general lists (which may be nested) then the implementation is very different.

[2022-11-29 22:49] etseidl commented on #12249
This.  What I've done so far is a work around until what @vuule suggested can be implemented.  It would require exposing this through the java interface, and then adding a way for spark users to set it.  Would definitely be a power user kind of thing.  But it's at least nice to see the small fragments a) worked, and b) gpu was faster than cpu.

The trouble with ultra small fragment sizes is that i

[2022-11-29 23:08] mattf opened #12258 "[FEA] automatic construction of MultiIndex DataFrame"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, using `import cudf as pd`

**Describe the solution you'd like**
[code]
i would like the same functionality in `cudf` as is present in `pandas` (see https://pandas.pydata.org/docs/user_guide/advanced.html#hierarchical-indexing-multiindex)

[2022-11-29 23:16] mattf opened #12259 "[BUG] maximum recusion depth exceeded on MultiIndex DataFrame"
**Describe the bug**
[code]

**Environment overview (please complete the following information)**
rapidsai/rapidsai-nightly:22.12-cuda11.5-runtime-rockylinux8-py3.9 on 29 nov 2022

[2022-11-29 23:18] mattf opened #12260 "[FEA] cudf.DataFrame.xs"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas to cudf, using `import cudf as pd`

**Describe the solution you'd like**
`cudf.DataFrame.xs` matching https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.xs.html

[2022-11-29 23:23] PointKernel opened #12261 "[FEA] Refactor hash-based algorithms with new cuco data structures"
**Is your feature request related to a problem? Please describe.**
`cuco::static_map` and `cuco::static_multimap` are used to perform hash-based operations in libcudf. Depending on https://github.com/NVIDIA/cuCollections/issues/110, all the existing use cases should be replaced `cuco::static_set` or `cuco:static_multiset` since the payload part in the hash map has never been used.

Moreover, some

[2022-11-29 23:24] mattf opened #12262 "[FEA] multiple columns with same name"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, using `import cudf as pd`

**Describe the solution you'd like**
[code]
i would like the same functionality in `cudf` as present in `pandas`

[2022-11-30 00:51] mattf opened #12263 "[BUG] DataFrame.groupby.describe differs between cudf and pandas"
**Describe the bug**
[code]

**Environment overview (please complete the following information)**
rapidsai/rapidsai-nightly:22.12-cuda11.5-runtime-rockylinux8-py3.9 on 29 nov 2022

[2022-11-30 04:19] GregoryKimball commented on #11843
Closed by #12017

[2022-11-30 04:19] #11843 closed

[2022-11-30 04:34] jlobo commented on #8510
Thanks for the advice @bdice

[2022-11-30 08:40] gdaisukesuzuki opened #12264 "[BUG]Fail to read_json with commas replaced by newlines"
**Describe the bug**
I tried test_json.py::test_json_quoted_values_with_schema[str-[{"k": "1"}, {"k": "2"}, {"k": null}, {"k": 4}]], and it ended in "Fatal Python error: Aborted"

**Steps/Code to reproduce bug**
[code]

**Actual**
[code]

**Environment overview (please complete the following information)**
 - Linux (x86-64)
 - Python3.10+RMM Branch-22.12+CUDF BRANCH-22.12
 - Method of cuDF install

[2022-11-30 13:14] titericz opened #12265 "[FEA] Add ascending parameter to cumcount."
**Is your feature request related to a problem? Please describe.**
cumcount misses `ascending` parameter present in pandas breaking any code exported from pandas.

**Describe the solution you'd like**
Add `ascending=[True/False]` parameter to cumcount to match pandas syntax.

**Describe alternatives you've considered**
An alternative for `ascending=False` would be to pick the max of the group and

[2022-11-30 13:45] csadorf opened #12266 "[BUG] cudf.DataFrame.equals reports False for inputs with NaNs"
**Describe the bug**

According to the [documentation](https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.DataFrame.equals.html#cudf.DataFrame.equals), the result of `DataFrame.equals()` should be `True` when the two dataframes are equal, even when they contain NaNs:

However, this does not seem to be the case under certain circumstances.

**Steps/Code to reproduce bug**

The following snipp

[2022-11-30 15:58] #12262 closed

[2022-11-30 16:09] randerzander commented on #12057
Dask-SQL

New/Restored Features:
* Support for [`create experiment`](https://github.com/dask-contrib/dask-sql/pull/796) syntax
* Automatic handling of nullable types for ML train & predict features
* Accept `split_out` to be used by SQL operations that result in a Dask DataFrame group by
* Accept [more SQL types](https://github.com/dask-contrib/dask-sql/pull/824)
* More query optimization rules fr

[2022-11-30 16:21] beckernick commented on #12245
This is close to a duplicate of https://github.com/rapidsai/cudf/issues/2592 , though this also asks for `tail`

[2022-11-30 17:18] galipremsagar commented on #12266
@karthikeyann Looks like libcudf `NULL_EQUALS` binary op isn't accounting for `np.nan` values

[2022-11-30 17:33] galipremsagar commented on #12216
@mroeschke is there a good documentation where we can learn how pandas uses arrow types? or is it configurable by pandas options or a variable?

[2022-11-30 17:52] mroeschke commented on #12216
As of 1.5.2, user typically need to specify `dtype="<type>[pyarrow]"` or `dtype=pd.ArrowDtype(pa.<type>())` to opt into the pyarrow types, but otherwise a lot of common operations work similarly with these types. Actually, since this issue is specifically referencing converting `Index` objects, my suggestion may be a bit premature. `pandas.Index` can _store_ arrow types but the _indexing operation

[2022-11-30 18:26] shwina commented on #12245
I believe this will need `libcudf` support as well (just FYI @GregoryKimball).

[2022-11-30 18:44] quasiben commented on #12057
## Dask

CPU/GPU dispatching is now available for Dask-Dataframe creation allowing users to easily switch between CPU/GPU for Dask workflows: [#9475](https://github.com/dask/dask/pull/9475) and [#11920](https://github.com/rapidsai/cudf/pull/11920)

Groupby aggregation performance increase with shuffle-based algorithms is now on by default: [#9406](https://github.com/orgs/rapidsai/projects/51/views

[2022-11-30 20:15] bdice opened #12273 "Update PyTorch pinning"
**Describe the bug**
Currently our CI tests are pinned to PyTorch <1.12.0.

https://github.com/rapidsai/cudf/blob/5f83a8491603eadc1de5cb174016801c1cca5824/conda/environments/all_cuda-115_arch-x86_64.yaml#L61

https://github.com/rapidsai/cudf/blob/5f83a8491603eadc1de5cb174016801c1cca5824/dependencies.yaml#L204

Two possible solutions to remove the pinning (maybe more?):
- Add ARM+CUDA to conda-forg

[2022-11-30 20:21] jakirkham commented on #12273
As noted offline, we may want to add a comment next to those respective pins with a link to this issue. That would hopefully help anyone who wonders about them discover the additional context

[2022-11-30 20:53] shwina commented on #12266
I don't think this is a bug in libcudf (typically, NaNs do not compare equal). Possibly something we need to find a solution for in Python land.

[2022-11-30 21:26] davidwendt commented on #12266
The libcudf row-comparator has specialized supported to report equality when comparing NaNs:
https://github.com/rapidsai/cudf/blob/5f83a8491603eadc1de5cb174016801c1cca5824/cpp/include/cudf/table/row_operators.cuh#L138-L143
I think we can make this consistent at least for `NULL_EQUALS`
https://github.com/rapidsai/cudf/blob/5f83a8491603eadc1de5cb174016801c1cca5824/cpp/src/binaryop/compiled/operation

[2022-11-30 21:44] VibhuJawa opened #12274 "[BUG] fillna with dataframe containing list dtypes fails"
**Describe the bug**

fillna with dataframe containing list dtypes fails .

**Steps/Code to reproduce bug**
[code]

[code]

**Expected behavior**

I expect this to work like it does for non list columns.

[code]
[code]

**Environment overview (please complete the following information)**
 - Method of cuDF install: [conda]
cudf                      22.12.00a221128 cuda_11_py39_g0c60819cf3_305    ra

[2022-11-30 21:57] davidwendt commented on #12266
I made a quick change to `NullEquals` in https://github.com/rapidsai/cudf/pull/12275 for discussion purposes and in case you want to try it out.

[2022-11-30 22:29] #11550 closed

[2022-11-30 22:55] #9474 closed