[2022-08-04 17:21] hyperbolic2346 opened #11468 "Investigate changing `get_extremum` to a type dispatch function in parquet statistics"
As brought up in the review of some statistics code and also Jake has mentioned it as well. The function `get_extremum` is basically a pile of if/else if and calling the correct function, it seems like this should be a type dispatch.

_Originally posted by @hyperbolic2346 in https://github.com/rapidsai/cudf/pull/11403#discussion_r937319177_

[2022-08-04 17:39] #11311 closed

[2022-08-04 18:44] hyperbolic2346 opened #11469 "Need an address alignment utility function in cudf"
As found in review of code, there are alignment functions scattered around. We should have a single device-accessible alignment function that everything uses instead of doing the bit operations themselves or having a static local function for it.

_Originally posted by @etseidl in https://github.com/rapidsai/cudf/pull/11403#discussion_r938132622_

[2022-08-04 18:47] vyasr commented on #5938
Binary operations in libcudf are designed so that nulls always propagate. As a result, although we have created a specialized mod operator `PYMOD` in libcudf for compatibility with Python's rules for handling negatives, we can't trivially exploit that for null handling since the operator doesn't return a nullable value.

However, in this instance there is some precedent for solving this at the lib

[2022-08-04 19:08] jrhemstad commented on #5938
"PYMOD" is a misnomer. It wasn't intended to be 100% compliant with Python's `%`. It was intended to just be the mathematical _modulo_ operation vs C++'s `%` is the _remainder_ operation.

See: https://stackoverflow.com/questions/13683563/whats-the-difference-between-mod-and-remainder

I wanted to rename `MOD` to `REMAINDER` and `PYMOD` would be `MOD`.

This is the correct answer. It's no differen

[2022-08-04 19:14] robertmaynard commented on #11368
I am working on a pr draft of cudf using cub in a namespace.

[2022-08-04 19:17] bdice commented on #11333
Thanks @sononix for the question and @upsj for the answer. Setting the CMake variable `CUDF_ENABLE_ARROW_S3=OFF` should fix this. I have proposed a change in the default behavior in #11470 to prevent future issues like this one, so I'm going to close this. If you have any other questions, please let us know. Thank you!

[2022-08-04 19:17] #11333 closed

[2022-08-04 19:19] jrhemstad commented on #5938
Found the original conversation: https://github.com/rapidsai/cudf/pull/1985#pullrequestreview-248424619

[2022-08-04 19:26] vyasr commented on #5938
I'm fine with that explanation, although to @harrism's point we'd definitely need to document how we define remainder vs modulo since it's at best it's a nonstandard but common distinction. So perhaps we should do that rename while also addressing this issue here :)

I think resolving this issue then requires two things:
1. Rename `PYMOD` to `REMAINDER` (along with suitable documentation of the me

[2022-08-04 19:27] brandon-b-miller commented on #5938
happy to handle making the change 👍

[2022-08-04 20:54] vyasr commented on #9743
I'm going to close this for now as beyond our control to address. However, if the module-related issues can be resolved and there are till other problems please feel free to reopen.

[2022-08-04 20:54] #9743 closed

[2022-08-04 21:48] vyasr opened #11474 "Define a clear and enforceable standard file layout for cuDF Python"
**Is your feature request related to a problem? Please describe.**
Aside from the core classes (DataFrame, Series, etc), each of which typically live in eponymous files, the organization of functions in cuDF Python currently leaves quite a bit to be desired. The main offender is the `core` subpackage, which has a number of functions living in largely arbitrary locations. For instance, we have file

[2022-08-04 22:08] shwina commented on #11474
Do we know of other projects that do something similar?

[2022-08-04 22:53] shwina commented on #11474
Because Pandas :)

[code]

---

I think it's useful to mimic the way Pandas organizes its public modules. This seems to be the route `cuml` has taken. Note that because Pandas occasionally makes changes to its public namespaces, we'd have to decide _which_ version of Pandas we want to match (latest?).

That doesn't answer the question about how to organize our internal functions/classes though, an

[2022-08-05 00:34] brandon-b-miller opened #11477 "[BUG] `DataFrame.iloc` returns the wrong type of object when a string column is present"
**Describe the bug**
In the cases described in the title, we are getting a `DataFrame` rather than a `Series` object like we should.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
We should get the same object as pandas (a series)

**Additional Information**
Branch-22.10

[2022-08-05 16:23] vyasr opened #11481 "[FEA] Use a single integrated documentation solution across components"
**Is your feature request related to a problem? Please describe.**
Currently the [C++ documentation](https://docs.rapids.ai/api/libcudf/stable/) and [Python documentation](https://docs.rapids.ai/api/cudf/stable/) are managed and published completely separately. The Python documentation uses Sphinx, while the C++ documentation uses doxygen. Sphinx docs make it significantly easier to include docume

[2022-08-05 16:35] vyasr commented on #11481
CC @rlratzel @dantegd @harrism @shwina for perspectives from cuGraph/cuML/cuSpatial/RMM. Feel free to tag others as well of course.

[2022-08-05 18:00] shwina commented on #11481
It sounds like this is proposing two things:

1. Migrating C++ documentation from Doxygen to Sphinx via Breathe
2. In addition, integrating both Python and  C++ documentation via the Omniverse documentation system

I'd defer the decision about (1) to yourself, @GregoryKimball and the other libcudf C++ devs.

Regarding (2), I have several questions, but primarily:

1. Will it be open source?
2. Is

[2022-08-05 18:51] vyasr commented on #11481
Those are all great questions. I'll address those that I can.

My main reservation with your suggestion to move forward with (1) independently is that I don't know to what extent doing (1) helps with (2). It would probably help us iron out any conflicts between our style and Breathe, but I don't know if that will translate to issues that we run into with the Omniverse template. Ultimately all of t

[2022-08-05 19:01] vyasr commented on #11474
Hmm so then would we want to move towards matching pandas _more_ closely? For instance, `DataFrame` is in `pd.core.frame.DataFrame`, whereas ours is in `cudf.core.dataframe.DataFrame`. We have an actual `Frame` class (pandas has `NDFrame`) so we run into some potential conflicts. How would we want to address that? I think this also circles back to some of the questions that you and @bdice ran into

[2022-08-05 19:07] GregoryKimball commented on #9395
Based on `branch-22.10` I tested correctness of `cudf.read_orc` with struct types. The testing used the following patches:

Enable struct columns for the OrcReader: https://github.com/rapidsai/cudf/blob/493d96b633d24dc46f778f4101a67c378d27725a/python/cudf/cudf/_fuzz_testing/orc.py#L57
[code]

Enable struct children in the dataset generator: https://github.com/rapidsai/cudf/blob/493d96b633d24dc46f7

[2022-08-05 19:07] #9395 closed

[2022-08-05 19:11] GregoryKimball opened #11483 "[FEA] Support nested struct columns in ORC fuzz tests"
**Is your feature request related to a problem? Please describe.**
Fuzz testing support for nested struct columns in Orc is incomplete. Some patches were required as shown in #9395 discussion (https://github.com/rapidsai/cudf/issues/9395#issuecomment-1206776202.)

**Describe the solution you'd like**
Add support for nested struct columns in the Orc fuzz testing

**Describe alternatives you've cons

[2022-08-05 19:14] GregoryKimball opened #11484 "[FEA] Remove "experimental" warning for ORC struct writer"
**Is your feature request related to a problem? Please describe.**
Based on testing and discussion in #9395 and follow-on testing of `cudf.DataFrame.to_orc`, I propose that we remove the "experimental" warning around writing struct columns to ORC files.

**Describe the solution you'd like**
Remove the warning

**Describe alternatives you've considered**
None

**Additional context**
Here is a test

[2022-08-05 19:50] shwina commented on #11481
I'd be very hesitant to replace open-source tooling for something as fundamental as building docs with anything closed-source - especially when we (cuDF/RAPIDS) cannot support the latter. Doc contributions are typically low-hanging fruit for new contributors and I'd love for that to be the case for RAPIDS as well.

[2022-08-05 21:12] shwina commented on #11462
Note that, while currently somewhat buggy, cuDF does support the [`__dataframe__` interchange protocol](https://data-apis.org/dataframe-protocol/latest/API.html) which is perhaps what you need here rather than `__cuda_array_interface__`. I aim to resolve many of the outstanding issues with our implementation of  the protocol during this release (22.10).

[2022-08-05 22:12] vyasr commented on #6684
I'm going to close this for now as out of scope, but happy to reopen if there are ways to surmount the difficulties listed in my previous message.

[2022-08-05 22:12] #6684 closed

[2022-08-06 02:32] GregoryKimball commented on #9395
After more investigation, I believe their is something non-compliant about the original file. Re-writing the file with `pyarrow==8.0.0` shows the data to be intact.

[code]

[code]

[2022-08-06 04:33] lmeyerov commented on #6684
I think it's fine to have this scoped to an individual repo. It's unrealistic to do everywhere, but it's quite realistic for individual repo's to not be broken.

[2022-08-06 09:46] pp850110 opened #11485 "[QST]Failed to dlopen libcuda.so"
Trying to import cuGraph but failed.

Error feedback is as follows:

------------------------------------------------
RuntimeError Traceback (most recent call last)

File ~/miniconda3/envs/rapids-22.06/lib/python3.9/site-packages/cuda/_cuda/ccuda.pyx:3671, in cuda._cuda.ccuda._cuInit()
File ~/miniconda3/envs/rapids-22.06/lib/python3.9/site-packages/cuda/_cuda/ccuda.pyx:435, in cuda._cuda.ccuda.cuP

[2022-08-06 21:59] eriknw opened #11486 "[BUG] Handling of categoricals assumes `drop_duplicates` preserves order (it doesn't)"
**Describe the bug**
`Series.drop_duplicates(ignore_index=True)` does not preserve order.  This, in turn, results in havoc when dealing with categorical dtypes, which often uses the fact that `drop_duplicates` is expected to preserve order.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment locat

[2022-08-07 05:28] eriknw opened #11487 "[BUG] categoricals with `.ordered is None` in cudf and dask_cudf"
**Describe the bug**
I expect a categorical dtype to always have `dtype.order` be `True` or `False`.  It is sometimes `None` after construction, or converted to `None` after an operation such as concat.

This can cause `dask_cudf` to fail when using workloads with categorical dtypes with the following error (the mismatch is b/c one is `None`, but there should be no mismatch):
[code]

**Steps/Code

[2022-08-07 20:38] Arsiprog opened #11488 "I beg you how to install cudf on windows 10 [QST]"
**What is your question?**
C:\Windows\system32>python C:\cudf\setup.py
C:\cudf\setup.py:8: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
  from distutils.spawn import find_executable
Traceback (most recent call last):
  File "C:\cudf\setup.py", line 11, in <module>
    from skbuild import se

[2022-08-08 03:40] bdice commented on #11488
Hi @Arsiprog, RAPIDS libraries are supported through the Windows Subsystem for Linux version 2 (WSL 2). Please see the link below for information on how to set up WSL2 with GPU support and install RAPIDS.

https://developer.nvidia.com/blog/run-rapids-on-microsoft-windows-10-using-wsl-2-the-windows-subsystem-for-linux/

Currently, Windows 11 and a GPU with the Turing microarchitecture or newer is r

[2022-08-08 03:40] #11488 closed

[2022-08-08 03:43] bdice commented on #11296
Resolved by #11383.

[2022-08-08 03:43] #11296 closed

[2022-08-08 12:54] shwina commented on #11474
Recognizing that Vyas is on vacation for a few weeks, so it'll be a while before we can pick back up on this discussion, just responding now so I don't forget:

I'm much more in favor of 1. Matching tests with source files 1-1 can lead to unnecessary churn as we frequently move functions/methods across files.

[2022-08-08 13:21] bdice commented on #11474
Agreed. I think the natural separation of API components is more aligned with the docs than the package structure.

[2022-08-08 14:36] galipremsagar commented on #11486
Hi @eriknw, It is true that `drop_duplicates` doesn't preserve order. This was a conscious trade-off made to not preserve order for performance reasons. This is documented in the API docs: https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.Series.drop_duplicates.html#cudf.Series.drop_duplicates

[2022-08-08 14:38] galipremsagar commented on #11485
@pp850110 Can you share the output of `conda list`?

[2022-08-08 14:52] eriknw commented on #11486
Thanks for the reply.  Then we should pivot this issue, because there is handling of categoricals in `cudf` that _does_ assume `drop_duplicates` preserves order:
https://github.com/rapidsai/cudf/blob/6b20f2a6f338685ca65572b4ac5b15046fdf1f49/python/cudf/cudf/core/column/categorical.py#L1477-L1482

https://github.com/rapidsai/cudf/blob/6b20f2a6f338685ca65572b4ac5b15046fdf1f49/python/cudf/cudf/core/d

[2022-08-08 14:58] pp850110 commented on #11485
@galipremsagar Sure. It is as the .txt attachment

[Conda list.txt](https://github.com/rapidsai/cudf/files/9282799/Conda.list.txt)

[2022-08-08 16:25] jbrennan333 commented on #11065
@devavret, @vuule, do you agree this can be closed?

[2022-08-08 16:28] #11065 closed

[2022-08-08 17:35] benjha commented on #11219
Thanks,

I recompiled using the  CUDA 11.5 module available on Summit

[2022-08-08 18:10] trivialfis commented on #11462
Thank you for the suggestions! The `__dataframe__` protocol seems to be a good starting point for us to hack into cuDF.

[2022-08-08 18:37] rnyak commented on #9564
I get same error `RuntimeError: cuDF failure at: ....: Cannot open output file` when the subdirectory doesn't exist but the error msg is not informative.. it is hard to tell what's the issue. I agree that It would be helpful for users to know that this is because the subdirectory doesn't exist.

[2022-08-08 20:49] mroeschke commented on #11474
+1 as well for aligning the API with the docs as well.

I had thrown out the idea of "enforceable" file layout just noticing in pandas, at least, that having soft conventions in organizing a code base can still make it hard for new and experienced contributors where to place things and causing drift in conventions. Maybe this is a largely unsolved problem in general though. If there's no easily av

[2022-08-09 02:54] shwina commented on #11487
Doesn't Pandas support `None` in addition to `True` and `False`?

https://pandas.pydata.org/docs/reference/api/pandas.CategoricalDtype.html#pandas.CategoricalDtype

[2022-08-09 03:29] eriknw commented on #11487
Yes, as a "please defer to other categorical ordered property during `astype`, but this is weird so users probably shouldn't use `ordered=None` explicitly and we wanted to deprecate this" kind of way.  See details here:

https://github.com/pandas-dev/pandas/issues/26336
https://github.com/pandas-dev/pandas/pull/26403
https://github.com/pandas-dev/pandas/pull/29955

But, pandas `ordered` defaults t

[2022-08-09 04:52] eriknw commented on #11487
Let me highlight this from my examples above:
[code]

[2022-08-09 05:11] ttnghia opened #11495 "[BUG] Out-of-bound access in `cudf::detail::label_segments`"
In `cudf::detail::label_segments`, when the offset values are out of bound then there will be invalid memory access. This will happen if the input lists column has empty or null rows at the end of the column.

This bug led to test failures that were reported in https://github.com/NVIDIA/spark-rapids/issues/6249.

[2022-08-09 07:37] madsbk opened #11496 "[FEA] Install `*.pyi` stub files"
As far as I can see, we do not install the type stub files such as `column.pyi`. At least, building cudf and libcudf don't seem to install them?
[code]

Currently, I copy the `*.pyi` files manually to make the IntelliSense in Visual Studio Code work correctly.
[code]

Am I missing something?

[2022-08-09 10:58] shwina commented on #11496
Likely they need to be included in the `package_data`?

[2022-08-09 11:44] madsbk commented on #11496
Yes, similar to how we handle `*.pxd`: https://github.com/rapidsai/cudf/blob/branch-22.10/python/cudf/setup.py#L149

[2022-08-09 19:44] #11495 closed

[2022-08-10 01:46] taureandyernv opened #11504 "[BUG] Dask-cudf sometimes infers dtypes differently than pandas and cudf, breaking file read with gcsfs"
**Describe the bug**
in ~22.08 nightlies,~ dask-cudf sometimes infers dtypes differently than pandas, which causes an error when reading a file from gcsfs with a value error.

[code]

**Steps/Code to reproduce bug**
[code]
outputs
[code]

and later, if in a compute(), this happens:
[code]
I later downloaded the data and stored locally.
pandas and cudf both read the data as float64:

[code]

output

[2022-08-10 16:08] revans2 opened #11506 "[BUG] writing binary data in a struct causes out of index reads"
**Describe the bug**
As a part of trying to add binary reads to the Rapids Accelerator for Apache Spark I found that it would crash when the data was in a struct. I think it will also crash inside an array, but I am still debugging that.

**Steps/Code to reproduce bug**
In the Spark plugin with my still WIP patch I just had to run.

[code]

And it would crash. I ran compute sanitizer on it and got

[2022-08-10 16:32] brandon-b-miller commented on #11486
Would something like this work? If so happy to put in a PR for this as a utility function and plug it into those places.

[code]

[2022-08-10 17:19] PointKernel commented on #9970
Close as the feature is no longer supported.

[2022-08-10 17:19] #9970 closed

[2022-08-10 18:44] galipremsagar commented on #11293
As of now, we don't have a `1:1` corresponding `map` type in `cudf`.

But we would like to know more so that it will either help us in giving a workaround/support for what you are looking for:
1. What the dataset looks like, can you provide us with a dataset with more records? Does each row have multiple key-value pairs like for ex:
[code]

2. What is the size of the column in your real-world use

[2022-08-10 20:25] galipremsagar commented on #11485
@pp850110 Could you share the output of `ldconfig -p | grep libcuda.so`

[2022-08-10 20:51] pp850110 commented on #11485
@galipremsagar I got nothing from `ldconfig -p | grep libcuda.so`. Hereby sharing the output of `ldconfig -p`.
[ldconfig_p.txt](https://github.com/rapidsai/cudf/files/9303953/ldconfig_p.txt)

[2022-08-10 21:21] galipremsagar commented on #11485
Interesting, can you print your `$LD_LIBRARY_PATH`?

and also output of:
[code]

[2022-08-11 00:09] bdice opened #11510 "Remove cudf::strings::findall."
In PR #11030, I removed the use of the `cudf::strings::findall` function in favor of `cudf::strings::findall_record`, which returns a list for each row instead of a "ragged table" of strings columns with null values if not all rows have the same number of regex matches.

I think that the previous Python API was the only use of `cudf::strings::findall` and it may be safe to remove this function. To

[2022-08-11 02:25] #10841 closed

[2022-08-11 08:41] pp850110 commented on #11485
@galipremsagar Actually, I can get the output of `ldconfig -p | grep libcuda.so` once connecting to the remote GPU. BTW, it is not a local GPU in this case. However, I cannot print `$LD_LIBRARY_PATH` and also do not have the authority to `sudo`.
Please check the output of `ldconfig -p | grep libcuda.so` as follows:
[grep libcuda.so.txt](https://github.com/rapidsai/cudf/files/9307317/grep.libcuda.s

[2022-08-11 09:52] trivialfis opened #11514 "[FEA] Interchange protocol between processes on the same device."
A related issue: https://github.com/rapidsai/cudf/issues/11462

We would like to transfer a cuDF dataframe between a JVM process and a Python process without data copy . This is primarily used in PySpark environment where Spark can execute user-defined Python functions in JVM processes. The current solution in Spark is to serialize the dataframe into arrow format and perform an inter-process trans

[2022-08-11 16:04] ChrisJar opened #11515 "[BUG] Some custom dask aggregations fail with dask_cudf dataframes"
**Describe the bug**
Some dask custom aggregations (ex: a custom sum of squares aggregation) fail with dask_cudf.

**Steps/Code to reproduce bug**
[code]
returns:
[code]
however when running with a pandas backed dask dataframe:
[code]
the expected result is returned:
[code]

cc: @randerzander

[2022-08-11 17:58] shwina commented on #11515
This fundamentally comes down to cuDF not supporting custom aggregations, e.g.,:

[code]

[2022-08-11 18:05] #11225 closed

[2022-08-11 18:31] #10856 closed

[2022-08-11 18:57] galipremsagar commented on #11485
What do the following environment variables have?:
[code]

[2022-08-11 19:11] pp850110 commented on #11485
`$printenv`
`CUDA_PATH=/home/~/~/miniconda3/envs/rapids-22.06\`
`MODULES_RUN_QUARANTINE=LD_LIBRARY_PATH LD_PRELOAD\`
`PATH=/software/all/bin:/software/all/bin:/~/~/home/~/.vscode-server/bin/6d9b74a70ca9c7733b29f0456fd8195364076dda/bin/remote-cli:/home/~/~/miniconda3/envs/rapids-22.06/bin:/home/~/~/miniconda3/condabin:/home/~/.local/bin:/home/~/bin:/`
There is not any result of `CUDA_HOME`.

[2022-08-11 19:52] ChrisJar commented on #11515
Ah I see. Is there any other way to square the elements of a SeriesGroupBy object?

[2022-08-11 21:53] bdice commented on #11469
@hyperbolic2346 To make this issue more actionable, can you add links to a few of the places where these various alignment functions are defined or called?

[2022-08-11 23:19] #1214 closed

[2022-08-11 23:19] #5944 closed

[2022-08-12 01:17] vuule opened #11519 "Remove read_orc options `num_rows` and `skip_rows`."
Options to select row range independently from stripes and row groups are inefficient, not well supported, and not supported by other readers. User can instead select stripes to partially read large files.
Parquet reader removed this feature over two releases and ORC reader can follow:

- [x] deprecate in 22.10
- [ ] remove in a later release

[2022-08-12 01:30] shaswat-indian commented on #10116
@galipremsagar Can I work on this in case you haven't started yet?

[2022-08-12 12:14] galipremsagar commented on #10116
Sure, go ahead and take it up.

[2022-08-12 12:34] shwina commented on #11514
Thanks for writing this up, @trivialfis! Firstly, I'm not super familiar with CUDA IPC and any associated pitfalls, so I'll cc @trxcllnt and @kkraus14 here, who may be able to comment more on the suggested approach and API.

Regarding the suggestion to use a 'jsonified' interchange protocol for messaging, I do have some concerns. Firstly, the dataframe interchange protocol has the narrower goal of

[2022-08-12 13:08] trivialfis commented on #11514
@shwina Thank you for the reply.

I looked into arrow IPC, which allows writing and reading data efficiently, and reading can be optimized with memory mapped file.  But still, we will have to go through device -> host then host -> device along with read-write to socket/mmap/pipe/file for transferring data from jvm to python process. Feel free to correct me if I'm wrong, the wording of the document

[2022-08-12 15:41] jlowe opened #11521 "[BUG] JNI nightly build failing after upgrade to Arrow 9.x"
**Describe the bug**
After #11507 the nightly cudf JNI and spark-rapids-jni builds have been failing, sample failure from the nightly cudf snapshot jar publishing build:
[code]

The JNI build does not explicitly depend on the things it is complaining about, these are transitive dependencies from depending on libcudf.  Note that this is a build _outside_ of the conda environment, with `-DCUDF_USE_A

[2022-08-12 15:47] galipremsagar commented on #11519
I opened a PR for `22.10` python deprecation: https://github.com/rapidsai/cudf/pull/11522

[2022-08-12 18:58] shaswat-indian commented on #10529
I'm taking this up.

[2022-08-12 19:30] kkraus14 commented on #11514
The previous Arrow IPC code that was recently removed didn't go through host memory, it was entirely in GPU. That being said it did require a lightweight serialization to pack the data of a dataframe into a single buffer that could be IPCed instead of having to IPC each underlying buffer. Here's the spec: https://arrow.apache.org/docs/format/Columnar.html#ipc-streaming-format. One issue with this

[2022-08-12 22:33] ttnghia opened #11525 "[BUG] ORC read/write is incompatible with Spark in some corner case(s)"
When read/write timestamp data into ORC file format, the following cases were discovered. For the input column of one row of timestamp type `1839-12-24 03:58:55.000826`:

### Write in Spark + read in libcudf:
[code]

### Write in libcudf + read in Spark:
[code]

In particular, the number of `second` is wrong. The input `second` is `55` but it is messed up somehow.

Of course for that input timesta

[2022-08-13 04:17] trivialfis commented on #11514
@kkraus14 Thank you for the comment!

Could you please share some insight on how it's implemented under the hood?

I agree, also might be easier to maintain due to memory management.

[2022-08-13 04:31] kkraus14 commented on #11514
You can see the implementation here:
- https://github.com/rapidsai/cudf/blob/v22.06.01/cpp/src/comms/ipc/ipc.cpp
- https://github.com/rapidsai/cudf/blob/v22.06.01/cpp/include/cudf/ipc.hpp

[2022-08-13 05:12] trivialfis commented on #11514
Thank you for the reference. I will dig into arrow.

Also, this issue is more a question of whether this feature is welcomed for cuDF. I can help work on it if we agree on the design.

[2022-08-14 08:38] #11307 closed

[2022-08-15 02:01] priyanshu7401 opened #11529 "Rapids take >42 minutes to install on google colab pro."
Hi all,
   I have been trying to use the rapids library in my project but rapids take close to 42 minutes to installation. If my notebooks get disconnected or I change the runtime type, I have to install it again, is there any better solution to this problem?
Regards

[2022-08-15 04:32] HaoYang670 opened #11530 "[FEA] Add JNI for `replace_nans`"
**Is your feature request related to a problem? Please describe.**
In spark-rapids, we need the `replace_nans` function to implement `GpuMin`. (Related issue: https://github.com/NVIDIA/spark-rapids/issues/6164 and https://github.com/NVIDIA/spark-rapids/issues/6276).

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've con

[2022-08-15 12:10] davidwendt commented on #11249
This appears to be an out of memory error which is not a problem with the algorithm. The `COPYING_TEST` runs fine on my 48GB GPU with the arena allocator. The max memory required for `COPYING_TEST` appears to be about 25GB with the arena allocator.
Was is the GPU stats where this error occurs? Can you run this on a larger GPU?

[2022-08-15 12:31] maxbalrog opened #11531 "[QST] cudf.core.subword_tokenizer on multiple GPUs"
I was reading the following blog post https://developer.nvidia.com/blog/run-state-of-the-art-nlp-workloads-at-scale-with-rapids-huggingface-and-dask/ but the link at the end of the post to the workflow code is no longer available (Check out the [workflow code here](https://github.com/rapidsai/tpcx-bb/blob/main/tpcx_bb/queries/q27/tpcx_bb_query_hf_27.py).)

In my project I am trying to rewrite some

[2022-08-15 13:23] #10894 closed

[2022-08-15 13:33] JasonAtNvidia opened #11532 "nvtx in Python code [BUG]"
**Describe the bug**
There are several locations in the Python package of this repository that utilize the annotate feature of the nvtx Python package.  NVTX is not available on all platforms (i.e. Jetson) and this also violates the flag --disable_nvtx when used in build.sh.

**Steps/Code to reproduce bug**
Build cudf, try to import on platform without nvtx installed

**Expected behavior**
Python

[2022-08-15 14:05] shwina commented on #11532
Hi @JasonAtNvidia -- thanks for reporting. I'm curious if the steps in https://github.com/NVIDIA/NVTX/issues/43#issuecomment-924987584 help you install NVTX on Jetson?

[2022-08-15 14:08] revans2 opened #11533 "[BUG] Builds are not reproducible"
**Describe the bug**
I tried to redo an older 22.10 build from a specific SHA hash and it failed.  see https://github.com/NVIDIA/spark-rapids-jni/issues/479  It looks like cudf always pulls the latest version of rapids-cmake. So if rapids-cmake ever changes older builds are impacted and we have no way to keep the exact version of rapids-cmake.

**Expected behavior**
I check out a specific version

[2022-08-15 14:11] revans2 commented on #11521
Because of  NVIDIA/spark-rapids-jni#479 I think this is not blocking a lot of work on spark-rapids.

[2022-08-15 14:45] JasonAtNvidia commented on #11532
@shwina
Building the package specifically for Jetson did work.
[code]

Should we have to do this considering the --disable_nvtx flag in build.sh?  With NVTX coming out with Jetson CUDA 11.4 perhaps that flag is no longer needed?

[2022-08-15 14:49] galipremsagar commented on #11485
Looks like your environment might be missing paths to libcuda.so, can you try setting these environment variables:
[code]

All the above assumed you have a valid installation of `CUDA` at `/usr/local/cuda`, if you have it at any other location, you will need to tweak the paths accordingly.

[2022-08-15 15:43] shwina commented on #11532
Sorry - could you please clarify further here? [NVTX](https://github.com/NVIDIA/NVTX) is a header-only library. Do you mean that Jetson CUDA 11.4 will include the NVTX headers?

[2022-08-15 15:51] JasonAtNvidia commented on #11532
So the original reason for the --disable_nvtx flag was a build for Jetson in 2020 when Jetson Xavier release was CUDA 10.2 but NVTX did not exist on Jetson yet.  Jetpack 5.0.2 GA should release today and I just discovered they included NVTX headers with the CUDA 11.4 that comes with this release.  But 2 things either need to happen, we need to get rid of the --disable_nvtx flag in build.sh and CMa

[2022-08-15 16:23] trivialfis commented on #11514
I looked into cuDF and arrow today. I think the arrow IPC should be sufficient for now. Will work on a wrapper tomorrow.

cc @wbo4958

[2022-08-15 16:24] shwina commented on #11532
`build.sh` can be passed flags for _building_ the C++ source, but Python calls NVTX at _runtime_. I can't think of a great way to control that runtime behaviour via `build.sh`.

At runtime, you can make the `nvtx.annotate()` calls a no-op in Python via the environment variable `DISABLE_NVTX=1`, but I don't think that is relevant to your requirements or this discussion.

Taking a step back, I belie

[2022-08-15 16:31] JasonAtNvidia commented on #11532
@shwina The nvtx from conda-forge didn't work on Jetson until I just built it specifically for Jetson just a few hours ago.  It was failing originally, that is why I filed this bug.  I'll have to include the specific build in the community repository, perhaps under a special l4t build flag.

[2022-08-15 17:21] hyperbolic2346 opened #11536 "Need to remove int8 column support in parquet binary code path."
"Does Spark differentiate binary types stored as int8 and uint8? Are both of these equivalent from Spark’s perspective? Can Spark normalize inputs to use only one or the other? It feels very suspicious to me that we’ve decided to accept either one across the binary code paths."

__Originally posted by @bdice in https://github.com/rapidsai/cudf/pull/11526#discussion_r945891148__

It was pointed out

[2022-08-15 18:42] #11506 closed

[2022-08-15 18:43] quasiben commented on #11531
Here's a link to the query:
https://github.com/rapidsai/gpu-bdb/blob/main/gpu_bdb/queries/q27/gpu_bdb_query_hf_27.py

@VibhuJawa maybe you can update the blogpost ?

@maxbalrog can you build a small reproducer for the error you are seeing ?

[2022-08-15 20:37] brianklobucher opened #11537 "cuDF not interpreting "-" within a regex set consistent with documentation and pandas."
cuDF regex interpretation of “-“ within a regex set does not conform to the documentation ([]https://docs.python.org/3/library/re.html), resulting in (at least) two unexpected and undesirable results:

1. cuDF throws an error:  cuDF failure at: /workspace/.conda-bld/work/cpp/src/strings/regex/regcomp.cpp:437: invalid regex pattern: nothing to repeat at position 17
2. cuDF results do not match thos

[2022-08-15 21:17] #11521 closed

[2022-08-15 22:45] jakirkham commented on #11514
cc @pentschev @madsbk (in case either of you have thoughts on this process interchange use case)

[2022-08-16 12:11] shwina commented on #11529
Hi @priyanshu7401 - thanks for reporting, and sorry for the trouble you've been having with Colab.

Please note that because Colab [does not support Python 3.8+](https://github.com/googlecolab/colabtools/issues/2165), we can not support RAPIDS on Colab at this time. The last version of RAPIDS that _should_ work with Colab is 21.12, and that is too old for us to test and maintain. If you are using

[2022-08-16 14:43] #10988 closed

[2022-08-16 15:55] galipremsagar opened #11540 "[FEA] Remove usages of `pyorc` where not necessary"
**Is your feature request related to a problem? Please describe.**
Writing a pandas dataframe to an orc file using `pyorc` is a bit of a complex operation. Until now we have been using `pyorc` as a reference writer because we had no other choice, with the introduction of `pyarrow`'s orc writer we should be making a switch from `pyorc` and this should remove a lot of complex handling that needs to

[2022-08-16 15:56] galipremsagar commented on #11540
cc: @GregoryKimball @vuule

[2022-08-16 16:10] ttnghia commented on #11525
Other data that can reproduce:
[code]

[2022-08-16 18:12] hyperbolic2346 opened #11541 "Should remove column count assertions in parquet tests"
Vukasin pointed out that these asserts are testing `table`(previously)/`table_view`(now) constructor, rather then anything in Parquet. These should be removed.

__Originally posted by @vuule in https://github.com/rapidsai/cudf/pull/11524#discussion_r946237429__

[2022-08-16 18:29] Wulin-Tan opened #11542 "fail to install rapids/cudf"
Hi, I tried cudf on my ubuntu20 PC and it can perfectly work.
but when I tried it on the linux server, it kept failing to be installed.

_**The error said:**_
UnsatisfiableError: The following specifications were found to be incompatible with each other:

Output in format: Requested package -> Available versionsThe following specifications were found to be incompatible with your system:

  - featu

[2022-08-16 18:33] galipremsagar commented on #9676
With the recent changes to csv reader, the current behavior seems to be that we are returning an empty dataframe. To me, it seems like an _okay_ behavior?:

[code]

@randerzander is this an agreeable behavior in this scenario? or do you think otherwise?

[2022-08-16 18:48] shwina commented on #11537
cc: @davidwendt

[2022-08-16 19:03] vuule commented on #11541
Looked over other cuIO tests and could not find any other places where created tables are validated like this.

[2022-08-16 19:34] shwina commented on #11532
Can I ask how it was failing? What traceback did you get?

[2022-08-16 20:40] sameerz commented on #11525
@ttnghia can you add the output resulting from these values?

[2022-08-16 20:42] ttnghia commented on #11525
The read timestamp in cudf are always `.... 03:58:54....` (the `second` value is `54` instead of `55`).

[2022-08-16 20:54] jrhemstad opened #11546 "[FEA] Extend tests to ensure no memory is allocated outside of RMM"
**Is your feature request related to a problem? Please describe.**

It is important to ensure that all device memory allocated inside of cuDF functions is done through RMM.

It is easy to overlook this, e.g., by forgetting to pass the `rmm::exec_policy` to a Thrust algorithm that allocates temporary memory.

**Describe the solution you'd like**

It would be fairly easy to add this to our CI testin

[2022-08-16 21:01] jrhemstad commented on #11546
The gist of doing LD_PRELOAD injection for `cudaMalloc` is:

- Write an init function annotated with `__attribute__((constructor))` to ensure it runs during load time
- In the init, use `dlsym(RTLD_NEXT, "cudaMalloc")` to get a pointer to the _real_ cudaMalloc function
- Write an overload of `cudaMalloc` with an identical signature to the real one
- In that overload, add a `static` counter that en

[2022-08-16 21:27] davidwendt commented on #11537
In general, the cuDF regex will not match Pandas or Python regex in every condition.
Here is the documentation for what cuDF supports for regex: https://docs.rapids.ai/api/libcudf/stable/md_regex.html

That said, so far, this looks possible to support in libcudf.

[2022-08-16 21:40] #11541 closed

[2022-08-16 22:23] vuule commented on #11540
Is the main difference in the PyORC's requirement to pass in a schema?
Would it be possible to try this out in fuzz tests to verify that pyarrow is robust?

[2022-08-16 22:27] bdice commented on #10892
This should be done. Without a comparator for tables/columns and scalars, lifetime management of a column derived from the scalar gets very awkward. https://github.com/rapidsai/cudf/blob/ee15d1c10b51169abe26b1fa052ae568296696d5/cpp/src/lists/contains.cu#L251-L268

I commented here:
https://github.com/rapidsai/cudf/pull/10548/files#r946174668

[2022-08-16 22:43] galipremsagar commented on #11540
That + while the writer was an internal only API it lacked the stripe_size support which was a limiting factor to use that internal version of pyarrow's orc writer.

Yup

[2022-08-16 23:10] Wulin-Tan commented on #11542
Hi @shwina

**_first, I established a virtual env_**
conda create -n my_env python=3.8
conda activate my_env

**_then I tried to install rapids/cudf_**
conda install -c rapidsai rapids
**_or_**
conda install -c rapidsai cudf

**_both failed as mentioned above._**

[2022-08-16 23:18] vuule commented on #11540
I definitely like the suggestion, pyarrow API looks very clean and... comprehensive (more so than ours 😬).

[2022-08-16 23:33] ttnghia commented on #10892
Note that this issue is relevant not just for equality comparison but for lexicographic comparison. Usage of that case can be binary searching or many other comparison cases involving scalar.

[2022-08-16 23:38] shwina commented on #11542
Thanks, could you try using one of the commands generated using the release selector tool: https://rapids.ai/start.html#get-rapids?

[2022-08-17 01:48] GregoryKimball opened #11548 "[PERF] Improve "isin" performance by only sorting once"
**Is your feature request related to a problem? Please describe.**
While benchmarking cuDF-python, I noticed that [bench_isin](https://github.com/rapidsai/cudf/blob/65a782112f4b76941483adf17f9a30a6824f6164/python/cudf/benchmarks/API/bench_dataframe.py#L50) has low end-to-end data throughput (<10GB/s). A closer look at the profiles showed that the data is being sorted twice, first with `.sort_value

[2022-08-17 03:18] eriknw opened #11550 "[BUG] cudf incorrect when merging on both index level and column when specifying `left_on` and `right_on`"
**Describe the bug**
`dask_cudf` does not give the expected result when merging two dataframes on index and column.  `pandas`, `dask.dataframe`, and `cudf` all behave the same.

**Steps/Code to reproduce bug**
In the merge below, note that for `on=["a", "b"]`, `"a"` is the index and `"b"` is a column.
[code]
The two dataframes are:
[code]

**Expected behavior**
Same code as above that works when u

[2022-08-17 04:11] GregoryKimball commented on #11525
Thanks @ttnghia, it looks like we find the same issue from the python side with `pyarrow.orc` as well.
[code]

[code]

[2022-08-17 05:37] GregoryKimball commented on #11525
This error appears to affect most timestamps before the start of the UTC epoch in 1970, and with microsecond count between 0 and 1000.
[code]

[2022-08-17 07:34] saurabhr opened #11552 "."

[2022-08-17 15:00] elstehle commented on #10267
Thanks for elaborating, @revans2! We plan to have support for `multiline` by default in the new nested parser.

in case of `lines=true` (parsing [ndjson](http://ndjson.org/)), we plan to support line breaks within nested structs, treating those newlines as whitespace. We will only parse newlines as _delimiters_ at the _root_ level. The following will parse to three rows of two columns
[code]

For

[2022-08-17 16:25] revans2 commented on #10267
A lot of this depends on the schema passed into Spark. Along with the schema that spark picks if you don't provide one.

For
[code]

If multi-line is not enabled any line on it's own that is not a valid JSON statement results in an error.  If Spark is asked to generate the schema it is going to use, and it sees an error like this it will insert in a new column. The name of the column is configurab

[2022-08-17 19:19] shwina commented on #11532
Hi @JasonAtNvidia -- we just pushed NVTX wheels for `aarch64` on PyPI. I wonder if you're able to just `pip install nvtx` on Jetson now?

[2022-08-17 20:12] bdice opened #11559 "[BUG] Arrow S3 tests don't throw an error when CUDF_ENABLE_ARROW_S3 is off"
**Describe the bug**

The C++ test `ArrowIOTest.S3URIWhenNotEnabled` expects that if the CMake variable `CUDF_ENABLE_ARROW_S3` is off, creating an `cudf::io::arrow_io_source` from an S3 path will throw a `cudf::logic_error`. However, that isn't necessarily the case. The new default setting of `CUDF_ENABLE_ARROW_S3=OFF` means that Arrow S3 support is not enabled _if Arrow is built from source_. If

[2022-08-17 21:07] vuule commented on #11439
Implemented in #11479

[2022-08-17 21:07] #11439 closed

[2022-08-17 21:43] #8965 closed

[2022-08-18 08:40] elstehle commented on #10267
Thanks so much for putting together these examples, @revans2!

I'm inferring from these examples that `multiline=true` means parsing [regular JSON](http://json.org/) and `multiline=false` means parsing [ndjson](http://ndjson.org/).

While the data parsed for `multiline=true` seems reasonable to me, I cannot really find a rational scheme for the parsed data in case of `multiline=false`.

So far, se

[2022-08-18 14:36] revans2 commented on #10267
I agree. It would be good for spark to output a warning. I would prefer for Spark to output a warning for any garbage data it finds at the end a record after parsing valid JSON, but it does not do that.  That is why the comma at the end of the lines did not make a difference. In Spark all data after the first valid JSON object per record is ignored. Not put into corrupt anything. It is just ignore

[2022-08-18 17:29] trivialfis commented on #11514
Hey, I opened a draft PR https://github.com/rapidsai/cudf/pull/11564 .

[2022-08-19 01:17] Wulin-Tan commented on #11542
@shwina Hi, I figured it out by 2 solutions:
solution 1: following your suggestion, I installed it using release selector tool.
solution 2: Since it has been installed on my ubuntu20 PC, I just exported the env+packages by "conda pack" and then transferred to the server.
Both worked for me.
Thank you very much.

[2022-08-19 11:09] shwina commented on #11542
Glad to hear it! I'll close this issue out, then.

[2022-08-19 11:09] #11542 closed

[2022-08-19 15:42] taureandyernv opened #11570 "[DOC] `.mode()` incorrectly states that axis=1 is supported as it throws "NotImplementedError" when you try"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.DataFrame.mode.html?highlight=mode#cudf.DataFrame.mode

**Describe the problems or issues found in the documentation**
Documentation says that mode can be applied over columns (axis = 0) or rows (axis = 1), but when trying axis = 1, it says `Only axis=0 is currently s

[2022-08-19 19:38] rjzamora opened #11572 "[FEA] Add method argument to DataFrame.quantile"
**Is your feature request related to a problem? Please describe.**
@charlesbluca and @mroeschke did some nice work recently to add muli-column support to Pandas' quantile method (https://github.com/pandas-dev/pandas/pull/44301). The accepted solution there was to add a `method` argument (with the options being `"table"` and `"single"`) to `DataFrame.quantile`, rather than adding a `DataFrame.quant

[2022-08-19 21:55] bdice commented on #11570
In this case, `df.T.mode(axis=0).T` might solve the problem as expected. Generally, there are quite a few places where keyword arguments (especially `axis`) are documented, but non-default values are not yet supported.

[2022-08-19 22:13] #10116 closed

[2022-08-20 03:25] skycj1 commented on #11572
#include

[2022-08-22 08:45] Saraavana opened #11573 "[QST] RuntimeError: Failed to dlopen libcuda.so"
I have read [#11028 ](https://github.com/rapidsai/cudf/issues/11028), [#10308](https://github.com/rapidsai/cudf/issues/10308) and [#11366](https://github.com/rapidsai/cudf/issues/11366) but it didn't help

I have installed rapids-22.08 in Windows subsystem Ubuntu 18.04 using following command:

[code]
Once I start my jupyter notebook after `conda activate rapids-22.08` I am getting following error

[2022-08-22 12:05] #10529 closed

[2022-08-22 12:39] shwina commented on #11514
@trivialfis - Jake's comment [here](https://github.com/rapidsai/cudf/pull/11564#pullrequestreview-1078702940) raises an important question that I'd like for us to collectively answer: can something like UCX with serialization not be used here?

`pickle` is used only for serializing and deserializing metadata between Python processes. For this use-case, couldn't we use e.g., json for the metadata,

[2022-08-22 14:06] #11286 closed

[2022-08-22 16:30] trivialfis commented on #11514
Thank you for the suggestions @shwina ! Would love to hear some more from @pentschev on the details.

If UCX can help zero-copy data transfer, we might still want to have a unified API as part of cuDF to help different language envs work together.

[2022-08-22 18:35] pentschev commented on #11514
I've checked with UCX devs and zero-copy in the truest sense (directly accessing the remote process' memory without need for a local copy) is not currently supported by UCX. For the short-term, AFAICT the only way to achieve true zero-copy would be to manually handle CUDA IPC.

What we can do with UCX is as Ashwin said already above, transfer intra-GPU data via CUDA IPC. On a V100, this achieves b

[2022-08-22 18:47] trivialfis commented on #11514
Hi @revans2 , could you please share some insights into the current status of UCX in spark-rapids? https://github.com/rapidsai/cudf/issues/11514#issuecomment-1222764591

I'm under the impression that it's very difficult for us to upstream non-standard (GPU) changes to spark.

Out of curiosity, does that mean we are simply doing a cudaMemcpy when two nodes are using the same GPU?

[2022-08-22 18:49] pentschev commented on #11514
I assume by nodes in this context you mean processes on the same system, in that case yes, that's correct.

[2022-08-22 19:00] trivialfis commented on #11514
That's encouraging.

[2022-08-22 19:58] trivialfis commented on #11514
@pentschev Could you please point me to the code of ucx transferring cuDF dataframe?

[2022-08-22 20:13] pentschev commented on #11514
Just to be clear, the `cudaMemcpy` call is handled by UCX via its API (e.g., via [`ucp_tag_send_nbx`](https://openucx.readthedocs.io/en/master/api/file/ucp_8h.html#group___u_c_p___c_o_m_m_1ga8323878b60f426c630d4ff8996ede3cc)/[`ucp_tag_recv_nbx`](https://openucx.readthedocs.io/en/master/api/file/ucp_8h.html#group___u_c_p___c_o_m_m_1gaa842f8ca8ad1363ed857ab938285a16f)). IOW, you won't get the CUDA I

[2022-08-22 20:17] trivialfis commented on #11514
Thank you for the references! cc @wbo4958 .

[2022-08-22 20:37] galipremsagar opened #11579 "[FEA] Remove code duplication between orc writer and chunked orc writer"
**Is your feature request related to a problem? Please describe.**
There is some code-duplication happening in the regular orc writer and chunked orc writers. This can be reduced to an extent by re-using the regular orc writers methods in chunked orc writer: https://github.com/rapidsai/cudf/blob/branch-22.10/python/cudf/cudf/_lib/orc.pyx

**Additional context**

https://github.com/rapidsai/cudf/pu

[2022-08-22 23:05] #11537 closed

[2022-08-22 23:21] #8958 closed

[2022-08-23 01:12] #11293 closed

[2022-08-23 05:59] vuule commented on #11525
Probably related: https://github.com/rapidsai/cudf/pull/5529#issuecomment-648768925

[2022-08-23 07:15] maxbalrog commented on #11531
@quasiben I managed to locate and correct the issue but still it is unclear for me why it behaves in such way. I would appreciate if you could give some comments why it happens.

Here is code to reproduce the error. I have an abstract class `SubwordClass` with `transform` method which uses auxiliary methods (`_concat_columns` and `_subword_tokenize`). In the main part of the code an artificial dat

[2022-08-23 14:49] trivialfis commented on #11514
Hi, let me make a brief summary on the topic, there are serval proposed approaches:
- Use Arrow IPC format along with its IO procedures. This is too slow and incurs data copies. Also, we need to patch arrow to handle memory pool properly.
- Define custom IPC routines in cuDF with one handle per buffer as in https://github.com/rapidsai/cudf/pull/11564 . This adds a non-trivial amount of code to the

[2022-08-23 16:48] abellina commented on #11514
If we go with:

Does that make it a smaller change that builds on the pack/unpack functionality already supported in cuDF/py-cuDF and java-cuDF?

It seems that the main thing that is needed here is to add code (somewhere) that takes the contiguous device buffer and opens a cuda IPC mem handle to it. This seems like a separate concern than packing and unpacking, so I would expect there to be a func

[2022-08-23 17:42] bdice commented on #10711
I merged #11582 which added most of the rules I discussed above in the `D2xx-D4xx` sections. I skipped `D100-D107` for now, and also skipped `D200, D202, D205, D400` because they would require a lot more work. Having just a few rules in place is good enough for the moment. I'd vote to leave this issue open until we add the rest of those (or decide against doing the work).

[2022-08-23 18:25] shwina commented on #10711
Agree - let's leave it open.

[2022-08-23 20:59] mroeschke commented on #7389
This appears to be a moving target on the pandas side

[code]

vs

[code]

FWIW I do find the 0 result from pandas a bit odd. And given discussion on the pandas side related to this  (https://github.com/pandas-dev/pandas/issues/30188 and https://github.com/pandas-dev/pandas/issues/32265) maybe in this case it may make sense for cuDF do return a more sensible result (e.g. not 0)?

[2022-08-23 22:53] VibhuJawa commented on #11531
Thanks for the reproducer. I was able to reproduce this. What is happening is that SubwordTokenizer is not serializable and we are getting the  no default __reduce__ due to non-trivial __cinit__

Suggested Work Around is to set a worker attribute to dask and use that .  The function can look something like below:

[code]

**Function in use on with a full blown MRE**:

[code]

[code]

[2022-08-24 01:49] vuule commented on #11525
Looks like the comment above is not directly related to the root cause.
The difference between https://github.com/apache/orc/blob/fa9c011e13e8376d2a185bd76af834bd644f4332/java/core/src/java/org/apache/orc/impl/TreeReaderFactory.java#L1221-L1227 and our ORC reader (logic related to milliseconds instead of seconds) might be. Looking further into this.

[2022-08-24 03:47] GregoryKimball commented on #9987
This topic recently came up again with some `,@,`-delimited data.

One solution would be for us to accept a CSV "schema" argument. There are [several](https://specs.frictionlessdata.io/table-schema/#language) [options](https://digital-preservation.github.io/csv-schema/csv-schema-1.2.html) [available](https://csv-table-schema.github.io/).

[2022-08-24 05:03] trivialfis commented on #11514
Regarding the overhead of opening memory handles, from my very simple test with dataframe generated by:
[code]

With 128 primitive dtype columns, export_ipc​ takes 0.003928661346435547 seconds, `import_ipc` takes 0.801159143447876 seconds. With 1024 primitive dtype columns, export_ipc​ takes 0.03810715675354004 while import_ipc​ takes 0.9540588855743408.  According to the CUDA document of [cudaIpc

[2022-08-24 14:52] shwina commented on #11514
@trivialfis thank you for the excellent [summary](https://github.com/rapidsai/cudf/issues/11514#issuecomment-1224184580)! It sounds like we can discard the UCX approach, as it not only introduces extra copies, but also introduces a complex dependency that most users would not want to deal with.

[2022-08-24 15:02] abellina commented on #11514
The RAII struct won't solve it for this scenario, since you don't want to free once the stack that called "send" goes out of scope. What you really need is some type of callback from an RPC message being sent back by the consumer saying "I am done with the copy/operation". Either way, if the consumer says they are not touching that memory anymore, the producer can then free or repurpose the memory

[2022-08-24 15:13] pentschev commented on #11514
`cudaIpcGetMemHandle` is a fairly cheap operation, but `cudaIpcOpenMemHandle` is very expensive (IIRC, that was > 100ms), so make sure that gets cached.

[2022-08-24 17:06] galipremsagar opened #11589 "[BUG] `to_arrow` fails when there is an integer value in column name"
**Describe the bug**
Whenever there are integer/tuple names in a dataframe `columns`, `to_arrow` will fail.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [from source]

[2022-08-24 18:33] maxbalrog commented on #11531
@VibhuJawa thanks for such a detailed answer! It is much more clear now.

[2022-08-24 18:37] #11531 closed

[2022-08-24 18:52] maxbalrog opened #11591 "[QST] What happens in map_partitions under the hood?"
Hello! I'm interested in some details what actually happens when one calls `df.map_partitions(func)` where `func` has some common parameters for multiple GPUs. I would appreciate comments.

Here is an example. Transformer `MinTransformer` after `fit` method has an attribute `self.min` which is located on gpu-0. When one calls `df.map_partitions(self._transform)` (df is a dask_cudf dataframe with t

[2022-08-24 19:26] #11589 closed

[2022-08-24 19:26] trivialfis commented on #11514
@shwina I agree. So the remaining options are 2) and 3). I can change the PR to using 3) if it's believed to be a better alternative.

Also, I just found out that in https://github.com/rapidsai/cudf/pull/11564 , even though there's no copy in c++, the cython code still does a copy with `Column.from_column_view` called inside `columns_from_table_view`. Is there a way to avoid that copy?

@abellina

[2022-08-24 21:33] shwina opened #11592 "[FEA] TZiF reader to support timezone-aware operations"
Related: https://github.com/rapidsai/cudf/issues/10047, https://github.com/rapidsai/cudf/issues/2477.

It is desirable to be able to do timezone-aware operations in cuDF.

One relatively simple approach is to load the IANA [time zone database](https://www.iana.org/time-zones) into cuDF as a table, and use existing algorithms to implement timezone-aware operations. This works quite well (see "Addit

[2022-08-24 22:01] shwina commented on #11514
If you're constructing a Python `Column` from a `column_view`, you should provide an additional `owner` argument, which is a Python object that owns the memory that the `column_view` points to. IIRC, if you don't provide an owner, the best we can do is copy from the column view.

[2022-08-25 00:50] ttnghia opened #11593 "[BUG] `is_timestamp` produces incorrect result when input second is `60`"
By definition, `is_timestamp` should output `false` if the input `second` is outside of the valid range `[0-59]`. However, it still output `true` when `second = 60`. For example:
[code]

[2022-08-25 06:50] trivialfis commented on #11514
Thank you for the suggestion, I have provided a list of owners, but they are not `cudf.Column` objects. I think there's copying happening somewhere in the `build_column`

[2022-08-25 12:33] davidwendt commented on #11593
Found that 60 is valid for leap seconds https://man7.org/linux/man-pages/man3/strptime.3.html
[code]
So I think we have to allow this to be valid per the standard.

[2022-08-25 14:38] brandon-b-miller opened #11595 "[FEA] Handle selected functions that don't have bytecode in `Series.apply`"
**Is your feature request related to a problem? Please describe.**
During discussion in https://github.com/rapidsai/cudf/pull/11578 we realized that users might try and pass several commonly used python functions that don't necessarily have bytecode directly to `Series.apply`. For instance, using `float` dispatches to a C-level `__init__` method and thus has no bytecode for numba to build a functi

[2022-08-25 15:46] wence- commented on #11591
There are a few things going on here. dask is offering a data-parallel API where the dataframe is divided up (in some way) between the available GPUs. Although it doesn't look like it, there are actually three(*) python processes in the loop in this example. The code you write is all executed on the process that owns the `client`, which is connected to the two python processes that were launched b

[2022-08-25 16:52] gmarkall commented on #11573
The output from `nvidia-smi` in Powershell shows you have driver version 461.79 - at least 495 is needed for WSL 2 support (as per https://docs.nvidia.com/cuda/wsl-user-guide/index.html#support-matrix-for-wsl2) - could you update your Windows NVIDIA driver to at least this version and check whether this resolves the issue with using CUDA on Ubuntu please?

[2022-08-25 19:01] maxbalrog commented on #11591
@wence- thanks for a really comprehensive answer! I guess I'm going on an adventure into the documentation world...

[2022-08-25 19:08] galipremsagar opened #11602 "[BUG] Unable to extract a scalar value from nested struct column"
**Describe the bug**
When we have a nested struct column, extracting a scalar value is raising the following error.

**Steps/Code to reproduce bug**
[code]

After a discussion with @shwina, found that the metadata population on the python side is broken.

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [from sour

[2022-08-25 19:24] #11591 closed

[2022-08-25 20:45] galipremsagar opened #11605 "[DOC] Update data-types page for `cudf`"
**Describe the problems or issues found in the documentation**
We will need to expose some of the cudf specific data-type into the existing data-types page here: (https://docs.rapids.ai/api/cudf/nightly/user_guide/data-types.html)

**Suggested fix for documentation**
(https://pandas.pydata.org/docs/reference/api/pandas.CategoricalDtype.html#pandas.CategoricalDtype)

[2022-08-25 21:12] bdice opened #11606 "[BUG] Series accessors aren't being doctested."
**Describe the bug**
It appears that the special type accessors for `Series.str` (`StringMethods`) are not being doctested. See https://github.com/rapidsai/cudf/pull/11575#discussion_r953925683. I suspect this is also true for list and struct accessors but have not verified that.

**Expected behavior**
Doctests should run for type-accessors inheriting from `ColumnMethods` like `Series.str.findall`

[2022-08-25 22:04] bdice commented on #11595
This isn't really about `float`, or casting at all. It's about _any_ Python builtin or function (with C implementation) that doesn't have a `__code__` attribute.

[2022-08-26 13:22] elstehle commented on #10267
Thanks for the additional details!

My current understanding of Spark's parsing behaviour is this:

1. A JSON object (`{...}`) maps to a record.
2. In order to parse a record, Spark parses the document until it encounters the first JSON object (`{...}`), it simply ignores other structures (i.e., enclosing lists) along the path to the first JSON object that will be mapped to the record. After that

[2022-08-26 14:20] shwina commented on #11605
Do we just need to update/add to https://docs.rapids.ai/api/cudf/nightly/user_guide/data-types.html?

[2022-08-26 14:23] shwina commented on #11592
After a conversation with @bdice:

As it turns out, we already have a TZiF reader in https://github.com/rapidsai/cudf/blob/branch-22.10/cpp/src/io/orc/timezone.cpp. It needs a bit of refactoring to return a `cudf::table`, but nothing major. I'll try to use this  with the [tz-experiment](https://github.com/shwina/cudf/blob/tz-experiment/) branch I've been prototyping with and report back here.

[2022-08-26 15:55] galipremsagar commented on #11605
Yup

[2022-08-26 16:43] #11487 closed

[2022-08-26 18:13] brandon-b-miller commented on #10169
with https://github.com/rapidsai/cudf/pull/11031 merged I think this is done :)

[2022-08-26 18:13] #10169 closed

[2022-08-26 21:01] revans2 commented on #10267
If I enable multiline, then it sees the entire thing as corrupt. I think this is because the second item in the top level list is another list, not an object. If multiline is disabled then just the first line is corrupt and the second line can be parsed.

[code]

I am not sure that we have to make it match perfectly all of the time in all error cases. It really would be nice if we could do that, b

[2022-08-26 21:21] sameerz commented on #10186
Still needed

[2022-08-27 05:44] elstehle commented on #10267
Thanks, Bobby! Agreed. Let's focus on getting the correct cases right, for now.

After this example, I'm giving up on trying to develop an idea about the underlying logic for not-well-formatted inputs. After all, in case of `multiline=False`, the two lines begin identical, the first row fails the second one succeeds. 🤷

[2022-08-27 13:33] shwina commented on #11384
Fixed in referenced PR

[2022-08-27 13:34] shwina commented on #11384
A fix for this is still needed.

[2022-08-28 14:29] elstehle commented on #10267
Btw., I suppose that https://github.com/rapidsai/cudf/pull/11574 will make big leaps towards meeting this feature request in the `experimental` parser.

Specifically,
- `lines=True` will be correspond to `multiline=False`.
- `lines=False` will be correspond to `multiline=True`.

What _may_ remain to be addressed are the corner cases raised by the fuzzy behaviour we are seeing from Spark's JSON par

[2022-08-28 21:27] hyperbolic2346 commented on #11394
Still needed

[2022-08-29 08:53] res-life opened #11615 "[FEA] Generate unique keys table in java JNI contiguousSplitGroups"
**Is your feature request related to a problem? Please describe.**
`Table.contiguousSplitGroups` splits a table into sub-groups, but each group's group-by key is not collected and de-duplicated.

`contiguousSplitGroups` already generated `split indices`, so it's efficient to collect and de-duplicate the `group-by` keys by invoking a `gather`.

**Describe the solution you'd like**
Generate an extra

[2022-08-29 12:34] #11593 closed

[2022-08-29 13:45] shwina commented on #10654
Closed in https://github.com/rapidsai/cudf/pull/11287

[2022-08-29 13:45] #10654 closed

[2022-08-29 17:43] #11219 closed

[2022-08-29 18:05] robertmaynard commented on #11533
cudf on a given branch ( 22.10 )  will pull the latest version of rapids-cmake on the same branch. Likewise for dependencies like `rmm` which are also pulled via branch names.

If you need to test with a specific version of rapids-cmake you can follow this guide https://github.com/rapidsai/rapids-cmake#overriding-rapidscmake which shows how specify a specific version ( GIT_TAG can also be a SHA ).

[2022-08-29 18:50] VibhuJawa opened #11620 "[BUG]Getting dtypes on an empty cuDF dataframe raises a futurewarning"
**Describe the bug**

Getting dtypes on an empty dataframe raises a future warning that was confusing to some users. Might be good to look into triaging it and ensuring if we want this behavior or not.

**Steps/Code to reproduce bug**
[code]
[code]

[2022-08-29 19:05] VibhuJawa commented on #11620
related cugraph issue: https://github.com/rapidsai/cugraph/issues/2619

[2022-08-29 19:44] revans2 commented on #11533
@robertmaynard I see that this was closed and then re-opened again. Are there plans to do more for this? The docs you pointed us to I think are workable, and we can probably patch CUDF as we build it to get a consistent version. But if you are going to do more, like expose the version through a CMAKE variable or something it would be good to understand that, because I don't want to patch CUDF unle

[2022-08-29 20:08] robertmaynard commented on #11533
I accidently closed, and didn't want to come across as presumptious so I re-opened.

The balance between ease of use and reproducibility for 'nightly' builds is hard, and we currently go towards ease of use. We could move over to explicit SHA's but we would need to develop some infrastructure first. Primarily we need a robust way to ensure that during code-freeze all projects have synced to the sa

[2022-08-29 20:48] #11510 closed

[2022-08-29 23:49] GregoryKimball commented on #9269
@revans2 would you please share more about the API you have in mind? Would the inputs be a new metadata class, or are there existing ones that would suffice? Would the output be a table or an iterable of column fragments?

[2022-08-30 12:33] mtsol opened #11624 "[FEA] Add Custom Implementation to cudf ColumnVector class"
I want to add my own implementation to ai.rapids.cudf.ColumnVector so that I can accelerate my custom tasks which are not supported by Rapids by default. Please, guide how I can do that.

[2022-08-30 13:30] shwina commented on #11624
Hi @mtsol  -- perhaps you could ask this question over at https://github.com/NVIDIA/spark-rapids?

[2022-08-30 18:22] upsj opened #11625 "[FEA] `read_text` should support removing delimiters from the output"
**Is your feature request related to a problem? Please describe.**
At the moment, the string column generated by `read_text` uses the underlying input bytes verbatim without removing the delimiter entries.

**Describe the solution you'd like**
This could be addressed by adding a `remove_delimiters` bool parameter to the function. This would only require one additional transform + scan to compute t

[2022-08-30 19:46] revans2 opened #11626 "[BUG] Spark cannot do predicate push down on INTs and LONGs parquet columns written by CUDF"
**Describe the bug**
You are going to love this one. To be clear this is not really a bug in CUDF. I think this is a bug in Spark, and I will file an issue there for it. This is asking if we can work around this issue in CUDF because it is going to be a while before any fix goes into Spark and it is going to be even longer before any customers are able to upgrade to a version of Spark with the fix

[2022-08-30 20:04] revans2 commented on #11626
I filed https://issues.apache.org/jira/browse/SPARK-40280 in Spark for this issue.

[2022-08-30 20:32] revans2 commented on #11533
I was thinking of something very simple. Like an environment variable for the SHA and if it is not set, then it defaults to what happens today. I realize that for most of rapids and CUDF in particular that ease of use is paramount.  All I would like is a way to be able to set this without having to patch CUDF itself. I could even write up the patch myself. I mostly want to have someones blessing t

[2022-08-30 21:23] revans2 commented on #11626
Just FYI. I tested a file written by pandas/pyarrow and it looks like Spark.

[code]

[2022-08-30 22:46] eriknw commented on #11486
Here's an example that fails for me:
[code]
Thanks for working on this!  And sorry for my delay--I've been on vacation :)

[2022-08-30 22:49] etseidl commented on #11626
I'm guessing this is due to changes I made in #11302.  I needed the converted type to figure out which field from the stats union to use when deciding column ordering for the column index. Looking back, I changed the logic some to always assume signed integers unless the converted type is unsigned, so `col_schema.converted_type` can probably now be left as `UNKNOWN` for `INT32` and `INT64`.

[2022-08-30 23:08] hyperbolic2346 commented on #11626
@etseidl That comment was an emotional rollercoaster. Thanks for clarification there. I was remembering that PR as I read the comment, but had forgotten it!

[2022-08-31 06:22] kkraus14 opened #11628 "[BUG] gtests not able to link against libraries in conda environment"
**Describe the bug**
I have an environment where I've installed `gcc` and `gxx`, without installing the `c-compiler` or `cxx-compiler` metapackages (they set a bunch of compiler flags that I don't want, i.e. setting `rpath` and `rpath-link` into the conda environment in a way that comes before local build directories). When trying to build libcudf and its tests, the `cudf` target builds fine, but

[2022-08-31 10:02] Alxe1 opened #11629 "[BUG] 'pyarrow.lib.Table' object has no attribute 'group_by'"
[code]

[code]
Use pip install pyarrow==6.0.1

[2022-08-31 10:06] Alxe1 commented on #11629
Sorry, I report a wrong place

[2022-08-31 14:56] revans2 opened #11630 "[BUG] sort_lists is not consistent for float and double ordering"
**Describe the bug**
I was kind of caught by surprise at the comment left on a bug we are working through in the Spark plugin.

https://github.com/NVIDIA/spark-rapids/pull/6451#issuecomment-1232144326

The heuristic is in the code.

https://github.com/rapidsai/cudf/blob/9b3fdafc8d888adcebd645cd62b0473d9cd1dc34/cpp/src/lists/segmented_sort.cu#L166

And I have a test that shows that sorting negative

[2022-08-31 17:10] galipremsagar opened #11632 "[BUG] zfill needs to align with python standard library in some cases"
**Describe the bug**
Similar to https://github.com/pandas-dev/pandas/issues/20868

When the string column has data which has `+`/`-` prefix signs, they will aswell need to be moved during the zfill operation.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Match python standard library behavior shown above for some special cases.

**Environment overview (please complete the followin

[2022-08-31 17:10] galipremsagar commented on #11632
cc: @davidwendt for visibility

[2022-08-31 17:25] davidwendt commented on #11632
This was implemented to match Pandas
[code]
Certainly seems the Python `zfill` is more correct.
@galipremsagar Let me know what is preferred for cuDF.

[2022-08-31 17:28] galipremsagar commented on #11632
Yup. The current version of zfill was implemented to match pandas. But pandas fixed this issue in 1.5.0 because python standard library `zfill` is correct. So we aswell need to align similarly.

[2022-08-31 17:54] #11626 closed

[2022-08-31 19:31] shwina commented on #11629
No worries - closing issue.

[2022-08-31 19:31] #11629 closed

[2022-08-31 22:22] bdice opened #11636 "[BUG] Binary ops fail unexpectedly for Decimal inputs"
**Describe the bug**
cuDF 22.08 raises an `UnboundLocalError` without much helpful context when attempting to compute certain operators like `__pow__` or `__floordiv__` on decimal columns.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Either the operation will be computed successfully OR a helpful/informative error message is shown.

**Environment overview (please complete the fol

[2022-08-31 22:23] bdice commented on #10178
A separate issue affects decimal types. I filed #11636 and will close this issue.

[2022-08-31 22:23] #10178 closed

[2022-09-01 13:22] brandon-b-miller opened #11638 "[FEA] Expose `stable_distinct` to python"
**Is your feature request related to a problem? Please describe.**
Sometimes, cuDF needs to dedup things internally in a way that preserves the original order of the data elements. This is often in situations where replicating pandas semantics exactly are important. In https://github.com/rapidsai/cudf/pull/11597, a small function was proposed to do the same thing in python, but [there exists a lib

[2022-09-01 16:37] #11602 closed

[2022-09-02 07:07] maxbalrog opened #11643 "[BUG] Regex negate classes in cudf work differently from re and pandas libraries with new-line characters"
I noticed that some regular expressions behave differently in `re/pandas` and `cudf` libraries. Why it happens that way?

I could give the following example (but there are others) where tokens `\n` are not removed although they should be:
[code]

Output:
[code]

[2022-09-02 15:11] #11632 closed

[2022-09-02 16:47] #11486 closed

[2022-09-02 17:19] davidwendt commented on #11643
The `[^....]` negated classes pattern is specifically coded to not include the new-line (`\n`) character.
I honestly do not know why that is the case. I've found no documentation that supports this special case which is logic ported from the [plan9 regex source](https://9fans.github.io/usr/local/plan9/src/libregexp/regcomp.c) (lines 408-409).
This includes the libcudf regex documentation: https://

[2022-09-02 23:24] vyasr opened #11648 "Optimize `to_cupy` and `values`"
Currently `series.values` and especially `series.to_cupy()` are substantially slower than `cupy.asarray(series)`.
[code]

There are at least two obvious potential culprits in `Frame._to_array` (the underlying method for `to_cupy`):
- [It always performs an extra allocation](https://github.com/rapidsai/cudf/blob/branch-22.10/python/cudf/cudf/core/frame.py#L484), even when `copy=False`.
- [It perfor

[2022-09-03 08:53] maxbalrog opened #11650 "[BUG] Regex capturing group doesn't work properly in cudf"
I tried to filter all numbers in a string (defined by `\s\d+\s`) with cudf but the function `Series.str.replace` does not work in my case while similar expressions in `re/pandas` libraries work properly. Is it a bug?

Here I attach my example:

[code]
Output:
[code]

I believe there is a more elegant solution to my problem (e.g., adding whitespace characters to the beginning and to the end of the

[2022-09-05 01:58] #11615 closed

[2022-09-05 14:17] elado-alon commented on #11324
Hi @joshuarobinson, I encountered the same issue, but I was using [dask-cudf](https://docs.rapids.ai/api/cudf/nightly/user_guide/dask-cudf.html). Did  you find a solution or have more information about the topic?

[2022-09-05 14:57] joshuarobinson commented on #11324
Hi @elado-alon
The following change worked as a work-around for me:
[code]

[2022-09-06 01:37] harrism opened #11653 "[FEA] Expose `allocate_like` and other copying utilities that take a `rmm::stream_view`"
**Is your feature request related to a problem? Please describe.**
Currently utilities like `allocate_like` in the public cuDF interface do not take a stream. This is troublesome for non-cuDF libraries (like cuSpatial) that use these functions in stream-ordered code.

**Describe the solution you'd like**

Expose `cudf::detail::allocate_like` and other similar stream-ordered utilities in the cudf p

[2022-09-06 12:07] robertmaynard commented on #11533
The ability to pin rapids-cmake is coming to all consumers via https://github.com/rapidsai/rapids-cmake/pull/257 which will allow you to pin by passing `-Drapids-cmake-sha=<sha>`

[2022-09-06 12:32] #11237 closed

[2022-09-06 12:50] elstehle commented on #10283
Once #11574 is merged, the new nested JSON reader (currently available as `experimental`) will introduce an option to `keep_quotes` that will retain the quote characters on string values. Would this sufficiently address this feature request?

Otherwise, I would need to better understand the expected behaviour.

Is this a mixup, or would spark really treat the _second_ value as `null`?

I think hav

[2022-09-06 13:39] shwina commented on #11650
cc: @davidwendt, perhaps you have the best insight into the issue here?

[2022-09-06 14:13] rjzamora commented on #11324
I will try to reproduce this today. Note that `use_python_file_object=False` is probably fine if you are reading the entire file, but may be quite slow if you are performing partial IO (selecting specific columns and/or row-groups)

[2022-09-06 15:03] rjzamora commented on #11324
I was able to reproduce the truncation bug with `cudf` (using the 'date_dim.dat' dataset shared with me offline by @joshuarobinson).  I will try to figure out what is going wrong here.

I was **not** able to reproduce the IO/caching warning with `rapidsai/rapidsai-core:22.06-cuda11.5-base-ubuntu20.04-py3.9` (or with a more-recent version` of `cudf` and `fsspec`). I suspect that the IO/caching warn

[2022-09-06 15:31] robertmaynard commented on #11628
The conda compiler toolchain uses the `lld` linker by default ( distro's usually use gold or ld ). The by default behavior of `lld` is that when linking executable all unresolved symbols must be resolved. This is a breaking behavior change compared to gold or ld.
The linker does so by reading the `DT_NEEDED` entries on each library and loading dependencies, but instead of using the `-rapth` entry

[2022-09-06 16:18] bdice commented on #11595
A similar issue arose in https://github.com/rapidsai/cudf/pull/11319#discussion_r963912420:

[2022-09-07 00:39] rjzamora commented on #11324
**Update**: The truncated-dataframe result is indeed a cudf bug, and I submitted a fix in #11655

[2022-09-07 06:54] mtsol opened #11660 "[QST] Enchancement in cudf ColumnVector"
Hi team, I want to add my custom to cudf ColumnVector, how can I do that ? Please help!

[2022-09-07 10:35] elado-alon commented on #11324
@rjzamora
I had both the truncation bug and the IO/caching warning. The versions are `s3fs==2022.7.1`, `fsspec==2022.7.1`.

[2022-09-07 12:17] davidwendt commented on #11650
This looks to be a bug in the error check logic. I created a PR to fix it.
I did find a workaround in case it helps in the mean time.
Just switch the order in the first alternation -- change `(^|\s)` to `(\s|^)` to get around the bug.
[code]

[2022-09-07 13:15] wence- opened #11661 "[ENH] More type-stubs in the mypy pre-commit environment?"
Following on from #11640 (specifically https://github.com/rapidsai/cudf/pull/11640#discussion_r961551760) a question arises as to how complete we should make the mypy pre-commit environment in terms of supported typestubs.

Status quo:

The version of mypy installed via pre-commit only depends on the stdlib typeshed stubs (and after #11640 `types-cachetools`). We set `ignore_missing_imports = True

[2022-09-07 14:07] jlowe commented on #11660
Can you be more specific on what you are trying to do?  Since you mention `ColumnVector` I assume you are using the cudf Java bindings.

[2022-09-07 16:13] ChrisJar opened #11662 "[BUG] Summing column of NANs gives different results than pandas"
**Describe the bug**
When calling the `sum()` function on a series of column of all `np.nan` with dtype `'O'` cudf gives a different result than pandas:

[code]
returns:
[code]

[2022-09-07 16:33] galipremsagar commented on #11662
I'd expect it to be expected behavior, This is because result of `cudf.Series([np.nan, np.nan])` is all `<NA>`'s:
[code]

Since there is no true `object` dtype in `cudf`, the equivalent pandas & cudf operations will be:
[code]

[2022-09-07 18:36] vuule commented on #9057
Added in https://github.com/rapidsai/cudf/pull/10873

[2022-09-07 18:36] #9057 closed

[2022-09-07 18:48] vuule commented on #6178
This issue has been addressed:
JSON and CSV components are now class-less.
ORC and Parquet writers need to remain as classes because of chunked writing.
ORC and Parquet readers don't hold any intermediate data as members, just options/metadata.
Closing this issue.

[2022-09-07 18:48] #6178 closed

[2022-09-07 19:49] vuule commented on #6411
From some work in the JSON reader, it looks like we can remove `column_names`, as the same names can be accessed in `schema_info`.
It should just be a matter of switching to the new member in Cython and in the C++ tests.
@galipremsagar any concerns with gradual switch to `schema_info`?

[2022-09-07 19:51] galipremsagar commented on #6411
No concerns from my side, SGTM 👍

[2022-09-07 20:55] revans2 opened #11663 "[FEA] avoid regexp capture groups automatically in some cases"
**Is your feature request related to a problem? Please describe.**
As a part of debugging https://github.com/NVIDIA/spark-rapids/issues/6431 we found that there is a large performance difference between using a capture group in a regular expression vs a non-capture group. See https://github.com/NVIDIA/spark-rapids/issues/6431#issuecomment-1233236567 for some details on the performance difference.

[2022-09-07 22:47] davidwendt commented on #11663
A capture group certainly adds more instructions than a non-capture group.

[2022-09-07 23:55] vyasr commented on #11661
Overall I think you're probably right that this is more work than it's worth, and that it could lead to more complexity and hurdles in setting up the pre-commit environment than we would like (such as if we tried to install a GPU-enabled library like cupy).

From a 10000 foot view, I think the main benefit of doing these checks more is that they could uncover places where our internal dispatch pat

[2022-09-08 00:02] vyasr commented on #11662
Closing based on the :+1: from @ChrisJar.

[2022-09-08 00:02] #11662 closed

[2022-09-08 01:58] ShahRishi commented on #11253
Hi, I apologize for the delay. I've had to put this on hold as I've been studying for the MCAT exam through August. I am still working and am learning a lot. I know this is taking me far longer than it should, but I am determined to figure this out. Thank you so much for your patience.

[2022-09-08 03:15] shwina commented on #11253
Hi @ShahRishi - it's no problem! We'll keep this open and assigned to you. Feel free to pick up wherever you left off at any time or just open a new PR if that's easier.

[2022-09-08 03:45] eriknw opened #11664 "[BUG] `df.loc` with list of length 1 does not propagate index name"
**Describe the bug**
`df.loc[[1]].index.name` is not `df.index.name`.  That is, when using `.loc` with a length 1 list, the resulting length-1 dataframe does not have an index with the same name as the original dataframe.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Match pandas.  Index names to propagate.

**Environment overview (please complete the following information)**
 - E

[2022-09-08 14:15] mtsol commented on #11660
yes, I am using scala bindings for rapidsUDFs. I want to add my certain login in the columnVector which is still not supported, or certain transformations like some complex multiplication. Is there anything like lambda operator support in columnVector, or can i give a simple function to ColumnVector to execute it on all the cells??

[2022-09-08 15:08] revans2 commented on #9990
Yes that would work for us.  We have the full list of what we want to read.

[2022-09-08 15:09] revans2 commented on #10283
Yes keep_quotes would do what we want.

[2022-09-08 15:41] robertmaynard commented on #11368
With a solution to https://github.com/NVIDIA/cub/issues/545 being merged, I think the best option for cudf is to patch our version of thrust.

[2022-09-08 16:17] jlowe commented on #11660
The GPU functionality of ColumnVector is implemented in terms of native code in libcudf.  Assuming you cannot accomplish the desired logic as a series of operations already implemented in the Java cudf bindings (or if the performance is not sufficient due to the manifestation of too many intermediate results in GPU memory) then the new GPU logic will need to be implemented with native code.

It is

[2022-09-08 17:34] vyasr opened #11667 "[FEA] Reduce disparity between nested and non-nested column handling in lexicographic comparator"
**Is your feature request related to a problem? Please describe.**
As part of #11129 the row lexicographic comparator became templated on whether or not the tables being compared contain any nested columns. This templating was necessary to guarantee that nested and non-nested code paths were compiled separately. That, in turn, was required because the compiler fails to completely optimize the non-

[2022-09-08 19:04] galipremsagar opened #11670 "[BUG] Extracting a nested list-host-scalar throws error"
**Describe the bug**
When a nested list column contains a struct column and we try to extract the host-scalar it results in an error.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [from source]

[2022-09-08 20:15] vyasr opened #11672 "[FEA] Enable structs of lists in the new row lexicographic comparator"
**Is your feature request related to a problem? Please describe.**
#11129 enables comparisons of list dtypes with the new comparator. In principle, this code should (in conjunction with prior work like #10164) be sufficient to enable structs of lists (but not lists of structs) via the struct decomposition approach used to preprocess structs. Currently, we forbid comparison of lists of structs in t

[2022-09-08 21:01] vyasr opened #11673 "Move functions in jit/type.hpp into the main cudf namespace"
The functions in [jit/type.hpp](https://github.com/rapidsai/cudf/blob/branch-22.10/cpp/src/jit/type.hpp) are used in a number of places outside of the JIT namespace. Although they may have initially been introduced to support JIT use cases, at this point that choice of namespace seems inappropriate. `jit::get_type_name` should probably be defined in `types.hpp`, while the two `get_data_ptr` overlo

[2022-09-08 21:21] vyasr commented on #10323
As part of the long term fix here, we should probably also switch to using [GitPython](https://github.com/gitpython-developers/GitPython) rather than our own homegrown git utils. In addition to reducing our maintenance burden, that switch should help us avoid issues like [the one currently preventing our usage of the copyright check in pre-commit during CI](https://github.com/rapidsai/cudf/blob/br

[2022-09-08 22:11] vuule opened #11675 "[FEA] `read_orc_metadata` and `read_parquet_metadata` in libcudf"
libcudf does not have functions to read metadata of a file without reading (a portion) of the data as well.
Exposing an efficient way to get information like column names and the number of rowgroups/stripes would make some uses of `read_orc` and `read_parquet` much simpler.

Exact information that these function should return is to be determined.

- [x] `read_orc_metadata`
- [ ] `read_parquet_meta

[2022-09-08 22:31] #11643 closed

[2022-09-09 03:15] #11650 closed

[2022-09-09 05:59] Ankitkurani1997 opened #11676 "[QST]"
I want to read a csv file which has size greater then that of single GPU on my local system. It give out of memory error, every time I try to read the file in cudf dataframe.

Is there a way to spill the memory to host memory or manage this, or is it not possible to read file greater than single GPU memory in cudf dataframe?

I have only one GPU.

I tried dask_cudf, but it also internally calls cu

[2022-09-09 09:52] shwina commented on #11676
Are you calling `compute()` immediately after  the call to `read_csv()`? Ideally, you should only call `.compute()` on the _end result_ of your workflow, which is typically much smaller than the initial data.

[2022-09-09 10:03] madsbk commented on #11676
Try to use a local CUDA cluster with spilling enabled:
[code]

[2022-09-09 13:50] Ankitkurani1997 commented on #11676
Got it

[2022-09-09 14:18] rjzamora commented on #11324
@joshuarobinson and @elado-alon - https://github.com/rapidsai/cudf/pull/11655 was just merged into `branch-22.10`. Please let me know if you still see an IO/caching warning. If not, we should be able to close this issue.

[2022-09-09 14:33] Ankitkurani1997 commented on #11676
@madsbk

Getting following error when trying to construct a graph using cugraph

Traceback (most recent call last):
  File "new_approach.py", line 33, in <module>
    G.from_dask_cudf_edgelist(ddf, source='src', destination='dst')
  File "/home/ankit/miniconda3/envs/rapids-22.08/lib/python3.8/site-packages/cugraph/structure/graph_classes.py", line 284, in from_dask_cudf_edgelist
    self._Impl._si

[2022-09-09 14:43] quasiben commented on #11676
cc @eriknw @VibhuJawa for cugraph usage

[2022-09-09 14:51] shwina commented on #11664
This seems like the right fix. PR coming up!

[2022-09-09 20:32] jrhemstad commented on #11368
Can't we just use a version of Thrust that makes the same changes? https://github.com/NVIDIA/thrust/issues/1788

[2022-09-09 20:57] robertmaynard commented on #11368
No released version of Thrust currently exists have the required changes. Once Thrust 2.1 has been released ( or the patches are back ported ) we can stop patching our Thrust.

[2022-09-09 21:07] pp850110 commented on #11485
@galipremsagar

Thanks for the suggestion.
It did not work in the VS code studio via ssh.
However, after loading the CUDA module, it works on the Jupyter notebook web interface provided by the host.

[2022-09-09 21:19] jrhemstad commented on #11368
If we're going to go through the work of making the changes locally for a patch, why not just contribute the changes to Thrust and then update our version of Thrust?

[2022-09-09 21:38] robertmaynard commented on #11368
Sounds reasonable we can use the `1.17.X` branch once the following PR's are merged

- https://github.com/NVIDIA/cub/pull/572
- https://github.com/NVIDIA/thrust/pull/1792

[2022-09-10 00:53] #11664 closed

[2022-09-11 02:53] kkraus14 commented on #11628
Solved by https://github.com/rapidsai/rapids-cmake/pull/263

[2022-09-11 02:53] #11628 closed

[2022-09-11 05:10] Ankitkurani1997 commented on #11676
@beckernick @eriknw @VibhuJawa can you please suggest some fix around the above error or point to some different approach if I want to use dask_cudf along with cugraph?

[2022-09-12 07:21] Th3nn3ss opened #11683 "[BUG] cuDF read_csv does not throw an error when an unexpected keyword argument is passed"
**Describe the bug**
cudf.read_csv does not raise an error when a wrong keyword argument is passed to it. pandas raises `TypeError`

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Return an error just like Pandas. `TypeError: read_csv() got an unexpected keyword argument 'headers'`

**Environment overview (please complete the following information)**
 - Environment location: [Bare-m

[2022-09-12 10:03] wence- opened #11684 "[ENH] Update flake8 version in pre-commit"
At present, the pre-commit environment uses flake8 version 3.8.3. As part of moves to support Python 3.10, we will need to go to at least version 4 (to include https://github.com/PyCQA/flake8/pull/1374). The current release version is 5.0.4.

I suspect that this will want to be synchronised across a bunch of the rapids repos.

[2022-09-12 13:29] wence- commented on #11504
A better fix is to provide the dtype explicitly to `read_csv` (this is the case for both `dask_cudf` and plain `dask`) as `read_csv(..., dtypes={" tolls_amount": "float64"})`.

You are using the wrong key name. Most of the keys in this CSV table have a leading space in their names: try with `" tolls_amount"`.

This is because this CSV file is badly formatted. The header line uses a separator of `,

[2022-09-12 13:30] wence- commented on #11504
Good to close @taureandyernv ?

[2022-09-12 14:22] upsj commented on #10620
This was fixed by #11371

[2022-09-12 14:22] #10620 closed

[2022-09-12 14:29] senior-zero commented on #11368
@robertmaynard, @jrhemstad, mentioned PRs are merged.

[2022-09-12 14:51] jlowe commented on #11660
Closing this as answered.  Please reopen if you have further questions or feel free to file a new issue.

[2022-09-12 14:51] #11660 closed

[2022-09-12 15:07] revans2 commented on #11141
Still wanted.

[2022-09-12 15:35] shwina opened #11686 "[BUG] Reading `parquet` file written by `polars` gives wrong result"
`cudf` is unable to correctly read a `parquet` file written by `polars`' [write_parquet](https://pola-rs.github.io/polars/py-polars/html/reference/api/polars.DataFrame.write_parquet.html#polars.DataFrame.write_parquet):

[code]

[2022-09-12 16:38] vyasr commented on #11684
The issue that we're going to run into here is that flake8 4.0.0 dropped support for Cython. If we want to update flake8, we need to make a plan for how we handle Cython files in the future. Our options are
1. Do nothing, so Cython files no longer get linted
2. Add the [flake8-force](https://github.com/kmaehashi/flake8-force) plugin, which allows us to continue forcing flake8 to run on Cython file

[2022-09-12 17:23] #11670 closed

[2022-09-12 19:29] shwina opened #11688 "[FEA] Add an option to spill to host memory and disk seamlessly"
(initial work on this is well underway in #11553)

When working with large datasets, a common problem encountered is running out of device (GPU) memory.

It would be nice if cuDF could transparently spill (and "unspill") objects from device memory to host (CPU) memory or disk, which are typically much larger in size.

At a high level, it would work something like this:

[code]

A nice side effect

[2022-09-12 19:54] bdice commented on #11368
@senior-zero Will a tag be made for these changes? Our CPM configuration in cuDF relies on a tag right now, and I'm not sure if a branch / commit hash will suffice.

[2022-09-12 21:18] #9058 closed

[2022-09-13 05:01] ttnghia opened #11691 "[BUG] ORC read/write is wrong in `day` values in pre-1582 datetime values"
Similar to https://github.com/rapidsai/cudf/issues/11525 that has just been fixed, I discovered new failures with ORC reader/writer.

Note that these failures are wrong days, not wrong seconds like previously reported in https://github.com/rapidsai/cudf/issues/11525.

[code]

[2022-09-13 05:04] ttnghia commented on #11691
@vuule @GregoryKimball Can you test with pandas for the examples above, please?

[2022-09-13 12:06] senior-zero commented on #11368
@bdice we'll create a tag soon.

[2022-09-13 13:37] jlowe commented on #11691
Curious, does this only happen for dates before the [Julian-Gregorian calendar transition in 1582](https://www.timeanddate.com/calendar/julian-gregorian-switch.html)?

[2022-09-13 16:19] ttnghia commented on #11525
Sorry guys. Our tests just discovered new failed cases:
[code]

I'm not sure if this is still the old bug or a new one.

[2022-09-13 16:36] vuule commented on #11525
What are the timestamps in the comment? Two cases that fail, correct timestamp and the cudf result, something else?

[2022-09-13 16:40] galipremsagar opened #11693 "[BUG] `DataFrame.from_arrow` results in incorrect order of child columns inside a `StructColumn`"
**Describe the bug**
Reading the same pyarrow table & array via two different APIs result in different results. Ideally both should have same correct results.
[sample.parquet.zip](https://github.com/rapidsai/cudf/files/9559047/sample.parquet.zip)

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environmen

[2022-09-13 17:13] senior-zero commented on #11368
@bdice @allisonvacanti has just created 1.17.2 tag.

[2022-09-13 18:18] Ankitkurani1997 commented on #11676
@madsbk
I want to try to read 26GB data on a singl gpu having memory 24GB available.
Wanted to know how memory over subscription is handled
I am using cudf.read_csv

and have imported rmm
and rmm.reinitialize(managed_memory=True) for allocating all memory as managed memory (cudaMallocManaged underlying allocator)
as suggested in article https://medium.com/rapids-ai/tackling-large-graphs-with-rapid

[2022-09-13 18:42] mythrocks opened #11696 "[BUG] Java `Scalar` does not consider Decimal scale for `.hashCode()`/`.equals()`"
In its current implementation, the `Scalar` Java class does not consider the `scale` of a scalar value, when comparing two `DECIMAL` scalars.

Here is the section of `Scalar.equals()` that compares `DECIMAL64` values:
[code]
`getLong()` does not rescale the representative value of the scalar, based on a common scale. This implementation will equate two `DECIMAL64` scalars of different scales, if t

[2022-09-13 18:48] beckernick commented on #11676
Dask cuDF will spill from GPU to CPU memory during dataframe operations by default. The threshold for spilling can be configured by using the `device_memory_limit` parameter as you're doing. Dask likely cannot spill cuGraph operations with the default configuration.

It sounds like you are trying to use Dask with cuDF and cuGraph and running into issues related to processing large graphs with cuGr

[2022-09-13 19:26] rlratzel commented on #11676
@Ankitkurani1997 , I was able to reproduce your problem using your code snippet.  I made a few minor changes to it and was able to get it to work, see below:

[code]

The extra code needed was the `wait_for_workers()` call and the `Comms.initialize(p2p=True)` call.  Unfortunately, I don't think the `Comms` object will get cleaned up upon exit of the context manager (this would a nice enhancement f

[2022-09-13 19:54] vuule commented on #11525
No repro so far, all three timestamps are read correctly with cuDF. @ttnghia can you please share a more detailed repro instructions?

[2022-09-13 20:50] ttnghia commented on #11525
Reproducing:

Write in Spark (`spark-shell`):
[code]

Read in cudf:
[code]

[2022-09-13 23:07] davidwendt commented on #11630
I was able to recreate this. The problem seems to be with negative NaN values. The divergence in the code mentioned in the description will either us the internal segmented-sort logic (when average list size is < 100) which does not differentiate between +NaN or -NaN and sorts all these to the end. For average list size >= 100, the logic instead calls the `cub::DeviceSegmentedRadixSort` which sort

[2022-09-14 03:04] ShahRishi commented on #11253
Hello, thank you again for your patience. I have successfully added the validation checks and rebuilt the docs. I realized that the problem I was having was that I had an outdated version of cmake. After running the validation checks, several thousands of warnings appeared. Should I fix all of these warnings? If not, among the full mapping of validation checks are there only certain ones I should

[2022-09-14 07:32] firestarman opened #11700 "[BUG] Calling `partition()` on an empty Table leads to a crash"
Test to reproduce this bug.
[code]
After building the libcudf, run the test as the follows
[code]
Crash stack
[code]

[UPDATES]
The crash happened at[ line #2644](https://github.com/rapidsai/cudf/blob/branch-22.10/java/src/main/native/src/TableJni.cpp#L2644) . When row number is 0 (aka an empty table), the size of `partition_offsets` is 0, then `partition_offsets.end() - 1` points to an invalid ad

[2022-09-14 09:39] firestarman commented on #11700
The crash happened at[ line #2644](https://github.com/rapidsai/cudf/blob/branch-22.10/java/src/main/native/src/TableJni.cpp#L2644) . When row number is 0 (aka an empty table), the size of `partition_offsets` is 0, then `partition_offsets.end() - 1` points to an invalid address.

[2022-09-14 13:25] jlowe commented on #11249
I ran this on a 16GB V100, so I guess if tests are expected to require more than that this is "working as designed."  However it seems a bit excessive to need that much memory for a test.

[2022-09-14 13:37] wence- commented on #11691
This is probably more complicated because the transition took ballpark 300 years, so really one needs to interpret the time relative to a location and government to be precise (timezone is not enough if it is only numeric because, for example, Finland has the same timezone as Moscow, but switched calendar 200 years earlier).

[2022-09-14 15:25] #11693 closed

[2022-09-14 15:50] davidwendt commented on #11249
I agree. Actually, I don't think we should have this specific gtest. I'm inclined to disable it or remove it altogether.

[2022-09-14 16:01] tstearns26 opened #11705 "[BUG] Unexpected symbol in import cudf"
**Describe the bug**

import error with cudf and cuml

ImportError: /opt/conda/envs/rapids/lib/python3.9/site-packages/cudf/_lib/../../../../libcudf.so: undefined symbol: _ZN5arrow5fieldENSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEESt10shared_ptrINS_8DataTypeEEbS6_IKNS_16KeyValueMetadataEE

**Steps/Code to reproduce bug**
pyarrow==8.0.0 fails, succeeds with pyarrow==9.0.0, which is not an o

[2022-09-14 17:26] galipremsagar commented on #11705
@tstearns26 can you share `conda list` output?

[2022-09-14 17:31] tstearns26 commented on #11705
@galipremsagar
[code]

[2022-09-14 17:33] galipremsagar commented on #11705
Looks like you have a `pyarrow=8.0.0` from `pypi` whereas your `cudf=22.08` expects `pyarrow=8.0.1`, can you run the following commands to remove existing version and install the following version:
[code]

[2022-09-14 17:59] tstearns26 commented on #11705
not too surprisingly you get an environmental inconsistency

The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - rapidsai/linux-64::dask-cudf==22.08.00=cuda_11_py39_gb71873c701_0
  - rapidsai/linux-64::cudf==22.08.00=cuda_11_py39_gb71873c701_0
  - rapidsai/linux-64::libcugraph_etl==22.08.00=cuda11_g460692f0_0
  - rapid

[2022-09-14 18:30] bdice commented on #10323
@vyasr I'm not sure if we still need `gitutils` at all. If we refactored `ci/checks/copyright.py` to run as a `pre-commit` hook that accepts a list of changed file names (as determined by `pre-commit`) then we should be able to remove `gitutils` and a good portion of the logic in `ci/checks/copyright.py` dealing with which files to check.

The CLI would look like `python ci/checks/copyright.py FIL

[2022-09-14 18:45] galipremsagar commented on #11705
You seem to be having both `pip` installed `pyarrow=8.0.0`(which could have been installed by some pip installed package) and `conda` installed `pyarrow=8.0.1` in your env. That has lead to an inconsistent environment. To workaround the environment inconsistency error, do:
[code]

[2022-09-14 19:15] galipremsagar opened #11708 "[BUG] `repr` of `datetime` values that are not truly out of range wrapping around"
**Describe the bug**
We perform a `to_pandas` call in our `datetime` related `repr` code, which results in displaying incorrect DateTime values for date values that are out of range in `ns` representation(`ns` because that is the only dtype pandas supports). But incase of `cudf` it wouldn't have overflowed. See example below.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

*

[2022-09-14 19:16] galipremsagar commented on #11708
cc: @vuule

[2022-09-14 19:24] shwina commented on #11708
Same as https://github.com/rapidsai/cudf/issues/11155?

[2022-09-14 19:25] galipremsagar commented on #11708
Yup, closing in favor of #11155

[2022-09-14 19:25] #11708 closed

[2022-09-14 19:28] tstearns26 commented on #11705
this isn't beautiful but it definitely works. thanks so much for your help!

[2022-09-14 19:28] #11705 closed

[2022-09-14 19:45] #9056 closed

[2022-09-14 22:58] #11525 closed

[2022-09-14 23:18] mythrocks commented on #11696
Closing this as invalid; both `hashCode()` and `equals()` are correct.

1. `Scalar.hashCode()` returns `Objects.hashCode(type, valueHash)`. `type` includes the scale.
2. `Scalar.equals()` compares `type` first, before proceeding to compare values. `type`, again, includes the scale.

Apologies for the noise. This bug is invalid.

[2022-09-17 08:28] Ankitkurani1997 opened #11713 "[QST] : How is unified memory handled in cudf while reading dataset file whose size is greater tha single GPU?"
I want to enable unified virtual memory while performing the operations. Before reading csv file I am
importing rmm and using rmm.mr.set_current_device_resource(rmm.mr.ManagedMemoryResource())

Is this sufficient to enable use of uvm ?
Trying to run following code
Code snippet :

CSV file size is greater than GPU memory

I only have one GPU RTX 3090

[code]
I got following error
MemoryError: std::

[2022-09-19 15:44] revans2 commented on #9269
Sorry about the long delay for a response. I see two possible APIs.

The first would be that in Spark we add in a glue layer that would let the CUDF reader call back into java and the Hadoop File System API so we can properly support security and all of the various pluggable APIs that Spark/Java can support, but CUDF does not yet.

CUDF would then need to add in APIs that would allow us to partiti

[2022-09-19 15:59] revans2 commented on #11630
That is correct for my understanding too.

[2022-09-19 16:01] davidwendt commented on #11630
Ok. That matches what I'm seeing in other places here in libcudf too. I created PR #11703 to fix this.

[2022-09-19 19:33] GregoryKimball commented on #7723
Now that libcudf has integrated with [nvCOMP](https://github.com/nvidia/nvcomp), I recommend reopening the issue in the nvCOMP repo with a clean test case and an Nsight Systems profile.

[2022-09-19 19:33] #7723 closed

[2022-09-19 20:39] vyasr commented on #11253
Hi @ShahRishi, I'm glad that you were able to get this working! Could you post a sample of some of the warnings that you are seeing? Since this is the first time that we're enabling this, I think what we will want to do is make a sequence of PRs where each one just fixes all instances of one or two errors. That will let us figure out which warnings are worth fixing and which ones (if any) we want

[2022-09-19 20:40] #11368 closed

[2022-09-19 20:41] ShahRishi commented on #11253
Hi @vyasr! Thank you for the feedback. I am unfortunately unable to access my computer right now, but I will paste all of the warnings delivered and post them after 9pm PST tonight! Thank you again!

[2022-09-19 20:44] vyasr commented on #10323
If the copyright check only checks that the current year is included, but doesn't do any check of the start date (e.g. in a range like 2017-2022 will it check that 2017 is the right start date or no?) then I think you're probably right. It's been a while since I looked into this issue, so I don't remember if that's the case, but if so then it would be great to be able to remove it altogether.

[2022-09-19 20:54] bdice commented on #10323
I adapted my proposal and it is available for review in #11711.

It doesn't seem that the copyright check verified the start year (e.g. 2017) before or after my changes. It only verifies two error cases: `start > end` and `thisYear < start or thisYear > end`:

https://github.com/rapidsai/cudf/blob/cfa01874d3db0bcd0be0aca15aa73be011d234f4/ci/checks/copyright.py#L133

https://github.com/rapidsai/cud

[2022-09-19 21:09] vyasr commented on #10323
OK yeah that's what I suspected since some files were created in other repos and then migrated here, so the start date check via git may not even be valid.

[2022-09-19 21:11] vyasr commented on #11253
Great, thank you! If you want to paste _all_ of the warnings, please paste them into a text file and attach it here rather than copying directly, otherwise it will be very difficult to parse through them on the Github UI.

[2022-09-19 23:51] mattharrison opened #11716 "[BUG] cudf doesn't support functions with `.assign`"
**Describe the bug**
The `.assign` method in Pandas (and other implementations of the Pandas API) supports `**kargs` as a dict of `{str: callable or Series}` . The cudf library does not support callables with `.assign`.

The ability to use a callable (usually a lambda but also a function) allows you to create or update columns based on the current state of the dataframe when you are using a chain.

[2022-09-20 02:06] vyasr commented on #11716
Thanks for reporting @mattharrison. I'm going to close this as a duplicate of #2591, but feel free to reopen if you think there's something different about your issue. Otherwise, please add any extra information on #2591. Thanks!

[2022-09-20 02:06] #11716 closed

[2022-09-20 02:10] mattharrison commented on #11716
Yes, looks like a dupe. Not sure why my search fu failed me.

On Mon, Sep 19, 2022, 8:07 PM Vyas Ramasubramani ***@***.***>
wrote:

[2022-09-20 02:12] bdice commented on #11684
At present, options 2 and 3 are orthogonal, and we should adopt both in tandem. The current state of cython-lint performs checks that are distinct from those of flake8 (plus flake8-force). Unused cimports won’t be caught by flake8(-force).

[2022-09-20 02:38] ShahRishi commented on #11253
Hi! I have uploaded the warnings and added a file below. I have also provided a list of the types of errors from the documentation
`ERROR_MSGS = {
    "GL01": "Docstring text (summary) should start in the line immediately "
    "after the opening quotes (not in the same line, or leaving a "
    "blank line in between)",
    "GL02": "Closing quotes should be placed in the line after the last text "

[2022-09-20 03:39] eriknw commented on #11550
Note that this behavior was added to pandas 0.23:

https://pandas.pydata.org/docs/whatsnew/v0.23.0.html#whatsnew-0230-enhancements-merge-on-columns-and-levels

and was added to Dask here:
https://github.com/dask/dask/issues/2950
https://github.com/dask/dask/pull/2960

This is an important optimization for `dask.dataframe` and `dask_cudf` to avoid full shuffles, and b/c they don't allow multiindex.

[2022-09-20 06:08] harrism opened #11719 "[DOC] Docs say to build libcudf doxygen using `make docs_cudf`, which doesn't work."
## Report incorrect documentation

**Location of incorrect documentation**

cudf/cpp/doxygen/developer_guide/DOCUMENTATION.md

**Describe the problems or issues found in the documentation**

The above suggestion does not work.

**Steps taken to verify documentation is incorrect**
List any steps you have taken:

* Also tried in `cpp/build/release`.
* Also tried `make docs_libcudf` and `make doc_cud

[2022-09-20 14:12] davidwendt commented on #11719
The `make docs_cudf` works for me. What error are you seeing?
Also, if you are using `ninja` instead of `make` then it would be `ninja docs_cudf`.

[2022-09-20 14:58] galipremsagar opened #11721 "[BUG] Unable to perform setitem operations on slices of `struct` and `list` columns"
**Describe the bug**
When we want to fill a `slice` of a series column of type `struct` or `list`, there is an error.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
We should be able to fill the values without hitting the inplace replace methods of libcudf for these two types specifically.

**Environment overview (please complete the following information)**
 - Environment location:

[2022-09-20 15:01] MikeChenfu opened #11722 "Write csv without scientific notation[QST]"
**What is your question?**
Hello, I met a problem to write data into csv file with a scientific notation. Do we have a workaround to remove the scientific notation?  Appreciate it if anyone has an idea about it.
[code]

[2022-09-20 17:41] #11663 closed

[2022-09-20 20:22] caryr35 opened #11724 "[DOC] RAPIDS 22.10 Release Blog Outline"
Please provide bullet point list of major user facing changes to Sophie Watson by the end of **burn down**

[2022-09-20 20:29] mattharrison commented on #11382
I'm running into the same error with 22.08 and 22.10 on my WSL2 machine. I have a Quadro P1000 card.

Is there a known older version that works? (FWIW Cupy seems to work just fine with my card).

[2022-09-20 20:34] taureandyernv commented on #11382
@mattharrison , 21.08 had success on the P1000 (I have one too), but ymmv, as I did the old install method as well.  Let us know if you are successful

[2022-09-20 20:35] davidwendt commented on #11722
Sorry, there is no workaround for this.
Scientific notation is used for numbers less then 0.0001 or greater than 1,000,000.

[2022-09-20 20:36] mattharrison commented on #11382
I used the conda command generated from the "Install Rapids" gui/thing https://rapids.ai/start.html#get-rapids

[2022-09-20 20:39] taureandyernv commented on #11382
wsl2 had a few changes to the installation method.  I don't know if there are breaking changes that occurred for 21.08's compatibility with the P series cards.  Try both conda and docker and it would be awesome to get an update on if it still works.

[2022-09-20 22:04] #11462 closed

[2022-09-20 22:04] mattharrison commented on #11382
For those following along at home, I was able to get version 21.08 installed with this command and create dataframes succesfully!

` conda create -n rapidsai -c rapidsai -c nvidia -c conda-forge      cudf=21.08 python=3.8 cudatoolkit=11.4`

[2022-09-20 23:01] vyasr commented on #11684
We should definitely adopt flake8-force. I don't know if cython-lint is quite ready for production use yet, which is why I'm not sure about adopting it right now vs. waiting a bit. Someone is going to have to put in the time and effort to try it and find bugs if we're going to move forward there.

In any case, I think adopting flake8-force is a clear win for us and we should do that whenever someo

[2022-09-20 23:15] vyasr commented on #11253
Awesome! Here's a command that gives a quick idea of what warnings are showing up:
[code]

To get just a list of error codes you can also do
[code]

From that, I see:
[code]

From looking through that output, these all look like real errors that we should fix (although a couple of them are very pedantic like ending every line with a period). We can save the last few of lines until the end since th

[2022-09-21 00:18] harrism commented on #11719
Ahhhh. `ninja docs_cudf` works. Please update DOCUMENTATION.md to reflect this.

[2022-09-21 00:34] harrism commented on #11719
Here's how I did it in cuSpatial. https://github.com/rapidsai/cuspatial/pull/667/commits/17634db119b11918f66a4289606df7477a282bd1

[2022-09-21 07:05] naanunaane opened #11727 "[BUG] cuDF read csv not working as expected when trying to use both skiprows and header arguments"
**Bug in read csv**
When trying to read a CSV, the arguments skiprows and header don't seem to be working together. When I skip 10 million records using skiprows, and pass header=0, the column names are not being read from the first row

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The column names should have been account-start, client, balance, db-id, proxy-id, rank. However the

[2022-09-21 10:22] upsj opened #11728 "[FEA] `read_csv` context-passing interface for distributed/segmented parsing"
**Is your feature request related to a problem? Please describe.**
To parse files from a regular language like CSV, we can only safely parse data inside a byte range if we know the parsing context from before this range. Without this information, we may accidentally interpret a record delimiter (newline) inside a quoted field as an actual delimiter.

More formally, when starting from a byte range,

[2022-09-21 11:30] #5770 closed

[2022-09-21 11:31] #5694 closed

[2022-09-21 12:58] davidwendt opened #11729 "The segmented_sort.cu should align with sort_column.cu implementation"
There are some inconsistencies in the sort logic used by `sort_column.cu` and `segmented_sort.cu` both use a radix-sort optimization but apply different logic for handling nulls and fixed-width types. Overall the logic should match to provide predictable results. One such occurrence appears in #11630 where NaNs are handled incorrectly. This logic was already correct in the `sort_column.cu` impleme

[2022-09-21 13:47] quasiben opened #11731 "[FEA] Support New Median / Median-Approximate in Dask-cuDF"
In https://github.com/dask/dask/pull/9483 Dask now has implementation of `median` and `median_approximate`.  These should available with dask_cudf.  cuDF currently raise a NotImplementedError with `mean(axis=1)`:

[code]

As for `mean_approximate`, ValueError is thrown unexpectedly:

[code]

[2022-09-21 15:11] davidwendt opened #11734 "libcudf gtests unit tests should not be coded in namespace cudf or namespace cudf::*::test"
Remove using `using namespace cudf;` and `using namespace cudf::test;` from gtests.
Likewise remove unit test source coded inside `namespace cudf {}` or `namespace cudf::test {}`
The unit tests should not be considered part of `cudf` or the `cudf::test` infrastructure but rather consumers of them. This will help with maintenance (no confusion where functions are defined) and with verifying the lib

[2022-09-21 16:03] bdice commented on #11684
I opened #11736 to update our pre-commit hook but haven't touched the developer conda environment version yet because that has to match the rest of RAPIDS. I suppose I need to make similar PRs to other packages and the integration environment before #11736 can be merged -- OR we could accept pre-commit as a single source of truth and remove `flake8` from our developer conda environment...

[2022-09-21 16:17] randerzander opened #11737 "[FEA] Support passing scalar args to string_udfs"
Using the newly merged strings_udf support, I'm trying to pass scalar arguments to a string UDF:
[code]

But I get udf compilation failed errors.

Trace:
[code]

numba version: '0.55.2'
cudf version: '22.10.00a+242.g387c5ff96d' (built from source)

cc @brandon-b-miller

[2022-09-21 18:54] davidwendt commented on #11729
Looks like the `sort_column.cu`'s `is_radix_sort_supported()` should match the one in `segmented_sort.cu` (in PR #11703). The `sort_column.cu` logic uses `thrust::sort_by_key` to call the CUB radix-sort routines. But thrust catches the chrono types will not work and automatically funnels those types to thrust's internal merge-sort function instead.

[2022-09-21 21:21] ShahRishi commented on #11253
This makes perfect sense. I will work on an error and create a pull request once I am ready. Thank you!

[2022-09-22 02:28] eriknw opened #11741 "[BUG] dask_cudf.concat(args, ignore_index=True) fails when indices are different type"
**Describe the bug**

`dask_cudf.concat(args, ignore_index=True)` raises when indices are different dtype, so the indices are not in fact ignored.

**Steps/Code to reproduce bug**

[code]
<details><summary>Traceback</summary>

[code]
</details>

**Expected behavior**
To not raise and give the same result as `cudf`

**Environment overview (please complete the following information)**
 - Environment

[2022-09-22 10:29] wence- commented on #11741
This is a bug in dask, rather than dask_cudf. The `finalize` method of `dask.dataframe.Series` doesn't know anything about the keyword arguments passed to `concat`:

[code]

[2022-09-22 12:53] sononix opened #11742 "libcudf documentation - getting started"
Just looking through the documentation on using libcudf, firstly there isn’t a lot of documentation!
Are there any examples of using libcudf directly or how it might be used or wrapped into a system-level language such as Rust (the CSV example isn’t really cutting it), is looking through the test routines my best bet of better understanding how to use the library directly through libcudf?
I don’t

[2022-09-22 13:07] davidwendt commented on #11742
There are just a few examples here https://github.com/rapidsai/cudf/tree/branch-22.10/cpp/examples
The tests can provide some useful examples as well. https://github.com/rapidsai/cudf/tree/branch-22.10/cpp/tests
There are [Python](https://github.com/rapidsai/cudf/tree/branch-22.10/python) and [Java](https://github.com/rapidsai/cudf/tree/branch-22.10/java) wrappers in this repo as well.
Someone els

[2022-09-22 14:45] #10941 closed

[2022-09-22 14:49] #10215 closed

[2022-09-22 14:52] jbrennan333 commented on #11280
@vuule is this on your radar for a future cuIO improvement, or are you happy with the workaround?

[2022-09-22 15:41] eriknw commented on #11741
Dask doesn't purport to support `concat` with `ignore_index=True`.  `dask_cudf` does.  See: https://github.com/dask/dask/issues/8353

[2022-09-22 16:02] andygrove opened #11743 "[BUG] Misleading error when casting huge arrays from long to string"
**Describe the bug**

I have the following code to cast longs to string.

[code]

When `n` is `900_000_000`, this fails, quite reasonably, with an `out_of_memory` error.

When `n` is `1_000_000_000`, then it fails with:

[code]

**Steps/Code to reproduce bug**
See code sample above.

**Expected behavior**
It would be nice to add appropriate checks so that this case also fails with `out_of_memory`.

[2022-09-22 16:04] GregoryKimball commented on #11728
@rjzamora This issue serves as our proposal for the new parsing-context aware CSV reader. We would love to discuss with you (or another Dask stakeholder) in more detail.

[2022-09-22 16:43] GregoryKimball opened #11744 "[FEA] Raise "FileNotFoundError" exception in `cudf.read_json` for missing files"
**Is your feature request related to a problem? Please describe.**
`cudf.read_json` raises a `RuntimeError: cuDF failure` exception when called for a file that does not exist. On the other hand `cudf.read_parquet` and `cudf.read_csv` raise a `FileNotFoundError` exception.

**Describe the solution you'd like**
I would like to conform the JSON reader to the input validation and exception types for o

[2022-09-22 17:33] #11719 closed

[2022-09-22 17:41] #11249 closed

[2022-09-22 17:45] rjzamora commented on #11728
Nice - I can't say I understand how the transition-vector logic works, but the general plan seems reasonable to me. My current understanding is that the corresponding dask graph would look something like this:

![possible-graph](https://user-images.githubusercontent.com/20461013/191814631-c45be4f7-9a2d-4411-96a4-827e2b2f5d4c.png)

We start by selecting overlapping byte ranges from the dataset (or

[2022-09-22 17:50] upsj commented on #11728
couple of points for completeness:
1. they must be non-overlapping, but adjacent for this to be correct
2. "read local context" reads exactly the specified byte range (plus/minus one character to detect whether the byte range starts after a newline)
3. "combine contexts" is really lightweight, we are basically passing around an integer, so it could happen via "allgather + local exclusive prefix-sc

[2022-09-22 17:52] sameerz commented on #10184
Still needed

[2022-09-22 18:10] rjzamora commented on #11728
Thanks for clarifying.  We will likely want to use a distinct IO task to physically pull each byte range from a (possibly remote) dataset. This means a given "read local context" task will only have access to the specific bytes that were read in the IO task it depends on. It seems like we would want to assing non-overlapping byte ranges to the "read local context" tasks, but that the IO tasks they

[2022-09-22 18:20] upsj commented on #11728
This sounds like a problematic limitation - if a byte range ends shortly after the start of a long row, your IO task may provide too little data. Are you worried about reading the same data twice here? Maybe we could also buffer that on the libcudf data_source level? To expand some more, `read_csv` works in two steps:

1. finding row offsets, this means scanning the byte range for non-quoted/comme

[2022-09-22 18:45] rjzamora commented on #11728
You are correct that it will be possible to "break" the Dask logic by assigning byte ranges that are too small (or by assigning too-little overlap). As far as I understand, this is already potential problem in dask's `read_csv`.  However, in the past the only alternative was to read the entire remote file on every worker.

Now that I think about it, this is no longer the only alternative, because

[2022-09-22 20:26] etseidl commented on #11686
Looking through the polars code, it looks like they default to writing V2 data pages, which libcudf cannot read.  libcudf should throw an exception if V2 pages are detected.

[2022-09-22 21:39] nvdbaranec opened #11748 "[DOC] Add libcudf policy that list columns must be sanitized"
I found a case where the parquet writer seems to be incorrectly writing the validity data for the top level of a list column. It ends up writing out an all-valid mask, when there are actually nulls.  Confirmed this is a writer issue by loading the resulting file in external tools as well.  ORC writer does not exhibit this behavior.

Repro:
[code]

Expected  (nested float column not showed)
[code]

[2022-09-23 00:02] GregoryKimball commented on #11744
After reviewing pandas `read_json` behavior, I realized that accepting a string for parsing is a supported behavior. I'm closing this for now.

[2022-09-23 00:02] #11744 closed

[2022-09-23 06:50] umiswing opened #11750 "[BUG] failure to compile due to identifier "__int128_t" is undefined on cuda-11.6 and gcc-9.4.0"
**Describe the bug**
Try to build cudf 22.10 from source. I run ```./build.sh libcudf``` but get a compile error:

[code]

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal(Ubuntu 22.04)
 - Method of cuDF install: from source

**Additional context**
nvcc version: 11.6
GCC version: 9.4.0
cmake version: 3.23.3
hardware: GeForce RTX 3060 Mobile /

[2022-09-23 09:50] upsj commented on #11728
If we wanted to do this 100% cleanly, we could also extract row offsets in the parse context stage and exchange them between neighboring tasks/workers. Then the initial IO could be limited to the byte range + 1, and the subsequent parsing IO would know exactly which bytes to load a priori

[2022-09-23 13:20] rjzamora commented on #11728
That makes sense. It would be fine for the first pass at the Dask algorithm to just execute a distinct task graph to calculate the **correct** byte range for each partition, followed by a conventional `read_csv` graph. The map-overlap pattern would allow us to avoid any eager execution, but my opinion is that eager execution is fine when it is well motivated.

[2022-09-23 18:38] revans2 opened #11754 "[BUG] cudf::byte_cast can return non-empty null values."
**Describe the bug**
For short, int, and long values that are nulls the results will not point to an empty list.  Technically this does not violate the Arrow spec, but with changes going into CUDF for sorting of nested types, this can potentially cause incorrect results.

Not sure how critical this is, just because the list sorting is not done, and it may only really be a problem for lists of stri

[2022-09-23 19:18] davidwendt commented on #10184
You can do this by calling existing libcudf functions. It appears the sort process described in the description is the same as for sorting strings so I think artificially creating a strings column using the lists column's offsets and calling sort would give the correct results.

The basic idea is to build a fake column of strings to sort and use that result to build the output lists column.
If the

[2022-09-23 19:35] devavret opened #11756 "All null string column representation"
**What is your question?**

For a string column containing all null values, is it a valid cudf column representation to have no children while having a non-zero size and an allocated nullmask?
[code]

This seems to suggest it is valid https://github.com/rapidsai/cudf/blob/ca952f8355810c46bb132f0b50a67e4109108ccb/cpp/src/column/column_factories.cu#L63

But the string column factories prevent this h

[2022-09-23 20:01] davidwendt commented on #11756
I don't think we have a strings-column factory that would create such a column since all of the factory functions take something to tell it how big the column is to be. I don't think the libcudf code will generally handle an all null-column with no data/children regardless if it is strings column or not.

[2022-09-23 20:39] devavret commented on #11756
Some factories accept the column size.
https://github.com/rapidsai/cudf/blob/f4f34287dadd9ee9a946b253aa045ba3256028b6/cpp/src/strings/strings_column_factories.cu#L142
https://github.com/rapidsai/cudf/blob/f4f34287dadd9ee9a946b253aa045ba3256028b6/cpp/src/strings/strings_column_factories.cu#L117

@felipeblazing found some APIs (`cudf::make_column_from_scalar`) that create such a column. And that see

[2022-09-23 20:43] davidwendt commented on #11756
I did a quick scan through the code and found many places that would fail for strings and lists column if there were no offsets child.

[2022-09-23 20:51] vuule commented on #11748
The issue only reproes with list columns that have non-empty null elements. Modifying the failing test to have zero-length null lists fixes the test.
Such input validation is (arguably) out of scope of the Parquet writer. cuDF APIs assume that list columns are sanitized.

[2022-09-23 21:05] ttnghia commented on #11748
So we may end up calling to always calling `purge_nonempty_nulls` before writing?

[2022-09-23 21:09] vuule commented on #11748
It depends on where the data is coming from. For example, cuIO readers do not create such columns.

Maybe @mythrocks can comment on the cases in which we can create non-conforming columns.

[2022-09-23 22:42] ttnghia commented on #11743
As mentioned in https://github.com/NVIDIA/spark-rapids/issues/6598, this is because overflow of the output column size (https://github.com/rapidsai/cudf/blob/d2414582d853fa32960a59cb052aaaf814b1153e/cpp/src/strings/convert/convert_integers.cu#L381).

[2022-09-23 23:17] galipremsagar commented on #11239
Duplicate of https://github.com/rapidsai/cudf/issues/11721

[2022-09-23 23:17] #11239 closed

[2022-09-24 20:28] tkram01 commented on #5770
Was this closed because it was decided not to implement it?

[2022-09-26 08:18] epifanio opened #11765 "[QST] list-aggregation for struct columns"
Running the following code in `cudf`:

[code]

the `gdf` dataframe will look like:

[code]

At this point I need to run a  `groupby.agg()` operation, like:

[code]
But the field `new` get's silently ignored - I guess because of the following `Data Error`:

[code]
which can be triggered by:

[code]

Is there an alternative way to get around this problem and create a dataframe that looks like:

| c

[2022-09-26 11:36] devavret commented on #11756
Alright, then this just means that there's a bug in `make_column_from_scalar`

[2022-09-26 12:10] davidwendt commented on #11756
I will look into this more today in the context of strings only. Most of the code should handle this fine since we should not try to access any data elements for null rows. I think that we should fix the code that accesses the offsets directly or fix `make_column_from_scalar`.

[2022-09-26 12:20] parkerzf opened #11766 "[BUG] install Rapid framework with AWS CLUSTER VIA DASK: Mismatched versions found"
**Describe the bug**
Follow the instruction on https://rapids.ai/cloud.html#aws, section AWS CLUSTER VIA DASK, I get the Mismatched versions found error. Is this deployment approach outdated?

**Steps/Code to reproduce bug**
Client node: `p3.2xlarge`, installed rapid framework using the latest docker command:
[code]

ECS cluster: 1 instance `p3.2xlarge`, all the steps are correct and the cluster i

[2022-09-26 12:21] davidwendt commented on #10301
I think the RAPIDS docker images call be accessed from here: https://hub.docker.com/r/rapidsai/rapidsai
The Dockerfiles are also available as well.
This link is at the bottom of the https://rapids.ai/start.html page which is included at top of the https://github.com/rapidsai/cudf README
Is this sufficient to close this?

[2022-09-26 13:21] davidwendt commented on #11743
The output size of a strings column is limited to 2GB. In the worse case, a long can be 18 digits plus a sign character. So converting longs to strings would be limited to 127 million rows (2,415,919,103/19 = 127,153,637). Using this as an upper bound should prevent an overflow.

[2022-09-26 13:44] andygrove commented on #11743
Thank you for the info @davidwendt and @ttnghia

[2022-09-26 14:06] #11620 closed

[2022-09-26 14:47] davidwendt commented on #11743
Can we close this isssue?

[2022-09-26 15:07] beckernick commented on #11766
cc @mmccarty @jacobtomlinson , in case you've run into this recently during recent cloud deployment work

[2022-09-26 15:17] andygrove commented on #11743
Yes, I'll go ahead and close this.

[2022-09-26 15:17] #11743 closed

[2022-09-26 15:25] davidwendt commented on #11756
After looking through several functions that would fail with a non-empty, all-null column with no children, I think it would be best to fix the `make_column_from_scalar`. The deciding factor is the case where a column is sliced and the resulting elements are all null. Rather than adding special logic for all these considerations, I think it best to fix the `make_column_from_scalar`. We can re-labe

[2022-09-26 15:42] davidwendt commented on #10237
It does indeed look intentional if I'm reading these gtests right.
https://github.com/rapidsai/cudf/blob/fb703b1a5384606e7fc13e5e931c6f57eb0bb8ff/cpp/tests/groupby/count_scan_tests.cpp#L49-L53
https://github.com/rapidsai/cudf/blob/fb703b1a5384606e7fc13e5e931c6f57eb0bb8ff/cpp/tests/groupby/count_scan_tests.cpp#L146-L151
https://github.com/rapidsai/cudf/blob/fb703b1a5384606e7fc13e5e931c6f57eb0bb8ff/

[2022-09-26 16:14] andygrove opened #11768 "[BUG] Suspected memory corruption with regexp calls"
**Describe the bug**
We are seeing some Spark queries involving regexp calls produce different results on each run and have established that `matchesRe` is producing incorrect results on the GPU in a very non-deterministic way. This only happens with large input columns.

**Steps/Code to reproduce bug**
The tracking issue is https://github.com/NVIDIA/spark-rapids/issues/6431 and I am working on cr

[2022-09-26 16:16] davidwendt commented on #11768
I'd like to request a C++ reproducer if possible.

[2022-09-26 17:04] MikeChenfu commented on #11722
Thanks @davidwendt . It was working to convert it to decimal and write it as csv.

[2022-09-26 17:05] davidwendt commented on #11722
Ah. That is a good idea.
Can we close this then?

[2022-09-26 17:06] MikeChenfu commented on #11722
Yes, thanks again!

[2022-09-26 17:06] #11722 closed

[2022-09-26 17:58] mythrocks commented on #10237
I have been otherwise occupied, so I didn't get the time to write a repro. I'll get on writing a suitable test.

[2022-09-26 18:10] jrhemstad commented on #10237
I missed in the original issue description that this was for groupby *scan*. I had thought this was just for regular groupby `count`.

I don't know much about the groupby scan implementation, so it sounds like a bug of using exclusive scan vs inclusive scan.

[2022-09-26 18:59] davidwendt commented on #11768
I'm not sure how the https://github.com/NVIDIA/spark-rapids/issues/6431 is converted to libcudf calls. But converting 1 billion long values to a strings column would require almost 9GB of character bytes. So casting the longs to strings is perhaps where the corruption is occurring.

[2022-09-26 19:10] andygrove commented on #11768
The data is split across six partitions in this case, with each partition containing ~166mm rows.

The config allows two concurrent tasks on GPU. Setting `concurrentGpuTasks=1` makes the query run reliably.

Here is debug output from one run:

[code]

Here is another run of the same query showing slightly different counts:

[code]

We are working on a C++ repro case.

[2022-09-26 20:09] #11630 closed

[2022-09-26 21:00] vuule commented on #9313
Additional info related to the pyorc part of the issue: Spark is able to read ORC string column statistics, and uses them for predicate based filtering.

[2022-09-26 22:50] #11721 closed

[2022-09-26 23:03] #11159 closed

[2022-09-26 23:06] vyasr commented on #11684
I would be fine with just accepting cudf as our source of truth. If anybody outside the cudf team is running flake8 on our source I have to imagine its via pre-commit hooks.

[2022-09-27 00:02] vyasr commented on #10301
Maybe we should add links to https://github.com/rapidsai/docker as the source for the Dockerfiles as well (unless there's another set of Dockerfiles that you're thinking of?), but then yeah I think we ought to be set.

[2022-09-27 01:34] #11683 closed

[2022-09-27 01:34] galipremsagar commented on #10823
Resolved by https://github.com/rapidsai/cudf/pull/11762

[2022-09-27 01:34] #10823 closed

[2022-09-27 01:38] galipremsagar opened #11780 "[FEA] Remove `**kwargs` in all IO readers and writers"
**Is your feature request related to a problem? Please describe.**
We will need to remove usage of `**kwargs` in all IO readers and writers, having them is leading to problems where we are silently skipping the incorrectly named parameters that users pass. We have removed the usage of `kwargs` in CSV readers and writers in https://github.com/rapidsai/cudf/pull/11762.

**Describe the solution you'd

[2022-09-27 02:11] harrism commented on #5770
I think the requester closed it. @GregoryKimball should probably decide whether or not to reopen it.

[2022-09-27 02:55] #11700 closed

[2022-09-27 05:44] nankaimy opened #11783 "does cudf support windows?"
does cudf support windows? python 3.7 ,how to install？thanks

[2022-09-27 09:50] #10466 closed

[2022-09-27 10:14] galipremsagar commented on #11783
There is no native support for windows, however you can use `cudf` inside `WSL`, instructions here: https://rapids.ai/wsl2.html

[2022-09-27 10:27] nankaimy commented on #11783
thanks

[2022-09-27 10:27] #11783 closed

[2022-09-27 11:07] MarcoGorelli commented on #11684
Hey @bdice , thanks for taking a look!

Sorry to jump in, just wanted to say - I've fixed some things since last week, and have tried this on the cudf repo and didn't notice any false negatives, could you upgrade and try again please?
If there is a false negative I missed, please do report it and I'll try to fix it - I'm pretty keen on getting this working well as there's a tonne of Cython files i

[2022-09-27 12:49] quasiben commented on #5770
It's worth noting the CUDA FP16 support in Numba is wrapping up.  I believe the last PR for support is https://github.com/numba/numba/pull/8001 -- we are trying to target full support in the 0.57 release

[2022-09-27 12:53] robertmaynard commented on #11750
Can you please post the output of `cmake --system-information` when executed in the the `<cudf_dir>/cpp/build` directory

[2022-09-27 15:16] robertmaynard commented on #11750
During the compilation of JIT files the `jit_preprocessed_files` will try to locate the associated nvrtc library on your machine.

Therefore on machines with multiple CUDA installations, the version found via `LD_LIBRARY_PATH` will be selected with no regards to it being 11.5+ ( for int128 support ). So you should also ensure that `LD_LIBRARY_PATH` points to the `lib64` directory of your nvcc 11.6

[2022-09-27 16:12] miguelusque opened #11788 "[BUG] List index out of range when mixing categorical and non-categorical series with XGBoost"
**Describe the bug**
Hi! I am facing an error when using both categorical and not categorical series when training an XGBRegressor.

The error only happens when using cuDF dataframes + gpu_hist. If I use Pandas dataframes + gpu_hist, the issue doesn't happen.

Thanks!!!

**Steps/Code to reproduce bug**
I have attached a reproducer in both .pdf and .txt formats. In the pdf file, it can be observer

[2022-09-27 16:16] bdice commented on #11780
@galipremsagar I started work on this a while back. See here for the branch: https://github.com/rapidsai/cudf/compare/branch-22.10...bdice:cudf:io-kwargs

[2022-09-27 16:45] quasiben commented on #11788
Here is the repro in the txt file:

[code]

[2022-09-27 18:15] shwina opened #11791 "[BUG] Grouping by a nonexistent key gives `ValueError` rather than `KeyError`"
I would expect the code below to raise a `KeyError`, but it raises a `ValueError` instead:

[code]

[2022-09-27 19:07] nvdbaranec opened #11793 "[FEA] Parquet reader code cleanup, re: nested columns vs columns with lists."
In the parquet reader there are two similar-sounding but distinct pieces of terminology:

- Nested columns.  This is the same as in the cudf sense.  Anything involving structs or lists at any level.
- Nested hierarchies.  This only involves columns (or _parts_ of columns) that contain lists (represented via repetition levels).

This causes confusion and bugs for a couple of reasons. A given (cudf)

[2022-09-27 19:14] galipremsagar opened #11794 "[BUG] `from_durations` seem to be overflowing while converting to a string"
**Describe the bug**
`from_durations` appears to be overflowing while translating the value to a human readable format, i.e., converting to a string column.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**

Does not overflow in strings i.e., return `157937 d, 2hrs..` at index `0` of s.

**Environment overview (please complete the following information)**
 - Environment location: [Bar

[2022-09-27 19:14] galipremsagar commented on #11794
cc: @davidwendt

[2022-09-27 19:29] eriknw opened #11795 "[BUG] sort_values on categorical column fails in dask_cudf"
**Describe the bug**
`ddf.sort_values(col)` does not work with a `dask_cudf` DataFrame when `col` is categorical.

**Steps/Code to reproduce bug**
[code]
<details>
<summary>Traceback</summary>

[code]

</details>

**Expected behavior**
I expect it to work--that is, match the result of cudf and dask.dataframe.

**Environment overview (please complete the following information)**
 - Environment loca

[2022-09-27 20:05] parkerzf opened #11796 "[QST] OOM issue while loading the 26GB twitter dataset into 128GB GPU memory"
Hey I try to load the twitter graph in a AWS `p3.16xlarge` instance, which has 8 16GB memory GPUs, in total 128GB. However, it is OOM. Could you please take a look if I missed anything? Thanks so much!

[code]

I can't find similar issues,  this [one](https://github.com/rapidsai/cudf/issues/6087) got similar errors but it is because LocalCUDACluster is not used.

I used the docker approach to inst

[2022-09-27 20:31] beckernick commented on #11796
When you call `compute`, you are bringing all of the data to a single GPU and a single Python process, which is likely not what you want to do. [These](https://coiled.io/blog/dask-compute/) two [blogs](https://coiled.io/blog/dask-persist-dataframe/) from Coiled can provide some context on how to handle distributed data in memory.

[2022-09-27 23:22] vuule commented on #10283
@revans2 the `keep_quotes` option is now merged. Can we close this issue? We can always reopen if the implementation is not sufficient.

[2022-09-28 00:12] vuule commented on #6313
Looks like we didn't go ahead with the change :D
FWIW, Pandas still does not default to nullable types, and there's a PR to add an option to use nullable types in `read_csv` https://github.com/pandas-dev/pandas/pull/48776.

[2022-09-28 00:18] vuule commented on #7861
Some new potential uses in cuIO:
warn on fallback to host JSON tree traversal
warn on compression failure in Parque and ORC writers
info about nvCOMP use (vs internal implementations)

[2022-09-28 01:34] hyperbolic2346 commented on #11394
still needed

[2022-09-28 06:52] parkerzf commented on #11796
Thanks @beckernick That makes total sense. I will read more about the blogs you shared. I have a follow up question, actually what I want is to load the data to `cugraph` and run the pagerank algorithm, not `compute`. However, it still shows the OOM error. You may find the detailed error message in this issue: https://github.com/rapidsai/cugraph/issues/2694.

This doesn't seem to be the same issue

[2022-09-28 10:09] Ankitkurani1997 commented on #11713
@madsbk @afender @rlratzel @ChuckHastings any comments on above question?

[2022-09-28 11:14] Ankitkurani1997 commented on #11796
@parkerzf , did you find any workaround for the above issue?

[2022-09-28 17:24] wence- opened #11804 "[BUG] read_text doesn't apply a default"
**Describe the bug**

`read_text` advertisers `delimiter=None` (with perhaps some presumption that a default delimiter is put in place). In practice, no such thing occurs.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

Should not get an `AttributeError`. Either a sensible default should be supplied, or the `delimiter` argument should be mandatory (and checked for `str`-iness).

[2022-09-28 17:57] trivialfis commented on #11788
Hi, the fix is merged in XGBoost. We will have a new release next month. https://github.com/dmlc/xgboost/issues/8282

[2022-09-28 18:13] #11768 closed

[2022-09-28 19:20] davidwendt commented on #11794
The duration value is eventually passed to the `cuda::std::chrono` to be dissected into components.
We generally do not do data validation in libcudf. Bad data in gives bad data out.
General discussion comes from https://github.com/rapidsai/cudf/issues/5505

[2022-09-28 23:43] vuule opened #11812 "[BUG] ORC ZLIB tests fail with nvCOMP 2.4"
nvCOMP introduced changes to the DEFLATE compress/decompress (for example, decompress chunk size is limited to 64KB). ORC tests now fail, further triage is required to root cause.

[2022-09-29 03:28] GregoryKimball opened #11817 "[BUG] Allow string to numeric conversion with "dtype" argument in JSON reader"
**Describe the bug**
The `cudf.read_json` does not correctly convert from strings to numeric type when `engine='cudf_experimental'` is set and the `dtype` argument specifies a numeric type. `engine='cudf'` and pandas both support strings to numeric casting.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect the string data to be converted into the specified numeric dtype when

[2022-09-29 03:40] GregoryKimball commented on #11804
@upsj I would be happy to either use `\n` default value or make `delimiter` a required argument. Please let me know if this turns out to be tricky.

[2022-09-29 06:00] upsj commented on #11804
I ran into the same issue and included a fix in #11802, i.e. making it a required argument

[2022-09-29 06:50] parkerzf commented on #11796
Nope, hope that someone else could share their experience to deal with large dataset.

[2022-09-29 09:43] wence- commented on #11741
Where do you see this? The definition of `concat` in dask_cudf is just `concat = dask.dataframe.concat`.

[2022-09-29 09:46] miguelusque commented on #11788
That is outstanding. Thank you!!!!

[2022-09-29 11:27] wence- commented on #11765
I guess there are two issues here:

1. silently ignoring requested aggregations that are unsupported if there are other supported aggregations;
2. supporting the `list` aggregation method for struct-based columns.

From cursory examination, it appears that `list` (which internally turns into "collect") does almost work for struct columns (the struct key names are lost, but I think that is an easy

[2022-09-29 11:54] wence- opened #11819 "[BUG] struct columns (perhaps) incorrectly advertise support for covariance and correlation in groupby"
**Describe the bug**

In the cython wrapping layer, struct columns are advertised as support correlation and covariance:

https://github.com/rapidsai/cudf/blob/5a4afecad5ff2769fc7f32565158e1321c358b71/python/cudf/cudf/_lib/groupby.pyx#L61

In fact, this is not true. If attempting to run with `df.groupby("foo").agg(lambda x: x.cov(0, 1))` with struct columns we obtain:

[code]
**Expected behavior**

[2022-09-29 20:54] #10323 closed

[2022-09-30 03:10] GregoryKimball opened #11833 "[BUG] Resolve parquet writer issue with "timedelta64[s]" and "timedelta64[ms]""
**Describe the bug**
When we write a `cudf.DataFrame` containing columns with types `timedelta64[s]` or `timedelta64[ms]` to a parquet file, libcudf assigns that column `col_schema.type = Type::INT64` and `col_schema.converted_type = ConvertedType::TIME_MILLIS` ([libcudf code pointer](https://github.com/rapidsai/cudf/blob/920b58f9488802ad50258c858cef34a5fd162676/cpp/src/io/parquet/writer_impl.cu#L

[2022-09-30 03:58] mythrocks opened #11834 "[BUG] Parquet Reader crashes when reading ZSTD compressed Parquet on Pascal"
When CUDF Parquet reader reads (certain) ZSTD compressed Parquet files on Pascal GPUs, it encounters `cudaErrorIllegalAddress`, causing the process to `terminate()`.

This bug was discovered in `spark-rapids` validation, when running tests on Pascal GPUs. (Relevant bug: https://github.com/NVIDIA/spark-rapids/issues/6614). Further details are available in [this comment](https://github.com/NVIDIA/sp

[2022-09-30 05:02] eriknw commented on #11741
That is a great question.  I... don't recall why I thought that.  Maybe stepping through pdb twists the brain?

In other news, this now works for me (and is a sufficient workaround):
[code]
Previously, the index dtype would remain the same (such as int32) after `reset_index`.  Now the index dtype changes to int64.  Either that, or I was seeing things earlier.

I'm now content with my workaround; h

[2022-09-30 08:36] wence- commented on #11741
:). Will close, but watch the dask side issue, which if fixed would fix this too.

[2022-09-30 08:36] #11741 closed

[2022-09-30 08:55] wence- commented on #11819
Hmm, not sure if my characterisation is actually correct.

[2022-09-30 09:34] wence- commented on #11817
[code]

cudf default engine is reading in base-16:

[code]

[2022-09-30 14:15] quasiben commented on #11788
With https://github.com/dmlc/xgboost/pull/8280 merged in I'm going to close this issue.  Thanks @trivialfis for the quick response

[2022-09-30 14:15] #11788 closed

[2022-09-30 15:48] jacobtomlinson commented on #11766
Could you share how you are creating the `cluster` object?

[2022-09-30 16:57] mythrocks commented on #11834
Apologies. It would have been prudent to include details about the card on which the read fails:
[code]

[2022-09-30 18:30] revans2 commented on #10283
Sure

[2022-09-30 18:30] #10283 closed

[2022-09-30 19:31] mythrocks commented on #11834
Sorry I missed this before: There seems to be a race-condition in the Parquet reader, maybe?
[code]
Notice: That's one `Error` on `cudf::io::parquet::gpu::gpuDecodePageData()`, and several warnings on `zstd::decompression_kernel()`.
cc @vuule , who knows this better than I would.

[2022-09-30 19:49] vuule commented on #11834
CC @nvdbaranec for the Parquet reader race

[2022-09-30 21:39] taureandyernv opened #11840 "[BUG] Guide to UDF Notebook's new Strings examples fails to compile the UDF"
**Describe the bug**
The new Strings Example in guide to UDFs returns `ValueError: user defined function compilation failed` due to a Typing Error

Link to notebook: https://github.com/rapidsai/cudf/blob/branch-22.10/docs/cudf/source/user_guide/guide-to-udfs.ipynb

**Steps/Code to reproduce bug**

[code]
returns
[code]

As does:
[code]

**Expected behavior**
return a value

**Environment overview

[2022-09-30 22:25] mlahir1 opened #11842 "[BUG] Exception when using to_numeric with Boolean mask"
Repro code:
[code]

Exception:
[code]

cudf version : '22.10.00a+241.g0528b38f2b'

If i remove the boolean Mask everything runs fine:
[code]

Result:
[code]

[2022-09-30 22:25] brandon-b-miller commented on #11840
@shwina I think this is because `strings_udf` isn't part of the container that these get run in. Could this be solved by a quick PR adding the dependency somewhere?

[2022-10-02 19:47] GregoryKimball opened #11843 "[FEA] Byte-range support in "cudf_experimental" JSON reader"
**Is your feature request related to a problem? Please describe.**
Similar to `read_csv`, `read_text` and `read_json(engine='cudf')`, I would like to add byte-range support to `read_json(engine='cudf_experimental')`. Byte-range support makes it possible to read files that are larger than GPU memory or contain columns larger than the libcudf column size limit.

**Describe the solution you'd like**

[2022-10-03 03:41] GregoryKimball commented on #5890
Closed by #11129

[2022-10-03 03:41] #5890 closed

[2022-10-03 03:45] GregoryKimball commented on #9119
I believe this is closed by #11292, please feel free to reopen with an update.

[2022-10-03 03:45] #9119 closed

[2022-10-03 05:38] GregoryKimball opened #11844 "[FEA] Story - Full support for nested types"
After the introduction of new row operators for nested types (#10186), it's time to build on that success with a new issue to focus on the outstanding items. The row operators for equality `=` (#10289) and hashing `#` (#10641) included support for arbitrarily-nested `List` and `Struct` types. List inequality `<` (#11129) added support for arbitrarily-nested `List<List>` and `Struct<List>`. Please

[2022-10-03 07:07] lvxhnat opened #11845 "[BUG] cuDF regex string replace results in cudaErrorIllegalAddress error"
**Describe the bug**

**Steps/Code to reproduce bug**
Using ```emoji_pattern == 1.7.0```

[code]
I am currently running on 100K rows of English text in the ```post_content``` column but runs into this error

[code]
Screenshot below

**Expected behavior**
To complete regex string replace with no errors.

**Environment overview (please complete the following information)**
I am running this notebook

[2022-10-03 11:54] parkerzf commented on #11766
Yes of course. I followed this [blog post](https://medium.com/rapids-ai/getting-started-with-rapids-on-aws-ecs-using-dask-cloud-provider-b1adfdbc9c6e) mostly:
1. Create a ECS cluster with one `p3.2xlarge` instance.
2. Create another `p3.2xlarge` instance in the same VPC as the ECS cluster, as the `client`.
3. Use the docker command to install rapids frameworks in the `client`.
4. Install `dask_clo

[2022-10-03 12:38] davidwendt commented on #11845
Can you specify what string is returned for `emoji_pattern.get_regexp().pattern[1:-1]`?
Also, can you provide some examples of what values are in `df.post_content`?

[2022-10-03 14:11] galipremsagar commented on #11842
Hi @mlahir1,

If you are doing a source build please pull in the latest changes which contains a fix(https://github.com/rapidsai/cudf/pull/11816) to this issue.
If you are using nightly packages, could you recreate your environment with new packages as this has been already fixed in `22.10` and a patch release has been made to `22.08.01`.

[2022-10-03 14:51] beckernick opened #11847 "[BUG] dask_cudf read_csv does not support dask.dataframe's blocksize argument (vs. chunksize)"
dask_cudf's read_csv uses the parameter `chunksize` to control the size of each chunk when reading a csv file, while dask.dataframe uses `blocksize`. This can cause issues when using Dask-SQL and flipping between CPU and GPU workloads.

dask_cudf silently ignores this parameter rather than throwing a ValueError (or a warning).

We should support `blocksize`.

[code]

[code]

[code]

[code]

[2022-10-03 15:14] beckernick opened #11848 "[FEA] Groupby ngroup"
I'd like to be able to call `df.groupby().ngroup()` like I can in pandas to get [the number of each group from 0 to the number of groups - 1](https://pandas.pydata.org/docs/reference/api/pandas.core.groupby.GroupBy.ngroup.html).

[code]

This was originally requested in https://github.com/rapidsai/cudf/issues/1720 to enable some functionality in Dask, but we were able to get around this at the tim

[2022-10-03 15:41] lvxhnat commented on #11845
Hi @davidwendt , thank you for replying. I have edited the issue to include the regex string returned from the ```emoji``` package as well as 25 sample rows of the data.

[2022-10-03 15:41] shwina commented on #11840
I think that's a question for @taureandyernv -- do you know where the environment for notebooks is defined?

[2022-10-03 16:16] davidwendt commented on #11845
The cudf regex does not recognize `\u` or `\U` escape. Also, it only accepts UTF-8 characters.
Here are the features that are supported: https://docs.rapids.ai/api/libcudf/stable/md_regex.html

[2022-10-03 16:32] lvxhnat commented on #11845
Ah I see. Thanks @davidwendt, in which case, are there any possible workarounds you suggest? The solution I am currently seeing is to either Switch back to multiprocessing pandas or other array mapping, both of which will contradict only utilising the RAPIDS environment to leverage on GPUs.

[2022-10-03 17:15] davidwendt commented on #11845
Sorry, I'm not following the example here very well. The entire regex string is ~90KB.
Just looking at the first bit of the `emoji_pattern` I'm confused what this is trying to do:
`👨🏿\u200d❤️\u200d💋\u200d👨🏿|👨🏿\u200d❤️\u200d💋\u200d👨🏻 ...`
I'm not sure what this is intended to match.
Also there are many alternations (`|`) with no grouping which seems odd.

[2022-10-03 17:57] taureandyernv commented on #11840
It's in every docker container we run testing on so far, so I think its universal

[2022-10-03 18:20] GregoryKimball commented on #8039
This looks closer after merging #11129 but not quite working yet.

sorting on list columns works:
[code]

but groupby does not due to a cuDF error. Perhaps list types aren't supported in the index as groupby would require
[code]

[2022-10-03 18:22] PointKernel commented on #8039
The issue would be resolved by #11792.

[2022-10-03 18:47] shwina commented on #8039
Correct -- there's no `ListIndex` type in cuDF (or Pandas for that matter). There are two ways we could resolve this:

1. Add a `ListIndex` type
2. Support grouping on a list column only when `as_index=False`. At the same time, we could improve the error message when `as_index=True`.

For now I think (2) would be the simpler/faster option.

[2022-10-03 18:51] vuule opened #11850 "[BUG] Random data generator creates incorrect sequences of decimal elements"
The random data generator creates sequences with given run length. The run length looks correct for non-decimal types. Decimal element sequences zig-zag between valid(?) values and small values, regardless of run length.

The zig-zag sequence do seem to correlate to the run length.

![image2](https://user-images.githubusercontent.com/16005690/193655607-37933a4b-70b4-4106-857e-0971a0548301.png)
![i

[2022-10-03 19:57] mlahir1 commented on #11842
that latest 22.10 resolve the issue @galipremsagar

[2022-10-03 19:57] #11842 closed

[2022-10-03 23:39] vyasr commented on #11844
Is this issue just a more complete version of the last table in #10186 describing algorithms that should be using the comparators?

[2022-10-04 13:52] davidwendt commented on #11845
Looking at this more closely it looks like you are trying to remove emojis from the `post_content` but the emoji pattern is ill-formed. Once you have fixed the emoji pattern, it appears that it just contains strings of characters between alternation '|' which would probably be very inefficient in regex. I think it would be better to not use regex for this but just use the replace string method tha

[2022-10-04 13:58] davidwendt commented on #11845
I hope this helps. The indicated error does not occur in the latest 22.10 version of the code so I'm inclined to close this issue as it stands.

[2022-10-04 17:11] GregoryKimball commented on #10186
This story issue has served us well! I'm closing it in favor of #11844 where we will continue this work.

[2022-10-04 17:11] #10186 closed

[2022-10-04 17:36] shwina commented on #11848
It's just a little bit more involved than that -- it just so happened that you used `0` and `1` in your key column, and that you had only a single key column. It wouldn't work for example if you had:

[code]

I think I have an idea for an implementation -- will open a PR in a bit.

[2022-10-04 18:16] galipremsagar commented on #11780
I'll build on top of this

[2022-10-04 18:47] beckernick commented on #11848
Ah, good point :smiley:

[2022-10-04 19:43] GregoryKimball commented on #10301
These links provide enough discoverability IMO

[2022-10-04 19:43] #10301 closed

[2022-10-04 22:55] GregoryKimball commented on #11050
Closed by #11052

[2022-10-04 22:55] #11050 closed

[2022-10-05 02:31] GregoryKimball commented on #6784
In 22.10 we are closer but there is some lingering issue.
[code]

[2022-10-05 02:34] vuule commented on #11833
After a lot more digging:

1. IMO we should be using `int32` for `duration_d`, `duration_s` and `duration_ms` (Parquet type TIME_MILLIS);
2. cudf Parquet reader assumes `int64` timestamp and duration types in input files. This is incorrect and also needs to be fixed. The first part uncovers this.
3. cudf Parquet reader applies timestamp_type to diruation types as well. This seems incorrect, but al

[2022-10-05 20:23] davidwendt commented on #11729
Here is how the current sorting.hpp functions and are implemented for a single column.

| API | Implementation |
| ---- | ---- |
| [cudf::sorted_order](https://docs.rapids.ai/api/libcudf/stable/group__column__sort.html#ga234cbe8106e60ecbbaf5704e1da0762c) |  copies input column, creates sequence column and calls `thrust::sort_by_key` (fast-sort) or `thrust::sort` (with comparator) |
| [cudf::stable

[2022-10-05 20:25] davidwendt commented on #11729
Optimization for single-column sort reference issue #8634
The optimization work is to be separate from this work.

[2022-10-05 20:42] davidwendt commented on #8634
Possible optimized implementations for single-column, integral types -- using radix-sort (no comparator allowed)

| API | `cub::Device` | Notes |
| ---- | ---- | ---- |
| `cudf::sorted_order` | `RadixSort::SortPairs` | |
| `cudf::stable_sorted_order` | `RadixSort::SortPairs` | `thrust::stable_sort_by_key` calls this internally  |
| `cudf::sort` | `RadixSort::SortKeys` | |
| `cudf::sort_by_key` | `

[2022-10-06 12:51] davidwendt commented on #11653
I feel like this is covered by https://github.com/rapidsai/cudf/issues/925
None of the libcudf APIs expose stream parameters. This issue just highlights a few of them.
Recommend closing this in favor of #925

[2022-10-06 13:51] jrhemstad commented on #6476
The necessary changes are now in the official `release-v3` branch and there is a 3.1 release tag: https://github.com/NVIDIA/NVTX/releases/tag/v3.1.0

We should be good now to remove our vendored header in favor of getting nvtx from the GitHub repo.

[2022-10-06 13:57] robertmaynard commented on #11533
Closing since https://github.com/rapidsai/rapids-cmake/pull/257 has been merged

[2022-10-06 14:09] davidwendt commented on #6476
Will this include an equivalent fix created here https://github.com/rapidsai/cudf/pull/11798 ?
Or do we have to do something else to work around the warning?

[2022-10-06 14:57] jrhemstad opened #11870 "[FEA] The libcudf example should show how to use a memory resource"
**Is your feature request related to a problem? Please describe.**

Using a memory pool is essential to good performance with libcudf. Today, the [example libcudf application](https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/examples/basic/src/process_csv.cpp) doesn't show how to construct an RMM memory resource nor set the `current_device_resource`.

**Describe the solution you'd like**

Th

[2022-10-06 19:31] jrhemstad commented on #6476
I opened a PR with a fix for that warning here: https://github.com/NVIDIA/NVTX/pull/61

[2022-10-06 19:55] #11756 closed

[2022-10-06 20:53] #11850 closed

[2022-10-07 02:29] bdice commented on #11653
I agree this is a subset of #925. The current guidance I would give is to call the desired APIs and sync with `cudf::default_stream_value.value()` before using the result in another (user-provided) stream. See also #11853 (in progress) for stream policy guidance.

[2022-10-07 02:30] bdice commented on #11653
I'll close for now, but feel free to re-open if there is more to explore here @harrism.

[2022-10-07 02:30] #11653 closed

[2022-10-07 07:05] harrism commented on #11653
@bdice synchronising the default stream is a big performance cost.

[2022-10-07 13:23] bdice commented on #11653
@harrism That is true. However, the work is being done on the default stream, necessitating that sync if the result is to be used on another non-blocking stream. Exposing user-provided stream parameters is a goal of the library, and this will be resolved as a part of #925.

[2022-10-07 16:21] jacobtomlinson commented on #11766
I don't think this is because it is outdated, I think it's because the defaults use the `ghcr.io/dask/dask:latest` Docker image and you need to specify the RAPIDS one like you did when starting up the `p3.2xlarge` instance.

[2022-10-07 20:42] VibhuJawa opened #11877 "[BUG] dask_cudf loc operation fails with cudf Series and cupy array fails"
**Describe the bug**
dask_cudf loc operation fails with cudf Series and cupy  array

**Steps/Code to reproduce bug**
[code]

[code]

**Expected behavior**
I would expect this will work as it does for numpy or padas series .  See below.
[code]
[code]

**Additional context**
There is no workaround apart from moving our stuff to pandas, numpy array or dask_cudf Series.

[2022-10-07 21:01] abellina opened #11878 "[BUG] OOM in readParquet due to too large temp memory estimation in cuDF"
We are seeing an issue where trying to read a zstd parquet file is causing a very large allocation to happen (something much higher than GPU memory like 50 or 60 GB).

We have bisected it to a change in this PR: https://github.com/rapidsai/cudf/pull/11652.

Specifically we see that `value_or` is evaluating the argument in this function `batched_decompress_temp_size` (changed in the PR above), wher

[2022-10-07 21:27] vyasr commented on #11653
cuspatial already does this, though. We've made numerous improvements, and perhaps the situation has improved even further since I last looked (especially with the header-only APIs) but even if the C++ has largely removed such dependence (a quick search only shows uses of `cudf::detail::make_counting_transform_iterator`, `cudf::detail::sort_by_key`, and `cudf::detail::allocate_like`, which is pret

[2022-10-07 21:42] jbrennan333 commented on #11878
I dug up some numbers from when we first encountered the problem with `nvcompBatchedZstdDecompressGetTempSize`.   This is before nvcomp was updated to add `nvcompBatchedZstdDecompressGetTempSizeEx`.  For q23b from tpcds running at 3TB, I saw numbers like this:
[code]
So we were trying to allocate 17GB when all we needed was 230MB.

[2022-10-07 23:03] #11804 closed

[2022-10-08 08:12] firestarman opened #11882 "[FEA][Java] `ArrowIPCTableWriter` writes en empty batch in the case of an empty table."
**Is your feature request related to a problem? Please describe.**
Currently the `ArrowIPCTableWriter` will write no batches into the steam if giving an empty table, which PySpark cannot handle correctly, complaining of the error as below.
[code]
Pyspark is calling the `pyarrow.Table.from_batches` [without specifying a schema](https://github.com/apache/spark/blob/branch-3.3/python/pyspark/sql/pand

[2022-10-10 02:35] galipremsagar commented on #11485
Thanks, @pp850110. Looks like an issue with vs code, closing this issue for now.

[2022-10-10 02:35] #11485 closed

[2022-10-10 13:13] parkerzf commented on #11766
Hey @jacobtomlinson Thanks for the reply! Actually I am struggling to load large data into rapid frameworks. Here are the tickets: https://github.com/rapidsai/cudf/issues/11796 and https://github.com/rapidsai/cugraph/issues/2694. That's why I am trying to use the GPU cluster with more GPU memory. Also we will run on much big graph later so setting up GPU cluster is necessary.

Back to this questio

[2022-10-10 15:03] #11878 closed

[2022-10-10 15:06] jbrennan333 commented on #11834
The bug was in nvcomp-2.4, fixed in nvcomp-2.4.1.
This was fixed by this rapids-cmake PR: https://github.com/rapidsai/rapids-cmake/pull/286

[2022-10-10 15:43] brandon-b-miller commented on #11840
Resolved by https://github.com/rapidsai/cudf/pull/11861

[2022-10-10 15:43] #11840 closed

[2022-10-10 16:30] GregoryKimball commented on #11724
22.10 has some exciting user-facing changes:
* [New nested JSON reader](https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.read_json.html#cudf-read-json). We can now accept JSON data with arbitrary nesting as inputs
[code]

[code]

* ZSTD compression support for Parquet and Orc

TBD

* faster `read_text` implementation

TBD

[2022-10-10 18:20] GregoryKimball opened #11887 "[FEA] Support arithmetic assignment operators (e.g. "+=") in UDFs"
**Is your feature request related to a problem? Please describe.**
In cuDF-python UDFs, the `*=`, `+=`, `-=`, `/=` arithmetic assignment operators throw an exception.

**Describe the solution you'd like**
Instead, the arithmetic assignment operators should have a working implementation.

**Describe alternatives you've considered**
You can use `t = t + 1` instead of `t += 1`.

**Additional context*

[2022-10-10 21:11] mlahir1 opened #11889 "[BUG][dask_cudf] Exception when Running Corr function on dask_cudf DF"
Repro code:
[code]

Exception:
[code]

[2022-10-10 21:17] vuule opened #11890 "[BUG] cuDF ORC reader incorrectly reads file written by pyarrow"
Elements after the first row group are empty.

Only reproes with a string column.
Does not repro when the file is created by cuDF.

Minimal repro code:
[code]

[2022-10-10 21:30] harrism commented on #11653
The only remaining one is `cudf::detail::allocate_like`. We no longer use cuDF's sort and we have a `cuspatial::make_counting_transform_iterator` -- I will file an issue to clean up any calls to cuDF ones. But we still need to call `detail::allocate_like` because of the stream issue.

I'm not suggesting cuDF shouldn't have a coherent stream solution. I am just assuming that copying utilities that

[2022-10-10 22:34] #11484 closed

[2022-10-11 01:06] #11882 closed

[2022-10-11 02:01] GregoryKimball commented on #8039
Note: Allowing a List index type would also solve #6932

[2022-10-11 07:04] Mgalaz75 commented on #11098
Yes

On Mon, Jun 13, Reiwa 4 at 5:31 PM Vyas Ramasubramani <
***@***.***> wrote:

[2022-10-11 07:28] karthikeyann opened #11893 "[BUG] DataFrame.info() on list of structs throws error"
**Describe the bug**
cuDF python DataFrame.info() throws error on list of structs column.
`AttributeError: 'StructDtype' object has no attribute 'itemsize'`

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
info() should produce similar result as other list columns.

**Environment overview **
 - Environment location: Docker
 - Method of cuDF install: from source

[2022-10-11 08:02] miguelusque opened #11894 "[FEA] Support DataFrame.div() in axis=0"
**Is your feature request related to a problem? Please describe.**
Hi!

While porting some Pandas code to cuDF, I have been making use of the new `cudf.crosstab()` feature. Unfortunately, the parameter `normalize='index'` is not implemented yet, so I decided to perform the normalization by index by hand.

I had planned to do it as follows, but `DataFrame.div()` is not supported in `axis = 0`:

The

[2022-10-11 08:19] miguelusque opened #11895 "[FEA] Support 'normalize' parameter in cudf.crosstab"
**Is your feature request related to a problem? Please describe.**
Hi!

While porting some code to Pandas, I have noticed that `normalize` parameter is not supported in `cudf.crosstab`.

**Describe the solution you'd like**
I would like to have `normalize` parameter supported. Thanks!!!

**Describe alternatives you've considered**
I have performed the normalization by hand. While doing it, I have

[2022-10-11 08:33] miguelusque opened #11896 "[BUG] Column types after cudf.crosstab() does not match Pandas result"
**Describe the bug**
Hi

While porting some code from Pandas, I have noticed that the column types after `cudf.crosstab()` does not match Pandas result.

Please, see a reproducer below:

**Expected behavior**
I would like the results between cuDF and Pandas match.

[2022-10-11 10:03] miguelusque commented on #5277
I have just double-checked this feature request, and the only missing datatype from the list above to be supported by `cudf.DataFrame()` is  `cudf.DataFrame.from_arrow()`.

Could you please consider adding support to that method too? Thanks!

[2022-10-11 11:35] karthikeyann commented on #10266
should we support whitespace in the unquoted field names?
What should be the behaviour if there is whitespace 1) at beginning of field name, 2) in middle of field name 3) after field name, but before `:` ?
Similarly what should be behaviour if there is newline for above 3 cases?
Should we provide escape `\` character support?

[2022-10-11 13:11] shwina commented on #11724
In addition, I would highlight:

- Add strings &#39;like&#39; function (#11558) @davidwendt

(much faster than regex for simple pattern matching)

[2022-10-11 13:23] shwina commented on #5277
I think ultimately we want to deprecate/remove the `.from_pandas()` API and be able to support constructing from other "DataFrameLike" objects (e.g., Pandas, Modin, Vaex) via the `.from_dataframe()` API. Currently, that depends on https://github.com/rapidsai/cudf/pull/11392.

As for `.from_arrow()`, I'd rather we have a more _explicit_ `.from_arrow` constructor than an _implicit_ one that goes thr

[2022-10-11 14:35] shwina commented on #8039
Understood. I'd be hesitant to expand our API surface area by introducing a new `ListIndex` type until we have compelling use cases. This is especially true around indexes, as we are concurrently pushing for Pandas to rely _less_ on indexes (https://github.com/pandas-dev/pandas/issues/48880).

[2022-10-11 14:36] shwina commented on #6932
I'd be hesitant to expand our API surface area by introducing a new ListIndex type until we have compelling use cases. This is especially true around indexes, as we are concurrently pushing for Pandas to rely less on indexes (https://github.com/pandas-dev/pandas/issues/48880).

[2022-10-11 14:51] revans2 commented on #10266
No. see below for details

White space at the beginning and after the name but before the `:` should be stripped out and removed. In the middle is an error.

That would only show up for a non-json lines use case. In those cases newline is treated like other white space, and stripped from the beginning and end, but an error if it is in the middle.

Not for unquoted names.  None quoted escape charac

[2022-10-11 14:56] galipremsagar commented on #6932
@shwina I agree, moving this to backlog until we find a compelling use-case, but I will open a PR to throw an error with an informative message rather than a `RecursionError`

[2022-10-11 15:03] wence- opened #11901 "[BUG] mismatch in up-casting `Series.__setitem__` between pandas and cudf"
**Describe the bug**

[code]

**Expected behavior**

cudf should mimic pandas behaviour here.

[Aside, I hate hate hate this upcasting from ints to floats since it is _lossy_ for round-tripping, but I suppose we must live with it.]

Things work if I specify a list of indices:

[code]

The relevant code on a series does this:

https://github.com/rapidsai/cudf/blob/branch-22.12/python/cudf/cudf/core

[2022-10-11 15:14] shwina commented on #11901
I cannot. I agree that automatically upcasting is the better behaviour.

[2022-10-11 15:55] mythrocks commented on #11834
This is addressed in `nvcomp-2.4.1`. Plus, CUDF now disables ZSTD reads on Pascal unless it's using `nvcomp-2.4.1`: https://github.com/rapidsai/cudf/pull/11856

[2022-10-11 15:55] #11834 closed

[2022-10-11 16:21] quasiben commented on #11889
This is definitely a bug and probably due to the fact that within dask we'll be manipulating cupy arrays:
https://github.com/dask/dask/blob/6a4fc63ec06562bcf4716eb13658beba90f62232/dask/dataframe/core.py#L7153-L7167

Note, this also will fail for `cov`

I suspect we need to build a separate cov/corr function like we do for `var`.  cc @charlesbluca @rjzamora

[2022-10-11 19:09] rjzamora commented on #11889
Thanks for the ping @quasiben - It honestly looks like there are many places in dask.dataframe where we should "fix" hard-coded pandas usage (even if we do end up using a custom/optimized code path for dask_cudf).

[2022-10-11 20:04] #11848 closed

[2022-10-12 02:51] GregoryKimball commented on #11724
* New implementation for "like" string accessor

[code]

[2022-10-12 03:07] GregoryKimball opened #11907 "[FEA] Support "COLLECT" aggregation on struct columns in cuDF"
**Is your feature request related to a problem? Please describe.**
I would like to perform `COLLECT` aggregations on `Struct` columns.  Based on initial triage by @shwina , adding `COLLECT` to `_STRUCT_AGGS` in [groupby.pyx](https://github.com/rapidsai/cudf/blob/branch-22.12/python/cudf/cudf/_lib/groupby.pyx#L61) would be the first step.

**Describe the solution you'd like**
I would like `groupby.

[2022-10-12 03:12] GregoryKimball commented on #11907
Note, simply adding the `COLLECT` aggregation works to create a `List` column, but the full dtype is not preserved.
[code]
See [11687](https://github.com/rapidsai/cudf/pull/11687), [11671](https://github.com/rapidsai/cudf/pull/11671).

[2022-10-12 03:46] ttnghia commented on #11907
Sorry is this FEA for Python or Java?
We have the `collect_list` aggregation and I'm still not clear on what is difference from `COLLECT` here?

[2022-10-12 04:46] Char-Aznable opened #11908 "[BUG]libcudf example doesn't build because of hardcoded old googletest version"
**Describe the bug**
A clear and concise description of what the bug is.

I am trying to build the libcudf example using cpp/examples/build.sh. It seems cudf hardcodes googletest version 1.10 into its config, which hits bugs https://github.com/google/googletest/issues/3219 and https://github.com/google/googletest/issues/4026 and therefore won't build.

**Steps/Code to reproduce bug**
Follow this g

[2022-10-12 04:50] Char-Aznable commented on #11908
I'm not entirely sure whether this bug is due to libcudf's cmake config or rather it's due to rapids-cmake's https://github.com/rapidsai/rapids-cmake/blob/branch-22.12/rapids-cmake/cpm/versions.json file that hardcodes googletest version 1.10

[2022-10-12 08:24] wence- commented on #11907
Pretty sure this is for Python (have updated labels); as @GregoryKimball notes if you add `"COLLECT"` to the set of supported aggregations here

https://github.com/rapidsai/cudf/blob/387192c2b3659c872b27497aef033a5abcdb5444/python/cudf/cudf/_lib/groupby.pyx#L61

then libcudf will generate columns with the correct data. However, since struct dtype field names are managed in Python the field names a

[2022-10-12 09:25] sophwats commented on #11724
Thanks so much team! this is awesome. Appreciate y'all

[2022-10-12 15:57] davidwendt commented on #11908
I'm not able to reproduce this. Can you paste what error you are seeing? Can you try with gcc 9.5 ?

[2022-10-12 17:49] vyasr commented on #11653
I think we are mostly all on the same page here. cudf needs a coherent stream solution, which will resolve #925 and enable what this issue is asking for as well. I think @davidwendt and @bdice closed this issue to indicate that there was no plan to expose a stream-ordered `allocate_like` API until we got around to exposing stream-ordered versions of _all_ libcudf APIs. Until then, incurring the pe

[2022-10-12 19:02] quasiben commented on #11889
Another alternative is figuring out the right machinery (within Dask) to convert cupy arrays to cuDF dataframes.  This has come up before xref: https://github.com/rapidsai/cudf/issues/9029

[2022-10-12 19:51] Char-Aznable commented on #11908
The error was exactly those in the OP of https://github.com/google/googletest/issues/3219. I don't have gcc 9.5 but gcc 9.4 can compile without error.

[2022-10-12 20:42] davidwendt commented on #11908
@robertmaynard

[2022-10-12 21:42] ochan1 opened #11913 "[BUG] Broken "rapids include" symlink reference when build.sh PREFIX is set"
**Describe the bug**
Rapids from Version 21.12 to 22.02 (with libcudf 21.12.02 to 22.02.00) had some kind of setting change where when I set the PREFIX to consolidate the final build files into a folder called INSTALL (via `export PREFIX=INSTALL` ... as allowed in the [build.sh file](https://github.com/rapidsai/cudf/blob/v22.06.00/build.sh#L76)), the `include/rapids/libcxx/include` file (with the

[2022-10-13 00:15] rjzamora commented on #11889
That makes sense. I have a branch that resolves this bug, by introducing [serial_frame_constructor and serial_series_constructor](https://github.com/rjzamora/dask/blob/avoid-pandas-constructors/dask/dataframe/utils.py#L739-L756) utilities. However, those utilities would be even more effective if they could also dispatch to a constructor from array data.

[2022-10-13 15:42] thomcom opened #11915 "[BUG] `.to_csv` OOM error"
**Describe the bug**
`.to_csv` seems to use an inordinate amount of memory. I am doing some real data science here, extracting my desired columns from a 17GB csv file that doesn't fit into memory directly with `read_csv`.

**Steps/Code to reproduce bug**
Instead, I'm using

[code]
To read only the four columns that are most interesting. This is fast and works well. However, now I want to put these

[2022-10-13 17:28] davidwendt commented on #11915
You may want to try using the `chunksize` parameter: https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.DataFrame.to_csv.html#cudf.DataFrame.to_csv
Here is an example: https://github.com/rapidsai/cudf/issues/6526#issuecomment-708577330

[2022-10-13 18:05] thomcom commented on #11915
Thanks David. I guess we need a "Did you search old issues?" question before filing an issue. :D

[2022-10-13 18:06] thomcom commented on #11915
On the subject of providing a sane default, `cudf` implements a `.memory_usage` function that might make it easy to pass down the size of the incoming dataframe and always auto-chunk, or similar.

[2022-10-13 18:06] #11915 closed

[2022-10-13 18:29] davidwendt opened #11916 "[BUG] Memcheck error in ParquetDictionaryTest/ParquetSizedTest.DictionaryTest/22"
Found an out-of-bounds memory write in the `PARQUET_TEST` at `ParquetDictionaryTest/ParquetSizedTest.DictionaryTest/22`
The error does not occur for any other sizes 1,24 -- only for 22.

Partial output from compute-sanitizer:
[code]

Use the following command to reproduce the bug:
[code]

This is occurring on the current 22.12. I've not verified it occurs on a previous branch.

[2022-10-14 15:47] nvdbaranec opened #11922 "[FEA] The final step of the parquet preprocess step can get very slow for highly complicated schemas."
For parquet files that contain columns with lists in them, we do a preprocess step to compute column sizes (and other information).  As a very last step, we iterate over the input columns and march through them by depth here:

https://github.com/rapidsai/cudf/blob/e91d7d9ef1eb3128de99f78d0127050bb12110d4/cpp/src/io/parquet/page_data.cu#L1827

For very complicated schemas, this can result in a larg

[2022-10-14 15:47] nvdbaranec commented on #11922
@abellina

[2022-10-14 16:22] abellina opened #11923 "[TASK][JNI] Investigate train of `null_count` after `explode`"
While analyzing an nsys trace for a Spark job with deeply nested tables, we see an `explode` kernel call that is followed by a train of `null_count`, which end in `is_valid`.

After we call `cudf::explode` we build up a table, and construct java `ColumnVector` objects. I think the construction of these objects is triggering it.

This task is to confirm that the columns with missing a null count ar

[2022-10-14 18:00] dawilliams-nvidia opened #11924 "[FEA] dataframe.corr() missing "kendall" and "callable" methods"
**Is your feature request related to a problem? Please describe.**
Pandas has 4 options for the methods parameter in the corr() function: "pearson", "spearman", "kendall", and "callable" which accepts a callable object instead of a predetermined algorithm: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html

 CuDF currently only supports "pearson" and "spearman": https://docs.r

[2022-10-14 18:08] dawilliams-nvidia opened #11925 "[FEA] dataframe.mode() axis parameter not supported"
**Is your feature request related to a problem? Please describe.**
The cudf documentation lists the mode function's {axis=0,1} parameter, but then has an additional note that "axis parameter is currently not supported.":  https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.DataFrame.mode.html

**Describe the solution you'd like**
Is this feature possible to be implemented? Or is there an unde

[2022-10-14 18:37] beckernick commented on #11924
@dawilliams-nvidia , can we create a separate feature request for `kendall` and `callable`? Supporting kendall rank correlation is conceptually separate from supporting arbitrary (or even constrained) callables as correlation functions.

[2022-10-14 18:52] dawilliams-nvidia opened #11926 "[FEA] dataframe.corr() missing "callable" method"
Is your feature request related to a problem? Please describe.
Pandas has 4 options for the methods parameter in the corr() function: "pearson", "spearman", "kendall", and "callable" which accepts a callable object instead of a predetermined algorithm: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.corr.html

CuDF currently only supports "pearson" and "spearman": https://docs.rapids

[2022-10-14 18:53] dawilliams-nvidia commented on #11924
Ah, will do! I have edited the request to exclusively discuss the "kendall" method. "callable" can be found here: https://github.com/rapidsai/cudf/issues/11926

[2022-10-14 21:39] vyasr opened #11929 "[BUG] multibyte_split implicitly synchronizes all streams"
**Describe the bug**
Currently `multibyte_split` uses a stream pool to divide up work between multiple streams. However, `output_builder.inplace_resize` still resizes an `rmm::device_uvector` on [CUDA's default stream](https://github.com/rapidsai/cudf/blob/branch-22.12/cpp/src/io/text/multibyte_split.cu#L528). This function is being called from `output_builder.advance_output`, which does not curre

[2022-10-14 21:40] vyasr commented on #11929
Perhaps @upsj or @cwharris have some insight into the appropriate fix here.

[2022-10-14 21:45] eriknw opened #11930 "[BUG] `ddf.repartition` adds extra row; `df.loc` on single row uses wrong index"
**Describe the bug**

`repartition` with a `dask_cudf.DataFrame` sometimes adds an extra row.

**Steps/Code to reproduce bug**

[code]

**Expected behavior**
To match `dask.dataframe` behavior and not add an extra row

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [conda]

**Environment details**
<details><summ

[2022-10-15 02:56] eriknw commented on #11930
Narrowed down further to a bug in `cudf` with `loc`:
[code]
but the result should be
[code]
It's assigning the incorrect index here (`arg[0].start` is 5):
https://github.com/rapidsai/cudf/blob/c265c58502e629814a036488d153516724afdebd/python/cudf/cudf/core/dataframe.py#L301-L307

[2022-10-15 07:04] upsj commented on #11929
Does this actually synchronize? [`device_uvector` doesn't](https://github.com/rapidsai/rmm/blob/5a6d7a6994889ba3b2ab8b3635f29642e322cc99/include/rmm/device_uvector.hpp#L387) and [`device_buffer` doesn't either](https://github.com/rapidsai/rmm/blob/branch-22.12/include/rmm/device_buffer.hpp#L294) in the shrinking case, as far as I can tell. It only modifies the `size` member appropriately.
I have a

[2022-10-15 18:26] vyasr commented on #11929
You're right that neither of those synchronizes. However, [`device_buffer::resize` sets the stream used for deallocating the buffer](https://github.com/rapidsai/rmm/blob/branch-22.12/include/rmm/device_buffer.hpp#L296), which ends up triggering a sync on that stream when [the destructor of the uvector is called](https://github.com/rapidsai/rmm/blob/branch-22.12/include/rmm/device_buffer.hpp#L234).

[2022-10-16 19:01] upsj commented on #11929
Thanks for the details, I'll adopt your suggestions

[2022-10-17 17:13] beckernick opened #11931 "[DOC] Update 10 minutes to cudf and dask-cudf for clarity on compute vs persist"
[10 Minutes to cuDF and Dask-cuDF](https://docs.rapids.ai/api/cudf/nightly/user_guide/10min.html) is a core piece of the cuDF documentation and provides an excellent introduction to using cuDF and Dask.

However, this document heavily uses `ddf.compute()` because the data sizes are so small. The result is that many users end up calling `compute` and running out of memory, not realizing that they s

[2022-10-17 18:23] quasiben commented on #11930
Definitely a bug.  Thanks for reporting @eriknw

[2022-10-17 18:52] mattf opened #11934 "[FEA] cudf.DataFrame.from_dict"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, trying to use `import cudf as pd`

**Describe the solution you'd like**
`cudf.DataFrame.from_dict` matching https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_dict.html

[2022-10-17 18:54] vyasr commented on #11929
@upsj in the interest of making sure everything works together I saved you the time and have gone ahead and implemented my proposed solution in #11875. Tests still pass for me locally, so I think it should be OK, but I'll keep you apprised if something goes wrong!

[2022-10-17 18:59] mattf opened #11935 "[FEA] cudf.read_csv does not recognize 'low_memory' keyword argument"
**Is your feature request related to a problem? Please describe.**
rewriting code from pandas into cudf, trying to use `import cudf as pd`

**Describe the solution you'd like**
`cudf.read_csv` matching https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

[2022-10-17 19:09] quasiben commented on #11935
Does `low_memory` feature need to be implemented on the GPU or do you think we can simply "ignore" and not error out for that kwarg ?

[2022-10-17 19:11] vyasr commented on #11750
@umiswing does @robertmaynard's solution of repointing `LD_LIBRARY_PATH` fix your issue? If so, #11787 should resolve this problem once it's merged.

[2022-10-17 19:13] vyasr commented on #11573
@Saraavana were you able to resolve this by updating your CUDA driver?

[2022-10-17 19:14] vyasr commented on #11552
I'm going to close this issue for now, but please feel free to reopen and add details if there is an open issue to be addressed here.

[2022-10-17 19:15] #11552 closed

[2022-10-17 19:53] vyasr commented on #3661
This should be resolved after #11287. @shwina please reopen if there's additional work to be done here that I missed.

[2022-10-17 19:53] #3661 closed

[2022-10-17 21:12] vyasr commented on #11111
I'm going to close this issue for now, but please reopen it if the issues are still present.

[2022-10-17 21:12] #11111 closed

[2022-10-17 22:11] vyasr commented on #3579
null counts are sometimes needed in contexts where no stream is known. That is problematic because if the null count on a column has not yet been calculated, it will trigger a kernel launch and there is no way to indicate what stream that will occur on. To prevent this problem, we plan to change the null count of columns to something that must be provided on construction. That change will make thi

[2022-10-17 22:26] vyasr commented on #7053
I'm going to close this question as answered, feel free to reopen if necessary.

[2022-10-17 22:40] vyasr commented on #5505
We can close this once #11853 and #11938 are resolved.

[2022-10-17 22:59] #7053 closed

[2022-10-17 23:20] vyasr commented on #11673
The original description on this issue is not accurate. The JIT functions are almost exclusively used within JIT context, whether they be binaryops, rolling, or transforms. The one exception is what was originally raised [here](https://github.com/rapidsai/cudf/pull/11129#discussion_r964284620).

@bdice what would you like to do here? We're pretty much exclusively making use of the JIT function to

[2022-10-17 23:38] vyasr commented on #6810
@shwina @brandon-b-miller what do we want to do with something like this? I think with a lot of our more recent discussions around NaN and NULL we have been OK accepting this kind of discrepancy based on the fact that we don't conflate the two, right?

[2022-10-17 23:39] vyasr commented on #7093
@harrism @mythrocks do either of you recall the motivations for this discussion or know if it's still something that we should be pursuing?

[2022-10-18 00:07] vyasr commented on #11301
@NishantJadhav369 could you clarify your needs based on the last comment?

[2022-10-18 02:12] #10126 closed

[2022-10-18 02:42] harrism commented on #7093
I'm sorry, I don't.

[2022-10-18 13:02] shwina commented on #11935
I think we might be able to implement it in terms of the `chunksize` argument, which we do support. @thomcom made a similar suggestion [here](https://github.com/rapidsai/cudf/issues/11915#issuecomment-1277988562).

[2022-10-18 13:27] beckernick commented on #11935
This is a duplicate of https://github.com/rapidsai/cudf/issues/4999 . Would recommend we consolidate discussion in one of the issues.

[2022-10-18 13:51] rjzamora commented on #11934
+1 to this feature (and to it's `dask_cudf` counterpart).

[2022-10-18 14:03] shwina commented on #11935
Let's go ahead and close this one then.

[2022-10-18 14:03] #11935 closed

[2022-10-18 14:20] brandon-b-miller commented on #11925
It seems like it would be possible to write a numba kernel that consumes a matrix-like data structure (possibly generated from the input dataframe) and computes the mode across the rows, however I think the challenge for us in cuDF would be making sure that kernel (or family of kernels) matches pandas for all the edge cases involving dataframes with mixed dtypes, nulls, nans, and the like. We'd al

[2022-10-18 14:25] beckernick commented on #11925
I agree. This is probably in scope for CuPy, as SciPy explicitly implements it (with a fairly interesting return type). Given this operation is not columnar in nature, I think it makes sense to implement this in the Python layer by dispatching to a potential future CuPy implementation.

[2022-10-18 14:26] umiswing commented on #11750
So sorry to reply so late!!! @robertmaynard 's solution fixes my issue. Thank you very much.

[2022-10-18 15:16] shwina commented on #6810
I don't think this is related to the NaN v/s N/A discussion. Pandas seems to ignore both in groupby reductions:

[code]

FWIW, cuDF _also_ ignore nulls and NaNs for plan (i.e., not grouped) reductions:

[code]

Note that a `skipna=` kwarg can be used to control null handling in plain reductions:

[code]

`GroupBy.sum()` (both in Pandas and cuDF) lacks a similar `skipna=` kwarg. In Pandas, you can

[2022-10-18 15:28] vyasr commented on #11750
Great thank you for confirming @umiswing.

[2022-10-18 15:28] #11750 closed

[2022-10-18 15:31] vyasr commented on #11931
Also related, #4665 and #10614. It would be good for someone to tackle these issues together in one fell swoop.

[2022-10-18 15:46] #11724 closed

[2022-10-18 16:34] davidwendt commented on #11724
Could a link to the blog be added here once it is published?

[2022-10-18 16:53] quasiben commented on #11934
From a call with @shwina.  We can already do something dict things like:

[code]

Hmm, actually the DataFrame constructor is pretty robust:

[code]
@mattf can you, as a test, check if the standard constructor works for your usecase ?  If so, maybe this is as easy as redirecting `from_dict` to `DataFrame(...)`

[2022-10-18 17:09] #11536 closed

[2022-10-18 18:26] rjzamora commented on #11934
@quasiben - I also suspect that `cudf.from_dict` can simply wrap `cudf.DataFrame` - Probably raising a `NotImplementedError` for `orient="index"` and `orient="tight"`.  In the long run, it may be nice to support the same `orient` options as `pandas`. However,  the most important thing is probably that the API *exists*.

**More context**: The `dask.dataframe.DataFrame` constructor does not accept a

[2022-10-18 18:42] weiji14 opened #11941 "[BUG] Segmentation fault on import cudf without CUDA"
**Describe the bug**

Related to #11366. On a machine without NVIDIA GPUs, `import cudf` results in a RuntimeError followed by a segmentation fault. Context is that I have some code intended to be cross-compatible between CPU and GPU which used to work with `cudf=21.10`, but recent versions (e.g. `cudf=22.10`) results in an unrecoverable segfault.

[code]

**Steps/Code to reproduce bug**
Follow th

[2022-10-18 18:46] #4511 closed

[2022-10-18 18:56] shwina commented on #11941
Yikes! Investigating.

[2022-10-18 19:25] weiji14 commented on #11941
Thanks @shwina! If it helps, I think the bug was introduced somewhere between 22.04 and 22.06. I tried `mamba create --name cudfenv -c rapidsai cudf=22.04 python=3.8` and `import cudf` gave just a `TypeError` (which is not ideal, but better than a segfault):

[code]

whereas `cudf=22.06` to `cudf=22.10` gave the same `RuntimeError` + `Segmentation fault` mentioned in https://github.com/rapidsai/cu

[2022-10-18 20:06] shwina commented on #11941
Thanks, @weiji14 -- could I ask you to check if force installing `cuda-python=11.7.1` resolves the issue for you? If so, we may need to relax our pinning to allow `11.7.1`:

[code]

[2022-10-18 20:12] shwina commented on #11941
Oh hang on, that will probably break you in other ways. With `cuda-python=11.7.1`, doing `import cudf` gives:

[code]

I'll report back here when I have a proper solution...

[2022-10-18 20:14] weiji14 commented on #11941
Got this:
[code]
So yeah, probably need to do this properly :slightly_smiling_face:

[2022-10-18 20:44] #8395 closed

[2022-10-18 20:47] #11684 closed

[2022-10-18 21:27] vyasr opened #11942 "[FEA] Ensure that all of cudf's algorithms run on cudf's default stream by default"
**Is your feature request related to a problem? Please describe.**
libcudf currently runs entirely on CUDA's default stream. Internally, this is managing using an `rmm::cuda_stream_view` stored as a global variable used everywhere. We would like to move towards enabling stream-ordered libcudf APIs. In order to enable this safely, we need to ensure that libcudf is properly using its default stream

[2022-10-18 22:53] vyasr opened #11943 "[FEA] Ensure that streams passed to libcudf APIs are properly forwarded through"
**Is your feature request related to a problem? Please describe.**
libcudf currently runs entirely on CUDA's default stream. Internally, this is managed using an `rmm::cuda_stream_view` stored as a global variable used everywhere. We would like to move towards enabling stream-ordered libcudf APIs. In order to enable this safely, we need to ensure that any API that accepts a stream correctly forwar

[2022-10-18 23:00] vyasr commented on #9854
@nvdbaranec @harrism @jrhemstad @ttnghia @bdice I want to clarify the intent here: how do we envision this in a world where libcudf actually exposes a stream-ordered API? The eventual plan is to remove the current public APIs and replace them with the detail versions containing a stream, i.e. if we currently have `cudf::function(...)` and `cudf::detail::function(..., stream = cudf::default_stream_

[2022-10-18 23:04] bdice commented on #9854
I discussed this with @jrhemstad recently. We want to retain the detail/public split even after exposing streams, for the purposes of nvtx ranges and similar profiling at the public API level. Public APIS will still call detail APIs, but the stream will be part of the public API and have a default stream value. The stream will be a required parameter (no default value) for the detail API.