[2020-07-16 16:51] kkraus14 commented on #5351
Throwing and closing this issue sounds like a great idea from my perspective. If someone comes back with a proposal as to how to do it we can reopen and discuss.

[2020-07-16 18:03] randerzander opened #5707 "[BUG] cudf.to_orc writes incorrect column and stripe metadata"
After writing ORC files with cudf, I'm unable to query them using [Hive](http://hive.apache.org/) on [Tez](http://tez.apache.org/):

Create a test file:
[code]

Try to execute a basic query using Hive on Tez ([dockerized setup here](https://github.com/randerzander/docker-hive)):
[code]
I get the same behavior if I define the column types as `int`s instead.

Interestingly, Spark can read cudf gener

[2020-07-16 19:35] #5685 closed

[2020-07-16 19:35] #5686 closed

[2020-07-16 19:35] #5706 closed

[2020-07-16 21:14] kkraus14 commented on #5707
@vuule @devavret could one of you tackle this when you get some free cycles? Just assign yourself when you start tackling to make sure not to step on each others toes 😄

[2020-07-16 22:09] davidwendt commented on #5630
Can you provide an example of what is in these parameters `token_ser, output_column_id_ser, ouput_token_order_ser` and what the resulting strings column would look like? I think I understand this but I want to be sure.

[2020-07-16 22:56] vuule opened #5710 "Improve parameters of cuIO kernels (Avro)"
Many cuIO kernels and their callers have a large number of parameters. These functions can the improved by grouping their parameters into meaningful abstractions.

Example:
https://github.com/rapidsai/cudf/blob/38921ccd71bdf89609d90e0899a1bfb037879cd6/cpp/src/io/csv/csv_gpu.h#L150-L162

Edit: parameter order is also inconsistent/incorrect - in some places out parameters are places before inputs.

[2020-07-17 00:24] think-high opened #5711 "[QST] Is there dask.compute() equivalent function for dask_cudf dataframes?"
**What is your question?**
I am wondering if there is a function to which I can pass a dictionary with values as `dask_cudf` dataframes and it can compute and return those. I believe you can do that for `dask` dataframes when passed it to `dask.compute()`.

Do let me know if there is some understanding flaw here.

Thanks

[2020-07-17 00:51] #5542 closed

[2020-07-17 00:59] vuule opened #5712 "[BUG] JSON reader fails to parse files with empty rows"
The following test fails in both cases:
[code]
With array rows, the reader creates a table with int8 column instead of an empty table.
With object rows, a CUDA error happens.

[2020-07-17 04:20] harrism commented on #5700
@jrhemstad but that means nesting applies equally to tables as well as columns, rather than just columns. e.g. you would need to be able to have a column of tables.  Or a column of lists of tables. Right?

[2020-07-17 12:54] #4326 closed

[2020-07-17 14:11] jrhemstad commented on #5700
Yeah, perhaps the similarity is shallower than I originally thought.

[2020-07-17 14:26] brandon-b-miller opened #5714 "[FEA] Remove `object` dtype"
**Is your feature request related to a problem? Please describe.**
The `np.object` data type is used within cuDF python to represent string data, but this doesn't really mirror the purpose or function of `object` datatypes in CPU based python libraries, particularly numpy and pandas which can work with truly general python objects. This results in a lot of special handling in certain places in the

[2020-07-17 15:21] VibhuJawa commented on #5630
Here you go :-)

[code]

[code]

[2020-07-17 18:21] #5587 closed

[2020-07-17 18:21] #5539 closed

[2020-07-17 18:21] #5586 closed

[2020-07-17 20:27] ayushdg opened #5715 "[BUG] Groupby on integer column with `dropna=False` replaces nulls with a value"
**Describe the bug**
When grouping on a dataframe with integer group-keys containing nulls and `dropna=False`, the null values are replaced by`MIN_VALUE` of that group key columns `dtype`.

**Steps/Code to reproduce bug**
[code]

[code]

**Expected behavior**

[code]

**Environment overview (please complete the following information)**
- Conda(0.15 nightly from Jul17)

**Additional Comments**
If I

[2020-07-17 20:44] kkraus14 commented on #5715
@galipremsagar can you take a look at this when you get a chance?

[2020-07-17 20:46] galipremsagar commented on #5715
Sure

[2020-07-17 22:05] shwina opened #5717 "[BUG] Truncated type after calling `gather()` on list columns"
When gathering from list columns, libcudf appears to truncate the types of empty elements:

Consider for example the column

[code]

This is a column of type `List<List<List<int>>>` with one empty element and one non-empty element. Importantly, each element should be considered of type `List<List<List<int>>>`.

Gathering the 0th element of the column gives the column `{ {} }`, but it is of type `L

[2020-07-17 22:08] nvdbaranec commented on #5717
I discussed this with Jake and Jason and it looks like Spark wants this behavior as well.   Between the two options, I think the "maintain the full hierarchy" approach is better - Jason pointed out there's no mismatch or possibility of misinterpreation there.  The columns are fully formed, and the type is a simple match at each level.  The other way around would mean a hierarchy of types and poten

[2020-07-17 22:29] jlowe commented on #5717
To clarify, I don't think Spark technically needs this because Spark is separately tracking the schema of the columns, so we always know what types we are wielding with cudf.  We currently don't plan on doing schema discovery via libcudf, so Spark knows (or is told by the user explicitly) what types are being loaded and the plan dictates what types are generated as the data is processed by the que

[2020-07-17 22:30] Salonijain27 commented on #5711
`dask_cudf` has a `.compute()` function.

[code]

[2020-07-18 01:29] trxcllnt opened #5718 "[BUG] cudf.concat() throws concatenating Categorical columns when ignore_index=True"
**Describe the bug**
After https://github.com/rapidsai/cudf/pull/5649, `Frame._concat()` throws an error when one of the input frames has a categorical column, but the others do not.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The dataframes are concatenated without issue.

**Additional context**
Removing these two lines fixes the issue and doesn't lead to other test failures: h

[2020-07-18 01:30] vuule commented on #5677
Observations so far from experimenting with the repro:
- The issue also reproes when only the column in question is read/written;
- The issue also reproes without snappy compression;
- Without compression, file written by cudf is a much smaller (650bytes to 1.9KB) than the pandas version;
- The file written by cudf can be opened with cudf reader, and the resultint dataframe has the right data;

Th

[2020-07-18 01:31] trxcllnt commented on #5718
cc: @galipremsagar

[2020-07-18 06:43] MurrayData opened #5721 "[FEA] Please add openpyxl library to Docker containers to permit export as Excel via Pandas"
When writing the output of a cudf groupby query to Excel (via Pandas) I got the following:

[code]

As a workaround, I manually added openpyxl with:

[code]

Please can this Pandas dependency be added to future versions of the containers?

[2020-07-19 02:47] galipremsagar opened #5722 "[BUG] Difference in output based on the input dtype to `acos` op"
**Describe the bug**
There seems to be an inconsistency when input the input dtype of `acos` is `int` vs `float`. We seem to correctly fill in `NaN` for `float` inputs but seem to return non-null/NaN/garbage values incase of `int` input.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The expected behavior can be to set null mask for `NaN` values in outputs of dtype `int`, or I thin

[2020-07-19 22:49] harrism commented on #5660
Can you include the output of each failing test? e.g.

[code]

etc.

[2020-07-19 23:21] harrism commented on #5717
Is this addressed by #5675?

@nvdbaranec why did you assign 3 people?

[2020-07-19 23:50] harrism commented on #5567
@kkraus14 @millerhooks this seems to be moving slow. Should we reassign?

[2020-07-19 23:54] harrism commented on #4981
Closed by #5511

[2020-07-19 23:54] #4981 closed

[2020-07-20 01:18] harrism commented on #4946
@davidwendt is there any action needed here?

[2020-07-20 01:24] harrism commented on #5638
This is an extremely open-ended question. What operations do you want to perform on those data types, and what data sizes are you interested in? A better approach would be to take your desired workflow code, and make the changes necessary to use cuDF instead of Pandas (assuming your existing code is in Pandas).

If you have specific questions, please don't hesitate to reopen or file a new issue, b

[2020-07-20 01:24] #5638 closed

[2020-07-20 01:38] harrism commented on #5596
PTDS support is in progress. It should work successfully for cuDF now in 0.15 (current development branch), as long as you use the RMM default memory resource, cnmem_memory_resource, or pool_memory_resource.

[2020-07-20 01:41] harrism commented on #5590
Shall we close this?

[2020-07-20 01:51] harrism commented on #5498
Why the name `codify` rather than `encode`?

codify (verb): arrange (laws or rules) into a systematic code.
encode (verb): convert into a coded form.

I think the latter is more appropriate and idiomatic here. The former connotes legal terminology.

[2020-07-20 02:02] harrism commented on #5508
@nvdbaranec should this be turned into a BUG/FEA?

[2020-07-20 02:04] harrism commented on #5507
I consider this a bug, not a feature request.

[2020-07-20 02:05] harrism commented on #5505
:+1:

[2020-07-20 10:01] devavret commented on #5682
I don't believe `nvstrdesc_s` exists to encode nullness. I believe it is an artifact of the cuIO's handling of the old libcudf nvstring.

At the very least, we could consolidate the string comparison codes located here: https://github.com/rapidsai/cudf/blob/ce826c57c8cafb7d78f33873ca8c0c030fa42087/cpp/include/cudf/strings/string_view.inl#L263-L277 and here: https://github.com/rapidsai/cudf/blob/ce

[2020-07-20 10:19] MurrayData commented on #5694
As a footnote, which may help, I tried reading the file with Python **csv.DictReader** and the same thing happened to the first field.

I found a solution on Stack Overflow to the problem by adding ```encoding="utf-8-sig"``` to the file open statement:
[code]
Before
[code]
After
[code]

[2020-07-20 11:12] gumdropsteve opened #5724 "[FEA] concat with +"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to call `.head(2)` and `.tail(2)` to display the first few and last few rows of a dataframe. It would be cool to be able to concat them with `+`.

**Describe the solution you'd like**
[code]
| z |
| -- |
| 1 |
| 2 |
| 0 |
| 9 |

**Describe alternatives you've considered**
[code]
| z |
| -- |
| 1 |
| 2 |
| 0 |
| 9 |

[2020-07-20 11:52] shwina commented on #5724
@gumdropsteve The `+` operator is used for adding the elements of one dataframe with another -- so `a + b` already works, but gives you:

[code]

Extending `+` to also be able to do concatenation would be difficult or impossible, unfortunately. It could also lead to surprising and difficult to track bugs.

If you want a one-liner for displaying the first and last two rows of a DataFrame, how about

[2020-07-20 12:00] shwina commented on #5695
We should also update the code to use [`functools.cached_property`](https://docs.python.org/dev/library/functools.html?highlight=s#functools.cached_property) rather than our own implementation for Python >= 3.8. @rgsl888prabhu

[2020-07-20 12:45] davidwendt commented on #4946
The description is asking for examples and tutorials on using regex. I don't think these exist.
I'm not sure if the request is for Python API documentation or libcudf doxygen examples(?) documentation.
I believe all of the Python docs have examples in their API but I don't think there is a general tutorial on using regex.
Also, I don't know how to improve the doc search feature (or if it should be

[2020-07-20 13:20] davidwendt commented on #5507
I also noticed this when trying to create an example program using the libcudf API.

Just including the `cudf/column/column_factories.hpp` header required adding a `-I` path for `libcudacxx` and `/usr/local/cuda/include` to the compile statement.

[code]
The source file for the above is just this:
[code]

[2020-07-20 14:29] shwina commented on #5717
It fully specifies an empty column of lists (https://github.com/rapidsai/cudf/issues/5508).

Also, `a.type() == b.type()` should only hold true for list columns with not only the same leaf type, but also the same levels of nesting. That seems to be the case for PyArrow:

[code]

[2020-07-20 14:34] shwina commented on #5498
No strong feelings here. I can rename to `encode`

[2020-07-20 15:06] nvdbaranec commented on #5717
I think whatever solution we come up with here probably also addresses 5675.  That is, the fix for this probably also fixes make_empty_column.   I lean towards the keep-the-hierarchy-whole-even-if-it's-entirely-empty method, fwiw.

Just wanted to make sure the right people were on the discussion.  Is that the wrong use of assigning?

[2020-07-20 15:50] galipremsagar commented on #5517
This can be closed as it is fixed as part of : https://github.com/rapidsai/cudf/pull/5649/

[2020-07-20 16:03] kkraus14 commented on #5517
Fixed by #5649

[2020-07-20 16:03] #5517 closed

[2020-07-20 16:43] rnyak commented on #5665
@harrism @kkraus14 Is there any update on this FEA? thank you.

[2020-07-20 16:47] kkraus14 commented on #5665
Not yet, Parquet reading is being worked on currently and we're still working on the Python plumbing.

[2020-07-20 19:26] millerhooks commented on #5567
I've got this. I worked on it in tandem with the blazingsql compose stuff. I'll push it out by EOD.

[2020-07-20 19:34] #5455 closed

[2020-07-20 20:07] lmeyerov commented on #4946
There were two locations, afaict first is still outstanding and second is done:

1. Initial intro, aiding both initial discoverability and providing a reference example: part of 10min to cudf

https://docs.rapids.ai/api/cudf/stable/10min.html

2. Done: actual docs -- searching `search`/`match` now leads to series methods with examples

https://docs.rapids.ai/api/cudf/stable/api.html?highlight=matc

[2020-07-20 20:27] harrism commented on #5665
I believe the reader PR is #5723.

[2020-07-20 20:36] think-high commented on #5711
Thanks, I was thinking something like `dask.compute()` instead of something like `dask.DataFrame.compute()` so that I can pass on multiple-dataframes to be computed through that method. But I figured out that actually `dask.compute()` can be used with `dask_cudf`dataframes as well so I am sorted now.

Thanks for the help!! Appreciate it 👍  :) :)

[2020-07-20 21:04] shwina opened #5728 "[DOC] Document the various types we can cast to in `.astype()`"
The docs for [`astype`](https://docs.rapids.ai/api/cudf/stable/api.html?highlight=astype#cudf.core.dataframe.DataFrame.astype) should include a few different examples of types that Series/DataFrames/Index can be cast to, and how to specify those data types.

For example, see Pandas' astype [docs](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html).

[2020-07-20 21:07] davidwendt commented on #5527
The normalizer that is built into the `nvtext::subword_tokenize` function has the following behavior. Using mostly the [unicode category](https://unicodebook.readthedocs.io/unicode.html#categories) attribute for each character, the normalizer will

- add padding around punctuation (unicode category starts with "P") as well as certain ASCII symbols like "^" and "$"
- add padding around the [CJK Uni

[2020-07-20 21:32] think-high opened #5730 "[FEA] cudf.Series.size as an equivalent for pandas.Series.size"
**Is your feature request related to a problem? Please describe.**
I am working on enabling `dask_cudf` dataframe profiling and for that I have a code flow that uses `dask.dataframe.methods.size()`. And it's breaking there because `cudf.Series` doesn't have `size` as an attribute unlike `pandas.Series`.

**Describe the solution you'd like**
`size` attribute in `cudf.Series` that returns the number

[2020-07-20 21:42] #5711 closed

[2020-07-20 21:59] cwharris opened #5731 "[BUG] expect_columns_equivalent handles infinity incorrectly."
**Describe the bug**
When comparing any floating point value with (+/-) infinity, `expect_columns_equivalent` indicates the values are equivalent.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Any of these should fail:
[code]
All of these should pass:
[code]

**Additional Context**
`expect_columns_equal` behaves as expected.

[2020-07-20 22:07] kkraus14 commented on #5728
We should probably have equivalent docs to this:

https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#basics-dtypes

[2020-07-20 22:46] argenisleon commented on #5527
Thanks @davidwendt, It sounds perfect for my use case.

[2020-07-20 23:26] #2797 closed

[2020-07-20 23:26] #5653 closed

[2020-07-20 23:26] #5655 closed

[2020-07-21 00:01] harrism commented on #5717
#5675 is a PR, not an issue.

[2020-07-21 00:03] harrism commented on #4946
OK, sounds like a Python doc request.

[2020-07-21 01:28] #5718 closed

[2020-07-21 17:11] davidwendt opened #5734 "[FEA] Add a cudf::strings::filter_characters to allow specifying characters not to remove"
Currently we have strings APIs for removing characters by type using [cudf::strings::filter_characters_of_type](https://github.com/rapidsai/cudf/blob/79bd43517407302f4b2e52b5b470fdfcafe51a6b/cpp/include/cudf/strings/char_types/char_types.hpp#L141). We also can remove specific characters using the [cudf::strings::translate](https://docs.rapids.ai/api/libcudf/nightly/group__strings__modify.html#ga5c

[2020-07-21 19:05] mythrocks commented on #5700
I should probably ask this on Slack.

@jrhemstad , @jrhemstad: Might I solicit your advice on the following?
[code]

My C++ skills... aren't, evidently. `std::initializer_list<>` requires a single type `T`. So what might the signature for this constructor look like? The type-list might be user-defined. I'd really appreciate your advice.

As an aside, @nvdbaranec, the third template parameter does

[2020-07-21 19:59] devavret commented on #5351
The writer already throws `Unsupported ORC type` when passed an unsigned column. And it's unlikely the reader would have to encounter unsigned columns in ORC if no one's writing it.

[2020-07-21 19:59] #5351 closed

[2020-07-21 20:08] jrhemstad commented on #5700
Drawing again on the similarities between `struct` columns and tables, you basically want the `table_wrapper` I described here: https://github.com/rapidsai/cudf/issues/3203

It may be easier to just construct a `struct_column_wrapper` from other `*_column_wrapper`s and construct each member column individually in the same way we do for `table`s today in tests.

Your example is a nice goal, and sho

[2020-07-21 20:35] mythrocks commented on #5700
I was afraid that might be the case, @jrhemstad. I'm afraid this will imply that constructing `list<struct<...>>` will be verbose.

I'll try continue. Thank you for confirming.

[2020-07-21 20:57] shwina opened #5737 "[FEA] DataFrame.describe() for datetime columns"
Currently, datetime columns are ignored in `DataFrame.describe()`:

[code]

Per https://github.com/dask/dask/issues/6434, datetime columns will be treated similar to numeric columns in Pandas 1.1, which should make it relatively easy for us to include them in `describe()`.

[2020-07-21 23:02] rnyak commented on #5621
@jrhemstad I see that #5073 was merged. Does that mean we can have python api for cuDF list type column soon? Thanks.

[2020-07-21 23:34] VibhuJawa opened #5738 "[BUG] `CUDA_ERROR_INVALID_PTX ` with greater than equal to binary op on int32 series."
**Describe the bug**
`CUDA_ERROR_INVALID_PTX ` error with greater than equal to binary op on `int32` series.

**Steps/Code to reproduce bug**
[code]

[code]
**Expected behavior**
[code]
**Environment overview (please complete the following information)**
 - Method of cuDF install: [conda]

**Environment details**

[code]

[2020-07-21 23:46] VibhuJawa commented on #5738
Cleaning `/home/.cudf` seemed to do the trick.

[2020-07-21 23:54] #5738 closed

[2020-07-21 23:58] VibhuJawa opened #5740 "[FEA] Automatically detect detect and store the kernel cache in different locations for different architectures"
**Is your feature request related to a problem? Please describe.**

I wish cudf could automatically detect and store the kernel cache in different locations for different architectures.

**Why:**

Currently we by default use  `/home/.cudf` as the cache location but a lot of times, home directory might be shared across a bunch of machines with different architectures and can cause issues like: http

[2020-07-22 00:00] shwina commented on #5621
@rnyak I'm working on bindings for gather/slice for list types in Python. It's currently waiting on a fix for https://github.com/rapidsai/cudf/issues/5717.

[2020-07-22 05:37] mythrocks commented on #5700
Another question, regarding a Struct's validity/null-mask. (This pertains to something that @jlowe mentioned in a prior discussion.)

In systems like Apache Spark SQL or Apache Hive, when a Struct's members are accessed, the value is deemed null if either Struct or that specific member is null.
In CUDF, a Struct may be constructed from child columns whose validity may be set independently of the S

[2020-07-22 08:05] harrism commented on #5717
This is a quandary. Has anyone estimated the work required for the two different approaches? Pros and cons?

[2020-07-22 08:07] harrism commented on #5740
I believe it was changed to home directory for security reasons. So I think a proper fix might require encoding architecture in the cache key rather than moving the cache.

[2020-07-22 08:31] #5730 closed

[2020-07-22 08:32] #5634 closed

[2020-07-22 08:32] #5680 closed

[2020-07-22 12:42] jrhemstad commented on #5700
What does Arrow do? AFAIK, the children and parent have independent null masks.

[2020-07-22 13:15] davidwendt commented on #3824
nvstrings has been removed from cudf

[2020-07-22 13:15] #3824 closed

[2020-07-22 13:26] davidwendt commented on #3118
Documentation is now available here:
https://docs.rapids.ai/api/libcudf/stable/group__strings__convert.html#gacaf50d3b6d14ece094b9fc16b3d35c76
https://docs.rapids.ai/api/libcudf/stable/group__strings__convert.html#ga192bce8f917991cf0475089f9865b50f

This plus the flexibility of allowing the caller to specify the number of digits for `%f` hopefully addresses this specific issue.
If not, we can reop

[2020-07-22 13:26] #3118 closed

[2020-07-22 13:55] jlowe commented on #5700
My comment referred to operating on a field within a struct.  For example, take a struct S of three fields: x, y, z, and I want to do a SQL SELECT S.x + S.y.  One way to support this is to update libcudf binops so it understands how to properly access structure fields (and somehow specify in the input parameters which field in the struct column is being referenced for each input).  It would not be

[2020-07-22 14:47] nvdbaranec commented on #5717
I believe the keep-the-columns-intact method is easier.  Bulk of the work there is in the lists_column_wrapper so that it always constructs what you'd expect for the purposes of testing.   The other remaining functionality (at this point just gather and concatenate) is pretty simple to fix.

I think the keep-the-columns-intact method is better because:
- If you do it via a nested type class, you c

[2020-07-22 16:22] galipremsagar opened #5741 "[FEA] Add support for `to_string` api in cudf Objects"
**Is your feature request related to a problem? Please describe.**
We should be having a `to_string` API for configurable `__str__` like output for all `cudf` Objects like `DataFrame`, `Series` & `Index`. This API actually allows flexibility to control quite a few params like `na_rep`, `header`, `name`, `dtype`, ...etc.

**Describe the solution you'd like**
Depending on the display setting we can

[2020-07-22 17:57] revans2 opened #5742 "[FEA] extract item from a list by index"
**Is your feature request related to a problem? Please describe.**
I would like to be able to pull out the nth element from a list column and return a new column.

**Describe the solution you'd like**
I would love an API that lets me take a list column, and pull out a single entry from each list in the column.

Something like the following
[code]

**Describe alternatives you've considered**
There

[2020-07-22 18:01] mythrocks commented on #5700
Thanks, @jlowe. Permit me to rephrase: In the `binop` case (maybe even most cases), the column needs to be evaluated in the  context of its parent struct column. But am I missing a counterpoint?

This is brilliant. A struct field-view would be an elegant solution. (I'll have to figure out how to handle the column lifetimes, if I can't superimpose the struct's null-mask.)
But I wonder if this might

[2020-07-22 18:04] kkraus14 commented on #5742
cuDF Python could use this as well, but I think the expectation from our side would be to throw if the element is out of bounds, but we'll take whatever makes sense from the C++ perspective 😄

[2020-07-22 18:11] shwina commented on #5717
Strongly agree that we should implement keep-the-columns-intact. My previous message was to make the case for nested types **in addition** to that. Ultimately though, I'm happy with whatever solution libcudf devs feel is best here.

[2020-07-22 18:14] mythrocks commented on #5700
The relevant section from [the Arrow spec](https://arrow.apache.org/docs/format/Columnar.html#struct-layout):
[code]
In the context of a struct row, the struct's validity takes precedence. The examples listed in [this issue's description](https://github.com/rapidsai/cudf/issues/5700#issue-657545256) illustrate the case.

Re-reading the last sentence last night gave me pause. I can't think of a sit

[2020-07-22 19:09] davidwendt commented on #5742
There is a precedent of a `check_bounds` parameter at least for [cudf::gather()](https://docs.rapids.ai/api/libcudf/stable/group__copy__gather.html#ga47b3b3e5de852b8c6b65fc8a1e8b0cad) and [cudf::scatter()](https://docs.rapids.ai/api/libcudf/stable/group__copy__scatter.html#ga994448eb41f02a952995e5cbf0fcb10f) APIs.

The closest analogy I can think of is the [cudf.str.get()](https://docs.rapids.ai/a

[2020-07-22 19:15] davidwendt commented on #5742
Just a clarification. From your last example in the description:
[code]
negative index values should be considered out-of-bounds?

[2020-07-22 19:19] shwina commented on #5498
Closed by #5572

[2020-07-22 19:19] #5498 closed

[2020-07-22 19:26] kkraus14 commented on #5742
cc @shwina for this discussion

[2020-07-22 19:35] shwina commented on #5742
According to https://github.com/rapidsai/cudf/issues/5505 that `check_bounds` parameter may be going away though. It's still totally possible to figure out if the element is out of bounds though -- all we have to do is compare it with the `offsets` child.

We'd love to have support for negative index values to avoid _additional_ pre-processing though. So maybe negative index behaviour should be an

[2020-07-22 19:38] shwina commented on #5505
I'm fine with this, but it's worth bringing up that `gather` performance is critical to performance in some applications, and the pre-processing associated with negative indexes was previously found to be a bottleneck: https://github.com/rapidsai/cudf/issues/2675

[2020-07-22 19:44] shwina commented on #5505
Ah, misunderstood -- this is about bounds checking rather than negative index transformation. I think both incur similar overhead though (cost of a binaryop), and it's worth taking into consideration that this will impact the performance of indexing in Python (cc: @kkraus14 )

[2020-07-22 19:46] jrhemstad commented on #5505
Whether we check bounds in libcudf or Python, either way it's a kernel launch. I wouldn't expect it to be substantively more expensive to do the bounds check outside of the `gather` call.

[2020-07-22 19:47] kkraus14 commented on #5505
@shwina I think we can add this in the Cython as opposed to in the Python layer to amortize some of the typical Python overheads.

[2020-07-22 19:49] shwina commented on #5505
Sounds good -- I'll benchmark and report here, and we can decide based on that?

[2020-07-22 20:35] revans2 commented on #5742
Yes negative values are considered out of bounds for Spark.  We can work around a lot of issues with bounds checking/etc so long as we have a list length API too.  So the bounds checking is some what optional.

[2020-07-23 01:27] codereport opened #5746 "[BUG] Fix header order issue in `device_operators.cuh`"
In the https://github.com/rapidsai/cudf/pull/5704, an issue was discovered with the order of the headers included in the file. The issue discussed in the following comment thread: https://github.com/rapidsai/cudf/pull/5704#discussion_r458532778 It seems like it has to do with Jitify requiring `<simt/type_traits>` while other files just depend on `<type_traits>` but the conflict seems to occur from

[2020-07-23 01:37] codereport opened #5747 "[FEA] Investigate if possible / add comprehensive `<< ostream` operator for `fixed_point`"
As this comment points out https://github.com/rapidsai/cudf/pull/5704#discussion_r455933013, a better approach would be to have an explicit ostream opreator that avoids possible rounding from a `static_cast`. This issue has been set up to address that.

[2020-07-23 04:40] mythrocks commented on #5700
I have been advised to also seek guidance from @trxcllnt and @andygrove, who are more knowledgeable about Apache Arrow than I am. The question at hand is whether it would be incorrect to superimpose the parent (i.e. Struct) validity buffer over all its child columns, at construction:
[code]

**Effect**: A child column's row-value is null if either parent struct or the child column itself has that

[2020-07-23 04:56] trxcllnt commented on #5700
Yes, in Arrow the struct parent and child nullmasks are independent. They're also independent in Lists + the other nested types (except Unions, but that was a recent change). @jrhemstad's observation that structs are a sort of table-within-a-table is more or less correct, format-wise. I vote not to deviate from Arrow in this way unless absolutely necessary, since deviations make the interop story

[2020-07-23 05:01] kkraus14 commented on #5700
To also add, there's a logical and semantic difference between an element in a struct being `NULL` versus the elements in the child columns being `NULL` and Arrow captures this:
[code]

[2020-07-23 13:58] codereport opened #5749 "[FEA] Split Jitify stringification into a Separate CMake File"
As @harrism mentioned in this comment https://github.com/rapidsai/cudf/pull/5704#discussion_r459161733, the "stringification" of files for Jitify is growing to be quite large. This issue is to request that we refactor this into a function and put it in a separate CMake file.

[2020-07-23 14:33] shwina commented on #5505
So I ran a quick benchmark. Here are the results:

With libcudf bounds checking:

[code]

Without any bounds checking:

[code]

With cudf bounds checking:

[code]

Benchmark used (basically "reversing" a column by performing a gather):

[code]

The "cudf bounds checking" is implemented in Cython with as little overhead as possible:

[code]

[2020-07-23 14:39] shwina commented on #5505
I tend to be +1 for cleaner code over small performance gains :) This represents about a 10-15% performance decrease.

I think if libcudf had a binop+reduce primitive though (even just for numeric types), that would allow us to separate bounds checking from gather, and help with performance on the Python side.

[2020-07-23 14:46] jrhemstad commented on #5505
Agreed. The performance difference is minimal enough to not be concerning to me.

I think you could actually eliminate the binop by instead just doing a `max` reduction of the gather map. All you care about is if a single value in the gather map is out of bounds, so if you just compute the `max` and it is out of bounds, then you know there is an error and you can throw.

[2020-07-23 14:52] shwina commented on #5505
How silly of me :) Edited with numbers for doing just a `max`. The difference is even less concerning now (especially for larger problem sizes).

[2020-07-23 14:54] shwina commented on #5505
I'll put in a PR to do bounds checking in Cython for both scatter and gather. I'm happy to also throw in bounds checking _removal_ in C++.

[2020-07-23 14:55] jrhemstad commented on #5505
That said, I think you actually need to do a `min` and a `max` reduction to account for the "negative values wrap" logic. I.e., you need to check if a value in the gather map is outside the bounds `(-n, n]`

[2020-07-23 14:56] shwina commented on #5505
Are you also considering removing support for negative index values?

[2020-07-23 14:57] jrhemstad commented on #5505
No. I'm just saying that if you want to keep the same bounds checking logic that exists in libcudf, you need to check for `(-n, n]`.

[2020-07-23 14:59] shwina commented on #5505
Got it -- yup makes sense.

[2020-07-23 15:06] jrhemstad commented on #5505
We could even add a `minmax` reduction to do this in a single operation.

[2020-07-23 15:26] revans2 commented on #5700
So to be clear we are not deviating from the arrow spec. With the example from @kkraus14 above the arrow spec states that the validity looks like the following (expanded out for simplicity).

[code]

The `???` in there are for entries that the spec says can be anything. It does not matter if they are `VALID` or `INVALID` because the parent's validity for the row says it is `INVALID`.

The issue is

[2020-07-23 15:50] jrhemstad opened #5751 "[FEA] Add a `minmax` reduction"
**Is your feature request related to a problem? Please describe.**

I would like to be able to compute the minimum and maximum element of a column in a single operation.

**Describe the solution you'd like**

A `minmax` reduction something like this:
[code]

**Describe alternatives you've considered**

A dedicated `minmax` reduction is purely an optimization. The same functionality can be accompli

[2020-07-23 21:01] shwina opened #5754 "[DISCUSS] State of nullable type support in cuDF"
This issue documents the current state of nullable type support in cuDF and the plan for the near future as far as nullable types are concerned, and is the result of a discussion with @brandon-b-miller and @kkraus14:

1. Nullable ("uppercase") types (i.e., `Int64`, `Float32` etc.,) will be the default type of columns in cuDF. We will drop non-nullable ("lowercase") types (`int64`, `float32`, etc.,

[2020-07-23 21:31] kkraus14 commented on #5754
cc @BradReesWork @afender @JohnZed @dantegd @thomcom @cwharris @trxcllnt @benfred @EvenOldridge @quasiben @rjzamora @jakirkham as this can have significant downstream impact on libraries that rely on cuDF.

Please loop in anyone else this can impact and let us know if there's any issues with the proposed changes.

[2020-07-23 21:52] Salonijain27 opened #5755 "[FEA]Use apply function with dask cudf"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to use `.apply()` function in dask cudf
**Describe the solution you'd like**
The apply function should behave in the same way as it does in cudf/pandas/dask
ex.
[code]
currently running the above example gives the following error:
[code]
Once the feature is implemented it should return :
[code]

[2020-07-23 22:02] shwina commented on #5499
@kkranen - just FYI, list type are currently being worked on in cuDF and some operations on lists will be supported after this release. If there are specific operations you'd like to see, we'd love to hear about them in a GitHub issue!

[2020-07-23 22:55] felipeblazing opened #5757 "[BUG] slicing rows from df shows errors"
**Describe the bug**
A clear and concise description of what the bug is.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The data from this slice operation shouldn't return corrupt rows

**Environment overview (please complete the following information)**
Running on a dgx2

**Environment details**
<details><summary>Click here to see environment details</summary><pre>

     **git***

[2020-07-23 22:57] kkraus14 commented on #5757
@galipremsagar can you take a look at this?

[2020-07-23 22:58] galipremsagar commented on #5757
Looking into it..

[2020-07-23 22:59] felipeblazing commented on #5757
[code]

[2020-07-23 23:10] felipeblazing commented on #5757
[code]

cutoff seems to be 60 i think

[2020-07-23 23:13] galipremsagar commented on #5757
So after looking into the code, The values remain correct. It's just that `__repr__` function is broken due to `.iloc` not functioning correctly..See a minimal reproducer below:

[code]

[2020-07-24 00:35] jrhemstad commented on #5700
Has anyone tried just asking on the Arrow mailing list?

[2020-07-24 04:58] Salonijain27 commented on #5755
@taureandyernv  @aravenel

[2020-07-24 06:55] VibhuJawa opened #5760 "[QST] Hash table related question for the `subword_tokenize` function"
#### [QST]Hash table related question for the `subword_tokenize`  function

We recently added  [subword_tokenize](https://docs.rapids.ai/api/cudf/nightly/api.html#cudf.core.column.string.StringMethods.subword_tokenize
) which takes in a hash_file as input but doesn't provide instructions on creating it.

My best guess was that we create it using [perfect_hash.py](https://github.com/rapidsai/clx/bl

[2020-07-24 08:07] byin-nvidia commented on #5660
All unit tests has been passing now, after I sync with the repo last week. Thanks for your response.

[code]

[2020-07-24 11:43] harrism commented on #5660
Ok, thanks for letting us know!

[2020-07-24 11:44] #5660 closed

[2020-07-24 15:19] brookdpg opened #5761 "[QST] cudf build failure, I am not sure why. After doing a clean and rerunning it fails after the last cytonizing file 61/61"
ops@ops-XPS-15-9560:~/cudf$ sudo ./build.sh cudf
[sudo] password for ops:
+ NUMARGS=1
+ ARGS=cudf
+++ dirname ./build.sh
++ cd .
++ pwd
+ REPODIR=/home/ops/cudf
+ VALIDARGS='clean libcudf cudf dask_cudf benchmarks tests libcudf_kafka -v -g -n -l --allgpuarch --disable_nvtx --show_depr_warn -h'
+ HELP='./build.sh [clean] [libcudf] [cudf] [dask_cudf] [benchmarks] [tests] [libcudf_kafka] [-v] [-g] [-

[2020-07-24 15:23] kkraus14 commented on #5761
@brookdpg what version of CUDA toolkit and the driver do you have installed?

Can you dump the output of `nvidia-smi` and `nvcc --version` here?

[2020-07-24 15:46] brookdpg commented on #5761
ops@ops-XPS-15-9560:~/cudf/python/cudf/cudf$ nvidia-smi
Fri Jul 24 11:45:58 2020
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 410.48                 Driver Version: 410.48                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |

[2020-07-24 15:59] kkraus14 commented on #5761
Okay, looks like you have CUDA toolkit version 9.1 installed, and the oldest version we support is CUDA 10.1 as of 0.15 nightlies.

[2020-07-24 16:14] jrhemstad opened #5762 "[FEA] CMake should detect and error on insufficient CUDA version"
**Is your feature request related to a problem? Please describe.**

I want the libcudf build process to fail with an obvious and descriptive error if I try and build with a CUDA version that is below our minimum support version.

**Describe the solution you'd like**

Add logic to our CMake script to detect CUDA version and error if it is too old.

[2020-07-24 17:26] VibhuJawa opened #5765 "[QST] How do we handle Special tokens in subword_tokenize function ?"
**What is your question?**

Currently, our subword tokenize seems to be tokenizing special tokens like `[PAD]`, `[UNK]`, `[SEP]`  etc.   This behavior is in discrepancy with Hugging Face. What is the best way as a user to encode them?

#### Create Vocab File
[code]
#### Logic
[code]
[code]

Currently, the encoding for [SEP] as an example is encoded as [`1,1,1`] (UNK) with cudf while hugging face c

[2020-07-24 20:46] #5715 closed

[2020-07-24 21:56] rgsl888prabhu opened #5768 "[BUG] libcudf Dictionary sliced column_view to column is failing"
**Describe the bug**
A dictionary column view sliced as shown below is producing wrong result when a new column is created from that view.

**Steps/Code to reproduce bug**
[code]
Result `1,2,5,7 : NULL,4,2`

**Expected behavior**
Result `1,2,5,7 : NULL,2,1`

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provid

[2020-07-27 01:19] jdye64 opened #5769 "[FEA] Create librdkafka wrapper in custreamz"
Now that the accelerated kafka reader is merged into cudf a wrapper needs to be placed in the custreamz python project that acts as a shim for python streamz making it possible for that logic to be seamlessly used with python streamz itself as a none default engine.

This "shim code" will need to follow the exact paradigms and naming conventions that Python streamz currently already uses for kafka

[2020-07-27 08:49] MurrayData opened #5770 "[FEA] Add Float 16 support to RAPIDS cudf"
**Is your feature request related to a problem? Please describe.**

I want to use half precision for some inputs to a deep learning model and was hoping to use Numba Kernels and UDFs. within
RAPIDS in the data preparation stage.

At present there is no Numba JIT CUDA kernel support for float16 and RAPIDs converts to float32 on ingestion from NumPy or CuPy.

CuPy supports float16.

When I try to ru

[2020-07-27 15:02] beckernick opened #5772 "[BUG] Passing a dictionary to fillna now requires a key for every column in dataframe"
After the merge of #5727 , passing a dictionary of `columns : fill value` to `fillna` now requires a key for every column in the dataframe. We should revert this to the prior behavior, to match pandas. Haven't looked closely, but I believe it's coming from this loop: https://github.com/rapidsai/cudf/blob/e63eb311089837eaa24fa871e1106ec3ce5df318/python/cudf/cudf/core/frame.py#L1318

[code]

[code]

[2020-07-27 16:31] #5757 closed

[2020-07-27 16:51] dillon-cullinan opened #5773 "[DISCUSSION] Lower Google Benchmark Suite Runtime"
**Problem**

The Google Benchmarks take 3+ hours to run to completion which is not sustainable if we want to provide regression feedback in a reasonable time to PR authors.

**Goal**

I would personally consider a reasonable time for a benchmark test to be about 1.5 hours (excluding source build time). Keep in mind we may be introducing more benchmarks in the future, and this will add more time.

[2020-07-27 17:35] VibhuJawa commented on #5760
Based on discussion with Rachel Allen  we have come to the below conclusion so far:

a.  The hashing is correct.
b. The special token discrepancy can be fixed by using the keyword `add_special_tokens=False` with Hugging Face.
c. We don't support detokenize with cudf.

My last standing question is why is below the encoding of `Jenna` different.

[code]

[code]

Rachel / @BartleyR   Please feel free

[2020-07-27 19:40] raykallen commented on #5760
I believe this discrepancy is due to the vocab.txt file in the tokenizer test repo being improperly encoded for unicode strings. Because of this mistake, the tokenizer uses rules to split words that are not based on the complete bert vocab, and therefore it does not match the Hugging Face rules to split words. I think we may need to refactor the subword tokenizer in order for it to match the bert

[2020-07-27 20:02] #5527 closed

[2020-07-27 20:05] stevencarlislewalker opened #5776 "[QST] UserWarning: you will need a GPU with NVIIDA Pascal or newer architecture"
**What is your question?**

We are using cuDF to build out predictive modelling pipelines.

We get the following warning.
![cudf_warning](https://user-images.githubusercontent.com/2754158/88584729-19e21800-d020-11ea-91c0-cf7408faa421.png)

Note that we are able to create cuDF dataframes, so we are not sure how relevant the warning is for us.  We are warned about a potential issue, but then there a

[2020-07-27 20:09] shwina opened #5777 "[BUG] TypeError when adding numpy integer to cudf Series"
[code]

However, the following works as expected:

[code]

[2020-07-27 21:32] #5538 closed

[2020-07-27 21:32] #5555 closed

[2020-07-27 21:32] #5772 closed

[2020-07-27 22:17] raykallen commented on #5760
It seems the issue is that the perfect_hash.py function is no longer generating the expected output.

[2020-07-27 22:30] raykallen commented on #5760
If you use compact hashing it works.
Use
`# !python3 perfect_hash.py  --vocab 'vocab.txt' --output 'vocab-hash.txt' --compact`
instead of
`# !python3 perfect_hash.py  --vocab 'vocab.txt' --output 'vocab-hash.txt'`

[2020-07-27 23:16] jakirkham commented on #5689
Reopening for tracking purposes.

[2020-07-28 02:47] randerzander opened #5783 "[BUG] dask_cudf.read_parquet can't read specific file, or list of files"
[code]
Output:
[code]

Now, trying to read a single Parquet file:
[code]
[code]

I get the same error if I pass a list of filenames.

[2020-07-28 02:49] teju85 commented on #5776
@stevencarlislewalker most of RAPIDS projects [support GPUs from Pascal+ architectures only](https://github.com/rapidsai/cudf/#cudagpu-requirements), including cudf. And from the screenshot above, it seems that you are on a K80 which is 2 architectures older than Pascal. Thus, this warning is expected in your case. Can you retry this on any GPU from [this](https://developer.nvidia.com/cuda-gpus#co

[2020-07-28 04:37] #5575 closed

[2020-07-28 08:17] byin-nvidia opened #5784 "[Java] jni_utils.hpp CATCH_STD() with class_name parameter"
**Is your feature request related to a problem? Please describe.**
Re-using CATCH_STD(env, ret_val) from jni_utils.hpp in cuspatial JNI layer, the exception class name fixed to be the default cudf::jni::CUDF_ERROR_CLASS.

**Describe the solution you'd like**
[code]
Then user build their JNI based on cudf can re-use CATCH_STD(env, **class_name**, ret_val)

**Describe alternatives you've considered*

[2020-07-28 12:36] #4074 closed

[2020-07-28 14:19] revans2 commented on #5784
I'll take a look at this.

@byin-nvidia I was thinking that I should split our header into two.  One that others can use and really is a header only library, and another that is for internal APIs.  If I do this I would like to know what APIs you are using out of it `jni_utils.hpp` that I need to keep, just so I don't remove something you really need.

We also discussed about `auto_set_device`. I t

[2020-07-28 14:47] quasiben commented on #5783
@randerzander is the fix here doing something like:

[code]

if so, happy to submit a PR for the fix

[2020-07-28 15:33] revans2 commented on #5784
Because of how C macros work I cannot have two MACROS named the same thing, but take a different number of arguments.

[2020-07-28 16:22] quasiben commented on #5783
cc @rjzamora

[2020-07-28 16:28] rjzamora commented on #5783
This should have been fixed by #5775 - Arre you on the latest version of cudf?

[2020-07-28 16:31] quasiben commented on #5783
I was not.  @randerzander do you want to test with latest and close if it's resolved ?

[2020-07-28 16:58] #5592 closed

[2020-07-28 16:58] #5670 closed

[2020-07-28 17:48] cwharris commented on #5754
Cuspatial mainly uses non-nullable float 32/64 and int, and I think it will be unaffected by these changes. If there is an impact, fixing it should be straightforward in our case.

If I recall correctly, assert_eq relies on Pandas’s assert utilities, which is why we need to convert from non-nullable. Is this a good opportunity to implement our own testing comparators? That could serve as both a go

[2020-07-28 17:50] cwharris commented on #5754
I think “upgrading”/converting Pandas types to cudf types, then using custom comparators is a good approach - if we choose to write our own.

[2020-07-28 17:58] randerzander commented on #5783
@rjzamora my bad. I tried recreating my env shortly after your PR merged, probably before the conda packages got updated.

After trying again this afternoon, this issue is resolved. Thanks!

[2020-07-28 17:58] #5783 closed

[2020-07-28 18:09] shwina opened #5788 "[DISCUSS] cuDF testing strategy"
Opening this issue for discussing the following points brought up by @cwharris in https://github.com/rapidsai/cudf/issues/5754#issuecomment-665182370

[2020-07-28 18:12] shwina commented on #5754
@cwharris Opened #5788 for discussion about cuDF testing strategy, as I think it's a broader topic than this. Hope that's OK :)

[2020-07-28 18:18] brandon-b-miller commented on #5788
Since our source of truth is generally the result of the corresponding operation in pandas, Really I think the "correct" approach here is to instantiate the pandas test data as nullable types up front in as many cases as possible. After that we'd perform the operation in question and then `to_pandas` should work fine for comparison.

If anything ends up being different it signals something that's

[2020-07-28 18:30] shwina commented on #5788
Side note: external users should use the public APIs in [`cudf.testing`](https://github.com/rapidsai/cudf/blob/branch-0.15/python/cudf/cudf/testing/testing.py) for comparing two cuDF objects, rather than the internal `assert_eq` utility.

[2020-07-28 19:11] #4416 closed

[2020-07-28 19:28] Salonijain27 commented on #111
Updating the ex code shown above and running it in cudf 0.15:
[code]
The above code produces the following error:
[code]
Furthermore, using :
[code]
Throws the following error:
[code]

[2020-07-28 19:37] #5784 closed

[2020-07-28 20:49] #5768 closed

[2020-07-28 21:05] mythrocks commented on #5700
Just closing the loop here with the results of yesterday's parley.

The current plan is to superimpose (or "flatten") the struct's validity mask to all applicable children. In this initial run, the original child masks will not be preserved. The Struct owns the children, and uses them to represent struct members.

If a use-case crops up where a user supplies the child-columns and expects them to b

[2020-07-28 21:38] abellina opened #5792 "[BUG] possible leak in `mutable_table_device_view`"
@jlowe and I have been debugging a leak seen on the spark side, and I think we've hit a small leak that could lead to fragmentation over time.

It seems to be here:

[code]
After the diff above is applied, I am not detecting any more leaks. I'll keep testing. It would be great to have someone double check this patch, and I am happy to submit a PR for it if people think it is OK.

The other subclas

[2020-07-28 21:54] #5630 closed

[2020-07-28 22:06] jrhemstad commented on #5792
Confirmed, that's definitely a leak.

[2020-07-28 22:07] abellina commented on #5792
Ok thanks @jrhemstad, added a PR.

[2020-07-28 22:08] rongou opened #5794 "[FEA] support linking Boost statically"
**Is your feature request related to a problem? Please describe.**
The java library requires linking Boost statically (https://github.com/rapidsai/cudf/tree/branch-0.15/java#build-from-source). However, the current conda-based build environment doesn't actually support this. One needs to obtain `libboost_filesystem.a` separately.

**Describe the solution you'd like**
There are several options:
1.

[2020-07-28 23:01] kkraus14 commented on #5794
I think we should support 1 and 3 for now, and once 5 happens we can migrate.

Even with a boost static conda package, I don't think this solves the problem for the Java build since it would have the C++11 ABI which isn't compatible with CentOS / RHEL outside of conda.

[2020-07-29 00:00] VibhuJawa opened #5796 "[BUG]cudaErrorIllegalAddress when trying to subword tokenize more than 100 strings"
**Describe the bug**

We seem to be hitting cudaErrorIllegalAddress when trying to subword tokenize more than 100 strings

**Steps/Code to reproduce bug**
##### Create the required Vocab Hash Table
[code]
####  Actual Bug:
[code]

[code]

**Expected behavior**
I would expect the same behavior as I get tokenize<=100 strings.
[code]
[code]
**Environment overview (please complete the following inform

[2020-07-29 00:10] davidwendt commented on #5796
My first thought is that `subword_tokenizer` has 8 parameters. One is `max_num_strings` which is default set to `100`.
https://docs.rapids.ai/api/cudf/nightly/api.html#cudf.core.column.string.StringMethods.subword_tokenize
Can you try setting this parameter higher?

[2020-07-29 00:19] VibhuJawa commented on #5796
Yup, that seems to fix that issue, Missed that parameter.   Thanks David.

I am still wondering why we even need `max_num_strings ` parameter at all if the input is a string series?

For reference [hugging face](https://huggingface.co/transformers/main_classes/tokenizer.html )  API does not seem to have it.

[2020-07-29 00:36] jmkim opened #5798 "[QST] Choose specific GPU to use with Dask-cuDF"
In a machine with multiple GPUs is it possible to select which GPU to use for Dask-cuDF? Thank you!

Related question: #3428 (for cuDF)

[2020-07-29 00:41] VibhuJawa opened #5799 "[DOC]Documentation for subword_tokenize"
## Report incorrect documentation

We need to improve our documentation for  [subword_tokenize](https://docs.rapids.ai/api/cudf/nightly/api.html#cudf.core.column.string.StringMethods.subword_tokenize), am starting this issue to document places where we need to improve it.

**Describe the problems or issues found in the documentation**

We need to provide better documentation for the following para

[2020-07-29 00:52] VibhuJawa commented on #5796
Closing this issue to better discuss it and related problems in 5799 .

[2020-07-29 00:52] #5796 closed

[2020-07-29 01:04] VibhuJawa commented on #5799
I am not sure why we have this parameter, I think it might be worth throwing a logic error (Which I think should come at no extra cost) when the number of input strings is too large. Having this additional parameter with a low default value may trip other users too. The error we throw here is a `cudaErrorIllegalAddress` which does not inform the user about where it is stemming from.

[2020-07-29 13:37] beckernick commented on #5798
Yes! The answer in your linked issue also applies to Dask-cuDF.

If you're using a LocalCUDACluster, you can pass `CUDA_VISIBLE_DEVICES=...` to set specific GPUs. If you're using the command line to launch dask-cuda-workers, you can set `CUDA_VISIBLE_DEVICES` as an environment variable to dictate which GPUs get workers.

Closing this for now, but please feel free to open again if you have any more

[2020-07-29 13:37] #5798 closed

[2020-07-29 13:51] #5792 closed

[2020-07-29 14:14] #5794 closed

[2020-07-29 15:38] #5624 closed

[2020-07-29 18:16] rgsl888prabhu opened #5802 "[FEA] Concatenate support of cudf dictionary column"
**Is your feature request related to a problem? Please describe.**
Currently there is no support for cudf dictionary column concatenate.

[2020-07-29 19:58] #5677 closed

[2020-07-29 20:19] rgsl888prabhu commented on #5802
This is required to unblock to and from arrow PR  https://github.com/rapidsai/cudf/pull/5778.

[2020-07-29 22:48] jlowe commented on #904
After helping to chase down #5792 I would love to see this be run on a regular basis.  Running this nightly or even only weekly seems like a good compromise.

[2020-07-30 02:42] argenisleon commented on #5527
Hi @davidwendt,

When working with a series full of nulls values I get:
[code]
[code]

Is this expected?

[2020-07-30 03:03] mnicely commented on #904
@awthomp We should consider this as well for cuSignal

[2020-07-30 03:42] rongou commented on #2599
Perhaps this can be closed. By default libcudf links to boost shared libraries, which are provided by the `boost-cpp` conda package that should be part of the conda environment. So normally one does not need to apt install boost any more.

[2020-07-30 04:30] codereport opened #5805 "[QST] Why construction of `std::chrono::duration` from `T{0}` differs from T{}`?"
This is more of a task to investigate but I spent several hours today tracking down why `ROLLING_TEST` and `GROUP_ROLLING` were failing for my `fixed_point` PR https://github.com/rapidsai/cudf/pull/5704. It came down to this change: https://github.com/rapidsai/cudf/pull/5704/commits/d2eb6b6fe355412276abd30e6669e53d8eb51105

It always concerns me when I see `T{0}` in some generic function because i

[2020-07-30 06:49] harrism commented on #5805
https://stackoverflow.com/questions/46402944/how-does-stdchronoduration-default-constructed
And
https://groups.google.com/a/isocpp.org/forum/#!topic/std-discussion/OcGX7Yj3meI

That implies that T{} when T is a std::chrono::duration should zero-initialize.

[2020-07-30 06:51] harrism commented on #904
@jlowe we would have to disable pool allocation in tests to make cuda-memcheck work for leak checking.

[2020-07-30 06:56] harrism commented on #5776
This is a genuine warning. If you actually try to run algorithms on the data frames you created they are likely to fail with errors.

[2020-07-30 06:58] harrism commented on #5770
This is definitely something we can do, but it will require significant work (as with adding any datatype).

[2020-07-30 07:01] harrism commented on #5773
@dillon-cullinan We can also provide our own base class / fixture for benchmarks which provides a built-in command line option to set max_iterations. Then all libcudf benchmarks can inherit that fixture and benefit from the limit.

I think a combination of this and Approach 1 is probably best.

[2020-07-30 12:42] pbrady32 opened #5808 "[BUG] ModuleNotFoundError: No module named 'pyarrow._orc'"
**Describe the bug**
I'm using an HPC cluster at work (CentOS 7.7) that is managed by the SLURM workload manager.

When attempting to import CUDF, I receive the following error:

[code]

**Steps/Code to reproduce bug**

Started with fresh Conda env and ran following code. No other commands run to set up environment:

`conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=0.14 python=3.6

[2020-07-30 13:17] jrhemstad commented on #5770
float16 poses even more difficulty than adding other types because the `__half` type doesn't behave like normal types, e.g., it doesn't have normal arithmetic or comparison operators. You have to go through the special half-precision intrinsics like `_hadd`, so that means pretty much every feature/algorithm will need significant specialization for half-precision types.

[2020-07-30 13:20] jlowe commented on #904
Sure, but I don't see that as a blocker.  Should be straightforward to update the unit tests to use the pool allocator based on a cmake flag.  The nightly/weekly memcheck job can build with the cmake flag set appropriately.  Devs may also appreciate this flag if they want to run one or more unit tests under memcheck manually as part of their own testing before submitting a PR.

[2020-07-30 13:27] jrhemstad commented on #904
It doesn't even need to be a cmake flag. It's already possible to change the allocator via a command line argument to any test binary.

https://github.com/rapidsai/cudf/blob/9e5196da813568450da1e4549b1baab2d54753dd/cpp/tests/utilities/base_fixture.hpp#L250-L268

[2020-07-30 14:09] williamBlazing opened #5809 "[BUG] lists_column_view.pxd missing from conda package"
**Describe the bug**
There is a new file  `cudf/python/cudf/cudf/_lib/cpp/lists/lists_column_view.pxd` which was recently introduced into the codebase that is not present in the cudf conda packages. The folder `lists` is not there at all. This causes problems when I try to use anything from the modules `cudf._lib.types` in cython because `types.pxd` has this line `from cudf._lib.cpp.lists.lists_co

[2020-07-30 14:18] kkraus14 commented on #5808
@pbrady32 it looks like you have another installed pyarrow so it's not using the one in your conda environment: `/home/pgbrady/.local/lib/python3.6/site-packages/pyarrow/`

I'd expect to see `/home/pgbrady/.conda/envs/cudftest/lib/python3.6/site-packages/pyarrow/` instead if it was using the one from your conda environment.

Maybe try purging it with `pip uninstall pyarrow` and then using conda to

[2020-07-30 16:18] davidwendt commented on #5527
Argh. No, this is not expected. This is a bug.

[2020-07-30 17:19] kkraus14 commented on #5808
Noted in community slack that this is resolved by my message above.

[2020-07-30 17:19] #5808 closed

[2020-07-30 17:36] davidwendt opened #5812 "[BUG] RuntimeError when passing all nulls to the normalize_characters API"
**Describe the bug**
RuntimeError when passing all nulls to the `normalize_characters` API.
Reference: https://github.com/rapidsai/cudf/issues/5527#issuecomment-666052830

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Return an empty result and not crash.

[2020-07-30 18:49] #5809 closed

[2020-07-30 21:19] harrism commented on #5506
Let's fix this for 0.16 (a bit late for 0.15).

[2020-07-31 02:07] vuule commented on #5707
@randerzander I don't repro the issue when the ORC file is created with `enable_statistics=True`. You should be able to use this to work around the issue for now.
I'll look into whether this behavior is expected with Hive.

[2020-07-31 02:25] harrism commented on #904
Nice.

[2020-07-31 04:41] dillon-cullinan commented on #5773
Ya I agree that is a reasonable approach as well. I figured it wouldn't be a bad idea to contribute back to GBench if we could (or if they wanted it). I think ultimately both approaches would have to happen anyway since more benchmarks are coming in the future.

[2020-07-31 05:23] harrism commented on #5773
They used to have a maximum and they removed it, so I am not sure they would want it. :)

[2020-07-31 05:41] v1gnesh commented on #5633
Any further thoughts on this, @kkraus14 ?
This would be really really _really_ useful to have.
I'm sure many folks will find support for custom data types in cuIO handy... considering that it's currently only Parquet, CSV, etc.

[2020-07-31 10:34] felipeblazing opened #5818 "[FEA] Create a from_decimal formula for cudf::strings"
**Is your feature request related to a problem? Please describe.**
BlazingSQL during query execution will use cudf string casts using the apis found here https://github.com/rapidsai/cudf/tree/d157e0c09e2d80f1cce8cfdc083d6301a575c974/cpp/src/strings/convert

Now that Decimal types have been added we need to be able to cast decimals to and from stings as well.

**Describe the solution you'd like**
A

[2020-07-31 11:58] harrism commented on #5770
Actually CUDA provides a C++ class for half (I believe in cuda_fp16.h) that makes it work like other float types on both host and device and is bit exact between the two.  Also half2 which provides higher throughput.

[2020-07-31 14:05] #5769 closed

[2020-07-31 14:52] shwina commented on #1214
We're working on adding support for [`pivot`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.pivot.html) which also does the reshaping operation described in the above example, but differs from `pivot_table` in that it doesn't support aggregations.

@bbooze1 would be curious to know if your use case requires aggregations, or if there are other features of `pivot_table`

[2020-07-31 14:53] kkraus14 commented on #5633
@v1gnesh Agreed that it would be great to eventually support this, but I just don't see a path forward as of now. cuIO is due for a large refactor that we're beginning to scope, so maybe things reveal themselves based on refactoring.

[2020-07-31 15:37] jlowe opened #5819 "[FEA] Java bindings for DECIMAL32 and DECIMAL64 types"
**Is your feature request related to a problem? Please describe.**
Spark has a `DecimalType` which is a fixed-point type with a configurable precision and scale.  The RAPIDS Accelerator for Apache Spark would like to accelerate DataFrame operations using this Spark type which requires fixed-point type support in libcudf.

**Describe the solution you'd like**
cudf's Java bindings expose new column

[2020-07-31 15:44] jrhemstad commented on #5770
I originally checked `cuda_fp16.h` but missed `cuda_fp16.hpp` that does indeed define the `__half` type arithmetic operators.

It doesn't work in host code though, so it's going to be a pain to write tests.

[2020-07-31 17:12] jakirkham commented on #3661
Another way of solving this is to run some local code remotely ( https://github.com/dask/distributed/issues/4003 ).

[2020-07-31 19:58] jdye64 opened #5821 "[BUG] cudf_kafka is missing from the list of conda run dependencies for custreamz"
add `cudf_kafka` to the custreamz conda recipe for run dependencies

[2020-07-31 22:54] mythrocks commented on #5707
I didn't realize that it was possible to create ORC files without stripe-statistics enabled. :O

Hive requires stripe-statistics if index-based filtering (i.e. predicate pushdown) is enabled, during split-calculation, and in the TableScanOperator during execution.

I suspect the user might be able to get around it if PPD is disabled (i.e. `set hive.optimize.index.filter=false;`), but it really def

[2020-07-31 23:07] vuule commented on #5707
Thank you for clarifying @mythrocks . Based on this, do you think it makes sense to change the `enable_statistics` default to `True`?

[2020-07-31 23:27] mythrocks commented on #5707
Yes, please. If that is viable, that would be best.

I think I ran into the same problem, when running tests for CUDF rolling-window-functions. I also found that the ORC files weren't being read. At the time, I was convinced that I'd messed up the data generation. My apologies for not having reported this myself.

[2020-07-31 23:46] vuule opened #5823 "[BUG] Incorrect memory resource used in io::make_column"
`io::make_column` creates a column from a `column_buffer` object. In the case of string columns, new buffers are allocated. In other cases, the `column_buffer`'s buffer is moved into the new column object. Because of this, the user memory resource should only be used to `column_buffers` that get moved (not strings). Currently the CSV reader has a workaround for this:
[code]
However, other readers

[2020-07-31 23:48] vuule commented on #5823
I think we need to wait for https://github.com/rapidsai/cudf/pull/5723 to be merged before implementing this, as #5723 already changes io::make_column (including the API)

[2020-08-01 01:53] vuule opened #5826 "[BUG] ORC file-level statistics omitted with chunked writes"
This came up in the discussion of https://github.com/rapidsai/cudf/issues/5707.
Currently, the file-level statistics are not written when a file is written in multiple chunks.

- [x] Figure out how to unit test this change.
- [ ] Refactor `gather_statistic_blobs` to facilitate file stats merging across multiple chunks.
- [ ] Collect and merge file stats to write them in the final file footer.

[2020-08-01 06:48] jmkim commented on #5798
Hi,

Thank you for your fast reply! \o/

It seems for Dask-cuDF, `CUDA_VISIBLE_DEVICES` is for specifying the (multiple) GPUs for compute, but with only one GPU's memory. I confirmed on my machine that `CUDA_VISIBLE_DEVICES` works well with multiple GPUs and Dask-cuDF combination. It worked but seems using only one GPU memory even over multiple GPUs.

* How can I distribute the memory usage into m

[2020-08-01 10:06] v1gnesh commented on #5633
Thanks for that (hopefully temporary) closing note, and the immense work that is RAPIDS.

[2020-08-02 16:43] nasiha0 opened #5828 "[QST]"
Hello.

I would like to calculate the rolling slope of y_value over x_value using cuML LinearRegression.

Sample data (cuDF dataframe):
[code]
A simple function to use LinearRegression:
[code]

What I would like to do:
[code]

However, I am getting an error: ```NotImplementedError: Handling UDF with null values is not yet supported```. Is there any way to overcome this error? Thank you.

[2020-08-03 05:41] jmkim opened #5829 "[QST] Multiple GPU memories with Dask-cuDF"
*Follow-up: #5798*

Hi again,

It seems for Dask-cuDF, `CUDA_VISIBLE_DEVICES` is for specifying the (multiple) GPUs for compute, but with only one GPU's memory. I confirmed on my machine that `CUDA_VISIBLE_DEVICES` works well with multiple GPUs and Dask-cuDF combination. It worked but seems using only one GPU memory even over multiple GPUs.

* How can I distribute the memory usage into multiple GP

[2020-08-03 05:49] harrism commented on #5829
I doubt you are only using one GPU's memory. What symptoms are you seeing that the other GPUs memory is not being used? It would probably be very slow if that were true.

GeForce does not support NVLink. Do you mean SLI?

[2020-08-03 08:14] jmkim commented on #5829
When one GPU's memory is full, `MemoryError` is happened even though another GPU's memory is still empty.

I tested with following [demo code](https://colab.research.google.com/drive/1h4NE3whF6bYHUFb1H_C0Uw4NjpR_dWT5?usp=sharing):
[code]

Full demo code: https://colab.research.google.com/drive/1h4NE3whF6bYHUFb1H_C0Uw4NjpR_dWT5?usp=sharing

The result is like:

[code]

I am not sure following resul

[2020-08-03 12:26] iwatobipen opened #5830 "install error[QST]"
Dear developer,
Thanks for developing nice tool. I would like to install cudf. But when I tried to install cudf with conda, I got following error.
cations were found to be incompatible with your CUDA driver:

  - feature:/linux-64::__cuda==11.0=0
  - feature:|@/linux-64::__cuda==11.0=0

Your installed CUDA driver is: 11.0

My cuder driver version is 450 and nvidia-smi shows cuda version is 11.0. B

[2020-08-03 13:56] williamBlazing opened #5831 "[BUG] cudf.read_parquet does not properly read column of type string that is full of nulls"
**Describe the bug**
`cudf.read_parquet` does not properly read column of type string that is full of nulls.

**Steps/Code to reproduce bug**
Download this file:
https://github.com/BlazingDB/blazingsql-testing-files/blob/master/results/drill/PREDWNULLS-TEST_07.parquet

[code]
The reported types from cudf are:
[code]
and from pandas are:
[code]

**Expected behavior**
In cudf the string column full

[2020-08-03 14:44] beckernick commented on #5829
Thanks for sharing this example. Dask will only use a single GPU by default, so this is expected behavior.

If you want to use multiple GPUs, you'll want to either use the `LocalCUDACluster` API or launch two dask workers from the command line (one per GPU). Note that, for your example use case, you may want to use `LocalCUDACluster`.

[code]

With that setup, Dask will distribute work over all GP

[2020-08-03 14:53] kkraus14 commented on #5830
@iwatobipen those messages related to `__cuda` are a bug in conda and are typically innocuous. Any chance you could share the full output of your conda install/create command to help troubleshoot?

[2020-08-03 14:58] kkraus14 commented on #5828
Reprioritized this as a feature request, but the current way that cuML works will not be efficient with `rolling.apply`.

In order to try to do this, we'd likely need to have a CUDA stream pool and then launch the `apply` functions using the stream pool to try to get some parallelism, but if the underlying implementation of the function sprawls across SMs then we're likely not going to be able to

[2020-08-03 16:55] OlivierNV commented on #5831
Weird, the column type should be inferred from the schema, regardless of the column being all nulls.

[2020-08-03 17:34] quasiben commented on #5323
Upgraded to 0.17 in https://github.com/rapidsai/cudf/commit/fc53eb4677ad77882bb28d26070b5258c8670ed4#diff-d4fd27eb0c2194718d94e2828c04d5a2

[2020-08-03 17:34] #5323 closed

[2020-08-03 17:38] quasiben opened #5835 "[FEA] Upgrade arrow to 1.0"
In late July arrow released 1.0: https://arrow.apache.org/blog/2020/07/24/1.0.0-release/ . This release includes a new datasets API which dask will shortly be using.   I believe both cuda 10/11 arrow packages are already available on conda-forge

[2020-08-03 18:37] #5821 closed

[2020-08-03 18:39] randerzander commented on #5707
Re-opening: after #5825, the snippets in this issue still produce ORC files that can't be read by Hive, and produce the same incorrect output when inspected with ORC's `orc-statistics` CLI tool:

[code]

[2020-08-03 19:16] jdye64 opened #5836 "[BUG] Bash syntax error in anaconda_upload.sh script preventing cudf_kafka artifacts from uploading"
There is a bash syntax error in the anaconda_upload.sh file that is preventing cudf_kafka and libcudf_kafka artifacts from being uploaded to anaconda.

[2020-08-03 19:25] galipremsagar commented on #5689
Resolved by https://github.com/rapidsai/cudf/pull/5774

[2020-08-03 19:25] #5689 closed

[2020-08-03 19:27] galipremsagar commented on #5557
Fixed by https://github.com/rapidsai/cudf/pull/5702

[2020-08-03 19:27] #5557 closed

[2020-08-03 19:32] quasiben opened #5838 "[FEA] Smarter Parquet Filtering"
In moving toward predicate pushdown we can take a small step on the Python side of cuDF if we filter out the row groups we want to read _prior_ to reading.  This would be something like:

[code]

We can show this working in a more extensive example:

[code]

The above generates two parquet datasets:
1) directory of parquet files with metadata stored at `ts-dask.parquet/_metadata`
2) a single parqu

[2020-08-03 19:38] randerzander commented on #5707
Oops, had a conda environment problem with my re-test. This is now resolved =)

[2020-08-03 19:38] #5707 closed

[2020-08-03 19:51] galipremsagar commented on #5590
Closing this issue as it is fixed as of `0.15`. Feel free to report/reopen if this resurfaces.

[2020-08-03 19:51] #5590 closed

[2020-08-03 20:15] kkraus14 commented on #5838
You mean row groups, not specific rows, correct?

[2020-08-03 20:16] kkraus14 commented on #5838
cc @felipeblazing @williamBlazing @revans2 @jlowe would this type of row group pruning be of interest for you if we pushed it down to the libcudf level or are you already handling it yourself?

[2020-08-03 20:17] quasiben commented on #5838
Sorry, yes

[2020-08-03 20:24] jrhemstad opened #5839 "[BUG] Temp allocations using `get_default_resource()` flawed for multi-GPU per process applications"
**Describe the bug**

libcudf's policy for any API is to use the user-provided memory resource for allocating any device memory returned to the caller. Temporary allocations should always go through the resource returned from `get_default_resource()`. This is potentially flawed for users that are using libcudf on multiple GPUs in the same process.

For example, imagine 2 GPUs being used in the sam

[2020-08-03 20:36] jlowe commented on #5838
For the Spark plugin we're going through the same code Spark uses to filter the Parquet row groups.  Otherwise we'd have to translate the Spark filter predicate into some kind of libcudf predicate equivalent.  It was simpler and more compatible with Spark to go through the existing code path we have available.

If libcudf ever supports filtering rows _within_ the row group then we would need to tr

[2020-08-03 21:31] #5742 closed

[2020-08-03 21:38] kkraus14 commented on #5838
One thing we've been discussing is the ability to take in a filter, and then load only the columns relevant to the filter first to see if additional row groups can be pruned (after the typical metadata based pruning) and then avoid loading those row groups for the additional columns.

Otherwise I don't think there's an opportunity to fuse the kernels for filtering and decoding where we'd likely be

[2020-08-03 21:56] jlowe commented on #5838
Nice.  If that prunes a fair number of row groups in real-world queries that would be incentive enough for us to translate the Spark filter into a libcudf equivalent.

[2020-08-03 22:08] #5836 closed

[2020-08-03 22:32] jdye64 opened #5840 "[BUG] get_watermark_offset, unsubscribe, and close are missing from custreamz cython interface"
get_watermark_offset, unsubscribe, and close are missing from custreamz cython interface. They should be added to kafka.pyx and kafka.pxd

[2020-08-03 22:47] iwatobipen commented on #5830
@kkraus14 Thanks for your prompt reply. Here is a full output when I tried to install cudf.
---------------------------------------------------------------------------------------------------------------------------------------------------
$ conda install -c rapidsai cudf=0.13
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying

[2020-08-03 23:45] think-high opened #5842 "[FEA] cudf.Series.items() as an equivalent for pandas.Series.items()"
**Is your feature request related to a problem? Please describe.**
I am working on enabling dask_cudf dataframe profiling and for that I have a code flow that uses [`six.iteritems`](https://six.readthedocs.io/#six.iteritems). And it's breaking because `cudf.Series` doesn't have `items()` as a method unlike [`pandas.Series`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.i

[2020-08-03 23:57] kkraus14 commented on #5830
Can you dump the full output of `conda list` here?

Do you have a `.condarc` file that specifies other channels already? If so could you post your channels here as well?

[2020-08-04 00:12] kkraus14 commented on #5835
I believe @trxcllnt is looking at this

[2020-08-04 00:38] iwatobipen commented on #5830
Here is the full list of my env and I don't have a .condarc file now.
Thanks

$ conda list
# packages in environment at /home/iwatobipen/miniconda3/envs/chemoinfo:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                        main
_py-xgboost-mutex         2.0                       cpu_0
absl-py                   0.9.0

[2020-08-04 00:58] calebwin commented on #5838
I agree. Based on discussion with Ben, I've temporarily shifted my work from #5804 to #5843 which will implement row-group-level filtering for the Python Parquet reader. We think that implementing some filtering on the Python side first using pyarrow should make it easier to determine how and what kind of filtering can be useful on the C++ side.

[2020-08-04 01:13] kkraus14 commented on #5830
Could you try changing your install command to `conda install -c rapidsai -c nvidia -c conda-forge -c defaults cudf=0.14`?

From the looks of your environment what stands out most to me is you have `pandas 1.0.5` while v0.14 of RAPIDS requires `pandas 0.25.3` as well as having a bunch of pip packages installed which can play havoc on solving / finding dependencies properly.

If using a new environ

[2020-08-04 01:21] harrism commented on #5828
@kkraus14 is there a workaround to unblock @nasiha0 ? E.g. get access to the groups and run a loop that calls cuML? Slow but workable?

[2020-08-04 01:22] kkraus14 commented on #5828
@shwina is there any workaround here? I'm not super familiar with the rolling code and the exception that's being seen.

[2020-08-04 01:23] kkraus14 commented on #5828
Just a note, if the data is like the above example where there's ~5 values per window then we're going to run insanely slow based on the current implementation.

[2020-08-04 02:27] galipremsagar commented on #5842
Doing this(iteration) on GPUs would be inefficient(super-slow), you could do `Series.to_pandas().items()` alternately if `Series.items` is what something you are looking for. Let us know if this solves what you are trying to achieve.

[2020-08-04 13:19] shwina commented on #5620
Thanks, @devavret, that should work. One benefit of libcudf supporting a `COLLECT` aggregation is that it could be performed at the same time as other aggregations. If we implemented this as a Python-only agg, then `a.groupby("b").agg(["collect", "sum"])` would resolve to two API calls instead of just one. Don't know if a libcudf solution would be any better/more efficient though.

[2020-08-04 13:34] jrhemstad commented on #5620
I don't think there's much opportunity for libcudf to do it any better. The `groupby` object already memoizes any of the work done between the aggregation and `get_groups`, so you're already benefiting from that.

[2020-08-04 13:45] shwina commented on #5828
@kkraus14 Unlike `GroupBy.apply()`, which operates serially on the groups and concatenates the results, `RollingGroupBy.apply()` uses the numba->PTX->libcudf code path. The latter is probably much more efficient but has no null support. We *could* fall back to operating serially on the groups if nulls are encountered.

[2020-08-04 14:06] raybellwaves commented on #5415
I also recently came across this issue.

[code]

But In my case I installed via
[code]

but realized `nvidia-smi` showed me I have CUDA version 10.1. Changed to
[code]
and worked fine.

[2020-08-04 14:14] kkraus14 commented on #5415
@galipremsagar It looks like this [check](https://github.com/rapidsai/cudf/blob/a4802bc68302c248f55e8ce244716366ac201a9e/python/cudf/cudf/utils/gpu_utils.py#L25-L29) is failing due to being built against a newer driver than is supported by the current running driver, which ends up with us falling back to the case of thinking no GPU is detected. I'm guessing we just need to check for a specific err

[2020-08-04 14:18] kkraus14 commented on #5620
Will libcudf not use a hash groupby for the `sum` aggregation and then have to recompute a sort groupby for the `get_groups` operation?

[2020-08-04 16:43] #5840 closed

[2020-08-04 18:44] brandon-b-miller commented on #5788
Turns out the limitation to what I said before is just that pandas doesn't yet support certain things for nullable series. For example:

[code]

[2020-08-04 19:20] think-high commented on #5842
Sure, I will see alternative solutions then. Is there any other way to get the list of index and values of a GPU array without getting it back to primary memory?

[2020-08-04 19:22] galipremsagar commented on #5548
This has been fixed by https://github.com/rapidsai/cudf/pull/5326

[code]

[2020-08-04 19:22] #5548 closed

[2020-08-04 19:29] galipremsagar commented on #5842
To perform iteration you will need to copy data to host memory. (do `.to_pandas`). If you are looking for doing something like this, you could also do this:

[code]

But again each lookup in iteration is also equivalent to copying element to host memory from device memory. Instead we'd recommend using `Series.to_pandas().items()`

[2020-08-04 20:26] vuule commented on #5267
Also need to add the list type (only Parquet reader for now), and the benchmark should cover different nesting levels.

[2020-08-04 21:19] jdye64 opened #5846 "[BUG] custreamz is missing an "encode()" for a string value from python"
There is an `encode()` missing for a python str instance in kafka.py. This causes a runtime error when attempting to retrieve watermark_offsets from kafka

[2020-08-04 22:05] aadamson opened #5847 "[QST] Setting include search path for jitify/nvrtc with cuDF built from source"
**What is your question?**

I'm trying to build cuDF from source. The build seems to have succeeded fine (I can import cudf; I can create and inspect dataframes). However, when I try to do any operation that requires JIT compiling a kernel, I run into compilation errors that seem to indicate that nvrtc/jitify can't find the libcudacxx (particularly simt) headers.

Running
[code]
fails with
[code]

[2020-08-04 22:30] lmeyerov opened #5848 "[QST] Prewarm kernels / JIT"
**What is your question?**

Is there a recommended way to precompile cudf kernels, ideally on app start / module import, such as a decorator?

The root issue is we have many small methods, and as not every task triggers all of them, it's a bit tricky to make sure there are no surprise runtime compilation happening, which kills interactivity and trips all sorts of QoS alerts & timeouts.  We current

[2020-08-05 01:38] #5846 closed

[2020-08-05 02:49] GaryShen2008 opened #5850 "[FEA] To support building for A100 which is ampere architecture with cuda 11"
**Is your feature request related to a problem? Please describe.**
We have some tests running on A100. To build cuDF for A100 with cuda 11, the GPU_ARCHS should be set correctly.

**Describe the solution you'd like**
To change the CMakeLists.txt,
if((CUDA_VERSION_MAJOR EQUAL 10) OR (CUDA_VERSION_MAJOR GREATER 10))
    set(GPU_ARCHS "${GPU_ARCHS};75")
  endif()

May add below lines:
if((CUDA_VERSIO

[2020-08-05 04:18] iwatobipen commented on #5830
Sorry for my late reply. I tried to your suggested command but it didn't work. On the other side when I created a new environment, I could install cudf without any problems.

[2020-08-05 05:52] kkraus14 commented on #5830
Got it. Looks like there's conflicts in your current environment and given the number of packages installed in it this isn't unexpected.

Does creating a new environment work for you or do you need it in this existing environment?

[2020-08-05 06:03] harrism commented on #5848
We are investigating eliminating JIT for binary operations. If we do, then JIT will only be used for UDFs, which by their nature would require user-defined warming.

If there are other cases where you are experiencing poor JIT performance, please provide specifics.

[2020-08-05 06:57] iwatobipen commented on #5830
Hopefully, I would like to install cudf in the existing environment but I got following error (it was picked up cudf related).
But new env is acceptable if it is difficult to solve the conflict.
Package pyarrow conflicts for:
cudf=0.14 -> pyarrow=0.15.0
qcportal -> pyarrow[version='>=0.13.0']
qcfractal -> qcfractal-core[version='>=0.13.1,<0.13.2.0a0'] -> pyarrow[version='>=0.13.0']

Thanks.

[2020-08-05 09:30] Hannan-Naseem opened #5852 "Cudf for cuda 11"
Hello there,
I want to know if cudf for cuda 10.x is compatible with cuda 11x.
If not, what is the alternative?
If yes, how to install or modify it?

[2020-08-05 14:15] kkraus14 commented on #5830
Is there any additional conflicts being shown? That looks solvable with pyarrow 0.15.

[2020-08-05 15:20] #5676 closed

[2020-08-05 17:24] #2723 closed

[2020-08-05 19:58] rjzamora opened #5858 "[BUG] Incorrect parquet file written for sliced string data"
**Describe the bug**
The data written to disk during `to_parquet` is incorrect if the method is called on a sliced DataFrame (e.g `df.iloc[10:]`) containg string data.  For now, the only workaround is to explicity copy any data that needs to be written to disk.

**Steps/Code to reproduce bug**
[code]
**Trace**:
[code]

**Expected behavior**
Ideally, the data view should be written to disk as expec

[2020-08-05 21:44] lmeyerov commented on #5848
Binops + stdlib (`.merge()`, ...) + UDFs  are indeed top of mind, and in roughly that order, for JIT warming

If broadening scope to JIT / interpreter overhead in general, less clear to me is ~deforestation. In the fn `def(df, y, z): df.merge(..) + y + z`, I can imagine fusing partial `f(a, b, c) => a + b + c` , and potentially going even deeper with some of the more popular std ops like `merge`.

[2020-08-05 21:58] think-high commented on #5842
Perfect. Thanks a lot for explaining.

[2020-08-05 21:58] #5842 closed

[2020-08-05 22:01] kkraus14 commented on #5848
There's no JITing happening in standard operations, so nothing to warm there. There's a few usages of cupy that have some JITing under the hood that we're already working to remove to something that isn't JIT based.

Biggest offender right now is definitely binops (especially with scalars), which will move to an AST based implementation instead of the current JIT based approach in the future which

[2020-08-05 22:10] kkraus14 commented on #5858
Closing as duplicate of #5615

[2020-08-05 22:10] #5858 closed

[2020-08-05 22:10] kkraus14 commented on #5852
Hi @Hannan-Naseem, we are planning to support CUDA 11 for the 0.15 release and will begin publishing CUDA 11 nightly builds of 0.15 in the very near future.

If you're looking to build from source yourself, libcudf should support CUDA 11 in `branch-0.15` today.

[2020-08-05 22:12] kkraus14 commented on #5847
@aadamson How did you build / install libcudf from source? IIRC we vendor the `libcudacxx` / `libcxx` bits into the libcudf includes via cmake and install them alongside the libcudf includes and expect to find them there.

[2020-08-05 22:14] kkraus14 commented on #5805
Closing this as answered.

[2020-08-05 22:15] kkraus14 commented on #5776
Closing as this has been answered.

[2020-08-05 22:15] #5776 closed

[2020-08-05 22:17] kkraus14 commented on #5755
@Salonijain27 any chance you could give this another shot with the latest nightlies at some point? I believe we've added the `DataFrameGroupBy.groups` attribute.

[2020-08-05 22:18] kkraus14 commented on #5724
Closing as this is answered.

[2020-08-05 22:18] #5724 closed

[2020-08-05 22:21] kkraus14 commented on #5688
Closing as the question is answered.

[2020-08-05 22:21] #5688 closed

[2020-08-05 22:22] kkraus14 commented on #5651
Fixed as of dask 2.20.0

[2020-08-05 22:22] #5651 closed

[2020-08-05 22:33] rjzamora commented on #5858
Ah - Completely forgot about that.

[2020-08-05 23:11] kkraus14 opened #5860 "[FEA] Remove usage of common cupy compute functions in cuDF internals"
Within cuDF Python internals we use a few different CuPy primitives, notably `cupy.arange`, `cupy.zeros`, `cupy.ones`, and `cupy.full`. In general, cupy uses nvRTC and jit compiles a lot of its functionality under the hood, which can be expensive when cold starting.

We should be able to use `cudf::sequence` to replace `cupy.arange`: https://docs.rapids.ai/api/libcudf/nightly/group__transformation

[2020-08-06 03:32] galipremsagar commented on #4773
This ability now exists in `cudf.concat`

[code]

[2020-08-06 03:32] #4773 closed

[2020-08-06 03:41] galipremsagar opened #5862 "[FEA] Support for `join` parameter in `cudf.concat`"
**Is your feature request related to a problem? Please describe.**
I'd like to have the ability to control the index handling with `join` parameter in `cudf.concat`, similar to `pd.concat`. There are some dependent functions in which pandas actually uses the same parameter to handle index matching. For example: `.str.cat`

**Describe alternatives you've considered**
Currently, the alternatives app

[2020-08-06 04:11] harrism commented on #5805
@kkraus14 . I don't think I answered the question, I just provided more information agreeing with Conor's position.  There's still the question of why Conor had to change a `T{}` (preferred) to a `T{0}` for compilation to succeed.

[2020-08-06 04:34] harrism commented on #5620
Good point @kkraus14. @devavret should answer, but I think if you do the get_groups first it will do a sort, and then memoize the groups, which it could then use in the sum.

But it seems to me if you could specify "collect" and "sum" together, then it would give the libcudf groupby the information it needs to always take the optimal path, whereas if they are separate then performance might depend

[2020-08-06 05:05] iwatobipen commented on #5830
Hi, I tried to remove some packages and install cudf in my env and found that new version of rdkit  202003.03 and rdkit-postgresql cause the issue. When I uninstalled rdkit-postgresql and downgrade rdkit version to 2018, installation was succeeded.
And I would like to close the issue.
Thank you for taking your time.

[2020-08-06 05:05] #5830 closed

[2020-08-06 07:59] Hannan-Naseem commented on #5852
Okay, Thank you @kkraus14

[2020-08-06 10:34] devavret commented on #5620
It will. If `COLLECT` and `SUM` are requested together, it will do a sort groupby only. `COLLECT` requires a sort groupby. The cost of doing a sort is large enough that if both are requested, hash groupby appears "free". I'm not justifying not making `COLLECT`, just giving a perspective to help prioritise.

[2020-08-06 13:04] jdye64 opened #5865 "[BUG] cudf_kafka python version inconsistencies in Anaconda packages"
The `cudf_kafka` Anaconda package is inconsistent in the version of Python it uses. Some builds result in Python 3.7 while others result in Python 3.8. It seems to be a matter of which build finishes first in CI as to the final version in the package.

Also the `custreamz` Anaconda package requires that `cudf_kafka` be manually installed first. It should be the case that installing `custreamz` fro

[2020-08-06 14:04] #5852 closed

[2020-08-06 14:30] davidwendt commented on #5760
@VibhuJawa Can we close this?
I think the original question is answered by Rachel above and you have a separate issue #5799 to improve documentation.

[2020-08-06 14:32] davidwendt commented on #5765
@VibhuJawa Was this resolved with the @raykallen solution in #5760 ?

[2020-08-06 14:59] nvdbaranec commented on #5831
FWIW, this PR might fix this issue:
https://github.com/rapidsai/cudf/pull/5723

It reworks large chunks of the kernel code, including those which deal with computing validity.

[2020-08-06 15:15] #4832 closed

[2020-08-06 15:17] nvdbaranec commented on #4832
Closed with
https://github.com/rapidsai/cudf/pull/4990

[2020-08-06 15:18] nvdbaranec commented on #4831
Closed with
https://github.com/rapidsai/cudf/pull/4990/files

[2020-08-06 15:18] #4831 closed

[2020-08-06 15:18] nvdbaranec commented on #4830
Closed with
https://github.com/rapidsai/cudf/pull/4972

[2020-08-06 15:18] #4830 closed

[2020-08-06 15:44] nvdbaranec commented on #5508
After discussions about this, preservation of hierarchies in output is what we decided to go with - reserving the option to add nesting to the `data_type` if needed down the road.

PR
https://github.com/rapidsai/cudf/pull/5816

[2020-08-06 16:12] VibhuJawa commented on #5760
Yeah, I think this good to close. We can address this in #5799 .

[2020-08-06 16:12] #5760 closed

[2020-08-06 16:24] VibhuJawa commented on #5765
Nope, See below for a cleaner reproducer:

[code]

[code]

I am not sure where this stemming from through, because in the `perfec_hash.py` [code](https://github.com/rapidsai/clx/blob/267c6d30805c9dcbf80840f222bf31c5c4b7068a/python/clx/analytics/perfect_hash.py#L163-L165
) we seem to special case some of these tokens, not sure how it is related though.

[2020-08-06 17:27] calebwin commented on #5835
Also, #5843, which I am working on, depends on this. I'm using pyarrow's dataset API and filtering functionality for which the latest version is in pyarow 1.0.

[2020-08-06 17:53] mythrocks opened #5867 "[QST] expect_columns_equal() vs expect_columns_equivalent()"
I seek guidance on which test scenarios we should be using `cudf::test:expect_columns_equal()` vs `cudf::test::expect_columns_equivalent()`. I ran into this while writing `structs_column_test`, as part of #5807. I was advised to put up an issue for discussion here.

As discussed in #5700, when constructing a `structs` column, the parent column's null-mask will be `AND`ed with the children's, but t

[2020-08-06 18:00] jrhemstad commented on #5867
"equal" means two columns are exactly, bitwise equal.

"equivalent" means two columns are functionality equivalent.

Example, given two columns `a` and `b`:
- If `a.nullable() == true` and `a.null_count() == 0`, while `b.nullable() == false` (which implies `b.null_count() == )` then:
   - `a` and `b` are _equivalent_ if all of their elements are equivalent, but they are not _equal_ because they di

[2020-08-06 18:44] #5321 closed

[2020-08-06 18:46] trxcllnt commented on #5835
We're blocked until [this PR](https://github.com/apache/arrow/pull/7909), or another with a solution to the underlying problem, is merged and released. [This](https://github.com/trxcllnt/cudf/tree/fea/arrow-1.0.0) is my current in-progress cudf branch using Arrow 1.0.0.

[2020-08-06 18:52] davidwendt opened #5868 "[FEA] Create separate API for loading the vocabulary file for the subword-tokenizer"
**Is your feature request related to a problem? Please describe.**
The current [subword_tokenize](https://docs.rapids.ai/api/cudf/nightly/api.html#cudf.core.column.string.StringMethods.subword_tokenize) API in cudf accepts the vocabulary hash-file as a parameter. Profiling shows processing this file into GPU memory is about 14% of the overall execution time for 1M strings 15 bytes each using the C

[2020-08-06 18:55] shwina commented on #5620
From an offline conversation with @jrhemstad and @kkraus14:

The `get_groups()` method works for doing a `COLLECT` aggregation purely within Python. However, if the user requests more than one aggregation, e.g., both `COLLECT` and `SUM`, things become difficult.

Even if libcudf uses a sort groupby for computing the `SUM`, there is no guarantee that the ordering of that result will be the same as

[2020-08-06 19:58] nvdbaranec commented on #5867
My opinion here is :  "equals" is either semantically incorrect or people are using it with the wrong expectations.  99.9% of the time what you care about is "if I were to pass either of these columns along to further computation I would get the same results" and I'm pretty sure that's how people are using it.

But the current definition of equals is much more strict than this, which causes unexpe

[2020-08-06 20:15] #5865 closed

[2020-08-06 20:18] jrhemstad commented on #5867
That describes _equivalence_, **not** equality.

This is likely because `expect_columns_equivalent` came along long after `expect_columns_equal`, so for a long time `expect_columns_equal` was the only thing.

Equivalence vs. equality is a well-established concept in both mathematics, programming languages, and even C++ (e.g., `a` and `b` are _equal_ if `a==b`, `a` and `b` are _equivalent_ if `!(a

[2020-08-06 20:41] VibhuJawa commented on #5868
I have a slightly unrelated question, How hard will it be to support `vocab.txt` too (instead of just the `hash-table file`) in a similar API ?

The reasons for this ask are:

a. `HuggingFace` users often just read the `vocab.txt`  for tokenizing if we can help users skip the process of creating the hash-table it might make porting stuff easier for users and with the proposed feature here this is

[2020-08-06 21:01] davidwendt commented on #5868
This would involve incorporating this python file inside the cudf Python package and having someone maintain it.
https://github.com/rapidsai/clx/blob/267c6d30805c9dcbf80840f222bf31c5c4b7068a/python/clx/analytics/perfect_hash.py

@kkraus14

[2020-08-06 21:08] jdye64 opened #5871 "[BUG] libcudf_kafka r_path is causing docker build failures on centos7"
libcudf_kafka is not passing its transitive dependencies to custreamz which is causing for docker container image builds to fail for centos7 across all python and cuda versions.

[2020-08-07 01:23] #5802 closed

[2020-08-07 02:03] #5615 closed

[2020-08-07 04:46] #5871 closed

[2020-08-07 15:47] galipremsagar opened #5882 "[FEA] Add support for cudf.Timedelta scalar support"
**Is your feature request related to a problem? Please describe.**
This is a Feature request for `cudf.Timedelta` similar to `pd.Timedelta` scalar duration type.

**Describe the solution you'd like**
`cudf.Timedelta` can be a wrapper on `Scalar(dtype='np.timedelta64')` object.

**Additional context**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Timedelta.html
https://github.co

[2020-08-07 17:25] mythrocks commented on #5867
Thank you for the advice, @jrhemstad, @nvdbaranec. I will switch the `struct` tests to use `expect_columns_equivalent()`. (It's not much, but it's a start.)
I'll tackle the equivalence checks for `list` as soon as it is viable, unless someone beats me to it.

[2020-08-07 17:35] calebwin opened #5883 "[FEA] Filtered reading"
This issue gives an overview of ongoing work on implementing filtered reading in cuDF and libcudf. Relevant PRs are listed at the bottom.

# Introduction
As GPUs are used to read and process increasingly large amounts of data, reading data becomes costly, sometimes even taking more time than the processing. The solution to this problem begins with realizing that in practice, data processing system

[2020-08-07 21:05] chinmaychandak opened #5886 "[BUG] read_gdf() in the custreamz.Kafka module is dropping data"
I'm using this to produce random data to a 4-partition Kafka topic.

[code]

And I'm using this script to consume messages:

[code]

Given that the topic has enough data, the length of the dataframes created by `read_gdf` is different for each partition, as opposed to a fixed size of `100000`, which is incorrect.

cc: @jdye64

[2020-08-07 21:10] kuhushukla opened #5887 "[FEA] Add scalar support for lists"
**Is your feature request related to a problem? Please describe.**
This issue tracks discussion on how we can support scalars for LIST Column Vector, which may need changes on the cpp side as well once we discuss what the layout should be.

**Describe the solution you'd like**
Ability to create a List column vector from a scalar

**Describe alternatives you've considered**
None.

[2020-08-07 21:10] kuhushukla commented on #5887
CC: @nvdbaranec

[2020-08-07 21:13] kuhushukla opened #5888 "[FEA] Add test utilities for asserting nested type column vectors"
**Is your feature request related to a problem? Please describe.**
We need a version or augmentation of `assertColumnsAreEqual` in java cudf test framework that would deep compare list column vectors. Making sure all associated members match.

**Describe the solution you'd like**
A modified or new version of `assertColumnsAreEqual` that takes two lists of any type with any levels of nesting and do

[2020-08-07 21:20] kuhushukla opened #5889 "[FEA] Make java test utlities for Lists and nested types user-friendly and less verbose"
**Is your feature request related to a problem? Please describe.**
Add test utilities to make complex type testing simpler and readable.

**Describe the solution you'd like**
We need some modifications to fromLists and getList methods in cudf java to auto detect number of elements, assert when numRows and data size may not line up and make `DataType` more palatable in terms of verbosity.

[2020-08-07 21:27] shwina opened #5890 "[FEA] Sort list columns"
It would be nice to be able to sort list columns. The use case I have encountered so far is in testing equality of two list columns with identical elements, but ordered differently, as occurs in a [`groupby COLLECT`](https://github.com/rapidsai/cudf/pull/5874).

## What does it mean to sort a list column?

Python does a "lexical" comparison between lists:

[code]

Accepting the above, it becomes e

[2020-08-07 22:24] ayushdg opened #5892 "[BUG] Incorrect values with read_orc"
**Describe the bug**
Getting a difference in values when reading a file with `cudf.read_orc` vs `pd.read_orc / pyarrow.orc`

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: Baremetal
 - Method of cuDF install: conda

**Environment details**
Nightly from Aug7

**Additional context**
L

[2020-08-08 01:28] kkraus14 commented on #5890
cc @revans2 from the Spark side as well
cc @felipeblazing @williamBlazing for if you have thoughts / opinions from the BlazingSQL side

[2020-08-08 01:57] jrhemstad commented on #5890
So even if we decide on what it means to sort a list of columns, implementing this in the context of a multi-column sort is going to be very difficult. What's more, I'm concerned adding the logic to the `row_comparator` could cause a performance regression in multi-column sorting even in the absence of list columns.

[2020-08-08 18:39] jdye64 commented on #5886
@chinmaychandak I have found and fixed the problem. The bottom line is you are using a single consumer object across multiple read_gdf() calls to separate partitions which is not desired (however not illegal or not allowed). I have removed logic that was breaking the client consumption loop on local client timeout and only cause the loop to fail if the partition EOF is reached. I have used your pr

[2020-08-08 18:44] chinmaychandak commented on #5886
This was happening in a custreamz job as well, which uses a different consumer for each partition every batch. Is this going to fix that? I had eliminated streamz from the reproducer to narrow it down. But seems like the single consumer across partitions might not be the root cause if we see similar issues in streamz.

[2020-08-08 18:45] jdye64 commented on #5886
Yes, it will fix it

[2020-08-08 18:46] chinmaychandak commented on #5886
Cool. Is it possible to test it once, though? Just do the same thing the repro does within streamz, maybe.

[2020-08-08 18:46] jdye64 commented on #5886
I did and it worked

[2020-08-09 19:40] nvdbaranec commented on #5867
To throw another log on the fire here :  I just realized that expect_columns_equal() already falsely returns true in a case that is just "equivalent".  Specifically : sliced columns.  The following all passes:

[code]

But these columns aren't really truly equal.  The sliced/split columns have an offset > 0 and their data buffers are different (this difference is more exaggerated in columns that c

[2020-08-10 03:38] harrism commented on #5296
Closing due to no response. Please reopen if this is still an issue.

[2020-08-10 03:38] #5296 closed

[2020-08-10 03:44] harrism commented on #5369
@kkraus14 Numba and CuPy PRs are merged. Closing. Reopen if there are still blockers. But I believe cuDF works with CUDA 11 now.

[2020-08-10 03:44] #5369 closed

[2020-08-10 03:59] tqslj2 commented on #1893
hi, i've just have the same isue with a 4G csv using cudf, but everything is ok with a csv file which is smaller than 3G, so have you solve this problem?  tks.

[2020-08-10 04:33] harrism commented on #1893
The above issue was unrelated to cuDF. I suggest if you have an issue that involves cuDF, file a new issue with complete description, system details, and reproduction instructions (follow the instructions displayed when you open the issue).  Thanks!

[2020-08-10 05:56] tqslj2 opened #5897 "[BUG]thrust::system::system_error what(): parallel_for failed: invalid configuration argument"
[code]

when i use the code above to load a big csv file, i got a issue :
terminate called after throwing an instance of 'thrust::system::system_error'
what():  parallel_for failed: invalid configuration argument

this file is just 4G, when i use a smaller file who is smaller than 2G, evething is ok, that makes me quite confused , i am wondering is there a size control variable for cuda ?

i am us

[2020-08-10 06:34] harrism commented on #5897
Thanks for filing an issue. Is it possible to get an example of the data files you are loading?

[2020-08-10 07:06] tqslj2 commented on #5897
yes, this is the original small csv file ,and i just duplicate it for several times.

[MICROBIOLOGYEVENTS.zip](https://github.com/rapidsai/cudf/files/5049424/MICROBIOLOGYEVENTS.zip)

[2020-08-10 08:51] lmeyerov opened #5898 "[BUG] Exceptions loading Arrows with empty/na columns"
**Describe the bug**
When Arrow columns are null / all mixed nulls, cudf conversion fails. Failure modes seem different when we are reading a direct buffer vs from a file reader. This complicates scenarios when end-users provide files as we have little control in cleaning before ingest, only after.

**Steps/Code to reproduce bug**

Selectively uncomment `bad1`, `bad2`, `bad3`

[code]

**Expected b

[2020-08-10 08:58] lmeyerov commented on #5898
More fun: by indirecting through pandas ( `cudf.DataFrame.from_pandas(arr0/1.to_pandas())`), the Arrow buffers seems to load fine

[2020-08-10 12:49] pentschev commented on #5369
CuPy 8 won't be released before RAPIDS 0.15. There's currently some work being done to [backport CUDA 11.0 to 7.8.0](https://github.com/cupy/cupy/pull/3720) but there are still issues that we're trying to track down and fix.

[2020-08-10 12:49] pentschev commented on #5369
The expected release date for CuPy 7.8.0 is August 19th, a week before RAPIDS 0.15.

[2020-08-10 13:46] jlowe commented on #5890
Spark has a similar comparison for list types.  There may be some discrepancies when null entries within a list are encountered.  Spark treats a null entry within a list as less than any other value in the other list except another null which is treated as equal.

Can you elaborate?  I'm curious if this will be like NaN handling, where the performance hit was negligible unless NaNs appeared in the

[2020-08-10 14:36] jrhemstad commented on #5890
It will be similar to the AST interpretation Brad is doing where adding increasingly complex and nested switch statements eventually causes the compiler to balk and starts putting things on the stack frame or refusing to inline things, which significantly reduces performance. Even if list columns aren't present, the increased complexity of the comparator could very well reduce performance.

[2020-08-10 16:13] jdye64 opened #5901 "[BUG] libcudf_kafka CMakeLists.txt is missing CMAKE_CUDA_IMPLICIT_LINK_DIRECTORIES"
The current libcudf_kafka CMakeLists.txt is missing "CMAKE_CUDA_IMPLICIT_LINK_DIRECTORIES" which is causing issues during the linking stage when building libcudf_kafka tests on centos 7. This should be added to the libcudf_kafka cmake file.

[2020-08-10 16:36] bdice opened #5902 "[PERF] AST kernel has nonzero stack frame"
During development of #5494, I have been expanding the supported AST interpreter's feature set. With a smaller set of supported operators and data types, the kernel ran quickly and had high memory throughput. As the set of features expanded, a nonzero stack frame was introduced and performance dropped significantly. With a nonzero stack frame, each thread must access "local memory" (actually in th

[2020-08-10 18:06] kuhushukla opened #5905 "[FEA] Make NestedHostColumnVector be a HostColumnVector"
**Is your feature request related to a problem? Please describe.**
We have NestedHostColumnVector which overlaps with HostColumnVector in structure.

**Describe the solution you'd like**
We can consolidate the design in `HostColumnVector` to take a list of other `BaseHostColumnVectors` that seperates out refCount and removes the need to have a new class. Everything under NestedHostColumnVector cou

[2020-08-10 18:18] #1352 closed

[2020-08-10 18:18] #2210 closed

[2020-08-10 21:46] #5886 closed

[2020-08-10 22:24] kkraus14 commented on #5614
Fixed by https://github.com/rapidsai/cudf/pull/5673

[2020-08-10 22:24] #5614 closed

[2020-08-10 22:49] mythrocks opened #5912 "[FEA] cudf::gather for Struct columns"
After #5807 is merged, it would be good to have support for `cudf::gather()` on `struct` columns. This would enable the composition of `list<struct>` from a `struct` column. At the moment, calling `cudf::gather()` on a `struct` column would lead to a CUDF failure.

[2020-08-11 03:15] vuule opened #5916 "[BUG] A data buffer is cast into a type with a different layout"
A device array containing objects of type `thrust::pair<const char*, size_type>` is cast to `nvstrdesc_s`  using `reinterpret_cast`. These two types are not guaranteed to have the same memory layout.
The code works, but it's not guaranteed to work correctly on all compilers/platforms.

Observed the issue in ORC and Parquet readers.

[2020-08-11 03:34] weiji14 commented on #5201
Just noting that Python 3.8 *should* be supported in v0.15 according to https://docs.rapids.ai/notices/rsn0003/, and that Python 3.8 nightly builds are already available at https://anaconda.org/rapidsai-nightly/cudf/files.

[2020-08-11 04:01] kkraus14 commented on #5201
Yup this is a solved problem, closing. Thanks!

[2020-08-11 04:01] #5201 closed

[2020-08-11 04:01] #5901 closed

[2020-08-11 10:46] harrism commented on #5916
@vuule can you add a link to the problem code?

[2020-08-11 13:28] xmnlab commented on #5201
awesome. thanks!

[2020-08-11 13:45] shwina opened #5922 "[FEA] Pass `cudaStreamPerThread` to numba/CuPy kernels"
Memory allocations should already use PTDS since both numba and CuPy allocate memory using RMM. Kernels on the other hand, may explicitly need to be passed the `cudaStreamPerThread` stream handle.

cc: @jakirkham @kkraus14

[2020-08-11 14:04] KazukiOnodera opened #5923 "[BUG] cudf.concat error due to index unmatch"
I’m reporting cudf.concat behavior. Please take a look at attached pdf. (My cudf version is 0.15.0a+3198.g1f41adf16)
1. In cell 4, the error was caused due to index unmatch, so cdf.sort_index can solve the error. But I do think cudf.concat should handle not sorted index cdf.
2. In cell 7, the error was caused due to index unmatch as well, but same index doesn’t exist. In this case, I propose that

[2020-08-11 14:39] kkraus14 commented on #5923
@galipremsagar can you tackle this for 0.15?

[2020-08-11 17:29] drobison00 opened #5928 "[BUG] .to_pandas() produces unexpected behavior."
#### Describe the bug
Converting cuDf DataFrame to pandas returns a Pandas DataFrame with data types that may not be consistent with expectation, and may not correctly convert to the expected numpy type.

#### Steps/Code to Reproduce

Example:
[code]
[code]
#### Expected Results
No error should be thrown, as with the ```chi2(Xp, yp.astype('int64'))``` call.

#### Actual Results
As seen above with

[2020-08-11 18:40] Salonijain27 commented on #5898
tested the reproducible code provided in : https://github.com/rapidsai/cudf/issues/5898#issue-675972750 with cudf 0.15 in cuda 11.0 and the code does not throw any exceptions

[2020-08-11 20:14] chinmaychandak opened #5934 "[BUG] thrust::system::system_error what(): for_each: failed to synchronize: cudaErrorIllegalAddress: an illegal memory access was encountered"
This script just reads randomly created JSON files using Dask with no heavy processing.

Dask Worker logs show something like the errors below, which eventually causes workers to restart frantically and eventually cause connection issues b/w the scheduler and workers.

NOTE: If I do not use Dask, the processing seems to go though without failures.

[code]

I used the following commands —

1. Start

[2020-08-11 21:44] devavret commented on #5916
Can this be remedied by the suggestion in #5682 . Essentially doing away with `nvstrdesc`

[2020-08-11 21:47] vuule commented on #5916
Thanks @devavret . Assigned to you since the other issue is already on you.

[2020-08-11 22:17] VibhuJawa opened #5937 "[BUG] Boolean comparision b/w null datetime columns leads to null"
**Describe the bug**
Boolean comparison b/w null DateTime columns leads to null (divergence with pandas)

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
[code]
[code]

**Environment overview (please complete the following information)**
Cudf-0.16 Source build  (Commit:https://github.com/rapidsai/cudf/commit/3a04496cf051e360486d86c67f6ff81e90bbad95)

[2020-08-11 22:54] galipremsagar opened #5938 "[BUG] Pymod operation is missing `null` values"
**Describe the bug**
When there is `0` in denominator of `pymod` operation, we seem to be returning garbage value instead of `null` value.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Return either `nan` or `null` inplace of garbage values

**Environment overview (please complete the following information)**
 - Environment location: Docker
 - Method of cuDF install:  from source

[2020-08-11 22:58] VibhuJawa opened #5939 "[BUG]Casting string column with all nulls to datetime fails."
**Describe the bug**
Casting string column with all nulls to DateTime fails.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
Like for non empty columns or non string columns.
[code]

[code]
 - Method of cuDF install: [conda]
[code]

[2020-08-12 00:21] kkraus14 commented on #5938
I guess it makes sense for a modulo zero operation to return null since it's undefined behavior but this is somewhere we would differ from Pandas.

[2020-08-12 00:24] galipremsagar commented on #5939
I think I have a fix for this issue, can we do this for 0.15 @kkraus14 ?

[2020-08-12 00:30] jdye64 opened #5940 "[FEA] Enable CPack for packaging libcudf build"
The option for packaging the current cudf build should be available for end users. This should provide a flag in `build.sh` to enable the functionality to create a cpack package of a build. Release packages will help greatly once we start integrating with other third party applications that need the headers and share objects without anaconda.

[2020-08-12 00:36] kkraus14 commented on #5939
Yes

[2020-08-12 07:24] vuule commented on #5710
The changes should include a type that is a non-owning view of a device buffer - something like `device_span`.
There are many places where a pointer to a buffer and the buffer element count are passed as separate parameters.

[2020-08-12 07:41] vuule opened #5943 "Reduce the use of output parameters in cuIO"
There are many places in cuIO where the function result is passed as an output parameter instead of the return value, e.g.:
https://github.com/rapidsai/cudf/blob/57df1a053f4018112fa31f527acdbb23872d76ef/cpp/src/io/csv/csv_gpu.h#L206-L213
https://github.com/rapidsai/cudf/blob/57df1a053f4018112fa31f527acdbb23872d76ef/cpp/src/io/json/json_gpu.h#L74-L82
Some functions return cudaError_t (always succes

[2020-08-12 12:26] KazukiOnodera opened #5944 "[FEA] cudf.crosstab"
I often use this method, so it would be awesome if cudf can handle this
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.crosstab.html

[2020-08-12 14:49] #5888 closed

[2020-08-12 15:16] yidong72 commented on #1263
We have seen some folks at FSI who are interested in the official EWM function. Check this issue we got from gQuant project. I can fix it in a hacky way but it is nice to have official support from cudf.

https://github.com/rapidsai/gQuant/issues/100

Please increase the priority of this issue.

[2020-08-12 16:07] datametrician commented on #5934
@kkraus14 @quasiben can we jump on this quickly for cuStreamz

[2020-08-12 17:45] shwina opened #5950 "[DOC] Document `to_pandas()` behaviour and interop with other libraries"
After the changes in https://github.com/rapidsai/cudf/pull/5645, `.to_pandas()` in cuDF returns a Pandas object with nullable types. This will break some workflows, e.g., https://github.com/rapidsai/cudf/issues/5928. We should document:

* Current behaviour and rationale for our `to_pandas()` API
* Suggested approaches for recovering "non-nullable" dtypes from the object returned by `.to_pandas()`

[2020-08-12 18:05] vuule commented on #5934
This might be an OOM caused by the additional processing for JSON input with object rows.

[2020-08-12 18:13] chinmaychandak commented on #5934
I was able to process dataframes much, much larger than this until about a week ago. Also, each JSON file is pretty small (~250MB in size). I am running it on a T4 (16GB GPU Memory), so I think there's enough GPU memory.

[2020-08-12 18:17] chinmaychandak commented on #5934
I also see a lot of Dask-CUDA issues popping up, maybe this is stemming from one of those bugs? I am by no means an expert, but just saying.

[2020-08-12 18:22] vuule commented on #5934
Could be a processing bug, but I wonder why it would only happen with Dask. I agree that there should be enough memory, but it might still be an OOM issue because of unreasonably large overhead during reads.
Can you please share the log with the CUDA issues?

[2020-08-12 18:38] chinmaychandak commented on #5934
So if you run the scripts above as is, you should see the same CUDA errors in the worker logs, given your environment is the same as the one I described above. Are there any other logs I should be looking at? Would be happy to help, but I thought a minimal reproducer would be best for you guys to debug.

[2020-08-12 18:41] brandon-b-miller commented on #5928
Hi @drobison00 , allow me to provide some context here. Up until recently there's been some gaps in the way pandas handles missing data vs cuDF, and some pretty imperfect ways of bridging that gap that we're trying to do away with. In particular there wasn't a performant way of representing nullable integer or string data - in fact, still today this kind of thing happens:

[code]

Since cuDF uses

[2020-08-12 18:46] vuule commented on #5934
My system doesn't have the same device memory capacity. So I would appreciate the logs if it's easy for you to get.

[2020-08-12 18:59] chinmaychandak commented on #5934
No problem, I just sent them over. Thanks for digging into this!

[2020-08-12 19:01] drobison00 commented on #5928
@brandon-b-miller
Hi Brandon, thanks for the update. I definitely get the rationale; however, it seems like this is something that we'd want to promote better awareness of and/or add warnings when making conversions, because the breakages are non-intuitive and in some cases likely to introduce more subtle errors downstream.

In this particular case, we have a 3rd party library, 'xfeat', which make

[2020-08-12 19:14] quasiben commented on #5934
If it is an OOM issue it's possible this is related to an RMM/Dask-CUDA/Dask issue where device 0 is the only device being used even though multiple GPUs are requested

[2020-08-12 19:16] chinmaychandak commented on #5934
I see this problem both when using multiple GPUs as well as a single GPU. But I do believe it has something to do with the issues you mentioned.

[2020-08-12 19:27] brandon-b-miller commented on #5928
I'm definitely on board for dropping a loud warning both in the code and in our communication to users over the short and long term. As for the example you provided I'd argue that the reason it previously worked is because in that particular situation there weren't any nulls in the data. If there had been, those integer columns would have contained `-sys.minint -1` that cuDF imputed into the nulls

[2020-08-12 19:52] jakirkham commented on #5934
Just to add to this, IOW this is an issue related to PR ( https://github.com/rapidsai/rmm/pull/466 ). We are discussing this in other contexts as well.

[2020-08-12 19:54] chinmaychandak commented on #5934
Thanks for pointing this out, @jakirkham!

[2020-08-12 21:31] jakirkham commented on #5934
Filed an MRE here ( https://github.com/rapidsai/dask-cuda/issues/364 ).

[2020-08-12 22:09] jakirkham commented on #5934
@chinmaychandak, could you please try PR ( https://github.com/rapidsai/dask-cuda/pull/363 )? Requires the very latest (like from minutes ago) `rmm` installed as well.

[2020-08-12 22:28] vuule commented on #5897
Reading the 16x concatenated file (1.1GB) locally consumes up to 5.3GB of device memory. So reading your 4GB file should take around 20GB (out of 32GB you have available). This seems excessive, but not enough to cause an OOM error.
Still, the error really looks like an OOM issue.
@tqslj2 can you please run
`nvidia-smi --query-gpu=timestamp,utilization.memory,memory.total,memory.free,memory.used --

[2020-08-12 23:39] jakirkham commented on #5934
We went ahead and merged that `dask-cuda` PR and nightlies have been produced. Please let us know if you still see issues with them.

[2020-08-12 23:41] chinmaychandak commented on #5934
Sorry I missed the earlier message. Great, thanks a lot! Will give it a shot soon.

[2020-08-13 00:12] chinmaychandak commented on #5934
@jakirkham I'm still seeing the same issues with the latest nightlies (0.16.0a200812). Can you try and reproduce them locally so that I can make sure I'm not doing anything differently?

[2020-08-13 00:44] #5697 closed

[2020-08-13 00:44] #5777 closed

[2020-08-13 00:44] #5923 closed

[2020-08-13 00:56] #4989 closed

[2020-08-13 01:35] vuule commented on #5934
I'm running the repro locally, will update once the script is done.

[2020-08-13 03:36] #5717 closed

[2020-08-13 03:58] #5939 closed

[2020-08-13 04:21] chinmaychandak commented on #5934
Update:

If I start workers using `--nprocs 2 --nthreads 1` or `--nprocs 1 --nthreads 1`, everything gets processed smoothly. Only when I have each process having multiple threads do I see the issue. So `--nprocs 2 --nthreads 2` fails. This is interesting. I think this should give us some more insight as to where this issue stems from.

[2020-08-13 08:42] vuule opened #5962 "[FEA] Implement a fluent builder API for cuIO *_args types"
Some of the parameter types of the cuIO APIs have many members and are thus hard to initialize, making the API hard to use:

- user needs to know the parameter order in constructors with many default values;
- many member cannot be set in the constructor because they are preceded with many defaulted values;

Sample constructor: https://github.com/rapidsai/cudf/blob/3cf6c25714e6d0b5ede8a80e6440b647

[2020-08-13 08:45] vuule commented on #5962
Open question: do we keep the current way to set the *_args data members, or encapsulate them?

Keeping the option to directly set the members limits changes in the Python layer, but it's generally better to have the data members be private and use the setters (such as the ones we are adding).

[2020-08-13 08:52] tqslj2 commented on #5897
timestamp, utilization.memory [%], memory.total [MiB], memory.free [MiB], memory.used [MiB]
2020/08/13 08:41:26.178, 0 %, 32480 MiB, 32480 MiB, 0 MiB
2020/08/13 08:41:27.179, 0 %, 32480 MiB, 32480 MiB, 0 MiB
2020/08/13 08:41:28.179, 0 %, 32480 MiB, 32480 MiB, 0 MiB
2020/08/13 08:41:29.180, 0 %, 32480 MiB, 32469 MiB, 11 MiB
2020/08/13 08:41:30.180, 0 %, 32480 MiB, 32469 MiB, 11 MiB
2020/08/13 08:41

[2020-08-13 09:03] vuule commented on #5897
Thank you for posting the results!
The memory usage is much lower than expected. It doesn't seem that this is an OOM issue.
I'll need to repro the issue to triage further.

[2020-08-13 13:18] jrhemstad commented on #5962
Rip the bandaid off and do it the right way.

[2020-08-13 14:23] davidwendt opened #5963 "[FEA] Remaining dictionary column work in libcudf"
This issue attempts to outline the known remaining work to enable column type DICTIONARY. These items are meant to be fulfilled with multiple PRs.

References to other open dictionary issues:
- #3535 This lists some of the original requirements for dictionary column
- #5576 This describes converting dictionary to use only unsigned integers for the indices

I did a search for `dictionary32` to find

[2020-08-13 14:49] quasiben commented on #5934
When using GPUs with dask the current working assumption is that there should be 1 worker and 1 thread per GPU.  This is generally for proper CUDA context creation but also useful resource management.  We built dask-cuda to make this setup trivial for users.

[2020-08-13 15:25] chinmaychandak commented on #5934
I agree, but we have been using multiple Dask worker processes per GPU for high throughput for custreamz streaming pipelines. And it has been working flawlessly until recently.

[2020-08-13 16:42] rgsl888prabhu opened #5965 "[FEA] Header file information on APIs in libcudf doc page"
**Is your feature request related to a problem? Please describe.**
Currently we don't have information about header file from which the API has been originated, it would be great to have this information.
https://docs.rapids.ai/api/libcudf/nightly/group__column__copy.html

[2020-08-13 16:44] kkraus14 commented on #5934
@quasiben in this case they're using multiple processes and CUDA MPS in order to handle workloads that don't nicely saturate the entire GPU on their own.

@chinmaychandak it seems like everything is working as long as you have a single thread per process, yes?

[2020-08-13 16:47] davidwendt commented on #5965
I believe that if we use the doxygen `@file` tag then the file name will show up accordingly as in this page:
https://docs.rapids.ai/api/libcudf/nightly/classcudf_1_1strings__column__view.html
But it appears that there may still be some issues with the .cuh extension that may require some configuration.
The `string_view.cuh` header has the `@file` tag but is not rendered like the one above.
https:

[2020-08-13 16:59] #5700 closed

[2020-08-13 17:18] jakirkham commented on #5934
That may be true, but Ben is right. That's not expected to work currently.

[2020-08-13 17:21] chinmaychandak commented on #5934
Yes, @kkraus14, that's correct. I even tested it with the accelerated Kafka bit now in one of the more complex cuStreamz pipelines, just to see if that works, and it does work fine as long as there's one thread per process. But for most pipelines we do use multiple threads per process, especially for benchmarking purposes.

Again, we've already been doing this for over a year, and it's never been

[2020-08-13 17:23] kkraus14 commented on #5934
cc @harrism as we're seeing a threading related issue and there was substantial changes with regards to RMM and threading.

[2020-08-13 17:26] chinmaychandak commented on #5934
@kkraus14, an update: I'm now seeing the same issues with multiple processes too, but the issue happened after like 10 minutes of starting a stream with high-speed input rate. That's why I probably couldn't see it with the minimal reproducer. I will try it with reading a larger number of JSON files to see if multiple processes is failing too.

[2020-08-13 17:38] ayushdg opened #5967 "[FEA] Dask_cudf support to read partitioned orc datasets"
**Is your feature request related to a problem? Please describe.**
Often, datasets stored in the orc format are partitioned (based on standard hive partitioning format) similar to parquet. Dask_cudf  (and dask_dataframe) currently supports reading partitioned parquet datasets, but does not support reading partitioned orc datasets.

**Describe the solution you'd like**
`dask_cudf.read_orc` works wh

[2020-08-13 17:59] jakirkham commented on #5934
Maybe retry with newer RMM packages ( https://github.com/rapidsai/rmm/pull/493 )?

Just to reiterate, I wouldn't expect Dask-CUDA to work with multiple threads per worker today ( https://github.com/rapidsai/dask-cuda/issues/109 ).

[2020-08-13 18:21] chinmaychandak commented on #5934
Will give it a shot when the nightlies are out.

When I do `conda list dask-cuda`, nothing shows up. My reproducer is only relying on RMM and not `dask-cuda`, I think. Nevertheless, as I said above, we've been trying these multi-process multi-thread Dask workers per-GPU for the last year and they've never been a problem. We do need CUDA MPS and they're multiple CUDA contexts created, but functiona

[2020-08-13 18:36] chinmaychandak commented on #5934
Just did, doesn't seem to work.

[2020-08-13 19:44] jrhemstad commented on #5934
What does Dask do when you schedule more than one thread per worker? Does it give each thread it's own pool? When you have multiple processes per GPU, is it setting pool sizes appropriately?

[2020-08-13 19:45] jakirkham commented on #5934
Let's move that discussion over here ( https://github.com/rapidsai/dask-cuda/issues/109 ) (if that's ok 🙂).

[2020-08-13 21:03] #5621 closed

[2020-08-13 23:45] rongou opened #5976 "[BUG] NVTX cannot be turned off"
**Describe the bug**
The top-level `CMakeList.txt` contains a `USE_NVTX` option, but setting it to `OFF` has no effect, NVTX traces for libcudf still show up in Nsight Systems.

**Steps/Code to reproduce bug**
Run `cmake .. -DUSE_NVTX=OFF`, build libcudf, then profile with nsys. The resulting profile still contains libcudf NVTX events.

**Expected behavior**
When setting `USE_NVTX` to `OFF`, libcu

[2020-08-13 23:48] jrhemstad commented on #5976
`USE_NVTX` is actually defunct and redundant. NVTX itself already has a `NVTX_DISABLE` macro we should use instead. We should just remove the `USE_NVTX` options all together.

[2020-08-13 23:58] rongou commented on #5976
Don't we still need a CMake option to turn NVTX on or off?

[2020-08-14 00:08] brandon-b-miller opened #5977 "[BUG] Timedelta column repr broken with NaT"
**Describe the bug**
Timedelta columns produce an incorrect repr after filling with `NaT` values.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
We should get a nat or null probably.

[2020-08-14 00:14] jakirkham commented on #5934
Does this reproduce with a `ThreadPoolExecutor`. Maybe something like this?

[code]

[2020-08-14 01:24] chinmaychandak commented on #5934
Okay, so I thought of using CSV files instead of JSON so, I used

[code]

to convert existing JSON to CSV files, and then updated the repro script to call read_csv

[code]

It seems to run fine with 2 processes and 2 threads.

[2020-08-14 04:02] #5976 closed

[2020-08-14 05:55] vuule commented on #5897
I don't repro the issue after concatenating the shared file 66 times to get a (41693981, 16) table.
The memory usage peaks at roughly 19GB and parsing is successful.

@tqslj2 can you please try running the same script with a newer build?

[2020-08-14 15:32] #5860 closed

[2020-08-14 17:13] #5977 closed

[2020-08-14 20:28] Divyanshupy opened #5988 "cudaErrorMemoryAllocation out of memory when using compute()"
**What is your question?**
Hello, I am trying to merge 3 very large dataframes using multiple gpus. I am able to merge them together but when I try to save the resulting dataframe as csv or pandas dataframe using the compute() method. It gives out of memory error, even though only 400 mb of memory is used on each gpu. I have 4  2080Ti Max Q gpus,each with 12 gb memory. I have observed that this er

[2020-08-14 20:28] vuule commented on #5934
Got local repro with multithreaded JSON reads:
[code]
Reproes fairly consistently.

[2020-08-14 21:43] vuule commented on #5934
I'm suspecting synchronization issue(s) that got exposed by GPU saturation from concurrent reads.
Digging into the repro, I found a few places where the synchronization is iffy.
Need to look into it some more to root cause.

[2020-08-14 21:49] chinmaychandak commented on #5934
Were there any significant changes recently that could have caused this? Because I wonder why we weren't seeing these issues in custreamz pipelines before.

[2020-08-14 21:56] vuule commented on #5934
I made significant change to the JSON reader 2 weeks ago that could affect this.

[2020-08-15 00:49] #1087 closed

[2020-08-15 09:22] #5829 closed

[2020-08-15 20:36] galipremsagar opened #5991 "[FEA] Additional formats support in `from_timestamps` libcudf API"
**Is your feature request related to a problem? Please describe.**
`from_timestamps` currently supports following format specifiers:
[code]

There are few more format specifiers which python standard library supports: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

The format specifiers which I'd like to request support from libcudf similar to the above standard

[2020-08-16 02:51] #5278 closed

[2020-08-16 13:17] Reindert94 opened #5994 "[BUG] dask_cudf: value_counts() got an unexpected keyword argument 'ascending'"
**Describe the bug**

I was going through the docs (https://docs.rapids.ai/api/cudf/stable/10min.html) and noticed that using the `.value_counts()` on a dask_cudf DataFrame returned `TypeError: value_counts() got an unexpected keyword argument 'ascending'`

**Steps/Code to reproduce bug**

[code]

Error log:
[code]

**Expected behavior**

Should return:

[code]

**Environment overview (please comp

[2020-08-16 21:43] argenisleon commented on #5812
Hi @davidwendt,

Running the same code on nightly `0.16.0a+713.gc152e9b2a`:
[code]
Now raise:

[code]

Applying the funcion on series `B`:
[code]

Raise:

[code]

Applying the function to `C` and `D` works. Let me know anything else I can help.

[2020-08-17 00:45] weiji14 commented on #1688
Using `engine="pyarrow"` instead of the default `engine="cudf"` seems to work, but it involves reading into the CPU first:

[code]

This is the traceback warning on cudf 0.15.0a+4631.g68af93d98 nightly build.

[code]

[2020-08-17 01:34] thiago2034 opened #5997 "[FEA] how to make a for by data frame? on pandas I use df.iterrows and on cudf, how would I do it?"
I'm doing my Final Paper based in Cudf, showing the difference in performance between pandas and cudf, but I need one for by data frame, on pandas I use df.iterrows and on cudf, how would I do it? in pandas is: for index, row in df.iterrows():

[2020-08-17 01:44] #5583 closed

[2020-08-17 01:58] kkraus14 commented on #5997
@thiago2034 if you're using `df.iterrows()` then you're iterating via the CPU in Python which by its nature won't benefit from GPU acceleration, so we've chosen not to implement this function in cuDF, but instead throw an exception indicating to explicitly copy to host via `.to_arrow()` or `.to_pandas()` before using iteration based methods.

Do you have a specific use case that you're looking to

[2020-08-17 05:01] vuule opened #5999 "[FEA] Expand cuIO benchmarks coverage"
Depends on #6000

Current cuIO benchmarks only use random data with low repetition. Encode/decode of some formats (ORC, Parquet...) varies significantly depending on the data profile.
Also, newly supported data types (like lists) are not covered.
As of now, the missing cases are:
- [x] Reading RLE encoded ORC files.
- [x] Reading RLE encoded Parquet files.
- [x] Writing RLE-friendly data to ORC fi

[2020-08-17 05:21] vuule opened #6000 "[FEA] Implement data generators for different data profiles"
cuIO benchmarks and fuzz tests need to cover data with different characteristics (cardinality, null %, nesting levels). Current [data generators ](https://github.com/rapidsai/cudf/blob/branch-0.15/cpp/benchmarks/common/generate_benchmark_input.hpp) do not have options to control the data characteristics.

In addition, for fuzz testing it's essential to have a way to replay the test. Generators sho

[2020-08-17 05:39] vuule opened #6001 "[FEA] Implement cuIO fuzz tests"
Depends on #6000

Python tests:
- [x] Interop for data generators from #6000
- [x] Parquet tests;
- [ ] ORC tests;
- [x] Save input on failure (params XML, seed);
- [x] AVRO tests
- [x] CSV tests
- [x] JSON tests

To get started, tests can only vary the data profile, and keep the reader/writer parameters to defaults.

![cuIO fuzz tests reader](https://user-images.githubusercontent.com/16005690/904

[2020-08-17 05:49] tqslj2 commented on #5897
excuse me for a little bit late to see your message and thanks a lot for your solution !! i will try it

[2020-08-17 12:07] karthikeyann commented on #5991
are these formats not possible to achieve with combination of currently-supported specifiers?

[2020-08-17 18:01] karthikeyann commented on #5698
For converters, benchmarks for `from_durations`, `to_durations` is already present
[cpp/benchmarks/string/convert_durations_benchmark.cpp](https://github.com/rapidsai/cudf/blob/branch-0.15/cpp/benchmarks/string/convert_durations_benchmark.cpp)

[2020-08-17 19:09] calebwin opened #6004 "[FEA] Profiling duplicate reading of metadata"
The row-group-level filtered reading for Parquet that is introduced by #5843 creates an issue of duplicate metadata (metadata is stored in the footers of Parquet files) reading in the case when filters are specified. Arrow is used to read metadata and select a subset of data to read given user-provided filters [4] . Information about this subset is then passed to libcudf which reads in the subset

[2020-08-17 20:01] brandon-b-miller commented on #5928
@drobison00 after some discussion and surveying of the feedback around the community we decided that it was a little premature to do this by default. You should see numpy dtypes in the coming nightlies, 0.15, and in the short term future. Thanks again for the feedback as it's very helpful to see where the changes we make can cause issues in the wild. Let us know here if things do not resolve. If n

[2020-08-17 20:17] drobison00 commented on #5928
@brandon-b-miller Sounds good, thanks!

[2020-08-17 20:33] #5415 closed

[2020-08-17 21:54] galipremsagar opened #6009 "[FEA] Use `rmm._cuda` and remove `cudf._cuda`"
**Is your feature request related to a problem? Please describe.**
With addition of `rmm._cuda` in this PR: https://github.com/rapidsai/rmm/pull/489, we can remove `cudf._cuda` from `cudf` and use `rmm._cuda` directly.

**Describe the solution you'd like**
Remove `cudf._cuda` usages with `rmm._cuda`.

[2020-08-17 21:55] mengdong opened #6010 "[FEA] consider not to read entire file as meta when setting chunksize to None"
**Is your feature request related to a problem? Please describe.**
Per https://github.com/rapidsai/cudf/blob/0b7ad98c7c2d23e989d57ac47481f5ca9873b58c/python/dask_cudf/dask_cudf/io/csv.py#L109, meta is generated by reading an entire CSV file, when the file size is large, this will lead to OOM

**Describe the solution you'd like**
No to read the entire CSV file.

**Describe alternatives you've consi

[2020-08-17 22:43] galipremsagar commented on #5994
This is issue should be resolved in `0.15`:

[code]

[2020-08-17 22:43] #5994 closed

[2020-08-17 23:18] #5850 closed

[2020-08-18 00:09] arghyakusumdas6163 opened #6014 "import cudf is throwing error (ImportError: cannot import name 'numpy_support')"
My cudf installation was OK. But, I am getting the following error when importing cudf:

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/adas5/.conda/envs/argo_3.6/lib/python3.6/site-packages/cudf/__init__.py", line 7, in <module>
    from cudf import core, datasets
  File "/home/adas5/.conda/envs/argo_3.6/lib/python3.6/site-packages/cudf/core/__init__.py", l

[2020-08-18 01:12] galipremsagar commented on #6014
This has been fixed by https://github.com/rapidsai/cudf/pull/5033.

Please feel free to reopen this issue if it persists on a newer version of `cudf`. This has been fixed in `0.14`.

[2020-08-18 01:12] #6014 closed

[2020-08-18 04:53] miguelusque opened #6017 "[DOC] DataFrame.drop default axis value looks confusing"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cudf/stable/api.html#cudf.core.dataframe.DataFrame.drop

**Describe the problems or issues found in the documentation**
The default value for the `axis` parameter in `DataFrame.drop` method seems to be `axis=1`, while in the documentation states that the default value is equal to `0`, and at the s

[2020-08-18 05:46] miguelusque opened #6018 "[BUG] DataFrame.sum() with axis=1 warning message should be displayed only when not supported datatype is used"
**Describe the bug**
Hi! When using `DataFrame.sum(axis=1)`, the following warning message is displayed:

[code]
In the picture below, it can be seen that `sum()` is being calculated on int64 columns only. Therefore, I am not sure if the warning message should be displayed.

![image](https://user-images.githubusercontent.com/26169771/90474786-6227be00-e126-11ea-800e-f196849e1c8c.png)

**Steps/Code

[2020-08-18 06:23] #6009 closed

[2020-08-18 12:48] kdhageman commented on #5988
I am encountering the exact same issue here, would love to hear a potential solution.

## System configuration
Output of `nvidia-smi`:
[code]

Output of `/usr/local/cuda/bin/nvcc --version`:
[code]

Running `RAPIDS` version `0.14.0`.

## Code snippet
[code]

With output:
[code]

[2020-08-18 13:08] beckernick commented on #5988
@Divyanshupy , in your example you are doing a series of chained left outer joins.

@kdhageman , it looks like you are doing a self-join, which usually causes significant expansion as well.

Without seeing the actual data, it's quite possible that these outer and self joins are expanding your dataframe such that it cannot fit on a single GPU. I would recommend instead you use `persist` rather than

[2020-08-18 13:12] arghyakusumdas6163 commented on #6014
Thanks. Changing the version to 0.14 fixed the issue.

[2020-08-18 14:32] #5934 closed

[2020-08-18 15:23] kkraus14 commented on #5898
@Salonijain27 looks like you didn't run the commented out part which is what causes the errors. Could you uncomment the `bad1` / `bad2` lines and report back here? cc @rgsl888prabhu as you've been poking around this area.

[2020-08-18 15:25] kkraus14 commented on #5937
This is not a bug, we have just started having proper null propagation behavior instead of following `NaN` behavior. `null == null` is expected to return `null`.

[2020-08-18 15:25] #5937 closed

[2020-08-18 15:29] calebwin opened #6022 "[FEA] Selecting multiple ORC stripes to read from Python"
The Python API currently only supports selecting a single stripe.
[code]
With the proposed change, multiple stripes could be selected, in a way to similar to how multiple Parquet row groups can be selected for reading.
[code]

Closed by #6024

[2020-08-18 15:30] kkraus14 commented on #5963
This is super important for cuDF Python to be able to adopt libcudf dictionary types. Thank you for continuing to think about this problem 😄.

[2020-08-18 15:32] kkraus14 commented on #6010
cc @rjzamora is this how dask upstream does it? Should we pass a byte range of some form instead?

[2020-08-18 15:36] rgsl888prabhu commented on #5898
@kkraus14 I tried with commented part and it works as expected
[code]

[2020-08-18 15:37] kkraus14 commented on #5898
@rgsl888prabhu does that include the recent arrow changes that you've been working on plumbing into Cython / Python or not? I'm wondering if this is fixed as of 0.15 or not.

[2020-08-18 15:38] rgsl888prabhu commented on #5898
This is without my cython plumbing, mostly this might be fixed in 0.15.

[2020-08-18 15:40] kkraus14 commented on #5988
It looks like in the above stacktraces the OOM error is happening in the worker computation as opposed to in transferring to the client process where using `.persist()` will likely still lead to OOM errors. If this is the case and the problem can't be reworked to lower memory usage, I would suggest using the `device_memory_limit` option of `LocalCUDACluster` (https://dask-cuda.readthedocs.io/en/la

[2020-08-18 16:03] kkraus14 commented on #5898
@Salonijain27 any chance you could give this a shot with the latest 0.15 nightlies and report back?

[2020-08-18 16:10] rjzamora commented on #6010
Yes, this is what dask does, and also what we do in the typical case (vie dask).  We are only doing the full-file read for `meta` when the user specifies `chunksize=None` (or when the csv files are compressed).  It is certainly possible to avoid the full file read if the file is not compressed.

[2020-08-18 16:27] rgsl888prabhu commented on #5898
In 0.15 nightly,
[code]

[2020-08-18 16:43] kkraus14 commented on #5898
Great, looks like this is fixed as of latest 0.15, so closing.

[2020-08-18 16:43] #5898 closed

[2020-08-18 16:43] nartal1 opened #6025 "[FEA] Support posexplode in nested type columns."
This looks like extension of https://github.com/rapidsai/cudf/issues/2975.  Please let me know if we could merge this FEA  in https://github.com/rapidsai/cudf/issues/2975 itself.

When processing a nested column,  create a new row for each element with position in the given array or map column.
[Spark API docs](https://spark.apache.org/docs/latest/api/scala/org/apache/spark/sql/functions$.html#pos

[2020-08-18 17:58] #5647 closed

[2020-08-18 18:19] vuule opened #6029 "[BUG] reinterpret_cast is misused in many places in cuIO"
There are (at least) two ways in which the `reinterpret_cast` is misused:
1. Used instead of `static_cast`:
https://github.com/rapidsai/cudf/blob/f7fbc1160b17b969db2708e0cf6033d3db9fc1cf/cpp/src/io/avro/avro_gpu.cu#L95
static cast should be used to cast from `void*`.
2. The use causes undefined behavior:
https://github.com/rapidsai/cudf/blob/f7fbc1160b17b969db2708e0cf6033d3db9fc1cf/cpp/src/io/avro

[2020-08-18 18:33] galipremsagar commented on #3963
This issue has been fixed as of `0.15`

[code]

[2020-08-18 18:33] #3963 closed

[2020-08-18 19:36] vuule commented on #6001
In this design we have the data generators implemented only in C++, including the parameter serialization to/from an XML file. The tests implemented in Python/Java are supposed to use the generator API through interop. The idea is to avoid duplicating the serialization code and get the best performance when generating inputs. @kkraus14 does this sound viable, at least for Python?

[2020-08-18 19:43] vuule commented on #6001
@nvdbaranec you suggested that there needs to be a way to replay the failing tests in C++ environment to facilitate debugging. The design here should allow that since the [data generators](https://github.com/rapidsai/cudf/issues/6000) are deterministic and the data profile and seed can be saved and passed to a C++ API to regenerate the same input.
Do you have any feedback/concerns about the approa

[2020-08-18 19:52] nvdbaranec commented on #6001
That seems fine to me.  It would be particularly useful if any failure message also included a quick blurb about how to reproduce.  Something like:

"Test XYZ failed :
[test output]

Test was run with these parameters [5236783, 34217, etc].  To reproduce, call ABC() with these values"

[2020-08-18 20:02] vuule commented on #6001
Yeah, I neglected the call parameters in the diagram and the description here because we can get started with random data + defaults. You're right, the API and its parameters should definitely be included.
In the ideal case we would save the call parameters in a machine readable format and have a utility that executes the test based on all of this input.

[2020-08-18 20:05] nvdbaranec commented on #6001
Random comment on the kinds of things that seem to dig up bugs:

- Nulls and empties, especially in combination.

- Tweakable format meta-parameters such as page size and row group size in Parquet.  Things that don't necessarily affect the formal format itself but squeeze the data into interestingly small or large blobs.  The classic example from the parquet reader was page sizes sufficiently smal

[2020-08-18 20:07] nvdbaranec commented on #6001
"In the ideal case we would save the call parameters in a machine readable format and have a utility that executes the test based on all of this input."

I am a big fan of being able to reproduce the testing outside of the testing framework itself.  I like working in my own little (debuggable) seperate test app.  So consideration for providing simple code hooks that can be called would be great.

[2020-08-18 20:20] vuule commented on #6001
Out of the cases you listed, I see a potential problem with one:

For this type of testing (en masse) we have to rely on the reference implementation to validate the output. And I don't think the other Parquet implementations support row selection (outside of row group selection). I guess in this case we can crop the reference output before comparison.

I think we will hit all of the listed corner

[2020-08-18 20:25] nvdbaranec commented on #6001
True. If this is a real carpet bombing of test parameterization, it's likely to find most interesting stuff.

[2020-08-18 20:39] kkraus14 commented on #4827
This is resolved by using the `RAPIDS_NO_INITIALIZE` or `CUDF_NO_INITIALIZE` environment variable.

[2020-08-18 20:39] #4827 closed

[2020-08-18 20:41] #5761 closed

[2020-08-18 20:43] kkraus14 commented on #5499
Closing as this is answered.

[2020-08-18 20:43] #5499 closed

[2020-08-18 20:45] kkraus14 commented on #5344
This has gone stale and has been answered, so closing.

[2020-08-18 20:46] nvdbaranec commented on #6001
Thought of another thing.  This is probably not super relevant right now, but if we ever did overlapped reads with decoding (that is, read/decompress blob N+1 while decoding blob N) having tests that use both memory mapped files and true spinning-disk files might yield some race condition stuff.

[2020-08-19 04:00] miguelusque opened #6037 "[FEA] Add 'transpose' parameter to 'from_dlpack' and 'to_dlpack' methods"
**Is your feature request related to a problem? Please describe.**
When invoking `from_dlpack()` or `to_dlpack()`, there is a warning message which is always displayed:

I do not personally like that warning, because it is useful the first time you see it, but it is a bit disappointing when you are reminded the same thing every time you execute the code. I am aware that it can be disabled, but it

[2020-08-19 04:17] harrism commented on #6037
Rather than a boolean parameter, why not have the user specify the order  the data is in (for from_dlpack()) or the order they want the data in (for to_dlpack())?  Then they don't have to know whether they need it transposed, just the order they have/need it in.

[2020-08-19 04:18] harrism commented on #6037
FWIW, the reason I didn't originally do something like this is because it required adding a dependency on another external library (cuBLAS) to libcudf. :)

[2020-08-19 04:49] miguelusque commented on #6037
That completely makes senses to me.

[2020-08-19 05:00] miguelusque commented on #6037
Hi @harrism

I was wondering if cuBLAS needed, considering the discussion in this link: https://github.com/rapidsai/cudf/issues/4322#issuecomment-610031899

It looks `cudf::transpose` is considerably faster than in the original implementation, so, maybe, cuBLAS is not needed anymore.

[2020-08-19 05:09] harrism commented on #6037
We could potentially use that, but it is likely to be a lot slower than a cuBLAS transpose.

[2020-08-19 07:35] kdhageman commented on #5988
@kkraus14
To give an indication of the the size of the Dataframe that I self-join:
[code]

I tried setting the control of the GPU memory spilling by using `LocalCUDACluster(device_memory_limit='n MiB')`, with various settings of `n` (i.e. `100`, `1000` and `10000`), but with all of these values, `compute()` resulted in the same `out of memory` exception.

@beckernick
I'm afraid I am not fully unde

[2020-08-19 07:45] kkraus14 commented on #5988
`cluster = LocalCUDACluster()` will create a separate worker process for each GPU in your system, 4 in this case.

Calling `.persist()` will instruct the workers to perform computation on the task graph they've been given and then hold onto the result.

Calling `.compute()` will instruct the workers to transfer their result to the local client process, i.e. the process where you're defining your c

[2020-08-19 09:32] kdhageman commented on #5988
@kkraus14 thanks for the response.
I have tinkered with various settings of `npartitions` and `device_memory_limit`. It seems that `LocalCUDACluster()` does not respect the `device_memory_limit` parameter. Code snippet:
[code]
When spinning up a Dask cluster from the terminal instead (using `dask-scheduler` and `dask-worker --memory-limit=10GB`), the following is happening in Python:
[code]

With

[2020-08-19 09:57] kdhageman commented on #5988
As follow-up to my previous comment, running `nvidia-smi` reveals a very low usage of the GPUs (note that this is measured *during* the computation):
[code]
Any explanation for/insight into this?

[2020-08-19 13:58] miguelusque opened #6040 "[BUG] Series.equals() raises error with ListColumns, while DataFrame.equals() works"
**Describe the bug**
When trying to compare two Series with ListColumns, the following error is displayed:

[code]

**Steps/Code to reproduce bug**
[code]

**Expected behaviour**
No error message. It works with DataFrames instead:

[code]

**Environment overview (please complete the following information)**
DGX1

**Environment details**
cuDF version:  0.15.0a+4666.g1778921b0

[2020-08-19 14:57] shwina commented on #6040
@miguelusque Thanks for reporting. Binary operations are not yet implemented at the libcudf level for ListColumns. You should be seeing the same error for DataFrames as well:

[code]

[2020-08-19 16:45] miguelusque commented on #6040
Hi @shwina ,

It looks it works with DataFrames. I have copied some examples below:

![image](https://user-images.githubusercontent.com/26169771/90665319-2ab33180-e24c-11ea-8f7f-c5799cbf4837.png)

[2020-08-19 20:06] kkraus14 commented on #5272
Bumping this to 0.16 as the cuIO piece will not land in 0.15.

[2020-08-19 20:09] vuule commented on #5962
A prototype API for the Parquet writer:
https://godbolt.org/z/xjq7ej

[2020-08-19 21:16] chinmaychandak opened #6046 "[BUG] JSON reader throws error when ":" is present in data."
[code]

throws an error `ValueError: Protocol not known: {"field": "s3` with cuDF, but succeeds with Pandas.

[2020-08-19 23:31] ResidentMario commented on #5988
I'm seeing the exact same issue in `0.15` (nightly).

The following code:

[code]

Completely saturates just one of my four GPUs:

[code]

Attempting to `compute` a value that takes up a trivial amount of memory results in an OOM error:

[code]

I am seeing the same behavior that @kdhageman is seeing in terms of `device_memory_limit` having seemingly no effect on actual GPU utilization.

To me it

[2020-08-20 00:03] kkraus14 commented on #5988
There is a bug in `numba 0.51.0` which causes dask-cuda to not be able to properly target multiple GPUs. We have updated our numba version pinning to address the issue: https://github.com/rapidsai/dask-cuda/pull/385 but in the meantime I would suggest downgrading to `numba 0.50.0`.

[2020-08-20 00:05] rjzamora opened #6048 "[BUG] Column selection fails in read_parquet for df with nulls"
**Describe the bug**
I am getting a `Invalid null mask for non-zero null count.` error when trying to round trip a simple DataFrame to/from parquet.  The problem occurs when both of the following are true:

- The DataFrame has an "object" column with 1+ null values.
- The `read_parquet` call is specifying a specific set of `columns`

**Steps/Code to reproduce bug**
[code]
**Trace**
[code]

Note th

[2020-08-20 00:07] nvdbaranec commented on #6001
Item :   One of the tests I added to the python code for the parquet reader went long enough that it occasionally was causing the build machines to time out.   The conclusion was that in the future we should be doing this kind of exhaustive/stress testing in the cpp tests instead of python, which makes sense.

As such, it would be pretty handy if whatever reference reader/writer code you use for t

[2020-08-20 00:20] harrism commented on #6048
Somewhere a column_view is being constructed with a non-zero `null_count` but a `nullptr` `null_mask`.

[2020-08-20 00:32] rjzamora commented on #6048
Updated (simpler) Repro:

[code]

[code]

DataFrame (for clarity):
[code]

[2020-08-20 02:32] kkraus14 commented on #6001
Just a note that the 5 minute timeout is specifically defined for the Python unit tests and isn't a limitation of the CI framework / machine.

[2020-08-20 03:19] vuule commented on #6048
Got local repro with the updated code. Looking for root cause.

[2020-08-20 13:02] revans2 opened #6052 "[BUG] null keys in a join with null not equal causes performance problems"
**Describe the bug**
Spark does not consider nulls to be equal as a part of a join.  Spark generally will filter out the nulls before they get to the join, but it does not guarantee in all cases that they will be removed before getting to the join.  If there are lots of nulls in a join nulls are not equal then the performance of the join is really bad.

From profiling we see that both building the

[2020-08-20 13:33] jrhemstad commented on #6052
I think in prior implementations, when `NULL != NULL` was specified, we'd build a mask by ANDing the bitmasks of all of the "on" columns and use that mask to determine if a given row should be inserted into the map. Or maybe that was in groupby. Anyways, we can probably do the same thing again.

[2020-08-20 13:44] jrhemstad commented on #6052
We already do the same optimization in groupby, so all the pieces exist to do the same thing for Join.

https://github.com/rapidsai/cudf/blob/855e735c07e14d11b8ef309d943e9a28c91e0698/cpp/src/groupby/hash/groupby.cu#L281

https://github.com/rapidsai/cudf/blob/855e735c07e14d11b8ef309d943e9a28c91e0698/cpp/src/groupby/hash/groupby_kernels.cuh#L60-L62

[2020-08-20 13:47] revans2 commented on #6052
@jrhemstad Just want to let you know that we have a work around up for review (https://github.com/NVIDIA/spark-rapids/pull/594) so this is not super critical, but it is something that would be nice to have fixed.

[2020-08-20 14:01] thiago2034 commented on #5997
I don't have any specific reason, I just tested the different ways of doing it for pandas and saw that iterrows is the one that performs the most, do you have any recommendations for the cudf? I tried using: for i in range (len (df)): where df is a dataframe made in cudf, but I saw that in performance it is very slow, do you have any suggestions for this case?

[2020-08-20 16:06] karthikeyann commented on #5997
@thiago2034 Try `Dataframe.apply_rows` of user defined functions (UDF)
https://docs.rapids.ai/api/cudf/stable/guide-to-udfs.html#DataFrame-UDFs

[2020-08-20 16:48] vuule commented on #6048
@nvdbaranec in case this looks related to his recent PR.

[2020-08-20 16:59] kkraus14 commented on #5997
Alternatively, depending on what you're trying to do in the loop, ideally you could accomplish it using built-in cuDF APIs. Can you share what's inside your for loop?

[2020-08-20 17:44] vuule commented on #6048
Progress so far:
It looks like the error actually comes from the integer column. After page data decode, null count for col "b" is three (should be zero), while it's zero for col "a" (should be one).
The integer col "b" is created as not nullable (correctly), so this aligns with the error message.
I still haven't found how this is caused by column selection. Current assumption is that there is a m

[2020-08-20 18:15] nvdbaranec commented on #6048
Just saw this.  Taking a look.

[2020-08-20 18:21] vuule commented on #6048
Some more isolation info:
issue also reproes with
`df = cudf.DataFrame({"a": [1, None, 3], "b": [1, 2, 3]})` or
`df = cudf.DataFrame({"a": [1, 2, 3], "b": [1, None, 3]})`
but not with
`df = cudf.DataFrame({"a": [1, None, 3], "b": [1, None, 3]})`
In the repro case the valid count is still incorrect in both columns.

[2020-08-20 18:23] VibhuJawa opened #6055 "[BUG] dask_cudf.read_parquet slow down"
**Describe the bug**

There seems to be a  performance regression with  `dask_cudf.read_parquet`.

Below call used to be almost instantaneous earlier but recently it seems to have been slowed down.

**Steps/Code to reproduce bug**
[code]
[code]
**Expected behavior**
I would expect it to be almost instantaneous.

**Environment overview (please complete the following information)**
 - Method of cuDF

[2020-08-20 18:34] kkraus14 commented on #6055
Can you run the call through snakeviz or some other profiler and share the results here?

[2020-08-20 18:35] rjzamora commented on #6055
It seems that the upstream Dask code is allowing pyarrow to validate the schema of every file in the dataset (by default).  You can avoid this behavior by specifying the `"validate_schema"` pyarrow option to the `dataset` argument:

[code]

I will submit a PR to Dask to make `validate_schema=False` the default :)

[2020-08-20 18:38] VibhuJawa commented on #6055
Thanks @rjzamora  for the quick triage.

Just confirming doing this brought it back to `85 ms`.
[code]

[code]

[2020-08-20 18:54] nvdbaranec commented on #6048
Confirmed I can repro this purely on the cpp side as well.  Definitely related to reading the columns out of order.  Probably an easy fix.

[2020-08-20 20:05] kkraus14 commented on #5728
Fixed by #5857

[2020-08-20 20:05] #5728 closed

[2020-08-20 20:28] vuule commented on #6048
@nvdbaranec and I found the root cause and have a tentative fix.
Dave will take over and open a PR once the fix is thoroughly tested.

[2020-08-20 21:19] chinmaychandak opened #6059 "[BUG] df.loc[] shows incorrect behavior with a Datetime index."
Running the below script and printing `old` shows the correct output with Pandas but not with cuDF.

[code]

Output:
[code]

[2020-08-20 21:29] nvdbaranec commented on #6048
Vukasin gets the credit here - he zenned the issue.

[2020-08-20 21:32] rjzamora commented on #6048
Thanks for digging in here @vuule !

[2020-08-20 21:37] vuule commented on #6048
It was a clear team effort. I insist on a 50/50 split :)

[2020-08-20 23:01] Salonijain27 commented on #5755
Sure! I will run it again with nightlies and post the updates here.

[2020-08-21 03:39] calebwin commented on #6000
Regarding C++ vs Python for data generation, I've fixed a performance issue with my Python-based dataset generator. Now, about 512 MB of low-entropy (sampled from 128 strings) string data can be generated in ~30s and ~50s for 512 MB of integers.

Further profiling is needed (the changes that introduce this dataset generator are in #5843) but based on numbers Vukasin and I had yesterday, the relati

[2020-08-21 04:50] harrism commented on #6000
I wonder if there are core parts of the data generation that can be accelerated in C++ rather than writing the whole thing in C++, to achieve performance parity without having to write the whole thing in C++...

[2020-08-21 05:58] karthikeyann commented on #5272
parquet support for duration (https://github.com/rapidsai/cudf/pull/5903) is already done. ORC does not support duration (INTERVAL) type.
duration support for JSON and CSV only is pending in cuIO.

[2020-08-21 06:27] vuule commented on #6000
Wow, a huge leap! Is this with low cardinality? would you mind gathering the timings with high cardinality? I mostly wonder how long it would take to generate many different strings.

[2020-08-21 06:40] vuule commented on #6000
Maybe we can do simple types in C++, and rest in Python. I need to figure out string generation before giving a more conclusive answer.

We can also use CUDA very efficiently in some cases :)

[2020-08-21 06:43] vuule commented on #6000
@galipremsagar is looking into fuzz testing now, so we will soon know how data generators fit in there.
I expect that his research into fuzz testing will help guide some of the decisions here.

[2020-08-21 19:31] rwlee opened #6069 "[FEA] Cast column to a list of bytes column"
Spark casting allows for strings and primitive types to be cast to an array of bytes --  with the primitive types rewritten in big endian order. The endianness flip is necessary to match spark's functionality, including downstream when matching hashing results.

When mimicking the string functionality in cudf we would like to avoid copying the data because the data and offsets would be identical.

[2020-08-21 20:08] #6055 closed, assigned to nobody

[2020-08-22 02:44] drabastomek opened #6070 "[BUG] .str.stod() no longer works on a String column"
**Describe the bug**
I used `.stod()` to convert a string column to a decimal. However, this has stopped working on nightly 0.15.

**Steps/Code to reproduce bug**
Minimal example:

[code]

**Expected behavior**
A columns converted to decimal type.

**Environment overview (please complete the following information)**
 - Environment location: Docker
 - Method of cuDF install: Docker
   - If method o

[2020-08-23 15:15] PerkzZheng opened #6071 "[QST] How to extend APIs for Dask-cuDF?"
**What is your question?**
I am wondering if there are any updates on the Dask-cuDF operations other than those on the [rapids website](https://docs.rapids.ai/api/cudf/nightly/dask-cudf.html#navigating-the-api)?
I have met a lot of operations that do not work with Dask-cuDF, such as passing a `dask_cudf.core.Index` to `isin`, `df['a'].rank()`, and so on. Are there any tutorials or handbooks that h

[2020-08-23 16:01] PerkzZheng opened #6072 "[FEA] Dask_cuDF supports rank() or sort_values()"
**Is your feature request related to a problem? Please describe.**
`rank() `or `sort_values() `are not supported by Dask-cuDF now.

`'Series' object has no attribute 'sort_values'`

.`'Series' object has no attribute 'rank'`

It may be the reason that all datasets are distributed, and implementing it may not be as easy as normal map or aggregate operations.

[2020-08-23 23:41] harrism commented on #5626
This appears to not be a bug, but a performance feature request, so updating appropriately.

[2020-08-23 23:44] harrism commented on #5626
Seems like a sketchy request. If the function is already optimized to be a no-op on non-nullable columns, doing anything further would require adding extra logic and a member variable to track whether `count_nulls()` has been called since any changes were made to the data. Not sure if the complexity is worth it.

Is this a known performance problem in real code?

[2020-08-23 23:57] harrism commented on #4365
Can I assign you @jrhemstad ?

[2020-08-24 02:56] galipremsagar commented on #6070
`.stod` was not exposed via `.str.stod` as we recommend to use `astype` API because, though underlying we call the identical code-path(`stod`) but we have added additional validation if all the string values to be type-casted are capable/valid of being type-casted to float.

[2020-08-24 03:14] drabastomek commented on #6070
Makes sense! Thanks! Closing this bug.

[2020-08-24 03:14] #6070 closed

[2020-08-24 04:13] #6071 closed

[2020-08-24 04:13] #6072 closed

[2020-08-24 07:53] mengdong opened #6074 "[BUG] unbalanced files read by each dask worker by read_csv with dask_cudf"
**Describe the bug**
unbalanced memory utilization observed when running uniformed 1GB csv files with dask_cudf

**Steps/Code to reproduce bug**
with repeated higgs csv dataset, do:
[code]
and should observe unbalanced GPU memory utilization when reading large amount of data

**Expected behavior**
when each file has the same size, we expect each worker to read same amount of files and hence utiliz

[2020-08-24 12:23] davidwendt commented on #5991
The following specifiers are locale-dependent: `%a, %A, %b, %B, %c, %x, %X` and the first 5 of these require locale-specific names for months (e.g. January, Jan, December, Dezember, Dez) and weekdays (e.g. Sunday, Sonntag, Sat, Sam). These strings are not available from device code and would have to be passed in from the Python or C++ layer. Further, the `%c` and `%x` specifiers impose locale-spec

[2020-08-24 16:10] kuhushukla commented on #5887
Wanted to ask for some inputs here from @nvdbaranec , @jlowe , @jrhemstad on how we can support scalars for list columns. Could we allow creating column views of type list from a scalar value and return some metadata to indicate that it is in fact a scalar? I am not sure exactly how difficult or easy this might be.

[2020-08-24 18:04] chirayuG-nvidia commented on #5626
![cudf_table_slice](https://user-images.githubusercontent.com/48134467/91079574-116a0680-e5f9-11ea-97d6-62d951d3f7c2.png)

I have marked the 4 byte cuda H2D memcpy (followed by a stream sync) in the attached figure. Those calls are made for each columns of the table. In my offline discussion with @jrhemstad  he suggested that this memcpy can be removed if we know there are no NULL values in the co

[2020-08-24 19:22] chinmaychandak commented on #6046
@kkraus14, is this easy to fix? It is blocking one of our pipelines from using the accelerated Kafka reader directly, so it would be great if you guys can look into this.

[2020-08-24 19:25] jrhemstad commented on #5626
@chirayuG-nvidia I don't understand where the memcpy is coming from in the line you referenced.

`segmented_count_unset_bits` already checks for a non-nullable column and skips a kernel invocation:

https://github.com/rapidsai/cudf/blob/5fbffb6688f8df7a395f54fa552a615a70346b12/cpp/src/bitmask/null_mask.cu#L574-L576

[2020-08-24 19:36] jrhemstad commented on #5991
Keep in mind that libcudf should stick with the standard C++ format specifiers for time_points specified here: https://en.cppreference.com/w/cpp/chrono/system_clock/formatter

When these don't align with Pandas, the translation from Pandas specifies to C++ specifies should be made at the Python layer.

[2020-08-24 20:00] calebwin commented on #6000
I just modified my dataset generator to parallelize across columns. Again, I haven't done extensive profiling but I'm seeing ~15s for ~512 MB of string data with 16 columns where each column is sampled from a set (unique to each column) of 400 randomly selected cities (using Mimesis) where each column is randomly masked for 5% null rate.

With the same config as for string data, except with random

[2020-08-24 21:08] jrhemstad commented on #6069
Summarizing what the asks are here:

1. Zero-copy cast `STRING` to `LIST<UINT8>`
2. Zero-copy cast fixed-width types like `INT64` to `LIST<UINT8>` (i.e., each element is a list of 8 `uint8_t` bytes)
3. Control little vs. big-endian byte ordering

Sounds like this may be best served by a `to_bytes` function. Though 1 and 2 being zero-copy is incompatible with 3.

Assuming zero-copy:
[code]
I don't

[2020-08-24 21:32] kkraus14 commented on #6046
I don't know if it's easy to fix but we're also in the middle of starting to execute a large cuIO refactor so the timing is very non-ideal.

I'd defer to @vuule here for his thoughts.

[2020-08-24 21:43] vuule commented on #6046
I don't see the root cause yet, but it should take less than a day to fix. I would prefer to address this immediately.

[2020-08-24 21:53] vuule commented on #6046
I don't see the issue in a C++ test that should be equivalent to the posted steps:
[code]

[2020-08-24 22:04] vuule commented on #6046
Yup, fails as described with a Python test.
Although, it only fails when the field value contains "://", runs fine with only ":" or ":/".

Got it: this is probably an issue with Python recognizing the whole input as a path. Lemme see if it's easy to patch

[2020-08-24 22:05] brandon-b-miller commented on #5928
closed by https://github.com/rapidsai/cudf/pull/5970

[2020-08-24 22:05] #5928 closed

[2020-08-24 22:16] vuule commented on #6046
@chinmaychandak I have a workaround: if you wrap the input data in a StringIO, it runs fine! Does this unblock you?

@kkraus14 this is a Python issue. `str` input is treated as potentially being a filepath, while StringIO and ByteIO are assumed to be data buffers. We should either iron out this behavior or clearly document the parameter meaning vs. type.

[2020-08-24 22:29] chinmaychandak commented on #6046
I see. Unfortunately, that won't work, since the data is being read using `custreamz.kafka` which uses `read_json` internally, so no chance of modifying the data before it hits `read_json`. :(

[2020-08-24 23:33] kkraus14 commented on #6046
Thanks @vuule. I'll dig in on the Python side.

[2020-08-24 23:51] kkraus14 commented on #6046
FYI: as of Pandas 1.1.0 this throws the same error as in cudf if `fsspec` is installed:
[code]

We could handle this on the cuDF side, but given Pandas seems to have the same broken behavior I'm wondering if the fix should be upstream to not pass a Python string as input.

[2020-08-25 00:01] vuule commented on #6046
I believe the problem lies in this call:
https://github.com/rapidsai/cudf/blob/5fbffb6688f8df7a395f54fa552a615a70346b12/python/cudf/cudf/utils/ioutils.py#L963
From the context it looks like a passed string might be a path, whereas buffer types (BytesIO, StringIO) are assumed to be raw data.
IMO it makes sense to require a buffer input for raw data, just not sure about performance overhead from som

[2020-08-25 00:32] kkraus14 commented on #6046
The problem is actually in this call: https://github.com/rapidsai/cudf/blob/branch-0.16/python/cudf/cudf/utils/ioutils.py#L965-L967

Because it has a `://` in it, fsspec thinks it's a protocol.

We can work around it by wrapping the `fsspec` call in a try except for now.

[2020-08-25 00:47] JohnZed commented on #6074
@mengdong could you describe a little more about the imbalance you are seeing? Is that based on running nvidia-smi and looking at GPU occupancy % or based on GPU memory usage observed? 48 partitions with the same size seems like pretty fair balance overall.

[2020-08-25 01:45] quasiben commented on #6074
Based on what you first said it looks like the read_csv is perfectly balanced with partitions all with same size `2200000` . What is the "unbalanced GPU utilization` ?

[2020-08-25 01:54] vuule commented on #6046
Opened PR https://github.com/rapidsai/cudf/pull/6082, which fixes the issue as filed in a pretty hacky way.

@kkraus14 is this PR along the lines of what you have in mind?

[2020-08-25 01:59] kkraus14 commented on #6046
Looks like we came to about the same solution 😆. I think I covered a bit more of the edge case of where we get a different `ValueError` so should we should go with #6081?

[2020-08-25 02:06] vuule commented on #6046
Ah, I didn't realize you're making the change too. I'll close my PR.

[2020-08-25 03:53] mengdong commented on #6074
it is observed based on GPU memory usage.

[2020-08-25 03:55] JustPlay opened #6084 "[QST] How double(fp64) and int64 was supported by cuDF by only using FP32 (and int32) cuda core ?"
**What is your question?**
Running TPC-DS benchmark on rapids-0.2/cuDF-0.15,  when use DCGM to monitor the gpu activity， i only see FP32A， the FP64A always zero.
1.  does cuDF only use FP32 cuda core (not use FP64 cuda core)?  (NOTE: the data type is double in the benchmark)
2. how double type is supported by not using FP64 cuda core?
3. how int64 is supported? （because T4 only has int32 core, v10

[2020-08-25 04:16] hyperbolic2346 opened #6085 "[BUG] Compilation fails with gcc version 9.3.0"
**Describe the bug**
By default on Ubuntu 20.04 gcc version 9.3.0 is installed. This version of gcc complains about narrowing in test files for orc and parquet.

[code]
This is not an issue if compiled with gcc 8.4.0, which can be installed with `apt install gcc-8` and then the gcc version can be swapped with update-alternatives. Set up with:
[code]
The active compiler can then be switched with `s

[2020-08-25 04:26] #6046 closed

[2020-08-25 04:31] JohnZed commented on #6074
Could you post statistics about the observed per-gpu memory usage observed?

[2020-08-25 05:14] mengdong commented on #6074
"""
-----------------------------------------------------------------------------+
| NVIDIA-SMI 450.51.06    Driver Version: 450.51.06    CUDA Version: 11.0     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M.

[2020-08-25 09:36] harrism commented on #6084
I have never used DCGM.  Libcudf uses fp64 arithmetic for fp64 data.  Libcudf uses int64 arithmetic for int64 data.

CUDA GPUs without int64 ALUs can still emulate int64 with multiple int32 instructions.

If you aren't seeing profiler data for fp64 and you are sure there are fp64 operations in the program, I suspect a profiler configuration problem.

[2020-08-25 13:17] datametrician commented on #6084
If you're using a T4 you're emulating fp64. What GPU are you using?

[2020-08-25 14:16] galipremsagar commented on #5290
This has been partially resolved in `0.15` on a rolling basis. Moving to `0.16`

[2020-08-25 15:34] rnyak commented on #4908
@harrism is there any update on that FEA? Thanks.

[2020-08-25 16:03] think-high opened #6086 "[QST] Having trouble using UCX on rapids-dgx202 machine"
**What is your question?**
I am trying to run my Cluster on UCX instead of TCP on rapids-dgx202 machine but I am getting some error which I need help with. The code runs fine if I run the cluster without UCX

Here is the snippet I am using to run my cluster:
[code]

Here is the error:

`
KilledWorker: ("('clean-getitem-read-csv-head-1-5-getitem-485ace84ee78a375681c07da648b3ef0', 0)", <Worker 'ucx:

[2020-08-25 16:04] kkraus14 commented on #6086
Moving issue to UCX-py github

[2020-08-25 17:04] omiderfanmaneshit opened #6087 "MemoryError: std::bad_alloc: CUDA error at: /conda/conda-bld/librmm_1591196551527/work/include/rmm/mr/device/cuda_memory_resource.hpp66: cudaErrorMemoryAllocation out of memory"
Hi
I need to load 5.9 GB csv to 4 gpu but everytime that I tried this error is shown to me. memory usage of GPUs are:
[code]

and the code is:

[code]

the prompt:
[code]

[2020-08-25 17:05] OlivierNV commented on #6029
omg

[2020-08-25 17:34] chinmaychandak opened #6088 "[BUG] cudf.read_csv(s3_path) fails with "TypeError: 'coroutine' object is not subscriptable""
Code:
[code]

Error:
[code]

I wasn't seeing this error until a couple of days ago, not sure what changed.

I am using this docker container: `FROM rapidsai/rapidsai-nightly:0.15-cuda10.2-base-ubuntu18.04`. And the only command I ran was installing s3fs via `conda install -c conda-forge s3fs`.

[2020-08-25 17:48] VibhuJawa opened #6089 "[FEA] Support packing to a max input sequence length with cudf-subword tokenizer"
**Is your feature request related to a problem? Please describe.**

Currently, the tokenized string is shorter than max_length, output is be padded with 0s.  So if `max( tokenized string lengths)` < `max_length`, it  leads to performance penalties as the compute time for `Transformer` models is often proportional to the sequence length of the input .

HuggingFace's tokenizer defaults to padding to

[2020-08-25 18:44] kkraus14 commented on #6088
Connected offline and this is an issue with `fsspec` and the latest version of `s3fs`. Closing this issue as @chinmaychandak is going to open an issue on the upstream fsspec repo.

[2020-08-25 18:44] #6088 closed

[2020-08-25 20:07] cdeotte opened #6090 "[BUG] - cuDF 0.14.0 factorize ignores "na_sentinel" parameter"
**Describe the bug**
In cuDF 0.14, factorize ignores "na_sentinel" parameter

**Steps/Code to reproduce bug**

    df = cudf.DataFrame()
    df['a'] = [1,2,np.nan]
    labels, cats = df.a.factorize(na_sentinel = -1)
    print( cats )

    # OUTPUTS
    # 0    null
    # 1       1
    # 2       2
    # Name: a, dtype: int64

**Expected behavior**
After declaring `na_sentinel = -1`, the factorize co

[2020-08-25 21:11] devavret commented on #5665
The writer PR is #6075

[2020-08-25 21:34] #6059 closed

[2020-08-26 08:19] #4794 closed

[2020-08-26 13:10] quasiben commented on #6074
I'm still a little confused here.  Are you saying that after `read_csv` while the number of rows in each partition is equal the distribution of data (memory) is unequal across all GPUs ?

[2020-08-26 16:33] Salonijain27 commented on #5755
On running the above example code with cudf nightlies i get the following error:
[code]

[2020-08-26 18:19] kkraus14 commented on #5755
Thanks @Salonijain27!

[2020-08-26 19:14] lmeyerov opened #6096 "[BUG] Cannot do a clean install of rapids+blazingsql 0.14.1"
**Describe the bug**

A bit hard to get a the full error due to conda taking ~45min to fail to emit ;-)

From a largely empty docker / mini-conda env for `0.14.1` (last stable) / python `3.7.7` (empirically determined 1 week ago: https://hub.docker.com/r/graphistry/graphistry-blazing/tags)

[code]
... w/ blazing 0.14...
[code]

[2020-08-26 19:16] datametrician commented on #6096
If you're already in container, why not start from a RAPIDS container and just conda install blazingsql to see if that works?

[2020-08-26 19:17] lmeyerov commented on #6096
We're controlling our container -- this is just emphasizing how clean of an env that RAPIDS cannot install in

(Working on pasting the error)

[2020-08-26 19:19] lmeyerov commented on #6096
[builderror.txt](https://github.com/rapidsai/cudf/files/5132381/builderror.txt)

[2020-08-26 19:29] lmeyerov commented on #6096
(currently retrying by swapping `rapids` with `cudf`, `cuml`, etc. @ 0.14.1 and not including `cuxfilter`)

[2020-08-26 19:51] rnyak opened #6097 "[BUG] incorrect result when converting an integer column to datetime"
**Describe the bug**
I am trying to convert an integer column (e.g., Year) to a `datetime` column, but getting incorrect results with cudf.

**Steps/Code to reproduce bug**
This is the min rep example:

[code]

**Expected behavior**
Pandas gives the expected results. I'd like to have the same results below with cudf:

[code]

**Environment overview (please complete the following information)**
 -

[2020-08-26 22:08] williamBlazing commented on #6096
@lmeyerov To set the cuda version during conda install for blazingsql 0.14, you want to do something like this:

`conda install -c blazingsql/label/cuda10.0 -c blazingsql -c rapidsai -c nvidia -c conda-forge -c defaults blazingsql python=$PYTHON_VERSION`

specifying `cudatoolkit=10.0` wont tell blazingsql 0.14 what package to get. We have plans to fix that.

[2020-08-26 23:11] lmeyerov commented on #6096
@williamBlazing that used to be true, see above ;-)

Tested interim fix for rapids 0.14, credit to @kkraus14 : downgrade "gdal>=3.0.2,<3.1.0a0" :

So 0.14.1 / py 3.7.7 (or 3.7)

[code]

[2020-08-27 00:43] #6090 closed

[2020-08-27 02:54] mengdong commented on #6074
yes. We have 48 partitions with the same number of rows, that doesn't mean each worker will process the same amount of partitions.

[2020-08-27 03:16] PerkzZheng opened #6104 "[BUG] Dask-cuDF Binary_OP"
**Describe the bug**
Processing:
[code]

Bugs Info:
[code]

[2020-08-27 04:15] karthikeyann opened #6105 "[BUG] read_csv for datetime > year 2037 give wrong values"
**Describe the bug**
Dates > '2038-01-19 03:14:07' are failing to read.

**Code to reproduce bug**
[code]

**Expected behavior**
read_csv should read this date range since it does not fall out of range.
nanoseconds maximum range is `Timestamp('2262-04-11	 23:47:16.854775807')`

**Environment overview**
 - Environment location: Bare-metal
 - Method of cuDF install: from source

[2020-08-27 04:17] kkraus14 commented on #6104
@PerkzZheng can you try clearing the `/home/.cudf` folder and trying again? It looks like a Jitify cache issue is causing this.

[2020-08-27 04:23] datametrician commented on #6105
Clearly RAPIDS is saying the world ends in 2037...

[2020-08-27 04:42] PerkzZheng commented on #6104
@kkraus14 Thanks! It is working. I will close this issue.

[2020-08-27 04:42] #6104 closed

[2020-08-27 04:58] PerkzZheng commented on #6104
@kkraus14 Can we increase Jitify Cache by hand ? When I did a complex process (a big graph), it still leads to this error even after I clear the /home/.cudf

[2020-08-27 05:27] kkraus14 commented on #6104
There is no size limit to the Jitify Cache. Maybe you're hitting a limit on your home directory? You can set the `LIBCUDF_KERNEL_CACHE_PATH` environment variable to control the path of the cache directory at runtime if desired.

[2020-08-27 13:28] datametrician commented on #6096
I'm going to close this issue as it seems a resolution has been found.

[2020-08-27 13:28] #6096 closed

[2020-08-27 14:48] chenrui17 opened #6107 "why is GpuCoalesceBatches performance is bad sometimes ?"
**What is your question?**
![image](https://user-images.githubusercontent.com/33319780/91457652-2a9fdb00-e8b7-11ea-945c-08dc7b951cfa.png)
I test tpcds query93, i found that GpuCoalesceBatches is long tail , I want to know why and how to know what's happening

[2020-08-27 15:11] jlowe commented on #6107
GpuCoalesceBatches is not the slow part here.  The actual concatenation of the batches, measured by the `concat batch time` metric, was only 3ms on average and 180ms worst-case.  The `collect batch time` metric is measuring how long this query plan node took to receive all of the batches (i.e.: how long it took to drain the input iterator).  That means it's really measuring the time of nodes earli

[2020-08-27 15:23] kkraus14 commented on #6107
Should this issue move to https://github.com/nvidia/spark-rapids?

[2020-08-27 15:25] jlowe commented on #6107
Yes, this is a question on the Spark plugin not cudf.

[2020-08-27 17:15] davidwendt commented on #5812
This should be fixed now with the latest branch-0.16 code now that #5919 has been merged.
[code]

[2020-08-27 17:15] #5812 closed

[2020-08-27 17:31] davidwendt commented on #5243
PR #5811 added the `edit_distance` API to [libcudf](https://docs.rapids.ai/api/libcudf/nightly/group__nvtext__edit__distance.html) libcudf and [cudf](https://docs.rapids.ai/api/cudf/nightly/api.html#cudf.core.column.string.StringMethods.edit_distance)

@VibhuJawa I think the only thing left here is `unique_tokens`. Is that something we should port? Otherwise we can probably close this and open a n

[2020-08-27 17:34] VibhuJawa commented on #5243
I don't think we need it currently, Good to close from my side.

[2020-08-27 17:48] lmeyerov opened #6108 "[FEA] Nightly build of latest stable"
**Is your feature request related to a problem? Please describe.**

Issue https://github.com/rapidsai/cudf/issues/6096 caused an expensive fire drill involving core members across multiple projects

Assuming the current stable release breaks again in the future for one of many reasons, and stable releases are out for ~6w, a useful thing may be something along the lines of daily build tests of last

[2020-08-27 17:51] galipremsagar opened #6109 "[BUG] to_timestamps libcudf api inconsistency with some formats given separately"
**Describe the bug**
The current functionality of `to_timestamps` is to take in a string and use the `format` string to generate timestamps out of it. It is not mandatory to have all types of fields, and the string and format can have partial fields like only year, only month or only date, ...etc. Below is a code sample for inconsistency/underflow/overflow of values.

**Steps/Code to reproduce bug

[2020-08-27 17:55] lmeyerov commented on #6096
@kkraus14 @mike-wendt  @datametrician  As this escaped from dev into stable release, felt worth a minimal post mortem.

-- Faster detection & response: Filed an issue for daily testing of last 2 stable releases, esp. around heavy Python dependencies  https://github.com/rapidsai/cudf/issues/6108

-- Preventing repeats: AFAICT part of the issue is heavy & unstable third-party dependencies with unrel

[2020-08-27 17:55] karthikeyann commented on #6109
why 1900? shouldn't it be 1970? (start of epoch)

[2020-08-27 17:58] galipremsagar commented on #6109
@karthikeyann Yes it should be 1970. Mentioned the link to pandas bug.

[2020-08-27 18:36] kkraus14 commented on #5610
Fixed by #5629. If there's any further discussion or concerns we can follow up in a new github issue.

[2020-08-27 18:36] #5610 closed

[2020-08-27 18:42] kkraus14 commented on #5508
Fixed by #5816

[2020-08-27 18:42] #5508 closed

[2020-08-27 18:43] kkraus14 commented on #5997
Closing as the question has been answered.

[2020-08-27 18:43] #5997 closed

[2020-08-27 18:46] kkraus14 commented on #5988
With 3000 partitions, you've likely broken down the problem into such small pieces that there isn't enough work in each piece to saturate a GPU. I would try increasing the number of partitions, as well as moving where you set the partitioning. I.E. instead of increasing the partitioning in the `read_csv` call, allow that to work on a larger number of partitions to better use the GPU, and then call

[2020-08-27 18:48] kkraus14 commented on #5848
Closing as this has been answered. Additionally we have removed more usage of cupy in #5974 to further avoid some JITing.

[2020-08-27 18:48] #5848 closed

[2020-08-27 18:49] kkraus14 commented on #5847
Closing as no response.

[2020-08-27 18:49] #5847 closed

[2020-08-27 18:53] kkraus14 commented on #4169
Apologies that this was never answered.

It's very data dependent, but in general the more GPU memory you have and better networking interconnect you have the better. With more GPU memory we can keep more of the data in GPU memory for processing and avoid spilling.

For things like distributed joins, it causes an all-to-all communication pattern where having infiniband and RDMA can give massive sp

[2020-08-27 18:53] #4169 closed

[2020-08-27 18:55] kkraus14 commented on #5255
This is stale and unanswered so closing.

[2020-08-27 18:55] #5255 closed

[2020-08-27 18:56] kkraus14 commented on #5445
Closing as answered.

[2020-08-27 18:56] #5445 closed

[2020-08-27 18:57] kkraus14 commented on #5596
Closing as this was implemented in #4995

[2020-08-27 18:57] #5596 closed

[2020-08-27 19:15] kkraus14 commented on #6087
Hi @omiderfanmaneshit. It looks like the issue is that you're not using `LocalCUDACluster` which means everything is targeting a single GPU. I would follow the 10 min guide here as to how to get started using dask-cudf: https://docs.rapids.ai/api/cudf/stable/10min.html#Dask-Performance-Tips

[2020-08-27 19:33] kkraus14 commented on #6108
@lmeyerov This is a huge ask that would require a lot of resources both in engineering hours and compute resources to running all of the builds and tests where it unfortunately isn't feasible for us currently.

I think one of the challenges here is that the number of libraries in RAPIDS is continuously growing and as new libraries are added they're not necessarily as mature as say cuDF or cuML wit

[2020-08-27 20:34] kkraus14 commented on #5243
Closing!

[2020-08-27 20:34] #5243 closed

[2020-08-27 20:47] davidwendt commented on #6109
What libcudf APIs does this call?
`s._column.as_datetime_column('datetime64[ns]', format="%d")`

[2020-08-27 20:50] galipremsagar commented on #6109
cython(`timestamp2int`) -> libcudf(`to_timestamps`)

[2020-08-27 22:54] lmeyerov commented on #6108
Yeah I get the concern of doing a full test suite run. As a lot of it seems to be the mess that is pydata conda deps, maybe a nightly `conda install RAPIDS=x` and `conda install rapids=x-1` can go far.

It's problematic enough that we publish + use stable base docker rapids builds for our side ( https://hub.docker.com/orgs/graphistry/repositories ) and release them every month or two, though that

[2020-08-27 23:03] kkraus14 commented on #6108
This isn't a cudf issue so moving to the integration repo as that's where the metapackage is produced.

[2020-08-27 23:03] abellina opened #6111 "[FEA] add API to libcudf so we can query at runtime whether it was compiled for PTDS"
When running the RAPIDS spark plugin, we'd like to be able to log if PTDS is on or off in our environment.

In order to do this, we'll need to query libcudf at runtime to know if it's compiled for PTDS or not. We'd like to propose some static variable defined if PTDS is on so we can inspect it at runtime. Something like:

[code]

Not sure where it should go or if the above make sense, but somethin

[2020-08-27 23:05] abellina opened #6112 "[FEA] add API to JNI buildings for libcudf to query whether it was compiled for PTDS"
This issue suggests adding a queriable flag in libcudf to find out whether it was compiled for PTDS (https://github.com/rapidsai/cudf/issues/6111).

This issue is exactly the same, but for the JNI layer.

[2020-08-27 23:26] jlowe commented on #6112
As part of this, the Java tests should fail if the JNI code was not compiled in the same manner as libcudf wrt. the PTDS setting.  This will prevent a cudf jar build from succeeding on a mismatched configuration.

[2020-08-28 00:29] harrism commented on #6111
This actually raises an interesting question... Maybe we should provide an API `cudf::setDefaultStream(cudaStream_t stream)` like other libraries (cuDNN, cuBLAS) to override the PTDS behavior regardless of how it was compiled.

Then you could call `cudf::setDefaultStream(cudaStreamLegacy)` and it would always use the legacy default stream (even if compiled with PTDS enabled).  You could call `cudf

[2020-08-28 00:45] rongou commented on #6111
Might also need to make some changes to Thrust: https://github.com/thrust/thrust/blob/main/thrust/system/cuda/detail/util.h#L46

[2020-08-28 01:17] harrism commented on #6111
Any place that libcudf is calling Thrust without an explicit stream is a bug -- if you see 'em, report 'em.  That said, I don't think it's possible to pass a stream to a `device_vector` constructor, for example, so if PTDS is enabled presumably it uses the PTDS for `uninitialized_fill` whether you like it or not.

[2020-08-28 02:14] kkraus14 commented on #6111
Would `cudf::setDefaultStream` set the stream for only the local thread or for all threads in a process?

[2020-08-28 02:20] chenrui17 commented on #6107
i am sorry , i carelessly sent it in the wrong place
@jlowe Thank you for your help， this is part of dag, i think GpuShuffledHashJoin is slowest , all right ? if so , why ?do we have some optimize method , I a tuned several times ,like concurrentTask , rapidsBatchSize, but its performance is also bad.
![image](https://user-images.githubusercontent.com/33319780/91513164-41c1e580-e916-11ea-8f60-ded1

[2020-08-28 02:27] #6097 closed

[2020-08-28 02:34] chenrui17 commented on #6107
here is CPU SparkSQL history UI , the whole query only spent 1.4m
[tpcds_q93_history_ui_CPU.zip](https://github.com/rapidsai/cudf/files/5139701/tpcds_q93_history_ui_CPU.zip)

[2020-08-28 03:37] #6022 closed

[2020-08-28 08:25] cuge1995 opened #6115 "[FEA] Why the powerful cudf not support drop row in pandas ?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I wish I could use cuDF to do [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

*

[2020-08-28 13:38] abellina commented on #6111
As far as I understand it would be a default option, where if you still provide your own hard coded stream to a function, the function must use the stream that was user provided.

[2020-08-28 14:31] jlowe commented on #6107
That's the wrong direction in the query plan to look.  The `build time` metric in GpuShuffledHashJoin is very similar to the `collect batch time` metric in GpuCoalesceBatches.  It's how long it spent waiting to drain it's input iterator to get all of the data for the build-side table.  If you look at how long it took to actually perform the join once all the input was retrieved, it was very fast.

[2020-08-28 15:19] jlowe opened #6117 "[BUG] libcudf can emit jitify warnings to stdout when JIT cache is missing"
**Describe the bug**
Sometimes libcudf emits messages like the following to stdout which can corrupt application data being produced on stdout:
[code]

**Steps/Code to reproduce bug**
Remove the cudf JIT cache directory (e.g.: rm -rf "$HOME/.cudf") and run `cpp/build/gtests/BINARY_TEST`.
This also happens when running the Java `TimestampColumnVectorTest` unit test with the JIT cache removed.

**Ex

[2020-08-28 15:41] jlowe commented on #6107
@chenrui17 can you file this issue in https://github.com/NVIDIA/spark-rapids?  This issue needs to be tracked there.

[2020-08-28 15:41] #6107 closed

[2020-08-28 17:53] abellina commented on #6111
So `rmm::device_uvector` isn't a subclass of `thrust::device_vector`, so I can't really be used in our case, since we depend on thrust pretty extensively. @harrism am I missing something? Do you think we need to make `device_uvector` a subclass of the thurst one? Or maybe work on a thrust change to not use stream 0 for `thrust::device_vector`.

You probably saw this one already: https://github.com

[2020-08-28 18:36] #5003 closed

[2020-08-28 21:55] abellina commented on #6111
Never mind. We only use `thrust::device_vector` in the tests.

[2020-08-28 23:40] cdeotte opened #6123 "[BUG] - cuDF 0.15 cannot read NaN from file"
**Describe the bug**
If a CSV file contains a NaN, cuDF cannot read it as NaN. It calls it null instead

**Steps/Code to reproduce bug**
df = cudf.DataFrame()
df['a'] = cudf.Series([1,2,np.nan], nan_as_null=False)
df['b'] = [2,3,4]
print( df )
df.to_csv('tmp.csv',index=False)
df2 = cudf.read_csv('tmp.csv',keep_default_na=True)
print( df2 )

**Expected behavior**
The above second print statement di

[2020-08-29 17:21] karthikeyann commented on #5391
@andygrove

[2020-08-31 03:05] harrism commented on #6111
As discussed offline, `rmm::device_uvector` can be used with Thrust APIs (as can raw device pointers).

it does not set _the_ stream, it sets the _default_ stream. libcudf public APIs do not currently take a stream parameter. So this would just change what stream internal APIs use when they currently use stream `0`.

[2020-08-31 03:14] harrism commented on #4908
What format of week do you need? Just the week number (0-51, or 1-52)?