[2019-05-22 17:15] beckernick opened #1822 "[DISCUSSION] Leveraging CuPy for transposing large numeric dataframes"
The transpose operation is time consuming / expensive for large dataframes. As @thomcom mentioned in the [column redesign discussion](https://github.com/rapidsai/cudf/issues/1443#issuecomment-489109734), transpose operations are used pretty frequently.

I'd like to raise a discussion about allowing users to leverage CuPy for transpose under select circumstances. While CuPy is not currently a depen

[2019-05-22 17:19] beckernick commented on #1804
Here's an example without using CuPy:

[code]

[2019-05-22 17:46] jrhemstad commented on #1822
I'd be very curious to find out how cuPy is doing their transpose. Is the output of a cuPy transpose a DataFrame or an nd-array?

Likewise, would be curious to find out what's going on in `from/toDlpack`.

The bottleneck in cuDF transpose has always been the allocation of Python column objects. So for example, in

[code]
I would think this line would suffer from the same bottleneck of having to al

[2019-05-22 17:56] beckernick commented on #1822
@jrhemstad , the output of the CuPy transpose is a cupy.ndarray. All of what you've suggested makes sense to me and seems worth more investigation.

[2019-05-22 18:00] dantegd commented on #1822
@jrhemstad the output of cuPy is an nd-array, and your explanation is indeed the reason for the relatively slow transpose of cuDF as far as I understand. For that matter numba also has a pretty fast transpose implementation, would be interesting to see a comparison between those two libraries.

But regardless of that, @beckernick's idea is something I had thought about as well since in cuML we end

[2019-05-22 18:54] beckernick opened #2280 "[BUG] Cannot convert dask_cudf dataframe to cupy backed dask array via to_dask_array"
We can create and use cupy backed dask arrays, like so:

[code]

We can convert a dask dataframe into a dask array backed by numpy

[code]

But we can't convert a dask_cudf dataframe to a cupy backed array

[code]

[2019-05-22 18:58] thomcom commented on #1814
This covers a set of multicolumn use cases that I didn't properly test or handle when implementing MultiIndex. I should be able to resolve them all in a pretty quick timeframe.

[2019-05-22 19:10] mrocklin opened #1824 "[FEA] Add a .values property to convert to a GPU array"
What is the canonical way to convert a cudf dataframe into an array-like object?

There is

-  as_gpu_matrix, which seems to be the best choice today?  This returns a Numba device array
-  to_gpu_matrix, which seems to not do anything
-  as_matrix, which seems to return a Numpy array

First, these should maybe replace the name `matrix` with `array`.  Numpy matrix objects are different and somewhat

[2019-05-22 19:10] jrhemstad commented on #1822
Transposing the bitmasks isn't the bottleneck for the cuDF transpose. We've got an efficient way to do that.

Step 5. was the bottleneck when @devavret did the initial investigation, i.e., how do you create a DataFrame from an nd-array?

[2019-05-22 19:25] beckernick commented on #1824
This would be a valuable property, as it's fairly common to call this in pandas to grab the underlying numpy array

One question quickly jumps out: What will happen with dataframes including non-numeric data? Should this fail? Should it only return the numeric values? Currently, `as_gpu_matrix` requires the data to be numeric (and of the same type) as it returns numba device ndarray.

[2019-05-22 19:29] mrocklin commented on #1824
In pandas you would use the `to_records` method in that case.  I believe that in Pandas both `.as_matrix()` and `.values` are supposed to return a homogenously typed array.  If you give it very heterogeneously typed arrays then you get back an object-dtype array.

[2019-05-22 19:39] beckernick commented on #1824
Absolutely. I didn't phrase my question as clearly as I should have. We currently have no way of representing non-numeric data in either numba device arrays or cupy arrays. My question is how to best handle that when thinking about something like `.values`.

[2019-05-22 19:51] mrocklin commented on #1824
Oh I see, yeah that's a much bigger problem it seems.  I don't have any answers for you there.

Well, for the `.values` API in particular this concern doesn't come up.  The contract is to promise a homogeneously typed array.  We would upcast or err probably?

[2019-05-22 19:53] beckernick commented on #1824
I would think raising an informative error is probably the right solution, as I think the `.values` contract may be a bit more specific: a homogeneously typed array that contains all of your data.

[2019-05-22 20:55] devavret commented on #1822
Our bottleneck is entirely in allocating and constructing new columns, both in python and in C++. The gtests are also slow but all because of the allocations. Actual data movement takes no time at all. This problem can only go away if we have some sort of ndarray support in dataframe. Or if we figure out fast allocations on C++ side, then some sort of lazy loading of columns on the python side.

I

[2019-05-22 23:01] jrhemstad commented on #1822
So we can make that part fast by just allocating `n` `gdf_column`s all at once instead of one by one. E.g.,

`gdf_column * cols = malloc(n * sizeof(gdf_column));`

Clearly though, somehow the cuPy path is able to do the allocation of the output columns much faster than we can. So something funny is going on there.

[2019-05-23 00:29] ayushdg opened #1829 "[BUG] Boolean series with null values `to_pandas()` throws error"
**Describe the bug**
If I have a boolean column in cudf with null values converting to pandas raises an error

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
The conversion takes place without any errors.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Method of cuDF install: Conda nightly as of (05/21)

**Additiona

[2019-05-23 00:35] harrism commented on #1804
It would be great if someone can triage whether this is a cuDF or libcudf issue.

[2019-05-23 00:58] raydouglass opened #1830 "[BUG] Build script use of PYTHON"
CI is failing on GPU matrix builds: https://gpuci.gpuopenanalytics.com/job/gpuCI/job/cudf/job/branches/job/cudf-gpu-matrix-branch-0.8/CC_VERSION=5,CUDA=10.0,LINUX_VERSION=ubuntu16.04,PYTHON=3.6/2/console

CI uses the `PYTHON` environment variables for the version of python (`3.6` in the above example). The script use `PYTHON` as the python executable, so there is a conflict.

This has to be fixed

[2019-05-23 02:41] rlratzel commented on #1830
Fixed with PR #1831

[2019-05-23 02:41] #1830 closed

[2019-05-23 06:35] vp2527 opened #1832 "Error while trying to find the linear regression for a given data set"
I am pretty new to using the RAPIDS library. I am trying to find the class of breast cancer(malignant or benign) using linear regression for a dataset that I got from the internet.

dfcu = cudf.read_csv('breast-cancer-wisconsin.data.txt', delimiter=',',names = ['id', 'clump_thickness' , 'unif_cell_size' , 'unif_cell_shape' , 'marg_adhesion', 'single_eputh_cell_size' , 'bare_nuclei', 'bland_chrom',

[2019-05-23 07:22] devavret commented on #1822
No I meant include the time for allocating data memory as well.

[2019-05-23 08:12] seraphzl opened #1834 "[BUG] inconsistent results of dataframe.iloc from cudf and pandas"
**Describe the bug**
Hi,
The dataframe.iloc from cudf give inconsistent results with pandas: pdf.iloc[:, :2] get all rows and first 2 columns, while gdf.iloc[:, :2] get 2 rows and all columns.
pdf:
    a  b
0  1  1
1  2  2
2  3  3
3  4  4
4  5  5
gdf:
    a  b  c
0  1  1  1
1  2  2  2

**Steps/Code to reproduce bug**
import pandas as pd
import cudf
pdf = pd.DataFrame({'a': [1,2,3,4,5], 'b': [1,2,3

[2019-05-23 11:04] vp2527 opened #1835 "Error while converting panda data frame into cudf data frame"
Every time I try to convert a panda df to a cudf df I get the following error. What could've gone wrong?
<img width="909" alt="Screenshot 2019-05-23 at 4 30 57 PM" src="https://user-images.githubusercontent.com/35620007/58247996-a0de9500-7d78-11e9-9617-007658bd0a91.png">
<img width="388" alt="Screenshot 2019-05-23 at 4 31 02 PM" src="https://user-images.githubusercontent.com/35620007/58248009-a76d

[2019-05-23 11:08] darylparker opened #1836 "[QST] Does the Parquet_reader support List columns"
I'm trying to use the cuDF project to decode parquet files. I've been testing with various simple files to see the capabilities of the library. It seems to me that there are issues with decoding Parquet files that have LIST columns. E.g a simple file with 5 rows of 4 columns one of which is a list/array column should look something like (Apache Spark or PyArrow output):
[code]
however the output f

[2019-05-23 11:52] Tongdongq opened #1837 "[QST] Integrating in C/C++ project"
All examples and tutorials I found were focussed on usage in a Python environment. I have an existing C++ project (and a C project) that I would like to use with RAPIDS. Is this possible and does this make sense?

[2019-05-23 12:48] jrhemstad commented on #1837
Yes! This is absolutely possible and encouraged.

I gave a talk giving an overview of the C++ side of RAPIDS cuDF (libcudf) that should help you get started. You can watch a recording or get the slides here: https://on-demand-gtc.gputechconf.com/gtcnew/sessionview.php?sessionName=s91043-rapids+cuda+dataframe+internals+for+c%2b%2b+developers

Note that we are in the middle of a pretty large overhau

[2019-05-23 12:51] jrhemstad commented on #1837
I'll leave this issue open if you have any other questions. If you come across particular issues/questions, feel free to open another issue.

If you'd find something you'd like to change/improve, we welcome PRs. You can check out our backlog of C++ issues [here](https://github.com/rapidsai/cudf/issues?q=is%3Aopen+is%3Aissue+label%3A%22libcudf+%28C%2B%2B%2FCUDA%29%22)

[2019-05-23 13:12] beckernick commented on #1834
Thanks for the bug report @seraphzl !

We recently improved our indexing to resolve several issues, including this one. Let us know if you still run into this issue with a fresh installation of cuDF 0.8. Closing for now, but please feel free to reopen it if the bug persists.

[2019-05-23 13:12] #1834 closed

[2019-05-23 14:38] thomcom commented on #1835
Thanks @vp2527 this definitely looks like a series issue. What dtypes are in your original pandas dataframe? Can you give me a minimal reproducer code that allows me to reproduce the error without having your source data?

What's the output of
`X.dtypes`
?

Please review the set of questions that are asked when you file an issue and include as much information as you can with this one.

[2019-05-23 14:39] thomcom commented on #1832
It looks like you need to convert the string columns in your dataset to numerical or categorical columns - I suspect the issue here is that `nvstrings` can't have a linear regression computed on it. That doesn't make sense. :)

[2019-05-23 14:39] thomcom commented on #1832
This is a great question to post to StackOverflow, try there?

[2019-05-23 14:46] thomcom commented on #1821
Thanks for the request @bellershaw1 - I just added MultiIndex into cuDF. I'll get to work with stack and unstack as well, since it is clearly needed.

[2019-05-23 15:15] beckernick commented on #1804
@harrism In the Cython code, the numba devicearray objected created by this section of the code:

https://github.com/rapidsai/cudf/blob/2f36e57df9a67d09b645b9a4bedf4ea138d1d245/python/cudf/bindings/dlpack.pyx#L58-L62

is always the same, despite the `idx` and  `data_ptr` being different as the loop progresses.

[2019-05-23 15:37] thomcom commented on #1806
It looks like it is just the ordering problem, coupled with a type promotion that cudf didn't do. My vote is not a bug. I'm not sure if we'll ever guarantee same order as Pandas?

[2019-05-23 16:53] beckernick commented on #1375
This issue is going to block some multi-GPU user workflows that require dask and custrings functionality.

@zronaghi for visibility

[2019-05-23 16:58] thomcom commented on #399
Were you able to make progress on your issue @nasica88 ? Can we close this one?

[2019-05-23 17:03] ayushdg commented on #1836
The io team might be able to comment on whether the metadata decoding logic is a bug or not.
But as of now my understanding is that cudf does not support nested columns and does not support the type of a column to be a list. Supported types currently include numeric types, strings, bools, datetime and categorical.

[2019-05-23 17:13] ayushdg commented on #1806
The ordering my not match pandas but indices corresponding to the new ordering by cudf is incorrect.

If we were to change the order up the indices of the result should match the order:
**Expected output for cudf with new ordering**

  | a | b | a2 | res
-- | -- | -- | -- | --
3 |2 | b | 4 | d
4 |3 | c | 5 | e
2 |4 | d | 3 | c
1 |5 | e | 2 | b
5 |1 | a | -1 | None

[2019-05-23 17:16] thomcom commented on #1810
Yes, `replace` Cython code above calls `column_view_from_column` on each argument. StringColumns (python type 'o') map to `g_dtype: GDF_STRING_CATEGORY`.

[2019-05-23 17:19] thomcom commented on #1806
The indices are the implicit ordering of the data, we can't construct an index without an order. When sort based groupby is implemented we can likely match pandas exactly. Depends on #1342

[2019-05-23 17:31] ayushdg commented on #1806
Sorry for the confusion. This is w.r.t the `merge` method.
I might be completely wrong here but: https://github.com/rapidsai/cudf/blob/branch-0.8/python/cudf/dataframe/dataframe.py#L1479

Assigns the index to be a column as well that gets passed to the cpp layer during the merge. When the ordering or columns gets changed it should also affect the ordering of this column (lhs[on]/rhs[on]) which was

[2019-05-23 17:48] thomcom commented on #1806
Hmm I was under the impression that merge, join, groupby, etc all use the same hash based join method, which discards ordering as a result.

I think you're right, though, that this is a slightly different issue. I suspect that our "index" object is being completely dropped from the merge, ignored, and then added back to the result of the merge. If the index was treated as another column during the

[2019-05-23 17:51] thomcom commented on #1806
This is something that can probably be fixed in cudf, in fact.

[2019-05-23 17:59] thomcom commented on #1806
Like this lol
[code]

Thanks for setting me straight :)

[2019-05-23 18:08] #1598 closed

[2019-05-23 18:09] #1773 closed

[2019-05-23 19:01] #1814 closed

[2019-05-23 20:32] OlivierNV commented on #1836
@ayushdg is correct: lists, maps (any type with multiple values per record) are not currently supported (this is visible in the metadata dump as max_rep_lvl != 0).

[2019-05-23 20:43] ayushdg opened #1841 "[FEA] Groupby nth method"
**Is your feature request related to a problem? Please describe.**
I have workflow that utilizes the groupby `first` and `last` methods. It would generally add more flexibility if we add support for a nth method like pandas: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.nth.html

**Describe the solution you'd like**
Rather than having a separate implementat

[2019-05-23 20:51] trstovall opened #1842 "[BUG] Series initialization fails when list is passed as data"
**Describe the bug**
Series initialization fails when list is passed as data.

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
[code]

**Environment details (please complete the following information):**
- Docker
- cudf installed from source (branch-0.8)

[2019-05-23 20:57] beckernick opened #1843 "[BUG] DataFrame.sum does not support axis, skipna keyword arguments"
**Describe the bug**
Because DataFrame.sum does not support the keyword arguments `axis` and `skipna`, dataframe level ops `mean` and `sum` fail with dask (https://github.com/rapidsai/dask-cudf/issues/261)

We can implement them innocuously with something like

[code]

where `skipna=None` and `skipna=True` are considered to be the same in pandas.

Or, we could simply allow users to pass arguments

[2019-05-23 20:57] mjsamoht commented on #1765
We decided against matching pandas' behavior for this issue.  Switching from `int8` to `float64` for what is essentially garbage data is a waste of memory.

See #1826 for discussion.

[2019-05-23 20:57] #1765 closed

[2019-05-23 21:00] #1519 closed

[2019-05-23 21:04] trstovall commented on #1842
# Output from `cudf/print_env.sh`
[code]

[2019-05-23 21:10] trstovall commented on #1842
**Python session with stacktrace:**
[code]

[2019-05-23 21:16] trstovall commented on #1842
[code]

[2019-05-23 21:17] shwina commented on #1842
Thanks @trstovall - fix coming up!

[2019-05-23 21:35] shwina commented on #1842
@trstovall

Sorry, I'm actually unable to reproduce this. I read too fast and thought this was relating to passing the `index` a list - which is a bug I've been dealing with lately:

[code]

But I'm not able to reproduce your issue:

[code]

[2019-05-23 21:43] ayushdg commented on #1842
@trstovall I have a feeling this is an environment issue.
 If possible could you try the steps suggested [here](https://github.com/rapidsai/cudf/blob/branch-0.8/CONTRIBUTING.md#setting-up-your-build-environment) and report back on your findings.

[2019-05-23 21:45] #1774 closed

[2019-05-23 21:55] nasica88 commented on #399
@thomcom  Yes, I had an error but it was addressed in [1384](https://github.com/rapidsai/cudf/issues/1384)

[2019-05-23 23:04] miguelangel commented on #1765
Hi @mjsamoht,

It makes sense to me. Thank you for working on this issue.

Nevertheless, I was wondering if there is any other data type which might be even more efficient (in terms of memory), than int8. Boolean maybe? char(1)? Not sure if these datatypes are supported nor how they are represented in the RAPIDS C++ layer. Just sharing my thoughts.

[2019-05-23 23:46] harrism commented on #1804
Thanks. Just need help setting priority. Can this wait until 0.9?

[2019-05-23 23:51] beckernick commented on #1804
I think that's fine. CuPy users can still convert via Numba's array interface.

Something like: `cudf.DataFrame.from_gpu_matrix(numba.cuda.as_cuda_array(cupy_arr))`

[2019-05-24 00:34] mjsamoht commented on #1765
Int8 would be the same as char(1), which is 1 byte.  And Boolean are also represented as 1 byte so I don’t think there is another data type with less than 1 byte.

--
Thomas

From: Miguel Martínez <notifications@github.com>
Sent: Thursday, May 23, 2019 4:05 PM
To: rapidsai/cudf <cudf@noreply.github.com>
Cc: Thomas J. Meier <TMeier@nvidia.com>; Mention <mention@noreply.github.com>
Subject: Re: [rap

[2019-05-24 01:25] harrism opened #1844 "[BUG] libcudf util `gdf_equal_columns` incorrect logic"
This utility code is incorrect.
https://github.com/rapidsai/cudf/blob/bf3764e7ce248fe08aa204a1f971ddd20f50eba3/cpp/tests/utilities/cudf_test_utils.cuh#L368-L382

The comments say `// if one is null but not both`, but that's not what it checks. It should use a boolean "xor", e.g. `if ((left->valid == nullptr) != (right->valid == nullptr))`

Fix on the way.

[2019-05-24 04:24] vp2527 commented on #1832
Thanks for your input. I'll try it out :)

[2019-05-24 08:07] darylparker commented on #1836
Thanks for the clarification. Are there any plans for adding support for these types of repeated columns? I didn't find anything specific in the issues/features. Has anyone already started looking at this?

[2019-05-24 12:45] beckernick commented on #1822
Comparing the following:

[code]
It appears that using our native transpose spends a lot of time in `DataFrame.set_index` and `DataFrame.rename` compared to using CuPy transpose and then grabbing the result (whether through `from_dlpack` or the array interface via Numba). In fact, we don't spend any time in `dataframe.rename` when don't use our transpose function according to the cProfile results.

[2019-05-24 12:56] beckernick opened #1848 "[BUG] _apply_support_method isn't actually passing arguments to the method"
**Describe the bug**
`_apply_support_method` isn't actually passing arguments to the method coming from the `getattr`. This is due to the interaction of `*args` and `**kwargs` (we need to use keyword arguments), and the nature of passing **kwargs to the getattr (it needs to be unpacked again).

[code]

I'll make a quick PR to resolve this.

[2019-05-24 13:58] pradghos commented on #1545
@jrhemstad : any further suggestion for this issue? Thanks!

[2019-05-24 14:02] pradghos commented on #1545
I could able to recreate in with `cuDF 0.7.2 , with conda tool chain gcc 7.3  on Power Platform (ppc64le)`.

[2019-05-24 14:06] jrhemstad commented on #1545
This looks to me like an issue on the Python side.

@kkraus14 any idea why it seems like `expect` is being treated as signed, but `got` as unsigned?

Note this only happens on POWER where `char` is interpreted as `unsigned char` vs. x86 where `char` is `signed char`.

[2019-05-24 16:12] randerzander commented on #1836
Hi @darylparker can you provide some more details about what you want to do with nested columns?

We're discussing how to approach this problem, but it wont be for a few releases.

Do you need to operate on individual values in the nested list, or just be able to read them from files generated by an upstream process?

Supposing you were able to read them into a delimited string, would that be a us

[2019-05-24 17:59] #1736 closed

[2019-05-24 18:03] #399 closed

[2019-05-24 18:12] thomcom commented on #1805
Great analysis @ayushdg thank you!

[2019-05-24 18:28] skmatti opened #1851 "[FEA]Support for Binary Operator functions like add/sub"
Pandas allows binary operations using both operator as well using an operator function as shown below:
[code]

Currently `cudf` has support only for operator based binary operations. It would be nice to have function based support as well.

[2019-05-24 18:41] vuule opened #1852 "[BUG] JSON reader treats fields containing 'null' as strings"
In JSON, 'null' indicates an empty field. Currently JSON reader does not recognize this value and treats it as a regular string.
This affects data type inference and the value of the field, when the correct data type is passed.

Repro steps:
[code]
Resulting dataframes will have columns of different types (string and float64).

[2019-05-24 19:43] beckernick opened #1853 "[BUG] select_dtypes does not properly include based on dtype"
**Describe the bug**
Category type columns appear to be handled correctly, but in general `select_dtypes` is not using the `include` keyword to return the correct columns based on dtype.

[code]

[2019-05-24 20:56] skmatti opened #1854 "[FEA] DataFrame binary operations with mismatched column sizes"
This is an extension of https://github.com/rapidsai/cudf/issues/1736. PR-https://github.com/rapidsai/cudf/pull/1817 resolves use-cases where binary operations are performed on empty dataframes. But the majority of use cases are element-wise operations where both operands are expected to share common columns as shown below:
[code]
Currently, `cudf` throws a `NotImplementedError` where as Pandas app

[2019-05-24 21:59] ayushdg opened #1856 "[BUG] Improper bool dtype handling in cython during `column_view_from_NDArray`"
**Describe the bug**
While using any method that calls the underlying cython binding `column_view_from_NDArrays` on a boolean column will throw an error

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
No error

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: From Source

**Additional context**
Wil

[2019-05-24 22:53] ayushdg commented on #1829
I was looking at the pandas behavior a bit more and we might need to discuss the approach cudf takes. A boolean column with nulls is treated as dtype(`np.object_`) and not boolean. If you force pandas to read the column as a boolean type it converts all nulls to `False`.

[2019-05-25 03:01] cwharris commented on #1793
I’ll try the recursive pull ASAP, but that sounds like it would cause the issue, and is definitely something I skipped (accidentally!).

[2019-05-25 13:32] #1843 closed

[2019-05-25 13:32] #1848 closed

[2019-05-25 17:40] randerzander commented on #1468
Setting ranges of values is also needed:
```series[x:y] =  value```

[2019-05-27 07:10] vp2527 commented on #1835
Initially I had the output of X.dtypes all as objects. Conversion to the cudf data frame was giving me an error then. Then I converted the entire type to int64 and the conversion to the cudf data frame did not give me an error. I could run the code successfully. I am not sure if its supposed to work this way.

<img width="435" alt="Screenshot 2019-05-27 at 12 39 04 PM" src="https://user-images.git

[2019-05-27 10:57] floscha opened #1860 "[FEA] 'columns' parameter for DataFrame's drop method"
While it is certainly a matter of taste, I find df.drop(columns=['y', 'z']) more intuitive than df.drop(['y', 'z'], axis=1) and would appreciate compatible APIs between pandas and cuDF.

If approved, I can happily create a PR to implement this feature.

[2019-05-27 15:08] jrhemstad commented on #1468
Would it useful to make the API more generic to allow assigning an arbitrary number of ranges?

[code]

where `values[i]` will be filled into `[ ranges[i].first, ranges[i].second ]`.

[2019-05-27 18:47] #1517 closed

[2019-05-27 18:47] #1564 closed

[2019-05-27 22:26] eyalroz opened #1861 "[BUG] "library nvvm not found" when trying to run py.test"
If I:
1. Build from source (v0.8),
2. Install to `$CONDA_PREFIX`
3. Run  `python setup.py build_ext --inplace`
4. Run `py.test -v`

I get ` library nvvm not found` error (full trace below). I'm using Devuan ASCII (~= Debian Stretch), with CUDA 9.2 installed at `/usr/local/cuda/` - and nvvm is right there. I made sure and added the relevant entries for it  to `LD_LIBRARY_PATH`, `LIBRARY_PATH`, `CPL

[2019-05-27 22:29] harrism commented on #1861
Did you set the required `NUMBAPRO` environment variables?
https://github.com/rapidsai/cudf/blob/feec0c5e21fef4a416c77656d1d3f43205aeddc1/CONTRIBUTING.md#build-from-source

[2019-05-28 05:42] randerzander commented on #1860
That would be a welcome contribution, @floscha !

[2019-05-28 08:01] eyalroz commented on #1861
I did not.

[2019-05-28 08:01] #1861 closed

[2019-05-28 08:10] 1oscar commented on #497
X_df = pd.DataFrame({'fea%d'%i: X[:, i] for i in range(X.shape[1])})
X_gpu = cudf.DataFrame.from_pandas(X_df)

what():  CUDA error encountered at: /jenkins/workspace/gpuCIv2/cudf/branches/cudf-pip-build/cpp/src/bitmask/valid_ops.cu:170: 48 cudaErrorNoKernelImageForDevice no kernel image is available for execution on the device
Aborted

[2019-05-28 08:36] eyalroz opened #1862 "[FEA] The conda environment should automatically set NUMBAPRO_NVVM, NUMBAPRO_LIBDEVICE"
At the moment, it is not enough to merely `conda activate cudf` in order to perform various cudf-related actions - in particular, running the Python tests (`py.test`): One needs [to set the environment variables `NUMBAPRO_NVVM` and `NUMBAPRO_LIBDEVICE`](https://github.com/rapidsai/cudf/blob/feec0c5e21fef4a416c77656d1d3f43205aeddc1/CONTRIBUTING.md#build-from-source).

But - it is possible to have t

[2019-05-28 10:23] hudarsono commented on #197
Is there any guideline to build from source in mac? It seems that the conda build env depends on rmm and nvstrings, which only available on linux.

[2019-05-28 11:13] harrism commented on #1862
I wrote this a while back, which discusses using `etc/conda/activate.d` for all env variables when building from source. https://docs.google.com/document/d/1JcZcrQ156zk7TK1Wnad_Nz715SNyyeNlySismr64Djk/edit#heading=h.tjxhz15codzy

Hope it helps.

But I don't think we can make `activate.d` part of the conda env description, so I'm not sure this can be added to source control.

[2019-05-28 11:24] pradghos commented on #1545
I think I am able to find fix for the problem -

file - `reduce.pyx`  in function `apply_reduce` is basically handling all the reduce operations-
[code]

`get_scalar_value()` is returning `GDF_INT8` scalar data  which is nothing but `char` in  `ctypedef union gdf_data`.

[code]

In POWER where char is interpreted as unsigned char. below fixes worked fine -
[code]
I saw similar problem in libcudf a

[2019-05-28 12:52] thomcom commented on #1835
Were you able to resolve your issue, then? cuDF is very specific about types, so that it can take advantage of GPU acceleration, whereas Pandas allows almost anything to go into the dataframe. :)

Is this issue closed?

[2019-05-28 13:08] eyalroz commented on #1862
@harrism : Why not create that `activate.d` script as part of the cudf installation process? Either done during `make install`, or the `python setup.py`?

[2019-05-28 14:24] jrhemstad commented on #1545
Aha! Good detective work @pradghos. Feel free to open a PR with your fix and link this issue.

[2019-05-28 14:28] #1844 closed

[2019-05-28 15:31] kkraus14 commented on #1777
@raydouglass @mike-wendt This version is pulled from the git tag, is there any way for us to be able to tag dev branches without being disruptive?

[2019-05-28 16:28] #1375 closed

[2019-05-28 16:34] randerzander commented on #1468
@jrhemstad I looked a bit, but didn't come across people trying to set values on lists of ranges in Pandas.

But that would be nice to have as an option if it isn't much additional work.

[2019-05-28 17:25] pradghos commented on #1545
Thanks for looking into the issue and reviewing fix @jrhemstad @harrism @kkraus14  ! I have opened a PR for the same.

[2019-05-28 17:41] raydouglass commented on #1777
@beckernick Are you up to date on `branch-0.8`? You may also need to pull the tags: `git fetch origin --tags`.

The latest v0.8 tag is `v0.8.0a1`.

[2019-05-28 18:07] thomcom commented on #1805
This appears to be fixed by #1850. I'll update more thoroughly when it is ready to merge.

[2019-05-28 18:10] jrhemstad commented on #1468
Sounds like I'm trying to solve a problem that doesn't exist then.

Let's just stick with Mark's original API:
[code]

[2019-05-28 18:11] #1806 closed

[2019-05-28 18:12] #1856 closed

[2019-05-28 18:19] deltadu opened #1865 "[FEA] Please expose groupby object attributes .groups and support .keys()"
It would be useful if dask-cudf groupby object supports .keys() or expose .groups attribute like Pandas does.

code:
import dask_cudf as dd
diamonds = dd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
sorted = diamonds.sort_values(['color', 'cut'])
gp = sorted.groupby(['color', 'cut'])
gp.groups

Traceback (most recent call last):
  File "/conda/envs/rapids/

[2019-05-28 18:41] kkraus14 commented on #1835
This is expected, we currently only support `object` dtypes for strings.

[2019-05-28 18:41] #1835 closed

[2019-05-28 18:46] kkraus14 commented on #1824
@mrocklin @beckernick typically, calling `.values` against a Pandas Series gives its underlying data by reference, how important would it be to return by reference versus by copy? Given the user expects a dense buffer, what should we do with nulls?

[2019-05-28 18:51] kkraus14 commented on #1815
@seraphzl would you be able to upload a data sample or a script to generate data that reproduces this issue?

[2019-05-28 18:53] #1793 closed

[2019-05-28 18:55] #1818 closed

[2019-05-28 18:56] #1545 closed

[2019-05-28 19:19] ayushdg opened #1866 "[FEA] Support quantiles as a groupby aggregation"
**Is your feature request related to a problem? Please describe.**
I have a use case where I need to calculate percentiles on the groups after performing a groupby operation. Cudf currently supports quantiles on whole columns but not on the grouped column

**Describe the solution you'd like**
Support a groupby quantile aggregation somewhat similar to [pandas](https://pandas.pydata.org/pandas-docs/

[2019-05-28 19:31] kkraus14 commented on #1866
Duplicate of #619

[2019-05-28 19:31] #1866 closed

[2019-05-28 20:24] mjsamoht commented on #1595
Filed issue #1816.

[2019-05-28 22:08] kkraus14 opened #1870 "[FEA] Python bindings to libcudf rolling windows API"
Python bindings should follow Pandas API as closely as possible: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rolling.html

See here for libcudf implementation: https://github.com/rapidsai/cudf/pull/1356

[2019-05-28 22:18] kkraus14 opened #1871 "[FEA] Python bindings for `cudf::apply_boolean_mask` for boolean masking"
See: https://github.com/rapidsai/cudf/pull/1654

Places Python does boolean masking:

- https://github.com/rapidsai/cudf/blob/branch-0.8/python/cudf/dataframe/dataframe.py#L241
- https://github.com/rapidsai/cudf/blob/branch-0.8/python/cudf/dataframe/series.py#L294

[2019-05-28 22:48] beckernick opened #1872 "[BUG] as_column does not properly utilize dtype argument when numpy array is passed"
**Describe the bug**
When a numpy array is passed to as_column, the dtype keyword argument isn't used to create the column. The dtype of the numpy array defines the column dtype.

[code]

[2019-05-28 23:13] ayushdg commented on #1810
I believe issue #1541 once resolved should help in mapping cudf strings to `GDF_STRING` instead of `GDF_STRING_CATEGORY`

[2019-05-28 23:26] harrism commented on #1371
I believe this is finished, not sure why it's still open.

[2019-05-28 23:26] #1371 closed

[2019-05-29 00:11] harrism commented on #1810
Does this have to do with missing a nvstring_category gather after the replacement? I'm working on a similar issue for apply_boolean_mask.

[2019-05-29 00:14] harrism commented on #1166
What is the libcudf need from this issue?

[2019-05-29 00:23] harrism commented on #1862
1. If you read my document, some of us eschew `make install`, for good reasons.
2. `python setup.py` depends on the LD_LIBRARY_PATH and PYTHONPATH environment variables that are needed because of 1.

[2019-05-29 00:24] kkraus14 commented on #1166
@harrism this was before the `gdf_groupby_without_aggregation` function was implemented and that was the need.

[2019-05-29 00:38] harrism opened #1874 "[FEA] Add libcudf any() and all() reductions"
**Is your feature request related to a problem? Please describe.**

Currently cuDF Python implements any() and all() for a column by calling libcudf's min() and max() (see #1863). libcudf should provide any() and all() instead. They can be made faster and also give us better control over semantics.

**Describe the solution you'd like**
It would be faster to provide an optimized any() and all() tha

[2019-05-29 00:38] harrism commented on #1874
@kovaltan FYI in case you have thoughts on this.

[2019-05-29 01:48] mjsamoht commented on #1434
Thanks, @ayushdg.  It doesn't look like your dependencies will be resolved for v0.8 so we may have to push this out to next release.

[2019-05-29 01:52] mjsamoht commented on #1815
@seraphzl this sounds very similar to #1625, which was fixed in branch-0.8 about 8 days ago.  Can you verify with 0.8 top of tree whether the problem still persists?

[2019-05-29 02:35] randerzander commented on #1434
@kkraus14 I believe you had a workaround in mind that would avoid the dependency on #1541 ?

[2019-05-29 02:58] kkraus14 commented on #1434
I may have spoken too soon, but if the CSV writer can accept a `gdf_column` with dtype `GDF_STRING` and its data pointer pointer to an nvstrings object, then we can manually construct the `gdf_column` without the helper function in the Cython of this function as a workaround for now.

If the CSV writer can't accept the `GDF_STRING` `gdf_column` then we'd need to support `GDF_STRING_CATEGORY` per #

[2019-05-29 03:01] kkraus14 commented on #1434
Looks like it can handle it based on https://github.com/rapidsai/cudf/blob/bddd8322fdae3dfafe481f89f4bc012856cafd9b/cpp/src/io/csv/csv_writer.cu#L46 so the workaround would be to manually create the column using the nvstrings object for now.

[2019-05-29 03:30] kovaltan commented on #1874
I agree to have `any` and `all` function in cudf for better control over semantics.
But I suspect about the potential optimization.

The current implementation of reduction has already output dtype option.
For non boolean column, if we set output_dtype = bool8 and do reduction `min` (for all), or `max` (for any),
the reducntion kernel cast a element into cudf::bool and then do reduction for rows.

[2019-05-29 10:21] MurrayData opened #1877 "[BUG] Romberg Numeric Integration kernel compile fails with NvvmError in 0.7, runs fine in 0.6"
**Description**

When I tried to run a test kernel in Rapids 0.7, I get an NvvmError when compiling the kernel. The code works correctly in 0.6.

The code is a kernel to perform Romberg Numeric Integration on a user defined function. This is a common scenario in Bayesian methods where a user may wish to estimate the integral of a probability density function over a given period.

![image](https://

[2019-05-29 11:07] pradghos opened #1878 "[BUG] initialization issue for struct orc_read_arg, pq_read_arg for Power Platform/gcc 7.3"
Problem :

**Describe the bug**
File location : `python/cudf/bindings/parquet.pxd` and `python/cudf/bindings/orc.pxd`
`struct orc_read_arg` and `struct pq_read_arg` in cython are not getting initialized properly while `skip_rows` / `use columns` are passed as `None`. and multiple test cases are failing from `test_parquet.py` and `test_orc.py`

Test example:

**test case **
test_parquet.py

test_pa

[2019-05-29 11:14] pradghos commented on #1878
Below Fixes are to address the issue -

[code]
@jrhemstad @kkraus14 @harrism : Please let me know If I can create PR for the same. Thanks!

[2019-05-29 11:48] davidwendt commented on #1434
I can commit to implementing #1737 and fixing rapidsai/custrings#305 for 0.8 for this.

[2019-05-29 15:09] beckernick opened #2281 "[BUG] Cumsum upcasts Series dtype inconsistently across partitions, causing a concatenation error"
**Describe the bug**
Dask appears to not be preserving the metadata of the original Series when using `cumsum` (and perhaps other operations). This causes issues since cudf cannot concatenate objects of different dtypes. This only occurs if the cudf.Series dtype is an integer type.

We should probably allow concatenation of different dtype objets in cuDF, but we should also maintain dtype consiste

[2019-05-29 15:11] RFinkelberg opened #1879 "[FEA] Add libcudf functionality to support sampling from dataframes"
**Is your feature request related to a problem? Please describe.**
When implementing a cudf/cuml version of [train_test_split](https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html), you need a way to shuffle a dataframe (or its indices). The idiomatic pandas way of doing this is [pandas.DataFrame.sample](https://pandas.pydata.org/pandas-docs/stable/refere

[2019-05-29 15:14] jrhemstad commented on #1879
Sounds like this could be satisfied via a libcudf function to shuffle a column and/or table.

Something like:

[code]

Will create a new table by randomly shuffling all the rows of the input table.

Would that satisfy the need?

[2019-05-29 16:37] shwina opened #1880 "[FEA] Improve DataFrame.iloc performance by using multi-column gather."
Currently, `DataFrame.iloc` works by calling `iloc` on each individual column of the dataframe. This can be improved by just using [`apply_gather`](https://github.com/rapidsai/cudf/blob/branch-0.8/python/cudf/bindings/copying.pyx#L64) on the entire dataframe.

[2019-05-29 16:59] beckernick opened #1881 "[FEA] Concatenation of dataframes with columns of different dtypes"
Users may want to concatenate dataframes/series of differing types, which is currently blocked by

https://github.com/rapidsai/cudf/blob/8f7fe88fefd3ba3a6d081b4a226eee5b5d97c175/python/cudf/dataframe/column.py#L91-L93

One potential approach to this problem is to upcast types where necessary. For example:

[code]

This would resolve rapidsai/dask-cudf#264, though that my be resolved independently

[2019-05-29 17:31] ayushdg commented on #1434
Thanks @davidwend!
I tried the workaround suggested by @kkraus14 and from my initial assessement it seemed to work fine :D
@mjsamoht Let us target it for 0.8 for now and we can reevaluate the state of the pr and it's dependencies sometime next week and see if it would still be viable for 0.8 or not.

[2019-05-29 18:43] OlivierNV commented on #1784
@ayushdg : Can we use this test file for automated testing ?

[2019-05-29 18:44] ayushdg commented on #1784
@OlivierNV Sure :D

[2019-05-29 18:47] kkraus14 commented on #1878
Please open the PR, it would be greatly appreciated, thanks!

[2019-05-29 18:47] kkraus14 commented on #1877
@sklam any ideas what would cause this error?

[2019-05-29 19:03] RFinkelberg commented on #1879
Functionally yes, since randomly sampling 3 elements is the same as shuffling and taking the first 3. I worry about the performance though. Will there be too much overhead shuffling the entire table? Would it be better to instead shuffle the indices and let the indexer deal with it?

[2019-05-29 19:32] mjsamoht commented on #1878
@j-ieong can you take a look at the proposed changes above?

If this is specific to Power platform then I guess we have no way to repro and confirm any fixes.

[2019-05-29 19:40] jrhemstad commented on #1879
Yeah, I assumed you'd want to just shuffle the index for your use case, but proposed a more generic API that could be used for other things as well.

[2019-05-29 19:41] vuule opened #1883 "[BUG] Data type deduction in the CSV reader does not treat NaN strings as invalid values"
CSV reader supports a set of special strings that denote an empty/NaN field. These strings are correctly parsed as such.
However, data type detection does not account for these values and deduces a string type for columns containing such values.

This issue makes the behavior inconsistent depending on whether the dtype parameter is set

[2019-05-29 19:48] trstovall commented on #1842
@ayushdg Yes, it's an environment issue.  The build arg `NUMBAPRO_NVVM` was set to `/usr/local/cuda/nvvm/lib64/libnvvm.so` as previously expected.  Now, `cudf` expects `NUMBAPRO_NVVM=/usr/local/cuda/nvvm/lib64/`.  Setting the env variable resolves the issue.

[2019-05-29 19:48] #1842 closed

[2019-05-29 22:00] eyalroz opened #1885 "[BUG] segmentation fault with py.test"
As I run `py.test` (after managing to properly build, install and setup python cudf use), at some point there's a segmentation fault, and `py.test` stops. The point of segfaulting seems to depend on which branch I've built. This happens, specifically, with v0.8 .

I'm not sure how I can a backtrace from a Python core file (if this is at all possible).

I'm on Devuan ASCII (~= Debian Stretch) with

[2019-05-29 22:07] kkraus14 commented on #1885
@eyalroz which test is causing the segfault? You should be able to run it through cuda-gdb similar to a normal segfault, i.e.
```cuda-gdb -ex r --args python -m pytest cudf/tests/test_XXX.py::test_name```

[2019-05-29 22:25] eyalroz commented on #1885
@kkraus14 : It's `cudf/tests/test_parquet.py::test_parquet_reader_basic```

and here's a backtrace:
[code]

[2019-05-29 22:27] kkraus14 commented on #1885
May be a duplicate of #1878

[2019-05-30 00:07] RFinkelberg commented on #1879
I actually think that's okay, and closer to what we want. Shuffling a length `n` table reduces to sampling it `n` times without replacement.

[2019-05-30 04:37] harrism commented on #1874
In my experience even CUB doesn't have an optimized 1-bit-per-boolean reduction (i.e. using `__popc() or `__syncthreads_and()` or `__syncthreads_or()`.

[2019-05-30 14:03] jrhemstad commented on #1885
I think it's unrelated. #1878 is for the Orc reader. This stack trace shows an error in the Parquet reader.

Perhaps the file that the Parquet reader is trying to open cannot be found?

CC @vuule @j-ieong

[2019-05-30 14:17] pradghos commented on #1878
@kkraus14 : Thanks for looking into the issue. I have created PR with the fixes.

[2019-05-30 14:22] eyalroz commented on #1885
Surely something like that should not result in a segfault...?

[2019-05-30 14:29] beckernick commented on #1824
@thomcom , @kkraus14 that's a good question. Is it correct that we can return the underlying buffer by reference easily if there are no nulls, but we'd need to make a copy to return a buffer with nulls? (Please do correct me if I'm wrong on that one.)

For interoperability in the ecosystem, we likely don't want the following behavior to occur when someone wants to convert to CuPy (or anything else

[2019-05-30 14:34] jakirkham commented on #1728
Just thinking about this in light of some conversations about moving data back and forth between cuDF and CuPy, maybe we might be able to implement this in a somewhat simple way. Namely we do a zero-copy conversion to CuPy then leverage CuPy's `__array_function__` support and do a zero-copy conversion back to the appropriate cuDF type. This would let us leverage many functions from CuPy without ne

[2019-05-30 14:36] kkraus14 commented on #1728
We can't do zero copy in the situation where there's nulls though.

[2019-05-30 14:36] beckernick commented on #1824
@jakirkham as well for visibility

[2019-05-30 14:43] jakirkham commented on #1728
To make sure I understand correctly, your concern is we have to replace the nulls somehow before going to CuPy correct?

[2019-05-30 14:46] kkraus14 commented on #1728
Yes, and in the case of integers and booleans there isn't a value like `NaN` that we can replace nulls with.

[2019-05-30 14:56] #1832 closed

[2019-05-30 15:00] beckernick commented on #1728
CuPy doesn't appear to have a concept of nulls in arrays of integer/boolean dtype. This appears similar to how numpy and pandas generally behave (technically used to behave for pandas as of the nullable integer dtype). Despite this limitation, leveraging pandas/numpy interop is useful. If there is a null, passing what "would" be an integer or boolean array could be cast to a float so as to use NaN

[2019-05-30 15:01] jakirkham commented on #1728
Yep, this is a great point. So how should we handle that case? Here's some random thoughts (though please free to add others).

1. Error and ask the user to replace the nulls
2. Try to do some smart substitution for the user
3. Drop out the problematic values on the CuPy side (using a mask)
4. Pass smaller null-free chunks of data to CuPy and consolidate the results
5. Work with CuPy to create a n

[2019-05-30 15:07] kkraus14 commented on #1728
The problem with 2-4 is that you can no longer reference the same data as underneath the cudf column which is a common use case for using the array protocol in the case of pandas. This is very similar to the discussion happening in #1824.

[2019-05-30 15:18] kkraus14 commented on #1822
Okay, so most of the time in the transpose is in nonsense operations that we can eliminate. The rename is to just rename the columns of the output dataframe and is doing a deep copy instead of a shallow copy, which for a very wide dataframe is obviously super expensive. For the `set_index` we're doing an elementwise equals and then an `.all()` to check that the indexes are the same instead of just

[2019-05-30 15:23] jakirkham commented on #1728
Yep, 2 & 3 definitely introduce copies. Would think 4 avoids this issue as we are referring to subsections of the same data. Though it is admittedly more complicated.

TBH I'm less worried about producing a copy for `__array_function__` than with something like `.values` as the intent of `__array_function__` is to eventually produce a new object with a result (not view the same data). Also would h

[2019-05-30 15:25] kkraus14 commented on #1728
I'm definitely on board with 1 to start, but ideally we just implement the functions needed in libcudf and handle nulls properly, then build out the Python APIs + hook up to `__array_function__`.

[2019-05-30 15:35] jakirkham commented on #1728
One tweak on my original suggestion could be we have a list of functions that cuDF implements that `__array_function__` tries first and then it falls back to CuPy for everything else. When cuDF implements new functions that work with `__array_function__`, we can just add them to this list. Maybe that strikes the balance between having a large variety of functions and handling nulls correctly. Thou

[2019-05-30 17:17] quasiben opened #1888 "[QST] cuDF performance with gridsearchcv"
In a conversation with @kkraus14 about cudf usage with cuml+gridsearch we looked at cudf performance.   Attached is profile plot of running gridsearch+cuml+cudf.

<img width="1624" alt="Screen Shot 2019-05-30 at 1 12 02 PM" src="https://user-images.githubusercontent.com/1403768/58650405-93775c80-82dc-11e9-91a4-67ca0fc3491a.png">

Folks can download the full dask profile here:
https://gist.github.c

[2019-05-30 17:49] mrocklin commented on #1888
I'd like to do a little back-of-the-envelope calculation on the expected cost of host-to-device transfers.

Lets say that we have a 1GB dataset with ten columns of float32s.  This is 25 million rows.  An array to slice into this dataset would be 25MB (assuming 1-byte booleans).  What are host-to-device transfer speeds?  Lets say that they're 1GB/s, so a transfer would be around 25ms.  How long doe

[2019-05-30 18:09] beckernick opened #1889 "[BUG] Multiindex groupby aggregation functions called on columns directly returns empty dataframes"
As discussed in https://github.com/rapidsai/cudf/pull/1882, the following groupby usage pattern (as opposed to the agg API) produces an empty dataframe

[code]

[2019-05-30 18:34] kkraus14 commented on #1888
The other thing to consider is the time it takes to allocate memory, though using the pool allocator could relieve the pressure from that. If you explore the linked profile you can see basically three noticeable operations taking time:

1) Host to device transfers
2) Device memory allocations / Device memory frees
3) Elementwise equality operations that we can remove (we check for content equality

[2019-05-30 19:53] sklam commented on #1877
I'm unable to replicate the problem using the same docker setup.

Here's the code that I am trying.

[code]

Note, I have to make two modifications:

1.  insert an identity function for the missing `fn`.
2. reduce `nelem` to fit on my testing machine.

Since I cannot replicate, the problem may lie within the definition of `fn`.  @MurrayData, can you provide the definition of `fn` that caused the e

[2019-05-30 20:17] sklam commented on #1877
Oh, this is a heisenbug.  I can segfault libnvvm sometimes.  I will need to investigate more.

[2019-05-30 20:52] jrhemstad commented on #1888
The profile very clearly shows that far and away the bottleneck is host to device transfers.

![profile](https://user-images.githubusercontent.com/15221289/58663750-033c1600-82e2-11e9-9931-2f60a799d01c.png)

The box I'm hovering over shows ~1/3 time in host to device transfers, and that's not the only one. In total, I'd estimate anywhere from 50-75% of the time is in host to device transfers.

[2019-05-30 21:16] quasiben commented on #1888
Thanks @jrhemstad for looking into the profile.  The host-to-device transfers, I believe, are occurring when sklearn creates host side indexes and uses those to subselect the dataframe

https://github.com/scikit-learn/scikit-learn/blob/896a76eb22fe498494ab1b73594a13a7f266b912/sklearn/model_selection/_split.py#L87-L95

https://github.com/scikit-learn/scikit-learn/blob/896a76eb22fe498494ab1b73594a13

[2019-05-30 21:23] beckernick commented on #1504
Resolved. Closing.

[2019-05-30 21:23] #1504 closed

[2019-05-30 21:31] deltadu opened #2282 "[Performance] Directly accessing date-time (.dt) is slower than using .map_partitions() and an accessor"
It is slower to directly access date-time (.dt) info

[code]

While using .map_partitions() and an 'accessor' function runs faster:

[code]

The data was partitioned to 8 workers before we tried to access it.
I run 5 iterations with both methods, and the time cost is:
**direct accessing:**
[0.441, 0.460, 0.467, 0.454, 0.466] seconds

**map_partitions:**
[0.219, 0.042, 0.043, 0.041, 0.040] seconds

[2019-05-30 22:33] mrocklin commented on #1888
So does that mean that calls to fit are quite fast?  In the 25ms range?  Or is something else going on?   I think that my back-of-the-envelope calculation shows that something else might be up.  Maybe we're not moving data well between host and device somehow.  Maybe we're moving way too much data for some reason.  *If* my reasoning above is correct and *if* fit calls take much longer than 25ms, t

[2019-05-31 00:08] beckernick opened #1892 "[FEA] Update Series/DataFrame.describe to work with StringColumns"
When #1282 was merged to implement `describe`, functionality on StringColumns was blocked by several outstanding issues.

Pandas features that are not currently supported include:
- Describing non-numeric data (blocked by lack of StringColumn and DatetimeColumn support for unique/value counts)
- Returning a Series with the summary statistic names as the index, and the results as the values (blocke

[2019-05-31 01:06] randerzander commented on #1841
@jrhemstad I take it this would only work for sort based groupbys?

@kkraus14 this would avoid a nasty workaround for @ayushdg 's workflow. Does this look at all feasible for 0.8, and is it blocked by #1747 ?

[2019-05-31 01:14] kkraus14 commented on #1841
Yes this would only work for sort based groupbys, no it's not feasible for 0.8 unless you could have it work with the `cudf` method via a UDF currently.

[2019-05-31 06:22] harrism commented on #1468
Hmmm, so the request on the Python side is for in-place assignment. Is that what is needed? Should we do the same on the C++ side, or do an out-of-place algorithm as I suggested above?

@kkraus14 @jrhemstad feel free to comment.

[2019-05-31 06:54] harrism commented on #1468
I've started on the C++ implementation of this, since it is blocking an important project.

[2019-05-31 08:02] ayushdg opened #2283 "[BUG] `len` after `fillna` operation uses way more memory than expected"
I have a dataframe that occupies ~700-800 MB when persisted. I fill all the nulls in the Dataframe using `fill_na` and call `len` on the new Dataframe. I notice an explosion in memory usage.

Reproducer:
[code]
Now when I do `len(temp)`

Nvidia-smi usage shoots to a max state here:
[code]
Now for the `fill_na` operation

[code]
CPU times: user 35.6 s, sys: 1.26 s, total: 36.8 s
Wall time: 38.7 s (

[2019-05-31 08:05] pradghos commented on #1885
@eyalroz I think below information may help to debug/solve the issue -  :-)

In case you are seeing the segfault for any of the below test cases/input  - then you can pull the changes of PR- https://github.com/rapidsai/cudf/pull/1887 and try to recreate the segfault.
[code]
PR - https://github.com/rapidsai/cudf/pull/1887 - is also addressing the problem - when user passed the column in `None` and

[2019-05-31 09:51] pengsnv opened #1893 "[BUG] core dumped when the column of dataset is large"
[code]

I run the above script within container rapidsai/rapidsai:0.7-cuda10.0-runtime-ubuntu18.04-gcc7-py3.7, on DGX-1.
The script will crash when the column of X is up to 331072, although the X is just about 3GB.
The track trace is:
`terminate called after throwing an instance of 'thrust::system::system_error'
  what():  parallel_for failed: invalid configuration argument
Aborted (core dumped)`

[2019-05-31 11:46] shwina commented on #1732
#1838 addressed what I thought was the root cause of this issue; but gather is still missing support for strings on the libcudf side. That's coming up in another PR.

[2019-05-31 12:18] jrhemstad commented on #1468
Everything in libcudf thus far is out of place. It does make something things less efficient, but it's much easier to reason about design when this holds true. We should think about this long term if we're going to require everything to be out of place or have a mix of both.

[2019-05-31 13:27] devavret commented on #1851
@randerzander do you need all the other argument support as well? There's axis, level, fill_value. If so, this might not be that trivial.

[2019-05-31 13:33] cjnolet commented on #1879
I've been thinking over sampling without replacement primitive for cuML. We have need this functionality in cuML for several different algorithms- shuffling for mini-batch SGD & pasting for Random Forests are two that immediately come to mind.

This could be accomplished using thrust by generating a uniformly random vector of size `n` and sorting it by key, where the indices of the original vector

[2019-05-31 14:00] randerzander commented on #1851
@skmatti can you confirm whether the basic example you gave is what you need, or if you require the additional params devavret listed?

[2019-05-31 14:00] sklam commented on #1877
It turns out the issue is caused by out-of-sync versions of numba and llvmlite in the docker image.

The llvmlite in the docker image is:

[code]

It is a nightly dev build and not an official release.

The numba in the docker image is:
[code]

It's a build from conda-forge.

To fix it, I run `conda install -c conda-forge numba=0.41.0 llvmlite` to ask conda to reinstall llvmlite for numba version

[2019-05-31 14:13] kkraus14 opened #1894 "[FEA] libcudf scatter scalar"
There's currently an implementation of scatter in libcudf that expects a scatter map and a dense buffer of the same length of the scatter map to use for the values to scatter. Many situations in Python the user wants to provide a scatter map and a scalar value to use for all associated locations in the scatter map. Instead of filling a dense buffer with the scalar, we should provide a scatter scal

[2019-05-31 14:15] kkraus14 opened #1895 "[FEA] libcudf boolean mask scatter and boolean mask scatter scalar"
Instead of providing an integer scatter map, there are times where a user wants to provide a boolean mask and set the values of the corresponding True values by either a dense buffer (of the same length as the number of True values) or by a scalar.

[2019-05-31 14:17] kkraus14 commented on #1893
There's no cuDF related code in here as far as I can see. This is pure XGBoost code, so I believe this issue should be moved elsewhere, possibly to the XGBoost repo?

[2019-05-31 14:50] #1784 closed

[2019-05-31 15:19] datametrician commented on #1893
Agreed/closing. @mt-jones asked @pengsnv to test on the latest xgb version and then file an issue on their GitHub.

[2019-05-31 15:19] #1893 closed

[2019-05-31 15:36] #1883 closed

[2019-05-31 16:01] quasiben commented on #1888
The calls to fit are fast ~400ms.

I did some timings of iloc with various inputs and wanted to show them (see below).

Slicing is the fastest, numpy and cudf.Series iloc tests are very close, and I wrote small test to see if a numpy array *could* be expressed as a slice

[code]

[2019-05-31 16:41] eyalroz opened #1897 "[BUG] make install (also) copies invalid files"
Caveat: This is somewhat of a nitpick.

I have a `include/cudf/types.h.rej` in my `cudf` directory (artifact from a partially-failing patch application; but it doesn't matter). When I `make install`, that `.rej` file gets copied along with the proper `.h` files...
[code]
That shouldn't happen. This isn't much of a problem with `.rej` files, but what if we had a `types-bkp.h` for example? That woul

[2019-05-31 16:57] eyalroz commented on #1885
@pradghos : I've pulled from the branch used in PR 1887, but the behavior is _the same_. I get to:
[code]
Just like before.

[2019-05-31 17:15] pradghos commented on #1885
@eyalroz : okay. It looks like a different one ! Thanks for your response !

[2019-05-31 17:21] skmatti commented on #1851
We need only `fill_value` argument support for our use-case.

[2019-05-31 17:30] kkraus14 opened #1898 "[FEA] libcudf functions to convert table to/from 2d dense arrays"
Ideally with parameters to specify properties like strides, C vs Fortran ordering, etc.

[2019-05-31 17:38] paulhendricks opened #1899 "[BUG] GPU Memory not being released with strings"
**Describe the bug**
When working with cuDF DataFrames that have Strings, GPU memory is not fully released after deletion of the cuDF DataFrame.

**Steps/Code to reproduce bug**

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]
[code]

Let's do the `to_pandas` one more time:

[code]

[code]

**Expected behavior**

GPU memory is restored to the starting GPU memory after deletion of th

[2019-05-31 17:43] kkraus14 commented on #1899
cc @mjsamoht looks like it's in the CSV reader?

[2019-05-31 17:50] kkraus14 commented on #1877
Thanks for triaging @sklam, it's much appreciated. cc @mike-wendt @raydouglass @rlratzel would it be possible to resolve this in the container?

[2019-05-31 17:58] mjsamoht commented on #1899
From a quick glance it looks like CSV reader returns a dataframe containing strings.  And deleting the dataframe doesn't free all memory.

How are these strings supposed to be freed when deleting the dataframe?  At that point CSV reader is no longer in the picture.

[2019-05-31 18:18] asmeurer opened #1900 "[BUG] __version__ from conda package is dirty"
**Describe the bug**

A clear and concise description of what the bug is.

I have the cudf 0.7.2 py37_0 Linux 64-bit conda package installed from the rapidsai conda channel.

The version is

[code]

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and r

[2019-05-31 19:12] kkraus14 opened #1901 "[FEA] Uncomment and fix string related typecasting"
The relevant methods have been made in nvstrings to finish the typecasts to/from strings so we should uncomment the code and write relevant tests.

[2019-05-31 19:18] #1852 closed

[2019-05-31 20:47] jlowe commented on #1473
This bug is problematic for a distributed setup for any partitioning is done on string category columns (e.g.: distributed join).  Is there a rough estimate for when this could be addressed?

It's possible to fix this without modifying custrings by having the cudf table build a string view for the category using`NVCategory::create_index`.  That can allow `hash_row` to hash the string data instead

[2019-05-31 20:48] mjsamoht commented on #1878
Fixed with #1887.

[2019-05-31 20:48] #1878 closed

[2019-05-31 21:15] rlratzel commented on #1877
I'll update the Dockerfiles to install that version of `llvmlite`. I'd normally also add the code provided here to repro the issue in a test suite, but it looks like it doesn't reliably reveal the problem.

[2019-05-31 21:37] beckernick opened #1903 "[DISCUSSION] Tightening the development/testing process between cuDF and Dask"
I think we should discuss incorporating dask-related tests (or even bringing dask-cudf directly) into our cudf development process. I’ve only explicitly laid out some potential benefits of doing this here, but there are of course negatives, too. I’m interested to hear people’s thoughts on this.

I think the experience of getting multi-column groupbys, string-related groupbys, and cumulative aggreg

[2019-05-31 22:26] mrocklin commented on #1903
Thanks for writing this up @beckernick .  I think that co-testing would be in general great.

As an alternative possibility, we might also consider re-merging the codebases.  Currently the only non-trivial chunks of code in dask-cudf are merge/sorts (which we're hoping to rip out) and a bit of I/O.  I think that if as continue down the path of removing chunks of dask-cudf as we align with dask dat

[2019-05-31 22:48] jlowe opened #1904 "[BUG] empty_like can generate a column with an invalid col_name pointer"
**Describe the bug**
`cudf::empty_like` creates an uninitialized `gdf_column` and initializes it by calling `gdf_column_view_augmented`, but this leaves the `col_name` field uninitialized.  If the uninitialized data happens to not be zero then code can crash trying to access a bad column name pointer or corrupt the heap if the seemingly valid pointer is freed.

**Expected behavior**
`cudf::empty_l

[2019-05-31 23:14] ayushdg commented on #1904
A part of the changes in #1542 should handle this. Specifically this bit: https://github.com/rapidsai/cudf/pull/1542/files#diff-61b7dd2a4e4fe523938574222b14a385R213

[2019-06-01 02:55] asmeurer commented on #1514
Support for bitwise operations on booleans would be great. Was an issue opened for that? Right now I have to use * for AND and + for OR, which isn't great from a code readability point of view.

[2019-06-01 03:54] asmeurer commented on #1514
Also:

[code]

which makes it annoying (also annoying is that the workaround for `~x`, `True - x`, is deprecated for numpy.bool_ and gives an error).

[2019-06-01 05:38] MurrayData commented on #1877
@sklam:

[code]

[2019-06-01 07:38] MurrayData commented on #1877
Thanks @sklam, @rlratzel and @kkraus14. I derived a new Docker container, from the existing, with
[code]
added and it works fine now.

[2019-06-01 15:36] kkraus14 commented on #1877
cc

We shouldn't have to hardcode a version of `llvmlite` into Docker, if we remove the numba conda channel I believe all should work as expected. I'm not sure how we got this situation as the numba 0.41.0 package from conda-forge has the following constraint: `llvmlite >=0.26.0,<0.27.0a0`

[2019-06-01 15:49] galipremsagar opened #1905 "[BUG] 'GenericIndex' object has no attribute 'isin'"
**Describe the bug**
I'm trying to access records at particular indices in a dask dataframe. The following code works with dask but not when used along with dask-cudf.

`gpu_ddf_selected = ddf.map_partitions(lambda x: x[x.index.isin(indices_list)])`

When I try to use `isin` in the following code I get the below mentioned exception.

**Steps/Code to reproduce bug**
Run the following code and dataf

[2019-06-01 17:06] SteffenRoe commented on #28
do you guys have windows support now>?

[2019-06-01 17:07] SteffenRoe opened #1906 "Do you have windows support?"
do you have windows support?

[2019-06-01 18:40] dlasusa commented on #28
@SteffenRoe I asked that question 2 weeks ago in the RAPIDS-GoAi slack community and Keith Kraus and Mark Harris said that 1. if/when windows supports is added, that conversation would happen here, and 2. it's a big undertaking and they'd have to get window dev boxes.  I'm also excited/anxious to try it out too, but I think for now, the best we can do (or at least what I've done) is up vote this r

[2019-06-01 21:47] rlratzel commented on #1877
Yeah, I realized removing the numba channel solves the problem too after I commented, and I just committed that change. The next nightly builds should be fixed.

`dev` < `a`, so the constraint was satisfied.

[2019-06-03 01:18] harrism commented on #1468
I think you wrote gather to have the option of operating in-place? https://github.com/rapidsai/cudf/blob/a7068797b44353c7e2e65590a540b4f8219fa7ad/cpp/include/copying.hpp#L161

[2019-06-03 01:42] harrism commented on #1904
Setting the pointer to `nullptr` in `gdf_column_view`/`gdf_column_view_augmented` is a trivial fix, anyone can feel free to submit a PR.

[2019-06-03 03:24] VibhuJawa opened #1907 "[FEA] Adding string column to dataframe is slow"
**Describe the bug**
Adding a string column directly is ~ 2x slower that first creating a nvstring and then allocating it to the column.

**Steps/Code to reproduce bug**
[code]
Output:
[code]

**Expected behavior**
I would hope for a similar performence
**Environment details (please complete the following information):**
 - Environment location Docker
 - Method of cuDF install: From source

**Addi

[2019-06-03 13:22] jlowe commented on #1904
Note that if we go this route then `gdf_column_wrapper` in io/utilities/wrapper_utils.hpp will break unless they are updated.  They fill in the col_name field _before_ calling `gdf_column_view_augmented`:
[code]

[2019-06-03 13:34] jrhemstad commented on #1468
True, but that's ultimately because I needed an in-place gather for internal usage. I also wasn't thinking as much about library design then.

[2019-06-03 14:36] awthomp opened #1910 "[FEA] read_csv does not perform dtype list expansion, diverging from Pandas functionality"
**Is your feature request related to a problem? Please describe.**
When reading in a csv file with an arbitrary number of columns, typically for scientific computing applications, a user would benefit from treating each column as a certain datatype. Currently, in cuDF, the only implemented method for dtype assignment is to create a list, i.e. ['float32', 'float32', 'float32']. If the user does not

[2019-06-03 15:21] williamBlazing opened #1911 "[BUG] CMake install does not add all headers"
In the evolution of cudf, we have been moving function definitions away from functions.h file. Now they are located in other files such as copying.hpp and reduction.hpp but those header files are not exported or exposed as part of the cmake install targets

i.e. current cudf/cpp/CMakeLists.txt
[code]

We need to add everything in the cpp/include folder as part of the install targets.

[2019-06-03 15:34] kkraus14 commented on #957
@shwina this should be dependent on the `apply_boolean_mask` supporting nulls which I believe you're already tackling.

[2019-06-03 15:53] kkraus14 commented on #1829
We can look at pyarrow's behavior here for reference:

[code]

[2019-06-03 16:19] kkraus14 commented on #1812
Closing as duplicate of #1870

[2019-06-03 16:19] #1812 closed

[2019-06-03 16:31] kkraus14 commented on #1903
Just chiming in, that I'm 100% in support of merging the codebases and if there's no opposition will execute it during the 0.9 development cycle. This will allow us to test dask-cudf much more effectively and work towards refactoring out the code more effectively.

[2019-06-03 16:43] jeanp413 opened #1913 "[BUG] cudf::apply_boolean_mask return value (gdf_column) has an invalid col_name pointer"
**Describe the bug**
cudf::apply_boolean_mask return value (gdf_column) has an invalid col_name pointer (garbage value).

**Steps/Code to reproduce bug**

- Call cudf::apply_boolean_mask.
- Check that the col_name attribute of the returned gdf_column has a garbage value.

**Expected behavior**
cudf::apply_boolean_mask return value (gdf_column) col_name attribute should be a null pointer.

[2019-06-03 18:00] jakirkham commented on #1728
We might not even need an explicit list. Perhaps we can just check that a function with the right name is defined in cuDF and fallback if not [like so]( https://github.com/cupy/cupy/blob/cb5872dddb677cc4b3ca17fe7681266b1a4e1081/cupy/core/core.pyx#L1276 ).

[2019-06-03 18:39] randerzander opened #3106 "[FEA] Support specifying category values at nvcategory creation time"
If you want to manually specify the list of values for an nvcategory, today the only way I could find is to first create a category from an nvstrings, then call .set_keys.

That works, but it would be nice if I could pass the list of valid keys at initial category creation time, which should be faster and a more straightforward API.

Today's API:
[code]

Proposed API:
[code]

[2019-06-03 19:46] jlowe commented on #1904
Looks like #1914 will fix this by zero-initializing the gdf_column when it's created.

[2019-06-03 19:46] #1829 closed

[2019-06-03 21:08] shwina opened #1916 "[FEA] Create libcudf `pymod` binaryop and plumb to Python __mod__ (%) operator"
The `%` operator gives incorrect results when there are negative values in the LHS:

[code]

[2019-06-03 22:05] kkraus14 commented on #1906
We currently do not support Windows. Closing as a duplicate of #28

[2019-06-03 22:05] #1906 closed

[2019-06-04 00:21] harrism commented on #1913
See also #1904

[2019-06-04 00:46] harrism commented on #1468
So you are arguing that in-place gather should be in `cud::detail` namespace and the API should be changed to return a new column?

[2019-06-04 01:24] kkraus14 commented on #1916
This is due to C++11 and newer defining a modulo result as having the same sign as the dividend, while Python defines a modulo result as having the same sign as the divisor. @harrism and I talked offline and believe the best path of action is to create a libcudf `pymod` binaryop and map the Python `__mod__` builtin to hit the libcudf `pymod` instead of the default modulo operator.

[2019-06-04 01:29] jrhemstad commented on #1468
Yeah, precisely.

[2019-06-04 01:37] kkraus14 commented on #1907
@VibhuJawa any chance you can run this through snakeviz and see where the time is going? Snakeviz: https://jiffyclub.github.io/snakeviz/

[2019-06-04 02:01] harrism commented on #1468
The problem with doing operations that are trivially done in-place is that they incur extra overhead to perform out-of-place. `fill` is an example: filling a single index or a long range on a column with 1B rows results in extra allocation and copy of 4GB or more. Since cuDF is aimed at big data, we probably can't afford that kind of memory inefficiency. I imagine that you chose to expose in-place

[2019-06-04 02:37] quasiben commented on #1720
To fully support https://github.com/rapidsai/dask-cudf/pull/262/files, I believe we will need `get_group`.  @kkraus14 here is an example in dask:

https://github.com/dask/dask/blob/master/dask/dataframe/shuffle.py#L545-L548

[2019-06-04 05:16] faywang123 opened #1918 "how to concat?"
Hi, I tried to convert pandas code
total_df = pd.concat([dfs])
to rapids ai:

    total_df = pandas.DataFrame()
    for col in dfs[0].columns:
        new_col = None
        for gdf in dfs:
            if new_col is None:
                new_col = gdf[col]
            else:
                new_col = new_col.append(gdf[col])
        total_df[col] = new_col

but it failed in this line:
    new_col =

[2019-06-04 05:17] faywang123 commented on #1918
My cudf version is '0.7.2+0.g3ebd286.dirty'

[2019-06-04 06:03] kkraus14 commented on #1918
@faywang123 you should be able to use `cudf.concat([dfs])` similarly to pandas. It looks like we have a bug in handling String columns with the append operator though.

[2019-06-04 11:15] harrism commented on #1387
Fixed by #1390

[2019-06-04 11:15] #1387 closed

[2019-06-04 13:47] quasiben opened #1920 "[BUG] multiple aggregations hangs"
When aggregating with a list of `agg` cudf hangs.

[code]

I believe the issue is happening in `agg()` here:
https://github.com/rapidsai/cudf/blob/6d4f71b510053c638a179f1a083592c00e969cf8/python/cudf/groupby/groupby.py#L74

[2019-06-04 14:23] jrhemstad commented on #1468
Just be aware we're going to run into situations where operations on some column element types can't be done in place. As @davidwendt mentioned, a `fill` on a String column has to be out of place. Likewise will be true of any variable width element type, or a dictionary type. So we'll have some APIs that will need to check the types to be sure they can be done in-place, and the user will need to k

[2019-06-04 14:24] shwina commented on #1907
In #1915, we remove an expensive call `self._index.equals(series.index)`. Just curious if that helps performance

[2019-06-04 15:30] shwina commented on #1468
Another (perhaps common?) use-case that needs to be done out-of-place:

[code]

[2019-06-04 17:00] kkraus14 commented on #1920
cc @thomcom

[2019-06-04 17:20] skmatti opened #1922 "[BUG] Element-wise binary operations on DataFrames ignore index"
**Describe the bug**

DataFrame binary operations do not consider indexes of operands into account.

Out of order indexes as well as mismatched indexes return incorrect results:
[code]
Output:
[code]

**Expected behavior**

Output with pandas:
[code]

**Environment details:**
 - cudf 0.8 (built from source on 30th May)

[2019-06-04 17:32] faywang123 commented on #1918
Hi, I was using
    total_df = pd.concat(dfs)
     originally, and it failed with the following error. I then switched to use the above code and it failed with different error. Should I open a bug report?

  File "/home/fayw/conda/lib/python3.6/site-packages/cudf/multi.py", line 52, in concat
    return DataFrame._concat(objs, axis=axis, ignore_index=ignore_index)
  File "/home/fayw/conda/lib/pyth

[2019-06-04 18:12] mrocklin commented on #1903
When I last looked through dask-cudf I noticed that the join and reduction
code was around and could probably be removed.  That might be nice to
accomplish before the move, but I wouldn't block on it.

On Mon, Jun 3, 2019 at 9:31 AM Keith Kraus <notifications@github.com> wrote:

[2019-06-04 18:22] kkraus14 commented on #1903
The join code can't be removed quite yet as there's things within the dask shuffle that we don't have support for quite yet (surrounding groupby).

[2019-06-04 18:55] #1187 closed

[2019-06-04 18:56] kkraus14 commented on #1805
Fixed by #1850, if there's still a problem please open a new issue

[2019-06-04 18:56] #1805 closed

[2019-06-04 18:58] thomcom commented on #1920
Wrote a fix for this one @quasiben, coming up soon.

[2019-06-04 18:58] mrocklin commented on #1903
There are two join implementations.  One is very old and should be removed
regardless.

On Tue, Jun 4, 2019 at 11:23 AM Keith Kraus <notifications@github.com>
wrote:

[2019-06-04 18:58] mrocklin commented on #1903
Or rather, there are two within dask-cudf, three total. We'd like to get
down to one (just dask dataframe) but short term I would like to get down
to at least two.

On Tue, Jun 4, 2019 at 11:58 AM Matthew Rocklin <mrocklin@gmail.com> wrote:

[2019-06-04 19:00] kkraus14 commented on #1903
Could you link me to the two within dask-cudf? I apologize I'm not following where the different joins are within dask-cudf unless you're referring to `.join` vs `.merge`.

[2019-06-04 19:15] quasiben commented on #1920
Thanks!!!!

[2019-06-04 19:39] mrocklin commented on #1903
See https://github.com/rapidsai/dask-cudf/issues/193

On Tue, Jun 4, 2019 at 12:00 PM Keith Kraus <notifications@github.com>
wrote:

[2019-06-04 19:40] mjsamoht commented on #1815
@seraphzl can you please comment whether this is still an open issue with 0.8 top of tree?

[2019-06-04 20:10] #1920 closed

[2019-06-04 20:54] VibhuJawa opened #1925 "[FEA] How to read hex as int using cudf"
**What is your question?**
 What is the `cudf` equivalent way to  read hex as  int columns using cudf.

Example of doing this in pandas.
[code]
Output
[code]

[2019-06-04 21:14] jrhemstad commented on #540
Now that cuML has merged their `clang-format` solution, we should be able to trivially copy what they've done into libcudf: https://github.com/rapidsai/cuml/pull/616#event-2389426036

[2019-06-05 00:13] faywang123 opened #1926 "Cannot concat: failed with KeyError: 'mask'"
Hi,
The following statement failed:
total_df = pd.concat(dfs)

File "/home/fayw/conda/lib/python3.6/site-packages/cudf/multi.py", line 52, in concat
return DataFrame._concat(objs, axis=axis, ignore_index=ignore_index)
File "/home/fayw/conda/lib/python3.6/site-packages/cudf/dataframe/dataframe.py", line 1054, in _concat
for c in objs[0].columns]
File "/home/fayw/conda/lib/python3.6/site-packages/cu

[2019-06-05 00:15] faywang123 commented on #1926
My cudf version is '0.7.2+0.g3ebd286.dirty'

[2019-06-05 00:47] harrism commented on #1468
@shwina I don't see what is out of place there. What does `iloc[2]` do?

[2019-06-05 01:54] harrism commented on #540
Let's aim for 0.9.

[2019-06-05 02:06] kkraus14 commented on #1885
@eyalroz Looks like that segfault is triggered by something in https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/io/parquet/parquet_reader.cu#L232-L261 but it's hard to triage further than that since I can't reproduce 😞

[2019-06-05 02:10] kkraus14 commented on #1926
Lets continue triaging on issue #1918

[2019-06-05 02:10] #1926 closed

[2019-06-05 02:24] kkraus14 commented on #1918
@faywang123 would it be possible to give an example that reproduces the bug you're seeing?

[2019-06-05 02:35] #1634 closed

[2019-06-05 02:35] #1636 closed

[2019-06-05 05:16] faywang123 commented on #1918
Please see the attached.

[2019-06-05 05:23] faywang123 commented on #1918
[defect.zip](https://github.com/rapidsai/cudf/files/3255612/defect.zip)

[2019-06-05 05:25] faywang123 commented on #1918
This zip file contains:
data:
(1) defect_1_3c.csv
(2) defect_2_3c.csv
script:
(1) cudf_test_v3.py: concat using cudf, failed
(2) cudf_test_v4.py: concat using pandas, works

[2019-06-05 13:38] beckernick commented on #1063
This was not resolved by #1890 .

`get_dummies` is not yet a function accessible from the top-level module.

[2019-06-05 14:16] quasiben opened #1927 "[BUG] Missing Categories for Indexes"
The property `categories` fails when used with a `CategoricalIndex`:

[code]

Below is an example of this feature in Pandas

[code]

I think `idx.categories` will be needed in dask-cudf for non_metaempty index creation

[2019-06-05 14:19] mike-wendt commented on #1928
This should be updated and fixed for next release if it has not been done already, thanks!

[2019-06-05 15:26] quasiben commented on #1903
I agree with @beckernick concerns and I am for merging the codebases but I have two main concerns:

- subscribing to the cudf issue tracker is a lot (though this can be somewhat mitigated with labels.  can this be done with gmails filters ?)
- When testing dask-cudf work do we have to use the full cudf CI?  For example, I don't think dask-cudf is too concerned with cuda9.2/10.0 issues

[2019-06-05 16:12] shwina commented on #1918
Looks like the underlying issue is that `cudf.read_csv()` interprets your first column as a Datetime. Here's a simple reproducer of this behaviour:

[code]

[2019-06-05 16:19] shwina opened #1929 "[BUG] read_csv() misinterprets string with format XYZW-XY as Datetime"
Here is an example where `read_csv` misinterprets the value `ABCE-01` as a datetime:

[code]

but it has no problems with `ABCDE-01`:

[code]

[2019-06-05 16:21] shwina commented on #1929
This seems to be the underlying cause of #1918

[2019-06-05 17:29] faywang123 commented on #1918
Interestingly, this problem does not always happen. Please see attached.
[defect_2.zip](https://github.com/rapidsai/cudf/files/3258313/defect_2.zip)

[2019-06-05 17:30] faywang123 commented on #1918
This zip file contains the following files:
data:
(1) new_defect_1a.csv
(2) new_defect_2a.csv
(3) new_defect_3a.csv
script:
cudf_test_v4.py

[2019-06-05 17:32] faywang123 commented on #1918
Please note that cudf.concat using data files (1) and (2) works fine, but it fails using data files (2) and (3).
The error is:
  File "/home/fayw/conda/lib/python3.6/site-packages/cudf/dataframe/column.py", line 79, in _concat
    raise ValueError("All series must be of same type")
ValueError: All series must be of same type

[2019-06-05 18:37] venatir commented on #1577
+1

[2019-06-05 19:22] mt-jones commented on #1726
Hey @mrocklin. One question I had regarding the following comment:

Are we talking about eliminating Dask-cuDF as a repository? Or is it going to become something much lower level?

[2019-06-05 19:26] mrocklin commented on #1726
See conversation here: https://github.com/rapidsai/cudf/issues/1903

On Wed, Jun 5, 2019 at 12:22 PM Matthew Jones <notifications@github.com>
wrote:

[2019-06-05 20:11] jrhemstad opened #1931 "[BUG] Incorrect `unwrap` in `cast_ops.cu`"
**Describe the bug**
`cast_ops.cu` incorrectly calls `cudf::detail::unwrap` to attempt to cast from `wrapper` types to other types.

https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/unary/cast_ops.cu#L46

**Expected behavior**
`unwrap` should not be called here (it should almost _never_ be called). It should only be possible to cast from a `wrapper` to another type _if_ an appropriate conv

[2019-06-05 20:18] devavret commented on #1931
This was added in a refactor of unary ops which previously allowed wrapper types to be cast to pod types. Since I wasn't trying to remove functionality in a refactor, I added this. Do you propose we remove the functionality to cast pod from/to wrapper types unless a conversion is specifically implemented in `wrapper_types.hpp`?

[2019-06-05 20:23] jrhemstad commented on #1931
Yeah, exactly. I think many such casts are erroneous anyways.

The only `wrapper` conversions that I think make sense are:
1. Timestamps between different resolutions
2. `bool8` to/from any arithmetic type

I think that any other attempted cast should throw an error, but maybe I'm missing something.

[2019-06-05 20:49] jrhemstad opened #1933 "[FEA] Change current `wrapper` types to be their own derived types"
**Is your feature request related to a problem? Please describe.**

I would like it to be easier to specialize the behavior of various `wrapper` types.

Currently, wrapper types such as `cudf::bool8` and `cudf::category` are simple aliases for explicit instantiations of the `wrapper<T,gdf_dtype>` struct.

https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/utilities/wrapper_types.hpp#L336

Th

[2019-06-05 22:13] eyalroz commented on #1862
1. Ok, but `make install` is the default thing people would do unless they know better. So why not improve it somewhat?
2. How is this dependence prevent `python setup.py` from setting these environment variables?

[2019-06-06 01:45] shwina opened #1934 "[FEA] libcudf function for copying to a "slice" of a column"
It would be useful to have a libcudf function to copy values to a subset of a column. The use cases in cuDF would be:

[code]

[code]

[2019-06-06 01:48] kkraus14 commented on #1934
Wouldn't `b[1:3]` just return a dense buffer via a slice or gather call that could be passed into the scatter call without issue? I don't see the need for another API here but maybe I'm missing something.

[2019-06-06 01:51] shwina commented on #1934
In an offline conversation @harrism explained that it would be inefficient since scatter would be doing `out[map[i]] = in[i]` where we could just be doing `out[i] = in[i]`

[2019-06-06 01:53] kkraus14 commented on #1934
Would a more generalized `scatter_slice` type operation work that the object passed to the `__setitem__` call would be any dense buffer of the same size of the slice?

[2019-06-06 02:03] kkraus14 commented on #1907
I'm guessing this has to do with the codepath for handling Python lists specifically in that it will first create a PyArrow array and then create the nvstrings instance from that PyArrow array. Is handing large Python lists efficiently really important?

[2019-06-06 02:09] shwina commented on #1934
Yup - _that_ is what I'm looking for. Have re-worded the issue.

[2019-06-06 02:11] kkraus14 commented on #1934
@harrism this would look similar to #1353 but for "scattering" instead of "gathering"

[2019-06-06 04:53] galipremsagar opened #1935 "[BUG] Values filled in an empty dataframe - linked to dask dataframe map_partitions"
**Describe the bug**
In pandas if there is an empty DataFrame(with 1 column) and if we assign values to another new column in the same data frame irrespective of the dimension the DataFrame will remain to be empty.
But incase of an empty cudf DataFrame(with 1 column), if we assign values to a new column we see that the values are being assigned to the column. This is having implications in dask-cu

[2019-06-06 06:05] galipremsagar opened #2284 "[Feature request] Dask should provide ability to access .data to access underlying nvstrings functionalities"
This is my use-case:
I'm filtering out records from a dask dataframe in which one of the string column is compared against a regular expression. My code in dask using map_partitions is:

[code]

Currently if I try the below code I get an exception saying Series doesn't have .data attribute. Instead of the above workaround it would be nice to have the `.data` attribute for string columns in dask da

[2019-06-06 06:26] harrism commented on #1934
Sure. See #1908.  Note that this is not really a scatter, as @shwina points out.  This is assignment to a contiguous range. Scatter can do that, but the indirection would be inefficient when you know the range is contiguous.

[2019-06-06 06:27] harrism commented on #1934
C++ API will be something like `void copy_range(gdf_column *out_column, gdf_column const &in_column,  gdf_index_type out_begin, gdf_index_type out_end, gdf_index_type in_begin);

[2019-06-06 07:04] galipremsagar opened #1936 "[BUG] cudf Series append for string column throws Exception"
**Describe the bug**
When we try appending(vertically appending, not concatenating horizontally) two cudf.Series's of string type we get an exception(`AttributeError: 'nvstrings' object has no attribute 'dtype'`)

**Steps/Code to reproduce bug**
Pandas:
[code]

[code]

Incase of cudf:
[code]

[code]

**Expected behavior**
Expected behavior is that an appended series object is returned like that of

[2019-06-06 11:54] harrism commented on #1862
I was merely providing assistance, not closing your issue.

[2019-06-06 12:35] quasiben opened #1937 "[FEA] memory_usage"
It would be quite helpful to see the resource consumption of a cuDF object.  Pandas has `memory_usage`  which can be used like the following:

[code]

cuDF could do something similar:

[code]

Note `alloc_size` isn't quite right and we should instead use `nbytes` but I don't think numba has done a release with this feature:

https://github.com/numba/numba/blob/1360c4bb2a2ae1ea0726d9cdd4782b9dfd9ab

[2019-06-06 15:14] shwina commented on #1936
This should be fixed in branch 0.8; looking at `env.txt` it looks like you are running 0.7

[code]

You mention that the method used to install cuDF was conda-nightly; could you please tell us what commands you used to install cuDF?

[2019-06-06 16:04] galipremsagar commented on #1936
@shwina Just now pulled in latest 0.8 nightly. As you said it works now. But one observation is that in cudf Series we seem to be doing reset index(`.reset_index(drop=True)`  ) by default. Any reason why we are doing so? Asking this as pandas Series doesn't do so.

Cudf:
[code]
Pandas:
[code]
[code]

[code]

[2019-06-06 16:06] beckernick opened #1939 "[BUG] str.cat should allow multiple inputs"
**Describe the bug**
Pandas's `Series.str.cat` allows for list-like inputs for `others`. cuDF's implementation does not.

As discussed in rapidsai/dask-cudf#272, this is blocking string concatenation in dask-cudf. A potential solution is also mentioned.

[code]

[2019-06-06 16:09] quasiben opened #1940 "[FEA] DatetimeIndex Frequency/TZ"
In Pandas, DatetimeIndexes can report back the frequency and timezone.  I think this would be useful/nice for cuDF but it's not a high priority at all.

[code]

For more info on these extended dtypes: https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#period-dtypes

[2019-06-06 16:27] shwina commented on #1936
You're right - by default we use `ignore_index=True` in the `append()` method, while Pandas uses `ignore_index=False` (see https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.append.html).

We'll change this to match Pandas' behaviour

[2019-06-06 16:29] shwina opened #1941 "[BUG] Change default to ignore_index=False in append() method"
As described in #1936, we should change the default value of `ignore_index` to `False` in the `append()` method.

[2019-06-06 16:37] galipremsagar commented on #1936
Cool 👍

[2019-06-06 16:51] VibhuJawa commented on #1907
@kkraus14 , I think you are right, From `snake-viz` it looks like that too.

Snake-viz for casting using lists.
`%snakeviz df['text']= input_lines`

![image](https://user-images.githubusercontent.com/4837571/59050868-519c6800-8840-11e9-9f8d-3f4659d20ca3.png)

Snake viz for creating series via nvstrings.
`%snakeviz df['text']= nvstrings.to_device(input_lines)`

![image](https://user-images.githubus

[2019-06-06 17:01] dillon-cullinan commented on #949
If GitHub does not support the way we want to do this, there is a roundabout solution where we run style and changelog checks before triggering CPU/GPU builds. This will ensure the changelog is already updated before running resource heavy builds. Its not a perfect approach, but it is a solution if our ideal doesn't work out.

[2019-06-06 17:36] faywang123 commented on #1929
My work is  blocked. Please let me know when this problem can be fixed.

[2019-06-06 18:07] VibhuJawa commented on #1907
Yup, @kkraus14  is right,  exploring the code path and snake-viz tells us that:

We have two major areas where we spend time:

* `list` to `pyarrow.StringArray` conversion happening at:

https://github.com/rapidsai/cudf/blob/7312d4aa413eafdad28b67efccbc3dc15d9b5e27/python/cudf/dataframe/columnops.py#L461-L464

* `pyarrow.StringArray` to `nvstrings` conversion happening at:

https://github.com/rapi

[2019-06-06 18:16] jrhemstad opened #1942 "[BUG] Hash functions need to be specialized for `cudf::bool8`"
**Describe the bug**

`cudf::bool8` is defined such that `0 == false` and  `>0` is `true`. As such, hashing any two `cudf::bool8` values `a` and `b` should return identical hash values for `a,b ∈ [1, 255]`. However, the existing hash functions will return different hash values if `a` and `b` are two different values greater than zero.

**Expected behavior**

The libcudf hash functions should be sp

[2019-06-06 18:25] beckernick opened #1943 "[BUG] Cannot compare Boolean dtype columns to bools/scalars"
**Describe the bug**
We can't currently do equality comparisons on columns with Bool dtype against a Bool (True/False).

[code]

This also fails against a scalar/string (e.g., `df[df.a == 3]` fails).

A potential workaround is to cast the Series to be used for index to integers `df[df.a.astype(int) == 1]`, but pandas supports this so we should as well.

cc @galipremsagar

[2019-06-06 18:26] jrhemstad commented on #1943
CC @devavret

[2019-06-06 18:27] devavret commented on #1943
yep, I saw

[2019-06-06 18:31] beckernick commented on #1939
@galipremsagar can't assign you on the issue (not in the github group yet) but consider it assigned for all intents and purposes

[2019-06-06 18:47] beckernick commented on #1929
@faywang123 are you able to temporarily work around this issue by explicitly passing dtypes to the `dtype` argument when reading the file?

[code]

[2019-06-06 18:53] faywang123 commented on #1929
ok.
Also, I attached a second zip file in issue #1918 to indicate that this type issue does not always happen. Please also take a look.

[2019-06-06 18:54] quasiben opened #1945 "[BUG] Join Index Name Regression"
When joining dataframes the index name is no longer None but instead a random number.

In cudf 0.7.X the resulting index was None.

[code]

in branch-0.8 the index is a random number:

[code]

[2019-06-06 18:56] quasiben commented on #1903
This issue https://github.com/rapidsai/cudf/issues/1945 is an example of when cudf changes and dask-cudf tests have not caught up

[2019-06-06 20:31] galipremsagar commented on #1939
Sure, taken. Working on it.

[2019-06-06 20:57] VibhuJawa opened #1946 "[FEA] Drop_duplicates method"
**Is your feature request related to a problem? Please describe.**
Need a `drop_duplicates` method equivalent in cudf.

Link:
http://pandas.pydata.org/pandas-docs/version/0.17/generated/pandas.DataFrame.drop_duplicates.html

Example of doing this in pandas
[code]

Output:
[code]
**Describe alternatives you've considered**

Current work-around with non-string columns.

[code]
Output
[code]
**Additi

[2019-06-06 21:00] devavret commented on #1946
Drop this coz it's a duplicate of #1467

[2019-06-06 21:03] #1946 closed

[2019-06-06 21:14] faywang123 commented on #1929
Hit another roadblock:

  File "cudf_test_v5.py", line 15, in test_concat
    dfs = [cudf.read_csv(f,dtype_dict) for f in files]
  File "cudf_test_v5.py", line 15, in <listcomp>
    dfs = [cudf.read_csv(f,dtype_dict) for f in files]
  File "/home/fayw/conda/lib/python3.6/site-packages/cudf/io/csv.py", line 164, in read_csv
    index_col=index_col
  File "cudf/bindings/csv.pyx", line 44, in cudf.bi

[2019-06-06 21:15] mjsamoht commented on #1929
I can confirm that `dataTypeDetection()` incorrectly infers `ABCE-01` as date-time  We need to check how to improve the data type detection without significantly increase complexity (and lower performance).

[2019-06-06 21:34] faywang123 commented on #1929
@beckernick, How to resolve the encode issue?

[2019-06-06 22:05] quasiben commented on #1937
@harrism noted that this information is already available with `sizeof`

[2019-06-06 22:59] jrhemstad opened #1950 "[BUG] JitCache suffers from "static initialization order fiasco""
**Describe the bug**

There is a static, global `jitify::JitCache` object in `launcher.cpp`.
https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/binary/jit/core/launcher.cpp#L36

This is problematic for at least two reasons:
1. https://isocpp.org/wiki/faq/ctors#static-init-order
2. Is more subtle:
   - Constructing an instance of `jitify::JitCache` ultimately calls to `cudaFree(0)` to force i

[2019-06-07 00:05] VibhuJawa opened #1951 "[FEA] value_counts for StringColumn"
**Is your feature request related to a problem? Please describe.**

Need value_counts for StringColumn

[code]
Output
[code]
**Describe alternatives you've considered**
As a work around we can do `count agg` on groupbys .

**Additional context**
Add any other context, code examples, or references to existing implementations about the feature request here.

[2019-06-07 06:45] kovaltan opened #1953 "[ENH] iterator driven reductions"
At study of benchmarking iterator at PR #1833 (null supported iterator), `cub::DeviceReduce` using iterator may be 3x faster than current `cudf::reduction` which is implemented by custome kernel using `cub::BlockReduce` + `atomics`.

And also the when dtype of the column is GDF_INT8 or GDF_INT16, `cudf::reduction` can be 1500x slower than `cub::DeviceReduce` using iterator, it is due to there is m

[2019-06-07 07:28] harrism commented on #1953
Exciting!

[2019-06-07 07:33] #991 closed

[2019-06-07 07:33] #1871 closed

[2019-06-07 11:17] #1913 closed

[2019-06-07 11:19] #1373 closed

[2019-06-07 13:00] pentschev commented on #1937
Actually I now found a case where memory doesn't seem to match, here's a snippet for that:

[code]

The result I get:

[code]

It seems that `__sizeof__()` and `alloc_size` don't agree with each other, and both disagree with the actual memory being allocated? Of course, memory would not be _exact_, but it seems to take around 240MB, right in between both?

[2019-06-07 14:44] pentschev opened #1957 "Mismatching __sizeof__ and alloc_size results"
Mismatching results for `__sizeof__()` and `alloc_size` on `dask_cudf.core.DataFrame` partitions. The following snippet can be used to reproduce the issue:

[code]

The results I get are:

[code]

As we can see, `__sizeof__()` is double the size of `alloc_size`, and the latter matches that of the `cudf.DataFrame`, despite the overhead for actual allocated device memory in both `cudf` and `dask_cud

[2019-06-07 14:50] jlowe commented on #1904
Fixed by #1914.

[2019-06-07 14:50] #1904 closed

[2019-06-07 15:17] jlowe opened #1955 "[BUG] apply_boolean_mask filters for bool8 == 1 rather than != 0"
**Describe the bug**
`boolean_mask_filter` masks on the bool8 value having the exact value of `1` rather than checking if it is a non-zero value.

**Expected behavior**
`apply_boolean_mask` would filter based on the mask values being any non-zero value rather than only the value of `1`.

[2019-06-07 15:22] jrhemstad commented on #1955
Are you actually seeing errors from this?

While you're correct that it checks `data[i] == cudf::true_v`:
https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/stream_compaction/stream_compaction.cu#L39

`operator==(bool8,bool8)` is specialized to cast both arguments to a `bool`:
https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/utilities/wrapper_types.hpp#L377

So this should be providi

[2019-06-07 15:50] jlowe commented on #1955
No, I just ran across the stream_compaction.cu#L39 when looking into something else and it looked backwards to me.

Ah, I missed the operator overrides for bool8!  Thanks, sorry for the noise.

[2019-06-07 15:50] #1955 closed

[2019-06-07 16:07] shwina commented on #1943
Taking a look at this

[2019-06-07 16:14] pentschev commented on #1957
Well, I raised it here because the issue only happens in dask-cudf, cudf itself works fine.

[2019-06-07 16:52] deltadu opened #1958 "[BUG] Unable to index cudf.DataFrame with cudf.Series ( in docker rapidsai/rapidsai:cuda9.2-runtime-ubuntu16.04)"
Unable to index cudf.DataFrame with cudf.Series in rapids docker
The version is rapidsai/rapidsai:cuda9.2-runtime-ubuntu16.04

[code]
[code]

[2019-06-07 19:35] jlowe opened #1960 "[BUG] Parquet reader returns extra pandas index column if index column requested explicitly"
**Describe the bug**
If the caller specifies the name of the pandas index column in the list of columns to load then the Parquet reader will end up returning the pandas index column twice.  The first instance appears in the position it was requested in the caller's selection list.  The second instance appears as an extra column at the end.

**Steps/Code to reproduce bug**
Load a Parquet file that

[2019-06-07 19:44] jlowe opened #1961 "[FEA] Ability to load parquet files without the pandas index column"
**Is your feature request related to a problem? Please describe.**
The parquet loader always loads and returns the pandas index column if one is found in the parquet data, even when it was not requested by the caller.  When using libcudf in a non-pandas use-case, it would be nice to be able to load just the columns specified.

**Describe the solution you'd like**
An input flag specifying whether t

[2019-06-07 20:23] shwina commented on #1958
This should be fixed in cuDF 8.0 which you can try with the nightly containers:

https://hub.docker.com/r/rapidsai/rapidsai-nightly

[2019-06-07 20:25] faywang123 commented on #1929
any update?

[2019-06-07 20:52] revans2 opened #1962 "[BUG] gdf_unary_math does not check output type"
**Describe the bug**
`gdf_unary_math` blindly assumes that the output type and the input type are identical.  This is a requirement but there are no errors if you get it wrong, just possible memory corruption, and there is no documentation on it either.

This is especially confusing because the binary operations `gdf_binary_operation_*` have no such requirement.

**Steps/Code to reproduce bug**
Ca

[2019-06-07 20:56] devavret commented on #1962
The reason you don't see this for binary ops is because they were transitioned to JIT compilation while the unary ops stayed precompiled. But the check for dtype matching can be easily added, no problem.

[2019-06-07 20:58] RFinkelberg opened #1963 "[BUG] Assigning to dataframes using property syntax does not match pandas behavior"
**Describe the bug**
Pandas exposes both the getitem syntax and property syntax for accessing columns. Statements like `df['x']` and `df.x` are equivalent. This behavior is inconsistent in cudf. Specifically, setting a column with the property syntax breaks the underlying column reference when accessed using the same syntax.

**Steps/Code to reproduce bug**
[code]
The above works as intended, howe

[2019-06-07 21:39] shwina commented on #1963
I think more generally we don't support setting values in a Series/DataFrame yet. We're working on that and this will be one of the features to keep in mind as we add that functionality.

[2019-06-07 22:03] mjsamoht commented on #1815
No response in 10 days so I'm going to close this.  Feel free to reopen if the problem still reproduces with 0.8 top of tree.

[2019-06-07 22:03] #1815 closed

[2019-06-07 22:10] #1714 closed

[2019-06-07 22:10] #1901 closed

[2019-06-07 22:12] RFinkelberg commented on #1963
What do you mean by setting values? Because `df['x'] = ...` works fine.

[2019-06-07 23:43] j-ieong commented on #1960
Hrmm... I actually get an indexing error in this case, rather than a duplicate column.

@jlowe Can you post the `cudf.read_parquet` line with its arguments, along with all the column names in the data? Thanks!

[2019-06-07 23:48] jlowe commented on #1960
This is actually at the C++ layer. This is a non-Python use-case where the schema was auto-detected outside of cud’s and all of the columns were requested. I was surprised when more than all the columns came back.

[2019-06-07 23:49] deltadu commented on #1958
I tried the above code in nightly docker, but still received the same Error

Moreover, I tried a different way to create cudf.DataFrame and received a different Error. The reason for the error below seems to be that isintance(cudf.dataframe.series.Series, DeviceNDArray) returns False
[code]

[2019-06-07 23:58] j-ieong commented on #1960
Ah okay, that makes sense that I have different result using the Python interface. We'll see about deduplicating it.

[2019-06-08 00:40] kkraus14 commented on #1963
@shwina This is similar to a `__setitem__` with a series as the input as opposed to a scatter map which we definitely support against the DataFrame object. The issue here is for a generalized attribute setter that allows you to set columns of a dataframe.

[2019-06-08 03:59] kkraus14 commented on #1907
I would argue that handling large Python lists / tuples of strings isn't a case that we should spend effort optimizing. @randerzander any objections from your end?

If possible in your data source avoid creating Python lists and use a more efficient type like a PyArrow array if possible.

[2019-06-08 04:29] #1911 closed

[2019-06-09 15:58] #1941 closed

[2019-06-09 16:42] galipremsagar commented on #1936
Closing this issue as #1941 is fixed.

[2019-06-09 16:42] #1936 closed

[2019-06-10 11:55] devavret commented on #1950
This was fixed in #1245 https://github.com/rapidsai/cudf/pull/1245/commits/538ebe3ac51d52c260e3ecd2d388f6fecbba76b7#diff-c9a49624f72ccf3e05fbc58ec2920c5aR30

[2019-06-10 14:05] rjzamora opened #1968 "[FEA] Index initialization with null values"
**Is your feature request related to a problem? Please describe.**
Currently, cuDF dataframes and/or series cannot be initialized with an `index=` list containing null values ( e.g. `s = cudf.Series([1, 2, 3], index=[4, 5, None])`).

**Describe the solution you'd like**
The solution may just be to remove `assert values.null_count == 0` from the `GenericIndex` constructor [here](https://github.com/

[2019-06-10 15:38] jrhemstad opened #1970 "[BUG] Update C++ guide to avoid suggestion of using `std::tuple` for multiple return values"
**Describe the bug**
The [C++ transition guide ](https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/docs/TRANSITIONGUIDE.md#multiple-return-values) suggests using `std::tuple` to return multiple values from a libcudf API. However, Cython apparently doesn't support `std::tuple`.

**Expected behavior**
Update documentation to suggest using `std::pair` and note that functions will be limited to ret

[2019-06-10 16:09] jrhemstad opened #1971 "[BUG] `CSV_TEST` failing on current branch-0.8"
**Describe the bug**
The `CSV_TEST` Google Test is failing on the current `branch-0.8`:
[code]

**Steps/Code to reproduce bug**
Build libcudf from source and run `gtest/CSV_TEST`.

[code]

[2019-06-10 16:09] ivenzor opened #1972 "dask_cudf.read_csv memory usage in AWS Sagemaker"
Are there any plans to work with AWS to enable RAPIDS to be available out of the box within Sagemaker?

It would be useful to be able to start a Sagemaker instance with GPUs and then use RAPIDS the same way you can already use Dask for example.

[2019-06-10 16:41] jrhemstad commented on #1971
Resolved by updating my conda environment to get the latest `nvstrings-0.8`

[2019-06-10 16:41] #1971 closed

[2019-06-10 17:13] kkraus14 commented on #1468
`iloc[2]` is basically asking for the `2` integer location row. It's essentially a gather, but can return by view instead of by copy. This could technically run out of place by replacing the underlying array of the column as opposed to actually modifying the files in place.

[2019-06-10 18:02] quasiben commented on #1972
I believe when you launch sagemaker it comes with Anaconda installed so you should be able to install the rapids packages through conda:

[code]

[2019-06-10 18:52] thomcom commented on #1945
There is a good chance that this is related to https://github.com/rapidsai/cudf/pull/1850

[2019-06-10 19:15] trstovall opened #1974 "[FEA] Add `nunique` aggregation to Groupby.agg"
**Is your feature request related to a problem? Please describe.**
I wish to use cuDF to count unique visits partitioned over a particular grouping.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
[code]

**Additional context**
See [pandas.GroupBy.agg](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.core.groupby.GroupBy.agg.html#pandas.co

[2019-06-10 19:41] eyalroz opened #1975 "[BUG] Missing checks for (validly) empty include directories"
CMake does not like being given empty arguments for `include_directories` - even if other arguments are non-empty. It tells you (for example):
[code]
Now, in our `CMakeLists.txt`, it can happen that one (or more?) of the include directory variables is empty. Specifically if CUDA is installed under `/usr` (which it very well might be), we get an empty `CMAKE_CUDA_TOOLKIT_INCLUDE_DIRECTORIES`.

So,

[2019-06-10 20:05] devavret commented on #1468
@harrism Well, if the datatype of `a` was `int32` before, and then it changed it to `float64`, then this operation would need to be out of place. The element width has changed.

Although, personally I'd implement this with an out-of-place cast op and then an in-place `set_range`. I was just clarifying what @shwina meant.

[2019-06-10 20:12] jrhemstad opened #1976 "[FEA] `gdf_order_by` needs to be refactored"
**Is your feature request related to a problem? Please describe.**
`gdf_order_by` uses an old and difficult to use API that should be updated in accordance with the C++ guide: https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/docs/TRANSITIONGUIDE.md.

**Describe the solution you'd like**
The existing API should be refactored and extended into two new APIs:

[code]

[2019-06-10 20:12] devavret commented on #1970
I feel we should just enforce return structs. Makes for a much clearer intent, can hold anything, usage already demonstrated in CSV reader, not too difficult to write, won't clutter up `types.h` now that there's separate `hpp` headers for each functionality.

[2019-06-10 20:20] devavret commented on #1970
In fact, structs should even be used as input parameters to get around the C++ limitation of not being able to choose which optional parameters to pass. Kind of like kwargs of python land.

[2019-06-10 20:52] harrism commented on #1895
This would be implemented using a modification of `cudf::copy_if` that would take a second functor for generating the input rather than a column as input. e.g. a cross between `cudf::copy_if()`
https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/stream_compaction/copy_if.cuh#L276

and PR #1908's `cudf::copy_range()`.

[2019-06-10 22:34] kkraus14 commented on #1968
We could likely remove the assert, but we'd have to make sure that all of the functions that we are utilizing account for the null mask. You could try it and see if the unit tests pass?

[2019-06-10 22:38] jrhemstad opened #1980 "[FEA] Add a `cudf::transform` function"
**Is your feature request related to a problem? Please describe.**

It would be nice if libcudf provided a feature that allowed applying a Python user-defined `__device__` unary function against every element of a column.

**Describe the solution you'd like**

The UDF unary `__device__` function would be JIT compiled w/ Numba in Python, and then it's PTX will be passed into libcudf to be applied t

[2019-06-10 22:55] jrhemstad commented on #1970
I definitely don't want to require all APIs that wish to return multiple things to return a `struct`. Certainly there are times where it may be appropriate, and I do offer that as an option in the guide. However, a `struct` is far more heavy handed than what is usually necessary. Furthermore, it can encourage people to stuff way too much stuff inside of a `struct`.

[2019-06-10 23:55] #1367 closed

[2019-06-11 00:10] #1750 closed

[2019-06-11 00:22] #1970 closed

[2019-06-11 01:39] #1851 closed

[2019-06-11 13:46] rjzamora commented on #1968
Right - All existing unit tests pass, because none of them itialize dataframes/series with null index values.

[2019-06-11 14:19] kkraus14 commented on #1968
My concern is functions like `.loc` and joining against indexes likely don't handle null values right now.

[2019-06-11 14:28] #1732 closed

[2019-06-11 14:28] #1880 closed

[2019-06-11 14:31] kkraus14 commented on #1945
Fixed by #1982

[2019-06-11 14:31] #1945 closed

[2019-06-11 14:32] kkraus14 commented on #957
Fixed by #1956

[2019-06-11 14:32] #957 closed

[2019-06-11 14:32] kkraus14 commented on #1808
@devavret was this fixed in #1891?

[2019-06-11 14:37] devavret commented on #1808
No, this needs `gdf_scalar` to support string values. And that needs some discussion on how to do it. Do we also add `dtype_info` to `gdf_scalar`? And do we store an NVCategory object in it? Or do we store just a `char*` in the data union or as a separate member of `gdf_scalar`

[2019-06-11 15:04] shwina opened #1983 "[FEA] cudf directory reorganization"
cuDF can use a little bit of directory reorganization: specifically, many modules in `cudf/dataframe` could find better homes. For example:

* `buffer.py`, `column.py`, `columnops.py` etc., could be relocated to a `cudf.internals` (or better still `cudf._internals`) package. I'd propose something like:

[code]

* `multiindex.py` and `cudf/indexing.py` could be relocated to a new `cudf.indexing` pa

[2019-06-11 15:34] kkraus14 commented on #1951
The current implementation of `.value_counts()` is via a numba kernel, it may be better to just use a groupby under the hood for that in general.

[2019-06-11 15:37] nicolasburtey commented on #1972
Just tried it. I can confirm this works.

[2019-06-11 16:17] kkraus14 commented on #1798
@shwina was this resolved by #1855?

[2019-06-11 16:18] shwina commented on #1798
Yes

[2019-06-11 16:19] #1798 closed

[2019-06-11 16:28] ivenzor commented on #1972
Many thanks for your quick reply.  I will test this myself today.

[2019-06-11 17:34] kkraus14 commented on #1958
Looks like the error is in gathering the index, likely that the codepath in `index` doesn't handle a Series.

[2019-06-11 18:51] randerzander commented on #1907
@kkraus14 I think loading strings from memory will be somewhat common in streaming workloads.

What better approach would you suggest to someone pulling from some queue into host-memory before loading to cuDF?

[2019-06-11 18:52] ayushdg opened #1986 "[BUG] Parquet reader does not correctly identify all nulls"
**Describe the bug**
This is an example of what the behavior looks like (This is not an exact example).
On reading a parquet file pandas reads the data in a particular column as follows:
[code]
Cudf reads the same data as:
[code]

Parquet reader can identify some nulls properly, but it identifies some nulls as 0.0.

**Steps/Code to reproduce bug**
Don't have a reproducible example for generic data

[2019-06-11 19:47] VibhuJawa commented on #1907
So seems like `nvstrings` just casts  `numericals` as `nones` while `pandas`/`StringArrow` way casts the `numerical dtypes` into `strings` .

[code]
Ouput:
[code]

[2019-06-11 21:44] #1916 closed

[2019-06-11 23:28] j-ieong commented on #1885
Yeah I can't repro either :cry:

@eyalroz Is the stacktrace from a debug build? If not, could you get one from a locally built debug so it shows the line number and arguments to `select_columns`, like so:
[code]
Thanks!

[2019-06-12 03:02] efghnouz opened #1988 "Illegal instruction (core dumped)"
I followed rapids.ai/start.html tried cuDF and try import cudf but shows "illegal instruction (core dumped). I have GT 1030 on board.

[2019-06-12 04:19] #1653 closed

[2019-06-12 04:51] kkraus14 commented on #1907
When you say pulling from some queue into host memory, what type of Python object are you creating in host memory? My thought is that it's typically not a Python list as that would be relatively inefficient to create from any kind of in-memory representation. If we have to handle Python lists more efficiently then we can try to do so, but it will be a non-trivial task.

[2019-06-12 14:20] devavret commented on #1988
Can you please paste every command you ran, including the terminal output. Can you also paste the output of `print_env.sh`. You can find it in the root of the repository.

[2019-06-12 17:30] randerzander commented on #1561
@thomcom was this closed by one of the multi-index PRs?

[2019-06-12 18:00] thomcom commented on #1561
No, this issue persists.

[2019-06-12 18:01] thomcom commented on #1561
It turns out at the time it was hard to add it to the core PR. It is still hard.

[2019-06-12 19:17] randerzander opened #1989 "[BUG] Rendering for Groupby.apply_grouped example broken"
**Describe the bug**
https://rapidsai.github.io/projects/cudf/en/0.8.0/api.html#cudf.groupby.legacy_groupby.Groupby.apply_grouped

The example appears here as a string of unformatted text, as oppposed to the normal syntax highlighted in other examples.

[2019-06-12 19:54] eyalroz commented on #1885
@j-ieong , @kkraus14  : (Un)fortunately, I can no longer reproduce, since I installed a new distribution. I now use Devuan Beowulf, with the distribution-packaged CUDA, and other than a CMake issue (#1975 ) which I worked around - I can build and install and run `py.test` - with no segmentation faults. I get a bunch of XFAILs though.

[2019-06-13 00:08] #1434 closed

[2019-06-13 03:03] efghnouz commented on #1988
I am frustrated with ubuntu. I am trying centos now but the installation is slow.

[2019-06-13 04:38] nicolasburtey commented on #1972
Actually, that doesn't work. I have cudaErrorNoKernelImageForDevice error.
I guess this is because the driver is set at Driver Version: 418.40.04
Not sure if there is an easy way to update the driver on Sagemaker.

[2019-06-13 05:57] lk1983823 opened #1992 "[QST] NvvmSupportError: libNVVM cannot be found. Do `conda install cudatoolkit`: /usr/local/cuda-9.0/nvvm/lib64/libnvvm.so"
I have an pyenv created before and conda installed cudf, using "conda install -c defaults -c nvidia -c rapidsai -c pytorch -c numba -c conda-forge \cudf=0.7 cuml=0.7 python=3.6 cudatoolkit=10.0", which automatically installed cudatoolkit 10 again. (I have installed cuda-10 and cudnn 7.6.0 in my ubuntu16.04 x86_64.)
When I run
df = cudf.DataFrame({'a':range(nelem),
                     'b':range(50

[2019-06-13 07:23] #1992 closed

[2019-06-13 14:00] beckernick opened #1994 "[BUG] Query returns null values when dataframe is not constructed from pandas"
If we create the gpu dataframe using `from_pandas`, it works as expected, but if we create the gpu dataframe directly, we return nulls in some cases.

It appears to be sensitive to interaction of the location of the nulls and the conditional expression:

[code]
[code]

[code]

[code]

Caveat: I'm in the nightly container from dockerhub, which is two days old

[2019-06-13 14:04] beckernick commented on #1994
Update: This is expected behavior, but we should have a guard against this.

[2019-06-13 14:18] efghnouz commented on #1988
![page1](https://user-images.githubusercontent.com/51100800/59440178-866e6900-8dc4-11e9-9f0e-dff3452cb111.png)

[2019-06-13 14:18] efghnouz commented on #1988
![page2](https://user-images.githubusercontent.com/51100800/59440223-98500c00-8dc4-11e9-976d-1dd7a279935a.png)

[2019-06-13 14:18] efghnouz commented on #1988
![page3](https://user-images.githubusercontent.com/51100800/59440240-9e45ed00-8dc4-11e9-90ff-4673ad340c8c.png)

[2019-06-13 14:18] efghnouz commented on #1988
![page4](https://user-images.githubusercontent.com/51100800/59440248-a30aa100-8dc4-11e9-9bb1-d5176a62a7f0.png)

[2019-06-13 14:36] #1939 closed

[2019-06-13 16:51] efghnouz commented on #1988
I just tried docker from RAPIDS Release Selector. I try to run DBSCAN_Demo_full.ipynb under tutorial. No luck.

The problem is at cuda or driver install. I guess.

But demo show cuda 10.1 driver 418.67 which is no difference.

[2019-06-13 18:35] #1943 closed

[2019-06-13 19:21] #1935 closed

[2019-06-13 20:20] kkraus14 commented on #1989
Fixed by #1990

[2019-06-13 20:20] #1989 closed

[2019-06-13 22:46] #1986 closed

[2019-06-13 23:35] jrhemstad opened #1997 "[BUG] `lhs` and `rhs` for `cudf::binary_operation` should be `const&`"
The `lhs` and `rhs` input arguments for `cudf::binary_operation` should be made `gdf_column const&` instead of `gdf_column*`.

Looks like when the APIs were updated, this change slipped by.

See https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/docs/TRANSITIONGUIDE.md

[2019-06-14 03:46] thomcom opened #1999 "[BUG] RangeIndex is passed into a MultiIndex groupby, breaking dask-cudf"
This bug cross references https://github.com/rapidsai/dask-cudf/issues/273.
The level argument is used on a non-MultiIndex dataframe in the internals of dask, causing an error. When the same operation is attempted in cudf, it succeeds.

It is straightforward to debug dask-cudf to see the meta-dataframe that is being used during this error and hopefully correct it.

[2019-06-14 11:14] karthikeyann opened #2000 "[BUG] DataFrame.iloc crashes for string column with None"
**Description of the bug**
When list is passed to DataFrame.iloc for dataframe with string column with None, it crashes.

**Steps/Code to reproduce bug**
[code]

**Crash Error:**
terminate called after throwing an instance of 'thrust::system::system_error'
  what():  parallel_for failed: invalid device pointer
Aborted

**Expected behavior**
Result of both `print(df.iloc[range(8)])` and `print(df.i

[2019-06-14 13:18] thomcom commented on #1801
This is fixed by #1542

[2019-06-14 13:20] thomcom commented on #1740
Fixed by #1542

[2019-06-14 13:46] thomcom commented on #1889
Nick when it is convenient can you validate that this is fixed and close it?

[2019-06-14 13:52] thomcom commented on #489
@mrocklin I made some improvements to your original submission at https://github.com/rapidsai/cudf/pull/624 and it is nearly ready to be merged. It handles nulls in integer columns now by substituting the new Integer datatype during printing, but I'm not sure what else is required. I'll spend more time on this if possible before 0.8 ships since it has made it into P2.

[2019-06-14 13:53] thomcom commented on #489
For the record @ericmjl if you simple call `gdf.to_pandas()` you can easily render it in Jupyter notebooks or elsewhere rendering is supported by Pandas.

[2019-06-14 13:54] thomcom commented on #1958
Looks like it is working as of today.

[2019-06-14 14:03] mrocklin commented on #489
Great news!  I'm curious, is there a PR somewhere where I can see your work?

[2019-06-14 14:13] kkraus14 commented on #1958
Great, @deltadu could you try with the latest nightlies if possible?

[2019-06-14 16:29] trxcllnt opened #2002 "[BUG] Test run ends with rmm thrust::system::system_error"
**Describe the bug**
Test runs via `py.test -v -x` in the Dockerfile from a fresh check out ends with the following error:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The tests should complete normally.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: from source

<details>
<summary>Environmen

[2019-06-14 17:42] deltadu commented on #1958
I pulled the nightly docker image, but still experiencing the problem, below is how I did it (please let me know if I missed something):
[code]

One the other hand, while I pulled rapidsai-nightly, a subsidiary docker image pataylor/rapidsai/cudf was pulled and **I am able to do cudf.Series indexing in that docker** after 'source activate cudf'

[2019-06-14 20:00] taureandyernv opened #2004 "[BUG]Query silently fails on creating large subset dataframes from original large dataframe - probably out of memory?"
I'm using today's nightly and dual titan RTXs on ubuntu 16.04, python 3.7.  Dataset is about 8GB, most of the data is in 2010.

If I create a dataframe for 2010 using query using the example below, it succeeds.  If i create a dataframe for 1980 using a similar query, it succeeds.  If i try to do both, in either order, the second query never finishes.  There is no error or stack trace.  It just say

[2019-06-14 21:14] RFinkelberg opened #2007 "[BUG] `cudf::scatter` does not correctly preserve bitmask of destination"
**Describe the bug**
When using the `cudf::scatter` python bindings to scatter an input column containing null values, the null mask is not properly transferred to the output column.

**Steps/Code to reproduce bug**
[code]
We want to change the first two values to `10` and `None`, giving us `[10, None, None, 4]`
[code]
Instead of only replacing the first two values, the entire remainder of the ser

[2019-06-14 21:20] beckernick opened #2008 "[BUG] Can't pass StringMethods object to string methods"
Not too pressing, but cuDF should either allow users to use `.str` methods on the `.str` StringMethods object, or raise an informative error. This is possible in pandas. We fail silently.

[code]

[2019-06-14 21:24] beckernick opened #2009 "[BUG] StringMethods don't maintain column name metadata"
cuDF string methods currently don't keep track of the column name attribute of the initial column. Pandas string methods do maintain this.

https://github.com/rapidsai/cudf/blob/dff2b20fc4a680ce148477f4159041a655e05aaa/python/cudf/dataframe/string.py#L56

[code]

[2019-06-14 21:26] jrhemstad commented on #2007
Okay, so we've got:
[code]

I'll see if I can reproduce in C++.

[2019-06-14 21:37] RFinkelberg commented on #2007
Thanks, let me know if you need any more information. For the record, everything works if source doesn't contain any nulls

[2019-06-14 21:46] jrhemstad commented on #2007
Confirmed that this happens purely in C++ as well. To reproduce:
[code]

[2019-06-14 22:02] jrhemstad commented on #2007
Well, found the problem:

https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/copying/scatter.cu#L98

We're zeroing out the destination's bitmask. I'm sure I had a good reason to do that, there's even a comment telling me to make sure to do it... just can't remember why :D

[2019-06-14 22:05] jrhemstad commented on #2007
@hummingtree will fix this as he tackles https://github.com/rapidsai/cudf/issues/1677, but it won't be done until next release.

[2019-06-15 17:23] kkraus14 commented on #1988
@efghnouz Looks like you have CUDA 10.1 installed in your host machine which we don't support yet (reported by nvcc).

The driver you have should be sufficient and with the docker container it should use either CUDA 10.0 or CUDA 9.2 which should work.

@harrism Do you know of any CUDA limitations with the GT 1030 that could potentially cause issues?

[2019-06-15 17:26] #1999 closed

[2019-06-15 17:31] kkraus14 commented on #2004
Is there any way you can create a minimal reproducer? I don't really have anything to go on here to try to debug this.

[2019-06-15 18:28] kkraus14 commented on #1885
@eyalroz XFAILS are expected failures in the tests that we've marked as such. Sounds like you're good to go so going to close the issue.

[2019-06-15 18:28] #1885 closed

[2019-06-16 17:11] taureandyernv commented on #2004
Spent a good bit of time trying to figure out where things truly fail, as it was part of a work flow.  Sorry for keeping you all in suspense.  There is no minimal reproducer in terms of dataset, so i uploaded and linked the data set and added the sample code

[2019-06-16 23:54] harrism commented on #1988
Not that I know of.

(BTW, in the future, please paste the text output of `print_env.sh`, not screenshots. :)

[2019-06-17 02:22] efghnouz commented on #1988
If you can not identify problem, shut up. Copy and paste may not be appropriate especially for nvidia-smi result.

I guess nvidia invest resource to rapids ai though it is open source project.
But the technical document really sucks. Nvidia/nvidia-docker instructions apparently does not work but no update.
Nvidia should hire somebody fix these things.

[2019-06-17 06:43] harrism opened #2013 "[BUG] binaryops.cpp should call gdf_column_free to free temporary columns"
This TODO can be resolved by calling `gdf_column_free`, which would replace all of the lines in the following excerpt:
https://github.com/rapidsai/cudf/blob/6e272375d474daad49d6b5507225ec54b89e1bc2/cpp/src/binaryop/binaryop.cpp#L260-L270

Assigning @devavret

[2019-06-17 07:06] kovaltan commented on #1762
Hi @harrism ,

What are the required combination of input and output dtypes for `mean`, `var`, `std`?
I assume:

Required input dtypes : arithmetic types + cudf:bool8
Required output dtypes: arithmetic types

Do we need cudf:bool8 and integer types for output dtypes?

[2019-06-17 10:40] harrism commented on #1762
Seems like output should only be floating point types? I can't see any way to get an integer result from `mean()` in pandas, for example, even with integer inputs.

@kkraus14 @randerzander do you have any requirements for data type support for `mean`, `var`, `std`?

[2019-06-17 12:57] muellren commented on #1988
Going out on a limb here but I think the problem is not the GPU but rather your CPU.
libcudf.so from the container image requires SSE4.1 and it appears from your second screenshot that your AMD Phenom does not support that.

[2019-06-17 13:08] efghnouz commented on #1988
Thank you.

[2019-06-17 13:31] #1988 closed

[2019-06-17 14:09] kkraus14 commented on #1762
Float64 is the expected dtype of the output

[2019-06-17 14:11] #1561 closed

[2019-06-17 17:20] thomcom commented on #489
The PR is your original PR, I've been pushing to mrocklin/repr-html :)

[2019-06-17 17:25] RFinkelberg opened #2014 "[FEA] Add support for clipping values in a Series"
**Is your feature request related to a problem? Please describe.**
It would be nice to have built in functionality to clip values in a dataframe to some min/max

**Describe the solution you'd like**
A pandas-like `Series.clip`, such that if
[code]
then `s` now contains `[0, 0, 2, 3, 4, 10, 10]`

**Describe alternatives you've considered**
A current workaround is to use `Series.applymap`, i.e
[code

[2019-06-17 17:52] jrhemstad commented on #2014
This could be a great candidate for @hummingtree working on https://github.com/rapidsai/cudf/issues/1980

[2019-06-17 18:32] devavret commented on #1980
It'd be great if those PTX can be cached using JitCache. But that would mean JitCache would have to allow caching pre-compiled PTX.

[2019-06-17 20:59] ivenzor commented on #1972
As far as I know the driver version requirement for Cuda 10 is 418.40.04, so it should work with the driver version you mentioned.

I did some testing and it's working for me after conda install.

_import cudf
df = cudf.DataFrame()
df['key'] = [0, 1, 2, 3, 4]
df['val'] = [float(i + 10) for i in range(5)]  # insert column
print(df)

   key   val
0    0  10.0
1    1  11.0
2    2  12.0
3    3  13.0
4

[2019-06-17 21:07] ivenzor commented on #1972
Something is wrong with cuml:

terminate called after throwing an instance of 'MLCommon::Exception'
  what():  Exception occured! file=/conda/envs/gdf/conda-bld/libcuml_1557509586353/work/cuML/external/ml-prims/src/linalg/cutlass_wrappers.h line=380: FAIL: call='cudaPeekAtLastError()'. Reason:no kernel image is available for execution on the device

[2019-06-17 22:22] kkraus14 commented on #1870
Fixed by #1812

[2019-06-17 22:22] #1870 closed

[2019-06-18 03:03] galipremsagar opened #2023 "[BUG] RuntimeError in cuio_common.cpp while reading a non ".csv" extension file"
I'm on the latest nightly of cudf. I'm getting below RuntimeError when I try reading a csv.

My code:
[code]

Output:
[code]

The same code ran correctly until I deleted my container and installed a new one along with all nightly packages.

For reference, the below is the discussion on this bug in a previous dask thread #281(https://github.com/rapidsai/dask-cudf/issues/281)
**Comment 1:**

Yep the

[2019-06-18 03:57] harrism commented on #1727
Not going to make it for 0.8, sorry.

[2019-06-18 03:58] harrism commented on #1761
moving to 0.9

[2019-06-18 03:59] harrism commented on #1346
Moving to 0.9.

[2019-06-18 06:45] harrism opened #2024 "[BUG] nvcategory_util sync_column_categories doesn't respect valid mask"
**Describe the bug**
sync_column_categories does not copy the valid mask from the input to the output columns. This means that correct usage requires manual copying of the valid mask and null_count, as in this lovely sequence:

https://github.com/rapidsai/cudf/blob/1ebf10fb9fac6b1f9efe05a31c2d1f220d77cefa/cpp/src/join/joining.cu#L510-L520

**Expected behavior**
The entire columns should be synchro

[2019-06-18 09:21] slfs007 opened #2025 "[BUG]"
**Describe the bug**
 cudaErrorNoKernelImageForDevice no kernel image is available for execution on the device

**Steps/Code to reproduce bug**

`import numpy as np
import cudf

# Both import methods supported
from cuml import LinearRegression
from cuml.linear_model import LinearRegression

lr = LinearRegression(fit_intercept = True, normalize = False, algorithm = "eig")

X = cudf.DataFrame()
X['c

[2019-06-18 09:23] slfs007 commented on #2025
detail err log:
[details_log.txt](https://github.com/rapidsai/cudf/files/3300791/details_log.txt)

[2019-06-18 12:50] jrhemstad commented on #2025
You're running on a Tesla K40, which is the Kepler line of architecture. The oldest GPU architecture we support is Pascal.

[2019-06-18 12:50] #2025 closed

[2019-06-18 12:57] #1193 closed

[2019-06-18 12:57] #1950 closed

[2019-06-18 13:03] #1560 closed

[2019-06-18 14:30] ivenzor commented on #1972
Perhaps this issue is due to Cuda 10.1 being used by Sagemaker instead Cuda 10.0?

[2019-06-18 14:54] j-ieong commented on #2023
Assign myself, as some IO team members are away.

[2019-06-18 15:20] kkraus14 commented on #1958
I'm digging in on . this, thanks for the reproducer!

[2019-06-18 15:31] jrhemstad commented on #1972
What GPU are you running on?

[code]

This error means you're trying to run on a GPU that doesn't support the architecture the binary was compiled for.

[2019-06-18 15:51] ivenzor commented on #1972
K80

[2019-06-18 16:01] kkraus14 commented on #1958
@deltadu I'm unable to reproduce this on a fresh build from source using the exact code you put above so I believe it's resolved. It looks like the nightly containers haven't been built in a few days, but when they build this issue should be resolved.

[2019-06-18 16:16] deltadu commented on #1958
@kkraus14
Ok, I got it. Thank you very much for trying to reproduce the failure!
Is it possible for you to also pull a nightly docker from dockerhub and try the code on it, since it worked well on Nick's machine with an image that he built from source, but failed on my machine with an image pulled from docker hub.
If it works well on a pulled nightly image on your machine, it is probably something

[2019-06-18 16:36] ivenzor commented on #1972
I tested again with a V100 and it seems it's working now.

_import cuml
df_float = cudf.DataFrame()
df_float['0'] = [1.0, 2.0, 5.0]
df_float['1'] = [4.0, 2.0, 1.0]
df_float['2'] = [4.0, 2.0, 1.0]
dbscan_float = cuml.DBSCAN(eps=1.0, min_samples=1)
dbscan_float.fit(df_float)
print(dbscan_float.labels_)

0    0
1    1
2    2
dtype: int32_

[2019-06-18 16:52] jrhemstad commented on #1972
A K80 is a Kepler GPU. The oldest architecture RAPIDS supports is Pascal.

[2019-06-18 16:56] ivenzor commented on #1972
Altough the "no kernel image is available for execution on the device" error is solved, I still can't read a csv file on s3. It works when using pandas read_csv, but cudf.read_csv fails with the following exeption:
FileNotFoundError

Is there any special procedure to read csv files on s3?

[2019-06-18 17:16] galipremsagar opened #2029 "[BUG] performance overhead of converting NVStrings to NVCategory before passing to libcudf"
**Describe the bug**
I currently have operations such as string replace / assign / concat in my dask-cudf code and looking at the task-graphs I find that there is significant amount of time being spent while allocating mask & `cpp_apply_boolean_mask`. This attributes to roughly 4 mins of my entire run. The entire run takes about 9 minutes.

**Steps/Code to reproduce bug**
Here are the snaps of the

[2019-06-18 17:23] #1960 closed

[2019-06-18 18:17] galipremsagar commented on #2029
Updating with `nvcategory.from_strings` call which takes considerable amount of time::
![image](https://user-images.githubusercontent.com/11664259/59708975-6f1beb00-91cb-11e9-8d44-a60b3a35a5ff.png)

[2019-06-18 18:29] kkraus14 commented on #2029
@galipremsagar can you share the profile html here for us to investigate? Is the code sensitive where it can't be shared publicly?

[2019-06-18 19:50] galipremsagar commented on #2029
@kkraus14, Yes, code and data are sensitive and can't be shared publicly. Shared the profile html with you over slack because of a possible doubt of call stack too getting exported as part of a json in the html file.

[2019-06-18 20:48] kkraus14 commented on #1958
Closing this as it's working in conda + source, please reopen if it doesn't work in a new container once it's published.

[2019-06-18 20:48] #1958 closed

[2019-06-18 20:53] trstovall opened #2285 "`dask/cudf` runs OOM and core dumps on operations following `GroupBy.agg`"
[code]

[2019-06-18 22:15] devavret opened #2035 "[BUG] Compiling tests is slow because of `cudf_test_utils.cu`"
**Describe the bug**
Tests take a long time to compile because of one common source file `cudf_test_utils.cu` that is compiled for each test.

**Steps/Code to reproduce bug**
Compile libcudf from source

[2019-06-18 22:17] jrhemstad commented on #2035
Yeah, as we grow the number of testing utilities, we should probably create a separate library of test utilities to build once and link against for all tests.

@williamBlazing has actually expressed a desire for something like this in the past so that they could re-use our testing utilities in Blazing code.

[2019-06-18 22:21] jrhemstad commented on #2035
Well you beat me to it! Great minds think alike! :smile:

[2019-06-18 22:23] devavret commented on #2035
I only created this issue only for bureaucratic reasons.

[2019-06-18 23:00] #1576 closed

[2019-06-18 23:00] #1792 closed

[2019-06-19 00:55] harrism commented on #1099
I think we should leave this open since orderby is still the long pole in compilation time.

Is it possible to reduce the type combinations supported somehow? Presumably it is slow because there are a lot of type template combinations, but, for example, do some combinations not make sense to support?

[2019-06-19 00:55] harrism commented on #1099
Moving to 0.9.

[2019-06-19 00:59] harrism commented on #1751
Moving to 0.9

[2019-06-19 01:53] harrism commented on #1417
@kovaltan can you comment on whether this is still an issue?

[2019-06-19 01:54] harrism commented on #1344
Moving to 0.9

[2019-06-19 02:27] harrism commented on #1248
I believe 49a44f1c437dab88ca08a7b70d5a4c18d8dc4611 fixed this.

[2019-06-19 02:27] #1248 closed

[2019-06-19 02:46] kovaltan commented on #1417
Yes, this is still an issue.
Example:

[code]
The result:
[code]

[2019-06-19 02:53] #2023 closed

[2019-06-19 03:36] kovaltan commented on #1762
@harrism
Kraus pointed float64 is enough for python.
How about C++ interface?
I'm implementing like this: `cudf::reduction(col, op=GDF_REDUCTION_STD, dtype=GDF_FLOAT64)`
Do we force `dtype=GDF_FLOAT64` for `STD`, `MEAN`, `VAR`? then throw exception if `dtype != GDF_FLOAT64`
Or accepts any dtype, but treat it as GDF_FLOAT64 in the function?

[2019-06-19 04:01] harrism commented on #2002
Not likely an RMM issue. Remember that often uncaught previous exceptions / CUDA errors end up being reported when RMM checks for errors...  Likely due to improper error checking elsewhere.

[2019-06-19 04:58] harrism commented on #1762
I think in C++ we should accept any convertible floating point type for the output of std, mean, or var.  E.g. if the input columns are float32, then it should be legal to request the result is float32.

If they request an int or non-arithmetic type, throw an exception with helpful `what()` string (e.g. "Unsupported output data type" or something).

[2019-06-19 05:11] kovaltan commented on #1762
Okay, I will use `std::is_floating_point`
Thanks,

[2019-06-19 06:18] #1467 closed

[2019-06-19 11:52] devavret commented on #1729
Is this fixed by #1998?

[2019-06-19 12:51] jrhemstad commented on #1729
Yep!

[2019-06-19 12:51] #1729 closed

[2019-06-19 14:10] vnkesarwani commented on #1775
Any Comment on that.

[2019-06-19 14:34] ivenzor commented on #1972
I will try with dask_cudf.read_csv

[2019-06-19 15:51] #1514 closed

[2019-06-19 17:21] taureandyernv commented on #1426
@harrism, @mrocklin here is an interesting case where this lack of feature causes an error: dask-cudf allows a sample function to go through, and since it computes sample through cudf, it errors out saying we get this:

[code]
throws no error.  When running in the next cell
[code]
you get the error (only showing the relevant parts of the trace):
[code]
See, it goes to cudf for sample.

If you run

[2019-06-19 17:25] taureandyernv commented on #1426
@miguelangel, @randerzander just told me about a new train test split function in cudf.  https://github.com/rapidsai/cuml/blob/branch-0.8/python/cuml/test/test_train_test_split.py.  Can't find it in the docs, so I was green lit to make a feature request issue about that :)

[2019-06-19 17:27] jrhemstad commented on #1426
Looks to be a duplicate of https://github.com/rapidsai/cudf/issues/1879

[2019-06-19 17:46] beckernick commented on #1426
@taureandyernv your original and comment example errors are expected behavior. `sample` exists as a dask method, but we haven't implemented it in cuDF. As a result, the error only occurs when the `getattr` tries to grab the non-existent `sample` method in cuDF. Dask looks for the `sample` method on the dask dataframe and finds it.

When you call `ddf.test()`, dask looks for a `test` method on the

[2019-06-19 17:53] miguelangel commented on #1426
Hi @taureandyernv,

Yes! Train_test_split might be a nice workaround for this functionality.

Hi @jrhemstad, I agree. #1879 is a duplicate of this feature request. Should #1879 be closed and refer to this issue, which was submitted first?

[2019-06-19 18:45] jrhemstad commented on #1879
Closing as a duplicate of https://github.com/rapidsai/cudf/issues/1426

[2019-06-19 18:45] #1879 closed

[2019-06-19 18:52] mjsamoht opened #2043 "[FEA] Add memory buffer input support to ORC/Parquet readers"
ORC/Parquet readers currently only accept file names as input.  We need support for memory buffer input where the bytes of a complete ORC/Parquet file are passed in as buffer.

Note:  There is no need to support processing of byte ranges.

[2019-06-19 20:03] galipremsagar opened #2045 "[BUG] quantile API mismatch with pandas"
**Describe the bug**
We seem to have a parameter mismatch for `quantile` method of cudf & pandas.

pandas:
`DataFrame.quantile(q=0.5, axis=0, numeric_only=True, interpolation='linear')`

Cudf:
`DataFrame.quantile(self, q=0.5, interpolation='linear', columns=None, exact=True)`

**Steps/Code to reproduce bug**

This set of code works with pandas & dask

[code]
output:
[code]

But fails in dask cudf

[2019-06-19 20:14] OlivierNV commented on #2043
Looks like the cpp end already supports it, but it needs to be added to the python/cython layer.

[2019-06-19 22:09] deltadu commented on #1958
I finally found the issue: the rapidsai/rapidsai-nightly images still includes v0.7 of cudf, although the image tag is 0.8. Rick said the problem will be solved soon.

I pulled a internal image, everything works now

[2019-06-19 22:10] galipremsagar opened #2046 "[BUG] RuntimeError in cpp_apply_boolean_mask when there is empty dataframe - dependency for dask-cudf"
**Describe the bug**
We currently don't seem to be handling empty dataframe during boolean masking.

**Steps/Code to reproduce bug**

[code]

output:
[code]

**Expected behavior**
Expected behavior is to return an empty dataframe as it happens in pandas.

[code]
output:
[code]

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF in

[2019-06-19 23:04] jeanp413 opened #2048 "[FEA] Sorted merge"
Is your feature request related to a problem? Please describe.
For distribution requirements, it is needed to merge two sorted tables into one sorted table containing data from both tables.

Description sorted_merge
Merges two sorted tables (including null values) into one sorted table containing data from both tables.

Example

input:
table 1:
col 1 {0, 1, 2, 3}
col 2 {4, 5, 6, 7}
table 2:
col 1

[2019-06-19 23:11] jeanp413 commented on #2048
closing this as duplicate of #1344

[2019-06-19 23:12] #2048 closed

[2019-06-20 00:18] taureandyernv commented on #1426
@miguelangel, I just used it for my new notebook and it seemed to have worked great.  I DO however still require sample(), as I have to do some data reduction for a portion of my dataset.

[2019-06-20 03:12] harrism commented on #1426
@cjnolet left this comment on the now closed #1879: https://github.com/rapidsai/cudf/issues/1879#issuecomment-497710282

[2019-06-20 03:36] #2035 closed

[2019-06-20 05:05] randerzander opened #2052 "[FEA] Add timedelta dtype"
I want to compute elapsed time between two datetime columns. In Pandas I would do:
[code]
and the result would be a timedelta dtype.

In cudf you can't subtract one datetime column from another due to lack of binary operator support for datetimes.

Workaround, but leaves the user to write the basic calculations for converting delta units to seconds, minutes, hours, etc:
[code]

The workaround for

[2019-06-20 14:13] #2046 closed

[2019-06-20 15:52] kkraus14 commented on #1722
Seems like Pandas can't handle this object either:
[code]

It looks like you're generating a 1d array and when viewing it as a record array it still stays as a 1d array instead of a 2d array. Given it doesn't work in Pandas either and it's a very extreme edge case I'm going to say this is a wontfix situation and that raising an exception is the right behavior.

[2019-06-20 15:52] #1722 closed

[2019-06-20 15:57] kkraus14 commented on #2045
@galipremsagar do you want to tackle this?

[2019-06-20 16:00] galipremsagar commented on #2045
@kkraus14 , Yepp I'll take it up. In the first place after doing a parameter fix there seems to be an exception coming up at another level of call stack. In the first glance to me it looked like a shape or dimension issue. But I'll take this up and fix it.

[2019-06-20 16:59] beckernick opened #2056 "[BUG] Groupby should raise a KeyError when a non-existent column name is passed"
Currently, calling `df.groupby(col)` generates the groupby object even if the key isn't present in the dataframe's columns. This makes sense with our implementation, but could confuse users who will only see the error downstream.

We should consider implementing a guard that checks if the passed value(s) are in the list of columns.

[code]

[2019-06-20 17:15] #1063 closed

[2019-06-20 17:57] beckernick opened #2058 "[DOC] apply_grouped kernels require function argument to match column name"
Currently, it looks like our `apply_grouped` method requires explicit correspondence between the arguments to the UDF and the column name it's operating on. We should work to eliminate that requirement, but in the meantime we should make this more clear in the documentation. It's not obvious from looking at https://rapidsai.github.io/projects/cudf/en/0.8.0/api.html#cudf.groupby.legacy_groupby.Grou

[2019-06-20 20:33] mjsamoht opened #2060 "[FEA] GPU accelerated Avro reader"
Implement GPU accelerated JSON/Avro reader.

[2019-06-20 21:47] j-ieong commented on #1929
The way to go about this issue is probably to align our behavior with PANDAS. That is, default return the dates as strings unless `parse_dates` is set.

When the current behavior was implemented, strings were not supported yet so we always inferred and parsed datetime data. Now, we can optionally parse and possibly also support `keep_date_col`.

[2019-06-21 01:20] randerzander opened #2062 "[FEA] cudf.read_csv and other readers should support reading from a URL"
With pandas, I can read a CSV (or other filetypes) directly from a URL as opposed to a file on disk.

[code]

It would be nice to be able to do the same thing in cudf instead of having to first download the file or read it into a StringIO object.

[2019-06-21 02:08] #1668 closed

[2019-06-21 02:53] Polarbeargo opened #2064 "[BUG] rapidsai-nightly/label/cuda10.0 cudf.fillna(0) fail"
**Describe the bug**
I use cudf 0.8 rapidsai-nightly/label/cuda10.0 as i implement
`df.fillna(0)` encouter
`/databricks/python/lib/python3.6/site-packages/numba/cuda/compiler.py:234: UserWarning: Could not autotune, using default tpb of 128
  warnings.warn('Could not autotune, using default tpb of 128')
TypeError: fill_value must be a string or a string series`

**Steps/Code to reproduce bug**
![8

[2019-06-21 03:01] kkraus14 commented on #2064
It looks like you have some string dtype columns which can't just be filled with `0` naively. Pandas uses Python objects under the hood whereas we use an actual UTF8 string type.

[2019-06-21 03:02] kkraus14 commented on #2064
@randerzander @beckernick any views on how this should best be handled from your perspective? Would you expect it to fill with `"0"` or throw an error as it currently does?

[2019-06-21 04:02] harrism commented on #1417
Moving to 0.9.

[2019-06-21 04:45] randerzander commented on #2064
IMO it's best to keep it an error as is.

This feels like one of those places where automatic type conversion (0 -> "0") is highly likely to induce confusion downstream.

Consider the scenario where CSV dtype inference reads a string when the user expected numerics. Prior to running some algorithm, they do:
```for col in df.columns: df[col] = df[col].fillna(0)```

At best, simple numeric operators

[2019-06-21 05:25] galipremsagar opened #2065 "[BUG] cudf groupby doesn't seem to handle empty dataframe - dependency for dask"
**Describe the bug**
In dask-cudf when we do groupby on an empty data-frame present in a partition we should return return an empty data-frame instead there seems to be a `None` which is being propagated in code and not handled correctly which is resulting in Exception.

Though it works in cudf, raising this as cudf issue as from the stack trace it looks like we are doing a pass-through to cudf, w

[2019-06-21 11:07] mrocklin opened #2067 "[FEA] Use `_get_numeric_types` in numeric reductions"
If would be great if the following worked:

[code]

Currently we get this

[code]

Typically the solution in Pandas is to strip out the non-numeric columns first

[code]

We should consider adding this method call in all dataframe reductions that expect numeric data like sum, mean, prod, std, var, cum* and so on.

[2019-06-21 11:16] mrocklin commented on #2067
So to be fully explicit we would want changes like the following:

[code]

[2019-06-21 15:05] beckernick commented on #1951
@VibhuJawa a naive (and likely non-optimal) way to do this might be something like:

[code]

[2019-06-21 15:08] kkraus14 commented on #1951
You should be able to do `data['temp'] = np.dtype('int8').type(0)` instead of manually constructing your device array.

[2019-06-21 20:51] mjsamoht commented on #1925
If the numbers start with "0x" they will be interpreted as hexadecimal numbers.  This was added in https://github.com/rapidsai/cudf/issues/973.

[2019-06-21 20:54] galipremsagar opened #2077 "[BUG] unary operations don't seem to handle empty series"
**Describe the bug**
There is an issue when we perform unary operations like `abs`, `min`, `max`... on an empty series.

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
We should be returning an empty series like pandas does:
[code]

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Method of cuDF install: conda-nightly

**Addition

[2019-06-21 20:56] kkraus14 commented on #2077
Should handle it in libcudf.

[2019-06-21 21:14] VibhuJawa commented on #1925
We have datasets where `hex-numbers` do not start with `0x` .  We want this feature for such numbers.

For eg: We have numbers like `9512c20b` which are not appended with `0x` . There was discussion about this  in the `rapidsdev-io` channel.

[2019-06-21 22:31] mjsamoht commented on #1925
I see.  That is currently not supported.  One option could be to add a hex datatype that can be specified in dtype.  Or we could perhaps automatically treat [0-9a-f] as "digits".

[2019-06-21 22:43] VibhuJawa commented on #1925
FWIW, I like the first option of adding a hex datatype.

Automatically treat [0-9a-f] as "digits" makes it inconsistent with `pandas` behavior .

[2019-06-21 22:47] jrhemstad commented on #544
Done by https://github.com/rapidsai/cudf/pull/1478

[2019-06-21 22:47] jrhemstad commented on #543
Done by https://github.com/rapidsai/cudf/pull/1478

[2019-06-21 22:47] #543 closed

[2019-06-21 22:47] #544 closed

[2019-06-21 22:50] harrism commented on #1443
The design is in progress, but moving this to 0.9 to keep it open.

[2019-06-21 23:07] shwina opened #2080 "[FEA] Use an inplace replace_nulls in nvcategory_gather"
The function `nvcategory_gather` in https://github.com/rapidsai/cudf/blob/branch-0.9/cpp/src/string/nvcategory_util.cpp uses an out-of-place `replace_nulls`, which could be done inplace. This will make `gather` faster on columns of dtype `GDF_STRING_GATEGORY`.

So really this is two feature requests:

1. Add an inplace version of `replace_nulls`
2. Update `nvcategory_gather` to use it

Perhaps cou

[2019-06-21 23:11] harrism commented on #1468
Closed by #1908

[2019-06-21 23:12] harrism commented on #1934
Closed by #1908

[2019-06-21 23:12] #1934 closed

[2019-06-23 22:31] randerzander commented on #1468
Re-opening as I don't believe Python bindings are done and there's no separate issue open for them.

[2019-06-23 23:27] harrism commented on #1468
Thanks, forgot about that!

[2019-06-24 02:32] Polarbeargo commented on #2064
If I write `df.fillna("0")`  will bumped into following error message:
![33](https://user-images.githubusercontent.com/8589224/59986823-fbfef280-966a-11e9-9f5a-35a4b03b43c4.png)

[2019-06-24 03:16] kkraus14 commented on #2064
@polarbeargo trying to run fillna on the full dataframe object is going to be problematic for you since you have mixed dtypes. Here you're trying to fill numeric columns with a string which isn't allowed and we don't want to automatically typecast all of your numeric columns to strings.

[2019-06-24 03:18] Polarbeargo commented on #2064
Thank you @kkraus14 very appreciate your guidance:)!

[2019-06-24 04:22] harrism opened #2085 "[FEA] Add GDF_STRING_CATEGORY support to cudf::fill"
**Is your feature request related to a problem? Please describe.**
cudf::fill() currently does not support filling a string literal value because `gdf_scalar` cannot hold string data.

**Describe the solution you'd like**
Add support for filling a literal string value.

**Describe alternatives you've considered**
This could be done by adding dtype_extra_info to gdf_scalar #1449 and then using a GD

[2019-06-24 06:31] harrism commented on #2077
@devavret can you take this? We should probably update all the unary ops public APIs to the new C++ standard (create the result internally and return it), and then `return cudf::empty_like(input)` when input is zero-length or has a null data pointer.

[2019-06-24 07:12] mrocklin opened #2286 "Run join benchmark with UCX"
We should test dask-cudf join performance with UCX.  Today this involves using a few in-development branches:

-  UCX: As described in [this post](https://blog.dask.org/2019/06/09/ucx-dgx) there is now a mostly working UCX + UCX-Py + Dask integration.  @jakirkham has conda packages up for it here:

[code]

    https://github.com/jakirkham/staged-recipes/tree/17005b662e392672de7a82778b07eb4dec8b5ad

[2019-06-24 12:52] harrism commented on #1808
Devavret's point is exactly why I deferred supporting `cudf::fill()` for scalar string values in #1908 . So similar to comparing StringColumns to a single string, I think today we can't assign a single index or a range of indices to a single string.

[2019-06-24 13:01] harrism opened #2087 "[FEA] Add string support to gdf_scalar"
**Is your feature request related to a problem? Please describe.**
To enable operations such as comparing a string column to a single string literal (#1808 ) and assigning a string literal to a range of elements in a column (#2085), `gdf_scalar` should be augmented to support storing a single string value.

**Describe the solution you'd like**
We need to discuss the proper solution. As @devavret p

[2019-06-24 14:50] thomcom commented on #1663
What's the root library that we're adding these functions to? Create a new one like cuGeo?

[2019-06-24 17:55] RFinkelberg opened #2090 "[BUG] Aggregated mean on multiindexed groupby gives incorrect results"
**Describe the bug**
When calculating the aggregated mean on a dataframe grouped by **multiple columns**, the result is an empty dataframe.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Pandas demonstrates the correct behavior
[code]

**Environment overview (please complete the following information)**
Run on `cudf.__version__ == '0.8.0a1+172.g2c6888e0'` in the latest nightly cont

[2019-06-24 18:01] kkraus14 commented on #2090
@RFinkelberg I can't reproduce in building from source:
[code]

[2019-06-24 18:17] #2090 closed

[2019-06-24 20:06] kkraus14 commented on #1417
@harrism should this be reassigned?

[2019-06-24 20:42] zhangjianting opened #2093 "[FEA] GPU-accelerated spatial and trajectory data management techniques"
**Is your feature request related to a problem? Please describe.**
Integrating GPU-accelerated spatial and trajectory data management techniques, including indexing, query processing and certain analytical functionality, into cudf. This will also enable cudf to process both relational and spatial/spatiotemporal data in an integrated way.

**Describe the solution you'd like**
A set of GPU-accelerat

[2019-06-24 20:44] galipremsagar opened #2094 "[BUG] describe index & data length mismatch - dask related"
**Describe the bug**
We are having an index & data lengths mismatch.

**Steps/Code to reproduce bug**
[code]

Upon investigation the point of failure is `to_array` at this line: https://github.com/rapidsai/cudf/blob/branch-0.9/python/cudf/dataframe/series.py#L1905

If we have `np.nan` or `None` values in cudf series, when it is being converted to an array they are being lost.

[code]

**Expected b

[2019-06-24 20:59] MikeChenfu opened #2095 "[QST]Dask not support librmm_cffi"
**What is your question?**
I use `librmm.device_array` to write `nvcategory` values into a device array and I use `dask` to map the function into workers. But I got the below error.

It seems that the function containing `librmm.device_array` cannot be serialized.
I really appreciate if anyone has suggestions about this problem.

[2019-06-24 21:24] kkraus14 commented on #1808
@devavret @harrism @shwina If we're only looking at supporting equality and inequality here, wouldn't it be easy enough to just get the integer encoding of the string scalar and use that for comparison? I.E. if the string isn't in the category than equals is always False, not equals is always True. If the string is in the category then we get the integer index of it via a `get_value` call and then

[2019-06-24 21:28] VibhuJawa commented on #2095
@MikeChenfu , You can `import librmm.device_array` in the function where you do the categorization.

I ran into a very simlar issue: https://github.com/rapidsai/dask-cudf/issues/269 and that solved the problem.

[code]

[2019-06-24 21:36] MikeChenfu commented on #2095
Thanks @VibhuJawa. It resolves my issue.

[2019-06-24 21:39] #2095 closed

[2019-06-24 22:05] harrism commented on #1808
That's true, that should work. It won't work for assignment, but will for comparison.

[2019-06-25 00:24] harrism commented on #1816
On the libcudf side we have this:

[code]

[2019-06-25 00:25] ja3067 commented on #2025
Is RAPIDS incompatible with earlier generations, or do the prebuilt versions simply not support it? Can I build it from scratch for a Maxwell or Kepler GPU? Requiring a Pascal GPU seems pretty restrictive when it rules out some of the most popular GPUs, like the 970 and 980 series, as well as "Deep Learning Accelerators" like the M40 or K40.

[2019-06-25 00:31] harrism commented on #1417
It's not P0, right? So just de-assigning it.

[2019-06-25 05:52] THULiusj commented on #1690
@kkraus14 Hi, I noticed that you moved this issue to P0 in v0.9 Release. So will it be fixed in v0.9 alpha or beta? Is there any target time to fix this bug? My NV alias is shijunl, you can email me. Thanks!

[2019-06-25 06:31] kkraus14 commented on #1690
Hi @THULiusj, we are actively working on solving this ASAP and you can track the work in the pull request here: https://github.com/rapidsai/cudf/pull/2098. As soon as it's merged into `branch-0.9` it will trigger a new nightly conda build and will be included in the next release of the nightly container.

[2019-06-25 14:54] rjzamora commented on #1968
Just a note -  This issue should be addressed by [PR#1947](https://github.com/rapidsai/cudf/pull/1947)

[2019-06-25 14:56] galipremsagar opened #2099 "[DOC] typo in to_csv"
## Report incorrect documentation

**Location of incorrect documentation**
https://rapidsai.github.io/projects/cudf/en/0.8.0/api.html#cudf.dataframe.DataFrame.to_csv

**Describe the problems or issues found in the documentation**
There is a typo in last line of sample code:
`cudf.to_csv(filename)`

**Steps taken to verify documentation is incorrect**
Verified with source.

**Suggested fix for docu

[2019-06-25 15:23] galipremsagar opened #2100 "[BUG] to_csv fails with 200 million records"
**Describe the bug**
There is an OOM that happens when I have a data frame that fits into my single GPU.

**Steps/Code to reproduce bug**

[code]

after this, the GPU memory occupancy is 1.8GB out of 16GB. nvidia-smi is:
![image](https://user-images.githubusercontent.com/11664259/60110746-37182900-9732-11e9-9102-eabaee91a66b.png)

Next, when I do `to_csv` on the above created dataframe my GPU usag

[2019-06-25 15:26] jrhemstad opened #2101 "[BUG] Groupby has a large memory leak"
**Describe the bug**
The `sparse_output_values` table is never freed in groupby, causing a large memory leak.

https://github.com/rapidsai/cudf/blob/branch-0.9/cpp/src/groupby/hash/groupby.cu#L381

[2019-06-25 20:45] davidwendt commented on #2100
The `to_csv()` requires converting columns to strings to place the character in CSV format in memory before writing the file. Column count and CPU memory capacity will be a factor along with GPU memory.
The integers are converted into 219586129 strings (['234','234',...]) which take a significant amount of memory ~24 bytes per string in this example so about 5.2GB. It may need to make copies to ad

[2019-06-25 21:21] ayushdg commented on #2100
I also noticed that on the python end setting `index=True` incurs a 2x memory overhead because it creates a copy of the df with the index as a column. In either case setting `index=False` still results in a 12 GB spike followed by an OOM error.

[2019-06-26 03:33] kkraus14 commented on #2065
@shwina @thomcom FYI: Hopefully this can be dealt with as part of the groupby refactor.

[2019-06-26 07:26] karthikeyann commented on #2000
does PR https://github.com/rapidsai/cudf/pull/2073 fix this issue?

[2019-06-26 10:21] galipremsagar opened #2119 "[BUG] string column functions returning lists - inconsistent with pandas"
**Describe the bug**
We currently have an inconsistency with pandas & cudf series string operations. Found this to be the case with few functions like `islower`, `isupper`, etc..
In pandas, for above functions, the return type is series but for a cudf series, it is list.

**Steps/Code to reproduce bug**
Our behavior:
[code]
Pandas behavior:
[code]
**Expected behavior**
We should aswell be returnin

[2019-06-26 11:19] miguelangel opened #2121 "[QST] Can RAPIDS run on Power 8 + P100?"
**What is your question?**
Hi,

We are presenting RAPIDS right now to some colleagues, and we are wondering if RAPIDS can be run on Power 8 + P100 GPUs?

Thanks!

Regards,
Miguel

[2019-06-26 12:32] galipremsagar opened #2287 "[BUG] groupby aggregation is causing out of memory"
I'm having a data-frame of size, ~300 million records x 25 columns. When I read that csv with dask-cudf and do groupby and an aggregation operation like `count` or `sum`, I see memory exception like below.

Data can't be published publicly hence giving dummy data:
(But if needed, I can help provide you the actual csv file being used internally. Please feel free to slack me.)
[code]

Actual code:
[

[2019-06-26 13:15] beckernick commented on #2119
This brings up a good point @galipremsagar : what should we do about non-explicitly implemented nvstrings methods in cuDF (and when should we do it)?

As you noted, with the current implementation, if the code doesn't follow that path of the branching logic this behavior occurs. However, this doesn't occur for `contains` (for example), as we have an explicit implementation that builds a column for

[2019-06-26 13:47] galipremsagar commented on #2119
Makes sense, not a blocker to me. But it was something that I've observed while fixing another bug so brought this up.

[2019-06-26 14:30] galipremsagar opened #2122 "[BUG] Boolean column being treated as String column when reading CSV"
**Describe the bug**
When we read a csv, we seem to be treating a column with Boolean records of dtype string(`object`) which is why Boolean comparisons seem to be failing.

**Steps/Code to reproduce bug**
Sample csv in zip: [sample.zip](https://github.com/rapidsai/cudf/files/3330460/sample.zip)

[code]

But then we seem to be detecting the types of y column correctly:
[code]
Pandas:

[code]

**Ex

[2019-06-26 15:07] RFinkelberg opened #2123 "[FEA] Support datetime columns in multi-column groupby aggregations"
**Is your feature request related to a problem? Please describe.**
cuDF should support datetime columns in multi-column groupby aggregations

**Describe the solution you'd like**
Suppose we have a dataset that looks like
[code]
We want to perform a multi-groupby on the timestamp and another column, then aggregate over the score. This should look like
[code]
But this gives
[code]
This is a common u

[2019-06-26 15:22] jrhemstad commented on #2123
This looks to be purely in the python layer. There's nothing in the C++ layer that prevents using a `date32` or `date64` as a key.

[2019-06-26 16:07] kkraus14 commented on #1899
I'll take a first stab at triaging this further to figure out if / where the leak is.

[2019-06-26 16:09] kkraus14 commented on #2094
Those `np.nan` above will be converted into nulls which will then be removed in `to_array()`. If you pass `nan_as_null = False` to the Series call it should work as expected.

[2019-06-26 16:10] kkraus14 commented on #2099
Fixed by #2113

[2019-06-26 16:10] #2099 closed

[2019-06-26 16:14] kkraus14 commented on #2123
@RFinkelberg Can you check if passing `as_index=False` to the groupby call resolves the issue? I believe this is isolated to the MultiIndex code and should hopefully be a relatively easy fix.

[2019-06-26 16:24] beckernick commented on #2123
@RFinkelberg based on a quick look, I actually think the implementation for unique_segments/unique/unique_count in NumericalColumn would work on datetime columns if you copied it verbatim to the DateTimeColumn class. It looks like all of our column types also use the same unique_segments and unique_count function, and there is also a lot of repetition between unique, unique_counts, and value_count

[2019-06-26 16:26] RFinkelberg commented on #2123
@kkraus14 You're right that `as_index=False` solves the issue, but this actually came from a `dask_cudf` use case, and `dask_cudf`'s groupby doesn't support `as_index=False`

[2019-06-26 16:32] kkraus14 commented on #2123
Yep, just confirms the issue is isolated to MultiIndex code, likely in what @beckernick posted above and should be a relatively straightforward fix.

[2019-06-26 17:19] ayushdg commented on #2119
I think methods like `islower`  `isalpha` etc. is supported by nvstrings so these methods could explicitly be added to strings.py. But I agree that it would take more effort as well as maintenance.
- I'm not sure if this is feasible but the ideal case would be if we are able to have some sort of generic method that can identify if the method already exists in nvstrings in which case we can call th

[2019-06-26 17:20] Christian8491 commented on #2093
In here, https://github.com/rapidsai/cudf/issues/1663  there are some GIS functions. Point-in-polygon test is already implemented (a vector of query points and a static polygon) using the GDF Dataframe. Here,  https://github.com/rapidsai/cudf/blob/branch-0.9/cpp/include/cudf/gis.hpp contains the style of how will be working those GIS functions. A perimeter (or as length of paths) on the Earth surf

[2019-06-26 17:25] kkraus14 commented on #2119
We should absolutely not do this. If something is returning a list it's likely because the function wasn't called in a way consistent with the NVStrings API to return a device array. This leaves us with a few different options:

1. Continue to build on the StringColumn implementation in cuDF and implement the functions where needed in properly passing device arrays as inputs to NVStrings function

[2019-06-26 19:39] kkraus14 commented on #2121
@miguelangel yes it can, you can even conda install power builds for RAPIDS libraries via the IBM PowerAI conda channel: https://public.dhe.ibm.com/ibmdl/export/pub/software/server/ibm-ai/conda/.

@pradghos Anything that you can add here? Thanks!

[2019-06-26 20:01] miguelangel commented on #2121
Thank you @kkraus14!

I appreciate your quick response!

Closing this issue now.

[2019-06-26 20:01] #2121 closed

[2019-06-26 21:05] zhangjianting commented on #2093
The new PIP module that I have implemented in cudf (currently on a local development box with a Titan V) supports vector of complex polygons with multiple rings (e.g., polygons with holes). Many real world polygon data, e.g., census blocks/tracts, are complex. Testing against a vector of polygons (e.g., candidates after spatial filtering in a spatial join query) in a single API call is likely to b

[2019-06-26 23:54] gaohao95 opened #2126 "[FEA] Support querying datatype size from external code"
**Is your feature request related to a problem? Please describe.**

I wish external code using libcudf should be able to query the size of a specified `gdf_dtype`.

**Describe the solution you'd like**

Make `cudf::size_of` available for external code.

[2019-06-27 00:16] harrism commented on #2000
@shwina does `iloc` call cudf::gather?

[2019-06-27 00:16] kkraus14 commented on #2000
@harrism under the hood it does. This should be resolved with #2073.

[2019-06-27 00:27] kkraus14 commented on #2094
@galipremsagar In the `to_array()` call you can pass a `fillna='pandas'` parameter which will have it convert the nulls into `NaN` which will get converted back into nulls when read into the GPU.

[2019-06-27 00:32] kkraus14 commented on #2000
Confirmed fixed with #2073.

[2019-06-27 00:32] #2000 closed

[2019-06-27 00:47] kkraus14 commented on #97
Fixed by #1447

[2019-06-27 00:47] #97 closed

[2019-06-27 02:27] #1779 closed

[2019-06-27 02:54] galipremsagar commented on #2094
@kkraus14 yes, both the ways worked. Will fix it the `to_array` way. 👍

[2019-06-27 10:10] pradghos commented on #2121
Thanks @kkraus14 for quick response ! just to add here - all the RAPIDS packages in `PowerAI conda channel`  has been built and dependent on `cudatoolkit 10.1`.

[2019-06-27 11:58] karthikeyann commented on #1762
@harrism @kkraus14
Pandas `Series` or `DataFrame` does not have _**dtype**_ kwarg in their interfaces of `min`, `max`, `sum`, `mean`, `var`, `std`. but these methods of `cudf.DataFrame` and `cudf.Series` has  _**dtype**_ kwarg.
Is this **_dtype_**  argument necessary for `cudf.DataFrame` and `cudf.Series` ?

[2019-06-27 15:24] vnkesarwani opened #2133 "[QST] How do you handle out of memory error in cudf or dask-cudf"
**What is your question?**
I was trying to load data larger than GPU memory. and i am getting following error.

Function:  load_data
args:      (125000000)
kwargs:    {}
Exception: CudaAPIError(1, 'Call to cuMemcpyHtoD results in CUDA_ERROR_INVALID_VALUE')

ERROR: RMM call in line 68of file /conda/envs/gdf/conda-bld/libcudf_1558047478243/work/cpp/src/hash/managed_allocator.cuh failed with result R

[2019-06-27 15:49] galipremsagar opened #2134 "[BUG] describe not in-line with pandas describe behavior"
**Describe the bug**
1. We don't seem to be setting index of the data frame being returned in `describe` api call.
2. Irrespective of whether a Series or Dataframe is calling `describe` we seem to construct a DataFrame with a dedicated column `**stats**` and then populate results.
3. If we fix 1, maybe we can drop `stats` column?

**Steps/Code to reproduce bug**
cudf:
[code]

pandas:
[code]

**Exp

[2019-06-27 16:54] Christian8491 commented on #2093
Hi @zhangjianting what you are doing is great. I was thinking adding more complex functionalities on the GIS functions with other releases. That idea of coexist is awesome. I have been working on some GIS functions focused in how some spatial (and geospatial)  works and what they returns on the context of  spatial SQL . But how you say all they might be suitable for different applications.

[2019-06-27 17:30] chinmaychandak opened #2135 "[FEA] Add more functionality to rolling objects"
For our use cases, it would be helpful if rolling window objects have more functionality.

Basically, this would mean adding support for median, variance, standard deviation, quantile, and aggregate functions for rolling objects.

An example of support for aggregate() is below:
[code]

[2019-06-27 17:34] chinmaychandak opened #2136 "[BUG] Selecting columns as attributes of rolling objects."
As of now, we cannot select columns after rolling window operations. An example of this is below:

[code]

[2019-06-27 17:39] ayushdg opened #2137 "[FEA] Expose chunksize as a parameter for `to_csv`"
**Is your feature request related to a problem? Please describe.**
With the merge of #2131 it would be good if we could expose the chunk size argument to the user. Similar to pandas: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html

**Describe the solution you'd like**
The libcudf update would already support this. It would just need to be exposed as an argum

[2019-06-27 17:49] chinmaychandak opened #2138 "[BUG] loc fails with DatetimeIndex"
loc throws "ValueError: value not found" when the query DatetimeIndex value is not present in the dataframe.

An example of this is shown below:
[code]

With pandas, the output is:
![Screen Shot 2019-06-27 at 10 40 05 AM](https://user-images.githubusercontent.com/47901991/60287976-0ff36000-98c8-11e9-972c-60436495777e.png)

This is a major blocker in performing rolling window operations over time.

[2019-06-27 17:57] karthikeyann commented on #2087
depends on whichever is easier (and faster),
adding `char*` to exisiting column's `NVCategory`  or `NVCategory` to `NVCategory`?

[2019-06-27 18:43] ayushdg commented on #2138
**Additional info**: It seems like with datetime indices pandas handles loc slices even if that exact timestamp mentioned in the slice does not exist.
The same example above with `gdf.loc[pd.Timestamp(2017,1,1,0,15):]` would work as cudf can identify this value in the index and give all elements after it.

[2019-06-27 19:16] karthikeyann commented on #2134
Yes. both Series and DataFrame describe() returns DataFrame with a column 'stats'
I have the fix as well. Here is complete bug test code.
[code]

[2019-06-27 22:19] ivenzor commented on #2062
Currently I can use dask_cudf.read_csv to read 'remote' files, but it seems there are some errors while handling string data from dask_cudf into the cudf data frame.

[2019-06-27 22:51] galipremsagar commented on #2045
Fixed by #2086

[2019-06-27 22:51] #2045 closed

[2019-06-27 23:17] asmeurer opened #2141 "[BUG] boolean masking improperly marks last element in 129 element column null"
**Describe the bug**
A clear and concise description of what the bug is.

Certain `query` results add missing values to rows where there previously weren't any.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue more quickly.

[code

[2019-06-28 01:50] abellina opened #2142 "[BUG] null_count after cudf::fill not correct if original column has nulls"
**Describe the bug**
Applying cudf::fill to a column with nulls can result in invalid null_count.

[code]

The expected null_count for the filled case above is 2.

**Steps/Code to reproduce bug**
Please see this code to reproduce: https://github.com/abellina/cudf/blob/fill_null_count/cpp/tests/filling/filling_tests.cu#L72

**Expected behavior**
The null_count should reflect the correct number of n

[2019-06-28 02:01] abellina opened #2143 "[FEA] isNotNull and isNull as unary operations on a vector producing a vector"
**Is your feature request related to a problem? Please describe.**
We don't have a good way to obtain a vector of booleans for a vector that has invalid elements. This can be useful in some frameworks, such as Spark while filtering columns.

**Describe the solution you'd like**
For a column like this: `@ @ @ 3 @`, isNull should return: `true true true false true` and isNotNull the opposite.

**Des

[2019-06-28 05:59] AK-ayush opened #3107 "[FEA] Support passing a column of strings to `Series.str.contains()`"
`data.csv`
[code]
And, I want to apply `contains()` operation on each row but I don't want to copy argument string to host.
Is there any way, we can pass the custring argument  to `contains()` method??
[code]
but this if copy the argument string to host, then last line works:
[code]

[2019-06-28 07:19] vnkesarwani opened #2288 "How do you handle out of memory error in cudf or dask-cudf"
What is your question?
I was trying to load data larger than GPU memory. and i am getting following error.

Function: load_data
args: (125000000)
kwargs: {}
Exception: CudaAPIError(1, 'Call to cuMemcpyHtoD results in CUDA_ERROR_INVALID_VALUE')

ERROR: RMM call in line 68of file /conda/envs/gdf/conda-bld/libcudf_1558047478243/work/cpp/src/hash/managed_allocator.cuh failed with result RMM_ERROR_OUT_

[2019-06-28 11:51] shwina commented on #2138
Thanks @chinmaychandak for reporting. Could you please provide a snippet showing how you would like to use this with rolling windows?

[2019-06-28 14:19] beckernick opened #2144 "[BUG] Calling astype('str') on a StringColumn fails trying to create a numba device array"
Calling `ser.astype('str')` on a stringcolumn appears to error due to trying to initialize a device array of string dtype.

[code]

[code]

We could probably just short-circuit this behavior by checking if the current dtype matches the desired dtype.

Environment: Nightly cuda-10 dev container pulled on mid-day Thursday, June 27

[2019-06-28 15:58] chinmaychandak commented on #2138
@shwina, the rolling window operations I'm targeting are a little complex. They involve streaming dataframes. All in all, it throws the error because of the issue posted above. Here's the example snippet, though:

[code]

[2019-06-28 16:24] revans2 commented on #1799
I have run into this on gdf_unary and gdf_binary operations too.

[2019-06-28 17:29] jrhemstad commented on #1799
@devavret I believe you're currently refactoring the unary ops? Could you fix this while you're at it?

[2019-06-28 17:35] jrhemstad commented on #2143
Do we really need _both_?

It seems like it'd be sufficient to have one function that returns a boolean `true` for valid elements and a boolean `false` for null elements, and then you can handle the logic from there.

[2019-06-28 18:11] j-ieong commented on #1925
@VibhuJawa For adding a `hex` dtype, do you expect it to be 32-bit or 64-bit for memory allocation? Or would you prefer more explicit `hex32` and `hex64`?

If you have `9512c20b`, then a simple print on the Python side would yield `-1793932789` instead of `2501034507` that you may expect/get from PANDAS, as GDF_INT32 is a signed int underneath.

[2019-06-28 18:30] mjsamoht commented on #2122
The problem is in the function `dataTypeDetection()`.  We call `serializedTrieContains(opts.trueValuesTrie, raw_csv + start, field_len)` only when `if(countNumber==int_req_number_cnt)`.

If the value is `True` or `False` there are no digits and `countNumber=0` so the `if` statement will always evaluate to false.

[2019-06-28 18:37] mjsamoht commented on #2122
Fix should be simple.  I believe all we have to do is move the check for Boolean values before the check for numbers:

[code]

[2019-06-28 19:03] VibhuJawa commented on #1925
I would prefer a more explicit `hex32` and `hex64` dtype.

I  also do not sure know how to get , `-1793932789` with `print`.

[code]
Output
[code]

@randerzander  Thoughts ?

[2019-06-28 19:44] j-ieong commented on #1925
I believe `int` in Python 3 is larger than 32-bits. The output cudf dataframe would be returned as either `GDF_INT32` or `GDF_INT64` dtype; the PANDAS equivalent dataframe would be:

[code]

[2019-06-28 21:21] #1690 closed

[2019-06-28 21:29] beckernick opened #2147 "[BUG] Sort_values should use libcudf for gathering columns in dataframes"
Sorting a dataframe currently requires looping through the columns in Python. We should replace this loop:

https://github.com/rapidsai/cudf/blob/28888ade95e4d2bc55c7f0002ad674e9c03b1e76/python/cudf/dataframe/dataframe.py#L1520-L1525

with libcuDF functionality to gather all the columns in libcuDF instead of in Python.

[2019-06-28 21:44] abellina commented on #2143
@jrhemstad that should work. I brought up adding the two of them because I wasn't sure if we'd be concerned with spawning two kernels for the one we don't provide out of the box.

[2019-06-28 21:57] ivenzor commented on #1972
Currently I can use dask_cudf.read_csv to read s3 files.

However if I specify the dtypes parameter no matter what type I specify for the columns I always got:
GDFError: b'GDF_UNSUPPORTED_DTYPE'

[2019-06-28 22:00] VibhuJawa commented on #1925
Aah, got it.  I think with `int32` we may have overflows (as in this case)  . A lot of times the `hex` inputs are `hashes` created to  anonymize the  data.

We may even want to look at supporting bigger `hex` ints later.

[code]
[code]

[2019-06-28 22:14] jrhemstad commented on #2147
I've also been thinking that the current `gdf_order_by` should be renamed to something like `cudf::sorted_order` where it returns the indices of the sorted order.

Then we should add a new API, `cudf::sort`, that will actually materialize the sorted table (basically `cudf::sorted_order` + `cudf::gather`)

[2019-06-28 23:40] ayushdg commented on #2101
@jrhemstad Good to close?

[2019-06-29 02:30] j-ieong commented on #1925
So I decided on adding `hex32`, `hex64`, and simply `hex`. The latter aliases `hex64` as its more user-friendly to default to the larger size, and hexadecimal data would probably require it.
If it's known that the dataset will not overflow, then `hex32` is available to save some memory.

Let me know what you think...

[2019-06-29 02:46] jrhemstad commented on #2101
Closed by https://github.com/rapidsai/cudf/pull/2102

[2019-06-29 02:46] #2101 closed

[2019-06-29 03:41] #2043 closed

[2019-06-29 03:41] #2062 closed

[2019-06-29 05:23] qinxuye opened #2150 "[BUG] cudf Index's attributes like is_monotonic do not have values"
**Describe the bug**

For our project which aims at distributed dataframe computation, index's attributes like `is_monotonic` is used to optimize the execution, if we know that the index is monotonic increasing in advance, we could avoid shuffle for some index operations. But cudf's Index including `RangeIndex` etc do not have value or do not exist.

The attributes including:

* is_monotonic
* is_

[2019-06-29 16:16] beckernick commented on #2150
This may be relevant for someone looking into this issue: https://github.com/pandas-dev/pandas/blob/96dd2a95c21321608645d8195aebb48519618a54/pandas/_libs/algos.pyx#L704

Thanks for filing this @qinxuye

[2019-06-29 19:47] randerzander commented on #2062
@ivenzor can you open another issue, and include sample data that reproduces the issue?

[2019-06-30 20:42] galipremsagar opened #2152 "[BUG] Runtime Error while comparing int with bool"
**Describe the bug**
We  seem to be getting exception while trying to compare an int with a Boolean series, but we are able to achieve the inverse, i.e., comparing a Boolean with integer Series. But pandas treats all integers as False except 1 as True and compares the equality check.

**Steps/Code to reproduce bug**

[code]

Pandas:

[code]
**Expected behavior**
We should also be having the same b

[2019-07-01 03:50] harrism commented on #2143
@jrhemstad We can provide both APIs with a single underlying kernel, so I don't think the cost is high. I view it as similar to providing add, subtract and negate, even though having only two out of the three is functionally complete.

[2019-07-01 05:33] VibhuJawa commented on #1925
I agree with this approach . I think  alias will make it intuitive for the user . Thanks a lot for your work on this.

[2019-07-01 08:02] Polarbeargo opened #2153 "[QST] What if I need Python 3 to integrate with PySyft"
**What is your question?**
Dear all,
I currently use cudf 0.8 rapidsai-nightly/label/cuda10.0. If I need python 3 to integrate with PySyft which version of cudf should I use? I truly appreciate your guidance and help.
![33](https://user-images.githubusercontent.com/8589224/60419373-b4063f80-9c17-11e9-82d4-ba3f3f55f3ca.png)

## Environment: Azure Databricks
![cluster conffig](https://user-images.gi

[2019-07-01 14:49] abellina commented on #2142
Thanks @harrism for review/merge.

[2019-07-01 14:49] #2142 closed

[2019-07-01 16:01] #2134 closed

[2019-07-01 17:21] VibhuJawa opened #3108 "[FEA] NLTK Porter Stemmer"
As a user i would like a porter stemmer in `nvstrings` as a important nlp pre-processing step.

Based a initial reading of the algorithm,

I feel implementing the `measure` function at a C++ level can be a good start as we may be able to implement the other functions on a python level.

Link to stemming logic: https://www.nltk.org/_modules/nltk/stem/porter.html

[2019-07-01 18:05] j-ieong commented on #2122
Yup. It should be moved to the same place where we check for NA values.

[2019-07-01 18:20] galipremsagar commented on #2153
Looks like you are on an older version of 0.8 nightly. 0.8 stable is released, it comes with python 3.7 and you can install by copy pasting following command:
![image](https://user-images.githubusercontent.com/11664259/60457889-cb86fd80-9c02-11e9-9466-d31b4ededf43.png)

`conda install -c nvidia -c rapidsai -c numba -c conda-forge -c pytorch -c defaults \
    cudf=0.8 cuml=0.8 cugraph=0.8 python=3.

[2019-07-01 19:27] kkraus14 commented on #2133
@vnkesarwani in using dask-cudf inputs are typically chunked into more consumable pieces of work. These pieces can they be shuffled into and out of GPU memory as necessary to try to prevent OOM issues. This is still ongoing work and is definitely very rough around the edges currently.

In your above example it looks like you tried to run a very large groupby and by default groupby will try to cond

[2019-07-01 19:41] kkraus14 commented on #2150
@qinxuye We added `None` for these attributes just to appease something upstream which checked if the attribute exists before checking the values for optimization. If we had these always return False for now would that unblock you until we have a proper implementation to return a usable value?

[2019-07-01 19:54] kkraus14 commented on #2152
This is due to https://github.com/rapidsai/cudf/blob/branch-0.9/python/cudf/dataframe/numerical.py#L105 that can return unsigned types that we don't handle properly.

[2019-07-01 20:14] kkraus14 commented on #2141
The issue is unrelated to query, the same behavior occurs when boolean masking the dataframe directly with `d['v']`

[2019-07-01 20:17] kkraus14 commented on #2141
More isolated reproduction given above:
[code]

[2019-07-01 21:52] asmeurer opened #2155 "[FEA] Behavior of apply_rows on dataframes with missing values"
I'm not sure if this is intended behavior or not. Right now it's a little annoying to use `apply_rows` on dataframes with missing values. This is the current behavior:

[code]

You can see that the loop index in the kernel skipped the rows of `a` with missing values, but the
same index applied to `out` did not skip those rows. So the `out` rows are out of order. To get what I really want, I have t

[2019-07-01 23:21] Polarbeargo commented on #2153
Thank you for your guidance @galipremsagar! I'll work on it:)!

[2019-07-02 04:03] qinxuye commented on #2150
Yeah, I can accept False for now until they have reasonable values.

[2019-07-02 13:53] javy-kong commented on #2135
can we add the rolling apply here too? a side question, is there a way/example to do GPU rolling apply in the rapid? I don't see apply implemented in the cudf rolling yet. Thanks.

[2019-07-02 13:58] kkraus14 commented on #2135
@javy-kong there isn't quite yet, but we will work on it and add it in the future!

[2019-07-02 14:19] javy-kong commented on #2135
@kkraus14 Thanks for the quick response! Any suggestions on what's currently the best way to achieve this function if cudf is not ready yet?

[2019-07-02 14:47] kkraus14 commented on #2094
Fixed by #2139

[2019-07-02 14:47] #2094 closed

[2019-07-02 15:20] shwina opened #2159 "[FEA] Allow grouping by Series of arbitrary length"
A specific case of #1477, we need to allow grouping an object by a Series of different length from the object. For example, Pandas allows:

[code]

[2019-07-02 17:37] davidwendt opened #3109 "Date/time format specifiers"
Documenting the current and missing specifiers in this issue for `long2timestamp` and `timestamp2long`. Specifiers are documented here: https://docs.python.org/3.7/library/datetime.html#strftime-and-strptime-behavior

**Currently supported specifiers are as follows:**

- `%d` - day of month
- `%m` - month
- `%y,%Y` - year
- `%H,%I` - hour
- `%M` - minute
- `%S` - seconds
- `%f` - microseconds
- `%

[2019-07-02 19:38] kkraus14 commented on #2150
@rjzamora do you want to try to tackle this? Quick PR to set them to False and then a bigger PR implementing functions to get the correct value?

[2019-07-02 20:00] rjzamora commented on #2150
No problem @kkraus14 - I'll take a look

[2019-07-02 20:35] shwina commented on #1983
Here is a proposed directory structure that somewhat mimics Pandas:

[code]

Essentially:

* The `core/` directory contains the implementation of the core classes `Index`, `Series` and `DataFrame` and its methods. Other "non-core" directories include `io`, `tests`, `utils` and in the future perhaps `plotting` and `gis` (?).

* A module (e.g., `window.py`) can be promoted to a package (e.g., `windo

[2019-07-02 21:33] thomcom opened #2163 "[FEA] Enable the use of wildcards in MultiIndex queries"
**Feature proposal**
Our MultiIndex uses a custom built algorithm to compute the indices during key lookup. This has two flaws: it is slow, and it doesn't allow the uses of wildcards.

It is straight forward to modify the MultiIndex algorithm to use a left `join` instead of the custom algorithm, improving performance and enabling the use of wildcards.

[2019-07-02 21:50] #2122 closed

[2019-07-02 22:20] kkraus14 commented on #2153
@Polarbeargo I'm going to close this as it's been answered, but feel free to open up another issue if you hit another problem.

[2019-07-02 22:20] #2153 closed

[2019-07-02 23:01] kkraus14 commented on #2141
@harrism I've been trying but I'm unable to build a simpler reproducer. Is the above enough to triage on? I've confirmed in running the Cython directly that the issue persists that the last relevant bit of the bitmask is 0 instead of 1. Best reproducer I can give in Python:

[code]

[2019-07-02 23:30] #2100 closed

[2019-07-03 00:41] #1925 closed

[2019-07-03 02:37] harrism commented on #2141
I've got bigger bugs to fry in apply_boolean_mask this week. Hopefully this will fall out of them.

[2019-07-03 03:44] deltadu opened #2166 "[FEA] Series to DataFrame arithmetic not supported"
**Is your feature request related to a problem? Please describe.**
Arithmetic operation between Series and DataFrame is 'NotImplementedError: Series to DataFrame arithmetic not supported until strings can be used as indices. Try converting your Series into a DataFrame first.'

**Describe alternatives you've considered**
looping over columns of the DataFrame
[code]

A minimal reproducer:
[code]

[2019-07-03 04:33] harrism opened #2167 "[FEA] Autogenerate conda existence tests for libcudf headers"
**Is your feature request related to a problem? Please describe.**

Currently the libcudf conda `meta.yml` runs tests for all the libcudf public headers to make sure they are installed correctly for packaging.

When adding a new header, it's easy to forget to add it to the conda recipe.

**Describe the solution you'd like**
Autogenerate the list of tests based on the contents of `cpp/include`. e.g

[2019-07-03 05:25] vnkesarwani commented on #2133
dasd

[2019-07-03 05:25] #2133 closed

[2019-07-03 10:17] Cdivyam opened #2169 "[BUG] AttributeError: 'nvstrings' object has no attribute 'to_gpu_array'"
I am trying to use the `apply_rows` function of cudf but getting the above error:

Input:
[code]
word_match_share_cudf function:
[code]
The cudf_train dataframe consists of:
![image](https://user-images.githubusercontent.com/39796302/60583403-72f16500-9da8-11e9-984a-c97209af59fd.png)

**Expected behavior**
The result should be a Series named `train_word_match_cudf` where each row is a value of dat

[2019-07-03 11:01] MurrayData opened #2170 "[FEA] Please add cupy to RAPIDS Docker container"
Please could you add CuPy to future Docker container versions?

CuPy integrates well with cudf and is significantly faster than numpy.

In the latest 0.8 container, it needs to be added manually. I was using a derived container in 0.7.

Thanks.

[code]
[code]
When I try to install cupy with Conda in 0.8:

[code]

I get the following:

[code]

It worked fine in 0.7

[2019-07-03 13:53] shwina opened #2172 "[FEA] Match Pandas behaviour for boolean-int ops"
Results differs from Pandas for the `rfloordiv` and `rmod` operations between booleans and integers - can we match Pandas behaviour?

[code]

[code]

CC: @devavret  @jrhemstad

[2019-07-03 14:05] kkraus14 commented on #2133
@vnkesarwani We are essentially following the existing memory management model of Dask but adding an additional tier of GPU memory above host memory. You can read about that here: https://distributed.dask.org/en/latest/worker.html#memory-management.

[2019-07-03 14:10] shwina opened #2173 "[BUG] dtype not promoted to float after `floordiv` by zero"
[code]

[2019-07-03 14:55] jrhemstad opened #2174 "[FEA] Remove old C++ groupby implementation"
**Is your feature request related to a problem? Please describe.**

After the merging of https://github.com/rapidsai/cudf/pull/1478 and https://github.com/rapidsai/cudf/pull/2018 the previous libcudf groupby implementation is defunct.

**Describe the solution you'd like**
Remove the old libcudf groupby implementation.

[2019-07-03 14:57] kkraus14 commented on #1899
@paulhendricks I ran your code above through an iteration of 1000 loops and there wasn't any observed increase in GPU memory usage. I believe what you were seeing was the way Numba delays garbage collection to improve performance. See: http://numba.pydata.org/numba-doc/dev/cuda/memory.html#deallocation-behavior

[2019-07-03 14:57] #1899 closed

[2019-07-03 15:52] deltadu commented on #2166
The alternative above works only when the number columns is known and certain, but Im trying to write a scaler that preprocess data with variable number of columns. So the alternative does not work here

[2019-07-03 21:22] paulcheck commented on #432
I am having the same problem on a Debian unstable machine running tensorflow-gpu via anaconda.  I have the Nvidia driver installed and nvidia-smi is reporting the driver is v 418 and cuda 10 capable.  When I run numba -s it gives the same error, even though I have cuda 10 installed in my conda environment.  I saw someone make a comment somewhere that this problem can be caused by the Nvidia driver

[2019-07-03 21:55] kkraus14 commented on #2169
@Cdivyam unfortunately string columns aren't yet supported for UDFs via `apply_rows`, `applymap`, or `query`. We're working on a solution here but we're not quite there yet.

[2019-07-03 21:56] kkraus14 commented on #579
Closing as this is outdated.

[2019-07-03 21:56] #579 closed

[2019-07-03 21:57] kkraus14 commented on #580
Closing this as documentation is an ongoing effort and has vastly improved.

[2019-07-03 21:57] #580 closed

[2019-07-03 21:58] kkraus14 commented on #587
@jrhemstad is this resolved now? 😁

[2019-07-03 22:02] kkraus14 commented on #1299
Not an issue.

[2019-07-03 22:02] #1299 closed

[2019-07-03 22:06] kkraus14 commented on #412
All of these now work as expected.

[2019-07-03 22:06] #412 closed

[2019-07-03 22:07] #469 closed

[2019-07-03 22:08] #451 closed

[2019-07-03 22:09] #485 closed

[2019-07-03 22:10] kkraus14 commented on #506
@randerzander @beckernick is this done?

[2019-07-03 22:11] #523 closed

[2019-07-03 22:11] kkraus14 commented on #563
Closed by #1995

[2019-07-03 22:11] #563 closed

[2019-07-03 22:12] kkraus14 commented on #522
Closed by #2160

[2019-07-03 22:12] #522 closed

[2019-07-03 22:12] #638 closed

[2019-07-03 22:13] #662 closed

[2019-07-03 22:14] kkraus14 commented on #697
Docs live at https://docs.rapids.ai/api/libcudf/stable/ and are an ongoing effort.

[2019-07-03 22:14] #697 closed

[2019-07-03 22:16] #741 closed

[2019-07-03 22:16] #829 closed

[2019-07-03 22:17] kkraus14 commented on #830
This is resolved by #862

[2019-07-03 22:17] #830 closed

[2019-07-03 22:33] beckernick commented on #2174
@kkraus14 would removing this implementation kill the legacy_groupby API?

[2019-07-03 22:38] kkraus14 commented on #881
@randerzander any ideas on how we can better maintain the Dockerfile here as opposed to the greater rapidsai Dockerfile?

[2019-07-03 22:39] kkraus14 commented on #930
Not supporting pip as of now so closing this. Will revisit in the future if/when we support pip.

[2019-07-03 22:39] #930 closed

[2019-07-03 22:39] #907 closed

[2019-07-03 22:44] kkraus14 commented on #1045
Given the `cudf::column` design discussions I believe we've landed on not using Arrow directly so I'm going to close this.