[2022-01-04 14:35] jlowe commented on #9519
Still desired, low priority

[2022-01-04 16:35] jrhemstad commented on #9711
@codereport since you have the most recent familiarity with this, would you mind taking care of it?

[2022-01-04 18:33] #9503 closed

[2022-01-04 19:10] galipremsagar opened #9969 "[BUG] Series group shift is not being performed on the correct columns"
**Describe the bug**
While performing operations like `shift` on a SeriesGroupBy objects, the correct columns are not being picked up.

**Steps/Code to reproduce bug**
[tmp.csv](https://github.com/rapidsai/cudf/files/7809838/tmp.csv)

[code]
**Expected behavior**
`shift` should happen on the correct column similar to pandas.

**Environment overview (please complete the following information)**
 -

[2022-01-04 19:46] davidwendt commented on #9946
I'm not able to recreate this error in libcudf.
Does this only happen calling through JNI?

[2022-01-04 20:27] andygrove commented on #9946
I have only seen this via JNI, but that is also the only way I have tested so far. I will try and reproduce in libcudf.

[2022-01-04 20:56] revans2 commented on #9967
I think the issue is with the java API.  Specifically around #9940 which is still a work in progress.  The way you can pass in the name of a column along with the type to the C++ JSON reader is by using an std::map.   Maps are unordered so the only way to know the order is to look at the cudf::io::table_with_metadata that is returned. It will have the order/names of the columns in it.  We would th

[2022-01-04 21:00] revans2 commented on #9964
Is there a bug filed against Spark for this?  It is one thing to work around it in CUDF, which would be nice, but if it really is optional then it is a bug in Spark itself.

[2022-01-04 21:15] bdice commented on #9083
Following up on this -- we should update the dispatch so that we do not define all the ufuncs (`add`, `arccos`, `arcsin`, ..., `log`, `logical_and`, ...) in the root namespace like `cudf.add`.

See also this list of available ufuncs in NumPy: https://numpy.org/doc/stable/reference/ufuncs.html#available-ufuncs

[2022-01-04 22:09] #9424 closed

[2022-01-04 22:28] devavret opened #9970 "[BUG] read_parquet fails with skiprows option when reading nested data"
`read_parquet` works when reading the entire file but fails with skiprows option when reading nested data. This issue seems related to https://github.com/rapidsai/cudf/issues/7113 but the cause for that was failure to read **non-nested data**.

The file is larger than github's upload limit so please message me for it.

#### Repro:
[code]

[2022-01-04 23:58] #9930 closed

[2022-01-05 00:19] wbo4958 commented on #9967
Thx for the information

[2022-01-05 07:49] wbo4958 commented on #9964
I think it's the ORC issue not a spark issue, I just filed an ORC issue https://issues.apache.org/jira/browse/ORC-1075

[2022-01-05 13:20] #9935 closed

[2022-01-05 16:20] revans2 commented on #9967
For Parquet, ORC, and CSV the names/types of the columns passed in are all std::vector. std::vector preserves ordering, which is why we don't have to read the metadata.

Arguably we should change our java APIs and return the metadata because we currently don't expose a good way to know what was returned unless you pass in a schema. We have not worried about this because we are really just relying

[2022-01-05 16:53] devavret commented on #9970
cc @nvdbaranec @PointKernel

[2022-01-05 16:58] #8604 closed

[2022-01-05 17:23] revans2 commented on #9430
We still are interested in this, but not really sure what the priority is.

[2022-01-05 17:31] vyasr opened #9973 "[FEA] Address performance regression in semi/anti joins from switching to cuco"
**Is your feature request related to a problem? Please describe.**
`cuco::static_map` is currently slower than cudf's internal unordered map. As part of a general move towards relying on cuCollections for data structures, however, we have made the replacement in #9666.

**Describe the solution you'd like**
`cuco::static_multimap` was optimized as part of its incorporation into cudf in #8934, but b

[2022-01-05 17:32] #9586 closed

[2022-01-05 17:55] revans2 commented on #9643
Still interested in this.

[2022-01-05 17:58] #9856 closed

[2022-01-05 18:51] vyasr commented on #7960
@harrism @jrhemstad Now that we're trying to get nightly benchmarks going I think we'll need to prioritize this conversion so that we can standardize the data that will be available and start building more tooling for our dashboards. I'm going to follow up on the comparison script work now to see what next steps are there.
CC @GregoryKimball @randerzander @robertmaynard

[2022-01-05 19:52] mlahir1 opened #9975 "[BUG] dask_cudf from_delayed throws exception when meta is included in the from_delayed"
Exception:

[code]

Reproducer:
[code]

this issue is very similar to issue here: https://github.com/dask/dask/issues/8528

the difference is from_delayed with meta, throws another exception "The columns in the computed data do not match the columns in the provided metadata" even though both dfs have same columns and dtypes.
since we provide the meta here, we run into different issue.

[2022-01-05 20:55] charlesbluca commented on #9955
I'm interested in the fact that the minimal PyNVML commands also give you an `NVMLError_Unknown`, as I am unable to reproduce this on my own WSL2 setup with

[code]

Could you share your `nvidia-smi` output and PyNVML version?

[2022-01-05 22:16] jlowe opened #9976 "[BUG] Java CI times out trying to solve conda env"
**Describe the bug**
Recent Java CI builds have been failing with a solve timeout on the conda environment.  This was seen in other gpuci environments and fixed by #9951, but the Java build was not updated at that time since the changes caused CMake to fail to find the JDK native headers and libraries.

**Steps/Code to reproduce bug**
Run gpuci on any PR and examine the Java build logs

**Expected

[2022-01-06 00:27] vuule commented on #9964
@wbo4958 can you confirm that `columnStatistics` is not present in `RowIndex`? If that's the case, this is a feature request as we current don't support row group statistics (which are optional). If somehow there is an incorrect value, I will look into fixing that.

Since `columnStatistics` are optional in `RowIndex`, the code should not depend on existence of this field. Maybe stripe statistics c

[2022-01-06 00:35] lmeyerov commented on #9955
Ok now this is bizarre: I just did another run through to duplicate my commands, and ` pynvml.nvml.NVMLError_Unknown: Unknown Error` is now the expected `pynvml.nvml.NVMLError_NotSupported`

Same versions of nvidia/pynvml/containers:

- wsl2, windows 11
- host nvidia-smi 495.53/497.29/11.5
- host pynvml 11.0.0+11.4.1 -> `NVMLError_NotSupported` as expected <- **unsure if was throwing NVMLError_Unk

[2022-01-06 02:12] wbo4958 commented on #9964
@vuule, Yeah, columnStatistics is not present in RowIndex. I have filed an issue for the Orc reader. Suppose it is orc reader issue. Thx

[2022-01-06 02:26] vyasr opened #9978 "[FEA] Refactor cuDF Python merging logic for index types"
**Is your feature request related to a problem? Please describe.**
pandas only supports merge operations for DataFrame and Series objects. cudf's merging code also supports merges involving Index objects. This support makes the internals of the merge code excessively convoluted and likely introduces performance overheads for user-facing merge APIs due to the additional logic required to handle ind

[2022-01-06 03:23] bdice commented on #7314
I discussed this with @vuule today. I have produced a minimal test case that disagrees between PyArrow's file reader and `cudf.read_orc`. This uses cudf 95909982d2, pandas 1.3.5, and pyarrow 5.0.0.

[code]

Output:
[code]

From this, we can narrow it down to a specific case: **PyArrow does not read the correct data from a file written by cuDF.**

I have a hypothesis about the reason for this, from

[2022-01-06 03:28] vuule commented on #7314
Thanks @bdice!
We can try setting the version to "ORC-135" in the writer, see if that fixes it.
But yeah, need to verify what the version string should be.

[2022-01-06 04:41] bdice commented on #7314
@vuule I tried setting the `writerVersion` flag as directed in this protobuf spec: https://github.com/apache/orc/blob/cf720d7b2333618c652445299486cb9600bdbe4f/proto/orc_proto.proto#L402-L435

Commit is here:
https://github.com/rapidsai/cudf/commit/1983f7b429a7b46f98827c043c5ede81b0d50305

The `orc-metadata` tool now sees `"writer version": "ORC-135"` in `dst_timestamp_cudf.orc`, but the bug remain

[2022-01-06 08:34] vuule commented on #7314
Went over the minimal repro code - statistics are not read, so the writer version should not affect the output. From this code it looks like pyarrow is affected by the current time zone in the same way for both statistics and column data. IMO this means that the issue is unrelated to statistics/writer version.
My only guess ATM is that pyarrow is somehow not reading the file time zone correctly, o

[2022-01-06 08:41] sperlingxx commented on #9851
Shall we close this issue ?

[2022-01-06 09:15] res-life commented on #8974
@ttnghia What's behavior when comparing struct with null in it?  For example,  order for (1, 1)  and (null, 1).

[2022-01-06 13:31] ttnghia commented on #8974
Null is considered as `less` in general, but null rows are treated differently.
For example: `[null, 1] < [1, 1] < null`.

[2022-01-06 13:40] ttnghia commented on #8974
As from my test, I got different result:
[code]

[2022-01-06 14:29] res-life commented on #8974
I got the following result on CPU, the min value is different from yours.
Seems the Spark uses nulls first sorting.

Code is like you mentioned.
[code]

detail log
[code]

[2022-01-06 14:43] galipremsagar opened #9979 "[BUG] libcudf fixed_point conversion not working for `decimal128dtype`"
**Describe the bug**
Conversion from string to `decimal128` types seem to be broken.

**Steps/Code to reproduce bug**
PR needed to have decimal128 python machinery: https://github.com/rapidsai/cudf/pull/9533

[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: [from source]

**Envi

[2022-01-06 14:43] galipremsagar commented on #9979
cc: @davidwendt @codereport

[2022-01-06 14:46] ttnghia commented on #8974
Sorry didn't pull the latest branch. I updated the result above --- the same as your.
So, the max value is correct, not like what you mentioned.

[2022-01-06 14:47] galipremsagar opened #9980 "[BUG] {to/from}_arrow in libcudf doesn't seem to handle decimal128 types"
**Describe the bug**
Casting an int column to decimal128 type goes through `from_arrow` machinery, which seems to not have support for `decimal128`.

**Steps/Code to reproduce bug**
PR needed to have decimal128 python machinery: #9533

[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF i

[2022-01-06 15:02] res-life commented on #8974
When grouping, the max value is wrong

[code]

[2022-01-06 15:14] ttnghia commented on #8974
This is my groupby result:
[code]

[2022-01-06 15:21] ttnghia commented on #8974
BTW, make sure to enable struct for `min` and `max` expr:
[code]

[2022-01-06 15:48] res-life commented on #8974
Enabled: https://github.com/NVIDIA/spark-rapids/pull/4434/files
[code]

[2022-01-06 16:01] rlratzel opened #9981 "[BUG] `DataFrame.merge` does not assign `dtype` as expected in result as pandas does"
The `dtype` in the result of a merge is inconsistent with the equivalent pandas merge for the same inputs:
cuDF:
[code]
pandas:
[code]

[2022-01-06 17:19] #9410 closed

[2022-01-06 17:23] ajschmidt8 commented on #9976
I've been looking into the logs here and I think I've found something that may be contributing to this issue. After looking at the logs from [this commit](https://github.com/rapidsai/cudf/pull/9951/commits/9e05a8f91d0f4a1c8c98b64c785a8e1b22e4c3d0) on Bradley's PR, it seems that `mamba` installed an older version of some packages.

![image](https://user-images.githubusercontent.com/7400326/14842388

[2022-01-06 17:50] bdice commented on #9976
@ajschmidt8 Thanks so much! I'll open a PR to test that change to the Java CI.

[2022-01-06 18:49] razajafri commented on #9361
This is still valid and actively being worked on

[2022-01-06 19:53] #9969 closed

[2022-01-06 20:26] guedes-joaofelipe opened #9987 "[FEA] Supporting separators with more than 1 character in cudf.read_csv method"
**Is your feature request related to a problem? Please describe.**
When calling the method _cudf.read_csv_, the _sep_ argument only accepts a 1 character string - which was an old issue in pandas. However, they have already included support for multi-character separators and it would be a useful thing to have on cudf.

**Describe the solution you'd like**
Calling the _cudf.read_csv_ method as

[co

[2022-01-06 22:09] bdice opened #9988 "[BUG] Reductions are not performed in the output precision."
**Describe the bug**
The `cudf::reduce` algorithm takes a parameter `cudf::data_type output_dtype`. The docs state that the reduction (computation) is performed in the output precision:
https://github.com/rapidsai/cudf/blob/7392f9f5f10dc6efb4d21cfcef18a14a0df421c3/cpp/include/cudf/reduction.hpp#L62

However, the computation precision does _not_ match the output precision. The `element_type_dispatc

[2022-01-06 22:21] beckernick commented on #1800
Closing, as this is now resolved:
- We just deprecated `one_hot_encoding` in https://github.com/rapidsai/cudf/pull/9977
- get_dummies currently uses integers

[code]

[2022-01-06 22:21] #1800 closed

[2022-01-06 22:23] beckernick commented on #797
@brandon-b-miller @shwina in case this is relevant to a testing discussion earlier today

[2022-01-06 22:27] galipremsagar commented on #9939
Hi @esnvidia,

This issue seems to be fixed in latest `cudf`:

[code]

Please feel free to reopen if you are seeing this issue.

[2022-01-06 22:27] #9939 closed

[2022-01-06 22:42] beckernick commented on #1271
Closing the loop on this issue, this functionality can be expressed as a call to shift followed by a binary subtract op with the operands being the original column and the shifted column.

Column and Groupby shift have now been implemented in libcudf and the only remaining piece in Python is `DataFrame.diff`, which is specifically requested in https://github.com/rapidsai/cudf/issues/9604 and has a

[2022-01-06 22:49] beckernick commented on #2439
Agreed. Going to close this issue, but please feel free to reopen it @randerzander

[2022-01-06 22:49] #2439 closed

[2022-01-06 22:53] beckernick commented on #2421
@ayushdg @rjzamora given IO changes in the past two years, is this issue still relevant?

[2022-01-06 22:59] beckernick commented on #3676
Based on the following small benchmark, this can probably be done fast enough in Python.

[code]

[2022-01-06 23:15] beckernick commented on #2067
I believe the behavior requested in this issue is now considered deprecated by pandas based on the following example:

[code]

This is consistent with https://github.com/pandas-dev/pandas/pull/41480 . Rather than match deprecated functionality, I think our current behavior of throwing a TypeError should be considered correct.

Separately, we have a bug with our `numeric_only=True` behavior, and I'

[2022-01-06 23:22] beckernick commented on #2067
Rather than file a new issue, I'll add context here.

In Python, we provide passthrough support for the `numeric_only` parameter in most dataframe reductions for Dask compatibility. For `DataFrame.rank`, we implement the `numeric_only` parameter.

Implementing support for `numeric_only` in the `DataFrame._reduce` machinery would likely close this issue

[2022-01-06 23:22] anamariaUIC commented on #9743
@beckernick per your recommendation I did update driver to version 495.

Next I started installation with:
(rapids) anamaria@gpu-2-0.saber:~ $ module list

Currently Loaded Modules:
  1) GCC/9.3.0               5) zlib/1.2.11-GCCcore-8.3.0     9) libreadline/8.0-GCCcore-8.3.0  13) GMP/6.1.2-GCCcore-8.3.0
  2) CUDAcore/11.0.2         6) binutils/2.32-GCCcore-8.3.0  10) Tcl/8.6.9-GCCcore-8.3.0

[2022-01-06 23:32] beckernick commented on #2793
We've now also implemented `Series.apply` and `DataFrame.apply` for scalar functions. Please feel free to visit the [Series.apply documentation](https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.Series.apply.html) or our 21.12 [release blog](https://medium.com/rapids-ai/rapids-release-21-12-fc5cfcfc1cb8).

[code]

Closing as resolved, but please feel free to reopen.

[2022-01-06 23:32] #2793 closed

[2022-01-07 03:33] wbo4958 commented on #9964
Closed this issue, since the orc file written by cudf is following ORC format. Cudf doesn't have to add statistics in RowIndex.

ORC maintainer has confirmed it's the ORC java issue, and there is a PR pending to review.

[2022-01-07 03:40] wbo4958 opened #9990 "[FEA] [JSON reader] to support column prune"
This is part of FEA of https://github.com/NVIDIA/spark-rapids/issues/9

We have a JSON file with below lines

[code]

when specifying the reading column name only to **(name, string type)**, json reader throws exception
`ai.rapids.cudf.CudfException: cuDF failure at: /home/bobwang/work.d/nvspark/cudf/cpp/src/io/json/reader_impl.cu:421: Must specify types for all columns`

Looks like JSON reader re

[2022-01-07 04:09] vuule commented on #9964
I think we can keep this open as a feature request. @wbo4958 are you okay with this option?

[2022-01-07 04:58] wbo4958 commented on #9964
sure.

[2022-01-07 14:07] anamariaUIC commented on #9743
@beckernick The installation completed via:
conda activate rapids
module load Python/3.7.4-GCCcore-8.3.0

conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=21.08 python=3.7 cudatoolkit=11.0

and this is happening:

(base) anamaria@login-1[SABER]: ~ $ conda activate rapids
(rapids) anamaria@login-1[SABER]: ~ $ module load Python/3.7.4-GCCcore-8.3.0
(rapids) anamaria@login-1[SABER]: ~

[2022-01-07 14:28] beckernick commented on #9743
In the first example, it looks like you may be using a Python (and perhaps site packages) different than the one that should be installed in you conda environment.

In the second example, it looks like the Python version from conda-forge you're actually using is 3.6. despite your conda command specifying 3.7. This potentially suggests the environment you're actually using may not be what you expec

[2022-01-07 14:34] anamariaUIC commented on #9743
@beckernick @jakirkham can you please explain how to install this?
from your instructions it seems that I have to have Python 3.7 in my environment when I am installing this, therefore I do:
conda activate rapids
module load Python/3.7.4-GCCcore-8.3.0

conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=21.08 python=3.7 cudatoolkit=11.0

if I just activate conda ENV without loading an

[2022-01-07 14:39] beckernick commented on #4205
With the capabilities mentioned above, I'm going to close this issue as resolved. Please feel free to reopen if appropriate.

[2022-01-07 14:39] #4205 closed

[2022-01-07 14:43] beckernick commented on #3981
Is this still relevant @shwina @vyasr ? I see that Frame.take exists and it looks like Series.take, DataFrame.take, and implicitly Index.take use it.

[2022-01-07 15:02] revans2 commented on #9990
This is a blocker for Spark to be able to use the JSON reader. Because we do not know all of the columns, the user just gives the ones that they want to read.

[2022-01-07 15:37] gmarkall commented on #7314
I've found that when PyArrow reads the ORC file on my system ("GMT" timezone ID) the time is advanced by exactly one hour for a datetime on 1970-01-01 and one hour and one second for a datetime on 1969-12-31 - this is using values from the `test_nanoseconds_overflow` in `test_orc.py`:

[code]

I also noticed that the writer is setting the timezone of the writer in the slice footer as UTC regardles

[2022-01-07 15:50] gmarkall commented on #7314
Also, with my patch from the previous comment, the only difference this makes to the written ORC file is to change "UTC" to "GMT", but unfortunately `orc-metadata` doesn't show the difference:

[code]

only `orc-contents` shows two different sets of values:

[code]

![image](https://user-images.githubusercontent.com/535640/148569265-d33ae88c-6d55-433f-b6b7-4e929d08e91e.png)

[2022-01-07 16:27] davidwendt commented on #9979
The problem does not appear to be inside libcudf.

[code]

Also, I tested the snippet from the description here with code from #9533 and was able to trace the column returned from `cudf::strings::to_fixed_point()` is returning the correct data. So something is happening in the cython/python layer.

[2022-01-07 16:34] beckernick commented on #4954
We've now implemented groupby.corr, like pandas. Closing as resolved

[code]

[2022-01-07 16:34] #4954 closed

[2022-01-07 16:38] beckernick commented on #4855
@chinmaychandak could you provide any additional context about the desire for this behavior? I don't believe this exists in pandas.

[2022-01-07 17:32] galipremsagar commented on #9979
Thanks @davidwendt. Apologies for the confusion, upon digging I found the issue lies in DeviceScalar code, working on a fix in https://github.com/rapidsai/cudf/pull/9533

[2022-01-07 17:32] #9979 closed

[2022-01-07 19:48] anamariaUIC commented on #9743
cudf was installed doing the following:

conda clean --all

module load Python/3.7.4-GCCcore-8.3.0
module load CUDA/11.0.2-GCC-9.3.0

conda create -n rapids-21.12 -c rapidsai -c nvidia -c conda-forge rapids=21.12 python=3.7 cudatoolkit=11.0 dask-sql

conda activate rapids-21.12

export PATH=/home/anamaria/.conda/envs/rapids-21.12/bin:$PATH

[2022-01-07 19:52] vyasr opened #9999 "[Story] Reorganize and improve cudf classic tests"
**Note for developers**
This is a meta-issue aiming to categorize a wide range of issues. Developers who want to tackle a specific item from the checklist below should create a new issue for just that item, self-assign that issue, and then link it to the checklist above.

**Is your feature request related to a problem? Please describe.**
There are currently a number of different problems that make

[2022-01-07 19:53] galipremsagar opened #10001 "Reduce runtime of I/O tests"
cuIO tests are some of the slowest in our test suite because of the sizes of the data and the number of parameters that are tested. Finding ways to make those tests more compact would substantially accelerate running our test suite.

[2022-01-07 20:04] beckernick commented on #5640
This might be feasible in the Python layer with existing capabilities:

[code]

[2022-01-07 20:09] devavret commented on #10001
Many tests need a large dataframe because that will exercise the various chunking types (row-groups/stripes) of the binary formats.

One category of notoriously slow tests are parquet list reader because they generate each list manually. We should replace them with smarter generators.

[2022-01-07 20:16] isVoid commented on #9988
Here's a contrived example to show case the discrepancy:
[code]

In general, we shouldn't compare "equality" to two floating point numbers, but I'd argue here we actually should because we want to show the result of a simple floating point operation actually match up in exact.

[2022-01-07 20:20] bdice commented on #9999
I have started looking into `xfail_strict=true` in PR #9998. That will require some significant work to analyze all the `xfail` tests that pass (1956 tests failed with `xfail_strict=true`, and most of those are xpassed strict failures). I am going to prioritize solving locally failing tests like #7314 and reduce the number of warnings in the pytest log first, before going back to #9998.

[2022-01-07 20:44] jlowe opened #10002 "[FEA] Java AST should allow passing Scalar instance as literal"
**Is your feature request related to a problem? Please describe.**
When building a cudf AST expression in Java, sometimes there are cases where a `Scalar` instance already exists for a literal.  The current Java bindings do not allow a `Scalar` to be used directly, so one must synchronize and fetch the validity and value to manually construct a corresponding AST `Literal` instance.

**Describe the

[2022-01-07 21:13] vyasr commented on #10001
Part of what we discussed is wanting to move those types of tests that are validating granular details of kernels into the C++ layer (not just for cuIO, but across all of cuDF). Of course, data generation etc becomes harder for those tests, so I don't think we need to prioritize that move if we can find other ways to speed up the tests for now, but I think we agreed that that would be a good long

[2022-01-07 21:16] vyasr commented on #5640
@beckernick I think we'd probably want to wrap that functionality into a public API rather than advocating for users to access the internals of columns to the user. Looks like it would be straightforward to do so from your example though!

[2022-01-07 21:18] devavret commented on #10001
The reason you see those tests for cuIO is because most of the time, we need to validate a new feature with pyarrow/pyorc/pandas. To test a new type added to parquet reader e.g. we'd rely on pytests because the ability to write that type is of a lower priority and will come in a later PR. Once we do add it to both the reader and the writer and are able to add gtests, it feels weird to remove them

[2022-01-07 21:20] vyasr commented on #3981
Good find, looks like this was resolved by #9464.

[2022-01-07 21:20] #3981 closed

[2022-01-07 22:29] #9962 closed

[2022-01-07 23:14] #9934 closed

[2022-01-07 23:52] rjzamora commented on #2421
The feature request is still somewhat relevant (there are still two distinct code paths, depending on the data source). With that said, my impression is that the local-FS code path is significantly more stable now, so there is less of a motivation to move entirely to `dask.dataframe`.

I am always happy to leverage upstream code. So I will support anyone who wants to take the time to work out a wa

[2022-01-07 23:52] #2421 closed

[2022-01-08 12:35] rewaza commented on #1086
Hello, I'm trying to get a list of nodes like APSP (all pairs short path) and want to use rapids cugraph for GPU acceleration.
Researched a bit and created this script which is working but it's very slow. I suppose I'm doing the wrong iteration and there could be a better way to achieve the same result faster. Am I on the wrong way? Thank you!

[code]

[2022-01-09 05:54] abellina commented on #9973
I am not entirely sure this is the same regression, but I am seeing one after (https://github.com/rapidsai/cudf/pull/9666) was merged. I see less invocations of this kernel, but there are ~10x slower than before the PR was merged. In one of the TPCDS @ 3TB query q87 (and possibly others) I see a loss of 4 seconds (before: 14263 ms, after: 18194 ms)

[code]

Does this seem to be the same issue as i

[2022-01-09 21:47] ajschmidt8 commented on #9954
I haven't tried replicating this issue locally, but I was just going over some of our CMake stuff myself and stumbled upon the `BUILD_SHARED_LIBS` option. It seems to be a global flag provided by CMake.

https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html

[2022-01-10 02:59] kkraus14 commented on #9954
Aha, I think I reported this without being able to truly test it because when setting `-DBUILD_SHARED_LIBS=OFF` I run back into #9718.

I'll close this for now and reopen that with more details.

[2022-01-10 02:59] #9954 closed

[2022-01-10 03:03] kkraus14 commented on #9718
Updated original message above, this only reproduces when trying to build a static library by setting `-DBUILD_SHARED_LIBS=OFF`.

[2022-01-10 04:02] #9965 closed

[2022-01-10 05:01] wbo4958 opened #10004 "[FEA][JSON reader] to support parsing with single quotes"
This is part of FEA of https://github.com/NVIDIA/spark-rapids/issues/9
We have a JSON file

[code]

CUDF can't parse this file because of
[code]
Spark can parse it by default.

We expect there is a configure `allowSingleQuotes` to control this behavior.

[2022-01-10 08:35] vuule commented on #9964
Scoped out the feature. Changes required:

1. Encode rowgroup-level stats in the writer (currently they are merged into stripe-level stats and discarded).
2. Include the encoded stats in the row index entries.
3. Enable stats by level (rowgroup, stripe, file, none) in the ORC API (currently a boolean option). This would also make the API consistent with Parquet 👍

[2022-01-10 13:02] #5059 closed

[2022-01-10 15:53] shwina commented on #10001
The pytests should ideally test the correctness of the Python bindings to functionality, and Pandas compatibility, not the correctness/functionality of the underlying libcudf API.

Since Python tests are being added here as a stop-gap, it seems appropriate to remove them, no? Currently the long runtimes for some of these tests are a pain point for Python development.

I'm loathed to delete tests a

[2022-01-10 15:53] abellina commented on #9973
I realize now that this also means the change (https://github.com/rapidsai/cudf/pull/9666) wasn't merged into that branch. So I don't think the mixed join change will address.

I would still like to confirm that the place I saw the regression is expected of this issue.

[2022-01-10 16:17] #9976 closed

[2022-01-10 16:39] andygrove opened #10006 "[BUG] contains_re hangs with some regexp patterns"
**Describe the bug**
The `contains_re` function hangs with some regular expression patterns.

**Steps/Code to reproduce bug**

I ran the following with rapids-21.10 conda env and it hangs. I am seeing the same behavior with 22.02 via the Spark accelerator.

[code]

**Expected behavior**
This should not hang.

**Environment overview (please complete the following information)**
conda rapids-21.10

[2022-01-10 17:22] vyasr commented on #9973
The slowdowns that I observed were more in the 2-3.5x range than 10x, so I'm surprised that you're seeing something so significant, but a regression is expected because of this issue. I wonder (but have no specific evidence to suggest this, am just curious) whether #9912 may also have led to some slowdown in the specific algorithms used here that is exacerbating the issue.

The mixed condition PR

[2022-01-10 17:26] devavret commented on #10001
I'm not against this proposal. We're saying the same thing. I'm giving historical context for why some of these exist. I'm pointing out the tests that satisfy your criteria: long runtime, duplicate functionality = list tests.

[2022-01-10 19:19] davidwendt commented on #8634
I did some investigation on this now that thrust 1.15 has been integrated into libcudf builds. The [`thrust::sort` and `thrust::stable_sort`](https://github.com/rapidsai/cudf/blob/0d5ec7f8902cbf3d5b73b037b9d0f5db66506d86/cpp/src/sort/sort_impl.cuh#L136-L146) functions are used to sort a table view using the `cudf::detail::sorted_order` function to build the sorted indices which are then used in a

[2022-01-10 21:14] #8522 closed

[2022-01-10 22:17] harrism commented on #9967
I know little about the cuIO JSON reader. Removing my assignment.  Adding cuIO label. CC @vuule

[2022-01-10 23:53] vyasr commented on #9557
While tackling this, it would be nice to also address https://github.com/rapidsai/cudf/pull/9917#discussion_r779021242.

[2022-01-11 01:57] bdice commented on #7314
Here is a zip file containing two ORC files and the minimal Python script to produce them.

[dst_timestamp_issue.zip](https://github.com/rapidsai/cudf/files/7843063/dst_timestamp_issue.zip)

I can reproduce this failure with `orc-contents` (provided by `orc=1.7.1` on conda-forge) from inside my rapids-compose container, when the system time zone is set to a time zone that observes DST (America/Chi

[2022-01-11 02:59] mlahir1 opened #10010 "[BUG] Name of Columns being Shifted when Written"
Name of Columns being Shifted when Written as first col becomes `__index_level_0__` and rest of the columns are shifted by 1.

Repro code:
[code]

[2022-01-11 03:01] mlahir1 commented on #10010
`df = df.reset_index().drop(columns=['index'])` before to_orc, get around the issue.

[2022-01-11 03:57] harrism commented on #9952
@robertmaynard is this as simple as flipping PUBLIC to PRIVATE?

[2022-01-11 07:17] firestarman opened #10012 "[FEA] Return null for the row where null exists in `starts`, or `sizes`, or `steps`"
https://github.com/rapidsai/cudf/pull/9839 has implemented the per-list sequence, but it will blow up when null exists in `starts`, or `sizes`, or `steps`.

Asking to return nulls silently instead (or can choose to return null) for this case is to align with the behavior of Spark. Spark will return nulls for rows that contain at least one `null`. For example,

start | end | step | sequence(start,

[2022-01-11 08:05] firestarman opened #10013 "[BUG] GpuSequence blows up when nulls exist in any of the inputs (start, stop, step)."
**Describe the bug**
GpuSequence blows up when nulls exist in any of the inputs (start, stop, step),
[code]
but Spark just returns nulls.
[code]

**Steps/Code to reproduce bug**
Launch a Spark shell with GPU support, and run
`Seq((1, 2), (3, 4)).toDF.repartition(1).selectExpr("*", "sequence(_1, _2, null)").show`

**Expected behavior**
We should keep align with what Spark does for null cases.

[2022-01-11 08:06] firestarman commented on #10013
Filed an FEA issue https://github.com/rapidsai/cudf/issues/10012 to cudf for this

[2022-01-11 09:15] pxLi opened #10014 "[BUG] row_conversion.cu(155): error: identifier "CUDA_DEVICE_CALLABLE" is undefined in Java build"
**Describe the bug**
cudf JAVA binding build failed after https://github.com/rapidsai/cudf/pull/9797

`java/src/main/native/src/row_conversion.cu(155): error: identifier "CUDA_DEVICE_CALLABLE" is undefined`
Java code may need to remove use of libcudf's CUDA_HOST_DEVICE

[code]

**Steps/Code to reproduce bug**
https://github.com/rapidsai/cudf/tree/branch-22.02/java/ci

**Expected behavior**
Pass th

[2022-01-11 14:01] firestarman commented on #10013
Close due to wrong project. Here is the right one https://github.com/NVIDIA/spark-rapids/issues/4499

[2022-01-11 14:41] robertmaynard commented on #9952
It needs to be:

[code]

[2022-01-11 15:12] jrhemstad commented on #10012
We specifically chose not to emulate this behavior. This behavior can be emulated in the plugin by stripping nulls in the inputs and then ANDing the output with the original input null mask.

[2022-01-11 15:20] bdice commented on #7314
The ORC library reads `/etc/localtime` and `/usr/share/zoneinfo` when fetching timezone info: https://github.com/apache/orc/blob/043a827783c2d21ebf7f28355f66f0bb97db0834/c%2B%2B/src/Timezone.cc#L32-L36

I tried printing the timezone's information after it is fetched here
https://github.com/apache/orc/blob/043a827783c2d21ebf7f28355f66f0bb97db0834/c%2B%2B/src/Reader.cc#L729-L732
by adding these line

[2022-01-11 17:07] #10014 closed

[2022-01-11 18:28] #8449 closed

[2022-01-11 18:35] bdice commented on #9552
Update: this is being addressed in #9621. @isVoid and I wrote a function in a017223f7b3589b099e534d2c8f98abd6cb45acc that should address many of the use cases needed for this issue.

[2022-01-11 19:44] ttnghia commented on #10012
Firstly, you do pre-processing, setting `start = end = step = DataType(0)` in the plugin for the row containing null. By doing so, the corresponding output list from cudf will be an empty list. Then, you do post-processing (also in the plugin), setting null for such list.

[2022-01-11 19:58] ttnghia opened #10020 "[FEA] Implement "order-preserving minimal perfect hash function" for list operations"
When dealing with lists using GPU processing, things become much complicated. For example, efficiently sorting lists on the GPU is very difficult to achieve if we compare the lists directly because lists may have very different lengths. Similarly, searching/checking for existence etc. of lists in a lists column cannot run efficiently on the GPU for the same reason.

"Order-preserving minimal perfe

[2022-01-11 19:59] ttnghia commented on #10020
Add @nvdbaranec since there were relevant discussions about this.

[2022-01-11 20:00] nvdbaranec commented on #10020
And @bdice as well.

[2022-01-11 21:03] hokiegeek2 commented on #2793
Thank you!!

[2022-01-11 23:04] galipremsagar commented on #9957
Currently, Apple doesn't allow support for NVIDIA GPUs, for more context : https://discussions.apple.com/thread/250413789?answerId=250793356022#250793356022

Hence due to the lack of support, we cannot publish or either run `cudf` on MacOS.

[2022-01-11 23:04] #9894 closed

[2022-01-11 23:32] anamariaUIC opened #10021 "[QST]Signature mismatch: 7 argument types given, but function takes 5 arguments"
**What is your question?**
Hello,

I am running [this code](https://github.com/beckernick/nersc-rapids-workshop/blob/master/cudf/02-Intro_to_cuDF_UDFs.ipynb)
using rapids-21.12.

Executing this portion of the code throws error:

                        incols=['lat1', 'lon1', 'lat2', 'lon2'],
                        outcols=dict(out=np.float64),
                        kwargs=dict(),

[2022-01-12 00:20] #9952 closed

[2022-01-12 00:46] mythrocks commented on #9109
I've bumped this to 22.04 for now.
Most of the machinery required to replace the current `map_lookup` kernel are in place.
I'll post a separate PR for the `map_view` when viable. Once that's available, we can begin the assembly.

[2022-01-12 01:04] firestarman commented on #10012
Thanks for the info.
Is there any reason not to do this ? I think handling it in plugin is not as easy as in cudf.

[2022-01-12 01:33] razajafri opened #10023 "[FEA] Casting String to Decimal with built-in rounding"
**Is your feature request related to a problem? Please describe.**
When casting a string value of say "29.895" to Decimal(scale:-3) = 29.895 which is correct. But what if we want to cast it to Decimal(scale:-2)? The correct answer could be 29.89 or 2.90 depending on whether the user wants the answer to be rounded up.

**Describe the solution you'd like**
Cudf should give the user control if he wan

[2022-01-12 07:09] mexicantexan opened #10024 "[QST] Keep Getting Error: "The labels need to be consecutive values from 0 to the number of unique label values""
**What is your question?**
I'm trying to fit data to the cuml.ensemble.RandomForestClassifier and I keep getting the error: "The labels need to be consecutive values from 0 to the number of unique label values"

I'm passing cudf.DataFrame objects into the function which have the same number of rows but differing number of columns. The column labels start at 0 and step by 1 up to the final column.

[2022-01-12 09:36] res-life commented on #8974
@ttnghia This case failed:
[code]

[2022-01-12 13:37] venkywonka commented on #10024
Hi @mexicantexan , thanks for the question.  The "labels" in question are the class labels of the Y1 dataframe. The `RandomForestClassifier` requires the Y class labels to be whole numbers starting from 0. In your case, seems like it starts from some negative number (-3.0?). A naive way to make it conformant is by just elementwise adding MIN_LABEL to bring them to the range [0, num_unique_class_la

[2022-01-12 14:03] beckernick commented on #10024
Note that with non-consecutive labels outside of the `[0, n)` range you will not experience this error in scikit-learn, perhaps due to label encoding happening under the hood.

[code]

I'm going to close this issue as answered, and recommend filing an issue on [cuML issue board](https://github.com/rapidsai/cuml/issues) if this behavior is desired in cuML.

[2022-01-12 14:07] beckernick commented on #10024
Filed https://github.com/rapidsai/cuml/issues/4478 and closing

[2022-01-12 14:07] #10024 closed

[2022-01-12 15:47] beckernick commented on #10021
The linked code is about 21 months old. Do you get similar errors following the documentation for [apply_rows](https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.DataFrame.apply_rows.html)?

Separately, where appropriate, we recommend using the new `df.apply` interface for UDFs. The [documentation](https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.DataFrame.apply.html?highlight=appl

[2022-01-12 16:05] mexicantexan commented on #10024
@beckernick I appreciate it! My fault I figured I was misusing the cuDF DataFrames, so asked it here naively.

[2022-01-12 20:21] anamariaUIC commented on #10021
@beckernick @shwina My issue is not with apply_rows it is with apply_chunks (please see my post above). I'm getting error (above) when I run:

outdf = df.apply_chunks(haversine_distance_kernel,
incols=['lat1', 'lon1', 'lat2', 'lon2'],
outcols=dict(out=np.float64),
kwargs=dict(),
chunks=16,
tpb=8)

How this code should be written for rapids-21.12 so that I don't have that error.

[2022-01-12 21:29] vuule commented on #9990
Would it be viable to read all columns and then select the ones of interest?

[2022-01-12 21:41] revans2 commented on #9990
Not totally. In general we rely on Spark to tell us the schema of the data we want to read and then we pass it on to CUDF to select the correct columns and return them to us in the format we want. The java API does not even have a way to tell us what the columns are that were returned. We definitely need to fix that anyways. But, even if it did tell us the names of all of the columns, we would hav

[2022-01-12 21:51] beckernick commented on #10021
I am unable to reproduce your error with the following code:

[code]

[2022-01-12 21:52] vuule commented on #9990
I'm asking as a short term solution, because column pruning would need to be reworked when we add nested type support.

Does this feature request include pruning of nested columns (same as https://github.com/rapidsai/cudf/issues/8848)?

[2022-01-13 00:32] galipremsagar opened #10031 "[FEA] Enable `Decimal128` support in cudf python"
**Is your feature request related to a problem? Please describe.**
I'd like `cudf` python to enable `Decimal128` type support and all it's related operation.

[2022-01-13 03:57] hyperbolic2346 opened #10032 "[FEA] Performance Updates for row/column conversions"
The row/column conversion code isn't as performance as desired. This is a list of things that should be tried to attempt to improve the performance.

- [ ] Different tile sizes. Right now the tile is square in size, but this may not be the best option. Tall and wide tiles should be investigated.

- [ ] Uncoalesced memory access is called out in nsight traces. Investigation into the source of these

[2022-01-13 04:15] hyperbolic2346 opened #10033 "[FEA] Add string support to row/column conversion"
Spark currently doesn't have a gpu-accelerated way to convert from an unsafe row format to a cudf table if the table includes strings. This is the feature request to add support for that.

**Describe the solution you'd like**
row/column conversions should occur on the gpu even if the table has strings in it.

**Describe alternatives you've considered**
There is a cpu-based path for this now that w

[2022-01-13 04:16] #9353 closed

[2022-01-13 12:52] revans2 commented on #9990
Long term yes we would want to be able to prune child columns as well. Unless the change is simple in the short term I would rather have us concentrate on getting a long term solution.

[2022-01-13 12:59] davidwendt commented on #10023
None of the `std::string` to number conversion functions `std:stol, std::stod, etc` perform rounding on the digit characters in the input string. I think the libcudf behavior should align with C++ standard library.

[2022-01-13 17:49] #10021 closed

[2022-01-13 17:51] anamariaUIC opened #10036 "ModuleNotFoundError: No module named 'dask.dataframe.dispatch'"
Hello,

I installed Rapids via:

conda clean --all

module load Python/3.7.4-GCCcore-8.3.0
module load CUDA/11.0.2-GCC-9.3.0

conda create -n rapids-21.12 -c rapidsai -c nvidia -c conda-forge rapids=21.12 python=3.7 cudatoolkit=11.0 dask-sql

I use Rapids via:

conda activate rapids-21.12

(rapids-21.12) anamaria@gpu-2-0.saber:~ $ python
Python 3.7.12 | packaged by conda-forge | (default, Oct 26 2

[2022-01-13 19:13] vyasr opened #10039 "[FEA] Refactor various conditional join implementations for simplicity and API consistency"
**Is your feature request related to a problem? Please describe.**
#9917 and #10037 added new join functions that use a mixture of hash lookups and AST expression evaluation. In the interest of time, a number of important performance improvements, API design questions, and general internal refactorings were overlooked. This issue aims to track those potential improvements for future work.

**Descr

[2022-01-13 19:30] bdice commented on #9826
This appears to be resolved by #9867. The changes in `_describe_timestamp` fixed it by calling
[code]

https://github.com/rapidsai/cudf/pull/9867/files#diff-20a3f41cdf918eefd141f3aba57a2db388915724daea1f3829366cbb591e72ceR3403

[2022-01-13 19:30] #9826 closed

[2022-01-13 19:51] randerzander opened #10043 "[BUG] text benchmark fails with thrust::system::system_error"
**Describe the bug**
Running the libcudf TEXT_BENCH benchmark results in a thrust system error:
[code]

**Steps/Code to reproduce bug**
Run the libcudf text benchmark

**Expected behavior**
The benchmark completes without error condition

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider)]
Docker FROM 22.

[2022-01-13 22:07] mlahir1 opened #10046 "[BUG] Exception TypeError: 'NoneType' object is not subscriptable"
Throws Exception TypeError: 'NoneType' object is not subscriptable when read_parquet has decimal columns and columns parameter is passed to the read_parquet as arg.

[code]

works fine when columns parm is not passed.
[code]

[2022-01-13 22:13] mlahir1 commented on #10046
[code]

[2022-01-14 00:59] #7196 closed

[2022-01-14 00:59] #9216 closed

[2022-01-14 00:59] #7011 closed

[2022-01-14 02:13] taureandyernv opened #10047 "[FEA] Add Localization support to cudf's Datetime capabilities"
**Is your feature request related to a problem? Please describe.**
cuDF does not support UTC offsets, `utc=True` in `cudf.to_datetime()`, `.tz_localize()`, nor external packages localization parameters (like `dateutils.parse` and `pytz`) in its datetime accessor.  We had an issue where a user tried to do that, and got errors

https://stackoverflow.com/questions/70511547/compatibility-of-datetime-w

[2022-01-14 03:56] argenisleon opened #10049 "[BUG] Error casting Bool series to Float"
**Describe the bug**
When trying to cast a Bool series to float I get
`TypeError: Unsupported type float128`

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Cast True to 1 and False to 0.

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: Conda

**Version**
21.12

[2022-01-14 13:44] BastienRance opened #10050 "[BUG] the function character_ngrams does not allow the use of the second argument (as_list)"
**Describe the bug**
The call to function _character_ngrams_ does not allow the use of the second argument.

**Steps/Code to reproduce bug**

The use of a second positioned argument returns an exception
`
import cudf
str_series = cudf.Series(['abcd','efgh','xyz'])
str_series.str.character_ngrams(3,True)
`

The use of a named argument does not have the expected behavior
`
import cudf
str_series = c

[2022-01-14 14:06] beckernick commented on #10050
I am unable to reproduce this in the 21.12 release on bare metal.

[code]

Could you please share the specific code you used and the full traceback?

[2022-01-14 14:08] beckernick commented on #10049
This is present in 22.02 also. Only for float

[code]

[2022-01-14 14:41] shwina opened #10051 "[BLOG] Blog post on improved UDF functionality"
(experimenting with using GitHub issues to track blog posts)

Our [previous blog post](https://medium.com/rapids-ai/user-defined-functions-in-rapids-cudf-2d7c3fc2728d) on user-defined functions (UDFs) is dated. We should publish one that highlights improvements to UDFs since then.

[2022-01-14 14:58] galipremsagar commented on #10046
@mlahir1 From the stacktrace, it looks like your are on an older version of `cudf`. This issue seems to be not present in latest `cudf-22.02`:

[code]

Feel free to reopen this issue with the dataset provided if you still see this issue.

[2022-01-14 14:58] #10046 closed

[2022-01-14 15:05] mlahir1 commented on #10046
This issue is happening with latest 21.12 stable release. I believe that’s the most latest stable release. Will try to create a repro data and attach it.

[2022-01-14 15:18] galipremsagar commented on #9761
I can't seem to repro this issue on local builds, @ajschmidt8 I remember we do some post-processing on top of local builds for production hosting, could it be an issue in that step?

[2022-01-14 15:25] galipremsagar commented on #10036
@anamariaUIC Can you share the output of `conda list`?

I'm not able to get the errors you have mentioned:
[code]

[2022-01-14 15:58] anamariaUIC commented on #10036
@galipremsagar dask-cuda  is there, please see bellow:

(base) anamaria@login-2[SABER]: ~ $ ssh gpu-2-0.saber
Last login: Thu Jan 13 16:26:22 2022 from login-2.saber.ib

conda activate rapids-21.12
export PATH=/home/anamaria/.conda/envs/rapids-21.12/bin:$PATH(base) anamaria@gpu-2-0.saber:~ $
(base) anamaria@gpu-2-0.saber:~ $ conda activate rapids-21.12
(rapids-21.12) anamaria@gpu-2-0.saber:~ $ exp

[2022-01-14 17:19] hyperbolic2346 opened #10054 "[FEA] Improve performance of row to column by changing order of processing"
**Is your feature request related to a problem? Please describe.**
Row to column conversions are currently about 7 times slower than column to row. It is possible the cause of this is the direction of travel of the threads in the conversion process. Currently the tiles are built going down the rows before moving to the next group of columns. This could be causing access issues when converting from

[2022-01-14 17:27] hyperbolic2346 opened #10055 "[FEA] Investigate thread striding for row/column conversions"
**Is your feature request related to a problem? Please describe.**
Currently the threads stride over the data to copy in the row/column conversion code. Each thread copies one element and then skips over the number of threads and copies another element until they are all copied. This results in each copy having to determine the column size, column offset, and row offset of each element.

**Describ

[2022-01-14 17:29] hyperbolic2346 commented on #10032
Tile sizes of 1 column, 1 row, 32 columns, and 32 rows were tried with little to no performance gain. Most saw a loss of performance.

[2022-01-14 17:55] hyperbolic2346 commented on #10032
Changed shared memory sizes to 1/2, 1/4, and 1/16 of the available memory and performance was the same for column to row and degraded for row to column.

[2022-01-14 20:59] #8963 closed

[2022-01-14 23:22] #9928 closed

[2022-01-15 00:35] #9513 closed

[2022-01-15 23:04] miguelusque opened #10059 "[FEA] Add support for equivalence of Pandas 'unstack' on Series"
**Is your feature request related to a problem? Please describe.**
Hi,

While porting some code from Pandas to cuDF, I have noticed that cuDF series do not support unstack.
As an additional request, It would be great if `fill_values` could be supported in both `cudf.DataFrame.unstack` and `cudf.Series.unstack` methods. Thanks!

**Describe the solution you'd like**
To have that method supported in

[2022-01-17 18:10] mlahir1 opened #10061 "[BUG] Dask SQL fails wile running on Multiple Workers"
Dask SQL fails wile running on Multiple Workers with LocalCUDACluster or dask-cuda-workers.

The following code works fine when each each delyed call creates a new dask-sql context:
[code]

but if the same code i just create with multiple workers in cluster dask-sql throws exception:
[code]

exception:
[code]

Even if i create a global context, i keep running into errors running on multiple thread

[2022-01-17 18:10] mlahir1 commented on #10061
@randerzander here is the bug I created as we discussed on the call last-week.

[2022-01-17 21:18] mlahir1 opened #10062 "[BUG] Exception TypeError: 'NoneType' object is not subscriptable"
Continued from [10046](https://github.com/rapidsai/cudf/issues/10046)

The following issue happens latest 21.12 stable release. I have created the repro file for the issue. Attaching to the bug here.

cudf version: 21.12.02
cudatoolkit: 11.2.72

[code]

Same file works, if i don't provide columns.
[code]
Test File for issue: [test_none.pq.zip](https://github.com/rapidsai/cudf/files/7884690/test_no

[2022-01-17 21:19] anamariaUIC commented on #10036
@galipremsagar additional related question: in order to use DASK do I need to have NVLink on my GPUs?

[2022-01-17 21:20] mlahir1 commented on #10046
Since the issue still persists, and Git hub doesn't allow to reopen issues that are closed by contributors. i am creating a new issue here with a repro file. [Bug](https://github.com/rapidsai/cudf/issues/10062)

[2022-01-18 05:06] ttnghia commented on #7995
This should be closed as it has been addressed.
Other remaining structs works are here: https://github.com/rapidsai/cudf/issues/8974

[2022-01-18 05:06] #7995 closed

[2022-01-18 11:47] #9819 closed

[2022-01-18 14:31] #9696 closed

[2022-01-18 15:56] galipremsagar commented on #10062
Thanks @mlahir1, I can now repro the issue with the parquet file. This will be fixed in upcoming `22.02` release.

[2022-01-18 17:45] bdice commented on #9854
I also support explicit streams/memory resources in detail APIs. We can easily lift that default value to the level of the public APIs, which can just call detail APIs with the default values. The developer guide currently says to include stream/mr defaults in detail APIs, and we'd need to update that.

A concrete example of this mistake being fixed is https://github.com/rapidsai/cudf/pull/9679.

[2022-01-18 18:01] ttnghia commented on #9854
If the `stream` parameter is not explicit, you can use either the public API or its internal version in the same way. It's confusing. The reason we create the detail version is to use user-provided `stream`. So, removing the default value for `stream` is reasonable and a good practice.

[2022-01-18 18:44] isVoid opened #10068 "`BaseIndex` and `IndexedFrame` has overlapping logics"
From review comments: https://github.com/rapidsai/cudf/pull/9832#pullrequestreview-845209255, recent python refactors #9832 #9807 has created some duplicate logics in `BaseIndex` and `IndexedFrame`. The main diverging part of the implementation mostly lies in column selection (handling index columns and user inputs). For some methods (such as `_apply_boolean_mask`), which unconditionally pass in a

[2022-01-18 20:15] galipremsagar opened #10070 "[BUG] Avoid materializing index when list of Series are used to construct DataFrame"
**Describe the bug**
We are materializing RangeIndex when creating a dataframe from list of `Series` objects.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [from source]

[2022-01-18 21:09] ttnghia commented on #10020
Add @devavret for similar/related topic.

[2022-01-18 21:13] #10031 closed

[2022-01-18 22:24] harrism commented on #9854
Agree they should be explicit where possible.

[2022-01-19 01:50] wbo4958 opened #10075 "[FEA] Add File Statistic when writing the ORC file"
Even with https://github.com/rapidsai/cudf/pull/10041 adding Statistic in RowIndex, CUDF still does not support writing the whole File Statistics into the ORC file.

## Why do we need this FEA?

Spark added a new FEA about aggregate pushdown for ORC/Parquet file format as of Spark 3.3.0, which pushes the aggregate to DataSource to calculate the aggregation.

Typically, for ORC, it will read File S

[2022-01-19 13:21] #10070 closed

[2022-01-19 14:58] #10062 closed

[2022-01-19 17:12] bdice opened #10076 "Clean up CUDA gpu_utils.py"
We can make some improvements to `python/cudf/cudf/utils/gpu_utils.py` now that we've dropped CUDA 10 compatibility. I noted some of these in comments on #10008.

_Originally posted by @bdice in https://github.com/rapidsai/cudf/pull/10008#discussion_r787965048_

[2022-01-19 22:49] jlowe opened #10080 "[BUG] cudaMalloc and cudaFree are being called during aggregations"
**Describe the bug**
While examining a recent trace I noticed that within the libcudf `aggregate` range there are calls to `cudaMalloc` and `cudaFree`, the latter which causes a synchronization on the default stream.  I attached gdb and put a breakpoint on `cudaMalloc` and found it was being triggered by `cudf::detail::is_relationally_comparable<cudf::table_device_view>` because it calls `thrust::

[2022-01-19 23:28] bdice opened #10081 "Improvements in `hash_functions.cuh`"
The file `hash_functions.cuh` has quite a bit of room for cleanup and improvement.

- Use `std::byte` more broadly.
- Reduce the use of magic values in hash functions.
- Separate translation units if possible -- to what extent can we avoid having a single large header?
- Make error messages more consistent.
- Use `compute_bytes` approach instead of re-implementing hash function in `string_view` te

[2022-01-20 00:20] harrism commented on #10080
Yowza. That function should take an explicit stream.

[2022-01-20 12:01] teju85 commented on #9657
Has anyone been working on this? Or has this been prioritized for anytime soon? In the past week I got/saw requests for this at a couple of places.

[2022-01-20 12:20] #8980 closed

[2022-01-20 13:08] davidwendt commented on #9657
I've not worked on it yet but I hope to start on in 22.04.

[2022-01-20 13:20] #7618 closed

[2022-01-20 13:22] #4522 closed

[2022-01-20 13:25] #9950 closed

[2022-01-20 14:07] shwina commented on #9474
Closing this as it looks like #9535 addressed it. Please feel free to reopen if I missed something.

[2022-01-20 14:13] shwina commented on #7880
@charlesbluca apologies for missing this request.

What's the expected return type here? Pandas returns an `object` column composed of Python datetime objects.

[2022-01-20 16:12] jlowe commented on #9155
Still relevant, low priority.

[2022-01-20 18:16] bdice commented on #7960
Shall we update our [Unit Benchmarking in libcudf Guide](https://github.com/rapidsai/cudf/blob/branch-22.04/cpp/docs/BENCHMARKING.md) to reflect the policy that new benchmarks should use nvbench? I think most of the information there still holds, it may just be a matter of updating the name of the tool we recommend.

[2022-01-20 22:39] isVoid opened #10098 "[FEA] Utilize Symmetry for `groupby.corr` and `groupby.cov`"
In https://github.com/rapidsai/cudf/pull/9889#discussion_r771493338, @bdice made an observation that due to symmetry, there's a chance of utilizing that to reduce computation by only applying the upper half of the matrix. In an attempt to reduce the scope of the PR, this is the issue that tracks the suggestion separately. If applicable, `groupby.corr` should also share the logic.

cc @skirui-sourc

[2022-01-21 00:06] vuule opened #10100 "[FEA] Expand ORC and Parquet benchmarks to cover different stripe/rowgroup sizes"
Add a set of benchmarks with varying stripe/rowgroup sizes to each affected component:

- [ ] ORC reader
- [ ] ORC writer
- [ ] Parquet reader
- [ ] Parquet writer

Use the new benchmarks to evaluate the effects of these options and potentially determine the optimal settings.

[2022-01-21 00:25] vuule commented on #9615
Reopening - page size control has not been implemented.

[2022-01-21 15:52] revans2 opened #10102 "[FEA] Support SUM aggregation (groupby and reduction at least) with upcasting the output."
**Is your feature request related to a problem? Please describe.**
This is a memory optimization.  In Spark if you ask to SUM ints, shorts or bytes the output is a long. In order for us to be able to do this in CUDF we first have to cast the input to a long and then ask CUDF to SUM the result. In the worst case, bytes, we need 9x the original input memory to do the operation.

**Describe the solut

[2022-01-21 16:25] jrhemstad commented on #10102
For `groupby`, the accumulation and result will always be in the largest possible type.

[`reduction`](https://github.com/rapidsai/cudf/blob/57ff6f55b9fd44e8a8e10282d3f95d5f38e299ef/cpp/include/cudf/reduction.hpp#L69) already allows specifying the output type.

[2022-01-21 16:51] beckernick opened #10104 "[BUG] Dask cuDF cummax and cummin fail due to missing axis argument in cuDF.Series.where"
Dask cuDF `cummax` and `cummin` fail due to  missing axis argument in `cuDF.Series.where` if npartitions > 1.

[code]

[code]

[2022-01-21 20:25] beckernick commented on #10059
This could possibly be implemented with the existing `cudf.core.reshape.unstack`, following a similar approach to `cudf.dataframe.unstack`. Would you be interested in contributing this functionality?

[2022-01-21 20:48] beckernick commented on #10050
I'm going to close this, as we were unable to reproduce it in the current stable or nightly (22.02) release. Please feel free to re-open to continue the discussion.

[2022-01-21 20:48] #10050 closed

[2022-01-21 20:51] beckernick commented on #9957
With the above, I'm going to close this issue as resolved. Please feel free to reopen the issue to continue the discussion.

[2022-01-21 20:51] #9957 closed

[2022-01-21 21:56] NightMachinary opened #10107 "[BUG] Creating a DataFrame from a numpy array consumes too much RAM"
**Describe the bug**
Creating a DataFrame from a numpy array consumes too much RAM.

**Steps/Code to reproduce bug**
[code]

This will result in the following main memory (not GPU memory!) usages:
- n=10e7: 1.3GB
- n=10e8: 2.1GB
- n=10e9: 9.0GB

**Expected behavior**
The numpy array itself occupies(you can comment the last two lines to see this):
- n=10e7: 72MB
- n=10e8: 415MB
- n=10e9: 3.8GB

The

[2022-01-21 22:51] beckernick commented on #10107
This is likely coming from cupy's `asarray`, which is used in the DataFrame constructor when you pass a numpy array.

Would you be open to filing this issue instead at https://github.com/cupy/cupy/issues/ to consolidate discussion?

[code]

[2022-01-22 10:33] NightMachinary commented on #10107
@beckernick I filed an issue [there](https://github.com/cupy/cupy/issues/6360), but this can only explain about half of the excess memory consumption.

[2022-01-23 05:40] lmeyerov commented on #627
It adds up on real rapids codes, e.g., `4s` for an empty cudf df

Some observations:

* `pandas` is `1+ s` on its own and maintainers seem disinterested: https://github.com/pandas-dev/pandas/issues/7282#issuecomment-442637703

* `cudf` is now `2.7+ s` import, and add another `1-2s` for even an empty df

* `dask_cudf` adds another `0.5+ s` for import, and I didn't measure importing a client and con

[2022-01-24 14:55] beckernick commented on #10107
Thanks. The differences in the tests above for smaller data sizes (but same result for 9GB) is probably related to how CuPy uses pool allocators for performance.

Is CuPy's use of CPU memory affecting a cuDF or Dask workload negatively?

[2022-01-24 18:04] hyperbolic2346 opened #10111 "[FEA] Add iterator for variable-length string data row offsets"
**Is your feature request related to a problem? Please describe.**
The next step for the row to column and column to row conversion code is to support strings. The first step to that support is to write an iterator for row offsets that supports string data. This would be an iterator similar to [`row_offset_functor`](https://github.com/rapidsai/cudf/blob/cfb6cbe6a8e4b01d7ee28fbe3212b5f2eb275167/jav

[2022-01-24 18:15] vuule commented on #9964
Both PRs are merged, closing.

[2022-01-24 18:15] #9964 closed

[2022-01-24 22:45] mlahir1 opened #10115 "[BUG] ValueError: 'category' column dtypes are currently not supported by the gpu accelerated parquet writer"
The following exception is thrown when a column of type 'int' is written using to_parquet, and read with read_parquet and re-written with to-parquet again.

So, the first to_parquet is changing the `int` col type to catg, but when reading again, and the same file is re-written it fails.

Exception: ValueError: 'category' column dtypes are currently not supported by the gpu accelerated parquet writ

[2022-01-24 23:37] #5401 closed

[2022-01-24 23:37] #9695 closed

[2022-01-24 23:57] vyasr commented on #9474
This isn't quite addressed yet because the three internal uses of the now-internal `Series._label_encoding` are still present. #9535 simply added an extra level of indirection so that those would not also throw warnings because those functions are not deprecated but they were relying on the now-deprecated `label_encoding` function. I'm removing `DataFrame.label_encoding` now, which addresses one o

[2022-01-25 00:41] miguelusque opened #10116 "[BUG] Unexpected error when assigning a value to an empty series"
**Describe the bug**
While porting some code from Pandas to cuDF, I have noticed a difference of behaviour between Pandas and cuDF.

When assigning a value to an empty series, Pandas does not produce any error, while cuDF does.

Hope it helps!
Miguel

**Steps/Code to reproduce bug**

**Expected behavior**
No error raised by cuDF.

**Environment overview (please complete the following information)*

[2022-01-25 08:41] miguelusque opened #10117 "[BUG] DataFrame columns rename. Different behaviour with regards Pandas"
**Describe the bug**
In Pandas, when renaming a column to a column name that already exists in the DataFrame, two columns with the same column name are created.

When performing the same operation in cuDF, the column to be renamed is deleted from the DataFrame.

**Steps/Code to reproduce bug**

Hope it helps!
Miguel
**Expected behavior**
Same behaviour than Pandas, or at least an error/warning hig

[2022-01-25 13:55] robert-mijakovic opened #10118 "[BUG] cudf - 21.12.02 - Kernel.cu: identifier "__int128_t" is undefined"
**Describe the bug**
Build fails with the error message:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
That compilation finishes successfully.

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: from source

[2022-01-25 14:01] #10118 closed

[2022-01-25 14:27] robert-mijakovic opened #10119 "[BUG] cudf 21.10.01: util.cpp: error: ‘<anonymous>’ may be used uninitialized in this function"
**Describe the bug**
Build fails with the error message:
[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
That compilation finishes successfully.

**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: from source

[2022-01-25 18:43] randerzander opened #10121 "[FEA] Support "mode" argument to to_csv"
I'm trying to iteratively write (append) to an existing CSV file:
[code]
[code]

As a workaround, I could always write to a new, separate CSV file and concat them together afterwards.

[2022-01-25 19:02] mlahir1 opened #10122 "[BUG] DType of Elements in Lists changes"
DType of Elements in Lists changes with `df1['trans'] = df1['xyz']`

Repro:
[code]

if i comment out the line `df1['trans'] = df1['xyz']` the dtype of list remains same.
[code]

Impact: This causing issue in concats.

[2022-01-25 20:25] anamariaUIC commented on #10036
@galipremsagar are there are any updates on these questions?

[2022-01-25 20:42] bdice opened #10125 "Remove `drop_nan` parameter from `IndexedFrame._drop_na_rows`."
While reviewing #10123, I noticed the `drop_nan` parameter should be removed from `IndexedFrame._drop_na_rows` (it should always be treated as `True`).

`drop_nan` currently defaults to `False` but this internal method is only called in one place. In that call, `drop_nan` is hard-coded as `True`. https://github.com/rapidsai/cudf/blob/baff5cfd4cb9deb8f7887d597740c0728cbd4407/python/cudf/cudf/core/i

[2022-01-25 20:45] beckernick commented on #10036
Using Dask does not require NVLink.

Your conda environment appears to have Dask (`dask 2021.11.2 pyhd8ed1ab_0 conda-forge`). Is it possible your environment is not correctly set up on your system (do other libraries work), or that you may be picking up a different Dask from somewhere else on the system?

[2022-01-25 23:30] galipremsagar opened #10126 "[FEA] Enable `.str.find_multiple` public API"
**Is your feature request related to a problem? Please describe.**
We currently have `cudf._lib.strings.find_multiple` which is an internal API. We would like to expose it via a public API similar to what we wanted to do in: https://github.com/rapidsai/cudf/pull/4575, this was previously dropped due to lack of ListColumn support: https://github.com/rapidsai/cudf/issues/4569#issuecomment-600807535,

[2022-01-25 23:37] bdice commented on #10126
Additional context (@galipremsagar beat me to filing an issue! 😉):

The gpu-bdb query 18 code uses this private API, `cudf._lib.strings.find_multiple`, to search a column of string values for a list of target values:
https://github.com/rapidsai/gpu-bdb/blob/f67ea68d4b422c998d0284cc69fc82ed371c69cc/gpu_bdb/queries/q18/gpu_bdb_query_18.py#L106-L126

**Describe the solution you'd like**
Query 18 shou

[2022-01-26 00:38] davidwendt commented on #10126
Technically you can build the lists column in the Python layer by just creating an offsets column an using it along with column returned by the `find_multiple` API.

[code]
Build a ListColumn by using `offsets` and `results` as its child columns.

[2022-01-26 00:55] vuule opened #10129 "[FEA] Remove the ORC reader option to read decimal columns as float"
Now that all decimal types are available in C++ and Python, conversion to float should not be used as it leads to data loss.

- [x] Deprecate the APIs - 22.04
- [ ] Remove the API and implementation - 22.06

[2022-01-26 00:55] vuule commented on #10129
CC @galipremsagar

[2022-01-26 01:04] #5710 closed

[2022-01-26 04:46] isVoid opened #10130 "[BUG] Type annotation for `Frame._columns` Mismatches with Actual Return Type"
**Describe the bug**
The type annotation of `frame._columns` is `List[Any]`:
https://github.com/rapidsai/cudf/blob/22daaea61e60cc7c1d557e0ce47c65d49a82af53/python/cudf/cudf/core/frame.py#L107

The actual return type is a tuple:
https://github.com/rapidsai/cudf/blob/22daaea61e60cc7c1d557e0ce47c65d49a82af53/python/cudf/cudf/core/column_accessor.py#L213

**Steps/Code to reproduce bug**
N/A

**Expecte

[2022-01-26 05:03] #9541 closed

[2022-01-26 18:48] #10043 closed

[2022-01-26 20:07] #10076 closed

[2022-01-26 20:14] vyasr opened #10138 "Create dispatcher for different regex stack sizes"
This dispatch pattern must be common throughout regex codes. Could we implement a dispatcher for this based on `floor(regex_insts)`? Feel free to push to future work, no need to clutter this PR even if you think it's a good idea, I just wanted to mention it while it's fresh.

_Originally posted by @vyasr in https://github.com/rapidsai/cudf/pull/9911#discussion_r792959528_

[2022-01-26 22:44] charlesbluca commented on #7880
For dask-sql's purposes, ideally any column that can later be cast to a `datetime64[ns]`, so I think string columns should work here if Python datetime objects can't be done.

That being said, the usage in dask-sql is for a workaround to address the fact that cuDF and pandas (for timezoned datetime columns) don't support `astype("datetime64[D]")` - depending on the work required, it might be easie

[2022-01-27 01:27] #10117 closed

[2022-01-27 01:35] #10125 closed

[2022-01-27 01:41] galipremsagar commented on #10129
Deprecation from Python side has been completed in `22.04` as part of #10142

[2022-01-27 05:24] chinmaychandak opened #10144 "[FEA] Add an optional max_file_size parameter to Chunked Parquet Writer"
The chunked Parquet writer now supports partitioning.

In ETL/Streaming, we can now append the partitioned Parquet output of every batch to a single file per partition inside the parquet directory instead of creating a separate small parquet file per partition per batch.

However, with use cases like streaming, the appended parquet files can become arbitrarily large, which can become a problem in

[2022-01-27 13:57] ajschmidt8 commented on #9761
Yes, I think this is due to the post-processing. I think I found the issue. The sidebar height gets messed up since I insert some additional HTML elements. I will open a PR to adjust the CSS accordingly.

[2022-01-27 14:11] ajschmidt8 commented on #9761
PR opened below.

- https://github.com/rapidsai/docs/pull/247

We will be able to preview the fix in the PR at the link shown in the screenshot below once that GitHub Check completes.

![image](https://user-images.githubusercontent.com/7400326/151375463-e30c2090-1ccb-4395-a7d8-c4e62d2d3cff.png)

[2022-01-27 14:20] ajschmidt8 commented on #9761
Seems to be resolved now in the preview environment below.

https://deploy-preview-247--docs-rapids-ai.netlify.app/api/cudf/nightly/api_docs/series.html

Please confirm and then we can merge the PR and close this issue.

[2022-01-27 16:04] jlowe commented on #10102
Thanks, @jrhemstad!  I double-checked how this was happening for a groupby with a sum aggregation, and input INT32 columns into the sum aggregation are indeed returned as INT64 output columns.  However UINT32 columns are also being returned as INT64 rather than UINT64.  Is that intentional?

[2022-01-27 18:06] jrhemstad commented on #10102
Not really. I think the machinery in question was added before unsigned support and then was just never updated. It should be updated to use uint64 for unsigned integer types: https://github.com/rapidsai/cudf/blob/1246116c05abb6635624db25351f6596aa0abf2d/cpp/include/cudf/detail/aggregation/aggregation.hpp#L1140-L1147

[2022-01-27 19:24] jlowe opened #10149 "[BUG] Sum and multiply aggregations promote unsigned input types to a signed output"
**Describe the bug**
When performing aggregations, the output types are often upscaled to help combat overflow situations.  For example, performing a sum aggregation on an INT32 column will produce an INT64 result.  However performing a sum aggregation on a UINT32 column produces an INT64 result rather than a UINT64 result.

**Steps/Code to reproduce bug**
Perform a sum aggregation with an input c

[2022-01-27 19:24] jlowe commented on #10102
Thanks, @jrhemstad! I filed #10149 to track.

[2022-01-27 19:36] revans2 commented on #10102
I am going to close this now because we have #10149 to track the bug and this feature has been implemented.

[2022-01-27 19:36] #10102 closed

[2022-01-27 21:41] anamariaUIC commented on #10036
@beckernick ok, please see the following:

(rapids-21.12) anamaria@gpu-2-0.saber:~ $ python
Python 3.7.12 | packaged by conda-forge | (default, Oct 26 2021, 06:08:53)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ModuleNotFoundError: No module named 'dask.dataframe.dispatch'

Tra

[2022-01-27 21:53] davidwendt commented on #5217
Supporting case-sensitivity dynamically inside the regex pattern will probably not be supported. However, it does look it would be possible to add support for a regex flag like https://docs.python.org/3/library/re.html#re.IGNORECASE where the entire pattern is evaluated as case-sensitive (or not).

[2022-01-27 23:09] #10006 closed

[2022-01-28 00:56] isVoid opened #10153 "[FEA] Use List of Columns instead of Frames in Cython API"
Following the removal of `Table` class https://github.com/rapidsai/cudf/pull/9315, and a pilot study of changing several cython APIs into using list of columns https://github.com/rapidsai/cudf/pull/9558, we want to extend the previous effort and use lists of columns to replace usage of `Frame` with list of columns. The main arguments for this change are:
1. Libcudf's `table_view` is essentially a

[2022-01-28 01:47] isVoid opened #10155 "[BUG] `to_struct` Fails if DataFrame Column Name is not String"
**Describe the bug**
cuDF/Pandas column names can be any hashable types. But PyArrow only allows string type as its field name. In `build_struct_column`, we directly pass the name of the column as the name of the field. Boom.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I think we can stringify the column names before we construct the field names. Although objects that are hashab

[2022-01-28 14:15] #9598 closed

[2022-01-28 15:55] karthikeyann opened #10158 "[BUG] OrcReader benchmark failure"
**Describe the bug**
ORC_READER_BENCH crashes with
[code]

**Steps/Code to reproduce bug**
`./benchmarks/ORC_READER_BENCH --benchmark_filter=OrcRead/row_selection/0/4/1/3/0`

or
Run all OrcRead/row_selection benchmarks.
`time ./benchmarks/ORC_READER_BENCH --benchmark_filter=row_selection`

**Additional context**
Discovered while working on https://github.com/rapidsai/cudf/pull/10109

[2022-01-28 16:08] #9184 closed

[2022-01-28 17:11] vyasr opened #10159 "libcudf deprecation policy"
As discussed in https://github.com/rapidsai/cudf/pull/10152#issuecomment-1023862782, it would be good to introduce a formal deprecation policy to libcudf. Depending on what types of stability guarantees we provide, such a policy could cover:
- Whether code deprecation before removal is required or only done for critical APIs.
- How long before deprecated code should be removed.
- How we advertise

[2022-01-28 17:48] #9465 closed

[2022-01-28 18:38] hyperbolic2346 opened #10160 "[FEA]Add support in column to row conversion for strings"
**Is your feature request related to a problem? Please describe.**
Currently there isn't a way to convert a table from columnar to row with strings via the GPU and it must be done on the CPU. The goal is to make this transition happen on the GPU and be faster than the CPU implementation.

**Describe the solution you'd like**
Leveraging the code from #10157 a kernel needs to be written to copy the

[2022-01-28 21:28] kkraus14 opened #10162 "[BUG] Patch release process leaves branches not versioned properly"
**Describe the bug**
When doing patch releases, there's a commit from @GPUtester against the `main` branch that bumps the version number in a few files. For example, https://github.com/rapidsai/cudf/commit/06540b9b3795931dccf0ba73b592af62c690086c.

If you look at the associated branch that also has the patches applied, it did not receive the version bump: https://github.com/rapidsai/cudf/blob/bran

[2022-01-28 22:43] ayushdg opened #10163 "[BUG] distributed dask_cudf.read_parquet much slower in ipython/jupyter vs python"
**Describe the bug**
When doing a `dask_cudf.read_parquet` on a `LocalCUDACluster` I see a significant performance difference when running the same code in a ipython/jupyter session vs running it as a standalone python script.

From the profiles it seems like most of the delta is actually coming from time taken to `deserialize` in both instances.

**Steps/Code to reproduce bug**
[code]

This takes

[2022-01-28 23:03] jakirkham commented on #10163
Is `read_parquet` at the end of a cell (or in its own cell)? If so, IPython or Jupyter may be generating a `repr` for it, which could be slow (depending on what that entails)

[2022-01-28 23:15] ayushdg commented on #10163
in this situation `read_parquet` is in the same cell as everything else in the script above. I just copy pasted the reproducer into a single ipython cell and ran the same thing there

[2022-01-28 23:36] vyasr opened #10166 "[DEPRECATION] Remove Series.merge"
pandas only support merge operations on Series via the `pd.merge` or `DataFrame.merge` APIs.

[2022-01-28 23:50] ayushdg commented on #10163
Couple of more findings:
- The time taken to deserialize gets worse as number of workers increases. Eg: At 2 workers it takes about ~3s per worker vs 16 workers takes ~7.5s per worker.

- In an older Rapids version this deserialization takes about ~350ms:
[code]

While in the latest release it takes about ~7.5s:
[code]

I verified this by keeping the ipython version constant so it's most likely so

[2022-01-29 00:25] jakirkham commented on #10163
I'm still wondering if it is a `repr` thing. Maybe try adding a semicolon after the problematic line?

[2022-01-29 03:40] jakirkham commented on #10163
Have we tried with IPython 7? Wondering if something changed in that major version bump

[2022-01-31 00:09] harrism commented on #10159
I think deprecation should only be required for removals that cause API or ABI breaks, or that change behavior.

[2022-01-31 14:19] beckernick opened #10169 "[FEA] Standardize applymap support with pandas to enable Dask applymap"
Today, we support the `applymap` interface on Series but not DataFrames. Pandas supports `applymap` on DataFrames but not Series. In pandas, the interface provides applies a scalar function/UDF to every element in the dataframe (elementwise UDF).

The reason for our Series.applymap implementation may be that, until recently, we did not support an elementwise `apply` interface directly. Now that we

[2022-01-31 15:26] beckernick commented on #10163
Do we see this behavior without dask-cuda / GPU data structures?

[2022-01-31 16:37] galipremsagar commented on #10129
@vuule Since `22.04` part of this PR is complete. I'm moving this to `22.06`

[2022-01-31 17:33] ayushdg commented on #10163
Tried but didn't seem to change performance.

Yup, verified that it's reproducible in ipython v7.26.0 and seems to have appeared b/w rapids 22.10 and 22.12

Nope, without a cluster I see similar perf in both situations.

[2022-01-31 17:35] #10122 closed

[2022-01-31 17:47] quasiben commented on #10163
@jacobtomlinson would you have time to look at this ?  Do you think something in HTML reprs is doing something funky ?

[2022-01-31 18:04] brandon-b-miller commented on #10169
I can look into this, @beckernick .

[2022-01-31 19:18] galipremsagar opened #10172 "[BUG] Unable to retrieve `Decimal` types correctly when read via `pandas.read_parquet`"
**Describe the bug**
It first appears to be a `pandas` bug but after a detailed comparison with `pyarrow` parquet writer, it appears to be a `cudf` parquet writer issue.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of cuDF install: [from source]

**Environm

[2022-01-31 19:30] beckernick opened #10173 "[FEA] Support for groupby rolling aggregations in dask-cudf"
Today, Dask supports several groupby rolling operations on time frequency windows (e.g., "1 hour"), including canonical reductions like sum, max, min, mean, std, and var.

These operations are not supported with dask-cuDF. We should support these operations.

They currently fail with the following error:

[code]

Env:
<details>
conda list | grep "rapids\|dask"
cudf                      22.04.00a22

[2022-01-31 19:38] beckernick opened #10175 "[BUG] Groupby rolling window aggregations on time windows fail for SeriesGroupby"
For time windows, grouped rolling window aggregations currently fail for SeriesGroupby objects, but succeed on DataFrameGroupby objects.

[code]

We do not see this behavior for grouped rolling window aggregations not using time windows.

[code]

Env:
<details>
conda list | grep "rapids\|dask"
cudf                      22.04.00a220131 cuda_11_py38_gc25d35b361_93    rapidsai-nightly
dask

[2022-01-31 20:11] bdice opened #10177 "[FEA] Commutative bitwise operators (e.g. __rxor__) for cudf.Series."
**Is your feature request related to a problem? Please describe.**
`cudf.Series` does not have right-side binary operators for bitwise operators like `__rxor__`. This was caught after changing the output of `Series.hash_values` from a `cupy.array` to a `cudf.Series` in #9390, which broke NVTabular: https://github.com/NVIDIA-Merlin/NVTabular/pull/1376#pullrequestreview-868327738. The `cupy.array` c

[2022-01-31 20:51] bdice opened #10178 "[BUG] pow operator not acting as expected."
**Describe the bug**
`__pow__` / `__rpow__` binary operations do not give the expected results in the following cases.

**Steps/Code to reproduce bug**
Powers of `3 ** 1`.
[code]

This happens for other integers as well:
[code]
gives
[code]

Also, the power does not have to be 1. There are a lot of integers that fail, always off-by-one in the result.
[code]

It gives the wrong results for Series w

[2022-01-31 20:58] vyasr commented on #10178
This appears to be some sort of precision issue that manifests for specific numbers. I can reproduce on my machine, and moreover there are other apparently unrelated numbers conforming to no specific pattern that exhibit the same behavior of `x**1 == x-1`.
[code]

[2022-01-31 21:11] vyasr commented on #10159
I agree, definitely only for user-facing changes. At present, though, such changes often happen without any deprecation cycle at all. Do you think we should change that and always have some sort of deprecation cycle? Are we mature enough to stop allowing breaking change without warning? For reference, cuDF Python generally follows a deprecation cycle of one release (although sometimes it gets long

[2022-01-31 21:55] harrism commented on #10159
I do think a deprecation cycle is a good policy. We have used in RMM [[deprecated]] in the past. I think a single release cycle as a minimum is good.

[2022-02-01 13:37] jacobtomlinson commented on #10163
Calling an HTML repr could have side effects I guess, but given that @ayushdg said the semicolon hasn't made a difference then perhaps it's not that.

[2022-02-01 14:53] GregoryKimball commented on #10158
Looks like a duplicate of https://github.com/rapidsai/cudf/issues/9961

[2022-02-01 15:05] beckernick opened #10180 "[BUG] Dask-cuDF fillna fails when passed a Dask Series (unlike Dask CPU)"
Passing a Dask-cuDF Series to Dask-cuDF's `DataFrame.fillna` method throws a TypeError, while the equivalent code on the CPU works as expected.

This issue extracts and updates an underlying bug from https://github.com/rapidsai/cudf/issues/6759 , which is a feature request for a feature like the SQL function COALESCE.

[code]

From a quick debug, I suspect the issue may be that we get a zero-dimen

[2022-02-01 15:39] revans2 opened #10181 "[FEA] group by aggregations that include a list of strings as the grouping type"
**Is your feature request related to a problem? Please describe.**
We have a customer that would like to perform group by aggregations in Spark on a column that contains a list of strings.

https://github.com/NVIDIA/spark-rapids/issues/4656

**Describe the solution you'd like**
To be specific we want to be able to create a [`cudf::group_by` ](https://github.com/rapidsai/cudf/blob/2c6b0dac61a667164

[2022-02-01 16:16] quasiben commented on #10163
Still exploring the repr deserialization time could you store the output of wait in a dummy variable:

[2022-02-01 16:20] jrhemstad commented on #10181
Please do. Non-equality comparison is a different beast.

[2022-02-01 16:35] devavret commented on #10181
For groupby aggregate, we need a list hash and a list equality, neither of which is supported right now. But I think it's easier to do both of these rather than implement a list lexicographical comparator, which would be needed for sort based groupby.

With the former, we can do a hash groupby where the output order of grouped keys is non deterministic. And you can't even sort **after** the groupb

[2022-02-01 17:00] bdice opened #10183 "[FEA] Unify distinct_count column/table APIs."
**Is your feature request related to a problem? Please describe.**
While reviewing #10030, I found that the column and table algorithms for `distinct_count` have completely different flags for null and NaN handling. The column API has `null_policy` (include/exclude) and `nan_policy` (NaN is/isn't null), while the table API has `null_equality` (nulls are equal/unequal).

This also applies to `unord

[2022-02-01 17:55] revans2 opened #10184 "[FEA] Support sorting on lists of Strings"
**Is your feature request related to a problem? Please describe.**
This is from https://github.com/rapidsai/cudf/issues/10181.

Spark's sorting is similar to what we currently do for sorting structs. It also has the same problem in that Spark lets you define at the top level if NULLs come first or last, but then ignores it for nested types. It is okay if the null ordering is consistent at all leve

[2022-02-01 17:56] revans2 commented on #10181
I filed #10184 for sorting lists of strings.  I will delete it from the description here.

[2022-02-01 18:06] ayushdg commented on #10163
This did not seem to impact the runtime either. I did notice however that the long `deserialize-read-parquet` time does coincide with a spike in unmanaged memory of about `1GB` stored per worker on the dashboard.

[2022-02-01 19:15] devavret commented on #10184
Now this looks like a duplicate of #5890

[2022-02-01 19:17] devavret commented on #10181
Just realized, this looks like a special case of #8039.

[2022-02-01 20:51] devavret opened #10186 "[FEA] Story - Supporting row operators on nested types"
There have been several requests to enable row operators on nested types. This issue is to track all related issues as a story.

There are three types of row operators we need to support (equality comparison `==`, lexicographic comparison `<`, and hashing `#`) on two different nested types (`LIST` and `STRUCT`).

|Status|Issue|Type|Operation|Notes|
|-|-|-|-|-|
|✔️|#8683|STRUCT|`==`|Solved by flatt

[2022-02-01 21:07] devavret commented on #10186
This may be achieved by specializing [`element_hasher`](https://github.com/rapidsai/cudf/blob/e4a16ae2550f5a7481887b28c7a60fc14fea2f5c/cpp/include/cudf/table/row_operators.cuh#L433-L440) for `list_view` and passing `list_device_view` to hash_function. Then instead of defining [`MurmurHash3_32<cudf::list_view>`](https://github.com/rapidsai/cudf/blob/276bcf4171c82101a12b3d2392802e4746d0d2e3/cpp/incl

[2022-02-01 23:00] beckernick commented on #10163
(The below compares running as a Python script with running the code snippet inside an IPython session).

In the 21.12 environment, I see the observed deserialization slowdown in IPython.

In the 21.08 environment, I do **not** see the observed slowdown in IPython. I do see slightly more deserialization time when running in IPython, but it's not the 1.5+ seconds change I see in 21.12+.

21.12 part

[2022-02-01 23:05] ayushdg commented on #10163
Thanks for reproducing @beckernick, this is inline with the behavior I've observed as well. The ipython version has a higher deserialization time vs python but not by the margin observed in 22.12.

I did some preliminary testing by changing the dask, distributed and dask-cuda versions to something older and that didn't fix things, so it's most likely changes to fsspec or dask-cudf/cudf that are mo

[2022-02-02 02:45] hchen98 opened #10187 "Error with "Expected 48 from C header, got 40 from PyObject""
When I try the Rapid GPU online colab demo, I have encountered the following issue:

![image](https://user-images.githubusercontent.com/12217705/152085085-e7184eed-77ae-42cf-be22-1dd531bf1a0f.png)

The error log:

[code]

Has anyone had the same issue? I even reinstall the different version of Numpy but still doesn't work.

[2022-02-02 12:57] pbruneau commented on #8585
The problems reported above and highlighted [in this minimal gist](https://gist.github.com/pbruneau/53312fe4bef649b7780f8f63bf09fbe1) still occur with v21.12, with exactly the same error messages.

[2022-02-02 15:26] lixy3 commented on #10187
I've got the same error today on the PRO version of Google Colab. I've been using RAPIDS for a few months with no issues until now and always used the script from [https://rapids.ai/start.html](url) to install RAPIDS in Colab. @shwina I attached screenshots with the output you mentioned.

<img width="719" alt="Screenshot 2022-02-02 at 15 11 01" src="https://user-images.githubusercontent.com/451322

[2022-02-02 15:29] revans2 commented on #10181
Yes this very much is a special case of #8039. If you want to duplicate them, I am fine with it. I just wanted to be sure that the Spark requirements were properly captured.

[2022-02-02 15:30] revans2 commented on #10184
Yes this is a special case of #5890

[2022-02-02 15:51] quasiben commented on #10163
As an experiment I tried pre-importing cudf/dask-cudf and this seemed to change both the overall time and the task stream.  @ayushdg can you try the following before the perf-report call

[code]

[2022-02-02 16:59] revans2 commented on #8827
This is still wanted

[2022-02-02 17:35] hchen98 commented on #10187
@shwina  here you go:

![image](https://user-images.githubusercontent.com/12217705/152206827-02f8ddc5-1ec6-4c60-92e5-2c641c38cb41.png)

[2022-02-02 18:12] galipremsagar commented on #9761
It seems to be fixed. Thanks @ajschmidt8 Closing this issue.

[2022-02-02 18:12] #9761 closed

[2022-02-02 18:36] shwina commented on #10187
Thanks!

The `dist-packages` in the path indicates that pyarrow was installed using the system package manager (eg., `apt`), and  that version is being preferred over the one installed by `conda`.

We're investigating what exactly is going wrong on Colab and will report back here with a solution.

[2022-02-02 19:03] ayushdg commented on #10163
Thanks @quasiben can confirm that pre-importing cudf seems to fix the performance issue:
[code]

Do folks here have any idea on what might have changed in cudf that made the serialization/deserialization time for the import so much slower in ipython?
Ideally I expect to not want to make this a common pattern with jupyter

[2022-02-02 19:38] quasiben commented on #10163
I still don't know what has changed but cudf _is not_ loaded at launch time when running with ipython.

[code]

The time print out is coming from me testing how long it takes to load cudf (inject into cudf.__init__.py).  Running with Python we see all the time statements for each worker and the client

[code]

[2022-02-02 20:44] bdice commented on #10166
Cross-referencing: #9316

[2022-02-02 20:58] mlahir1 opened #10196 "[BUG] get_json_object parsing values."
when the field is not present in the nested json field, it doesn't return empty list/NA, rather it just ignores the field.
This way it becomes impossible to map the values to right rows after mapping.

[code]

[2022-02-02 21:01] vyasr commented on #10166
Thanks. Related, https://github.com/rapidsai/cudf/issues/9316#issuecomment-969341695 needs to be addressed before we remove this API.

[2022-02-02 21:03] vyasr commented on #10159
Doxygen also [supports deprecations in the documentation](https://www.doxygen.nl/manual/commands.html#cmddeprecated), should we make use of that as well?

[2022-02-02 21:43] quasiben commented on #10163
Also, the long import times is something brought in another issue.  More recently here: https://github.com/rapidsai/cudf/issues/627#issuecomment-1019417913

[2022-02-02 21:58] quasiben commented on #10163
I wonder if this is due to some strangeness with how ipython/jupyter handles spawn/fork and whether the imports get serialized and executed on the workers

[2022-02-02 23:01] vyasr opened #10200 "[FEA] Diversify libcudf's exceptions to simplify exception handling"
**Is your feature request related to a problem? Please describe.**
Currently the vast majority of exceptions thrown by libcudf are `cudf::logic_error` due to the use of the `CUDF_EXPECTS` and `CUDF_FAIL` macros. These are in large part used for input validation. Aside from `cudf::logic_error`, the only other exceptions that are thrown with any frequency are `std::bad_alloc` or `cuda_error`. While

[2022-02-02 23:02] vyasr commented on #10200
CC @jlowe @revans2 for a Java perspective.

[2022-02-02 23:09] #9961 closed

[2022-02-02 23:09] jrhemstad commented on #10200
Note that RMM's version already has this: https://github.com/rapidsai/rmm/blob/0515ca47bc6abdc4619a099976bdbf059cbde624/include/rmm/detail/error.hpp#L87-L120

I'm totally support this so long as we have a precise list of the exact exceptions you'd want libcudf to throw and precisely when you'd want them to be thrown.

I do not support this. The `what()` message is not the correct channel to carry

[2022-02-02 23:50] #9611 closed

[2022-02-03 00:29] craigcitro commented on #10187
Hi @shwina, colab-team member here; we got a similar report that I've duped into this issue. LMK if there are questions I can answer from our side.

There was one possibly-relevant change on our side: we just updated pandas from 1.1.5 to 1.3.5; IIUC you're installing your own copy of pandas from conda, but I thought I'd mention it in case it was helpful.

[2022-02-03 06:03] praguna commented on #10187
@shwina  any workaround for this ?

[2022-02-03 06:25] prateek2512 commented on #10187
Hi i am also facing this issue in colab pro. i was using cudf in colab 3 days before normally. but from last 2 days above error is coming when importing cudf

[2022-02-03 11:19] shwina commented on #10187
Thanks @craigcitro, that is helpful! I believe the issue is on our end though. Ideally we should run in a totally separate environment from the built-in one on Colab, but we use `/usr/local` as our conda prefix which is messing things up. We are working to fix this and I'll report here with a solution or workaround as soon as I find one.

Apologies for the inconvenience.

[2022-02-03 12:43] shwina commented on #10187
Hi @craigcitro - upon some reflection, I realize that the reason we are installing conda packages into `/usr/local` is because that's where the `base` conda environment is installed when using `condacolab`: https://github.com/conda-incubator/condacolab#how-does-it-work

This sounds like it would result in conflicts with Python packages installed via the system package manager. For example, if you

[2022-02-03 13:25] davidwendt commented on #9657
@VibhuJawa Some questions based on the examples given here. You want a BPE function that takes a host string (and the merge/rank table) and returns the BPE as a host string?

This shows passing in a word (substring of a string) and returning the BPE and then the Python code builds an array of BPE strings from each token.
[code]

The [`Thisisit`](https://github.com/rapidsai/cudf/issues/9657#issueco

[2022-02-03 13:46] shwina commented on #10187
To convince myself that this is the issue, I deleted `pandas` and `pyarrow` from the module cache before importing `cudf` and that seems to work:

[code]

[2022-02-03 15:15] beckernick commented on #3591
Bringing this comment to the primary issue, rather than a commit: https://github.com/rapidsai/cudf/commit/b803c4ef48824238935f4972e472367d13ec34e7#commitcomment-65914602

cc @chil-trek thanks for commentnig. Could you share any additional information about how you'd like to use groupby.rank?

[2022-02-03 15:35] charlesbluca commented on #9859
To provide some additional context here, the generated cufile.log:

[code]

[2022-02-03 15:38] galipremsagar opened #10207 "[BUG] Push down making deep copies of columns after utilizing the cached attributes"
**Describe the bug**
In case of `fillna`:
We have `null_count` & `nan_count` based optimizations here: https://github.com/rapidsai/cudf/blob/branch-22.04/python/cudf/cudf/core/column/numerical.py#L438
But it is the copy that is happening before it: https://github.com/rapidsai/cudf/blob/branch-22.04/python/cudf/cudf/core/frame.py#L1228

Whenever we do a copy, we are basically flushing out the cache

[2022-02-03 15:55] charlesbluca commented on #9861
To provide some additional context here, the generated cufile.log:

[code]

[2022-02-03 16:21] hchen98 commented on #10187
Hey @shwina, I tried the solution you mentioned; however, I encountered the same issue as what @Halegua has faced.

[2022-02-03 16:40] chil-trek commented on #3591
@beckernick - I am looking for the following

Taking the example that I have come across in libcudf documentation, say I have the below dataframe
df = cudf.DataFrame()
df['driver_name'] = ["bottas", "bottas", "bottas", "bottas", "bottas", "hamilton", "hamilton", "hamilton", "hamilton"]
df['num_overtakes'] = [2, 2, 2, 1, 1, 4, 4, 3, 2]
df['lap_number'] = [3, 7, 7, 1, 2, 1, 1, 4, 4]

I want to compu

[2022-02-03 16:41] craigcitro commented on #10187
@shwina following up with a few questions all at once:

1. We do all python installs via `pip`. However, we get our `python` installs from ubuntu via `apt`, which I suspect is the reason `dist-packages` gets preferred. We don't have any plans to start building our own python from source.
2. Yes, we import `pandas` at startup: it happens to be a dep of `google.colab`. Based on feedback, the majorit

[2022-02-03 16:58] hchen98 commented on #10187
Hey @craigcitro, I tried to restart (Factory reset runtime as well) the runtime after all necessary packages are installed. However, it did not work. I will try restarting the kernel.

For updating the version of pyarrow in Colab, I tried via `!conda install -c conda-forge pyarrow` on version 6.0.1, it causes inconsistent versioning with other packages.

[2022-02-03 17:01] bdice commented on #10178
This comment summarizes some Slack discussions, analysis, and plans for fixing this bug.

C++'s `[std::pow](https://en.cppreference.com/w/cpp/numeric/math/pow)` always returns `double`. Current our libcudf implementation of `Pow` always [casts to `double`](https://github.com/rapidsai/cudf/blob/f4ac6d46a04995a43480050adf8d005f25336055/cpp/src/binaryop/compiled/operation.cuh#L215) but then machinery

[2022-02-03 17:46] shwina commented on #10187
Thanks, @craigcitro  -- that does help clear some things up for me.

That's fair. I'm still not sure what the root issue is but suspect it's some combination of:

- system,`pip`, and `conda` packages installed into the same environment
- pre-importing Pandas

Upgrading PyArrow in Colab will hopefully resolve this for now.

Thanks again!

[2022-02-03 22:03] bdice opened #10212 "[FEA] Series.diff and DataFrame.diff should support non-numeric types (timestamps, durations)"
**Is your feature request related to a problem? Please describe.**
While reviewing PR #9817 to introduce `DataFrame.diff`, I noticed that it is restricted to acting on numeric types.

A time-series diff is probably a very common user need, if provided a series of timestamps and seeking the durations between observations.

Pandas supports diffs on non-numeric types like timestamps:

[code]

**Descr

[2022-02-03 22:06] NVnavkumar opened #10213 "[BUG] Hexadecimal escape does not match for codes that end in `A`"
**Describe the bug**
When building a regular expression using hexadecimal escaped characters, hexadecimal codes that end in `A` or `a` do not match.

**Steps/Code to reproduce bug**
Python code example:
[code]
The same applies for `\x1a`, `\x2a`, and so on.

**Expected behavior**
Both `contains()` calls should return a series with a single value of `True`

**Environment overview (please complete t

[2022-02-03 22:45] bdice opened #10214 "[BUG] test_groupby_diff_row_mixed_numerics failed randomly with overflow in datetime subtraction"
**Describe the bug**
The test `test_groupby_diff_row_mixed_numerics` failed randomly in CI. The randomly generated values resulted in overflow during subtraction in a datetime column, which caused pandas to fail (cudf did not fail).

<details>
<summary>Traceback here</summary>

[code]

</details>

https://gpuci.gpuopenanalytics.com/job/rapidsai/job/gpuci/job/cudf/job/prb/job/cudf-gpu-test/CUDA=11.

[2022-02-03 23:12] nvdbaranec opened #10215 "[FEA] Parquet reader optimization."
Putting this up with a reference to:  https://github.com/NVIDIA/spark-rapids/issues/4687

Essentially, optimization work to the parquet reader to deal with a specific case:  files with large amount of rows encoded via dictionary as opposed to flat data.  Specifically addressing the data found in TPC-DS Q9.

The NVComp team put together a simple parquet reader for fixed-width types stored as flat d

[2022-02-03 23:52] davidwendt commented on #9657
For reference: https://gist.github.com/VibhuJawa/8df50cd638d3d98f36109d8316dfa4ad

[2022-02-04 00:48] VibhuJawa commented on #9657
**On the vocab front**

 I tried to verify if we can indeed treat the `vocab.json` files similar to how we treat `vocab` in Subword tokenizer and  i think we can but there are three main discrepancies i found.

**Similarity:** The vocab dict is a continuous range of ints mapping to a tokens.

Verified that across the commonly used models the `token->id dict` can be treated as a list as there are n

[2022-02-04 11:31] Ahanmr opened #10219 "[BUG] CUDA memory allocation on large dataset"
**Describe the bug**
I was using cudf to read_parquet( ) files but the problem currently is that it fails to read a 58M row dataset whose size is 4.7GB onto the GPU. I'm getting the following error.
[code]

I'm currently using two T-4 GPUs yet I'm failing to load this dataset.
[code]

[2022-02-04 14:29] quasiben commented on #10163
It's not strangeness but rather when spawning, there is no script in the ipython/jupyter context for the worker to load and thus we don't see the import of cudf/dask-cudf.  We could potentially resolve this in dask-cuda with an optional plugin to autoload cudf/dask-cudf.

[2022-02-04 14:46] beckernick commented on #10219
cuDF is a single GPU library. To handle these kinds of workloads across GPUs, you can use Dask or Spark.

[code]

Dask-CUDA / Dask-cuDF is an extension of Dask, so to learn more please visit the [Dask](https://docs.dask.org/en/stable/) or [Dask-CUDA](https://docs.rapids.ai/api/dask-cuda/nightly/index.html) documentation

[2022-02-04 14:57] quasiben commented on #10163
@pentschev quickly wrote this PR in dask-cuda https://github.com/rapidsai/dask-cuda/pull/854 which allows users to define pre-imports like the following:

My testing showed this resolved the issue.  @ayushdg can you confirm ?

[2022-02-04 15:56] beckernick commented on #7880
Your workaround may be the best approach to this for now. Perhaps pandas behavior here is something we simply don't want to enable, like iteration? cc @shwina

[2022-02-04 16:03] shwina commented on #7880
Correct, although if all you care about is removing all the resolutions smaller than `D` (day), you could also use `floor`:

[code]

[2022-02-04 16:04] shwina commented on #7880
I'm going to close this as a `wontfix` since we can't return an array of `datetime` objects without copying to Pandas first. Hopefully, `floor` will provide a sufficient alternative for most use cases.

[2022-02-04 16:04] beckernick commented on #4706
Ideally, this would also be enabled by an implementation on dask.dataframe, so we can enable quantile/percentile on CPUs and GPUs

[2022-02-04 16:10] randerzander commented on #10163
The dask-cuda PR worked for me to fix this. Thanks!

[2022-02-04 17:03] nvdbaranec commented on #9970
Issue is still relevant.

[2022-02-04 18:02] shwina opened #10221 "[BUG] (cuDF Python) Constructing decimals from strings seems to convert to floats first"
This should ideally not convert the input strings to floats before converting to decimal:

[code]

[2022-02-04 18:14] galipremsagar commented on #10221
Looks like this issue is propping up from `libcudf` layer in `to_fixed_point` API, it appears only for scale>24:

[code]

[2022-02-04 18:16] galipremsagar commented on #10221
cc: @davidwendt

[2022-02-04 18:33] beckernick commented on #10219
The warning suggests you may already have a dask cluster running, which could cause issues. You may want to check running processes, kill all Dask clusters, and then start fresh.

Could you share your full code? Dask's read_parquet call is a lazy operation, so the out of memory is likely coming from a downstream operation. Sometimes, this can happen if we are unintentionally bringing all the data

[2022-02-04 19:45] devavret commented on #10172
This is a metadata problem. The pandas json metadata for the column says `"numpy_type": "string"` for cudf written file but `"numpy_type": "object"` for pandas written file. Manually editing the former to also have `"object"` fixed it.

Need to figure out why `generate_pandas_metadata` creates the erroneous metadata in cudf.

[2022-02-04 19:50] NVnavkumar opened #10223 "[BUG] Octal escaping can consume too many digits and does not match"
**Describe the bug**
When escaping octal digits for characters in regular expressions, the parser seems to consume a trailing digit that should not be part of the octal number being escaped.

**Steps/Code to reproduce bug**
Sample Python code:
[code]
Here `\054` is the octal representation of a comma `,`.  In the first case the comma is next to `3` but the regex is not matching, but in the second

[2022-02-04 19:52] galipremsagar commented on #10172
I think we need to add `decimal` to the special case here:

https://github.com/rapidsai/cudf/blob/branch-22.04/python/cudf/cudf/_lib/utils.pyx#L197-L198

[2022-02-04 19:58] devavret commented on #10172
`pa.pandas_compat.construct_metadata` does the right thing. We then mess it up with https://github.com/rapidsai/cudf/blob/05dd5415b1391270ea74d1f33080bbbf58f848cc/python/cudf/cudf/_lib/utils.pyx#L190-L197 where we translate as per the map https://github.com/rapidsai/cudf/blob/8d7330fbfbcf3de99686cb3d877f14bd8d5de403/python/cudf/cudf/utils/dtypes.py#L40-L51

A better fix would be to fix that map bu

[2022-02-04 22:27] bdice opened #10226 "[BUG] Series.str.findall returns DataFrame instead of Series of lists."
https://github.com/rapidsai/cudf/blob/ae36f2e3823b18ba941e18b5d5f54e1684b64154/python/cudf/cudf/tests/test_string.py#L1782
I noticed the indexing is different here in our tests. We should be asserting that the entire results are equal, not just the one value that matches the regex. While looking into that, I found that pandas returns a Series containing lists of strings, while cuDF returns a DataF

[2022-02-04 22:45] davidwendt commented on #10221
Yes, there appears to be some floating-point shenanigans going on. You can assign this to me.

[2022-02-04 22:58] #10172 closed

[2022-02-05 02:04] craigcitro commented on #10187
`pyarrow` should be updated in Colab now, so hopefully this should be fixed.

[2022-02-05 03:00] hchen98 commented on #10187
Hi @craigcitro, I just rerun the latest online demo on Colab, `pyarrow` still in version `5.0.0` (see detail below).

![image](https://user-images.githubusercontent.com/12217705/152626446-55dea4d2-478a-4857-ab29-c41c80352547.png)

Also, this time it gives a different error when importing the `cudf`. The error log is as follows:

[code]

[2022-02-05 03:52] #1271 closed

[2022-02-05 03:52] #9604 closed

[2022-02-05 11:05] hakantekbas opened #10228 "[BUG] How to delete cuDF from GPU Memory"
Hi;

I read a file from csv.

[code]

This code allocated 2 gb memory in gpu.
![image](https://user-images.githubusercontent.com/19631334/152638900-c0ecabc6-e247-40a7-807d-d51a5e8f74e2.png)

Then I delete variable data.

`del data`

Usage does not change. I tested in 21.6 and 22.04. Same behaviour exist in both version. I saw a similar topic opened 1 year ago. Problem solved. 1 year ago. Is there

[2022-02-05 12:59] hakantekbas commented on #10228
I want to give more detail. If I set a breakpoint between creation and deletion of data, memory is growing and finally running out of memory. but if there is no breakpoint between creation and deletion of data, memory is remaining constant.

I'm connecting gpu server remotely with visual code.

Is this type of behaviour normal?

[code]

[2022-02-05 13:26] hakantekbas commented on #10228
If code does not have any breakpoint  but it includes print statement, memory still grows.

[code]

I hope you can replicate same behaviour in your run. If not, let me know.

[2022-02-06 01:07] codereport commented on #9980
This was resolve by the following two PRS:
* https://github.com/rapidsai/cudf/pull/9533/
* https://github.com/rapidsai/cudf/pull/9986

[2022-02-06 01:07] #9980 closed

[2022-02-06 22:56] Halegua commented on #10187
@shwina @craigcitro @hchen98 Also receiving `ModuleNotFoundError: No module named 'pyarrow._cuda'` now. Any idea on how to fix it? I read some suggestions about downgrading pyarrow in this specific problem, but i guess that would be counter-productive since we probably would go back to the original problem.

[2022-02-07 01:38] sameerz commented on #9644
@mythrocks can you confirm https://github.com/rapidsai/cudf/pull/10227 will close this issue?

[2022-02-07 15:40] revans2 commented on #9987
This would be nice from a Spark perspective too.  But it makes splits much more difficult.

[2022-02-07 15:50] quasiben commented on #627
I spent a little time with profiling the import with snakeviz.  gpu_utils is taking close to ~2.5 seconds and a big chunk of that is from `getDeviceCount`. @shwina do you have any thoughts here ?

<img width="1191" alt="Screen Shot 2022-02-07 at 10 45 25 AM" src="https://user-images.githubusercontent.com/1403768/152821700-077555c3-85c6-4800-8995-4c947a8ccb4a.png">

[2022-02-07 15:51] quasiben commented on #10163
Are we good to close this issue ?  I did follow up with a bit of profiling in https://github.com/rapidsai/cudf/issues/627 in trying to understand the slow import times

[2022-02-07 16:09] codereport opened #10230 "[QST] Output Type of DecimalType Binary Operation"
@GregoryKimball was recently trying out the cuDF `Decimal128Dtype` and ran into an issue:
[code]
The resulting type of a binary operation adding two `Decimal128Dtype` columns was a `Decimal64Dtype` column. I looked into it, and it seems we always set the output type to be the "minimum" width that works. See this [line](https://github.com/rapidsai/cudf/blob/2e458b93b639d5068452c9559ff045b60cc9b933/

[2022-02-07 16:24] galipremsagar commented on #10230
This was intentional, because wherever we had control over changing dtype i.e., we get new `precision` & `scale` (which can result in new dtype):

[code]
The motivation to return a `dtype` that can accommodate resulting precision & scale was to not use extra memory here, since we could fit in the precision and scale comfortably in `Decimal64Column` instead of `Decimal128Column`.. But open to input

[2022-02-07 16:56] beckernick commented on #10230
In general, reducing memory is a worthwhile goal as out of memory errors are one of the most common failure modes. Beyond potentially surprising some users familiar with Decimal operations in engines like Spark, Hive, etc., do you think this poses any correctness concern @codereport @galipremsagar @GregoryKimball ?

[2022-02-07 17:04] codereport commented on #10230
From my POV, it doesn't pose any correctness concerns. I think it is just a bit surprising. If you have two columns A and B that are both Decimal128Dtype, you add them and get column C. You now might have to cast column C to 128 if it is 32 or 64, and I would just expect it to still be 128. I guess an even odder example is that if you column A and you multiply it by a scalar 1, you might end up ge

[2022-02-07 17:14] hyperbolic2346 opened #10234 "Column to JCUDF row for strings"
**Is your feature request related to a problem? Please describe.**
Now that the row offset iterator is written, the next step in getting strings converted in the row to column and column to row code is to implement one side. This is the implementation issue for the column to row portion of the work. This will accept a table with string columns in it and convert it into the JCUDF row format for the

[2022-02-07 17:15] hchen98 commented on #10187
Hi @shwina, thanks for that! It works on my end!

I will close this issue :)

[2022-02-07 17:15] #10187 closed

[2022-02-07 17:29] shwina commented on #10187
@craigcitro for whatever reason, even restarting the runtime doesn't change the location of Pandas/PyArrow already present in the module cache (`dist-packages`). Could you please point me to where the pre-importing of Pandas (and other libs?) is done within Colab ? Just curious to understand the root cause of the issue.

[2022-02-07 18:46] ayushdg commented on #10163
I think we should be good to close this issue and follow up on #627 to identify what changed between 21.10 and 21.12

[2022-02-07 18:47] #10163 closed

[2022-02-07 20:24] shwina commented on #627
I can't think of a great way around this. It sounds like the lower bound to our import time is the time for CUDA context initialization, which apparently scales as the square of the number of GPUs.

`validate_setup` sounds like something we definitely want to do at import time (not later), but we could potentially expose something like an environment variable that allows skipping the check altoget

[2022-02-07 20:27] mythrocks opened #10237 "[BUG] Investigate group-by scan `COUNT` aggregation returning 0-based results"
It appears that the group-by scan aggregation result for `COUNT()` returns a 0-based value. i.e. when the group has 1 row, the `COUNT` seems to return 0.

Consider the JNI [`TableTest::testGroupByScan()`](https://github.com/rapidsai/cudf/blob/branch-22.04/java/src/test/java/ai/rapids/cudf/TableTest.java#L3953):
[code]
One would have expected the following results instead:
[code]
This might well be

[2022-02-07 21:15] jlowe commented on #7762
I think this is still relevant, but low priority.

I think this is the most appropriate solution, since I cannot see a valid reason callers would want or expect duplicated key columns in the join output.

[2022-02-07 21:16] jrhemstad commented on #10237
It definitely isn't by design.

[2022-02-07 22:28] jakirkham commented on #627
Are your workloads being run on the cloud? If so, it is possible that these are being run on multi-tenant nodes, which have more GPUs than are actually given to any one user. If this is the case, something to play with potentially would be restricting [the `CUDA_VISIBLE_DEVICES` as done above]( https://github.com/rapidsai/cudf/issues/627#issuecomment-624354595 ) to see if that has an effect. This

[2022-02-08 00:10] beckernick opened #10240 "[FEA] Dask-cuDF Resample"
Today, Dask's resample codepath [converts](https://github.com/dask/dask/blob/5e8a4813cf948250608b16747773a7dc52088eb6/dask/dataframe/tseries/resample.py#L132) the resampling frequencies into DateOffsets before downstream processing. This is convenient, but currently prevents using resample with Dask-cuDF, as cuDF does not provide support for DateOffsets in the Grouper API.

To enable CPU/GPU compa

[2022-02-08 01:10] harrism commented on #7663
@shwina any suggestion on action here? SHould we just close this?

[2022-02-08 01:20] lmeyerov commented on #627
I've seen for various local single GPUs, not just cloud: Local, windows -> wsl2 -> ubuntu docker -> rtx3080, local ubuntu docker -> rtx3080, and local ubuntu docker -> some old geforce.

Happy to test any cpp/py...

[2022-02-08 01:32] harrism commented on #10159
Makes sense to me.

[2022-02-08 04:02] sageslayers opened #10242 "[QST] AttributeError: type object 'cudf._lib.aggregation.GroupbyAggregation' has no attribute 'rolling'"
**What is your question?**
We would to run this code on a dataframe loaded using cudf, but encounter the following error.
if anyone have an answer for this problem, thank you

`df['rmean'] = df.groupby(['outlet', 'product'])['sales'].transform(lambda x: x.rolling(window=win).mean()).astype(np.float32)`

`AttributeError: type object 'cudf._lib.aggregation.GroupbyAggregation' has no attribute 'rolli

[2022-02-08 07:08] bdice commented on #10230
Is the opposite true as well? Do 64 bit types overflow into 128 bit types? Regardless of the answer, I’d err on the side of preserving dtype, but if overflow does not cast to a wider type then we should definitely avoid casting to a narrower type for correctness.

Secondly, how is this done? This behavior seems like it must induce an extra cast (unnecessary copying?) if it chooses to change types

[2022-02-08 12:46] alhad-deshpande opened #10243 "[QST] rmm feedstock"
**What is your question?**
The conda yaml file (https://github.com/rapidsai/cudf/blob/v21.12.00/conda/environments/cudf_dev_cuda11.5.yml) has requirement of "rmm=21.12.*". When I am trying to create the cudf_dev conda enviroment on ppc64le arch, getting error that rmm package is not available. I tried searching rmm feedstock for the same but could only found feedstock for librmm (https://github.co

[2022-02-08 13:24] #10223 closed

[2022-02-08 13:39] revans2 opened #10244 "[BUG] explode leaks a host memory"
**Describe the bug**
Spark has noticed host memory leaks when running large numbers of tests over a long period of time.  I have been tracking them down and found that explode is leaking 32 bytes of memory in some cases when it is called.

**Steps/Code to reproduce bug**
I wrote a custom memory leak detector because java and valgrind are not happy together.  valgrind does not really like CUDA all

[2022-02-08 13:46] revans2 commented on #10244
Okay I figured it out. we are leaking a pointer to the table.  `gather_table.release()` is releasing the pointer that is never freed.  I'll put up a PR with a fix shortly.

[2022-02-08 14:27] beckernick commented on #10242
I'm going to convert this issue to a feature request for supporting arbitrary callable functions in groupby.transform. It's not currently clear how to support this in an efficient manner, similar to https://github.com/rapidsai/cudf/issues/2290

[2022-02-08 14:41] beckernick commented on #10243
Hi @alhad-deshpande . We provide conda packages in the rapidsai (stable) and rapidsai-nightly (nightly) channels (not conda-forge), but the packages do not support all systems.

From your question, it sounds like you're using a POWER system. We aren't set up create packages for POWER, but you may be able to build cuDF from source for such a system.

[2022-02-08 15:15] galipremsagar commented on #10230
Sum of two 64bit types could result in 128bit types but not always, it is purely based on `precision` & `scale`: https://docs.microsoft.com/en-us/sql/t-sql/data-types/precision-scale-and-length-transact-sql?view=sql-server-ver15

I can't speak for what is happening inside libcudf layer, but from the cython side we are required to pass the expected output type before hand here: https://github.com/r

[2022-02-08 15:16] revans2 commented on #10230
Spark plans the input and output types of all operations ahead of time when preparing the query plan. They have rules about how each operator will impact the output type. Generally these rules are looking at the worst case situation and do not take into account the data itself. For example for the add operator the output precision is

[code]

Where p1 and p2 are the lhs and rhs precisions and s1 a

[2022-02-08 15:20] #10244 closed

[2022-02-08 16:09] jlowe opened #10246 "[BUG] Sorted sum aggregations are not performed in the result type"
**Describe the bug**
When libcudf performs a sum aggregation on INT32 inputs it produces an INT64 output.  This works as expected when the aggregation is using a hash-based implementation, but when cudf decides to use a sort-based implementation the output type is indeed INT64 but apparently the sum is being performed in INT32 and only casted to INT64 at the end.  This can result in overflows that

[2022-02-08 16:41] jrhemstad commented on #10246
The input values should be cast to the result type when doing the reduction, but they aren't: https://github.com/rapidsai/cudf/blob/10faad958387e79e547176a39281b4f32063b8ae/cpp/src/groupby/sort/group_single_pass_reduction_util.cuh#L207-L208

[2022-02-08 16:41] jrhemstad commented on #10246
@ttnghia could you fix this? I believe you worked on this code most recently.

[2022-02-08 16:43] ttnghia commented on #10246
Sure. I'll look into it.

[2022-02-08 17:18] beckernick opened #10249 "[BUG] Python groupby rolling aggregations return index inconsistent with pandas"
Python groupby rolling aggregations return a single Index that corresponds to the original row position of the element, but in pandas return a MultiIndex that includes both the groupby key(s) and original row position.

This is not currently blocking any behavior with Dask + cuDF, as grouped rolling operations are blocked by #10173

[code]

[2022-02-08 19:32] vyasr commented on #10230
There's some discussion of how similar rules could be defined in the Python layer [here](https://github.com/rapidsai/cudf/issues/7680#issuecomment-821577340).

[2022-02-08 19:32] ttnghia opened #10251 "[FEA] Support string split with empty delimiter"
Currently, when the input delimiter is an empty string, `strings::split` and `strings::split_record` perform splitting of strings on whitespaces. This produces inconsistent behavior with Java, which should produce an array of individual characters from the input string.

Although the default behavior of string split in Python Pandas is to split by whitespaces, that default behavior is only achieve

[2022-02-08 19:33] ttnghia commented on #10251
Tag @davidwendt for relevant work.

[2022-02-08 19:42] revans2 commented on #10251
I personally don't see this as a very high priority. Yes, someone can put in an empty string as the pattern for a split in Spark, but who actually wants that behavior? Unless this is very simple I would rather have us wait until we have a customer that actually wants this, or we run out of other things to do.

[2022-02-08 19:43] ttnghia commented on #10251
Agree. This is not a high priority.

[2022-02-08 19:45] revans2 commented on #10230
I am happy to help with that if anyone has questions about what Spark is doing. I have been up to my eyeballs in it for quite a while.  Some of the odd parts of Spark are with divide, where for what ever reason that assume you want a scale of at least 6. And then with the SUM aggregation where they arbitrarily decide that the output precision should be 10 more than the input precision.

[2022-02-08 19:47] vyasr commented on #10230
I think that would be a discussion to have with @brandon-b-miller who spearheaded a lot of that work, and perhaps @randerzander regarding what our Python users would expect.

[2022-02-08 19:48] davidwendt commented on #10251
You can call [`nvtext::character_tokenize()`](https://docs.rapids.ai/api/libcudf/stable/group__nvtext__tokenize.html#ga276c98f2ede96996eefa33be5473f8a4) in libcudf if you want to split on every character when you get an empty delimiter.

[2022-02-08 19:49] davidwendt commented on #10251
Since this function is already available, we can close this issue.

[2022-02-08 19:50] ttnghia commented on #10251
Sure. Close now.

[2022-02-08 19:50] #10251 closed

[2022-02-08 20:24] #10213 closed

[2022-02-08 21:48] shwina opened #10254 "[BUG] read_csv fails when not all columns specified in the `dtype` argument"
[code]

[code]

[2022-02-08 23:07] shwina commented on #10230
FWIW, my 2c here is that the Decimal128 type should be preserved.  Similarly, summing two Decimal32s should give you back a Decimal32. There's no way to tell what might happen downstream of the binop that might need the 128 bits of precision.

[2022-02-08 23:14] vyasr commented on #10230
My 2c: you should never implicitly narrow the data type since there's no way to know if that's safe without some level of data introspection. Anything else is surprising, and it could even lead to users making unsafe assumptions later. Conversely, I think widening should follow rules similar to what @revans2 mentions above since that may be necessary for safety. Both of these conventions seem impo

[2022-02-09 10:58] gfiameni commented on #10119
Hi @robert-mijakovic, apparently this is an issue/bug correlated to GCC-10. Can you try again using GCC-11?

Giuseppe

[2022-02-09 13:46] davidwendt commented on #10119
There was code change made in this PR #10209 in `branch-22.04` just recently that may help.

[2022-02-09 14:08] #10221 closed

[2022-02-09 16:55] ttnghia commented on #10246
Hah, yes that is similar. Fixing everything should be a bigger PR instead. Let me know if you guys want to do everything together or otherwise fixing one by one.

[2022-02-09 17:29] bdice commented on #10246
Keep PR scopes small and fix issues one at a time — I just wanted to make a note that this might not be an isolated problem. We should keep our eyes out for similar cases in other algorithms since at least two such issues have been found.

[2022-02-09 17:43] robert-mijakovic commented on #10119
Hi @gfiameni, I'm glad to see you here. Should I open another ticket with what GCC-11 reported?

[2022-02-09 21:12] #9645 closed

[2022-02-09 22:28] GregoryKimball commented on #10196
Hello @nvdbaranec would you please comment on this request and the scope of adding behavioral flags to `get_json_object`?

[2022-02-10 01:23] #10207 closed

[2022-02-10 02:13] #9711 closed

[2022-02-10 06:51] lixiaolx opened #10264 "[FEA]Read_parquet operator performance problem"
**Is your feature request related to a problem? Please describe.**

When using the read_parquet operator to decompress and parse parquet data, a performance problem is encountered.
problem：
When the number of columns selected in the parquet file is large, make_string_column takes a lot of time and triggers multiple kernel-launches. At this time, gpu-util is low.

![image](https://user-images.githu

[2022-02-10 08:58] wbo4958 opened #10265 "[FEA] JSON reader: ignores Java/C++ style comment"
This is part of FEA of https://github.com/NVIDIA/spark-rapids/issues/9
We have a JSON file

[code]

Spark can parse it when enabling `allowComments` and `multiLine`

or

[code]

Spark can parse it when enabling `allowComments`

We expect there is a configure `allowComments` to control this behavior.

[2022-02-10 09:10] wbo4958 opened #10266 "[FEA] JSON reader: support unquoted JSON field names."
This is part of FEA of https://github.com/NVIDIA/spark-rapids/issues/9
We have a JSON file

[code]

Spark can parse it when enabling `allowUnquotedFieldNames`

CUDF parsing will throw exception

We expect there is a configure `allowUnquotedFieldNames` to control this behavior.

[2022-02-10 09:18] wbo4958 opened #10267 "[FEA] JSON reader: support multi-lines"
This is part of FEA of https://github.com/NVIDIA/spark-rapids/issues/9
We have a JSON file

[code]

Spark can parse it when enabling `multiLine`

CUDF parsing will throw an exception

We expect there is a configure `multiLine` to control this behavior.

[2022-02-10 13:43] gfiameni commented on #10119
Hi @robert-mijakovic, you can report the output using this issue. Have you checked this PR [#10209](https://github.com/rapidsai/cudf/pull/10209) too?

[2022-02-10 15:39] revans2 commented on #10267
This is primarily to document what Spark supports. I don't see this being a high priority at any point int he future. This is because Spark cannot split files with this type of processing, and it would make it very difficult for us to be able to do this in an efficient way.

[2022-02-10 16:43] robert-mijakovic commented on #10119
I get:
[code]

I check and the standard used is gnu++17 standard.

I tried to override the standard and enforce the c++17 standard using:
1. CMAKE_CXX_STANDARD
2. CMAKE_CXX_FLAGS

None of the two worked as it wasn't enforced on all files but only some.

[2022-02-10 16:45] robert-mijakovic commented on #10119
I will try the proposed change too with GCC10.
[code]

[2022-02-10 18:26] #9155 closed

[2022-02-11 00:28] ayushdg opened #10271 "[FEA] df.explode with multiple columns"
**Is your feature request related to a problem? Please describe.**
Pandas supports exploding multiple columns with `df.explode`, but currently cudf fails for that case.

**Describe the solution you'd like**
Support explode with multiple column names. The doc contains an example of the expected output from a multi column explode:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.explode

[2022-02-11 03:02] #10111 closed

[2022-02-11 19:08] hyperbolic2346 commented on #10160
Duplicate of #10234

closing in favor of that bug since it is linked more.

[2022-02-11 19:08] #10160 closed

[2022-02-11 21:30] beckernick commented on #10271
I think this could possibly be done with the workaround you suggest and adding a bit of index "magic" because we know that all columns being exploded must have, for any given row, each list must have the same number of elements.

If you create a monotonically increasing id , you can merge with that key across your frames. Then, I think you can leverage the = elements per list requirement to do som

[2022-02-11 23:25] anamariaUIC commented on #10036
This is what I have in .bashrc

# !! Contents within this block are managed by 'conda init' !!
__conda_setup="$('/software/linux-el7-x86_64/apps/anaconda3/anaconda3/bin/conda' 'shell.bash' 'hook' 2> /dev/null)"
if [ $? -eq 0 ]; then
    eval "$__conda_setup"
else
    if [ -f "/software/linux-el7-x86_64/apps/anaconda3/anaconda3/etc/profile.d/conda.sh" ]; then
        . "/software/linux-el7-x86_64/a

[2022-02-12 00:23] bdice commented on #10177
List of other operators I've found are implemented in pandas but not cudf:
- `__divmod__(self, other)`
- `__rdivmod__(self, other)`
- `__round__(self, ndigits)`

[2022-02-14 06:37] sperlingxx commented on #9851
Oh, I overlooked this issue before. For now, I picked it up.

[2022-02-14 14:27] jlowe commented on #8757
Still desired, low priority.

[2022-02-14 14:28] jlowe commented on #8795
Still desired.

[2022-02-14 14:28] jlowe commented on #9055
Still desired

[2022-02-14 14:28] jlowe commented on #9056
Still desired

[2022-02-14 14:28] jlowe commented on #9057
Still desired

[2022-02-14 15:09] #9447 closed

[2022-02-14 16:35] #10246 closed, assigned to ttnghia

[2022-02-14 17:53] robert-mijakovic commented on #10119
It failed with:
[code]

[2022-02-14 17:56] shwina opened #10282 "[BUG] Upcast (but never downcast) the result of a binary operation between decimals (Python)"
Currently, a binary operation between two decimal types can result in a downcast if the resulting `precision` can be accommodated by a smaller decimal type:

[code]

This downcast may be inefficient, or at worst, dangerous, depending on downstream operations.

We should never downcast, but upcast if necessary, according to the rules summarized [here](https://github.com/rapidsai/cudf/issues/10230#i

[2022-02-14 17:56] shwina commented on #10230
Thanks @galipremsagar, I think that's fair. I opened https://github.com/rapidsai/cudf/issues/10282 as a bug to track this on the Python side.

[2022-02-14 18:47] andygrove opened #10283 "[FEA] JSON reader: Provide option to treat quoted strings as null values"
**Is your feature request related to a problem? Please describe.**
This is part of https://github.com/NVIDIA/spark-rapids/issues/9

In order to be consistent with Spark when reading JSON on the GPU, we would like to ask cuDF to read non-string primitive values as strings and then cast them to the required type. This approach already works well for valid inputs but we do not have a way to treat quo

[2022-02-14 19:05] bdice opened #10284 "[FEA] Refactor isclose tests."
**Is your feature request related to a problem? Please describe.**
In PR #10203, we discovered there is a pytest parametrization for `isclose` that is 6x6x6x6 = 1296 tests. https://github.com/rapidsai/cudf/pull/10203#discussion_r801107107

We can minimize the number of test cases dramatically while improving our test coverage.

**Describe the solution you'd like**
We want to cover all of the follo

[2022-02-14 19:26] codereport commented on #10230
Thanks @shwina @galipremsagar and everyone that weighed in. I will close this now that there is another issue open.

[2022-02-14 19:26] #10230 closed

[2022-02-14 21:26] hyperbolic2346 opened #10286 "JCUDF row to cuDF column for tables with strings"
**Is your feature request related to a problem? Please describe.**
Now that the row offset iterator is written, the next step in getting strings converted in the row to column and column to row code is to implement one side. This is the implementation issue for the row to column portion of the work. This will accept JCUDF rows with strings and produce a table with string columns in it for use by t

[2022-02-14 22:20] #10155 closed

[2022-02-14 23:07] devavret commented on #10264
Are most of the columns selected in the file string columns? Conversion of each parquet string column to cudf string column might trigger a `make_string_column` call.

[2022-02-15 00:59] devavret opened #10291 "[FEA] Nulls pushdowns for LIST columns"
There are places in libcudf that expect a LIST column that has nulls in parent properly applied to the child.[1] i.e. if a list is null then it should also be empty and thus the offsets describing it should be same.

Similar to the `superimpose_parent_nulls` function for STRUCT columns, we need a function that can pushdown the nulls in a list column and compact a child when it had non-empty nulls.

[2022-02-15 01:30] #9851 closed

[2022-02-15 02:41] lixiaolx commented on #10264
There are 1300+ columns at most, and nsys-system finds that make_string_column is frequently triggered. Can this part be optimized?

[2022-02-15 03:57] brandon-b-miller opened #10292 "[BUG] DataFrame slicing produces incorrect results in empty cases"
**Describe the bug**
In investigating a [review suggestion](https://github.com/rapidsai/cudf/pull/10203/files#r805047938) several bugs were encountered with the way dataframes handle slicing, all led to incorrect results.

**Steps/Code to reproduce bug**
1. A slice with `step > 1` fails to slice an empty dataframe
[code]
But not a non-empty dataframe:
[code]

2. Out of bounds slicing sometimes lea

[2022-02-15 14:20] robert-mijakovic commented on #10119
I also hit `error: ‘unnamed’ was not declared in this scope` with the release 21.08 of cudf.

[2022-02-15 14:29] beckernick commented on #10243
I'm going to close this issue as answered, but please feel free to reopen.

[2022-02-15 14:29] #10243 closed

[2022-02-15 14:56] jrhemstad commented on #10291
For posterity, can you summarize how a non-empty null list breaks things?

I liked your naming of "sanitize" as opposed to "superimpose" or "pushdown" in this scenario.

So something like `sanitize_null_lists`.

Or maybe "normalize"? `normalize_null_lists`?

[2022-02-15 15:20] beckernick opened #10293 "[FEA] Support dask correlation and covariance when columns include nulls"
Currently, Dask's `{DataFrame, Series}.corr` [codepath](https://github.com/dask/dask/blob/20e924618999febeac706b20212104fe4f3ea61d/dask/dataframe/core.py#L6462-L6467) relies on calling `df.values` in `_cov_corr_chunk`. When cudf columns have null values, we throw an error trying to convert to cupy.

I'd like to be able to do the following with Dask and have data containing nulls handled appropriat

[2022-02-15 15:42] beckernick opened #10294 "[FEA] Dask support for groupby correlation and covariance"
Today, cuDF Python supports `groupby.corr` and has a PR in review for `groupby.cov`. I'd like to be able to use these with Dask on GPUs, like I can with Dask on CPUs (note that the distributed algorithm doesn't actually rely on these primitives).

The Dask [implementation](https://github.com/dask/dask/blob/20e924618999febeac706b20212104fe4f3ea61d/dask/dataframe/groupby.py#L355-L507) looks to have

[2022-02-15 15:49] beckernick opened #10295 "[FEA] Support passing arguments to functions in groupby apply"
In pandas , I can pass arguments to a function used with `groupby.apply`. This is currently used internally to the Dask codebase (https://github.com/rapidsai/cudf/issues/10294) and also exposed in the public interface.

[code]

[2022-02-15 16:09] beckernick opened #10296 "[FEA] Support for Dask groupby cumulative sum, count"
In cuDF, we support `groupby.cumcount` like pandas. Dask supports groupby cumulative count on CPUs but not GPUs. From the traceback, it looks like Dask is using a Grouper object and we go down a codepath where the cuDF.Grouper appears to be failing an instance check (perhaps it's in a list or tuple) based on `if isinstance(by, cudf.Grouper) and by.freq`.

EDIT: Generalizing, as this appears to hap

[2022-02-15 18:48] albert17 opened #10301 "[QST] Dockerfile example"
**What is your question?**
is there any dockerfile as example to build cudf as there was before: https://github.com/rapidsai/cudf/blob/branch-22.02/docker_build/Dockerfile ?

[2022-02-15 22:34] vuule commented on #10267
Is this expected to work with JSON Lines format?

[2022-02-16 02:15] bdice opened #10303 "[BUG] cuDF covariance does not agree with pandas when ddof=N"
In PR #9889, @isVoid observed that cudf and pandas handle covariance calculations differently when `N == ddof`. Here is a minimal example showing a few differences in behavior with `ddof`. This is a bug because cudf should give the same results as pandas. The bug affects both `df.cov()` and `df.groupby(...).cov()`. Note that this is _not_ related to the pandas bug 45814 which was also found during

[2022-02-16 08:00] lmeyerov opened #10304 "[BUG] series::to_array drops nan's"
**Describe the bug**

`cudf.Series([0.0, None, 2.0]).to_array()` => `[0.0, 2.0]`

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

We expected the `NaN` value to not be dropped

**Environment overview (please complete the following information)**

`'22.02.00'` via conda stable inside Docker

**Extra context**

Not sure if this is new behavior or not, we just noticed it for the first

[2022-02-16 08:04] lmeyerov commented on #10304
Looking further, explicitly setting `fillna=True` makes it work as we expected. Maybe the regression / desired behavior is to default it to `True`?

[2022-02-16 10:14] lmeyerov opened #10305 "[BUG] Reassigning dataframe column to a scalar preserves the stale dtype"
**Describe the bug**

When reassigning a df col to a scalar, and it gets implicitly expanded to a series, would expect to use the new series dtype, not the old one

[code]

**Steps/Code to reproduce bug**

Run the above

**Expected behavior**

Match pandas:

[code]

**Environment overview (please complete the following information)**

- RAPIDS 22.02.00 (conda)
- In docker

[2022-02-16 14:24] galipremsagar commented on #10301
Are you in need of `Docker` build [example](https://github.com/rapidsai/cudf/blob/branch-22.02/docker_build/Dockerfile)? We removed it recently assuming it was not being used, we could add it back if it is what you are looking for.

cc: @vyasr

[2022-02-16 15:44] lmeyerov commented on #10304
Thanks!

And, yes - I appreciate that RAPIDS may want an internal method to reflect its internal data rep, but for an external interface, we expected a same-length buffer . Will check if the numpy method works as expected!

[2022-02-16 16:48] albert17 commented on #10301
I am building cudf from scratch  for Merlin Inference container: https://github.com/NVIDIA-Merlin/Merlin/blob/main/docker/dockerfile.tri#L81

So it is easy for me if I have an up-to-date reference about how to build it.

[2022-02-16 17:12] revans2 commented on #10267
By definition it is not the same. https://spark.apache.org/docs/latest/sql-data-sources-json.html explains some of this, but not very well. Even the example file that they point to is not in a multi-line format.

https://github.com/apache/spark/blob/master/python/test_support/sql/people_array.json is a better example of a multi-line format. If we do want to support this, which I have my doubts is

[2022-02-16 18:18] Arkaikus opened #10308 "[QST] Failed to dlopen libcuda.so"
Hi

I installed everything and got cuda working on my Ubuntu-20 wsl instance but for some reason trying to import cudf or cugraph gives me this output: `RuntimeError: Failed to dlopen libcuda.so`
[code]
From nvidia side I got everything working, and `/usr/lib/wsl/lib` where the `so` files are located is in PATH, this is the output of `/usr/local/cuda-11.4/samples/1_Utilities/deviceQuery`

[code]
a

[2022-02-16 19:54] lmeyerov commented on #10304
I think we can close this -- at least for our case, confirmed `to_numpy()` is a predictable public interface, which makes sense. Something for getting the underlying buffers does make sense, but I'd hope `to_arrow()` would be better there.

[2022-02-16 22:09] gmarkall commented on #10308
@Arkaikus Can you provide the output of `ldconfig -v` please?

[2022-02-16 22:16] Arkaikus commented on #10308
Sure, here [ldconfig.log](https://github.com/rapidsai/cudf/files/8083957/ldconfig.log)

[2022-02-16 22:55] Arkaikus commented on #10308
Somehow solved it with
- `nano ~/.bashrc`
- Add `export LD_LIBRARY_PATH="/usr/lib/wsl/lib/"`

No i'm having problems with reading from csv, related issue #9861

[2022-02-16 23:07] Arkaikus commented on #9861
Same problem here when running

[code]

got

[code]

[2022-02-16 23:19] vyasr commented on #10304
We actually `to_array` precisely because of this kind of surprising implicit behavior (among other reasons). I'll close this as you suggest, but feel free to open additional issues if you find that other methods have similar unpredictable behavior. That's definitely something that we'd like to root out.

[2022-02-16 23:19] #10304 closed

[2022-02-16 23:27] vyasr commented on #10301
The problem with having a file like that is that if we are not actively using it (and we weren't) it will inevitably go out of date and sprout errors. For instance, I'm not entirely certain that the example pointed to in the previous comments was actually an up-to-date reference, although it probably was at least a functional one. I think we would be better off pointing to examples of production c

[2022-02-16 23:32] ttnghia opened #10312 "[BUG] Default value of jitify cache file limit causes tests involving JIT to fail"
After the PR https://github.com/rapidsai/cudf/pull/8132 is merged, JIT cache file limit it set to `std::numeric_limits<std::size_t>::max()` unless an environment variable `LIBCUDF_KERNEL_CACHE_LIMIT_PER_PROCESS` is specified. Because such limit value (`2^64`) is used to reserve memory for an `std::unordered_map`, the system immediately blows up in memory usage and throws `std::bad_alloc`, causing

[2022-02-17 00:18] isVoid opened #10314 "[BUG] `copying::shift` doesn't handle `abs(offset) > column.size()`"
**Describe the bug**
When `offset` is greater than the size of the column, libcudf will fail with not user-friendly error messages.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Propose to match `segmented_shift` behavior in returning an all-null column if `fill_value` is unspecified or return a column filled with `fill_value` if otherwise.

**Environment overview (please complete

[2022-02-17 01:39] Arkaikus commented on #9861
Getting this with README example, idk if the installation is broken

[code]
[code]

[2022-02-17 04:02] isVoid commented on #10303
This probably was accidentally closed because my comment here: https://github.com/rapidsai/cudf/pull/9889#pullrequestreview-885124236?

[2022-02-17 06:05] #9603 closed

[2022-02-17 06:16] isVoid commented on #10314
Also unexpected closed by comments of https://github.com/rapidsai/cudf/pull/9805#issue-1067848967

[2022-02-17 10:55] gmarkall commented on #10308
Many thanks for the info - I suspect there's another `libcuda.so` somehow installed somewhere in the system that did get found ahead of the one in `/usr/lib/wsl/lib`, which was resolved when you added it to the dynamic linker path. You might be able to find out where another `libcuda.so` is by running `locate libcuda.so` (if that's installed / set up) or by using `strace python -c "import cudf"` w

[2022-02-17 12:41] titericz opened #10318 "[FEA] Float32 and Int32 as default for variables."
**Is your feature request related to a problem? Please describe.**
Creating a new DataFrame or a new variable always results in 64bit encoding column. A 32 bit variable is enough for 99% of the real life cases and consumes half GPU RAM than 64bit ones.

**Describe the solution you'd like**
Would be great to have 32bit by default variables(float32 and int32) and the possibility to select if the res

[2022-02-17 16:15] TKONIY opened #10322 "[QST] Error linking libcudftestutil.a."
I want to use some utilities in libcudftestutil.a but got some problems. Here's my program.
[code]
Here's my CMakeLists.txt.
[code]
Here's part of the log.
[code]

[2022-02-17 17:13] jrhemstad commented on #10322
You're getting undefined references to GTest symbols. I believe you need to also link against Google Test like we do in our test configuration: https://github.com/rapidsai/cudf/blob/28813d74ba9bf4bb5750eb7b368139be418e9ece/cpp/tests/CMakeLists.txt#L34

[2022-02-17 17:16] jrhemstad commented on #10322
Oh, I think the problem is that you're linking against the `.so` and `.a` directly instead of linking against the `cudf` and `cudftestutil` cmake targets.

Checkout the `basic` libcudf example and it's CMake file using CPM to fetch libcudf and linking against the exported cmake targets. https://github.com/rapidsai/cudf/blob/28813d74ba9bf4bb5750eb7b368139be418e9ece/cpp/examples/basic/CMakeLists.txt

[2022-02-17 18:33] vyasr opened #10323 "Copyright check captures changes on target branch"
#10253 added a check to make sure that when files are modified the copyrights are updated to include the current year (and are more generally formatted correctly). As a current example of this, we see the [copyright check failing](https://gpuci.gpuopenanalytics.com/blue/organizations/jenkins/rapidsai%2Fgpuci%2Fcudf%2Fprb%2Fcudf-style/detail/cudf-style/23931/pipeline) on #10319. The specific failur

[2022-02-17 18:46] vyasr commented on #10323
CC @shwina @bdice @galipremsagar

[2022-02-17 20:32] #9656 closed

[2022-02-17 22:39] Arkaikus commented on #10308
Hi got problems with locate but here is the output of strace
[strace.log](https://github.com/rapidsai/cudf/files/8092679/strace.log)

i found another libcuda.so in /usr/local/cuda-11.4/targets/x86_64-linux/lib/stubs/
[code]

I set the LD_LIBRARY_PATH to that location but still got problems creating a dataframe

[2022-02-18 02:41] TKONIY commented on #10322
Thanks a lot. I'm not familiar with CMake and CPM. Now I use the `CMakeLists.txt` in `basic` libcudf example, but got the error.
[code]
I have installed Apache Arrow using following script from the official cite. What else should I do?
<img width="1103" alt="image" src="https://user-images.githubusercontent.com/47519522/154607173-53b7fb25-2206-4eed-a734-45baf7d08c4f.png">

[2022-02-18 16:20] taureandyernv commented on #10308
@Arkaikus can you try using our Docker container?  It may be a potential work around while we work with you to solve this issue.

[2022-02-18 16:59] devavret commented on #10312
Duplicate of #9362?

[2022-02-18 17:13] gerashegalov opened #10330 "[DOC] write a developer guide about native Host/Device memory resource ownership and reference counting in cuDF Java API"
## Report needed documentation

New developers using Java API in spark-rapids and elsewhere will greatly benefit from a developer guide regarding native host and device memory tracking. The documentation should exclude typical scenarios explaining how to transfer ownership, when to explicitly close and when to rely on higher-level containers to auto-close resources.

**Steps taken to search for ne

[2022-02-18 17:18] devavret commented on #9861
@Arkaikus , Any chance you're using a pascal GPU? There is a known issue with Pascal #9753

[2022-02-18 17:20] Arkaikus commented on #10308
I'll try and let you know

[2022-02-18 17:45] Arkaikus commented on #10308
I'll also link this issue #9753

thanks @devavret

[2022-02-18 22:55] abellina opened #10333 "[BUG] `fused_concatenate_kernel` can cause illegal memory access"
When concatenating via the `fused_concatenate_kernel` we see an issue where its strided loop can overflow, even if the output number of rows is < 2B. Here is a small scala repro case:

[code]

Will produce:
[code]

After adding printfs, the grid size is very large and the stride update: https://github.com/rapidsai/cudf/blob/branch-22.04/cpp/src/copying/concatenate.cu#L200 can cause the `size_type`

[2022-02-19 01:23] corradomio commented on #9859
Same problem

[2022-02-19 15:09] TKONIY opened #10334 "[QST] `inner_join` returns unexpected result."
I use the example in `inner_join`. But it produce the result of `cross_join`. Which is
[code]
The simplified code are as following.
[code]
Do I misunderstand this function or there's some bugs here?

[2022-02-19 15:15] #10334 closed

[2022-02-19 16:01] eyalhir74 opened #10335 "[QST] - Performance with Spark3"
Not sure this is the right group.
I'm trying to run some queries on big data. I've taken a portion of our data (only 43GB) and test some query with 15 fields in two scenarios:
1. 24 CPU cores with 200 files, up to 400MB per file
2. X CPU cores with one V100 GPU with 10 files, each about 4+GB as per the tuning guide suggestions.

The GPU is mostly idle and runs much slower than the CPU. Running the

[2022-02-19 16:47] shwina commented on #10335
Perhaps you could raise this issue in https://github.com/NVIDIA/spark-rapids/?

[2022-02-19 17:50] SharplyUnclear opened #10336 "[BUG]"
**Describe the bug**
Whenever I initialize the 3090 GPU with any meaningful tasking, the system will freeze up and then crash hard - faster than any logs get generated. However, the RTX 5000 GPU can handle the load without problem.

**Steps/Code to reproduce bug**
It is not possible to reproduce - it is this hardware system specific.

**Expected behavior**
System runs successfully or crashes grace

[2022-02-19 17:51] SharplyUnclear commented on #10336
This is a hardware issue specific to a combination of the Lenovo PSU and the MSI RTX 3090 power pin configuration

[2022-02-19 17:51] #10336 closed

[2022-02-19 18:22] eyalhir74 commented on #10335
Thank you @shwina , I'll post there and close this one.

[2022-02-19 18:22] #10335 closed

[2022-02-19 18:50] randerzander opened #10337 "[BUG] cudf.read_csv with "names" and "usecols" args causes segfault"
I'm trying to use cudf.read_csv to read a subset of columns in my CSV file.

With Pandas, I can supply names of columns to use (as opposed to getting them from the header), and supply usecols to read in only specific columns:
[code]

With the latest cudf nightly ('22.04.00a+186.g858ab8389b') on a T4, I get a segfault (when running from a script on the terminal) or RuntimeError when running from Ju

[2022-02-20 03:13] Arkaikus commented on #10308
After trying a lot of things, I cleaned up the wsl ubuntu instance (leaving only the windows defaults and bashrc defaults) and ran
[code]
no apt install, no nvidia toolkit install, no .deb install

The docker solution with the last rapids "stable" version didn't work for me and ain't got the time to check every version

21.08 version worked for me creating and loading the dataframes but some thing

[2022-02-20 03:13] #10308 closed

[2022-02-21 08:39] semenoffalex commented on #9753
Please, make it happen. It's super annoying not being able to use the latest version of cudf.

[2022-02-22 06:08] firestarman opened #10340 "[FEA] Add JNI support for `list::extract_list_element(column_view, column_view)`"
Spark supports extracting list elements with non-literal index (aka different indices for different rows).
And cuDF cpp has already implemented this kind of extracting as `list::extract_list_element(column_view, column_view)`, who accepts indices as a column view. So need to expose this API to JNI for the Spark case.

[2022-02-22 14:22] jlowe commented on #10080
Still relevant and would like to see this fixed.

[2022-02-22 14:58] #10292 closed

[2022-02-22 15:08] #10340 closed

[2022-02-22 17:24] abellina commented on #10333
I'll have this up for review today. I added a test that reproduces it and building cuDF with the solution.

[2022-02-22 19:45] taureandyernv commented on #10308
We believe we found the bug in cuda-python.  Thanks @rboissel.  Will update once fixed and tested.

Also, I'm finding that with the workaround, `read_csv` is still temperamental.

[2022-02-22 21:29] abellina commented on #10333
I put up the PR https://github.com/rapidsai/cudf/pull/10344, to address the `fused_concatenate_kernel` specifically.

I've seen the same bug in other kernels. I am looking for input on how that should be handled. Does it seem we want 1 PR that handles the issue as a whole?

For example:
- `fused_concatenate_string_offset_kernel`, `fused_concatenate_string_chars_kernel`
- `get_json_object_kernel`

[2022-02-22 23:07] GregoryKimball commented on #7132
Closed by #10179

[2022-02-22 23:07] #7132 closed

[2022-02-23 17:52] #10282 closed

[2022-02-23 19:51] #8667 closed

[2022-02-23 21:03] vyasr opened #10350 "Take advantage of C++17 features"
This issue documents an ongoing list of ideas on ways that libcudf code could be cleaned up using C++17 features. Others should feel free add more that they find.

- [x] Use CTAD to get rid of methods like `std::make_pair` or `std::make_unique` (`make_unique` may be a little controversial since it parallels `make_shared`, which still has advantages over the `shared_ptr` constructor).
- [x] Use str

[2022-02-23 21:05] vyasr commented on #10350
CC @karthikeyann

[2022-02-24 02:21] jsonstro opened #10351 "[QST] failure to compile due to `identifier "__int128_t" is undefined`"
Hi cuDF folks,

I'm a HPC sysadmin and I've been struggling to get cuDF successfully built on a medium size Centos 7 cluster. I'm not using the conda environment but attempting to compile from source so that I can have the software loaded via our module system. I'm using the GCC 9 devtoolset, python 3.8.6, cmake 3.22, cuda 11.2 suite, cuDNN 8.1.0 and the 460.32 NVIDIA drivers. I've successfully bu

[2022-02-24 02:37] jrhemstad commented on #10351
Hey @jsonstro what's happening is it's attempting to compile a kernel with NVRTC that doesn't support `__int128_t` without an additional `--device-int128` flag. I was under the impression that this had been fixed in https://github.com/rapidsai/cudf/pull/9794 by removing this code all together. So you're not doing anything wrong.

@robertmaynard I thought we removed the jit binops in https://github

[2022-02-24 03:11] ttnghia opened #10352 "[FEA] Expose groupby C++ class in Java"
Currently, cudf Java supports calling groupby aggregations on an input table with a list of aggregation requests. As such, all the requests have to be sent all at once in order to leverage the internal caching mechanism of the groupby object. Any subsequent call to groupby aggregations will create a new, fresh groupby object which does not hold any cache result from the previous call.

Sometimes,

[2022-02-24 03:12] ttnghia commented on #10352
Tag @abellina for reference and monitoring the issue.

[2022-02-24 14:04] robertmaynard commented on #10351
We still use jitify to build a collection of files. The difference is now we only do this during the larger cudf compilation phase, instead of doing it at user runtime.

I believe the root cause is using the `cuda 11.2` compilers when building cudf, as for 21.12 we require 11.5+

[2022-02-24 14:13] jrhemstad commented on #10351
But the error is specifically an NVRTC error:

[code]

Are we passing `--device-int128` to the Jitify flags?

[2022-02-24 15:25] robertmaynard commented on #10351
Nope, we don't pass that flag nor does jitify add it.  Looking into it more the first usage of `__int128_t` in cudf/fixed_point/fixed_point.hpp is for host code. It makes me think that on this machine the system gcc headers are not providing the `__int128_t` type at all.

[2022-02-24 15:48] revans2 commented on #10352
@ttnghia do you have a specific need right now? Because all of the use cases we have had up until now allowed us to pass all of the aggregations at once. We also would need to make sure that we tracked this class and closed it/collected it so we didn't leak memory.

[2022-02-24 15:50] ttnghia commented on #10352
Yes, I believe that we need it. @abellina did some optimization before but stalled at some points because of this issue. He can give more specific use case for it.

[2022-02-24 16:20] #10010 closed

[2022-02-24 16:59] jsonstro commented on #10351
Ok, thanks for the info y'all. I can try to build v22 with cuda-11.5 and see if its any better. As for if the __int128_t  headers are there at all, how do I check that? Is that something that needs to be installed via the devtoolset-9 packages?

I've been able to get version 21.12.0a to build with my environment as it is, but it has been quite frustrating. I'm still not sure how exactly to get the

[2022-02-24 18:01] robertmaynard commented on #10351
You can try to compile a simple project and see if int128 is supported. Something like this should work when compiled via `<g++-9> -c test.cpp`:

[code]

My recommendation is to specify the root of the installed Arrow directory to CMake via `-DCMAKE_PREFIX_PATH` that will work as long as the Arrow version is the same as the one cudf is looking for. If the major values are different it isn't consid

[2022-02-24 18:18] jsonstro commented on #10351
Thanks Robert, I really appreciate your help. I tested compiling the c++ code that you sent and it did work.

# g++ -c !$
g++ -c ~jsonstro/int128_test.cpp

# cat int128_test.o
ELF> @@

��int128_test.cppmain .symtab.strtab.shstrtab.text.data.bss.comment.note.GNU-stack.rela.eh_frame@![[,0[-5�J�E�� ��T

Do I supply the -DCMAKE_PREFIX_PATH at the top level configure step for cuDF? Or do I need to slip

[2022-02-24 19:22] karthikeyann commented on #9469
still relevant and needs to be addressed.
Added "good first issue"

[2022-02-24 19:36] galipremsagar commented on #9729
Resolved by https://github.com/rapidsai/cudf/pull/10253

[2022-02-24 19:36] #9729 closed

[2022-02-24 22:03] robertmaynard commented on #10351
Interesting I am stumped on how to reproduce this failure when trying with cuda 11.5.

using the following docker containr:

[code]

Using that as the base building ground for cudf I get zero build failures. So I am confused on why for your builds you aren't getting the correct importation of `__int128_t` given that the gcc sample behavior.

[2022-02-25 03:57] res-life opened #10356 "[FEA] Add support for CSV reading ANSI day-time interval"
**Is your feature request related to a problem? Please describe.**
CSV stores ANSI day-time interval as string, e.g:
[code]
When reading CSV, there are need to parse interval string to long microseconds.

**Describe the solution you'd like**
- Cast ANSI day-time string to long microseconds
- Cast long microseconds to ANSI day-time string
- CSV support reading ANSI day-time interval, internally sav

[2022-02-25 04:22] res-life commented on #10356
Second rang is not [0, 59] bug:
https://issues.apache.org/jira/browse/SPARK-38324

[2022-02-25 14:24] beckernick commented on #10107
Closing this issue, as this is generally expected behavior and implementing a cap for CPU pinned memory it is out of scope for cuDF. Please take further discussion to the CuPy issue linked above.

[2022-02-25 14:24] #10107 closed

[2022-02-25 19:14] #9083 closed

[2022-02-25 21:54] isVoid opened #10361 "[FEA] Remove `copying::sample` from libcudf"
**Is your feature request related to a problem? Please describe.**
In #10262 cuDF python moved away from depending on libcudf `sample` API. Instead, the gather map is generated depending on the random state provided by user. Current libcudf implementation of `sample` generates the gather map based on the provided seed and thrust random engine, the result is isn't an exact match with that from pand

[2022-02-25 23:01] bdice opened #10363 "[FEA] Remove `FutureWarning`s from Python tests"
This is a meta-issue as part of #9999. Here, I catalog the current list of test files that raise a `FutureWarning`.

The use of a `FutureWarning` indicates a deprecated API, mostly from cudf or pandas. We should explicitly catch or filter out these warnings, depending on the circumstances. Eventually we will be able to run `pytest -W error::FutureWarning` to catch any deprecated APIs being called

[2022-02-25 23:45] vyasr commented on #10177
#10360 handles the reverse binary operators. The three that you listed in your last comment are not yet done. divmod and rdivmod are out of scope for #10360 but are in general trivial to implement in the relevant classes once that PR is merged since they are just
[code]
I think they should probably just bypass the new binop machinery, but maybe there will be a benefit to including them.

`round` i

[2022-02-26 12:49] KazukiOnodera opened #10365 "[BUG] fillna(method="ffill") doesn't work for NaN"
**Describe the bug**
fillna(method="ffill") doesn't work for NaN. bfill also has same issue.

**Steps/Code to reproduce bug**
[code]
fillna works for < NA >
[code]
But it doesn't work for NaN
[code]
We need to replace NaN with < NA > using None
[code]

**Environment overview (please complete the following information)**
cudf version is "22.02.00"

[2022-02-28 04:02] bdice commented on #10177
@vyasr Awesome. I subscribed to notifications on #10360 and I can take a look at the missing operators after that PR is merged. I changed the title of this issue to reflect the change in scope.

[2022-02-28 14:02] shwina commented on #10365
This is definitely a bug. While it can be argued that `nan` should not be treated as a "null" value (since we have dedicated null values), the behaviour of `.groupby.fillna(method="ffill")` should be consistent with `.fillna(method="ffill")` (which fills `nan`):

[code]

So we should either never fill nans, or always fill nans.

[2022-02-28 16:27] revans2 commented on #10361
Actually JAVA exports an API for this https://github.com/rapidsai/cudf/blob/4c9ef5161268e2486938546deef00f7fc84c9a95/java/src/main/native/src/TableJni.cpp#L3556-L3568 and it is used in the Spark plugin.  We have similar issues with producing the exact same results, so we don't use it by default, but the performance difference between generating random numbers on the CPU and pushing them down to th

[2022-02-28 16:36] revans2 commented on #10356
To be clear this is a nice to have feature and it would be good to understand if pandas or others have something similar. If not we can look at supporting converting the strings ourselves.  We have an implementation right now that uses regular expressions, but that is expensive and we would like to avoid it. Even thought the interval types are ANSI SQL, I don't know if the format of the data is al

[2022-02-28 18:06] #10333 closed

[2022-02-28 18:58] vyasr commented on #10361
I see. In Python users have the option of generating the random numbers on device using `cupy`, which as @isVoid points out results in only about a 7% perf hit relative to `libcudf::sample`. I guess there's no Java alternative for producing those random numbers? The only thing I could imagine is if there was a JNI for thrust, but of course that would blow up in size pretty fast with template insta

[2022-02-28 19:12] revans2 commented on #10361
We also have the problem that we are at a SQL layer, so you could do it with a special user defined function that does random number generation on the GPU, but then we are asking users to change their code for this.

[2022-02-28 19:15] bdice commented on #10126
This API is also a candidate for a separate NLP-focused submodule (which has been discussed among cudf developers a few times but I am not aware of an issue tracking this idea). The pandas API does not have an equivalent of `Series.str.find_multiple`.

[2022-02-28 19:19] vyasr commented on #10361
Fair enough. If this function continues to have value for the Java side it should be fine to leave it then. I suggested opening this issue to @isVoid since Python is removing its reliance on it and I didn't want to leave unnecessary cruft hanging around, but it sounds like this is useful to you.

[2022-02-28 19:30] nvdbaranec opened #10368 "Prevent grid stride loop overflow in libcudf kernels"
(updated Aug 2023), (updated Nov 2024)

### Background

We found a kernel indexing overflow issue, first discovered in the `fused_concatenate` kernels (https://github.com/rapidsai/cudf/issues/10333) and this issue is present in a number of our CUDA kernels that take the following form:

[code]

If we have an output_size of say 1.2 billion and a grid size that's the same, the following happens:  So

[2022-02-28 19:35] isVoid commented on #10365
A few more data points, aside from `fillna`:
`dropna`, `isna`, `notna` all treats `nan` as missing value:

[code]

I think for `groupby.fillna` to match, we should add a `nans_to_nulls` cast before passing the value column to libcudf?

[2022-02-28 19:35] nvdbaranec commented on #10368
The fix in basically all of these cases is quite simple:  just make the index a `size_t`

[2022-02-28 19:53] jrhemstad commented on #10368
I'd love to just add an algorithm to do this.

https://godbolt.org/z/hK95z7zff

[2022-02-28 23:48] karthikeyann commented on #10159
`[[deprecated]]` attribute by doxygen, is in development https://github.com/doxygen/doxygen/pull/9064

[2022-03-01 02:11] jrhemstad commented on #10361
How does this work? What is the performance of this code path?

Trying to guarantee identical results with serial vs random number generation is a bit scary.

[2022-03-01 04:08] beckernick commented on #6825
This has been implemented. Closing.

[code]

[2022-03-01 04:08] #6825 closed

[2022-03-01 10:53] res-life opened #10375 "[FEA] Support field id meta in Parquet writing"
**Is your feature request related to a problem? Please describe.**
[SPARK-38094](https://issues.apache.org/jira/browse/SPARK-38094) added the support to write field id in Parquet metadata.

// Sample Meta of CPU generated parquet file
message spark_schema {
  optional int32 c1 = 1;
}

// Sample Meta of GPU generated parquet file
message schema {
  optional int32 c1;
}

Description of [Spark PR](ht

[2022-03-01 16:04] jlowe opened #10376 "[FEA] Ability to control field ID used for columns during Parquet write"
**Is your feature request related to a problem? Please describe.**
Parquet columns include a `field_id` identifier, and Spark 3.3 recently added improved support for this feature.  See [SPARK-38094](https://issues.apache.org/jira/browse/SPARK-38094) for details.  In order to support this Spark feature in the RAPIDS Accelerator, we need the ability to specify the ID to use for a column's `field_id`

[2022-03-01 17:02] jlowe commented on #10375
This issue is asking for the Java API to support field ID control.  I filed #10376 for libcudf/cuIO support, which would be required to implement the Java API.

[2022-03-01 18:31] jsonstro commented on #10351
Hi Robert,

I think the issue is that I am building against CUDA 11.2. I still don't understand why its able to find the headers with the c++ code but not in the build, but maybe that is fine. I was able to get a build of v21 complete and working so we can close this out.

thanks again,
Josh

[2022-03-01 19:58] isVoid commented on #10361
The gather map is created with numpy generator on host, passed to device and gathered on device. The performance is no doubt slower than today's code path, see benchmark (https://github.com/rapidsai/cudf/pull/10262#issue-1129241644). There's also an alternative if user does not wish to have 1-1 result with pandas but just matching shapes, a cupy generator can be used and gather map is created on d

[2022-03-01 22:17] jlowe opened #10378 "[FEA] Hashing of LIST columns"
**Is your feature request related to a problem? Please describe.**
Spark supports partitioning on `ArrayType` columns and expressions. To support this in the RAPIDS Accelerator, we need libcudf support for hashing of cudf `LIST` columns.

**Describe the solution you'd like**
The existing libcudf `hash` function works on `LIST` columns, hashing each array element in order and combining to the resul

[2022-03-02 10:57] caniko opened #10382 "[FEA] PyPi release"
My entire stack is currently Poetry, and I can't switch to conda.

I wanted to use cuSpatial, and was sad to find out that you only release source + conda binaries. Could you also release on PyPi?

I am assuming that your binaries are too large for the PyPi mirrors, you will have to setup your own PyPi server, similar to having your own channel in conda. I hope you do this, mixing conda with poetr

[2022-03-02 11:06] caniko commented on #10382
This article is outdated for sure: https://medium.com/rapids-ai/rapids-0-7-release-drops-pip-packages-47fc966e9472

If Pytorch can do it, so can you.

[2022-03-02 15:52] #10138 closed

[2022-03-02 16:00] caryr35 opened #10383 "[DOC] RAPIDS 22.04 Release Blog Outline"
Provide bullet point list of major user facing changes to Sophie Watson by the end of `**burn down** `

[2022-03-02 16:57] abellina opened #10384 "[BUG] JNI side is not setting the proper alignment for the `limiting_resource_adaptor` with ASYNC"
In RmmJni, our use of `limiting_resource_adaptor` doesn't seem to be setting the proper alignment when wrapping the ASYNC allocator.

https://github.com/rapidsai/cudf/blob/branch-22.04/java/src/main/native/src/RmmJni.cpp#L360

There is an argument to the constructor of this adaptor to set the proper alignment, and it defaults to 256 bytes. From experiments, the ASYNC allocator looks to be aligning

[2022-03-02 17:32] abellina commented on #10384
Our tracking wrapper should also be updated to match 512 for ASYNC.

[2022-03-02 17:40] rongou commented on #10384
The CUDA programming guide only specifies

allocation routines from the driver or runtime API is always aligned to **at least** 256 bytes.

The actual alignment size seems to be an internal decision of the driver/runtime, not a public api.

[2022-03-02 17:52] JacksonWuxs commented on #10308
Hi everyone, I face the same error under native Ubuntu OS.

OS: Ubuntu 20.04
Python: python3.8
CUDA: V11.6
Install by running: ` conda create -n rapids22 -c rapidsai -c nvidia -c conda-forge cuml=22.02 python=3.8 cudatoolkit=11.5` (it is automatically generated by the official website of rapid)

When I run: `from cuml.cluster import HDBSCAN`
It raise:
[code]

[2022-03-02 19:02] abellina commented on #10384
Thanks @rongou. Then we shouldn't rely on the potential alignment we have seen in experiments. It seems we can't really limit the pool size then as it was intended with `limiting_resource_adaptor`, since the API doesn't make a guarantee.

[2022-03-02 20:53] vyasr commented on #6974
Yes, this works now:
[code]

[2022-03-02 20:53] #6974 closed

[2022-03-02 20:56] vyasr commented on #10361
@jrhemstad to be clear, we are not guaranteeing identical results between serial and parallel RNGs (which is basically impossible with the tools available to us, we would need to implement custom RNGs or at least find alternate implementations). We are allowing the user to specify that they want random numbers to be generated on the host if exact pandas equivalence is more important than performan

[2022-03-02 21:58] #10305 closed

[2022-03-04 07:29] #9371 closed

[2022-03-07 02:18] miguelusque opened #10390 "[DOC] set_index on series should has been removed from documentation"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.Series.set_index.html?highlight=set_index

**Describe the problems or issues found in the documentation**
According to https://github.com/rapidsai/cudf/issues/9541 , the set_index() method for a Series is not available anymore.

Nevertheless, the method is still avail

[2022-03-07 07:57] jiapei100 opened #10391 "[QST] Is it compatible with cuda115?"
How can I install **cudf** via **pip**?
I tried  `pip install cudf`, but failed with the following **ERROR** message:

[code]

Since I'm using **cuda115**, I tried `pip install cudf-cuda115', but still failed:
[code]

Any suggestions?

Cheers

[2022-03-07 08:19] jiapei100 commented on #10382
@caniko
I'm looking forward to the **pip** release of **cuDF**. Particularly, I'm using **cuda115**. When will there be a **cuDF-cuda115**???

[2022-03-07 13:47] caniko commented on #10382
There is no PyPi release planned as far as I know. I am trying to advocate for it om this issue.

[2022-03-07 13:58] wahyubram opened #10392 "[QST] Multiple columns Apply"
I'm new in cudf, want asking about apply from multi columns apply in cudf.

with pandas we can do this:

[code]

How to do this in cudf?

[2022-03-07 13:59] shwina commented on #10382
Hi both -- thanks for reporting. While we don't have plans to support pip packages in the near term, we are evaluating the longer-term feasibility. Many of the issues discussed in the [blog post](https://medium.com/rapids-ai/rapids-0-7-release-drops-pip-packages-47fc966e9472) are still relevant. From my understanding, PyTorch hosts its own wheels outside of PyPI and we have no plans of doing so.

[2022-03-07 14:02] shwina commented on #10391
Hi @jiapei100 - as David mentioned, we no longer support `pip`. Please use `conda` instead. The conda package supports CUDA 11.5.

[2022-03-07 14:18] caniko commented on #10382
Who hosts your conda binaries? Can't you use the same service?

[2022-03-07 15:43] nvdbaranec commented on #9970
Still relevant.

[2022-03-07 15:44] nvdbaranec commented on #10215
Still relevant.

[2022-03-07 16:23] jrhemstad opened #10393 "[FEA] Aggregation APIs shouldn't take aggregation parameters as unique_ptr"
**Is your feature request related to a problem? Please describe.**

Some aggregation APIs like `cudf::reduce` take the aggregation parameter as a [`unique_ptr<aggregation> const&`](https://github.com/rapidsai/cudf/blob/1e5b01f1f1e4e97b930de45074dc7109e22a9744/cpp/include/cudf/reduction.hpp#L68).

They should not do this. There is effectively[ _never_ a reason to pass a parameter as `unique_ptr<T>

[2022-03-07 16:28] nvdbaranec opened #10394 "[FEA] Cleanup of unneeded functions in Python aggregation types."
With this PR  https://github.com/rapidsai/cudf/pull/10357 all aggregations in cudf are now represented as algorithm-specific aggregation classes.   There is some followup cleanup work to be done in the python bindings. See:

https://github.com/rapidsai/cudf/pull/10357#issuecomment-1054204554

[2022-03-07 19:57] shwina commented on #10382
Thanks @caniko - I agree that pip is more familiar and accessible to most Python users. There are many problems we need to solve before we're able to publish pip packages and we are actively working towards that goal.

[2022-03-07 21:34] revans2 commented on #10181
This is still wanted @devavret should I close this as a dupe of #8039?

[2022-03-07 21:56] abellina commented on #10352
I don't think this is something we need to pursue. The reason I was looking into this was to check if there was a performance benefit from re-using the sort helper in the sort aggregates, given some slowness we were seeing because the decimal type needed to use sort-based aggregates.

The reason why I stalled was because my theory was wrong and I couldn't reuse the sort helper for multiple invocat

[2022-03-07 21:58] ttnghia commented on #10352
Okay, if it doesn't bring much benefit to us then close it.

[2022-03-07 21:58] #10352 closed

[2022-03-08 09:11] miguelusque opened #10397 "[DOC] DataFrame.corr() method might benefit of a more detailed documentation"
## Report incorrect documentation
Hi,

I have navigated to `DataFrame.corr()` API documentation in order to double check the different correlation types accepted by this method when I have noticed that current documentation is empty.

The `Series.corr()` documentation contains slightly more information, but still not very detailed, IMHO.

It would be great if you could please enhance existing docu

[2022-03-08 16:45] #10384 closed

[2022-03-08 18:03] chinmaychandak commented on #10144
Hey @devavret, did we get a chance to scope the effort for this?

[2022-03-08 20:29] devavret commented on #10144
Not yet. Is this critical for extracting performance gains from the previous partitioning work?

[2022-03-08 21:18] brandon-b-miller commented on #10392
In general, multicolumn `apply` in cuDF works the same way as in pandas, with some limitations. Something like this:

[code]

However the code inside `func` is currently limited to what a GPU thread can do, so some of the things you are attempting to write in your function are not supported such as use of `Popen` to load data in parallel. In addition, string functions are not currently supported s

[2022-03-08 23:15] bdice opened #10401 "[FEA] Replace cudf's `concurrent_unordered_map` with `cuco::static_map`."
I noticed that `concurrent_unordered_map` and `concurrent_unordered_multimap` are not defined in the `cudf` namespace (they're in the global/root namespace). After discussion with @PointKernel, it seems we may be able to replace the existing uses of `concurrent_unordered_map` with `cuco::static_map` and delete these from libcudf. I plan to look at this after finishing another refactoring project #

[2022-03-08 23:21] PointKernel commented on #10401
@bdice Minor correction: `cuco` can handle key/value pairs larger than 8 bytes but does not support concurrent insert and find in that case (see https://github.com/NVIDIA/cuCollections/issues/137).

[2022-03-09 15:18] jlowe commented on #10002
Still desired, low priority.

[2022-03-09 21:11] MikeChenfu opened #10406 "Convert cuda array to cudf column in C++[QST]"
**What is your question?**
Hello, I have a cuda implementation and prefer converting the kernel outputs into cudf:: column or  cudf:: table for processing and writing. How can I do that if I have a cuda array with `int` type for example? Appreciate it if someone has an idea about it.

Here is the declaration of cuda array
[code]

[2022-03-09 21:43] davidwendt commented on #10406
What kind of processing?
A `cudf::column` is an owning class which manages its own data.
Most libcudf APIs take a `cudf::column_view` as input.
You can wrap an existing array of ints with a `cudf::column_view` which is a read-only, non-owning view of column data: https://docs.rapids.ai/api/libcudf/stable/classcudf_1_1column__view.html

For example
[code]

The same for `cudf::table` which owns its

[2022-03-09 22:58] MikeChenfu commented on #10406
Many thanks @davidwendt. The example and doc are super helpful.

[2022-03-09 22:58] #10406 closed

[2022-03-10 01:14] #7807 closed

[2022-03-10 16:11] revans2 opened #10408 "[FEA] support min and max group by aggregations and reductions on lists of structs and strings"
**Is your feature request related to a problem? Please describe.**
This is specifically for https://github.com/NVIDIA/spark-rapids/issues/4929 for a customer query.

**Describe the solution you'd like**
Group by and reduction aggregations for min/max that support lists of structs and lists of strings. Ideally we could solve ordering in general like #5890 is trying to do. This would then be a follo

[2022-03-10 17:18] revans2 commented on #10408
It is the second one `1, b, 1, b` vs `1, a, 2, b`. But more generally sorting a list in Spark looks at each element in the list starting at the first and only if they are the same does it look at the next elements to break the tie.

null == null in sorting elements, but null < non-null

If one list is longer than another list, then it shorter list is less than the longer list if and only if all of

[2022-03-10 20:12] revans2 opened #10409 "[FEA] Support set like operators intersect, union, and difference on lists"
**Is your feature request related to a problem? Please describe.**
We have had a request to support `array_intersect` in Spark specifically on a list of strings. Because it is similar to set union and set difference operations that Spark also supports it would be great to support all of those at once if it is simple.

**Describe the solution you'd like**
Three new binary ops that would take list c

[2022-03-10 21:27] jrhemstad commented on #10409
Given that this is only ever relevant on lists, I'd advocate for separate APIs.

[2022-03-10 21:59] ttnghia commented on #10408
@devavret I suppose to work on this, if nobody has been assigned.

[2022-03-10 22:29] #9135 closed

[2022-03-10 22:29] #9552 closed

[2022-03-10 22:51] jrhemstad commented on #10408
@ttnghia please hold off. This requires further discussion.

[2022-03-11 13:34] #10080 closed

[2022-03-11 17:08] vuule opened #10415 "[FEA] Use KvikIO by default"
Future GDS optimizations will be implemented in KvikIO, we should use it by default as soon as it matches the internal implementation in perf
Tasks:
- [ ] Compare the performance with benchmarks that are not affected by caching;
- [ ] If this pans out, change the default.
Internal GDS integration can then be removed in future release, once we are sure KvikIO is the better option in terms of perfor

[2022-03-11 19:56] revans2 opened #10417 "[FEA] min/max segmented reduce for string and decimal"
**Is your feature request related to a problem? Please describe.**
This is a follow on request for https://github.com/rapidsai/cudf/pull/9621.

It would be really great if we could also support String and DECIMAL_32, DECIMAL_64, and DECIMAL_128 with this same API for min and max.

In the short term I am going to use the old code I had for String/DECIMAL_128 and will try to bit cast the DECIMAL_32

[2022-03-11 22:15] revans2 commented on #8958
This is still wanted. Not a huge priority though

[2022-03-11 22:16] revans2 commented on #8965
This is still wanted

[2022-03-11 22:16] ttnghia commented on #8958
Blocked by hash refactoring. I'm still investigating it.

[2022-03-12 00:06] jrhemstad commented on #8958
This will be solved trivially by https://github.com/rapidsai/cudf/issues/10186

[2022-03-12 00:09] jrhemstad commented on #10291
I think the easiest way to implement this is to simply perform an identity gather (i.e., gather map `[0,n)`).

Unfortunately, I spoke with @nvdbaranec  and `gather` won't filter out non-empty lists currently. But it should be easier to modify `gather` than to create a whole new function just for stripping out non-empty null lists.

In addition, I'd like to see two additional APIs for determining i

[2022-03-12 00:10] nvdbaranec commented on #10196
Still relevant.

[2022-03-12 01:04] isVoid opened #10424 "[FEA] Support Correlation with Nullable DataFrames"
**Is your feature request related to a problem? Please describe.**
Today computing correlation for a dataframe with missing values is not possible, but pandas can do it:
[code]

**Describe the solution you'd like**
We should examine the techniques that pandas used here. In groupby cov/corr's case, we found that pandas uses pairwise deletion on missing values that may result in a non-PSD matrix. cu

[2022-03-12 04:20] bdice commented on #10363
I traced down some unexpected behavior and it turns out to be an error in the Python docs. This comment explains what I found, for posterity/reference. cc: @galipremsagar

I tried to specify a warning filter `pytest -W error::FutureWarning:cudf.*` on the command line. This follows the guidelines for [how to specify warning filters](https://docs.python.org/3/library/warnings.html#describing-warning

[2022-03-12 05:12] #9413 closed

[2022-03-13 02:12] randerzander opened #10425 "[BUG] TypeError: can not serialize 'Series' object"
Using the latest nightly cudf conda packages and Dask & Distributed from main:
[code]

Trace:
[code]

[2022-03-13 14:00] titericz opened #10426 "[BUG] .to_parquet() and .to_csv() fails and get OOM with large DataFrames."
**Describe the bug**
Writting large DataFrames to disk fails and gets memory error:

**Steps/Code to reproduce bug**
My DataFrame have shape: (414395052, 4)
dtypes: var0 int32, var1 int32, var2 int8, var3 int8
df.memory_usage().sum() returns: 4143950520  (4GB)

**Expected behavior**
File write to disk in .parquet or .csv format without issues.

**Environment overview (please complete the following

[2022-03-14 15:52] galipremsagar commented on #10254
This appears to be a validation check happening at `libcudf` layer. @vuule is it feasible to remove this check and auto-detect types like libcudf usually does for other columns not specified in `dtypes`?

[2022-03-14 18:36] vyasr opened #10430 "[BUG] Count groupby-aggregations produce smaller dtype than expected"
**Describe the bug**
In pandas, calling `GroupBy.count ` appears to always produce an int64 column (regardless of whether it is actually necessary). Conversely cuDF outputs int32 columns.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
libcudf returning int32 columns from count aggregations makes sense since its column sizes are bound by `cudf::size_type = int32_t` anyway. However,

[2022-03-14 19:19] vuule commented on #10254
I think that's a feasible option.
@shwina Is this a blocker for 22.04?

[2022-03-14 20:26] ttnghia commented on #8958
@revans2 I think we should better support trivial `lists::contain` first (i.e., check if each list contains a given scalar), as we did for the general `cudf::contain` before. General support for checking a list containing a set a scalars is more difficult and will be implemented later if there is customer request.

[2022-03-14 20:31] ttnghia commented on #8965
Please note that this is partially supported in https://github.com/rapidsai/cudf/pull/9929
Full support for this requires complete hashing work, which is undergone some refactoring in the meantime.

[2022-03-14 21:02] galipremsagar commented on #10049
@argenisleon https://github.com/rapidsai/cudf/pull/10431 should fix the error but not do the type-cast as going from `bool` to `float` is technically not a downcast. So to achieve the type-cast, you can perform:

[code]

[2022-03-14 22:25] bdice opened #10432 "[FEA] Refactors and next steps for segmented reductions"
This is issue contains a few proposals for improving the segmented reduction code introduced in #9621.

## Investigate sort-groupby aggregations
(Idea from @ttnghia)

With the ability to perform segmented reductions, sort-based groupby may be able to use [`group_offsets`](https://github.com/rapidsai/cudf/blob/57ff6f55b9fd44e8a8e10282d3f95d5f38e299ef/cpp/src/groupby/sort/sort_helper.cu#L188) to def

[2022-03-14 22:32] #9109 closed

[2022-03-15 04:48] jrhemstad commented on #10432
I'd suggest moving segmented (and regular) reductions to use a scheme like in groupby/rolling where every aggregation has a preprocessing/finalization steps: https://github.com/rapidsai/cudf/blob/b1ea304ec7d421c871061fdfab7f2e097fbd4a0f/cpp/include/cudf/detail/aggregation/aggregation.hpp#L161-L166

[2022-03-15 05:29] harrism commented on #10368
Or even a simple range helper for `for` loops: https://github.com/harrism/hemi#simple-grid-stride-loops

[2022-03-15 05:32] harrism commented on #10368
I think the general approach should be:
1. Use an algorithm (thrust:: or std::) if possible before ever writing a custom kernel -- this way you write a per-element device functor instead, and indexing is handled for you.
2. If a custom kernel must be written, it should use device-side algorithms instead of raw loops.
3. If a raw grid-stride loop is required and an existing algorithm won't work, we

[2022-03-15 13:59] jrhemstad commented on #10430
Really? We want to needlessly double the memory footprint and triple the high water mark?

[2022-03-15 14:45] amahussein commented on #10075
There is a standing bug #5826 that points to missing statistics for chunk mode.

[2022-03-15 16:05] vyasr commented on #10430
_Should_ is stronger than I really intended. I wanted to open this issue to document an inconsistency that I noticed and was previously unaware of, and because we've been moving towards much stricter pandas compatibility of late. For example, we are definitely moving away from reference semantics in cuDF Python in places where pandas returns copies because downside of surprising users is not worth

[2022-03-15 17:07] devavret commented on #10291
This is always true for parquet, because parquet has a different representation which we convert from and i don't think we can create a dirty list from it, ever. @nvdbaranec, right?

[2022-03-15 17:21] #10049 closed

[2022-03-15 17:44] PointKernel opened #10438 "[BUG] Incorrect statistics for int96 timestamps in parquet"
**Describe the bug**
The statistics calculation is not working properly when dealing with int96 timestamp types. Adding statistics checks in `test_parquet_writer_int96_timestamps` will cause pytest failures.

**Steps/Code to reproduce bug**
At the end of `test_parquet_writer_int96_timestamps`, adding the following code:
[code]
The statistics test will fail.

**Expected behavior**
The test should p

[2022-03-15 17:46] vuule commented on #10291
I'm pretty sure ORC by definition cannot have elements in a null list. Content of null elements is never encoded in the file (which is
 a pain for other reasons). @rgsl888prabhu, can you confirm?

[2022-03-15 18:40] #10425 closed

[2022-03-15 21:41] FelixGonzalez42 commented on #28
no, WSL2 support GPU, CUDF works fine but without full vram size, max 3gb from my rtx 2060/6gb

[2022-03-15 23:07] kkraus14 commented on #10382
Original author of the referenced blog here, although I am no longer an NVIDIA employee.

Producing proper wheel packages is arguable as bad now as it was when I originally wrote it and there's challenges for cuDF that don't exist for PyTorch. For example, libcudf depends on Apache Arrow's CUDA module, which in turn uses the CUDA driver API. The CUDA driver library only ships as a shared library s

[2022-03-15 23:26] caniko commented on #10382
Nobody is downplaying anything. Obviously a lot of work went into this package, kudos to the authors.

With that said, to say that the Python wheel packaging system wasn't made for this is ridiculous. You obviously don't know what Pytorch did to fix their CUDA problem, so why make assumptions for arguments sake? Let us push the project to newer heights instead of arguing, and keeping it down.

Ope

[2022-03-15 23:26] #10382 closed

[2022-03-16 02:22] randerzander opened #10441 "[BUG] Can't import dask_cudf with latest nightly + dask mainline"
Using the latest cudf/dask-cudf packages from the rapidsai-nightly channel:
[code]

And having built and installed dask & distributed from their respective main branches, I can't import dask_cudf:
[code]

[2022-03-16 02:54] #8913 closed

[2022-03-16 04:49] taureandyernv opened #10443 "[FEA] Add `.between()` to create easier range based mapping"
**Is your feature request related to a problem? Please describe.**
 I was trying to create a set of age ranges for a classifier but couldn't use `.between`

**Describe the solution you'd like**
[code]

[2022-03-16 13:25] randerzander commented on #10441
Fixed by #10442

[2022-03-16 13:28] beckernick commented on #10392
Closing this as answered and out of scope. Please feel free to re-open to continue the discussion.

[2022-03-16 13:28] #10392 closed

[2022-03-16 17:36] bdice commented on #10417
@revans2 I discussed adding decimal support with @isVoid and we're going to work on this soon! It may or may not make the 22.04 release but we have a game plan.

Can you elaborate a bit on what you expect for string reductions? I didn't find much in the code about existing reductions for string types -- can you list (or find in the code) the reduction types you would expect to see? Thanks! 👍

[2022-03-16 17:53] jrhemstad commented on #10417
Pretty much all other reductions support min/max on strings and just use the `string_view::operator<` function.

Typically we have to add a level of indirection and actually compute `ARGMIN/ARGMAX` and then perform a gather.

[2022-03-16 19:30] #10441 closed

[2022-03-16 19:40] isVoid commented on #10417
How about decimal types? Each fixed point column is supposed to have a uniform scale. However, since the length of each segment can be different, the product of these segments may possess different scales. One way I can think of this is since `output_dtype` is required, we can always cast them to the desired type.

[2022-03-17 00:42] Jiangjiangzhang6 commented on #806
if didn't with root , how to resolve this error? thanks

[2022-03-17 09:06] chinmaychandak commented on #6916
This will be really useful! What is the current status for this?

[2022-03-17 09:35] ayushdg commented on #6916
@chinmaychandak passing storage_options is already supported today. It just isn't exposed explicitly as a param, which this issue is meant to address.
Is storage_options not working for you for certain Io methods?

[2022-03-17 19:29] revans2 commented on #10417
I care about min and max I am not concerned with product right now and min/max do not change the scale.  All of these problems have been solved by groupby aggregations. If the groupby aggregation is not supported for this type, then I would not see any reason to support it for a segmented reduction. If it is supported then I would expect the result to be the same as what groupby does.  Being incon

[2022-03-17 23:50] #10314 closed

[2022-03-18 04:04] dominicshanshan commented on #10424
I am going to work on this

[2022-03-18 15:49] nvdbaranec opened #10453 "[FEA] Iterator versions of make_device_uvector_sync() and make_device_uvector_async()"
Ran into some code in a PR that was staging results into a std::vector just so that it could be passed to a factory function.  Seems like it would be useful to have versions that take (device) iterators directly.

[2022-03-18 18:27] bdice commented on #8641
Status update on this issue: I have been working on several refactors, fixes, and performance enhancements for libcudf's hashing functionality. I expect this feature to land in the 22.06 release with PR #9215.

[2022-03-18 18:27] gerashegalov opened #10455 "[FEA] customizable default for segmented_reduce value on empty segments"
**Is your feature request related to a problem? Please describe.**
Currently segmented_reduce returns NULL for various inputs, including empty inputs. For empty inputs NULL is not always a natural choice. E.g. when implementing a Boolean aggregation `exists` https://github.com/NVIDIA/spark-rapids/pull/4973 for Spark SQL, empty input quite intuitively results in `false`

**Describe the solution you

[2022-03-18 21:20] bdice opened #10458 "[BUG] `cudf::strings::findall_record` should return an empty list instead of null if no matches are found"
**Describe the bug**
PR #9911 introduced an API `cudf::strings::findall_record`. This resolved #9856, which was a request for Spark's [regexp_extract_all](https://spark.apache.org/docs/latest/api/sql/index.html#regexp_extract_all) function.

Currently, `cudf::strings::findall_record` returns a null value if no matches are found. However, both Spark and Pandas return an empty list. I discovered thi

[2022-03-18 21:27] #7753 closed

[2022-03-19 01:10] cheinger opened #10464 "[BUG] Left Semi Join much slower than Inner join"
**Describe the bug**
I’ve noticed that Left Semi Join can be an order of magnitude slower than Inner Join. Below you can see the 10x slow down when we switch out Inner Join for Left Semi Join (same data & table sizes).

**Inner Join**
<img width="720" alt="Screen Shot 2022-03-18 at 6 06 11 PM" src="https://user-images.githubusercontent.com/12998801/159100763-56dfaad6-6a06-4fbf-9b0e-57fd2dddd6e9.pn