[2021-10-12 04:22] harrism commented on #9413
Just for reference in thinking about naming and semantics, I also note that `std` (our eternal inspiration) does not have a `unique_count`. Typical approaches to implementing it:

1.
[code]
2.
[code]

I think we discussed this in the past, and decided that due to the costs of materializing columns / tables, it's better to provide an algorithm that actually counts the unique items with a scan than

[2021-10-12 18:45] Atharex opened #9419 "[BUG] Source build -- (missing: OPENSSL_CRYPTO_LIBRARY) (found suitable version "1.0.2k", minimum required is "1.0.2")"
**Describe the bug**
cuDF build fails with an openssl related error on a CentOS 7.9 source build. It seems cmake finds a suitable version, but declares it unsuitable as minimum.

**Steps/Code to reproduce bug**
This happens when using the build.sh script in the base directory of any of the `v21.08.0*` tags. The openssl library is the default latest package installed by YUM
[code]

**Expected behav

[2021-10-12 20:21] #9404 closed, assigned to isVoid

[2021-10-12 23:35] roshkins opened #9423 "[BUG] UDF functions for `apply_chunks` returns non-deterministic output"
**Describe the bug**
A clear and concise description of what the bug is.
When I reference an adjacent cell in apply_chunks, the result is non-deterministic when executed repeatedly.

**Steps/Code to reproduce bug**
Follow this guide http://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports to craft a minimal bug report. This helps us reproduce the issue you're having and resolve the issue

[2021-10-13 00:05] #9233 closed

[2021-10-13 01:47] harrism commented on #9413
But now Jake is suggesting changing the non-ordering semantics to match `std::unique`. Are there other semantics that should stop us using that name?

[2021-10-13 02:57] wbo4958 opened #9424 "[FEA] Add API for generating per-list sequences"
**Is your feature request related to a problem? Please describe.**
Could we support sequence on columns?

## input

| start | end | step |
| --- | --- | --- |
| 0  |  5  |  1 |
| -2 | 2 | 2 |
| -3 | 3 | 1 |

## output

| start | end | step | sequence(start, end, step)  |
| --- | --- | --- | --- |
| 0  |  5  |  1 |  [0, 1, 2, 3, 4, 5] |
| -2 | 2 | 2 | [-2, 0, 2] |
| -3 | 3 | 1 | [-3, -2, -1, 0, 1,

[2021-10-13 03:20] jrhemstad commented on #9413
But the behavior of `std::unique` doesn't match Pandas `unique`. If we go with the `unique/unordered_unique` naming, Pandas would use the `unordered_unique`.

[2021-10-13 03:26] ttnghia opened #9426 "[FEA] Add a sentinel `constexpr` value to denote `INVALID_INDEX`"
Currently, various cudf APIs need to use a special constant to denote an **invalid** row index for certain operations. However, there is not any guideline on what constant should be used to mark an invalid index row. Therefore, different APIs implement their own `INVALID_INDEX` constant.

For example:
 * `lists/explode.cu`: `constexpr size_type InvalidIndex = -1;`
 * `detail/scatter.cuh`:  `std::n

[2021-10-13 11:15] harrism commented on #9413
Hmmm, perhaps I misunderstood @shwina 's message.

What does Pandas unique return for [4, 4, 0, 1, 2, 2, 4, 4]?   std:unique would return [4, 0, 1, 2, 4].

[2021-10-13 13:14] robertmaynard commented on #9396
Yes for developers the requisite files will exist once a build directory exists. CI runs the formatting pass without generating a build directory and therefore needs to fetch the file from the internet explicitly.

[2021-10-13 14:05] abellina opened #9430 "[BUG] JNI testORCWriteToBufferChunked fails if `device_write_async` just returns a future"
The JNI cuDF bindings have a custom writer sink. Recent changes to the `cudf::io::data_sink` api added a `device_write_async` method and we updated our custom sink to pass CI and retain the old behavior.

If I try to return a future in this API, and do the work we used to do inside of it, our java tests fail for Orc but not for Parquet.

[code]

Test failure:

[code]

Discussing with @devavret it

[2021-10-13 14:09] abellina commented on #9408
So lets close this particular issue, and follow up on #9430  @devavret. If you have an issue on the C++ side please link in.

[2021-10-13 14:09] #9408 closed, assigned to nobody

[2021-10-13 16:23] revans2 opened #9431 "[BUG] default_scalar_functor loses scale for decimal types"
**Describe the bug**
When doing a reduction with a decimal type it is not totally uncommon to end up with a table of all nulls.  CUDF detects this and returns a "null" value. But in the case of decimal values the scale is lost and reset to 0 because `default_scalar_functor` for fixed width types just looks at the type T to infer a data_type.

**Steps/Code to reproduce bug**
Do any reduction (I ran

[2021-10-13 16:36] beckernick commented on #9424
Perhaps https://github.com/rapidsai/cudf/pull/8886 is relevant for the timestamp sequence?

[2021-10-13 21:02] brandon-b-miller opened #9432 "[FEA] Support Datetime/Timedelta types in Masked UDFs"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to pass datetime and timedelta dtype columns to functions used in `apply`. Currently only numeric types are explicitly supported. This is not for any reason other than that they were simpler to develop the machinery with.

This should work in cuDF as well:

[code]

**Describe the solution you'd like**
Numba supp

[2021-10-13 22:06] harrism commented on #9426
If this is added, be sure to add a section to the libcudf DEVELOPER_GUIDE.md as well.

[2021-10-14 00:25] ayushdg opened #9434 "[BUG] String match returns incorrect result in some cases"
**Describe the bug**
`series.str.match` returns incorrect results in the case of some regular expressions.

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
In the above example
[code]
[code]
**Environment overview (please complete the following information)**
 - Environment location: Bare-metal
 - Method of cuDF install: conda
   - If method of install is [Docker], provide `do

[2021-10-14 04:07] #9255 closed

[2021-10-14 09:44] sperlingxx opened #9437 "[FEA] Java: close HostColumnVectorCore should not rely on libcudf"
**Is your feature request related to a problem? Please describe.**
Here is the mirror [issue](https://github.com/NVIDIA/spark-rapids/issues/3822) in spark-rapids.

[2021-10-14 12:51] #9363 closed

[2021-10-14 15:21] davidwendt commented on #9434
It looks like there are a lot of unescaped regex characters in the pattern that may be confusing the code. Here is the documentation that includes the meaning for the [special regex characters](https://docs.rapids.ai/api/libcudf/stable/md_regex.html). Looks like if you escape them all, you will get the correct result.

[code]

[2021-10-14 16:56] ayushdg commented on #9434
Thanks for the context and link.
Are the regex rules for cudf string pattern matching slightly different than the standard python regex rules? (In terms of requiring to escape certain chars)

Trying to evaluate if dask-sql will need a special case to handle regexes differently for gpu dataframes vs pandas df's.

[2021-10-14 17:18] davidwendt commented on #9434
I would expect that all regex characters would need to be escaped if they are to be matched literally in a target string. Perhaps python has done some work to guess when the escape was intended? I don't have a clue how they would know to do that.

[2021-10-14 18:07] andygrove opened #9439 "[FEA] Regex: Provide option for ^ and $ to only match beginning and end of input string"
**Is your feature request related to a problem? Please describe.**
I would like the ability to use `contains_re` in a way that is compatible with Java and Python's default handling of multi-line inputs. The default cuDF behavior is that `^` will match at the beginning of the input and also match after each newline in the input. The default Python and Java/Spark behavior is to only match at the sta

[2021-10-14 18:15] andygrove opened #9440 "[BUG] Regex stops parsing input when a null character is encountered"
**Describe the bug**

cuDF regex does not match any characters that appear after `\u0000` in the input string, which is different from the behavior in Python and Java.

**Steps/Code to reproduce bug**

## Python

[code]

## cuDF

[code]

**Expected behavior**
I would expect the behavior to be consistent between Python and cuDF.

**Environment overview (please complete the following information)**

[2021-10-14 18:27] andygrove commented on #9434
I am also running into this issue. Here is one example:

## Python

[code]

## cuDF with escaping (correct results)

[code]

## cuDF without escaping

[code]

[2021-10-14 18:33] davidwendt commented on #9440
Perhaps a duplicate of #6196

[2021-10-14 18:50] mythrocks opened #9441 "[BUG] Bad results in STRUCT joins if parent nulls aren't pushed down to children"
When two tables are joined on a `STRUCT` column whose nulls haven't been pushed down to children, the JOIN operator produces incorrect results.
E.g. Consider the following pseudo-code:
[code]
Both the `fact` and `dimension` columns have `NULL` in their first row. The join should produce a single row. In the current state, `inner_join()` produces 0 matched rows, because the nulls in the `fact` tabl

[2021-10-14 18:55] mythrocks commented on #9441
Here is a more complete repro case, sung to the tune of `JOIN_TEST`:
[code]

[2021-10-14 19:29] #9440 closed, assigned to davidwendt

[2021-10-14 19:38] #9330 closed

[2021-10-15 13:18] RaeWallace10 opened #9447 "cudf.core.subword_tokenizer.SubwordTokenizer.__call__ Tensorflow isssues"
For 'return_tensors' I tried multiple tensoflow versions with 'tf' and it give the same error but it works just fine with pytorch 'pt'

[code]

[2021-10-15 15:51] ttnghia commented on #8974
This issue should cover the previous one: https://github.com/rapidsai/cudf/issues/7995

[2021-10-15 18:07] alexwilson1 commented on #8510
Any update on the progress of this please? What would be the current recommended way to work with PyTorch and Rapids side by side please?

[2021-10-15 20:22] #9431 closed, assigned to revans2

[2021-10-16 01:01] #9400 closed, assigned to isVoid

[2021-10-18 10:57] iskode opened #9459 "[FEA] Shortening the `cuDF` building process for pure Python contributor"
**Is your feature request related to a problem? Please describe.**
I've been a cuDF **Python only** contributor for 3+ months. One of my main challenge was and is still
(even getting better at it) the process of building cuDF for Python.
Working on an Nvidia GTX 1050Ti (4GB of GPU RAM) card equipped laptop (8 cores, 16 GB RAM),
it takes me around 90 minutes to build locally the C++ library (when I

[2021-10-18 13:05] ttnghia commented on #9356
Yes. Sorry that I forgot to link this.

[2021-10-18 15:28] ncclementi opened #9460 "[DOC] cudf.DataFrame.merge `how` options incomplete"
**Report needed documentation**  and **Describe the problems or issues found in the documentation**

The documentation on `cudf.DataFrame.merge` more specifically the `how` part is incomplete. Docstrings are here
https://github.com/rapidsai/cudf/blob/e597075a912709ea2f732230d9355e48698ab770/python/cudf/cudf/core/dataframe.py#L4372-L4381

and for what I read in the Merge class here https://github.c

[2021-10-18 17:27] abellina opened #9461 "[BUG] AST join slows down significantly with a small left table"
We found an issue late in 21.10 (https://github.com/NVIDIA/spark-rapids/issues/3736) with the AST driven inner join where given a smaller left side table our performance would drop significantly with AST, as opposed to using an unconditional join + a separate filter. This issue is to discuss whether cuDF could detect this and adjust how it handles such a join.

If the larger table is on the left,

[2021-10-18 19:11] vyasr commented on #9461
In early prototypes of the AST implementation there was logic in the kernels to automatically swap the left and right tables so that the kernel configuration would always run over the left table. I removed this because that code path was swapping the tables without making the necessary associated modifications to the expression (e.g. `operation(GREATER, 0, 1)` needs to be converted to `operation(G

[2021-10-18 20:50] bdice opened #9462 "Cython enums for null_equality and nan_equality redeclare 'UNEQUAL', raising a warning during builds."
The Cython enums `null_equality` and `nan_equality` both have an enum value named `UNEQUAL`.

https://github.com/rapidsai/cudf/blob/74763ba9999ce52a83e5254da986c75c03f4d0d5/python/cudf/cudf/_lib/cpp/types.pxd#L45-L51

When building the cuDF Python code, I see an error message repeated many times:
[code]

This issue of repeated `enum` names has been previously discussed on StackOverflow: https://st

[2021-10-18 21:06] andygrove opened #9463 "[BUG] Regex: behavior of empty groups differs from Python"
**Describe the bug**

This is an odd edge case discovered during fuzzing where cuDF has different behavior than Python or Java when a regular expression contains an empty group `()`.

For example, the expression `z()?` should only match strings that contain the letter `z`.

## Python Regex

[code]

## cuDF Regex

[code]

**Steps/Code to reproduce bug**

See code above.

**Expected behavior**
I wou

[2021-10-19 01:20] vyasr opened #9465 "[DEPRECATION] Remove support for boolean masks in take"
The `take` method of various pandas objects is only designed to accept integer indices. We have also supported boolean masks up to now, but the preferred method to do this should be via `iloc[mask]`. Removing this helps us reduce the internal complexity of `take`.

[2021-10-19 06:03] #9441 closed, assigned to mythrocks

[2021-10-19 13:34] chenrui17 opened #9466 "[QST]Performance about read_parquet"
**What is your question?**
i use cudf `read_parquet` cpp API and some other data process api , and read remote hdfs file and do some data process, and it's performance is not very good, and gpu util is very slow, according to the nsight system, read data from Host to device cost too much time ,and it's likely it called `cudaMemcpyAsync` many times, and every time it only transfer a little data, an

[2021-10-19 14:12] karthikeyann opened #9468 "[BUG] Add fixed point to AllTypes in libcudf unit tests"
**Describe the bug**
Fixed point types are missing in `cudf::tests::AllTypes`.
`AllTypes` is not all types. It includes only non-compound types.

**Expected behavior**
AllTypes should include fixed point types and fix failing compilation and unit tests.

Tests fails to compile:
- [x] ITERATOR_TEST
- [x] REDUCTION_TEST
These fail due to fixed point scalar and device scalar defined differently from

[2021-10-19 14:12] karthikeyann opened #9469 "Add unit tests for fixed point in quantiles"
**Describe the bug**
Quantiles support fixed point columns. but it is not tested in unit tests (both gtest and pytest).

**Expected behavior**
add unit tests for fixed_point in quantiles gtest

**Additional context**
https://github.com/rapidsai/cudf/issues/9468
While adding `FixedPointTypes` to `cudf::test::AllTypes`, QUANTILES_TEST (Failed).

[  FAILED  ] QuantileUnsupportedTypesTest/10.TestZeroE

[2021-10-19 18:14] vyasr opened #9474 "[BUG] cudf uses deprecated `Series.label_encoding` function internally"
There are multiple places where cuDF internally calls the `Series.label_encoding` method, which was deprecated in #9289:
- https://github.com/rapidsai/cudf/blob/branch-21.12/python/cudf/cudf/core/column/column.py#L968
- https://github.com/rapidsai/cudf/blob/branch-21.12/python/cudf/cudf/core/algorithms.py#L62
- https://github.com/rapidsai/cudf/blob/branch-21.12/python/cudf/cudf/core/dataframe.py#L

[2021-10-19 19:00] bdice opened #9475 "[DEPRECATION] Remove Series.hash_encode"
Following up on #9381 and #9457, the `Series.hash_encode` method will be removed in a future version. The deprecation will be made public in 21.12 and this can be removed in the following release.

[2021-10-20 02:26] res-life opened #9478 "[BUG] Can not read the generated ORC file by Spark CPU"
**Describe the bug**
The ORC file generated by Spark-rapids plugin has problem.
When reading it by Spark via CPU logic, errors occur, see the following.
Now is trying to reproduce the ORC file, if success will update the issue, please investigate the ORC file first.
Seems not handle date correctly, please check.
When set date starts from 1970, it's OK; But if set date starts from 1590, it fails.

[2021-10-20 09:05] galipremsagar opened #9479 "[FEA] Full support for `Decimal32Column` in `cudf`"
**Is your feature request related to a problem? Please describe.**
When decimal types were implemented initially, there was only `Decimal64Dtype`, and lot of the decimal column-specific code are hard-coded with `Decimal64Dtype` checks. Later, we started exposing `Decimal32Dtype`: https://github.com/rapidsai/cudf/pull/8438, now we should generalize these checks so that users can perform the same op

[2021-10-20 17:19] #9432 closed, assigned to brandon-b-miller

[2021-10-20 17:49] quasiben commented on #9466
How is your application reading from hdfs ?  Are you buffering data on the host machine or reading each individual chunk directly onto the device?

[2021-10-20 22:38] harrism commented on #9479
Also Decimal128 soon.

[2021-10-21 12:16] #5079 closed

[2021-10-22 08:40] wjxiz1992 opened #9497 "[FEA] enhancement: not allow getData from ColumnVector of nested type"
**Is your feature request related to a problem? Please describe.**
When getData from a ColumnVector of nested type such as LIST, the address will be null, and that will trigger a NPE.

**Describe the solution you'd like**
When calling getData API from a ColumnVector, check the data type, if it's nested type, throw exception to inform that no data could be get from a nested type ColumnVector.

**Ad

[2021-10-22 15:32] randerzander opened #9500 "[FEA] Support passing scalar args to df.apply"
I often want to use a "UDF" on a DataFrame where some scalar values can be supplied programmatically.

In Pandas, I can do:
[code]

With cuDF, I can't see a way to pass scalar args to func:
[code]

As a workaround, I can do something like:
[code]
And if I want different values for A and B, I can update them then apply func again.

[2021-10-22 21:17] bdice opened #9503 "[DEPRECATION] Remove DataFrame.hash_columns"
Following up on #9458, the `DataFrame.hash_columns` method will be removed in a future version, in favor of `DataFrame.hash_values`. The deprecation will be made public in 21.12 and this can be removed in the following release.

[2021-10-22 21:53] rongou opened #9504 "[BUG] Address out of bounds when using the async allocator"
**Describe the bug**
When using the rapids-spark plugin with the `cuda_async_memory_resource`, getting an address out of bounds errors reported by `compute-sanitizer`.

**Steps/Code to reproduce bug**
Haven't been able to reproduce this more simply, but seems to be getting it pretty consistently running TPC-DS `q64` on my desktop (and on DGX-2s). Just run the TPC-DS query as usual, but with `--con

[2021-10-22 22:50] karthikeyann opened #9507 "[BUG] groupby result cache error in dask-cudf test"
**Describe the bug**
@bdice pointed out a recurring issue in gpuCI from dask-cudf in test_groupby_reset_index_names . I see the message:
`RuntimeError: cuDF failure at: ../src/aggregation/result_cache.cpp:42: Result does not exist in cache`
@karthikeyann  recently edited result_cache.cpp , and we discussed this briefly earlier in the week. I don't think we were able to identify exactly what was go

[2021-10-23 00:10] isVoid commented on #9179
Cudf supports constructing a `StructColumn` from a `StructArray`.
[code]

I believe the error you see here has to do with having `DictionaryArray` as one of the fields in the `StructArray`. Also I'm seeing a different behavior on latest commit:

[code]

The result is well formed. But doesn't print well:
[code]

[2021-10-25 02:35] wbo4958 opened #9511 "[DOC][QST] CLION configuration"
Hi there,

Is there a way to configure CLION to compile and debug cudf gtests?

[2021-10-25 10:19] krlng opened #9512 "[FEA] Support "on" parameter in cudf.DataFrame.join"
Version used: cuml==21.8.2

**Steps/Code to reproduce bug**
[code]

[2021-10-25 15:30] bdice opened #9513 "[FEA] Execute documentation examples in CI tests (doctests)"
**Is your feature request related to a problem? Please describe.**
Example code in cuDF is currently untested (as far as I can tell). I discussed with @rlratzel who is working to add doctests to cuGraph, and I'd like to mirror that testing configuration for cuDF.

See also: https://github.com/rapidsai/cugraph/issues/1904

**Describe the solution you'd like**
Add doctests that execute the example c

[2021-10-25 16:37] ttnghia opened #9515 "[FEA] Add an overload of `make_empty_column` with `type_id` parameter"
Currently, the `make_empty_column` API accepts only `data_type` as a parameter. As I observe, the snippet similar to below is called hundreds of times:
[code]

This is a bit lengthy and inconvenient. Why don't we have this?
[code]

We may be able to call this if we have implicit conversion from `type_id` to `data_type` but the constructor of `data_type` from `type_id` is marked as explicit for som

[2021-10-25 20:27] jlowe opened #9519 "[FEA] Java tests for AST casts"
**Is your feature request related to a problem? Please describe.**
#9379 added Java bindings for AST casting but without any Java tests of those bindings.

**Describe the solution you'd like**
Java tests should be added for AST casting to test the correctness of the Java bindings for this feature.

[2021-10-25 22:37] chloeh13q opened #9520 "[FEA] SubwordTokenizer to support QA type inputs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I wish I could use cuDF to do [...]

I wish to use cuDF to preprocess QA type inputs, specifically fine-tuning BERT on SQuAD for question answering. The tokenization in the SQuAD dataset is different from how BERT tokenizes the input.
The `SubwordTokenizer` does not curren

[2021-10-26 15:02] #9507 closed, assigned to karthikeyann

[2021-10-26 20:21] sameerz opened #9528 "[FEA] Statically link the latest CUDA runtime in the libcudf jar"
CUDA enhanced compatibility in CUDA 11.x (driver version 450.80.02 and higher) enables the libcudf java to be built with a newer version CUDA 11.x and work with older drivers and toolkits. However rather than relying on these guarantees, it might be safer to statically link the version of CUDA we are building against into the jar. This issue is being opened to explore static linking.

Describe the

[2021-10-27 10:32] wjxiz1992 opened #9531 "[FEA] expose DeviceMemoryBuffer's fromRmm method"
**Is your feature request related to a problem? Please describe.**
It is common usage in the project [spark-rapids-ml](https://github.com/NVIDIA/spark-rapids-ml) to construct a new ColumnVector according to a device memory buffer. DeviceMemoryBuffer's [fromRmm](https://github.com/rapidsai/cudf/blob/branch-21.12/java/src/main/java/ai/rapids/cudf/DeviceMemoryBuffer.java#L103) method will help.

**De

[2021-10-27 10:47] wjxiz1992 opened #9532 "[FEA] create LIST type ColumnVector of fixed row size from a device memory buffer"
**Is your feature request related to a problem? Please describe.**
In [spark-rapids-ml](https://github.com/NVIDIA/spark-rapids-ml), it is common(to build a matrix-like data) to build new `fixed row length` ColumnVector of LIST type, with a device memory buffer.

**Describe the solution you'd like**
imagine there's a result memory buffer `void* ret` to be returned. cuDF should be able to create a f

[2021-10-27 15:53] jbrennan333 opened #9534 "[BUG] libnvcomp is not compiled with PTDS"
CUDF does not define CUDA_API_PER_THREAD_DEFAULT_STREAM when building libnvcomp.a, even when -DPER_THREAD_DEFAULT_STREAM=ON is defined.

We found this when comparing nsys traces taken while running tpc-ds benchmarks on spark-rapids with and without LIBCUDF_USE_NVCOMP=1 defined.  The cudf snappy kernels use per thread default streams, but nvcomp was using only 1 stream (7).  As a result, most queri

[2021-10-27 19:29] #9515 closed, assigned to nobody

[2021-10-27 22:12] vyasr opened #9541 "[DEPRECATION] Remove Series.set_index"
pandas supports `DataFrame.set_index` to convert specified columns of a DataFrame into its index. To actually set a separate index object as the index of a DataFrame or Series, however, a user must set the `index` property (e.g. `df.index = RangeIndex(10)`). `Series.set_index` as implemented in cuDF (as an alias for setting the property) confuses the issue. The method was deprecated in #9529 for 2

[2021-10-27 22:46] #9511 closed, assigned to nobody

[2021-10-28 07:12] galipremsagar opened #9546 "[BUG] Data-corruption while reading a parquet file in `cudf` built with cuda 11.5"
**Describe the bug**
When `cudf` is built with `cuda-11.5`, there seems to be a data-corruption while reading a parquet file with `cudf` engine. It seems to be the case for multiple columns, see example below.

**Steps/Code to reproduce bug**
[code]
[code]
**Expected behavior**
Data should be read correctly.

**Environment overview (please complete the following information)**
 - Environment locat

[2021-10-28 14:51] jrhemstad opened #9548 "[FEA] Add `offsets_begin()` and `chars_begin()` iterator accesors for string_column_view"
**Is your feature request related to a problem? Please describe.**

If I want to access the offsets/chars of a strings column, I am required to know/assume the underlying type, e.g.,
[code]

This is inconvenient and brittle as what if the underlying type changed?

**Describe the solution you'd like**

Add member functions to `string_column_view` that give me a typed iterator to the underlying offs

[2021-10-28 15:16] #9531 closed, assigned to jlowe

[2021-10-28 19:14] bdice opened #9552 "[FEA] libcudf functions for `segmented_has_nulls` / `has_null_elements(list_view)` / `segmented_bitmask_reduction`"
**Is your feature request related to a problem? Please describe.**
Following from libcudf discussions around null support and lists (or segmented columns more generally), we have identified a need for a few new APIs. Many reductions over a `list_view` produce results that should be null if any element in the list (an element in the corresponding segment of the child column) is null.

cc: @isVoid @

[2021-10-28 21:39] shwina opened #9555 "[FEA] Move text processing APIs and implementation out of cudf into a separate library or package"
The `StringMethods` accessor in cuDF contains a  few complex text processing APIs including e.g., ngram generation subword tokenization. I think those APIs should live in a separate repo, for two reasons:

1. They have low discoverability: we advertise cuDF as a GPU DataFrame library, not as a tokenization library or text processing library.
2. They stick out awkwardly in terms of the complexity o

[2021-10-28 23:54] vyasr opened #9557 "[FEA] Restructure AST internals to reduce stack depth and register pressure"
**Is your feature request related to a problem? Please describe.**
The AST evaluation process currently used for conditional joins and the `compute_column` APIs is heavily dependent on multiple levels of device-side dispatch, both implicit and explicit. Explicit dispatches are performed based on argument types -- which happens once for unary ops and twice for binary ops -- and based on the `ast_op

[2021-10-29 11:54] #9434 closed, assigned to nobody

[2021-10-29 11:54] #9463 closed, assigned to nobody

[2021-10-29 16:12] mayankanand007 opened #9561 "[FEA] Supporting `timedelta64` dtypes for ceil/floor operations"
**Is your feature request related to a problem? Please describe.**
This issue is created as a follow-up to #9571  and #9554 where we add support for ceil/floor operations for `datetime64[ns]` data type. In this case, we would like additional support for `timedelta64[ns]` types as well.

**Describe the solution you'd like**
[code]
Output:
[code]

**Additional context**
Similar [to how pandas suppor

[2021-10-29 17:53] randerzander opened #9564 "[FEA] Clarify non-existent subdirectory error messages for file writers"
With latest cudf nightlies, attempting to write a file to a non-existend subdirectory fails as expected (matching Pandas), but the error is unclear:
[code]

Pandas's is a bit better:
[code]

It would be helpful for users to know if the write fails because the subdirectory didn't exist, as opposed to some other permissions or worse (if writing to a distributed fs) error.

[2021-10-29 18:25] vuule opened #9565 "[FEA] Decimal128 support in ORC reader/writer"
- [ ] Support decode to decimal128 in the reader (opt-in, keep decimal64 as default);
- [ ] Support encode of decimal128 columns in the writer.

[2021-10-29 18:27] vuule opened #9566 "[FEA] Decimal128 support in Parquet reader/writer"
- [ ]  Support decode to decimal128 in the reader (opt-in, keep decimal64 as default);
- [ ]  Support encode of decimal128 columns in the writer.

[2021-10-29 19:14] kkraus14 opened #9567 "[BUG] Conda packages of dask-cudf aren't CUDA version agnostic"
**Describe the bug**
In dask-cudf we add the cupy package for the specific CUDA version to the `setup.py`: https://github.com/rapidsai/cudf/blob/branch-21.12/python/dask_cudf/setup.py#L70-L73. When we make a conda package of dask-cudf we do not upload a separate package per CUDA version though. This leads to a dask-cudf package with a `cupy-cuda114` dependency being installed, where if someone tri

[2021-10-29 19:16] davidwendt commented on #2439
I tried this today on branch-21.12 with Pandas 1.2.5.

[code]

Perhaps this issue can be closed?

[2021-10-29 19:20] #9396 closed

[2021-10-29 19:45] thomcom commented on #2439
Those are float types, not int. I am not sure if int64 has NaN yet.

[2021-10-29 20:06] davidwendt commented on #2439
How about this?
[code]

I'm probably out of my depth here.

[2021-10-29 20:53] shwina commented on #2439
Looks like we went with the upcasting route here. We previously experimented briefly with returning nullable types instead, but that led to some user frustration.

I also feel that this can be closed out for now if  @randerzander agrees.

[2021-10-30 00:00] #8190 closed

[2021-11-01 09:44] galipremsagar commented on #9478
@vuule Can we close this issue now that #9568 is merged?

[2021-11-01 16:02] shwina commented on #9567
Re: removing the dependency, the only removal I can see as being potentially breaking is [here](https://github.com/rapidsai/cudf/blob/branch-21.12/python/dask_cudf/dask_cudf/backends.py#L262). @galipremsagar (or perhaps @pentschev ) do you have any thoughts on whether this is OK to remove? I don't quite understand why `dask_cudf` should responsible for registering CuPy types with dask.

Note that

[2021-11-01 16:06] #9534 closed

[2021-11-01 16:14] galipremsagar commented on #9567
I'm testing it out, will get back on this soon

[2021-11-01 17:21] galipremsagar commented on #9567
I think we also have two more options here:
1. We can remove `cp.ndarray` dispatch, I have tested `dask`, `dask-cudf` & `dask-cuda` for this change and all seem to be functioning well.
2. We can make the registering of `cp.ndarray` dispatch optional just like in `dask`, i.e., if import of `cupy` succeeds in dask-cudf we register, or else ignore.

Doing 2 now (as we are close by release) and 1 on n

[2021-11-01 17:48] mlahir1 opened #9575 "[BUG] Aggregation with NaN not matching Pandas behavior"
Aggregation(mean/sum) on cols NaN result in NaN value. even with dropna as `True`

[code]

**Expected/Pandas behavior**
[code]

[2021-11-01 17:54] vyasr commented on #8979
We're hoping that addressing #9557 will help make this less of an issue.

[2021-11-01 17:58] #9439 closed

[2021-11-01 18:21] kkraus14 commented on #9567
There's a 3rd option here as well in just publishing dask-cudf conda packages per CUDA version as well (for now at least). Right now the way we're publishing the packages is broken where we're uploading both packages and clobbering them where only the one that finishes last ends up staying.

[2021-11-01 19:45] abellina opened #9576 "[BUG] RowBitCountTyped test failures"
I am seeing the following test failures in CI (I have a PR up for an unrelated change: https://github.com/rapidsai/cudf/pull/9543).

The build that failed was: `CUDA=11.5,GPU_LABEL=cuda115,LINUX_VER=centos7,PYTHON=3.8`

[code]

[2021-11-01 19:48] vuule commented on #9478
I could not verify that the issue is fully resolved since the repro file is already corrupted.
@res-life can you please verify if the PR 9568 fixes the original issue?

[2021-11-01 20:44] #9460 closed

[2021-11-01 21:37] ttnghia opened #9577 "[FEA] Add dictionary support for `null_replaced_value_accessor`"
Currently,  the `null_replaced_value_accessor` internal API does not support dictionary type. As such, somewhere else like the file `group_single_pass_reduction_util.cuh` has to implement a customized version of that API to support dictionary.

We should add dictionary support for the common internal API and remove that customized version.

[2021-11-01 21:42] jrhemstad commented on #9577
What do you expect `column_device_view::element<dictionary32>` to return?

[2021-11-01 21:44] ttnghia commented on #9577
Here is the customized version:
[code]

[2021-11-01 21:58] jrhemstad commented on #9577
So that's iterating over the values of the dictionary via indirect lookup. We don't want to force all of our iterator machinery to do that as there are many places where we want to just iterate over the keys.

[2021-11-01 21:59] ttnghia commented on #9577
Alright, got it. So we're going to just keep that customized version.

[2021-11-01 22:10] #9577 closed

[2021-11-02 08:51] res-life commented on #9478
@vuule  It works, please close this issue, thanks.

[2021-11-02 08:52] #9478 closed

[2021-11-02 11:37] chenrui17 commented on #9361
so if this pr is finished, we can handle variable-width data, like string type column to convert from row to column or from column to row, right ? and when will it be finished ?

[2021-11-02 13:47] ajschmidt8 commented on #9567
Thanks Keith! We'll create an internal issue to complete this.

[2021-11-02 13:55] galipremsagar commented on #9567
Also, I think option 3 that Keith suggested is better approach for time being as I see more places in `dask_cudf` where we use `cupy` for some internal methods, example: https://github.com/rapidsai/cudf/blob/fc868b8392627755a6d191b7fea6a20860d32e44/python/dask_cudf/dask_cudf/backends.py#L275

I think we can try getting rid of them in future but since option 3 is being implemented will leave the co

[2021-11-02 13:59] pbruneau commented on #8585
Hi @beckernick,

[Here is an updated minimal gist](https://gist.github.com/pbruneau/53312fe4bef649b7780f8f63bf09fbe1) which lists in details what works, does not work, and workarounds (as of version 21.08.02 installed on my side).

In a nutshell (please refer to the gist for details): with a MultiIndex and timestamps as primary key, pandas allows to do this kind of operation:

[code]
with `stamp`

[2021-11-02 16:04] ajschmidt8 commented on #9567
PR merged: https://github.com/rapidsai/cudf/pull/9578

[2021-11-02 16:17] hyperbolic2346 commented on #9361
The first stage of this code, which is this PR, does not support variable-width data. That is scheduled for a later PR. Strings will be the first supported after some performance improvements are made to this code.

[2021-11-02 16:43] #7904 closed

[2021-11-02 17:02] revans2 commented on #8827
Just a little curious. In the check list here it says that reading list types is done. But #8335 is closed pointing at this as a duplicate. So can I assume that it is not done yet?

[2021-11-02 17:38] jrhemstad opened #9580 "[FEA] Enable dynamic "has_nulls" for row operators"
**Is your feature request related to a problem? Please describe.**

The [`row_lexicographic_comparator`](https://github.com/rapidsai/cudf/blob/8a5adad1cbb6851b2a7b658ac4218e749210803c/cpp/include/cudf/table/row_operators.cuh#L333-L334) and [`row_equality_comparator`](https://github.com/rapidsai/cudf/blob/8a5adad1cbb6851b2a7b658ac4218e749210803c/cpp/include/cudf/table/row_operators.cuh#L225-L226) h

[2021-11-02 18:06] davidwendt commented on #9580
I had already started looking at an approach for this awhile back. Summary of my findings are in https://github.com/rapidsai/cudf/issues/6952

[2021-11-02 18:11] vuule commented on #8827
I think that maybe the item was automatically marked as done when #8335 was closed. Unchecked it now.

[2021-11-02 21:20] beckernick commented on #5169
I don't think this needs libcudf support. I believe this can be implemented reasonably efficiently in the Python layer with something like `df.groupby(list_of_all_columns).size()`.

[2021-11-02 21:45] beckernick commented on #5172
`DataFrame.std` has been implemented, with the following loose performance on a V100 and a CPU with 40 physical cores.

[code]

I'm going to close this issue. If this proves to be a bottleneck in a workflow, please feel free to reopen it.

[2021-11-02 21:45] #5172 closed

[2021-11-02 21:48] beckernick commented on #5170
This is not supported in the pandas API. @oyilmaz-nvidia is this still a bottleneck for you?

[2021-11-03 05:08] yangl57 opened #9584 "How to read massive data files (60G) on multiple GPUs?"
I want to read the dataframes on multiple GPUs before running XGBoost. However, client.persist takes forever for me...

My current implementation follows:
[code]

`X_train, y_train = client.persist([df_train_feature, df_train_label])
`****** I am currently on this step and it takes forever while the memory usage of GPUs from nvidia-smi doesn't change
`wait([X_train, y_train])`

My next steps are:

[2021-11-03 12:45] beckernick commented on #9584
You should read your data directly with Dask rather than using cuDF to read it into a single GPU first.

You may find this [blog on reading larger than memory CSVs(https://medium.com/rapids-ai/reading-larger-than-memory-csvs-with-rapids-and-dask-e6e27dfa6c0f) and this [blog on multi-GPU XGBoost training with Dask](https://developer.nvidia.com/blog/accelerating-xgboost-on-gpu-clusters-with-dask/) h

[2021-11-03 12:45] #9584 closed

[2021-11-03 14:28] jrhemstad opened #9586 "[FEA] Refactor semi/anti join to use cuCollections"
**Is your feature request related to a problem? Please describe.**

https://github.com/rapidsai/cudf/pull/8934 refactored inner/outer/full joins to use the cuCollections multi-map, but not semi or anti-join.

**Describe the solution you'd like**

Refactor semi/anti-join to use `cuco::static_map`.

**Additional context**

This is a precondition of support semi-joins with equality + conditional as d

[2021-11-03 14:30] jrhemstad commented on #9586
Ideally, semi/anit join would just be implemented with a _set_ instead of a hash map, but cuco doesn't have sets (yet).

[2021-11-03 15:34] #9399 closed

[2021-11-03 17:04] vyasr opened #9587 "[FEA] Define a standard mechanism for querying GPU memory usage"
**Is your feature request related to a problem? Please describe.**
Python's `sys` module provides the `sys.getsizeof` function to determine the size of a Python object. The behavior of `getsizeof` when applied to a user-defined class may be customized by overriding the `__sizeof__` attribute. For the purpose of computing the size of a Python object backed by GPU memory, however, `getsizeof` has a

[2021-11-03 17:04] vyasr commented on #9587
CC @leofang @jakirkham @gmarkall

[2021-11-03 17:27] leofang commented on #9587
cc: @kmaehashi @emcastillo @asi1024 for vis

[2021-11-03 20:02] #9548 closed

[2021-11-03 20:06] galipremsagar commented on #9387
I was able to narrow down the issue to libcudf layer, here is a minimal repro:

[code]

In `df1` & `df2`, values of `df1['8']` & `df2['Gene_Symbol']` should be same, whereas here it isn't the case.

[2021-11-03 20:44] ajschmidt8 commented on #9567
looks like the latest builds now include `cudatoolkit` version constraints ([link](https://anaconda.org/rapidsai-nightly/dask-cudf/files?page=1)).

![image](https://user-images.githubusercontent.com/7400326/140189757-0ca2e6bf-8dd5-4e03-8fe4-c51474086b68.png)

@kkraus14, can you confirm that this solves the issue? If so, can we close this?

[2021-11-03 21:55] beckernick opened #9590 "[FEA] Add_suffix and add_prefix for DataFrames and Series"
Pandas provides `add_suffix` and `add_prefix` methods on DataFrames and Series. `add_suffix`. For API compatibility, it would be useful to implement them.

"For Series, the row labels are prefixed (suffixed). For DataFrame, the column labels are prefixed (suffixed)." [0].

If the labels are numeric, they are coerced to strings before concatenation.

[0] https://pandas.pydata.org/docs/reference/api

[2021-11-03 22:00] kkraus14 commented on #9567
Resolved by #9578

[2021-11-03 22:00] #9567 closed

[2021-11-03 22:05] beckernick opened #9591 "[FEA] Series and and DataFrame.backfill, bfill, ffill, and pad"
Pandas provides a `backfill` and `bfill` method on DataFrames and Series. Both `backfill` and `bfill` are equivalent to `Series.fillna(method="bfill")`, which we have already implemented.

Pandas also provides `ffill` and `pad` methods on DataFrames and Series. These are equivalent to `Series.fillna(method="ffill")`, which we have already implemented.

For API compatibility, it would be useful to

[2021-11-03 22:12] beckernick opened #9592 "[FEA] Series and DataFrame.axes"
Pandas provides an `axes` method on DataFrames and Series. `Series.axes` returns a list containing the row index. `DataFrame.axes` returns a list of two elements: element zero is the row index and element one is the columns.

[code]

[2021-11-03 22:29] vuule commented on #9387
I wonder if the issue exists because the order of names in usecols and names is different. Will look into this once I'm done with ORC+decimal128.

[2021-11-03 22:41] vyasr opened #9593 "[FEA] Reduce implicit conversions to minimize unnecessary column materialization"
**Is your feature request related to a problem? Please describe.**
A number of deceptively harmless functions in cuDF Python actually involve insidious memory allocations that in aggregate have substantial deleterious impacts on performance. The two most prominent examples of this are `ColumnBase.astype` calls and all `RangeIndex` logic that involves materializing an `Int64Index`, although others

[2021-11-04 03:43] galipremsagar commented on #9387
Changing the order too doesn't seem to fix the data i.e., the data isn't matching with either of the columns.

[2021-11-04 09:33] sperlingxx opened #9595 "[BUG] Java: JCudfSerialization.unpackHostColumnVectors build child columns as HostColumnVector"
**Describe the bug**
`JCudfSerialization.unpackHostColumnVectors` build child columns as HostColumnVector. This may lead to "Close called too many times" on HostColumnVector if the close method of child columns and parent one are both called. Here is an [example](https://github.com/NVIDIA/spark-rapids/issues/4013).

**Expected behavior**
As `ColumnView.copyToHost`, build child columns as HostColum

[2021-11-04 13:14] revans2 opened #9597 "[BUG] Cast Decimal64 to Decimal128 is really slow"
**Describe the bug**
When testing the limits of SUM overflow detection I noticed something really odd.  If the input value is a Decimal64, but the output is a Decimal128 the GPU does a lot more computation, and takes a lot longer to complete.  But if the input is Decimal128 and the output is Decimal128 then it is significantly faster.

[code]

So I did an nsys trace and found

For the slow query w

[2021-11-04 13:39] #9500 closed, assigned to brandon-b-miller

[2021-11-04 13:51] brandon-b-miller opened #9598 "[FEA] Support `args=` in `cudf.Series.apply`"
**Is your feature request related to a problem? Please describe.**
As a follow up to https://github.com/rapidsai/cudf/pull/9514/files we should support functions that accept scalar (non column) arguments in `cudf.Series.apply`, similar to [pandas](https://pandas.pydata.org/docs/reference/api/pandas.Series.apply.html). Right now, `cudf.Series.apply` works by turning the series into a full dataframe

[2021-11-04 14:01] rjzamora opened #9599 "[BUG] cudf.read_parquet fails to read from remote storage with use_python_file_object=True"
**Describe the bug**
As [discussed](https://github.com/rapidsai/cudf/pull/9589#issuecomment-960927214) in #9589, cudf fails to read from remote storage when there is a RangeIndex specified in the pandas metadata, and `use_python_file_object=True`. This is because cudf [will try to use pyarrow](https://github.com/rapidsai/cudf/blob/f041a47954cd3dd7498589dd190b0eac6b0fa169/python/cudf/cudf/_lib/parq

[2021-11-04 14:24] beckernick opened #9600 "[FEA] Series and and DataFrame.first and last"
Pandas provides a `first` and `last` methods on DataFrames and Series. These methods require the index be a DatetimeIndex. They accept an offset string, DateOffset, or dateutil.relativedelta.

- [ ] [First](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.first.html): "This function can select the first few rows based on a date offset."
- [ ] [Last](https://pandas.pydata.org/docs/refe

[2021-11-04 14:33] jrhemstad commented on #9597
This is almost certainly the issue.

So this would be fixed by special casing for `input.scale() == scale` and just returning a copy of the input?

[2021-11-04 14:57] beckernick opened #9601 "[FEA] argmin and argmax for Series and Indexes"
For pandas API compatibility, it would be nice to implement argmax and argmin on various Series and Indexes. Argmax (argmin) is a reduction that accepts a column or index and returns the *integer position* of the largest (smallest) value in the data. If the maximum (minimum) is achieved in multiple locations, the first row position is returned.

We already have argmin and argmax aggregations in li

[2021-11-04 15:06] beckernick opened #9602 "[FEA] Series and DataFrame idxmax and idxmin"
For API compatibility, cuDF should support [idxmax](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.idxmax.html) and [idxmin](https://pandas.pydata.org/docs/reference/api/pandas.Series.idxmax.html) on Series and DataFrames.

Note that argmin and argmax (https://github.com/rapidsai/cudf/issues/9601) are slightly different from idxmin and idxmax. The latter methods return the index lab

[2021-11-04 15:21] beckernick opened #9603 "[FEA] DataFrame pct_change"
`Series.pct_change` was implemented in cuDF Python in https://github.com/rapidsai/cudf/pull/8650 . For pandas compatibility, it would be nice to implement this [for DataFrames](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html). The DataFrame method calculates the percent change individually for each column.

As a starting point, it would make sense to limit the support

[2021-11-04 15:33] beckernick opened #9604 "[FEA] DataFrame diff"
For pandas compatibility, it would be nice to implement `diff` [for DataFrames](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.diff.html). This is currently implemented with a Numba kernel [for Series](https://github.com/rapidsai/cudf/blob/2ecebe17cf519db1bc7aa8d459a735ea9f90c199/python/cudf/cudf/core/series.py#L3435) and with [the use of](https://github.com/rapidsai/cudf/blob/ca77c

[2021-11-04 15:46] beckernick opened #9605 "[FEA] Series transpose"
For pandas API compatibility, we can implement `transpose` on Series in addition to the existing implementation on DataFrame. As a Series is a 1-D container, [in pandas](https://pandas.pydata.org/docs/reference/api/pandas.Series.transpose.html) `Series.transpose()` returns the original Series.

[code]

This is consistent with numpy semantics for 1-D arrays:

[code]

[2021-11-04 16:01] revans2 commented on #9597
I am trying to upcast from a decimal64 to a decimal128 with the same scale. So it is not really returning a copy of the input. It is returning a wider copy of the input `__int128_t` as the underlying value instead of `int64_t`.

[2021-11-04 16:08] beckernick opened #9606 "[FEA] Groupby pct_change"
For time series analysis and pandas API compatibility, it would be useful to implement Groupby.pct_change. It may be feasible to implement `Groupby.pct_change` reasonably efficiently in the Python layer by using existing groupby functionality (diff and shift). As a starting point, it would make sense to limit the supported parameters/configuration to those currently supported by `Series.pct_change

[2021-11-04 16:26] revans2 commented on #9597
It might just be changing `if (input.type().scale() > scale) {` to `if (input.type().scale() >= scale) {`

[2021-11-04 16:44] revans2 commented on #9597
Yup that appears to have fixed the issue. My time for the first query drops from 4 seconds to about 2 seconds.

@jrhemstad I am happy to put up a PR. Is it too late to get this into 21.12?  Should I bug @codereport to put this into his decimal128 PR, because that is the one where this shows up?

[2021-11-04 16:54] codereport commented on #9597
I am still actively working on the decimal128 PR so I think it is totally fine to make this change in that PR.

[2021-11-04 17:03] codereport commented on #9597
I have pushed the changed in this commit: https://github.com/rapidsai/cudf/pull/9483/commits/1034057301540a4f3355ce0ae16b16c481a6bb77.

I think it's OK to close this PR as decimal128 is showing up in that PR.

[2021-11-04 18:06] jrhemstad commented on #9597
This is an issue, so let's keep it open until the decimal128 PR is merged.

[2021-11-04 18:14] co-tran-sp opened #9609 "[BUG] "RuntimeError: Total number of concatenated rows exceeds size_type range" for 394 millions rows x 3 columns dataframe"
**Describe the bug**
According to https://github.com/rapidsai/cudf/issues/8748, the number of max unique entitlements are int32 which is around 2.2 billions. When `cudf.DataFrame(df)` is called with ~1.1 billion unique values, it will throw the RuntimeError above

**Steps/Code to reproduce bug**
`df = pd.DataFrame(np.random.rand(394531839,3))
df = cudf.DataFrame(df)`

**Expected behavior**
The cud

[2021-11-04 18:37] beckernick commented on #9609
I am unable to reproduce this behavior with the 21.12 nightly or 21.10 release using a 32GB V100 GPU.

[code]

Please also note that the int32 size type limit is per column, so if you are getting this error it may be a red herring. Could you share a minimal, reproducible, complete example?

[2021-11-04 19:12] beckernick commented on #4663
In the current nightly, it looks like we ultimately throw a NotImplementedError due to the `level` parameter of `reset_index` not being None:

<details>
[code]
</details>

[2021-11-04 19:26] beckernick opened #9611 "[FEA] DataFrame and Index nunique"
In Pandas, [DataFrame.nunique](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.nunique.html) returns Series in which each row index corresponds to a column name in the original dataframe and the value corresponds to the number of distinct elements in that column. The Index methods [behave like the Series method](https://pandas.pydata.org/docs/reference/api/pandas.Index.nunique.html).

[2021-11-04 22:45] jlowe opened #9614 "[FEA] libcudf stream parameters should default to `cudaStreamPerThread` when compiled for PTDS"
**Is your feature request related to a problem? Please describe.**
#9534 occurred because libcudf was using a default-value argument as the stream to use (i.e.: the stream argument in the `detail` APIs that is currently hidden from the public APIs) and that stream was stream 0 (the default stream).  Because libcudf was compiled for PTDS, it properly interpreted 0 as `cudaStreamPerThread` but this

[2021-11-04 23:33] vuule commented on #9387
Pretty sure names of all columns should be passed via `names`. Not sure how the reader is expected to infer that `Gene_Symbol` is the 8th column from the given input parameters.

[2021-11-04 23:37] jrhemstad commented on #9614
The alternative that wasn't mentioned and is what I would vastly prefer to see here is to expose streams in the public APIs of libcudf. https://github.com/rapidsai/cudf/issues/925

That way, a caller can specify whatever stream they like (including `cudaStreamPerThread`).

I'd much prefer that option to some non-standard switheroo of defaulted function parameter values through compile time definit

[2021-11-04 23:44] vuule commented on #7618
what is missing before we can close this one?

[2021-11-04 23:46] #9205 closed

[2021-11-05 00:22] vuule opened #9615 "[FEA] Control rowgroup and page size when writing Parquet files"
Add a parameter to control the rowgroup size and the page size of the output Parquet file. The size can be specified in bytes or in the number of rows.

[2021-11-05 06:23] #9595 closed

[2021-11-05 13:47] galipremsagar commented on #9387
Discussed offline with @vuule and discovered this is purely a `dask_cudf` issue. I have identified the root cause, opening a fix.

[2021-11-05 14:29] jlowe commented on #9614
Yes, thanks @jrhemstad for fixing my omission.  Exposing the stream parameter would be great and should remove the need for libcudf to be compiled with PTDS.  I filed this mostly under the assumption #925 is still a long ways off -- is that no longer the case?

[2021-11-05 15:18] nvdbaranec commented on #7618
I would add:  Many permutations of empty things.   Empty strings, empty lists, empty structs.  These tend to expose slightly different problems than just null values (particularly with strings, where various child columns can be nullptr, etc).

[2021-11-05 16:36] andygrove opened #9619 "[FEA] Regex: Provide option for '.' to not match '\r'"
**Is your feature request related to a problem? Please describe.**
In Python and cuDF, the default behavior is that  `.`  will match all characters except for line-feeds, so this will match on `\r`. However, the default behavior in Java (as used by Spark) is that `.` will *not* match `\r` so this leads to an incompatibility.

## cuDF example:

[code]

## Spark example:

[code]

**Describe the solu

[2021-11-05 16:48] andygrove opened #9620 "[BUG] Regex: $ does not match `\n` at end of string"
**Describe the bug**
There is an edge case with multiline / EOL matching that seems to be incorrect in cuDF.

Given the pattern `2$` I would expect it to match the inputs `2` and `2\n` as seen in Python:

[code]

However, cuDF does not match in the `2\n` case.

**Steps/Code to reproduce bug**

I don't know how to use cuDF from the Python repl with the latest code so I have not actually tested this

[2021-11-05 18:48] #7123 closed

[2021-11-05 19:42] #9387 closed

[2021-11-08 04:58] firestarman opened #9622 "[BUG] Failed to import Python cudf in the recent nightly releases"
**Describe the bug**
Failed to import the cudf python module due to the error below in the latest nightly release (11-07).

[code]

**Steps/Code to reproduce bug**
Install the latest nightly version of Python cudf .
  `conda install -c rapidsai-nightly -c nvidia -c numba -c conda-forge cudf python=3.8 cudatoolkit=11.0`,
Then open a Python shell and execute `import cudf`.

**Expected behavior**
The

[2021-11-08 14:29] davidwendt commented on #9619
I'm reluctant to add specific support for `\r` character since it could create confusion in other places where `\n` is handled -- like for `^` and `$` as well as builtin classes `\W` and `\D`.
Could you replace the `\r` with `\n` in the input string? Since both are single byte characters, this could be done in-place on the chars column.

[2021-11-08 14:39] davidwendt commented on #8709
Closed by #9518, #9502, and #9536

[2021-11-08 14:39] #8709 closed

[2021-11-08 14:42] #9599 closed

[2021-11-08 15:13] beckernick commented on #9622
@firestarman could you try with a more recent nightly or provide a reproducible example with system information?

I am unable to reproduce this issue with the current nightly installed with the traditional install of `mamba create -n cudf-21.12 -c rapidsai-nightly -c nvidia -c conda-forge cudf=21.12 python=3.8 cudatoolkit=11.0` (note that this nightly is at a more recent commit of libcudf and a di

[2021-11-08 15:29] davidwendt commented on #9620
The default behavior of `contains` changed in #9482 in regards to `^` and `$` and the new-line character as explained in that PR. To make  `^` and `$` match with new-line characters instead of the whole string requires passing the `MULTILINE` flags parameter.
[code]
The flags are defined here https://github.com/rapidsai/cudf/blob/eda31b63850578c62d4a46bb90b556a12e792b87/cpp/include/cudf/strings/re

[2021-11-08 16:51] jlowe opened #9625 "[BUG] join output row count returns negative number when row count exceeds int32_t"
**Describe the bug**
When an inner join result would produce more than 2^31 output rows, `hash_join::inner_join_size` returns a negative number rather than the correct result.

**Steps/Code to reproduce bug**
Apply the following patch and run `JOIN_TEST`.
[code]

**Expected behavior**
The output row count is correct even if the value exceeds 31 bits.

[2021-11-08 17:07] beckernick opened #9627 "[FEA] DataFrame divide"
For pandas API compatibility, we should implement [DataFrame.divide](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.divide.html). This is equivalent to `df / other_df` (which we already support) with the option to fill in null values with a specified value.

We already support `DataFrame.rtruediv`, which is the reflected version of this operator.

[code]

[2021-11-08 17:07] #3234 closed

[2021-11-08 17:38] beckernick opened #9628 "[FEA] DataFrame swapaxes"
For pandas API compatibility, we can implement [DataFrame.swapaxes](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.swapaxes.html). This appears to either return a transpose (swapping index and column axes) or the original frame. In both cases, the data is copied by default (but can be parameterized to return a view / the original frame instead).

[Series.swapaxes](https://pandas.pyd

[2021-11-08 18:09] galipremsagar commented on #7869
This issue is resolved now:

[code]

[2021-11-08 18:09] #7869 closed

[2021-11-08 18:17] galipremsagar commented on #7850
@isVoid Do you think we can close this issue because of changes in #9522?

[2021-11-08 18:19] beckernick opened #9629 "[FEA] DataFrame and Series truncate"
For pandas API compatibility, we can implement [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.truncate.html) and [DataFrame.truncate](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.truncate.html). Truncate is "a useful shorthand for boolean indexing based on index values above or below certain thresholds."

The DataFrame method can also be used to select columns

[2021-11-08 18:32] galipremsagar commented on #7618
https://github.com/rapidsai/cudf/pull/9180 has already started paying dividends for ORC `struct` support fuzz-testing: https://github.com/rapidsai/cudf/issues/9395

I would like to verify the nested empty types cases that @nvdbaranec pointed out and there is some cleanup to be done hence moving this to `22.02`.

[2021-11-08 19:07] vyasr commented on #7827
@shwina should we introduce Decimal[32/64/128]Index classes? Making this work requires that the index of the groupby result is the decimal column, which is one of the underlying problems (it manifests quite differently now, as opposed to back in the 0.19 release, but same problem).

[2021-11-08 19:17] vyasr commented on #9627
We actually also already support `DataFrame.truediv`, so this should be a trivial alias to add.

[2021-11-08 19:22] #9246 closed

[2021-11-08 20:16] #7488 closed

[2021-11-08 20:30] shwina commented on #7827
Yes - likely we're going to have to go down that route.

[2021-11-08 21:12] #9627 closed

[2021-11-08 21:40] beckernick opened #9634 "[FEA] Series and DataFrame between_time"
For pandas API compatibility, we can implement [Series](https://pandas.pydata.org/docs/reference/api/pandas.Series.between_time.html) and [DataFrame.between_time](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.between_time.html). `between_time` "select[s] values between particular times of the day (e.g., 9:00-9:30 AM). By setting start_time to be later than end_time, you can get the

[2021-11-08 22:05] #9625 closed

[2021-11-08 22:24] isVoid commented on #7850
I think this feature request eventually asks for `args` and `kwargs` support for `rolling.apply`, which was not addressed yet.

[2021-11-08 22:35] beckernick opened #9635 "[FEA] Series autocorr"
For pandas API compatibility, we can implement [Series.autocorr](https://pandas.pydata.org/docs/reference/api/pandas.Series.autocorr.html). `autocorr` calculates the Pearson correlation between the Series and itself lagged by N steps. Conceptually, this is a combination of `shift` and `corr`.

[code]

[2021-11-08 22:45] JohnZed commented on #8161
Confirmed supported now.

[2021-11-08 22:45] #8161 closed

[2021-11-08 22:54] andygrove commented on #9620
I think I could have done a better job explaining this issue. What I am looking for is to have the default cuDF behavior (MULTILINE disabled) match Python's default behavior (also MULTILINE disabled), as described [here](https://docs.python.org/3/library/re.html#re.MULTILINE). The key point is around how '$' behaves when the string ends with `\n`:

By default, `'^'` matches only at the beginning o

[2021-11-09 02:48] andygrove commented on #9619
I think that the best I can do in terms of a workaround is to inspect the input first to see if it does contain `\r` if the regex pattern contains `.` and fall back to the CPU in that case. Replacing `\r` with `\n` could have side effects but it all depends what the regex pattern is.

[2021-11-09 06:26] pxLi commented on #9622
Thanks! libcudf 211105-211107 builds have the issue, newer libcudf like 21.12.00a**211108**/21.12.00a**211109** works fine

close this issue

[2021-11-09 09:02] pxLi commented on #9622
looks like this is all about timing this `g3280be232d_233` failed again

I just failed `mamba create -n cudf-21.12 -c rapidsai-nightly -c nvidia -c conda-forge cudf=21.12 python=3.8 cudatoolkit=11.0` again
[code]

[code]

some packages have incompatible issues here, and since the build continues delivering packages, at some time it could pass, but some did not

[2021-11-09 12:32] chenrui17 commented on #9361
@hyperbolic2346  so , for string type , how we  convert column2row or row2column in gpu? because string type data width is not fixed, please give me some idea. thanks a lot.

[2021-11-09 12:43] galipremsagar commented on #9622
I ran into a similar issue:
[code]

[2021-11-09 12:57] galipremsagar commented on #9622
Note this doesn't happen on 11.2, only happens on 11.0.

[2021-11-09 15:36] davidwendt commented on #9619
Another option is to use `[^\r\n]` instead of `.`
This would match any character but `\r` or `\n`.

[2021-11-09 20:22] brandon-b-miller opened #9639 "[Story] Support string UDFs via Numba"
**Is your feature request related to a problem? Please describe.**
Currently we can't use string columns inside UDFs. This is for a number of reasons. Firstly, there is limited support for strings in general in Numba, which forms the basis of our UDF framework. Secondly even if strings were supported in numba, we would still need to extend numba for it to be able to properly generate kernels that

[2021-11-09 21:09] beckernick opened #9640 "[BUG] groupby.size ignores as_index=False"
Unlike other aggregations, groupby.size appears to ignore the `as_index` argument.

[code]

Environment:
<details>
conda list | grep "rapids"
# packages in environment at /home/nicholasb/conda/envs/rapids-21.12:
cucim                     21.12.00a211108 cuda_11.2_py37_ge521dd4_16    rapidsai-nightly
cudf                      21.12.00a211109 cuda_11.2_py37_g3280be232d_233    rapidsai-nightly
cudf_k

[2021-11-09 22:04] shwina opened #9642 "[BUG] `dtype="boolean"` ignores nulls"
Using `dtype="boolean"` seems to behave  differently from `dtype="bool"` (ignores nulls). These should behave the same since our `"bool"` dtype is nullable by default.

[code]

[2021-11-09 22:05] shwina commented on #9642
xref: https://github.com/dask/dask/pull/8368

[2021-11-09 23:05] #8351 closed

[2021-11-10 01:28] res-life opened #9643 "[FEA] Support rolling_aggregation for NTH_ELEMENT"
Rapid Plugin is supporting first,last function in window context which should use CUDF nth_element.

**Additional context**

Should implements **make_nth_element_aggregation<rolling_aggregation>**

[code]

[2021-11-10 01:46] res-life commented on #9643
Similar with: https://github.com/rapidsai/cudf/issues/7231

[2021-11-10 01:50] res-life commented on #9643
Spark plugin planned this into:  22.02

[2021-11-10 03:46] res-life opened #9644 "[FEA] Help to implement percent_rank in window context"
**Is your feature request related to a problem? Please describe.**
Rapid Plugin is supporting percent_rank in https://github.com/NVIDIA/spark-rapids/issues/4004.
Help to implement.

[2021-11-10 07:24] galipremsagar commented on #5991
Yes, closing this issue.

[2021-11-10 07:24] #5991 closed

[2021-11-10 09:58] galipremsagar opened #9645 "[FEA] Upgrade `cudf` to use `arrow-6.0.0`"
**Is your feature request related to a problem? Please describe.**
Arrow 6.0.0 packages just got released, we should upgrade them in `cudf`, which currently uses `5.0.0`.

[2021-11-10 13:22] chopeen opened #9646 "[BUG] Error "Operation <function make_upper> not supported for dtype object" for text columns"
`applymap` fails for text columns (`dtype('O')`). Why? Is this not supported?

### Code snippet

[code]

### Output

[code]

### Expected behavior

Either text columns should be processed **or** the error should clearly state that text columns are not supported.

### Environment overview
 - Environment location: laptop
 - Method of cuDF install: conda (`rapids-blazing=21.10`)

[2021-11-10 13:38] davidwendt commented on #9646
`applymap` is not supported for strings columns: #3802

[2021-11-10 15:01] #9619 closed

[2021-11-10 15:30] davidwendt commented on #9620
Ok, got it, thanks. This is some wacky, yet documented edge case.

[2021-11-10 15:52] beckernick commented on #9644
@res-life are there specific primitives missing that are necessary for distributed `percent_rank`?

[2021-11-10 15:58] beckernick commented on #9646
Closing as a duplicate of the linked issue.

Please note that this specific example can be executed with `Series.str.upper()`, as `upper` is a supported string method.

[2021-11-10 16:11] jlowe opened #9647 "[BUG] hash_join always computes join size even if size is passed by caller"
**Describe the bug**
`hash_join` will always call `compute_join_output_size` even if the join size is passed by the caller.

**Steps/Code to reproduce bug**
Build the libcudf gtests and take a profile like this:
[code]
Load the profile and zoom into where the size is computed by the test and then passed to the join.  Note in the trace how the `pair_count` kernel is invoked by both `inner_join_size

[2021-11-10 16:24] abellina commented on #9647
@jlowe and myself discussed a fix. I am trying to get stylecheck to pass locally and should have a PR up shortly.

[2021-11-10 16:47] efajardo-nv opened #9648 "[BUG] Different results from `cudf.Series.equals`"
**Describe the bug**
`cudf.Series.equals` is no longer giving same results as `pandas`

**Steps/Code to reproduce bug**
cuDF:
[code]
pandas:
[code]

**Expected behavior**
Same result as pandas

**Environment overview**
 - Environment location: Docker (`gpuci/rapidsai:21.12-cuda11.0-devel-ubuntu18.04-py3.7`)
 - Method of cuDF install: `mamba install cudf=21.12`

**Environment details**
<details><su

[2021-11-10 17:02] jrhemstad commented on #9647
Ah yes, I overlooked that fact that when using `value_or` that argument expression is sequenced before the expressions inside the function. Using a ternary will fix this.

https://godbolt.org/z/1r6d5b8eq

[2021-11-10 17:23] hyperbolic2346 commented on #9361
@chenrui17 Right now we do not support string conversions on GPU. If there is variable-width data, the table will not be converted on the GPU.

[2021-11-10 19:01] ttnghia opened #9650 "[FEA] Add `sliced_child_begin()` and `sliced_child_end()` iterators for `column_view`"
Currently, the `column_view` class offers the accessor `child_begin()` and `child_end()` iterators that allow iterating over the children of a column. However, when we want to access the sliced children column (in many places), we have to do that manually. It would be great if we can cache the sliced children inside the `column_view` class and provide iterators `sliced_child_begin()` and `sliced_c

[2021-11-10 19:10] ttnghia opened #9651 "[FEA] Extend cudf's replace API `normalize_nans_and_zeros` to accept nested types"
Currently, the replace API `normalize_nans_and_zeros` only accepts a non-nested input column that is either FLOAT32 or FLOAT64 type. As a result, when we want to replace `-NaN` or `-0.0` in a child column of a nested column, we have to manually recursively iterate over all the children columns of the given column, check to see whether the current child column is FLOAT32 or FLOAT64 type before call

[2021-11-10 19:44] mayankanand007 opened #9652 "[FEA] Support `series.dt.round` and `DatetimeIndex.round` operation"
**Is your feature request related to a problem? Please describe.**
Support for `ceil` was added in #8942 and `floor` in #9571 for a `Series.dt` column type. #9554 addresses adding support for `ceil` and `floor` for a `DatetimeIndex` column. Once we are able to support `ceil` and `floor` on columns of type `datetime64[ns]`, it would be great to add support for `round` operation as well.

This can e

[2021-11-10 20:38] randerzander opened #9655 "[FEA] Support reading "chunks" of large text files w/ cudf.read_text"
While using cudf's read_text API, I've come across datasets w/ single files that are much larger (200gb+) than any single GPU's memory.

I can parse and split them into smaller pieces on the CPU first, but that is slow and expensive.

Ideally, `read_text` would support parameters like `read_csv`'s `nrows` & `skiprows` parameters so I can either read serially in batches (or parallely with multiple

[2021-11-10 20:52] ttnghia opened #9656 "[FEA] Construct `column_view` from `rmm::device_uvector` and `device_span`"
Sometimes, we need to call some API that only accepts `column_view` input but we only have data stored in `rmm::device_uvector` (which can implicitly casted into `device_span`). As a result, we need to construct a `column_view` from `rmm::device_uvector` manually like this, in many places:
[code]

This is lengthy and error-prone.

A better solution is to add a utility API to do that automatically.

[2021-11-10 20:53] ttnghia commented on #9656
Tag @jrhemstad and @davidwendt as this idea is from you guys and it's great if you can work on it :smile:

[2021-11-10 21:18] jrhemstad commented on #9656
There's no need for a type dispatch here because you already know the type from the `device_span`.

[2021-11-10 22:08] #9648 closed

[2021-11-10 22:20] shwina commented on #8754
Moving this issue to the next release, as it likely requires some non-trivial design changes that we won't be able to do well in time for this release.

[2021-11-10 23:28] #9647 closed

[2021-11-11 00:33] VibhuJawa opened #9657 "[FEA] Byte Pair Encoding Tokenizer"
**Is your feature request related to a problem? Please describe.**

We should add byte pair encoding tokenizer to cuDF.  Like  our `[subword-tokenizer](https://docs.rapids.ai/api/cudf/21.12/api_docs/api/cudf.core.subword_tokenizer.SubwordTokenizer.__call__.html)` adds  a bridge to Bert link models this tokenizer is used by `roberta`, `gpt-2` , `gpt-3` and will give us a bridge to a lot of DL model

[2021-11-11 03:22] #9124 closed

[2021-11-11 15:52] cwharris commented on #9655
I think this is a good understanding of the problem, and a viable solution. It is similar to how we handle CSV parsing today. However, this approach is limited in that each GPU must read from the beginning of the file up through the relevant byte range. Whereas ideally, each GPU only needs to read the relevant byte range.

@randerzander and I discussed breaking the API in to multiple (two) phases

[2021-11-11 16:17] #9546 closed

[2021-11-11 16:25] jlowe opened #9660 "[BUG] CUDA_TRY macro conflicts with other RAPIDS libraries"
**Describe the bug**
While trying to integrate RAPIDS RAFT and cuDF into the same application we ran across a compilation error due to a macro name conflict, e.g.:
[code]

**Steps/Code to reproduce bug**
Try to include raft/cudart_utils.h and cudf/utilities/error.hpp in the same compilation unit

**Expected behavior**
cudf macros do not conflict with definitions from other RAPIDS libraries (ideall

[2021-11-11 16:45] MikeChenfu opened #9661 "Always writing Index column of dask_cudf to ORC [BUG]"
**Describe the bug**
Hi Guys, I found the dask_cudf df always writes index column even if set the `index=False`.

**Steps/Code to reproduce bug**
Here is the sample code.
[code]
**Expected behavior**
[code]

**Environment overview (please complete the following information)**
 - Environment location: [Docker]
 - Method of cuDF install: [conda]

**Environment details**
[code]

[2021-11-11 16:57] beckernick commented on #9661
The `to_orc` API [in Dask](https://docs.dask.org/en/latest/_modules/dask/dataframe/io/orc/core.html) uses the parameter `write_index` rather than `index`. `dfs.to_orc('test1/', write_index=False)` will avoid writing the index.

Closing as answered.

[2021-11-11 16:57] #9661 closed

[2021-11-11 18:12] mayankanand007 opened #9662 "[DOC] Possible incorrect docs for `TimedeltaIndex.round` and `DatetimeIndex.round`"
## Report incorrect documentation

**Location of incorrect documentation**
https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.DatetimeIndex.round.html
https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.TimedeltaIndex.round.html

**Describe the problems or issues found in the documentation**
It seems like the docs for [TimedeltaIndex.round](https://docs.rapids.ai/api/cudf/nightly/api_

[2021-11-11 18:18] vyasr commented on #8895
@brandon-b-miller was this blocking something in Dask-SQL? I see that it's marked for that.

[2021-11-11 18:41] brandon-b-miller commented on #8895
No - dask-sql is not blocked by this. cc @randerzander just to make sure.

[2021-11-11 18:42] vyasr commented on #8895
Assuming it's not a blocker then could you move it to 22.02 once @randerzander confirms?

[2021-11-11 18:49] #9176 closed

[2021-11-11 19:34] davidwendt commented on #9656
Make sure you really need this. If you doing this for calling `cudf::detail::gather` then you can just pass the `device_uvector` directly to https://github.com/rapidsai/cudf/blob/ba2b51dd8f1b1dd0611f90742e0ffb835615cd33/cpp/include/cudf/detail/gather.hpp#L78-L84 which will automatically convert the `device_uvector` to a `device_span`.

Example: https://github.com/rapidsai/cudf/blob/ba2b51dd8f1b1dd

[2021-11-11 19:42] davidwendt commented on #7704
Could use the new [`cudf::strings::format_list_column`](https://github.com/rapidsai/cudf/blob/branch-21.12/cpp/include/cudf/strings/convert/convert_lists.hpp#L57) to build the CSV output for a lists column.

[2021-11-11 20:13] jrhemstad commented on #9656
I think there are plenty of other places where people are constructing a `column` or ` column_view` from a `device_uvector` that make this an important and useful thing.

[2021-11-11 20:19] rjzamora opened #9665 "[BUG] cudf read_parquet is not ignoring pandas metadata for use_pandas_metadata=True"
**Describe the bug**
Although libcudf is ignoring pandas metadata when `use_pandas_metadata=False`, this metadata is still being extracted and then parsed with pyarrow [in python.pyx](https://github.com/rapidsai/cudf/blob/ba2b51dd8f1b1dd0611f90742e0ffb835615cd33/python/cudf/cudf/_lib/parquet.pyx#L178). If `use_pandas_metadata=False` was working properly, downstream libraries (like NVTabular) could

[2021-11-12 00:53] PointKernel commented on #9240
Some updates on this issue: there could be kernel errors as well but firstly, the schema is not properly interpreted when parsing Parquet's Thrift Compact Protocol encoded metadata. More specifically, The converted type returned by [read schema](https://github.com/rapidsai/cudf/blob/branch-21.12/cpp/src/io/parquet/parquet.cpp#L146-L158) should contain `LIST` instead of `INT32` or `UNKNOWN`.

[2021-11-12 01:02] isVoid opened #9667 "[BUG] `sort_index`/`sort_values` should call `_gather` API instead of `take`"
**Describe the bug**
`sort_index` / `sort_values` currently calls `take` which surfaces a deprecation warning that is confusing to user.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Should call `_gather` (internal API) not `take`.

**Environment overview (please complete the following information)**
 - Environment location: [compose]
 - Method of cuDF install: [compose]

**Enviro

[2021-11-12 01:15] vyasr commented on #9667
Yep, this is the correct solution.

[2021-11-12 05:33] rjzamora commented on #9665
Closing since I now understand the issue to be a red herring.

[2021-11-12 05:33] #9665 closed

[2021-11-12 16:09] beckernick commented on #9575
This is probably due to edge cases in our NaN vs null handling.

If you call `df.nans_to_nulls().groupby(['s']).c.mean()`, this will behave as expected.

[2021-11-12 16:25] beckernick commented on #9520
@VibhuJawa would something like this potentially require work in cuDF Python or libcudf?

[2021-11-12 17:02] jrhemstad commented on #7753
I think we should add a macro to wrap this functionality that will also insert an `assert` such that if we ever _do_ hit a region of code that is supposed to be unreachable, we'll have a way of finding that out in a debug build:

[code]

Example: https://godbolt.org/z/Tavr19K9s

[2021-11-12 17:40] jrhemstad commented on #7753
We can provide similar wrappers for `__builtin_assume` and `__builtin_assume_aligned`, but these can be functions instead of macros: https://godbolt.org/z/qYxvKP68b

[2021-11-12 17:41] ttnghia commented on #7753
Is there any standard attribute `[[unreachable]] ` for this purpose? I am reluctant to have vendor-specific attributes.

[2021-11-12 17:45] jrhemstad commented on #7753
No, but it is supported by the compilers we care about (gcc and nvcc).

[2021-11-12 18:47] revans2 opened #9672 "[BUG] row range on window operations can overflow"
**Describe the bug**
The row range counts can overflow and produce incorrect results in window operations.

**Steps/Code to reproduce bug**

When I do a spark query like

[code]

on the GPU I get a result like

[code]

but on the CPU it is all 10s (no nulls).

It gets translated into a `cudf::grouped_rolling_window` with no group by keys a single column with 10 "1"s in it. Preceding and Following

[2021-11-12 19:28] jbrennan333 commented on #9504
@rongou do you have the spark output log for one of these queries?   Would be good to see any exceptions in the log.

[2021-11-12 22:16] randerzander opened #9676 "[FEA] Improve cudf.read_csv empty file error message"
It's embarrassingly common to accidentally produce empty "CSV" files, then for a downstream system to fail on attempting to read them.

If I'm trying to read an empty file with Pandas, I get a helpful error message indicating the problem.

[code]
[code]

When I try to read an empty CSV file from Dask-cudf (or cudf directly), it's not clear if I perhaps OOMed or some other non-input-file-related pr

[2021-11-12 22:39] vuule commented on #6185
@cwharris can we close this one now? :)

[2021-11-12 23:08] #9667 closed

[2021-11-12 23:53] VibhuJawa commented on #9520
This will require `libcudf` work for us to get a clean implementation across parameters.

We can get a  python implementation working but stuff like  `max-length`, `padding` and `stride`  will not work cleanly there without `libcudf` changes.

[2021-11-13 01:54] rongou commented on #9504
Here is one using the latest nightly jars:
[code]

[2021-11-13 03:06] #6255 closed

[2021-11-13 03:06] #8416 closed

[2021-11-15 08:02] wjxiz1992 opened #9683 "[QST] Proper way to do mean centering for fixed-row-length LIST type column"
In machine leaning practice, it's very common to calculate mean value and do mean subtractions for input column data. For example:

The input is a LIST type column data with fixed row-length of 3:
[code]
User wants to do mean centering for it: calculate the mean value for each sub column, in this case, it's always 2. Then do mean subtractions:
[code]

Is their any nice way to do it? Currently I ca

[2021-11-15 08:03] wjxiz1992 commented on #9683
@sperlingxx for visibility.

[2021-11-15 10:50] ahmet-uyar opened #9684 "[BUG] cannot read rarquet file written with partition_cols"
**Describe the bug**
I write a DataFrame to parquet with partition_cols parameter set. When I try to read it back, it can not read it properly.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I should be able to get the dataframe that I have written to the file.

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal]
 - Method of c

[2021-11-15 15:01] quasiben commented on #9684
I think this will be fixed in 21.12.  Can you try with a nightly cudf version ?

[code]

[2021-11-15 15:58] beckernick commented on #9684
Interestingly, I'm not able to reproduce this in the 21.12 nightly on a different commit (49d1cc2864):

[code]
cudf commits:
[code]

Environment:

<details>
conda list
# packages in environment at /home/nicholasb/conda/envs/cudf-21.12:
#
# Name                    Version                   Build  Channel
_libgcc_mutex             0.1                 conda_forge    conda-forge
_openmp_mutex

[2021-11-15 17:17] cwharris commented on #6185
yep!

[2021-11-15 17:20] #6185 closed

[2021-11-15 19:18] ayushdg commented on #9684
I believe `cudf.read_parquet` does not support reading partitioned parquet files at the moment and only supports reading from a single folder containing multiple parquet files within it.
`dask_cudf` on the other hand does support reading partitioned datasets.
In your particular case you could use:
[code]

We should definitely improve the error message to fail in a more informative way in this case

[2021-11-15 20:16] rjzamora commented on #9684
dask_cudf on the other hand does support reading partitioned datasets.

I am pretty sure that @ayushdg is correct about everything here. At this point, it shouldn't be difficult to handle partitioned data in cudf, but the feature hasn't been requested/added yet. I suppose the first step is to modify [this logic](https://github.com/rapidsai/cudf/blob/branch-21.12/python/cudf/cudf/io/parquet.py#L383

[2021-11-15 21:08] mlahir1 opened #9690 "[BUG] to_parquet partition_cols fails to write to GCP buckets"
the following code works:
[code]
but, if i add `partition_cols` parameter to_parquet fails with following error:

[code]
error:
[code]
At first it looks like auth error and config hasn't been set right. if it was an issue with authentication, it should have errored in the case of first `to_parquet` without `partition_cols` too. but the write these is successful.

[2021-11-15 21:14] jlowe commented on #8980
Still would like to see this for regular logical binary ops outside of AST.  Low priority.

[2021-11-15 21:15] jlowe commented on #8003
Still desired, low priority

[2021-11-15 21:15] robertmaynard commented on #8064
This issue still needs to be addressed

[2021-11-15 21:15] jlowe commented on #9055
Still desired

[2021-11-15 21:17] jlowe commented on #8233
Fixed by #8294

[2021-11-15 21:17] #8233 closed

[2021-11-15 21:17] jlowe commented on #9056
Still desired

[2021-11-15 21:19] jlowe commented on #9057
Still desired.

[2021-11-15 21:19] jlowe commented on #9058
Still desired.

[2021-11-15 21:20] jlowe commented on #8227
Still desired, low priority.

[2021-11-15 21:21] jlowe commented on #8316
This has been implemented by https://github.com/rapidsai/ops/issues/1585

[2021-11-15 21:21] #8316 closed

[2021-11-15 21:22] jlowe commented on #9114
Still desired.

[2021-11-15 21:23] jlowe commented on #9115
Still desired

[2021-11-15 21:25] jlowe commented on #9155
Still desired for this to be fixed.  Low priority.

[2021-11-15 21:26] jlowe commented on #8795
Still desired for this to be fixed.

[2021-11-15 21:27] jlowe commented on #9375
Appears to be fixed by moving to the new nvcomp 2.x APIs in #9384

[2021-11-15 21:27] #9375 closed

[2021-11-15 21:29] jlowe commented on #8757
Still desired to see a `cudf::all_of` / `cudf::any_of` or other fix for this issue, as we continue to put workarounds in our code to make sure we check the validity of the reduction result before examining the reduction value.  Low priority.

[2021-11-15 21:32] vyasr commented on #9316
I'm in favor of removing this method. The only caveat I would add is that we should validate that `cudf.merge` behaves identically to `pd.merge` when one of the arguments is a `Series`. I notice that the [`pd.merge` documentation](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.merge.html) says that `left` should be a `DataFrame` while `right` could be a `DataFrame` or a `Series`

[2021-11-15 21:35] #9672 closed

[2021-11-16 01:41] rwlee commented on #9644
From a conversation with Karthikeyan a few weeks ago, there is some existing rank functionality which includes a percent rank option. This should be an expansion on that work with added functionality for nested structs and presorted+pregrouped data.

[2021-11-16 01:50] jrhemstad commented on #9644
@res-life @rwlee can you please provide more specific requirements of what precisely is needed?

[2021-11-16 02:59] hyperbolic2346 commented on #8070
This is still relevant

[2021-11-16 10:19] ahmet-uyar commented on #9684
the fact that to_parquet method supports partitioned writing, and there is no documentation about the lack of support in read_parquet, I never thought that it may have not been supported by read_parquet. In addition, read_parquet method was returning a DataFrame without raising any error.

For us unfortunately, Dask is not an option.

[2021-11-16 11:52] Nyrio commented on #8873
I believe this hasn't been solved yet and shouldn't be marked as inactive.

[2021-11-16 14:38] rjzamora commented on #9684
Yes - I completely agree that the lack of documentation (and general return/error behavior) is clearly a bug. It is my understanding that partitioned write support was orginally added in the form of `write_to_dataset` (to mimic the pyarrow function) at a point when the cudf (and likely pandas) read_parquet API was much less mature. My appologies about this - I should have time to investigate a fix

[2021-11-16 15:10] jlowe opened #9695 "[FEA] Conditional hash join for left semi and left anti joins"
**Is your feature request related to a problem? Please describe.**
Currently the RAPIDS Accelerator for Apache Spark does not accelerate left semi or anti joins that have both an equality and an inequality condition.  Currently the only way to accelerate this is by using a nested loop join with an AST condition, but this often performs far worse than the CPU implementation which first implements a

[2021-11-16 15:20] jlowe opened #9696 "[FEA] Conditional hash join for inner joins"
**Is your feature request related to a problem? Please describe.**
Currently the RAPIDS Accelerator for Apache Spark accelerates a hash-based inner join with an inequality condition as an inner-join on the equality condition followed by a filter with the inequality condition.  This works fine as long as the equality-join is the primary discriminator, but there are some inner joins in applications

[2021-11-16 16:36] #9642 closed

[2021-11-16 18:20] #9177 closed

[2021-11-16 18:42] isVoid commented on #9600
Pandas do support `pd.DateOffset` object besides string, but the argument should be specified in "relativedelta"/singular form. Cudf does not support this argument for `DateOffset` yet.
[code]

[2021-11-16 19:25] revans2 commented on #9000
I think this has been fixed. But it might depend on some of the decimal128 work. I don't see this kind of issue currently.

[2021-11-16 19:28] revans2 commented on #8090
This feels problematic. Why exactly do we want this? We can define equality however we want. Right now it is the same java object pointing to underlying CUDF data. Why is that not good enough?

[2021-11-16 19:30] revans2 commented on #9109
We are exploring doing this a different way, but for now we still want it.

[2021-11-16 19:32] isVoid commented on #9600
Besides, pandas assume ascending order. On a descending ordered indexed series it produces wrong answer.

[code]

[2021-11-16 19:35] revans2 commented on #8522
Not sure if this is still an issue or not, but I would love to have groupby::scan go faster for already sorted data. As this is a use case we commonly have in Spark.

[2021-11-16 19:37] davidwendt commented on #7924
Looks like this has been fixed in 21.10 https://docs.rapids.ai/api/cudf/stable/api_docs/api/cudf.core.column.string.StringMethods.replace.html

[2021-11-16 19:37] #7924 closed

[2021-11-16 19:37] revans2 commented on #8710
Still would like this. We have a work around, but it is not ideal.

[2021-11-16 19:38] PointKernel commented on #8522
Oops, I completely forgot about this issue. Will work on this shortly.

[2021-11-16 19:39] PointKernel commented on #8522
Still desired.

[2021-11-16 20:22] rilango opened #9703 "[BUG] cudaErrorIllegalAddress while computing ranking..."
**Describe the bug**
While attempting to compute rank(cudf.rank), we face the following error

[code]

**Steps/Code to reproduce bug**
Data file is at https://drive.google.com/file/d/1-hIshmdiYd70BhDnfgYk-BSF89JU3HiG/view?usp=sharing

[code]

**Expected behavior**
Return the dataframe with ranks

**Environment overview (please complete the following information)**
 - Environment location: Docker

[2021-11-16 20:25] shwina commented on #9703
Thank you for reportng @rilango -- is there any chance you could share the contents of the `.csv` file directly as plain text? Or if not, some representative data that reproduces the error? This will help make debugging much easier for cuDF developers!

[2021-11-16 21:44] ttnghia opened #9705 "[FEA] Add `CUDF_DEBUG_ASSERT` macro for assert-debugging in Release mode"
Currently, there are not many debug utilities in cudf. When developing new features, we may have to manually debug printing variables to catch bugs and then have to cleanup such printing statements when bugs have been fixed. The next time a bug emerges, we have to repeat the same process. That is very time-consuming and tedious.

An option for debugging is to switch to compile in Debug mode and us

[2021-11-16 22:41] jrhemstad commented on #9705
Sounds to me like reinventing `NDEBUG`. You can build without `-DNDEBUG` and without specifying `-g -G`.

[2021-11-16 22:45] shwina commented on #9703
Thank you @rilango -- two questions:

1. I'm unable to access that file with its default sharing settings: should I ask for permission?
2. Is it alright if I share that data publicly so other developers can help debug as well?

Again, public data is much more preferable here, but I'd understand if the issue is not easily reproducible for a generic dataset.

[2021-11-16 22:49] rilango commented on #9703
@shwina

Sorry. Please try now. It is now shared with public.
https://drive.google.com/file/d/1-hIshmdiYd70BhDnfgYk-BSF89JU3HiG/view?usp=sharing

[2021-11-16 23:02] ttnghia commented on #9705
Yeah, exactly like that. By having our own macro, we can control what and where it is doing. Otherwise, we can't choose to disable `assert` in the std functions and enable it for only our functions.

[2021-11-16 23:07] jrhemstad commented on #9705
I don't really love the idea of adding yet another macro. I'd rather just use the existing semantics and mechanics of `assert` and `NDEBUG`.

[2021-11-16 23:22] #9597 closed

[2021-11-16 23:22] #9565 closed

[2021-11-17 00:52] VibhuJawa commented on #9555
I agree with the principle that sticking everything in `StringMethods`  seems to decease discoverability  but I would be vary of moving it to a different repo as that will likely mean that a user will have to install another dependency and that will hamper with user experience and adoption .

I think a middle path might be to not put functions that we don't think belong to `StringMethods` accessor

[2021-11-17 01:15] jrhemstad opened #9711 "[BUG] Remove std::numeric_limit specializations for timestamp/durations"
**Describe the bug**

We current inject specializations of `std::numeric_limits` for [`timestamps`](https://github.com/rapidsai/cudf/blob/60380def2363a4bb5ab6b6059a1b0969c45ae2f6/cpp/include/cudf/wrappers/timestamps.hpp#L82-L107) and [`durations` ](https://github.com/rapidsai/cudf/blob/60380def2363a4bb5ab6b6059a1b0969c45ae2f6/cpp/include/cudf/wrappers/durations.hpp#L72-L97).

We should [not do thi

[2021-11-17 02:03] #7102 closed

[2021-11-17 06:31] Atharex opened #9713 "[BUG] Remote code execution vulnerability in < 2021.10.0 dask pip package"
The github advisory deems it critical with a CVSS score of 9.8

https://github.com/advisories/GHSA-j8fq-86c5-5v2r

[2021-11-17 12:40] ayushdg commented on #9690
Thanks for reporting. Looks like the `storage_options` kwarg doesn't get propagated in the codepath taken for writing partitioned parquet datasets [here](https://github.com/rapidsai/cudf/blob/c1f20c7be6bc7cab8af1fb20032f05c186d41cfe/python/cudf/cudf/utils/ioutils.py#L1512). Should be a small fix

[2021-11-17 16:06] beckernick commented on #9713
This is likely the wrong repository for this report, as cuDF does not distribute Dask pip packages. I recommend filing this issue on https://github.com/dask/dask/

[2021-11-17 16:38] beckernick commented on #9713
Thanks for the reminder. We'll keep this open until an appropriate path forward is identified, and share it in this issue.

[2021-11-17 18:48] kkraus14 opened #9718 "[BUG] Failing to run cmake configure in a Conda environment with `-DBUILD_SHARED_LIBS=OFF`"
**Describe the bug**

I'm trying to build libcudf in my local conda development environment with `-DBUILD_SHARED_LIBS=OFF` and it fails from not having `conda_env` in any export set.

Log:
[code]

I'm using the Conda host compilers without the conda `nvcc` shim package with cmake 3.21.3.

[2021-11-17 20:23] mlahir1 commented on #9690
Thanks Ayush.

[2021-11-17 22:51] MordicusEtCubitus opened #9719 "[BUG]dask_cudf: read_csv seems to compute only first partition"
Dears,
Thanks for creating cudf and all dask work around that make it so great !

I'm trying to read a 8Go CSV file and doing a few computation using dask cudf and LocalCudaCluster
But I'm getting strange results, it seems that only first partition is used for computation
The file I'm reading can be downloaded from here:
http://data.cquest.org/geo_sirene/last/etablissements_actifs.csv.gz

Then, he

[2021-11-17 22:54] shwina commented on #9555
Thanks, @VibhuJawa - that's a good point. I'd say that's a reasonable approach also.

[2021-11-17 23:09] MordicusEtCubitus commented on #9719
Indeed, when playing with partitions, it appears that after partition 1, all records have an issue in columns content:

[code]
<div class="cell code_cell rendered selected" tabindex="2"><div class="output_wrapper"><div class="output"><div class="output_area"><div class="output_subarea output_html rendered_html output_result" dir="auto"><div>

l1_normalisee | latitude | longitude | geo_adresse
-- |

[2021-11-18 06:09] vuule commented on #9319
@firestarman did I answer your question, can we close the issue?

[2021-11-18 06:47] nvliyuan commented on #9695
Maybe TPC-H Q21 is a demo for LeftAnti join, I get the following unsupported log while running the benchmark:
`!Exec <SortMergeJoinExec> cannot run on GPU because LeftAnti joins currently do not support conditions`

[2021-11-18 14:22] rjzamora commented on #9684
@ahmet-uyar - Thanks again for reporting this! Hopefully #9720 resolves the issue. Please feel free to give feedback

[2021-11-18 16:45] revans2 commented on #9644
The databircks/microsoft documentation describes it fairly well.

https://docs.microsoft.com/en-us/azure/databricks/spark/latest/spark-sql/language-manual/functions/percent_rank#returns

So we could just rewrite the query ourselves, but pandas supports this as a `rank(pct = True)` operation, so I thought there would be some common ground that would let us optimize it more in cudf.  If that is not

[2021-11-18 22:13] jakirkham opened #9726 "[FEA] `pack`/`unpack` functions to merge/split (multiple) `device_buffer`(s)"
**Is your feature request related to a problem? Please describe.**

It would be useful to have a `pack` function to merge multiple `device_buffer`s into a single `device_buffer`. This is helpful in situations where having one large `device_buffer` to read from is more performant. However it ultimately consists of many smaller data segments that would need to be merged together. Example use cases i

[2021-11-18 23:11] jrhemstad commented on #9726
https://github.com/NVIDIA/cub/pull/359 would be the right way to do this now.

[2021-11-19 00:29] #9620 closed

[2021-11-19 00:47] VibhuJawa commented on #9657
We will probably need a libcudf  implementation of the following function BPE function .  (See HF [reference](https://github.com/huggingface/transformers/blob/b24ead87e1be6bce17e4ec5c953b6d028e4b3af7/src/transformers/models/gpt2/tokenization_gpt2.py#L202-L242) implementation)  .

Here given the rank of each bigram we combine the most occuring bigram based on the rank provided in merges file.  Once

[2021-11-19 00:47] VibhuJawa commented on #9657
CC: @davidwendt  for aware-ness.

[2021-11-19 02:44] pxLi commented on #9622
not seeing this for several days, close it

[2021-11-19 02:44] #9622 closed

[2021-11-19 04:25] ttnghia opened #9729 "[FEA] Add a license-check into CI tests to verify license header"
I have observed many times that in a new PR, devs sometimes forget to modify the copyright year in the license header. Many times, the reviewers realized that and pointed that out. However, there is not any guarantee that the forgotten headers are always discovered. For reviewers, manually checking for license header is kind of tedious and time-consuming, especially in a large PR with many modifie

[2021-11-19 08:51] chenrui17 opened #9731 "[QST]why is the `cudf::io::gpuinflate` performance so poor ?"
**What is your question?**
I use `cudf::io::gpuinflate` API to inflate a gzip txt file, and it cost about 10s, and gpu util is 100%, and sm_act is ~0.01, based nsight system analysis, about all of the time is the `inflate_kernel`
![image](https://user-images.githubusercontent.com/33319780/142593319-3a66fe4b-84ff-423e-8fba-dd1deb30ac18.png)
so , my question is why is the performance is so poor ? be

[2021-11-19 18:59] henryiii commented on #6979
Please see https://iscinumpy.gitlab.io/post/scikit-build-proposal/ - would cuDF developers be interested in being listed in that proposal? I could help with the move as part of that work.

[2021-11-19 19:54] beckernick commented on #9719
Do you see similar behavior if you read the file with `cudf.read_csv`? Or only if you use `dask_cudf.read_csv`?

[2021-11-19 20:02] vyasr commented on #6979
@henryiii I'm absolutely interested in this. I've integrated scikit-build into [another project that I maintain before](https://github.com/glotzerlab/freud) and uncovered some of the issues that were previously blockers for adoption in cudf. @kkraus14 was certainly interested in scikit-build at the time and aware of some of those blockers. @quasiben @shwina would you be interested in our pursuing

[2021-11-19 20:08] jrhemstad commented on #6256
@shwina would this be relevant for using the object-based join from libcudf?

[2021-11-19 20:08] jrhemstad commented on #5867
I'm going to mark this as closed as the question of equal vs equivalent has been answered.

[2021-11-19 20:08] #5867 closed

[2021-11-19 20:11] jrhemstad commented on #4142
This function exists: https://github.com/rapidsai/cudf/blob/7b9ea2b480ba723e5fc70e17c42a0a93123fef80/cpp/include/cudf/transform.hpp#L175-L200

[2021-11-19 20:11] #4142 closed

[2021-11-19 20:22] shwina commented on #6256
Yes, I think it absolutely would.

[2021-11-19 21:00] shwina commented on #6979
@henryiii Absolutely we would be interested! @vyasr thanks for offering to take point on this :-)

[2021-11-19 21:47] kkraus14 commented on #6979
I never attempted to build cudf with scikit-build, but I did attempt to build RMM. The PR eventually stalled here: https://github.com/rapidsai/rmm/pull/637.

IIRC the main blocker was not being able to ship docstrings in a release build of the Cython which has since been fixed, but more generally that the lever of effort and time it took to get a relatively small fix merged into scikit-build that

[2021-11-19 21:49] MordicusEtCubitus commented on #9719
I cannot check with cudf only as my GPU has 8Go of ram only and data does not fit into this memory

But with an older version of the file the result is good, so it may be a file issue ; but this file provides good results with dask.dataframe

So I still in doubt.

[2021-11-19 21:55] henryiii commented on #6979
If the proposal was accepted, I should be able to work on the project, rather than just squeezing in small amounts of time in between all my other projects (scikit-hep, pybind11, cibuildwheel, build, etc). We'd also have some paid time from KitWare too.

Renovating it with better testing, avoiding distutils internals, etc. would hopefully smooth things out going forward, as well, after the three y

[2021-11-19 22:23] vyasr commented on #6979
@kkraus14 I agree, I've had the same concerns about adopting scikit-build after watching that PR stall (big shoutout to @bdice for following up on that while I was swamped with thesis work, he took my Slack messages and converted them into a workable issue/PR and followed up for a whole year!). I think what @henryiii is proposing for now is very low investment, basically just our expressing intere

[2021-11-19 22:53] kkraus14 commented on #6979
Sounds good to me. I've also sent the scikit-build proposal to some of my colleagues who help to maintain PyArrow to see if there's interest on that front as well.

[2021-11-20 01:55] anamariaUIC opened #9743 "ModuleNotFoundError: No module named 'cudf'"
**What is your question?**
Hello,

I installed this library via:
anamaria@login-2[SABER]: ~ $ module load Python/3.7.4-GCCcore-8.3.0
anamaria@login-2[SABER]: ~ $ module load CUDA/11.1.1-GCC-10.2.0

anamaria@login-2[SABER]: ~ $ conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=21.08 python=3.7 cudatoolkit=11.1

Installation finished and I got message:
Your installed version is: 2.17

[2021-11-20 20:44] kkraus14 commented on #6979
cc @pitrou who expressed some interest from the PyArrow side

[2021-11-20 21:57] henryiii commented on #6979
Just to reiterate. basically what @vyasr has already said, mostly for @pitrou's sake:

I'm preparing a proposal that will enable scikit-build's development (which is currently minimal due to lack of funding) to move dramatically forward over the next three years. I am working on a set of science drivers that cover current libraries that are interested in adopting this (if it is successful, obvious

[2021-11-21 16:11] pitrou commented on #6979
@henryiii Thanks. It's not obvious to me who the proposal is aimed at. Are you looking for funding and/or institutional support?

Regardless, here is a quick summary about PyArrow:
* [Apache Arrow](https://arrow.apache.org/) is a platform- and runtime-agnostic in-memory format for columnar data analytics; it has implementations in C++, Rust, Java, Python, R, C#, Javascript... and is getting tracti

[2021-11-22 04:15] HaoYang670 opened #9745 "what should stringConcatenateListElements return when list only contains nulls?"
I am using the method `stringConcatenateListElements(Scalar separator,
      Scalar narep, boolean separateNulls, boolean emptyStringOutputIfEmptyList)` in Spark-Rapids to cast Array typed dataframe to string type. I find that when the input is `Array(null, null. null)`, the output is always an empty string. (I set `narep="null"`, `seperateNulls`=true). However, what the expected is `"null, null,

[2021-11-22 04:57] sperlingxx commented on #9745
Hi @ttnghia, would you take a look when you have time?

[2021-11-22 05:00] ttnghia commented on #9745
Yes, the result is correct. It's the desired behavior of Spark. When the input is all nulls, Spark will output null.

[2021-11-22 05:01] ttnghia commented on #9745
You will find that behavior almost everywhere: nulls in => null out :smiley:

[2021-11-22 05:10] ttnghia commented on #9745
FYI: Here is the cudf doc for the case of all nulls in a list:
[code]

[2021-11-22 05:44] HaoYang670 commented on #9745
![image](https://user-images.githubusercontent.com/59198230/142806834-c337755d-c129-484b-bba1-1066626b36f2.png)
This is the result I get from Spark. When the input is `Array(null, null)`, the output is `"[null, null]"`, instead of `null`.

[2021-11-22 05:48] ttnghia commented on #9745
That's interesting. @revans2 should know more about this, so can you comment on this please? If necessary then we can change that in cudf implementation.

[2021-11-22 05:49] HaoYang670 commented on #9745
![image](https://user-images.githubusercontent.com/59198230/142807512-e540e9bf-020d-4274-9264-9f9065a8d68c.png)

[2021-11-22 05:50] HaoYang670 commented on #9745
This is the result I get using Spark 3.2.0. When casting to string, `Array(null, null)` is casted to `"[null, null]"`

[2021-11-22 07:28] ahmet-uyar commented on #9684
thank you for the quick fix @rjzamora

[2021-11-22 11:54] krlng commented on #5755
Still would be great to just pass the kwargs!

[2021-11-22 13:40] anamariaUIC opened #9747 "[BUG]"
**Describe the bug**
A clear and concise description of what the bug is.

Hello,

I installed this library via:
anamaria@login-2[SABER]: ~ $ module load Python/3.7.4-GCCcore-8.3.0
anamaria@login-2[SABER]: ~ $ module load CUDA/11.1.1-GCC-10.2.0

anamaria@login-2[SABER]: ~ $ conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=21.08 python=3.7 cudatoolkit=11.1

Installation finished and

[2021-11-22 14:19] davidwendt commented on #9747
This looks identical to #9743
@anamariaUIC  did you mean to open a different issue?

[2021-11-22 14:21] anamariaUIC commented on #9747
@davidwendt Hi David, I didn't know if I posted my issue under the right queue (since it hasn't be assigned to anyone) so I posted it here. The issue is the same.

[2021-11-22 14:23] beckernick commented on #9743
@anamariaUIC is your computing system and environment set up to use `conda install` without creating an environment?

[2021-11-22 14:24] beckernick commented on #9747
Let's consolidate discussion in #9743 for clarity. Closing this issue.

[2021-11-22 14:24] #9747 closed

[2021-11-22 14:34] anamariaUIC commented on #9743
@beckernick I am not sure (it's a remote machine) but I will try to install it in env. In the meantime can you please tell me if all these versions of programs are compatible with each other?

module load Python/3.7.4-GCCcore-8.3.0
module load CUDA/11.1.1-GCC-10.2.0

conda install -c rapidsai -c nvidia -c numba -c conda-forge cudf=21.08 python=3.7 cudatoolkit=11.1

[2021-11-22 14:39] quasiben commented on #9743
21.08 doesn't have a cudatoolkit 11.1 builds. We only have 11.0 and 11.2 CUDA versions for 21.08.  In the soon to be released 21.12 we will have [CUDA Enhanced Compatibility](https://docs.nvidia.com/deploy/cuda-compatibility/) with 11.1 support.  You can test with the rapidsai nightly channel:

[2021-11-22 14:44] anamariaUIC commented on #9743
@quasiben sounds good I will test it with:
conda create -n rapids-21.12-11.1 -c rapidsai-nightly -c nvidia -c conda-forge cudf=21.12 cudatoolkit=11.1

Can I keep these two libraries for that installation?

module load Python/3.7.4-GCCcore-8.3.0
module load CUDA/11.1.1-GCC-10.2.0

On this system I only have these two CUDA versions installed:

CUDA/9.2.88-GCC-7.3.0-2.30
CUDA/11.1.1-GCC-10.2.0

[2021-11-22 14:56] beckernick commented on #5755
@krlng are you specifically looking to apply a function per group, specifically use `dataframe.apply(func)` with kwargs, or more broadly pass arguments to functions used with `dataframe.apply`?

As of the 21.12 nightly, you can now do this in both cuDF and dask cuDF:

[code]

[2021-11-22 16:34] beckernick commented on #7850
@usertoroot , could you share an example of the kind of function you're trying to run with rolling window apply?

[2021-11-22 17:17] beckernick commented on #9427
@taureandyernv does this issue still present on WSL with 21.12 nightlies? Cross-posting from https://stackoverflow.com/questions/70049128/why-do-i-get-a-cuda-memory-error-when-using-rapids-in-wsl

[2021-11-22 17:28] quasiben commented on #8838
I think we can close this.  We also have moved to having GDS on by default:
https://github.com/rapidsai/cudf/pull/9722

[2021-11-22 17:28] #8838 closed

[2021-11-22 18:32] krlng commented on #5755
So if your example works also for the row `df.apply(func, args=(10,))` commented out, than that would solve my use case I think. Funny coincidence

[2021-11-22 18:41] revans2 commented on #9745
Sorry @ttnghia

I opened #7727 in March and it was close din April, so I am having some trouble remembering all of the details from 7 months ago.  Also all of the places we currently use this API have all of the parameters set to false, so there could be some oddness happening there too.

[2021-11-22 18:51] beckernick commented on #5755
You'll need to pass `axis=1` for Dask to operate row-wise. (cuDF's dataframe.apply currently assumes and only supports `axis=1`, so passing it explicitly is not necessary)

[2021-11-22 19:05] anamariaUIC commented on #9743
@quasiben This is what I tried:
module load Python/3.7.4-GCCcore-8.3.0
module load CUDA/11.1.1-GCC-10.2.0

conda create --name rapids

conda activate rapids

conda create -n rapids-21.12-11.1 -c rapidsai-nightly -c nvidia -c conda-forge cudf=21.12 cudatoolkit=11.1

#installation finished, no errors reported

(rapids) anamaria@login-2[SABER]: ~ $ conda activate rapids-21.12-11.1
(rapids-21.12-11.1)

[2021-11-22 20:27] ttnghia commented on #9745
I just realize that the example above is casting from struct to string, not concat strings. Did you try concat strings?
[code]

The behavior for all-nulls input was requested to match with Python output. We can further modify the cudf API if we must support non-null non-empty output for such cases.

[2021-11-22 20:34] Niharikadutta opened #9752 "[BUG] Failing cudf v21.10 installation through conda"
**Describe the bug**
While trying to add `cudf=21.10` and `cudatoolkit=11.2` to an existing environment yaml file and creating an environment from that, it fails with the following system conflict error:

[code]
I'm not sure why it complains about glibc since version installed (2.31) satisfies the condition of `>=2.17`. Is there any guideline to installing cudf through conda on an existing environ

[2021-11-22 20:41] taureandyernv commented on #9427
I will test with 21.12 nightlies, but I believe that it would.  I'm responding this Stack Overflow question to roll back to 21.08.  @JohnZed and @aravenel drew a line in the sand and said that, for now, Pascal is not a supported architecture for  RAPIDS on WSL2.

[2021-11-22 20:43] taureandyernv commented on #9427
Actually we can close this:

**Latest RAPIDS on WSL2 currently will not work on Pascal GPUs.  You need to roll back to 21.08 and YMMV.**

I'll make a feature request to continue the discussions

[2021-11-22 20:47] taureandyernv opened #9753 "[FEA] Let Pascal GPUs run latest RAPIDS on WSL2"
**Is your feature request related to a problem? Please describe.**
Currently, Pascal processes cannot run RAPIDS on WSL2.  They emit CUDA Memory errors, such as  #9427 .  Later architectures are not affected by this issue.

**Describe the solution you'd like**
I can run RAPIDS on WSL2 with a Pascal GPU (like the one on my laptop)

**Describe alternatives you've considered**

- Running another GPU

[2021-11-22 20:47] #9427 closed

[2021-11-23 01:31] harrism commented on #9729
I believe cuML has this.

[2021-11-23 02:17] HaoYang670 commented on #9745
[code]
I review https://github.com/rapidsai/cudf/issues/4728 and find the difference between `concat` and `concat_ws` on dealing with "all nulls list" (`df2` and `df3`). The behavior of `concatenate_list_elements` in cudf is more similar with `concat_ws`.
However, in Spark, `cast(StringType )` deals with `null` in the same way as `concat` (transfer each `null` to "null" in the list).
Could add an

[2021-11-23 07:26] krlng commented on #5755
Ah, did not read careful enough. My use case is actually `df.groupby("group_id").apply(my_fun, param1=1, param2=2)`. Will this be available with the new nightly release as well?

[2021-11-23 08:35] mixcheck opened #9757 "[QST] Can I Skip CMake FetchContent_Declare for rapids-cmake?"
**What is your question?**
I am using an internal network, so git clone is not possible...

Even if I download the zip file and try to install it, I can't get past the FetchContent part.

The blocked process is as follows.

-- in RAPIDS.cmake files
set(rapids-cmake-version 22.02)
include(FetchContent)
**FetchContent_Declare(
  rapids-cmake
  GIT_REPOSITORY https://github.com/rapidsai/rapids-cmake.

[2021-11-23 10:39] sperlingxx opened #9758 "[BUG] First reduction produces incorrect result type for inputs of list_type"
**Describe the bug**
The column view of return scalar is in list_type rather than the child type of the input list_type. It is because in `make_empty_scalar_like` we create list scalar with the list column instead of its child.

[2021-11-23 15:37] galipremsagar commented on #9752
@Niharikadutta Is it possible to share the `yml` file to see the combination of packages you are trying to install?

[2021-11-23 16:17] jrhemstad commented on #9745
@ttnghia before proceeding with anything along these lines, can someone please summarize what libcudf operation we are talking about and the missing behavior? I've seen both casting and concatenating discussed and those seem like very different operations, so I'm not clear what behavior we are discussing.

[2021-11-23 16:21] anamariaUIC commented on #9743
@quasiben @beckernick

Can you please tell me what is going on here? I installed it with recommended CUDA 11.0 version, but cudf can't be found, please find bellow all steps. Installetion was performed on a GPU node.

anamaria@gpu-2-0.saber:~ $ conda activate rapids
(rapids) anamaria@gpu-2-0.saber:~ $ module load CUDA/11.0.2-GCC-9.3.0
(rapids) anamaria@gpu-2-0.saber:~ $ module load Python/3.8.2-GC

[2021-11-23 16:22] ttnghia commented on #9745
The behavior we're talking here is directly related to the API `join_list_elements` (formerly knew as `concatenate_list_elements`) (https://github.com/rapidsai/cudf/blob/31f92d70bdf5b80434d24b6883e45496dbe85042/cpp/include/cudf/strings/combine.hpp#L258).

Previously, in order to match with Spark and Python behaviors, it was designed with a parameter to specify what the output will be in case of al

[2021-11-23 16:25] ttnghia commented on #9745
We're talking about casting struct to string (in Spark). That can be done by casting each child into a string then concatenating these string results.

[2021-11-23 16:25] mayankanand007 opened #9761 "[BUG] Issue in the documentation page display using pydata sphinx theme"
**Describe the bug**
There seems to be an issue in the pydata sphinx theme that we use for the `cuDF` docs where when you scroll all the way down, text seems to get overwritten. [bottom left in the image below]

![cudf_docs](https://user-images.githubusercontent.com/36782063/143062968-58b745d2-b87c-431f-b2fa-ec1a6935a3a2.JPG)

**Steps/Code to reproduce bug**
Its there on all pages for me, eg: http

[2021-11-23 16:37] beckernick commented on #5755
cuDF's `groupby.apply` interface does not currently support passing arguments. The more efficient `groupby.apply_grouped` interface supports this, but is not as flexible. You can learn more at https://docs.rapids.ai/api/cudf/nightly/user_guide/guide-to-udfs.html

Separately, `groupby.apply` with dask-cudf now fails differently than earlier in the issue.

[code]

<details>
onda list
# packages in e

[2021-11-23 16:39] beckernick commented on #9743
Are you able to use other GPU libraries in this conda environment, such as CuPy (or PyTorch if you install that)?

[2021-11-23 16:50] anamariaUIC commented on #9743
@beckernick In the same ENV I tried this. Please let me know what I am doing wrong?

(rapids) anamaria@gpu-2-0.saber:~ $ pip install cupy-cuda110
Defaulting to user installation because normal site-packages is not writeable
Collecting cupy-cuda110
  Downloading cupy_cuda110-9.6.0-cp38-cp38-manylinux1_x86_64.whl (78.5 MB)
     |████████████████████████████████| 78.5 MB 17.5 MB/s
Collecting fastrloc

[2021-11-23 16:59] jrhemstad commented on #9745
I strongly dislike that idea. This API is already a nightmare of option flags with a complex cross product of behavior depending on the values of the various parameters. This API is trying to do too many things.

For example, why is the `separators` column allowed to contain null elements necessitating a `separator_narep` to use in place of nulls in `separators`. This could be done much cleaner by

[2021-11-23 17:02] ttnghia commented on #9745
I'm a bit confused why the casting op from struct to string can't produce the desired result (like `"[null, null, null]"`). If the struct members are casting into string first, you (@HaoYang670 ) should get a list of strings like `["null", "null", "null"]`. Concatenate these strings then should produce the correct result.

[2021-11-23 19:33] tgravescs opened #9764 "[BUG] Regex \n at end of string change in issue 9620 broken string to timestamp behavior"
**Describe the bug**
The code change in https://github.com/rapidsai/cudf/issues/9620 unfortunately affected the behavior for Spark converting string to timestamp.

The previous behavior when a newline was at the end of the string and format was "yyyy-MM-dd", is it would return null and now it actually returns the value with the newline dropped.  Spark CPU side is returning a null so the previous b

[2021-11-23 19:35] tgravescs commented on #9764
@davidwendt @andygrove since they were involved previously.

[2021-11-23 19:41] Niharikadutta commented on #9752
Thanks @galipremsagar for looking into this.
Here is the `yml` file I'm I've added the following 2 packages to (removing them the environment builds successfully):

`cudf=21.10`
`cudatoolkit=11.2`

Resultant `yml` file:
[code]

[2021-11-23 21:23] davidwendt commented on #9764
I'd prefer to revert the change in libcudf.
Doing some more research, I found this edge case does not appear in the C++ std::regex:
[code]
 or in boost regex:
[code]
Both these print `false`.
I'd rather libcudf be aligned with these libraries than with Python.

I also tried it in Java:
[code]
This prints `false` as well.

[2021-11-23 21:29] galipremsagar commented on #9752
Thanks for the `yml` file @Niharikadutta. The issue is because you have conflicting version requirements for `pyarrow`, the yml file requires `pyarrow=3.0.0` but `cudf=21.10` requires `pyarrow=5.0.0` to be present. So a solution to fix this is to comment out the `pyarrow=3.0.0` and it should create you an environment. But there is an additional issue with the pip packages you are installing in thi

[2021-11-23 22:05] bryevdv commented on #8639
Still needs to be addressed, AFAIK.

[2021-11-23 22:37] shwina commented on #8639
Is it not possible for C++ to also zero copy similarly where applicable? The reason we moved to the C++ impl was to avoid duplicates logic between C++ and Python.

[2021-11-24 01:18] vuule opened #9769 "[FEA] Cover decimal types in C++ cuIO benchmarks"

[2021-11-24 01:34] HaoYang670 commented on #9745
[code]
Currently, I am developing the function of casting ArrayType column to StringType Column (https://github.com/NVIDIA/spark-rapids/issues/4028). Firstly, I cast all elements in array to string type. Secondly, I use the function https://github.com/rapidsai/cudf/blob/49d1cc28648fe676dbddcf27c01939f87122ed8e/java/src/main/java/ai/rapids/cudf/ColumnView.java#L2449 to concatenate all elements in o

[2021-11-24 01:40] HaoYang670 commented on #9745
[code]
This is the result when I run the same code on Spark. You can see the difference between Spark and Spark-rapids when casting `df0` to string type.

[2021-11-24 01:46] ttnghia commented on #9745
A null element will result in a null after casting. You can then use `GpuCoalesce` to replace null by string literal "null".

[2021-11-24 02:08] HaoYang670 commented on #9745
Thank you, I will try it

[2021-11-24 06:05] codereport commented on #9000
This hasn't "fixed" per se. As @harrism mentioned above, the issue is just that the `int32_t` is not large enough to store the `int64_t` value being casted from. The way `cudf::cast` works for `decimal` types with different underlying storage that it first does a cast from `intXX_t` to `intYY_t` and then does the rescaling. Technically, when YY < XX we could to the rescaling first and that could a

[2021-11-24 06:13] HaoYang670 commented on #9745
I currently use GpuNvl to cast all `null`s to string before calling `stringConcatenateListElements`, so that it does not depend on `cudf` to process all nulls list. Thank you very much @ttnghia @jrhemstad @revans2  @sperlingxx

[2021-11-24 06:13] #9745 closed

[2021-11-24 10:36] ahmet-uyar opened #9771 "[DOC] broken links in "see also" sections of python io functions"
## Report incorrect documentation

**Location of incorrect documentation**
See Also section:
cudf.io.csv.to_csv
https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.read_csv.html

See Also section:
cudf.io.parquet.read_parquet_metadata
cudf.io.parquet.to_parquet
https://docs.rapids.ai/api/cudf/nightly/api_docs/api/cudf.read_parquet.html

See Also section:
cudf.io.parquet.read_parquet
https://

[2021-11-24 12:19] shwina commented on #9703
FYI, I am able to narrow down the repro to:

[code]

[2021-11-24 12:48] shwina commented on #9703
cc: @karthikeyann @davidwendt

[2021-11-24 14:54] beckernick commented on #9771
Looks like these fell through the cracks. Thanks for pointing these out @ahmet-uyar

[2021-11-24 16:41] jbrennan333 commented on #9504
I have been able to reliably reproduce this running q64 on my local machine with a 100GB dataset by setting `spark.rapids.memory.gpu.allocFraction=0.40`
My GPU is an RTX A4000 with 16GB memory.

This is the relevant portion of the log:

[code]

[2021-11-24 17:30] galipremsagar commented on #9752
Closing this issue as it is resolved from a `cudf` standpoint.

[2021-11-24 17:30] #9752 closed

[2021-11-24 17:50] karthikeyann commented on #9703
repro without csv.
[code]

[2021-11-24 19:12] vuule commented on #9430
@devavret can we close this one? I think you merged a PR that addresses this.

[2021-11-24 19:20] devavret commented on #9430
I don't recall.

To "fix" this, we might need to rename the `bytes_written` member to `bytes_committed` or something similar. And we should also change the code in parquet test to somehow update the `bytes_committed` before returning.

[2021-11-24 21:40] jbrennan333 commented on #9504
I added some additional debug logging.  Two runs failed at the same place:

[code]

[2021-11-24 21:53] jlowe commented on #9519
Still desired, low priority

[2021-11-25 00:32] codereport commented on #9468
Closing as https://github.com/rapidsai/cudf/pull/9472 has been merged.

[2021-11-25 00:32] #9468 closed

[2021-11-25 18:18] karthikeyann commented on #9703
memcheck yield error when size is 1538   (close to ~1024+512)
`df = cudf.DataFrame({'0': range(0, 1538)})`

It is share memory write out of bounds error in `reduce_by_key`
[code]

[2021-11-25 20:29] karthikeyann commented on #9703
This issue will be fixed by PR #9778

[2021-11-25 20:49] karthikeyann commented on #9703
Cause of this issue is that return type is automatically assumed `int` by nvcc if it can't deduce type of `__device__` lambda.
adding trailing-return-type to the `__device__` lambda  doesn't work either.
workaround/fix is to add `__host__`, and remove `auto` from arguments to allow deduction of return type.

[2021-11-25 21:23] MordicusEtCubitus commented on #9719
I've rent a GPU with enought memory and yes, it works fine with the same file and using directly cudf.read_csv in place of dask_cudf.read_csv

So apparently it is a dask_cudf issue.

Thanks in advance for helping

[2021-11-26 08:11] EdisonZiXing opened #9779 "[QST] 'LIBCUDF_CUFILE_POLICY'='ALWAYS' Except Error"
Hello,everyone:
I wanna optimize the IO speed so I trying to use this code in python

**os.environ['LIBCUDF_CUFILE_POLICY'] = 'ALWAYS'**

But when I run with cudf.read_parquet(),such error excepted:

**RuntimeError: cuDF failure at: ../src/io/utilities/file_io_utilities.cpp:154: cuDF failure at: ../src/io/utilities/file_io_utilities.cpp:129: could not find cuFile cuFileDriverOpen symbol**

So coul

[2021-11-26 08:21] EdisonZiXing opened #9780 "[QST] cuDF Memorycpy Problems"
**What is your question?**
Hello every master,here is another for the cuDF:
Recently ,I've been using and reading the codes of cuDF.
The function **from_arrow()** is a wonderful work
In the from_arrow.cu I saw that **return detail::from_arrow(input_table, rmm::cuda_stream_default, mr);**
So I wonder if the cuDF doing the Memcpy with only one stream as rmm::cuda_stream_default Or rmm::cuda_stream_d

[2021-11-26 11:06] sperlingxx opened #9781 "[BUG] ORC writer doesn't align column meta with column for Map type"
**Describe the bug**
Currently, when building orc_table_view, ORC writer doesn't arrange correct column_metadata for columns of `TypeKind::MAP`: [code link](https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/src/io/orc/writer_impl.cu#L1506).
If I am not wrong, in terms of column meta, we also need to unwrap the list layer before unwrapping the struct of map key and map value. Just like what Pa

[2021-11-26 11:51] sperlingxx opened #9783 "[BUG] ORC writing failed when table is empty"
**Describe the bug**
When writing an empty table, whose number of rows is 0, via cuDF ORC writer, it will throw a CUDA exception: `for_each: failed to synchronize: cudaErrorInvalidConfiguration: invalid configuration argument`.
If there exists empty string columns, the `build_dictionaries` method inside `writer::impl::write` will lead to a segmentation fault.

**Steps/Code to reproduce bug**
Write

[2021-11-28 02:20] trxcllnt commented on #8639
@shwina yeah it would be possible, but the current implementation returns a `unique_ptr<cudf::table>`, meaning it must copy the input data so the return can be a valid owning type. For true zero-copy, we'd need a version that returns a `cudf::table_view` (from which a `cudf::table` could be constructed if a copy was desired).

[2021-11-29 18:38] jbrennan333 commented on #9504
I dumped a stack trace just before the call to contiguousSplit that fails:
[code]

[2021-11-29 19:10] meghmak13 commented on #9657
There is a need for the aforementioned feature request as we currently only support tokenization for BERT. As especially considering newer architectures like RoBERTa, GPT, T5 are getting adopted.

[2021-11-29 19:14] revans2 opened #9790 "[BUG] strings::from_timestamp can overflow on valid timestamps"
**Describe the bug**
When I try to convert some microsecond values to strings. `scale_time` appears to overflow and I get the wrong answer out.

**Steps/Code to reproduce bug**
This is Spark code, but I will try to get a repro case in C++ shortly.

[code]

Essentially when we get to `128849018880000000` which is the micro second timestamp value. `get_time_components` is called to find the hour, mi

[2021-11-29 19:17] vuule opened #9791 "Add decimal128 tests to CSV/JSON"
- [x] CSV reader
- [x] CSV writer
- [ ] JSON reader

[2021-11-29 19:20] revans2 commented on #9790
[code]

Appears to fix the issue. I'll try to turn it into a PR with some tests.

[2021-11-29 19:21] revans2 commented on #9790
@davidwendt sorry feel free to take this if you want.

[2021-11-29 19:27] davidwendt commented on #9790
@revans2 This change you proposed here looks good. I thought it might be a more involved change but this looks correct. Feel free to post a PR with this change.

[2021-11-29 19:34] rjzamora commented on #9719
I will try to reproduce this soon, but I suspect the problem may be related to a `usecols` but that was already fixed in #9618

[2021-11-29 19:37] revans2 commented on #9790
Will do

[2021-11-29 20:53] harrism commented on #9780
All libcudf public APIs have a corresponding `detail` API that takes a stream. Since CUDA streams are not exposed in the public API, we pass `rmm::cuda_stream_default` from the public to the detail API. That's what the above line is doing. One day, we plan to expose streams in the public APIs, but we have not done that. `cuda_stream_default` is just CUDA's default stream. If per-thread default str

[2021-11-29 21:28] rjzamora commented on #9719
I had a chance to investigate and the problem is indeed the `usecols` bug that was fixed in #9618. Unfortunately, that fix does **not** resolve the issue when `dtype` is also specified. Therefore, we will need further changes before this issue can be closed - I plan to work on a solution today or tomorrow.

[2021-11-29 21:32] revans2 opened #9795 "[BUG] > 10x performance regression in dispatch_equality_op for 21.12 vs 21.10"
**Describe the bug**
We are still working to trace some things down, but we saw a huge performance regression in TPC-DS query 28 in 21.12.  When doing some profiling it appears to all be.

void cudf::binops::compiled::for_each_kernel<cudf::binops::compiled::dispatch_equality_op(cudf::mutable_column_device_view &, const cudf::column_device_view &, const cudf::column_device_view &, bool, bool, cudf:

[2021-11-29 22:16] MordicusEtCubitus commented on #9719
Thanks a lot.  I've looked at commit for #9618 but do not understood why this is the issue, so not sure I can help writing the code to solve it

[2021-11-29 22:18] jrhemstad commented on #9795
@karthikeyann can you look at this?

[2021-11-29 22:28] revans2 commented on #9795
So it looks like for AND we are doing an `equalToNullAware` to match with what Spark is doing which appears to be the regression.  The other kernels are fast.

[2021-11-29 22:41] harrism commented on #9504
Clearly this is in contiguous_split. There are even line numbers above.  @nvdbaranec

[2021-11-29 22:45] revans2 commented on #9795
We are doing similar things for both `AND` and `OR` operations to match the Spark semantics.  So it appears that we are doing `NULL_EQUALS` on two boolean column vectors, and that is where the performance degradation is happening.

[2021-11-29 22:49] jlowe commented on #9795
It appears to be related to the decimal128 changes.  If I roll back to this commit:
[code]
then I don't see the performance regression.  However if I pull in just the next two commits:
[code]
then I see the performance regression.

[2021-11-29 22:51] rjzamora commented on #9719
No worries! I expect that #9796 will resolve your error - However, I'll be happy to iterate if this is not the case.

[2021-11-29 22:56] andygrove commented on #9764
The Java example in the previous comment is using the method [Matcher,matches](https://docs.oracle.com/javase/8/docs/api/java/util/regex/Matcher.html#matches--) which "Attempts to match the entire region against the pattern" and has different semantics to the [Matcher.find](https://docs.oracle.com/javase/8/docs/api/java/util/regex/Matcher.html#find--) method that Spark uses from its `RLike` expres

[2021-11-29 23:04] davidwendt commented on #9764
Thanks Andy. Can we revisit the original request?
I feel the breakage here in this issue would be more difficult to work around then the original issue.

[2021-11-29 23:08] andygrove commented on #9764
@davidwendt Yes, that makes sense.

[2021-11-30 01:09] vuule commented on #9783
Got local repro.
Looks like the issue is specific to writing files with Snappy compression.
Working on a fix.

[2021-11-30 03:39] henryiii commented on #6979
@pitrou Did I not respond? Sorry, I was traveling for Thanksgiving and thought I responded before.

I'm only looking for letters of collaboration to support the proposal; the funding would come from the NSF if accepted. I am looking for three things: A science driver statement explaining the impact on science that this collaboration will have, a description of how we will collaborate (can be combi

[2021-11-30 14:03] revans2 commented on #9795
So I wrote some micro benchmarks to try and get an idea of the performance changes for a few binops between 21.10 and the current 21.12 code. I need to check to be 100% positive, but I think 21.10 was compiled with CUDA 11.2, but the 21.12 was compiled with CUDA 11.5. So there are likely to be some compiler differences too. I tried to compile cudf 21.10 with CUDA 11.5, but I got compile errors and

[2021-11-30 14:58] ttnghia commented on #8974
Currently, there are two more places we need to support struct `min` and `max` ops:
  * Hash-based groupby aggregates
  * Window ops

In these places, currently the internal functions call a kernel very early, which prohibits injecting any additional host function call. As such, supporting structs in those functions requires refactoring the entire computation pipeline. Thus, supporting structs in

[2021-11-30 16:40] #9719 closed

[2021-11-30 16:42] rjzamora commented on #9719
I closed this issue with #9796, but feel free to reopen if the problem persists.

[2021-11-30 17:21] rjzamora commented on #9690
I'll add a fix for this in #9720 (since it is somewhat related).

[2021-11-30 18:48] anamariaUIC commented on #9743
@quasiben  @beckernick Can you please tell me if there are any updates on this issue?

[2021-11-30 19:03] karthikeyann commented on #9795
@revans2 I understand it's compiled with CUDA 11.5
Which CUDA runtime version is this benchmark running on? 11.5 or 11.2 or 11.0

[2021-11-30 19:11] revans2 commented on #9795
They are all running under 11.5

[2021-11-30 20:34] vyasr commented on #6979
@henryiii sure I can probably write that up pending approval from @quasiben. We'll probably want to touch base on the contents a little bit since packages like Arrow and RAPIDS are sufficiently removed from direct impacts on science that I'm not sure what the appropriate level of discussion is in our letter.

[2021-11-30 20:42] beckernick commented on #9743
Given CuPy also throws an error, it's possible the configuration/setup you're doing is not sufficient to use GPU libraries on your system. Are there other GPU analytics libraries that you can confirm work?

[2021-11-30 21:36] shwina commented on #8639
cc @jrhemstad for advice on the API here, but maybe we could return something like a `pair<table_view, memory_owner>`? In the IPC case, the `memory_owner` would own nothing?

[2021-11-30 23:31] #8691 closed

[2021-12-01 06:21] vuule commented on #9783
Implemented the fix in https://github.com/rapidsai/cudf/pull/9808, will add more tests tomorrow and open for review.

[2021-12-01 11:42] pitrou commented on #6979
Also cc @jorisvandenbossche for PyArrow

[2021-12-01 15:15] mughetto opened #9811 "[FEA] Arrow to SSTables converter"
**Is your feature request related to a problem? Please describe.**
I wish I could use cudf to preprocess my data and write the results in SSTables so that I could bulk load my Cassandra instance with `sstableloader`.

**Describe the solution you'd like**
A new method to write sstables:
cudf.Dataframe.to_sstables("foo.db")

**Additional context**
Recently Datastax contributed a way to analyze Cassa

[2021-12-01 15:27] jrhemstad opened #9812 "[FEA] convert_datetime.cu should use proper chrono types for timestamp/duration handling"
**Is your feature request related to a problem? Please describe.**

The functionality in [`convert_datetime.cu`](https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/src/strings/convert/convert_datetime.cu#L205) parses timestamps using plain integers instead of `chrono` types. This should be avoided as it leads to problems like this: https://github.com/rapidsai/cudf/pull/9793

**Describe the sol

[2021-12-01 15:37] beckernick commented on #9811
Glad to hear you'd like to use RAPIDS to analyze Cassandra data @mughetto

I'm not well versed in the SSTable file format, but I wonder if this feature request makes more sense on the Apache Arrow project itself. Perhaps you might be interested in opening discussion there? From the sstable-to-arrow repository README, it looks like the Arrow Java API is doing much of the heavy lifting

[2021-12-01 15:40] jrhemstad opened #9813 "[FEA] Dispatch to different binary op kernels for common data types"
**Is your feature request related to a problem? Please describe.**

The compiled binary ops use device side dispatch for the input data types.

It currently has logic that will do a single vs double type dispatch in the same operator based on the existence of a common data type between the inputs.

https://github.com/rapidsai/cudf/blob/fc82b1d206e93a46c9ef3535711c88ec20bd4fde/cpp/src/binaryop/comp

[2021-12-01 15:47] beckernick commented on #6979
@dantegd @BradReesWork would this be of interest to cuML or cuGraph?

[2021-12-01 16:00] mughetto commented on #9811
Hey @beckernick

good point, I came from the RAPIDS side into it, so the Slack server and this board was my first stop. Let me try to ask on the datastax board first, maybe with their experience in sstables to arrow they can also help/orient us for the inverse operation.

[2021-12-01 18:55] henryiii commented on #6979
I'd be happy to get a couple more letters if cuML or cuGraph is interested. It's just [this template](https://docs.google.com/document/d/1_bZctpo6EkDSbtaBu2WMssrVqAufg74upKu25LzWyWo/edit?usp=sharing) and then 1-3 sentences like:

[code]

(I'm not actually writing a letter for myself, just making up an example.)

I'll also include a bit in the Science drivers, so suggestions there are welcome, such

[2021-12-01 19:00] #9790 closed

[2021-12-01 21:46] #9000 closed

[2021-12-01 22:00] #9703 closed

[2021-12-01 22:01] karthikeyann commented on #9703
Issue is caused by return type deduction of device lambda limitation. Point 14 in https://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#extended-lambda-restrictions
PR #9778 fixed this issue.

[2021-12-02 00:32] VibhuJawa commented on #9657
**Basic Algo:**
1.  Basic pre-processing like space cleanup, utf-8 decoding.
2.  Tokenize  each sentence based on a delimiter
3.   Call BPE on each token to further tokenize it
4.   Find the numeric representation of each token in the provided vocabulary
5.   Pad according to the provided padding and return the `input_ids` which are essentially the key look up from  the vocabulary table
6.    Also

[2021-12-02 05:05] #9781 closed

[2021-12-02 10:48] #9758 closed

[2021-12-02 15:41] Franc-Z opened #9819 "[QST] How to estimate the GPU-memory needed to uncompress a Parquet dataset?"
**What is your question?**
Due to the limited volume of GPU memory, sometime when one wants to load a Parquet dataset, it would lead to a OOM error.
Does any expert know that if we could pre-estimate the memory required (and the space needed in disk) before actually uncompressing a Parquet file in cuDF? Python or C++ samples or indications are all welcome.

[2021-12-02 20:00] bdice opened #9822 "[BUG] Including a NaN (float) value should force Index to cast to float64."
**Describe the bug**
Constructing an integer index with a NaN value produces an index of ints with a null value, rather than casting to floats.

**Steps/Code to reproduce bug**
This doctest (#9815) is failing:
https://github.com/rapidsai/cudf/blob/582cc6e466c7d941e1b34893fd56fbd42fe90d68/python/cudf/cudf/core/_base_index.py#L832-L834

The index is actually getting this value:
[code]

**Expected be

[2021-12-02 20:12] bdice opened #9823 "[BUG] Joining MultiIndex with Int64Index does not find common columns"
**Describe the bug**
Joining MultiIndex with Int64Index does not find common columns.

**Steps/Code to reproduce bug**
This doctest (#9815) fails:

https://github.com/rapidsai/cudf/blob/582cc6e466c7d941e1b34893fd56fbd42fe90d68/python/cudf/cudf/core/_base_index.py#L1100-L1115

The common column name `a` between the MultiIndex `lhs` and Int64Index `rhs` is not found. The following exception is raise

[2021-12-02 20:27] bdice opened #9824 "[FEA] Remove DataFrame._repr_pandas025_formatting."
**Is your feature request related to a problem? Please describe.**
It appears that the function [`DataFrame._repr_pandas025_formatting`](https://github.com/rapidsai/cudf/blame/39a3050a200b7728def8bd2cc14bf27e8dbc9279/python/cudf/cudf/core/dataframe.py#L1679) is only called once, in a test: https://github.com/rapidsai/cudf/blob/31f92d70bdf5b80434d24b6883e45496dbe85042/python/cudf/cudf/tests/test_re

[2021-12-02 20:43] nvdbaranec commented on #9819
Is this in regards to the resulting output data size, or also including the scratch space (which can be non-trivial) using during the decompression/decoding?

[2021-12-02 20:55] bdice opened #9825 "[BUG] DataFrame.describe has incorrect results for `top` in categorical column"
**Describe the bug**
DataFrame.describe gives results for `top` in a categorical column that don't match pandas. The categories each occur once in this example, so the "top" is somewhat arbitrary, but we should match pandas' behavior if possible.

**Reproduction & Expected Behavior**
This is a minimal reproduction. Note that cudf gives `f` as the "top", while pandas and the cudf docstrings (see fu

[2021-12-02 21:07] bdice opened #9826 "[BUG] DataFrame.describe prints datetimes differently than pandas"
**Describe the bug**
The `DataFrame.describe` string formatting for datetime differs between cudf and pandas. Specifically, the mean is printed differently. I _think_ the types are the same, and that this is only an issue with formatting -- not data types or casting -- but I'm not completely sure.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]

This came up in doctests (#981

[2021-12-02 21:09] mayankanand007 commented on #9662
Based on new information, it is not a bug, but is because of how code is organized in `cuDF`. These methods inherit from [this method in cuDF](https://github.com/rapidsai/cudf/blob/branch-22.02/python/cudf/cudf/core/frame.py#L1839), and take the docs from there. A possible step to make it more clear would be to add an `Index` section in the documentation and add more details there.

Closing this i

[2021-12-02 21:09] #9662 closed

[2021-12-02 21:15] bdice opened #9827 "[BUG] DataFrame.reindex behavior differs from pandas"
**Describe the bug**
The behavior of `DataFrame.reindex` fails doctests and differs from pandas. From a preliminary discussion in our dev meeting, we may have the behavior that we intend already in place -- this issue can be closed if we choose to keep the current implementation and update the doctests in #9815 to match.

**Steps/Code to reproduce bug**
This doctest (#9815) fails:
https://github.c

[2021-12-02 21:20] vyasr commented on #9824
I thought I had already addressed this. I think it must be in a branch that I haven't made a PR for yet, I'll push that out sometime before the next release.

[2021-12-02 21:33] bdice opened #9828 "[FEA] Deprecate Series.as_mask"
**Is your feature request related to a problem? Please describe.**
Doctests (#9815) show the following doctest failing:
https://github.com/rapidsai/cudf/blob/582cc6e466c7d941e1b34893fd56fbd42fe90d68/python/cudf/cudf/core/series.py#L1783-L1793

**Describe the solution you'd like**
From a preliminary discussion with @vyasr, we probably want to deprecate and remove `as_mask` from the public API.

In

[2021-12-02 21:45] bdice opened #9829 "[BUG] TimedeltaIndex constructor raises an AttributeError."
**Describe the bug**
The constructor of a `TimedeltaIndex` raises an `AttributeError`.

**Steps/Code to reproduce bug**
This doctest (#9815) fails:
https://github.com/rapidsai/cudf/blob/582cc6e466c7d941e1b34893fd56fbd42fe90d68/python/cudf/cudf/core/index.py#L1966-L1975

Here is the error output:
[code]

**Expected behavior**
This is the output of pandas for the first doctest:
[code]

The second do

[2021-12-02 22:16] vyasr commented on #9823
For future reference: the issue is that the truthiness of a tuple `(None, )` is `True`, whereas `bool(None)` is `False`. The check needs to occur on the variable before it's wrapped in a non-empty container.

[2021-12-02 22:17] shwina commented on #9827
I think here we have the right behaviour. All our types are nullable, so we  can afford to use `<NA>` as a null value and avoid casting things to  `float`. We may need a way of telling doctests to not check the result dtypes when necessary (similar to the `check_dtype=False` argument to `assert_frame_equal` in pytests).

[2021-12-02 22:38] vuule commented on #9779
It's possible that cuFile is not installed or not available in your environment. Which CUDA toolkit version are you using?

[2021-12-02 22:40] #9783 closed

[2021-12-03 01:14] Franc-Z commented on #9819
Also including the scratch space used during decompression. (To estimate the peak device-memory needed during decompression to avoid OOM error)

[2021-12-03 02:19] #9684 closed

[2021-12-03 02:19] #9690 closed

[2021-12-03 08:39] EdisonZiXing commented on #9780
@harrism
Dear Harrism:
Thank you for the instruction about Q1 and I really looking forward to seeing cuda_stream_per_thread coming out!!!
I've seen cuda_stream_per_thread in the code and now I knew that this part of function is still working on.
About Q2,I should have clearly explained my  question and your infer is right:Our data is loaded in host in-mem,so we do have a workflow where from_arrow

[2021-12-03 08:41] EdisonZiXing commented on #9779
@vuule
Dear vuule:
I'm using CUDA toolkit 11.5, should I installed the cuFile again?I thought it is a inline function of cuDF,could u give me more instructions or advice?
Thanks for replies vuule!!!

[2021-12-03 09:29] res-life opened #9834 "[FEA] Improve the performance of sample"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
[Sample code link](https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/include/cudf/copying.hpp#L935)

[2021-12-03 12:46] #9823 closed

[2021-12-03 14:11] quasiben commented on #8510
With the upcoming release of RAPIDS 21.12 we've enabled [CUDA Enhanced Compatibility](https://docs.nvidia.com/deploy/cuda-compatibility/) (CEC) in our builds.  This should allow for RAPIDS and Pytorch to coexist in all 11.X runtimes as long as minimum driver versions are met (as described in the link).  For example the following should work:

Note: RAPIDS does not explicitly build an explicit 11.3

[2021-12-03 14:53] revans2 commented on #9834
It would be nice to see if there is some way that we could speed this up. As it is right now the performance of this version is on par with the CPU version or slightly slower.  Note that this is against 12 CPU cores, so it still is faster than a single core, but no one is running a single GPU vs a single CPU core typically.

[2021-12-03 20:19] henryiii commented on #6979
Can I get an idea of which projects (cuDF, PyArrow, cuML, cuGraph) and who will be able to supply a letter? I need to finalize the project description very soon. Letter themselves can be early next week, thought the sooner the better for my sanity. :) FYI, I've collected about half of my expected letters at this point, several collaborators will be supplying letter early next week too. But it stil

[2021-12-03 20:53] karthikeyann commented on #9373
Number of warnings in Doxygen are high.
To get opinion,
some of trivial functions without documentation are `operator<`, `operator=`, has_nulls, begin, end, etc.
Should they be skipped or warning ignored or documented? (documentation for method, parameters and return type)

[2021-12-03 21:53] vyasr commented on #6979
I can write up a letter for cuDF. I may not get it to you today, but I should be able to have it done by Monday. I could also provide one for RMM if @harrism approves since that transition was already attempted. I'll ping him to ask.

[2021-12-03 22:04] henryiii commented on #6979
That's okay, I'd just like to know what I can count on, and letters can be provided early next week. Thanks!

That leaves @pitrou or @jorisvandenbossche for PyArrow, are you planning on one too?

[2021-12-03 22:13] bdice commented on #9827
@shwina Awesome, thanks for confirming. I will update the doctest and close this issue.

No additional changes are necessary beyond updating the output of the example in 699c21aafc1f604a41dac954bbbe87ddefe8a5f5. Doctests execute the commands and compare the printed output. In some sense, doctests are a test of the REPL environment and validate the workings of `repr` / `str` methods.

[2021-12-03 22:14] #9827 closed

[2021-12-03 23:10] vyasr commented on #9828
I think along with this we should think about what mask-related APIs we really should be exposing at the Python layer. For instance, should the `null_mask` or `nullable` properties even be accessible, or are they implementation details? `Series.set_mask` is already deprecated. Are there any public APIs where a bitmask is a reasonable expectation, or should all public APIs involving masks operate o

[2021-12-03 23:13] #9115 closed

[2021-12-04 11:53] karthikeyann commented on #5773
Running all benchmarks for just 1 iteration today takes 67 minutes.
One of the issue with present benchmark Fixture is that it creates the memory pool in each Setup/TearDown.
After making it static,
all benchmarks for 1 iteration  takes 51 minutes.
all benchmarks for 2 iterations takes 58 minutes.
all benchmarks for 4 iterations takes 73 minutes.

Most time is spent on initializing the data rather

[2021-12-04 14:24] Atharex commented on #9419
An update after trying out the v21.12.00 branch...

RMM has the same error, though now I can build it by explicitly disabling the cmake config to build tests.
The compiling still fails when tests are included:

[code]

The CuDF build is still not succeeding and the cuFile error still remains (though, there are no reports of a ZLIB target already existing this time - details in the attached log)

`

[2021-12-05 16:21] pitrou commented on #6979
Sorry, we were not aware that you had such a tight deadline :-(. Arrow is a community project under Apache governance and I doubt that we can sign a letter on behalf of the project without at least some discussion on our side (and perhaps a vote). Realistically, it would be at least three weeks (no idea if more, but unlikely to be less). So feel free to without a letter from us if you have enough

[2021-12-05 17:32] henryiii commented on #6979
Well, the original post was from October and we started discussing PyArrow two weeks ago, so it was originally not that tight, though slightly less than three weeks from when PyArrow was first involved.

I've been told that the best chance of funding is if I can prove this is not a "if we build it, they will come" type project, but rather one addressing a real and pressing need in the community (w

[2021-12-05 17:41] henryiii commented on #6979
PS, unrelated, but Kitware will be helping us add a mechanism to CMake to discover configuration files stored in Python packages, and pybind11, NumPy, and SciPy will be using that to distribute configuration. This might be useful for the 1-3 sentence part - this would allow "extendable" (at the compiled level) Python packages to be much easier.

[2021-12-05 18:57] nirandaperera opened #9844 "[FEA] Keeping up with arrow realses"
**Is your feature request related to a problem? Please describe.**
Since Cudf is following a 2 month release cycle, is it possible to upgrade to the latest Apache Arrow version (which follows a 3 month release cycle) at every release?

**Describe the solution you'd like**
Upgrade to the latest Arrow version in every release

**Describe alternatives you've considered**
n/a

**Additional context**
I

[2021-12-06 06:42] Franc-Z commented on #9819
https://docs.rapids.ai/api/libcudf/stable/group__io__readers.html#ga539a82d720387747800c360ba68d748f
From the above link, I get the code snippet as below. Can we get some useful infos (like row count, row format) from the second line to calculate **the peak required device-memory**?
_auto source  = cudf::io::source_info("dataset.parquet");
auto options = cudf::io::parquet_reader_options::builder(s

[2021-12-06 13:38] #6952 closed

[2021-12-06 13:38] #9152 closed

[2021-12-06 13:41] davidwendt commented on #9580
Closed by #9623

[2021-12-06 13:41] #9580 closed

[2021-12-06 15:36] beckernick commented on #9844
There is currently an open PR to upgrade to the latest arrow release (https://github.com/rapidsai/cudf/pull/9686), which will close the associated issue that was opened shortly after the official arrow release https://github.com/rapidsai/cudf/issues/9645 .

Release cadences across various projects can make it challenging to quickly upgrade dependencies depending on the release timing, but we have

[2021-12-06 15:36] #9844 closed

[2021-12-06 16:40] beckernick commented on #2258
Closing, as we've implemented this API as part of ongoing UDF enhancements.

[code]

[2021-12-06 16:40] #2258 closed

[2021-12-06 16:43] beckernick commented on #1025
@vuule was `convert_string_to_dtype` ultimatel removed in the work done for #8240 ?

[2021-12-06 16:48] beckernick commented on #3358
@lmeyerov is this still relevant?

[2021-12-06 18:24] andygrove opened #9845 "[FEA] Make replace_re multine behavior consistent with contains_re"
**Is your feature request related to a problem? Please describe.**

Given the input string `"A\nB\nC"` and the regexp pattern `"^B"`, `contains_re` will not find a match but `replace_re` will.

**Describe the solution you'd like**
I would like `replace_re` to match the behavior of `contains_re` where `^` only matches the start of the string and does not match newlines within the string.

**Describ

[2021-12-06 18:49] vuule commented on #1025
Yes, it was. Closing as `convert_string_to_dtype` is no more.

[2021-12-06 18:49] #1025 closed

[2021-12-06 20:40] beckernick commented on #8526
I'm going to close this issue as answered as we were not able to reproduce it in clean environments and there has not been an update since June.

Please feel free to re-open this issue to continue the discussion.

[2021-12-06 20:40] #8526 closed

[2021-12-06 21:24] harrism commented on #5773
I wonder if there's some way to share input data for some of the benchmarks.

[2021-12-06 21:36] harrism commented on #9780
I don't think we can reach peak PCI-E rates with data in host without registering (pinning) the host memory. I think we would need a test program to look at your specific use case.

[2021-12-07 00:22] isVoid opened #9850 "[BUG] cuDF cannot concat single level index frame with multiIndex frame"
**Describe the bug**
Exception is raised when concatenating a single level index frame with a multiIndex frame

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Match pandas.
[code]

**Environment overview (please complete the following information)**
 - Environment location: [compose]
 - Method of cuDF install: [compose]

**Environment details**
<details><summary>Click here to see en

[2021-12-07 01:14] vuule opened #9851 "[BUG] Java bindings for ORC/Parquet writers always set decimal precision"
`createTableMetaData` calls `set_decimal_precision` even when there are no values for the precision. This causes incorrect precision values in the output file.

Affects https://github.com/rapidsai/cudf/pull/9775, where precision is used to choose the decimal type when reading ORC files.

[2021-12-07 01:14] vuule commented on #9851
CC @jlowe

[2021-12-07 01:30] lmeyerov commented on #3358
Hmm not sure, I can check this weekend. We're running 2021.10 I think, doing 11/12 upgrade in a couple weeks, if relevant.

[2021-12-07 11:08] pitrou commented on #6979
@henryiii Ok, it certainly works if I sign it personally and/or on behalf of my employer, would you have a ready-to-use template? (really I'm not accustomed at all to such boilerplat)

[2021-12-07 14:29] henryiii commented on #6979
Yes, [this one](https://docs.google.com/document/d/1_bZctpo6EkDSbtaBu2WMssrVqAufg74upKu25LzWyWo/edit?usp=sharing). And then there's 1-3 sentences in the facilities document that says anything you want, I'd put:

Antoine Pitrou will work with us on PyArrow to try a scikit-build build system. This would
simplify the developer experience and encourage new contributions. We will also work to provide a

[2021-12-07 14:32] #9605 closed

[2021-12-07 17:07] jrhemstad commented on #5773
How many benchmarks are initializing input data on host and then transferring to device instead of initializing in device directly?

[2021-12-07 17:33] nvdbaranec opened #9854 "[FEA] Consider removing default value from `stream` parameter in detail functions."
Based on @karthikeyann's work on this PR  https://github.com/rapidsai/cudf/pull/9767  I'm wondering if it makes sense to consider removing the defaults for the `stream` parameters in various detail functions.  It is pretty surprising how often these are getting missed.

The most common case seems to be in factory functions and various `::create ` functions.  Maybe just do it for those?

[2021-12-07 17:37] jrhemstad commented on #9854
I'm an increasingly big fan of requiring streams to be explicit.

[2021-12-07 17:39] anamariaUIC commented on #9743
@beckernick I am n ot sure which other libraries I can try. This is what I have on my system, can you please tell me how to install any rapids version on it?

#logged in in one GPU node
$ssh gpu-2-0
anamaria@gpu-2-0.saber:~ $ nvidia-smi
Tue Dec  7 11:11:23 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 396.44                 Driver Version: 396.44

[2021-12-07 17:55] karthikeyann commented on #9854
In most cases, stream can be explicit.
There are a few cases where there are other default arguments before `stream`. so they cannot be removed.

[2021-12-07 17:56] andygrove opened #9855 "[FEA] Add version of extract_re that takes an index"
**Is your feature request related to a problem? Please describe.**
From Spark, when we call `extract_re` we often are only interested in extracting a single group rather than all the groups in the pattern. We currently call `extract_re` which returns a `Table` and we then get the column we are interested in and discard the others. It would be more efficient if we could pass the column index to cuD

[2021-12-07 18:02] karthikeyann commented on #5773
Almost all of them.
https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/benchmarks/common/generate_benchmark_input.hpp random data generator executes on host. This file could be starting point for optimization.

[2021-12-07 18:03] andygrove opened #9856 "[FEA] Implement extract_all_re function"
**Is your feature request related to a problem? Please describe.**
I would like to be able to implement a GPU version of Spark's [regexp_extract_all](https://spark.apache.org/docs/latest/api/sql/index.html#regexp_extract_all) function. Here is an example usage from the documentation.

[code]

**Describe the solution you'd like**
I would like a cuDF function `extract_all_re` which is similar to `ex

[2021-12-07 18:04] karthikeyann commented on #5773
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-File rel=Main-File
href="file:///C:/Users/knataraj/AppData/Local/Temp/msohtmlclip1/01/clip.htm">
<lin

[2021-12-07 18:09] jrhemstad commented on #5773
Agreed, this should be changed to generate data on the device.

Building off of Mark's idea, we should look at trying to cache inputs generated with the same parameters. That would be an easy way to reuse inputs without needing to modify any code.

[2021-12-07 18:14] davidwendt commented on #9856
We actually had a version of this in nvstrings called [`extract_record`](https://github.com/rapidsai/custrings/blob/a74b3e1e708fefee3045081c91c613a48aaa7c6e/cpp/include/NVStrings.h#L693). We did not have lists at the time so each returned row was its own strings column. It was not ported to libcudf since there was no real demand for it (until now) and it was impractical without lists.

This will l

[2021-12-07 18:29] robertmaynard commented on #9795
Can we close this with https://github.com/rapidsai/cudf/pull/9816 being merged?

[2021-12-07 18:36] robertmaynard opened #9857 "[FEA] Improve performance of benchmark input generation"
**Is your feature request related to a problem? Please describe.**
As identified by https://github.com/rapidsai/cudf/issues/5773#issuecomment-986015276 a significant portion of the runtime for some benchmarks is data generation instead of micro-benchmarking.

Specifically the issue is that the benchmark fixtures spend significant time in Setup/TearDown initializing state.

**Describe the solution

[2021-12-07 18:53] robertmaynard opened #9858 "[FEA] Reduce benchmark search space where applicable"
**Significantly lower the variations of parameters for the long-running benchmarks.**

Quote from https://github.com/rapidsai/cudf/issues/5773#issue-666438739

**Reduce the number of benchmarks that have an iteration count of <= 2**

We have benchmarks that are run a single time, which provides insufficient iterations to trust the results.

If valid for smaller data sizes, they should be be moved

[2021-12-07 18:59] vuule commented on #9819
To answer you question, the team looked into ways to more accurately estimate the total memory usage. Unfortunately, the conclusion is that this is not feasible without decoding much of the file, because of complex encoding in the Parquet format, including the use of dictionaries.

As for getting the number of rows + data types:
We don't have any APIs to get this information. The closest API we ha

[2021-12-07 19:24] vyasr commented on #7960
Do we know what next steps are on that? @shwina and I worked on getting a version of compare.py ready and it was merged a while ago, but I don't recall how much more work is necessary to bring it to feature parity with gbench's compare.py so that we can close NVIDIA/nvbench#9. I can follow up if we don't.

[2021-12-07 19:30] vuule commented on #9319
Closing as inactive. Please reopen if needed.

[2021-12-07 19:30] #9319 closed

[2021-12-07 19:31] karthikeyann commented on #7960
This is implemented in https://github.com/NVIDIA/nvbench/pull/14

[2021-12-07 19:40] karthikeyann commented on #7960
Basic version is fine. Documentation might be needed. CLI could be improved.
`benchmarksfiltered` feature might be needed.

[2021-12-07 19:40] charlesbluca opened #9859 "[BUG] GPU-accelerated file writes fail on WSL2"
**Describe the bug**
When trying to write a dataframe to file on Windows Subsystem for Linux (WSL) using a GPU-accelerated writer method (e.g. all the writer methods but `to_feather`), the operation fails and crashes the Python kernel:

[code]

**Steps/Code to reproduce bug**
Working with the latest cuDF source on WSL2 Ubuntu 20.04:

[code]

**Expected behavior**
The dataframe to be written to the

[2021-12-07 20:16] charlesbluca opened #9861 "[BUG] GPU-accelerated file reads fail on WSL2"
**Describe the bug**
When trying to read a dataframe from file on Windows Subsystem for Linux (WSL) using a GPU-accelerated reader method (e.g. all the reader methods but `to_feather`), the operation fails and crashes the Python kernel:

[code]

**Steps/Code to reproduce bug**
 Working with the latest cuDF source on WSL2 Ubuntu 20.04:

[code]

**Expected behavior**
A dataframe to successfully be l

[2021-12-07 20:26] vuule commented on #9779
cuFile is a separate library, included in CUDA 11.4+ toolkits. cuDF loads cuFile at runtime and it looks like this is the part that fails.
Please check if `libcufile.so` is present in your cuda install directory, and if `LD_LIBRARY_PATH` is set correctly.

[2021-12-07 20:29] #9635 closed

[2021-12-07 20:50] anamariaUIC commented on #9743
@beckernick To answer your previous question: I am able to install and run Pytorch as described [here](https://pytorch.org/get-started/locally/) on the same GPU node I was trying to install RAPIDS...

(rapids) anamaria@gpu-2-0.saber:~ $ python
Python 3.6.13 | packaged by conda-forge | (default, Sep 23 2021, 07:56:31)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more in

[2021-12-07 20:53] beckernick commented on #9743
Are you able to manipulate GPU tensors?

[2021-12-07 21:05] anamariaUIC commented on #9743
@beckernick can you please share some code I should run in order to determine that?

[2021-12-07 21:26] anamariaUIC commented on #9743
@beckernick I am not sure if using CUDA tensors is relevant for your question:

(rapids) anamaria@gpu-2-0.saber:~ $ python
Python 3.6.13 | packaged by conda-forge | (default, Sep 23 2021, 07:56:31)
[GCC 9.4.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/anamaria/.conda/envs/r

[2021-12-07 21:48] andygrove opened #9862 "[FEA] Implement version of string::split that accepts a regular expression for the delimiter"
**Is your feature request related to a problem? Please describe.**
I would like to make the GPU implementation of Spark's `split()` function support regular expressions for the delimiter.

**Describe the solution you'd like**
I would like a version of the cuDF `string::split` function that accepts a regular expression for the delimiter

**Describe alternatives you've considered**
None

**Additiona

[2021-12-07 21:55] davidwendt commented on #9862
I believe this feature request already exists as #3584

[2021-12-07 21:56] #9862 closed

[2021-12-07 22:29] revans2 commented on #9795
I am fine with it. I didn't close it because there were still some binops that were slower and I didn't know what others wanted to do to be sure that was not lost.

[2021-12-07 22:37] davidwendt commented on #9845
I can add the `regex_flags` parameter to `replace_re` like it is in `contains_re` so that the `^` and `$` matching behavior should be the same.

[2021-12-07 22:39] beckernick commented on #9743
Thanks for highlighting the driver. Yes, your driver appears to be too old to run RAPIDS libraries based on https://docs.nvidia.com/cuda/cuda-toolkit-release-notes/index.html#cuda-major-component-versions

I believe this would be too old for PyTorch as well (but am not an expert).

[2021-12-07 22:46] anamariaUIC commented on #9743
@beckernick Ok, so my current Driver Version: 396.44. In order to install and run RAPIDS I need at least driver version >= 450 for CUDA 11. Please confirm or correct?

[2021-12-07 23:18] vyasr commented on #9854
Since they are detail APIs we could always move streams earlier in the parameter list in those cases. It might make for a slightly incongruous API though.

[2021-12-08 00:45] harrism commented on #9373
Seems to me that public APIs should be documented. For detail APIs, we definitely have the option to skip.  Is there any way to auto-generate docs for standard functions like `operator<`, `operator=`?

[2021-12-08 00:51] isVoid opened #9863 "[BUG] Display issue with IntervalIndex containing nulls"
**Describe the bug**
Today we can display interval index that contains no nulls
[code]
But if source data contains null, nothing is displayed
[code]

**Expected behavior**
Pandas output:
[code]
Referring to our current behavior, I think it's ok to output
[code]
for now.

**Environment overview (please complete the following information)**
 - Environment location: [compose]
 - Method of cuDF instal

[2021-12-08 01:30] isVoid opened #9865 "[BUG] `IntervalIndex.dropna` does not behave correctly"
**Describe the bug**
An `IntervalIndex` with null doesn't produce well-formed result after calling dropna.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
[code]
Ours maybe:
[code]

[2021-12-08 02:32] #9566 closed

[2021-12-08 03:28] taureandyernv opened #9868 "[BUG] 2x cudf doc notebooks for 21.12 have errors"
1. In https://github.com/rapidsai/cudf/blob/branch-21.12/docs/cudf/source/user_guide/10min-cudf-cupy.ipynb
[code]
doesn't print out correctly.  PR #9866 will fix it with
[code]

2. In https://github.com/rapidsai/cudf/blob/branch-21.12/docs/cudf/source/user_guide/10min.ipynb, MultiIndex section

[code]
outputs:
[code]

[2021-12-08 17:32] pitrou commented on #6979
Does it need a hand-written signature?

This looks good to me.

[2021-12-08 17:33] henryiii commented on #6979
It can be a digitally added hand written signature. It doesn't need to be printed.

[2021-12-08 17:34] henryiii commented on #6979
And we are finalizing this in the next 2-3 hours. ;)

[2021-12-08 17:42] pitrou commented on #6979
Ok, sent it.

[2021-12-08 19:06] #9590 closed

[2021-12-08 20:16] mythrocks opened #9869 "`lists::contains()` needs to switch to use `cudf::nullate`"
This is a follow-on issue from #9510.

The backend code for `lists::contains()` and `lists::index_of()` currently use `bool`s in `lookup_functor` for branching on whether the `search_keys` contain null elements. This would be a whole lot neater if `cudf::nullate` were used instead.

This would require `cudf::make_pair_rep_iterator` to support `nullate` first, which obfuscates the already drawn out

[2021-12-08 20:33] davidwendt commented on #9855
Why include groups in the pattern that will not return anything?
For example, if you have the following pattern with 3 groups:
[code]
and you only care about the 2nd group just change the pattern to remove the `( )` for the groups that are not needed.
[code]

[2021-12-08 21:33] karthikeyann commented on #2784
@robertmaynard is it possible to run benchmarks with `make benchmarks` or `ninja benchmarks` ? (or `ninja run_benchmarks`)
AFAIK, we don't have any such rule now in cmake.

[2021-12-08 21:38] robertmaynard commented on #2784
We could write such a rule via a `add_custom_target` where we have multiple `COMMAND` inputs which map to each benchmark we have generated

[2021-12-08 21:40] karthikeyann commented on #2784
Is there a way to all benchmarks like we run `ninja test` ?
Perhaps using Ctest scripting https://gitlab.kitware.com/cmake/community/-/wikis/doc/ctest/Scripting-Of-CTest ?

[2021-12-08 22:20] andygrove commented on #9855
I cannot argue with the logic here, but this is just how the Spark function works and we have no control over how people invoke it.

We could potentially rewrite the regexp pattern in the plugin to remove unreferenced groups but I would be nervous about going that far.

[2021-12-08 22:20] andygrove commented on #9845
That sounds great. Thanks @davidwendt

[2021-12-09 14:08] brandon-b-miller opened #9874 "[BUG] Constructing a datetime `cudf.Scalar` from a string yields the wrong result in some cases"
**Describe the bug**
Strings like `'20110101'` should be properly parsed and turned into the corresponding datetime scalar if a datetime dtype is passed to the `cudf.Scalar` constructor.

**Steps/Code to reproduce bug**

What we're getting right now is what we would get by directly constructing a numpy `datetime64` object around the string value.

[code]

**Expected behavior**
[code]

**Environmen

[2021-12-09 18:13] charlesbluca opened #9877 "[FEA] Implement `DatetimeProperties.date`"
**Is your feature request related to a problem? Please describe.**
In Pandas, it is possible to extract the date from a column of datetime objects using the `date` attribute of the `DatetimeProperties`:

[code]

This attribute doesn't exist in cuDF's `DatetimeProperties`:

[code]

**Describe the solution you'd like**
It would be nice to have a `date` attribute for the `DatetimeProperties` to match

[2021-12-09 18:27] beckernick commented on #9877
I believe this is a duplicate of https://github.com/rapidsai/cudf/issues/7880

@charlesbluca can we consolidate discussion in that issue?

[2021-12-09 18:38] charlesbluca commented on #9877
Sure!

[2021-12-09 18:38] #9877 closed

[2021-12-09 18:40] charlesbluca commented on #7880
Bumping this issue as the need for `DatetimeProperties.date` is coming up in https://github.com/dask-contrib/dask-sql/pull/343

[2021-12-09 21:47] ttnghia commented on #9114
@jlowe @jrhemstad I'm starting the implementation. Please have a look at the interface of the proposed API here and give comment if you have any: https://github.com/rapidsai/cudf/pull/9883

[2021-12-09 22:28] #9504 closed

[2021-12-09 22:39] gmarkall commented on #9639
I believe @brandon-b-miller is actively working on this.

Whilst I'm commenting, I'll add a note that numba/numba#7621 helps support this implementation so may be a useful reference along with numba/numba-examples#40, which requires a similar mechanism of linking CUDA C/C++ with Numba kernels.

[2021-12-09 22:57] bdice commented on #9475
Test comment to see if the inactive label is removed. I will delete this comment afterward.

[2021-12-09 23:09] #9528 closed

[2021-12-10 01:39] #9240 closed

[2021-12-10 08:53] mughetto commented on #9811
For the record, I also opened a feature request with Cassandra:
https://issues.apache.org/jira/browse/CASSANDRA-17201

[2021-12-10 14:16] Franc-Z commented on #9819
Thanks! Now It seems more clear.

[2021-12-10 14:51] brandon-b-miller commented on #9639
This is being worked on, albeit slowly for now. We've had a lot of discussions of how we intend to proceed with this offline, but the general consensus is that some of these functions will be a lot easier to support than others, namely the ones that have predictable memory requirements. Hopefully more to come here soon.

[2021-12-10 16:10] andygrove commented on #9764
This issue is now resolved. We implemented logic in the plugin regexp transpiler to account for differences in newline behavior between Java/Spark and cuDF to resolve the original issue that prompted the https://github.com/rapidsai/cudf/issues/9620 change which has since been reverted.

[2021-12-10 16:15] davidwendt commented on #9764
What does this mean for https://github.com/rapidsai/cudf/pull/9774 ?
I'd still like to merge this. Would this change break you?

[2021-12-10 16:26] #2784 closed

[2021-12-10 17:12] PointKernel commented on #9393
Still relevant.

[2021-12-10 18:43] isVoid opened #9885 "[FEA] Support dictionary type column for `copy_if_else`"
**Is your feature request related to a problem? Please describe.**
Today, `copy_if_else` does not yet support dictionary type column input.

**Describe the solution you'd like**
Ideally, we can support `dict-dict` input , `dict-slr`, `slr-dict` input if `slr.type == dict.key.type`.

**Describe alternatives you've considered**
Currently in `where` function in python, we used the codes of the catego

[2021-12-10 18:51] ttnghia opened #9886 "[FEA] Implement `drop_duplicates` for range values without sorting"
Currently, `cudf::drop_duplicates` uses sorting to check for duplicates, then copies the unique values to the result column. This is inefficient if the input values are known to be within some range like `[0, size)` as we can use a label array to check for the existence of the input and copy the unique values in `O(n)` time. In particular, a more efficient approach for dropping duplicates can be:

[2021-12-10 19:23] #9652 closed

[2021-12-10 19:48] jrhemstad commented on #9886
I don't think there'd be much value in adding a custom algorithm for "ranged" data over just having a hash-based drop duplicate algorithm. See https://github.com/rapidsai/cudf/issues/9413

[2021-12-10 19:51] ttnghia commented on #9886
The reason I filed this issue is hoping that we can get some performance gain by using plain array over "ranged" data.
Anyway, if just has-based approach is enough then I'm going to close this.

[2021-12-10 19:51] #9886 closed

[2021-12-10 22:05] davidwendt commented on #9856
Looking a bit closer, this does appear to be similar to `extract_record` but the `all` means continue match/extracting after the first match is found? Also, I'm guessing the example in the description includes an index feature that is the subject of a separate issue #9855 and therefore is a bit confusing here. Ignoring indexing, this is what I'm looking at implementing so far:
[code]
The 1st strin

[2021-12-10 22:06] #9764 closed

[2021-12-10 22:23] #9868 closed

[2021-12-10 23:05] andygrove commented on #9856
Yes, the `all` here means continue matching. Your example looks correct to me, ignoring indexing. For reference, here is the equivalent example in Spark:

[code]

[2021-12-11 00:50] davidwendt commented on #9856
Please do not include indexing examples here.

I don't understand the first example.
[code]
This does not look like extract to me.
Extract will return the values found inside the groups `( )`.  Like `[ "100", "200" ]` in my previous comment post.
Your example now appears to return the entire match result instead. Like `[ "100-200" ]`

[2021-12-13 04:49] pi-guy-in-the-sky commented on #9811
Hello, my apologies for the slow reply! Unfortunately, sstable-to-arrow doesn't support the inverse operation from RAPIDS to Cassandra, and the project isn't currently being actively maintained. Perhaps you could check out the [dsbulk](https://docs.datastax.com/en/dsbulk/doc/dsbulk/reference/dsbulkCmd.html) tool to see if that meets your needs?

[2021-12-13 12:29] mughetto commented on #9811
Hi Alex,

thanks for the feedback. I did look in dsbulk before but I think I ended up discarding it because it also requires to go through a parquet -> CSV step.

I'll have another look at it if sstable-to-arrow is not maintained anymore.

[2021-12-13 14:29] jlowe commented on #9114
Upon further discussion with @jrhemstad offline, I think we can perform the batched full join without needing to compute the complement for a gather map.  Ultimately what the original algorithm described above is trying to do is track which rows in the right table have not been "hit" as we perform the join against each batch of the left table.  Using gather maps to track the rows is inefficient fo

[2021-12-13 14:29] #9114 closed

[2021-12-13 15:34] jlowe commented on #9660
Still relevant and would like to see this fixed.

[2021-12-13 15:45] ttnghia commented on #9114
Yeah, that's very similar to my original idea of map complement with multiple input maps. I'm glad that you guys adopted to use it directly.

[2021-12-13 16:08] jlowe opened #9892 "[FEA] Java bindings for scatter"
**Is your feature request related to a problem? Please describe.**
#9114 describes an algorithm to implement a batched full join, but it requires the ability to scatter a scalar.  Java currently is lacking bindings for the scatter functionality in libcudf.

**Describe the solution you'd like**
The Java bindings should add the following APIs to `Table`:
[code]

[2021-12-13 16:31] jrhemstad commented on #9660
Similar to https://github.com/rapidsai/cudf/pull/9797, we should rename to `CUDF_CUDA_TRY`.

[2021-12-13 17:01] andygrove commented on #9856
The Spark function is confusing. A zero index is a special case and returns all of the strings that match the entire regexp pattern. I will see if the existing cuDF functions can already support this case and will file a new issue if not.

For the "normal" indexing case I think I can implement based on the proposed results that you previously posted.

[2021-12-13 17:10] davidwendt commented on #9856
I think the closest behavior we have is [`findall`](https://docs.rapids.ai/api/libcudf/stable/group__strings__contains.html#ga7c35014a706769d77b04f18761963d19)
But I suspect you will need `_record` version of this API to return a lists column instead of a table. This would match the result in this [comment](https://github.com/rapidsai/cudf/issues/9856#issuecomment-991395561).

Do you still need an

[2021-12-13 18:42] andygrove commented on #9856
Yes, I believe that this would give me what I need.

[2021-12-13 20:28] rlratzel opened #9894 "[FEA] Improved error message when calling `query()` on expresions involving columns of string values"
`DataFrame.query()` calls using expressions that involve columns of string values are not supported in cuDF. Adding support for this would be ideal, but given that strings are not fully supported for a variety of reasons, a better error message would be the next best improvement.
As an example, in `pandas` the following works as expected:
[code]
However, the same code using `cudf` produces the fol

[2021-12-13 21:01] isVoid commented on #9135
Today's reduction are null-preserving (e.g. `MAX([2, null, 4]) == null`). Are there any needs to support the null-skipping reduction in future e.g. `NULL_MAX([2, null, 4]) == 4`? @revans2
cc. @bdice

[2021-12-13 22:52] bdice commented on #9135
I realized after my discussion with @isVoid earlier today that we're likely describing `null_policy::INCLUDE` / `null_policy::EXCLUDE`. This exists in other reductions in `include/cudf/reductions.hpp` already. It seems like we'll need to support it since Spark's behavior is `sum([1, null, 3]) == 4` (equivalent to `null_policy::EXCLUDE` in my understanding) while Python and others will probably exp

[2021-12-14 01:31] vyasr commented on #9894
For context, supporting the query itself requires addressing #9639.

[2021-12-14 04:00] #9825 closed

[2021-12-14 13:48] robertmaynard commented on #9795
@revans2 I am out of the loop, what binops are still slower?

[2021-12-14 16:17] jlowe commented on #8858
Still desired

[2021-12-14 17:14] revans2 commented on #9795
https://github.com/rapidsai/cudf/pull/9816#issuecomment-984347836

[2021-12-14 17:35] karthikeyann commented on #9795
@revans2 Benchmark times for large input were back to normal for all benchmarks in  https://github.com/rapidsai/cudf/pull/9816#issuecomment-985498914 (click Benchmark Details)
Run these benchmarks again to confirm in 21.12 and 22.02 and we can close this.

[2021-12-14 18:19] bdice opened #9900 "`describe` casts all values to `str` for several types"
The `describe` implementations appear to be casting all the values to `str` (aside from the numeric implementation). This does not align with Pandas behavior:
[code]

I recognize there is an issue here with different types, namely that `count` and `freq` are not of the same type as `mean`, `min`, percentiles, or `max`.

Some options to resolve this (and their downsides):
1. Current implementation:

[2021-12-14 18:20] bdice commented on #9900
Quoting @vyasr from https://github.com/rapidsai/cudf/pull/9867#discussion_r768192180:

[2021-12-14 22:59] #9822 closed

[2021-12-15 00:40] bdice commented on #9824
@vyasr If you have a branch removing this and want to push, that'd be helpful. We're getting down to the last few failures in #9815.

[2021-12-15 04:02] #9874 closed

[2021-12-15 10:47] madsbk opened #9906 "[BUG] Merge requires excessive memory"
**Describe the bug**
Merging two DataFrames of size 48MB requires an extra 132GB of device memory!

**Steps/Code to reproduce bug**
The following code reproduce the issue. First it register a RMM resource adapter that prints the size of the allocation on failure and then it merge two 48MB sized DataFrames.
[code]

The output:
[code]

**Expected behavior**
Perform the merge with a peak memory use o

[2021-12-15 11:42] #9795 closed

[2021-12-15 14:49] #9845 closed

[2021-12-15 14:59] jrhemstad commented on #9906
lolwat. That's crazy. This looks like a great place to try @shwina's Python memory profiler to see where that allocation is coming from.

[2021-12-15 14:59] beckernick commented on #9906
This looks like it's increasingly approximating a large self-join given `n` grows >> the distribution of `id` in the random dataset generator. Are we sure this isn't expected behavior with `n=2e6`?

[code]

[2021-12-15 15:02] jrhemstad commented on #9906
Oh yeah, if the data is heavily skewed then this join can definitely blow up.

[2021-12-15 15:03] #9885 closed

[2021-12-15 15:21] beckernick commented on #9855
Is the goal to leverage information downstream in the DAG that indicates some of the capture groups weren't actually necessary for this execution?

Could you share a bit about the use cases where this comes up? For example, I can imagine it coming up in exploratory data analysis. Curious to understand how common/significant this is.

[2021-12-15 19:32] #9892 closed

[2021-12-15 21:09] brandon-b-miller opened #9913 "[BUG] Setting a float into an int dtype series through iloc should cast the series"
**Describe the bug**
Setting a float into a pandas series of int dtype should cast the series to float, but what happens now is the incoming scalar gets rounded and the series remains int dtype.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
We should get the same thing as pandas here.

**Environment overview (please complete the following information)**
22.02

**Environment detail

[2021-12-15 21:56] vyasr commented on #9824
I should be able to get to this tomorrow.

[2021-12-15 22:13] jlowe commented on #9155
Still relevant, low priority.

[2021-12-15 22:42] EFulmer opened #9914 "[BUG] `columns` parameter of `DataFrame.pivot` treats individual strings as if they were a list of characters"
**Describe the bug**
`DataFrame.pivot` doesn't distinguish between strings and lists/iterables properly. In other words, it treats a string passed in to the `columns` argument like Pandas would if a list of each individual character was passed in.

**Steps/Code to reproduce bug**
Reducing what I was working on to the essentials relevant here, I got this, runnable in `ipython`:

[code]

**Expected

[2021-12-16 08:05] firestarman commented on #8050
Reopen this since it is still missing the array and map type support.

[2021-12-16 08:55] madsbk commented on #9906
@beckernick you are absolutely right, I assumed that the `"id"` values in `randomdata` were unique. Thanks for making this clear and sorry for the noise.

[2021-12-16 08:55] #9906 closed

[2021-12-16 18:00] vyasr commented on #9824
I stitched together the changes from a few cleanup stashes/branches and pushed them to #9922, which should resolve this.

[2021-12-16 20:44] beckernick commented on #9743
You will need at least 450.80.02 for the current version of RAPIDS which is officially supported on CUDA 11+. Earlier versions of RAPIDS officially supported CUDA 10, which also has driver version requirements >= your current version based on the link above.

If possible, the best path forward for using recent versions of cuDF and other GPU analytics libraries would be upgrade the driver.

[2021-12-17 09:51] aerdem4 opened #9928 "[BUG] 2D Array Assignment"
**Describe the bug**
When I try to set 2D cupy array to some columns of cudf dataframe, it doesn't work correct. I get same value for the whole row. So it is like it is setting one column of 2D array to all columns of cudf dataframe.

**Steps/Code to reproduce bug**
`df[[f"f_{i}" for i in range(n)]] = cp.random.randn(m, n)
`

**Expected behavior**
It should correctly set 2D arrays to columns like

[2021-12-17 12:29] devavret commented on #9731
The inflate kernel is currently designed for inflating multiple small chunks of compressed data. One block is used to inflate one chunk. Its performance will be poor if you're inflating one continuous large compressed chunk as only one block will be active.
For more generic GPU based decompression, you can take a look at https://github.com/NVIDIA/nvcomp. Although nvCOMP also doesn't support generi

[2021-12-17 12:35] devavret commented on #9466
@chenrui17 can you post the result of reading all 100 columns in `read_parquet` and then discard the unneeded ones after reading. This is **NOT** a recommendation, just an experiment.

[2021-12-17 14:28] beckernick commented on #9928
This seems similar to another issue we resolved: https://github.com/rapidsai/cudf/issues/8672

[code]
[code]

[2021-12-17 15:00] #9771 closed

[2021-12-17 17:37] robertmaynard commented on #9813
Closing issue as #9816 has been merged

[2021-12-17 17:37] #9813 closed

[2021-12-17 18:02] #9829 closed

[2021-12-17 21:30] kkraus14 commented on #9718
I can no longer reproduce this so may have been an environment issue at the time. Going to close this and will reopen if I can reproduce.

[2021-12-17 21:35] galipremsagar opened #9930 "[BUG] NotImplemented error for empty columns"
**Describe the bug**
There is a newly occurring error in `dask_cudf` with empty columns, where a max operation would result in `NotImplemented` error.

**Steps/Code to reproduce bug**
[code]

[2021-12-17 22:55] ttnghia commented on #9413
@jrhemstad Is there any draft PR yet? I am implementing `cudf::contains` for structs and have similar need for structs hashing.

[2021-12-17 23:05] ttnghia opened #9934 "[FEA] Support structs in `unordered_multiset`"
Currently, `unordered_multiset` is used for checking if an element is contained in a given set (column) in linear time. Unfortunately, it currently does not support structs. We need to add support for structs too.

[2021-12-17 23:06] ttnghia commented on #9934
If the solution using cuCollection mentioned in https://github.com/rapidsai/cudf/issues/9413 is better then we can re-implement `unordered_multiset` using cuCollection.

[2021-12-17 23:44] #9769 closed

[2021-12-18 00:24] davidwendt opened #9935 "[BUG] Segfault in libcudf debug build running PARQUET_TEST"
Something changed in the last week or so in 22.02 causing this failure. The segfault only happens in a libcudf DEBUG build.

[code]

[2021-12-18 00:26] davidwendt commented on #9935
Here is a `cuda-gdb` session in case it is helpful.

[code]

Also, after running this on the latest code I get this interesting result:

[code]

[2021-12-20 08:32] lixiaolx opened #9936 "__syncthreads Using help"
When writing the cuda code, I encountered the need to write the __syncthreads() function in the .cuh file, but a compilation error was reported
![image](https://user-images.githubusercontent.com/17673134/146736545-f13d984e-ae5d-4053-9f7e-a1df8244b2c9.png)

I tried several ways and failed to compile. LINK (lcudart, lcudadevrt, libcudart.so, libnvrtc.so, libcudadevrt.a)
I saw in cudf that you have w

[2021-12-20 14:27] beckernick commented on #9936
Hi @lixiaolx , could you please share a small, reproducible example of a CUDA kernel with __syncthreads you've tried to compile and the error?

[2021-12-20 16:26] #9164 closed

[2021-12-21 00:32] esnvidia opened #9939 "[BUG] `to_string()` adding a newline char for dataframes with longer cols"
`to_string()` adding a newline char for DataFrames with longer cols. In other words, if I had a DataFrame with 20 rows, and 10 cols, then the `to_string()` method will print the first X cols and rows, followed by an empty string and a newline char, and the remaining rows. Did not test for super-wide DataFrames.

Example:
[code]

Output:
[code]

As you can see, the cols are trimmed after 'Merchant

[2021-12-21 02:03] sameerz commented on #8964
This is still required

[2021-12-21 13:35] #9936 closed

[2021-12-21 20:37] revans2 commented on #9644
We still want this

[2021-12-21 20:50] revans2 commented on #9109
Same comment as before

[2021-12-21 21:52] andygrove opened #9946 "[BUG] containsRe intermittently returns incorrect result for simple octal digit pattern"
**Describe the bug**
I am seeing inconsistent results when calling `containsRe` with the pattern `\101` and the string `A`. On the first call, the method *sometimes* returns false and sometimes true. Subsequent calls always seem to return true.

**Steps/Code to reproduce bug**

Here is a JNI test that can be added to `ColumnVectorTest.java`.

[code]

The test *sometimes* fails on the second assert

[2021-12-21 22:00] bdice commented on #9828
I agree that many (all?) properties dealing with bitmasks should be considered implementation details for the Python API. I am investigating the internal/external usage of APIs like `Series.nullmask`, `Series.nullable`, `Series.as_mask`, and `Series.set_mask`.

[2021-12-21 22:18] jlowe commented on #9851
To clarify, the core issue is that the Java bindings do not have the concept of a column having writer options but _not_ having a decimal precision specified by the user.  So if the user sets up column names for a table but does not specify any precision values, Java will default the precisions to zero rather than "not set."  The Java bindings need a way to convey that the precision is unspecified

[2021-12-22 06:20] vyasr commented on #9855
I am also curious to understand this problem. From the original description it doesn't seem like the request is stemming from some complex workflow where some groups are "discovered" to be unnecessary, but rather to optimize user workflows even when users invoke the function with suboptimal regexes. Naively this seems like a use case where we should be aiming to educate users as to best practices

[2021-12-22 16:01] andygrove commented on #9855
To add some more context to this request. Spark provides a SQL function [regexp_extract](https://spark.apache.org/docs/latest/api/python/reference/api/pyspark.sql.functions.regexp_extract.html) with the signature `regexp_extract(str, pattern, idx)`. This function was requested in [SPARK-8255](https://issues.apache.org/jira/browse/SPARK-8255) to expose the equivalent Java regexp functionality. It d

[2021-12-22 16:18] andygrove opened #9950 "[FEA] Support replacing word boundaries in regexp replace in way that is compatible with Python/Java"
**Is your feature request related to a problem? Please describe.**
When replacing the pattern `\\b` (word boundary) with `X` for the string `a\nb`, Python and Java produce `XaX\nXbX` and cuDF produces `XXXa\nb`.

[code]

[code]

**Describe the solution you'd like**
I would like the ability to match Python/Java behavior in this case.

**Describe alternatives you've considered**
None

**Additional c

[2021-12-22 17:31] bdice commented on #7314
I still see local failures on these tests with the latest branch-22.02.

[2021-12-22 17:41] bdice commented on #7314
For `col = "col_datetime64[ms]"` I see a difference of an hour:
[code]
I wonder if this is a DST issue or something weird like that. I see the same "off by one hour" bug in `test_writer_timestamp_stream_size` as well.

[2021-12-22 17:47] bdice commented on #7314
[code]

https://en.wikipedia.org/wiki/Daylight_saving_time

🤔

[2021-12-22 18:02] bdice commented on #7314
I can confirm that all the timestamps that _pass_ the equality check are before 1918 OR (after 1918 AND in months when DST is not active). The timestamps that _fail_ the equality check are all (after 1918 AND in months when DST is active).

Passing:
[code]

Failing (ignore the `NaT` rows because `NaT != NaT`):
[code]

cc: @vuule @devavret

[2021-12-22 18:15] kkraus14 opened #9952 "[BUG] cudftestutil leaks compile options"
**Describe the bug**
https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/CMakeLists.txt#L618-L621

This passes on the compile options to any project that is using it which includes the `-Werror` that we use. Should probably just flip it to PRIVATE.

[2021-12-22 19:46] jdye64 commented on #9410
PR https://github.com/rapidsai/cudf/pull/9486 should be merged in the coming days to resolve this issue.

[2021-12-23 18:00] kkraus14 opened #9954 "[BUG] `BUILD_SHARED_LIBS` CMake option doesn't build static library when set to "OFF""
**Describe the bug**
https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/CMakeLists.txt#L43

This option is not used anywhere in the CMake currently. It should probably be used to parametrize whether `SHARED` or `STATIC` is passed to the `add_library` call here: https://github.com/rapidsai/cudf/blob/branch-22.02/cpp/CMakeLists.txt#L162

**Steps/Code to reproduce bug**
Build libcudf with `-DBUIL

[2021-12-23 23:40] #9475 closed

[2021-12-24 00:54] lmeyerov opened #9955 "[BUG] dask_cudf scheduler cannot start in wsl2 likely due to using unsupported nvml diagnostics"
**Edit 1**: Linked issue with `dask.distributed` : https://github.com/dask/distributed/issues/5628 & https://github.com/gpuopenanalytics/pynvml/issues/42

**Edit 2**: This may be getting worked around via dask starting to skip nvml under wsl: https://github.com/dask/distributed/pull/5568

**Edit 3**: This seems to be a finer drill down into the issue also reported as https://github.com/rapidsai/da

[2021-12-24 13:52] #9600 closed

[2021-12-27 08:04] Jobe-Zhong opened #9957 "[FEA]The following packages are not available from current channels"
How to install to mac os ?
![image](https://user-images.githubusercontent.com/95477965/147449674-482393e8-f06c-44c7-8d91-5581b9e8e62a.png)

[2022-01-03 18:38] #9824 closed

[2022-01-03 21:34] randerzander opened #9961 "[BUG] ORC Reader Bench throwing cudf::logic_error"
**Describe the bug**
Running the libcudf ORC reader benchmark (no args other than `--benchmark_format=json` results in an error.
[code]

**Steps/Code to reproduce bug**
Run the libcudf ORC reader benchmark

**Expected behavior**
Benchmark executes w/ no error codes

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal, Docker, Cloud(specify clou

[2022-01-03 21:37] randerzander opened #9962 "[BUG] Parquet Reader Bench throwing cudf::logic_error"
**Describe the bug**
Running the libcudf Parquet Reader benchmark (no args other than `--benchmark_format=json`) results in a cudf::logic_error:
[code]

**Steps/Code to reproduce bug**
Run the libcudf Parquet Reader benchmark

**Expected behavior**
The benchmark completes w/ no errors

**Environment overview (please complete the following information)**
 - Environment location: [Bare-metal, Docker

[2022-01-04 03:55] wbo4958 opened #9964 "[FEA] orc file written by cudf doesn't include Column Statistics in RowIndex"
Spark 3.2 has changed the orc dependency to 1.6.11 which has different behaviors with orc 1.5.10 (spark-plugins shaded) when picking row group with filter pushed down.

In a word, Spark 3.2 will **return empty** when reading the orc file written by cudf with filter pushed down which is because of missing Column Statistic in RowIndex.

From the orc spec, Column Statistic of RowIndex seems not to be

[2022-01-04 07:56] sperlingxx opened #9965 "[BUG] Rescaled fixed point data will overflow if the scale difference exceeds the numeric limits"
**Describe the bug**
When rescaling fixed point figures (casting fixed point type to fixed point type with different scale), it may produce incorrect result due to the overflow of the divide base scalar `pow(10, scale difference)`:
[code]

**Steps/Code to reproduce bug**
[code]

[2022-01-04 11:27] wbo4958 opened #9967 "[FEA] The column in table returned by JSON reader didn't match the dtypes passed"
We have a json file with below lines

[code]

No matter how to adjust the sequence of dtypes of **json_reader_options_builder**,
The first column in the table returned by JSON reader will always be **STRING** and the second column will always be **LONG**.

What we expect is when we pass the column names `("age", "name")`, the first column in the table should be **LONG**, the second column should b