[2019-04-21 16:33] kkraus14 commented on #1469
I can reproduce this issue in Ubuntu, but this will be solved once we move to using conda compilers instead of system compilers. In the meantime, this warning is just that it can find the `libz.so.1` in the conda environment before the implicit system directories which isn't a big deal.

[2019-04-21 16:34] kkraus14 commented on #1470
@eyalroz can you run `conda list | grep -i nvstrings` and post the output here? This looks like you're getting an old / wrong version.

[2019-04-21 16:40] eyalroz commented on #1470
[code]
Maybe I need to remove the old version somehow?

[2019-04-21 16:53] kkraus14 commented on #1470
@eyalroz you should be grabbing `nvstrings` from the `rapidsai-nightly/label/cuda9.2` and getting version `0.7.0.dev0`. Likely what's happening in your above environment is that the `0.2.0` package which has the old shared libraries was installed after `libnvstrings` and overwrote the libs.

[2019-04-21 19:11] eyalroz commented on #1470
@kkraus14 : Perhaps, but - CMake should still notice that it's missing what it needs, and not proceed to Makefile generation. In my `CMakeCache.txt`, I see:
[code]
That should not be acceptable.

[2019-04-21 21:18] eyalroz commented on #1470
I've worked around this by manually copying the `.so`  files from the `pkgs/libnvstrings-0.7.0.dev0-cuda9.2_95/lib/` subdirectory into `envs/cudf/lib`.

[2019-04-22 01:32] randerzander commented on #1467
For future implementation reference, the Pandas equivalent method is called [drop_duplicates](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop_duplicates.html)

[2019-04-22 07:22] pradghos opened #1472 "create rmm feedstock"
Conda recipe : `https://github.com/rapidsai/rmm/tree/branch-0.7/conda/recipes/rmm.git`

[2019-04-22 07:24] #1472 closed

[2019-04-22 07:26] pradghos commented on #1472
I think rmm dependency is already therein latest cuDF recipe . hence closed the issue.

[2019-04-22 07:53] pyotr777 commented on #1468
I see. Thank you for your answer.

[2019-04-22 13:32] jlowe opened #1473 "[BUG] gdf_hash_partition can incorrectly partition string category columns"
**Describe the bug**
gdf_hash_partition on a string category column hashes the category index rather than the underlying string.  This can cause a string represented by a category index to be incorrectly partitioned between two tasks that build different category indices for the same string.

**Steps/Code to reproduce bug**
Task 1 receives a string column of three strings, "A", "B", and "C".  Task

[2019-04-22 13:45] jlowe opened #1474 "[BUG] gdf_hash_partition does not gather string category columns"
**Describe the bug**
When gdf_hash_partition is called on a string category column the output category column has no NVCategory pointer that represents the order of partitioned strings.  This is inconsistent with string category column handling from other libcudf functions that can output new string category columns like the groupby and join operations.  It is up to the caller to gather the origin

[2019-04-22 13:56] jrhemstad opened #3102 "Provide ability to obtain hash value of individual elements in NVCategory/NVStrings columns"
In cuDF, in order to facilitate a distributed Join, the `gdf_hash_partition` function is used to gather elements with equivalent hash values into contiguous partitions.

However, this functionality is currently broken for columns of type NVCategory as we currently hash the indices into the category. This means that two NVCategory columns with equivalent strings may end up providing different hash

[2019-04-22 13:56] jrhemstad commented on #1473
This is definitely an issue, and requires additional functionality be provided by an NVCategory column.

See https://github.com/rapidsai/custrings/issues/250

[2019-04-22 14:42] nsakharnykh commented on #1443
### Pain points ###
1. Touching raw pointers and underlying data structures of the column
a. Difficult to track down out-of-bounds and null access errors
b. Difficult to evaluate other internal column formats (e.g. a list of chunks instead of one flat array)
c. Difficult to update the validity mask from a CUDA kernel
2. Memory management
a. Who owns the memory allocated for the column, when it sho

[2019-04-22 15:04] beckernick opened #1475 "[BUG] DataFrame Boolean indexing does not properly handle the null mask but doesn't error"
**Describe the bug**
Currently, Boolean indexing a dataframe containing null values at the dataframe level does not properly handle the null mask but does not cause the AssertionError that series level indexing with nulls causes. This can lead to users thinking they've correctly filtered their data, when they actually haven't.

To be specific, it appears that for every null value in a column, the

[2019-04-22 15:23] eyalroz commented on #1443
@nsakharnykh :

You mean, out-of-bounds accesses on the device side? e.g. `my_column_data[1234]` and such?

Can you elaborate on this some more, with regards to the C++ part of libcudf? Where in the code does this happen?

See PR #1391; it doesn't resolve anything fully but it makes it easier:
[code]
And specifically:
[code]

I'm sorry,I haven't addressed @harrism comments on that PR yet - will do

[2019-04-22 16:35] beckernick opened #1476 "[FEA] Implement Groupby.last()"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to be able to get the last non-null value of each group for every non-grouping column in a groupby object.

**Describe the solution you'd like**
I'd like to be able to do the equivalent of the following pandas code:

[code]
**Describe alternatives you've considered**
I don't think there are any simple alternativ

[2019-04-22 16:41] beckernick opened #1477 "[FEA] Allow grouping on arbitrary arrays passed in at runtime"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to be able to pass in an arbitrary array/series to `groupby(...)` and have my groupby create groups based on this array/series.

**Describe the solution you'd like**
I'd like to be able to do the cudf equivalent of the following:

[code]

**Describe alternatives you've considered**
The alternative is to create a

[2019-04-22 16:44] kkraus14 commented on #1476
I believe this could only work for sort based groupbys as a hash based groupby would have non-useful and/or non-deterministic ordering.

[2019-04-22 18:36] beckernick opened #1480 "[FEA] Implement find_valid_index and its permutations (first_ and last_)"
**Is your feature request related to a problem? Please describe.**
As a user, I'd like to be able to call `last_valid_index` or `first_valid_index` to get the index of the first/last non-null value in a Series.

**Describe the solution you'd like**
I'd like to be able to do the following with cudf:
[code]

**Additional context**
The pandas implementation is [here](https://github.com/pandas-dev/pan

[2019-04-22 22:45] #647 closed

[2019-04-22 22:45] #1280 closed

[2019-04-22 23:21] vuule opened #1482 "[BUG] read_csv behavior not consistent with Pandas w.r.t empty cells"
There are values that cuDF treats as empty cells, that are not treated as such in Pandas.

For example, cells in the format ' " " ' should not be treated as empty, but with the current adjustForWhitespaceAndQuotes() they are.

adjustForWhitespaceAndQuotes should be modified to stop cropping blank characters once it hits quotation marks.

[2019-04-23 15:20] afender commented on #1204
Just noticed this has been closed. I'd like to re-open it as I haven't seen the solution for it yet.
FYI there are good chances that we hit that problem again in the snmg PageRank pipeline @BradReesWork and @kkraus14

Can't we reduce memory requirements at all? The 2 columns in this file are about 10GB total, so it does fit in memory. If we have to go with a hack then :

@mjsamoht, great! Did you

[2019-04-23 15:40] mjsamoht commented on #1204
What I suggested is the proper way to process files that are too large to fit into GPU memory.  Let's say you have a 1 TB file, it surely won't fit in GPU memory and the only way to process is to break it up into chunks.  This is exactly what `dask-cudf` does. It uses the `byte_range` option of the CSV reader.

[2019-04-23 17:33] #1482 closed

[2019-04-23 17:59] sklam commented on #1436
@jrhemstad, here's a numba PR to get PTX out of device function: https://github.com/numba/numba/pull/4011

[2019-04-23 18:52] mrocklin commented on #1270
It looks like the `//` operator does the right thing.  Presumably the functionality exists to do this today.

[code]

[2019-04-23 18:53] mrocklin commented on #489
@kkraus14 if you have time can you chime in here?  What would need to happen in order for this to work?  Alternatively, do you have any suggestions?

[2019-04-23 18:57] beckernick commented on #1270
Floor division will work often but doesn't resolve the discrepancies shown you need to round up for that place.

[2019-04-23 19:44] #1460 closed

[2019-04-23 20:54] mjsamoht commented on #1434
This is implemented through https://github.com/rapidsai/cudf/pull/1419.

The PR didn't have the "Fixes issue ..." in the comment so that's why this issue didn't get automatically closed.

[2019-04-23 21:05] kkraus14 commented on #1434
@mjsamoht I'm going to reopen this issue and rename it to reflect Python bindings as the PR was C++ only.

[2019-04-23 21:53] j-ieong opened #1485 "[FEA] Update Parquet reader to use device_buffer wrapper"
**Is your feature request related to a problem? Please describe.**
Right now, Parquet Reader uses a combination of a `std::unique_ptr`-derived `device_ptr` to wrap allocations returned from raw `RMM_ALLOC` calls. This is unnecessary now that we have a `device_buffer` wrapper class.

**Describe the solution you'd like**
Replace all instances above with `device_buffer`.

**Describe alternatives you'

[2019-04-24 00:40] harrism commented on #1384
@nasica88 sorry for delay. Did you try *my* suggestion (commenting out some of the test parameters, thus reducing test coverage), or did you try @j-ieong 's suggestion of adding

[code]

[2019-04-24 00:58] nasica88 commented on #1384
@harrism  The former - I applied your suggestion of commenting out some of the test parameters.  I'll try @j-ieong 's suggestion, and let you know the result.

[2019-04-24 01:10] #1458 closed

[2019-04-24 02:09] nasica88 commented on #1384
@harrism , @j-ieong , Good news.  @j-ieong 's suggestion of adding those lines works just fine.

...
[ 95%] Linking CUDA executable ../gtests/GROUPBY_TEST
[ 95%] Built target GROUPBY_TEST
[ 96%] Linking CUDA device code CMakeFiles/COPYING_TEST.dir/cmake_device_link.o
[ 97%] Linking CUDA executable ../gtests/COPYING_TEST
[ 97%] Built target COPYING_TEST
[ 97%] Linking CUDA device code CMakeFiles/JO

[2019-04-24 02:31] harrism opened #1488 "[BUG] test_dask.py should skip unless minimum version 1.1.0 is installed"
**Describe the bug**
python/cudf/tests/test_dask.py runs a `testorskip` on the dask module. If the dask module is installed, but has too early a version, the tests may fail due to missing features in dask.

**Steps/Code to reproduce bug**
Install an old version of desk-core, and run pytests.

**Expected behavior**
Make the test skip if the version is insufficient (1.1.0 I believe). Also make it di

[2019-04-24 13:27] felipeblazing commented on #1443
### **Pain Points**

1. Non Distinction between mutable and non mutable columns. Columns that are mutable should be deep copied when being moved around, immutable columns can be shared across threads and would only need to be shallow copied.

2. Inability to plug in various allocators. We have heard lots of mention of having cudf::column manage allocation and deallocation but this would only be fe

[2019-04-24 13:32] felipeblazing commented on #1443
This kind of code ```cudf::column* output = cudf::algorithm( input... );``` sort of freaks me out. For example we have many times where we need to perform temporary materializations and we do something like the following.

[code]
This would not be possible if the code was orchestrated as above.

[2019-04-24 13:37] felipeblazing commented on #1443
Are you saying this so that we could have chunked columns? If so are we really just talking about a cudf::column and each column would have an array (or vector) of cudf::column_chunks ?

[2019-04-24 14:01] beckernick opened #1489 "[BUG] selection with negative slices fails in dataframes with StringColumns"
**Describe the bug**
When trying to use negative slicing to get rows of a dataframe containing StringColumns, we fail in at least two ways (depending on the ordering of columns). This affects direct index access, `iloc`, and `tail`.

If the first column in the dataframe is a StringColumn, we can't actually do the slicing at all.

If any other column is a StringColumn, the "preceding" columns are r

[2019-04-24 14:09] beckernick commented on #1489
I believe the issue is that nvstrings objects do not support negative slicing.

[code]

Going to mark this as a libcudf issue here, but I think it's actually a cuStrings issue and will open this on cuStrings. @kkraus14

[2019-04-24 14:38] jakirkham commented on #1488
Thanks for filing this issue. Have submitted PR ( https://github.com/rapidsai/cudf/pull/1490 ), which hopefully addresses it.

[2019-04-24 14:41] beckernick commented on #1489
For tracking purposes: https://github.com/rapidsai/custrings/issues/257

[2019-04-24 14:44] jrhemstad commented on #1443
I think this is a solved problem if we allow you to pass in an allocator to `cudf::algorithm` to use for temporary workspace and output allocation (perhaps separate allocators for each? But that's starting to sound cumbersome).

[2019-04-24 15:39] #1488 closed

[2019-04-24 16:09] eyalroz commented on #1443
@felipeblazing

I'm not sure what Olivier's answer would be, but most (all?) of libcudf is oblivious to the existence of chunks. That is currently - to my knowledge - a non-consideration for the design of the column abstraction. If I am mistaken, someone please correct me on this point.

[2019-04-24 16:12] jrhemstad commented on #1443
Agreed, chunked columns are outside the scope of this initial conversation.

[2019-04-24 17:02] OlivierNV commented on #1443
Yes, I wasn't suggesting chunking columns, only to store the schema information at a higher level (and column name can really be considered as part of the schema information).

[2019-04-24 18:33] beckernick opened #2276 "[FEA] Support cumulative aggregation operations"
Currently, dask-cudf cannot support cumulative aggregation operations on dataframes of more than one partition. This is caused by upstream dask's usage of groupby.last() and hard-coding to pandas for aggregating across partitions. Creating this issue for tracking purposes.

[code]

[2019-04-24 18:58] beckernick opened #1494 "[BUG] negative indexing selection fails in columns containing nulls"
**Describe the bug**
Negative index selection fails in columns containing nulls (not just through iloc). It fails whether or not the index value is "before" or "after" the null.

[code]

[2019-04-24 19:30] felipeblazing commented on #1443
```cudf::column output = cudf::algorithm( input..., allocator );```
What if there are multiple outputs and we want each output to use its own allocator and have temp space use an allocator that we use for temporary work space?

[2019-04-24 19:37] felipeblazing commented on #1443
What are the concerns that one might have if we said we can always initialize a gdf_column with a custom allocator as well so that if it needs to be resized we can do that ourselves. we could even have something like a cudf::allocation object that we pass around with smart pointers.

[2019-04-24 19:48] williamBlazing commented on #1443
I little late to the party but my two cents:
**Pain Points:**
1. Always dealing with raw pointers
2. Manually managing allocations
3. Manually managing the lifetime of column
4. Requiring so many external utilities to deal with type-erasure or the bitmasks
5. Not having to allocate external to all the functions (or most functions) would be nice
6. Making it easier to deal with GDF_STRING and GDF_S

[2019-04-24 19:48] jrhemstad commented on #1443
That seems awfully contrived. Yes, you lose some control when the algorithm allocates the outputs, but you gain a lot more than you lose (safety, delayed evaluation, etc.).

Like I said, we _could_ have separate allocators for outputs vs. temporary workspace.

I don't quite follow. I'm thinking `cudf::column` design will accept an `allocator` argument such that you can allocate it however you want

[2019-04-24 20:19] beckernick commented on #976
It would also be good (for downstream usage and pandas API compatibility) to expose this functionality as a top level function. `isna` and `isnull` can be access via `pd.isnull` and `pd.isna`.

[2019-04-24 21:51] beckernick commented on #976
Lack of the `isnull` method is now partially blocking a dask change to permit cumulative aggregation operations in dask-cudf

[2019-04-24 21:53] beckernick opened #1496 "[FEA] Implement Series.notna method"
We should implement the `notna` method for Series, analogous to pandas.

**Additional context**
#976 is related. This also is partially blocking a solution to allow cumulative aggregation operations in dask-cudf. dask/dask#4732

[2019-04-24 21:55] randerzander commented on #976
@dillon-cullinan are you able to tackle isnull/isna as part of #1126?

@beckernick can you confirm if we need to add special logic for handling strings too?

[2019-04-24 21:59] beckernick commented on #976
In terms of blocking cumulative aggregations, since they are are only operating on numeric columns these methods could be implemented at the series level and raise exceptions if the column is a StringColumn.

In general, I think we would need different logic than the work in #1126 as the StringColumns won't be understood by the numba kernel to check the validity mask in that PR.

[2019-04-24 23:53] beckernick commented on #976
As an update, this specific issue is not necessarily blocking the dask functionality. Either `isnull` or `notna` methods (and top-level functions) would suffice as long as `isnull` could be used with the negation operator such as `ser[~ser.isnull()]`.

[2019-04-25 03:01] ayushdg opened #1499 "[BUG] Read_parquet not working with spark timestamp type in parquet file"
**Describe the bug**
Reading a parquet file results in error.

**Steps/Code to reproduce bug**
[code]
Output:
[code]

Also when trying to read a non existent file:
[code]
Output
[code]
**Expected behavior**
File gets read if valid. If filename is invalid, the proper error gets propagated.
**Environment details (please complete the following information):**
 - Method of cuDF install: From source

[2019-04-25 05:16] harrism commented on #1384
@jrhemstad since you wrote these tests, what do you think of this solution?

[2019-04-25 06:31] #1485 closed

[2019-04-25 09:57] eyalroz commented on #1443
I would again like to remind us that the result of this discussion is a column abstraction, not a single-leap redesign of the cudf API. The abstraction should _support_ the way you (or me, or whoever is making a comment) wants to have allocations work, and not necessarily, or not at all, force this functionality or implement it through methods of the column classes.

Having said that...

@williamB

[2019-04-25 11:36] joker2017 opened #1500 "A don't install in google colab[BUG]"
**Describe the bug**
I can not install google colab(https://colab.research.google.com). Writes OSError: cannot load library 'librmm.so': librmm.so: cannot be shared file or directory.

GPU Tesla T4
Python 3.6.7 (default, Oct 22 2018, 11:32:17)
Cuda compilation tools, release 10.0, V10.0.130

[2019-04-25 12:17] revans2 commented on #1443
I agree philosophically that columns should be immutable once built, but at what point is a column done being built?

We have several use cases in real-world processing where we want to concatenate multiple columns together.  Coalescing batches into a properly sized one after, a filter or a distributed shuffle really need this. Even a union of more than one table would need this to be efficient.

[2019-04-25 12:52] jrhemstad commented on #1443
I assume you're suggesting passing an allocator as a template argument. The biggest disadvantage is that it precludes stateful allocators, specifically, allocators that use a CUDA stream.

[2019-04-25 14:05] eyalroz commented on #1443
No, that's not what I meant. While `std::make_unique()` only takes a size, that doesn't mean we would do exactly the same thing. After all, even CUDA unique pointers [take an extra argument for allocation](https://codedocs.xyz/eyalroz/cuda-api-wrappers/unique__ptr_8hpp.html).

[2019-04-25 14:23] eyalroz commented on #1443
While it's true we haven't defined that anywhere, I can think of two intuitive answers:

1. You only construct a cudf::column using already-generated data. No such thing as passing an existing column in order to write to it. (If we drop the out-parameter convention for libcudf API functions, that may be workable).
2. The function that constructs a cudf::column instance is allowed to mutate the dev

[2019-04-25 14:50] randyzwitch commented on #140
@kkraus14 I just changed the title of this issue to include other known types to not work. I wasn't able to figure out `BOOL` or `TIMESTAMP 64-bits`, I'll try and hack on `DATE32` and `TIME32` and see what happens.

[2019-04-25 16:03] revans2 commented on #1443
I think immutable data is important. But forcing it in all situations can be problematic for some optimizations.

The use cases I am looking at are mostly around distributed systems like dask or spark, or for cases where not all of the data fits into the memory of the device. For filter if not all of the data fits in memory prior to the filter we may be able to do it post filter, so we could load

[2019-04-25 16:47] daxiongshu opened #1501 "[FEA] Apply functions to columns independently in parallel."
**Is your feature request related to a problem? Please describe.**
For the dataset with many uncorrelated columns, we want to transform each column independently in parallel. An example is as follows:
[code]
**Describe the solution you'd like**
Apply the same transform function to a group of columns in parallel, ideally through an API call directly supported by cudf.

**Additional context**
An exa

[2019-04-25 16:55] jrhemstad commented on #1501
Once libcudf APIs are updated to expose streams via external APIs, I'd hope this should be straightforward from the Python side to identify that these column-wise operations can be done independently and execute them on separate streams.

See https://github.com/rapidsai/cudf/issues/925

[2019-04-25 17:55] randerzander commented on #1499
@ayushdg can you create a more specific reproducible example?

Perhaps include creating an example Parquet file with dummy data

[2019-04-25 18:13] j-ieong commented on #1499
We typically get this error with unsupported or missing Parquet to cuDF type mappings.

Do you know what dtypes are in the file? Also, please include small repro file as suggested.

[2019-04-25 18:42] eyalroz commented on #1443
I never said anything about what Dask or Spark might do, I was only referring to libcudf - which is unaware of the wider context of execution AFAIK.

libcudf does not itself handle such situations. It seems (and correct me if I'm wrong) that the design choice is to break these cases up into units of work which can fit on the device, and keep libcudf unaware of that decomposition.

I don't see how

[2019-04-25 18:47] ayushdg opened #1502 "[BUG] Read parquet reads strings as ints"
**Describe the bug**
cudf `read_parquet` method reads strings in as integers

**Steps/Code to reproduce bug**
[code]

**Expected behavior**

[code]

**Environment details (please complete the following information):**
 - From source

[2019-04-25 18:50] ayushdg commented on #1499
@j-ieong The data I have when read by pandas consists of strings, datetime64[ns] and bools. I'm working on reproducing it with dummy data and sharing the example soon.

[2019-04-25 19:14] revans2 commented on #1443
Cudf does not have to know what dask or spark is doing specifically, but it should provide common functionality to those system. Cudf already does some of this with partition, which has really no value outside of a system like these.

With that there are optimizations that making the columns immutable at all times prevents. If all data has to be immutable once it hits cudf that is fine, but as the

[2019-04-25 19:18] ayushdg commented on #1502
To add to the example above, bools get read as int8. Which is not as big an issue as we can easily go back from int to bool.
[code]
[code]

[2019-04-25 19:31] eyalroz commented on #1443
The thing is, libcudf doesn't provide _all_ possible common functionality, and AFAIK it's not supposed to. Granted, though, the exact scope of libcudf doesn't seem to be put in writing well enough (certainly not in  the repository's `README.md`...)

Also, again, can you be specific about concrete optimization opportunities which will be missed due to columns being immutable after construction?

[2019-04-25 19:53] beckernick opened #1504 "[FEA] Support element-wise not operator (~) on Bool columns"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to call `~series` on Boolean series, like in pandas.

**Describe the solution you'd like**
[code]

[2019-04-25 19:58] j-ieong commented on #1502
We currently map byte arrays (like char* strings) to GDF_CATEGORY, by default like CSV Reader. GDF_CATEGORY is basically a 32-bit hash of the string so that's why you see it as an int. We can add an option to map them to GDF_STRING columns instead.

As for the booleans, cuDF doesn't currently have a native bool type so it's currently GDF_INT8. Once PR #1142 gets merged, then we can map to the new

[2019-04-25 20:15] ayushdg commented on #1502
@j-ieong Thanks for the update! I don't know when the csv reader things might have gotten updated but I think they support strings now.

[code]
[code]
[code]

Yeah once #1142 gets merged all the readers can handle booleans using this type :)

[2019-04-25 23:43] randerzander commented on #1502
Now that strings are supported in cuDF, we should read them as GDF_STRING by default.

cudf.read_csv already does this, and now only hashes if you specify 'category' as a column's dtype.

[2019-04-25 23:46] EvenOldridge opened #1505 "[BUG] gdf.loc[:, col_name] returns a key error with the first char of col_name"
I'm trying to slice a  cuDF dataframe to pull out a single column from the mortgage dataset.  Data has been loaded into the dataframe via from_parquet.

path contains a single parquet from the intermediate output of: https://github.com/rapidsai/notebooks/blob/b2ff2b82af22b66ff9f90351bef8aa4560e57ac0/mortgage/E2E_Deep_Learning.ipynb

**Steps/Code to reproduce bug**
gdf = cudf.read_parquet(path)
col

[2019-04-26 00:00] ayushdg commented on #1499
I was able to narrow down the issue to `datetime/timestamp` types being written by spark to parquet

Here is a reproducible example:
[code]
[code]

Note: Could only observe the issue with spark `timestamp` type being written to parquet. Strings and booleans worked as expected.

Note: `datetimes` written by pandas and read by cudf works perfectly

Pandas is able to interpret this spark timestamp ob

[2019-04-26 01:07] j-ieong commented on #1499
Ah I see. Parquet is currently only handling timestamp[ms] and not timestamp[ns]. I can add this mapping on the Parquet reader.

[2019-04-26 01:48] j-ieong commented on #1502
Ah yes, I forgot we changed the default a while back. PR #1507 is simple enough that hopefully it'll merge soon.

[2019-04-26 04:54] OlivierNV commented on #1499
Could this be using the INT96 type ? (it really would help to get the actual file)

[2019-04-26 06:09] harrism commented on #1504
Should be supported on C++ side if not now than after #1142.

[2019-04-26 13:32] beckernick opened #3103 "[FEA] implement size method as a class property in Python layer"
For consistency with cuDF, from a cudf Series I'd like to be able to call `series.data.size` to get the size of the underlying array. Currently, this works in cuDF because Buffer objects have a `size` attribute. The underlying structure for cudf StringColumns is an nvstrings instance rather than a Buffer, which has a `size` method requiring explicit calling to get the underlying array's size.

I'd

[2019-04-26 18:00] ayushdg commented on #1499
@j-ieong I'm not sure if timestamp[ms] vs [ns] is the core issue (even though it would be great if we support [ns] in the future sometime).
[code]

This works just fine. Cudf can still read datetime objects just goes to the precision of ms instead of ns unlike pandas.

The issue is when spark writes the same thing to parquet it probably assigns the column metadata with type called `timestamp`. Pan

[2019-04-26 18:09] daxiongshu opened #1509 "[BUG] Error when groupy-agg a single column dataframe"
**Describe the bug**
cudf aborts when apply groupy-agg operation to a single column dataframe.

**Steps/Code to reproduce bug**
[code]
Error message
[code]

**Expected behavior**
Should work as pandas.

**Environment details (please complete the following information):**
 - Environment location: Bare-metal
 - Method of cuDF install: conda
   - cudf 0.6.1+0.gbeb4ef3.dirty

[2019-04-26 18:09] ayushdg commented on #1499
@OlivierNV The example snippets I shared should be sufficient to reproduce the issue. I'm not too sure if spark uses INT96 or something of that sort, but it should be reproducible with any timestamp column from spark -> parquet -> cudf.

I have attached one of the sample parquet files written by spark in the example above in case that helps.
[part-00000-3b44213e-1dbf-4bf1-93c8-7a18a50ac431-c000.sn

[2019-04-26 22:07] OlivierNV commented on #1499
I can confirm it's using the INT96 type. I'll work on getting a translation from the 96-bit spark timestamp to DATE64 or TIMESTAMP GDF type.

[2019-04-26 22:17] ayushdg commented on #1499
@OlivierNV Interesting! Thank you for the update

[2019-04-26 22:26] j-ieong commented on #1499
Yeah. PyArrow also had to add a special option to write Spark-compatible Parquet files as [use_deprecated_int96_timestamps](https://arrow.apache.org/docs/python/generated/pyarrow.parquet.ParquetWriter.html), that's enabled when writing as spark flavor.

I think in the Parquet file, it should be stored as simply INT96 physical type, with no logical type. As cuDF doesn't have a INT96 or larger dtype

[2019-04-26 22:34] OlivierNV commented on #1499
I vote for always translating INT96 to 64-bit timestamp, since the parquet docs clearly document how this type is deprecated and was exclusively used for timestamps. Unlike the name would suggest, it's not like it's more precision or anything, it's just an inefficient encoding of date/time using 3 separate int32 values.

[2019-04-27 14:18] beckernick opened #1513 "[BUG] Single column slicing with loc returns a DataFrame not a Series"
**Describe the bug**
Single column slicing with `loc` returns a DataFrame not a Series.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
I expect this to be consistent with pandas and return a Series, not a DataFrame.

**Additional context**
This bug partially blocks cumulative aggregation operations with dask-cudf.

[2019-04-27 14:36] beckernick commented on #1513
This is the [line of code](https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/dataframe.py#L2762). We only create a Series if the row_label is not None, which only occurs rather than also if a slice occurs. Our return type should probably not based on whether we take a single row or a slice of rows, but based on the two-way interaction of row and column indexing. Something like

[2019-04-27 17:26] beckernick commented on #1505
[This](https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/dataframe.py#L2782) is the line that causes this bug. It implicitly assumes col_slice is a list, when it can be a string. Looping over a string causes the character behavior. This is also a partial blocker for cumulative aggregations in dask-cudf

[2019-04-28 06:41] ksangeek commented on #1205
I have put more detailed in here - https://github.com/rapidsai/notebooks/issues/107 on how I was able to recreate this consistently. Maybe I should have put the details in here as it looks more like a `cuDF` or `cuda` issue and not really a problem with the contents of the notebook!

[2019-04-28 16:55] beckernick opened #1514 "[FEA] Implement Series.where"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to use `Series.where(...)` in the same way I would do in pandas. This partially blocks dask `cummin` and `cummax` operations (but not sum and product). The API docs are [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.where.html). `where` is essentially an API for replacing values

[2019-04-28 19:21] beckernick opened #1515 "[FEA] Series and DataFrame ndim"
**Is your feature request related to a problem? Please describe.**
We should implement `ndim` for dataframes and series. This can be trivially implemented as a property that returns 2 if a dataframe and 1 if a series.

[2019-04-28 23:14] harrism commented on #1205
This issue report was always too vague to start with. There are many ways you could get a CUDA error, so best to create a new issue with specific repro instructions.

[2019-04-29 01:15] harrism commented on #1221
No response, closing.

[2019-04-29 01:15] #1221 closed

[2019-04-29 01:17] harrism commented on #1315
Why not just use pytorch for this? Seems to be more of a tensor operation than a dataframe operation.

[2019-04-29 01:18] harrism commented on #742
No response, closing.

[2019-04-29 01:18] #742 closed

[2019-04-29 01:29] harrism opened #1517 "[FEA] Logical `and` (&&) and `or` (||) support."
**Is your feature request related to a problem? Please describe.**
Add C++ `&&` and `||` binary operators to libcudf, and Python `and` and `or` binary operators to cudf

**Describe the solution you'd like**
Support performing logical operators between Series / columns

**Additional context**
#1142 adds a first-class Boolean type, so this functionality makes more sense now.

#1071 requested binary

[2019-04-29 02:29] harrism commented on #1398
I also would like the fix for this issue to enable atomics for cudf::bool8. I think doing that is outside the scope of PR #1142 .

[2019-04-29 03:26] harrism opened #1518 "[BUG] GDF_BOOL8 is not tested for all algorithms"
**Describe the bug**
The new GDF_BOOL8 data type was added to libcudf in PR #1142, but adding gtests (and pytests) and fixing failures for all algorithms using that type has not been finished.

The following do not test  `GDF_BOOL8` / `cudf::bool8`:

- [x] Device Atomics
- [x] unary operations
- [x] binary operations,
- [x] ~order_by~ sorted_order/is_sorted/sort_by_key
- [x] group_by
- [ ] join
-

[2019-04-29 03:36] harrism opened #1519 "[FEA] Add GDF_BOOL8 support to CSV, Parquet and other readers/writers"
**Is your feature request related to a problem? Please describe.**
With the addition of GDF_BOOL8 (and underlying cudf::bool8 type wrapper) in #1142, the file readers/writers need to be updated to support this type.

- [ ] CSV reader
- [ ] CSV writer
- [ ] Parquet reader
- [ ] ORC reader
- [ ] JSON-lines reader
- [ ] tests for all of the above

**Additional context**

#1518 is a summary issue that

[2019-04-29 04:09] #618 closed

[2019-04-29 15:51] OlivierNV commented on #1499
@ayushdg Can I use the file you attached as part of automated tests ?

[2019-04-29 17:18] awthomp commented on #1459
This is impeding my work with [Whitewater](https://github.com/awthomp/whitewater) where I need to handle arbitrary data sizes.

The current method of data handling is to expect a csv file of data with the first N-1 columns consisting of our feature X matrix and the last column consisting of our 'y' observation vector, e.g.

[code]

Where:
[code]

iloc is currently unable to handle:
1. grabbing col

[2019-04-29 17:19] awthomp commented on #1494
This is impeding my work with [Whitewater](https://github.com/awthomp/whitewater) where I need to handle arbitrary data sizes.

The current method of data handling is to expect a csv file of data with the first N-1 columns consisting of our feature X matrix and the last column consisting of our 'y' observation vector, e.g.

[code]

Where:
[code]

iloc is currently unable to handle:
1. grabbing col

[2019-04-29 17:49] ayushdg commented on #1499
@OlivierNV Sure!

[2019-04-29 17:52] #1515 closed

[2019-04-29 19:07] jrhemstad commented on #540
See https://engineering.mongodb.com/post/succeeding-with-clangformat-part-1-pitfalls-and-planning for a very thorough article series on adding `clang-format` to a large, pre-existing code base.

[2019-04-29 20:15] VibhuJawa commented on #1448
Closed by https://github.com/rapidsai/cudf/pull/1510

[2019-04-29 20:15] #1448 closed

[2019-04-29 21:04] #1502 closed

[2019-04-29 21:07] nagamanikandank opened #1528 "OSError: cannot load library '/usr/local/lib/python3.6/dist-packages/librmm.so': libcuda.so.1: cannot open shared object file: No such file or directory"
I am getting an error `OSError: cannot load library '/usr/local/lib/python3.6/dist-packages/librmm.so': libcuda.so.1: cannot open shared object file: No such file or directory` when I `import cudf` in my code.

These are the steps I followed

1. Create a container using `nvidia/cuda:10.0-cudnn7-devel`

2. Installed `Python 3.6` and `pip` in that container.

3. Installed cudf using following two co

[2019-04-29 21:12] #667 closed

[2019-04-29 22:25] OlivierNV commented on #1499
Ok, PR #1532 should resolve this. It's converted to 1ms DATE64 type, to match pandas behavior.

[2019-04-29 22:50] taureandyernv opened #1928 "[DOC] Groupby.std() is a currently non existent function that needs to be removed from Docs"
verified by Dante, Paul and others, Groupby.std() does not exist.  We should remove that from our official docs to avoid confusion and distrust of our docs

Location: https://rapidsai.github.io/projects/cudf/en/0.6.0/api.html#cudf.groupby.legacy_groupby.Groupby.std

[2019-04-29 22:54] taureandyernv opened #1534 "[FEA]Groupby.std() should be implemented"
Although mentioned in the docs, Groupyby.std() is not implemented. we should create the function of this widely used capability, as this was part of the pygdf and h20ai capability set.

[2019-04-29 23:15] harrism commented on #1342
We are in burn down so can't accept new PRs for 0.7. Moving to 0.8.

[2019-04-29 23:15] harrism commented on #1344
We are in burn down so can't accept new PRs for 0.7. Moving to 0.8.

[2019-04-29 23:17] harrism commented on #1352
We are in burn down so can't accept new PRs for 0.7. Moving to 0.8.

[2019-04-30 00:18] ayushdg commented on #1528
@nagamanikandank Could you share the command you use to start the docker container?

[2019-04-30 03:17] #1442 closed

[2019-04-30 04:54] j-ieong commented on #1297
@kkraus14  @revans2 We now free the column names in the Cython `csv.pyx` code.

[2019-04-30 09:21] ayushdg opened #1541 "[FEA] Allow cython bindings create column view with type GDF_STRING"
**Is your feature request related to a problem? Please describe.**
Cython bindings always interpret strings as `GDF_STRING_CATEGORY` when creating column view.

**Describe the solution you'd like**
Allow Cython bindings to create a column view for dtype `GDF_STRING`

**Additional context**
https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/bindings/cudf_cpp.pyx#L34

[2019-04-30 12:35] nagamanikandank commented on #1528
@ayushdg . This is the command I used to start the container
`nvidia-docker run -i -t --name TestRapids nvidia/cuda:10.0-cudnn7-devel`

[2019-04-30 13:12] #1384 closed

[2019-04-30 14:02] pradghos opened #1544 "[BUG] TYPES_TEST failure with gcc7.3"
During Build, I have observed build failure with commit - `c81152e424871b5f00a777d6bca6ccde3301f536`
Build log snippet:
[code]
I have added `-Wno-narrowing` in `cpp/CMakeLists.txt` and able to build with the change. However I can see test failures -

[code]

Detailed Log for the failures-

[code]
Please suggest if this is already a known issue. Thank you !

[2019-04-30 14:15] jrhemstad commented on #1544
This looks like a legitimate issue.

`cudf::bool8 w4{-42};` is rightfully complaining about trying to initialize with a larger type (narrowing conversion). We treat warnings as errors, so I'm not sure how that warning slipped past CI.

This could be fixed a few ways:
`cudf::bool8 w4 = -42; // cast is implicit`
`cudf::bool8 w4{static_cast<gdf_bool8>(-42)}; // cast is explicit`

However, none of tha

[2019-04-30 16:26] pradghos commented on #1544
I can see another warning during `work/cpp/src/utilities/device_atomics.cuh(955): warning: invalid narrowing conversion from "signed char" to "char"` But its not stopping us.

[2019-04-30 17:35] pradghos opened #1545 "[BUG] test_reductions.py test case failures"
**Describe the bug**
test_reductions.py test case failures in cuDF Build with commit level: `2cf8a535831dc555020f9668f3b8fd1dc8fb4dcb.`

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
test_reductions.py tests cases should work fine.

**Environment details (please complete the following information):**
cuDF build on commit:`2cf8a535831dc555020f9668f3b8fd1dc8fb4dcb.` using `GCC 7.3.0`

[2019-04-30 17:36] pradghos commented on #1545
Snippet of Detailed log :

[code]

[2019-04-30 18:11] mjsamoht opened #1546 "[FEA] GPU accelerated JSON Lines reader"
Add GPU accelerated JSON Lines reader in cuIO.

[2019-04-30 18:17] j-ieong commented on #1156
@miguelangel you can try the latest branch-0.7 code.

This should be fixed as a result of moving the CSV reader to Cython from CFFI; the column names are now converted to strings before encoding:

[code]

[2019-04-30 18:36] pradghos commented on #1544
@jrhemstad Thanks for your suggestion - I am able to build successfully.

However, test case is still failing.
[code]
Code change:-
[code]
is there any PR going to include this change or I will create a separate PR to update fix. Please let me know. Thanks!

[2019-04-30 18:42] pradghos commented on #1544
Summery of the failure for `TYPES_TEST`
[code]

[2019-04-30 18:55] miguelangel commented on #1156
Hi @j-ieong,

I have just tested with the latest cuDF nightly-built.

I can confirm that the runtime error does not happen anymore. Nevertheless, by converting the column number to string format, a difference between Pandas behaviour is added.

Please, find below how to reproduce it:

![image](https://user-images.githubusercontent.com/26169771/56986085-2ad87b00-6b8a-11e9-9996-e41bfa1ea680.png)

I

[2019-04-30 19:12] j-ieong commented on #1156
Hrmm, I think technically it's a different bug now but we can re-use this bug rather than close and open a new one.

This should be a simple fix to keep column names as integral when assigning to the column/dataframe.

[2019-04-30 19:24] miguelangel commented on #1156
Hi @j-ieong,

Please, notice that in Pandas, when column names are integer values, then accessing by integer positions, i.e. pdf[1], will be restricted to the integer values assigned to the columns.

In my previous example, pdf[1] will fail when assigning column names [3, 4].

Hope it helps.

Regards,
Miguel

[2019-04-30 19:28] #1499 closed

[2019-04-30 19:35] j-ieong commented on #1156
Yeah, that's what I would expect as well. It would only return columns that exist within the dataframe, regardless of the type.

The bug in cudf is that the column names are always a `string` type.

[2019-04-30 19:46] jrhemstad commented on #1544
Hopefully @harrism will be able to take a look at why these tests are failing and include the fix for the narrowing warning along with whatever is required to fix the test failures.

[2019-04-30 21:14] jrhemstad opened #1550 "[FEA] Remove redundant/unused code"
**Is your feature request related to a problem? Please describe.**

There are several libcudf APIs that are completely unused and redundant that should be removed to reduce maintenance of the codebase.

- `gdf_hash_columns`
   - [`gdf_hash_columns`'s](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/hash/hash_ops.cu#L79) functionality is wholly a subset of the functionality offered by [`gd

[2019-04-30 22:07] mjsamoht commented on #1415
Moving out for remaining part.

[2019-04-30 22:25] ayushdg opened #1552 "[FEA] Support groupby aggregations when grouped on string columns"
[code]

Output
[code]

[2019-04-30 22:28] kkraus14 commented on #1552
If you pass `as_index=False` this will work as expected, albeit without the index. String indexing is coming as part of #827.

[2019-04-30 22:32] ayushdg commented on #1552
Thanks! @kkraus14

[2019-05-01 00:25] harrism commented on #1544
Hi @pradghos thanks for the report. I'm working on this, since I wrote the test recently that is failing. I need to fire up my Ubuntu 18 machine to test the failures. I'm not able to repro on Ubuntu 16 with g++ 5.4

[2019-05-01 02:57] harrism commented on #1544
@pradghos I'm unable to reproduce this on an Intel CPU with Ubuntu 18.04 GCC 7.4.

It compiles fine as-is, and the tests all pass. Suspect this is an issue on Power only?

[2019-05-01 03:45] pradghos commented on #1544
@harrism : Thanks for looking into the issue. I will try to take look further. is this feature and test case added recently. could you please point me the PR or commit id? That would be great.

[2019-05-01 13:22] jrhemstad commented on #1544
The particular tests that are failing for you have existed for a while, but they were modified slightly in 0ba835b0b73cbe3284a24dfc3d7fca9691004e7b which was introduced by https://github.com/rapidsai/cudf/pull/1142

Specifically:

[code]
was changed to:
[code]

The purpose of these tests is verify the correct functionality of our `wrapper` types. See https://github.com/rapidsai/cudf/blob/branch-0.

[2019-05-01 15:10] shwina opened #1558 "[FEA] Transposing a DataFrame with MultiIndex"
This issue is a way for us to keep track of improvements and/or additions that can be made to MultiIndex support in cudf. @thomcom

Currently, transposing a DataFrame with MultiIndex doesn't match Pandas' behaviour:

[code]

[2019-05-01 15:46] beckernick opened #1560 "[BUG] replace fails silently on columns with nulls"
**Describe the bug**
Series.replace fails silently on columns with null values

[code]
[code]

[2019-05-01 16:53] shwina opened #1561 "[BUG] `.columns` property of DataFrame with MultiIndex column should return a MultiIndex object"
This issue is a way for us to keep track of improvements and/or additions that can be made to MultiIndex support in cudf. @thomcom

Accessing the `.columns` property of a "MultiColumn" DataFrame constructed with `from_pandas` currently returns a `pandas.core.indexes.multi.MultiIndex` instead of a `cudf.dataframe.multiindex.MultiIndex` object:

[code]

The `.index` property is fine:

[code]

But th

[2019-05-01 17:00] thomcom commented on #1561
Great catch! I overlooked this entirely and definitely want to put it into 0.7, I'll add it to the core.

[2019-05-01 17:11] shwina opened #1562 "[BUG] Printing DataFrame with MultiIndex columns fails"
This issue is a way for us to keep track of improvements and/or additions that can be made to MultiIndex support in cudf. @thomcom

When trying to print a "MultiColumn" DataFrame, the user sees a different error message from when trying to print a "MultiIndex" DataFrame.

The following is a reasonable failure:

[code]

While this is less so - we should provide a similar error message:

[code]

[2019-05-01 18:36] #1156 closed

[2019-05-01 18:39] #1350 closed

[2019-05-01 19:31] beckernick commented on #1514
This could largely be done in the Python layer, but will at least depend on libcuDF for fixes to using Boolean indexing / replace with null values in columns. Something like this would be sufficient for `cummin`/`cummax` if we can close #1560 (though that issue may be dependent on the broader null handling improvement).

[code]

[2019-05-01 20:22] randerzander commented on #1203
Closing, as this is resolved in nightly containers per @kenhester 's offline comments.

Please re-open if this is actually still a problem.

[2019-05-01 20:22] #1203 closed

[2019-05-01 20:43] beckernick opened #1564 "[FEA] Support *logical* boolean operators"
**Describe the bug**
Support bitwise operations between Boolean columns. This is necessary downstream in dask-cudf for cummin and cummax.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud

[2019-05-01 21:59] revans2 opened #1566 "[DOC] Clarification on exceptions, return codes, and recoverability"
Not sure if this is a doc issue, a design bug, or what exactly.  I am trying to add java bindings to cudf and part of this is to translate the various errors/exceptions that can be returned or thrown into corresponding java exceptions.

I started out with exceptions that follow the various error codes that can be returned.
`cudaError_t` for cuda errors, `rmmError_t` for rmm errors, and `gdf_error`

[2019-05-01 22:05] revans2 opened #1567 "[BUG] table does not copy/clear array of cudf pointers passed in."
**Describe the bug**
cudf::table takes as input an array of columns, but it does not make a copy of this array, nor does it have a destructor to free the array.  This means that if I want to create a table that has a life time longer than a single method call I either need to do some ugliness and reach into hidden parts of table to free the array

[code]

or I have to keep a pointer to that array

[2019-05-01 22:56] ayushdg opened #1570 "[FEA] Multi-Column groupby aggregations when grouping by string columns (multi-index)"
This issue is a way to keep track of improvements and/or additions that can be made to MultiIndex support in cudf. @thomcom

When trying attempting aggregations on multi-column groupby where one of the columns being grouped by is a string column, the operation fails.

[code]
[code]

[2019-05-02 00:26] harrism commented on #1564
This may have worked before #1142, but I'm not sure. Perhaps @devavret can comment. Let's look at fixing this for 0.8

[2019-05-02 00:30] beckernick commented on #1564
Thanks Mark. As a note, I was built from the following when I tried to use this:

[code]

[2019-05-02 00:52] j-ieong opened #1572 "[BUG] Segfault in Parquet reader when running Parquet pytests"
**Describe the bug**
When building a debug build of libcudf locally and running the Parquet pytests, there is a segfault when attempting to open the input source.

**Steps/Code to reproduce bug**
1. Build cudf locally, with CMAKE_BUILD_TYPE=Debug, along with CFFI and Cython bindings
2. Run Parquet pytests
3. Observe segfault when running the first test that uses the `cudf` backend

**Expected beha

[2019-05-02 01:03] thomcom commented on #1570
@mrocklin this feature is important for dask-cudf in 0.7 isn't it?

[2019-05-02 01:14] j-ieong opened #1574 "[FEA] Consolidate input source for CSV/JSON/Parquet/ORC and other readers"
**Is your feature request related to a problem? Please describe.**
Currently, most of the readers implement different ways of reading either files or buffers or Arrow sources.

**Describe the solution you'd like**
All common interface that is used by all readers to get source data, but that is flexible enough to handle various source types (file, memory, Arrow, GPU-DIRECT, etc.)

**Describe altern

[2019-05-02 05:44] pradghos commented on #1545
is there any recommended `numpy version` to be used for `cuDF 0.7.0*` ? Thanks!

[2019-05-02 08:02] randerzander opened #1575 "[BUG] cudf.read_csv: KeyError: 8"
While trying to read the following CSV snippet throws an exception in the Cython bindings.

It looks like dtype inference fails and throws an exception when there is a blank line between the header and first data rows.

sample.csv:
[code]

Repro:
[code]

Result for `rapidsai-nightly: 0.7.0.dev0, py37_1113, rapidsai-nightly/label/cuda10.0
[code]

Result from tip of branch-0.7:
[code]

[2019-05-02 11:17] gravitino opened #2277 "dask_cudf.read_csv has no docstring"
dask_cudf.read_csv has no docstring. At least one should state that you forward the arguments to cudf.read_csv.

[2019-05-02 13:07] junuk861 opened #1576 "[BUG] Warning: you have pip-installed dependencies in your environment file, but you do not list pip itself as one of your conda dependencies."
**Describe the bug**
Error message
"Warning: you have pip-installed dependencies in your environment file, but you do not list pip itself as one of your conda dependencies."

could you help me figure out this issue?

[2019-05-02 13:08] beckernick opened #1577 "[FEA] Implement Series isin"
**Is your feature request related to a problem? Please describe.**
We should implement the `isin` method for Series (and eventually DataFrames). This [method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html) returns "a boolean Series showing whether each element in the Series matches an element in the passed sequence of values exactly." This is very useful for fi

[2019-05-02 13:35] shwina opened #1578 "[BUG] MultiIndex type not preserved when converting MultiColumn DF from Pandas to cuDF and back"
This issue is a way for us to keep track of improvements and/or additions that can be made to MultiIndex support in cudf. @thomcom

When doing a Pandas->cuDF->Pandas roundtrip with MultiColumn dataframes, the `MultiIndex` type of the columns is not preserved:

[code]

[2019-05-02 13:36] #976 closed

[2019-05-02 13:36] #1496 closed

[2019-05-02 13:37] thomcom commented on #1064
No, the right solution is to drop unsupported dtypes during the agg op in accordance with pandas. That's not going to happen for 0.7.

[2019-05-02 13:49] jrhemstad commented on #1567
I'm not 100% sure what the ask is for here.

I originally made `cudf::table` to trivially replace:

`void some_function(gdf_column* cols[], int num_cols)`

with:

`void some_function(cudf::table const& cols)`

As such, `cudf::table` simply holds a single `gdf_column**` double-pointer and doesn't presume to own the `gdf_column*` pointers nor the `gdf_column` objects.

Would you instead prefer that

[2019-05-02 13:54] mrocklin commented on #1570
I don't know.  Can you explain more about why this is important for dask-cudf for 0.7?  Sorry I may be a bit out of it.

[2019-05-02 13:57] thomcom commented on #1570
It is a groupby with a StringColumn - so grouping by strings instead of numeric values. We added strings in 0.6 and better groupby in 0.7, but the StringColumn doesn't have a `unique` method yet, so we can't group by strings. Do you remember if it is important for 0.7?

[2019-05-02 14:00] mrocklin commented on #1570
I genuinely don't recall.  Sorry, I've been out of it handling UCX and other things recently.  I would ask @kkraus14

[2019-05-02 14:04] mrocklin opened #1580 "[FEA] implement astype on Index objects"
There is a new failure in the dask-cudf where we're calling something like the following on a cudf dataframe and it is breaking because `RangeIndex` has no attribute, `astype`:

[code]

Is this easy to add?  In this particular case the type doesn't even change, so it should be a no-op.

[2019-05-02 14:05] mrocklin commented on #1580
Not sure if it's appropriate to put this into the 0.7 release or not.  Will leave that to maintainers if possible.

[2019-05-02 14:14] kkraus14 commented on #1580
This will not make the 0.7 release unfortunately, but we can likely implement it in early 0.8.

[2019-05-02 15:00] revans2 commented on #1567
All I am suggesting is making a copy of the array of pointers.  The issue is that if I allocate the table on the heap.

[code]
and pass that back to the JVM, so we can reuse it for other operations that need a table, I now have to keep track of the array `cols` separately form the pointer to the table.

[2019-05-02 15:14] jrhemstad commented on #1567
Okay, cool. I can definitely do that.

[2019-05-02 15:16] quasiben opened #1581 "[BUG] Incorrect error for missing files with read_orc"
When trying to read a file which doesn't exist `read_orc` currently throws a `NameError`:

[code]

Instead, `read_orc` should throw a `FileNotFoundError` like the following:

[2019-05-02 15:21] quasiben opened #1582 "[BUG] Incorrect read_orc docstring"
The docstring for read_orc has the default engine as `pyarrow`:

https://github.com/rapidsai/cudf/blob/4e63437f7ee1d5da89d7b63efe1984d836abf3fa/python/cudf/utils/ioutils.py#L110-L118

The default is currently `cudf`:

https://github.com/rapidsai/cudf/blob/4e63437f7ee1d5da89d7b63efe1984d836abf3fa/python/cudf/io/orc.py#L13

[2019-05-02 15:34] Msabih opened #1584 "Build Error a pointer to a bound function may only be used to call the function"
I am attempting to build cudf with anaconda, gcc 7, cuda 10.1, cmake 3.12. I cant install through conda as cuda 10.1 is not supported through conda packages.

 The librmm and custrings was compiled successfully however the make of cudf gives an error while building

Is there a way to bypass this error or solve it ?

[2019-05-02 15:43] jrhemstad commented on #1584
Aha, I see the issue. I'm struggling to understand how the code in question _ever_ worked.

[code]

[2019-05-02 15:44] jrhemstad commented on #1584
I'll have a PR with the fix momentarily.

[2019-05-02 15:50] Msabih commented on #1584
I tried the fix, it gave another error

error: no match for 'operator==' (operand types are 'const gdf_data' and 'const gdf_data')
     return (the_scalar.data == rhs.the_scalar.data &&

Anyways, its good that you noticed something wrong so when there is a proper fix, I will apply it asap and try to build.

[2019-05-02 15:54] #862 closed

[2019-05-02 16:18] beckernick opened #3104 "[QST] Should nvstrings.free delete Python reference to object freed from GPU memory"
Currently, `nvstrings.free` will free memory for the nvstrings instance passed to it, but it won't delete the reference to that object in Python. Accessing that reference currently causes a segfault. Should `nvstrings.free` in the Python bindings also delete the Python reference? The reference count in Python is probably not being decremented so garbage collection won't occur.

[code]

[2019-05-02 16:42] jrhemstad commented on #1567
@revans2 see https://github.com/rapidsai/cudf/pull/1585

[2019-05-02 16:43] Msabih commented on #1584
This works

 bool operator==(scalar_wrapper<ScalarType> const& rhs) const {
121     return (the_scalar.data == rhs.data &&
122             the_scalar.dtype == rhs.the_scaler.dtype &&
123             the_scalar.is_valid == rhs.the_scalar.is_valid);
124   }

[2019-05-02 16:47] jrhemstad commented on #1584
This doesn't really make sense either. `rhs` doesn't have a member called `data`. Very confusing.

[2019-05-02 17:04] jrhemstad commented on #1584
@Msabih could you try https://github.com/rapidsai/cudf/pull/1586 and make sure that fixes your problem?

For whatever reason, my build won't reproduce the error you're seeing, even though it most certainly is an error.

[2019-05-02 17:15] quasiben opened #1587 "[BUG] read_orc should accept a dtype spec"
Currently `read_orc` does not allow the user to define a `dtype`.  Defining a `dtype` is very useful and without it, it can lead to a loss of precision in some cases.  I'm seeing this currently where an ORC file has datetimes with a precision of `datetime64[ns]` and the data, after ingestion, is returned with `datetime64[ms]`

[2019-05-02 17:42] j-ieong commented on #1581
Oh yeah, missing `import errno`. I'll add it to the Parquet reader bindings too.

[2019-05-02 17:48] #483 closed

[2019-05-02 17:48] #1337 closed

[2019-05-02 17:55] #672 closed

[2019-05-02 18:08] Msabih commented on #1584
The fix works.

[2019-05-02 18:08] #1584 closed

[2019-05-02 18:17] quasiben commented on #1587
closing -- orc files are self contained and I dont' think they allow of overriding dtype specs like CSVs

[2019-05-02 18:17] #1587 closed

[2019-05-02 18:22] beckernick opened #1592 "[BUG] Loc and iloc do not consistently match pandas"
Behavior of `iloc` and `loc` do not match pandas in a number of situations that limits users and downstream development.

Given the number of relevant issues and the likelihood that many (or all) of them will be tackled at once due to the nature of the code (though perhaps separately for iloc and loc), I'm creating this issue just to track them in a single place:

iloc
- https://github.com/rapidsa

[2019-05-02 18:24] miguelangel opened #1593 "[FEA] cuDF column names stored with different data type compared to Pandas"
**Is your feature request related to a problem? Please describe.**
Hi,

It looks like cuDF always stores column names as strings.

That behaviour is different from Pandas.

Please, find below a picture where it can be easily seen the differences:

![image](https://user-images.githubusercontent.com/26169771/57097552-47a2b900-6d18-11e9-823b-8f7a5d757fcf.png)

**Describe the solution you'd like**
Sam

[2019-05-02 18:33] thomcom commented on #1443
*Pain point*

gdf_columns are specifically that - columns. This makes indexing by rows, a common operation, expensive and meticulous at the python level of cudf. Transpose is now supported, but is an extremely expensive operation. Dozens of Pandas API calls support an `axis` argument, trivially alternating between the index or columns of a Dataframe or Series. It would be nice if the new take on `

[2019-05-02 18:34] j-ieong commented on #1593
Actually, `cudf.read_csv("temp.csv", names=[3, 4])` should work now. `range` should also work.
See [test_csv_reader_column_names](https://github.com/rapidsai/cudf/blob/7fc958c430801efbbf25c71179453f27af2827ca/python/cudf/tests/test_csvreader.py#L913) in the pytests for all the working parameters.

The problem is that mixing of different types or using non-Int and non-String types such as `float` d

[2019-05-02 19:01] #1580 closed

[2019-05-02 19:09] quasiben opened #1594 "[BUG] read_orc with skip_rows or num_rows fails"
read_orc segfaults when defining `num_rows` or `skip_rows`
[code]

[2019-05-02 19:12] quasiben opened #1595 "[BUG] read_orc with `pyarrow` engine fails when casting datetype"
Data can be downloaded here:
https://www.googleapis.com/download/storage/v1/b/anaconda-public-data/o/orc%2FTestOrcFile.testDate1900.orc?generation=1522611448751555&alt=media

[code]

[2019-05-02 19:20] j-ieong commented on #1594
@quasiben Can you attach the sample file? How many rows does the file have? Thanks!

[2019-05-02 19:40] quasiben commented on #1594
@j-ieong apologies.  sample file can be found here:
https://www.googleapis.com/download/storage/v1/b/anaconda-public-data/o/orc%2FTestOrcFile.testDate1900.orc?generation=1522611448751555&alt=media

There are 70000 rows in the file.

[2019-05-02 19:40] miguelangel commented on #1593
Hi @j-ieong,

What you state is completely right, but there is also a difference in usage.

In my example above, I am using integer values only.

In cells #2 and #3 of my example, it can be noticed that cudf produces an error message when trying to access the columns with integer column names.

I would say that this is happening because the columns are always converted to string datatype.

Hope it

[2019-05-02 19:45] j-ieong commented on #1593
@miguelangel,
Do you mean that this still does not work?
[code]
The fix for it was merged in yesterday, hence why the Issue was closed...?

[2019-05-02 20:00] miguelangel commented on #1593
Hi @j-ieong,

Let try with the latest nightly build. I will be back in a few minutes...

[2019-05-02 20:04] miguelangel commented on #1593
Hi @j-ieong,

I will test it when the new nightly build is available (the current one is two days old, and still failing).

I will write back soon.

Regards,
Miguel

[2019-05-02 20:22] eyalroz commented on #1443
@thomcom :  Following your listing of points:
1. Can you explain do you mean by "indexing by rows"? Do you mean access to a tuple - a row of a table - rather to disparate columns?
   Also, as for transposing -  would mean replacing, say, a single column with 1 million elements with 1 million columns with a single element each. Certainly that's not supported... at least not in libcudf :-(
2. I thin

[2019-05-02 20:35] shwina commented on #1592
Thanks for summarizing! Currently looking into some of this and your comments on the respective issues are very useful!

[2019-05-02 20:59] kevingerman commented on #1544
The test fails for me when I try to build CUDF inside of a [nightly devel image](https://hub.docker.com/r/rapidsai/rapidsai-nightly) using a [modified build.sh](https://github.com/kevingerman/cudf/blob/branch-0.7/ci/gpu/build.sh) and environment to work with ASV benchmarking tests.

The simplest reproduction I could come up with...

Inside of `nvidia-docker run -ti rapidsai/rapidsai-nightly:cuda10

[2019-05-02 22:19] #1581 closed

[2019-05-02 22:19] #1582 closed

[2019-05-02 22:35] lucyzhang0106 opened #1597 "[BUG]cudf get different dtype for same column in two files(files generated by machine so have same column type), which make cudf fail to concat two dataframes."
**Describe the bug**
I have hundrands of csv files generated from same program.
When cudf read_csv, it parses one same column to different type in two files.
which makes it fail to concatenate these two  dataframes finally.

**Steps/Code to reproduce bug**

Example code:
test1=cudf.read_csv('ww39.csv')
test2=cudf.read_csv('ww41.csv')
cudf.concat([test1,test2])

It returns error :    **ValueError:

[2019-05-02 22:41] beckernick commented on #1597
@lucyzhang0106 when I create a text file of:

[code]
I see the following:
[code]

Are you able to reproduce your issue (reading the data as a datetime64[ms] dtype) from just the small snippet you've shared?

[2019-05-02 22:44] lucyzhang0106 opened #1598 "[BUG] cudf reports error when csv file is empty"
**Describe the bug**
I have many files generated by program.
Few of them are empty file. File exists in the disk but the size is 5 bytes.
When I do pandas.read_csv, the dataframe will show "empty".
But in cudf, when read_csv, it will reports error "GDFError: GDF_INVALID_API_CALL".

Although I can work around this issue by checking file size first, I think this should be fixed.

**Steps/Code to rep

[2019-05-02 22:52] harrism commented on #1544
@kevingerman did the build fail for you , or just the TYPES_TEST?  I was not able to reproduce the build failure in a fresh build yesterday.  Will try again.

[2019-05-02 22:59] harrism commented on #991
Apply_boolean_mask will not make it into 0.7 so moving this to 0.8.

[2019-05-02 23:32] lucyzhang0106 commented on #1597
cat test.csv
Isat_P3    P/.154/016_SITE_VALUE
-1.116
-1.166
-1.343
-1.365

test=cudf.read_csv('/rapids/data/test.csv')
test.dtypes
Isat_P3    P/.154/016_SITE_VALUE    float64
dtype: object

[2019-05-02 23:40] j-ieong commented on #1598
Yeah, I think we raise an exception on empty file on the latest code. It should be easier to change it to return an empty dataframe to match behavior now that we've moved to Cython and CSV reader uses RAII.

[2019-05-02 23:44] #1572 closed

[2019-05-02 23:47] j-ieong commented on #1597
My feeling is that one of the values is giving a false positive for `datetime` during dtype detection. In the dtype code, we're checking each bucket in sequence and the `datetime` bucket is checked before `float`.

The code should be taking the majority vote of the buckets and using that as the dtype.

[2019-05-03 00:16] ayushdg commented on #1552
Can confirm that this now works with the merging of #1301

[2019-05-03 00:16] #1552 closed

[2019-05-03 00:35] harrism commented on #1443
Actually @eyalroz we DO have `transpose` in libcudf but it's slow for large input columns, for obvious reasons.  In general, @thomcom I think we would love to be able to provide efficient multi-axis indexing, but if you think about it, this is a very hard problem. It's easy in, say tensor libraries because everything in the tensor has the same datatype. But in a typed language, how do you efficien

[2019-05-03 00:37] harrism commented on #1544
After second sed command I get `sed: -e expression #1, char 35: invalid reference \1 on `s' command's RHS`

[2019-05-03 03:29] #1567 closed

[2019-05-03 06:06] harrism commented on #1544
I looked into this. @jrhemstad I'm stumped, can you have look at the following? On the failing test built with GCC 7.x, This is the line that fails, and only for the wrapper types other than cudf::bool8 (e.g. datetime64):

https://github.com/rapidsai/cudf/blob/b4ca36791679554d28830ab2fd15b3a57fea85fd/cpp/tests/types/types_test.cpp#L313

If I remove the `static_cast<UnderlyingType>()`, it passes:

[2019-05-03 06:07] harrism commented on #1346
Moving to 0.8 due to lack of time.

[2019-05-03 06:39] felipeblazing opened #1602 "[BUG] Performance degradation on certain apis"
**Describe the bug**

cudautils.py:122(copy_array)
column.py:480(to_dense_buffer)
column.py:279(to_gpu_array)

These three functions are all operating between 3-6x slower than they were in the previous table release. This is on small dataframes. Have not tested on larger data frames yet.

**Steps/Code to reproduce bug**
Run any operation that uses those apis and compare performance to previous bui

[2019-05-03 08:02] eyalroz opened #1603 "[FEA] Drop gdf_transpose()"
We currently have a `gdf_transpose()` function. This is not a good idea

Letting n be the length of the input column,

1. It replaces O(1) host-side data with O(n) host-side data.
2. It process the O(n) columns serially on the host side (there may be a bit of auto-vectorization, but not much).
3. It creates the false impression that libcudf meaningfully supports two-dimension data structures - whi

[2019-05-03 08:03] eyalroz commented on #1443
Hmm, cognitive dissonance on my part there. Couldn't bring myself to remember something which didn't make sense... #1603 .

[2019-05-03 10:11] lmeyerov commented on #1602
https://colab.research.google.com/drive/1S5UhplicI4gpEIJz0jQdhGd3gyBAYbee

We've seen a few plummet (^^^). Less obvious, if we have a bunch of code and want to hit subsecond, the 5-10ms per-expression overhead of what should be < 1ms calls adds up  real quick. Ex: 50-200 lines of code => 300 expressions => 1-2s. Some commands really stand out: .count(), sort_values(), merge(). Overhead there may b

[2019-05-03 10:35] karthikeyann opened #1605 "[BUG] CSV_TEST fails test gdf_csv_test.SkiprowsNrows"
**Describe the bug**
CSV_TEST fails if 2 users share the same system and one of the users have umask 022

**Steps/Code to reproduce bug**
Run as user1,
umask 022
`cd $CUDF_HOME/cpp/build`
Build and run tests
`make test`

Run as user2,
`cd $CUDF_HOME/cpp/build`
Build and run tests
`make test`

Result:
         18 - CSV_TEST (Failed)
[code]
**Expected behavior**
SkiprowsNrows test should pass in CSV

[2019-05-03 11:52] kevingerman commented on #1544
Apologies for the obscure commands.   Those are pasted from my history.   Probably some cut and paste mangling happened.

First sed command is changing the default conda environment from gdf to rapids

The second sed command is postfixing, rather than prefixing, the PATH with /conda/bin and /USF so that the python used to build cud’s is from the conda env, rather than the default shipped with cond

[2019-05-03 13:31] jrhemstad commented on #1544
This looks totally fine to me.

I don't have the means to look into it further since I can't reproduce the issue.

[2019-05-03 13:46] kevingerman commented on #1544
So if it works for most build configurations (nightly, developer machines...)   It might be that myself and op have an issue in our build environment that is creating the issue.   Though it seems like something else should fail if its a version mismatch in libraries and or tools.

[2019-05-03 14:14] thomcom commented on #1443
Thanks for your response @eyalroz.

1. From the perspective of your average ML developer, accessing a tuple - a row of a table, doesn't have a real distinction from accessing a column. `A.T.T = A` after all, from a math perspective the orientation only matters to determine order of operations. At the user level it would be nice to have the ability to treat rows and columns interchangeably, includi

[2019-05-03 14:14] karthikeyann commented on #1605
For example:
In dgx13, this issue happens.
[code]

Solution is to give different file names, and to take care of permissions of files written to /tmp/ during test. (I verified the Solution locally).

[2019-05-03 14:22] thomcom commented on #1443
In regards to all my "lets support matrix styled data" - if this is `gdf_column` and it is going to stay `column` only, I respectfully withdraw. :)

[2019-05-03 14:24] kkraus14 commented on #1602
@felipeblazing @lmeyerov The reason the performance as degraded is that the function was inconsistent and erroneous in that it sometimes returned by reference and sometimes returned by copy. It was fixed to always return by copy, but it has illuminated that the function was being used erroneously to access the underlying memory of columns. We'll have to take a sweep through and fix this behavior.

[2019-05-03 14:51] kkraus14 opened #1606 "[BUG] `to_gpu_array()` is used all over where a copy of data is not needed"
Instead of accessing the underlying memory by reference, there's a ton of places that `to_gpu_array()` is called which always returns a copy of the data. We should go through and update this to only use this function when a copy is actually needed, and use a reference to the memory otherwise.

99% sure this is the reason for #1602

[2019-05-03 15:29] jrhemstad commented on #1544
Okay, thanks to help from @kevingerman I'm able to reproduce on the `cuda9.2-devel-ubuntu18.04` container. I'll start diving in to see what the issue is.

@pradghos I assume since you're running on POWER that you're running on bare metal, correct?

[2019-05-03 16:06] #1199 closed

[2019-05-03 18:18] thomcom commented on #1135
I'm pretty sure this is fixed. @mrocklin's reproducer now works.

``>>> import pandas as pd
... df = pd.date_range('2000', '2001', freq='1M').to_frame()
...
... import cudf
... gdf = cudf.from_pandas(df)
... gdf['foo'] = gdf.index

2000-01-31T00:00:00.000   2000-01-31T00:00:00.000
2000-02-29T00:00:00.000   2000-02-29T00:00:00.000
2000-03-31T00:00:00.000   2000-03-31T00:00:00.000
2000-04-30T00:00:0

[2019-05-03 18:19] #1135 closed

[2019-05-03 18:27] #1602 closed

[2019-05-03 18:38] trxcllnt opened #1612 "[BUG] CategoricalColumn.fillna(-1) performance issue"
**Describe the bug**
CategoricalColumn.fillna(-1) calls `set_categories()` even though the categories haven't changed, making it slower than it needs to be.

**Steps/Code to reproduce bug**
Call fillna(-1) on a CategoricalColumn with lots of nulls.

**Expected behavior**
If the fill_value is -1, it should only write -1 in the null slots of the data buffer, not reindex the data buffer from the cate

[2019-05-03 18:50] jrhemstad commented on #1544
Been digging into this all day and haven't made much progress.

To get a reproducible and compact failure, I've been running:
[code]

Which yields:
[code]

Here is the failure: https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/tests/types/types_test.cpp#L313

This is the concise version of the code in question:

[code]

Printing the values of `t0` and `t1` shows:
[code]

The correct result of i

[2019-05-03 18:57] jrhemstad commented on #1544
Note that @rlratzel is seeing the same behavior in the CentOS nightly build using gcc7.2.

[2019-05-03 19:19] vuule commented on #1575
I don't repro the issue on ToT branch-0.7. Tried with the following code:
[code]
@randerzander  can you please share with me the snippet as a file? There may be something atypical going on with the line terminators here.

[2019-05-03 19:34] mjsamoht commented on #1598
Yes, an empty file will fail the following check.

We will need to define what an empty dataframe is.  E.g. if a file contains the header (col names) but no data, would we also return an empty dataframe?  Or only for empty files?

[code]

[2019-05-03 19:38] mjsamoht commented on #1237
@miguelangel would it be possible to attach the sample input file to this issue?

[2019-05-03 19:42] trxcllnt opened #1614 "[BUG] CategoricalColumn _encode and _decode is slow iterative lookup"
**Describe the bug**
CategoricalColumn's `_encode()` and `_decode()` implementations enumerate the categories and compare element values and indices. Since `self._categories` is a tuple, the enumeration can be replaced by `self._categories.index(value)` and `self._categories[index]` respectively.

**Steps/Code to reproduce bug**
Access values from a high-cardinality CategoricalColumn.

**Expected

[2019-05-03 19:51] mjsamoht commented on #1237
A couple of questions:
1. We would need to know which cols are missing.  Let's say 'N' is the max number of cols, and a row contains 'M<N' cols.  Does this mean cols '1..M' are present and '(M+1)..N' are missing?
2. Will there be a header with col names?  Or can they be passed as input parameter?  If not, it will be difficult to support because we would have to parse the entire file upfront just t

[2019-05-03 19:53] quasiben opened #1615 "[BUG] ORC incorrect schema ingestion"
With the following [ORC file](https://www.googleapis.com/download/storage/v1/b/anaconda-public-data/o/orc%2FTestOrcFile.testDate1900.orc?generation=1522611448751555&alt=media), cudf incorrect assign datetimes a dtype of `datetime64[ms]` when the schema defines the dtype as `datetime64[ns]`

[code]

[2019-05-03 19:54] mjsamoht commented on #1297
@revans2 let us know if you're still observing a memory leak.  As @j-ieong pointed out we are now freeing col names.  In the meantime, I'm closing this issue.

[2019-05-03 19:54] #1297 closed

[2019-05-03 20:01] mjsamoht commented on #1597
It looks like with 'ww39.csv' we correctly detect that col as float, but with 'ww41.csv' the col is incorrectly detected as timestamp.

@lucyzhang0106 can you share the two input files you used?

[2019-05-03 20:03] j-ieong commented on #1615
When we looked at it, `cudf` has many places still hard-coded to use milliseconds. This comment [comment](https://github.com/rapidsai/cudf/blob/61bc74fb4e237675e19a80c9f8446d24b7cf587e/python/cudf/dataframe/datetime.py#L22) implies only millisecond is supported.

[2019-05-03 20:17] quasiben commented on #1615
@j-ieong thanks!  I vaguely recall knowing this at one point?  Do you know if this is also documented elsewhere ?  If not, @kkraus14 @thomcom do you have thoughts here ?  Should this be documented ?  Are there plans to move to support dt64[ns] after 0.7 release ?  Can I help ?

[2019-05-03 20:19] kkraus14 commented on #1615
There are plans to support arbitrary resolution timestamp types in the future, but for the 0.7 release we currently only support millisecond resolution. Changes will be needed at both the Python and libcudf levels and would gladly accept help towards making that a reality.

[2019-05-03 20:23] quasiben commented on #1615
thanks @kkraus14 !  closing this issue

[2019-05-03 20:23] #1615 closed

[2019-05-03 20:27] j-ieong commented on #1595
@quasiben This should be related to the "only millisecond datetime columns are currently supported" issue...

[2019-05-03 20:29] #1096 closed

[2019-05-03 21:24] miguelangel commented on #1237
Hi Thomas,

I have just sent you an email with the dataset (I cannot attach here, it is confidential).

In relation to your question, I would need to double check. I will try to do this weekend.

Regards,
Miguel

[2019-05-03 21:53] #257 closed

[2019-05-03 22:34] eyalroz opened #1623 "[BUG] branch-0.7 tests fail"
Running `make test` with branch-0.7, pulled a couple of hours ago., I get failures with `TYPES_TEST`:
[code]
-snip-
[code]
and again for some other types, so that we end up with:
[code]
This shouldn't happen.

PS - My system is Devuan ASCII  (~= Debian Stretch), GNU/Linux , not officially supported.

[2019-05-03 23:21] VibhuJawa opened #1625 "[BUG] cudf read_csv freezes if read_csv has a subset of dtypes"
**Describe the bug**
cudf read_csv freezes if read_csv has a subset of dtypes

**Steps/Code to reproduce bug**
[code]

Output
[code]
**Expected behavior**
It should work like pandas

**Environment details**
Issue present in both latest repo as well as nightly.

[2019-05-03 23:40] #599 closed

[2019-05-04 02:25] ayushdg commented on #1570
@thomcom I can implement a `unique` method for StringColumns (it's a simple enough addition). The groupby would still be blocked by the the lack of binops like an `==` or working nicely with `masked_assign`
https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/groupby/groupby.py#L187-L188

[2019-05-04 03:37] jrhemstad commented on #1623
Duplicate of https://github.com/rapidsai/cudf/issues/1544

@eyalroz what version of gcc are you using?

[2019-05-04 03:38] #1623 closed

[2019-05-04 04:17] harrism commented on #1544
I tried the master branch in the container and found that TYPES_TEST did not fail in the previous release. So I'm currently bisecting to find the point of failure (likely in my GDF_BOOL8 PR, but it's not clear how yet).

[2019-05-04 06:38] harrism commented on #1544
This is the commit where I believe I introduced the failure.
https://github.com/rapidsai/cudf/pull/1142/commits/0ba835b0b73cbe3284a24dfc3d7fca9691004e7b

Here I added the "TypeToUse" template helper for the tests, and also the `static_cast<UnderlyingType>` in the CompoundAssignmentTest. That cast is required in order to make the test pass for the cudf::bool8 wrapper. I don't know why the cast make

[2019-05-04 07:02] harrism commented on #1544
I fixed the failure by doing a different comparison for bool8 and the other wrapper types. https://github.com/rapidsai/cudf/pull/1631

[2019-05-04 07:36] eyalroz commented on #1623
@jrhemstad : The GCC version on Debian Stretch is 6.3.0.

[2019-05-04 12:55] jrhemstad commented on #1544
@eyalroz reports the same failure on gcc6.3 https://github.com/rapidsai/cudf/issues/1623#issuecomment-489303657

[2019-05-04 14:17] eyalroz commented on #1544
@jrhemstad : Actually, this may not be the same bug as mine - since I don't get warnings about narrowing conversions when building TYPES_TEST.

[2019-05-04 14:18] eyalroz commented on #1623
So, it's not clear this is a duplicate, since I don't get compilation warnings for TYPES_TEST (specifically, none regarding narrowing conversions).

[2019-05-04 21:49] #1544 closed

[2019-05-04 21:58] harrism opened #1634 "[BUG] Rolling Window tests are incomplete"
**Describe the bug**
#1356 was merged without complete test of all error cases. We should ensure our testing is complete.

From the [TODO](https://github.com/rapidsai/cudf/blob/b936b52767b161522894634ed09ff583f48a38ac/cpp/tests/rolling/rolling_test.cu#L519), the following tests are needed:

 - [ ] window array size < input col size
 - [ ] min periods array size < input col size
 - [ ]  sum of non-

[2019-05-04 22:02] harrism opened #1635 "[FEA] Explore performance and optimizations for rolling windows"
#1356 was merged but there are some opportunities for optimization. The main one would be eliminating duplicate loads in overlapping windows by cooperatively loading into shared memory and then aggregating from there: the classic way "stencils" are implemented, since rolling is just a stencil.

Should create a benchmark for rolling windows and use it for investigation.

See the TODO here: https://

[2019-05-04 22:04] harrism opened #1636 "[FEA] Update Rolling.cu to use device_atomics.cuh instead of groupby/aggregation_operations.cuh"
#1356 was merged and there is a TODO:

https://github.com/rapidsai/cudf/blob/b936b52767b161522894634ed09ff583f48a38ac/cpp/src/rolling/rolling.cu#L34-L35

Implement this TODO once #1478 merged.

[2019-05-04 22:05] harrism commented on #926
Implemented and closed by #1356.

[2019-05-04 22:05] #926 closed

[2019-05-05 07:19] harrism commented on #1544
The test failures were not related to the narrowing conversions. Nobody has repro'd the compiler warnings for narrowing conversions. I think your test failures were the same, @eyalroz, try the latest branch-0.7 for a fix.
________________________________
From: Eyal Rozenberg <notifications@github.com>
Sent: Sunday, May 5, 2019 12:17:10 AM
To: rapidsai/cudf
Cc: Mark Harris; Mention
Subject: Re: [ra

[2019-05-05 11:27] eyalroz commented on #1623
This was resolved by yesterday's PR, so probably a dupe.

[2019-05-06 00:12] #1594 closed

[2019-05-06 00:14] harrism commented on #1312
Since we have a workaround, I'm pushing this to v0.8. However, I do believe there is a problem with our release process in that releases point to the master branch of submodules, so leaving open to discuss.

[2019-05-06 04:48] AK-ayush commented on #1560
`Series.replace()` is failing because it is not implemented for columns with `NULL` values from cudf side, as you can see [here](https://github.com/rapidsai/cudf/blob/branch-0.7/cpp/src/replace/replace.cu#L104).

@beckernick  If you want, I can take up the implementation of this.

[2019-05-06 12:36] karthikeyann commented on #1605
@kkraus14 in dgx13, the above file permission issues happens.
In cmake, umask can't be set. We should rely on user environment to have 002 umask if we use /tmp directory.
Alternatively, the tests can create the files (csv, json) in the working directory rather than /tmp/. can we change this to working directory?

[2019-05-06 13:48] randerzander commented on #1575
It seems other recent changes in the code partially fixed this issue. Now I am getting something different.

I can read the file successfully, but I get a "bad" first row, which should be skipped, given `skip_blank_lines` defaults to true.

[code]

Attached sample.csv:
[sample.txt](https://github.com/rapidsai/cudf/files/3148166/sample.txt)

[2019-05-06 16:35] quasiben opened #1640 "[BUG] Non-deterministic reads with `read_orc`"
https://www.googleapis.com/download/storage/v1/b/anaconda-public-data/o/orc%2FTestOrcFile.testDate1900.orc?generation=1522611448751555&alt=media

[code]

Running the script multiple time *should* yield the same print out but it doesn't.  This also seems to only occur in new python kernel -- i.e. python `run_script.py`

cc @j-ieong

[2019-05-06 17:21] vuule commented on #1575
Now I see why the issue did not repro on our side. You have a Windows-style newlines (/r/n), and this is not currently supported in skip_blank_lines implementation. Got the repro now, should be able to fix this today.

[2019-05-06 17:32] AK-ayush commented on #1514
I am working on and will submit a  PR asap.
I want to know one thing, are we replacing `nulls` also if `other` is scalar?

[2019-05-06 18:11] j-ieong commented on #1640
This might be the same issue we are seeing in CI, and that @OlivierNV debugged to be some uninitialized parameter...

[2019-05-06 19:19] VibhuJawa opened #1643 "[BUG] read_csv with nrows loads all rows in memory and then samples it"
**Describe the bug**
Read_csv with nrows seems to reading all the rows to memory and then sampling n out of it . It should only read n rows and not sample later.

This behavior beats the point of having nrows as as a user I like to use nrows to sample when my data frame does not fit in memory.

**Steps/Code to reproduce bug**
Code:
[code]

**Expected behavior**

It is expected that only n rows wil

[2019-05-06 19:36] #1575 closed

[2019-05-06 19:42] VibhuJawa commented on #907
This seems to be fixed in 0.7.  We should close this issue.

[code]

Output
[code]

[2019-05-06 19:42] j-ieong commented on #1640
Hrmmm, yeah looks like there's still an issue. Let me try memset everything...

[2019-05-06 20:03] OlivierNV commented on #1640
@j-ieong: are you able to get a repro locally at TOT ?
Not seeing the problem here, but my system was also not reproducing the uninit data bug that only showed up in the CI environment (definitely sounds like the uninitialized data issue, though).

[2019-05-06 20:34] j-ieong commented on #1640
@OlivierNV and I can repro it locally now.

It seems a bit weird. Repeatedly reading a single row with `skip_rows=1, num_rows=1` repros with seemingly alternating values while `skip_rows=0, num_rows=1` does not.

[2019-05-06 20:54] OlivierNV commented on #1640
I think I know what might be happening, missing a check that we're not reading the row index array above endrow (which may be less than start_row+stripe_rows), should be able to verify this shortly.

[2019-05-06 21:45] j-ieong commented on #1640
Looks like the weird values are just uninitialized or previous values in memory of the gdf_columns. Zeroing out the gdf_column memory shows that the output values are zero, suggesting that it's either not writing them out or writing them out somewhere else?

[2019-05-06 22:16] trxcllnt opened #1645 "[BUG] DataFrame.from_arrow shuffles Arrow DictionaryArray categories order"
**Describe the bug**
DataFrame.from_arrow shuffles the positions of the Arrow DictionaryArray dictionary values, resulting in mismatched dictionary indices and the values to which they correspond.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The dictionary values order is preserved.

[2019-05-06 22:44] jrhemstad commented on #1134
Relevant paper, "GPU Multisplit": https://dl.acm.org/citation.cfm?id=2851169

[2019-05-06 22:55] VibhuJawa opened #1646 "[BUG] Query function fails on empty dataframes"
**Describe the bug**

**Steps/Code to reproduce bug**
[code]

Error Trace:
[code]

**Additional context**
Was causing a issue at dask_cudf  https://github.com/rapidsai/dask-cudf/issues/199

**Proposed Fix**

Add a check here for empty dataframe:
https://github.com/rapidsai/cudf/blob/branch-0.7/python/cudf/dataframe/dataframe.py#L1905

[2019-05-06 23:15] taureandyernv opened #1647 "[BUG]cuInit suddenly sees no device in CUDA device only in Coordinate Descent -working 2 days ago"
In the 5/6 nightlies, cell 5 of of coordinate descent notebook, https://github.com/rapidsai/notebooks/blob/branch-0.7/cuml/coordinate_descent.ipynb Somewhere in converting the dataframe, cuIntit results in no device.   On Friday, this was working

[code]

Yields this error

[code]

[2019-05-06 23:50] quasiben commented on #1640
@j-ieong sorry for the delayed response (was side tracked with other issues).  Yes, it was after that merge (but it looks like you are well aware of that).  I can test https://github.com/rapidsai/cudf/pull/1648 in the mean time

[2019-05-06 23:55] harrism commented on #1560
@AK-ayush Have you thought about the semantics we should support? What does Pandas do?

Could have nulls in input column, in the replacements column, and/or in the values-to-replace column.

I think the values in the replacements column should be taken as-is, so if they are null then the output array should have nulls at the locations of the values they replace

What about
A. nulls in the input co

[2019-05-07 00:28] harrism commented on #1189
@eyalroz is this still failing in 0.7? Can we close?

[2019-05-07 00:44] jrhemstad commented on #314
Recently updated the `hash_row` functionality to check for null values. See: https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/table/device_table.cuh#L268

Furthermore, the new `row_bitmask` function I added can be used for computing the output bitmask required for `gdf_hash` (i.e., it ANDs a set of input column's bitmasks together).

All that is required to close this issue out is to updat

[2019-05-07 02:23] harrism commented on #1640
Fixed by #1648, not sure why this didn't auto-close.

[2019-05-07 02:23] #1640 closed

[2019-05-07 02:44] AK-ayush commented on #1560
@harrism Please assign this to me.

we should allow nulls in replacement column, which eventually allow the nulls in input column.

But if we allow nulls in values-to-replace column, it would be a more generic case of `Series.replace_nulls()`.

[2019-05-07 03:13] quasiben commented on #1640
All working!

[2019-05-07 03:14] harrism commented on #1560
I can't assign people who are not members of the RAPIDS GitHub org. But consider yourself assigned.

[2019-05-07 03:30] AK-ayush commented on #1560
sure, I will submit a PR ASAP.

[2019-05-07 04:35] OlivierNV opened #1653 "[ENH] GPU ORC reader should use row index on small/medium datasets"
ORC reader GPU utilization is currently limited by num_columns * num_stripes, which often results in very poor utilization with ~1M rows/threadblock.

In most cases, using the row index would allow parallelism with 10K row/threadblock (order of magnitude perf boost for column data decoding, with overall perf boost limited by decompression perf).

[2019-05-07 06:54] taureandyernv commented on #1647
figured it out, will submit a PR

[2019-05-07 06:54] #1647 closed

[2019-05-07 12:40] #1062 closed

[2019-05-07 20:03] rjzamora commented on #1505
I get the same error for this simple example:
[code]

The error is resolved by adding the following to the end of the `elif isinstance(arg, tuple):` block in the `Loc` class definition (`python/cudf/dataframe/dataframe.py`):
[code]

I'll open up a PR with the change.

[2019-05-07 20:14] jakirkham commented on #1210
Have updated the `nvcc` compiler wrapper item (as there is a proposed solution) and added dynamically linking to `cudatoolkit`. Though am happy to discuss these further.

[2019-05-07 21:43] mjsamoht commented on #1434
@ayushdg I see you have a WIP PR.  Are you going to implement this feature?

If yes, I will assign it to you.  Thanks.

[2019-05-07 21:44] williamBlazing opened #1663 "[FEA] Support to GIS functions"
I wish cudf would provide support for GIS type functions. I am not sure if GIS type functions belong in cudf, or if they belong in their own separate library, but it makes sense that at the very least they should be very compatible with the rest of the functionality provided by cudf.

I would like to see functions like:
- point-in-polygon
- nearest points from a constant radius
- perimeter
- area

[2019-05-07 21:52] ayushdg commented on #1434
@mjsamoht I will be implementing it for 0.8. You can assign it to me.

[2019-05-07 21:53] VibhuJawa opened #1664 "[FEA] Cast cudf.series to category dtype"
**Is your feature request related to a problem? Please describe.**

I would like to use `cudf.series.astype('category')` function to cast a column both (numerical and non numerical) as `dtype='category'` .

**Additional context**
I would like to have the functionality as provided in pandas (shown below):

[code]

**Current Casting Method**
The below casts it as a nvstrings object.
`gdf['c_1']= gdf

[2019-05-07 22:12] mjsamoht commented on #1595
@harrism @kkraus14  Are there plans to add nanosecond support in cuDF?

[2019-05-07 22:19] mjsamoht opened #1667 "[FEA] Clean up CSV reader"

[2019-05-07 22:20] mjsamoht opened #1668 "[FEA] Add C++ interface to CSV/ORC/Parquet/JSON Lines readers"
- [x] CSV reader
- [x] Parquet reader
- [x] ORC reader
- [x] JSON-lines reader

[2019-05-07 22:26] mjsamoht opened #1669 "[BUG] Investigate whether ORC reader handles timestamps correctly"

[2019-05-07 22:26] vuule opened #1670 "[BUG] In the CSV reader, detection of duplicate columns has O(n^2) complexity"
The code has nested for loops that pass through the list of columns. This can get very slow when there are thousands of columns.
The implementation can be replaced with an O(n log n) or even O(n) approach to ensure good scaling.

[2019-05-07 23:00] VibhuJawa opened #1671 "[FEA] Support casting unordered categorical to ordered categorical series"
**Is your feature request related to a problem? Please describe.**
We should implement casting categorical dtype to  ordered categorical dtype and vice-versa.

Casting functions we want to implement:

*  `series.cat.as_ordered()`
*  `series.cat.as_unordered()`

We should also look at reordering functionality in the same pr.

Reordering Function:
* `s.cat.reorder_categories()`

##### Pandas documen

[2019-05-08 00:14] vuule commented on #1598
I'm not seeing the same behavior with Pandas as what you describe.
[code]
Results in the following error:
pandas.errors.EmptyDataError: No columns to parse from file

@lucyzhang0106 can you please share an example "empty" file with me? It is not clear why the behavior would be different.

[2019-05-08 00:23] lmeyerov commented on #1329
This problem may be broader & worse than initially reported. Impacting non-NaNs too. A boring DF w/ categoricals took 60s+ on just 500K rows.

See reproduction #3 in https://colab.research.google.com/drive/1S5UhplicI4gpEIJz0jQdhGd3gyBAYbee#scrollTo=vpXDxGpAeysg .

[2019-05-08 00:31] lmeyerov opened #1673 "[BUG] OOM crash on left merge of categoricals"
**Describe the bug**

Left merge on even moderate categorical data causes RMM to OOM crash.

Demo: 500K rows -

[code]
=>
[code]

**Steps/Code to reproduce bug**
Run `Issue 5` of https://colab.research.google.com/drive/1S5UhplicI4gpEIJz0jQdhGd3gyBAYbee#scrollTo=vpXDxGpAeysg .

**Expected behavior**
Left merge to terminate.

**Environment details (please complete the following information):**
- !co

[2019-05-08 00:35] lmeyerov opened #1674 "[BUG] High overhead"
**Describe the bug**
Seeing high overhead (3ms+) on most calls that should take < 1ms. For software that chains together many RAPIDS expressions or makes concurrent RAPIDS calls, this prevents subsecond execution on both small & big data. Both are common in visual software: complex UI logic, or many concurrent UI components. Ex: One of our histogram helpers can already easily cover 100 expressions

[2019-05-08 00:59] harrism commented on #1595
I don't know of any. Keith is on vacation this week. If it's needed, you could add it or file a FEA issue.

[2019-05-08 03:08] jrhemstad commented on #1329
Pretty confident that categorical issue is orthognal. As far as the C++ implementation is concerned, a categorical column is no different from an `int32` column. Therefore, I suspect something wonky is going on in the Python layer.

[2019-05-08 07:03] eyalroz commented on #1189
HASH_TEST passes on my system with branch-0.7.

[2019-05-08 07:03] #1189 closed

[2019-05-08 14:19] jrhemstad opened #1677 "[FEA] Gather/Scatter optimizations"
**Is your feature request related to a problem? Please describe.**
Multi-Column Gather and Scatter are very common primitives in libcudf that should be highly performant. There is currently a lot of room for optimization in the existing implementations.

The current implementation uses 3 kernel calls per column. One `thrust::gather/scatter`, another to gather/scatter the bitmasks, and a third to c

[2019-05-08 16:26] jakirkham opened #1681 "[BUG] CUDA 10 not being used consistently across dependencies"
**Describe the bug**

Currently cuDF is depending on [`libnvstrings` and `librmm` 0.7]( https://github.com/rapidsai/cudf/blob/cffacafd38757c6882d9d2c86993946572629592/conda/recipes/libcudf/meta.yaml#L28-L29 ). As these are not requiring `cudatoolkit` (unlike the 0.8 versions of these packages), it complicates aligning all packages to the same CUDA version.

**Steps/Code to reproduce bug**

[code]

[2019-05-08 16:29] eyalroz opened #1682 "[FEA] Expand CUDF_EXPECTS to allow an optional exception type."
Currently, `CUDF_EXPECTS` can only throw a `cudf::logic_error`. IMHO, it should be able to throw other errors, like `invalid_argument` for example. So, I propose the `CUDF_EXPECTS` macro be changed from
[code]
to
[code]
and perhaps we add something like
[code]
which throws a `logic_error`.

[2019-05-08 16:35] jakirkham commented on #1681
I've adjusted this issue to make it clear the concern is with `cudatoolkit` not being aligned across the packages. Thanks @randerzander for correcting me.

[2019-05-08 17:07] jakirkham commented on #1681
Should add that if `libcudf` is pinned to `0.7` this issue still occurs.

[code]

[2019-05-08 18:08] OlivierNV commented on #1669
The ORCtoUTC constant in the GPU ORC reader constant is off by 8 hours, but was being canceled out by a missing gmt offset if writer was in the US/Pacific timezone. Preparing PR for 0.8.

[2019-05-08 20:17] j-ieong opened #1684 "[FEA] Add more ORC reader tests"
**Is your feature request related to a problem? Please describe.**
There are currently very basic test coverage of the ORC reader, that exercises reading of only very simple files. ORC has many regular and corner cases that needs to be covered.

**Describe the solution you'd like**
Add additional tests that covers the following:
- [] date and timestamps
- [] strings
- [] compression
- [] empty and

[2019-05-08 20:23] MikeChenfu opened #1685 "groupby() super slow on branch-0.7[BUG]"
I found the groupby() is super slower on branch-0.7 than that on branch-0.6. The time output is attached.

[code]
Time outputs
[code]

[2019-05-08 20:26] jrhemstad commented on #1685
I've heard reports of the same thing from @trxcllnt and @lmeyerov. I believe the issue is isolated to categorical columns.

Furthermore, I suspect the issue must be in the Python layer because as far as the C++ is concerned, categoricals are no different from `int32`.

[2019-05-08 20:29] lmeyerov commented on #1685
Yep full repro in https://github.com/rapidsai/cudf/issues/1329

[2019-05-08 20:38] jrhemstad commented on #1685
I suspect this is related to https://github.com/rapidsai/cudf/issues/1673 as well.

[2019-05-08 20:44] thomcom commented on #1685
I'll go back and compare some results with branch-0.6. Floats are also stupendously slow. Ints appear to be v. fast:

[code]

[2019-05-08 20:47] MikeChenfu commented on #1685
It may be related to multi-column groupby(). I test the single column and two columns in groupby().
[code]
Time output:
[code]

[2019-05-08 20:56] lmeyerov commented on #1685
I bet you'll have bad numbers on `df3.groupby(['cat1']).agg({'cnt': 'count'})` as well: if you are grouping on 1 index, just having the additional columns in there slows things down.

[2019-05-08 21:05] MikeChenfu commented on #1685
@lmeyerov the performance is acceptable on `df3.groupby(['cat1']).agg({'cnt': 'count'})`
[code]
`df2.groupby(['cat1']).agg({'cnt': 'count'})` and `df3.groupby(['cat1']).agg({'cnt': 'count'})` have the same performance in the branch-0.6.

[2019-05-08 21:11] randerzander opened #1686 "[BUG] Cython should now be a dependency of the cudf conda package"
After installing cudf from the rapidsai-nightly channel, I'm trying to start a dask-cuda-worker process but get errors about needing Cython.

Looks like the cudf conda package needs to mark Cython as pre-req.

[code]

[code]

[2019-05-08 21:42] vuule commented on #1598
Got a PR that modifies the reader behavior to the following:
* Output dataframe has no columns if the user does not pass both names and dtype arguments;
* Output dataframe contains empty columns with correct names and types if user passes names and dtype;
Please review and let me know if is the desired behavior.

[2019-05-08 21:42] mlahir1 opened #1688 "[FEA] Support reading multi-file Parquet (was: Reader throws Error "No such file or directory")"
**Procedure:**
1. read a csv with dask as dask dataframe.
2. use to parquet to write the dataframe as parquet files.
3. now read the parquet file parquet reader.

**Code**
import dask.dataframe as dd
df = dd.read_csv('df-0.csv')
df.repartition(npartitions=1)
df.to_parquet('df-0.parquet')
import cudf
df = cudf.read_parquet('df-0.parquet')
[df-0.csv.zip](https://github.com/rapidsai/cudf/files/315938

[2019-05-08 21:59] lmeyerov commented on #1685
Mike, I think you just showed the reverse --- 0.7 shows a 5X slowdown .

- Leo

[2019-05-08 22:01] #1669 closed

[2019-05-09 00:11] ayushdg commented on #1688
Hi @mlahir1. At this step `df.to_parquet('df-0.parquet')` dask creates a folder with two files. One containing metadata info and the other containing the actual parquet file. For your particular example changing this path to `df = cudf.read_parquet('df-0.parquet/part.0.parquet')` should not show you the error.
For now cudf needs the path to the actual parquet file and cannot read from a folder. Yo

[2019-05-09 00:34] harrism commented on #1467
@karthikeyann can you look at implementing the libcudf part of this? I think the API should be something like: `cudf::table drop_duplicates(cudf::table const & input);` and should be defined in cudf/include/stream_compaction.hpp (this is a new file that I created in the yet-to-be-merged #1654 ).

As for implementation, note that this must preserve the order of the input, which makes it tricky.

I

[2019-05-09 00:42] OlivierNV commented on #1688
We should keep track of this as a new feature for future releases. Parquet allows independent files per column chunk, but we currently do not support that (might be able to make it for 0.8)

[2019-05-09 01:03] harrism commented on #1467
@randerzander: @jrhemstad points out that Pandas groupby returns a sorted result, but we don't do that in libcudf. So why do we need to match Pandas on the ordering of drop_duplicates?

[2019-05-09 01:13] ButkiewiczP commented on #1517
Hey @harrism , you're definitely _technically_ correct when you say those are bitwise operators and that we should use logical operators instead, but just to provide context here, the reason those other issues request bitwise operators instead of the logical operators `&&` and `||` is (I believe) because of how the [pandas library handles boolean indexing](https://pandas.pydata.org/pandas-docs/sta

[2019-05-09 01:21] jrhemstad commented on #1517
It looks like in Pandas `|` is equal to `||` in C++, likewise with `&` and `&&`. So really, the ask is just for the logical operators. The confusion is just an inconsistency between how Pandas and C++ names these operators.

[2019-05-09 02:39] harrism commented on #1517
Regardless of how the Python side chooses to expose them, we don't have the logical operators in *libcudf* today.

[2019-05-09 08:19] chuannv opened #1690 "[BUG] '+' op in pandas dataframe and cuDF have inconsistent behavior"
**Describe the bug**
'+' op  in pandas dataframe and cuDF have inconsistent behavior
![WeChat Image_20190509000131](https://user-images.githubusercontent.com/50418913/57393244-4a5c4d00-71f5-11e9-9638-591c2e1964d2.jpg)

**Steps/Code to reproduce bug**
see attached image

**Expected behavior**
expecting the result of  a+b in pandas and ca+cb should be consistent.
sh print_env.sh
**git***
Not inside

[2019-05-09 12:38] thomcom commented on #1329
This problem and the problem in #1685 should be separate issues. MultiIndexing, introduced to 0.7 on May 2, 2019, introduced a major performance regression to groupby. I have an improvement for that in https://github.com/rapidsai/cudf/pull/1689.

[2019-05-09 12:43] thomcom commented on #1673
Does #1689 improve this?

[2019-05-09 15:52] mlahir1 commented on #1688
Thanks @ayushdg This means If I have multiple parts in parquet file, I have to read all the parts separately and merge them together into a single DF.

[2019-05-09 16:35] kkraus14 commented on #1686
Fixed by #1694

[2019-05-09 16:35] #1686 closed

[2019-05-09 17:24] ayushdg commented on #1688
@mlahir1 As of now that is what you can do with cudf.
As @OlivierNV suggested it would be a good enhancement to the parquet reader if we can read multipart parquet files from a directory.

[2019-05-09 18:17] vladikir opened #1697 "[BUG] Groupby hierarchical aggregations are slow"
**Describe the bug**
Groupby hierarchical aggregations appear to be significantly slower than Pandas

**Steps/Code to reproduce bug**
import pandas as pd, cudf
import numpy as np
pdf = pd.DataFrame({'x': np.random.randint(0, 30, size=3000000),
                    'y': np.random.randint(0, 100, size=3000000),
                    'z': np.random.randint(0, 2000, size=3000000),
                    's'

[2019-05-09 18:18] jrhemstad commented on #1697
I believe this is a duplicate of https://github.com/rapidsai/cudf/issues/1685 and is currently being fixed.

[2019-05-09 18:29] kkraus14 commented on #1697
@vladikir could you try with `gdf.groupby(['x', 'y', 'z'], as_index=False).sum()` instead just to confirm it's the MultiIndex performance issue noted above?

[2019-05-09 18:40] #1064 closed

[2019-05-09 18:54] MasoodK opened #1699 "[QST] Our recent benchmarking of cuDF and OmniSci Core DB"
Hello cuDF devs,

Mainly informing you about our recent benchmarking of cuDF and OmniSci Core DB, but also seeking comments and feedback regarding the methodology and results.

- [Deck](https://speakerdeck.com/patternedscience/supercharging-analytics-with-gpus-masood-krohy)
- [Presentation/Demo video](https://www.youtube.com/watch?v=UteAyQStPyQ)
- [GitHub repo containing jupyter notebooks/results]

[2019-05-09 19:02] lucyzhang0106 commented on #1598
@vuule  sorry for the late response, attached is the file which we read empty in Pandas but failed in cudf.  Github doesn't support uploading of csv file. Our original file is csv file, I changed it to xlsx and uploaded. You can simply rename it to .csv after you download it. Thanks

[2019-ww13.xlsx](https://github.com/rapidsai/cudf/files/3163593/2019-ww13.xlsx)

[2019-05-09 19:19] vuule commented on #1598
Thank you for sharing the file. It is not what I expected from the description. Namely, the file contains the word 'Empty', instead of really being empty.
Because of this, Pandas parses it as having a single column named 'Empty', of type object, and no data.
With cuIO we get the following error:
"No data available for data type inference"
which is correct, as you did not pass the dtype parameter a

[2019-05-09 19:33] OlivierNV commented on #1688
@ayushdg Could you attach the zip file with the df-0.parquet directory that contains the multipart parquet files ?

[2019-05-09 19:53] mjsamoht commented on #1598
@vuule I assume we're interpreting `Empty` as the column name, correct?

It's kind of odd and somewhat arbitrary to expect the reader to interpret the single word `Empty` as an empty dataframe.  Unless this is common practice I would rather not add logic to handle this.  But I think it's good to interpret an empty file as empty dataframe.

@randerzander do you have any thoughts?

[2019-05-09 19:55] vuule commented on #1598
@mjsamoht Yes, Empty is the column name. This is the case with both cuIO and Pandas. The only difference is that Pandas has a default column type and we don't.

[2019-05-09 20:02] mjsamoht commented on #1598
Okay, I see.  I think this is a slightly different issue then.  The questions here are really:
1. If a CSV file contains only one row, should we interpret that row as the header of an otherwise empty dataframe with some default data type?
2. What should be this default data type?  String?

The returned dataframe will then not be truly empty.  It will contain `n` columns with headers plus zero data

[2019-05-09 20:19] #1612 closed

[2019-05-09 21:09] mjsamoht commented on #1597
I believe I figured out the problem.  The file `ww39.csv` contains numbers `1.00E+15` that we incorrectly interpret as strings.  The reason is that the function `isLikeFloat` doesn't expect `+`.

We need to allow for a `+` in the exponent, and perhaps should also allow it as first character like we do for `-`.  E.g. `+3.42` should be interpreted as a float and not a string.

[2019-05-09 21:11] lucyzhang0106 commented on #1597
Hmm, I think we can change our upstream to remove those format like 1.00E+15 to bypass this problem.

From: Thomas Meier <notifications@github.com>
Reply-To: rapidsai/cudf <reply@reply.github.com>
Date: Thursday, May 9, 2019 at 2:10 PM
To: rapidsai/cudf <cudf@noreply.github.com>
Cc: Lucy Zhang <luzhang@nvidia.com>, Mention <mention@noreply.github.com>
Subject: Re: [rapidsai/cudf] [BUG]cudf get dif

[2019-05-09 21:14] mjsamoht commented on #1597
This also explains why importing into Excel or LibreOffice Calc and then saving again resolves the problem.  The number gets written back without the `+`.

But I would argue this is a valid number representation that we should handle.

[2019-05-09 21:14] lucyzhang0106 commented on #1597
It will be good if Cudf can read the data correctly for sure.

From: Lucy Zhang <luzhang@nvidia.com>
Date: Thursday, May 9, 2019 at 2:11 PM
To: rapidsai/cudf <reply@reply.github.com>, rapidsai/cudf <cudf@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [rapidsai/cudf] [BUG]cudf get different dtype for same column in two files(files generated by machine so have same column

[2019-05-09 21:19] lucyzhang0106 commented on #1597
But I think it’s a valid format for float expression.  It’s used very popular.

-1.97E-08

-2.12E-08

-1.50E-08

-1.88E-08

-1.08E-08

From: Thomas Meier <notifications@github.com>
Reply-To: rapidsai/cudf <reply@reply.github.com>
Date: Thursday, May 9, 2019 at 2:15 PM
To: rapidsai/cudf <cudf@noreply.github.com>
Cc: Lucy Zhang <luzhang@nvidia.com>, Mention <mention@noreply.github.com>
Subject: Re:

[2019-05-09 23:31] jrhemstad commented on #1436
Latest status update:

We're at the point where someone just needs to experiment with pure C++ prototype (independent of Numba).

For a minimal proof of concept, we dhoulf to take a simple `__device__` function snf dump its PTX and stringify it into a `std::string`. We'd then need to create a wrapper C function that calls the PTX. We'd stringify that wrapper function, insert the PTX, and then comp

[2019-05-10 12:02] karthikeyann opened #1705 "[BUG] inconsistent behaviour of cudf.DataFrame and pandas.DataFrame from list of tuples"
**Describe the bug**
cuDF DataFrame treats first element of each tuple as column name, second element of each tuple as column, while pandas treats each tuple as row, when initializing from list of tuples.

cudf DataFrame behaviour is similar to [`pandas.DataFrame.from_items`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.from_items.html#pandas.DataFrame.from_items) AP

[2019-05-10 12:19] mazzma12 commented on #441
Faced this issue today with current install on python 3.7 CUDA 10.1. This solved the issue

[2019-05-10 15:42] miguelangel commented on #1593
Hi all,

I have just tested with the latest nightly-build, and that error is not present anymore.

[2019-05-10 15:54] lmeyerov commented on #1673
I don't think so. I may have tested incorrectly: I tried on the conda nightly, `0.7.0.dev0            py36_1567    rapidsai-nightly/label/cuda10.0`

[2019-05-10 18:33] MikeChenfu commented on #1685
Hi @thomcom, I try the 0.7 again. It improves the performance in small dataset. When I try the larger dataset, it is still slow. And when I print the df, it generates errors.

[code]
[code]

[2019-05-10 18:35] kkraus14 commented on #1685
@MikeChenfu Can you try passing `as_index=False` as another parameter to the groupby call? We're working on resolving the MultiIndex performance issues and that should workaround it for the time being.

[2019-05-10 18:39] MikeChenfu commented on #1685
Thanks @kkraus14. The performance is great. It is about 1s.

[2019-05-10 18:42] kkraus14 commented on #1685
@MikeChenfu glad to hear the workaround worked well for you. I'm going to keep this open until we resolve the performance issues in using a MultiIndex.

[2019-05-10 19:12] #1614 closed

[2019-05-10 19:34] lmeyerov commented on #1685
I was unable to duplicate the workaround

![image](https://user-images.githubusercontent.com/4249447/57552194-fa2dd980-731f-11e9-80d5-0becf6b76181.png)

[2019-05-10 20:12] kkraus14 commented on #1685
That shouldn't be hitting the MultiIndex issues as it's only a single column groupby, will connect offline to see what's going funky.

[2019-05-10 21:55] kkraus14 commented on #1685
Added some print statements to the Cython and found the time is actually in the CPP libcudf call:
[code]
Given there's a major refactor of groupby coming down the pipes, it doesn't make sense to investigate the perf issue in that case until after the refactor has landed.

[2019-05-10 23:52] ayushdg commented on #1688
@OlivierNV I have attached 3 zip files. One with a single partition Dask Dataframe writing to parquet. One with multiple partitions writing to parquet and one where a spark Dataframe writes to parquet.
[dask_df_singlePartition.parquet.zip](https://github.com/rapidsai/cudf/files/3168377/dask_df_singlePartition.parquet.zip)
[spark_df.parquet.zip](https://github.com/rapidsai/cudf/files/3168378/spark_

[2019-05-13 02:32] harrism commented on #1682
CUDF_EXPECTS is already used heavily, so your suggested change would be a big effort. I think instead we should modify it to use VA_ARGS and make the exception type an optional third parameter.

[2019-05-13 03:55] harrism commented on #1603
This function was requested by an important user. It's clear that it has potentially very large performance issues if misused; nevertheless, it is useful for some.

We will be looking at optimization options in the future.

[2019-05-13 03:55] #1603 closed

[2019-05-13 04:52] harrism commented on #1545
@kovaltan can you have a look?

[2019-05-13 07:55] kovaltan commented on #1545
I'm looking the issue.

[2019-05-13 09:21] kovaltan commented on #1545
Hi @pradghos
Could you give more environment detail as below? since I could not reproduce the issue yet.

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider)]
 - Method of cuDF install: [conda, Docker, or from source]
   - If method of install is [Docker], provide `docker pull` & `docker run` commands used

[2019-05-13 13:56] miguelangel opened #1714 "[BUG] Runtime error when converting a String column to datetime64 type"
**Describe the bug**
When trying to convert a string series to a datetime64, the following error is displayed:

![image](https://user-images.githubusercontent.com/26169771/57627103-97467780-7597-11e9-953d-a61e03615130.png)

**Steps/Code to reproduce bug**
Run the code above in RAPIDS v0.7

**Expected behavior**
The column should be converted to datetime64 without issues.

**Environment details (pl

[2019-05-13 14:10] miguelangel commented on #914
Hi,

It is working now. Apologies for the late response.

Thanks!

Miguel

[2019-05-13 14:10] #914 closed

[2019-05-13 14:35] #1383 closed

[2019-05-13 15:02] #1646 closed

[2019-05-13 15:09] thomcom commented on #1685
This should have been autoresolved by https://github.com/rapidsai/cudf/pull/1702

[2019-05-13 15:48] beckernick commented on #1664
The suggested current casting method is not a work around to converting a Series to the category dtype.

More generally, we need a clean way to convert a StringColumn to a CategoricalColumn. This may be messy, as our current CategoricalColumn implementation is coupled to the data as a Buffer, which is currently not the underlying `data` for StringColumns.

[2019-05-13 15:55] eyalroz commented on #1682
@harrism :
Ah, a macro-writing challenge. Ok, apparently one _can_ sort-of overload on the number of macro arguments. How about this? :
[code]

[2019-05-13 16:02] beckernick commented on #1514
@AK-ayush if I understand your question correctly, then the answer is yes. In pandas.where, null values in a column are replaced by a scalar `other` as the boolean condition `cond` will always evaluate to False for that cell. I believe this is the example in my comment above. Let me know if I'm misunderstanding and that's not the case.

[2019-05-13 16:22] beckernick opened #1716 "[FEA] Clean way to convert object column to CategoricalColumn"
We need a clean way to convert an object column (StringColumn) to a CategoricalColumn. As noted in #1664, this does not appear easy for a user to do without copying the data to pandas and then converting to a categorical column on the CPU.

From an initial look through, it appears to me that this may be a bit messy, as our current CategoricalColumn implementation is coupled to the data as a Buffer

[2019-05-13 18:58] quasiben opened #1720 "[FEA] Better Pandas GroupyBy functionality"
In trying to establish better `DataFrameGroupBy`/`SeriesGroupBy` object handling in dask, `cuDF` should implement some of the following (ref: https://pandas.pydata.org/pandas-docs/stable/reference/groupby.html)

- `ngroup`
- `ngroups`
- `get_group`
- `group`

We can achieve better object detection by inspecting if these methods exist on an object, similar to how dask currently checks if the object

[2019-05-13 19:18] #1597 closed

[2019-05-13 19:19] #1670 closed

[2019-05-13 19:47] beckernick opened #1721 "[FEA] Implement col_level keyword argument for melt"
To utilize `cudf.melt`, dask-cudf needs the `col_level` keyword implemented in `cudf.melt`.

Without it, we run into the following:

[code]

We can probably either implement this as a placeholder that does nothing (and assert that the kwarg is None) (though I haven't tested whether that would resolve the downstream dask issue) or actually implement the functionality now that we have MultiIndex.

[2019-05-13 19:58] OlivierNV commented on #1688
Hmm. It looks like none of these files are using the multi-file capability of parquet: just storing individual parquet files for pieces of a dataframe with an arbitrary "part-NNNN*" file naming convention. Handling this would be easier in the python layer (just multiple calls to read_parquet), but it would be more efficient built into the parquet reader if we want all fragments in a single datafra

[2019-05-13 20:04] kkraus14 commented on #1500
@joker2017 see our blog on supporting colab: https://medium.com/rapids-ai/run-rapids-on-google-colab-for-free-1617ac6323a8

[2019-05-13 20:04] #1500 closed

[2019-05-13 20:06] kkraus14 commented on #1566
@harrism assigned you as this is surrounding libcudf design, feel free to deassign / reassign as you see fit.

[2019-05-13 20:07] kkraus14 commented on #1570
@ayushdg I believe this should be resolved in 0.7, can you confirm?

[2019-05-13 20:08] kkraus14 commented on #1576
If you're using the yml files that we provide for the environment you need to add `pip` as an entry. Conda made a change somewhat recently where it no longer automatically ships `pip` and you need to explicitly include it now.

[2019-05-13 20:12] kkraus14 commented on #1593
Thanks @miguelangel, closing the issue.

[2019-05-13 20:12] #1593 closed

[2019-05-13 20:15] miguelangel opened #1722 "[BUG] DataFrame.from_records is reporting 'numpy.float64' has no len()"
**Describe the bug**
Hi,

I think I have found a bug when running the following code:

[code]

![image](https://user-images.githubusercontent.com/26169771/57650980-71879580-75cc-11e9-924a-c13c16fdfd46.png)

**Steps/Code to reproduce bug**
Run the code above using the latest RAPIDS container (v0.7).

**Expected behavior**
A dataframe is created from the numpy.ndarray.

**Environment details (please

[2019-05-13 20:18] kkraus14 commented on #1598
@mjsamoht @vuule was this resolved by #1169, or does that not add a default dtype when there's no data for dtype inference?

[2019-05-13 20:22] ayushdg commented on #1570
@kkraus14 Pr #1701 was merged in 0.8 which I believe is needed to groupby string columns. Would you like me to test with 0.7 or 0.8?

[2019-05-13 20:23] kkraus14 commented on #1570
I believe 0.7 was updated to not need to call `.unique` on the MultiIndex for groupbys as well, so give both a shot.

[2019-05-13 20:23] brhodes10 opened #1723 "[BUG] Concat string columns with Nulls"
**Describe the bug**
There is an issue where an error is thrown when there's a concat of dataframes that have columns which are defined as string dtype, but expected to have all null values.

**Steps/Code to reproduce bug**
To reproduce (in Jupyter). Here the csv records are split and later combined using concat, similar to the notebook referenced below.
[code]
Error Output:
[code]
For reference,

[2019-05-13 20:48] jakirkham opened #1724 "[FEA] Implementing `__array_wrap__`"
**Is your feature request related to a problem? Please describe.**

NumPy `ufunc`-like functions leverage `__array_wrap__` instead of `__array_ufunc__`. It would be nice to be able to use these functions out-of-the-box on `DataFrame` and `Series` classes.

Note: This is something that [Pandas implements currently]( https://github.com/pandas-dev/pandas/search?q=__array_wrap__&unscoped_q=__array_wra

[2019-05-13 20:52] MikeChenfu commented on #1685
It shows a different performance on the latest 0.7.
[code]

[2019-05-13 20:52] mjsamoht commented on #1598
We're now returning an empty dataframe when the input file is empty.

But we're not yet handling the case described above where the file contains only one row, which would be interpreted as header row which each column using default data type.  Do we believe this is a practical use case?

[2019-05-13 21:16] kkraus14 commented on #1598
Yes, there's often cases where a user has an automated workflow that writes / reads empty dataframes so we should handle that situation. I believe Pandas by default returns an `object` column, which it essentially treats as strings, if there's no data available for inference.

[2019-05-13 21:21] mrocklin opened #1726 "[DOC] Feedback on 10 minutes to Dask-XGBoost"
*Note: I'm not sure where this should go.  I'd be happy to move it elsewhere if anyone has a suggestion*

I'm taking a look through the 10 minutes to dask-xgboost webpage here and had a bit of feedback: https://rapidsai.github.io/projects/cudf/en/0.7.0/dask-xgb-10min.html#10-Minutes-to-Dask-XGBoost

cc @mt-jones , who I suspect knows the most about this notebook.

### Warning

There is a warning a

[2019-05-13 21:39] harrism commented on #1566
I don't know that we have a long-term plan for what exceptions we will  throw. I don't see why we wouldn't want to reserve the option to throw any appropriate `std::exception`. https://en.cppreference.com/w/cpp/error/exception

As for always calling cudaGetLastError(), I think it would be OK for you to check it, but in the case of some errors you might need to take an action other than throwing it

[2019-05-13 21:52] MikeChenfu commented on #1685
I test different dataset to show above problem.
[code]

[2019-05-13 21:53] kkraus14 commented on #1685
@MikeChenfu We've identified a performance issue specifically with the `count` aggregation (which also impacts `mean` since it uses `count` under the hood), that we're working on resolving. Could you try with `.sum()` just to confirm the performance of that aggregation is as expected?

[2019-05-13 21:58] #1509 closed

[2019-05-13 22:06] MikeChenfu commented on #1685
`.sum()` may also have a performance issue.
[code]

[2019-05-13 22:18] kkraus14 commented on #1685
Thanks for the reproducer, I can confirm I can reproduce.

[2019-05-13 22:42] kkraus14 commented on #1697
Closing as duplicate of #1685

[2019-05-13 22:42] #1697 closed

[2019-05-13 22:52] kkraus14 commented on #1699
@MasoodK Thanks for running these and reporting back the results. Regarding the OmniSci numbers: you noted that you only captured the first run as it was caching results afterwards. Are you sure it was actually caching the results as opposed to it just loading the data into GPU memory? Want to make sure you're fairly and accurately showing OmniSci's capabilities here 😄

cc @andrewseidl @randyzwitc

[2019-05-13 22:55] kkraus14 commented on #1699
Would also love to see results from a more recent release of cuDF!

[2019-05-13 23:01] kkraus14 commented on #1720
@quasiben Some of these aren't ideal to run with a hash based groupby as they're computed while you compute an aggregation which builds the hash table. It would be good to understand how / where Dask and/or other libraries use these attributes / functions for us to plan how we can build something both compatible and GPU friendly.

If you have any examples it would be greatly appreciated!

[2019-05-13 23:05] kkraus14 commented on #1673
Connected with @lmeyerov and @trxcllnt offline about this and this use case is causing a cartesian product which just OOMs the GPU. Fix for their case is to call `.unique()` on the left table before merging. Closing.

[2019-05-13 23:05] #1673 closed

[2019-05-13 23:09] kkraus14 commented on #1716
Duplicate of #1664

[2019-05-13 23:09] #1716 closed

[2019-05-13 23:16] kkraus14 commented on #1690
Looks like Pandas aligns the index on operations like these whereas we don't currently.

[2019-05-13 23:17] kkraus14 commented on #1681
This is resolved.

[2019-05-13 23:17] #1681 closed

[2019-05-13 23:18] randyzwitch commented on #1699
Keith is correct here, “caching” is the wrong way to look at this from an OmniSci perspective. The first run is comprised of two events: loading the data into GPU memory and LLVM compiling the query. The first doesn’t necessarily have to happen (it’s possible the required data is already in memory), but the LLVM compilation will happen for each new query. However, one thing that we aren’t doing is

[2019-05-13 23:21] kkraus14 commented on #1722
`cudf.DataFrame.from_records` expects a numpy recaarray: https://docs.scipy.org/doc/numpy/reference/generated/numpy.recarray.html, not a numpy ndarray.

[2019-05-13 23:26] kkraus14 commented on #1726
Strongly in support of your recommendations, thanks for taking the time to write these up!

This automates getting the external IP address, and if you don't do this then the link it provides is the localhost link which can't be accessed unless the user is running on the same machine as the dask scheduler.

I'd be in support of keeping this or using something similar, but we should add a comment cl

[2019-05-13 23:30] mrocklin commented on #1726
Dask has a variety of utilities to get IP addresses.  For example:

[code]

Alternatively, if you have a network interface that you care about, you might use the `interface=` keyword to `LocalCluster`

More broadly, there seem to be a variety of tricks happening in the notebooks.  It would be good if there was someone going through them with an eye towards readability and raising issues upstream.

[2019-05-13 23:31] kkraus14 opened #1727 "[FEA] Implement `Series.searchsorted`"
See: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.searchsorted.html

This the only known major building block needed for dask-cudf sorting.

@harrism Would love your feedback as to if https://github.com/rapidsai/cudf/pull/1428 suffices for this.

[2019-05-13 23:48] MasoodK commented on #1699
Thanks guys for the feedback!

@kkraus14:
- The first-run results as well as results of subsequent runs are both captured; the latter are in the jupyter notebooks, linked above
- Yes, you guessed it right. I am not sure whether it was time-to-load-into-GPU-memory or caching of intermediary results; this is not visible to the user. In hindsight, I see that I should have used a more general term whi

[2019-05-14 00:05] kkraus14 commented on #1699
With all due respect, I didn't dig into the Jupyter notebooks because it's time consuming and non-straightforward to do so. If developers of the libraries you're benchmarking aren't digging in, then I would strongly guess that the vast majority of end users aren't doing so either.

Without explaining this in the presentation deck I would argue that you're not fairly portraying OmniSci in this cont

[2019-05-14 00:18] ayushdg commented on #1570
Can confirm that I can perform the groupby with `0.7.1` and I get a resulting Dataframe. However there is no way to actually view the output as `to_pandas` or `head` is still dependent on the `unique` method.

On `0.8` can confirm do not see the issue of missing `unique` method. However we might still be lacking more method implementations:
[code]

@kkraus14  Can leave this issue open or can close

[2019-05-14 00:21] MasoodK commented on #1699
@kkraus14
With all due respect, you should have checked the notebooks that are well-documented as well as watched the video of the presentation before writing this last comment. Overall and when all material is consulted, I still believe OmniSci and other components have been represented fairly. The graphs in the deck clearly say that the 2nd and subsequent runs are faster for OmniSci.

Thanks for

[2019-05-14 00:22] randyzwitch commented on #1699
Right, but I think there's a strong distinction between keeping data in 'hot memory' (which most if not all databases do) vs. memoization by caching the results of function calls/queries.

As @kkraus14 mentions, how you select the benchmark can determine the results. If you're going solely on cold start, then OmniSci likely isn't going to win just like C++ isn't going to beat Python in "Hello, Wor

[2019-05-14 00:25] jakirkham opened #1728 "[FEA] Implementing __array_function__"
**Is your feature request related to a problem? Please describe.**

It would be nice for many NumPy functions that are not `ufunc`s to just work on cuDF objects (e.g. `DataFrame`, `Series`). This would allow users to switch between Pandas and cuDF more easily.

**Describe the solution you'd like**

NumPy's [NEP 18]( https://www.numpy.org/neps/nep-0018-array-function-protocol.html ) adds `__array_f

[2019-05-14 00:30] jakirkham commented on #1724
Have also opened issue ( https://github.com/rapidsai/cudf/issues/1728 ) on the `__array_function__` protocol. This is a newer protocol that NumPy provides and a few libraries support, but Pandas does not yet support. There is probably value to both approaches, but it is likely `__array_function__` will overtake `__array_wrap__` in the long run.

[2019-05-14 00:35] harrism commented on #1566
I think we should probably clear CUDA errors when we throw a cudf::cuda_error, but we don't today. The .what() in the exception should tell you as much information as `cudaGetLastError()` will, so no need to call that.

[2019-05-14 00:44] jrhemstad opened #1729 "[FEA] Add Google Bench for libcudf microbenchmarks"
**Is your feature request related to a problem? Please describe.**
libcudf currently lacks any facility for doing micro-benchmark testing of key performance metrics.

**Describe the solution you'd like**
Add [Google Bench](https://github.com/google/benchmark) for adding micro-benchmarks of libcudf code.

**Additional context**
Ideally, Google Bench benchmarks can then be tied into ASV.

[2019-05-14 00:54] jrhemstad commented on #1685
After a fun game of `git bisect`, I narrowed down the offending commit to https://github.com/rapidsai/cudf/commit/542d960b2b16cbc31f51c2ef86267302e947bf65 which replaced the existing device atomic overloads previously used in the groupby implementation for those developed by @kovaltan. I suspect that a code path that was originally using a native `atomicAdd` is now instead using `atomicCAS` and is

[2019-05-14 02:23] harrism commented on #1685
I think the cause is pretty clear... CUDA doesn't support atomicAdd natively on *signed* 64-bit ints, only unsigned. The groupby above resolves to building a hash table with key-type `int` and value type `long long int`. The latter is what the atomicAdd are performed on.

Before commit 542d960, there was this overload in cuDF, which just casts signed to unsigned to do the atomicAdd:

[code]

But n

[2019-05-14 02:33] harrism commented on #1685
I have a tentative fix, which is to change this:

[code]

To this:
[code]

However, I'm concerned about the safety of casting a signed to an unsigned value.

[2019-05-14 02:36] jrhemstad commented on #1685
Because `count` always uses `int64` as output.

[2019-05-14 02:40] harrism commented on #1685
Can count on a table with `gdf_size_type` rows ever be larger than can be represented in a `gdf_size_type`?

[2019-05-14 03:22] harrism commented on #1685
OK, here's a summary:
1. CUDA (for some reason) implemented atomicAdd for unsigned int64 but not signed int64
2. cuDF used to work around this by casting the inputs to unsigned before atomicAdd, but that is wrong, because if you add a negative value you get wrong results. So we can't work around this with that approach.
3. I have re-opened an old internal feature request to get signed int64 atomic

[2019-05-14 05:05] kovaltan commented on #1685
I feel it is safety for casting a signed to an unsigned value only for integer sumation as long as Two's complement is used for a signed number representation.
https://en.wikipedia.org/wiki/Two%27s_complement
But I'd like someone to confirm it is safe for cuda `atomicAdd`.

[2019-05-14 05:48] harrism commented on #1685
@kovaltan is right, I had forgotten about the equivalence of signed and unsigned arithmetic with two's complement. I'm pretty sure that NVIDIA GPUs use two's complement. Otherwise compatibility of code with the CPU would be quite difficult. :)  So this means we can fix the slow sum() aggregations for signed int64 too.

[2019-05-14 07:11] harrism commented on #1682
That does the opposite of what I suggested. I asked that the interface for CUDF_EXPECTS not change, since that would affect a lot of existing code.  I honestly don't think there's a big issue with CUDF_EXPECTS today, and this issue just feels like make-work.

[2019-05-14 07:34] eyalroz commented on #1682
@harrism : It's not a big issue, it's a minor issue. But - what I suggested means all existing calls remain valid.

[2019-05-14 07:56] miguelangel commented on #1722
Hi @kkraus14,

Ups! My bad!

Nevertheless, I have tried to convert the numpy ndarray to recarray, and it seems to be failing yet. Am I missing something?

[code]

![image](https://user-images.githubusercontent.com/26169771/57680512-16868a80-762e-11e9-99bf-ee09f8a4d503.png)

Regards,
Miguel

[2019-05-14 09:19] kovaltan commented on #1685
Now, PR #1691 supports signed int64_t native `atomicAdd` using cast.
Please check it.

[2019-05-14 12:57] beckernick opened #1731 "[BUG] Transpose should support StringIndex"
**Describe the bug**
Now that we have a string index, we should update `transpose` to support this to be consistent with pandas.

[code]

[2019-05-14 13:07] shwina opened #1732 "[BUG] Cannot gather with `StringColumn`"
[code]

The root cause of the issue is that `column_empty_like()`, which is called by `clone_columns_with_size()` returns a plain `Column` object. However in this case, we need a `StringColumn` object:

[code]

[2019-05-14 13:11] beckernick opened #1733 "[BUG] reading parquet creates named index __index_level_0__ by default"
**Describe the bug**
`read_parquet` appears to be naming the datafaframe index `__index_level_0__` when reading from a parquet file if the index name is None. I've only tested this using files generated by calling `to_parquet` from cudf and pandas. If the index does have a name, it is correctly parsed by the parquet reader.

[code]

[code]

[2019-05-14 13:13] shwina commented on #1731
This is addressed as part of #1622

[2019-05-14 13:16] beckernick commented on #1731
Thanks @shwina . Can you update that PR description to reflect that it will close #1731 ?

[2019-05-14 14:58] #1699 closed

[2019-05-14 18:21] quasiben commented on #1720
`is_dataframe_like` looks like the following:

[code]

Essentially, dask looks at some degree of similarity between the APIs of dataframe implementations.   Perhaps, minimally we could implement `ngroups` ?  Could this be done with `len(self._by)` ?

[2019-05-14 18:25] kkraus14 commented on #1720
`len(self._by)` would return the number of columns we're grouping on, not the number of groups. The number of groups wouldn't be known until after the aggregation has finished running which is why this attribute is problematic for a hash based groupby.

[2019-05-14 18:26] kkraus14 commented on #1720
If we can set the property to `None` and that would suffice for Dask I'm absolutely happy to do so.

[2019-05-14 18:29] shwina commented on #1489
Looks like this can be closed. Can you confirm @beckernick?

[2019-05-14 18:31] beckernick commented on #1489
Thanks @shwina . Yes, this has been resolved by rapidsai/custrings#268. Closing.

[2019-05-14 18:31] #1489 closed

[2019-05-14 18:32] quasiben commented on #1720
They might suffice.   @mrocklin what do you think ?

[2019-05-14 18:36] mrocklin commented on #1720
My gut reaction is to let this lie for a while.  Things work today.  If figure that we wait until more problems arise and we get more information to help us refine what this should look like.  Making conventions before having a lot of anecdotal data makes me less-than-confident that we'll get it correct.

Even with a fair amount of information, we still had to modify `is_dataframe_like` several ti

[2019-05-14 18:39] #1505 closed

[2019-05-14 18:56] skmatti opened #1736 "[BUG]DataFrame support methods add/sub does not match Pandas"
The support methods add and sub on empty DataFrame/Series results in output that does not match with Pandas.

The following script:
[code]
results in
[code]
But, this:
[code]
results in
[code]

**Expected behavior**
The `__add__` method does not hold place holders for data but Pandas does. Also, mismatched dimensions results in an error with cudf where as Pandas append NaN values to match dimensio

[2019-05-14 19:17] quasiben commented on #1720
Thanks for the comment @mrocklin.  I'm going to close and take your suggestion.  @kkraus14 thank you as well for the responses

[2019-05-14 19:27] kkraus14 commented on #1722
@miguelangel thanks for the troubleshooting, redefined as a bug, thanks!

[2019-05-14 19:43] davidwendt opened #1737 "[FEA] Support additional column types in csv-writer"
Column types not yet supported
GDF_STRING
GDF_STRING_CATEGORY
GDF_INT8
The timestamp variations as well.

[2019-05-14 20:36] ayushdg commented on #1476
@kkraus14 I'm also working on a workflow using dask-cudf that utilizes the `first` and `last` methods. If it is something that may not be possible with a `hash` based groupby any suggestions on how we could use the `sort` based groupby with Dask's groupby and then utilize these aggregations?

[2019-05-14 20:52] beckernick opened #1738 "[BUG] MultiIndex does not support as_column"
**Describe the bug**
As noted in rapidsai/dask-cudf#125, MultiIndex's lack of `as_column` is causing multi-column groupbys in dask-cudf to fail when `npartitions > 1`. @thomcom has identified that this occurs only in the case where there are multiple partitions that need to be combined.

Please see rapidsai/dask-cudf#125 for more discussion and a reproducible example.

[2019-05-14 21:58] ayushdg opened #1740 "[FEA] Multiindex to Multicolumn"
There should be a way to go from a Dataframe with a multi index to a multicolumn Dataframe. In pandas calling `reset_index` on a df with multi-index converts it to a multicolumn Dataframe.

[2019-05-15 00:20] harrism commented on #1070
The second bullet point in this list is now accomplished via the code owners functionality.

[2019-05-15 00:48] jrhemstad commented on #1070
Not quite, as it doesn't update the labels. If we do away with the labels in lieu of just relying on the code owners being requested for review, then that would be a satisfactory solution.

[2019-05-15 02:52] mjsamoht commented on #1598
Let's say we have two CSV files as follows:
**File 1:**
[code]

**File 2:**
[code]

For `File 1` we return a dataframe with 4 columns and 2 rows, each column of integer type.  But for 'File 2` we return an "empty" dataframe with 4 columns and 0 rows, each column of string type.

How would the user be able to combine/process these dataframes when they now have different data types?

[2019-05-15 03:36] mjsamoht commented on #1643
CSV files don't contain a header so we need to parse the entire file in order to find all the record/row starts.  Once we determined the file offsets for processing the requested `n` rows we only upload the necessary data to the GPU.

For large files it's probably better to use the `byte_range` feature.  Are you familiar with that, @VibhuJawa ?

[2019-05-15 11:47] pradghos commented on #1544
I have picked up the latest release `0.7.1` - Now `TYPE_TEST` worked fine for me.
However, I did below changes to avoid `error: narrowing conversion of '-42' from 'int' to 'char' inside` during build which was not reproducible in other environment.
[code]

[code]
@jrhemstad @harrism : Please me know if I can create PR for this change. Thank you !

[2019-05-15 12:03] pradghos commented on #1545
Sorry for the delayed update -
Environment location: docker container ;
Method of cuDF install: Build `cuDF` conda package using `gcc 7.3` conda tool chain. then install them locally. However, I am going to try the test soon on latest cudF `0.7.1` and share the result.

[2019-05-15 12:06] devavret commented on #1564
Does this really need a bitwise operation? I'm thinking if I reroute `|`, `&`, `^` operators for `bool_` type from bitwise to logical, it should work as desired right?

[2019-05-15 13:37] jrhemstad commented on #1564
I think @beckernick really means "logical", _not_ bitwise.

Pandas uses `|`, `&`, `^` for _logical_ operators, not bitwise.

See: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#boolean-indexing

And: https://stackoverflow.com/a/54358361/11341974

[2019-05-15 13:45] shwina commented on #1606
It looks like `to_gpu_array()` now returns a view:

[code]

[2019-05-15 13:47] beckernick commented on #1564
@jrhemstad is correct. Thanks for updating this issue's title to better reflect the intended functionality

[2019-05-15 13:56] jrhemstad commented on #1685
@MikeChenfu this issue should now be resolved on https://github.com/rapidsai/cudf/tree/release-0.7.2

Closing the issue. Please reopen if you're still seeing the same performance issues.

[2019-05-15 13:56] #1685 closed

[2019-05-15 15:24] jrhemstad commented on #540
cuML is now taking steps to do what I proposed: https://github.com/rapidsai/cuml/pull/591

[2019-05-15 15:39] jrhemstad opened #1747 "[FEA] Refactor legacy groupby to use `gdf_groupby_without_aggregations`"
**Is your feature request related to a problem? Please describe.**

The [legacy groupby implementation](https://github.com/rapidsai/cudf/blob/e489bf6e223795a1e0c2b4c5e10bcca1f2ff4edd/python/cudf/groupby/legacy_groupby.py#L388) relies the libcudf [`gdf_segmented_radixsort`](https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/src/sort/segmented_sorting.cu#L229), which is dated functionality that sh

[2019-05-15 18:07] mjsamoht commented on #1605
PR #1642 is merged.  Closing.

[2019-05-15 18:07] #1605 closed

[2019-05-15 18:14] vuule commented on #1546
@mjsamoht Should we close this issue now? The parser is implemented, with support for the most common parameters.

[2019-05-15 18:19] mjsamoht commented on #1546
Yes, let's close it.  Any additional feature requests (or bugs) will need their own issue filed.

[2019-05-15 18:19] #1546 closed

[2019-05-15 19:04] beckernick opened #1750 "[BUG] Series/DataFrame equality checks are incorrect with StringColumns with different dictionaries"
**Describe the bug**
Equality checks for string columns seem to be always returning True. Something may be going on with the stringcolumn unordered_compare.

[code]

cc @brhodes10

[2019-05-15 19:10] kkraus14 commented on #1750
@felipeblazing This looks like an issue in how we're handling the string dictionary synchronization, no?

[2019-05-15 19:23] kkraus14 commented on #1750
More minimal reproducer:
[code]

[2019-05-15 19:24] kkraus14 commented on #1750
@beckernick It looks like this may be isolated to dataframes / series with a single String element. This works as expected:
[code]

[2019-05-15 19:30] jrhemstad commented on #1544
I believe I know the reason for the narrowing error.

This is because `GDF_BOOL8` uses a `char` for it's underlying storage. `char` resolves to a `signed char` on `x86` whereas it's `unsigned char` on POWER. We should be more explicitly setting the type to one or the other to avoid these issues.

[2019-05-15 19:32] jrhemstad opened #1751 "[FEA] Update `gdf_*` type aliases to use fixed-width types"
**Is your feature request related to a problem? Please describe.**

libcudf currently uses machine dependent types for it's type aliases in `types.h`. See https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/include/cudf/types.h#L4

For example: `typedef char          gdf_bool8;`

This is problematic as we are relying on the width of these types to be a specific size throughout the source code, bu

[2019-05-15 19:35] beckernick commented on #1270
Stopgap functionality for this feature has been merged with #1745. Explicitly backlogging this and tagging it to libcudf, @harrism

[2019-05-15 19:52] galipremsagar opened #1752 "[BUG] [cudf.series] Support for string column in unique method"
**Description**
When I call unique on a cudf.Series whose type is string. I get the following error.

**Steps/Code to reproduce bug**
`cudf.Series(['1.23.0.0','64.9.1.1','1.23.0.0']).unique()`

`AttributeError: 'StringColumn' object has no attribute 'unique'
`

**Expected behavior**

Expected behavior is that just like for integer types we get back a unique array, it should be the same for strings

[2019-05-15 19:54] beckernick commented on #1752
Hi @galipremsagar, could you share your environment and cudf version? This functionality has been implemented semi-recently.

[2019-05-15 20:00] kkraus14 opened #1753 "[BUG] Empty columns are converted to `RangeIndex` in `df.set_index(...)` function"
Reproducer:
[code]

[2019-05-15 20:00] kkraus14 commented on #1753
Blocks https://github.com/rapidsai/dask-cudf/pull/135

[2019-05-15 20:02] galipremsagar commented on #1752
Environment details:

[code]

cudf branch is  `branch-0.7`

[2019-05-15 20:06] beckernick commented on #1752
Thanks @galipremsagar! This functionality was added in #1701 for version 0.8. If you're able to use the 0.8 development branch, you will be able to use this functionality.

Closing this for now. Please feel free to reopen if you run into issues with this on branch-0.8.

[2019-05-15 20:06] #1752 closed

[2019-05-15 20:08] ayushdg opened #1754 "[BUG] Groupby aggregation on a column with a null value throws error"
**Describe the bug**
Given a cudf Dataframe where any aggregation is being performed on a column that has one or more Null values returns an error

**Steps/Code to reproduce bug**
[code]
Output:
[code]

**Expected behavior**
The aggregation should be performed and it should work normally.

**Environment details (please complete the following information):**
 - Environment location: Docker
 - Metho

[2019-05-15 20:10] kkraus14 commented on #1754
Duplicate of #544

[2019-05-15 20:10] #1754 closed

[2019-05-15 20:14] VibhuJawa commented on #1643
Yeah. I am familiar with `byte_range` .

I have a couple of clarifying questions . New to rapids so have limited understanding.

1. When you say we parse, are we parsing the entire file in gpu memory or system memory?

2. If we are doing it at system memory level, i think just reading n rows should  be possible (as pandas does it at https://github.com/pandas-dev/pandas/blob/v0.24.2/pandas/io/parse

[2019-05-15 20:19] beckernick commented on #1721
Implementing `col_level=None` as a keyword argument does resolve the downstream dask-cudf issue. I would vote we make a quick PR to do just this small change, instead of actually implementing multi-level melt (which will likely take some careful consideration). I'll do this now.

If others disagree, whoever takes on multi-index melt can just supersede my PR.

[2019-05-15 22:33] mjsamoht commented on #1643
@vuule would be the best person to explain.

But, yes, we are parsing the entire file in gpu memory to find line terminators (and quote characters).  This is done on the GPU because it can be parallelized.  We don't load the entire file into gpu memory at once.  Instead we break it up into chunks and copy and process one chunk at a time.

[2019-05-16 01:02] harrism commented on #1564
Seems to be a duplicate of #1517?

[2019-05-16 01:08] harrism opened #1761 "[FEA] Extend apply_boolean_mask / drop_nulls to multi-column (tables)"
#1654 added apply_boolean_mask and drop_nulls. Provide versions that operate on cudf::table to support multi-column operation.

[2019-05-16 01:15] harrism opened #1762 "[FEA] Series.std(), Series.var() and similar in libcudf"
We should implement standard deviation, variance, and similar operations on series on the libcudf side with Python bindings.

Consider Implementing for gdf_column as well as cudf::table, in case some operations can be reused across columns (e.g. the count() needed for mean(), std(),. etc.).

In addition to these two, we should look at what other similar aggregations can be handled in the same way.

[2019-05-16 02:51] harrism opened #1763 "cudf::bool8 should use explicit sized type (e.g. int8_t) internal storage"
I believe I know the reason for the narrowing error.

This is because `GDF_BOOL8` uses a `char` for it's underlying storage. `char` resolves to a `signed char` on `x86` whereas it's `unsigned char` on POWER. We should be more explicitly setting the type to one or the other to avoid these issues.

_Originally posted by @jrhemstad in https://github.com/rapidsai/cudf/issues/1544#issuecomment-49279231

[2019-05-16 03:14] kovaltan commented on #1762
`Series.std()`, `Series.var()` call `NumericalColumn.mean_var()` and it is already computed by combination of `cudf::reduction(‘sum’)` and `cudf::reduction(sum_of_squares)`.

https://github.com/rapidsai/cudf/blob/d049217803caaa3346eae8f16200432b54e3a592/python/cudf/dataframe/numerical.py#L251-L258

Do we need this as a single function call?
Of course, it is possible to add new  reduction enum into

[2019-05-16 04:39] harrism commented on #1763
Realized this duplicates #1751 .

[2019-05-16 04:39] #1763 closed

[2019-05-16 04:49] harrism commented on #1270
@beckernick I think the reason that C/C++ doesn't have a round(x, decimals) to round floating point values to a number of decimal points is because binary floating point numbers don't have decimals, by definition. Rounding can lead to unrepresentable values and thus result in less accuracy than the decimals parameter suggests...  In C++, people usually round on printing, rather than changing the s

[2019-05-16 06:16] devavret commented on #1517
This can be added pretty quickly in JIT code.

[2019-05-16 07:41] miguelangel opened #1765 "[BUG] Differences in column types when loading csv with pandas.read_csv() and cudf.read_csv()"
**Describe the bug**
Hi,

When trying to read the attached csv file with Pandas and cuDF, the resulting dataframes have different column types.

![image](https://user-images.githubusercontent.com/26169771/57835073-19b08080-77be-11e9-82b7-938853e670db.png)

**Steps/Code to reproduce bug**
Run the following code on the attached dataset: [ipums_easy.zip](https://github.com/rapidsai/cudf/files/3185890

[2019-05-16 12:55] beckernick commented on #1270
@harrism that makes sense to me. As long as the end user has dataframe/series functionality that they expect (which includes rounding since it's in pandas/numpy), I'm happy. Completely defer to you and @kkraus14 as to whether this functionality should exist (or not exist) in libcuDF.

[2019-05-16 12:56] randyzwitch opened #1766 "[BUG] GpuArrowReader behavior changed between 0.6 and 0.7 (ValueError: buffer source array is read-only)"
**Describe the bug**
In pymapd, we are seeing a bug when using cudf 0.7.1 with GpuArrowReader. Our code passes the following to GpuArrowReader:

[code]

This code works in cudf 0.6 to create a cudf dataframe.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
The expected behavior would be to return a cudf in the same way it is returned in cudf 0.6.

**Environment details (please compl

[2019-05-16 12:59] randyzwitch commented on #1766
From digging through the commits, it appears that one of these two might have introduced this issue:

https://github.com/rapidsai/cudf/commit/8505bc803e63dc30b0e1f34fa4e0987e73384de6
https://github.com/rapidsai/cudf/commit/94ae25b08203ad94b53675230889b4a8d031fea5

[2019-05-16 13:13] mrocklin commented on #1270
Yeah, there are lots of technical reasons to not round.  It's good to remind ourselves that our users aren't technical, and don't care about those reasons :)

[2019-05-16 14:04] MikeChenfu commented on #1685
Thanks @jrhemstad . Is it available on 0.8?

[2019-05-16 14:07] jrhemstad commented on #1685
The fix was a hotfix to the 0.7 release. I believe it should already be available.

[2019-05-16 14:55] MikeChenfu commented on #1685
I see the CHANGLOG.md , this PR may not be ready on 0.8.

[2019-05-16 14:58] kkraus14 commented on #1766
@randyzwitch looks like the offending line is https://github.com/rapidsai/cudf/blob/branch-0.8/python/cudf/bindings/gpuarrow.pyx#L248, @jakirkham looks like the Cython memoryview isn't happy with the input buffer being read-only, any ideas?

[2019-05-16 15:09] pradghos commented on #1544
Thanks for the response @jrhemstad @harrism . I will update any other similar warning in - https://github.com/rapidsai/cudf/issues/1751

[2019-05-16 15:10] kkraus14 commented on #1766
@randyzwitch short term while we work this out, if instead of using `np.frombuffer(...)` you created the numpy array by copy `np.array(...)` I think it will remove the read only flag and workaround this issue.

[2019-05-16 15:18] pradghos commented on #1751
Observed `warning: invalid narrowing conversion` even though, its not build failure -
[code]

[2019-05-16 15:47] OlivierNV commented on #1765
Looks like these columns are completely empty -> sounds like read_csv() should default to float64 instead of int8 for empty column

[2019-05-16 15:48] jrhemstad commented on #1751
Yeah, that looks like the same issue about the difference in `char` behavior on `x86` vs `POWER`. Using unambiguous, fixed-width types should resolve any warnings like these.

[2019-05-16 16:13] #1753 closed

[2019-05-16 17:37] kkraus14 commented on #991
Apply_boolean_mask was merged into 0.8, reassigning to @shwina since he's been poking at the relevant Python / Cython bits.

[2019-05-16 18:00] mjsamoht commented on #1765
This is really a duplicate of the remaining issue #1598 where we have to decide how to treat empty columns.  In that issue the preferred choice is string.  Here it is float64.

IMO, defaulting to string makes more sense than float64.  But either way, we have to pick one.

[2019-05-16 18:06] rjzamora opened #1769 "[FEA] Handle io.BytesIO input for path_or_buf in cudf.read_json"
**Is your feature request related to a problem? Please describe.**
This suggestion would simplify the use of `cudf.read_json` within dask (where it would be ideal for the function to be as similar as possible to the pandas version.  It would also make `cudf.read_json` more consistant with `cudf.read_csv`

**Describe the solution you'd like**
In `csv.pyx`, an `is_file_like` function is used to hand

[2019-05-16 18:36] #1721 closed

[2019-05-16 22:59] kkraus14 commented on #1766
Fixed by #1768

[2019-05-16 22:59] #1766 closed

[2019-05-16 23:02] harrism commented on #1353
Fixed by #1310

[2019-05-16 23:02] #1353 closed

[2019-05-16 23:14] j-ieong opened #1773 "[FEA] Support a stripe parameter in ORC reader"
**Is your feature request related to a problem? Please describe.**
Often times, we split reading a large file at stripe or row group granularity.

It would be good for the ORC reader to support reading a whole stripe by specifying a single `stripe` parameter, rather than emulating with `skip_rows` and `num_rows`.

This feature will allow it to match PyArrow ORC reader interface which exposes a `re

[2019-05-16 23:44] mjsamoht commented on #1237
In the shared dataset not every row or record has the same number of columns.  And based on the values it also looks like the missing columns aren't simply the last 'N' columns.  Instead, the missing columns can be somewhere in the middle of the row.  This makes it impossible to figure out the correct column the data belongs to.

[2019-05-17 00:05] harrism commented on #1270
LOL, I wonder how often users round their data and then complain that the results are wrong.

[2019-05-17 00:39] harrism commented on #1545
@pradghos are you still on a Power CPU?

[2019-05-17 01:08] harrism commented on #1762
This is a question of how feature-complete we want libcudf to be... We have users of the C++ API who don't use the Python API. Hence this request.

[2019-05-17 01:31] harrism commented on #1685
Once 0.7.2 is released (should be in the next 24 hours) and merged into master, we'll merge master into `branch-0.8` so it's available on stable and development branches.

[2019-05-17 05:25] kovaltan commented on #1398
Closed since PR #1691 fixed the issue.

[2019-05-17 05:27] harrism commented on #1398
#1735 was merged, but into branch-0.7.2... Now that that is merged there needs to be a merge of master into branch-0.8 to get those fixes in 0.8...

[2019-05-17 05:55] kovaltan commented on #1398
Oops, I was supposed that #1691 was merged into branch 0.8, but actually it was just closed but not merged yet.
Reopening the issue for issue tracking.

[2019-05-17 09:10] seraphzl opened #1774 "[BUG] cudf.bindings.GDFError.GDFError: b'GDF_UNSUPPORTED_DTYPE'"
**Describe the bug**
Hi,
When reading csv file with cudf.read_csv, an error was reported:

Traceback (most recent call last):
  File "./datapre_gpu.py", line 286, in <module>
    dw_event = get_event_record(dw)
  File "./datapre_gpu.py", line 58, in get_event_record
    gdf = cudf.read_csv(dr_path+dr_file, usecols=headers, dtype=dtypes)
  File "/home/abc/app/miniconda3/lib/python3.7/site-packages/

[2019-05-17 11:32] kovaltan commented on #1762
Okay, understand.

[2019-05-17 13:12] #1550 closed

[2019-05-17 13:20] pradghos commented on #1545
Yes @harrism - I am using Power CPU.

[2019-05-17 13:24] vnkesarwani opened #1775 "[DOC] Monitoring and debugging tool for rapids.io"
## Report needed documentation

**Monitoring and debugging tool for rapids.io**
How do you monitor and debug cudf?

1- What function call is executing @present in GPU.
2- Time taken for data load, execution time, memory allocated/used, time cudf library loading in GPU or context creation.
3- Is there any gpu job monitoring tool which can provide this kind of details?
4- Which tool is suited for ru

[2019-05-17 14:56] beckernick opened #1776 "[BUG] Merges (SQL style joins) don't maintain original row ordering when key columns are different"
**Describe the bug**
Left join merges don't maintain the ordering of the original dataframe if the values in one join key are not identical to the other join key. This is occurring with both string and numeric column keys. So far, I've only been able to reproduce this for `left joins` (`inner joins` don't seem to have the same issue).

[code]

[code]

[code]

[2019-05-17 15:07] jrhemstad commented on #1776
Pandas is an inherently sequential library, so the order of its outputs will always be the same. That won't be true of cuDF unless we do additional work (make performance worse).

It is the nature of most parallel algorithms that the order of the outputs will not be deterministic unless you pay some cost to make them deterministic (e.g., sorting the outputs).

This has come up a few times, so I th

[2019-05-17 15:13] beckernick opened #1777 "[BUG] Version number for branch-0.8 is 0.7.1+*"
**Describe the bug**
With 0.8 built from source, my cudf version number is listed as: `'0.7.1+500.g24ab9736.dirty'`

[code]

[2019-05-17 15:26] beckernick commented on #1776
@randerzander, let's make sure we think this through carefully and document it for users. As @jrhemstad is right it will likely keep coming up.

Suggesting a user sort afterward based on the original order is messy because we may not have the same number of records depending on the nature of the merge. If the data is originally sorted by a column, we can of course just sort by that column (assumin

[2019-05-17 15:44] beckernick opened #1779 "[FEA] Series/DataFrame.reindex"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to reindex my dataframe or series (make it conform to a new index). This functionality can be very useful for reordering rows, but also for expanding the dataframe/series to cover a wider range of index values.

pandas provides some great examples of inputs/outputs and what you can do with this functionality [he

[2019-05-17 16:05] jrhemstad commented on #1776
Would you mind making a separate issue to discuss order preserving behavior of cuDF vs Pandas?

[2019-05-17 16:17] beckernick commented on #1776
Will open up a new issue and reference this issue.

[2019-05-17 16:31] jrhemstad commented on #1545
I see that all the failures are on the `numpy.int8` type. That sounds suspiciously similar to the narrowing warnings we saw in https://github.com/rapidsai/cudf/issues/1544 caused by the difference in how x86 vs POWER interpret `char`.

[2019-05-17 17:37] #1723 closed

[2019-05-17 18:48] beckernick opened #1781 "[DISCUSSION] cuDF vs Pandas output order behavior"
Migrating discussion from #1776.

Many users may expect merges/joins to maintain the row ordering of the original dataframe.

As @jrhemstad has noted:

If the data is originally sorted by a column, we can of course just sort by that column (assuming we aren't concerned with maintaining the order of merged values for that key).

However, sorting after the fact may not be a panacea. Sorting afterwar

[2019-05-17 18:50] #1769 closed

[2019-05-17 18:55] #1733 closed

[2019-05-17 19:00] jrhemstad commented on #1781
This is an issue larger than just `merge`. It applies to many operations: groupby, drop duplicates, etc.

**We have to decide as a whole if cuDF is going to have the exact same ordering semantics as Pandas across all operations.**

I'm uneasy about trying to guarantee that we'll always match the order one would expect from Pandas _by default_. Pandas is an inherently sequential library, and as suc

[2019-05-17 19:02] kkraus14 commented on #1781
I'm going to go on the record here and say that I am in strong opposition to forcing libcudf to return things in a specific order. That being said, we should strive to pass the index column(s) to operations so that even if the order returned is non-deterministic, the index column(s) can be used to sort the resulting dataframe to get a deterministic ordering if needed / desired.

[2019-05-17 19:05] kkraus14 commented on #1750
@devavret If you need to discuss what's going on under the hood here for the StringColumns just let me know. There's a couple layers of translation.

[2019-05-17 19:13] beckernick commented on #1781
Using outer join as an example, @kkraus14 what is your opinion on the right behavior if the resultant dataframe has more rows than the original dataframe. What would you imagine the right expected behavior to be when passing sorting a dataframe containing 19 indices (for example) by the 15 original indices.

[2019-05-17 19:27] jakirkham commented on #1766
Sorry for missing this @kkraus14. I have seen some issues where Cython doesn't like read-only memoryviews. Though they have also been actively improving this over time (e.g. https://github.com/cython/cython/issues/1605 ).

[2019-05-17 19:30] j-ieong commented on #1774
This is because `int16` is missing from our `convertStringToDtype` function, as it currently only maps `short`.

[2019-05-17 19:57] jakirkham commented on #1766
If you'd like me to dig into this further Keith, I'd be happy to do that. Though am also happy with your solution as is.

[2019-05-17 20:10] ayushdg opened #1784 "[BUG] Datetime read by parquet reader incorrect for parquet file written by Dask"
**Describe the bug**
I have a parquet file that was originally created as follows:
Pandas df (with datetime col) -> Dask Dataframe (from pandas) -> to_parquet (dask)

When reading this parquet file using cudf.read_parquet() the results are incorrect and might have something to do with how dask writes the datetime objects to the file which cudf does not handle well.

**Steps/Code to reproduce bug**

[2019-05-17 20:10] beckernick opened #1785 "[BUG] Series.unique does not carry over the Series name"
**Describe the bug**
cuDF.Series.unique() returns a Series object but does not currently carry over the `self.name` in the output Series. This causes downstream dask-cudf issues for users noted in rapidsai/dask-cudf#256.

This can be resolved by updating the Series constructor in the return statement of `Series.unqiue` to include `name=self.name`.

[code]

[2019-05-17 20:12] kkraus14 commented on #1784
@ayushdg if you write the file using Pandas and then read from cuDF does that work as expected? That will be easier to triage and resolve if possible.

[2019-05-17 20:18] ayushdg commented on #1784
Yes, writing the same file from pandas and reading into cudf works as expected with correct results.

[2019-05-17 20:21] kkraus14 commented on #1784
Will leave it to the IO experts from here then 😄

[2019-05-17 20:22] ayushdg opened #2278 "[Discussion] Dask groupby compatibility with cudf groupby methods (hash, sort)"
Cudf's groupby slightly deviates from pandas in that it provides a `method` argument allowing us to provide method=hash, sort etc.

I have workflows with aggregations such as `first` and `last` which are currently not supported by cudf but my understanding is that even if it does get implemented, it would be a part of the sort based groupby as ordering in the hash based one is non-deterministic an

[2019-05-17 20:25] mt-jones opened #1787 "[FEA] Reducing memory overhead for `concat` via shallow copy"
Currently, column concatenation requires that the [output column's total size matches the aggregate size of the columns](https://github.com/rapidsai/cudf/blob/20c87a94dddee6c2d8b2730818c9bbcdc14f339a/cpp/src/column/column.cpp#L75) to be concatenated. [It then performs a deep copy](https://github.com/rapidsai/cudf/blob/20c87a94dddee6c2d8b2730818c9bbcdc14f339a/cpp/src/column/column.cpp#L102).

There

[2019-05-17 20:30] jrhemstad commented on #1787
Two large design issues stand in the way:
 1. Unofficially, columns are generally immutable.
   - Shallow copying from one column to another would have two columns pointing to the same data.
2. Support for chunked columns.
   - What you're suggesting is essentially shallow copying `n` columns into 1 chunked column. Makes sense, but we're a long ways off from being able to support this in any of li

[2019-05-17 20:55] jrhemstad opened #1788 "[FEA] Function to convert column of floating points with NaNs into bitmask"
It is necessary to be able to take a column of floating point values, potentially containing NaNs, and generate a bitmask where every NaN is indicated as null by the bitmask.

The function would look something like:
[code]

`col` may be nullable and must be either `GDF_FLOAT32` or `GDF_FLOAT64`. The returned bitmask will be copied from `col` and updated to have a 0 at bit `i` if `col->data[i]` is

[2019-05-17 21:09] harrism commented on #1781
Anecdotally, when CUDA was new, we had to educate users about the non-associativity of floating point arithmetic and how since parallel operations (like reductions) can't guarantee the same order of operations as sequential operations, users couldn't expect bit-exact equivalence between their sequential and parallel results.

I believe the same type of education is necessary here. Note that the fl

[2019-05-17 21:17] #1684 closed

[2019-05-17 21:50] #1785 closed

[2019-05-17 22:34] mt-jones commented on #1787
Perhaps a broader question would be whether or not we want to make it an official specification that columns remain immutable. Has this been discussed?

[2019-05-17 22:43] jrhemstad commented on #1787
I'm keeping it in mind as part of https://github.com/rapidsai/cudf/issues/1443

[2019-05-19 05:48] eyalroz commented on #1075
So, I want to move forward on this, and leave the question of the use of gdf_scalar for a later point - as it is a matter of style rather of substance, at least for a `fill()` function; and since I need this for the multisearch implementation. @jrhemstad : Is that ok with you?

[2019-05-19 08:16] cornhundred opened #1790 "[FEA] SparseDataFrame data structure"
**Is your feature request related to a problem? Please describe.**
I have sparse data (>95% sparse single cell gene expression data) stored in a parquet file and I would like to directly load it into a sparse cuDF. Making the DataFrame dense would cause GPU memory to run out.

**Describe the solution you'd like**
I would like to be able to generate a sparse gdf from a parquet file and write a parq

[2019-05-20 00:40] beckernick commented on #1431
Closed by #1755 .

[2019-05-20 00:40] #1431 closed

[2019-05-20 04:07] randerzander opened #1792 "[FEA] String columns should support concatenation"
Pandas example:
[code]

Attempting to "+" two string columns in cuDF results in an error about strings not having binary ops.

Workaround:
Using `.data` accessor and nvstrings `cat` function:
[code]

[2019-05-20 06:47] seraphzl commented on #1774
import cudf
headers = ['STATION', 'SW', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']
dtypes = ['int32'] * 7
gdf = cudf.read_csv(dr_path+dr_file, usecols=headers, dtype=dtypes)

When using the code above to read the csv file of 750M, another error was reported:
Segmentation fault (core dumped)

- Software version: cudf 0.7.2+0.g3ebd286.dirty, cuda 10.0, python 3.7.3
- Hardware: 2 Tesla V100 (32G Memor

[2019-05-20 13:20] beckernick commented on #1271
Stopgap Python layer functionality for this feature has been merged with #1456. Explicitly backlogging this and defer to @harrism prioritization on the libcudf side.

[2019-05-20 13:28] beckernick commented on #1037
This is now possible for Series, but still not for DataFrames.

[2019-05-20 13:47] beckernick commented on #1061
We could create stopgap functionality for this feature at the Python level if current users need this. The following example code works as long as the minimum value in the bin array is less than the minimum value in the data array.

[code]

[2019-05-20 14:58] cwharris opened #1793 "No SOURCES given to target: stringify"
**Describe the bug**
Build errors: `No SOURCES given to target: stringify`

**Steps/Code to reproduce bug**
Follow build instructions as seen in [`CONTRIBUTING.MD`](https://github.com/rapidsai/cudf/blob/branch-0.8/CONTRIBUTING.md#setting-up-your-build-environment)
[code]
[code]
**Expected behavior**
Successful build.

**Environment details (please complete the following information):**
 - Environm

[2019-05-20 15:01] jrhemstad commented on #1793
@devavret any idea what would cause this?

[2019-05-20 15:16] devavret commented on #1793
Are all the other sub modules checked out? Looks like you didn’t do a recursive git pull

[2019-05-20 15:23] jrhemstad commented on #1793
@cwharris try running `git submodule update --init --recursive`

[2019-05-20 15:28] jrhemstad opened #1794 "[FEA] print_env.sh should print status of git submodules"
**Is your feature request related to a problem? Please describe.**

`print_env.sh` does not print status about the sub-modules of the cloned cuDF repo. This is useful information to have to debug if an individuals environment is setup correctly (i.e., they did a recursive clone) or to reproduce errors based on specific sub-module versions.

For example, in https://github.com/rapidsai/cudf/issues/1

[2019-05-20 16:02] jrhemstad commented on #1103
Addressed by https://github.com/rapidsai/cudf/pull/1538

[2019-05-20 16:02] #1103 closed

[2019-05-20 16:09] beckernick commented on #705
@randerzander it looks to me like this has been completed. We have a mapping of `np.bool_:      GDF_BOOL8` in the `cudf_cpp` Cython file, and can create Boolean columns in the Python layer. Closing this for now.

[2019-05-20 16:09] #705 closed

[2019-05-20 17:04] beckernick commented on #1790
@cornhundred, based on your description it sounds like the core of your feature request is that you'd like a SparseDataFrame data structure, with the ability to read from and write to parquet as a sub-feature. I'm going to update this issue accordingly. Please let me know if I'm off base.

Additionally, would you be able to share a bit more about your use case? Is it captured in [your notebook fro

[2019-05-20 18:09] revans2 opened #1797 "[BUG] GDF_COALESCE is not implemented"
**Describe the bug**
`GDF_COALESCE` is not implemented.  You try to use it with `gdf_binary_operation_*` your code complies but the JITed code fails to compile.  There is no implementation of it on the back-end.

**Steps/Code to reproduce bug**
Take any existing test for bianry ops and switch it to use GDF_COALESCE instead.
[code]

Try to run the test and instead of failing with bad data, it fails

[2019-05-20 18:17] jrhemstad commented on #1797
This looks like it was added by @felipeblazing here https://github.com/rapidsai/cudf/commit/fd0ecd893350fe5fb6a8f186c91afc12b9b2f117 but never implemented in libcudf.

I suspect it was added for internal use by Blazing.

This should be rectified and either removed or implemented in libcudf.

[2019-05-20 19:58] jrhemstad opened #1798 "[FEA] Make `gdf_replace_nulls` be out-of-place"
**Is your feature request related to a problem? Please describe.**
`gdf_replace_nulls` deviates from the vast majority of `libcudf` operations in that it does not treat the input column as immutable and instead performs the null-replacement operation in place.

https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/include/cudf/functions.h#L1054

`col_out` is modified in-place to replace it's null e

[2019-05-20 20:00] jlowe opened #1799 "[BUG] Input validity presence checked instead of null_count"
**Describe the bug**
Some places in the code are checking for the presence of a validity buffer in the input column(s) instead of `null_count` to see whether the output needs a validity buffer allocated.  For example, `gather` assumes the output column needs a validity buffer allocated if the input column has one, even if the input column's `null_count` is zero.  Similarly, `gdf_column_concat` wil

[2019-05-20 20:03] jrhemstad commented on #1799
I think this problem will largely resolve itself as libcudf APIs are transitioned to _return_ outputs rather than requiring the user to pre-allocate outputs and pass via output paremeters. See https://github.com/rapidsai/cudf/blob/branch-0.8/cpp/docs/TRANSITIONGUIDE.md

[2019-05-20 20:22] RFinkelberg opened #1800 "[FEA] Change default output dtype of `DataFrame.one_hot_encoding` from `float64` to `int32`"
**Is your feature request related to a problem? Please describe.**
Under the current implementation of `one_hot_encoding`, the default dtype of the returned dummy columns is `float64`. This can cause a slowdown of up to 3x on tall dataframes when compared to `int32`.

**Describe the solution you'd like**
Change the default output dtype to `int32`, or some other similar type with less overhead.

**

[2019-05-20 20:26] jlowe commented on #1799
I see a transition to returning outputs as somewhat tangential to this.  If this gets fixed as part of that transition then that's great, but I don't see that as being expected.  I would assume the transition would have libcudf allocate output buffers when it currently expects them to be allocated by the caller, and it seems to me some of those current expectations are incorrect.

[2019-05-20 20:31] jrhemstad commented on #1799
I agree that the functions you mentioned have incorrect expectations for the state of the output validity buffers.

I guess what I really wanted to say is that I don't expect these behaviors will be corrected until those APIs are updated.

[2019-05-20 21:02] skmatti opened #1801 "[BUG] reset_index on multi-column groupby results in an error"
**Describe the bug**
Invoking reset_index after performing a multi-cloumn groupby operation as shown in the script results in an error with 0.7. But works fine with cudf 0.6. Also, single column groupby works as expected with both 0.6 and 0.7

**Steps/Code to reproduce bug**
[code]
**Output:**
[code]

**Environment details:**
cudf 0.7

[2019-05-20 21:37] galipremsagar opened #1802 "AssertionError when iterating over to_gpu_array"
**Describe the bug**
When iterating over the output of `to_gpu_array`, there is an `AssertioError` after printing out all the values in the array.

**Steps/Code to reproduce bug**
[code]

**Environment details (please complete the following information):**
**Cudf nightly version: '0.8.0a1+33.g6aae9d2.dirty'**
[code]

[2019-05-20 21:45] ayushdg commented on #1801
Hey @skmatti this probably due to multi-index support with cudf. Hopefully after #1740 this should be resolved.

As a workaround `print(df.groupby(['x', 'y'],as_index=False).sum().reset_index())` adding `as_index=False` should serve your purpose which would give a multicolumn output as wanted.

[2019-05-20 21:47] #1625 closed

[2019-05-20 21:58] ayushdg commented on #1802
Hi @galipremsagar, the `to_gpu_array` method returns a Numba device array. I don't think Numba allows us to print device arrays right now.
Eg:
[code]
Will give the following output
[code]

If copying to host is not an issue you could try this:
`for i in cudf.Series([1,2]).to_gpu_array().copy_to_host()`

[2019-05-20 22:12] beckernick opened #1804 "[BUG] from_dlpack returns incorrect results"
**Describe the bug**
`from_dlpack` does not appear to be creating the correct dataframe from 2d cupy arrays, though I may be doing something wrong. I expect that calling `from_dlpack` on a cupy array created with  column-major order will return the correct dataframe.

It looks like we skip the `from_dlpack` tests in CI as it requires cupy.

[code]

[code]

**cuDF commit**
commit 24ab9736d53c7859e6

[2019-05-20 22:19] beckernick commented on #1804
Adding a print statement (`print(col.data.mem.copy_to_host())`) into the following loop shows that every `col` in `cols` is the same:

https://github.com/rapidsai/cudf/blob/d6b7bd1b736e8bd498b2c9f18f00474744f6b2b6/python/cudf/io/dlpack.py#L60-L61

[2019-05-20 22:36] ayushdg opened #1805 "[BUG] Merging string index with string column throws error"
**Describe the bug**
Merging two data frames, one with a string index and another one with string column throws an error. (When merging on index with one Dataframe and on column with the other Dataframe.

**Steps/Code to reproduce bug**
[code]
[code]

**Expected behavior**
A normal dataframe merge operation.

**Environment details (please complete the following information):**
 - Environment locat

[2019-05-20 23:01] ayushdg opened #1806 "[BUG] Merging on index gives incorrect index in result"
**Describe the bug**
When merging two dataframes based on index the result does not seem consistent with pandas

**Steps/Code to reproduce bug**

[code]
Output:

  | a | b | a2 | res
-- | -- | -- | -- | --
5|2 | b | 4 | d
4|3 | c | 5 | e
3|4 | d | 3 | c
2|5 | e | 2 | b
1|1 | a | -1 | None

**Expected behavior**

[code]
Output:

  | a | b | a2 | res
-- | -- | -- | -- | --
5|1 | a | NaN | NaN
3|2 |

[2019-05-20 23:11] jrhemstad commented on #1804
Are the 2d cupy arrays column or row major? The `to_dlpack` in libcudf only supports column major.

CC @harrism

[2019-05-20 23:14] beckernick commented on #1804
@jrhemstad I tried both. `order='F'` during the array construction creates the column major cupy array.

[code]

[2019-05-20 23:17] ayushdg commented on #1806
Might be somewhat related to the discussion here: #1781 and how cudf handles non deterministic ordering and indices.

[2019-05-21 00:10] thomcom commented on #1570
There is now a `unique` method in StringColumn. I'm not sure if it is in 0.7.2 or 0.8.0. There is an issue with grouping by stringcolumns, however, as `gdf_find_and_replace_all` does not work with them. I'll file an issue on that.

[2019-05-21 00:21] ayushdg commented on #1570
Hey @thomcom `unique` was merged for 0.8. It would be great if you create a new issue for `gdf_find_and_replace_all`. I'll keep this issue open and retest the code when there is a feature for `gdf_find_and_replace_all` with string columns and keep everyone updated if anything new comes up.

[2019-05-21 00:43] harrism commented on #1099
@jrhemstad should we update the performance plot in this issue now that #1538 is merged? Or should we just close this?

[2019-05-21 01:59] jrhemstad commented on #1099
@williamBlazing's brought down `orderby.cu` from ~480s to ~300s. I've attached updated graphs.

However, you can see that it's still ~2x the compile time of any other file. So our compile time will always be lower bounded by the compile time of `orderby.cu` at ~5 minutes.

At this point, I don't know how much more we can do in libcudf. `orderby.cu` just calls a `thrust::sort` with a custom inequal

[2019-05-21 02:09] dantegd commented on #1606
@shwina it seems that the behavior of `to_gpu_array` is actually slightly obscure (had to follow the full layers of code a couple of times) and inconsistent. Rhe issue is exemplified in the following code snippet taken from `to_dense_buffer` (which `to_gpu_array` in `column.py` calls):

[code]

as you can see, if there are missing values, then it will return a copy, otherwise return by reference.

[2019-05-21 04:15] harrism commented on #1398
This is now merged into 0.8 so closing.

[2019-05-21 04:15] #1398 closed

[2019-05-21 09:19] harrism commented on #1099
Thanks for updating!

[2019-05-21 12:48] shwina commented on #1606
I'd be in favour of this function *always* returning a copy of the underlying data. And using `mem` when a view is needed. Happy to put in a PR addressing this

[2019-05-21 13:08] galipremsagar opened #3105 "[Feature Request] itoh() Integer to hex string function"
In custrings, currently there is `htoi` supported. It will be nice to support `stoh` where integers are in the form of strings and the output is a hex equivalent of the numbers. Currently the only way to convert a string/number to hex is copying to host memory as we don't have .apply operations with custrings.

Context/Use case: I'm using custrings to convert IPv4 addresses to IPv6. So `htoi` is r

[2019-05-21 14:09] dantegd commented on #1606
@shwina I agree, though with the caveat that being able to access `mem` (or an equivalent if the column redesing moves away from numba too much) from external libraries (like cuML) should always be possible. We hate unnecessary copies :)

[2019-05-21 15:59] jrhemstad commented on #1067
`gdf_filter` was removed by https://github.com/rapidsai/cudf/pull/1796

[2019-05-21 15:59] #1067 closed

[2019-05-21 16:13] cornhundred commented on #1790
Hi @beckernick, yes that rename makes sense - I would like a cuDF sparse data structure that reads/writes to parquet. This data structure would be similar to Pandas SparseDataFrame (which is set to be deprecated - see [issue](https://github.com/pandas-dev/pandas/issues/26378#issuecomment-493684906)), or DataFrame using SparseArray extension (see same issue).

I'm working on some Google Colab noteb

[2019-05-21 17:58] thomcom commented on #1738
This should be fixed in 0.7.0 and 0.8.0 from https://github.com/rapidsai/cudf/pull/1741, can you confirm or deny?

[2019-05-21 18:16] OlivierNV commented on #1784
I think this is another side effect of cudf only supporting millisecond timestamps -> the datetime file saved by dask has timestamp in microsecond units. Parquet currently doesn't do any conversion, though we could force a conversion to milliseconds until cudf properly supports other units.

[2019-05-21 18:25] ayushdg commented on #1784
Great. I'll also upload the file written by pandas because when the data is written to a parquet file by pandas, cudf has no problem reading it. Maybe pandas does not write it in microseconds but you can verify to make sure that is the issue.

Code to reproduce:
[code]
[code]
[datetime_pd.parquet.zip](https://github.com/rapidsai/cudf/files/3203926/datetime_pd.parquet.zip)

[2019-05-21 18:28] beckernick opened #1808 "[FEA] Support StringColumn equality comparisons to a single string"
**Describe the bug**
#1337 included support for operations like `df['a'] == df['b']` (though it's currently broken -- #1750 ) but not comparisons to a single string. We need to support binary ops like equality on StringColumns to allow series/dataframe indexing based on direct equality comparisons. Doing something like this causes an error because our binary ops do not effectively support strings

[2019-05-21 18:32] ayushdg opened #1809 "[BUG] cudf sort_index on string index throws error"
**Describe the bug**
Cudf throws an error when trying to sort a string index. Note that cudf can sort string columns without any error. The code path for sort_index tries to call a method that is not supported on string columns.

**Steps/Code to reproduce bug**
[code]
Output:
[code]
Also note that this works:
[code]

**Expected behavior**
The index gets sorted

**Environment details (please comple

[2019-05-21 18:45] beckernick commented on #1808
This could likely be resolved by simply adding a basic `normalize_binop_value` to the StringColumn class as simple as

[code]

The results will be all `True` until #1750 is fixed, though.

@randerzander

[2019-05-21 18:51] beckernick commented on #1738
This is resolved. Oversight not closing this when I closed the dask-cudf issue. Thanks.

[2019-05-21 18:51] #1738 closed

[2019-05-21 18:53] thomcom opened #1810 "[BUG] `gdf_find_and_replace_all` doesn't work with nvstrings"
**Describe the bug**
When calling `gdf_find_and_replace_all` with StringColumns, the original string is returned regardless of the replacement map. This blocks MultiIndex properly supporting string columns, as replace is required to build the MultiIndex.

**Steps/Code to reproduce bug**
String replace:
[code]
[code]

**Expected behavior**
The values in `c` should be replaced by the mapping `a: b`

[2019-05-21 19:05] shwina commented on #1808
Here's an implementation of `normalize_binop_value` that should allow this (and also some other nice things):

https://github.com/rapidsai/cudf/pull/1807/files#diff-311cc94833eaeee5562fe39544aa62abR583

@beckernick If needed I can break that piece away and put in a separate PR if it looks good to you.

[2019-05-21 19:13] OlivierNV commented on #1784
@ayushdg : thanks, I can confirm that the pandas version indeed stores the timestamps in milliseconds (parquet::TIMESTAMP_MILLIS=9), whereas dask stores the timestamps in microseconds (parquet::TIMESTAMP_MICROS=10), this seems to be the only difference between the two files.

[2019-05-21 19:14] OlivierNV commented on #1784
If we want this handled in 0.8, a short-term fix would be to just convert microsecond timestamps to milliseconds in the parquet reader, so that the output is always in milliseconds.

[2019-05-21 19:29] vuule commented on #1765
@mjsamoht The two issues are not exactly the same. In #1598, the dataframe does not have any rows so we can pick any default column type(s). In this issue, all rows contain null values, so cudf picks int8 to reduce the amount of memory allocated, while the field validity is tracked in a separate array. Pandas probably has to use floats to represent null values (no additional validity flag).
We can

[2019-05-21 20:12] ayushdg opened #2279 "[BUG] Performing operations that call `partitioning_index` throw error"
Ran into an error while performing merge. The stack trace indicates that any operation calling `partition_index` would trigger the error.

**Reproducible code**
[code]

There probably is a simpler example to reproduce the same issue.

Output:
[code]

Also faced the same issue with other types of indices `TypeError: Unexpected type for hashing <class 'cudf.dataframe.index.StringIndex'>`

**Environm

[2019-05-21 20:24] shwina commented on #1606
What about exposing the data underlying the Series as a [cuda array interface](https://numba.pydata.org/numba-doc/dev/cuda/cuda_array_interface.html)?

The advantage of this approach is that should we change the type supporting cudf columns from device NDArrays to something else, the API can remain the same.

@kkraus14 @thomcom Thoughts?

[2019-05-21 20:43] beckernick commented on #1808
@shwina , since your improved `normalize_binop_value` will not resolve the core user issue (as the real functionality is ultimately blocked by #1750), don't feel any need to do that as a result of this issue.

With that said, in general I think it's valuable for large PRs composed of somewhat stand-alone / weakly coupled functionality to be split up into smaller PRs. It makes them easier to review

[2019-05-21 20:55] ayushdg commented on #1784
@OlivierNV This isn't a blocker for me right now but if the short-term fix does not require a big change it would be good to have for 0.8.

[2019-05-21 21:59] j-ieong commented on #1774
@seraphzl That seems like a different issue. Does it work if you reduce the CSV file to a few lines? Can attach a reduction of the CSV file that repros if possible? Thanks!

[2019-05-21 23:23] beckernick commented on #1494
Resolved by #1622.

[2019-05-21 23:23] #1494 closed

[2019-05-21 23:24] beckernick commented on #1513
Resolved by #1622.

[2019-05-21 23:24] #1513 closed

[2019-05-21 23:24] beckernick commented on #1731
Resolved by #1622.

[2019-05-21 23:24] beckernick commented on #1459
Resolved by #1622.

[2019-05-21 23:24] #1459 closed

[2019-05-21 23:24] beckernick commented on #1444
Resolved by #1622.

[2019-05-21 23:24] #1444 closed

[2019-05-21 23:38] harrism opened #1812 "[FEA] Python plumbing for cudf::rolling_window"
In 0.7 we added cudf::rolling_window. We need to get this exposed via the Python API.

libcudf PR (merged) was #1356 .

@kkraus14 assigning you initially to delegate.

[2019-05-21 23:58] shwina commented on #1731
Not resolved

[2019-05-22 00:08] shwina commented on #1731
Appears to be resolved after all

[2019-05-22 00:08] #1731 closed

[2019-05-22 00:13] #1794 closed

[2019-05-22 01:25] jrhemstad commented on #1810
Are the String columns being converted to `GDF_STRING_CATEGORY` before calling `gdf_find_and_replace_all`?

[2019-05-22 01:40] ayushdg opened #1814 "[BUG] Issues with multiple aggregations on groupby object"
**Describe the bug**
Have encountered multiple issues while performing multiple aggregations on a grouped df.
- All of these problems are reproducible only with `as_index = True`
- The df is grouped by a single column, so it's not multi-index (multilevel) as such but the new index is essentially set to the column it's being grouped by

## 1
**Steps/Code to reproduce bug**
[code]
Output:

   | b
--

[2019-05-22 01:43] seraphzl commented on #1774
@j-ieong ok, I will move it to a new issue. Thanks!

[2019-05-22 01:52] seraphzl opened #1815 "[BUG] Segmentation fault (core dumped) when loading 750M csv file"
**Describe the bug**
Hi,
When reading a 750M csv file with cudf.read_csv, an error was reported:
Segmentation fault (core dumped)

**Steps/Code to reproduce bug**
import cudf
headers = ['STATION', 'SW', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE']
dtypes = ['int32'] * 7
gdf = cudf.read_csv(dr_path+dr_file, usecols=headers, dtype=dtypes)

**Expected behavior**
The csv file was loaded with no error.

*

[2019-05-22 01:53] beckernick commented on #1801
This is not resolved by #1740. The current issue is that the MultiIndex does not have a `name` attribute, which causes `reset_index` to fail.

[code]

[2019-05-22 02:34] jrhemstad commented on #1443
@revans2 @jlowe @felipeblazing

@harrism and I are discussing whether or not an allocator should be exposed to libcudf users to control how columns are allocated. I.e., should the `cudf::column` constructor and libcudf functions accept an `allocator` parameter to control how it's device memory is allocated.

If RMM w/ pool mode is "fast enough" such that memory allocations are no longer a bottlene

[2019-05-22 02:54] ayushdg commented on #1801
Hey @beckernick makes sense. After solving the name issue both this issue and #1740 will eventually run into the same issue here:
 `    781             out[name] = self.index`

Where we cannot assign a column to be a multi-index.

When calling reset_index on a df with multi index pandas converts it to a multicolumn output.
One solution could be to have a special case for checking index and then it

[2019-05-22 04:32] mjsamoht commented on #1774
Re-opening.  We still want to add the missing 'int8' and 'int16' support.

[2019-05-22 04:38] mjsamoht commented on #1434
@ayushdg are you still targeting this for 0.8?

[2019-05-22 04:51] mjsamoht opened #1816 "[FEA] Add nanosecond support to cuDF"
Currently we only support milliseconds.  We have run into several files that contain data in nanoseconds.
In our Parquet and ORC readers we convert these timestamps to milliseconds, which means cuDF output won't match pandas and there is some loss of precision.

[2019-05-22 05:18] ayushdg commented on #1434
@mjsamoht My work on for the pr is more or less done (few more unit tests and doc updates). I am blocked by #1541 and also waiting on discussing the timeline for #1737 and a response on rapidsai/custrings#305 before the pr (#1542) can be changed to `review`

[2019-05-22 06:37] eyalroz commented on #1443
@jrhemstad : What about @felipeblazing 's allocator use scenarios mentioned in [this comment](https://github.com/rapidsai/cudf/issues/1443#issuecomment-486232759)?

[2019-05-22 08:58] seraphzl commented on #1774
'uint16' and 'uint8' support are also needed. :-)

[2019-05-22 13:30] devavret commented on #1793
@cwharris , Did that fix it?

[2019-05-22 14:39] jlowe commented on #1443
The two cases I can think of where allocators could be useful:

1) Managing one's own temp space as @felipeblazing [called out here](https://github.com/rapidsai/cudf/issues/1443#issuecomment-486230631).  I've heard RMM needs to synchronize on a stream for some allocation/free scenarios even in pool mode.  For that use case, would RMM's pool mode and a sequence of allocations and frees of the same

[2019-05-22 15:03] beckernick opened #1818 "[BUG] Transposing a dataframe of string columns causes a segfault"
**Describe the bug**
Calling transpose on a dataframe of string columns causes a segfault. We should eventually support transposing dataframes of string columns, but for now we should probably prohibit this behavior.

[code]

[2019-05-22 15:55] beckernick commented on #1592
The underlying issues have been resolved by #1622 . Closing.

[2019-05-22 15:55] #1592 closed

[2019-05-22 16:57] bellershaw1 opened #1820 "[FEA] Add support for equivalence of Pandas 'stack'"
**Is your feature request related to a problem? Please describe.**
I wish cuDF supported Pandas stack.

**Describe the solution you'd like**
Support a stack operation identical to Pandas stack.

**Describe alternatives you've considered**
Right now I have to go back to Pandas in order to use stack, which is unwanted because I lose the optimization that cuDF gives me.

**Additional context**
https:

[2019-05-22 16:59] bellershaw1 opened #1821 "[FEA] Add support for equivalence of Pandas 'unstack'"
**Is your feature request related to a problem? Please describe.**
I wish cuDF supported Pandas unstack.

**Describe the solution you'd like**
Support an unstack operation identical to Pandas unstack.

**Describe alternatives you've considered**
Right now I have to go back to Pandas in order to use unstack, which is unwanted because I lose the optimization that cuDF gives me.

**Additional context