[2018-12-07 18:44] jrhemstad commented on #470
Null support for `orderby` (I think this is the same as `sort`?) is already in the works: https://github.com/rapidsai/cudf/pull/411

[2018-12-07 20:02] jrhemstad opened #471 "Multiple redundant definitions of rmm aliases and execution policies"
## Feature request

At several points in the cuDF source code, there are template aliases for a `thrust::device_vector` that uses the `rmm_allocator`.

For example,

https://github.com/rapidsai/cudf/blob/c9fbc8b275315d173e4345e10283b6c697fa7556/cpp/src/bitmask/bitmask_ops.cu#L17

[code]
These template aliases are redundantly defined throughout many source files. Instead, they should be defined in

[2018-12-07 22:04] dorisnvidia opened #475 "cudf 0.4 build error due to cmake using default c/c++ compilers"
I was building cudf 0.4.0 on the psgcluster login node, which is Centos 7.5.1804, and encountered building error while compiling two new utilities header files, cpp/src/utilities/wrapper_types.hpp and type_dispatcher.hpp.

The commands I am using are: (the same commands i was using to build cudf 0.3 without any errors)
module load gcc/5.4.0
module load cuda/9.2.88.1
source activate cudf_dev
cd cpp

[2018-12-07 22:56] nsakharnykh opened #476 "DataFrame.to_arrow uses the same host pointer for index and data column"
## Reporting a bug

- [x] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release.
- [x] I have included the version or commit hash I am using for reference.
commit 7aa3799e73948899a85e70bc73d3cea50b65dff1
- [x] I have included the following environment details:
      Linux Distro, Linux Kernel, GPU Model
Ubuntu, 4.15.0-041500-generic, Quadro

[2018-12-07 23:00] jrhemstad opened #477 "Missing `#include <random>` in type_tests.cpp"
## Reporting a bug

`types_test.cpp` is missing an explicit include for `<random>` which is implicitly included by some systems and environments.

This will cause the default build to fail on some systems as the Google Tests are enabled to build by default.

The bug was fixed here: https://github.com/rapidsai/cudf/pull/473

In the meantime, a workaround is to disable building Google Tests with:

[

[2018-12-08 15:44] jrhemstad commented on #475
Thanks Doris! We'll try and get this figured out.

[2018-12-08 15:46] jrhemstad commented on #470
I believe once #411 is merged, the Python APIs related to sorting should be updated to all use `gdf_orderby` instead of whatever they are using now.

@kkraus14 @dantegd

[2018-12-08 15:49] jrhemstad commented on #452
@dantegd @harrism I assume this has something to do with the new `concat` libcudf function?

[2018-12-08 15:58] jrhemstad opened #479 "libcudf needs a code style guide"
## Feature request

In order to provide a high quality and consistent code base, there should be a code style guide created and enforced.

It is non-trivial to create a quality code style guide from scratch, therefore I suggest we should use the Google C++ style guide as a starting point and modify as necessary (i.e., move from C++11 to C++14 and add rules for CUDA code).

https://google.github.io

[2018-12-08 15:59] jrhemstad commented on #479
Curious about opinions from: @mt-jones @harrism @eyalroz @williamBlazing

[2018-12-08 16:05] dantegd commented on #452
At least the original log seems to fail in `s = cudf.Series([1,2,3,None,4])`, it doesn’t even get to the concat. It seems related to using PyArrow with the array containing a `None` since it fails in `data = as_column(pa.array(arbitrary))` which we use to create the series from the array. Will take a look on Monday, but @kkraus14 might have insight on this.

[2018-12-08 16:07] dantegd commented on #452
Also as far as I remember the new concat does support the valid bitmask in both c++ and python, but it was a while ago I looked at it.

[2018-12-08 16:19] BradReesWork commented on #479
We also need to discuss whether each sub-module a Class, Name space, or just individual functions (current mode)

[2018-12-08 17:07] kenhester opened #480 "Category dtype on read_csv not consistent between pandas and cudf"
## Feature request
Category dtype on read_csv not consistent between pandas and cudf

## Reporting a bug
The 'category' dtype on read_csv in pandas does a 1up encoding of the strings in the field.  The 'category' dtype on read_Csv in cudf does a hash encoding of strings in the field.

While I believe the 'hash' dtype to be a better implementation for XGBoost, the implementations should likely be t

[2018-12-08 17:16] kenhester opened #481 "Support drop method in cudf for portability with pandas"
## Feature request
Support drop method  in cudf for portability with pandas

## Reporting a bug
The drop method is not supported in cudf.  For compatibility with pandas, the method should be introduced into cudf with support for the inplace argument.
[code]
[code]

- [ ] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release.
- [ ] I have inc

[2018-12-08 17:17] datametrician commented on #480
I think this is a feature request more than a bug.

[2018-12-08 17:20] datametrician commented on #480
To elaborate, we have to make some modifications from pandas for performance reasons. We try hard to balance expected behavior between pandas and other data processing frameworks, and create something pythonic that many users (including from other ecosystems) would appreciate.

[2018-12-08 17:24] kenhester opened #482 "Support for inplace argument on fillna for compatibility with pandas"
## Feature request
Support for inplace argument on fillna for portability with pandas

## Reporting a bug
Support for inplace argument on fillna for code portability with pandas.
System: DGX-1v
Container: nvcr.io/nvidia/rapidsai/rapidsai:cuda9.2_ubuntu16.04

[code]
Equivalent in cudf
[code]
Error: inplace fails in cudf
[code]
[code]

- [ ] I am using the latest version of cuDF from conda, built fr

[2018-12-08 17:51] kenhester opened #483 "cuDF needs multi-index support for columns"
## Feature request
groupby in cudf does not produce the same output dataframe structure as pandas.

## Reporting a bug
The groupby in cudf is not compatible or portable to pandas.  The groupby in cudf flattens the indices and prepends the operator 'max' to the new column.  Pandas requires the reset_index() and the column rename to have the same structure in the resulting dataframe.

[code]
[code]

[2018-12-08 19:38] jrhemstad commented on #479
Indeed, I would be equally happy using the ISO CPP guidelines. It has the same benefit of already being supported by `clang-tidy`.

[2018-12-08 21:28] kenhester opened #484 "cudf dataframe not working with DMatrix creation"
## Feature request
cudf dataframe not working with DMatrix creation

## Reporting a bug
Using the latest ngc container from 2 days ago, creating a DMatrix using a cudf dataframe still is not working or is not performant.  Results and times container in this issue.
System: DGX-1v
Container: nvcr.io/nvidia/rapidsai/rapidsai:cuda9.2_ubuntu16.04

[code]
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2018-12-08 22:34] datametrician commented on #484
@kenhester this works if you use dask in the container, that said for single GPU use it should be available as well.  We will add this as a feature to cuDF.

[2018-12-08 22:34] datametrician commented on #484
That said, most systems are multi-gpu, and we strongly encourage you to use dask to benefit from all the GPU.

[2018-12-08 22:44] datametrician commented on #482
@kkraus14 isn't this already support?

[2018-12-09 08:39] Iroy30 opened #485 "Cugraph needs header files not installed anymore after refactor"
## Feature request

Prior to cuff refactor, files in cugraph used functionalities included by gdf/gdf.h, gdf/errorutils.h and gdf/utils.h which after the refactor have become cudf.h, and other two are in cpp/src/utilities/error_utils.h and cpp/src/utilities/cudf_utils.h  respectively, both of which are not installed. These header files need to be installed (updating CMakelists.txt) for cugraph to

[2018-12-09 22:06] ericmjl opened #486 "Unable to read a .txt file"
## Reporting a bug

- [x] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release.

- [x] I have included the version or commit hash I am using for reference:

v0.4.0 from conda-forge.

- [x] I have included the following environment details:

Ubuntu 16.04, NVIDIA GeForce GTX1080

- [x] I have included the following version information for:

[2018-12-09 22:11] dantegd commented on #485
Could you provide a list of what files are needed in cuGraph? If I remember correctly its at least `error_utils.h` and what used to be `gdf/utils.h`. Any other files?

[2018-12-09 23:06] harrism commented on #441
@aguinaldoabbj Are you unable to install the native CUDA toolkit on your system rather than installing via conda? We recommend the native toolkit (https://developer.nvidia.com/cuda-toolkit) because the conda installation often lags behind (e.g. no CUDA 10 support).

[2018-12-10 06:58] datametrician commented on #486
@BradReesWork would you or someone look into this

[2018-12-10 07:31] Iroy30 commented on #485
files in cugraph use functionalities earlier included by gdf/gdf.h, gdf/errorutils.h and gdf/utils.h which after the refactor have become cudf.h, and other two are in cpp/src/utilities/error_utils.h and cpp/src/utilities/cudf_utils.h  both of which are not installed.

[2018-12-10 07:58] Iroy30 commented on #486
The read_csv dtype argument essentially takes in list of strings as an input and converts it to a gdf datatype. What you want to try is put dtype = ['float64' , 'float64', 'float64', 'float64'] instead of dtype=[np.float64, np.float64, np.float, np.float]. Currently the datatypes supported are reflected by the following code snippet:

gdf_dtype convertStringToDtype(std::string &dtype) {

	if (dtyp

[2018-12-10 09:53] ericmjl commented on #486
@Iroy30 thanks for getting back on that. Yes, changing to strings works out.

I have other issues to raise regarding the API, but for the purposes of this issue, I'm happy to consider it solved.

[2018-12-10 09:53] #486 closed

[2018-12-10 10:06] ericmjl opened #487 "cudatoolkit not installed automatically"
## Feature request

I would like to see cudatoolkit installed automatically when installing cudf.

When I first tried printing a dataframe to the output area of the Jupyter notebook, I saw an error stating that `cudatoolkit` needed to be installed via conda. I experienced "user surprise" when this error showed up, as I had assumed that the installation commands on the RAPIDS AI front page would ha

[2018-12-10 10:09] ericmjl opened #488 "automatically infer dtypes when using read_csv"
## Feature request

Related to #487 (in spirit, not in technicalities), this is an issue report about reducing user surprise when interfacing with cuDF.

The pandas read_csv API does not require me to specify dtypes for my data. Even though dtype specification is an option, pandas has a sane default in which it automatically infers dtypes. To help with user adoption, this should be the default as

[2018-12-10 10:16] ericmjl opened #489 "Rendering dataframe in Jupyter notebook"
## Feature request

I hope that I am the one missing something here, because this feature request is going to sound like a very basic thing that I had assumed would have been implemented.

In pandas, when I create a dataframe and call on it in a Jupyter notebook cell, I will get an HTML rendering of it in the notebook, e.g.:

[code]

With cuDF, I get a textual representation instead:

[code]

I ha

[2018-12-10 13:49] randyzwitch commented on #489
A near-term fix for this would be `gdf.head().to_pandas()`, but it would be great to have the proper method defined for Jupyter Notebook as well.

[2018-12-10 16:59] kkraus14 commented on #452
I believe this was fixed in #427, is this not the case?

[2018-12-10 17:09] kkraus14 commented on #462
@BradReesWork assigned to you to coordinate the libcudf side and once that's done I can coordinate the Python changes.

[2018-12-10 17:48] aguinaldoabbj commented on #441
No, I just believe it is better to maintain things with conda, envs and stuff like that.

[2018-12-10 19:01] eyalroz commented on #479
So, several things:

1. I support cudf having a coding standard in (the C++ part of) cudf, but not a very extensive one, at least to begin with.
2. The C++ Core guidelines are not quite a coding standard:
   * They don't standardize the things you see most often in coding standards, e.g. naming schemes, use of uppercase/lowercase, and such.
   * They are a _huge_ document: over 116,000 words, a de

[2018-12-10 19:10] beckernick commented on #452
@kkraus14 You're right. This issue is now resolved with the conda release of cudf 0.4. Closing this issue. @aguinaldoabbj , if you are still running into memory copy issues when using `from_pandas` please create a new issue with steps to reproduce the error. Thanks!

[2018-12-10 19:10] #452 closed

[2018-12-10 19:46] jrhemstad opened #492 "Wiki is out of date"
## Feature request

The cuDF wiki is out of date: https://github.com/rapidsai/cudf/wiki

It still refers to pygdf and links to the old, archived repository.

[2018-12-10 19:49] jrhemstad opened #493 "C++ Doxygen template was deleted"
## Feature request

The [code documentation template](https://github.com/rapidsai/cudf/blob/3c7bea328533a78907ab25871d10095e9a838c87/libgdf/src/example_documentation.cpp) was deleted as a result of the "refactor".

It should either be added back, or moved to a Wiki page.

[2018-12-10 20:00] kkraus14 commented on #493
@jrhemstad can you submit a PR in readding it?

[2018-12-10 20:05] kkraus14 commented on #487
@ericmjl given the typical way of installing the CUDA toolkit is **not** via conda and conda currently can't detect if the CUDA toolkit is installed from outside of conda I'm not in favor of adding the `cudatoolkit` conda package as a dependency. I'm going to close this but we can revisit if/when conda adds support for detecting an existing CUDA installation.

[2018-12-10 20:05] #487 closed

[2018-12-10 20:11] kkraus14 commented on #480
This also moves away from the Arrow specification which also uses an enumeration approach, but as mentioned using a deterministic hashing gives large performance benefits, especially in distributed use cases as it prevents having to synchronize the categories of the partitions. Going to leave this open but I don't see this as high priority.

[2018-12-10 20:11] jrhemstad commented on #493
Not sure what you're asking.

[2018-12-10 20:17] kkraus14 commented on #493
Can you readd

You said that the template was deleted accidentally in the refactor, I was simply suggesting to create a PR of readding it and if there's questions of locations we can discuss in the PR.

[2018-12-10 20:18] kkraus14 commented on #483
This is due to the choice to not support multi-indexes in order to support multiple aggregations on a single column. Closing this as a won't fix unless there's significant pushback.

[2018-12-10 20:21] jrhemstad commented on #493
Sorry, I read "readding it" as "reading it" instead of "re-adding it" and was very confused.

Now I understand :)

I'm happy to add it back, but I believe that @mt-jones deleted it on purpose as he would prefer a Wiki page instead.

Personally I don't care which of the two we go with.

[2018-12-10 20:45] BradReesWork commented on #488
I will work on getting the documentation better.  The API should match Pandas where specifying the dtype is optional.

[2018-12-10 20:45] Iroy30 commented on #488
That is currently in the pipeline with PR #478

[2018-12-10 21:07] jrhemstad opened #494 "Following cuDF README leads to missing pyarrow error"
## Reporting a bug

As of the following commit in the `branch-0.5` branch:
[code]

Following the README in `cudf/` amounts to the following series of operations:
[code]

However, following these instructions as is well result in the following error:

[code]

However, the fix is quite simple. Instead of running `pytest -v` in the `cudf/cpp/build/` directory as described, one should instead run it i

[2018-12-10 21:07] kkraus14 commented on #370
Closing this as a duplicate of #466 and merged in #439.

[2018-12-10 21:07] #370 closed

[2018-12-10 21:08] #3 closed

[2018-12-10 21:09] #1 closed

[2018-12-10 21:09] kkraus14 commented on #108
Resolved in merge reworks.

[2018-12-10 21:09] #108 closed

[2018-12-10 21:11] kkraus14 commented on #146
Given `object` dtypes aren't supported and there's now nvstrings going to close this as stale.

[2018-12-10 21:11] #146 closed

[2018-12-10 21:12] kkraus14 commented on #78
This should be resolved in latest code.

[2018-12-10 21:12] #78 closed

[2018-12-10 21:13] #126 closed

[2018-12-10 21:13] kkraus14 commented on #160
Resolved.

[2018-12-10 21:13] #160 closed

[2018-12-10 21:18] kkraus14 commented on #164
Resolved in latest merge code.

[2018-12-10 21:18] #164 closed

[2018-12-10 21:22] kkraus14 commented on #183
Closing as not a bug. Nulls are represented by bitmask, not `nan`.

[2018-12-10 21:22] #183 closed

[2018-12-10 21:23] kkraus14 commented on #180
Closing as we've been doing this 😄

[2018-12-10 21:23] #180 closed

[2018-12-10 21:37] jrhemstad commented on #479
@eyalroz thanks for the detailed feedback.

1. Great!
2. How would you recommend starting then? I offered the Google C++ guide or the ISO CPP guidelines as a _starting point_, not something to be adopted wholesale.
3. Indeed, I do not suggest who wholesale adopt the ISO CPP guidelines, rather use it as a starting point. We would add, remove, and simplify as necessary for libcudf development.
4. Th

[2018-12-10 21:38] raghavmi commented on #468
It works when I remove the int8 columns.

How do I convert a column dtype in cuDF? I don't see an option like Pandas' astype or to_numeric.

I created this issue to capture the lack of support for uint8. Is that already being tracked elsewhere ?

Note, uint8 is the default type that cuDF's one hot encoding generates. So people are likely to run into it frequently.

There's a separate issue when yo

[2018-12-10 21:40] kkraus14 commented on #468
`astype` is supported you should be able to specify the dtype as `int8` or `int16` instead of `uint8` as well

[2018-12-10 21:42] kkraus14 commented on #205
Closing as not a bug.

[2018-12-10 21:42] #205 closed

[2018-12-10 21:43] #317 closed

[2018-12-10 21:44] kkraus14 commented on #189
Resolved.

[2018-12-10 21:44] #189 closed

[2018-12-10 21:58] eyalroz commented on #479
No no, I'm absolutely against that. If there is something _specific_ in there that you find useful, I would consider it, but certainly not defaulting to accepting that style guide. Just as an example: You would not have been able to write the type_dispatcher using their style guide, because it says: "Code should not use C++14 or C++17 features". Yes, I am talking about the current version. And thi

[2018-12-10 22:03] raghavmi commented on #468
My apologies. I found the documentation for it now. I was looking for it as a function on the dataframe object itself.

I still see some weirdness. My attempt to change the dtype doesn't quite seem to work.

In my case, APPT_WEEKDAY_1 is a column of dtype uint8.
`print(X_train.APPT_WEEKDAY_1.dtype)`
uint8

1. I try to convert it to int8 and it looks like it worked.
[code]
int8

2. But when I print

[2018-12-10 23:08] eyalroz commented on #493
@jrhemstad : Wiki page.

By the way - according the documentation template , we should _not_ be adding the silly
[code]
lines before and after the doxygen comments. We should get rid of all of those.

[2018-12-11 00:07] harrism commented on #453
Try running `numba -s` on the command line.

[2018-12-11 00:22] jrhemstad commented on #493
I wrote the template and put those lines come from the default behavior of the vim Doxygen plugin. It's purely aesthetic and I like the visual separation.

 It's also perfectly valid Doxygen: http://www.doxygen.nl/manual/docblocks.html

You're free to omit it if you'd like.

[2018-12-11 05:33] diaper151 opened #496 "Conda installation problem (cannot load library 'librmm.so')"
### Reporting a bug

First, Thanks u for making such a great tool.

when I used conda install
[code]
then
[code]
it showed

I've check the system prerequisites, everything is satisfied. Is there anything I need to install or it's a bug? Thanks.

[2018-12-11 05:35] AK-ayush commented on #496
@diaper151 Did you install cuda=9.2 anywhere either  system-wise or in conda env?

[2018-12-11 05:38] diaper151 commented on #496
@AK-ayush I have cuda-10 installed on my system. I saw rapid also support cuda-10. Should I try to install cuda-9 and give it a try?

[2018-12-11 05:46] AK-ayush commented on #496
@diaper151 Can you try reinstalling the cudf for cuda-10 using the below command:

`conda install -c rapidsai/label/cuda10.0 cudf `

[2018-12-11 06:16] diaper151 commented on #496
@AK-ayush  although it successfully installed with
 `
conda install -c numba -c conda-forge -c nvidia -c rapidsai/label/cuda10.0 -c defaults cudf=0.4.0
`
But when I import cudf. It said
`
No module named 'cudf'
`
But I can saw cudf in conda list output. That's weird.......

[2018-12-11 06:59] AK-ayush commented on #496
By any chance you forgot to activate the conda env... It happened with me earlier.

[2018-12-11 07:03] diaper151 commented on #496
I've activated my temp env. and now somehow I successfully installed it. But it still said cannot load library 'librmm.so': libcudart.so.9.2......@@ I guess I'll try next time when 0.5 release

[2018-12-11 07:18] AK-ayush commented on #496
@diaper151  can you please try with cuda-9.2 on system then it should work.  or you can install the cuda toolkit within conda env using :
[code]
and try finding the file `libcudart.so.9.2` using:
[code]
It is strange why it is giving error in cuda-10. will look into it.

[2018-12-11 09:07] harrism commented on #493
#4 at that link has two examples with horizontal separators.

[2018-12-11 10:05] AK-ayush commented on #496
@diaper151 I am not able to reproduce your issue with system wise cuda-10 and installing the cudf using:
[code]
---
Can you please list down the steps that you tried...

[2018-12-11 11:19] eyalroz commented on #493
No examples with distinct separator comment blocks. Filling out the first and last line in the same block is still not to my liking, but it's much better than the 3 consecutive comment blocks we have now.

[2018-12-11 16:12] a-agrz opened #497 "libgdf_cffi.wrapper.GDFError: CUDA ERROR when creating gdf from pandas dataframe"
`>>> pdf = pd.DataFrame({'a': [0, 1, 2, 3],'b': [0.1, 0.2, None, 0.3]})`
`>>> df = cudf.DataFrame.from_pandas(pdf)`
`ERROR: CUDA Runtime call cudaGetLastError() in line 203 of file /cudf/cpp/src/bitmask/valid_ops.cu failed with no kernel image is available for execution on the device (48).
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/conda/envs/cudf/lib/python3

[2018-12-11 16:15] mrocklin opened #498 "Add nightly conda builds"
Does this package publish nightly conda builds?  If so, where are they available?

[2018-12-11 16:20] mrocklin commented on #498
I was just talking with @kkraus14 and he pointed me to the `cudf` package on the `rapidsai` channel, but said that this might not have survived a recent process change.

[2018-12-11 16:20] mrocklin commented on #498
cc @mike-wendt

[2018-12-11 16:32] thomcom commented on #479
I am in favor of a minimal style guide that grows as it meets the needs of our specific team. As @BradReesWork mentions, there's a need to identify how sub modules should be scoped. Instead of adopting an entire style guide, perhaps we could start with a GH issue addressing that specific challenge?

The goal of a style guide is to reduce development time and cost. Exactly how much cost can be save

[2018-12-11 16:34] kkraus14 commented on #497
@a-agrz We only support Pascal and newer architectures and the error you're getting is because your card doesn't support a new enough compute capability for cuDF. We should clarify this error message and I will open an issue for this.

[2018-12-11 16:36] kkraus14 commented on #496
@diaper151 How did you install CUDA? After installation did you do the post-installation scripts of setting the PATH and LD_LIBRARY_PATH environment variables accordingly? See: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#environment-setup

[2018-12-11 16:42] kkraus14 opened #499 "Detect CUDA compute capability and warn/except if too low"
Based on #497 we should detect the compute capability on library import and raise either a warning or exception if the compute capability is too low for cuDF / libcudf.

[2018-12-11 16:52] #497 closed

[2018-12-11 17:50] thomcom commented on #498
True CI with tagged release builds seems like what we should be developing toward.

[2018-12-11 18:43] mike-wendt commented on #498
This is on the roadmap and will be done as soon as possible. There are other stability issues that take priority at the moment.

[2018-12-11 19:07] mrocklin commented on #498
No rush.  Was just curious if this was possible today.

On Tue, Dec 11, 2018 at 1:43 PM Mike Wendt <notifications@github.com> wrote:

[2018-12-11 19:10] mike-wendt commented on #498
Also FWIW the plan for the next CI iteration will not only do nightly builds but also all PRs will be built with conda pkgs so developers can test their code more directly.

[2018-12-11 19:46] diaper151 commented on #496
@kkraus14  Yes, I use  cuda runfile to install and all paths look fine.
@AK-ayush  Finally, After `conda install -c anaconda cudatoolkit` then everthing works just fine. Thanks you very much :100:

[2018-12-11 19:57] kkraus14 commented on #496
@diaper151 My guess is that CUDA wasn't installed properly or the path wasn't set before installing the `cudatoolkit` from conda. Glad to hear it's resolved 😄.

[2018-12-11 19:57] #496 closed

[2018-12-11 20:50] aschaffer opened #503 "Rename RMM's header memory.h"
The name of the RMM header memory.h clashes with STL or C standard header names, creating build issues ('extern "C"' causing mangling issues when linking being one of the harmful consequences). Please consider renaming to a non-standard header name (e.g., rmm_memory.h).

[2018-12-11 21:07] kenhester opened #504 "cudf merge printing out dtypes"
## Feature request

## Reporting a bug
cudf *merge* API printing out dtypes for all columns in jupyter notebook
System: Haswell 4xV100
Container: nvcr.io/nvidia/rapidsai/rapidsai:cuda9.2_ubuntu16.04

This happens on both of these cudf merges.
[code]
Unexpected output below the notebook code cell.
[code]

- [ ] I am using the latest version of cuDF from conda, built from `master`, or
built from the

[2018-12-11 21:13] kkraus14 commented on #476
I don't think this is an issue, I'm not sure on the semantics of memoryview but see this:
[code]

[code]
The memory addresses of PyArrow buffers are clearly different so I think we're okay. I imagine we'd see the same behavior when adding the print statement to `numerical.py`. Closing this as a non-issue.

[2018-12-11 21:13] #476 closed

[2018-12-11 22:55] harrism commented on #428
@knithinreddy3 Can you try again with cudf 0.4.0 and provide a include a minimal but complete repro python code rather than a screenshot?

[2018-12-11 23:47] harrism commented on #481
This is fixed by #439 which has already been merged to branch-0.5 (which means it will be in the upcoming 0.5 release).

[2018-12-11 23:47] #481 closed

[2018-12-12 14:12] jrhemstad commented on #493
Ah, I see what you mean. You dislike:

[code]

vs.

[code]

I see how that could be annoying for folds in some IDEs. I have no problem with the latter.

 When I (or someone else) creates a Wiki page for the Doxygen template, we can update it to show the latter.

[2018-12-12 15:38] kkraus14 commented on #504
I'll resolve this in a PR shortly, thanks for the report @kenhester!

[2018-12-12 17:23] randerzander opened #506 "Create doc examples for Arrow formatted data interop"
## Feature request

External applications generate Arrow formatted data they'd like to read into cuDF efficiently.

External applications want to consume cuDF results as Arrow formatted data.

cuDF supports both above use cases, documentation with examples needs to be written.

[2018-12-12 20:04] kkraus14 commented on #148
I believe this was due to issues with null handling that are now resolved. Closing and will reopen if it reappears.

[2018-12-12 20:04] #148 closed

[2018-12-12 20:09] kkraus14 commented on #165
This is resolved now.

[2018-12-12 20:09] #165 closed

[2018-12-12 20:09] kkraus14 commented on #173
This is resolved.

[2018-12-12 20:09] #173 closed

[2018-12-12 20:10] kkraus14 commented on #178
This is resolved now.

[2018-12-12 20:10] #178 closed

[2018-12-12 20:13] kkraus14 commented on #185
Not an issue, related to use of IPython REPL keeping reference to Numba exception which references original object. Closing.

[2018-12-12 20:13] #185 closed

[2018-12-12 20:14] thomcom commented on #327
WIP coming up

[2018-12-12 20:17] kkraus14 commented on #190
Same as #193.

[2018-12-12 20:21] kkraus14 commented on #194
This is resolved.

[2018-12-12 20:21] #194 closed

[2018-12-12 20:31] eyalroz opened #507 "type_dispatcher should support functors over subset of cuDF types"
This issue regards the master and v0.5 branches.

If you use the `type_dispatcher()` function and pass a class whose operator() is only implemented for _some_ of the types corresponding to `gdf_dtype`s - you will get a compiler error, since the type dispatcher has code calling all instantiations of that template. Instead, the dispatcher should use template meta-programming methods to only make the

[2018-12-12 20:33] eyalroz opened #508 "the type dispatcher is not constexpr"
The type dispatcher - which is implement as a function - is not constexpr. I'm sorry, I should have noticed this when reviewing the PR.

@jrhemstad  FYI.

[2018-12-12 20:33] jrhemstad commented on #507
I'd absolutely support this. I've seen several cases where this would be useful.

I just haven't been sure the right way to go about implementing it. I'd love to hear any ideas.

[2018-12-12 20:38] eyalroz commented on #479
@thomcom : The thing is, you want a bit of an involved process before preventing people from programming a certain way... but if we wanted something faster, we could have a shorter process for suggested rules with no explicit objections. Something like:

* Allow contributors (individuals or groups) to phrase specific rules they suggest we adopt (e.g. on a Wiki page for "Style guide non-biding rule

[2018-12-12 20:44] eyalroz commented on #507
@jrhemstad : How about [this way](https://stackoverflow.com/q/26366205/1593077)?

[2018-12-12 20:57] shwina commented on #403
@kkraus14 I think the categorical types are handled correctly. The problem is that int16 types are not supported by sort:

https://github.com/rapidsai/cudf/blob/master/cpp/src/sort/sorting.cu#L208

I can confirm that adding a `gdf_radixsort_i16` fixes this issue. If that sounds like the right approach, I'm happy to submit a PR!

[2018-12-12 21:00] kkraus14 commented on #403
@shwina I believe this will be resolved by PR #411 and Python bindings surrounding that revised libcudf order_by function.

[2018-12-12 22:09] #216 closed

[2018-12-12 22:10] kkraus14 commented on #218
This should be resolved.

[2018-12-12 22:10] #218 closed

[2018-12-12 22:19] kkraus14 commented on #224
resolved

[2018-12-12 22:19] #224 closed

[2018-12-12 22:25] #249 closed, assigned to nobody

[2018-12-12 22:41] harrism commented on #251
It is not resolved. I get the same output with 0.4.0:

[code]

Output:

[code]

[2018-12-13 14:36] ericmjl opened #514 "Feature request: pandas extension API"
## Feature request

`pandas` has an extension API that allows us to extend pandas very flexibly. As an example, I developed [`pyjanitor`](https://github.com/ericmjl/pyjanitor), which uses [`pandas-flavor`](https://github.com/Zsailer/pandas_flavor) underneath the hood, which enables functions to be registered as if they were native to a pandas dataframe. I'm hoping to see the pandas extension API i

[2018-12-13 15:58] muellren opened #515 "Boolean Indexing not supported on DataFrame"
## Reporting a bug

Boolean Indexing does not work on cudf.DataFrame() as described in
https://rapidsai.github.io/projects/cudf/en/latest/10min.html#selection
Reporting as a bug in the documentation.

[code]
Results:
[code]

- [X] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release: master
- [X] I have included the version or commit hash I

[2018-12-13 16:08] kkraus14 commented on #515
Note: the docs show boolean indexing on a series, not on the dataframe and I believe we support such currently. We should support boolean indexing on the dataframe level as well.

[2018-12-13 16:17] dorisnvidia opened #516 "cudf read_csv_strings reads doubled quoted float numbers incorrectly"
## Reporting a bug

- [x] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release. -- cuDF 0.4.0 from master
- [x] I have included the version or commit hash I am using for reference.
- [x] I have included the following environment details:
      Linux Distro, Linux Kernel, GPU Model
- [x] I have included the following version information for:

[2018-12-13 16:21] muellren commented on #515
I see, indeed. The documentation only shows the bitvector applied to a series.

I can confirm that
[code]
does work.

This is not a bug, rather a feature request then.

[2018-12-13 16:49] beckernick commented on #515
Agreed. The query API works well but adds complexity compared to direct indexing. Would be a nice feature for those used to pandas.

[2018-12-13 16:51] kkraus14 commented on #515
@thomcom would you want to try to tackle this? I believe it should be as simple as applying the bitmask to each column and assigning them to a new dataframe object.

[2018-12-13 17:45] kkraus14 commented on #482
@datametrician We don't support inplace arguments anywhere currently and have generally been avoiding inplace operations. I don't think there's any technical blockers in implementing inplace operations but it's not high priority.

[2018-12-13 18:53] kkraus14 commented on #432
@yxnal are you still experiencing the issue?

[2018-12-13 18:56] muellren opened #517 "DataFrame::merge, on-keyword argument needs string not just list"
## Reporting a bug

[code]
Error:
[code]

Expected behavior: same as for list of str
[code]

The docstring  states for argument on:
[code]

- [X] I am using the latest version of cuDF from conda, built from master, or
built from the latest tagged release: master
- [X] I have included the version or commit hash I am using for reference (commit 7aa3799).
- [X] I have included the following environme

[2018-12-13 20:01] muellren opened #518 "Extend DataFrame::sort_values for sorting along multiple columns"
## Feature request

`sort_values(by, ascending=True)`  of `DataFrame` currently only supports sorting along one column, i.e., by and ascending can only take a single value.

In Pandas, DataFrame `sort_values(by, ascending)` can take a `str` or a list of `str` for `by` and a `bool` or a list of `bool` for `ascending` respectively:

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFr

[2018-12-13 20:03] jrhemstad commented on #518
This will be fixed by: https://github.com/rapidsai/cudf/issues/518  as soon as the Python side is updated to use it.

[2018-12-13 20:50] pdmack opened #519 "'librmm.so': libcuda.so.1: cannot open shared object file"
- [x] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release.
- [x] I have included the version or commit hash I am using for reference.
- [x] I have included the following environment details:
      Linux Distro, Linux Kernel, GPU Model
- [x] I have included the following version information for:
      Arrow, cmake, CUDA, gcc/g++, Numpy, Pan

[2018-12-13 21:03] pdmack commented on #519
https://gist.github.com/pdmack/9d4110fc4450646341493a42b05b5077

[2018-12-13 21:10] harrism commented on #383
To my comment a month ago, I *thought* the refactor PR would rename all these things. But I'm glad it didn't -- there was too much in that PR already which made it a difficult one. We won't be doing huge PRs like that again.

I do think we should unify / update naming to the `cudf` prefix, but it's not super high priority right now. This would be a good issue for someone who wants to gain more fam

[2018-12-13 21:39] kkraus14 commented on #441
You can still install it into a userspace and set the relevant PATHs to it. See using `toolkitpath` here: https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html#runfile-advanced.

[2018-12-13 21:43] harrism commented on #519
I believe this is a duplicate of #441.

Do you have the CUDA Toolkit installed?

[2018-12-13 21:47] eyalroz commented on #383
Agree, except for the target developer for this issue. It is, after all, basically a find-replace; you wouldn't have to know the codebase to get it to work.

But this is a good first issue to teach someone about how the development process on cuDF works: Where to branch from, how to create a PR, updating the changelog, waiting for the CI etc.

[2018-12-13 21:51] #494 closed

[2018-12-13 22:42] mrocklin opened #520 "Test against Pandas with heavily parametrized tests?"
I spent a bit of time to look through the cudf testing suite.  It's pretty slick!

It tends to switch between semi-exhaustive parametrized tests and one-off tests for certain functionality.  *If* we choose to mostly follow Pandas semantics, then I'd like for us to consider embracing parametrization more.  I suspect that we might be able to establish good coverage of the Pandas API by writing tests

[2018-12-13 22:46] mrocklin commented on #520
I've added a proof of concept in https://github.com/rapidsai/cudf/pull/521 just for discussion.

[2018-12-13 23:00] mrocklin opened #522 "Use Black for automatic code styling in Python"
There seem to be some ongoing conversations about linting and code style.

I'd like to submit [Black](https://black.readthedocs.io/en/stable/) for consideration.  It is commonly used to automatically format code.  This removes most conversation about code style, which is pleasant.

Here is a [lightning talk](https://youtu.be/bTAFl8P2DkE?t=301) about the project.

[2018-12-13 23:05] raghavmi opened #523 "GPU accelerate MICE imputation"
## Feature request

MICE imputation is a powerful, but compute intensive imputation strategy.

MICE:
https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3074241/
https://www.youtube.com/watch?v=zX-pacwVyvU

It has been shown to work well with EHR data that's typically quite sparse:
https://arxiv.org/abs/1801.00065

A GPU accelerated MICE imputer would be a great addition to RAPIDS.

[2018-12-13 23:43] pdmack commented on #519
The drivers are loaded into GKE using https://github.com/GoogleCloudPlatform/container-engine-accelerators

Does the Toolkit invoke `ldconfig` in its install/setup?

[2018-12-14 02:16] harrism commented on #519
The driver is libcuda.so, so that is a different dependency. We see the error you describe from people who have not installed the cuda toolkit, which includes libcudart.so.
________________________________
From: Pete MacKinnon <notifications@github.com>
Sent: Friday, December 14, 2018 10:43:13 AM
To: rapidsai/cudf
Cc: Mark Harris; Comment
Subject: Re: [rapidsai/cudf] 'librmm.so': libcuda.so.1: can

[2018-12-14 02:32] mike-wendt commented on #309
@kenhester they are included in the latest release on docker hub and are published here: https://github.com/rapidsai/notebooks

Does this solve the issue?

[2018-12-14 02:35] kkraus14 commented on #520
@mrocklin totally on board with this!

Along these lines it would be great to create a utilities file for tests that has a set of highly parametrized fixtures for creating inputs for tests across cuDF, PyArrow, Pandas, and Numpy objects.

[2018-12-14 02:38] kkraus14 commented on #518
@jrhemstad I think you linked to the incorrect PR / issue number.

[2018-12-14 03:12] j-ieong commented on #516
Assign myself in spirit (since cannot actually do it on GitHub yet).

The recent PR with quotations options only handled quoted strings. We need a small fix to handle quoted numbers (basically ignore surrounding quotechar).

[2018-12-14 03:53] mike-wendt commented on #304
@dantegd are you still able to do this?

[2018-12-14 03:58] bahaugen commented on #517
Is this different than #340?

[2018-12-14 14:49] jrhemstad opened #526 "Deprecate `gpu_concat` in favor of `gdf_column_concat`"
## Feature request

https://github.com/rapidsai/cudf/blob/master/cpp/src/compaction/stream_compaction_ops.cu#L387

The old function for concatenating two columns, `gpu_concat`, is wholly superseded by the newer `gdf_column_concat` function.

Whereas `gpu_concat` only supported concatenating two columns, `gdf_column_concat` supports concatenating an arbitrary number of columns in parallel, making i

[2018-12-14 17:42] muellren opened #527 "Fail loudly in default cases of switch statements on gdf_dtype"
## Feature request

Missing case clauses on `gdf_dtype` or the `default` case should fail loudly if the functionality is not yet available. The currently used `assert(false)` results in a undefined behavior in `Release` builds.

Argument checks for currently unsupported data types and modes are missing in the Python layer and loud failures would help with the triage of bugs.

Occurrences:
- [type_

[2018-12-14 17:45] jrhemstad commented on #527
Note that in the long term, all `switch` cases in libcudf will be replaced by `cudf::type_dispatcher`. Therefore, focusing on the desired behavior for its default case is appropriate.

[2018-12-14 18:55] mrocklin opened #528 "Execution hangs when multiple ThreadPoolExecutor threads concurrently manipulate DataFrames."
- [x] I am using the latest version of cuDF from conda, built from `master`, or
built from the latest tagged release.
- [x] I have included the version or commit hash I am using for reference.  (I'm on 0.4)
- [ ] I have included the following environment details:
      Linux Distro, Linux Kernel, GPU Model
- [ ] I have included the following version information for:
      Arrow, cmake, CUDA, gcc/g

[2018-12-14 19:31] mrocklin opened #529 "Build DataFrames from CUDA array libraries"
## Feature request

I would like to be able to construct a cudf DataFrame from a NumPy-like GPU array, perhaps coming from Numba, CuPy, PyTorch, or TensorFlow.  What is the right way to support this?

Alternatively, if I want to move a cudf Series to a CuPy array, or work with it from Numba, how can one do this?

One approach was defined and taken in https://github.com/cupy/cupy/pull/1144 where @s

[2018-12-14 19:42] mrocklin commented on #529
Actual docs here: https://numba.pydata.org/numba-doc/dev/cuda/cuda_array_interface.html

[2018-12-14 19:55] mrocklin commented on #529
My objective would be for the following to work:

[code]

[2018-12-14 20:39] eyalroz opened #530 "branch-0.5 Join test fails again...."
* Using branch-0.5 tip as of today.
* Devuan ASCII GNU/Linux, with Miniconda 2.
* An Intel x86_64 machine with 16 GB RAM.

3 tests are failing on memory allocation. Snippet of the `LastTest.log` (which we get with `make test`):
[code]

[2018-12-14 22:48] kkraus14 commented on #529
@mrocklin this definitely doable. Would you expect the behavior to be pass by reference or pass by copy?

With Pandas + Numpy the behavior is inconsistent:

In constructing a Pandas Series from a Numpy array it is pass by reference:

[code]

[code]

In constructing a Pandas DataFrame from Numpy Array(s) it is pass by copy if constructed via a dict:

[code]

[code]

In constructing a Pandas DataFra

[2018-12-14 22:52] mrocklin commented on #529
I'm personally comfortable with pass-by-reference whenever possible.  I'm a bit curious about who owns the reference though.  What happens in the following case?

[code]

Ideally `s` would still point to valid data, but I can imagine that the memory manager within cupy may not be aware of this.  Does `s` hold a reference to `x`?

[2018-12-14 23:37] #518 closed

[2018-12-15 01:13] mrocklin commented on #489
I suggest the following implementation:

[code]

There are probably some other methods here, like `__str__` and `to_html` that might benefit from this treatment as well

[2018-12-15 01:14] mrocklin commented on #489
@ericmjl any interest?

[2018-12-15 14:44] ericmjl commented on #489
@mrocklin I thought you were supposed to be on break or something :smile:.

I do have a question, hope you don't mind it - I think it stems from my mental model of pandas, and model of GPUs, being unclear. Is conversion to a pandas DataFrame necessary for HTML rendering? If so, is it because HTML rendering is done on the CPU and not on the GPU? I guess I'm mostly concerned about data transfer maki

[2018-12-15 16:47] mrocklin commented on #489
I'm back from break :)

I imagine it would be possible to render a dataframe to HTML on the GPU, but my guess is that bringing over the 20 or so rows necessary to render on the CPU side (reusing the pandas code) can be done in a millisecond or so.  Given that this only happens during human interaction I think that we're probably in a regime where a millisecond is considered a short time.

[2018-12-15 17:07] mrocklin commented on #483
(@kkraus14 and I had an in-person conversation about this, but I thought I'd re-hash part of that conversation here)

I'd like to push back on this.  I think that there is value to supporting the same semantics as Pandas.  In particular this has two benefits:

1.  Lower cognitive load for existing Pandas users
2.  Better integration with other pandas-friendly dataframe projects, like dask.datafram

[2018-12-15 21:49] mrocklin commented on #489
If you're interested, sure!  No pressure though :)

On Sat, Dec 15, 2018 at 4:23 PM Eric Ma <notifications@github.com> wrote:

[2018-12-15 23:36] shwina commented on #522
Very cool project! Is there a way to support Cython with Black?

[2018-12-15 23:41] ericmjl commented on #522
To the best of my knowledge, @ambv wants help with this: https://github.com/ambv/black/issues/359

[2018-12-16 00:04] pdmack commented on #519
[code]
The dask GPU workers aren't inheriting the LD_LIBRARY_PATH for some reason.

[2018-12-16 02:15] pdmack commented on #519
The only way I could get this to work with LD_LIBRARY_PATH was to modify `dask-setup.sh`:

[code]
and
[code]

[2018-12-16 04:51] thomcom commented on #517
No this duplicates #340. Thanks for the fix!

[2018-12-16 17:16] mrocklin opened #533 "[BUG] Groupby aggregations are slow"
**Describe the bug**
Groupby aggregations appear to be significantly slower than Pandas

**Steps/Code to reproduce bug**

[code]

[2018-12-16 17:19] mrocklin opened #534 "[BUG] Groupby AttributeError"
**Describe the bug**
Groupby aggregations don't seem to have the ability to select columns

**Steps/Code to reproduce bug**

[code]

[2018-12-16 17:23] mrocklin opened #535 "[BUG] Support series groupby aggregations"
**Describe the bug**
Series groupbys don't seem to exist

**Steps/Code to reproduce bug**

[code]

[2018-12-16 23:18] harrism commented on #519
@mt-jones can you take a look?

[2018-12-17 03:55] harrism opened #536 "[BUG] Typo in CMakeLists.txt"
There is a typo in this line in `cudf/cpp/CMakeLists.txt`:

[code]
`REQURIED` --> `REQUIRED`

This is in `branch-0.5`.

[2018-12-17 06:11] AK-ayush commented on #530
@eyalroz I also came up the same issue of failing `MaxJoinTest/0.InputTooLarge`. the real cause of this issue was gpu memory allocated by the some other process.
Clear out your gpu memory before running the `make test`... after that all tests should run successfully.

[2018-12-17 07:18] eyalroz commented on #530
1. This can absolutely not be a reason for a test to fail. This is a test for the code we've written, not for the amount of available memory. Now, if _very little_ memory was available, then an appropriate message would be reasonable - saying "Not enough available GPU memory to run this test".
2. Actually, my GPU memory is completely clear and nothing else is using it. I just have a GPU with a sma

[2018-12-17 10:32] AK-ayush commented on #530
You said that you are using a GPU with smaller amount of memory. From my understanding, I can conclude the following... please correct me if I m wrong.

[code]

As you can see `rmm::alloc(...)` is throwing error code 4(`RMM_ERROR_OUT_OF_MEMORY`) whereas the expected is 0(`RMM_SUCCESS`) as defined in enum in [memory.h](https://github.com/rapidsai/cudf/blob/branch-0.5/cpp/src/rmm/memory.h#L32)

Sinc

[2018-12-17 11:33] eyalroz commented on #530
I understand this is what's happening, I'm just saying that the test should be written so that it doesn't happen. That is, on any GPU on which cudf is supported, the allocation size should be set so that we don't fail making the allocation (at least not with a relatively-empy GPU).

In my case, I have a GTX 1050 with 0 / 4040 MiB used memory, according to nvidia-smi.

[2018-12-17 13:49] jrhemstad commented on #530
Duplicate of https://github.com/rapidsai/cudf/issues/369

It's a known issue that this test will fail for GPUs with small amounts of GPU memory. The purpose of this test is to exercise inputs whose sizes were once causing an integer overflow. It is on my list to find an alternative way to test for this behavior that doesn't require allocating a large amount of GPU memory.

[2018-12-17 13:49] #530 closed

[2018-12-17 15:16] jrhemstad opened #538 "Update usage of `gdf` type aliases to use wrapper types"
For the non-fundamental column types (GDF_DATE32/DATE64/CATEGORY/TIMESTAMP) in libcudf, there are type aliases defined that are used for underlying type representation, e.g. `gdf_date32` uses `int` as it's underlying type representation:

https://github.com/rapidsai/cudf/blob/d71dcdcab0eb41891ab019ab3a7fbbe6f83588aa/cpp/include/cudf/types.h#L7

There are also concrete C++ wrapper types for these n

[2018-12-17 15:17] #536 closed

[2018-12-17 15:23] #462 closed

[2018-12-17 15:33] eyalroz commented on #530
@jrhemstad : Oh, I thought that had already been taken care of :-(

[2018-12-17 15:48] #520 closed

[2018-12-17 16:12] kenhester commented on #462
Issue #462 has much more detail about not decompressing the entire file into memory to allow for a partition or windowed read.

Please confirm this detail made it into issue 474 PR.

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailto:khester@nvidia.com>

From: Keith Kraus <notifications@github.com>
Sent: Monday, December 17, 2018 9:23 AM
To: rapidsai/cudf <cudf@norep

[2018-12-17 16:39] jrhemstad opened #540 "[FEA] Use `clang-format` for automatic C++ code formatting"
**Is your feature request related to a problem? Please describe.**
Formatting of the C++ code base in libcudf is inconsistent, making it difficult to quickly and easily read source files.

**Describe the solution you'd like**
We should use `clang-format` to automatically and consistently format all of the C++ source files. It should be made a part of our PR merging process to automatically format

[2018-12-17 17:30] jrhemstad commented on #533
I just tested on the C++ side and a `mean` aggregation on 10 million random 32-bit keys and 32 bit values only takes 140ms.

[2018-12-17 17:32] mrocklin commented on #483
Can I ask that we reopen this issue?  (I don't have permissions to do this)

[2018-12-17 17:43] shwina opened #541 "Rename Column.replace() with Column.replace_attrs()?"
I propose that `Column.replace()` be renamed  `replace_attrs`. Or perhaps the `copy()` method can be extended to include the functionality of `replace()`?

https://github.com/rapidsai/cudf/blob/612ca60a7f41adb227ad556a91c76b69d2527d9b/cudf/column.py#L314

Reason: the name `replace()` should be used for the method for replacing *values* of the column, rather than class attributes (see #539).

Edit:

[2018-12-17 19:27] jrhemstad opened #542 "[FEA] NULL ?= NULL behavior in Join should be parameterized"
**Is your feature request related to a problem? Please describe.**
Currently, the libcudf implementation of `join` assumes that `NULL != NULL`, e.g., the rows `{1, 2, 3, NULL}` and `{1, 2, 3, NULL}` are *not* equal and would therefore not be considered a match for an inner-join.

However, Pandas considers `NaN == NaN` in an inner-join. Therefore, the current libcudf NULL behavior does not match wh

[2018-12-17 19:37] jrhemstad opened #543 "[FEA] Hash-based groupby should perform multiple aggregations in a single pass"
**Is your feature request related to a problem? Please describe.**
In the existing hash-based groupby implementation in libcudf, when a cuDF user requests multiple aggregations be done on the same set of key columns, each groupby aggregation is performed independently and then concatenated together. Furthermore, in order to be able to concat the results together, the output of each independent gro

[2018-12-17 20:13] jrhemstad opened #544 "[FEA] Implement null support for groupby"
**Is your feature request related to a problem? Please describe.**
libcudf's groupby implementation currently does not support NULL values for either keys or aggregation values.

**Describe the solution you'd like**
The groupby implementation should be updated to support null values in both key and aggregation value columns.

Note that when hashing a row `{1, 2, 3, NULL}`, that the `NULL` value ne

[2018-12-17 20:36] kenhester commented on #462
Please re-open and update the original issue #462 and add Windowing comments as this was the intent of the original issue.

Even if gzip (deflate) is inherently serial, could you not deflate in chunks and throw away the data decompressed as you count rowlines until the start_row to nrows is  request is in gpu memory?

Ken Hester | NVIDIA Solutions Architect
c: 832-216-8736
khester@nvidia.com<mailt

[2018-12-17 21:09] trstovall opened #546 "[BUG] Parsing dates with read_csv adds 1 day to dates"
Parsing dates with read_csv adds 1 day to date.

[code]

[code]

**Environment details (please complete the following information):**
 - Docker
 - Ubuntu 16.04 amd64
 - P100 and driver 396.44
 - CUDA: 9.2
 - Method of cuDF install: from source (commit 7aa3799e73948899a85e70bc73d3cea50b65dff1)
 - gcc/g++ (Ubuntu 5.4.0-6ubuntu1~16.04.10) 5.4.0 20160609
 - cmake version 3.13.1

[2018-12-17 21:18] #504 closed

[2018-12-17 21:21] #453 closed

[2018-12-17 21:54] harrism commented on #493
I agree and I'm also opposed to what I will call "Jake-style triple comments", (for lack of a better name).

[code]

What I documented in our internal documentation guidelines that Jake converted into a .cpp file is like this:

[code]

Note it's one comment, not three. But I am confused by what you dislike about these @eyalroz . Is it asterisks?

My *truly* preferred commenting style is C++-style:

[2018-12-17 22:04] #340 closed

[2018-12-17 22:37] eyalroz commented on #493
I dislike the separator rows, in any format. The reason is that I don't feel subsequent functions need to be so strongly separated, visually, just by virtue of having a doxygen comment. I mean:
[code]
becomes:
[code]
instead of:
[code]
See what I mean?

[2018-12-17 22:42] harrism commented on #493
I've never needed a standalone separator bar like that. What do you use it for?

[2018-12-18 00:04] j-ieong commented on #546
This looks like a bug in `datetime_parser.cuh`.

From what I can tell, previously 3ee81553efea9b0a416cf826926adfd1ccaf9119 fixed a couple of off-by-1 issues but I guess broke this one by removing the "-1"...

[2018-12-18 00:34] jrhemstad commented on #493
Before my good name gets dragged through the mud, this just happens to be the default in the Vim Doxygen toolkit!

https://github.com/vim-scripts/DoxygenToolkit.vim

[2018-12-18 00:44] harrism commented on #493
I was teasing you, please don't be insulted. :)

[2018-12-18 00:46] datametrician commented on #438
I'm going to close this out @archenroot and @MurrayData but please check out NVGraph https://developer.nvidia.com/nvgraph. All of this will be added to cuGraph, and we will start work on multi-GPU graph algorithms in the coming months.

[2018-12-18 00:46] #438 closed

[2018-12-18 03:23] jrhemstad opened #548 "[FEA] Add `-rdynamic` to Debug build"
In order to get symbols for the full stack trace from `cuda-gdb` and `cuda-memcheck`, we should compile with the flags `-Xcompiler -rdynamic` passed to `nvcc`.

[2018-12-18 15:21] jrhemstad opened #551 "[BUG] Debug CMake build is not correctly setting compiler flags"
**Describe the bug**
The `Debug` CMake build type for libcudf is not properly setting the appropriate Debug compiler flags.

**Steps/Code to reproduce bug**
Follow normal build instructions and run the `cmake` step with the additional options to request a `Debug` build and have CMake export the compiler commands.

```cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_EXPORT_COMPILE_COMMANDS=ON ...```

**Expec

[2018-12-18 15:54] jrhemstad commented on #471
Fixed by https://github.com/rapidsai/cudf/pull/472

[2018-12-18 15:54] #471 closed

[2018-12-18 15:54] jrhemstad commented on #463
Fixed by https://github.com/rapidsai/cudf/pull/465

[2018-12-18 15:54] #463 closed

[2018-12-18 16:06] kkraus14 commented on #541
`copy` should not modify default Python behavior for shallow/deep copies. I'm in favor of moving `replace` --> `replace_attrs`.

[2018-12-18 16:29] kenhester opened #552 "[FEA] Windowing support with gzip deflate in read_csv"
**Is your feature request related to a problem? Please describe.**
I am using read_csv with large files.  decompressing the file will not fit into GPU memory.  I would like to not split to disk, but use windowing support with read_csv to only load the rows need for processing.

**Describe the solution you'd like**

Read a window / partition/ portion of the gzip between the skip_rows and nrows argu

[2018-12-18 19:34] mrocklin opened #553 "[BUG] Support comparision with Pandas timestamp objects"
**Describe the bug**

cudf Index objects do not compare nicely against pandas TimeStamp objects.

This might also be extended to strings, or any other object that Pandas can convert into Pandas TimeStamp objects.

**Steps/Code to reproduce bug**

[code]

[code]

**Expected behavior**

Ideally the `GenericIndex` comparison operators would identify pandas TimeStamp objects and convert them into some

[2018-12-18 21:19] eyalroz commented on #493
I'll live with the majority vote.

[2018-12-18 22:07] mrocklin opened #556 "[FEA] Support comparison operations on Indexes"
It would be nice for cudf GenericIndex objects to support comparison operations.  Ideally the following would work:

[code]

I've started adding a test suite here: https://github.com/rapidsai/cudf/pull/555

[2018-12-18 22:15] mrocklin opened #557 "[FEA] Support dask-cudf"
This meta-issue tracks active needs for dask-cudf on the cudf API

- Core
    - [x] Thread Safety https://github.com/rapidsai/cudf/issues/528
    - [ ] Dask-CUDF needs CI: https://github.com/rapidsai/dask-cudf/issues/49
- Repartition
    - [x] Support comparison operations on Index objects https://github.com/rapidsai/cudf/issues/556
    - [x] Support comparison against Pandas TimeStamps https://gi

[2018-12-18 22:31] kkraus14 commented on #528
cc @williamBlazing I believe your team implemented the current binaryops and reduction functions, do you know if they're thread safe or what it would take to make them thread safe?

[2018-12-18 22:34] kkraus14 commented on #528
cc @harrism since he poked at this recently in updating to use the type dispatcher.

[2018-12-19 00:06] mrocklin commented on #528
To be clear, I wouldn't be surprised if this failed also with other operations.  These were just the simplest things that I could try.  The fact that we need both leads me to think that the issue is deeper.  I don't know much about the internals here though.

[2018-12-19 01:34] harrism commented on #406
@kkraus14 Do you plan to change the print functionality for cuDF, or should this be closed as not a bug?

[2018-12-19 02:13] mrocklin commented on #406
Thoughts on just converting a sufficient subset of the data to a pandas dataframe and then reusing that logic?  Shouldn't take more than a few milliseconds to convert the necessary rows, and that's probably fast relative to the human time scale when this matters most.

[2018-12-19 09:02] AK-ayush opened #560 "[BUG] two python tests are failing with numba==0.42.0rc1"
**Description**
Conda env created using `/cudf/conda/environments/dev_py35.yml`, installs the `numba==0.42.0rc1`. And with this numba version, two functional test within `test_dataframe.py` are failing.
* `test_dataframe.test_buffer_append()`
* `test_dataframe.test_series_basic()`

 When i tried downgrading the numba version to 0.40.0 and 0.41.0, all the tests got successfully passed.

Error log:

[2018-12-19 15:39] #162 closed

[2018-12-19 15:51] mrocklin opened #562 "[QST] Bugfix release schedule?"
What is our release schedule for bugfix releases?

I was sitting down with @cmgreen210 and we ran into the issue where `merge` was printing out dtypes.
 This made things pretty unusable for him.  I believe that this has been resolved on the development branch but there hasn't yet been a release.  To resolve this we ended up hacking up a bit in his local cudf installation, but it was ugly.

Are we

[2018-12-19 15:58] archenroot opened #563 "[QST] Generate JavaCPP API"
There are already some works on integration within Spark (which I really like). Is this code open-source or closed? In either way i was thinking to try generate Java API with help of JavaCPP -
https://github.com/bytedeco/javacpp
You can look what JavaCPP already supports:
https://github.com/bytedeco/javacpp-presets

I have already ported Gunrock and it works quite well(we are just cleaning some pa

[2018-12-19 16:00] archenroot commented on #438
@datametrician - I got under impression that you are going to integrate with Gunrock (they support already multigpu graph algo, etc.)

[2018-12-19 18:38] mt-jones commented on #477
This is a problem for our developers building from source on master.

[2018-12-19 20:00] mrocklin opened #568 "[FEA] Support byte ranges in read_csv (and other formats)"
To enable batched reading of large text files (csv, line-delimited-json, ...) it is often useful to be able to read a chunk of data while respecting some delimiter.  For example some process might be tasked with reading from 4GB to 5GB in the file starting and stopping at a `\n` character.

This would be particularly helpful when parallelizing around `cudf.read_csv` with `dask_cudf.read_csv`, but

[2018-12-19 21:38] mrocklin commented on #562
To be a bit more incendiary, I'll suggest that if releasing is somewhat cheap then we release much more frequently.  Perhaps at the end of every week.  I think that a rapid cadence like this is appropriate for an early stage project like `cudf` because we'll often be in a situation where master has more bugs fixed than bugs subtly introduced.

[2018-12-19 23:56] mrocklin commented on #562
Fair enough.  I also acknowledge that I'm jumping onto a system that folks here have been keeping running and I'm shouting "hey wait, lets do things differently!" without a ton of context.  That being said, respectfully, I'm going to keep shouting that for a short time.  Please forgive me and feel free to ignore me for the next few weeks.  Mostly I want to put ideas out there.  I have no expectati

[2018-12-20 00:10] mrocklin opened #570 "[QST] Generate the changelog at release time?"
There seems to be some friction around maintaining the changelog.

1.  We're spending time generating scripts to check it as part of CI
2.  New devs seem confused about what to write where
3.  It's a constant source of merge conflicts

We ran into this in the Dask projects as well (where the influx of new/drive-by devs was higher and so the issues above more acute) and ended up abandoning the proc

[2018-12-20 00:15] raydouglass commented on #562
Feedback from someone who has run a successful open source project is always appreciated. Please don't take us ignoring advice as a negative. In many cases, we would likely agree with you, but it's just not possible currently.

There were some calls where we decided to use a modified gitflow development approach. The developer docs will fully outline the process. Unfortunately, the docs are still

[2018-12-20 00:20] harrism commented on #562
I agree with and defer to @mike-wendt and @raydouglass since we depend on them heavily for our releases. @mrocklin unfortunately you missed the meetings about the processes by only about a week! I will share with you the draft versioning and release process documentation which will hopefully soon become public.

And I agree that the fix that prompted this is a candidate for a hotfix release.

[2018-12-20 01:33] mrocklin commented on #570
Yeah, for what it's worth I used to argue this same point.  Now I squash and merge everything and haven't looked back.  I do this even for 100+ commit PRs.  Often most of those commits aren't super-informative anyway.  FWIW I believe that most PyData projects, and also most Apache projects do the same.  Pandas and Spark specifically both squash-and-merge, even for large PRs.  Often this results in

[2018-12-20 09:30] miguelangel opened #572 "[BUG] Issue when using cudf.DataFrame.from_arrow"
**Describe the bug**
Hi,

As far as I can see Rapids uses pandas 0.20.3, so it is not possible to read parquet files through pandas (later pandas versions support parquet via pd.read_parquet).

I have tried the following workaround:

- Use pyarrow to read parquet files via pa.read_table then read these ones from CUDF via cudf.DataFrame.from_arrow

Nevertheless, I get the following error:

**Expect

[2018-12-20 09:33] miguelangel opened #573 "[BUG] Issue when transforming a pa table to pandas.df and then transform it to Cudf."
**Describe the bug**
Hi,

As far as I can see Rapids uses pandas 0.20.3, so it is not possible to read parquet files through pandas (later pandas versions support parquet via pd.read_parquet).

I have tried the following workaround:
- Transform the pa table to pandas.df and then transform it to Cudf. I am getting the following error:

---------------------------------------------------------------

[2018-12-20 09:42] miguelangel opened #574 "[BUG] print_env.sh issue"
**Describe the bug**
When executing print_env.sh, it fails when some commands are not present.

**Steps/Code to reproduce bug**
Executing _print_env.sh_ in a computer without conda, pip, git...

**Expected behavior**
No _conda not found_ nor _pip not found_ messages.

**Environment details (please complete the following information):**
fatal: not a git repository (or any of the parent directories)

[2018-12-20 10:23] harrism commented on #574
It's useful for us to know that pip and conda are not installed. So it's perfectly fine for the script to display not found for those. As long as the script continues to further questions. Also useful to know it's not in a git repo (not a from source build, or script not run from the cuDF directory).

[2018-12-20 11:21] miguelangel commented on #574
Hi,

I understand. But, it seems to do not be consistent with other sections of the script:

echo "***CMake***"
which cmake && cmake --version
echo

echo "***g++***"
which g++ && g++ --version
echo

echo "***nvcc***"
which nvcc && nvcc --version
echo

echo "***Python***"
which python && python --version
echo

[2018-12-20 13:10] #275 closed

[2018-12-20 17:13] randerzander commented on #190
Closing since dupe #193 was closed as resolved

[2018-12-20 17:13] #190 closed

[2018-12-20 17:50] jrhemstad commented on #574
Thanks @miguelangel, this could be improved. I'll take care of it.

[2018-12-20 18:05] jrhemstad commented on #574
@miguelangel can you try out https://github.com/rapidsai/cudf/pull/575 and see if that's more what you'd expect?

[2018-12-20 20:50] mrocklin commented on #544
From the perspective of someone who depends pretty strongly on the Pandas API (I'm trying to reuse the dask.dataframe codebase on cudf) I'm willing to try to see if things work out ok without replicating Pandas NULL semantics exactly.  Few people like these semantics.

At some point I might want to reverse my position here, but personally I wouldn't prioritize Pandas NULL support very highly today

[2018-12-20 22:18] jrhemstad commented on #578
Note that in some instances it is required because CFFI cannot process an `#include` guard whereas `#pragma once` is ignored. This is true of `include/gdf/cffi/types.h`.

But when not otherwise required by CFFI, I agree that standard include guards should be used.

[2018-12-20 22:21] andrewseidl opened #582 "Add clang-format for automatic+consistent source formatting"
## Feature request

Would be nice to introduce a [`clang-format`](https://clang.llvm.org/docs/ClangFormat.html) config so that the source code maintains consistent formatting.

Arrow has some helper tools for running: https://github.com/apache/arrow/blob/44c2fa7d7d4e7a1c1645c85f87d557c4fc510c33/cpp/CMakeLists.txt#L533-L547

And their config is at: https://github.com/apache/arrow/blob/master/cpp/.c

[2018-12-20 22:28] mike-wendt opened #593 "[libgdf-PR-94] Binary Operators"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/94

[2018-12-20 22:29] mike-wendt opened #594 "[libgdf-PR-106] Replace function"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/106

[2018-12-20 22:30] mike-wendt opened #595 "[libgdf-PR-140] NULL support for hash-based group by"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/140

[2018-12-20 22:31] jrhemstad commented on #594
Already done: https://github.com/rapidsai/cudf/pull/350

[2018-12-20 22:31] #594 closed

[2018-12-20 22:31] jrhemstad commented on #595
https://github.com/rapidsai/cudf/pull/460
Closed in favor of a more thorough refactor.

[2018-12-20 22:31] #595 closed

[2018-12-20 22:32] mike-wendt opened #596 "[libgdf-PR-146] Parquet reader multithread"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/146

[2018-12-20 22:33] mike-wendt opened #597 "[libgdf-PR-156] Add Doxygen style comments to code"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/156

[2018-12-20 22:33] jrhemstad commented on #597
Done https://github.com/rapidsai/cudf/pull/561

[2018-12-20 22:33] #597 closed

[2018-12-20 22:34] mike-wendt opened #598 "[libgdf-PR-174] Added some Doxygen comments for the API"
Evaluate to see what work from this PR can be moved to libcudf: https://github.com/rapidsai/libgdf/pull/174

This refers in title to old issue libgdf-138 which has been transferred to issue #580 in cudf.

[2018-12-20 22:34] jrhemstad commented on #578
Probably wasted effort as CFFI will slowly go away in favor of Cython.

[2018-12-20 22:34] #574 closed

[2018-12-20 22:41] jrhemstad commented on #598
https://github.com/rapidsai/cudf/pull/561

[2018-12-20 22:41] #598 closed

[2018-12-20 22:42] #516 closed

[2018-12-20 22:42] jrhemstad commented on #590
This is no longer relevant as it references a completely different implementation of multi-column joins.

[2018-12-20 22:42] #590 closed

[2018-12-21 00:30] kkraus14 commented on #528
@harrism Multiplying a list duplicates the elements in the list that many times in a new list. So given we have a list with one cudf.DataFrame object it will return a list with 1000 cudf.DataFrame objects.

[2018-12-21 05:17] harrism commented on #528
I made the title more specific to the problem experienced, since we don't know the root cause of this hang yet.

[2018-12-21 05:30] harrism commented on #593
@williamBlazing were you guys going to move this over? I know we probably need to discuss more but would be good to have a place for that discussion.

[2018-12-21 05:32] harrism commented on #591
Can you be more specific with links to specific lines of code? (PyGDF is superseded by cuDF.)

[2018-12-21 05:43] harrism commented on #588
I disagree that the architecture should be discovered at build time. It's likely that the machine building the library is not the one loading and running it. We need to build code for all supported architectures, and also include PTX (virtual architecture) so the code will JIT for forward compatibility.

With the 0.4.0 release we actually reduced supported architectures due to CI timeouts. Once CI

[2018-12-21 17:12] dorisnvidia commented on #516
Perfect. I cloned the master branch this morning, rebuilt cudf, and the issue is fixed. THANKS.

[2018-12-21 17:18] #585 closed

[2018-12-21 17:18] #589 closed

[2018-12-21 23:40] jrhemstad opened #599 "[FEA] Phase out CFFI from libcudf"
**Is your feature request related to a problem? Please describe.**
Currently both CFFI and Cython bindings are being built for the `libcudf` API. CFFI is problematic because it requires us to enforce a pure C interface in the external `libcudf` APIs. Furthermore, we cannot have any `include` statements in the files parsed by CFFI.

**Describe the solution you'd like**
We should fully phase out CFF

[2018-12-22 04:20] dantegd commented on #599
Responding with the status for full migration:

- **Most** bindings have been written, some (quite a few actually) I haven't pushed, my attention has been big time on the other side of the river lately (aka cuML).
- We can already start adding C++ functionality in separate `.hpp` headers as suggested by a very smart person (aka yourself @jrhemstad ;) ). Then they can be wrapped with cython already

[2018-12-22 16:56] mrocklin opened #601 "[FEA] Add parquet support"
**Is your feature request related to a problem? Please describe.**

I would like to be able to read parquet files from cudf.

This is obviously a large ask.  FWIW I would welcome partial functionality being released even if it is incomplete.

For dask-cudf it would also be especially useful to be able to specify particular row groups and columns from within a parquet file like the following:

[2018-12-22 16:58] datametrician commented on #601
I believe blazing is pretty far along in this and should be in cuIO soon.

[2018-12-22 17:24] mrocklin opened #602 "[BUG] Not able to convert date data back to pandas"
**Describe the bug**
We don't seem to be able to roundtrip datetime data from pandas to csv to cudf

**Steps/Code to reproduce bug**

[code]

I've tried other dtypes than "date" and read_csv doesn't seem to support them.

We get the following traceback from the `to_pandas` call

<details>

[code]

</details>

I'm using the latest release, 0.4.0.

[2018-12-22 20:30] kenhester opened #2248 "AUC not consistent after xgboost training on same server and data"
The AUC results (pdf attached) between xgboost training using cudf are not consistent.  There can be as much as a 12 point change between training on the same data on the same server.  The Jupyter notebook (attached) runs multiple dask xgboost training using cudf on the same data to illustrate the variance in AUC.

The weighted average of each run:
[code]

[mortgage_dask_auc_results.pdf](https://g

[2018-12-23 21:46] thomcom commented on #327
This is fixed in PR #600. More accurately, PR #600 causes us to properly emulate Pandas copying - `df.copy()` defaults to deep. The only way to get a shallow copy in pandas is with `df.copy(deep=False)` - all other methods default to deep.

[2018-12-26 06:08] AK-ayush commented on #428
@harrism I have verified the `DataFrame.loc[]` feature again with `cudf:branch-0.5` and it is working as it should.
So, I believe, we can close this issue.

[2018-12-27 01:10] mrocklin opened #605 "[FEA] Add top-level from_pandas function"
We currently have `cudf.DataFrame.from_pandas` and `cudf.Series.from_pandas`.  I propose that we also add a `cudf.from_pandas` top level function that dispatches accordingly.  I think that this will be more discoverable for new users and more convenient for experienced ones.  I often find myself reaching for this function.

[2018-12-27 01:19] mrocklin opened #606 "[FEA] Implement iloc"
It might be useful to implement iloc, at least on rows.

[code]

[code]

[2018-12-27 09:53] archenroot commented on #563
The question is if I should wait for some stable API (I understand you are under heavy dev at moment, correct me if I am wrong), or you think the structures are stable enough?

[2018-12-27 11:14] AK-ayush commented on #606
That is definitely useful api. I have started working on it...

[2018-12-27 19:46] eyalroz opened #609 "[FEA] cudf aggregation functions must detect overflow and fail accordingly"
This is a bug against the 0.5 branch.

cudf's API includes aggregation functions which could potentially overflow; and some that could easily overflow (e.g. sums over columns of `GDF_INT8`'s).

We must:
1. Not fail aggregations due to "transient" overflow, i.e. an overflow when aggregating some of the data but not when all data is aggregated.
2. Return an appropriate error (or at the very least cr

[2018-12-27 21:34] eyalroz opened #610 "`gdf_reduce_optimal_output_size()` is a misnomer"
Our API has a function named `gdf_reduce_optimal_output_size()`. It does _not_ return an "optimal output size", it returns the amount of scratch space necessary for the the output of the first phase of cudf's two-phase reduction. It should be named appropriately.

[2018-12-27 21:34] eyalroz commented on #610
I suggest: `gdf_reduction_get_intermediate_output_size()`

[2018-12-27 22:12] thomcom commented on #610
I suggest `gdf_reduction_get_maximum_block_size`. Low priority. I'd approve a PR probably.

[2018-12-27 22:15] thomcom commented on #609
I'd love to see a set of unit tests that compare the sum of different dtypes overflow behaviors with cudf. If they were implemented with a @parametrize and included xfails where necessary I'd want to PR that.

[2018-12-27 22:22] thomcom commented on #605
Good first issue.

[2018-12-27 22:50] eyalroz commented on #610
@thomcom : That name betrays an implementation detail... we do not commit to the intermediate result having the same size as a block of threads.

[2018-12-27 22:55] eyalroz commented on #609
@thomcom : I'm not sure I understand your comment. What exactly would you like to compare? Also, I don't know about  `@parameterize`; is this a Google Test concept? And - does "xfails" means "expected to fail"?

[2018-12-28 00:07] thomcom commented on #586
True division should just call floor division with integer types. Fix in PR #612.

[2018-12-28 04:40] thomcom commented on #609
I think it is `@pytest.mark.parametrize('param_name', [list, of, params))` - it is a pytest concept, yes. Also xfails is a test that is expected to fail. It "passes" when it "fails". :) We use this test methodology pretty frequently where we compare the behavior of cudf with pandas. If we had a set of tests that proved that cudf didn't match pandas, we'd expect them to fail, then change them to ex

[2018-12-28 15:13] jrhemstad commented on #609
First, this is a feature request, not a bug. Neither `std::accumulate` nor `thrust::reduce` detect overflow, therefore I do not believe it is errant behavior to not detect a overflow in a reduction operation.

Second, I would have a difficult time supporting the addition of this feature. It would require checking the result for each binary operation, which not only would be slow, but would also pr

[2018-12-28 15:58] jrhemstad commented on #610
I agree that the function is poorly named.

I believe that the best solution is to do away with it entirely and avoid doing a 2-step reduction. Instead, the implementation can be updated to use atomic operations to update the global sum with each block sum.

That way there is no need to do an allocation to hold the intermediate results between the first and second phase, and therefore no need for

[2018-12-28 16:39] eyalroz commented on #610
@jrhemstad : I would be perfectly fine with doing away with two-phase reductions.

I was assuming there was some reason for the current implementation being what it is, and for this function being exposed. Can you verify that no such reason exists? I'll ask on our BlazingDB slack.

[2018-12-28 16:59] thomcom commented on #609
I'm entirely in favor of the above and #446. I feel like starting with pytests that demonstrate where we are aligned with pandas and where we aren't are still an awesome starting point - I would not want to write the lower level features without reliable validation first, anyway. I may start on this in python soon, unless someone else swoops in to begin it while I'm doing triage.

[2018-12-28 17:08] eyalroz commented on #609
I believe you're choosing a wrong point of reference. cudf is providing DBMS-like functionality for higher-level code; otherwise, people could just use `std::accumulate` or `thrust::reduce` (or cub's reduction facilities). In a DBMS, it is unthinkable for an operator to ignore overflow.

So, you're raising two concerns: Performance and ease of implementation / repeated effort.

Regarding performan

[2018-12-28 17:13] eyalroz commented on #609
@thomcom : #446 mitigates the problem somewhat, but doesn't fundamentally does not change anything - especially since we would still have an API function for reducing smaller types into not-so-large types. But even without that - see my reply to @jrhemstad . This _is_ a bug for a library such as ours.

[2018-12-28 17:17] eyalroz commented on #446
I have actually already tweaked the current implementation of reductions to support this on a branch of mine with join-related primitives  (since I needed to count non-zero values with a cudf function, into a `gdf_size_type`). I only touched the existing code very slightly, but enough to expose different-type aggregations above. Of course, considering the fact that our reduction code has at least

[2018-12-28 17:56] jrhemstad commented on #610
This function's sole purpose is for allocating the temporary buffer space necessary for holding the intermediate reduction results of the first-phase of a 2-step reduction.

I'm unaware of any reason to do a two-phase reduction. It could potentially be faster for very large inputs, but I believe it would be a wash compared to a block-sum & atomic implementation.

[2018-12-28 18:35] thomcom commented on #579
Should we move this to live documentation on the website and review it next time issues are generated from it?

[2018-12-28 18:42] thomcom commented on #573
Thanks @miguelangel ! Can you give me the rest of the code (as though from a REPL) to reproduce the error caused at `dspa=cudf.DataFrame.from_pandas(ds)`?

[2018-12-28 18:49] thomcom commented on #572
The same adds as from #573 would be :guitar:.

[2018-12-28 18:53] thomcom commented on #570
FWIW I'm in favor of automated builds and automating any aspect of the build that can be automated (automatically, KWIM?). I haven't used squash and merge yet, professionally, but it sounds pretty good - especially when we could auto-increment minor version numbers and automatically update the CHANGELOG as well.

[2018-12-28 19:06] thomcom commented on #568
This is fairly high priority in my opinion. I asked some RAPIDS io people if it is on their radar.

[2018-12-28 19:20] thomcom commented on #562
I, too, am strongly opinionated about CI, but didn't want to jump in waving my opinions on a project I was two weeks into. :) I'm thankful for the work that @mike-wendt and @raydouglass are putting into releases. I'll debate you any time about it. ;)

[2018-12-28 19:31] thomcom commented on #560
I actually put some time into fixing this issue in our code - it seems there's a big with numba and shapes in this context, as it was failing when I'd modified the shapes to be (4,) and (1,1), and also (4,) and (1,) if I recall correctly. Fix in the env setup is incoming.

[2018-12-28 19:42] eyalroz commented on #580
@thomcom : In terms of quantity, yes, in terms of quality, not really. A bunch of the new doxygen comments are ok, but there are some comments which are redundant (e.g. full comments on _i8, i_16 etc.), and some comments which don't really explain what a function does.

So if you commit that you can close this issue, but try to give it some editorial attention.

[2018-12-28 19:43] eyalroz commented on #610
I'm also unaware, I'm just saying we should make extra sure before removing stuff.

[2018-12-28 20:49] thomcom commented on #560
Looks like we're using many features from numba 0.42.0rc1, so this fix is a no-go.

[2018-12-28 21:12] thomcom commented on #580
Yes, there are a huge quantity of comments there that I'm not extremely positive on. :) This issue has been transferred from libgdf, so I have less background context than usual. Personally, I am not inclined to accept 2300 lines of comments, and I'd prefer to punt it back to the author then delve into lots of copy/paste. What do you think?

[2018-12-28 21:20] eyalroz commented on #580
I think at least one round of punting is reasonable, with a bit of guidance on what's expected. Perhaps some specific review notes on a couple of specific Doxygen comments as well.

That will likely also reduce the number of comment lines.

However - `functions.h` does have several hundred functions defined, even if we drop the typed variants (`_i8`, `_f32`, etc.) - so you'd expect well over 1,000

[2018-12-28 21:20] devavret commented on #528
This does not look like a cuDF specific issue and seems to affect CUDA in multithreading.
I tried getting the backtrace of the given example and every time, one thread seems to be stuck at a sys call called [accept4](https://linux.die.net/man/2/accept4).
[code]
A quick google search for this frame showed more issues where the user was using CUDA multithreaded and experienced a hang. Not all of the

[2018-12-28 22:19] devavret commented on #528
Actually, now I think that the `accept4` might be for purposes of attaching some tools to the process, for debugging or otherwise.

[2018-12-29 17:05] mike-wendt commented on #570
@thomcom all of what you proposed is either implemented or on the roadmap. The only thing that is manual is the CHANGELOG as the team does not have enough code/PR hygiene to support it.

For the moment we will continue with the process we have in place for at least this release and possibly the next. This way we can collect actual feedback from the broader team based on their experiences before ma

[2018-12-29 17:07] mike-wendt commented on #562
As with #570 we are in the middle of the first release where we have changed the release process and how development is handled. I want to postpone changes until we have one or two releases and feedback from the team, that way we can make a more educated decision and understand the true pros/cons.

[2018-12-29 17:09] datametrician commented on #570
I'm going to close this issue.  Let's continue as we're doing and revisit this in the future. There are several reasons why our current processes are in place, and I think we need to continue with them for a while before tweaking them.

[2018-12-29 17:09] #570 closed

[2018-12-29 18:00] kkraus14 commented on #560
We use features from 0.40.0 (non-rc) where we should be able to get by with specifying to use only release versions 0.40.0 and newer.

[2018-12-29 18:03] kkraus14 commented on #602
Could you try this on branch-0.5 and report back? The CSV reader has had significant improvements / feature additions / bug fixes since the 0.4 release.

[2018-12-29 18:05] mrocklin commented on #602
My attempts to build branch-0.5 locally have failed.  I'll raise a separate issue about that in a bit.

[2018-12-29 18:15] #308 closed

[2018-12-29 18:16] kkraus14 commented on #226
Done.

[2018-12-29 18:16] #226 closed

[2018-12-29 18:20] kkraus14 commented on #441
Closing as no activity and issue was resolved.

[2018-12-29 18:20] #441 closed

[2018-12-29 18:39] kkraus14 commented on #274
Closing this as question was answered.

[2018-12-29 18:39] #274 closed

[2018-12-29 18:41] kkraus14 commented on #368
@eyalroz is this resolved? There hasn't been activity on this in a while.

[2018-12-29 18:42] kkraus14 commented on #380
@mt-jones I believe you've tackled this in the latest container releases but I defer to you as to if this is resolved or not.

[2018-12-29 18:49] kkraus14 commented on #403
This should be resolved by #411.

[2018-12-29 18:49] #403 closed

[2018-12-29 18:50] kkraus14 commented on #331
Closing this due to inactivity.

[2018-12-29 18:50] #331 closed

[2018-12-29 18:55] kkraus14 commented on #365
Going to close this as the question was answered.

[2018-12-29 18:55] #365 closed

[2018-12-29 18:57] kkraus14 commented on #254
Closing as resolved and discussions related to this are ongoing in other issues.

[2018-12-29 18:57] #254 closed

[2018-12-29 18:58] eyalroz commented on #368
@kkraus14 : I don't know. `pytest` is no longer a Make target, and I don't quite see where these tests have gone.

[2018-12-29 19:00] kkraus14 commented on #389
@randyzwitch @andrewseidl Is this resolved or is there still issues in using the `select_ipc_gpu` method?

[2018-12-29 19:38] randyzwitch commented on #389
When I am back in the office, I will validate the proposed fix by @andrewseidl

[2018-12-29 19:46] mrocklin commented on #602
This continues to fail on branch-0.5

[code]

<details>

[code]

</details>

[2018-12-29 19:49] thomcom commented on #560
When I updated my numba to 0.40.0 I got lots of failed imports. Maybe something else was broken when I changed the version number? I'll revisit it first thing next morning.

[2018-12-29 19:52] kkraus14 commented on #602
Looks like you're getting a null in the `index` column which is a datetime64[ms] dtype. Looks like the `to_array` call we're using isn't filling in `NaT` values and is instead dropping the values. Likely just need to add `fillna='pandas'` to that `to_array` call and it should be resolved.

[2018-12-29 19:53] kkraus14 commented on #560
You should never get failed imports, maybe some failing tests if we're using features from 0.41, but never failed imports unless your environment was corrupted.

[2018-12-30 00:13] datametrician commented on #562
To avoid lingering issues, let's close this and try the new process for a few versions. If we still want to change things in the future, let's open a new issue.

[2018-12-30 00:13] #562 closed

[2018-12-30 15:51] daxiongshu opened #614 "[FEA] FileNotFoundError instead of GDF_FILE_ERROR"
**Is your feature request related to a problem? Please describe.**
A common mistake of using read_csv is the wrong file path where the input file doesn't exist. Currently, the error message of cudf.read_csv is GDF_FILE_ERROR which is a little bit confusing. My first impression was it means the file is corrupted or the data type is incorrect.

**Describe the solution you'd like**
pandas.read_csv wi

[2018-12-31 17:12] shwina opened #615 "[FEA] Use type promotion to determine output dtype when operands have different dtypes"
Currently, operations like `append`, binops, etc., assume the result dtype to be the same as the dtype of the first operand. This results in behaviour such as the following:

[code]

It should be possible to use NumPy's type-promotion to choose the appropriate output dtype.

PR coming shortly.

[2019-01-01 12:42] shwina commented on #615
Oops - I was wrong that binops have the same issue as above, and NumPy type promotion *is* applied to binary operations. I'll update the PR to use the existing logic for `append`.

[2019-01-02 16:14] jrhemstad opened #618 "[FEA] `gdf_table` should not be a template class"
**Is your feature request related to a problem? Please describe.**
Currently, `gdf_table` is a template class, there the template parameters are for the `size_type` and `byte_type` used internally.

[code]

It was a lapse on my part when originally creating the class to make it a template class. There is no need for `gdf_table` to be templated on these parameters as it is not a common use-case to

[2019-01-02 18:19] dorisnvidia opened #619 "DataFrameGroupBy.quantile() in cuDF"
**Is your feature request related to a problem? Please describe.**
When can we have a quantile function in the Groupby cuDF object ? Similar to Pandas, where you do something like:
`df.groupby(['cat1']).quantile([0.25,0.5], interpolation='linear')`
I understand that in 0.4.0 only sum/count/mean/min/max are supported.

**Describe the solution you'd like**
Similar to pandas

[2019-01-02 18:30] dorisnvidia commented on #619
I hit the 'enter' key by mistake so the issue was submitted prematurely. sorry about that.

**Is your feature request related to a problem? Please describe.**
When can we have a quantile function in the Groupby cuDF object ? Similar to Pandas, where you do something like:
df.groupby(['cat1']).quantile([0.25,0.5], interpolation='linear')
I understand that in 0.4.0 only sum/count/mean/min/max are su

[2019-01-02 18:49] randyzwitch commented on #389
It appears that we've resolved this on our side.

[2019-01-02 18:49] #389 closed

[2019-01-02 21:14] thomcom commented on #614
Good first issue!

[2019-01-02 21:47] thomcom commented on #540
FWIW, in my experience this is a risky mechanism. Is it better to have perfectly matching code styles, or to have a consistent and informative git change history? Automatic reformatting tends to destroy your git history: either on the whole repository at once, orphaning and increasing the difficulty of every existing bug, or on one file at a time (better, but still painful).

[2019-01-02 21:53] thomcom commented on #535
Given that we have `Dataframe` level groupby, adding `Series` groupby should be possible entirely in python.

[2019-01-02 21:56] mrocklin commented on #540
I would expect it to destroy history once at time of the initial rewrite.
After that I suspect that we could put this in as a git pre-commit hook so
that formatting changes happen as commits are authored.  I don't think it
would affect history negatively after that.

On Wed, Jan 2, 2019 at 1:47 PM H. Thomson Comer <notifications@github.com>
wrote:

[2019-01-03 11:01] archenroot opened #620 "[QST] Spark Integration road map"
Do you plan Spark integration? If yes, do you have any roadmap available?

Thank you.

[2019-01-03 15:39] AK-ayush commented on #257
I have opened a PR #621 for this issue. I have implemented the `__add__` for dataframe.
I need your suggestion for `DataFrame.sum()` method since I was looking at the pandas's  [`DataFrame.sum()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html#pandas-dataframe-sum) and I am not able to find any correct example.

[2019-01-03 17:29] thomcom opened #623 "[FEA] Implement `describe` method."
**Is your feature request related to a problem? Please describe.**
`pdf.describe()` is a common function in the Pandas and ML literature. We should implement `gdf.describe()`.

**Describe alternatives you've considered**
It is easy to get the data returned by `describe` without the specifically named method.

**Additional context**
* We don't support quartiles yet, which are needed for describe.
*

[2019-01-03 19:39] thomcom commented on #533
GDF is faster than PDF for groupby where the number of groups is _larger_ than 100, but has 10x the runtime of PDF for 10 groups, 30 times the runtime of PDF for 5 groups, and 150 times the runtime of PDF for 2 groups, approximately.

This is an algorithmic bug in the CUDA implementation I'm guessing? It is strongly related to #543, but I don't think #543 is the sole cause.

I analyzed the slownes

[2019-01-03 19:43] thomcom commented on #623
This depends on #619

[2019-01-03 22:49] mrocklin opened #625 "[BUG] Illegal memory access in cudf.read_csv"
**Describe the bug**

When using read_csv I intermittently encounter the following error message.  Restarting the notebook and trying again sometimes fixes it.

[code]

**Steps/Code to reproduce bug**

I don't have such a reproducer yet, though I'll endeavor to create one next week if no one pops up with a "oh, I know that that is" message.

**Environment details (please complete the following inf

[2019-01-04 02:43] mrocklin opened #626 "[BUG] Merge segfaults with KeyError <class 'numpy.object_'>"
**Describe the bug**
cudf.merge seems to segfault with the exception `KeyError: <class 'numpy.object_'>`

**Steps/Code to reproduce bug**

[code]

**Expected behavior**

[code]

[code]

**Environment details (please complete the following information):**
 - Environment location: bare metal dgx
 - Method of cuDF install: source
   - If method of install is [Docker], provide `docker pull` & `docker

[2019-01-04 02:44] mrocklin commented on #626
Seems to work ok if we remove the strings

[2019-01-04 02:46] mrocklin opened #627 "[BUG] Long import times"
**Describe the bug**

It takes a few seconds to import cudf today

**Steps/Code to reproduce bug**

[code]

<details>

[code]

</details>

[2019-01-04 09:42] AK-ayush opened #628 "[BUG] Creating a columns using np.nan throws error"
**Describe the bug**
Creating a columns using np.nan throws error

**Steps/Code to reproduce bug**
[code]
Other examle:
[code]
I am using latest cudf build from `branch-0.5`

[2019-01-04 09:57] Polarbeargo opened #629 "[FEA] cudf.read_json"
`read_json()` is a common function in the Pandas, Please support `cudf. read_json()` 😃

[2019-01-04 14:14] BradReesWork commented on #614
We are working on expanding error handling and messages

[2019-01-04 20:17] #615 closed

[2019-01-05 18:13] devavret opened #631 "[BUG] Null mask gets auto removed from temp column in Column._concat()"
**Describe the bug**
When trying to concat columns which have null masks, we create an empty column of the size of the final result. We then make and uninitialized mask and add it to the result column using `Column.replace` which calls the column constructor. What ends up happening is that the constructor counts the number of nulls in the newly added mask. Since the mask is uninitialized, it may o

[2019-01-06 04:31] mrocklin commented on #529
Given the complexity behind different memory managers, I would probably start by copying just for ease.

[2019-01-07 05:16] harrism commented on #540
I recommend that we try this out on a smaller RAPIDS C++ repository first; namely, RMM. If it goes well there, we can implement it here as well.

[2019-01-07 05:44] harrism commented on #610
I looked into this when I was last updating the reduction code. I planned to eliminate two-pass reductions but it wasn't in the scope of the PR I was working on.

My guess is that the reduction was written based on existing reduction examples and tutorials, which are based on early CUDA hardware that either didn't have atomics or had slow atomics. All GPU hardware supported by RAPIDS has fast atom

[2019-01-07 05:47] harrism commented on #446
Feel free to submit a PR.

[2019-01-07 15:55] amotupal opened #632 "[FEA] Need a way to check the memory usage of DataFrame"
Is there a function similar to [DataFrame.memory_usage()](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.memory_usage.html) in pandas to check the memory usage of my DataFrame?
I am using 2080 Ti with 11 GB frame buffer. Still I am getting the error GDFError: GDF_MEMORYMANAGER_ERROR very frequently. '$nvidia-smi ' is showing me that my application is using up all GPU memor

[2019-01-07 17:01] kkraus14 commented on #515
Fixed by #524

[2019-01-07 17:01] #515 closed

[2019-01-07 17:36] kkraus14 commented on #304
@mike-wendt I believe this is done, reopen if I'm incorrect.

[2019-01-07 17:36] #304 closed

[2019-01-07 17:37] kkraus14 commented on #310
This is resolved, open a new issue if you're seeing similar behavior, thanks!

[2019-01-07 17:37] #310 closed

[2019-01-07 21:18] devavret commented on #528
After further digging, I've narrowed down the hang to these 2 thread backtraces. [2thread_bt.txt](https://github.com/rapidsai/cudf/files/2734308/2thread_bt.txt)
Basically there is a `gdf_sum` kernel launch and a query `cuOccupancyMaxPotentialBlockSize` that need to happen at the same time or something, for this to hang.
Will try to get a debug build of python and also try to get nsight systems to

[2019-01-07 23:46] harrism commented on #528
Good work. Keep going!

[2019-01-08 00:02] harrism commented on #632
I don't think we have this yet, but agree it would be useful. Setting this as a feature request.

[2019-01-08 03:54] harrism commented on #372
We are close to finishing migration away from CFFI, so we should probably revisit this then. I would suggest for 0.6.

[2019-01-08 04:01] harrism commented on #432
@yxnal please respond if you still have this issue. Otherwise we will close this issue.

[2019-01-08 04:06] harrism commented on #443
This isn't going to be fixed before 0.5 release. Let's target 0.6.

[2019-01-08 04:10] harrism commented on #368
@eyalroz the new process (without installing) would be:

[code]

Can you try that?

[2019-01-08 04:11] harrism commented on #284
@ayushdg @julienfr112 two months and many PRs later, are you still able to reproduce this issue?

[2019-01-08 04:12] harrism commented on #309
No response, so closing. I believe the notebooks repo solves this problem. If not, please open an issue on https://github.com/rapidsai/notebooks

[2019-01-08 04:12] #309 closed

[2019-01-08 04:16] harrism commented on #293
We do not currently support piping data to tensor cores. If you have a specific use case for this it would be very helpful to know more.  Please file a new feature request issue describing the use case.

[2019-01-08 04:16] #293 closed

[2019-01-08 04:17] harrism commented on #560
Any update on this? Trying to decide how to prioritize for 0.5 release.

[2019-01-08 07:47] amotupal commented on #392
This is a huge blocker for me. I have 30M records and the before query it has 2335MiB where as after query it is using 9153MiB.

[2019-01-08 14:04] eyalroz commented on #368
@harrism
Running the second command, I get:
[code]

[2019-01-08 17:16] bfeeny opened #637 "[BUG] IndexError in E2E.ipynb notebook"
**Describe the bug**
The E2E.ipynb workbook distributed inside the RAPIDS container throws an IndexError on the final cell.

**Steps/Code to reproduce bug**
Installed nvcr.io/nvidia/rapidsai/rapidsai:cuda10.0_ubuntu16.04 container from NGC.

Instantiated container, downloaded single year of financial data from
http://rapidsai-data.s3-website.us-east-2.amazonaws.com/notebook-mortgage-data/mortgage_

[2019-01-08 18:22] bfeeny commented on #637
This was a basic configuration issue as I had forgot to set appropriate paths

[2019-01-08 18:22] #637 closed

[2019-01-08 18:42] thomcom commented on #560
Sorry, I did this on Friday before New Years and then it was Wednesday. Results are coming up, I'll reopen my PR that sets numba to 0.40.0 if it works out.

[2019-01-08 18:50] datametrician commented on #620
@anfeng could you respond to this please?

[2019-01-08 18:54] thomcom commented on #560
I reopened the fix and can confirm the original issue.

[2019-01-08 18:54] em-watkins opened #638 "Spark-based multi-GPU planned? [QST]"
Do you plan to support multi-GPU and multi-node outside of dask?

[2019-01-08 18:55] datametrician commented on #638
@anfeng would you take this one, please?

[2019-01-08 19:03] samshipengs opened #639 "[BUG] conda install Solving environment hangs"
$ conda --version
conda 4.5.12

$ nvcc --version
nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2018 NVIDIA Corporation
Built on Tue_Jun_12_23:07:04_CDT_2018
Cuda compilation tools, release 9.2, V9.2.148

platform
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.5 LTS
Release:	16.04
Codename:	xenial

cuda driver
NVIDIA-SMI 396.54                 Driver Version: 396.54

gpu p100

run
`con

[2019-01-08 19:57] kkraus14 opened #641 "[BUG] libcudf cmake infrastructure uses headers from path before headers from source"
When installing from source, if you have headers previously installed it will use those headers when compiling instead of the headers included with the source.

[2019-01-08 19:57] kkraus14 opened #642 "[FEA] make/cmake uninstall target"
It would be great if we had a make/cmake uninstall command to allow for purging a previously installed libcudf that isn't managed by conda.

[2019-01-08 20:14] samshipengs commented on #639
Maybe after 30mins I left the computer running, the solving environment actually finished and started installing, but I run into an import error:

`ImportError: /home/samanaconda3/lib/python3.6/site-packages/pyarrow/../../../libparquet.so.1: undefined symbol: _ZN5boost13match_resultsIN9__gnu_cxx17__normal_iteratorIPKcSsEESaINS_9sub_matchIS5_EEEE12maybe_assignERKS9_`

might post this in a separate

[2019-01-08 20:14] #639 closed

[2019-01-08 20:30] kkraus14 commented on #407
This is a numba issue, unrelated to our codebase and other issues related to numba version are already open, closing.

[2019-01-08 20:30] #407 closed

[2019-01-08 20:34] kkraus14 commented on #217
Fixed by #612.

[2019-01-08 20:34] #217 closed

[2019-01-08 20:37] kkraus14 commented on #405
Fixed in #633.

[2019-01-08 20:42] samshipengs commented on #639
Since there were a lot of messy steps I did before running the conda commands, I removed all cudf related libraries in conda and did a reinstall with the same conda command I posted, import cudf worked without error or any warning.

[2019-01-08 22:58] anfeng commented on #620
@archenroot Spark integration roadmap is being defined. Please share your use cases if possible.

[2019-01-08 23:00] anfeng commented on #638
@em-watkins We will enable Spark apps to leverage cuDF. Please share your use case on multi-GPU and multi-node.

[2019-01-09 00:07] vuule commented on #602
The file you generated includes a header row. When you manually specify the column names, the header row is set to None, and this behavior is documented in the csv.py. Because of this, the parser reads the first row as a data row and returns garbage. I see similar behavior with pandas.
You can get the expected behavior with one of the following changes:
1. Specify skiprows=1;
 2. Remove the header

[2019-01-09 00:19] thomcom commented on #423
I addressed the listed issues, but I'm worried that the main functionality doesn't work. Did I use it incorrectly? See #644.

[2019-01-09 02:20] archenroot commented on #620
This is related to both cuGraph and cudf projects as general question. Are you planing to cover in future also distributed (multi node backend), or you would like to stay on level which provides more common data structures as building blocks and focus only on multiGPU on single node?

Spark is definitely common distributed system adopted on dozen of Big Data projects in the world, on the other han

[2019-01-09 05:18] harrism commented on #503
This should be transferred to the RMM repo.

[2019-01-09 05:53] harrism commented on #517
#340 was closed. Can this be closed too?

[2019-01-09 09:40] eyalroz commented on #368
@harrism
This fails at the _second_ command (`make python_cffi`) with:
[code]

[2019-01-09 09:45] eyalroz commented on #368
But to be honest - this is another bug already. @harrism : should we close this one and have me open another one for this new error message?

[2019-01-09 09:53] pearu commented on #195
numpy raises a `ValueError: zero-size array to reduction operation minimum which has no identity` when calling `min` method of a empty array.
I suggest numpy behavior as it might be difficult to track down the origin of `nan` in the result of some algorithm.

[2019-01-09 12:52] pearu commented on #330
The diagnosis of this issue is wrong: there is a typo in the given command (or perhaps was in some earlier version of `README.md`).

The correct command to create a new environment is
[code]

Suggest closing the issue.

[2019-01-09 17:17] thomcom opened #647 "[BUG] .quantile(exact=False) fails when input dtype is integer"
If `.quantile(exact=False)` is called on a `Series` with `dtype=int64` or `int32`, the quantile results are all returned as very-near-floating-point 0 (e.g. `5e-324`).

[code]
Expect the quantile values of `x` and `y` to be equal.

I suggest this be fixed by simply converting integer types to float prior to executing the final `quantile`.

**Environment details (please complete the following infor

[2019-01-09 17:43] thomcom commented on #423
Created a new issue for `.quantile()` on integer Series: #647. This is complete.

[2019-01-09 18:44] mrocklin opened #652 "[QST] Use Numpydoc for docstrings?"
It looks like we currently use straight sphinx for docstrings.   This looks like the following:

[code]

I'd like to raise the possibility that we move to numpydoc.  There are a few reasons for this:

1.  It seems to be the standard in PyData projects today
2.  It includes results in the docstrings, which is nice for people reading them, and also provides us something to test if we like

Here is w

[2019-01-09 18:45] mrocklin opened #653 "[QST] Avoid using full paths in docstrings"
Currently we use full paths in docstrings like the following:

[code]

I suggest that we instead use the minimally specific path in user-facing materials

[code]

This is easier on novice users, and makes it easier for us to change our internal directory layout in the future.

[2019-01-09 18:47] pearu commented on #195
[ANSI SQL appears to return `NULL`](https://dba.stackexchange.com/questions/25435/why-does-ansi-sql-define-sumno-rows-as-null) when `min` and other reduction functions are applied to empty table.

`NULL` and `nan` have different meanings. Still thinking that `nan` would be inappropriate in this situation but I guess this is debatable view.

[2019-01-09 19:46] vuule opened #656 "[BUG] Incorrect behavior in CSV reader when both header and skiprows parameters are used"
**Description**
When parsing a CSV file with nonzero header and skiprows parameters the resulting dataframe is not consistent with pandas implementation. There are two issues observed:
* Header row is not skipped correctly so it appears again in a data row.
* With pandas, total number of skipped rows is skiprows+header, so the header row is always the first one read. This is not the case in cuDF,

[2019-01-09 19:46] mrocklin commented on #195
We might want to return a NULL value.  I agree that we don't want to return
NaN.  I think that this is a case where deviating from Pandas behavior is
probably nice.  I suspect that Pandas also wanted to return NULL, but
couldn't because they don't have access to the value.

On Wed, Jan 9, 2019 at 11:43 AM Pearu Peterson <notifications@github.com>
wrote:

[2019-01-09 20:09] mrocklin commented on #534
I'm adding this to this release.  I *think* it's critical?  I'm not sure though.   It would be useful to have a cudf maintainer take a look at the issue and see if I'm not doing something dumb here.

[2019-01-09 20:10] devavret commented on #528
I still didn't understand what lock _thread_G_ held but it was clear that one of them needed to let go of a lock. After some research on the purpose of the GIL, it seemed safe to let go of the interpreter lock before entering a C function. Tried the following and it worked:
[code]
**Why didn't this affect us before?**
Because in CFFI, C function calls are done with the GIL released.
Now that we ar

[2019-01-09 20:11] mrocklin commented on #534
Looking at the test suite it seems that we only support the pattern

[code]

Is this correct?  If so then we should probably add a NotImplementedError (or just solve the problem).  My sense is that this is one of the more (most?) common ways for users to start with groupby-aggregations.

[2019-01-09 20:34] kkraus14 commented on #534
I don't think this is critical for release and can be pushed to 0.6 as you can always do `.agg({'x': 'mean'})`. That being said we need to create a proper SeriesGroupBy object to allow this type of behavior.

[2019-01-09 21:09] jrhemstad commented on #343
This can be fixed once https://github.com/rapidsai/cudf/pull/576 is merged.

[2019-01-09 21:34] harrism commented on #330
The path did indeed used to be `conda_environments`. Perhaps this is because of `conda env create` instead of `conda create`?

@kkraus14 can you weigh in on closing this issue?

[2019-01-09 21:35] #330 closed, assigned to kkraus14

[2019-01-09 21:37] kkraus14 commented on #652
Agreed this is the right direction and we should do this.

[2019-01-09 21:51] #551 closed

[2019-01-10 00:03] vuule opened #659 "[BUG] CSV reader: DataFrame contains incorrect data when data type inference is used"
**Description**
When parsing a CSV file with data type inference, the data in the resulting dataframe is partially corrupted. The issue reproes even when the data types are the same in both cases, as the repro steps below show.

**Repro steps**
dtypes = ['float64', 'int32']
lines = [','.join(dtypes),
"1.1, 1",
"12.12, 2",
"123.123, 3",
"1234.1234, 4"]
buffer = '\n'.join(lines) + '\n'
df_correct =

[2019-01-10 00:26] jrhemstad opened #660 "[FEA] Transition RMM to submodule of cudf"
**Is your feature request related to a problem? Please describe.**
Now that [RMM](https://github.com/rapidsai/rmm) is moved to its own repo, it should be added as a submodule of cudf.

[2019-01-10 02:39] #548 closed

[2019-01-10 02:42] #369 closed

[2019-01-10 02:52] bahaugen commented on #517
I think this is a duplicate of #340 and can be closed.

[2019-01-10 03:36] #517 closed

[2019-01-10 03:43] harrism commented on #560
Fixed by #648.

[2019-01-10 03:43] #560 closed

[2019-01-10 04:13] #605 closed

[2019-01-10 10:36] devavret commented on #631
@kkraus14 suggested that a way to fix this would be to pass `null_count` along with `mask` to `Column.replace` so that it does not remove the mask when it sees a non-0 `null_count`. Gonna try it.

[2019-01-10 14:33] josephwinston opened #661 "[BUG] Fail to install in Python 3.7 environment"
**Describe the bug**
Installation fails on Ubuntu 18.04 with conda 4.5.12 running python 3.7.1

**Steps/Code to reproduce bug**
`$ conda install -c numba -c conda-forge -c nvidia -c rapidsai -c defaults cudf=0.4.0`

[code]

**Expected behavior**
Install cudf

**Environment details (please complete the following information):**
 - Environment location: Cloud (azure)
 - Method of cuDF install: conda

[2019-01-10 14:34] kkraus14 commented on #661
@josephwinston We don't support Python 3.7 quite yet, could you try a python 3.6 environment and see if that works for you?

[2019-01-10 14:44] josephwinston commented on #661
Sure.  Also, anything I can do to help with 3.7 adoption?

[2019-01-10 14:47] kkraus14 commented on #661
If you'd like to try installing from source in a 3.7 environment and reporting back any issues with the unit tests that would be extremely helpful.

I believe the rest is related to CI pipeline changes that we are working to expose and control via source control management.

[2019-01-10 14:48] josephwinston commented on #661
I'll do the source install and report back.  You can close this issue if you want.

[2019-01-10 14:53] kkraus14 commented on #661
This is a good issue / feature request and we can use this issue to discuss Python 3.7 support, so I'd like to keep this open. Thanks for opening this!

[2019-01-10 15:12] #493 closed

[2019-01-10 15:41] samshipengs opened #662 "[BUG] `MAX_INT` in Join column results in uninformative memory error"
I was trying to merge two cudf dataframes on a column called `card_id` (I set it as `'int'` type),

`df_left.merge(df_right, on=['card_id'], how='left')`

where `df_left` has following shape and dtypes,
`(1963032, 14) `

[code]

and the `df_right`:
`(201918, 6)`

[code]

I'm getting following error:

[code]

I had been checking gpu memory on nvidia-smi, it never exceeded 600MB. I'm not sure what t

[2019-01-10 16:03] jrhemstad commented on #662
Can you please attach your environment details produced from this script https://github.com/rapidsai/cudf/blob/branch-0.5/print_env.sh

[2019-01-10 16:07] samshipengs commented on #662
[code]

I left out the conda packages part as its a long list

[2019-01-10 16:32] jrhemstad commented on #662
Would you be able to do a Debug build of libcudf from source and install that into your environment and try running your reproducer?

The instructions for building from source are here:
https://github.com/rapidsai/cudf/blob/branch-0.5/README.md

To get a Debug build, the only change you need to make is:
`cmake .. -DCMAKE_INSTALL_PREFIX=/install/path -DCMAKE_BUILD_TYPE=Debug`

If that doesn't give

[2019-01-10 16:36] jrhemstad opened #663 "[FEA] Provide instructions in README on how to build in Debug and use debugger(s)"
We should add a "Debugging" section in the README that describes how to build libcudf in Debug mode from source as well as how to run through `cuda-gdb` and `cuda-memcheck`.

Providing these instructions will give us something to refer to users to aid developers troubleshooting their bugs.

[2019-01-10 16:36] samshipengs commented on #662
So I found what could have caused it and I can reproduce the error,
when I was loading the csvs for `df_left` and df_right`, I was setting the column `card_id` dtype to be `'int'`, which the data would look something like this:

[code]

The error goes away when I set the dtype of the `card_id` to be `'category'`, which would give this:
[code]

I noticed the difference on the `card_id` values, prob

[2019-01-10 16:52] jrhemstad commented on #662
Oh... I believe I see what the problem is. Thanks for posting the sample of your data.

When you set `card_id` dtype to `int`, then some of the values you are getting are `2147483647` which is `2^31 -1` or `MAX_INT`.

That value is used as a special "sentinel" value in the `merge` implementation and if your input dataset contains that value, then you'll run into problems, as you've seen.

We'll ha

[2019-01-10 17:09] samshipengs commented on #662
Thanks for the reply. ( forgot to mention the data sample above was `df_right` the smaller dataframe of the merge).
Although then I did a `value_counts` on the `card_id` when I set it to `'int'` when I was loading it from csv, the printed result doesn't seem right:

[code]

which means all the `car_id` gets mapped to `MAX_INT` except for the first one.

[2019-01-10 17:30] samshipengs commented on #662
oh my mistake ...., there should be an error in my code, somehow when I was using pandas to load the data and trying to take a peak of what the original data actually was, it turns out they appear to be all `Nan` after loaded:
[code]
so the `NaN` probably are responsible for those `MAX_INT`. (although Im still trying to figure out whats wrong in my code)

[2019-01-10 17:48] samshipengs commented on #662
Here is the original data (`df_right`):

[code]

[2019-01-10 18:45] randerzander opened #666 "[FEA] cudf.DataFrame.to_arrow should make copying the df's index optional"
Currently, when I copy a DataFrame to host using .to_arrow(), it copies the df's index to the 'None' column.

Repro steps:
[code]

Result:
[code]
**Describe the solution you'd like**
1. Instead of 'None', that column should be named `__index__`
2. Copying the index should be optional, possibly specified by an `preserve_index` argument, True by default (see [pyarrow.from_pandas](https://arrow.apach

[2019-01-10 19:15] mrocklin commented on #483
Small example

[code]

[2019-01-10 20:22] BradReesWork opened #667 "[FEA] Boolean data type"
Add support for a GDF_BOOL data type.   This would be int8 to match Python.  The Arrow spec calls out a single bit, but that introduces issues (could reuse valid bitmask code).

- [x] update types.h
- [x] update wrapper_types.hpp
- [x] update type_dispatcher.hpp
- [x] update tests/type_test.cpp

This does not touch the Python side of the problem

[2019-01-10 20:30] jrhemstad commented on #667
This will require updating the `type_dispatcher` as well as creating an appropriate wrapper type in https://github.com/rapidsai/cudf/blob/branch-0.5/cpp/src/utilities/wrapper_types.hpp

[2019-01-10 22:38] #166 closed

[2019-01-11 01:16] j-ieong commented on #641
Noticed this issue when I came back from holidays. Repro steps:

1. Run cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX
2. Run `make install` to build and install libcudf
3. Edit io_types.h to change parameters
4. Run `make` and notice it did not detect the changes.

[2019-01-11 01:57] harrism commented on #432
Closing. Please reopen if still an issue.

[2019-01-11 01:57] #432 closed

[2019-01-11 02:32] felipeblazing commented on #659
Is anyone looking into this? If not I can take a gander.

[2019-01-11 03:08] #546 closed

[2019-01-11 03:32] #641 closed

[2019-01-11 03:38] harrism commented on #392
I did some digging and this doesn't appear to be an RMM problem. I suspect it's somewhere in the allocations that cuDF does, or in the way that Numba does GC... @kkraus14 can you assign someone to dig on the Python side?

[2019-01-11 11:52] felipeblazing commented on #659
I started making a test for this situation and ran into a problem parsing floats at all. I made a few tests and here is an example of a simple test that fails.

`
TEST(gdf_csv_float_test, FloatTest)
{
	const char* fname			= "/tmp/CsvFloatTest.csv";
	const char* names[]			= { "A" };
	const char* types[]			= { "float64" };

	std::ofstream outfile(fname, std::ofstream::out);
	outfile << "1\n12\n123.1

[2019-01-11 14:02] pearu commented on #626
Supported numpy types are listed in [bindings/cudf_cpp.pyx](https://github.com/rapidsai/cudf/blob/b79c56a5dad2cf3e0740ba4a89b08c808d21be31/python/cudf/bindings/cudf_cpp.pyx#L26).

For the given issue the unsupported type can be caught, say, in `join` function (`bindings/join.pyx`) at latest.

But it seems that the issue of unsupported types is more general. So, should we catch the unsupported type

[2019-01-11 15:04] BradReesWork commented on #667
from side conversation with Jake, this will just be a wrapper

`using cudf_bool = detail::wrapper::<int8_t, GDF_BOOL>` in `wrapper_types.hpp`
it defines a new concrete type associated with `GDF_BOOL` that simply wraps an `int8_t` value

[2019-01-11 16:22] felipeblazing commented on #659
Is this actually a bug?
So the input is "float64,int32\n1.1,1\n12.12,2\n123.123,3\n1234.1234,4\n" and we aren't telling it to skip rows or antyhing of that nature. How is it supposed to know that it needs to skip the first row? Removing those two lines seems to make this work fine though it infers an int64 instead of an int32.

[2019-01-11 16:36] pearu commented on #626
I withdraw my `Buffer` suggestion. The issue of unsupported types affect only `bindings` modules.

[2019-01-11 17:11] pearu opened #672 "[BUG] A possible source of memory leaks in cudf/bindings"
Allocating memory using `malloc` in
[cdef gdf_column** list_lhs = <gdf_column**>malloc(len(col_lhs) * sizeof(gdf_column*))](https://github.com/rapidsai/cudf/blob/b79c56a5dad2cf3e0740ba4a89b08c808d21be31/python/cudf/bindings/join.pyx#L45)
is not freed within the function where it is defined.

Similar pattern is used elsewhere.

[2019-01-11 18:16] thomcom commented on #626
We catch attempts to create string dtypes "Frequently", but apparently from in `from_pandas`, which is an important use case.

I propose a fix that ensures that `from_pandas` produces the expected `NotImplementedError: Strings are not yet supported`.

[2019-01-11 18:19] thomcom commented on #626
The issue, more specifically, is that when an np.array full of strings is submitted as a Series, we don't catch it.

[2019-01-11 18:21] mrocklin commented on #626
We might want to standardize our checks in one place with a function like

[code]

That way we can keep all of these checks in one place, provide high quality error messages, and drop or change them when appropriate across the entire codebase.

[code]

[2019-01-11 18:42] thomcom commented on #626
That sounds nice! And potentially hairy. As a fan of impending deadlines, I propose we accept my fix in PR #674 for this P0 issue. 🌮

[2019-01-11 18:46] thomcom commented on #659
There's another issue where it is reported that you need to specify arguments to this function carefully. I'm going to reference that here.

[2019-01-11 18:47] thomcom commented on #659
See https://github.com/rapidsai/cudf/issues/602 and @vuule's comment. Does that resolve this?

[2019-01-11 18:47] mrocklin commented on #626
Fair enough

On Fri, Jan 11, 2019, 10:42 AM H. Thomson Comer <notifications@github.com
wrote:

[2019-01-11 18:52] pearu commented on #626
@mrocklin @thomcom
I have a PR candidate that implements checks that is inline with the @mrocklin idea:
https://github.com/rapidsai/cudf/compare/branch-0.5...Quansight:issue626?expand=1

[2019-01-11 18:54] thomcom commented on #626
Very nice! That was quick. :)

[2019-01-11 18:56] thomcom commented on #626
Do you think it is ready to go to [REVIEW] or are you still [WIP]?

[2019-01-11 19:00] pearu commented on #626
I consider it done and would put it under [REVIEW].
However, locally I have 2 test failures from `test_csv_reader_datetime_data` which seem to be unrelated but I want to be sure before creating the PR.

[2019-01-11 19:12] thomcom commented on #626
Go ahead and make the PR and we'll see what integration finds wrt tests!

[2019-01-11 20:23] pearu commented on #626
Rebuilding libgdf resolved the 2 local test failures.

[2019-01-11 21:01] kkraus14 commented on #672
cc @dantegd

[2019-01-11 22:18] daxiongshu opened #675 "[BUG] read csv treat scientific notations and "" as strings."
**Describe the bug**
read csv treat scientific notations and "" as strings. pandas treat "" as nan.

**Steps/Code to reproduce bug**
given the following csv:

[code]

[code]
The output is:
[code]
**Expected behavior**
no mismatch against pandas

**Environment details (please complete the following information):**
 cudf 0.4 conda install

[2019-01-11 22:21] kkraus14 commented on #675
Can you please upload a minimal data file that reproduces the issue? I don't think we want to have to register/login to Kaggle to download the dataset.

[2019-01-11 22:48] daxiongshu commented on #675
updated!

[2019-01-11 22:49] kkraus14 commented on #675
Awesome, thanks for the minimal use case!

[2019-01-11 22:54] kkraus14 commented on #327
Fixed by #600.

[2019-01-11 22:54] #327 closed

[2019-01-11 22:59] kkraus14 commented on #423
Fixed by #644.

[2019-01-11 22:59] #423 closed

[2019-01-11 23:00] kkraus14 commented on #405
Fixed by #633.

[2019-01-11 23:00] #405 closed

[2019-01-11 23:03] kkraus14 commented on #552
Fixed by #633.

[2019-01-11 23:03] #552 closed

[2019-01-11 23:29] kkraus14 opened #676 "[BUG] gdf_csv_test.Dates failure in gpuCI"
Getting failures in gpuCI with the following:

[code]

[2019-01-11 23:33] kkraus14 commented on #395
Is this fixed in #654 @jrhemstad @eyalroz @harrism?

[2019-01-11 23:33] kkraus14 commented on #353
This is resolved and `sep` is exposed now.

[2019-01-11 23:33] #353 closed

[2019-01-12 00:08] j-ieong commented on #676
I haven't been able to repro locally yet.

[2019-01-12 06:40] amotupal commented on #392
If you want something to reproduce, I can send my jupyter notebook in the PM. Thanks.

[2019-01-12 10:59] pearu commented on #251
The ordering of cudf merge is determined by the order of adding columns to cudf Dataframe (its `_cols` attribute is OrderedDict). The ordering of pandas merge is as it is.
To ensure the same ordering, the above PR #678 computes pandas merge on a dummy data
and initializes the cudf Dataframe `_cols` attribute to set the pandas ordering.

[2019-01-12 14:48] jrhemstad commented on #395
Yes, I don't know why it didn't get automatically closed when it was merged. I have the "closes" keyword there.

[2019-01-12 14:48] #395 closed

[2019-01-12 23:24] eyalroz opened #680 "[BUG] [FEATURE] print_gdf_column() deficient"
Our test utilities have a function named `print_gdf_column()`. It is obviously of key importance when testing and when debugging our implementations. Also, the less convenient and flexible its output is, the more time does a developer need to decipher its output and derive useful insights from it.

Having said that...

* It does not allow indicating that column data is of bit resolution (e.g. for

[2019-01-13 08:57] pearu commented on #392
From tracking the CPU virtual memory usage of a python process, I have found the following:
1. virtual memory change does not depend on the size of data
2. calling `from_pandas` causes a 13 GB increase in the virtual memory usage (the leak)
3. calling `query` does not increase virtual memory usage
Note that only CPU memory is tracked here but the result 2. seems to be weird.

[2019-01-13 10:37] eyalroz opened #681 "[BUG] Headers are included in wrong order"
(This can be seen as a sub-issue of #479.)

In many cudf `.cpp` and `.cu` files we see project-specific or even translation-unit-specific headers include _after_ system or third-party-library headers.

This is the opposite of the [established and recommended order](https://stackoverflow.com/a/2762596/1593077), which is such that no include should depends on an include appearing _later_. Or in othe

[2019-01-13 11:00] eyalroz opened #682 "[DOC] [BUG] Define when to use "length" as opposed to "size""
(This relates to issue #479)

In my places in our code, we use th term `length` to refer to the number of elements in a column; while in others (most of them, really) - the word`size` is used.

IMHO There should be a clear rule regarding when to use each of these terms.

[2019-01-13 20:43] pearu commented on #392
The 13 GB increase comes from the first call to `rmmAlloc` (here the Python code turns to C++).
While the first call allocates device memory using cudaMalloc, it is unclear why the host virtual memory usage increases.

When switching to using memory pool allocator via
[code]
then the virtual memory increase becomes 30MB (which is much smaller than 13 GB).

Increasing `initial_pool_size` from 0 to

[2019-01-13 21:11] pearu commented on #392
I now tracked also GPU memory usage when changing the rmm parameters with the following conclusions:
1. With `use_pool_allocator = True` and `initial_pool_size < total device memory` there are no leaks neither in host nor in device memory
2. With `use_pool_allocator = True` and `initial_pool_size > total device memory` there are apparent leaks: host 176 MB and device 122 MB
3. With  `use_pool_allo

[2019-01-13 22:24] pearu opened #683 "[BUG] test_df_cat_sort_index fails with segfault when RMM memory allocator is enabled"
**Steps/Code to reproduce bug**

Prepend the following code to `cudf/__init__.py`
[code]
and run
[code]

**Expected behavior**
Test passed succesfully.

**Environment details (please complete the following information):**
 - Environment location: KVM virtual machine
 - Method of cuDF install: from source
 - The output of the `cudf/print_env.sh` script: [print_env_output.txt](https://github.com/rap

[2019-01-14 16:45] kkraus14 commented on #676
Resolved in #677.

[2019-01-14 16:45] #676 closed

[2019-01-14 17:00] kkraus14 commented on #683
cc @williamBlazing and @harrism for visibility, unsure if the issue is at RMM, Cython, or the libcudf sorting function.

[2019-01-14 17:51] kkraus14 commented on #402
Resolved by #478

[2019-01-14 17:51] #402 closed

[2019-01-14 19:50] kkraus14 commented on #475
This was resolved in the refactor, closing.

[2019-01-14 19:50] #475 closed

[2019-01-14 20:25] randerzander opened #687 "[BUG] Cannot create DataFrame from a single-row PyArrow table"
**Describe the bug**
Creating a DataFrame from a one-row PyArrow table results in a ValueError

**Steps/Code to reproduce bug**
Repro:
[code]
Result:
[code]

**Expected behavior**
Instead of throwing a stacktrace, the code above should return a cuDF DataFrame

**Environment details (please complete the following information):**
 - Environment location: [Docker]
 - Method of cuDF install: [from sou

[2019-01-14 20:43] kkraus14 commented on #140
Reopening this as we only support DATE64, not TIMESTAMP. We should support arbitrary resolutions as well.

[2019-01-14 21:08] kkraus14 commented on #602
Fixed by #686.

[2019-01-14 21:08] #602 closed

[2019-01-14 21:10] jrhemstad commented on #626
@pearu @mrocklin is this fixed with https://github.com/rapidsai/cudf/pull/674 ?

[2019-01-14 21:10] kkraus14 commented on #626
@jrhemstad partially, will be fully fixed with #673, working on finishing that up now.

[2019-01-14 21:20] dorisnvidia commented on #647
+1 for the issue.

I noticed the same issue: a near-0 value is returned for quantile using approximate method when dtype is float. Exact method works fine. The bug occurs both for Python and C++ APIs.

Is it going to be fixed in 0.5.0?

Doris

[2019-01-14 22:33] randerzander commented on #647
@dorisnvidia this bug should already have been fixed in branch-0.5, by #644.

Can you try it out and let us know if you're still seeing undesired behavior? If so, we can re-open this issue.

[2019-01-14 22:59] kkraus14 opened #688 "[FEA] Support using conda supplied gcc/g++ and libraries for building from source"
This would give us better compatibility with the conda ecosystem, and more importantly resolve issues with OS dependent compilers / libraries.

[2019-01-15 00:04] vuule commented on #659
@thomcom I have a fix for #656

[2019-01-15 00:12] mrocklin opened #690 "[BUG] Merge on empty dataframe fails"
Merging on an empty dataframe fails.

For context dask.dataframe does this in order to get dtypes and column names without doing much work.

[code]

[code]

[2019-01-15 00:13] mrocklin commented on #690
cc @randerzander

[2019-01-15 00:13] kkraus14 commented on #690
cc @jrhemstad @kaatish should be easier to triage this

[2019-01-15 00:57] jrhemstad commented on #690
Aha, I suspected that this was the cause of https://github.com/rapidsai/dask-cudf/issues/66

[2019-01-15 03:55] dorisnvidia commented on #647
No, I don't think it is resolved unfortunately.

I did the following to pull the branch and rebuild the libs:
cd ~/cudf ( i am at branch-0.5)
git pull
conda install -c nvidia -c rapidsai -c numba -c conda-forge -c defaults cudf=0.4.0
module purge
module load gcc/5.4.0
module load cuda/9.2.88.1
source activate cudf_dev
cd cpp
cd BLD/
rm -fR *
cmake -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX -DCMAKE_EXPOR

[2019-01-15 03:57] datametrician commented on #647
@dorisnvidia you still conda installed v0.4, I think they are saying it's fixed in v0.5.

[2019-01-15 11:10] mike-wendt commented on #498
Initial builds are happening currently. There are some issues with missing packages due to the transition by conda-forge that is also happening today. Will monitor but the jobs are setup to build packages for all commits on branches `branch-M.X`. They are pushed to the same conda channel and labeled with the branch they are built off of for the time being.

[2019-01-15 14:03] jrhemstad commented on #690
@mrocklin or @kkraus14 could you open a PR that adds a pytest to reproduce this so that I have something to use for debugging?

[2019-01-15 14:42] kkraus14 commented on #690
Yessir. Give me a few.

[2019-01-15 15:07] dorisnvidia commented on #647
Right, but the conda install command was actually redundant. I was building the two libraries, libcudf.so and librmm.so from the source.

I just noticed that the conda/environments/dev_py35.yml was dated Dec 21. Maybe I need to update the conda environment first? Let me do that, then rebuild cudf, and report back.

[2019-01-15 15:38] tebeka opened #692 "[BUG] Need to adjust LD_LIBRARY_PATH after upgrading pandas"
**Describe the bug**

Using rapids docker. After `conda install pandas=0.23.4` `import cudf` fails since it can't find `libNVStrings.so`.

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
Working with cudf should work

**Environment details (please complete the following information):**
 - Environment location: [Bare-metal, Docker, Cloud(specify cloud provider)]
rapids docker image `r

[2019-01-15 15:59] dorisnvidia commented on #647
After removing the conda env, recreating the env cudf_env, rebuilding and re-installing cudf libs from source, rebuilding/re-installing cudf python package, the issue is still there, for both C++ and Python code.

Re-creating cudf_env environment does help cleaning up some strange errors I had last night when running the python code. But quantile approximate method still returns a non-zero very sm

[2019-01-15 16:38] thomcom commented on #647
Can you use exact=True for now?

[2019-01-15 16:39] thomcom commented on #647
#644 does not fix this issue, this is a new issue discovered in the resolution of the issues from #644.

[2019-01-15 17:11] dorisnvidia commented on #647
Thanks Thomson. So I am not insane! Yes I will use exact=True for now. Let me know whenever you want me to test again.

[2019-01-15 17:24] BradReesWork commented on #596
Blazing is working on getting a Parquet PR against cuDF soon.  Should this issue be closed?

[2019-01-15 18:37] datametrician commented on #647
Thanks @dorisnvidia for being so diligent. I apologize for the inadvertent gaslighting...

[2019-01-15 20:11] mjsamoht opened #695 "[DOC] Missing Doxygen comments for completed read_csv() features in io_types.h"
List of implemented parameters that are missing Doxygen comments:
- usecol
- nrows
- header
- dayfirst

[2019-01-15 20:30] kkraus14 opened #696 "[BUG] GDFError: GDF_VALIDITY_MISSING in binary ops where one column has nulls, other doesn't"
Minimal reproducer:
[code]

[2019-01-15 20:32] kkraus14 commented on #696
Note: this is because we don't allocate a validity mask if there's no nulls in a column, so libcudf needs to handle the case where the validity mask is nullptr as all valid.

[2019-01-15 21:41] dorisnvidia opened #697 "[DOC] customer needs document for C/C++ APIs"
## Report needed documentation
Docs for C/C++ APIs for both cudf and cuml.

**Report needed documentation**
We showed a customer a list of cudf functions available, and a benchmark test result that demonstrated 20x speed up in read_csv and quantile calculation on GPU using cudf compared to a C++ implementation on CPU on a big dataset. The customer wants to start integrating these functions but nee

[2019-01-15 21:44] jrhemstad opened #698 "[FEA] Configure and start building Doxygen HTML documentation"
**Is your feature request related to a problem? Please describe.**
Need to configure and begin building the HTML documentation from our Doxygen documentation in libcudf.

**Additional context**
Doxygen documentation coverage in libcudf is sparse at best, but starting to try and actually build the Doxygen HTML docs out of our Doxygen that is present in the source will expose shortcomings.

[2019-01-15 21:45] harrism commented on #697
@dorisnvidia This PR can serve for cuDF documentation improvement, but you'll need to file separate issues for cuML and other libraries.

[2019-01-15 21:48] jrhemstad opened #699 "[DOC] Need complete Doxygen coverage of external libcudf APIs"
Only some of the external APIs have Doxygen documentation. At minimum we need Doxygen documention for the APIs in `functions.h` and `io_functions.h`.

[2019-01-15 21:48] jrhemstad commented on #697
See https://github.com/rapidsai/cudf/issues/699 and https://github.com/rapidsai/cudf/issues/698

[2019-01-15 22:37] thomcom opened #700 "[BUG] csv_reader fails when type inference is used and whitespace exists in file"
When `dtype` is not provided to `read_csv`, and whitespace is present in the file, `read_csv` produces undefined values.

[code]
[code]
Removing the whitespace fixes the results.

[2019-01-15 22:38] thomcom commented on #659
Please close this issue which is replaced with #700.

[2019-01-15 22:56] #659 closed

[2019-01-15 23:01] adamjm commented on #399
@kkraus14 Has there been any progress on this issue? I am really keen to test this on a ppc64le based machine. I would also be happy to test any code on this ppc64le machine.

[2019-01-15 23:07] datametrician commented on #399
@adamjm no progress yet, I apologize, but it's on our radar

[2019-01-16 00:58] mjsamoht opened #701 "[FEA] Support bzip2 CPU decompression in read_csv"
Add support for bzip2 compression scheme.

Need to include copyright notice + link to OSS library at top of header and source file (io_uncomp.cpp/.h).

[2019-01-16 01:03] kkraus14 commented on #358
Resolved in #679

[2019-01-16 01:03] #358 closed

[2019-01-16 01:04] kkraus14 commented on #690
Fixed in #691

[2019-01-16 01:04] #690 closed

[2019-01-16 02:12] kkraus14 commented on #626
Resolved in #673 and #674

[2019-01-16 02:12] #626 closed

[2019-01-16 02:15] kkraus14 commented on #400
Resolved by #447

[2019-01-16 02:15] #400 closed

[2019-01-16 02:52] kkraus14 commented on #656
Fixed by #689

[2019-01-16 02:52] #656 closed

[2019-01-16 15:45] kkraus14 commented on #195
Yes, let's return NULL.

[2019-01-16 16:28] randerzander opened #702 "[FEA] Update Python bindings for "replace" functions"
As a workflow developer, I need fillna to be faster. I also need to replace non-null values without writing a custom UDF.

#643 provides a libcudf implementation for replacing null values

1. Extend #643 (if necessary) to support replacing any value,
2. Update cudf/python fillna bindings to use #643 instead of [current JIT'ed impl](https://github.com/rapidsai/cudf/blob/branch-0.6/python/cudf/utils

[2019-01-16 16:38] shwina commented on #702
For values that are non null, please see #539.

[2019-01-16 16:39] cjnolet commented on #688
I like this idea a lot- it decouples the underlying linux distribution from the user's ability to build the code.

Because I'm on centos7, even installing the devtoolset-7 did not fix the problems I was having in the cudf build because the nvstrings shared object that ships with the cudf source was built with a newer libstdc++ than what I had available (devtoolset did not supply a newer version).

[2019-01-16 17:21] randerzander commented on #191
Closed by #603

[2019-01-16 17:21] #191 closed

[2019-01-16 17:40] randerzander commented on #528
Closed by #669

[2019-01-16 17:40] #528 closed

[2019-01-16 18:06] pearu commented on #195
@mrocklin @kkraus14 returning NULL is not really an option because this is Python..

Consider, for example, the `min` call that will lead to the following calling sequence:
[code]
where `gpu_reduction_op` has the following implementation:
[code]
Clearly, when the input is empty or has no valid data, the result will be`identity`. In the case of `min`, the value of `identity` is `std::numeric_limits

[2019-01-16 18:16] mrocklin commented on #195
I recommend that we look to see what Pandas Int64 dtype (in the release
candidate) returns.  I wonder how they handle scalar NULLs.  cc
@TomAugspurger

On Wed, Jan 16, 2019 at 10:06 AM Pearu Peterson <notifications@github.com>
wrote:

[2019-01-16 18:21] kkraus14 commented on #195
It returns a Python `math.nan` object which is a float and non-numpy type.

[2019-01-16 18:42] pearu commented on #195
Here are some relevant discussions from pandas:
  https://github.com/pandas-dev/pandas/issues/18200
in particular,
  https://github.com/pandas-dev/pandas/issues/18200#issuecomment-343747671
summarizes the dilemma well.

Recall the following `min([])` behaviors:
1. Python, numpy - raise ValueError exception
2. pandas.Series - returns nan (even for integer types)
3. cudf.Series - returns 1.8e308
4.

[2019-01-16 18:43] mrocklin commented on #195
To be clear when I say Int64 I mean the new, NULL-enabled integer dtypes in
Pandas

On Wed, Jan 16, 2019 at 10:42 AM Pearu Peterson <notifications@github.com>
wrote:

[2019-01-16 18:44] kkraus14 commented on #195
The problem is the `max()` and `min()` operators return a Scalar, not a Series/Array, so there's no extension array to indicate a null/nan for an integer.

[2019-01-16 19:00] TomAugspurger commented on #195
Pandas would probably return NULL if we had that option.

Our new nullable integer dtype returns NaN

[code]

though I assume that's just for compatibility with the float version.

[2019-01-16 19:11] randerzander commented on #692
Should be fixed after https://github.com/rapidsai/cudf/pull/668 merges

[2019-01-16 19:19] pearu commented on #195
Pandas `min` could made a choice of returning `nan` (float value) on empty integer series because Python allows it. (Personally, I disagree with the choice for many reasons...)

cuDF should presumably be compatible to pandas. However, cuDF compute kernels are implemented in C++ which would not allow the choice made in pandas. If cuDF is required to be pandas compatible, we could implement that in

[2019-01-16 19:29] yogeshg opened #704 "[BUG] Conda installation fails because of incompatibility between nvstrings and cudf package"
**Describe the bug**

Conda install fails to import `libcudf.so` because `undefined symbol: _ZN9NVStrings17create_from_indexEPSt4pairIPKcmEjb`

[code]

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment details (please complete the following information):**
 - Environment location: [AWS]
 - Method of cuDF ins

[2019-01-16 19:32] randerzander opened #705 "[FEA] Support for boolean data-type in cudf/python"
Support `bool` Series data type

Related to #667. I'm creating this as a separate issue to let cudf/cpp and cudf/python work proceed separately. @kkraus14 feel free to close if you prefer them in a single issue/pr

[2019-01-16 19:37] randerzander commented on #667
@mjsamoht - when this and #705 are resolved, I think CSV reader support for booleans will need an update

[2019-01-16 20:52] j-ieong opened #707 "[BUG] A couple of test_csvreader.py tests prints out CUDA errors"
**Description**
The `test_csvreader.py::test_csv_reader_nrows` and `test_csvreader.py::test_csv_reader_skiprows_header[2-4]` tests print out errors despite the test itself passing.

**Repro**
1. Run one of the above tests with `-s` and `-v` to show printf output and verbose, respectively:
[code]
2. Output shows errors but marked as passed. Expect no errors to be printed:
[code]

**Environment**
 -

[2019-01-16 20:55] vuule commented on #707
Please assign this one to me.
Looks like the issue is specific to the case where the resulting dataframe is empty.

[2019-01-16 20:56] j-ieong commented on #707
@mjsamoht To assign, since I don't have permissions

[2019-01-16 20:58] mjsamoht opened #708 "[FEA] Support skip_blank_lines in read_csv"
This corresponds to 'skip_blank_lines' in pandas.  If true, skip over blank lines rather than interpreting as NaN values.

[2019-01-16 21:00] mjsamoht opened #709 "[FEA] Support prefix in read_csv"
This corresponds to 'prefix' in pandas.  Prefix to add to column numbers when no header, e.g. ‘X’ for X0, X1, …

[2019-01-16 21:30] trxcllnt opened #710 "[BUG] CMAKE_BUILD_TYPE doesn't propagate to Arrow build"
It seems like the `CMAKE_BUILD_TYPE` option in the cudf source build doesn't propagate to the Arrow-cpp build. After cmake checks out the Arrow repo, the Arrow build reports:
[code]

I'm running this line in a docker container to check out and build the cudf source:
[code]

**Expected behavior**
The `-DCMAKE_BUILD_TYPE` option should probably propagate down to the Arrow build as well.

 - Environm

[2019-01-16 22:22] yogeshg commented on #704
I can confirm that `conda install -y  -p cudf_2 -c nvidia nvstrings==0.1.0` lets me atleast import the package.

[2019-01-16 22:23] mjsamoht opened #712 "[FEA] Support comment in read_csv"
This corresponds to 'comment' parameter in pandas.

Indicates remainder of line should not be parsed. If found at the beginning of a line, the line will be ignored altogether. This parameter must be a single character. Like empty lines (as long as skip_blank_lines=True), fully commented lines are ignored by the parameter header but not by skiprows.

[2019-01-16 22:32] mjsamoht opened #713 "[FEA] Support mangle_dupe_cols in read_csv"
This corresponds to 'mangle_dupe_cols' parameter in pandas.

Duplicate columns will be specified as ‘X’, ‘X.1’…’X.N’, rather than ‘X’…’X’. Default is True.  Passing in False will cause data to be overwritten if there are duplicate names in the columns.

[2019-01-16 23:00] mjsamoht opened #715 "[FEA] Support escapechar in read_csv"
This corresponds to 'escapechar' parameter in pandas.  One-character string used to escape delimiter when quoting is QUOTE_NONE.

[2019-01-16 23:05] mjsamoht opened #716 "[FEA] Support na_values in read_csv"
This corresponds to 'na_values' parameter in pandas.

Additional strings to recognize as NA/NaN.  Do we also have to add keep_default_na support to specify whether default values are overwritten or kept?

[2019-01-17 01:39] harrism commented on #195
I think it is reasonable for libcudf (the C++ part) to return a CUDF error such as `CUDF_DATASET_EMPTY` for empty input. Sure, it may be reasonable to return the identity (`0`) for `sum()` (zero of anything is zero), but is it reasonable to return ONE for a product of zero numbers (zero ones are ZERO, not ONE)? And as explained above, min/max of zero values also has no reasonable identity, so shou

[2019-01-17 04:08] mike-wendt commented on #498
New versioning and true nightlies are in place for cuDF. Closing, reopen if necessary.

[2019-01-17 04:08] #498 closed

[2019-01-17 04:17] mrocklin commented on #498
WOOT.

On Wed, Jan 16, 2019, 8:08 PM Mike Wendt <notifications@github.com wrote:

[2019-01-17 04:19] datametrician commented on #498
Gimmick infringement...

[2019-01-17 05:04] mrocklin commented on #498
FWIW, I've been independently wooting since even when it was cool.

On Wed, Jan 16, 2019 at 8:19 PM Joshua Patterson <notifications@github.com>
wrote:

[2019-01-17 05:06] datametrician commented on #498
Shots fired...

[2019-01-17 08:51] pearu commented on #195
Yes, it is reasonable to return ONE for a product of zero numbers. All CAS do that.
See https://en.wikipedia.org/wiki/Empty_product  for reasoning.

To sum up, the reduction results of the empty sequences ought to be:
1. sum -> 0
2. product -> 1
3. min, max, mean, std, var, etc
    -> in C++, return CUDF_DATASET_EMPTY error
    -> in Python, do what pandas does. If deviating from pandas is ok, the

[2019-01-17 10:58] pearu commented on #195
Surprisingly, `pandas.Series([]).product()` returns `nan`.

[2019-01-17 13:45] TomAugspurger commented on #195
[code]

Can you check your pandas version? This changed somewhat recently (last year).

I would pretty strongly recommend following pandas for

1. the sum of an empty series (0)
2. the product of an empty series (1)

We went through a long, painful process [last year](https://mail.python.org/pipermail/pandas-dev/2017-November/000657.html) clarifying / fixing this. People have strong opinions on it

[2019-01-17 16:11] pearu commented on #195
@TomAugspurger thanks for pointing out the `pd.Series([]).prod()->1` feature in the latest pandas versions. I am happy that you ended up with this solution.

I am using pandas version 0.20.3 according to cudf/conda/environments/dev_py35.yml where empty product returns `nan`.

[2019-01-17 16:16] kkraus14 commented on #195
I'm perfectly happy making the Pandas-compatibility in the Python layer and the libcudf portions having more logical behavior.

[2019-01-17 17:02] pearu commented on #195
The general aim of cudf is provide a pandas-like API for GPU accelerated workflow.
I think this gives a general guideline for making decisions that we were facing in this issue.

However, as seen above, the history of pandas behavior may change and this will influences also cudf code. Currently, [cudf supports only pandas version 0.20.3](https://github.com/rapidsai/cudf#customizing-the-build) whic

[2019-01-17 17:03] kkraus14 commented on #195
We will be bumping support to the latest Pandas version in #668, so lets aim for newest behavior.

[2019-01-17 21:01] mjsamoht opened #721 "[FEA] Support parse_dates and infer_datetime_format in read_csv"
This corresponds to `parse_dates` and `infer_datetime_format` parameter in pandas.

`parse_dates` : _boolean or list of ints or names or list of lists or dict, default False_.
- If True -> try parsing the index.
- If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
- If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
- If {'foo': [1, 3]} -> parse colu

[2019-01-17 22:57] jrhemstad opened #723 "[FEA] `gdf_table` constructor is slow for many columns"
**Is your feature request related to a problem? Please describe.**
The constructor of `gdf_table` performs `4n` push_backs directly into `thrust::device_vector`s in it's constructor, where `n` is the number of columns. Each `push_back` requires a `cudaMemcpy`, meaning that if `n` is large, this will be very slow.

https://github.com/rapidsai/cudf/blob/branch-0.6/cpp/src/dataframe/cudf_table.cuh#L2

[2019-01-17 23:09] muka3d commented on #451
Same here.

Using the demo container, cell 2 of the E2E notebook:

[code]

Results in this:

[code]
Then when I run the next section of code, which is:
[code]
The result is (similar to above) this:
[code]

[2019-01-17 23:12] vuule commented on #713
Looks like pandas does not support mangle_dupe_cols=False yet. Our behavior is consistent with mangle_dupe_cols=True, so we are pretty much compatible with pandas on this. I recommend prioritizing this feature very low.

[2019-01-17 23:43] mrocklin commented on #568
I agree.  The eventual use caes for buffer input that I have in mind is when we get data from cloud storage like S3 or GCS.  In that case though we can easily find the delimiters on the host side (where the data will be anyway in this case) and so the current functionality should be fine I think.

[2019-01-18 00:13] vuule opened #725 "[BUG] CSV reader: tabs are not supported and blank characters when parsing data"
dtypes = ['float64', 'int64']
lines = [','.join(dtypes),
        "\t1.1, \t1",
        "\t12.12, \t2",
        "\t123.123, \t3"]
buffer = '\n'.join(lines) + '\n'
cu_df = read_csv(StringIO(buffer))

The output is garbage, because \t is treated as part of the number.

[2019-01-18 00:14] vuule commented on #725
You can assign this to me, I think I know where the issue is.

[2019-01-18 01:41] harrism commented on #725
Unless this is crucial it will be 0.6 -- we are supposed to be in burn down for 0.5.

[2019-01-18 03:13] #700 closed

[2019-01-18 06:33] kkraus14 commented on #707
Resolved by #717

[2019-01-18 06:33] #707 closed

[2019-01-18 13:32] jangorecki commented on #285
Is this issue solved already? PR for that has been merged.
When attempting to install from pip I am getting the following:
[code]
Looks like that there is a part of error message after `from versions: `
[code]

[2019-01-18 16:54] raydouglass commented on #285
The pip packages have not been published yet. They will be published when v0.5 is released.

[2019-01-18 16:59] raydouglass commented on #704
Please update nvstrings v0.2.0 to build cuda9.2_py36_3 which should also resolve the issue.

[2019-01-18 17:11] #704 closed, assigned to raydouglass

[2019-01-18 21:08] OlivierNV opened #731 "[BUG] GZIP compression doesn't support uncompressed sizes greater than 4GB"
Uncompressed size in GZIP format is truncated to 32-bit
Need incremental decompression to infer the actual uncompressed size when greater than 4GB

[2019-01-18 23:53] kkraus14 opened #733 "[BUG] gpu_expand_mask_bits can read undefined memory"
The kernel is based on the output array size, where if the output array has more elements than the bitmask has bits we end up reading undefined memory. PR with a fix to follow shortly.

[2019-01-19 03:48] #733 closed

[2019-01-19 11:16] jangorecki commented on #441
Could we re-open this issue. It seems to be resolved by manually post-fixing instructions that are in documentation (using steps described in comments).
I run into same issue, but not in a container. Could we include required fixes in readme in installation instructions? so it is clear how to approach error:
[code]

[2019-01-19 16:01] jangorecki opened #736 "Installation instructions incomplete: libcudf.so: undefined symbol"
I am trying to install cudf but getting stuck.
Installed gcc-7 and g++-7 and set as defaults - required to install cuda toolkit 9.2.
Installed 9.2 toolkit
Set paths:
[code]

Create clean conda env for cudf and install to that env.

[code]
[code]
[code]

I was initially using CUDA toolkit 10.0 but I was getting error related to 9.2 `cannot load library 'librmm.so': libcudart.so.9.2` so installed to

[2019-01-19 17:06] datametrician commented on #736
@kkraus14 can someone from your team look into this?

[2019-01-19 17:09] dantegd commented on #736
@kkraus14 this seems like its pulling no strings from conda with the wrong abi compatibility version?

[2019-01-19 19:14] thomcom opened #737 "[BUG] `cpp_join.join` returns row orders that do not match pandas"
**Describe the bug**
When using `merge` based functionality, frequently the resulting row order does not match pandas.

[code]

output:
[code]

The results are "correct", but the row ordering doesn't match. This should be enforced using Index in some way. It is easy to produce this issue with randomly generated numbers, with an infinite number of matrices that will produce the undesired behavior.

[2019-01-19 19:18] thomcom opened #738 "[BUG] DataFrames produced by `cpp_join.join` display whitespace when pandas displays NaN"
**Describe the bug**
When using `DataFrame.merge` based functionality, when `NaN` appears in pandas an empty string appears in cudf.DataFrame.

**Steps/Code to reproduce bug**
[code]
output:
[code]
**Expected behavior**
We should also output NaN when we convert a DataFrame containing them into a string.

**Environment details (please complete the following information):**
[code]

[2019-01-19 19:19] dantegd commented on #737
The ordering of the rows is dictated by the call to libcudf `gdf_*_join`, so this issue is of functionality entirely there if I'm not mistake (cc @jrhemstad ). Since the result can be ordering as an end user this might not be an issue (wouldn't for when I use it), but would like to see @kkraus14 and @mrocklin input on whether matching row order matters.

[2019-01-19 19:28] thomcom opened #739 "[BUG] Too much whitespace in `print(gpu_dataframe)`"
**Describe the bug**
Our dataframe print functionality outputs 5 total column aligned spaces for columns where the longest digit is 1, 2, or 3 digits long. For any digit longer, we output a column that is the width of the longest digit in the column plus one whitespace to the left.

Pandas always produces column output that is 2 whitespaces wider than the longest digit in the column.

**Steps/Code

[2019-01-19 19:34] thomcom opened #740 "[BUG] cudf Series string output doesn't match pandas"
**Describe the bug**
Pandas Series output includes the name of the series and the dtype. I accept this as a feature request, not a bug, except for someone who wants to parse pandas output as a stream. Good first issue.

**Steps/Code to reproduce bug**
[code]
output:
[code]
**Expected behavior**
We should include `Name: <name>, dtype: <dtype>` when we convert a `Series` to string.

[2019-01-19 19:35] thomcom commented on #738
Great answer! We could do the type conversion to float just in time to print them, if it is worth the trouble. This is probably a good first issue in that case.

[2019-01-19 23:19] thomcom commented on #740
Empty series also produces a considerably different output:

[code]
output:
[code]

[2019-01-21 04:02] kkraus14 commented on #737
I think this is a situation where we shouldn't care about specific Pandas behavior. We should update the docs to indicate this function returns things in a non-deterministic and different than Pandas order.

[2019-01-21 04:03] kkraus14 commented on #737
Going to close this and if a user specifically requests for this kind of behavior we can re-open and explore.

[2019-01-21 04:03] #737 closed

[2019-01-22 00:41] harrism commented on #392
I'm not clear why you are studying CPU virtual memory usage, or testing with the pool allocator. The issue as reported demonstrates *GPU* (not CPU virtual) memory inflation when pool is disabled.

BTW,  `initial_pool_size = 0` (the default when `use_pool_allocator = True`) creates a pool with size equal to half the total GPU memory size.

[2019-01-22 02:06] #723 closed

[2019-01-22 08:40] senseb opened #741 "cannot link to libarrow.so"
when i have generated the Makefile, and make in my laptop, errors occur:

[code]
how can i fix it?

[2019-01-22 09:06] senseb opened #742 "[QST]docker build failed with dockerfile"
**What is your question?**

Step 22/26 : RUN source activate cudf &&     mkdir -p /cudf/cpp/build &&     cd /cudf/cpp/build &&     cmake .. -DCMAKE_INSTALL_PREFIX=${CONDA_PREFIX} &&     make -j install &&     make python_cffi &&     make install_python
 ---> Running in fc2619bea379
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- The CUDA compiler id

[2019-01-22 15:20] niviksha commented on #736
Anyone? I’m stuck trying to use this to build a demo

[2019-01-22 16:53] thomcom opened #743 "[FEA] Warn when performance is inferior to pandas."
**Is your feature request related to a problem? Please describe.**

Our current implementation is sub-optimal when the number of columns is large, as a python `Column` object needs to get allocated in serial for each column.

In a similar vein, when `groupby` is called with a large number of samples and a small number of classes, performance quadratically gets worse than pandas (#533).

**Describe

[2019-01-22 17:01] thomcom opened #744 "[FEA] Enable lazy loading of python `Column` data and properties"
**Is your feature request related to a problem? Please describe.**

In order to improve performance with large dataframes, we should investigate lazy loading of objects when the user requests them, leaving them untouched on GPU the rest of the time. This is important because with when transposing a Dataframe with a large number of columns, `Column` allocation and `cffi_view` are the primary bottle

[2019-01-22 17:08] devavret commented on #744
Additionally, an alternative considered was that we create a c++ side matrix for results of operations like transpose and in the vein of immutability, we allocate the whole `df` as a single block of memory and don't allow adding/removing columns.
**Problems with this approach:**
- datatypes need to homogeneous across columns
- large changes required on python side.

[2019-01-22 17:16] devavret commented on #744
The proposed solution would also take care of @kkraus14 's concerns about performance degradation when we register new columns with numba's garbage collection. No need to do it right away.

[2019-01-22 17:21] jrhemstad opened #745 "[FEA] Add C++ function to allocate and initialize a set of `gdf_column`s"
**Is your feature request related to a problem? Please describe.**
In implementing transpose in https://github.com/rapidsai/cudf/pull/356 it was discovered that the primary bottleneck was allocating the potentially millions of `gdf_column` structures as well as the associated Python objects for each column.

**Describe the solution you'd like**

In order to optimize the allocation of potentially m

[2019-01-22 17:32] jrhemstad commented on #743
How would you detect this and give a warning? Is this a common use-case? Is it common and important enough that we should add an alternative implementation?

[2019-01-22 17:34] thomcom commented on #743
In my opinion it is worth optimizing. Our modus operandi is "high performance dataframe manipulation of massive datasets". When pandas crushes our performance (#533) on a medium-large-ish dataset, I think it is worth creating a special case to handle that situation. Pandas clearly has.

Prioritizing #533 isn't my call by any means, and I'm fine with whatever the powers-that-be think are the highes

[2019-01-22 17:40] thomcom commented on #743
Simple condition checks can be used if we want - `if numrows > 100000 and len(groupbycol[1:1000].unique() < 20` then `warn`. I can improve the resolution of the analysis to the point when pandas beats us and call that the threshold. It's just an idea.

[2019-01-22 17:49] thomcom commented on #743
Why shouldn't we handle special cases automatically? It is fairly easy (and fun!) to define a threshold even across multiple parameters where the performance of one algorithm is superior.

[2019-01-22 18:01] dantegd commented on #736
@niviksha Installing nvstring 0.1.0 solves the issue for cuDF 0.4:

[code]

[2019-01-22 19:00] kkraus14 commented on #744
cc @mrocklin this has huge implications for Dask interoperability

[2019-01-22 20:05] vuule opened #746 "[BUG] read_csv() segafults or raises an exception when reading a large file"
You can download the CSV file here:
ftp://ftp.ncdc.noaa.gov/pub/data/ghcn/daily/by_year/2017.csv.gz

Code to set up the repro:
names = ["id", "date", "type", "val", "time", "dummy1", "dummy2", "dummy3"]
dtypes = ['int' for name in names]

With an 8GB GPU, repro steps are the following:
* df = cudf.read_csv(fn, names=names, dtype=dtypes) -> segfault in line 497 (cudaMalloc of 8 bytes)
* df = cudf.r

[2019-01-22 20:55] jeaton32 commented on #746
Looking at the file itself, it may be that one of the columns is mixing char and int data, and this is confusing the data type detector.  5th column  varies over (a,N,S,T,e,E,1,2,7) etc.

[2019-01-22 20:57] vuule commented on #746
The failure happens before data parsing.
It looks like the issue is in the munmap() call, the size is wrong. I got the fix that works locally, will submit a PR if it checks out on another system too.

[2019-01-22 21:57] mike-wendt commented on #368
@eyalroz I'd support a new bug and link it to this one if they are related.

[2019-01-22 22:51] thomcom opened #748 "[BUG] Illegal memory access in cudf_table.cuh"
**Describe the bug**

Jupyter notebook server crashed and restarted on a `rmm_allocator::deallocate()` call.

[code]

**Steps/Code to reproduce bug**
The server restarted after I ran this code:
[code]
^^ above cell
\/ next cell
[code]

I suspect that attempting to merge with one DF empty and the other containing data results in this crash.

Reproduces 100%.

If I run the `gdf_result = gdf_left.mer

[2019-01-23 03:13] jrhemstad commented on #748
I suspect https://github.com/rapidsai/cudf/pull/730 is the culprit. I'll take a look tomorrow.

@thomcom Could you open a PR with a pytest that reproduces this error?

[2019-01-23 03:29] kkraus14 opened #752 "[FEA] Create better utilities for translating between cuDF and PyArrow datatypes"
Most of the data types are pretty straightforward since we currently use numpy dtypes, but for categoricals the PyArrow dtype needs to have the categories to create a dictionary type. Also we'll need to handle strings slightly differently as well, but should be a simple conversion.

[2019-01-23 05:12] #736 closed

[2019-01-23 10:09] harrism commented on #743
I agree we should automate it. I like "minimal configuration" libraries that try to do a good job automatically but provide the knobs required to tune when the user is savvy enough to do so.

[2019-01-23 11:40] randyzwitch commented on #743
I’d rather not have something like this, as a user can profile if they choose and/or this could be a documentation note. Having libraries throwing warnings is a lot of noise when nothing is technically wrong

[2019-01-23 14:59] jrhemstad commented on #663
Fixed by https://github.com/rapidsai/cudf/pull/664

[2019-01-23 14:59] #663 closed

[2019-01-23 15:04] kkraus14 commented on #666
Fixed by #749

[2019-01-23 15:04] #666 closed

[2019-01-23 16:00] kkraus14 commented on #392
I'm exploring this, after calling `.query()` the first time and then forcing numba to run garbage collection: `cuda.current_context().deallocations.clear()` it still doesn't free the memory, so we're likely  erroneously holding a reference somewhere.

[2019-01-23 16:41] pearu commented on #392
@harrism yes, the issue is for GPU, but it seemed that the abnormalities with host memory are related.

[2019-01-23 22:11] mike-wendt opened #761 "[BUG] Dockerfile no longer works as described in README"
- [x] Impacts #668
- [ ] Update `Dockerfile`
- [ ] Update `README.md`

If you follow the README instructions here: https://github.com/rapidsai/cudf/blob/branch-0.5/README.md#customizing-the-build

The docker container was originally designed to build cuDF from source and be customized by build arguments. The changes in this PR/commit broke that https://github.com/rapidsai/cudf/commit/3c6fea1797eb4

[2019-01-23 22:15] kkraus14 commented on #761
I'd defer to @randerzander here as I haven't seen how end users are using this Dockerfile / container. The PR in #668 should update that conda environment to fix these issues though.

[2019-01-23 22:17] raydouglass commented on #761
I agree, the commit should be reverted.

[2019-01-23 22:40] kkraus14 commented on #392
The issue is unrelated to querying, minimal reproducer:
[code]

[2019-01-23 22:40] kkraus14 commented on #392
I'm 95% sure what's happening is that in the original DataFrame creation each column shares a reference to the same index, but after calling the mask there's a new index created for each column and the memory blows up because of it.

[2019-01-23 22:52] kkraus14 commented on #392
Confirmed, before boolean masking:
[code]
After boolean masking:
[code]

[2019-01-23 22:59] kkraus14 commented on #736
This will be resolved by 0.5 release.

[2019-01-23 23:00] randerzander commented on #761
It still builds cuDF from source, but it pushes the package versions into the conda environment yml file.

The reason for the change, was that defining them inside the Dockerfile led to it drifting out of synch with required package versions. There were a few related issues filed due to numba, numpy, or pandas packages being incorrect in the Dockerfile.

I'm not aware of users actually using the b

[2019-01-23 23:02] kkraus14 commented on #761
Python 3.5 support is being dropped as the conda ecosystem is no longer publishing packages for Python 3.5. Pandas and other package versions are unified across Python 3.6 and 3.7.

[2019-01-23 23:07] randerzander commented on #761
@mike-wendt I'm not clear what build-args were being used that you're missing. Can you clarify that?

Perhaps a build-arg could specify which conda environment file to use when building the cudf conda environment?

[2019-01-23 23:14] kkraus14 commented on #761
The environment file is a development environment and given people may want to integrate cuDF with other libraries, the file should be as permissive as possible with regards to package / python versions. It should only define minimum and maximum versions, because a user can always get a specific version using typical conda semantics. The Dockerfile should expose the same ability as using conda.

[2019-01-23 23:23] mike-wendt commented on #761
@randerzander https://github.com/rapidsai/cudf/blob/branch-0.5/README.md#customizing-the-build this table here is no longer valid. Only the first three rows are actually available due to the changes in this commit. So you can no longer use the Dockerfile in the section as described.

Which is why I said we either correct the README to reflect the loss of the feature or revert the commit on the Doc

[2019-01-24 03:47] jangorecki commented on #736
Thanks, looking forward for 0.5 release. If you would be willing to use milestones tags for issues it would be useful for users to see how much of work is left till release.

[2019-01-24 03:48] mike-wendt commented on #661
#668 Just added Python 3.7 support and will be in v0.5 release by EOW

I'll keep this open for you to confirm it works once the release is out

[2019-01-24 03:51] raydouglass opened #765 "[BUG] Remove references to TravisCI"
Remove all references to travisci and update for gpuci if necessary.

Here are the files that reference travis:
* `python/versioneer.py`
* `conda/recipes/libcudf_cffi/meta.yaml`
* `conda/recipes/libcudf/meta.yaml`
* `ci/cpu/cudf/upload-anaconda.sh`
* `ci/cpu/libcudf/upload-anaconda.sh`
* `cpp/cmake/Modules/ConfigureGoogleTest.cmake`
* `cpp/cmake/Modules/ConfigureArrow.cmake`

[2019-01-24 05:37] kkraus14 commented on #746
Fixed by #747.

[2019-01-24 05:37] #746 closed

[2019-01-24 05:38] kkraus14 commented on #692
Fixed by #668.

[2019-01-24 05:38] #692 closed

[2019-01-24 07:45] kkraus14 commented on #761
So it looks like you can't combine an environment.yml file with individual package specifications so that throws a wrench in my plan...

[2019-01-24 08:21] mike-wendt commented on #765
Fixed in #766

[2019-01-24 08:21] #765 closed

[2019-01-24 13:22] josephwinston commented on #661
Excellent news.

[2019-01-24 13:35] thomcom commented on #392
In your above csv there are two leaks @kkraus14, `0x7f0364000000` and `0x7f02a4000000`.

[2019-01-24 13:41] thomcom commented on #392
There's two leaks in your .csv above, each 800,000,000b.
[code]

[2019-01-24 13:44] dantegd commented on #392
@thomcom isn't that is exactly what @kkraus14 is describing: `a new index created for each column `? or am I misreading your comment?

[2019-01-24 13:48] thomcom commented on #392
I think it supports what he's saying. Copies always default to deep - it strikes me we just need to identify the spot where the index is deep copied in this instance and make it a shallow copy instead.

[2019-01-24 15:48] yaronha commented on #451
I see the same problem, tried 0.4.0 and it didn't help, any workaround?

[2019-01-24 16:05] datametrician commented on #451
@kkraus14 @mrocklin would this be resolved if people used dask-cuda library

[2019-01-24 16:12] yaronha commented on #451
@datametrician another issue i saw was that cudf was installed as root user in the pre-baked rapidsai container and i had to do Dockerfile tricks to upgrade to 0.4.0, hope this is addressed in 0.5.0

[2019-01-24 16:13] datametrician commented on #451
@yaronha why not just get the 0.4 container that gives you root access?

[2019-01-24 16:18] yaronha commented on #451
@datametrician i followed instructions in https://rapids.ai/documentation.html , points to the `rapidsai/rapidsai:cuda9.2_ubuntu16.04` i assume the 0.4.0 is a newer tag? (cuda10.0_ubuntu16.04_root) ?

[2019-01-24 16:55] kkraus14 commented on #451
Hard to say, but it would likely clean things up quite a bit and be a step in the right direction.

[2019-01-24 16:56] thomcom commented on #392
@kkraus14 I think the loc that is losing the Index here is one of mine, so I'm digging pretty hard on this.

[2019-01-24 17:38] kkraus14 commented on #285
We're working on releasing right now, so hopefully by the end of the week.

[2019-01-24 17:52] blackrim commented on #285
Great!

sent while on the move. please forgive any errors

[2019-01-24 18:02] datametrician commented on #285
@blackrim that was merged into the 0.5 branch.  once it's merged to master, pip will be released. Sorry for the confusion.

[2019-01-24 18:55] kevingerman opened #774 "[BUG] cudf.io.read_csv of kaggle csv results in different output than pandas.read_csv"
using  cbg_b12.csv from [Kaggle - Census Block Group American Community Survey Data](https://www.kaggle.com/safegraph/census-block-group-american-community-survey-data)
[code]

**Expected behavior**
Expect that cudf.io.read_csv would generate an equivalent dataframe given the same input.   This problem occurs with some other kaggle csvs.

**Environment details (please complete the following inform

[2019-01-24 19:51] trxcllnt opened #775 "[BUG] Series.append throws "ValueError: incompatible shape""
**Describe the bug**
Series append call throws `ValueError: incompatible shape`

**Steps/Code to reproduce bug**
[code]
**Expected behavior**
`Series([4])` should be appended to `Series([1, 2, 3])` to produce a new `Series([1, 2, 3, 4])`.

[2019-01-24 19:54] kkraus14 commented on #775
I'm unable to reproduce on cudf 0.5:
[code]

[2019-01-24 20:33] #775 closed

[2019-01-24 22:42] kkraus14 commented on #606
Fixed by #608

[2019-01-24 22:42] #606 closed

[2019-01-25 00:32] kkraus14 opened #777 "[BUG] ABI is set after the switch statement in CMake"
https://github.com/rapidsai/cudf/blob/branch-0.5/cpp/CMakeLists.txt#L72

[2019-01-25 03:03] kkraus14 commented on #777
Resolved in #778

[2019-01-25 03:03] #777 closed

[2019-01-25 15:44] kevingerman commented on #774
A curious observation when I was poking around yesterday....
I took a series from the cudf.DataFrame created by reading the above file.     The len of that series matched the incorrect length of the dataframe.   However, after exporting that series to an array the len of the array was equal to the expected length for the dataframe.
[code]

[2019-01-25 19:55] vuule commented on #774
Strange. Perhaps data comparison can help triage the issue.
@kevingerman What is the result of the following comparison?
 pd.util.testing.assert_frame_equal(df2, df1.to_pandas())

[2019-01-25 23:15] kkraus14 commented on #761
Fixed by #773

[2019-01-25 23:15] #761 closed

[2019-01-26 00:18] impredicative commented on #285
There is at this time no package on PyPI named [cudf-cuda92](https://pypi.org/project/cudf-cuda92) or [cudf-cuda100](https://pypi.org/project/cudf-cuda100) as are noted in the readme. Am I missing something here? Why is this issue closed prematurely without an actual release?

[2019-01-26 01:10] j-ieong commented on #774
It could be blank lines or empty fields leading to null values in the data frame. `to_array()` has a default  `fillna() = None` I think, which can result in skipping null values and returning a denser/smaller output.

[2019-01-26 03:40] mike-wendt commented on #285
@impredicative this [README.md](https://github.com/rapidsai/cudf/blob/master/README.md) is the **current stable release** and it has no mention of pip installs. What you see by default is `branch-0.6` and it is a WIP. To prevent confusion this [commit](https://github.com/rapidsai/cudf/commit/f4dd5ac0e625d769bde2f21146d53dd307b07a67) was added to have a link to the `README.md` on the master branch

[2019-01-26 03:40] #285 closed

[2019-01-26 03:49] kkraus14 opened #792 "[BUG] Pool allocator causes segfault in gdf_order_by"
In the E2E workflow in https://github.com/rapidsai/notebooks, stacktrace:
[code]

[2019-01-26 03:49] kkraus14 commented on #792
cc @harrism @jrhemstad

[2019-01-26 03:57] kkraus14 commented on #792
Simple Python repro:
[code]

[2019-01-26 16:39] randerzander opened #793 "[FEA] Rename 'Series.unique_count' to 'nunique' to match Pandas's API"
For better compatibility with Pandas, cudf.dataframe.series.unique_count should be deprecated and replaced by an `nunique` method.

It should support the same `dropna` parameter, and support exact counts instead of approximate.

**Describe alternatives you've considered**
Until this is resolved, users can use len(value_counts()) to compute exact count of uniques, but this will be slower.

[2019-01-26 22:32] MasoodK opened #795 "[BUG] No binaries for CUDA 10 on Conda channels or PyPi"
**Describe the bug**
pip: There seems to be no -cuda100 packages on PyPi and "pip install cudf-cuda100" fails; README suggests it's there.

Conda: I have CUDA 10 installed with the env variables set up (CUDA_HOME, LD_LIBRARY_PATH, PATH), but Conda wants to install binaries for 9.2 after "solving the environment." I don't see any CUDA 10 binaries here: https://conda.anaconda.org/rapidsai/linux-64

[2019-01-26 22:33] datametrician commented on #795
You're looking at the wrong branch. In the master branch it's clear we haven't released that yet.  The release will be out soon and merged to master. Thank you for your patience.

[2019-01-26 22:33] #795 closed

[2019-01-26 23:12] MasoodK opened #796 "[BUG] src/join/join_kernels.cuh(406): error: no instance of function template "cub::ShuffleIndex" matches the argument list"
Hi guys,

**Describe the bug**
I got the same following error when compiling both release v0.4.0 and master (as of Jan 26):
/home/dev/cudf_dev/cudf-0.4.0/cpp/src/join/join_kernels.cuh(406): error: no instance of function template "cub::ShuffleIndex" matches the argument list
            argument types are: (int64_t, int, enum mgpu::<unnamed>, const unsigned int)
          detected during:

[2019-01-26 23:15] datametrician commented on #796
Thank you for the detailed bug. We’re working on CentOS support actively. Someone will look into this soon.

[2019-01-28 02:35] kkraus14 opened #797 "[BUG] Pool Allocator of RMM isn't used/tested in unit tests"
We should create a session level pytest fixture to parametrize enabling the pool allocator.

[2019-01-28 02:36] kkraus14 commented on #797
@harrism @jrhemstad we should try to do the same for the GTest unit tests as well.

[2019-01-28 02:37] kkraus14 commented on #774
@kevingerman that will call a `to_array(fillna='pandas')` under the hood so it won't drop the nulls.

[2019-01-28 06:49] neerajvashistha commented on #586
can please update which all data-types are supported?
[code]
trying my hands on cudf, looks like a long way to go.

[2019-01-28 11:38] thomcom commented on #586
Thanks for trying things out! Right now in particular we don't support strings (it is being worked on, and close to deployment). If you convert your strings and objects to either categorical or numerical types first, you should be able to get it all on the GPU. Strings soon!

[2019-01-28 15:35] harrism commented on #797
Assigning myself.

[2019-01-28 16:39] cmgreen210 opened #798 "[FEA] Add feature hashing support"
**Is your feature request related to a problem? Please describe.**
I wish I could use cuDF to do [feature hashing](https://en.wikipedia.org/wiki/Feature_hashing) on the gpu similar to how scikit-learn's [FeatureHasher](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html) handles string features: the feature name appended with the feature value are hashed

[2019-01-28 17:10] kkraus14 commented on #798
@cmgreen210 How important is it for the hashing to be in a 0 --> n_features space? We currently having hashing that will map to (I believe) an int32 space that's used in groupbys and joins that we could expose as a function relatively easily, but unsure how difficult it would be to get it into a minimal space.

[2019-01-28 17:11] kkraus14 commented on #798
cc @jrhemstad @harrism

[2019-01-28 18:34] kkraus14 commented on #792
Resolved by #794.

[2019-01-28 18:34] #792 closed

[2019-01-28 18:55] nsakharnykh commented on #798
We have a cuDF function exposed that computes hashes for N columns:
https://github.com/rapidsai/cudf/blob/750118fb877fe245fa786826bfff54c97d675ce8/cpp/include/cudf/functions.h#L447

We can extend this function to take `num_features`, which then will build the hash table, and then extract the non-empty values, which will be mapped to 0 .. `num_features`. This is similar to building a hash table for

[2019-01-28 18:59] cmgreen210 commented on #798
@kkraus14 Very important since the hashed values will be used as lookup table indices. If you hash in an int32 space can you not just mod `num_features`?

[2019-01-28 19:07] cmgreen210 commented on #798
@nsakharnykh each element in the column, whether empty or not, should be hashed.

[2019-01-28 19:38] cmgreen210 commented on #798
@nsakharnykh For the purposes of feature hashing we do not care about collisions.

[2019-01-28 22:43] MasoodK commented on #796
Thanks @jrhemstad  for the hint; yes, I had fetched the thirdparty modules separately and from their master. I got them at the mentioned commits and it got me passed the above error, however, I am now hitting these errors:

1) Compiling branch v0.6:
libNVStrings.so: undefined reference to `std::runtime_error::runtime_error(char const*)@GLIBCXX_3.4.21'

Full output of make -j: https://gist.github.c

[2019-01-29 00:50] raydouglass opened #803 "[BUG] Resolve conda build warning for pyarrow version"
Resolve this conda build warning:
``` WARNING:conda_build.utils:Adding .* to spec 'pyarrow 0.11.1' to ensure satisfiability. Please consider putting {{ var_name }}.* or some relational operator (>/</>=/<=) on this spec in meta.yaml, or if req is also a build req, using {{ pin_compatible() }} jinja2 function instead. See https://conda.io/docs/user-guide/tasks/build-packages/variants.html#pinning-at

[2019-01-29 01:11] jrhemstad commented on #796
1. Is a real issue with CentOS support in NVStrings that we haven't resolved
2. Is a missing `include` that was fixed in 0.5

[2019-01-29 01:46] MasoodK commented on #796
OK, thanks @jrhemstad  for the response. I gather then that the path to compile this lib on CentOS is effectively blocked for the time being, unless someone can provide more instructions regarding the conda solution mentioned in #688; I'll ask there.

[2019-01-29 01:46] MasoodK commented on #688
Hi @cjnolet, would you mind sharing some detailed instructions/steps in order to make compiling on CentOS work (with or without libstdc++ in conda)? Not sure how much documentation I am asking for here; if it's not much, I appreciate it if you could write here. Thanks.

[2019-01-29 07:17] muellren commented on #798
The existence of a good hash function h for uint32 does not imply that h(x) mod N is a good hash function for [0, N). When used in hash table one might just observe more collisions, which could be handled at a loss in performance. However, for feature hashing thing the quality of the resulting hash mapping has a direct impact on quality of the generated sketch.

It gets easier if num_features is a

[2019-01-29 07:30] kkraus14 opened #804 "[FEA] Eliminate all relative imports from cudf and tests"
Using relative imports in tests breaks running the tests outside of the scope of local source. I.E. using a pip or conda install.

For the library relative imports are fragile and the only benefit they provide over absolute imports is brevity which isn't a strong point from my perspective.

[2019-01-29 12:37] goravkaul commented on #736
@kkraus14 any update on this? We are unable to use visualization because of this error. Thanks.

[2019-01-29 16:20] jrhemstad commented on #796
@MasoodK yeah, I believe we haven't done the work to officially support CentOS yet.

As a pointer in the direction of a possible solution, you can look into the CentOS Developer Toolset repositories that provide current versions of gcc and other build tools.

It would be very helpful if you could create a feature request on GitHub asking for CentOS support.

Otherwise I'm closing this issue as I b

[2019-01-29 16:20] #796 closed

[2019-01-29 16:20] davidwendt opened #3096 "Convert python to C++ interface to use cython"
Current pystrings.cpp does python data marshalling strictly using Python.h APIs.
Replacing with cython will make it easier to support and less error prone to bad data.
Also hope it will make it easier to integrate with other components.

[2019-01-29 19:18] mjsamoht commented on #713
Okay, since pandas doesn't support this I will de-prioritize.

[2019-01-29 19:32] MasoodK opened #806 "[FEA] Compiling the libs on CentOS (with or without Conda's help)"
**Is your feature request related to a problem? Please describe.**

Building libcudf is not possible with standard setups on CentOS; current errors:

* gcc (GCC) 7.3.1 20180303 (Red Hat 7.3.1-5)
Building libcudf: make -j
Error: libNVStrings.so: undefined reference to `std::runtime_error::runtime_error(char const*)@GLIBCXX_3.4.21'

* gcc (GCC) 8.2.1 20180905 (Red Hat 8.2.1-3)
Building libcudf: cmak

[2019-01-29 20:39] jrhemstad commented on #806
Thanks for creating the new issue @MasoodK.

[2019-01-29 22:08] harrism commented on #683
This was an RMM bug fixed by #794 and rapidsai/rmm#28. Closing.

[2019-01-29 22:08] #683 closed

[2019-01-29 23:00] kkraus14 commented on #798
@cmgreen210 sure thing, this should likely eventually be moved down into the libcudf level, but implementing the expected functionality at the Python level in cuDF is a great start.

[2019-01-29 23:45] mreyesgomez opened #4764 "Better error logging/handling"
There are some errors that occur when an “Out of Memory” situation is encountered but the error descriptions seem unrelated, making it hard for the user to figure the nature of the problem

Having error messages that specifically indicate to the user that an "Out of Memory" situation has been reached would be greatly appreciated

The description of such errors is the following:

While systematical

[2019-01-30 11:43] cmgreen210 commented on #798
I will work on the `libcudf` component as well.

[2019-01-30 18:22] awthomp commented on #806
I was able to overcome this issue by pulling the updated libstdc++ library from Anaconda and using it to replacing the one that comes natively with devtoolset-X. I used devtoolset-6 rather than 7, but the process should be the same.

[code]

[2019-01-30 23:19] yaronha opened #818 "Using 0.5.0 with rapidsai/rapidsai container failed due to deps (pyarrow, ..)"
i'm interested in using latest cudf with the entire set of tools (jupyter, ..)
it seems like there is no up to date container with cudf 0.5.0 in docker hub rapidsai/rapidsai, so i tried to use the latest (cuda9.2_ubuntu16.04_root) and update cudf inside using:

[code]

it failed due to dependency conflicts with pyarrow, i tried to update pyarrow to 0.11.1 and it failed due to dependency on python,

[2019-01-30 23:23] vuule commented on #774
The record count kernel is returning the wrong count.
The issue is somehow related to '\r\n' used in this file. I'm investigating to see what exactly is going on.

[2019-01-30 23:56] jrhemstad commented on #667
@williamBlazing @eyalroz do you have any data (theoretical or empirical) showing that using a bit-resolution bool will be more performant than byte-resolution?

Just thinking about it, it seems like it'd be a wash between the two for something like join/groupby.

That said, I don't love the idea of deviating from Arrow if we don't have a solid reason to do so, because then we'll have to provide fu

[2019-01-31 00:32] cmgreen210 commented on #798
@nsakharnykh After looking over the code I think adding a new function to `cudf/cpp/include/cudf/functions.h` rather than extending `gdf_hash` is the way to go for a few reasons. First, this transformation will only be done on a single column at a time so instead of `int num_cols, gdf_column **input` all we need is a `gdf_column *input`. Second, we need to hash the name of the column with the colu

[2019-01-31 01:04] kkraus14 commented on #667
One of the concerns is using Numba and especially using Numba naively for things like UDFs in Python becomes much more difficult and complicated. For example we won't be able to write a simple loop over boolean elements in a Numba kernel. We'd need to check the bit within an int32 element and that would somehow need to be handled in the UDF codepath or have the bit expanded to a byte before runnin

[2019-01-31 11:01] muellren commented on #798
@cmgreen210 As suggestion make the hashing of the column name and optional in libcuml that could be turned off (e.g., add a boolean).

Just for clarity, the intended feature_hash function is not meant to perform the same operation as scikits [FeatureHasher](https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.FeatureHasher.html#sklearn.feature_extraction.FeatureHasher.trans

[2019-01-31 12:16] mike-wendt commented on #818
These are live on Docker Hub and include 3 new container types to match CUDA and enable drop in replacement. We also have containers for 18.04 with gcc 7 support.

https://hub.docker.com/r/rapidsai/rapidsai/tags

[2019-01-31 12:16] #818 closed

[2019-01-31 14:52] cmgreen210 commented on #798
@muellren Right it's not meant to do the same as scikit. It's intended to essentially perform something similar to how scikit handles string features.

Making the column name hashing optional is ok with me.

[2019-01-31 16:39] tebeka opened #824 "[FEA] Allow "df.index = some_index""
**Is your feature request related to a problem? Please describe.**
In Pandas it's possible to do `df.index = [1,2,3]`, in cudf `df.index` is a read only property.

**Describe the solution you'd like**
I'd like to be able to set the index like it's possible in pands

**Describe alternatives you've considered**
There's `df.set_index`, however it's not supporting `inplace` so we copy the DataFrame ov

[2019-01-31 17:20] yaronha opened #825 "[FEA] support for strings columns"
**Is your feature request related to a problem? Please describe.**
I'm reading tables from an external DB, some columns contain strings and the cudf fails with `Strings are not yet supported`, i looked at `nvstrings` but not sure how to use it in the context of creating a Dataframe, i tried the following:

[code]
got: `ArrowTypeError: 'nvstrings' object is not iterable`

 i wonder whats the plan t

[2019-01-31 19:39] MasoodK commented on #806
Thanks @awthomp! It did not work for me, however. Here is the process and logs:

Installing gcc v6:
`yum install centos-release-scl`
`yum install devtoolset-6-gcc*`
`scl enable devtoolset-6 bash`

`[root@ip-10-0-0-11 cpp]# which gcc`
`/opt/rh/devtoolset-6/root/usr/bin/gcc`

`[root@ip-10-0-0-11 cpp]# gcc --version`
`gcc (GCC) 6.3.1 20170216 (Red Hat 6.3.1-3)`

Find and replace the "libstdc++.so" li

[2019-01-31 20:57] thomcom commented on #483
Hey @mrocklin I've got a minimal fix for your minimal reproducer:
https://www.dropbox.com/s/gnana44wgx2xqwo/Screenshot%202019-01-31%2013.55.05.png?raw=1

We still don't support multi index or multi aggregation, but we support singles!

[2019-01-31 20:57] mrocklin commented on #483
Awesome. I'm looking forward to trying it out.

[2019-01-31 20:58] OlivierNV commented on #715
It seems like quoting only has the true/false value (unlike Panda's 0/1/2/3), but it seems that supporting escapechar to escape the delimiter when outside a quote would be relatively straightforward (escaping end-of-line would have much bigger ramifications)

[2019-01-31 22:50] mrocklin opened #828 "[FEA] Support indexing on groupby objects"
It would be useful for dask dataframe groupby operations if the following would work:

[code]

Here is a test

[code]

cc @thomcom

[2019-01-31 22:52] kkraus14 commented on #828
cc @thomcom to add to the list of groupby compatibility needed

[2019-01-31 23:00] mrocklin opened #829 "[FEA] Improved error reporting when from_pandas runs out of memory"
[code]

[code]

cc @kkraus14 @jrhemstad @harrism

[2019-01-31 23:08] mrocklin opened #830 "[FEA] Improved error reporting on libcudf code"
[code]

[code]

It would be nice to have a `MemoryError` or something similar.  The error message might also be nicer.  It could be a string rather than bytes, and not all caps.

[2019-01-31 23:37] mrocklin opened #831 "[FEA] Support df.reset_index(drop=True)"
It would be nice to support the `drop=` keyword in the `reset_index` methods of Series and DataFrame

[2019-01-31 23:40] harrism commented on #441
@jangorecki can you try the 0.5 release and let us know if you are still having issues like this?

[2019-01-31 23:59] vuule commented on #716
Turns out we don't have any support for NA/NaN strings in cuDF. The only time a value is invalid is when the cell is empty. I will add the support for default NA strings, and then implement the na_values + keep_default_na parameters on top of it.

[2019-02-01 00:08] mrocklin opened #832 "[BUG] Hard failure with cudf joins on empty dataframes"
Two related problems with cudf joins:

-  Empty joins can fail
-  cudf seems to default to left rather than inner joins, which deviates from pandas

### Here is a fail case

[code]

[code]

### A test might look like the following

[code]

cc @jrhemstad

[2019-02-01 00:42] jrhemstad commented on #832
This should be fixed by https://github.com/rapidsai/cudf/pull/759

[2019-02-01 01:03] mrocklin commented on #832
Note that there were two issues here.  It would be good to ensure that that
test gets in at some point.

On Thu, Jan 31, 2019 at 4:42 PM Jacob Hemstad <notifications@github.com>
wrote:

[2019-02-01 17:21] yaronha opened #835 "[BUG] bugs with datetime index"
**Describe the bug**
When trying to set a dataframe index (of type `timestamp`) using `df.set_index()` there is an error, the same will not fail if the index is set if the dataframe constructor (using index=).

**Steps/Code to reproduce bug**

[code]
Note that i used set_index() with numeric values and it did work

**Expected behavior**
Setting time based indexes should work like in pandas datafra

[2019-02-01 17:36] jrhemstad commented on #832
@thomcom can you add @mrocklin's test to https://github.com/rapidsai/cudf/pull/759

[2019-02-01 17:58] thomcom commented on #832
Coming up.

[2019-02-01 21:47] henningpeters opened #838 "[DOC] Inconsistent installation instructions"
**Describe the bug**
rapids.ai's installation instructions are outdated

**Describe the problems or issues found in the documentation**
Installation procedures for conda and pip between GitHub cudf Readme's and rapids.ai are not fully in sync, example:

website for cudf:
[code]

GitHub for cudf:
[code]

**Suggested fix for documentation**
Keep docs and website in sync

[2019-02-01 21:52] henningpeters opened #839 "[BUG] cudf installation via pip segfaults"
**Describe the bug**
Installing cudf via pip results in a segfault in the installation process

**Steps/Code to reproduce bug**
[code]

**Expected behavior**
No segfault :-)

**Environment details (please complete the following information):**
 - Environment location: GCP / Ubuntu 18.04 / CUDA 10.0
 - Method of cuDF install: pip

**Additional context**
It didn't matter which pip package (cudf/cudf

[2019-02-01 21:57] miguelangel opened #840 "[DOC] Remove old libgdf packages at Anaconda"
## Report incorrect documentation

**Location of incorrect documentation**
https://anaconda.org/rapidsai

**Describe the problems or issues found in the documentation**
libgdf has evolved to cuDF. It is confusing to find deprected packages available at anaconda.org.

[2019-02-01 23:38] kkraus14 opened #841 "[BUG] Remove numpy cdef / cpdef interactions from Cython"
This causes compilation / linking against numpy which means we'd have to release multiple packages for each numpy version to avoid ABI issues. Given we don't do anything numpy specific at the Cython layer (just using it to define / pass host arrays to libcudf), we should be able to do this without causing issues.

[2019-02-02 07:05] #675 closed

[2019-02-02 14:27] jangorecki opened #845 "tail cudf method"
There is a `head` method for cudf, while there is no `tail`. I would like to request `tail` method, similarly as the one in pandas.
[code]

[2019-02-02 15:05] jangorecki opened #847 "mean function should coerce from integer to double"
Using 0.5 installed from pip. Mean function called on integer is giving an integer answer, which is truncated form of the correct answer. I below code I expect to get mean_v1 as 1.5
[code]

[2019-02-02 15:09] jangorecki opened #848 "unexpected results from aggregation query"
Sorry for lack of minimal reproducible example but issues like that are quite time consuming to track down. To produce data use R:
[code]
On `G1_1e7_1e2_0_0.csv` generated from that script pandas returns the following
[code]
while cudf 0.5 from pip returns the following
[code]
Already shape of answer doesn't match. There are no NA/NaN in that data.